[2017-09-06 19:47] Bilsi commented on #9703
Closing this till we hear back from the user

[2017-09-06 19:47] #9703 closed

[2017-09-06 21:31] mallove commented on #9033
Looks like `title` is missing.  From the [Twitter Card Validator](https://cards-dev.twitter.com/validator):

<img width="761" alt="screen shot 2017-09-06 at 5 28 29 pm" src="https://user-images.githubusercontent.com/17302884/30135497-ed2d9c76-9328-11e7-9128-aa66de94d04e.png">

[2017-09-07 01:18] #9801 closed

[2017-09-07 07:53] smboser commented on #9882
@Bilsi Can't reproduce, perhaps need some more description. It is working well in a page in dev.hwpi.

![image](https://user-images.githubusercontent.com/14976596/30152111-baaa9a40-93cf-11e7-841e-dd83f8f03dbc.png)
![image](https://user-images.githubusercontent.com/14976596/30152099-ac108b0c-93cf-11e7-9fd9-8447369434c0.png)

[2017-09-07 12:41] tcheng001 commented on #9441
Tested on https://dev.scholar.harvard.edu/tcheng10/calendar
1) cache issue still exist - the event "Annual Outing" can't be exported to Google Calendar.
![screen shot 2017-09-07 at 8 32 39 am](https://user-images.githubusercontent.com/2111600/30163564-68f3412a-93a7-11e7-825e-3853790b1fab.png)

2) Time is shown 4 hours ahead in Google Calendar. Ex. 2:55pm in OS site is shown as 6:55pm in Google.
![

[2017-09-07 12:43] tcheng001 commented on #9441
One more thing. Could you show me how to add the API keys to the database?  Then, I don't have to ask next time when I test on another install.

[2017-09-07 13:54] mallove commented on #9441
This might be because our views version (7.x-3.8) deprecates `is_cacheable`:

[code]

[code]

[2017-09-07 13:54] mallove commented on #9441
Sent over slack.

[2017-09-07 14:40] tcheng001 commented on #9809
Mark "Fix"
I can reproduce the issue only in Custom Text / HTML widget
1) add an image to the widget
2) go to source of the widget
3) change  fid to something not existing
4) click Save button
Note: It show an error message
After this fix, if I do the same.  It will save without the image and no error showed.

When testing in WYSIWYG  of a basic page, the result is the same as above. It would igno

[2017-09-07 15:10] openscholar-admin opened #9885 "Grouper + Custom domain is not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/grouper-custom-domain-is-not-working)

**The Plan**

Fix the bug so that grouper works with custom domain

**Description**

Currently, if:

- site visibility is set to "Groups within the Harvard Community"

- and a custom domain is applied to a site today

When site visitors login th

[2017-09-07 15:26] Bilsi commented on #9882
@smboser - Added the community ticket, sorry i missed that earlier

[2017-09-07 15:27] mlsamuelson commented on #9333
We're continuing to work this through our testing processes. It's gotten bumped by other priorities, in recent months, but it is still underway.  Hoping to have additional details and updates before ling.

[2017-09-07 16:25] #9809 closed

[2017-09-07 17:19] mlsamuelson commented on #9333
We have run up against issues exporting and importing publications/biblio nodes.  Noting #9833. Will be best to work from the updated version. Issue appears to be related to the custom/other nature of how Biblio works, and that not playing well with RESTful.

[2017-09-08 13:03] smboser commented on #9033
@Bilsi @tcheng001 It seems `twitter:card, twitter:description` and `twitter:image` are not enough which was my primary assumption (https://github.com/openscholar/openscholar/issues/9033#issuecomment-323337119). `twitter:title` should be there as well in all the pages.
I have added it and now it is coming to all the pages. First it will try to pick the "Title" value from "Site info" widget. In abse

[2017-09-08 13:14] smboser opened #9887 "Travis tests coverage - os_files_private Module"
All missing test cases for os_files_private from https://docs.google.com/spreadsheets/d/1QtF9_ZTTPQQLlv0RZcpqKs2cJ6U21jlXLg_rMSIdAjw

[2017-09-08 13:34] arijeetbannerjee commented on #9887
@Bilsi In the requirement doc it is written that "access private file as site member". But at current structure only administrator can access the private files. Users having role of "Basic member" are also getting access denied error. Please let us know whether this is the intended behavior.

[2017-09-08 14:22] tcheng001 commented on #9887
@arijeetbannerjee
Based on current design,
1. basic member can't access Site Content -> Browse -> Content / Files /Private Files.  That mean the role can't create any private file.
2. basic member can access private file after entering HarvardKey.
Let me know if that is not clear.

[2017-09-08 14:36] arijeetbannerjee commented on #9887
@tcheng001 Thanks for the clarification. @Bilsi We will skip this scenario for now, as we don't have the HarvardKey.

[2017-09-08 14:38] arijeetbannerjee commented on #9821
@Bilsi In os_image_galley module we have two types of scenarios. One for media gallery content and another is for slideshow image content. E.g. two different scenarios are "create media gallery content" and "create slideshow image content". Both are under permission checking. Could you please clarify the difference between these two scenarios?

[2017-09-08 14:41] Bilsi commented on #9887
@arijeetbannerjee - makes sense, can you update the spreadsheet against this test case?

[2017-09-08 14:43] openscholar-admin opened #9889 "HarvardKey login not working for sites on HTTP"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/harvardkey-login-not-working-for-sites-on-http)

**The Plan**

Fix the bug so that harvard key login redirects to the original url protocol

**Description**

When logging into an HTTP OpenScholar site via HarvardKey, the user is redirected to the following error page:

 [![img](https

[2017-09-08 14:53] rsasch commented on #9821
@arijeetbannerjee A media gallery is an independent content type that associates media items together.  A slideshow is a content type contained within the slideshow widget.  Both can be edited and deleted through Site Content > Browse > Content in the admin interface.

[2017-09-08 15:00] rsasch commented on #9855
@rbran100 Because this is an intermittent issue and I can't reliably replicate it, the only thing I can think of is to see if the issue happens less often with this change.

[2017-09-08 15:02] Bilsi commented on #9855
@tcheng001 - Nothing in particular to QA. Just make sure that the feed reader widget is working as expected

[2017-09-08 15:06] rsasch commented on #9885
<strong>For testing</strong>
I think all use cases should be re-tested to make sure this code doesn't break the functionality.  Additionally, use cases where PIN is involved should be tested with a custom domain and without one.

[2017-09-08 15:59] tcheng001 commented on #9855
Look good. Mark "Fixed"
Feed Reader widget works as before.

[2017-09-08 16:10] #9855 closed

[2017-09-08 17:59] dancabral commented on #9856
this is fixed. both search widgets now share the same styling. This is the correct PR https://github.com/openscholar/openscholar/pull/9891
![screen shot 2017-09-08 at 1 58 25 pm](https://user-images.githubusercontent.com/867075/30224741-eb2caa5e-949d-11e7-8456-e7b41d137adf.png)

[2017-09-08 18:17] #9856 closed

[2017-09-08 18:51] dancabral commented on #9880
I couldnt figure out how to reproduce this or know of other sites where this is happenin, so I fixed the image markup. Seems to be resolved. closing.

[2017-09-08 18:51] #9880 closed

[2017-09-10 22:57] tcheng001 commented on #9885
Test case  | Logged in to OS | OS acct linked to HKey | OS acct is site member | OS acct is support user | in grouper |  Expected Result
------------ | ------------- | ----- | ----| ----| ---| ---
1 | -- | --| --| -- | -- |  See below
2 | -- | --| --| -- | X |  See below
3 | X | --| --| -- |-- |  See below
4 | X | --| --| -- | X |  See below
5 | X | X | --| -- |-- |  See below
6 | X | X | --| -- |

[2017-09-11 12:39] tcheng001 opened #9892 "Some links in dev redirect to production"
When working on dev.hwpi, some links redirect to production.
Here is an example:
1) go to https://dev.hwpi.harvard.edu/drclas
2) click  Event from the nav bar
Note: you are redirected to http://drclas.harvard.edu/calendar (Not https://dev.hwpi.harvard.edu/drclas/calendar).   This is in production.

[2017-09-11 13:08] tcheng001 commented on #9885
@rsasch   I  set a wrong custom domain (staging.ogc.harvard.edu)  to  staging.hwpi.harvard.edu/ogc.  Now, the site is not accessible.  Could you fix it?  The correct custom domain should be stg.ogc.harvard.edu.  Of course, the ultimate goal is to set up the env to test the fix.  If there is another way to set up, could you let me know?  Thanks.

[2017-09-11 13:09] mallove commented on #9441
A couple *pending* questions on this one: https://github.com/openscholar/openscholar/pull/9631#issuecomment-328102805.

[2017-09-11 15:09] openscholar-admin opened #9893 "Unordered lists nested in ordered lists are incorrectly displaying as ordered lists"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unordered-lists-nested-in-ordered-lists-are-incorrectly-displaying-as-ordered-lists)

**The Plan**

[coming soon]

**Description**

On [this page](https://osp.finance.harvard.edu/cost-transfer-policy) of our site, unordered lists nested in an ordered list are taking on the list item

[2017-09-11 15:25] mallove commented on #9865
Adding a batch of six tests for `os_books`.

Clean test run: https://travis-ci.org/openscholar/openscholar/builds/274193606.

Pull request: https://github.com/openscholar/openscholar/pull/9894 .

[2017-09-11 15:48] tcheng001 commented on #9885
@rsasch
Unable to log in to a custom domain site with visibility set to Harvard Community or Grouper.
I set custom domain (stg.ogc.harvard.edu) to staging.hwpi.harvard.edu/ogc.  After that, I am not able to log in the site stg.ogc.harvard.edu.
Step:
1. To go stg.ogc.harvard.edu
Note: Redirect to Hkey login page
2. Use torman's Hkey to log in
Note:
a) torman is linked to HKey
b) Authentication Erro

[2017-09-11 15:57] mpetrovic commented on #9033
Does Facebook use the same metatag fields as Twitter? Does it even support reading metadata like Twitter does?

[2017-09-11 16:49] Bilsi commented on #9033
@tcheng001 - Releasing this code tonight. Let us QA this in prod again.

[2017-09-11 17:20] rsasch commented on #9885
@tcheng001 I don't see a DNS record for stg.ogc.harvard.edu.  I believe staging.share.harvard.edu is pointed to HWPI.

[2017-09-11 19:14] tcheng001 commented on #9885
Probably, I don't know enough.  Every time trying to access staging.share.harvard.edu, I will be redirected to HKey login page.
Steps:
1.  From terminal,   $  drush @hwpi.staging uli
Note: Chrome opens and  I am logged in as scholar in staging.hwpi
2.  Then, if I go to staging.share.harvard.edu.  It redirects me to  HKey login page.  (This is not what I want)
3.  Then if I go to other sites. I can

[2017-09-11 20:34] tcheng001 commented on #9885
Just tested case 3, 4.

Test Case | Expected Result | Actual Result
------ | ------ | -------
3 | User is prompted to link OS account with a HKey, prompted log in to HKey, then access denied | Private site, No redirect to Link OS account page
4 | User is prompted to link OS account with a HKey, prompted log in to HKey, then able to view OS site | Private site, No redirect to Link OS account page

[2017-09-11 20:53] rsasch commented on #9885
@tcheng001 Can you give the steps that you took to achieve those results? E.g. were you already logged in as an OS user before you navigated to the restricted site?  Were you prompted to log in via HKey?

[2017-09-12 01:16] tcheng001 commented on #9033
Look good.  Mark "Fixed"
Tested on the following cases:
1.  front page with description in Site Info widget - showing description in twitter post
2. front page without description in Site Info widget - showing site name in twitter post
3. people page with description in Site info widget - showing description in twitter post
4. people page without description in Site Info widget - showing page titl

[2017-09-12 01:17] #9033 closed

[2017-09-12 12:20] smndey commented on #9606
@Bilsi
Progress

![page_node_form](https://user-images.githubusercontent.com/1494203/30325194-733d3a30-97e1-11e7-9a2a-ef8a7437e788.gif)

Status by sub tasks:
1. Form element rendering including fieldset and their individual feature. (Completed).
2. Node (Content Type page) save, edit and validation (In progress).
3. Rewrite Travis test cases to fix failure. (Pending).

[2017-09-12 13:09] tcheng001 commented on #9885
Test Case 4 and 6:  FAILED
Setup:
"torman"  is a OS user, but not the member of the two test sites below
"torman" is not linked to HKey
staging.hwpi.harvard.edu/tormanhc_001   (has group os_managed)
staging.hwpi.harvard.edu/tormanhc3   (has group hwp_client_team)
torman and rebecca (rebecca_asch@harvard.edu) are members of os_managed
torman and rebecca (rebecca_asch@harvard.edu) are not members of

[2017-09-12 14:34] rsasch commented on #9885
@tcheng001 If you don't log in to OS first, but navigate to the sites (hwpi.harvard.edu/tormanhc3 and staging.hwpi.harvard.edu/tormanhc_001), do you get the same result?

[2017-09-12 14:38] arijeetbannerjee commented on #9649
@Bilsi @mallove - We are currently working on all the test cases of the following module:
- os_faq
- os_image_gallery
- os_links
- os_news
- os_page
- dataverse
We will update the pdf accordingly.
Are there any other modules on which we may start working?

[2017-09-12 16:30] tcheng001 commented on #9885
If I don't log in to OS first, everything works fine.  Users will see Private Site if s/he is not in group.  Users can view the site if s/he is in group.

[2017-09-12 17:25] tcheng001 commented on #9885
@rsasch    I haven't gone through all test cases yet, but this one failed.
For case 6:  Can't access the custom domain
Setup:
torman is a OS user
torman has linked to HKey
torman a member of group os_managed
staging.share.harvard.edu has the group os_managed

Steps of using harvard key:
1) Open a Chrome private window
2) Go to staging.hwpi.harvard.edu/user
3) Click Log in using your Harvard Key
No

[2017-09-12 17:45] rsasch commented on #9885
@tcheng001 This looks like it might be caused by the clashing of domains (logged in to staging.hwpi.harvard.edu and then viewing staging.share.harvard.edu). Do you still get an error if you log in to the same domain as the site with the custom domain (staging.share.harvard.edu)?

[2017-09-12 17:50] tcheng001 commented on #9885
Steps using OS account:
1. Go to staging.share.harvard.edu/user
2. Using  OS account to log in
3. Go to staging.share.harvard.edu
Note:  Got this error
![screen shot 2017-09-12 at 1 37 48 pm](https://user-images.githubusercontent.com/2111600/30340173-9e87d01e-97bf-11e7-961a-d29887f19432.png)

Steps using Harvard Key:
1. Go to staging.share.harvard.edu/user
2. Using  Hkey log in
Note: Logged in suc

[2017-09-12 17:53] rsasch commented on #9885
@tcheng001 Which visibility group is staging.share.harvard.edu set to?

[2017-09-12 19:32] rbran100 commented on #9863
Yes, or a JS error, thats all I can think of.

[2017-09-12 19:37] #9865 closed

[2017-09-12 19:37] mpetrovic commented on #9863
It would be a js error between the AJAX call and the .preventDefault() call.

[2017-09-13 03:21] mallove commented on #9441
New PR without 3.x merge confusion: https://github.com/openscholar/openscholar/pull/9897

[2017-09-13 13:06] tcheng001 commented on #9885
Running the following tests on a non-custom domain site.  Please see case 3, 4, 6 and 16.
For 3, we might have to change the expected result to `show "Private Site"` because there is no need to redirect a non-group member to Harvard Key login page. Anyway, the user would see "Private Site"

For tests setup, please refer to [here](https://github.com/openscholar/openscholar/issues/9885#issuecomment-

[2017-09-13 13:41] rsasch commented on #9885
@tcheng001 Thank you for this; I think in case #3, the user still needs to be able to go through Harvard Key, because otherwise there is no way for the system to figure out whether or not the user should be able to see the site without HKey (and a call to Grouper) being involved.

[2017-09-13 17:12] tcheng001 commented on #9885
@rsasch      These tests are performed on a non-custom site.

Test Case | Expected Result | Actual Result
------ | ------ | -------
3* | User is prompted to link OS account with a HKey, prompted log in to HKey, then access denied | **FAILED??** Show Private Site. No prompt to link to link OS account
4* | User is prompted to link OS account with a HKey, prompted log in to HKey, then able to view OS

[2017-09-13 17:15] rsasch commented on #9885
@rbran100 See above.

[2017-09-13 17:34] rbran100 commented on #9885
@tcheng001 How do you get a user that is not linked to an OS account?  by deleting it in the DB?

[2017-09-13 17:47] tcheng001 commented on #9885
@rbran100   Yes.  `   sqlq  'delete from pinserver_users where huid = XXXXXXXX'`

[2017-09-13 20:19] mpetrovic commented on #9889
After a user logs in to HarvardKey, up to 6 redirects happen in rapid order. The last two are {custom.domain}/user/pin?destination={custom.domain}/home then {custom.domain}/home. The former will be insecure, as expected. The latter will be secure, which is not.

First guess is that something is rewriting the url during drupal_goto to be secure when it shouldn't. No idea how to test this theory, ho

[2017-09-13 20:41] Bilsi commented on #9885
@tcheng001 - Just tested 3 and 4, works after the fix @rbran100  just made. Can you check all the test cases for custom domain tomorrow? We also need to make sure that grouper visibility works once a grouper site is moved to a custom domain.

[2017-09-13 20:42] Bilsi commented on #9885
@rsa- Can you check to see if a user who is a site member, but not a grouper member and does not have linked accounts, sees the login option and not the private site message with no login?

[2017-09-14 00:51] tcheng001 commented on #9885
The following tests run on a non custom domain
1.  @rsasch   In case 1, the workflows are different from what you specified. Please see if this is ok.
2. **In some test case, Logout link  from user menu seems do nothing.  For example, in test case 16.

Test Case | Expected Result | Actual Result
------ | ------ | -------
1* | User is prompted to log in to HKey, then gets OpenScholar 'access denied

[2017-09-14 13:03] rsasch commented on #9885
@tcheng001 I've updated the "expected result" column (see https://docs.google.com/spreadsheets/d/1R8u_ljFpE0cusFNQfx9OenT2Dd8U7Rc2lxI07WGlV2c/edit#gid=360704465 – tab Re-formatted Use Cases).

[2017-09-14 13:49] tcheng001 commented on #9885
The following tests run on custom domains
staging.share.harvard.edu
rsatest.hwpi.harvard.edu

Test Case | Expected Result | Actual Result
------ | ------ | -------
1* | User is prompted to log in to HKey, then gets OpenScholar 'access denied' |  **PASSED?**  Prompt to log in to Hkey; Private Site (with log in link); Redirect to link Hkey page; enter OS username/password; redirect to /user page; go

[2017-09-14 14:47] arijeetbannerjee commented on #9821
@Bilsi @rsasch - The slideshow images are created by the administrator and a slideshow image created by one administrator can be edited or deleted by other administrator by accessing the cp/content .
For permission in this case for other basic members, he should get access denied while accessing cp/content. Would I go with this?

[2017-09-14 15:08] smboser opened #9898 "Travis tests coverage - os_dataverse Module"
All missing test cases for os_dataverse widget Module from https://docs.google.com/spreadsheets/d/1QtF9_ZTTPQQLlv0RZcpqKs2cJ6U21jlXLg_rMSIdAjw

[2017-09-14 16:45] Bilsi commented on #9821
@arijeetbannerjee - Yes, please add the test case to make sure that basic members cannot delete the content. Thanks.

[2017-09-14 18:59] mallove commented on #9867
Clean test run: https://travis-ci.org/openscholar/openscholar/builds/275520525

Pull request: https://github.com/openscholar/openscholar/pull/9901

[2017-09-14 20:31] #9885 closed

[2017-09-15 09:26] smndey commented on #9606
@mpetrovic

Presently I am implementing save page feature by sending a post request to "/api/page" endpoint. Right now I am facing following challenges to implement it.

  1. Inbuilt Restful createEntity work based on expose public_fields. In our case we want to save all fields then in GET request of  '/api/page' we need to expose all fields as public.

  2. Internally Resful module called create_

[2017-09-15 14:35] tcheng001 commented on #9441
Question:  Every time I export from the same OS site, a new calendar with the same name is created in Google calendar. Intended?
![screen shot 2017-09-15 at 10 34 31 am](https://user-images.githubusercontent.com/2111600/30487480-9d94c146-9a01-11e7-8a17-2d26880f7e8f.png)

[2017-09-15 14:46] mallove commented on #9441
Well, it's an export not a sync, e.g., although an Ical export gives you the option of overwriting a previously downloaded file.

[2017-09-15 15:54] tcheng001 commented on #9441
Get `Access Token With Auth Code`  if  I click CANCLE during authorization. Can it be redirected to /calendar page??

Steps to reproduce:
1) Click Google link from /calendar page
2) Select a Google account to get the exported calendar
3) Click CANCEL in the authorization page
![screen shot 2017-09-15 at 11 50 34 am](https://user-images.githubusercontent.com/2111600/30491718-2c43e7be-9a0c-11e7-9e86

[2017-09-15 16:00] mallove commented on #9441
Yes, we can handle the [cancel response](https://stackoverflow.com/questions/29037303/google-oauth-2-0-redirect-url-when-user-refuses-cancel-consent-screen).

[2017-09-15 16:58] mallove commented on #9441
All set: a567454.  The change is deployed to staging.scholar.

![cancelling-authorization-brings-user-back-to-calendar](https://user-images.githubusercontent.com/17302884/30494259-6b2df9e8-9a15-11e7-8dd9-a3c091e37d16.gif)

[2017-09-15 17:58] dancabral commented on #9441
@mallove @tcheng001 regarding comments https://github.com/openscholar/openscholar/issues/9441#issuecomment-329800695 and https://github.com/openscholar/openscholar/issues/9441#issuecomment-329803707 without any kind of syncing capability, I think the expectation from a user would be that multiple exports from the same cal source would overwrite the previous version (so you wouldnt end up with mult

[2017-09-15 18:23] mallove commented on #9441
I'll add an option to overwrite the previously exported calendar.

[2017-09-15 20:10] dancabral commented on #9569
@smboser it looks like the starter content options arent yet set up for Individual Scholar or Project/Lab/Small site types? The should follow what currently exists in OS. You can use the current labels for the radio options--I'll update them later.
![screen shot 2017-09-15 at 4 04 44 pm](https://user-images.githubusercontent.com/867075/30501415-61d923c0-9a30-11e7-9b1c-e1920385a234.png)
![screen sh

[2017-09-15 20:40] mpetrovic commented on #9606
Override the create_entity on the plugin. It's a method on the restful handler, right? So override that, call the parent's create_entity to get an incomplete entity, and then do whatever other handling you need at that point.

[2017-09-16 07:33] smndey commented on #9606
Ok. Understood.

[2017-09-17 21:50] mallove commented on #9441
Add dialog to *overwrite* or *create a new* Google Calendar item.

![overwrite-or-create-new-calendar](https://user-images.githubusercontent.com/17302884/30525154-7a16fd04-9bcf-11e7-95f9-b7947808f5bb.gif)

Pull request: https://github.com/openscholar/openscholar/pull/9902

[2017-09-18 11:03] smboser commented on #9814
@Bilsi @rbran100 I am facing some issues with the git branch. I have made a lot of changes in themes/cp_theme/css/cp_theme.css. It is reflecting in the git branch 9https://github.com/openscholar/openscholar/blob/0b87a390c2470adac50689454c40f9b87b4105e7/openscholar/themes/cp_theme/css/cp_theme.css) but when I pointing this branch to dev I can't see the same file, rather it is showing some conflicti

[2017-09-18 17:16] Bilsi commented on #9817
@smboser - putting this on hold for now

[2017-09-18 17:32] #9036 closed

[2017-09-18 17:46] Bilsi commented on #9814
@smboser - Looks like a conflict on the server side. We can fix it, but for now, let us place this ticket on hold.

[2017-09-18 17:49] openscholar-admin opened #9903 "Embed Media widget bug"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-media-widget-bug)

**The Plan**

Fix the embed media widget bug so that image does not disappear if description is not entered

**Description**

When creating an embed media widget...after selecting a file for use > Save the form without a title - the Edit and Remove buttons di

[2017-09-18 18:04] bkosborne opened #9904 "How to clear cache of the menu?"
I'm extending the menu to add our own help link and documentation link, since the one provided by OS appears to be broken (#9881). I've had a long standing issue where I'm not sure how to clear the menu cache so that changes are made to the sidebar menu. The only way I've been able to do it is to go into Chrome's dev tools, local storage, and then clear the item for "ngStorage-admin_menu". Since t

[2017-09-18 18:06] openscholar-admin opened #9905 "URL redirect not working–changing # to %23"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/url-redirect-not-working-changing-to-23)

**The Plan**

Fix the bug so that the %23 and other html encoding resolve

**Description**

The page level URL redirect is set up like this: search-engine-optimization → global-site-settings#search-engine-optimization

And sending users to th

[2017-09-18 18:36] openscholar-admin opened #9906 "Layout of taxonomy term is inconsistent - some have the column (WEIGHT) but some dont't"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/layout-of-taxonomy-term-is-inconsistent-some-have-the-column-weight-but-some-dontt)

**The Plan**

[coming soon]

**Description**

For example:

[http://scholar.harvard.edu/tcheng2/cp...](http://scholar.harvard.edu/tcheng2/cp/build/taxonomy/alphabet1)

The layout has the column (WEIG

[2017-09-18 18:40] openscholar-admin opened #9907 "list of posts widget for upcoming events not working"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/list-of-posts-widget-for-upcoming-events-not-working)

**The Plan**

Pager on the lists of posts widget breaking it

**Description**

On memorialchurch.harvard.edu, we have a list of posts widget that displays events on the home page. The widget is pulling events into t

[2017-09-18 19:51] mpetrovic commented on #9441
Please combine all your PRs and branches into one that is to be merged directly into SCHOLAR-3.x. Close out and delete the rest.

Also, after choosing to either overwrite or create a new calendar, there should be some indication that something is happening. Something like a spinner or progress bar should replace the buttons until the operation is done.

[2017-09-19 13:07] smndey commented on #9903
@Bilsi This has been fixed now.

![embed-widget](https://user-images.githubusercontent.com/1494203/30593502-5d98e738-9d68-11e7-8776-d2c52bf251f6.gif)

Test   Cases | Status
-- | --
Create  an embed media widget after selecting a file for use > Save the form without a Widget Description. Image remain in place  | Ok
Edit an embed media widget after selecting a file for use > Save the form without a

[2017-09-19 14:51] Bilsi commented on #9907
@arijeetbannerjee - @dancabral said that you are not able to replicate the issue
Can you go here in prod memorialchurch.harvard.edu and click on the first and third events in the right side widget. You will notice the error. Can you then try locally and let me know if you can replicate it?
The second event works.
We see an error - EntityMalformedException: Missing bundle property on entity of type

[2017-09-19 15:38] smndey commented on #9903
@Bilsi @rbran100
I put this back to dev as travis test are getting failed for another widget. I have to look on the test cases.

[2017-09-19 16:00] tcheng001 commented on #9903
Unable to save file any more in Embed Media widget

Steps to reproduce:
1) Open Embed Media widget form
2) Click  Choose File button
3) Select a file from Media Browser
4) Click Save button in Embed Media widget form
Note: Everything looks fine at this point.
5) Reopen Embed Media widget form
Note: You can find that no file was saved for the Embed Media widget
![screen shot 2017-09-19 at 11 57 02

[2017-09-19 16:06] smndey commented on #9903
@tcheng001 Environment please ?

[2017-09-19 16:07] tcheng001 commented on #9903
https://dev.scholar.harvard.edu/tcheng10

[2017-09-19 16:08] tcheng001 commented on #9903
1. go to the layout of the home page  (https://dev.scholar.harvard.edu/tcheng10)
2. the name of the widget is "abc"

[2017-09-19 19:21] openscholar-admin opened #9909 "Events: register for event theme bugs"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/events-register-for-event-theme-bugs)

**The Plan**

Clean up theme bugs in register events area.

**Description**

The success message needs cleaning up.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1652021/ScreenShot2017-09-19at11.57.21AM_inline.png?1505846616)](https:/

[2017-09-19 20:26] rbran100 commented on #9892
commented to @tcheng001 earlier, this looks like a menu link that was created as an absolute URL, so after the domain was removed in dev it still goes to the full URL

[2017-09-19 20:27] rbran100 commented on #9852
This is a duplicate of #9853

[2017-09-19 20:41] #9853 closed

[2017-09-19 20:42] rbran100 commented on #9852
I was able to fix manually all of the bad nodes, there were ~230 of them, some that were very very old.

[2017-09-19 21:59] mallove commented on #9441
Added progress/loading-gif/throbber: https://github.com/openscholar/openscholar/pull/9897#commits-pushed-6971e59.

![add-throbber-while-ajax-calendar-export-is-processing](https://user-images.githubusercontent.com/17302884/30617436-08c73d62-9d64-11e7-9b97-ce803d8f3379.gif)

[2017-09-19 22:02] mallove commented on #9441
There's just [one branch now](https://github.com/openscholar/openscholar/pull/9897).  All others are deleted.

[2017-09-20 10:53] smndey commented on #9903
@tcheng001 @Bilsi This is now fixed. PR #9911 has been updated.
 Note: 'feed reader widget' test case is failing due to non receive of data from this http://feeds.feedburner.com/HarvardGazetteOnline

[2017-09-20 13:03] tcheng001 commented on #9892
Thanks @rbran100.   Make sense.

[2017-09-20 13:03] #9892 closed

[2017-09-20 13:11] tcheng001 commented on #9892
@Bilsi    Should we educate users to use relative URL (instead of absolute URL) when redirecting to its own site ?

[2017-09-20 13:12] Bilsi commented on #9892
Since both options would work in prod, let us leave it like this. Most url texts in our product allow for both options.

[2017-09-20 13:19] #9852 closed

[2017-09-20 13:27] arijeetbannerjee commented on #9907
@Bilsi Sorry I couldn't replicate it earlier as I was checking with either support user or site owner in local. It is replicating with other type of users or anonymous users. It is same as #9852. Association with any vsite is missing for these nodes.
![image](https://user-images.githubusercontent.com/26901665/30645671-0f63ab26-9e34-11e7-98a2-4273c7a2a5df.png)

This field is only accessible for adm

[2017-09-20 15:17] openscholar-admin opened #9913 "Spacing between Secondary Menu and Search Widgets in Header"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/spacing-between-secondary-menu-and-search-widgets-in-header)

**The Plan**

Fix spacing between search widget and secondary menu

**Description**

When secondary menus and search bars are stacked in a header, there is excessive space between the widgets (e.g. osl.fas.harvard.edu; ocs

[2017-09-20 15:22] openscholar-admin opened #9914 "Insert link window not displaying correctly"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/insert-link-window-not-displaying-correctly)

**The Plan**

Fix the height issue.

**Description**

When clicking the link icon in the wysiwyg, the modal window appears squished, and the Insert and Cancel buttons are hard to access:

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_

[2017-09-20 15:31] dancabral commented on #9914
https://github.com/openscholar/openscholar/commit/656a63de375aad19362d5ae566743681632628c6

[2017-09-20 16:00] rbran100 commented on #9907
I was able to delete these bad nodes, however we should fix 2 things.

* The fatal error when a node does not belong to a site
* We should find the use case where importing produces nodes outside a site.  It was suggested that changing the path could do it, can you test a few cases to see if we can make it happen.  All the bad nodes in the DB were grouped with imports.

[2017-09-20 16:02] smboser commented on #9569
@dancabral I have made the changes. I didn't touch the UI part. Please let me know if I need to make the changes there.

[2017-09-20 16:59] #9914 closed

[2017-09-20 16:59] #9913 closed

[2017-09-20 17:31] mpetrovic commented on #9904
The cache id is passed into Drupal.settings. You should be able to use hook_js_alter to change it at will.

[2017-09-20 18:51] bkosborne commented on #9904
Thanks. I'll take a look into that and see what I can do.

[2017-09-21 11:48] smndey commented on #9905
@Bilsi This now fixed.
![url-redirect](https://user-images.githubusercontent.com/1494203/30693969-8e858986-9eef-11e7-9c2d-e92452bea6b2.gif)

Test   Case | Expected Result | Status
-- | -- | --
Add an URL redirect e.g "search-engine-optimization → global-site-settings#search-engine-optimization | Redirect to //domain/vsite/global-site-settings#search-engine-optimization | Pass
Add an URL redirect e

[2017-09-21 14:25] Bilsi opened #9916 "Increase imports screens limit to 100"
When we recreated the screens for single import, we ended up reducing the number of imports at a time to 50. Can you change it to make it a 100? This only applies to the new single import screens since the multiple import is still the old set of screens.

[2017-09-21 15:05] rsasch opened #9917 "URL of theme doesn't redirect properly"
OpenScholar URLs that are of the structure some.domain/themes don't redirect properly:
<img width="896" alt="screen shot 2017-09-21 at 11 03 52 am" src="https://user-images.githubusercontent.com/1713505/30703102-bf0a2ce8-9ebc-11e7-8b5f-e4a4f49db469.png">

[2017-09-21 15:19] mpetrovic commented on #9441
Get rid of the alert() call at the end of the export process. Replace the spinner with an 'export complete' message of some kind and a button to close the modal.

Also, put 'Exporting...' and the spinner on separate lines. Center them as well.

[2017-09-21 15:23] tcheng001 commented on #9903
Look good. Mark "Fixed"

[2017-09-21 15:43] tcheng001 commented on #9906
Look good. Mark "Fixed"
No more column 'Weight' is showed in term listing page.
1. Single term
![screen shot 2017-09-21 at 11 40 51 am](https://user-images.githubusercontent.com/2111600/30704788-c1c90364-9ec1-11e7-9327-424f911af1c1.png)

2. Multiple term
![screen shot 2017-09-21 at 11 39 57 am](https://user-images.githubusercontent.com/2111600/30704753-a5ee1cec-9ec1-11e7-9b19-291ac5fe5785.png)

[2017-09-21 15:56] mallove commented on #9916
<img width="682" alt="screen shot 2017-09-21 at 11 53 19 am" src="https://user-images.githubusercontent.com/17302884/30705571-cbadc322-9ec3-11e7-8b08-43b27ab37253.png">

[2017-09-21 15:58] #9903 closed

[2017-09-21 16:26] #9906 closed

[2017-09-21 20:47] mallove commented on #9441
See 5031b710435e2190b5ed42d9e1a1ce35513985f3

![pretty-up-the-upsert-google-calendar-dialog](https://user-images.githubusercontent.com/17302884/30717924-565654c6-9eec-11e7-9617-8390f4a1d484.gif)

[2017-09-21 21:39] mallove commented on #9867
Clean Travis run: https://travis-ci.org/openscholar/openscholar/builds/277847700

Pull request: https://github.com/openscholar/openscholar/pull/9901

[2017-09-22 13:35] dancabral opened #9919 "Create OS landing page/homepage template for all schools using OS"
When OS is offered to other schools, we'll need a landing page where users can create a landing page from. It will be similar to http://openscholar.harvard.edu with some differences. The exact differences are TBD. This page will be stored in one root location in code vs. as a vsite. This way some elements of the page can be sourced from variables. Things like the school name, the create a site url

[2017-09-22 15:32] mpetrovic commented on #9441
Center the 'Exporting...' text as well. And hide the buttons while the spinner is going.

[2017-09-22 16:27] mallove commented on #9441
3225340970534c2fb4d09b42a566f28bef169743

![center-title-remove-buttons-during-spinner-phase](https://user-images.githubusercontent.com/17302884/30754575-3ed41bd0-9f91-11e7-835e-34d74b00bed9.gif)

[2017-09-22 18:08] Bilsi commented on #9606
@smndey - Planning to place this on hold. Due to some changes, we are de-prioritizing the UX intitiaves

[2017-09-22 18:09] openscholar-admin opened #9920 "Profile image doesn't sync"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/profile-image-doesnt-sync)

**The Plan**

Fix the bug so that profile images sync

**Description**

The original:  [https://albania.growthlab.cid.harvard...](https://albania.growthlab.cid.harvard.edu/people/ricardo-hausmann)

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/16

[2017-09-22 18:10] openscholar-admin opened #9921 "Import content modals - bad button label"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/import-content-modals-bad-button-label)

**The Plan**

Fix the button label in the new import forms and the cache form

**Description**

All of the angular import content modals have wrong button label

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1649562/import-screen-bu

[2017-09-22 19:42] #9862 closed

[2017-09-22 19:49] tcheng001 commented on #9905
Look good. Mark "Fixed"
Tested on the following redirect cases:
1)  the same site without fragment
2)  an external site with fragment containing "#"
3) an external site without fragment
4) an external site with a query string

[2017-09-22 20:02] #9905 closed

[2017-09-22 20:07] Bilsi commented on #9504
Closing this as the screen is being re-written - https://github.com/openscholar/openscholar/issues/9559

[2017-09-22 20:08] #9504 closed

[2017-09-22 21:05] openscholar-admin opened #9922 "Change in the way that links work"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/change-in-the-way-that-links-work)

**The Plan**

Fix the bug in the link LOP so that the title is linked to the url

**Description**

I'm adding links as a content item, tagged to appear on certain pages via widgets. I swear that at one point those links would go strai

[2017-09-22 21:07] Bilsi commented on #9922
The bug is that with a link lop LOP https://scholar.harvard.edu/emallove/links set as title display style - the title is not linked to the url. It is currently linked to the link page node

[2017-09-22 21:44] dancabral commented on #9559
@tcheng001 the functionality for this is ready to QA. disregard the style side of it.

[2017-09-23 12:31] mallove commented on #9867
Clean run # 2: https://travis-ci.org/openscholar/openscholar/builds/278737189

[2017-09-24 12:20] Bilsi commented on #9917
@smboser - gheli.harvard.edu

[2017-09-25 13:13] smboser commented on #9920
@Bilsi I can see this particular link is working now.
![image](https://user-images.githubusercontent.com/14976596/30810027-4e7d5190-a221-11e7-9f7a-888e5f954e0c.png)
I have synced the profile in dev (https://dev.hwpi.harvard.edu/tormanhc2/people/ricardo-hausmann), the image is coming fine there too. Do you have any other link where it is not working.

[2017-09-25 13:16] tcheng001 commented on #9916
Question: I can import more than 100 entries successfully.  Did I missing something?   I did run update.  Mark "Pending"
![screen shot 2017-09-25 at 9 14 38 am](https://user-images.githubusercontent.com/2111600/30810147-0aa604ac-a1d2-11e7-9b5d-0c1dade1c87b.png)

[2017-09-25 13:17] arijeetbannerjee commented on #9907
PR #9924 created for the above issue.

[2017-09-25 13:36] Bilsi commented on #9916
@tcheng001 - The new single import screens are breaking beyond 50. These are the new screens. Multiple imports is not yet done.

[2017-09-25 15:26] tcheng001 commented on #9559
- [ ] The flow of deleting content may be confusing.
I click Delete from Action, then I see "Deleted selected content. UNDO X".  I don't wait and close the popup immediately. I think the file should be deleted but it is not.
![screen shot 2017-09-25 at 11 17 49 am](https://user-images.githubusercontent.com/2111600/30816483-11c41f3c-a1e4-11e7-9cfd-b31281efcb0a.png)

[2017-09-25 15:56] tcheng001 commented on #9559
- [ ] Bulk deletion is not working
Steps to reproduce:
1) Select "My Link 032", "My Link 033", "My Link 034", "My Link 035" and "My Link 036"
2) Click Delete
![screen shot 2017-09-25 at 11 47 00 am](https://user-images.githubusercontent.com/2111600/30817633-6149cdd8-a1e7-11e7-9d6d-c7ca7a30e031.png)
3) Wait the message (Deleted selected content) gone. It seems that the selected items are deleted.
!

[2017-09-25 18:05] Bilsi opened #9926 "Breadcrumbs displaying incorrectly after moving a page?"
http://community.openscholar.harvard.edu/openscholar/topics/breadcrumbs-displaying-incorrectly-after-moving-a-page

I moved this page (https://osp.finance.harvard.edu/sponsored-systems) from the Training section of our website to the Resources section. However, the breadcrumbs at the top of this page are now showing as Home/Resources & Information/Training rather than Home/Resources & Information.

[2017-09-25 18:24] mallove commented on #9916
What needs fixing?  The increased import limit applies to the new screens, e.g.,

 - classes
 - publications
 - links
 - software
 - presentations
 - people

But it will not work on the old screens, e.g., where `#overlay` is in the URL:

 - news
 - blog

@Bilsi, does the new import limit need to work on the old screens?

[2017-09-25 18:25] Bilsi commented on #9916
@tcheng001 - Why is this back in dev?

[2017-09-25 18:25] mpetrovic commented on #9867
Good to merge.

[2017-09-25 18:36] mallove commented on #9922
<img width="266" alt="link content type points to external link not drupal node url - screen shot 2017-09-25 at 1 58 42 pm" src="https://user-images.githubusercontent.com/17302884/30824835-dce1de42-a1fe-11e7-8233-d2a10b8223d4.png">

[2017-09-25 18:38] tcheng001 commented on #9926
Now, if you go to https://osp.finance.harvard.edu/sponsored-systems
The breadcrumbs show "HOME / RESOURCES".  The user thinks it should show "HOME / RESOURCES & INFORMATION"
However, if you check the menu, you should see there is a  menu item "Resources"  pointing to "https://osp.finance.harvard.edu/resources%20information".
![screen shot 2017-09-25 at 2 30 23 pm](https://user-images.githubusercon

[2017-09-25 18:39] tcheng001 commented on #9916
Please fix the label.  This is not a regression issue. It occurs in production as well. But that will be great if we can fix it with this ticket.
![screen shot 2017-09-25 at 10 43 52 am](https://user-images.githubusercontent.com/2111600/30814737-07a176a8-a1df-11e7-8160-e35208b343a9.png)

[2017-09-25 19:36] tcheng001 commented on #9441
I select "Overwrite Existing Google Calendar" , but it still create a new Google Calendar for me.
![screen shot 2017-09-25 at 3 29 32 pm](https://user-images.githubusercontent.com/2111600/30826958-6876149e-a206-11e7-98af-011b0ff3b706.png)

![screen shot 2017-09-25 at 3 30 33 pm](https://user-images.githubusercontent.com/2111600/30827009-9e7d79ec-a206-11e7-9558-1e80ce77e7ca.png)

I did clear drupal

[2017-09-25 20:39] #9867 closed

[2017-09-26 10:44] smboser commented on #9921
@Bilsi PR #9925 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/30856338-ab255b5e-a2d5-11e7-8910-26aef0e0bb61.png)
![image](https://user-images.githubusercontent.com/14976596/30856354-bc061a26-a2d5-11e7-929a-255293e21ff3.png)

PFA the unit test case.
[9921-UnitTestCase-V1.0.xlsx](https://github.com/openscholar/openscholar/files/1332819/9921-UnitTestCase-V1.

[2017-09-26 10:46] smboser commented on #9907
@Bilsi PR #9924 has been created for review.

[2017-09-26 11:36] arijeetbannerjee commented on #9917
@Bilsi
Can you please tell me is there is any link to click for the URL "gheli.harvard.edu/themes" or just manually input the url?

[2017-09-26 13:17] tcheng001 commented on #9559
- [ ] Bulk adding term is not work as expected. It seems terms can apply to one post even through I have selected three.

[2017-09-26 13:17] mallove commented on #9916
@tcheng001 , there's another ticket for the button issue: https://github.com/openscholar/openscholar/issues/9921.

[2017-09-26 13:58] #9920 closed

[2017-09-26 14:00] openscholar-admin opened #9928 "Slider: new taxonomy display style"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/slider-new-taxonomy-display-style)

**The Plan**
Add new display style for taxonomy widget.

**Description**

We should make this custom taxonomy display style available to all OS users--it current exists in a custom themed site.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_imag

[2017-09-26 14:07] rbran100 commented on #9907
I could see the case for it being access denied, but that would prevent some valid use cases, so I think this is good.  It returns things to the state they were in pre-grouper, when the fatal was introduced.

[2017-09-26 14:07] #9907 closed

[2017-09-26 14:24] dancabral commented on #9928
@smboser the plan here is to adding a setting to the taxonomy widget (see screen above). 1) can we change the display as a menu and display each term in a slide down checkboxes to radio buttons. 2) When display each term in a slide down is selected, add a class "term-slider" to the outside wrapper of the widget.

[2017-09-26 14:33] #9898 closed

[2017-09-26 14:39] Bilsi commented on #9917
@rsasch - Can you add more details regarding the issue?

[2017-09-26 14:44] #9828 closed

[2017-09-26 14:55] Bilsi opened #9929 "Add "Other" option for classes"
![pasted image 0](https://user-images.githubusercontent.com/11841641/30867056-e6751a3c-a2a8-11e7-9838-392a0dce53c3.png)

the options here don’t work for classes.  at HU, we have Fall and Spring classes, sometimes summer sometimes J-term, and some like this one meet both Fall and Spring.  can we make it more flexible somehow?  maybe better defaults and also an ‘other’ option that the user can chang

[2017-09-26 17:34] tcheng001 commented on #9921
Moving to "in dev"
Still not seeing the fix.  Don't know what is missing. I did clear varnish and drupal caches, and browsing data.
![screen shot 2017-09-26 at 1 33 20 pm](https://user-images.githubusercontent.com/2111600/30874787-5e47ce90-a2bf-11e7-8c03-5e46b367ce7c.png)

[2017-09-26 18:34] tcheng001 commented on #9916
For each content type, we test the default import file, an import file with 100 entries and import file with 101 entries.
When the file contains more than 100 entries, no import happens.

Test case  | Content Type |  Test Result
------------ | ------------- | ---------
1 | Class | PASSED
2 | Event (csv format only) | PASSED
3* | Event (ics format) | can import more than 100 entries
4 | Event (csv

[2017-09-26 19:01] tcheng001 commented on #9922
@Bilsi
This is exactly what the user wants if she selects "Links" as Display Style.  Then there is no need to change anything. Maybe, it just needs better explanation on the option or to set the option as default.  Any thought?
![screen shot 2017-09-26 at 2 55 16 pm](https://user-images.githubusercontent.com/2111600/30878715-66403720-a2cb-11e7-8f3f-58f0c953556d.png)

[2017-09-26 19:05] Bilsi commented on #9765
If you x out the left menu and do stuff, like edit a page, it comes back.

[2017-09-26 19:49] rbran100 commented on #9922
@tcheng001 that is what I was thinking as well, but I did not see it when I looked!!  I think we shouldn't make this change as well, and add to documentation / description

[2017-09-26 20:02] #9922 closed

[2017-09-26 20:03] Bilsi commented on #9916
@tcheng001 - its alright. Even if more than 100 are allowed, it is ok to discourage users. Also different import levels for each type will only create confusion

[2017-09-26 21:27] mpetrovic commented on #9889
Finally reproduced this locally. It's definitely securepages_drupal_goto_alter throwing false positives. i think because of securepages_roles(). Need to figure that out.

[2017-09-26 23:12] tcheng001 commented on #9916
The count (100) is applied to everywhere. We are all set.  Mark "Fixed"

[2017-09-27 06:24] smboser commented on #9921
@tcheng001 Did you clear the local storage? I have checked this in dev.hwpi and it worked fine there. Could you please provide me the URL where did you make the test?

[2017-09-27 06:36] smboser commented on #9921
@tcheng001 Checked from activity history, this test was performed in dev.scholar. I have just checked in there too and found the same result.
![image](https://user-images.githubusercontent.com/14976596/30899127-42680cae-a37c-11e7-869d-782f9d579126.png)

[2017-09-27 12:36] tcheng001 commented on #9921
Mark "Fixed"
Thanks @smboser     I see the fix now. I didn't clear local storage when I tested it yesterday. Tested on https://dev.scholar.harvard.edu/tcheng8

[2017-09-27 13:12] #9916 closed

[2017-09-27 13:13] #9921 closed

[2017-09-27 13:26] rsasch commented on #9917
@smboser I don't know of any links that go to a /themes URL (probably because they won't work), but you can reproduce the issue by going to any <custom domain>/themes or https://hwpi.harvard.edu/themes, https://projects.iq.harvard.edu/themes, or https://scholar.harvard.edu/themes.

[2017-09-27 13:55] mallove opened #9932 "Nightly "repeating event" scenario fails"
[code]

Full test run and more info: https://travis-ci.org/openscholar/openscholar/builds/279991653

[2017-09-27 15:03] dancabral commented on #9909
QA'd and marking this is fixed

[2017-09-27 17:42] mallove commented on #9928
@dancabral, selecting the *Slide down* radio adds the `term-slider` CSS class, e.g.,

<img width="575" alt="screen shot 2017-09-27 at 1 39 01 pm" src="https://user-images.githubusercontent.com/17302884/30928406-92cfbbf8-a389-11e7-92eb-ded1aecf4c11.png">

[code]

![display-type-set-to-slider-brings-in-slider-css-class](https://user-images.githubusercontent.com/17302884/30928189-dc070e30-a388-11e7-8

[2017-09-27 19:11] dancabral commented on #9857
this is done. marking fixed.

[2017-09-27 19:58] dancabral commented on #9893
ordered lists rendered in pages now look the same in the wysiwyg. marking fixed.
![screen shot 2017-09-27 at 3 57 00 pm](https://user-images.githubusercontent.com/867075/30934803-b5f5e0fe-a39c-11e7-831d-5cb502ed43b5.png)

[2017-09-27 22:59] Bilsi commented on #9909
@dancabral - is the fix in 3.x?

[2017-09-27 22:59] Bilsi commented on #9893
@dancabral - is the fix in 3.x?

[2017-09-27 22:59] Bilsi commented on #9857
@dancabral - is the fix in 3.x?

[2017-09-28 13:25] Bilsi commented on #9882
Waiting on user response

[2017-09-28 14:33] #9909 closed

[2017-09-28 14:34] #9857 closed

[2017-09-28 16:51] tcheng001 commented on #9889
@rsasch
It looks better after running
drush @projects.dev vset https FALSE
drush @projects.dev dis securepages -y

But I worry I wasn't testing in correct env setup.
The env should be set to https and the non-harvard custom domain is not in certificate.
Can I have a non-harvard custom domain (something like abcde123.org) in dev.projects or staging.projects ?

[2017-09-28 16:52] dancabral opened #9937 "Spruce up the OS login screen"
The OS login screen hasnt been touched in quite some time. It could use a makeover. With this update the functionality will remain the same.
![screen shot 2017-09-28 at 12 49 58 pm](https://user-images.githubusercontent.com/867075/30979498-cc1ec1ca-a44b-11e7-98f7-2ebeda082660.png)

[2017-09-28 16:54] dancabral commented on #9937
For inspiration
https://webdesignledger.com/20-creative-login-form-examples-for-your-inspiration/#d9a3b8db27
https://designmodo.com/login-form-examples/

[2017-09-28 18:24] tcheng001 commented on #9441
Testing on https://staging.scholar.harvard.edu/tcheng10/calendar
I have been exported Google Calendar successfully. But now, it seems failing to export.
The following is what I see in the console after I click "Create New Google Calendar" button.
![screen shot 2017-09-28 at 2 14 54 pm](https://user-images.githubusercontent.com/2111600/30983445-7c87872a-a458-11e7-9f43-47f929f51e3e.png)
Could you ta

[2017-09-28 18:33] mpetrovic commented on #9889
@tcheng001
yeah, https needs to be true and securepages needs to be enabled. That is their state on production and cannot be changed.

You can have any custom domain you like on dev or staging, as long as its not also on another environment. Add the domain like you normally would with the drush commands, point the domain at 54.225.126.164 in your hosts file, and add the domain to the site in quest

[2017-09-28 18:37] openscholar-admin opened #9938 "Image logo on site distorts on responsive"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/image-logo-on-site-distorts-on-resonsive)

**The Plan**

Fix or remove the css rule for tables in the header.

**Description**

The image logo on this site [http://cn.chinaproject.harvard.edu/](http://cn.chinaproject.harvard.edu/) gets "squished" when viewing it on a small device/mob

[2017-09-28 19:02] mallove commented on #9441
Fixed! 91a47cd  d725afd

[2017-09-28 19:49] mpetrovic commented on #9583
Decisions that need to be made:
1. Are we allowing other schools to use the hwpi themes?
2. What do we do about the hard-coded image in the header of the hwpi themes?
3. What do we do about the hard-coded links and text referring to privacy policies and copyright in the footer of the hwpi themes?

more to come, probably

[2017-09-28 19:58] tcheng001 commented on #9889
unable to link Harvard key to OS account
Assume: your HKey has not linked to a OS account
Steps to reproduce:
1) go to the  /user page
2) click Log in using Harvard Key
3) enter Harvard Key
Note: Got access denied message
4)  click  the Login link in the message
Note:  Nothing happens.  It supposes to redirect to the link the page.

[2017-09-29 12:31] mallove commented on #9932
Clear run: https://travis-ci.org/openscholar/openscholar/builds/281029067

[2017-09-29 12:32] mallove commented on #9866
Clean run: https://travis-ci.org/openscholar/openscholar/builds/281036577

[2017-09-29 13:03] #9926 closed

[2017-09-29 14:00] dancabral commented on #9938
@mallove this rule needs td in the selector path.
![add-td](https://user-images.githubusercontent.com/867075/31019234-04063e7c-a4fd-11e7-8430-68926ab70cdb.png)

[2017-09-29 14:08] openscholar-admin opened #9940 "Search Sites field under user menu: search value doesn't display"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/search-sites-field-under-user-menu-search-value-doesnt-display)

**The Plan**

Fix the font color issue.

**Description**

No character is showed in the field after they are entered. The filtering function is still working correctly.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3

[2017-09-29 14:08] mallove commented on #9938
Which device/platform/browser does this issue occur?  I don't see the issue on Google Chrome's [device mode](https://developers.google.com/web/tools/chrome-devtools/device-mode/) or my Android:

 - Galaxy
 - Nexus
 - iPhone
 - iPad
 - my Android Motorola

<img width="859" alt="screen shot 2017-09-29 at 10 04 28 am" src="https://user-images.githubusercontent.com/17302884/31019471-c6be3582-a4fd-11e7

[2017-09-29 14:09] dancabral commented on #9940
@mallove all thats needed here is to add this rule (near the top) to the admin-panel.css file.
.user-menu .clearable,
.user-menu .no-search-result {
color:#444;
}

[2017-09-29 15:42] mallove commented on #9940
The CSS fix makes the search text visible:

<img width="404" alt="screen shot 2017-09-29 at 11 38 02 am" src="https://user-images.githubusercontent.com/17302884/31023853-3245d80c-a50b-11e7-9924-0f601f1964cc.png">

[2017-09-29 16:37] dancabral commented on #9569
@smboser can you 1) make the minimal radio options selected by default for the Personal and Projects starter content site types, and 2) merge 3x into this branch. Again, I've been working quite a bit in this branch so you'll want to pull first.Thanks.
![projects-starter](https://user-images.githubusercontent.com/867075/31026052-e3882064-a512-11e7-91ed-a6224ec8648f.png)
![personal-starter](https://

[2017-09-29 18:36] mallove commented on #9938
Can't replicate - marking *Pending*.

[2017-09-29 18:47] mpetrovic commented on #9932
Where's the PR?

[2017-09-29 18:52] mallove commented on #9932
https://github.com/openscholar/openscholar/pull/9942

[2017-09-29 19:26] tcheng001 commented on #9441
The popup dialogue box never goes away.  Returning to "in dev"
![screen shot 2017-09-29 at 3 16 36 pm](https://user-images.githubusercontent.com/2111600/31032258-5442c168-a529-11e7-97d5-ef88dfb672a3.png)

Steps to reproduce:
1. click Google link
2. select google account
3. click ALLOW button
4. at this point, I can see the popup dialogue box, and then close it by clicking Cancel or the checkbox in

[2017-09-29 19:56] tcheng001 commented on #9940
Mark "Fixed"
Work as expected.
![screen shot 2017-09-29 at 3 55 51 pm](https://user-images.githubusercontent.com/2111600/31033609-b97700da-a52e-11e7-9030-ac124eb32bc4.png)

[2017-09-29 21:24] dancabral commented on #9938
marking fixed https://github.com/openscholar/openscholar/commit/8b4efe1b10e2eaa951e522a6e9503d22038cde97

[2017-09-29 21:34] #9940 closed

[2017-09-29 21:44] #9938 closed

[2017-10-02 15:57] openscholar-admin opened #9944 "Order of contextual links (content, import) in listing pages is inconsistent"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/order-of-contextual-links-content-import-in-listing-pages-is-inconsistent)

**The Plan**

Make the contextual link consistent across all apps

**Description**

If you are an admin and go to /blog page,  you should see the contextual links (Blog entry and import)

 [![img](https://d2r

[2017-10-02 16:43] dancabral commented on #9882
this is fixed in 3x https://github.com/openscholar/openscholar/commit/1769bdf34de7d3fd13a85ade38fd768e64401b9c

[2017-10-02 16:51] #9882 closed

[2017-10-02 16:51] Bilsi opened #9945 "Download links pointing to qualtrics showing up on sites randomly"
examples
staging.hwpi.harvard.edu/test
Seen in production on Friday hds.harvard.edu

[2017-10-02 18:16] openscholar-admin opened #9947 "Widget slider navigation dots are inconsistently clickable"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/widget-slider-navigation-dots-are-inconsistently-clickable)

**The Plan**

Fix the bug so that the widget slider works correctly

**Description**

The dots at the bottom you use to navigate between the slides in the widget slider are inconsistently clickable. Here's an example: [http

[2017-10-02 18:30] Bilsi commented on #9804
@smboser - Can you make this a priority?

[2017-10-02 18:47] tcheng001 commented on #9945
1. Don't see the link (to Quatrix) on page https://staging.hwpi.harvard.edu/test any more.
![screen shot 2017-10-02 at 2 16 12 pm](https://user-images.githubusercontent.com/2111600/31092398-4f4f86be-a77c-11e7-9c76-24a2c38c4301.png)

2.  Qualtric code works fine with Embed Media widget.
![screen shot 2017-10-02 at 2 43 55 pm](https://user-images.githubusercontent.com/2111600/31093596-2cf94f88-a780-

[2017-10-02 19:05] #9945 closed

[2017-10-02 19:10] mallove commented on #9944
`Sync` and `Import` are always last in the `Add new` menu:

<img width="888" alt="sort contextual link menu items - screen shot 2017-10-02 at 2 53 37 pm - person" src="https://user-images.githubusercontent.com/17302884/31094568-aee09bd4-a783-11e7-93bb-156acda14d36.png">
<img width="888" alt="sort contextual link menu items - screen shot 2017-10-02 at 2 53 37 pm - events" src="https://user-images.g

[2017-10-03 12:45] arijeetbannerjee commented on #9917
@rsasch @Bilsi The some.domain/themes by default will not work with drupal menu system. As it is a physical folder so apache server uses this “themes” as a reserve word. There are other words like ‘repository’, ‘tag’ etc. So to do that some .htaccess  level manipulation might be needed.

Reference link: https://www.drupal.org/node/121362#comment-11753344

[2017-10-03 17:31] Bilsi opened #9951 "Menu not visible in root domain"
Menu not visible in root domain on any install, but shows up inside a vsite

[2017-10-03 19:56] rbran100 commented on #9917
I worked out a solution around this with aliases, but now I am backpedaling on that.  I think we should just leave this as not working and prevent that redirect from being used, (along with other physical directories).  The alias solution would have worked, but it would have been a hack and it wouldn't have been something that we would ever be able to port to D8 (now that I see the D8 notes). Thin

[2017-10-03 21:16] #9951 closed

[2017-10-03 23:21] tcheng001 commented on #9951
Look ok. Mark "Fixed"

test case  | role  |outside vsite that user can access | within vsite that user can access
------------ | ------------- | --------- | ------
1 |  regular user | Help menu | All vsite menus
2 |  support role | Help menu | All vsite menus
3* |  support role | Settings -> Global Settings -> Cache / Reindex | All vsite menus
4 |  admin (not vsite admin) | see image below | All v

[2017-10-04 05:24] smboser commented on #9917
@rbran100 Ok, then we are working on the following two:
1. No url with such links will be created automatically while creating a node.
2. A validation will be there in place so that if someone edits the URL manually while adding / editing nodes.

[2017-10-04 09:57] smboser commented on #9804
@Bilsi @rbran100 Changes have been made and it is working fine in dev.hwpi. PR #9949 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/31170018-315e97c4-a918-11e7-9878-99a7a14075c0.png)

Please note that I have made changes to .make file in "wysiwyg_filter" to pass the test cases.

[2017-10-04 10:31] smndey commented on #9559
@tcheng001 I have fixed above mentioned issues except the following as I am not able to reproduce it.

![bulk operation](https://user-images.githubusercontent.com/1494203/31170310-36f44dea-a919-11e7-8785-004e1e1ab9b7.gif)

[2017-10-04 14:37] tcheng001 commented on #9559
After deployed to dev.scholar,  it failed to run "drush @scholar.dev cc all"

[2017-10-04 17:37] mpetrovic commented on #9889
@tcheng001
Make sure to clear menu caches before trying.

[2017-10-04 18:06] Bilsi commented on #9559
@smndey - Can you merge 3.x into this branch?

[2017-10-04 18:10] rsasch commented on #9863
Steps to replicate:

1. Create a LOP widget for content type: people, display style: slide teaser
2. Set it to have a pager and make sure to select a 'Number of items to display' to guarantee that there will be at least two pages
3. Place the widget on a page
4. Navigate to the page with the LOP widget, use the widget pagination to navigate to the second page of the list, and use the contextual li

[2017-10-04 18:13] openscholar-admin opened #9953 "Cannot edit certain publication attributes created during citation import"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cannot-edit-certain-publication-attributes-created-during-citation-import)

**The Plan**

Fix the bug so that the user can edit any field that is displayed in the landing page

**Description**

Sometimes when I add publications using the import feature, there is publication informati

[2017-10-04 18:29] #7293 closed

[2017-10-04 18:29] #8426 closed

[2017-10-04 18:35] #9932 closed

[2017-10-04 18:52] rbran100 commented on #9804
See notes in PR

[2017-10-05 08:42] smndey commented on #9559
@Bilsi Done.

[2017-10-05 14:25] mallove commented on #9944
Pending on this question: https://github.com/openscholar/openscholar/pull/9948#discussion_r142948557

[2017-10-05 14:43] Bilsi opened #9955 "Publication screen changes"
https://github.com/openscholar/openscholar/issues/8973#issuecomment-277710377

We had this implemented a few months back, but do not know how it stopped working?
Can you investigate and fix it. Let me know if you have any questions and we can discuss

[2017-10-05 14:59] arijeetbannerjee commented on #9917
Written a new module to restrict URLs being auto generated and users to save URLs with such keywords while adding / editing nodes. Doing the same for taxonomy vocabulary and terms.

[2017-10-05 15:07] smboser commented on #9955
We are checking the issue.

[2017-10-05 17:25] mallove opened #9957 "Travis tests coverage - permissions"
Missing test cases for *permissions* https://docs.google.com/spreadsheets/d/1QtF9_ZTTPQQLlv0RZcpqKs2cJ6U21jlXLg_rMSIdAjw

[2017-10-05 17:59] tcheng001 commented on #9889
@mpetrovic   Please check test case 11. It seems to have a regression (test case 11 below).

Test case  | Logged in to OS | OS acct linked to HKey | OS acct is site member | OS acct is support user | in grouper |  Expected Result
------------ | ------------- | ----- | ----| ----| ---| ---
1 | -- | --| --| -- | -- |  See below
2 | -- | --| --| -- | X |  See below
3 | X | --| --| -- |-- |  See below

[2017-10-05 19:08] dancabral commented on #9569
@smboser can you look at another 2 things related to the theme selection part of this flow. If in the site creation process I select a theme other than the default Conservative theme. In this case, I select Ivy Accents.
![screen shot 2017-10-05 at 2 56 51 pm](https://user-images.githubusercontent.com/867075/31247253-f7e50b4c-a9dd-11e7-88e0-604ff9e62d20.png)

I should see Ivy Accents as the theme i

[2017-10-05 19:51] tcheng001 commented on #9559
@smndey
1.  "Delete" doesn't work if I close the Content popup before the message "Delete select content. UNDO X" disappears.
![screen shot 2017-10-05 at 3 35 50 pm](https://user-images.githubusercontent.com/2111600/31248824-1c2053a4-a9e3-11e7-9d3c-26af5a423f19.png)

2.  "Apply Term" still works on the first selected item even though I select more than one item.  I can reproduce what you see in yo

[2017-10-06 06:39] smndey commented on #9559
@tcheng001 Environment please ?

[2017-10-06 07:51] smboser opened #9958 "URL redirects with parameters don't seem to be working"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/url-redirects-with-parameters-dont-seem-to-be-working)

Related to this community question: http://community.openscholar.harvard.edu/openscholar/topics/can-the-redirect-to-url-include-parameters

Another example is for the HUIT site. There is a redirect set up this way:

[2017-10-06 10:25] smndey commented on #9958
Test   Case | Expected Result | Status
-- | -- | --
Add an URL redirect e.g "search-engine-optimization → global-site-settings#search-engine-optimization | Redirect to //domain/vsite/global-site-settings#search-engine-optimization | Pass
Add an URL redirect e.g "search-engine-optimization → global-site-settings without '#' fragment  | Redirect to //domain/vsite/global-site-settings | Pass
Add an U

[2017-10-06 12:06] smndey commented on #9559
@tcheng001

I am able to reproduce above issue and I have fixed the same.

This one I am not able to reproduce. I did following steps ...
![bulk operation](https://user-images.githubusercontent.com/1494203/31276878-d5095de2-aabb-11e7-8268-09b5eb08166f.gif)

It will be great if you can provide me the steps to reproduce it.

[2017-10-06 12:16] tcheng001 commented on #9559
@smndey    I am going to set up the test env again.

[2017-10-06 12:30] smndey commented on #9559
@tcheng001  Just now I have noticed that there is a delay in delete request. So if I search an item and place a delete request then immediately hit on search button looks like deleted item appears again for temporarily. I have fixed this delay issue.

[2017-10-06 12:35] tcheng001 commented on #9559
1. Go to https://dev.hwpi.harvard.edu/tormanhc_001
2. Browser Content
3. Search My News
Note: You should see this result back.
![screen shot 2017-10-06 at 8 29 28 am](https://user-images.githubusercontent.com/2111600/31277760-7df21b16-aa70-11e7-945a-a94d922a28e0.png)
4. select the four items and click Delete
![screen shot 2017-10-06 at 8 21 26 am](https://user-images.githubusercontent.com/2111600/

[2017-10-06 12:49] smndey commented on #9559
@tcheng001 Excellent. I am able to reproduce it now. Thanks.

[2017-10-06 12:56] Bilsi commented on #9958
@tcheng001 - this pr should be tested to fix these issues
http://community.openscholar.harvard.edu/openscholar/topics/url-redirects-with-parameters-dont-seem-to-be-working
http://community.openscholar.harvard.edu/openscholar/topics/can-the-redirect-to-url-include-parameters

[2017-10-06 13:54] smboser commented on #9955
@Bilsi After going through the entire conversation, I found two discrepancies w.r.t. the #8973 requirements.

1. Year label is not changing to "Date of Publication" when switch to Harvard Chicago author-date.
2. Year text field (from Year of Publication) is not showing when option other than Published (e.g.- Forthcoming, Submitted, In Preparation, In Press or Working Paper) is selected.

Both the

[2017-10-06 14:28] Bilsi commented on #9955
@smboser - @tcheng001's comment https://github.com/openscholar/openscholar/issues/9285#issuecomment-281430251 says that we will fix the year display for forthcoming etc later.
so that involved 2 above. Can you look into that?

[2017-10-06 15:24] mallove commented on #9957
Clean run: https://travis-ci.org/openscholar/openscholar/builds/283911030

[2017-10-06 16:04] smboser commented on #9569
Still facing problem with the featured type of themes. For the rest it is working fine. I am working on this.

[2017-10-06 21:52] dancabral commented on #9937
https://thenounproject.com/accounts/login/

[2017-10-07 13:40] mallove commented on #9441
Tests are running cleanly now.  Putting back *in review*: https://github.com/openscholar/openscholar/pull/9897#issuecomment-334935720.

[2017-10-07 14:37] Bilsi commented on #9441
@mallove - Please fix the conflicts

[2017-10-09 09:54] smndey commented on #9559
@tcheng001 I have fixed the above issue and tested on https://dev.hwpi.harvard.edu/tormanhc_001. PR (#9704) has been updated.  @smboser is fixing one failed test case once he is done, I will put this ticket for review.

[2017-10-09 10:05] smndey commented on #9958
@Bilsi This has been fixed (PR - #9959).  @smboser is fixing one failed test case once he is done, I will put this ticket for review.

[2017-10-10 11:11] smboser commented on #9569
@dancabral Both the issues have been fixed. Selected theme will be shown as site theme as well as it will be visible at cp > Appearance > Themes screen.

[2017-10-10 12:56] arijeetbannerjee commented on #9917
@rbran100 @Bilsi Made the changes. System will now prevent users to create such URLs.
![image](https://user-images.githubusercontent.com/26901665/31387575-81a553f6-ade8-11e7-841d-b619af8dcf99.png)
PFA the test case.
[9917-UnitTestCase-V1.0.xlsx](https://github.com/openscholar/openscholar/files/1371929/9917-UnitTestCase-V1.0.xlsx)
PR #9956 has been created for review.

[2017-10-10 13:40] smboser opened #9961 "Test case media_browser.feature: 232 is failing"
Fixing of Travis test case frontend/media_browser.feature line number 232

[2017-10-10 13:46] dancabral commented on #9569
Thanks @smboser. I'll take a look.

[2017-10-10 14:12] tcheng001 commented on #9958
Tested  on https://staging.scholar.harvard.edu/tcheng10

Test case | Test description | From Field | To Field | Result
------------ | ----------------- | ------------ | -------------- | ----------
1 | internal path | cal2 | calendar | PASSED
2 | internal path contains a leading "/" | /cal3 | calendar | PASSED
3 | internal path contains a "/" as a separator  | upevent | calendar/upcoming | PASSED
4

[2017-10-10 14:36] #9820 closed

[2017-10-10 14:36] tcheng001 commented on #9804
Mark "Fixed"
1. Disqus comment works again.
![screen shot 2017-10-10 at 10 34 28 am](https://user-images.githubusercontent.com/2111600/31392193-a22f2cd8-ada6-11e7-9cef-236838cbd313.png)

2. Private comment works as before
![screen shot 2017-10-10 at 10 35 20 am](https://user-images.githubusercontent.com/2111600/31392246-c29758ba-ada6-11e7-954e-1da3add23278.png)

3. No comment setting also works as

[2017-10-10 14:38] #9958 closed

[2017-10-10 14:38] #9804 closed

[2017-10-10 14:51] openscholar-admin opened #9962 "Fix teaser auto trim location"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/info-in-thumbnail-profile-truncated)

**The Plan**

Fix auto trim functionality. It should not trim in the middle of a sentence. Rather, the trim should occur to nearest period.

**Description**

There is some strange truncation occurring in the thumbnail profile display on our websi

[2017-10-10 15:19] openscholar-admin opened #9964 "html code representing "apostrophe" in taxonomy is showed in /cp/build/taxonomy page and form"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/html-code-representing-apostrophe-in-taxonomy-is-showed-in-cp-build-taxonomy-page-and-form)

**The Plan**

Fix the bug so that apostrophe displays correctly in the taxonomy terms page

**Description**

[https://scholar.harvard.edu/tcheng2/c...](https://scholar.harvard.edu/tcheng2/cp/

[2017-10-10 15:26] dancabral commented on #9962
@smboser the plan here is to fix the (auto) trim location so that it doesnt occur in the middle of a sentence. Rather, it should (auto) trim based on the char limit and to the closest sentence. Is that possible?
![teaser-trim](https://user-images.githubusercontent.com/867075/31395053-d8224738-adad-11e7-803a-84334bac10c4.png)
![wysiwyg-trim](https://user-images.githubusercontent.com/867075/31395057

[2017-10-10 15:47] mallove opened #9965 "Travis tests coverage - widgets and admin settings"
Missing test cases for admin settings and widgets https://docs.google.com/spreadsheets/d/1QtF9_ZTTPQQLlv0RZcpqKs2cJ6U21jlXLg_rMSIdAjw

[2017-10-10 16:59] dancabral commented on #9569
@tcheng001 this is ready for QA. You'll want to test:

1) Each of the three site types
2) Test each preset option for each site type...making sure that the menu links/pages that get created are correct.
3) Test the theme selection screen
a. Leave the theme selection at the default theme. After going to your newly created site is the correct theme in use? Is it the selected theme in the Appearance

[2017-10-10 17:06] Bilsi commented on #9863
@rsasch - @tcheng001 was unable to replicate it even with the steps you gave. Can you try and test this?

[2017-10-10 19:18] openscholar-admin opened #9966 "News appearing out of order"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/news-appearing-out-of-order)

**The Plan**

Fix the bug so that news items are displayed in descending order of news date

**Description**

It appears that the default news section is displaying news items out of order, i.e., by post date instead of news date.

[![img](https://d2r1vs

[2017-10-10 19:40] rsasch commented on #9863
@tcheng001

1. Log in to https://dev.hwpi.harvard.edu/tcheng3
2. Make sure your user is using the "administrative overlay" (administrative screens appear in a modal).
3. Go to https://dev.hwpi.harvard.edu/tcheng3/some.
4. Navigate to the third page of the LOP and click on the contextual "Edit" link for "Mr. Homer8 J Simpson8"
5. Click the "Save button"

[2017-10-11 09:59] smndey commented on #9966
@Bilsi I did following steps to reproduce it in  https://dev.hwpi.harvard.edu/tormanhc_001/news.
  1. Create News Item 1 with news date October 2, 2017
  2. Create News Item 2 with news date October 1, 2017

Unfortunately we are unable to reproduce it in Dev site.In DEV as I can see that `os_news` view has "news date" field sorting in placed but it doesn't exists here https://hwpi.harvard.edu/joe/

[2017-10-11 10:49] smndey commented on #9962
@dancabral I think there is a lot of issues when determining sentences. Initials and different ending characters have to come into play. For example,

"Was Johnny A. Developer trying to create a trim on sentences at 8 a.m.?"

So while it should trim on the ? it's fairly hard to make it do that. Instead of this we can suggest user to use "teaser-break" of ckeditor as a workaround. What do you think

[2017-10-11 11:13] Bilsi commented on #9966
@smndey - No, it is not fixed. https://hwpi.harvard.edu/joe/new - If you go here - this is a test site, you can see that Oct 1 is before Oct 2.
Did you get the dump from the Db for hwpi? We do not know when the bug was introduced, so it is possible that it does not exist in dev hwpi.

[2017-10-11 11:15] smboser commented on #9964
@Bilsi It is fixed and checked in dev.hwpi server for both the above areas (and in term page too). We have checked the same with some other special characters as well.
![image](https://user-images.githubusercontent.com/14976596/31437606-7658bbb2-aea3-11e7-9d78-ad267c5162c9.png)
![image](https://user-images.githubusercontent.com/14976596/31437622-838c3020-aea3-11e7-919b-334c83e47323.png)

[2017-10-11 12:24] smndey commented on #9966
@Bilsi Yes. In production DB the field news_date missing from sort section but the code is already there in SCHOLAR-3.x. Probably feature wasn't revert properly. Simple feature revert will fix the issue in production.  I have deleted the field locally and do feature revert and it works. PR #9968 created for review.

[2017-10-11 12:26] tcheng001 commented on #9863
@rsasch   Thanks. I see the problem on page 3 and 4 now.

[2017-10-11 12:38] tcheng001 commented on #9863
Mark "Fixed"
For each page of List of Posts widget (person),
Open a person post through the contextual Edit link and click Save of the person form
No more jS script appears

[2017-10-11 13:11] #9863 closed

[2017-10-11 13:17] Bilsi commented on #9966
@smndey - if it is working in 3.x, can we make a PR against SCHOLAR-3.74 to fix it in the branch that is in prod?

[2017-10-11 13:44] smndey commented on #9966
@Bilsi Done!

[2017-10-11 13:45] Bilsi commented on #9966
@smndey - Thanks. Can you create a Pr against SCHOLAR-3.74?

[2017-10-11 13:52] smndey commented on #9966
@Bilsi Yes. I have updated PR (#9968) against  SCHOLAR-3.74.

[2017-10-11 13:59] #9966 closed

[2017-10-11 14:10] mpetrovic commented on #9961
I heard this works locally? Cause it looks like the test isn't clicking the Media Browser button properly. It seems to find it just fine, and thinks its clicking on it, but nothing is actually happening. Might be a js error in travis's version of firefox.

[2017-10-11 14:19] tcheng001 commented on #9559
@smndey
- [ ]  1. The role of Content Editor should be able to access the content .  Please check production.  The only operation not allowed is to delete content. We might consider to hide or grey-out Delete links
![screen shot 2017-10-11 at 10 04 31 am](https://user-images.githubusercontent.com/2111600/31445420-03ed700e-ae6c-11e7-9ef1-4cffc505e2fe.png)

[2017-10-11 14:29] smboser commented on #9961
@mpetrovic Yes, it works locally always. But in test server it works sometimes and sometimes not. Today also, it passed in https://travis-ci.org/openscholar/openscholar/jobs/286452133 but failed https://travis-ci.org/openscholar/openscholar/jobs/286464492 just few minutes later without any related changes.
I have tried with all possible ways to click and open the media browser but the result is sa

[2017-10-11 14:34] dancabral commented on #9962
@smndey 1) there used to be an ellipsis inserted into the middle of a sentence when a break was inserted--either automatically or if a user manually inserted one. 2) When a break occurred at the end of a sentence either automatically or was insterted manually by a user no ellipsis was printed to the page.

Break inserted automatically or manually into the middle of a sentence--ellipsis present.
![

[2017-10-11 15:08] tcheng001 commented on #9964
Looking good. Mark "Fixed"
In taxonomy page:
![screen shot 2017-10-11 at 11 04 25 am](https://user-images.githubusercontent.com/2111600/31449076-fa376274-ae73-11e7-837a-bbdc27fe6341.png)

In post form:
![screen shot 2017-10-11 at 11 06 11 am](https://user-images.githubusercontent.com/2111600/31449169-38a25654-ae74-11e7-89f1-9c7317b26533.png)

In List of Post widget form:
![screen shot 2017-10-11 a

[2017-10-11 15:20] smndey commented on #9962
@dancabral

I agreed. We can implement this.

Not sure on this part. How can we determine that sentence is end ? Right now we trim the text after 160 character length.

[2017-10-11 15:59] tcheng001 commented on #9944
Mark "Fixed"
Checked the order of contextual links for the following content types :

Test Case  | Content types | Test result
------------ | ------------- | ------
1 | Blog | PASSED
2 | Class | PASSED
3 | Event | PASSED
4 | FAQ | PASSED
5 | Feed | PASSED
6 | Link | PASSED
7 | Media Gallery | PASSED
8 | News | PASSED
9 | Person | PASSED
10 | Presentation | PASSED
11 | Software Project | PASSED

Ch

[2017-10-11 16:08] smboser commented on #9962
@dancabral I think the removal of the ellipsis was done in https://github.com/openscholar/openscholar/pull/9435/commits/2463a2995f009709b81c96ef6a42dd7f74e32d78 as part of #9432.
I have checked the code (https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/os.module#L3712). It is using drupal's views_trim_text() function which appends ellipsis after determining the wo

[2017-10-11 16:15] #9964 closed

[2017-10-11 16:34] #9944 closed

[2017-10-11 17:24] Bilsi opened #9969 "Issue with Importing publications"
http://community.openscholar.harvard.edu/openscholar/topics/unable-to-import-publications
Please go through this ticket. One of the IDs does not import. Can you see if you an figure out why?

[2017-10-11 18:22] tcheng001 commented on #9569
@dancabral
Both Personal (Minimal and HWP personal) have Bio, Classes and Publications in the nav bar.  I did check in production and find the same.  Should we remove all menu items from primary menu for Personal - Minimal ?

[2017-10-11 18:32] Bilsi commented on #9962
@smboser @smndey - I think it is enough to add an ellipsis at the end of the word if there is more text after. Let us not bother looking for the end of the sentence.

[2017-10-11 18:58] dancabral commented on #9569
@tcheng001 no, the other minimal presets for project and dept websites include menu link/pages. I think we should simply drop the classes link/page from the personal minimal preset. I'll ask @smboser if he can do that. thanks. good find.

[2017-10-11 19:36] dancabral commented on #9569
@smboser can we make two more tweaks to this? this should be the last of the modifications. Can we:
1) Remove the Classes link from the Personal site Minimal preset?
2) Add People and About links to the menu for the Dept site Minimal preset? Currently there are no links with the Minimal preset.

Thanks!

[2017-10-11 20:01] tcheng001 commented on #9569
@dancabral    Unable to create site if visibility is set anything other than "Public on web".  It keeps showing  "Saving"
![2017-10-11 16_00_57](https://user-images.githubusercontent.com/2111600/31463825-667771b2-ae9d-11e7-9c19-519650a45a15.gif)

[2017-10-11 20:38] tcheng001 commented on #9569
For QA only:

Test case | Site Preset |Expected menu items in nav bar | Test result
------------ | ------------- | ------- | ------
1 |  Personal : Minimal  | Empty |FAILED  (Bio, Classes, Publication)
2 |  Personal : HWP Personal  | Bio, Classes, Publication | PASSED
3 |  Department : Minimal   | Empty | PASSED
4 |  Department : HWP Academic   | Home, Academics, Research, People, Resources, News

[2017-10-11 23:21] mallove commented on #9866
Clean run: https://travis-ci.org/openscholar/openscholar/builds/286565932

[2017-10-11 23:26] mallove commented on #9441
No merge conflicts and clean Travis run: https://travis-ci.org/openscholar/openscholar/builds/286565932

[2017-10-12 11:00] smndey commented on #9962
@Bilsi Yes. I have created a PR #9970 for review.

[2017-10-12 11:04] smboser commented on #9969
@Bilsi I have checked that particular id and its not working because it contains two non-basic unicode characters. Please refer to the screenshot below. This issue is same as #9458. Current database encoding doesn't support this type of characters.
It will also throw an error if we try to add it manually. We can do it only after replacing that character.
![image](https://user-images.githubusercont

[2017-10-12 11:05] smndey commented on #9559
@tcheng001 Ok. I will take a look and implement the same. Thanks.

[2017-10-12 14:10] openscholar-admin opened #9971 "Links Disappear from Accordion List After Editing"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/links-disappear-from-accordion-list-after-editing)

**The Plan**

Fix the bug so that the links display correctly

**Description**

Links Disappear from Accordion List After Editing

 Hello! I am editing links that are organized in an accordion format. The links pull fr

[2017-10-12 14:13] Bilsi commented on #9971
@smboser - We do not know what is happening, i just wanted to see if you could take a look and see why the links are not showing up under the accordion in this site.

[2017-10-12 14:35] smboser commented on #9969
@Bilsi Last time the work for #9458 (or #9268) was not pushed to prod as it was taking too much time to convert DB encoding (https://github.com/openscholar/openscholar/issues/9458#issuecomment-298930347 or https://github.com/openscholar/openscholar/issues/9268#issuecomment-297401661).

[2017-10-12 14:49] Bilsi commented on #9969
@smboser - We decided not to allow for it on all content types since most content types do not need it. But publications need these characters while we do allow for it in our edit form, we do not allow it while importing. All we need to do in this ticket is get the publication import methods to accept it.

[2017-10-12 15:01] smboser commented on #9969
@Bilsi Publications are also kind of a Drupal node. Changing Collation type of only Node table will take a lot of time in production. Last time due to this only we didn't allow it anywhere just put a validation in edit form.
Though I am checking what are the minimum number of DB tables and fields need to be converted. Then we can check once again how much time it is taking.

[2017-10-12 15:07] mpetrovic commented on #9969
We already support these characters in manually entered publications, don't we? We stick the titles in a separate field, rather than the node table. All you need to do is hook up the import process to do the same.  No need to change collation on the node table.

[2017-10-12 15:17] smboser commented on #9969
@mpetrovic I have tried twice with this particular character to enter manually in publication and ended up with the below result.
![image](https://user-images.githubusercontent.com/14976596/31503808-41b9db52-af8e-11e7-82d8-6c421d795a06.png)
Ok, I am checking with decoding options.

[2017-10-12 15:23] dancabral commented on #9569
@smboser , as I eluded to on the phone we’d like to tweak the preset links/pages. Two changes: 1) we’re going to only have a Home link in the menu for all 3 of the Minimal preset options—no other links or pages should come with the Minimal option. 2) We’re going to add a Home link to the other existing preset options for the other site types. Thanks.

Heres a checklist of what each preset list sho

[2017-10-12 15:45] mpetrovic commented on #9969
Oh, its in the abstract. In that case, the only table that would need to be the collation changed is the biblio table. That would still take a long time though.

Is there a way we can convert this character into something that can be stored, and reconvert it in a filter, or something?

[2017-10-12 15:47] Bilsi commented on #9969
@smboser @mpetrovic - No, let us not change anything to just include one character.
I just added a character in the title and abstract and it worked.
https://scholar.harvard.edu/bilsi/publications/arginine-decarboxylase-lathyrus-sativus-seedlings-purification-and-properites
Does this mean that we support some and do not support others?

[2017-10-12 16:32] Bilsi commented on #9969
@smboser - Is it possible to display the pub ids that fail in the error message instead of just "Sorry, something went wrong. Please try again?"
Please work on displaying the problem ids along side the sorry text. We can work on the language once we have this done. Only worry about Pub Id import for this use case.

[2017-10-12 16:35] mallove commented on #9441
https://github.com/openscholar/openscholar/pull/9897#discussion_r144343177

[2017-10-12 17:30] tcheng001 commented on #9962
@smndey
In the last post,  I insert a break there to trim the body.  It shows "Read more" but we would like to see  "... Read more".   Then its look will be more consistent with the second post which is trimmed automatically. Can you change that?  Thanks.
![screen shot 2017-10-12 at 1 25 16 pm](https://user-images.githubusercontent.com/2111600/31509938-2ae58742-af51-11e7-9a73-5cba83c4fb4e.png)

[2017-10-12 19:27] smndey commented on #9962
@tcheng001 Yeah. Sure. I will fix that as well.

[2017-10-13 11:26] smboser commented on #9969
@mpetrovic

encoding to utf-8 will solve the issue while adding but it will display a odd character while rendering.

@Bilsi

Currently there is no such way to show exact error in angular screen. When it receives http responses other than 200, it prints that general error message. We may need to change the process if we want to show specific error message.
Or, I was thinking to check each of the c

[2017-10-13 11:49] smboser commented on #9971
@Bilsi I was trying to replicate the issue in my local dev but unable to do so in SCHOLAR-3.x. I have made a Accordion widget and added four types of items (LOP of people, LOP of page, LOP of links and LOF). I have edited them from the widget itself but after that widget is listing fine. Am I missing any steps.
I am trying once again with the latest DB dump.

[2017-10-13 11:55] smndey commented on #9962
@tcheng001 I have added ellipsis for both.
![read more](https://user-images.githubusercontent.com/1494203/31545062-66507856-b03b-11e7-8ee7-26294c020b12.png)

[2017-10-13 13:56] mpetrovic commented on #9969
I meant something custom. Some token that we made up on the fly to represent it so we can store it safely and display it later. Turns out, that particular character already has one. But attempting to do that for every character is a Sisyphean task, so we're not doing it anymore.

Can you see how to change the process to print that error?

[2017-10-13 14:05] Bilsi commented on #9969
@smboser - Let us change the strategy, we can modify the error message to point to the documentation where we list out the issues to looked out for if the import fails.

I noticed another thing, adding that parameter in the edit form gives a temporarily unavailable message.
Can we capture it to display an error, saying that we do not support certain special characters ? I am taking about the pub e

[2017-10-13 15:12] Bilsi commented on #9889
@tcheng001 - If this only fails for support user, let us release it. Can you QA and confirm that?

[2017-10-13 15:48] dancabral opened #9973 "Display media gallery lightbox image descriptions from /galleries page"
http://community.openscholar.harvard.edu/openscholar/topics/where_does_the_image_description_information_show_up_on_an_item_in_a_media_gallery

@smboser See my screens and description of the issue in the tic above. Can we display a media gallery image description in the lightbox from the /galleries page?

[2017-10-13 17:03] smboser commented on #9969
Sure, I will work on that.

[2017-10-13 17:35] Bilsi commented on #9971
@smboser - i dont see the links under the widget https://dev.hwpi.harvard.edu/fsan/development-training either

[2017-10-14 19:46] dancabral commented on #9969
@Bilsi I dont see anything in the doc site about what to do if an import fails. I can work work with Joe or Kate to create a generic "what to do when an import fails" page. @smboser in the meantime can you print an error message "The import failed. Please review the common reasons for import failure and how to resolve them." Can you apply a placeholder link to "common reasons for import failure an

[2017-10-16 06:41] arijeetbannerjee commented on #9955
The PR #9972 has been created.
Below is the test case for the above mentioned scenarios.

[9955-publication-screen-changes.xlsx](https://github.com/openscholar/openscholar/files/1386388/9955-publication-screen-changes.xlsx)

[2017-10-16 10:11] smboser commented on #9971
@Bilsi I have tried again by editing links through the widget but all are showing fine. It may possible all links are not visible. Because display for only 6 has been selected without any pagination option.
![image](https://user-images.githubusercontent.com/14976596/31607052-83280f80-b288-11e7-8a14-092355176037.png)

[2017-10-16 13:21] smboser commented on #9969
@Bilsi Error message is placed for pub edit screen while it will encounter such non-supported characters. Basically these characters are non basic multilingual plane unicode.
![image](https://user-images.githubusercontent.com/14976596/31613581-31f20940-b2a1-11e7-8763-a3516e6d0436.png)

@dancabral The error message in import screen has been changed.
![image](https://user-images.githubusercontent.co

[2017-10-16 13:58] tcheng001 commented on #9962
@smndey
- [ ] When I add a break at the end of body.  "..." is rendered.  That is incorrect. Please fix it.  I understand that  this is a bit silly of adding a break at the end of the body. But I know some users do add it for some reason.  Can't remember why.
![screen shot 2017-10-16 at 9 43 45 am](https://user-images.githubusercontent.com/2111600/31615144-ad6fa6fe-b256-11e7-9ff9-a71fd603bc49.png)

[2017-10-16 14:02] smndey commented on #9559
@tcheng001 @dancabral I have checked the access control in production. I am implementing it in a same way. Content Editor can delete his own node. I hide delete link on each node based on access. I have one question on bulk delete ,
  1. If Content Editor select two items one from his own and another from other user then click bulk Delete. What will be the expected behavior in this case ?

[2017-10-16 17:02] tcheng001 commented on #9559
@smndey   Can you follow production?  We allow the deletion operation to continue and show some message after that.
![screen shot 2017-10-16 at 1 00 14 pm](https://user-images.githubusercontent.com/2111600/31624882-27218380-b272-11e7-94f7-8d1f28eee3f7.png)

![2017-10-16 12_58_19](https://user-images.githubusercontent.com/2111600/31624802-e3192f8a-b271-11e7-8115-e8f383ac816c.gif)
![screen shot 2017

[2017-10-16 19:40] tcheng001 commented on #9889
Mark "Fixed"

1. Tested on a custom domain using http (http://test.cullendoyle.com)

Test Case | Expected Result | Actual Result
------ | ------ | -------
1 | User is prompted to log in to HKey, then gets OpenScholar 'access denied' |  PASSED
2 | User is prompted to log in to HKey, then able to view OpenScholar |  PASSED
3 | User is prompted to link OS account with a HKey, prompted log in to HKey,

[2017-10-16 19:44] #9889 closed

[2017-10-17 02:04] mallove commented on #9866
*Clean run https://travis-ci.org/openscholar/openscholar/builds/288836571

*Except for the media browser test failure happening on other branches:

| GitHub branch                          | Travis test failure                                                |
| ------------------------------- | ------------------------------------------------------------------ |
| 9955-publication-screen-changes |

[2017-10-17 10:17] smndey commented on #9962
@tcheng001 I have fixed the above issues. Let me know if anything else need to be addressed. PR #9970 updated.

![read more](https://user-images.githubusercontent.com/1494203/31659615-653727ca-b352-11e7-9db4-e0bfee2da5de.png)

[2017-10-17 12:57] tcheng001 commented on #9458
Chinese characters are not allowed to be a term but I can create a vocabulary using Chinese character. That seems inconsistent.
In term form:
![screen shot 2017-10-17 at 8 36 17 am](https://user-images.githubusercontent.com/2111600/31665358-90a7d1f2-b316-11e7-933f-d90d74bc18e9.png)

In /cp/build/taxonomy page:
![screen shot 2017-10-17 at 8 38 57 am](https://user-images.githubusercontent.com/211160

[2017-10-17 14:20] smboser commented on #9569
@dancabral Preset changes have been done. New sites will be generated as per the arrangements you mentioned above. But I think I have missed one area, create site on behalf of another user.
![image](https://user-images.githubusercontent.com/14976596/31669987-3d0fdb26-b374-11e7-93b8-3a56871d4500.png)
It was not in the initial mockup, shall I put that part under the "Site visibility" section ?

[2017-10-17 14:38] tcheng001 commented on #9969
Mark "Pending"     All functions are working as expected.
@dancabral  We need a new document page to explain common reasons of failure of importing publications
![screen shot 2017-10-17 at 10 29 42 am](https://user-images.githubusercontent.com/2111600/31671091-1f6b2b18-b327-11e7-8b74-b5dc00cb21c8.png)

For QA info only:
1. See error message when trying to save non basic multilingual characters in

[2017-10-17 14:52] smboser commented on #9458
Ok its same as 9969. I will fix that.

@Bilsi Shall I create a new ticket for that or provide the fix through 9969.

[2017-10-17 15:03] Bilsi commented on #9458
@smboser - Sure, create a new github ticket, please put it in the 23 oct milestone

[2017-10-17 16:25] rbran100 commented on #9866
pending the other tests passing

[2017-10-17 16:37] mpetrovic commented on #9961
Is there anything to pull the js errors out of selenium? I know its been worked on recently, but I don't know if its in 3.x yet.

Also, you can try writing your own step and logging everything that happens to try and pin down why its failing.

[2017-10-17 17:07] tcheng001 commented on #9962
Look good. Mark "Fixed"

[2017-10-17 17:12] mallove commented on #9866
Which tests?

[2017-10-17 17:30] openscholar-admin opened #9976 "Extra line crosses pagers"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/extra-line-crosses-pagers)

**The Plan**

Fix the bug so that the extra line does not show

**Description**

This issue happens on pages in listing. Here is an example. https://scholar.harvard.edu/tcheng10/faq

You need to be logged in to see it

[2017-10-17 17:32] Bilsi commented on #9976
I only see it when logged in

[2017-10-17 17:36] #9962 closed

[2017-10-17 17:59] Bilsi commented on #9866
@mallove - click on the PR, all the tests are failing. Can you merge 3.x into this branch and see if it fixes it?

[2017-10-17 18:18] openscholar-admin opened #9977 "Enable/disable apps screen has distorted display at varying zoom levels"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/enable-disable-apps-screen-has-distorted-display-at-varying-zoom-levels)

**The Plan**

Fix the display for enable/disable apps screen on https://hwpi.harvard.edu/kates-site and https://projects.iq.harvard.edu/katestest/

**Description**

The enable/disable apps screen looks like thi

[2017-10-17 19:14] dancabral commented on #9977
I'll fix this issue with https://github.com/openscholar/openscholar/issues/9811. I was already tweaking some minor styling issues in the Apps screen in 9811

[2017-10-17 20:01] dancabral commented on #9969
@smboser I updated the message and link destination here  https://github.com/openscholar/openscholar/commit/25a469e1109d82024a6db90582ec69982b422c20

[2017-10-17 20:43] dancabral commented on #9569
@smboser nice catch! can we add a div (similar to the site visibility section) just below the site visibility section. Clicking the X at the end of the sentence will slide open a lookup field--I will style it once youre done. Only existing OpenScholar users will appear in the lookup. At this point, we'll hold off with including the full user create form (your screen above). Do you have enough acce

[2017-10-18 14:51] tcheng001 commented on #9569
@dancabral  @Bilsi
Site creation has different logic on different installs.
For scholar,  each user can only create one scholar site.
For projects and HWP, the limitation is 300. Unlike projects install,  I guest that most of users would not see the limitation error.
We should keep this logic in this new design.

[2017-10-18 15:00] mallove commented on #9866
Merged, and testing in progress: https://travis-ci.org/openscholar/openscholar/builds/289543458

[2017-10-18 15:22] dancabral commented on #9977
fixed with https://github.com/openscholar/openscholar/commit/bd51a9004e553125d21e11b64461e9e7cd1099c1
![screen shot 2017-10-18 at 11 20 30 am](https://user-images.githubusercontent.com/867075/31726991-728103a2-b3f6-11e7-833f-7b8e30712e00.png)

[2017-10-18 16:26] dancabral commented on #9969
@tcheng001 I believe this ready to be QA'd again or finished? can you confirm.

[2017-10-18 17:06] tcheng001 commented on #9969
Look good.  Mark "Fixed"

[2017-10-18 20:38] dancabral commented on #9976
this is ready for QA @tcheng001

[2017-10-18 20:54] amjadhadi opened #9978 "Additional uncaught exception thrown while handling exception. error while installing"
Additional uncaught exception thrown while handling exception.

Original

Error: Class &#039;SelectQuery&#039; not found in DatabaseConnection->select() (line 835 of /home/muthanna/public_html/profiles/includes/database/database.inc).

Additional

Exception: theme() may not be called until all modules are loaded. in theme() (line 1017 of /home/muthanna/public_html/profiles/includes/theme.inc).

ht

[2017-10-18 21:03] #9977 closed

[2017-10-18 21:04] #9969 closed

[2017-10-18 21:04] #9811 closed

[2017-10-19 12:43] tcheng001 commented on #9976
Look good. Mark "Fixed"
1. No more line strikethrough pagers
2. Pagers work as expected.

[2017-10-19 15:05] mpetrovic commented on #9583
@smboser
Can you continue where I left off here? The branch is 9583-separation_of_church_and_state. I didn't get very far.

There's a lot of hard-coded references to Harvard branding and urls that need to be replaced with variables with no default, and handle null values cleanly.

You'll also need to go through the rest of the HWPI module and make sure there are no references to Harvard there, as

[2017-10-19 16:02] dancabral commented on #9928
@mallove can we please 1) add Classic/List to the list of options as the default? This option is present in the Faceted taxonomy widget. That way, a user can switch away from the Menu or Slidedown options and back to the classic list display. If they do this, the menu and slide down wrapper classes should be removed from the outer div. 2) Add a div class=description to the slidedown div. You can p

[2017-10-19 17:10] mallove commented on #9928
<img width="467" alt="screen shot 2017-10-19 at 1 05 45 pm" src="https://user-images.githubusercontent.com/17302884/31784198-d411015c-b4ce-11e7-9b34-adb1b44327a7.png">

[2017-10-19 18:00] #9971 closed

[2017-10-19 18:01] #9976 closed

[2017-10-19 18:51] dancabral commented on #9569
@smboser lets Not include the create a site on behalf of someone feature. thanks!

[2017-10-20 08:58] smboser opened #9980 "Error trying to save taxonomy term containing Basic Unicode characters"
This is continuation of #9458. Currently system is restricting users to enter all Unicode characters. It should allow Basic Unicode chars.

[2017-10-20 12:03] arijeetbannerjee commented on #9869
@Bilsi PR #9871 has been updated for review.

[2017-10-20 12:16] smboser commented on #9980
@Bilsi @tcheng001 It is fixed now.
All the basic unicode chars e.g. Chinese, Japanese and Hindi are supported now.
![image](https://user-images.githubusercontent.com/14976596/31820344-86f0ba02-b5be-11e7-8091-b8e75bb0421c.png)

Only the non-basic chars will be filtered out.
![image](https://user-images.githubusercontent.com/14976596/31820330-750c5436-b5be-11e7-9fde-0c6b343ac3f9.png)

PR #9981 has b

[2017-10-20 16:09] dancabral commented on #9928
@mallove it looks like the navigation class isnt being removed. Steps: start with Classic/list option - then switch to Menu (save) then switch to either Slide down (save) or Classic options (save). The navigation class isnt being removed. can you take a look? thanks.

[2017-10-20 16:37] Bilsi commented on #9812
@smboser - This does not seem to be working.  Can you take a look? Want to see if i can squeeze this into Monday's release

[2017-10-20 17:04] mallove commented on #9928
de2a866 sets the CSS classes like so:

| display type | Additional CSS classes  |
| -------      | ---------------------------------- |
| Classic      |                                    |
| Menu         | navigation                         |
| Slide down   | term-slider                        |

[2017-10-20 19:51] tcheng001 commented on #9980
Look good.  Mark "Fixed"
Basic Unicode characters are supported (e.g. Hindi, Chinese characters and Japanese Hiragana)
![screen shot 2017-10-20 at 3 47 29 pm](https://user-images.githubusercontent.com/2111600/31839302-7fabcc1a-b5ae-11e7-8050-f0d41bb4eb63.png)

[2017-10-21 11:51] #9869 closed

[2017-10-21 11:51] #9980 closed

[2017-10-23 13:08] smndey commented on #9559
@tcheng001
I have implemented delete request as per your direction. Let me know if you face any further issue.

![new screen](https://user-images.githubusercontent.com/1494203/31890196-ead4cc08-b81f-11e7-915b-bb8fd11f4161.gif)

[2017-10-23 13:34] #9868 closed

[2017-10-23 13:56] smndey commented on #9812
@Bilsi Are both of them not working ?

[2017-10-23 13:58] Bilsi commented on #9812
@smndey - no, just the cache or thats what we have noticed

[2017-10-23 14:01] openscholar-admin opened #9982 "Alt text no longer shows for images inside Embed Media widgets on my site"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/alt-text-no-longer-shows-for-images-inside-embed-media-widgets-on-my-site)

**The Plan**

Fix the bug so that alt title works correctly

**Description**

The alt text is still there, it just doesn't show on hover and my test screen reader doesn't pick it up. The alt text for the imag

[2017-10-23 14:18] arijeetbannerjee commented on #9955
Hi @rbran100,
 I am in a bit confusion here. That day in our conversation you suggest me not to add a new field instead of that use the existing filed biblio_date. Now when I am implementing the logic that way I am facing some issues as the field is a biblio module integrated field. The field has different mapping and data integrity issue as I am changing the default behavior of the field.

So can

[2017-10-23 14:29] smndey commented on #9812
@Bilsi I have tested in stage environment (https://staging.hwpi.harvard.edu/hghi). I am not able to reproduce it. It is working fine. Steps I have followed.
   1. Login as site owner and add new menu item.
   2. Visit the site (https://staging.hwpi.harvard.edu/hghi) in different browser as an anonymous user. I can't see the menu item.
   3. Logged in as site owner clear the cache form global setti

[2017-10-23 14:31] #9957 closed

[2017-10-23 14:55] mallove commented on #9441
Need to _later_ find out why `Book TOC widget` test passes on [SauceLabs](https://saucelabs.com/beta/tests/68ab341c12734e5e801e839188dea646/commands#0), but not [Travis](https://travis-ci.org/openscholar/openscholar/jobs/284742433#L3063).

[2017-10-23 14:57] dancabral commented on #9982
@smboser images in the embed media widget with alt and title text are being rendered. see.
![screen shot 2017-10-23 at 10 49 48 am](https://user-images.githubusercontent.com/867075/31896106-ed6cd404-b7e0-11e7-8a4a-6b05b6f42995.png)

[2017-10-23 15:34] openscholar-admin opened #9983 "File search in media browser library and browse files screen work differenty"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/file-search-in-media-browser-library-and-browse-files-screen-work-differenty)

**The Plan**

Fix filename search so that it works the same in the file browser as it does in the browse files screen

**Description**

Searching on a filename, or part of one, should return the same resul

[2017-10-23 15:39] dancabral commented on #9983
@smboser can you please look into the issue where file (filename) search seems to work differently between the media browser library and browse files screens?

[2017-10-23 17:32] mallove commented on #9441
Before:

<img width="400" alt="screen shot 2017-10-23 at 1 13 41 pm" src="https://user-images.githubusercontent.com/17302884/31903596-8b784146-b7f6-11e7-8cf9-a0d42cb8b272.png">

After:

<img width="402" alt="screen shot 2017-10-23 at 1 14 14 pm" src="https://user-images.githubusercontent.com/17302884/31903557-7020e31c-b7f6-11e7-892f-fc851970b4a6.png">

[2017-10-23 18:00] tcheng001 commented on #9441
See "\n" in many places. For example:
In full node view of event,
![screen shot 2017-10-23 at 1 50 29 pm](https://user-images.githubusercontent.com/2111600/31904516-813bc11e-b7f9-11e7-84bb-4f1546372576.png)

In full node view of person:
![screen shot 2017-10-23 at 1 57 00 pm](https://user-images.githubusercontent.com/2111600/31904785-37cd1df6-b7fa-11e7-8635-b47b89ca5b87.png)

In calendar page:
![s

[2017-10-24 10:06] smndey commented on #9983
@dancabral I am not able to reproduce it. I have tried following

![media browser](https://user-images.githubusercontent.com/1494203/31936859-6d16648c-b8d0-11e7-974c-49f683126df3.png)

![files-listing](https://user-images.githubusercontent.com/1494203/31936871-76e479d6-b8d0-11e7-82d1-eb5f23737478.png)

Please let me know the environment url.

[2017-10-24 13:03] tcheng001 commented on #9441
Mark "Fixed"
1. able to export single event
2. able to export multiple events from a site
3. able to export multiple events from another site
4. able to export to create a new calendar on google calendar
5. able to export to override the exist calendar on google calendar

[2017-10-24 13:13] smndey commented on #9982
@dancabral This has been fixed now. PR #9984 has been created for same.
![media-widget](https://user-images.githubusercontent.com/1494203/31944868-215417fe-b8eb-11e7-90b5-9a97c9adde48.jpg)

[2017-10-24 13:23] tcheng001 commented on #9559
@smndey
Content editor can still access "Delete",   did I miss something?  Could you take a look?
Tested on https://dev.scholar.harvard.edu/tcheng10
![screen shot 2017-10-24 at 9 19 01 am](https://user-images.githubusercontent.com/2111600/31945378-04fcd558-b89d-11e7-9a9f-a075111f7844.png)

[2017-10-24 13:36] rbran100 commented on #9982
looks like the media widget never showed the alt text but will now.

[2017-10-24 13:44] smndey commented on #9559
@tcheng001 Ok. Let me check that.

[2017-10-24 14:12] smndey commented on #9559
@tcheng001 Ok. I got it. Can you please clear your browser index db and try ?

[2017-10-24 14:21] tcheng001 commented on #9559
@smndey   Excellent!!  Thanks.

[2017-10-24 15:34] tcheng001 commented on #9559
Test case | Test description | Test result
------------ | ------------- | ------
1 | -| -
2 | -| -
3 | -| -
4| -| -
5 | -| -
6 | -| -
7 | -| -
8 | -| -
9 | -| -
10 | -| -
10 | -| -
10 | -| -
10 | -| -
10 | -| -
10 | -| -
10 | -| -
10 | -| -

[2017-10-24 16:41] tcheng001 commented on #9559
@dancabral    The functionalities of the new content page look good. You can do your part.

[2017-10-24 17:04] Bilsi commented on #9983
@smndey - Yu are not able to replicate it because the word new exists in both the display name and the original name. Try a word that exists only in the original name and it will not come up. It only searches against the first column

[2017-10-24 17:09] tcheng001 commented on #9982
Look good.  Mark "Fixed"
![screen shot 2017-10-24 at 1 03 53 pm](https://user-images.githubusercontent.com/2111600/31957318-64ac3d8a-b8bc-11e7-8f67-ed95b1765028.png)

[2017-10-24 18:37] #9982 closed

[2017-10-24 19:28] dancabral commented on #9937
[code]

[2017-10-24 20:16] rsasch commented on #9322
@Bilsi @rbran100 I can't move forward on this issue until I can set up a proper test environment.  I have been unable to set up a dev/stage installation where Google Analytics data is being collected via OS in the current method, so I can't compare that to data collected after the upgrade to make sure there is no data loss.

[2017-10-24 20:29] openscholar-admin opened #9985 "RSS Feed Reader widget not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/rss-feed-reader-widget-not-working)

**The Plan**

Fix the RSS Feed Reader widget so that it works correctly

**Description**

I added a feed:

[https://lamontlibrary.tumblr.com/rss](https://lamontlibrary.tumblr.com/rss)

Then added it to a Feed Reader widget on this page:

[https://

[2017-10-24 20:32] openscholar-admin opened #9986 "Faceted taxonomy sort order not correct for People"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/faceted-taxonomy-sort-order-not-correct-for-people)

**The Plan**

Fix the bug so that the faceted taxonomy sort order works correctly

**Description**

Faceted taxonomy sort order is not respecting the default sort for the People context, which is by A-Z by last name.

In this examp

[2017-10-24 21:02] rbran100 commented on #9955
@arijeetbannerjee that is correct, we are changing the default behavior.  You can always checkout the version of the code from the previous PR merge if you want to see how it was working then, it may provide a good template.

[2017-10-25 03:11] pollyolly opened #9987 "[$injector:unpr] Unknown provider"
[$injector:unpr] Unknown provider: FileEditorOpenModalProvider <- FileEditorOpenModal

[2017-10-25 10:34] smndey commented on #9983
@Bilsi This has been fixed now. PR #9988 has been created for review.

![file-step1](https://user-images.githubusercontent.com/1494203/31994361-0661e602-b99e-11e7-8986-7c752e9b53c5.png)
![file-step2](https://user-images.githubusercontent.com/1494203/31994362-06a78694-b99e-11e7-8585-13d124236997.png)
![file-step3](https://user-images.githubusercontent.com/1494203/31994363-07091dc8-b99e-11e7-9fcd-3f

[2017-10-25 13:34] #9917 closed

[2017-10-25 14:19] Bilsi commented on #9569
@smboser - can you for now have Harvard key default to true and proceed?

[2017-10-25 18:35] openscholar-admin opened #9989 "Table of Contents widget form: some wording is not correct"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/table-of-contents-widget-some-wording-is-not-correct)

**The Plan**

[coming soon]

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1665477/ScreenShot2017-10-25at12.46.50PM_inline.png?1508950105)](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1665477/Screen

[2017-10-25 21:06] rbran100 commented on #9822
@rsasch looks like there are several other contrib updates, is there somewhere where all of the modules updated in the branch is captured in one place for torman to see?

This updates from 7.54 to 7.58, for drupal core itself there does not look like a lot to test.
https://www.drupal.org/project/drupal/releases?api_version%5B%5D=103

[2017-10-26 07:50] smndey commented on #9566
@Bilsi Are you sure this https://docs.google.com/spreadsheets/d/1m9HRNLeLy7jY_bUwwWsDGJ2fg1pwvwrNE5RGA_UxggM/edit#gid=228003937  is the correct document ? because I can't see anything to SAML here. I can see Tickets_Released_23_Oct_2017.xlsx sheet only.

[2017-10-26 09:44] pollyolly opened #9990 "File not found when uploading using Media Browser: Angular Module"
After I restart apache lamp this error occurred when I try to upload a file. The files are not uploaded.
Console:
http://192.***.**.*/api/files/filename/thisisfile.png 404 (Not Found)

[2017-10-26 11:04] Bilsi commented on #9566
@smndey - No, it is not :)
Here you go - https://www.drupal.org/project/simplesamlphp_auth

[2017-10-26 12:18] arijeetbannerjee commented on #9955
@rbran100 ,
 I have implemented the logic using the field_biblio_pub_day field from field_data_field_biblio_pub_day table instead of using the biblio_date biblio module field. I have seen there is various places where biblio module is using the biblio_date field and I have gone through the previous PR to find their solution but no luck.
So I end up of using the  field_biblio_pub_day field.
Do you

[2017-10-26 13:22] arijeetbannerjee commented on #9955
@rbran100 ,
 I have implemented the logic using the field_biblio_pub_day field from field_data_field_biblio_pub_day table instead of using the biblio_date biblio module field. I have seen there is various places where biblio module is using the biblio_date field and I have gone through the previous PR to find their solution but no luck.
So I end up of using the  field_biblio_pub_day field.
Do you

[2017-10-26 13:34] rsasch commented on #9822
@rbran100 The contrib modules that have been modified can be seen by looking at the changes made to drupal-org.make (https://github.com/openscholar/openscholar/pull/9823/files#diff-d33a26b19c08f4bc0d27707f402d73ea). I updated contrib modules when it didn't break the build or cause tests to fail because the impetus to this update was someone inquiring about security updates to the view module, whic

[2017-10-26 13:38] Bilsi commented on #9566
@smndey - https://simplesamlphp.org/docs/stable/simplesamlphp-install - download and install this in a new PR.
I uploaded a username/password in the dropbox which is what you would need to use to test this once we get there.
Here is the IDP meta data url -
https://key-idp.stage.iam.harvard.edu/idp/shibboleth

[2017-10-26 14:05] mpetrovic commented on #9990
Clear your menu cache so it can be rebuilt. That is a url for duplicate checking.

[2017-10-26 14:08] smndey commented on #9566
@Bilsi Ok. Another quick question where we will place this library in our code base ? Generally/Acquia we keep the library outside drupal docroot and symlink or do some tweaks on .httaccess to get url like http://example.com/simplesaml this. I have locally setup it in a slimier way. Thanks.

[2017-10-26 14:17] mpetrovic commented on #9566
Can you put it in a subdir of the drupal module? And then use the .htaccess in the root of the repo to do whatever you need to get that kind of url working.

[2017-10-26 14:25] smndey commented on #9566
@mpetrovic I will check. Thanks.

[2017-10-26 15:41] mallove commented on #9866
The only remaining test failure here is [another ticket in progress](https://github.com/openscholar/openscholar/issues/9961) (_Test case media_browser.feature: 232 is failing_).

https://travis-ci.org/openscholar/openscholar/builds/289982719

[2017-10-26 16:01] mallove commented on #9965
The only remaining test failure here is [another ticket in progress](https://github.com/openscholar/openscholar/issues/9961) (_Test case media_browser.feature: 232 is failing_).

https://travis-ci.org/openscholar/openscholar/builds/289626677

[2017-10-26 16:02] mallove commented on #9965
Pull request: https://github.com/openscholar/openscholar/pull/9991

[2017-10-26 16:57] dancabral commented on #9989
@Bilsi I made this label change directly in 3x here https://github.com/openscholar/openscholar/commit/38a6dda3fa1cebd75b2852871ef92f2c5fbb4533

[2017-10-26 17:10] openscholar-admin opened #9992 "Unable to add hyperlink in WYSIWYG"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-add-hyperlink-in-wysiwyg)

**The Plan**

Fix the bug so that a content editor can add hyperlink

**Description**

Some users are getting a "not authorized" error message when clicking on the link icon in the  WYSIWYG.

This user is a Content Editor role and see's this:

[![

[2017-10-26 18:36] openscholar-admin opened #9994 "Mailing List widget (Link) : Subscription form is wider than the modal"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/mailing-list-widget-link-subscription-form-is-wider-than-the-modal)

**The Plan**

Fix appearance of the mail form.

**Description**

It only happens when Display is set to "Link".

Steps to reproduce:

1. Go to [https://scholar.harvard.edu/torman_pe...](https://scholar.harvard.edu/t

[2017-10-26 18:49] openscholar-admin opened #9995 "? from "Build Taxonomy" page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-from-build-taxonomy-page)

**The Plan**

Fix description text

**Description**

Wondering what this sentence from the "Build Taxonomy" page means:

"Should terms be created on advanced or may be created on the fly, when adding / editing a post." I'm guessing that it is supposed to r

[2017-10-26 18:56] dancabral commented on #9995
@Bilsi this is fixed in 3x in this commit https://github.com/openscholar/openscholar/commit/c44d3c91bfab9bd4bf6fb9c05ff82d945413260a

[2017-10-26 19:00] #9995 closed

[2017-10-26 19:03] tcheng001 commented on #9983
Mark "Fixed"
Testing in https://dev.scholar.harvard.edu/gking
search "amicus" in content/files page, 2 files found
![screen shot 2017-10-26 at 2 55 20 pm](https://user-images.githubusercontent.com/2111600/32071595-bd0c5030-ba5d-11e7-9948-e8680cab656d.png)

search "amicus" in media browser, 2 same file found
![screen shot 2017-10-26 at 2 55 20 pm](https://user-images.githubusercontent.com/2111600/3

[2017-10-26 19:12] #9983 closed

[2017-10-27 06:19] pollyolly commented on #9990
I tried to truncate all cache in cache_* that includes cache_menu. The error still there when I try to upload file.
Here is the sample image:
http://uploads.im/48rP6.png

[2017-10-27 07:58] pollyolly commented on #9990
Hello I think I found the problem.
I replace this line:
if (Drupal.settings.spaces) {
          url += '?vsite=' + Drupal.settings.spaces.id;
}
with:
if (Drupal.settings.spaces) {
          url += Drupal.settings.spaces.id;
}

[2017-10-27 09:36] pollyolly opened #9996 "Missing Bio/CV in Build -> Enable/Disable Apps"

[2017-10-27 11:54] #9441 closed

[2017-10-27 15:06] mpetrovic commented on #9990
No, you just broke it in a different way. It won't check for filename collisions in the right folder like that. The existence of query parameters doesn't change which function handles the request.

[2017-10-27 18:07] tcheng001 commented on #9955
After deployed to dev.scholar, it failed to run  'drush @scholar.dev cc all'

[code]
@arijeetbannerjee   @smboser     Can you take a look?    Mark "Pending"

[2017-10-27 19:15] dancabral commented on #9994
this is ready for QA @tcheng001. should see
![screen shot 2017-10-27 at 3 11 43 pm](https://user-images.githubusercontent.com/867075/32121216-aeb2f68e-bb29-11e7-91a9-bcb503159314.png)

[2017-10-27 22:02] Bilsi commented on #9955
@tcheng001- Fixed it. It is all ready for QA in scholar staging.

[2017-10-30 12:00] openscholar-admin opened #9997 "Download Citations appears more than once in /publications page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/download-citations-appears-more-than-once-in-publications-page)

**The Plan**

Download citations should only appear once at the top

**Description**

Actually, only the one at the top works as expected. The rest of them are redundant.

Steps to reproduce:

1. Set Long List Display t

[2017-10-30 13:03] tcheng001 commented on #9955
@arijeetbannerjee   @smboser  Mark "Pending"
Some options are not working in publications form. Can you take a look?
We deployed the PR to staging.scholar.  I tested it on https://staging.scholar.harvard.edu/tcheng10/publications.  Am I still missing something?
![screen shot 2017-10-30 at 9 01 20 am](https://user-images.githubusercontent.com/2111600/32172207-3905e656-bd51-11e7-9c29-93a69914f7bc.pn

[2017-10-30 13:16] openscholar-admin opened #10000 "Presentation slides issues"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/presentation-slides-issues)

**The Plan**

Fix the presentation labels to include the changes mentioned below

**Description**

In presentation form, there is a help text (.ppt, pptx and .pdf) underneath Presentation Slides field.

1. I think it should include pps and ppsx (because t

[2017-10-30 13:43] smndey commented on #9566
@Bilsi PR #9998 created. Now we need to complete following action to start initial testing.

  1. Deploy this branch into one of our environment (Let me know which environment is available for testing.)
  2. Post deploy simplesaml client will be available in this url http://{{HOST}}/profiles/openscholar/modules/simplesamlphp/www/  (We have to create a shortened url. I am working on this.)
  3. We

[2017-10-30 13:49] Bilsi commented on #9566
@smndey - Yes, you can use hwpi staging to test. Did you get the test HKey in the dropbox?
Let me know the metadata and i will share it with the IAM group.
Also, all the configs that you plug in from the IDP should be configurable, so that we can just change the config when we add a new school

[2017-10-30 13:56] smndey commented on #9566
Yes.

You mean we need to save the configuration in Drupal database ?

[2017-10-30 14:28] tcheng001 commented on #9994
Mark "Fixed"
1. Form looks good.
![screen shot 2017-10-30 at 10 27 47 am](https://user-images.githubusercontent.com/2111600/32176069-030fc952-bd5d-11e7-876c-af8b6b60e52a.png)

2. Mail Listing widget works as before.

[2017-10-30 15:08] mallove commented on #9997
![dont-show-redundant-download_citations-link](https://user-images.githubusercontent.com/17302884/32178252-a7d91786-bd62-11e7-8a8d-68fdcd156e58.gif)

[2017-10-30 15:15] Bilsi commented on #9566
@smndey - The value for harvard installs should be in the hwpi module

[2017-10-30 16:14] dancabral commented on #10000
@mallove the plan is this:
1) add pps and ppsx to the list of file types already mentioned in the rectangle in the first screen above
2) When uploading presentation files via the media browser can you add ppt, pptx, pos ppsx and pdf to the list seen in the allowed list in the second screen shot above.
3) Can you look into if we can move the attached file field so that its below the body field in t

[2017-10-30 17:58] mallove commented on #10000
Before:

<img width="176" alt="screen shot 2017-10-30 at 1 55 10 pm" src="https://user-images.githubusercontent.com/17302884/32187069-46806792-bd7a-11e7-9546-789d319d7c6e.png">

After:

<img width="178" alt="screen shot 2017-10-30 at 1 54 12 pm" src="https://user-images.githubusercontent.com/17302884/32187070-468974fe-bd7a-11e7-8c82-7526a97c6152.png">

[2017-10-30 18:03] mallove commented on #10000
@dancabral, I don't have a white list in my media browser dialog (from `scholar.harvard.edu`):

<img width="684" alt="screen shot 2017-10-30 at 2 00 29 pm" src="https://user-images.githubusercontent.com/17302884/32187298-0475a794-bd7b-11e7-9c2c-c23e161f529e.png">

What host/site are you on?

[2017-10-30 21:13] Bilsi commented on #9955
@tcheng001 - Just deployed the PR in staging scholar. I do not see the issues you mentioned above, can you double check?

[2017-10-31 11:40] smboser commented on #9973
@dancabral @Bilsi Its fixed now. Description and title both can be seen from the gallery page lightbox too. PR #9999 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/32222221-6b051146-be5e-11e7-8ce1-b028b6f380df.png)

[2017-10-31 12:34] smndey commented on #9566
@Bilsi
Presently I have deployed this branch into dev.projects.iq.harvard.edu due to unavailability of hwpi stage environment. I am able to access this (http://{{HOST}}/profiles/openscholar/modules/simplesamlphp/www/) url in my local environment but in acquia it's not working probably due to .httacces rules.  We can check by running following command in that environment to access simplesaml client

[2017-10-31 13:52] tcheng001 commented on #9559
Mark "in dev" and pass to @dancabral

[2017-10-31 14:18] #9955 closed

[2017-10-31 14:33] arijeetbannerjee commented on #9583
@mpetrovic -  Do we need to remove all the hard coded URLs where harvard is mentioned and along with that do we also need to remove from the codebase wherever 'Harvard' is mentioned as referred by @RoySegall in the [comment](https://github.com/openscholar/openscholar/issues/9583#issuecomment-303362749) .
please refer to the screenshot provided.
![capture](https://user-images.githubusercontent.com/

[2017-10-31 14:35] Bilsi commented on #9566
@smndey - Why is hwpi staging not available?

[2017-10-31 14:52] tcheng001 commented on #10000
@mallove
1.  Please restore the location of Presentation Slides.  We want to move attach files (not Presentation Slides)
2. If there are taxonomy terms, place them at the very bottom.
3. long2.txt should not be allowed as Presentation Slides.
![screen shot 2017-10-31 at 10 35 06 am](https://user-images.githubusercontent.com/2111600/32230436-8d3b3c2a-be29-11e7-812d-3682d1b7b9a0.png)

 4. help text

[2017-10-31 14:54] smboser commented on #9566
@Bilsi We are encountering some .htaccess error in both dev and staging hwpi (occurring for SCHOLAR-3.x too)

[2017-10-31 14:59] rbran100 commented on #9566
I do not see the "www" folder in that directory @smndey what should I expect there?

/docroot/profiles/openscholar/modules/simplesamlphp$ ls -l
total 176
dr-xr-s---  2 www-data hwpi1  4096 Oct 31 07:30 attributemap
dr-xr-s---  2 www-data hwpi1  4096 Oct 31 07:30 bin
-r--r-----  1 www-data hwpi1  2330 Oct 31 07:30 composer.json
-r--r-----  1 www-data hwpi1 62800 Oct 31 07:30 composer.lock
dr-xr-s--

[2017-10-31 15:41] #9812 closed

[2017-10-31 18:56] mallove commented on #10000
Test case showing accepted file extension (PDF) and unaccepted file extension (JPG):

![enforce](https://user-images.githubusercontent.com/17302884/32243413-8d77162e-be4b-11e7-967b-6ca73332935d.gif)

[2017-10-31 21:15] #9997 closed

[2017-11-01 04:09] smndey commented on #9566
@rbran100 My bad. Actually git ignore "www" folder during commit. I will check reason that. Thanks.

[2017-11-01 07:31] smndey commented on #9566
@rbran100  I can see that we have "www" in our .gitignore file. Do you have any idea in what circumstances we need that "www" to be excluded ?

[2017-11-01 15:14] rbran100 commented on #9566
That is there to keep the docroot from getting committed.  you can force it of you like since that is not the case here.

[2017-11-01 16:20] tcheng001 commented on #10000
- [ ] 1. The /presentation page looks good but node full view still has problem. The order of fields is incorrect.
![screen shot 2017-11-01 at 12 16 20 pm](https://user-images.githubusercontent.com/2111600/32284789-a576a704-befe-11e7-9e82-3ba318c30065.png)

- [ ] 2. Help text for allowed file type is still incorrect.
![screen shot 2017-11-01 at 12 18 22 pm](https://user-images.githubusercontent.co

[2017-11-01 20:32] mallove commented on #10000
Fix allowed file types in tool tip:

<img width="642" alt="screen shot 2017-11-01 at 4 26 04 pm" src="https://user-images.githubusercontent.com/17302884/32296247-18b453ce-bf22-11e7-999c-cfc53de94f4c.png">

Gray out disallowed file types in file upload dialog:

<img width="550" alt="screen shot 2017-11-01 at 4 26 26 pm" src="https://user-images.githubusercontent.com/17302884/32296248-18be695e-bf22-

[2017-11-02 07:07] smndey commented on #9566
@rbran100 I have added "www" folder into git by force. My firewall issue also get resolved. Now I can SSH to the server.  I can see "www" folder here
`ls -l/mnt/www/html/hwpi2.test/docroot/profiles/openscholar/modules/simplesamlphp/`

Now I have encountered into a strange issue. I am getting 500 error. I have checked apache error log it says that something wrong with our docroot .httaccess file an

[2017-11-02 13:23] smboser commented on #9973
@mpetrovic Made the change. PR #9999 has been updated for review.

[2017-11-02 15:21] Bilsi commented on #9566
@smndey - Fixed it, let me know if you still see any issues

[2017-11-02 15:52] rsasch commented on #9992
Looks like the "insert link into wysiwyg" permission was not set correctly:
<img width="1035" alt="screen shot 2017-11-02 at 11 49 03 am" src="https://user-images.githubusercontent.com/1713505/32335865-3a1d5d10-bfc4-11e7-8f11-8337c9754225.png">

[2017-11-02 15:52] #9992 closed

[2017-11-02 18:18] mallove commented on #10000
Reponse to *pending*: https://github.com/openscholar/openscholar/pull/10002#discussion_r148619085

[2017-11-02 19:56] smndey commented on #9566
@Bilsi It's working now. Thanks.

[2017-11-02 21:01] dancabral commented on #9928
@tcheng001 this is ready for QA. I would test in a variety of scenarios.
1) Using the regular taxonomy widget, select Slide down as the Display style.
2) Dragged into the following regions, it should still look ok--should not be any weird spacing, overlapping, etc.
a. One page theme > front page content region
b. Non one page themes > any content region
b. Any theme > sidebar region
3) Switch betw

[2017-11-03 07:55] smndey commented on #9566
@Bilsi .httaccess issue was resolved. However I am getting php parse error from files that I have committed into git. Again same issue but this time with my saml files .

![resolve commit](https://user-images.githubusercontent.com/1494203/32364296-0b5fca86-c09a-11e7-947a-eda87a7c6a4d.png)

 I have no idea on this. Can you please take look on this ?

[2017-11-03 14:26] Bilsi commented on #9566
@smndey - Which files have the above conflicts?

[2017-11-03 14:34] tcheng001 commented on #9928
@dancabral
- [ ] 1. Save and Cancel button disappear when Select List is set.
![screen shot 2017-11-03 at 10 29 13 am](https://user-images.githubusercontent.com/2111600/32378799-0bf20b8e-c082-11e7-90f8-b4c6d6a0ab3d.png)

- [ ] 2. Help text for "Show term descriptions" is placed in the wrong place ??
![screen shot 2017-11-03 at 10 31 37 am](https://user-images.githubusercontent.com/2111600/32378956

[2017-11-03 15:19] smboser commented on #9569
Status: Password meter is integrated. Also necessary modifications in registration is done. User now will be able to register himself while creating a site. Below is the current interface.
![image](https://user-images.githubusercontent.com/14976596/32380955-74fbb85a-c0d7-11e7-945f-50c39fb83bdc.png)
Till now I was considering all users as don't have OS account but Harvard key. So, this registration

[2017-11-03 16:34] #9961 closed

[2017-11-03 16:34] Bilsi commented on #9961
Tests in 3.x are passing

[2017-11-03 17:08] mpetrovic commented on #9583
That code is for sending e-mails out. I think it should be moved to the hwpi module.

All of the functions that were moved to hwpi_basetheme were for functionality unique to those themes, so it makes sense for them to be there.

os_shields should have a set of files that are Harvard shields. You need to make it so that those files don't show up automatically on new installs, and can't be selected.

[2017-11-03 18:37] tcheng001 commented on #9986
Failed to re-index on dev.scholar.harvard.edu.   Mark Pending.

[2017-11-03 18:55] mallove commented on #10000
Pending https://github.com/openscholar/openscholar/pull/10002#discussion_r148867692

[2017-11-03 20:44] Bilsi opened #10005 "Feed reader widget"
http://community.openscholar.harvard.edu/openscholar/topics/rss-feed-reader-widget-not-working

[2017-11-03 20:56] mpetrovic commented on #9569
Interaction with the pinserver is handled in the pinserver and pinserver_authenticate modules, which are in contrib. You can replace the parts of those modules that redirect to pinserver and return testing values.

[2017-11-06 06:09] smndey commented on #9566
@Bilsi   Mostly on new committed saml files. Couple of example here.
 cat /mnt/www/html/hwpi2stg/openscholar/openscholar/modules/simplesamlphp/www/index.php
 cat /mnt/www/html/hwpi2stg/openscholar/openscholar/modules/simplesamlphp/www/index.php

[2017-11-06 06:23] pollyolly commented on #9996
Hello? May I know why Bio/Cv removed? Or Its just not showing?

[2017-11-06 13:54] arijeetbannerjee commented on #10005
Hello @Bilsi
 Here in the Openscholar the feed reader widget is using a Yahoo parser for reading the RSS feed. Every RSS feed generating and sending a YQL request to yahoo api server to process. The feed URL which is not working is because yahoo can not able to parse the feed URL and giving a connection failure.

We have tried to construct the YQL by using 2 different feed URL from the mentioned s

[2017-11-06 14:09] arijeetbannerjee commented on #9583
@mpetrovic - I am attaching an excel file what I find related to havard in other modules ( Vsite , os_features, cp )
Would you please verify and let me know?

[harvard ref..xlsx](https://github.com/openscholar/openscholar/files/1446416/harvard.ref.xlsx)

1. If I need to remove the harvard references by saving them as variables? Then where to declare those variables?
2. Regarding the os_shield , in

[2017-11-06 15:23] openscholar-admin opened #10006 "Unable to access full post page when posts are displayed in slider mode"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-access-full-post-page-when-posts-are-displayed-in-slider-mode)

**The Plan**

Fix the bug so that the whole page displays correctly

**Description**

Here is an example, [https://scholar.harvard.edu/torman_pe...](https://scholar.harvard.edu/torman_personal/faq), both FAQ 00

[2017-11-06 15:56] mallove commented on #9928
*Display type* is supposed to disappear (per 1f819e583df and https://github.com/openscholar/openscholar/issues/8010), but the *Save* and *Cancel* buttons should remain.

[2017-11-06 16:01] mpetrovic commented on #9583
1. Those variables will either be set in settings.php or exported to a university-specific module. You can export them to the hwpi module, since that will be the university-specific module for Harvard once these changes are done.

2. The shields should already be stored somewhere within the normal Drupal file system. If they aren't, write an update to put them there, then the hard-copies in the re

[2017-11-06 16:20] Bilsi opened #10007 "Content editor and Administrator now has "Insert link into wyziwyg" permissions unchecked"
In Members and Roles --> Permissions --> the default permissions seems to have a bug. The "Insert link into wysiwyg" should be checked by default for Basic Member, Administrator and Content editor.
Can you please write an update to fix this?

[2017-11-06 18:41] Bilsi commented on #9566
@smndey - yes, there are conflicts in the docroot folder. I have uploaded it to the dropbox, can you fix it and i can update it

[2017-11-06 18:53] mpetrovic commented on #9996
It was removed some time ago for being redundant. All of its functionality
could be achieved with a normal page.

[2017-11-06 19:58] Bilsi opened #10008 "hwpi install email incorrect"
The email is pointing to hwp@openscholar.harvard.edu instead of hwp@harvard.edu
Can we fix this so that when a user creates a site, an email is sent from the correct email - hwp@harvard.edu

[2017-11-07 02:02] pollyolly commented on #9996
Thank you for answering my question. I hope this will answer other question regarding this. I will tell this to my boss. Thank you.

[2017-11-07 02:02] #9996 closed

[2017-11-07 09:31] smndey commented on #9566
@Bilsi I have the checked the docroot folder. I don't see any conflicts in docroot files. Conflicts are in these files
 /mnt/www/html/hwpi2stg/openscholar/openscholar/modules/simplesamlphp/www/index.php, /mnt/www/html/hwpi2stg/openscholar/openscholar/modules/simplesamlphp/www/_include.php

Above files are missing in present docroot folder because profile openscholar is a soft link to other folder

[2017-11-07 13:08] smboser commented on #9569
@mpetrovic Thanks for your help.
@dancabral I am done with the changes. Currently form is looking like below
![image](https://user-images.githubusercontent.com/14976596/32495211-bb89b004-c3ea-11e7-898a-5d170dc72ccb.png)

I am currently working on the few test cases which are failing due to change in interface. After that I will put it for review.

[2017-11-07 13:16] smboser commented on #10008
@Bilsi  -  In the [commit]( https://github.com/openscholar/openscholar/commit/da138d59b414e39bb3a8b7a561d879cb0be5972b) the update version  remain unchanged, may be it didn't run properly. I have updated the number along with that changed the the 'vsite_register_admin_mail' aslo to 'hwp@harvard.edu'. After running update.php the from address is 'hwp@harvard.edu'. I have attached the screenshot.
![

[2017-11-07 14:15] tcheng001 commented on #9986
trying to re-index dev.scholar again.

[2017-11-07 14:46] arijeetbannerjee commented on #10005
@Bilsi At this moment we are not changing anything. We are trying to find out the root cause. Basically the yahoo api used in code to parse RSS feeds is throwing error message for this particular feed. There is a interface provided by Yahoo where we can run YQL and check about the returns. All the feeds are showing expected results except that one. It is showing connection error: 307.
But there is

[2017-11-07 14:47] mallove commented on #9928
![selectselectwidgettypehidesdisplaytype](https://user-images.githubusercontent.com/17302884/32499423-866bb9e8-c3a0-11e7-9a69-875c6cb7e348.gif)

[2017-11-07 15:08] mallove commented on #9866
Clean run: https://travis-ci.org/openscholar/openscholar/builds/298317369

[2017-11-07 15:08] mallove commented on #9965
Clean run: https://travis-ci.org/openscholar/openscholar/builds/298310844

[2017-11-07 15:53] tcheng001 commented on #9986
Tested on https://dev.scholar.harvard.edu/tcheng10/people
Found something odd.  The counts showed in Faceted Taxonomy widget are different from those in Taxonomy widget.  I made both Faceted Taxonomy widget (only select one vocab "color") and Taxonomy widget (only select People) simple. Thus, the counters showed in Faceted Taxonomy widget should be the same as those showed in Taxonomy widget.
![sc

[2017-11-07 16:02] tcheng001 commented on #10008
@smboser   Failed to run update.  Could you take a look?
These are what I did
1. Deploy 3.x to dev.hwp
2. Copy DB from prod to dev.hwp
3. Deploy this PR to dev.hwp
4. Run update
`Fatal error: Cannot redeclare hwpi_update_7011() (previously declared in /mnt/www/html/hwpi2dev/openscholar/openscholar/modules/harvard/hwpi/hwpi.install:136) in /mnt/www/html/hwpi2dev/openscholar/openscholar/modules/harv

[2017-11-07 16:49] Bilsi commented on #10008
@tcheng001 - Can you try now?

[2017-11-07 17:37] smndey commented on #9566
@rbran100 It's not completely fixed. Can you please check this file `cat /mnt/www/html/hwpi2.test/docroot/profiles/openscholar/modules/simplesamlphp/www/_include.php`?

Same issue. Also it will be great if you can share knowledge how did you fix it ? I can't edit the files as it was asking me enter sudo user password that I don't have. Thanks.

[2017-11-07 18:12] tcheng001 commented on #10008
Look good. Mark "Fixed"
In Scholar:
![screen shot 2017-11-07 at 1 10 41 pm](https://user-images.githubusercontent.com/2111600/32510036-38679434-c3bd-11e7-9a4e-27417251ea43.png)

In HWP:
![screen shot 2017-11-07 at 12 43 13 pm](https://user-images.githubusercontent.com/2111600/32509870-ade1da5e-c3bc-11e7-92a0-2625bef674ab.png)

[2017-11-07 18:12] rbran100 commented on #9566
There is a seperate repo that is used to update the servers, it almost always mirrors what is in openscholar but in this case was littered with conflicts, I fixed them all I think.  Can you take a look now?

Unfortunately there is no direct access to the repo since it can directly influence productions code, I am sure that is not a liability you are interested in :-)

I don't think it makes since

[2017-11-07 18:17] #10008 closed

[2017-11-07 18:32] smndey commented on #9566
@rbran100 Excellent. It's working fine now. Thanks.

[2017-11-07 18:56] mallove commented on #10000
Pending: https://github.com/openscholar/openscholar/pull/10002#discussion_r149454972

[2017-11-07 19:21] tcheng001 commented on #9973
Mark "Fixed"
1. Now, users can open lightbox to view media files from both listing page and full node view. Make sure that "Show title and description" is checked.
![screen shot 2017-11-07 at 2 20 32 pm](https://user-images.githubusercontent.com/2111600/32513046-e77c299a-c3c6-11e7-8d23-d116c0b7b4c1.png)

2. Media Gallery functions as before.

[2017-11-07 19:32] #9973 closed

[2017-11-07 19:53] #9965 closed

[2017-11-07 21:00] rsasch commented on #9986
@tcheng001 Is this count difference only there when the code is on the `9986-people_facet` branch or also there on the main branch?

[2017-11-08 03:13] tcheng001 commented on #9986
Here is an example in production. https://scholar.harvard.edu/tcheng10/people/color/red
It seems that what I mentioned in the previous comment is a regression issue.
![screen shot 2017-11-07 at 10 10 30 pm](https://user-images.githubusercontent.com/2111600/32529844-bc412ed2-c408-11e7-946f-e10da522c476.png)

[2017-11-08 13:00] smboser commented on #10007
@Bilsi PR #10010 has been created for review.

[2017-11-08 14:59] smboser commented on #9583
@mpetrovic I have created a new PR #10011, you can check our progress there let us know whether we are in correct way. I didn't push it to your commit. If it is ok then we can merge later.

I still have few queries

Though I am putting these on hwpi module, but is it possible in some scenarios that a vsite can be run by disabling the HWPI module? I am asking because in our default database I found

[2017-11-08 17:15] mallove commented on #10000
Pending: https://github.com/openscholar/openscholar/pull/10002#discussion_r149735855

[2017-11-08 17:26] mpetrovic commented on #9583
Yes. It is an explicit requirement that hwpi not be necessary for a vsite or theme to function. The intention is that every university has a module of similar scope to the hwpi module. It will contain variable exports and tweaks exclusive to a single university.

If the shields are in the files directory and nowhere else in the repo, then its fine. You don't need to do anything more there.

[2017-11-08 21:58] dancabral commented on #9928
@mallove can you have a look at these issues? to reproduce this.

1) start with your instance running the 3x branch
2) Create 2 taxonomy widgets.
 a. The second taxonomy widget saved with the display as menu checkbox checked. Drag it into the layout > Save.
 b. One set to display as the default (menu checkbox Not checked). Drag it into the layout > Save.
3) Switch your instance to the 9928 branch

[2017-11-09 10:21] smndey commented on #9566
@Bilsi
Here is the saml sp metadata url, http://staging.hwpi.harvard.edu/profiles/openscholar/modules/simplesamlphp/www/module.php/saml/sp/metadata.php/default-sp

You can also get it from here as well, http://staging.hwpi.harvard.edu/profiles/openscholar/modules/simplesamlphp/www/module.php/saml/sp/metadata.php/default-sp?output=xhtml

Please share the above sp metadata with idp provider and let

[2017-11-09 11:49] arijeetbannerjee commented on #10005
Hello @Bilsi,
  We have found the probable root cause why the Tumblr RSS Url is not working. We have tested with various Tumblr profile URL and we found that the profiles which are using https:// is not working and the http:// profiles are working.

Here are some profiles I have tried with:
Working:
http://hd.clarin.com/rss
http://just-shower-thoughts.tumblr.com/rss
http://whitemenwearinggooglegla

[2017-11-09 14:17] arijeetbannerjee commented on #9583
@mpetrovic Thanks for clarifications. However I still have some more queries. Here are those

1. What should be done to the Harvard references in user documentation file in README.md files?
![readmetxt](https://user-images.githubusercontent.com/26901665/32609681-7d5ac74e-c586-11e7-879c-46d3942a1c5c.PNG)

2. There are titles, subtitles and descriptions regarding professors mentioning the designatio

[2017-11-09 14:48] mpetrovic commented on #9583
1. Does that link still work? It looks really old and is probably either defunct or very outdated. WE'll be moving all of our user documentation to a new site, at doc.openscholar.com, so all of those links should point to there. I would come back to this later.

2. That instance is fine, because its an example of what goes in that field. It's not related to Harvard branding.

3. I think this is fi

[2017-11-09 14:50] Bilsi commented on #9583
@arijeetbannerjee - yes, it is not part of Harvard branding, so it can stay there, thanks for checking

[2017-11-09 16:13] openscholar-admin opened #10012 "Break tag not working when not in paragraph tag"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/break-tag-not-working-when-not-in-paragraph-tag)

**The Plan**

Fix the bug so that the break tag works correctly

**Description**

The teaser list is not respecting the ```&lt;!--break--&gt;``` tag when it not within a paragraph tag.

The WYSIWYG doesn't always add it within paragra

[2017-11-09 16:15] openscholar-admin opened #10013 "Publications Settings : "Learn more about publications" link redirects to incorrect place"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publications-settings-learn-more-about-publications-link-redirects-to-incorrect-place)

**The Plan**

Redirect the publication doc url to the correct place

**Description**

Now, it redirects to the install's front page. It should redirect to "[https://docs.openscholar.harvard.edu/..

[2017-11-09 16:56] Bilsi commented on #9566
@smndey - Thanks so much. I have emailed the Harvard IAM team and will let you know as soon as I hear back.

[2017-11-09 17:44] openscholar-admin opened #10014 "Massachusetts Hall address at bottom of event sign-up email"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/massachusetts-hall-address-at-bottom-of-event-sign-up-email)

**The Plan**

Improve look of the footer area with better description and a background colored div.

**Description**

When a user signs up for an event, the user receives a confirmation email.

There is an address at the b

[2017-11-09 20:15] mallove commented on #9928
Remove @mallove after committing these:

https://github.com/openscholar/openscholar/issues/9928#ref-commit-80ffcb3
https://github.com/openscholar/openscholar/issues/9928#ref-commit-c7f5608
https://github.com/openscholar/openscholar/issues/9928#ref-commit-7501fe8

[2017-11-09 20:35] #10013 closed

[2017-11-09 22:02] dancabral commented on #9928
@mallove we're almost there. the only remaining issue that I can see is that an existing (prior to the new code) taxo widget set to display as menu, is missing the navigation class in the markup.
![asmenu](https://user-images.githubusercontent.com/867075/32631920-b9a3e7ce-c56f-11e7-943b-f1804a1e25d8.png)

[2017-11-09 22:22] mallove commented on #9866
Clean run: https://travis-ci.org/openscholar/openscholar/builds/299847815

[2017-11-10 11:01] smboser commented on #9569
Clean run: https://travis-ci.org/openscholar/openscholar/builds/299730712.

PR #9611 has been updated for review.

[2017-11-10 11:15] smboser commented on #10012
@Bilsi It was not due to the paragraph tags. There should be anything before the break tag in order to work it properly. Now I have modified it. It will work even it is now placed at the beginning of the content.
PR #10015 has been created for review.

![image](https://user-images.githubusercontent.com/14976596/32656016-22a46980-c636-11e7-81ce-13574bf19330.png)
![image](https://user-images.githubu

[2017-11-10 14:09] arijeetbannerjee commented on #9583
@Bilsi @mpetrovic I am working on the changes to convert those to variable from the constants. I have one more query. Is it require to replace harvard key reference? If yes, then what should be the procedure.
![havardkey](https://user-images.githubusercontent.com/14976596/32661948-d2110a14-c64e-11e7-8804-787dd3afaf1d.PNG)

[2017-11-10 17:34] Bilsi commented on #10000
@smboser - I have to release the resource who worked on this, can you take this over and complete it. I do not believe we have a lot left to do

[2017-11-10 17:35] openscholar-admin opened #10016 "Filter Profiles by Last Name widget not functioning for us"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/filter-profiles-by-last-name-widget-not-functioning-for-us)

**The Plan**

Figure out what the widget being used is and fix it

**Description**

Widget to "filter profiles by alphabetical groupings of last names" not functioning, message given is URL may have changed , try again or v

[2017-11-10 17:36] Bilsi commented on #10016
@smboser - We are out today, so I have not had a chance to look at this ticket. Can you see what widget they are using and if it is an OS offered widget fix the bug?

[2017-11-10 23:04] Bilsi opened #10017 "Last updated not always showing up under publications"
If you look at the bottom of this page - https://gking.harvard.edu/publications/while-human-subjects-training-teaches-you-law-it-misleads-you-about-politics-some
it shows last updated, but it does not show up here - https://gking.harvard.edu/media

Can we make sure that it displays on all publications? Last updated should be the creation date for newly added publications

[2017-11-10 23:39] mpetrovic commented on #9583
That should be replaced with a hook implementation in the pinserver module. This module is in a separate repo (https://github.com/openscholar/pinserver) which would need a separate PR.

[2017-11-13 11:49] arijeetbannerjee commented on #10017
Now if the publication is new it's displaying the date as Created on and updated date is the way it was previously.
PR #10018 has been created for review.

[2017-11-13 12:22] smndey commented on #10016
@Bilsi This now fixed. PR #10019 has created for review.

Test   Case | Expected Result | Status
-- | -- | --
Filter By Last Name [A-E] | Redirected to people/glossary/a,b,c,d,e and show the list with last name filter by [A-E] | Pass
Filter By Last Name [F-J] | Redirected to people/glossary/f,g,h,i,j and show the list with last name filter by [F-J] | Pass
Filter By Last Name [K-O] | Redirected to

[2017-11-13 12:23] smndey commented on #10016
@Bilsi This now fixed. PR #10019 has created for review.

Test   Case | Expected Result | Status
-- | -- | --
Filter By Last Name [A-E] | Redirected to people/glossary/a,b,c,d,e and show the list with last name filter by [A-E] | Pass
Filter By Last Name [F-J] | Redirected to people/glossary/f,g,h,i,j and show the list with last name filter by [F-J] | Pass
Filter By Last Name [K-O] | Redirected to

[2017-11-13 15:10] #10017 closed

[2017-11-13 15:34] smboser commented on #10007
@tcheng001 @Bilsi Currently this pop-up can be closed by pressing "Escape" key like any other popups of editor. Do you want something different than this? Please let me know what should be there, a close button like the popup have permission or cross (X) at top right?

[2017-11-13 15:35] Bilsi commented on #10007
@smboser - Yes, can we have an X at the top right corner. Is it possible to do it before you leave, would like to release this today

[2017-11-13 15:45] smboser commented on #10007
@Bilsi It will take some time. I even don't know how it will be possible. Because no plug-in screen from editor has got such option currently. So I need to check first in details.

[2017-11-13 18:02] #10012 closed

[2017-11-13 18:23] tcheng001 commented on #10016
Look good.  Mark "Fixed"
All groups work as expected in "Filter By Alphabetical Grouping Of Last Name"
![screen shot 2017-11-13 at 1 21 39 pm](https://user-images.githubusercontent.com/2111600/32741904-ccce6258-c875-11e7-8141-d6cb4ac9ac72.png)

[2017-11-13 18:30] #10016 closed

[2017-11-13 19:43] Bilsi commented on #10007
@smboser - We just realize that we do not need a line in the permissions for "insert link into wysiwyg". If a user can get to edit on that page, there is no reason to restrict inserting a link. Can we do away with that line in permissions completely?

[2017-11-13 19:47] Bilsi commented on #10014
Fixed in 3.x

[2017-11-13 19:47] #10014 closed

[2017-11-13 20:03] dancabral commented on #10014
fixed
![screen shot 2017-11-13 at 3 02 42 pm](https://user-images.githubusercontent.com/867075/32746481-c0a60d88-c883-11e7-8d0a-21d7191bf35f.png)

[2017-11-14 11:24] smboser commented on #10000
@Bilsi Changes have been made. This time check has been done with the file extension only not by document type. PFA the test cases

Case 1: Presentation slides should allow only given 5 types of files - Pass
![image](https://user-images.githubusercontent.com/14976596/32777410-084b1ef2-c95c-11e7-9bcc-7c1affd2e712.png)

Case 2: If files with other extensions are put forcefully by selecting all files

[2017-11-14 13:38] smboser commented on #10007
@Bilsi Permission has been removed. From now on user having access to editor can open insert link plug-in. Below is the screenshot for the content editor user after revoking the permission. PR #10010 has been updated for review.
![image](https://user-images.githubusercontent.com/14976596/32782656-1ebb71ce-c96f-11e7-9631-ac232682b1d0.png)

[2017-11-14 14:03] arijeetbannerjee commented on #9583
@mpetrovic Two more queries.
1. There are many csv files of all the features referencing Harvard, how to deal with them?
![csv](https://user-images.githubusercontent.com/26901665/32783639-73d742ac-c972-11e7-8482-a8ccf11915bf.PNG)
2. In  the file os_revisions.module already the documentation help link for revisions is defined as a constant ‘OS_REVISIONS_DOCS_URL’, shall I shift that to hwpi module

[2017-11-14 15:01] mpetrovic commented on #9583
1. That appears to be test data for use with our automated tests, so its fine.
2. That will have to point to a new url when our new documentation site is up. Skip it for now.

[2017-11-14 16:11] Bilsi opened #10021 "OS export to google calendar issue - incomplete"
https://github.com/openscholar/openscholar/issues/9441

We released this code yesterday, but the developer forgot to add the Google Dev API credentials to the settings.php

Is it possible for you to check and see how it can be added. The steps are below
https://docs.simplecalendar.io/google-api-key/

[2017-11-14 16:44] Bilsi commented on #9566
@smndey - Can you put it back on staging hwpi? Sorry, but we had to overwrite it for yesterday's release

[2017-11-14 16:54] rbran100 commented on #10005
If it will work with the http URL while the site is using https then we can use that, can you verify?

Is there a way to do this automatically since https URL's are not working

[2017-11-14 18:18] dancabral commented on #9928
back to you for QA @tcheng001. clear all caches including your browser cache.

[2017-11-14 19:28] tcheng001 commented on #10007
Look good. Mark "Fixed"
1. No more "Insert link into wysiwyg" row in permission page
2. admin is able to insert link
3. content editor is able to insert link
4. basic member is able to insert link

[2017-11-14 20:17] #10007 closed

[2017-11-15 07:28] arijeetbannerjee commented on #10005
Hello @rbran100,
 As far as I have checked the https URLs will not work with http URLs and vice versa because it's the same domain from where we are getting the RSS feed.

[2017-11-15 08:03] smndey commented on #9566
@Bilsi Ok. No Problem. I have redeployed it in stage. Any update from IAM team ?

[2017-11-15 15:19] #9263 closed

[2017-11-15 15:40] smboser commented on #9583
@mpetrovic Thanks for the clarification. Also, what will happen such hard coded URLs in html and JS files?
![html_files](https://user-images.githubusercontent.com/14976596/32844856-5a1710cc-ca49-11e7-9964-2d82b65a3561.PNG)
![js_files](https://user-images.githubusercontent.com/14976596/32844857-5c5bed26-ca49-11e7-9829-ca999fccbc33.PNG)

[2017-11-15 15:44] mpetrovic commented on #9583
Those are more documentation links that need to wait until we have updated documentation.

[2017-11-15 15:52] Bilsi commented on #10005
@arijeetbannerjee - I updated the password for scholar on the dev.scholar environment

[2017-11-15 15:58] tcheng001 commented on #9928
@dancabral    The functionality looks good.  Just one thing regarding this help text.
`Requires that each taxonomy term have its own description (see the term creation/edit form), and the Show term descriptions checkbox above is checked. Also, this display style does not show child terms, so The Show child terms checkbox above should be left unchecked.`

I would like to use a stronger tune for the

[2017-11-15 16:05] dancabral commented on #9928
Each taxonomy term must have its own description (see the term creation/edit form). Also, the Show term descriptions checkbox above must be checked, and the Show child terms checkbox above must be unchecked.

[2017-11-15 16:08] dancabral commented on #9928
All set @tcheng001 I updated the label. Can we check this branch on dev.scholar? see what effect, if any, it has the gking theme.

[2017-11-15 16:26] tcheng001 commented on #9928
1.  New function works as expected
2. Taxonomy widget works as before
@dancabral    If gking site works as before, we can mark "Fixed" on this ticket.

[2017-11-15 16:41] #9132 closed

[2017-11-15 18:18] Bilsi opened #10022 "Write a query to select biblio titles that are not tagged with any terms for a vsite in projects"
We have a professor who wants to get the list of publications (title) that do not have any taxonomy at all.

https://keith.seas.harvard.edu/publications

On the right side, you can see the publications under research areas. There are some publications that are not displayed under it because they are not tagged. Can we write a query this in hwpi for just this site? You can use the staging projects

[2017-11-15 18:57] Bilsi commented on #10022
@smboser - Would like to make this a priority - it should not take more than an hour I would assume

[2017-11-15 20:27] dancabral opened #10023 "Rearchitect OS theme system to use SASS"
The general plan/goal is to switch all of our themes to use SASS. Initially, we'll swap out all color/hex values with variables. As a first step, can we getting SASS up and running with a few of the branded themes and see what it looks like... can start by converting hwpi_modern and hwpi_vibrant

[2017-11-15 21:46] rbran100 commented on #10005
Hmm, we will need to get the https working then.  Can you replicate this with any other service or do you need a premium tumbler account?

[2017-11-16 06:40] arijeetbannerjee commented on #10005
Hello @rbran100,
  I have checked that only Tumblr URL with https are not working so far. Other domains with https are working as expected "https://timesofindia.indiatimes.com/rssfeedstopstories.cms".

As I have found the YQL or yahoo feed api both or either of them do not facilitates the Tumblr url's with https. They are not supporting this yet. Therefore if we need to get the https working then

[2017-11-16 12:39] smboser commented on #10022
@Bilsi The query is
`select b.nid, b.biblio_sort_title from biblio b INNER JOIN og_membership og ON b.nid = og.etid WHERE og.gid = 821516 AND b.nid NOT IN (SELECT ogv.entity_id FROM field_data_og_vocabulary ogv WHERE bundle = 'biblio')`
I am taking the dump of hwpi DB, so that I can run the query there and list out the result.

[2017-11-16 14:50] smboser commented on #10022
@Bilsi I have completed the DB dumping. This vsite has got total of 182 publications but by running the above query I am not getting a single publication which is not tagged with any taxonomy terms.

[2017-11-16 14:57] Bilsi commented on #10022
@smboser - ok, thanks, i'll take a look

[2017-11-16 17:48] tcheng001 commented on #9928
I have checked this vsite's home page (https://dev.scholar.harvard.edu/gking).  It looks good to me.
@dancabral     Could you take a look on the vsite?

[2017-11-16 17:51] Bilsi commented on #10022
@smboser - SorryI did not explain correctly, we need the list of pubs that are NOT tagged with any of the research areas displayed in the widget on the publications page. We still need to know the titles of the publications that are tagged with other vocabs
![screen shot 2017-11-16 at 12 50 22 pm](https://user-images.githubusercontent.com/11841641/32907044-c7d3e382-cacc-11e7-904a-cb6087ebe843.png)

[2017-11-16 17:56] Bilsi commented on #10005
@arijeetbannerjee - Can you open a bug report with yahoo on this explaining the issue. Let us wait to see if they respond and then decide.

[2017-11-16 19:06] mpetrovic opened #10025 "Migrate Apachesolr to Search API"
The Apachesolr module is showing its age, and the Drupal ecosystem has switched to the Search API module,

We need to replace all the code in os_search_solr and all hook_apachesolr_* implementations with Search API equivalents.

Hooks that need to be translated into Search API and their Search API equivalent:

[code]

[2017-11-16 20:33] openscholar-admin opened #10026 "Site Info widget: Contact link follows address second line. It should render in a new line."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/site-info-widget-contact-link-follows-address-second-line-it-should-render-in-a-new-line)

**The Plan**

Fix the site info widget to display correctly

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1672913/ScreenShot2017-11-16at10.38.15AM_inline.png?1510846

[2017-11-16 20:43] openscholar-admin opened #10027 "Unable to import news template file"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-import-news-template-file)

**The Plan**

Fix the bug so that the news template file import correctly

**Description**

The root cause is the size of image specified in template file ([http://www.imagensfree.com/img/2013/0...](http://www.imagensfree.com/img/2013/04/cachorro

[2017-11-16 21:39] openscholar-admin opened #10028 "Improvements to Slider Widget"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/improvements-to-slider-widget)

**The Plan**

Improvements to Slider Widget

**Description**

We should make two improvements to the slider widget.

1) Add the columns widget to the list of widgets that can be used with the slider widget.

2) Add a new display style option to display

[2017-11-16 21:39] openscholar-admin opened #10029 "Shield icon doesn't show up on Teal theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/shield-icon-doesnt-show-up-on-teal-theme)

**The Plan**

Fix the bug so that the Shield icon shows up on Teal theme

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1672936/Capture_inline.PNG?1510853100)](https://d2r1vs3d9006ap.cloudfront.net/s3_images/167293

[2017-11-16 21:55] dancabral commented on #10028
The plan is to:
1) Add the columns widget to the list of widgets that can be used with the slider widget.
2) Add Display as navigation checkbox (unchecked by default).
![slider-form](https://user-images.githubusercontent.com/867075/32917997-e357a0a4-caee-11e7-9387-b384d74adb08.png)

3) When checked, the "arrow-nav" class will get added to the widget wrapper.
![arrow-nav](https://user-images.github

[2017-11-17 10:15] smboser commented on #10027
@Bilsi @tcheng001 I have checked this. When adding through import process, the News Photo is going through a image validation. But same validation is not there while adding it manually. So, what should be done here? Do we need to remove the validation for all? Or apply the validation for all to make it consistent. I want to make sure before proceeding as in the add news form the following guidelin

[2017-11-17 10:40] smndey commented on #9986
@tcheng001 I am trying to reproduce the above issue in my local environment. Unfortunately, I am not able to reproduce it. It's working as expected. I did following steps.

 1. Delete existing indexes and index only person content type.
 2. Create a new person and assign a term from selected vocabulary.
 3. Run solr index again and clear drupal cache.

![solr](https://user-images.githubusercontent

[2017-11-17 10:50] smboser commented on #10026
@Bilsi It is fixed. PR #10030 has been created for review.
![address](https://user-images.githubusercontent.com/14976596/32943732-1e825a9c-cbb3-11e7-8585-399a98dccb5b.PNG)

Following cases have been checked.
1.When both Address1 and Address2 are non-empty.
2.When Address1 empty and Address2 non-empty.
3. When Address2 empty and Address1 non-empty.
4.When both Address1 and Address2 are empty.

[2017-11-17 12:30] smboser commented on #10022
@Bilsi PFB the revised query.

`SELECT b.nid, b.biblio_sort_title FROM biblio b INNER JOIN og_membership og ON b.nid = og.etid WHERE og.entity_type = 'node' AND og.gid = 821516 AND b.nid NOT IN (SELECT ogv.entity_id FROM field_data_og_vocabulary ogv INNER JOIN taxonomy_term_data t ON ogv.og_vocabulary_target_id = t.tid WHERE ogv.bundle = 'biblio' AND t.vid = 8971)`
Where 8971 is the vid for vocabu

[2017-11-17 12:47] smboser commented on #10028
@dancabral @Bilsi It is done. PR #10031 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/32947865-144d8712-cbc3-11e7-9947-cb0aa2111a0f.png)
![image](https://user-images.githubusercontent.com/14976596/32947886-2f2b4858-cbc3-11e7-9e71-f37f13df4f09.png)
![image](https://user-images.githubusercontent.com/14976596/32947929-58dccd3e-cbc3-11e7-9c45-a37c26067b6a.png

[2017-11-17 12:48] #10022 closed

[2017-11-17 13:00] arijeetbannerjee commented on #9583
@Bilsi @mpetrovic I am done with the changes for now. Few areas which are not touched, I have mentioned in the attached excel with reason. You may review this while I am fixing the test case which is failing in this PR.
[files_not_changed.xlsx](https://github.com/openscholar/openscholar/files/1482347/files_not_changed.xlsx)

[2017-11-17 13:42] tcheng001 commented on #9986
@smndey   ok. Let me see if I can reproduce the issue on my test site in scholar production first.

[2017-11-17 13:48] arijeetbannerjee commented on #10021
Hello @Bilsi,
  We have gone through the ticket 9441 where we have found to set up the google calendar export option, we need to configure the gauth (Google Account Settings) from web services under admin config.

<img width="1373" alt="gauth" src="https://user-images.githubusercontent.com/26901665/32950214-91a4b1c4-cbcb-11e7-9c9b-21d9e06ab4df.png">

We have checked all the servers (dev,stage hwpi

[2017-11-17 13:50] smndey commented on #9986
@tcheng001 Sorry. Please ignore the last comment. Actually I was confused between the original issue and the regression. I am able to reproduce the original issue but not able to reproduce the regression probably it was introduced during development.

[2017-11-17 14:07] tcheng001 commented on #10027
@smboser   Please also add validation when new image is added manually.

[2017-11-17 15:13] dancabral commented on #10023
![img_4621](https://user-images.githubusercontent.com/867075/32954040-f669a516-cb7f-11e7-86b4-69d07a222dd6.JPG)

[2017-11-17 15:20] dancabral commented on #10028
thanks @smboser I'll take a look

[2017-11-17 20:57] tcheng001 commented on #9822
- [ ] 1.  Changing the current user password:  it doesn't meet the first two requirements.
1. I can set a new password without symbol(s)
2. I can set a new password by using the previous password.
![screen shot 2017-11-17 at 1 38 18 pm](https://user-images.githubusercontent.com/2111600/32963652-af5f6984-cb9e-11e7-9bf4-6052bc08f3f6.png)

- [ ] 2. Unable to test tweeter card in dev environment becau

[2017-11-20 08:05] smndey commented on #9986
@tcheng001 I have further debug this issue in my local environment on top of `9986-people_facet` branch. Original issue (Faceted taxonomy sort order by last name [A-Z]) has been fixed and I am not able to reproduce the regression issue. I have performed the following steps.

 1. Branch `9986-people_facet` deployed into local environment.
 2. drush  solr-delete-index
 3. drush solr-mark-all
 4. dru

[2017-11-20 13:33] smboser commented on #10027
@tcheng001 @Bilsi It is implemented.
![Uploading image.png…]()

PR #10032 has been created for review.

[2017-11-20 13:35] smboser commented on #10000
@mpetrovic Could you please check the comment https://github.com/openscholar/openscholar/pull/10002#discussion_r151048780 and let me know next course of action on this.

[2017-11-20 14:10] smboser commented on #10005
@Bilsi We didn't find any bug reporting system for YQL. Rather they are advising to post in to stackoverlow with #yql tag.
![image](https://user-images.githubusercontent.com/14976596/33022265-99163d2c-ce2a-11e7-8062-7f7ee167733f.png)

We have started two threads there but yet to receive any positive reply
https://stackoverflow.com/questions/47181130/tumblr-rss-feed-not-working-with-yql
https://sta

[2017-11-20 14:12] Bilsi commented on #10005
@smboser @arijeetbannerjee - let us look at replacing this API since it has stopped working. What are some of the other tools we can go with?

[2017-11-20 16:20] Bilsi commented on #10021
@arijeetbannerjee - We need to generate an API key - https://docs.simplecalendar.io/google-api-key/
Can you go through this document, follow the processes and generate a key?

[2017-11-20 17:42] tcheng001 commented on #10026
Look good. Mark "Fixed"

[2017-11-20 20:48] #10026 closed

[2017-11-20 20:55] openscholar-admin opened #10033 "Shield widget cannot be removed from the page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/shield-widget-cannot-be-removed-from-the-page)

**The Plan**

Fix the bug so that the shield widget can be removed from this page

**Description**

[https://projects.iq.harvard.edu/gov2001](https://projects.iq.harvard.edu/gov2001)

When you try removing the Shield widget directly on

[2017-11-20 20:58] Bilsi commented on #10029
@smboser - If you login https://projects.iq.harvard.edu/gov2001 and remove the harvard shield on the home page, and refresh it, it does not go away. Can you look at the issue and fix it? I was not able to reflect this on other sites

[2017-11-20 20:58] Bilsi commented on #10033
@smboser - If you login https://projects.iq.harvard.edu/gov2001 and remove the harvard shield on the home page, and refresh it, it does not go away. Can you look at the issue and fix it? I was not able to reflect this on other sites

[2017-11-20 21:09] dancabral commented on #10033
@smboser this could be related https://github.com/openscholar/openscholar/issues/1459

[2017-11-21 08:46] smboser commented on #10005
@Bilsi One thing to highlight here, it is not working only for the **tumblr feed with https**, working fine in rest cases for both http and https. We are checking for other options.

[2017-11-21 13:56] arijeetbannerjee commented on #10021
@Bilsi  Google part is fine to us. I have done creating calendar project using the google api and also created the calendar secret API key. But as I understood from the 9441 code on the Github that I need to set that google_client_secret and google_credentials to the openscholar application.

I have found one screenshot from 9441 where an interface is mentioned in the application from which we can

[2017-11-21 14:09] smboser commented on #10033
It is happening for this sub-site only. Tested the same in https://projects.iq.harvard.edu/web but it is working fine there. It seems to be an data issue, I am in process of incorporating the latest DB dump in local.

[2017-11-21 15:04] Bilsi commented on #10021
@arijeetbannerjee - I did not realize so many branches had made it to the server.  9441-Add-export-option-to-OS-calendar-4 is the correct one.

[2017-11-21 15:35] arijeetbannerjee commented on #9583
@Bilsi PR #10011 has been updated for review. I have incorporated the changes @mpetrovic made earlier to this branch.

[2017-11-21 16:49] Bilsi commented on #10005
@smboser - Lets wait to see if the stack overflow gets a response. I agree, it does seem like an overhaul to change the api just because tumblr isnt working

[2017-11-21 18:39] rsasch commented on #9985
https://stackoverflow.com/questions/47181130/tumblr-rss-feed-not-working-with-yql

[2017-11-22 13:00] arijeetbannerjee commented on #10021
@Bilsi ,

Yes the 9441-Add-export-option-to-OS-calendar-4 branch is not there on the staging scholar env.

![image](https://user-images.githubusercontent.com/26901665/33122448-413c938e-cf9d-11e7-91c4-13f78dbf31b7.png)

I have downloaded the remote branch from git but it showing there is no reference from the remote branch.

![image](https://user-images.githubusercontent.com/26901665/33123292-cf4da

[2017-11-22 13:56] Bilsi commented on #10021
@arijeetbannerjee - use Scholar-3.x since we merged that branch into 3.x a week back without realizing that the dev did not add the key. So the code in the branch 9441-Add-export-option-to-OS-calendar-4 is in 3.x

[2017-11-22 14:14] tcheng001 commented on #9822
@rsasch   which parts/functions I have to target testing?

[2017-11-22 14:29] Bilsi commented on #9606
@smndey - Can you now continue to look at this?

[2017-11-22 15:17] Bilsi commented on #10021
@arijeetbannerjee - You will have to create the gauth_account option in https://staging.scholar.harvard.edu/admin/config/services/ or any other server you choose.

[2017-11-22 15:21] rsasch commented on #9822
@tcheng001 Here is a list of the contrib modules that were updated:
- colorbox
- context
- entityreference
- elysia_cron
- features
- flag
- jquery_update
- media
- metatag
- og
- password_policy
- restful
- title
- views
- views_bulk_operations
You can find out what the purpose of a particular module is by going to its project page: https://www.drupal.org/project/[module name]

[2017-11-22 17:10] Bilsi opened #10034 "Update message when https issue"
http://community.openscholar.harvard.edu/openscholar/topics/whitelist-request-communications-landing-gse-harvard-edu

If you look at the conversation in the ticket above, a lot of users embed iframe with src url in http, but the error message displayed tells them that the url if not from an accepted domain which causes a lot of confusion. We need to revise this to edit the message if the src is no

[2017-11-23 03:03] smndey commented on #9606
@Bilsi Yes.

[2017-11-23 13:30] smboser commented on #10034
@Bilsi Message has been changed. PR #10035 has been created for review. Please check the wording and let me know if any change is required.
![image](https://user-images.githubusercontent.com/14976596/33175091-7ff72d30-d080-11e7-8f57-19a9d709203f.png)

[2017-11-24 08:34] smboser commented on #10033
@Bilsi After taking the prod dump I was not able to produce it anyway. I did check 1459 but that code is still there and preventing unused widget to appear in layout. But surprisingly it was coming to that site only and that also only in Prod. Suddenly I remove and add the widget in two - three times in different region and did the site cache clear. Since then it is not coming anymore.
I believe i

[2017-11-24 14:46] #10033 closed

[2017-11-24 14:47] Bilsi commented on #10033
@smboser - Thanks for fixing it in prod, closing the ticket

[2017-11-26 16:17] Bilsi opened #10036 "Update the retweets in our twitter feed to also display who is being retweeted?"
"When I retweet someone, the Twitter feed on my homepage does have a retweet symbol but it doesn’t say who I’m retweeting.  academia works on accurate attribution and so we’re all sensitive about it.  " - From Gary King

Can we update the retweets in our twitter feed to also display who is being retweeted?

[2017-11-27 12:23] smboser commented on #10036
@Bilsi I have set it up but can't replicate the issue. Just beside the retweet symbol it is showing the corresponding handle name. I have tried it in both locally and dev server with different twitter handle but getting same result always.
![image](https://user-images.githubusercontent.com/14976596/33266473-d28461d0-d39b-11e7-81c1-07296e074915.png)

[2017-11-27 14:10] Bilsi commented on #10036
@smboser - can you take a look at the twitter feed at the bottom of this page https://gking.harvard.edu/

here is the twitter account -
https://twitter.com/kinggary

[2017-11-27 14:22] smboser commented on #10036
Now able to see the issue. The same handle (kinggary) is working in dev.hwpi but not in https://gking.harvard.edu. looking into that.

[2017-11-27 14:42] smboser commented on #10036
@Bilsi @dancabral It is due to CSS, not for Twitter feed. If we disable the following line (`.tweet-author {   display: none;}`), it will be solved. But before that I need to know was there any specific reason for that it was implemented.

https://github.com/openscholar/openscholar/blob/62c0529dac6c33310953d2c7329b954a8d0114dd/openscholar/themes/custom/garyking/css/garyking.css#L18

[2017-11-27 15:12] Bilsi commented on #10036
@smboser - Thanks so much. This is a custom theme Dan wrote for Gary. @dancabral - can you please take a look at this

[2017-11-28 17:20] jDatum commented on #10023
We have two instance of openscholar that is going to mimic two schools:
- openscholar_A
- openscholar_B

Each module is going to have the submodule os_style_override. Structure for the os_style_override:

[code]

The colors.css file is going to be added to the footer or header region of the theme using
drupal_add_css function. Path to the css file is as follow:
- drupal_get_path('module', 'os_styl

[2017-11-28 19:34] tcheng001 commented on #10000
@smboser    After deployed to dev.hwpi, I got  "Temporarily Unavailable".  Matt said there is a merge error in the htaccess.  Could you take a look?    Mark "Pending"

[2017-11-28 20:23] #10000 closed

[2017-11-29 15:51] tcheng001 commented on #10027
return to "in dev"
1. Failed to import the new template file.  validation error happens.
![screen shot 2017-11-29 at 10 46 44 am](https://user-images.githubusercontent.com/2111600/33383922-9fc77068-d4f2-11e7-8b05-3e6a5dca8d3b.png)
I tried to change the url of the news image to https://hwpi.harvard.edu/files/torman_fileserver/files/alberta.jpg, then import runs successfully.

2. Minor wording issue

[2017-11-29 19:15] dancabral commented on #10036
this is fixed @Bilsi. its in 3x so no need for a PR/merge.
![screen shot 2017-11-29 at 2 12 21 pm](https://user-images.githubusercontent.com/867075/33394272-c6879116-d50f-11e7-8e07-75a740930c50.png)

[2017-11-29 19:26] tcheng001 commented on #9986
Return to "in dev"
Tested on https://dev.scholar.harvard.edu/tcheng10/people
Sorting of result from faceted taxonomy widget is better. The order of last name is ascending. That is correct. However, First name seems descending alphabetically .  Check the left part. The right part is from regular taxonomy widget.  The ordering from both widgets should be the same.
![screen shot 2017-11-29 at 2 21 22

[2017-11-29 20:11] rsasch opened #10037 "Add additional data to OS reports REST API"
- [x] site owner HUID/huid hash
- [x] number of nodes in site
- [x] number of files in site
- [x] number of widgets in site
- [x] number of site members
- [x] number of redirects

[2017-11-30 11:39] smndey commented on #9986
@tcheng001 I think both the field can't sort at same time.  At present only last name sorted alphabetically. However I can see the difference. I will investigate this further and see why solr is treating those three record differently.

[2017-11-30 13:13] smndey commented on #9986
@Bilsi Can I reset password of administrative user on https://dev.scholar.harvard.edu ? Or Can you please do the same ?

[2017-11-30 13:42] smboser commented on #10027
@tcheng001 Could you please provide me the image for which you got the error. Just to highlight both height and width need to be more than 250px.
I have changed the wording

[2017-11-30 14:13] smboser commented on #10027
@tcheng001 As discussed I have changed the sample image from the template. PR #10032 has been updated for review.

[2017-11-30 14:33] Bilsi commented on #9986
@smndey - I just reset it and sure feel free to go ahead and change it back to the default in any of the test servers we have. It changes back to the prod pwd everytime we copy the db down

[2017-11-30 14:51] #10036 closed

[2017-11-30 14:52] Bilsi commented on #10005
A tumblr issue

[2017-11-30 14:52] #10005 closed

[2017-11-30 17:52] Bilsi opened #10038 "Faceted taxonomy widgets missing edi"
http://community.openscholar.harvard.edu/openscholar/topics/faceted-taxonomy-widgets-missing

Can you check why it isnt displaying at all?

[2017-12-01 10:39] smboser commented on #10038
@Bilsi I can see those six faceted widgets are present, please refer to the below screenshot. Am I missing any step(s)?
![image](https://user-images.githubusercontent.com/14976596/33479147-03012474-d6b2-11e7-9b31-2bb84984a4e9.png)

[2017-12-01 12:16] smndey commented on #9986
@Bilsi @tcheng001 This has been fixed. PR #9993 updated for review.

Faceted:
![faceted](https://user-images.githubusercontent.com/1494203/33482493-4ca3acca-d6bf-11e7-9a85-4db17d825545.png)

Non-Faceted:
![taxonomy](https://user-images.githubusercontent.com/1494203/33482510-626112e6-d6bf-11e7-892f-7db46002336b.png)

[2017-12-01 18:08] openscholar-admin opened #10039 "Mini Calendar Appearance Issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/mini-calendar-appearance-issue)

**The Plan**

Fix text color issue in the mini cal widget.

**Description**

Hi! I wonder if you could check out our front page at the bottom (africa.harvard.edu), we have a mini calendar at the bottom and I would like to know how I can edit the appea

[2017-12-01 20:37] tcheng001 commented on #10027
Mark "Fixed"
1. Wordings are fixed.
![screen shot 2017-12-01 at 3 35 49 pm](https://user-images.githubusercontent.com/2111600/33502240-55d5dabe-d6ad-11e7-95d6-a0806563f3cb.png)
2. able to import the default template file successfully
3. news import works as before.

[2017-12-01 21:35] #10027 closed

[2017-12-01 22:05] openscholar-admin opened #10040 "Widget Title allowing special characters"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/widget-title-allowing-special-characters)

**The Plan**

Filter out/do not allow curly braces in widget title fields.

**Description**

This is a rare case but thought I would report it anyway. In this case, the widget title is allowing curly brackets with is seemingly interfering wi

[2017-12-01 22:14] dancabral commented on #10040
@jDatum the plan here is filter out/not allow curly braces ```{}``` in any/all Widget title fields across OS.
![screen shot 2017-12-01 at 5 12 04 pm](https://user-images.githubusercontent.com/867075/33505823-09644a40-d6bb-11e7-9feb-53c3754cfd08.png)

[2017-12-04 06:57] smndey commented on #9606
@Bilsi
Presently I am working on following issues.
  1. Save unknown property that's not a part of regular entity wrapper. Such as
    a). Publishing options->  Prevent this page from appearing in search engine results (noindex)
    b). URL path settings -> save custom URL alias
    c). Menu settings (Complete)

  2. Frontend: Create custom directive for Group audience field.

  3. Test and implem

[2017-12-04 14:52] Bilsi commented on #8889
@smboser - This bug is back. Can you please take a look?
"Hi - this bio of Lant Pritchett - https://bsc.cid.harvard.edu/people/lant-pritchett - is synced to another website - https://growthlab.cid.harvard.edu/people/lant-pritchett - but we are seeing an outdated version." - From the user

[2017-12-04 15:21] smboser commented on #10021
Progress- Events are getting exported to Google Calendar. Admin needs to put all the required credentials for that from backend. Currently we are working on some access related issues, accidental duplication of events and some minor design issues.
![3](https://user-images.githubusercontent.com/14976596/33560152-ea11d258-d934-11e7-8519-e66c4f2398b6.gif)

[2017-12-04 15:35] smboser commented on #9583
@mpetrovic We have addressed the comments. But facing one challenge in strongarm variable. In some environments it is showing "In code" as STORAGE type instead of "Saved to DB". Any idea what could be the reason and way to solve
Showing "In code" in dev.hwpi
![image](https://user-images.githubusercontent.com/14976596/33560736-91419800-d936-11e7-85a7-3207830b740e.png)

Showing "Saved to DB" in dev.

[2017-12-04 16:08] Bilsi commented on #10038
@smboser - User confirmed that it now displays

[2017-12-04 16:08] #10038 closed

[2017-12-04 17:03] Bilsi commented on #10040
@jDatum - Just remove the curly brackets, display the widget title without it and display a warning saying "Curly braces are not allowed". Also, please run tests with other special characters to make sure that other special characters are not causing the same issue.

[2017-12-04 19:37] mpetrovic commented on #9583
Revert the feature and see if it still says that. Features have always been a little wonky about detecting changes.

[2017-12-05 13:58] smboser commented on #8889
Able to detect the issue in prod (scholar/projects). But the same is not replicating neither in local nor any dev / staging environments. Synchronization is working fine there. Even the synchronization is working on the same profile pair in last db dump I have. Currently I am taking the latest prod dump to replicate it in local.

[2017-12-05 14:17] Bilsi commented on #9822
@rsasch - Are you looking at this?

[2017-12-05 15:19] tcheng001 commented on #9986
Mark "Fixed"
1. people orders correctly (ascending) when one term is selected
![selected_one_term](https://user-images.githubusercontent.com/2111600/33609431-182b2142-d996-11e7-8045-f849dcce5f3d.png)

2. people orders properly (ascending) when two terms are selected
![selected_two_terms](https://user-images.githubusercontent.com/2111600/33609459-30a978e0-d996-11e7-8c73-9216db30d22c.png)

3. tested

[2017-12-06 16:18] Bilsi commented on #10040
@jdatum - Can we determine why it is breaking when curly brackets are added in widget titles? and see if we can fix it

[2017-12-06 16:52] jDatum commented on #10040
@Bilsi the problem is caused because `{{}}` in the Angular is an expression (interpolation markers). It is used by `$compile` service for data binding. More details can be found here https://docs.angularjs.org/api/ng/service/$interpolate.

This paragraph can solve the problem.

Example under uses this approach on the `\{\{ username = "defaced value"; \}\}`. The result is **{{ username = "defaced v

[2017-12-06 17:34] dancabral commented on #9333
@jDatum can you please look at taking this project over. internally we call it site cloning. we believe theres enough background info in the thread above, but please let us know if you have questions. thanks.

[2017-12-06 18:23] mpetrovic commented on #10040
Sounds good. Will this be hard to add?

[2017-12-06 20:20] jDatum commented on #10040
I found that it will be much easier if we add `ng-non-bindable` directive as a wrapper for a content that we don't want to be interpreted as an Angular expression. I will try it in the morning.

[2017-12-07 09:46] arijeetbannerjee commented on #10034
@mpetrovic
PR #10045 has been updated for review.

[2017-12-07 11:53] arijeetbannerjee commented on #10021
@Bilsi
The events export from openscholar calendar to google calendar is working. The update of events are also working as expected. The code is tested on dev.hwpi.harvard.edu server.
Please check the PR #10041

[2017-12-07 14:21] #10029 closed

[2017-12-07 15:06] jrbecart opened #10046 "Multilingual does not work well"
Hello,

I added and setup all modules to have multilingual support in openScholar with no luck.
Filter in view doesn't work in sub-site (user site), but work on root domain.

My settings:

This work:
http://domain/blog?language=fr (only french blog listed) (from all user)
http://domain/blog?language=en (only english blog listed) (from all user)

This doesn't:
http://domain/user1/blog?language=fr -

[2017-12-07 15:06] jDatum commented on #10040
@mpetrovic I spent some time testing the solution I mentioned. I noticed that this issue can happen anywhere inside the angular module (input fields, content bodies, etc.). The simplest solution is to change interpolations marks for the angular. Basically, we need to change `{{ }}` to `{[{ }]}` or something else.

**Pros:** Interpolation marks can be anything, so the probability to occur the issue

[2017-12-07 16:16] mpetrovic commented on #10040
Doing that would require changing every binding in every app across the entire installation. It also would only solve the problem until someone does something weird again.

 I think we can get away with only escaping it in user-generated content on the server. It all goes through a Drupal filter of some kind, so I would look into that.

[2017-12-07 17:45] rsasch commented on #9822
@tcheng001 regarding [this issue](#issuecomment-345363345), was it in an environment running https or http?

[2017-12-07 18:00] tcheng001 commented on #9822
@rsasch    running https

[2017-12-07 20:41] dancabral commented on #9937
This should be cleaned up at the same time.
![screen shot 2017-12-07 at 3 40 26 pm](https://user-images.githubusercontent.com/867075/33737726-270941dc-db65-11e7-88ce-36d01f90ad74.png)

[2017-12-08 15:39] dancabral opened #10047 "Remove gender field from vsite member manage account form"
Can we remove the gender field from the vsite member manage account form? You can access form by clicking the manage my account link in the user menu (top right).
![new-member-form](https://user-images.githubusercontent.com/867075/33772849-038c9e76-dc04-11e7-902e-92132bf06fba.png)

[2017-12-08 16:07] rsasch commented on #9822
@tcheng001 Make sure to run updates after you switch to the branch and before testing.

[2017-12-08 16:41] dancabral commented on #10047
For reference http://community.openscholar.harvard.edu/openscholar/topics/open-scholar-registration-is-asking-for-gender

[2017-12-08 16:48] openscholar-admin opened #10048 "Open Scholar registration is asking for gender"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/open-scholar-registration-is-asking-for-gender)

**The Plan**

Remove the gender dropdown field.
**Description**

Hi,

Yesterday, I added a new site administrator to huit.harvard.edu. When he followed the link from the welcome email he received and began the process to create a passw

[2017-12-08 16:48] openscholar-admin opened #10049 "News scheduler"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/news-scheduler)

**The Plan**

[coming soon]

**Description**

Would it be possible (and of interest to others) to develop a News Scheduler? I often find that I receive multiple newsworthy items for inclusion on our website from a single highly productive faculty member. In many case

[2017-12-08 16:48] openscholar-admin opened #10050 "Event day and date bug"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/event-day-and-date-bug)

**The Plan**

Fix the incorrect day display in the widget

**Description**

I recently posted a two day event on our Events calendar and found that the day and date do not match. The dates are correct (March 2 and 3) but the days associated with them are not

[2017-12-08 16:48] openscholar-admin opened #10051 "Calendar Year Drop-Down menu does not save"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/calendar-year-drop-down-menu-does-not-save)

**The Plan**

[coming soon]

**Description**

I'm trying to add an event and trying to change the year of the event using the dropdown but it seems that no matter what year I select it goes back to 2017. Happening on hwpi, specifically her

[2017-12-08 16:58] dancabral commented on #10048
@smboser Can we remove the gender field from the vsite member manage account form? You can access form by clicking the manage my account link in the user menu (top right).
![new-member-form](https://user-images.githubusercontent.com/867075/33776353-137e6368-dc0f-11e7-8bd6-720efbf4e99d.png)

[2017-12-08 16:59] dancabral commented on #10047
closing as a dup. actual tic is here https://github.com/openscholar/openscholar/issues/10048

[2017-12-08 16:59] #10047 closed

[2017-12-08 17:00] dancabral commented on #10047
closing as a dup. actual tic is here https://github.com/openscholar/openscholar/issues/10048

[2017-12-08 21:28] #10039 closed

[2017-12-11 03:59] #9990 closed

[2017-12-11 11:38] jDatum commented on #10023
Also, if you want to avoid Ruby dependencies, there is an NPM package that can be used to compile SASS files. `node-sass` is most popular and simplest. SASS files can be compiled to CSS using the command `node-sass SASS_DIRECTORY/ -o CSS_DIRECTORY/`.

[2017-12-11 13:40] smndey commented on #8889
@Bilsi We have identified the issue and possible solution as well. But we can't do full proof test from local environment as `drupal_http_request` is blocked from our local machine due to proxy. It will be great if we can sync prod DB into any lower environment and test our code fix there. Please let me know which environment is free to use.

[2017-12-11 14:54] Bilsi commented on #8889
@smndey - The user got back saying that it is now resolved, so let us close this for now. Syncing is a complicated piece of code and I would rather not change anything unless we absolutely have to.