[2017-12-11 14:54] #8889 closed

[2017-12-11 15:17] Bilsi commented on #10050
https://philosophy.fas.harvard.edu/ - go here and go to page 2 in the events bug. The event "Ethics of Belief Workshop" . The day shows thu - fri here which is incorrect while the event landing page itself shows the days and fri-sat(which is correct)
This is a multi-day event, which is why the day of the week is displayed in the list of posts widget. The other events in the widget do not display t

[2017-12-11 16:12] tcheng001 commented on #10034
Mark "Fixed"
1.  The error is updated when trying to embed iframe from a http source
![screen shot 2017-12-11 at 10 26 13 am](https://user-images.githubusercontent.com/2111600/33838609-fec9ca88-de5d-11e7-85cb-cf53a3e1652e.png)
2. The error is showed when trying to embed iframe from https source but not in whitelist.
3. Able to embed iframe from a https source
4. Able to embed URL (both http and ht

[2017-12-11 16:22] #10034 closed

[2017-12-11 16:51] Bilsi commented on #10048
@smboser - Can we make this a priority?

[2017-12-11 19:12] dancabral opened #10054 "Hide gender dropdown in manage my account form"
Temporarily hide the gender dropdown in manage my account form. This hack should be removed once this is release https://github.com/openscholar/openscholar/issues/10048

[2017-12-11 20:19] #9928 closed

[2017-12-11 20:21] #10054 closed

[2017-12-11 20:32] openscholar-admin opened #10055 "Old taxonomy links in breadcrumbs"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/old-taxonomy-links-in-breadcrumbs)

**The Plan**

[coming soon]

**Description**

I checked my site for dead links, and several of the results were in the old taxonomy term link format.

Here are a couple of examples:

The breadcrumb link to "Modern Greek" at the top of this page: [h

[2017-12-11 20:44] dancabral commented on #10055
@smboser can you please take a look at this? from what I can tell, the wrong (ineffective) path is being applied to the breadcrumb. rather than apply /taxonomy/term/9999 to the breadcrumb, it should be /vocabname/termname. To see it, click on a term from the Research Areas widget (lower right side) https://classics.fas.harvard.edu/publications/research-areas/modern-greek-literature.
![breadcrumb-u

[2017-12-12 13:48] arijeetbannerjee commented on #10048
@Bilsi ,
The Gender field has been removed from the member manage account form.
Please check the PR#10056.

[2017-12-12 14:31] #9986 closed

[2017-12-12 14:33] #10028 closed

[2017-12-12 16:19] rsasch opened #10058 "Add visibility option to OS site report"
The site reporting tool does not display the correct privacy setting when the site is set to be restricted to "Groups within the Harvard Community."

[2017-12-12 19:38] tcheng001 commented on #9822
Moving to "in dev"
1.  I can set a password without a symbol. Did we remove this requirement?
2.  I can use the previous password.  For example,  my first password is "XYZ321!!". I change it to "XYZ321RR" and then change back to "XYZ321!!".

[2017-12-12 20:35] tcheng001 commented on #10037
Moving to "in dev"
1. Unable to get result of "Number of redirects in site".   It takes almost 10 minutes but there is still no result back.
![screen shot 2017-12-12 at 3 30 49 pm](https://user-images.githubusercontent.com/2111600/33906979-98d762ae-df51-11e7-9fdd-9067b434f0bf.png)

2.  Vsite ID becomes not optional column.  This is unchecked but it still shows in the result.
![screen shot 2017-12-

[2017-12-12 21:27] openscholar-admin opened #10060 "Blog & News - XML import date field not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/blog-news-xml-import-date-field-not-working)

**The Plan**

Fix the issue where news and blog XML imports are using the updated date rather than the date that the import was executed

**Description**

In the Blog & News XML import feature the date field is not working as expected. Ra

[2017-12-12 21:47] dancabral commented on #10060
@smboser this issue is specifically around using an xml file for news and blog imports. after the import is complete, the Post Created/Edited By field is populated with the date that the file was imported, when it should be the updated value in the xml file. let me know if you have any ques.
![screen shot 2017-12-12 at 4 39 04 pm](https://user-images.githubusercontent.com/867075/33910256-1946cb64-

[2017-12-13 10:27] smboser commented on #10055
@dancabral @Bilsi Its fixed. PFA the screenshot after performing the testing in dev.hwpi. PR #10061 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/33934252-54e7a4a0-e01e-11e7-8b57-61f0881ff1fa.png)

[2017-12-13 10:31] smboser commented on #9583
@Bilsi All test cases are passing now. I am putting PR #10011 to "in review".

[2017-12-13 10:55] smboser commented on #10050
@Bilsi The issue is fixed. PR #10057 has been created for review.
![event](https://user-images.githubusercontent.com/14976596/33935520-3aa44dba-e022-11e7-953e-ea6033f36fd8.PNG)

[2017-12-13 14:17] smboser commented on #10060
@dancabral Few queries
When you say XML import are you meaning RSS import for news and blogs.
I have checked with both CSV and RSS but in each cases it is working as expected.
For CSV: I imported a blog and news file, but the date of Posted On is showing as it was entered on CSV file itself not today’s date.
![blog](https://user-images.githubusercontent.com/14976596/33943190-64c1552c-e03e-11e7-9d5

[2017-12-13 16:05] #10058 closed

[2017-12-13 16:39] jDatum commented on #10040
@mpetrovic Every content in the Drupal goes through the `check_markup` function. This is a core function, and the main job is to call appropriate filters for the content. The problem is that the function accepts the additional parameter `filter_id` (plain_text, full_html, php) to use just that filter, not others.

Also, `plain_text` filter escapes every character in an input so we can't put backsl

[2017-12-13 17:29] mlsamuelson commented on #9333
Feel free to reach out to me, as well. I'm happy to make myself available.

[2017-12-13 20:50] mpetrovic opened #10062 "Cannot set custom domain if vsite name is the same as the custom domain"
Attempting to set the custom domain of the vsite "foo.bar" to "foo.bar" will result in a Integrity Constraint Violation on the purl table.

Ex.
http://scholar.harvard.edu/foo.bar
set custom domain to
foo.bar
fails.

(SNOW Ticket: INC02521280)

[2017-12-13 21:14] rsasch commented on #10037
@tcheng001 Both issues should be fixed.

[2017-12-13 21:36] mpetrovic commented on #10040
In practice, everything goes through the full_html filter. We don't let user-generated content go through it any other way. You should be able to tack something on to that filter and it'll catch everything.

[2017-12-13 21:58] dancabral commented on #10060
@smboser heres the xml file for import (per our status call this morning) http://rodrik.typepad.com/dani_rodriks_weblog/atom.xml

[2017-12-13 22:00] dancabral commented on #10021
adding myself as an assignee. I'll create the google icon for the export dropdown.

[2017-12-14 08:05] smboser commented on #10060
@dancabral I have checked with the given XML by importing it into news. The published date is being shown in the date field and the Posted On date is showing today’s date as it is posted today on the site by user. PFB the screenshot.
![ariel_xml](https://user-images.githubusercontent.com/14976596/33981550-5ed9728a-e0d3-11e7-932c-cb1402603a10.PNG)
![given_xml](https://user-images.githubusercontent.

[2017-12-14 20:15] dancabral commented on #10060
@smboser thanks for researching this. Can we do (2) things:

1) For news import with XML (per your example) can we also populate the Posted on field with the ```<published>``` date from the XML?
2) As well, for blog import with XML can we populate the Posted on field with the ```<published>``` date from the XML? This would fix the issue from the original ticket from the user where the rendered lis

[2017-12-15 17:43] smboser commented on #10060
Yes, we are working on this.

[2017-12-15 17:54] rsasch commented on #9822
@tcheng001

1. This was never a requirement.
2. I can't reproduce this; I changed my password to XYZ321!! then XYZ321RR and I wasn't able to change it back to XYZ321!!

[2017-12-18 11:45] smndey commented on #9606
@Bilsi

Here is the development status of this issue.
![create page tcheng3](https://user-images.githubusercontent.com/1494203/34104193-80598ae0-e415-11e7-84b3-6fee28f0167d.png)

1. Frontend: Create a custom directive for Group audience field. (In progress)
2. Node Edit : Test and implement of missing components in page edit form. (Not yet started)
3. Replace page edit links with angular form moda

[2017-12-18 14:43] tcheng001 commented on #9822
Mark "Fixed"

[2017-12-18 14:50] jDatum commented on #10025
@mpetrovic I had started actively working on the Apachesolr and their Search API equivalent on Friday. I saw that you have a lot of settings so I need to know should I create a new module or override the `os_search_solr` module?

[2017-12-18 15:33] smboser commented on #10060
Implemented it for the news type of content (1). Working for the blog.

[2017-12-18 16:46] tcheng001 commented on #10037
site privacy settings - all 5 types are showed correctly

Test case | Description | Test Result
------------ | ------------- | ---------------
--  | all 6 new fields showed in query result |  OK
--  | no. of posts is correct  |  OK
--  | no. of files is correct  |  OK
--  | no. of widgets is correct  |  OK
--  | no. of site members is correct  |  OK
--  | no. of redirects is correct  |  OK
--  | s

[2017-12-18 18:53] tcheng001 commented on #10048
Look good. Mark "Fixed"
![screen shot 2017-12-18 at 1 09 03 pm](https://user-images.githubusercontent.com/2111600/34122499-a95e92c0-e3fa-11e7-9661-86b06054e304.png)

![screen shot 2017-12-18 at 1 48 42 pm](https://user-images.githubusercontent.com/2111600/34122515-b3009738-e3fa-11e7-865c-31856c1cff09.png)

[2017-12-18 18:56] tcheng001 commented on #10055
Look good. Mark "Fixed"
![screen shot 2017-12-18 at 1 09 03 pm](https://user-images.githubusercontent.com/2111600/34122499-a95e92c0-e3fa-11e7-9661-86b06054e304.png)

![screen shot 2017-12-18 at 1 48 42 pm](https://user-images.githubusercontent.com/2111600/34122515-b3009738-e3fa-11e7-865c-31856c1cff09.png)

[2017-12-18 19:19] mpetrovic commented on #10025
Make a new module please. os_search

[2017-12-18 20:12] tcheng001 commented on #10048
@arijeetbannerjee   Added "Pending".  I deployed the PR to dev.hwpi, but the field is still showed up in the form.  Could you take a look?  I did clear varnish and drupal cache, and browsing data.
![screen shot 2017-12-18 at 3 10 31 pm](https://user-images.githubusercontent.com/2111600/34125900-d035cd54-e405-11e7-8d42-0c2b9464d4c1.png)

[2017-12-18 21:50] dancabral commented on #10021
@tcheng001 this is ready for QA. Should see this.
![screen shot 2017-12-18 at 4 49 03 pm](https://user-images.githubusercontent.com/867075/34129808-7bb6115e-e413-11e7-8116-b7044324b3d0.png)

[2017-12-18 22:52] #9822 closed

[2017-12-18 22:53] #10055 closed

[2017-12-18 22:53] #10037 closed

[2017-12-19 13:07] arijeetbannerjee commented on #10048
Hello @tcheng001,
  I have deployed the code to dev.hwpi and staging.hwpi and on both of the environment it's working as expected. I have just switched the code to "10048-Open-scholar-registration-gender" branch and reload the browser to see the effect. Below is the screen shot:

![image](https://user-images.githubusercontent.com/26901665/34158415-59ac4d48-e4eb-11e7-96b4-634d9715f518.png)

![image

[2017-12-19 13:28] tcheng001 commented on #10048
Look good now. Mark "Fixed"

[2017-12-19 14:27] #10048 closed

[2017-12-19 14:30] smboser commented on #10050
@mpetrovic This option is set from beginning and used here only. So, I have made some changes in the format and its working now. PR #10057 has been updated for review.

[2017-12-19 15:07] smboser commented on #10021
As discussed with @tcheng001 I am taking this back to dev. I will provide update when the navigation to the Google Auth settings will be done.

[2017-12-19 15:31] jDatum commented on #10025
@mpetrovic Do we need to reimplement the whole module or just hooks that you mentioned in the ticket #10025 ? Search API doesn't work with the core Search form so we will need to do some tweaks similar to the `os_search_solr` module do if we are going to disable the `os_search_solr` module.

[2017-12-19 15:47] mpetrovic commented on #10025
The whole module. All functionality needs to be replicated. The hooks I
mentioned are just a part of the work needed. We should be able to disable
os_search_solr when the new module is ready.

[2017-12-19 15:48] mpetrovic commented on #9606
No other role should have access to that widget. It's entirely an internal detail that normal users should never see.

[2017-12-19 18:42] smndey commented on #9606
@mpetrovic Thanks. So in that case should we developed this widget in our angular node form ?

[2017-12-19 18:50] mpetrovic commented on #9606
No.

[2017-12-19 19:49] smndey commented on #9606
@mpetrovic Great. You saved my day :)

[2017-12-20 11:17] arijeetbannerjee commented on #10021
I have added the navigation menu for Google Calendar Settings page. It is placed under the "**WEB SERVICES**" block on the admin configuration page.

Below are the steps to create the required Google credential to use google calendar feature.

**1)** To read events from your public Google Calendars you’ll need create a Google API key and save within your plugin settings.

You’ll need the Google Ca

[2017-12-20 12:59] arijeetbannerjee commented on #9583
@mpetrovic - putting PR #10011 in review. Please let me know if any other changes required.

[2017-12-20 17:07] jDatum commented on #10040
The idea is that upon rendering the `{{` would be replaced with `{ {`, this will stop the rendering breaking the angular code.

[2017-12-20 19:58] mpetrovic commented on #10040
That will change the user's input in a way they won't expect and probably won't want.

If the filter method doesn't work, then we need to apply ng-non-bindable to user-generated content. There are a few places in the markup where this happens, so it should be easy to enumerate.

1. Node Titles
2. All fields with wysiwyg input
3. Box Titles
4. Box Content
5. File Titles
6. Image alt and title attri

[2017-12-20 21:02] dancabral opened #10064 "Move accordion arrow to another css selector"
The accordion arrow is messing up the custom themes. We should move it to another css selector.
![arrows](https://user-images.githubusercontent.com/867075/34228614-3c409002-e59f-11e7-8faa-19e5cee51b99.png)

[2017-12-20 21:21] dancabral commented on #10064
https://cpl.hks.harvard.edu/sheila-c-johnson-leadership-fellowship

[2017-12-21 16:11] mpetrovic commented on #10040
I forgot a place. It needs to be done on the cp_content screens, as they display user-generated content as well.

[2017-12-22 09:58] smboser commented on #10060
@Bilsi @dancabral Both the changes are done. PR #10063 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/34294036-c42fe128-e72c-11e7-8607-6c70e38b1989.png)
![image](https://user-images.githubusercontent.com/14976596/34294051-cefedf46-e72c-11e7-83d0-c5a8a14d4255.png)

[2017-12-22 14:28] openscholar-admin opened #10065 "Logged in: Calendar event popup is displaying other styles"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/logged-in-calendar-event-popup-is-displaying-other-styles)

**The Plan**

Fix the issue so that calendar event popup displays correctly when logged in

**Description**

While logged in the calendar event popup is displaying other styles. Anon users wont see this defect but we should

[2017-12-22 14:31] openscholar-admin opened #10066 "Site section drop-down in Layout: items should order alphabetically"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/site-section-drop-down-in-layout-items-should-order-alphabetically)

**The Plan**

Items should be ordered alphabetically with home at the top

**Description**

Now, the order of the content types looks ordered randomly.  We should keep [All Sections] and [Front Page] listed on the t

[2017-12-26 10:34] smboser commented on #10066
@Bilsi @tcheng001 Its changed, PR #10067 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/34354736-61216c5a-ea56-11e7-886f-b9788f83530d.png)

[2017-12-26 15:52] Bilsi opened #10068 "Test cases broken in 3.x"
All the test cases in 3.x are broken, can you see what is causing it?

[2017-12-26 18:03] tcheng001 commented on #10060
Mark "Fixed"
1. Blog import (RSS) - the date showed in the post matches the date of the original source.
2. Blog import (CVS) works as  before
3. News import (RSS) - the date showed in the post matches the date of the original source
4. News import (CVS) works as before

[2017-12-26 18:07] openscholar-admin opened #10069 "RSS Feed Widget "Subscribe" link linking to xml document"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/rss-feed-widget-subscribe-link-linking-to-xml-document)

**The Plan**

Fix the subscribe link to copy the feed to clipboard

**Description**

I'm not positive how the RSS Feed Widget is supposed to work, but at the moment when a user clicks "Subscribe", it links to an XML document. I

[2017-12-26 18:15] tcheng001 commented on #10050
Mark "Pending"   Tested on dev.scholar. Failed to run update.   I got "504 Gateway Time-out" when trying to access https://dev.scholar.harvard.edu/update.php

[2017-12-26 18:29] dancabral commented on #10069
@smboser this pertains to the RSS feed widget. the plan here is:
When a user clicks the Subscribe link, copy the feed url to the clipboard and change the label from "Subscribe" to "Feed URL copied to clipboard".

From this
![subscrobe](https://user-images.githubusercontent.com/867075/34362354-d3d7690e-ea40-11e7-942f-95c50cf0437f.png)

To this
![copied](https://user-images.githubusercontent.com/867

[2017-12-26 18:34] tcheng001 commented on #10066
Look good.  Mark "Fixed"     Tested on https://staging.hwpi.harvard.edu/tormanhc_001
1. Content types (all ) are listed in alphabetical order now.
<img width="588" alt="screen shot 2017-12-26 at 1 25 55 pm" src="https://user-images.githubusercontent.com/2111600/34362346-c1aff8cc-ea40-11e7-990e-f752b1009335.png">

2. Content types (partial list - some content types are disabled, including FAQ, Pres

[2017-12-26 18:34] Bilsi commented on #10050
@tcheng001 - ran it successfully, you should be able to test now

[2017-12-26 18:35] #10066 closed

[2017-12-26 18:36] #10060 closed

[2017-12-26 20:46] tcheng001 commented on #10050
Look good. Mark "Fixed"
Can reproduce in production
![screen shot 2017-12-26 at 3 16 48 pm](https://user-images.githubusercontent.com/2111600/34364060-ff1f2868-ea4f-11e7-8d9f-d7d4199d2a76.png)

![screen shot 2017-12-26 at 3 41 57 pm](https://user-images.githubusercontent.com/2111600/34364425-f3ee81c4-ea53-11e7-820a-606c40923509.png)

[2017-12-26 20:49] #10050 closed

[2017-12-26 22:18] dancabral commented on #10065
this is fixed

[2017-12-27 00:26] tcheng001 commented on #9569
@smboser  Marked "Pending".  We deployed this PR to dev.hwpi,  but I don't see the new change (user creation part). Can you take a look when you have a chance?  I did clear vanish and drupal caches, and browsing data.

<img width="831" alt="screen shot 2017-12-26 at 7 25 41 pm" src="https://user-images.githubusercontent.com/2111600/34367006-9b9b8b92-ea72-11e7-9009-be684c134573.png">

[2017-12-27 00:42] tcheng001 commented on #10021
@arijeetbannerjee    After deployed this PR to dev.scholar,  failed to run `drush @scholar.dev cc all`. These are the errors:

The whole site is crashed.  Can you take a look?  I might have been missing something.
Marked "Pending"

[2017-12-27 08:28] smboser commented on #9569
@tcheng001 New user for will only visible if user logs in by using Harvard key but doesn't have OS account associated with it. Please check https://github.com/openscholar/openscholar/issues/9569#issuecomment-338002608. Please let me know if you have any queries.

[2017-12-27 11:45] arijeetbannerjee commented on #10021
@tcheng001 ,
  The error is generating from the Flag module. I have investigated and found that the Flag module is disabled on the dev.hwpi and staging.hwpi environment so the PR is working fine there. I have switched the branches on dev.scholar to #10017, #10021, #10022 and some other branches where the same error is throwing. I have checked with the SCHOLAR-3.x version on dev.project and it is t

[2017-12-27 12:23] Bilsi commented on #10021
@tcheng001 - dev scholar has an issue, will take a look at it today. Can you test this on another server?

[2017-12-27 14:24] smboser commented on #10068
@Bilsi Its fixed now. PR #10071 has been created for review.

[2017-12-27 14:40] tcheng001 commented on #10021
@arijeetbannerjee   Mark "Pending"   Retested on dev.hwpi.  I saw Google Calendar Settings page but didn't change anything on it.
![google_calenar_settings](https://user-images.githubusercontent.com/2111600/34384002-5baff1ec-eae7-11e7-81f0-aeee04552878.png)
After exporting Google calendar from my test site (tormanhc_001), I see the message "Calendar successfully sync with Google calendar" at the t

[2017-12-27 14:44] #10065 closed

[2017-12-27 14:52] #10068 closed

[2017-12-28 09:14] smboser commented on #10069
@dancabral The new functionality has been implemented. PR #10072 has been created for review.

[2017-12-28 16:11] tcheng001 commented on #10021
Thanks @arijeetbannerjee   I am able to export events from OS calendar to Google calendar.
Return to "in dev".  Tested on https://dev.hwpi.harvard.edu/tormanhc_001
1. After exporting events from OS, events are placed into the Google user's calendar.  No new calendar is created. Intended?  See the attached. I remember that a new calendar (using the OS vsite name) will be created when testing an ear

[2017-12-28 16:19] #10064 closed

[2017-12-28 16:51] yommu commented on #10025
**Current Status**

We are updating our new module called *so_search* so it match functionality of *so_search_solr* & *apachesolr*.
Our approach is that we will use *search_api*, *search_api_solr* and from *search_api* submodules *search_api_views* (to display results) and *search_api_facetapi* (to help us build facets).
We can use templates for a view to style it as we want, and we can use export

[2017-12-28 17:47] mpetrovic commented on #10025
Sounds good. Thanks for the update.

[2017-12-28 19:29] dancabral opened #10074 "Interim cleanup of login screen"
as a larger project we're going to cleanup the login screen(https://github.com/openscholar/openscholar/issues/9937). In the meantime we shouild fix the obvious display issue.
![screen shot 2017-12-28 at 2 22 25 pm](https://user-images.githubusercontent.com/867075/34421144-829ee4a8-ebdb-11e7-86f7-236bd1e283f6.png)

![screen shot 2017-12-28 at 2 22 31 pm](https://user-images.githubusercontent.com/86

[2017-12-29 12:37] smboser commented on #9821
@Bilsi All the test cases are passed now. PR #9826 has been updated for review.

[2017-12-29 14:50] #9821 closed

[2017-12-29 17:39] smboser commented on #10021
Working on these two observations.

[2017-12-29 18:02] smboser commented on #9583
Clean run: https://travis-ci.org/openscholar/openscholar/builds/322954929
PR #10011 is updated for review.

[2017-12-29 19:29] tcheng001 commented on #9569
@dancabral   Marked "Pending"
I deployed PR 9569-OS-Site-Creation-Flow_improvement to hwp.staging, but was not able to create new vsite. Could you take a look?  I did enable the module "OS Site Creation".
![screen shot 2017-12-29 at 2 28 12 pm](https://user-images.githubusercontent.com/2111600/34445855-8e497d12-eca4-11e7-8834-db2dfc0ef5fe.png)

[2017-12-31 13:34] dg2105 commented on #9634
Same problem here, is there any solution?
Thankyou, happy new year!

[2018-01-02 15:21] Bilsi commented on #9569
@smboser - Can you take a look at why this isnt working?

[2018-01-03 07:37] smboser commented on #9583
@Bilsi @mpetrovic All the test cases are passed now. PR #10011 has been updated for review.

[2018-01-03 10:39] smboser commented on #9569
@tcheng001 Could you please provide the login credentials by which you tried in staging. I have checked in dev.hwpi and its working fine. Need to clear browser's local storage before proceeding.
![image](https://user-images.githubusercontent.com/14976596/34517286-6db97976-f0a0-11e7-9c31-b8fc1eb382fa.png)

[2018-01-03 16:31] Bilsi commented on #10062
@smboser - Can we update the https://github.com/openscholar/openscholar/issues/9569 to not allow the vsite name to have a period? Can you also make this change to the current site creation workflow - make a branch off of 3.x. Add a validation error to check for that.

[2018-01-03 16:58] #9953 closed

[2018-01-03 17:36] Bilsi commented on #10040
Let's put this on hold now

[2018-01-03 20:16] dancabral commented on #10023
@tcheng001 part of the QA
1) view Modern and Vibrant themes. Do colors look broken (compare to prod)?
2) A new css file should appear last in the stack of css files. See
![sass](https://user-images.githubusercontent.com/867075/34538117-15f9d99e-f099-11e7-8961-f022ae6eb5ae.png)

[2018-01-04 01:23] Bilsi opened #10075 "Unable to create a site"
1. "I have tried to create a new OpenScholar website for myself here: https://scholar.harvard.edu/site/register
After filling out the form and clicking 'Create your site', I don't get any error messages but nothing happens, and the site does not seem to have been created. I am running Chrome on Ubuntu 14.04. Thanks!"

2. "I have been filling out the form to create a new website and when I go to su

[2018-01-04 01:24] Bilsi commented on #10075
@smboser @smndey - Can you look at this first thing when you come in?

[2018-01-04 01:29] Bilsi opened #10076 "Change the url pointing to the logo in the footer of all sites to http"
http://theopenscholar.com since https does not work for the domain yet

[2018-01-04 05:41] smndey commented on #10075
@Bilsi I have clicked ("create this site") button multiple times still not able to create a site using my harvard key. I am getting 502 response. Here is the complete error response.

Not sure at this moment what is the possible reason behind this. We are investigating further.

[2018-01-04 08:48] dg2105 opened #10077 "Multiple errors when installing"
Hi, several week i'm trying to install OS for my organization (University) saddly i didn't success.
The error jump up when installing one of the modules. I tried  the prebuilt version and also the build yourself with the same results. I installed clean Drupal 7 with no problem.
I work with a LAMP server
I also tyied 3.76.1 and 3.78.0 versions, with same results
Error during installation:

Please h

[2018-01-04 12:54] smndey commented on #10075
@Bilsi Is it possible to simulate Harvard Pin login in stage environment ? Presently I can't login into stage environment using my Harvard pin. I am facing some difficulties to debug it from local environment.

[2018-01-04 13:40] Bilsi commented on #10075
@smndey - stage hwpi? are you able to even use it, it think we were having some trouble yesterday because the hosting provider has an issue, they emailed us about it
Did you try creating a site in prod scholar? Did it work for you?

[2018-01-04 13:45] tcheng001 commented on #10023
Mark "Pending"
@dancabral    tested on dev.hwpi
We have some issues in test env:
1. It seems that dev.hwpi is set to use http instead of "https"
![screen shot 2018-01-04 at 8 44 47 am](https://user-images.githubusercontent.com/2111600/34566168-9a32f97e-f12b-11e7-89da-c3dd8f859a95.png)

2. js is broken. (Admin and user menu is not visible, and contextual links's style is missing
![screen shot 2018-

[2018-01-04 13:54] smndey commented on #10075
@Bilsi Yes. I can visit hwpi stage site forcefully by ignoring SSL certificate error.

See my comment above https://github.com/openscholar/openscholar/issues/10075#issuecomment-355203627

[2018-01-04 13:56] smndey commented on #10075
@Bilsi Sorry not hwpi stage. I was talking about project scholar stage site.

[2018-01-04 14:23] Bilsi commented on #10075
@smndey -  We are unable to replicate the issue now, asking the users to double check

[2018-01-04 14:32] smndey commented on #10075
@Bilsi That's great. However I am still not to able create a site using my Harvard pin. Is it something related to my access? 502 Ajax Error response,

[2018-01-04 14:34] Bilsi commented on #10075
@smndey - You may not have permissions to create a site, not all Harvard key users have access to create sites on OpenScholar. But that being said, you should not see that error either. Let us wait to see if the users still see the issue before we do anything. Harvard is actually closed today due to a snow storm, so it will be a day or two before we hear back

[2018-01-04 15:34] dancabral opened #10079 "Increase slideshow minimum image size dimensions"
Unintended cropping sometimes occurs when a slideshow image is just wide enough at 980px. Increasing the minimum image size recommendation to 985px should solve this.
![screen shot 2018-01-04 at 10 30 19 am](https://user-images.githubusercontent.com/867075/34570786-cc38bb84-f13a-11e7-9984-ab1b798862f0.png)

[2018-01-04 16:09] dancabral commented on #10079
This fix was made directly into 3x.

[2018-01-04 16:10] dancabral commented on #10074
clean up this modal while I'm cleaning up the login screen.
![screen shot 2018-01-04 at 11 08 40 am](https://user-images.githubusercontent.com/867075/34572630-d9e7d850-f13f-11e7-8eeb-4307ca5711c0.png)

[2018-01-04 16:10] #10079 closed

[2018-01-04 16:10] #10076 closed

[2018-01-05 07:51] smndey commented on #9606
@Bilsi I had deployed this feature branch into hwpi dev to test few things but post deployment of this branch I had encountered following php fatal error due to memcache. I didn't change anything relate to memcahe.
![php-fatal-error](https://user-images.githubusercontent.com/1494203/34599846-7b88847c-f21a-11e7-9306-201d2bc3a5b0.png)
today I have merged SCHOLAR-3.x into feature branch. Do you have

[2018-01-05 10:27] yommu commented on #10023
I will take a look at this, and let you know.

[2018-01-05 14:38] dancabral commented on #10074
[code]

[2018-01-05 15:02] yommu commented on #10023
Can you please take a look at this now.. css files should not be processed by drupal, and they should be added to the end of list of stylesheets.

[2018-01-05 17:49] Bilsi commented on #10075
@smndey - Turns out this only happens with new users who have ever used OpenScholar and do not have an Openscholar account. You would have to delete your username from the users table and also from the pinserver_users table which links the Harvard key to the openscholar account and then try and replicate the issue

[2018-01-05 20:53] Bilsi commented on #9606
@smndey - the branch failed to build, It failed applying a patch to the wysiwyg module. You would need to fix it in the code

[2018-01-05 22:29] #10075 closed

[2018-01-05 22:33] Bilsi opened #10082 "Unable to set user to site owner"
https://scholar.harvard.edu/rebecca_beroukhim

Login and go to Members and Roles --> click edit next to Katherine's name and check the box to set the user as a site owner

![untitled](https://user-images.githubusercontent.com/11841641/34631415-3b2bd248-f23e-11e7-8023-eb4dd42edf6f.png)

It errors out. Only users whose OpenScholar accounts are linked to Harvard key are allowed to be site owners, kat

[2018-01-08 11:50] smndey commented on #9606
@Bilsi Thanks. I have fixed it.

[2018-01-08 14:50] tcheng001 commented on #9569
Unable to log in with HKey in dev and staging env.  Mark Pending.

[2018-01-08 15:56] tcheng001 commented on #10023
There is no sass css file at the end of list of stylesheets.
![screen shot 2018-01-08 at 10 13 29 am](https://user-images.githubusercontent.com/2111600/34677395-0248f330-f45e-11e7-8f69-9462a08b93f0.png)

@dancabral   Can you take a look?     Marked "Pending"

Test case  | Description | Test result
------------ | ------------- | -------
-- | check the look on all admin menu items | OK
-- | check us

[2018-01-08 19:04] mpetrovic commented on #10025
Is this ready for a code review? If so, please tag it with the "status: needs review" tag so we know.

[2018-01-09 05:49] smboser commented on #10062
@Bilsi  - The period is not allowed in the vsite name any more. The message below has also been changed. Please refer to the screenshot attached.

![not_allowed](https://user-images.githubusercontent.com/14976596/34706558-8dcc771c-f52e-11e7-8ed2-de0c24185ac2.PNG)

[2018-01-09 08:48] smboser commented on #10069
Now all the environments are working. I have checked in dev.hwpi. PR #10080 has been updated for review.

Before clicking
![after_clicking](https://user-images.githubusercontent.com/14976596/34712188-fb0bd9ee-f547-11e7-990d-454df8acb455.PNG)

After clicking
![before_click](https://user-images.githubusercontent.com/14976596/34712189-fb431aee-f547-11e7-96d7-2389a6ea1d3f.PNG)

[2018-01-09 09:45] smboser commented on #10021
@tcheng001 -
1.After exporting events from OS, events are placed into the new calendar.

![calender](https://user-images.githubusercontent.com/14976596/34714397-578f2a02-f54f-11e7-91c6-e291e15b37b7.PNG)

2.After deleting an event from OS, its not showing any more in the calendar.

[2018-01-09 15:45] yommu commented on #10025
Currently we are working on making sure that we are indexing all field that are indexed with apachesolr.
We have alter a way entity reference fields are indexed with inheritance of SearchApiSolrService where we update documents of all indexed items.
Next thing we need to do is to identify entity reference fields which targets taxonomy (example og_vocabulary) because in field info data entity type

[2018-01-09 16:12] Bilsi opened #10084 "Site search doesn't work correctly"
http://community.openscholar.harvard.edu/openscholar/topics/site-search-doesnt-work-correctly

We have had issues with search lately
got here https://docs.openscholar.harvard.edu/search/site/blog?&solrsort=%20 and enter search terms “presentation” “presentation app” “blog”

Can you see if we can improve this? let us discuss when you finish analysing the issue

[2018-01-09 17:58] #10082 closed

[2018-01-09 22:18] Bilsi opened #10085 "Breadcrumb not showing Book page depth"
http://community.openscholar.harvard.edu/openscholar/topics/breadcrumb-not-showing-book-page-depth

I have not tried to replicate this and do not know if it is an issue on just this site or across the board. Can you see what is going on?
All prod sites will be in readonly mode start 10 pm EST tonight till end of day tomorrow as the team is working on migrating to a different server, so you may not

[2018-01-10 11:02] smboser commented on #10085
@Bilsi Not able to reproduce with the last DB dump in my local or in dev even with the same site as prod. Currently taking the latest DB dump and will try to reproduce.
![image](https://user-images.githubusercontent.com/14976596/34769453-de0e018c-f623-11e7-8dd7-22850269e68a.png)

[2018-01-10 11:12] smboser commented on #10084
@Bilsi I have checked the issue. In the main ticket user search with the phrase `program income guidance`, which didn't fetch the desired result. It was because search was done with three separate words. If he would search with `"program income guidance"` i.e. putting those words in a quote, then it would display the desired result.

If I search with `program income guidance` in osp.finance.harvar

[2018-01-10 13:34] Bilsi commented on #10084
@smboser - I see your point here, though we shouldnt make quotes mandatory, let me think about that.
Did you see the discussion in this ticket?

[2018-01-10 14:00] smboser commented on #10084
@Bilsi Yes I saw the discussion. To provide AND between the search words, quote needs to be put. Otherwise it will treat as separate words (using OR) as I posted in my previous comments. Do you want to mean anything different with that, please let me know.

[2018-01-10 15:00] smboser commented on #10085
Even after downloading the latest dump didn't help me much. It is showing fine in my local. I will analysis further in prod once migration is finished.

[2018-01-10 15:01] Bilsi commented on #10084
@smboser - the original message was that when they type in "program income guidance" in search in https://osp.finance.harvard.edu/, it shows people first and not by relevance, we want data displayed by relevance

[2018-01-10 15:35] smboser commented on #10084
@Bilsi Ok I got your point. I am checking for the bias settings.

[2018-01-11 15:42] smboser commented on #10085
@Bilsi I have created a new branch named "10085-Wrong-breadcrumb", but its not showing in the branch list, is there anything I mistaking?
![image](https://user-images.githubusercontent.com/14976596/34832895-1883a876-f714-11e7-983e-e8be1b4ce9d0.png)

[2018-01-11 15:55] Bilsi commented on #10085
@smboser - We just fixed it, can you make an edit and push it to trigger the build. It will then show up

[2018-01-11 19:40] tcheng001 commented on #9569
- [ ] The form is messed up a bit after I enter the name of vsite and hit [Enter] instead of clicking [Next] button
![9569_2](https://user-images.githubusercontent.com/2111600/34843600-e3e325ec-f6dc-11e7-9fd3-e78db7e8667d.png)

- [ ] For Project site (minimal).  Four menu items are missing (including Calendar, Links, News and People).  We would like to keep HOME as well.
![screen shot 2018-01-11 a

[2018-01-12 17:48] smboser commented on #10085
I am still not able to replicating it in my local. As shown in pic above its also not replicating always in dev.hwpi.
What I found till now is $menu_active_trail is generating differently (https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_breadcrumbs/os_breadcrumbs.module#L15).
I am not sure if it is due to change in core version or updating any contrib

[2018-01-15 17:15] Bilsi commented on #10023
@tcheng001 - Can you leave it on one of the test servers for @yommu to take a look?

[2018-01-16 10:47] smboser commented on #10084
@Bilsi Its fixed now. It is now showing the result as per relevancy by default. PR #10091 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/34984974-9e431df8-fad8-11e7-982a-51a3ab415f39.png)

[2018-01-16 12:59] smboser commented on #9569
@tcheng001 For issue no. 1, I have provided the fix.
And for 2, I did it as per https://github.com/openscholar/openscholar/issues/9569#issuecomment-336171852. So, just wanted to be confirmed before proceeding with the change.

[2018-01-16 13:14] tcheng001 commented on #9569
Sorry, I missed @dancabral's comment.   Please ignore issue #2 in my previous comment. You can change the label if you think this is ready.

[2018-01-16 13:21] smboser commented on #9569
I made a little change in UI, that's why waiting for the test cases to be passed. After that I will change the label.

[2018-01-16 13:38] tcheng001 commented on #10023
@yommu   I have deployed  this PR to dev.hwpi.  Could you take a look on it when you have a chance?

[2018-01-16 17:13] openscholar-admin opened #10093 "Breadcrumb not showing Book page depth"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/breadcrumb-not-showing-book-page-depth)

**The Plan**

Fix issue so that that book pages appear in the breadcrumb trail.

**Description**

It appears that the breadcrumb does not show the book page levels. See example:

[https://hwpi.harvard.edu/joe/book/sec...](https://hwpi.harvard.

[2018-01-16 17:29] yommu commented on #10025
@mpetrovic
Do we have anywhere defined how search should work like, what should be indexed when, and what should be displayed, what needs to be available as facets... or we need to extract all functionality from code?
I’m asking this because I’m looking for a way to verify that this things I’m been working on are actually working correctly.

[2018-01-16 17:39] tcheng001 commented on #10023
@yommu   this is my test vsite.  (https://dev.hwpi.harvard.edu/tormanhc_001).  Let me know if you have problem of accessing the vsite.

[2018-01-16 17:41] dancabral commented on #10093
@smboser the plan here is to fix it so that book page (content type) breadcrumbs appear in the breadcrumb trail. See here how its supposed to show. http://web.archive.org/web/20170504060317/https://bulletin.hds.harvard.edu/articles/spring2006/rethinking-christian-claims-universalism

[2018-01-16 17:52] bkosborne opened #10094 "Inconsistent labeling for the search widget"
I noticed that there's inconsistent labeling for the Site Search/Search Box widget. Note that we're using the os_search_db module and not os_search_solr.

When adding a search widget to a page layout, it's labeled as "Search Box":
![screen shot 2018-01-16 at 12 49 31 pm](https://user-images.githubusercontent.com/544886/35003767-cd84a9c8-fabb-11e7-9b94-e50cba7227ad.png)

After adding the widget to

[2018-01-16 17:53] bkosborne opened #10095 "Site section dropdown selector in layout editor is broken"
The site section dropdown selector in the layout editor is broken. The values of the form element are numeric instead of the text machine name strings that they should be.

Current:
![screen shot 2018-01-16 at 11 24 16 am](https://user-images.githubusercontent.com/544886/34999555-01def6e4-fab0-11e7-9c71-d523ccee3dfa.png)

What it should be:
![screen shot 2018-01-16 at 11 24 38 am](https://user-ima

[2018-01-16 18:13] dancabral commented on #10085
@smboser you can see it happening here https://hwpi.harvard.edu/test/book/book-page-3. Are you creating a book and then adding a few child pages to the book? Those child pages should appear in the breadcrumbs. This seems to be only happening in the book content type...and not anywhere else.

[2018-01-16 20:22] bkosborne opened #10097 "Image thumbnails broken in "previously uploaded files" tab for media upload widget"
The angular modal dialog for selecting media has a tab "Previously uploaded files". It displays a list of files with their thumbnails. The image thumbnails are broken because they are trying to display using the "media_thumbnail" image style which doesn't exist.

I believe this is related to the recent module upgrades, which upgraded media. The version of media that OS uses has a new hook implemen

[2018-01-17 09:38] smndey commented on #9606
@Bilsi
Here is the progress till now.
![page node form](https://user-images.githubusercontent.com/1494203/35035480-85e69270-fb97-11e7-9c01-49acf0117e48.gif)

Feature wise it's completed. Presently working on following things.
1. Couple of bug fixing identified during development (In progress).
2. Fix travis test cases (Not yet start)

[2018-01-17 11:01] yommu commented on #10023
@tcheng001 Thank you.
When I try to access above link I got redirected to:
https://www.pin1.harvard.edu/cas/login?service=https%3A%2F%2Fwww.pin1.harvard.edu%2Fpin%2Fauthenticate%3Fredirect%3Dhttps%253A%2F%2Fdev.hwpi.harvard.edu%2Ftormanhc_001%26tk_forward%3D0%26__authen_application%3DCADM_HUIT_ATS_AWS_HWPI_DEV

Don't know if this is expected, but I cannot login there because I do not have credenti

[2018-01-17 14:12] bkosborne opened #10099 ""Download Citations" button shows on publications even if no export options are available"
We noticed that when a user configurations the publications app to not make any export formats available, the "download citations" link still shows:

![screen shot 2018-01-17 at 9 11 16 am](https://user-images.githubusercontent.com/544886/35046945-7de4412a-fb66-11e7-9ecf-a58709f10989.png)

[2018-01-17 14:19] tcheng001 commented on #10023
@yommu    Can you try again to access the vsite?  https://dev.hwpi.harvard.edu/tormanhc_001   Bilsi told me that you have a test OS user account.  If you have problem to log in, please let me know.

[2018-01-17 15:18] Bilsi commented on #10023
@yommu - if mirza hasnt passed on the test accounts to you or if you are having trouble, let me know

[2018-01-17 15:44] tcheng001 commented on #10062
Mark "Pending"
I see the fix on the site register form.  That is good.
![screen shot 2018-01-17 at 10 37 22 am](https://user-images.githubusercontent.com/2111600/35051462-44bfcba0-fb73-11e7-9418-49faf3c0017d.png)

But I find an issue, the user doesn't have to log in with Harvard Key to access the site register form.
What I did is
1) go to https://dev.scholar.harvard.edu/
2) click the big button [C

[2018-01-17 18:03] tcheng001 commented on #10069
Mark "Fixed"
1. After clicking Subscribe link, it turns to "Feed URL copied to clipboard"
2. the link is copied to clipboard
3. the functionality works as before
4. user can select all or particular content types
![screen shot 2018-01-17 at 1 02 26 pm](https://user-images.githubusercontent.com/2111600/35058679-b50d202a-fb86-11e7-860b-cd7616703204.png)
5. only the most 10 recently posts are exporte

[2018-01-17 18:18] bkosborne opened #10101 "Don't mention a mailing address at the end of emails if there isn't one defined"
os_events_mail_alter adds a mailing address to the end of all emails. Even if there's no value for the mailing address, the label is added. This can be fixed to exclude the label if no value is defined.

[2018-01-17 20:00] tcheng001 commented on #10021
Thanks @arijeetbannerjee  @smboser  Everything looks good.  Mark "Fixed"
How to configure calendar API in Openscholar:
steps:
1. Login as user1
2. Go to /admin/config page
3. Scroll down to WEB SERVICES section
4. Click Google Calendar Settings
5. Enter the following values to the form
API key:  AIzaSyBtaU6ZzZqn2QdH9RGznbF3A78LhO_0aNI
Client ID: 981016653203-58f2qcknaa1tc5ag2sqval8vp292ns72.apps.g

[2018-01-17 21:15] tcheng001 commented on #10084
Marked "Fixed" Tested on https://dev.scholar.harvard.edu/tcheng2/
Before fixed:  The result is good, but the order is not based on relevancy.
![search_result_before_fix](https://user-images.githubusercontent.com/2111600/35066602-25e0ece2-fb9f-11e7-88be-b2307f63ad99.png)

After fixed: Search result based on relevancy, the result lists those posts with titles that match pattern first, and then those

[2018-01-17 21:51] mpetrovic commented on #10097
Yes, we've seen this bug reported before. We've been too busy to look into it, but we have some time now to look.

[2018-01-18 13:34] tcheng001 commented on #10023
Hi @yommu,   Are you still using  https://dev.hwpi.harvard.edu/tormanhc_001  to investigate the issue I found now?  If not, I would like to take it back. we are running out of testing env.

[2018-01-18 13:54] bkosborne commented on #10097
Also I don't think the media module was actually upgraded. I thought it was because it was part of the recent changes to the make file, but it looks like OpenScholar provides its own copy of the media module that it uses instead. So maybe this bug has been around for a while.

[2018-01-18 14:10] smboser commented on #9583
@Bilsi @mpetrovic  Last changes are made and tested in local. But can't check in dev or staging because merging is not happening properly for hwpi.install file. The correct file is not getting uploaded to sever rather new changes are getting merged badly and creating a conflict file, though everything is correct in the PR.

[2018-01-18 14:14] bkosborne opened #10103 "Customizing layouts for basic pages is broken."
Steps to reproduce:

1) Go Appearance -> Layout in the CP
2) Select "Basic Pages" from the dropdown (you'll need the fix in #10095 though)
3) Make some changes to the layout and save for that site.
4) View a normal basic page on your site and observe the changes are not reflected.

Layouts for individual basic pages can still be customized by using the contextual gear icon. Note that this contextu

[2018-01-18 14:28] smboser commented on #10062
I am checking the issue.

[2018-01-18 14:28] bkosborne opened #10104 "Newly added feeds don't display their items on the reader landing page or the feed page"
Steps to reproduce:

1) Create new vsite
2) Enable the reader app
3) Add a new feed via Site Content -> Add -> Feed
4) Observe that after adding the feed, you're brought to the page for that feed, but the feed items are not displayed anywhere.
5) Edit the layout for the page, and observe that the "Latest Feed Items" widget is already in the layout. Click clear to customize and simply save the form

[2018-01-18 14:37] #10084 closed

[2018-01-18 14:48] openscholar-admin opened #10105 "Site content pulling in incorrectly to facebook"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/site-content-pulling-in-incorrectly-to-facebook)

**The Plan**

Fix the bug about Site content pulling in incorrectly to facebook

**Description**

See screenshots below. It's pulling in code, and often times not pulling in images. I tested with others sites that look fine so it must

[2018-01-18 15:34] dancabral opened #10106 "Add slide button (slideshow) missing from one vsite"
This is only occurring in one vsite https://projects.iq.harvard.edu/supportsite. The add slide button on the slideshow widget it missing. It can be easily reproduced on this site but not elsewhere. To debug you'll need a fresh db dump from projects.iq.

Let me know if you have any question.

[2018-01-18 19:35] mpetrovic commented on #10103
I think this is working as intended. Pages don't exist in a greater 'section' the way other content types do. They're all standalone. The better solution here would be to remove the Basic Pages context that never gets used.

[2018-01-18 19:40] dancabral opened #10109 "Replace OS footer logo with newly designed OS logo"
Our footer logo (powered by) needs to be replaced the newly designed version.
![screen shot 2018-01-18 at 2 36 55 pm](https://user-images.githubusercontent.com/867075/35117608-24e2d878-fc5d-11e7-892b-b5c81ea0a7bc.png)

replace with this
![screen shot 2018-01-18 at 2 40 21 pm](https://user-images.githubusercontent.com/867075/35117734-8e276a88-fc5d-11e7-8c0d-e1141bb09571.png)

[2018-01-19 15:23] dancabral commented on #10069
@smboser can you take a look at this? the former behavior is back https://vpal.harvard.edu/blog/searchbetter-helping-dart-find-even-more-search-results. thanks.

[2018-01-19 15:36] smboser commented on #10069
@dancabral Was it moved to prod? This was merged to SCHOLAR-3.x just 2 days ago. I can see the fix is in SCHOLAR-3.x.

[2018-01-19 15:40] smboser commented on #10062
@tcheng001 I found the reason, it was due to a wrong access permission for the of anonymous users. I have turned it off. Now user needs to be logged in to see the site register form.

[2018-01-19 15:40] dancabral commented on #10069
nevermind @smboser. my bad. youre correct its in 3x and hasnt been released yet.

[2018-01-19 15:40] #10069 closed

[2018-01-19 15:42] smboser commented on #9569
@tcheng001 As per our discussion yesterday, I checked the issue in dev.scholar. It is same as https://github.com/openscholar/openscholar/issues/10062#issuecomment-359001141. I have turned off the access there. Please let me know if you face any other issues.

[2018-01-19 15:55] tcheng001 commented on #10097
Mark "Fixed"   Tested on both scholar and hwpi.
Note: All vsite in both dev.projects and staging.projects are inaccessible. Unable to test there
1) News image looks good
2) All thumbnails in Media Browser look good.
3) Thumbnails of all file types render properly in Media Browser
4) Image files shows correctly in Media Gallery

[2018-01-19 16:00] smboser commented on #10106
@dancabral From https://projects.iq.harvard.edu/supportsite/cp/users/permissions I can see only admin users and content editor will be able to add slideshow images. I logged in with one admin user and the button is showing fine to me. Also, the uploading slideshow image is working fine too. Please let me know by which user you can't see the button?
![image](https://user-images.githubusercontent.co

[2018-01-19 16:16] tcheng001 commented on #10099
Look good. Marked "Fixed"
1) Download Citation link would not display when there is no download option
2) Download Citation link works in /publications as before
3) Download Citation link works in full node page as before.

[2018-01-19 17:03] tcheng001 commented on #10095
Look good.   Mark "Fixed"
1. The drop-down is not broken in production.
2. option values are changed
![screen shot 2018-01-19 at 12 02 33 pm](https://user-images.githubusercontent.com/2111600/35162231-add680f4-fd10-11e7-9bd6-1d5f6b45b413.png)
3. The drop-down works correctly as before.

[2018-01-19 17:37] bkosborne opened #10111 "iCalcreator library doesn't copy to correct location during build"
There's an error in the build/script file that puts the _contents_ of the iCalcreator directory in the libraries folder instead of the folder itself. PR coming.

[2018-01-19 18:39] dancabral commented on #10106
@smboser user dcabral cant see the Add Slide button. since this is very difficult to repro and doesnt appear to be happening elsewhere, I wouldnt spend much time on it. if it doesnt seem obvious I wouldnt spend much time on it and close the issue with a comment. thanks.

[2018-01-19 19:02] tcheng001 commented on #10062
Mark "Pending"
The big button [Create Your Site Here] is missing in the front page in dev.scholar for anonymous user (3.x).  No way to test.
![screen shot 2018-01-19 at 1 51 03 pm](https://user-images.githubusercontent.com/2111600/35166859-45e25dae-fd21-11e7-90a4-b70c6ea64699.png)

[2018-01-19 20:00] tcheng001 opened #10113 "[Create Your Site Here] button is missing in scholar front page (SCHOLAR-3.x)"
But I can see the button in production.
![screen shot 2018-01-19 at 1 51 03 pm](https://user-images.githubusercontent.com/2111600/35169094-321e194a-fd29-11e7-9601-77c97f32d124.png)
This issue is blocking #10062  and #9569
Could you take a look?  Thanks.

[2018-01-19 21:28] #10095 closed

[2018-01-19 21:28] #10099 closed

[2018-01-19 22:20] dancabral commented on #10103
@mpetrovic yeah agree. Basic Pages in dropdown on the cp/layout screen isnt useful. the only potential benefit would be if you wanted to place a widget in the layout of all pages whether they are part of a section or standalone pages--like a menu in the sidebar. @Bilsi ?

[2018-01-20 12:52] yommu commented on #10023
Hi, sorry for delayed answer.
I'm not using it anymore. Thank you.

[2018-01-21 16:17] Bilsi opened #10114 "Slides in presentation displaying in the wrong place"
1. here’s the way it is supposed to be:
https://gking.harvard.edu/presentations/simplifying-matching-methods-causal-inference-6 (edited)

2.  here’s the one with slides in the wrong place:  https://gking.harvard.edu/presentations/how-news-media-activate-public-expression-and-influence-national-agendas (edited)

Can you check and see what is going on here?

[2018-01-22 08:59] smboser commented on #10114
@Bilsi - In [https://gking.harvard.edu/presentations/simplifying-matching-methods-causal-inference-6 ](url) the slide has been uploaded in the presentation slide section. PFA the screenshot.
![correct](https://user-images.githubusercontent.com/14976596/35212483-54dcb71c-ff80-11e7-915a-12b156a4d2c8.png)

where as in [https://gking.harvard.edu/presentations/how-news-media-activate-public-expression-

[2018-01-22 10:07] smboser commented on #10113
@tcheng001 Some permission related settings have been changed for dev.scholar, that's why it is not appearing even in SCHOLAR-3.x. To get fast resolution, database can be copied from prod and pace here. Or if you want to go with this DB version, you can login and will be able to see the button (or by putting /site/register/ URL manually).

[2018-01-22 10:30] smboser commented on #10106
@dancabral I have reset it to default permission. Now it will work as usual. I couldn't check by using dcabral  but checked by using my user with same role, button is visible.

[2018-01-22 14:31] #10114 closed

[2018-01-22 14:46] openscholar-admin opened #10115 "Has the use of Apache Solr changed?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/has-the-use-of-apache-solr-changed)

**The Plan**

Fix the bug so that some of the default widgets which show up as "Untitled" now show correctly

**Description**

We've been noticing that our search results haven't been as good as they usually are lately and I just notice on the lay

[2018-01-22 15:48] #10113 closed

[2018-01-23 16:08] tcheng001 commented on #10023
@dancabral
That is strange.  The module 'os_style_override' is listed when I run
`drush @scholar.dev pm-list | grep os_style_override`
However,  it fails when I try to enable the module.
`drush @scholar.dev -en os_style_override`
[code]
Not seeing the module in UI either (/admin/modules page)

[2018-01-23 19:45] tcheng001 commented on #10025
@yommu   I don't know exactly the logic behind solr.  What I am saying here is based on the end user's point of view.
1.  Within a vsite, search result only shows those content belongs to the vsite.
2. Outside vsite, search result should cover all vsites.
3.  It seems that searching taxonomy doesn't need indexing on Solr with the current design
4. That will be great if search result can be as clos

[2018-01-23 20:26] tcheng001 commented on #10023
Mark "Pending"
@yommu    We are still not able to see SCHOOL-THEME.css file in the page source.
The PR is deployed to https://dev.hwpi.harvard.edu and you can go to my test vsite https://dev.hwpi.harvard.edu/tormanhc_001.  Feel free to change anything you need.
<img width="926" alt="screen shot 2018-01-23 at 3 19 09 pm" src="https://user-images.githubusercontent.com/2111600/35298679-ee40bafe-0050-

[2018-01-24 11:46] yommu commented on #10023
Commit f4e12104e940121f6f9991e12a177de89d8d66ac
contains integration of sass compile step and build process.
all sass files in os_style_override/sass/ folder needs to be compiled with node-sass into os_style_override/css in order this module to work.

I have checked that site above have sass files but it does not have css files, so I assume you have missed to build those.

If you are using ./scrip

[2018-01-24 15:35] tcheng001 commented on #10023
@yommu   Still not seeing the compiled css file.  I did try to re-deploy the PR to dev.hwpi.  What I learned is that deployment of PR will automatically install and run node-sass to compile sass file.
Am I still missing anything?
<img width="1407" alt="screen shot 2018-01-24 at 10 35 15 am" src="https://user-images.githubusercontent.com/2111600/35340887-555a6734-00f2-11e8-97e8-56aaa5817f10.png">

[2018-01-24 15:48] yommu commented on #10023
@tcheng001
Anyway we can confirm that we are running correct script version. You can take a look here that we install node-sass
https://github.com/openscholar/openscholar/compare/10023-theme-arch#diff-0f1191a0b0add1aacb23d0e3f0daec94R33

And here that we are using it:
https://github.com/openscholar/openscholar/compare/10023-theme-arch#diff-0f1191a0b0add1aacb23d0e3f0daec94R73

But I cannot see anyt

[2018-01-24 16:00] yommu commented on #10023
@tcheng001
So which script you are using to build site? Can I give it a try if you point me how to execute those?

[2018-01-24 20:35] Bilsi commented on #10023
@yummu - https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/scripts/build
This script builds everytime there is a code checkin. You can login using github - https://app.codeship.com/richard-brandon-floral-tree-5

[2018-01-25 08:40] smboser commented on #10115
@Bilsi I have checked the issue. It is a case of data loss from "spaces_overrides" db table. No delta value is showing against those widgets marked as "untitled", which is required to run properly.
![image](https://user-images.githubusercontent.com/14976596/35378444-d39eb10e-01d8-11e8-9396-8a238906415a.png)
I can restore the data for that particular site from my old backup by giving a data fix but

[2018-01-25 15:15] smboser commented on #10106
@Bilsi I have made myself as admin and I can see the add slide button. Is it possible to share that login credentials so that I can check
![image](https://user-images.githubusercontent.com/14976596/35395566-b691eb8e-0210-11e8-9457-2461db02738f.png)

[2018-01-25 15:19] Bilsi commented on #10106
@smboser - We see the add slide there too, it is the other gallery - the one with the tulips that doesnt show it

[2018-01-25 15:28] smboser commented on #10106
@Bilsi Those are "Embed Media" type of widget, not "slideshow". Only one media can be attached one time, isn't it. Am I making mistake?
![image](https://user-images.githubusercontent.com/14976596/35396315-84cf03d2-0212-11e8-9c23-4fe2bcfb3a27.png)

[2018-01-25 15:35] Bilsi commented on #10106
@smboser - your are right, i may be losing my mind :) ,  but there was an slideshow on that page, let me check and see if someone removed it.

[2018-01-25 16:39] mpetrovic commented on #10023
codeship-* scripts run every time a commit occurs. They pull in the latest code from our github repo into a subtree, then check if a full build needs to happen. If it does, then scripts/build is run, otherwise we skip that step.

We won't have any sass files in the github repo, so script/build isn't right. What we're probably going to do is have the sass files in a separate repo, pull those in, th

[2018-01-25 17:09] openscholar-admin opened #10119 "Terms are searchable but relevancy seems irrelevant"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/terms-are-searchable-but-relevancy-seems-irrelevant?rfm=1)

**The Plan**

Fix the search so that the items are shown by relevancy

**Description**

I search blue red.
Compare the top two posts in the resulting list in page 4. This is the last page.
Should “News 002” be

[2018-01-25 17:10] Bilsi commented on #10119
@smboser - if you look at the screenshot in the ticket - http://community.openscholar.harvard.edu/openscholar/topics/terms-are-searchable-but-relevancy-seems-irrelevant?rfm=1
you can see that the most relevant item is not displayed first

[2018-01-25 17:31] Bilsi commented on #10106
@smboser - support users are not able to see the add slide button. I changed your username smboser to a support user. If you now login to a site, and click on the right side icon and click on "Support this site", you will not be able to see the add slide button

[2018-01-25 18:45] tcheng001 commented on #10025
@yommu   I have updated [the comment](https://github.com/openscholar/openscholar/issues/10025#issuecomment-359907639)

[2018-01-26 13:34] #10106 closed

[2018-01-26 15:16] mpetrovic commented on #10115
how old is your backup? Can you put together a sql file that we can run on the db to restore those?

Or is there sufficient placement information in the spaces_override row for the box itself that they can be restored that way?

[2018-01-26 15:33] Bilsi commented on #10115
@smboser - Another site is now complaining about this - https://eye.hms.harvard.edu/
http://community.openscholar.harvard.edu/openscholar/topics/search-not-working-3yffuqo1ahu8u

[2018-01-26 19:51] dancabral commented on #10109
updated with new logo. marking fixed.
![screen shot 2018-01-26 at 2 51 14 pm](https://user-images.githubusercontent.com/867075/35457876-67f5c430-02a8-11e8-8a46-e6e434f56cdb.png)

[2018-01-29 13:33] smboser commented on #10119
@Bilsi I have checked the issue. It is same as #10084. The fix is in scholar-3.x but not in prod yet. I believe it will be ok after today's release. Please also let me know when dev scholar is fixed. I can then check it in lower environment too. Currently search is not working there.

[2018-01-29 13:54] smboser commented on #10115
@mpetrovic @Bilsi I was checking in my local setup. Backup was taken almost 1 month back.
That is the problem, it doesn't contain enough information. Only way I am seeing is to compare between two databases. I need to search with the word "facetapi-" before that. Do you have any other thoughts in mind ?

[2018-01-29 14:04] smboser commented on #9569
@Bilsi As discussed earlier, I tried to bypass the site creation scenario with Harvard pin. It is working for the users who have logged in with os login credentials. But as per testing result, it is only failing for users logged in with Harvard pin. So, I need to check what is going wrong there. And for that I need a testing Harvard pin. As discussed with Torman, I am marking this as pending unles

[2018-01-29 14:12] yommu commented on #10023
@mpetrovic

I have confirmed once sass files are compiled into css/ folder as css files, they are loaded at last place in page (this is for Harvard module).
We have added sass build step in both codeship-* scripts and scripts/build, and I confirmed locally that one in scripts/build is working. Are you saying that codeship-* are not working ?

[2018-01-29 15:55] Bilsi commented on #9569
@smboser - is the harvard pin in prod not working on the lower env for you?

[2018-01-29 16:08] mpetrovic commented on #10023
There shouldn't be one in scripts/build. Please remove that.

The codeship scripts are not working.

[2018-01-29 16:44] openscholar-admin opened #10121 "Redirects not working"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/redirects-not-working)

**The Plan**

Fix the redirects

**Description**

I'm trying to add a redirect from this website: https://ro.drclas.harvard.edu to an external URL. We add a redirect but it looks like it's not saving.

[2018-01-29 17:02] openscholar-admin opened #10122 "Links to documentation broken in a couple places"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/links-to-documentation-broken-in-a-couple-places)

**The Plan**

Fix the documentation links

**Description**

Wrong link to documentation on the "Manage My Account" screen in the User Menu:

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1695573/ScreenShot2018-01-23at9.35.

[2018-01-29 19:02] Bilsi commented on #9583
@smboser - resolved the conflicts in hwpi, you can test it in dev.hwpi or staging.hwpi

[2018-01-29 20:56] dancabral commented on #10122
this is fixed and checked into 3x directly

[2018-01-29 20:56] #10122 closed

[2018-01-29 21:00] dancabral commented on #10121
@smboser creating new url redirects is broken. Existing redirects work as expected. Here are the js errors.

/test/classes?admin_panel=1&login=1#:1 Mixed Content: The page at 'https://hwpi.harvard.edu/test/classes?admin_panel=1&login=1#' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://hwpi.harvard.edu/api/redirect?vsite=4041'. This request has been blocked; the con

[2018-01-30 10:59] smboser commented on #10121
@Bilsi - Tested in both production and dev server, but i am unable to replicate. Creating new redirect is working fine for both . PFA the screenshot.
Tested in production [https://ro.drclas.harvard.edu/](url)

![redirect](https://user-images.githubusercontent.com/14976596/35562674-1838087e-05da-11e8-9c46-8b42e30348fd.png)

Tested in dev environment. [https://dev.hwpi.harvard.edu/drclasregionaloffi

[2018-01-30 11:53] smboser commented on #9569
@Bilsi Yes I checked with the Somenath's account (somenath.dey@cognizant.com). It is working now for me. But getting a issue in another area. File is not properly merging again. This time is it for openscholar/openscholar/modules/frontend/admin_panel/misc/AdminPanelModule.js. It is showing like this
![image](https://user-images.githubusercontent.com/14976596/35565081-2a1d0302-05e2-11e8-9de8-22db92

[2018-01-30 12:49] yommu commented on #10023
@mpetrovic

Is there a place where I can see log of one run of scripts/codeship-acquia.sh script and how its called (which parameters are used).

I cannot run those script locally, I don't have access to svn-1745.prod.hosting.acquia.com:hwpi1.git

[2018-01-30 13:29] smboser commented on #9583
@Bilsi Thanks. I have tested it in lower environment and its running fine now. PR #10011 has been updated for review.

[2018-01-30 14:17] smboser commented on #10105
@Bilsi It is fixed. PR #10123 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/35570830-54c6b26a-05f6-11e8-9bee-f109c100ab39.png)
10123 is the correct PR. please discard the other testing PRs.

[2018-01-30 15:02] mpetrovic commented on #10023
Those scripts are [here](https://app.codeship.com/projects/197702).

[2018-01-30 15:53] Bilsi commented on #10085
@smboser - any updates on this?

[2018-01-30 18:32] Bilsi commented on #9569
@smboser - they should be resolved now? Can you confirm? I was able to deploy it to hwpi staging too

[2018-01-30 18:44] #10109 closed

[2018-01-30 19:17] Bilsi opened #10124 "Search AND and OR"
We still have the issue of the implicit OR instead of implicit AND. Every free-text search should behave this way: When I search for Bob Smith, I want only to get items that contain both “Bob” and “Smith”, not the union of those two sets. The search in OpenScholar is useless for this reason, especially when searching a larger range of objects, such as people records. We have been unable to do Sear

[2018-01-30 20:06] dancabral commented on #10121
@smboser thanks this is no longer reproducible in production.

[2018-01-31 12:10] smboser commented on #10124
@Bilsi I have checked it in the site https://hwpi.harvard.edu/tormanhc2/.
E.g. When I am searching with **Joe Nobel**, it is showing at the top and then others with surname with the high priority.
![image](https://user-images.githubusercontent.com/14976596/35622266-347a49ec-06ad-11e8-9ed7-f6d8ae19caea.png)
Again if I search with a non existing name e.g. **Amy Nobel**, it will list the people with

[2018-01-31 13:46] smboser commented on #9569
@Bilsi Sorry I am still getting same issue. After making some changes it is reflecting on the file but with merging error.
![image](https://user-images.githubusercontent.com/14976596/35626285-3fce72d8-06bb-11e8-8189-00087089c4a8.png)

[2018-01-31 13:50] tcheng001 commented on #10119
@Bilsi     Per discussion yesterday regarding search, I don't see the fix (#10084) in production. Should we re-index production and check again?   Mark "Pending"

[2018-01-31 14:50] tcheng001 commented on #10119
Something I am not so sure.   If I search "red",  based on current design,  those posts with the search pattern **in title** comes first, then those post bodies which contain the search comes second.  How about terms?

[2018-01-31 14:58] rbran100 commented on #10097
This is an OK fix, was there no way to clear the cache so that the new style is used?  Will this be removed in some time, if it is going to stay forever we should just create the style?

[2018-01-31 15:01] Bilsi commented on #9569
@smboser - fixed it in dev/staging scholar

[2018-01-31 15:04] mpetrovic commented on #10097
@rbran100
This cache exists on user's browsers, and we have no mechanism to clear it. Rebuilding it takes up user's time in a way other caches don't. Individual entries will clear as users make changes to files. The whole thing will clear if the user hasn't visited the site for 30 days.

[2018-01-31 15:06] Bilsi commented on #10119
@tcheng001 - I put that in QA for me to look, no changes have been made since yesterday

[2018-01-31 15:34] rbran100 commented on #10097
👍

[2018-01-31 15:37] tcheng001 commented on #10097
@mpetrovic   Do you mean users might still see the broken images after the fix?

[2018-01-31 15:43] hcanning2014 commented on #9634
Was there ever a fix for this issue? Setting settings.php back to 644 fixed most but i'm left with the error
![error2](https://user-images.githubusercontent.com/6403224/35632029-81c9d31e-0673-11e8-8f0d-da0e6058fb1e.PNG)
I'm installing via browser
This is line 41 `  if ($response->headers['content-encoding'] == 'gzip') {`
Thanks

[2018-01-31 15:47] mpetrovic commented on #10097
No, this fix essentially creates an alias, so users with stale caches will see thumbnails again. The fix will become less and less relevant over time. If there's ever a time where the cache becomes so bad that we need to force it to be cleared somehow, this code can be removed.

[2018-01-31 15:53] mpetrovic commented on #9634
Those are notices and can be safely ignored. We recommend you set your
server to not display them.

[2018-01-31 16:17] tcheng001 commented on #10097
Mark "Fixed"
Thumbnails looks good in Media Browser -> Previously uploaded files tab
![screen shot 2018-01-31 at 10 52 33 am](https://user-images.githubusercontent.com/2111600/35632710-5da251b2-0675-11e8-8987-2adab269622f.png)

Thumbnail of news photo looks good
![screen shot 2018-01-31 at 10 57 18 am](https://user-images.githubusercontent.com/2111600/35632779-8e05a7fa-0675-11e8-9841-7d0ba661dd24.

[2018-01-31 16:17] dancabral opened #10126 "Remove hide div messages rule"
Remove hide div messages rule when a proper fix is in place.
<img width="308" alt="screen shot 2018-01-31 at 11 14 37 am" src="https://user-images.githubusercontent.com/867075/35633882-5b25a76a-0678-11e8-9b2a-147f3d6cb995.png">

[2018-01-31 16:19] ZacharyRead commented on #9634
I feel like it's poor policy to tell users to ignore error messages rather than just fix them from the get-go.

[2018-01-31 16:22] #10097 closed

[2018-01-31 17:33] mpetrovic commented on #9634
We have a lot of things on our plate right now. None of these affect site
operation, so they're very low priority. Feel free to submit your own PR
though.

[2018-01-31 18:06] #10126 closed

[2018-01-31 18:06] Bilsi commented on #10124
@smboser - ignore this for now, I have asked the user for more info

[2018-01-31 18:06] #10124 closed

[2018-01-31 18:24] tcheng001 commented on #10105
Not working as expected.
I tried to post this page https://dev.scholar.harvard.edu/tcheng10/news/sunday-event to facebook. This is a news post which contains a news photo and an embedded video in the body.  However, no image is showed in facebook after posting this page.
![screen shot 2018-01-31 at 1 06 19 pm](https://user-images.githubusercontent.com/2111600/35639262-aeddea3e-0687-11e8-8941-53f23

[2018-01-31 21:48] hcanning2014 commented on #9634
HI Guys,
Can you submit a link to download the latest prebuilt stable version as a zip file or whatever and kindly advise of the server requirements. I did one prebuild install laden with errors and the css was all off and it looked very buggy. I just want to make sure I am installing the right version in the right place with the right settings. Links I Google to find downloads on the open scholar

[2018-01-31 21:49] Bilsi commented on #9634
@hcanning2014 - which school are you trying this out for?

[2018-01-31 22:03] hcanning2014 commented on #9634
Private for now sorry. Would like access to the stable version to test. Whats your main website with all the releases and install info?

[2018-01-31 22:05] hcanning2014 commented on #9634
...losing hope if this blank page is all I can go off: http://theopenscholar.org/

[2018-01-31 22:13] Bilsi commented on #9634
osprojectsite.org is the new site

[2018-01-31 22:23] hcanning2014 commented on #9634
thanks

[2018-02-01 10:22] smboser commented on #10105
@tcheng001 Firstly it was not working because one redirection was there in the page itself.
![image](https://user-images.githubusercontent.com/14976596/35673202-d73c57ec-0766-11e8-842a-bbbfd7736241.png)
I have removed the redirection and now its coming fine in FB with the content.
![image](https://user-images.githubusercontent.com/14976596/35673280-17762540-0767-11e8-9c7e-30016b710638.png)
Please

[2018-02-01 12:05] hcanning2014 opened #10127 "Errors with 7.x-3.78.0"
Hi, Getting attached errors with your latest release ( http://osprojectsite.org/sites/osops.openscholar.harvard.edu/files/osorg2/files/drupal-openscholar-7.x-3.78.0.tar.gz ) on a Linode box running:
PHP Version 7.0.18-0ubuntu0.16.04.1
mysqlnd 5.0.12-dev - 20150407
Apache/2.4.18
Ubuntu 16.04.2 LTS
![install-issues](https://user-images.githubusercontent.com/6403224/35677596-40f54610-071e-11e8-85bf-f

[2018-02-01 12:39] hcanning2014 commented on #10127
Install itself puked
![puked](https://user-images.githubusercontent.com/6403224/35678878-09c2183a-0723-11e8-8738-6ad8b3d0506b.PNG)

[2018-02-01 16:12] mpetrovic commented on #10127
1. Your public files directory is not writeable by the server.
2. Did you install in single tenant or multi tenant mode?

[2018-02-01 16:20] tcheng001 commented on #10105
@smboser   We have control of image size, but it still could be very large.  Does it mean that (in some cases) images might not show up in Facebook?

[2018-02-01 17:51] hcanning2014 commented on #10127
Hi, its a single mode. What permission do I need to set and on what folder?
Thanks

[2018-02-01 18:19] tcheng001 commented on #10105
So far,  only news image and profiles photo can show up in Facebook.  That part is good.
Can image in the body (in wysiwyg) show in Facebook?  I failed to find a case in my test vsites.  But the user who reports this issue can find one. (https://bulletin.hds.harvard.edu/articles/autumnwinter2017/politics-of-preaching).  This is a booklet. The image is in the body.  I tried to post the page to my f

[2018-02-01 18:30] Bilsi commented on #10023
@yommu - Any updates?

[2018-02-01 18:30] mpetrovic commented on #10127
That's a javascript error. It should telly you which angular module is missing.

[2018-02-01 19:01] Bilsi commented on #9583
@smboser - We are wondering how best to QA this?
Can you make a list of items that you moved from the main code base to the hwpi.module to help us focus on those. We can dig through the pr and find out, but it will be more efficient if you can document it in the ticket

[2018-02-01 19:09] tcheng001 commented on #10021
@smboser   we have deployed 10021 to production, but I am not able to see Google calendar settings under  WEB SERVICES section in /admin/config page.  I dont remember if we need to run update, but Bilsi checked there is no pending update.  Can you think of anything that we might have been missing?  Thanks.

[2018-02-02 10:15] smboser commented on #10085
@Bilsi It has been fixed.
![image](https://user-images.githubusercontent.com/14976596/35727960-fc4dea36-082f-11e8-8cfa-88cb2118c641.png)
It was changed due to change in version for context contrib module. As the modified function is wrapped in a class, so I didn't write any custom hook_alter, rather provided the fix with a patch.

[2018-02-02 10:40] smboser commented on #10105
@tcheng001 For the first post, it is mandate by facebook so image needs to be smaller than 8 mb to show up.
For the second part, I have tried with all possible ways (e.g. placing image in deep inside the body, at very bottom, by making it left or right floated etc.) But every time it is showing fine in facebook. One thing you may need to wait for sometime (or scrap from debug url) to get the new i

[2018-02-02 11:05] smboser commented on #10021
@tcheng001 I can see it was merged with SCHOLAR-3.x on 1st Feb i.e. after prod release. Production branch is with tags/SCHOLAR-3.78.3. The code is not there, probably this is the reason for not showing up.
![image](https://user-images.githubusercontent.com/14976596/35730159-088b9de6-0837-11e8-821a-5ccfb59cda2e.png)

[2018-02-02 12:01] smboser commented on #10021
Ohh sorry for that. Anyway the code the is neither in tags/SCHOLAR-3.8.0. @Bilsi When did the release happen? I can see the issue was merged with SCHOLAR-3.x on 1st February.

[2018-02-02 12:55] smboser commented on #9569
Thanks @Bilsi. It is working now. I am checking the issue.

[2018-02-02 13:10] Bilsi commented on #10021
@smboser -We aren't using tags now, the branch 3.80 is pointed to prod. It was merged to 3.80 on 31th Jan - so could be 1st in your time zone

[2018-02-02 14:46] dancabral commented on #10121
@smboser reopening. can be repro'd on this site https://growthlab.cid.harvard.edu

redirect should be:
https://growthlab.cid.harvard.edu/sri-lanka
to
https://srilanka.growthlab.cid.harvard.edu/

[2018-02-02 15:23] tcheng001 commented on #10105
Mark "Fixed"

Test cases | Test Description | Test Result
------------ | ------------- | -----
-- |  news image | OK
-- |  profile image | OK
-- |  image in body (news post) | OK
-- |  image in body (event post) | OK
-- |  image in basic page | OK
-- |  image in booklet | OK

[2018-02-02 15:26] smboser commented on #9569
@dancabral I am facing a design issue in dev.scholar. If I upload the code in dev.hwpi it is working fine. But same is getting completely broken in dev.scholar. I have tried to find the cause but still now unable to do so. Could you please check what might be the reason if you have some time.
![image](https://user-images.githubusercontent.com/14976596/35740595-4548c514-085b-11e8-9838-374a7a3fae01.

[2018-02-02 15:40] smboser commented on #10021
@Bilsi Yes the code is there in SCHOLAR-3.80 but the settings URL is not opening. I will check if it is possible with my user.

[2018-02-02 16:54] #10105 closed

[2018-02-02 16:55] Bilsi commented on #9569
@smboser - we are seeing the same thing in dev.scholar and dev.projects without this PR. Need to figure out what the issue is

[2018-02-05 12:40] smboser commented on #10021
@tcheng001 I can see it in https://hwp.harvard.edu. This is the only one server where I have admin access.
![image](https://user-images.githubusercontent.com/14976596/35804884-a0af61d8-0a9f-11e8-92f7-96dcd0f4ca52.png)
![image](https://user-images.githubusercontent.com/14976596/35804859-83e79e44-0a9f-11e8-872e-5c4fa3126df9.png)
Please let me know if you have any other concern with this.

[2018-02-05 12:45] smboser commented on #9583
@Bilsi Made a list where we have made the changes. It contains the screens and exact ares where the replacements are done.
[9583_Remove_Harvard shields_areas.xlsx](https://github.com/openscholar/openscholar/files/1695121/9583_Remove_Harvard.shields_areas.xlsx)

[2018-02-05 13:06] smboser commented on #10121
@dancabral I am checking the issue. But the problem is happening only in Prods. While I am trying to add a new redirection in prod it is giving 301 response against https://dev.hwpi.harvard.edu/api/redirect/?vsite=64976 in post method
![image](https://user-images.githubusercontent.com/14976596/35805703-e452a410-0aa2-11e8-8bee-7ccae0565118.png)
But with the same code (SCHOLAR-3.80) in dev, it is wo

[2018-02-05 13:07] Bilsi commented on #10121
@smboser - It may be something for us to look into. We will take a look

[2018-02-05 13:47] tcheng001 commented on #10021
@dancabral    The image is missing.
![screen shot 2018-02-05 at 8 46 15 am](https://user-images.githubusercontent.com/2111600/35807578-2702df2a-0a51-11e8-8329-e1e108077f4c.png)

[2018-02-05 14:24] smboser commented on #10021
@dancabral @tcheng001 The image https://raw.githubusercontent.com/openscholar/openscholar/a8415683fbdb45d61d6e7dcd5fae31280cdeae05/openscholar/themes/os_basetheme/images/scholarbase-sprite.png is deleted somehow. Shall I create a new branch and add this?

[2018-02-05 19:30] dancabral commented on #10021
@smboser i checked the google icon into the 3x branch https://github.com/openscholar/openscholar/commit/e53a622a487e2d509cf19d557aa76c57f7708909

[2018-02-05 20:08] dancabral opened #10129 "Addthis widget not working"
See http://community.openscholar.harvard.edu/openscholar/topics/addthis-widget-not-working?rfm=1

@smboser The Addthis widget is not working properly. The widget is in the layout but not rendering properly. Some of the markup is coming through but seems incomplete. See the linked ticket above for screenshots.

[2018-02-05 20:17] dancabral opened #10130 "Calendar ical export is incorrectly exporting media code"
See http://community.openscholar.harvard.edu/openscholar/topics/images-in-ical-export

@smboser this will require some research. from the /calendar choose export > ical. If an event has an image in the body field it should (from @mpetrovic) "export needs to bundle the image with itself somehow, and then the importer needs to load that into the site and replace that reference".

This is what is imp

[2018-02-05 20:57] openscholar-admin opened #10131 "News feed is not refreshing automatically."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/news-feed-is-not-refreshing-automatically)

Fix issue so that items in the news feed are refreshed. Items in the feed appear to be more than a month old.

Solve issue where news feed is not refreshing. Items in the feed appear to be more than 1 month old

**Description**

The Harvard

[2018-02-05 21:00] dancabral commented on #10131
@smboser can you please research/resolve the issue where items in the news feed are not being refreshed. I dont know if this is happening universally, only this site or only this feed. The items in the feed below are 1.5 mos old.
![screen shot 2018-02-05 at 3 58 08 pm](https://user-images.githubusercontent.com/867075/35828482-9ccb3bc6-0a8d-11e8-831e-361e47cc2be0.png)

[2018-02-05 21:24] dancabral commented on #9569
@smboser that issue seen only in dev.scholar is due to a body line height style here https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/custom/scholars_harvard/css/scholars-harvard.css#L16. I'll fix it.

[2018-02-05 21:33] mpetrovic commented on #10121
I think its because of the trailing slash in the api call.

![redirect_ajax_output](https://user-images.githubusercontent.com/611447/35829763-f1f45b24-0a91-11e8-9278-ffd4e877e51a.png)

We have a rule in our htaccess to strip trailing slashes, but it shouldn't be changing the protocol on us. I don't know enough about htaccess to have a fix there any time soon, but removing the trailing slash from t

[2018-02-06 09:27] joaosreis commented on #10127
I'm also having this problem, tried different systems and different versions of PHP but all turned out the same.

[2018-02-06 11:10] smboser commented on #10129
@dancabral - PR #10133 has been created for review.

[2018-02-06 11:40] smndey commented on #10131
@dancabral I have checked feed url for this (86151) import id and presently it set to this  http://feeds.feedburner.com/HarvardGazetteOnlineScienceHealth feed url which doesn't return any content. I am suspecting something wrong with this url because of that it unable to refresh further. Is it a correct feed url ?

[2018-02-06 14:46] tcheng001 commented on #10121
Mark "Fixed"  Look good after testing the following cases.
<img width="792" alt="screen shot 2018-02-06 at 9 45 32 am" src="https://user-images.githubusercontent.com/2111600/35865447-850d6186-0b22-11e8-80c3-d57c3906e8d3.png">

[2018-02-06 14:51] dancabral commented on #10131
closing as this is not a bug. the feed url is no longer active.

[2018-02-06 14:51] #10131 closed

[2018-02-06 16:00] tcheng001 commented on #10121
This fix is not working in prod.  Got this js error.
`Mixed Content: The page at 'https://scholar.harvard.edu/tcheng10' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://scholar.harvard.edu/api/redirect?vsite=448741'. This request has been blocked; the content must be served over HTTPS.
angular.js:12450 TypeError: Cannot read property 'data' of undefined
    at redir

[2018-02-06 16:07] #10021 closed

[2018-02-06 16:07] #9649 closed

[2018-02-06 16:08] Bilsi commented on #9887
@smndey - Can you take this up now that you have Harvard Key?

[2018-02-06 17:54] tcheng001 commented on #9583
@smboser
/cp/build/apps is an old page which has been replaced by the new admin menu. We don't use it anymore.  We don't need to fix the help links (serial no. 21-35 in 9583_Remove_Harvard shields_area.xlsx)
Same reason on serial no. 89 and 70.  End users would not access the pages.

[2018-02-06 18:21] tcheng001 opened #10134 "Help links should redirect to their corresponding locations"
Now, all help links in apps setting overlay are pointing to https://docs.openscholar.harvard.edu.
![screen shot 2018-02-06 at 1 19 30 pm](https://user-images.githubusercontent.com/2111600/35876563-a30f6c42-0b40-11e8-980e-0911c9e08c04.png)

They should point to their corresponding locations.

 app |  url
---- | -----
Basic page |  https://docs.openscholar.harvard.edu/basic-page
Blog | https://docs.

[2018-02-06 18:59] dancabral commented on #10129
@smboser I see the updated css but I dont see the icons. Do you know what changed on their (addthis) end?
![screen shot 2018-02-06 at 1 58 09 pm](https://user-images.githubusercontent.com/867075/35878318-e51a6f9c-0b45-11e8-956e-15a2ee470ddc.png)

[2018-02-06 18:59] mpetrovic commented on #10121
The fix is not actually in prod.

[2018-02-06 21:29] dancabral commented on #9569
@smboser the squished content in the modal issue is resovled.
![screen shot 2018-02-06 at 4 28 28 pm](https://user-images.githubusercontent.com/867075/35885128-de9c3640-0b5a-11e8-87c1-788da70cae7a.png)

[2018-02-07 06:12] smndey commented on #9887
@Bilsi Yes. I will take a look into this.

[2018-02-07 08:52] smboser commented on #9569
@tcheng001 @Bilsi The blank page issue after clicking "Create your site here" button in scholar is fixed. But still there is a scenario which I am not able to test currently.

Our harvard pin account somenath.dey@cognizant.com is already linked with an OS account. Is there any possibility to get a new one which doesn't have OS account associated. Or any way to unlink the existing OS account from t

[2018-02-07 11:13] smboser commented on #10129
@dancabral I am checking in the same URL where you are checking. But in my case icons are visible.
![image](https://user-images.githubusercontent.com/14976596/35913499-dde4b5bc-0c25-11e8-9644-2aedd476c7f4.png)
I have tried with different display style options. But in all cases its showing absolutely fine. Is there any specific step(s) for that to reproduce?

[2018-02-07 11:41] smboser commented on #10134
@tcheng001 @Bilsi Changes are done. PR #10135 has been created for review.

[2018-02-07 13:17] tcheng001 commented on #9569
This is the way I use to unlink my Harvard Key.
`delete from pinserver_users where huid = xxxxxxxx`
Delete the entry from table pinserver_users.  xxxxxxxx is your harvard key

[2018-02-07 14:23] Bilsi commented on #9566
@smndey - Can you merge from 3.x into this and get it ready? I am working with IAM. Can you put this on staging.hwpi and confirm that the meta data is http://staging.hwpi.harvard.edu/profiles/openscholar/modules/simplesamlphp/www/module.php/saml/sp/metadata.php/default-sp

[2018-02-07 14:24] smboser commented on #9569
Thanks @tcheng001 for the help. Its working for me.

[2018-02-07 14:45] smboser commented on #9569
@mpetrovic I am facing a challenge here. I need to generate this new site creation pop-up before login into the site. Scenario is to show current site/register screen in Angular modal after login in with Harvard key and OS account is attached yet.
Required JS files to generate that are not loaded before login. How do you want me to proceed in this case?
![image](https://user-images.githubuserconte

[2018-02-07 15:26] #10121 closed

[2018-02-07 16:41] mpetrovic commented on #9569
Why do you need to load in those files before the user is logged in? They can't create the site anonymously anyway, right?

You should still be able to use os_common_angular_apps and drupal_add_library to get all the dependencies you need onto the page. So what's the issue?

[2018-02-07 16:52] smboser commented on #9569
@mpetrovic Please check https://github.com/openscholar/openscholar/issues/9569#issuecomment-338002608. Currently they can create site without login by using Harvard key in scholar/project sites.
I know by removing the condition at https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/frontend/admin_panel/admin_panel.module#L29 I will get all those files in that page. But

[2018-02-07 18:24] tcheng001 commented on #10023
Still not working  (tested on dev.hwpi). Mark "Pending"  @yommu,   Could you take a look on it?
This is my test site https://dev.hwpi.harvard.edu/tormanhc_001.  You have admin privileges on that site.

[2018-02-07 18:33] mpetrovic opened #10137 "Widget Slider should not cause crash if child widget is deleted"
If one of the widgets a widget slider type box is referencing is deleted, the whole page will crash. It should skip that widget instead.

[2018-02-07 18:47] tcheng001 commented on #9583
Test No | Description | Test result
------------ | ------------- | ---------
1 | global settings -> URL redirect |    --
2 | global settings -> Privacy Policy |    --
3 | /contact page |    --
4 | /calendar/upcoming page |    --
5 | App Settings -> Booklets |    --
6 | App Settings -> Blog Comments |    --
7 | App Settings -> FAQs |    --
8 | App Settings -> Events |    --
9 | App Settings -> Link

[2018-02-07 19:36] tcheng001 commented on #9583
@smboser,   I checked the help links in dev.scholar,
they redirect back to  https://dev.scholar.harvard.edu. Intended?  Under the road, the help links  should redirect to our new document site which is under construction.

For QA:

Test No | Description | Test result
------------ | ------------- | ---------
1 | global settings -> URL redirect |    --
2 | global settings -> Privacy Policy |    --
3

[2018-02-07 20:26] tcheng001 commented on #9583
@Bilsi   Do we handle the followings in this ticket?
1. Header contains harvard link and logo
![screen shot 2018-02-07 at 3 23 40 pm](https://user-images.githubusercontent.com/2111600/35939708-f8342c5a-0c1a-11e8-981b-3f96d5f978f1.png)
2. Footer contains Harvard specific info
![screen shot 2018-02-07 at 3 24 51 pm](https://user-images.githubusercontent.com/2111600/35939768-238055fa-0c1b-11e8-83a8-c

[2018-02-07 20:30] rbran100 opened #10139 "Update to new memcache"
Provides performance improvements, persistant connections and new drush commands.

[2018-02-08 07:21] smndey commented on #9566
@Bilsi Yes, that's a right url. I have merged SCHOLAR-3.x into this branch and deployed it to staging.hwpi.

[2018-02-08 10:05] yommu commented on #10023
@tcheng001 @mpetrovic Is there a way for me to turn on our custom module that should handle inclusion of css files?

[2018-02-08 12:51] smndey commented on #10130
@dancabral I am not able to reproduce it. I followed below steps,

 1. Go here https://activities.extension.harvard.edu/calendar
 2. Click on "9th Feb" event and go there https://activities.extension.harvard.edu/event/all-ivy-environmental-and-sustainable-development-career-fair?delta=0 and I can see the image.

Locally :

1. I export this https://activities.extension.harvard.edu/calendar as ical

[2018-02-08 13:43] tcheng001 commented on #9583
@smboser    Please hold off any change. I need to discuss with @Bilsi  and @dancabral first.

[2018-02-08 14:00] tcheng001 commented on #10023
@yommu  Do you mean this one (os_sytle_override)?    I have just enabled it on dev.hwpi.

[2018-02-08 15:11] smboser commented on #9569
The issues are fixed now. PR #9611 has been updated for review.
Site creation screen for logged in with OS account
![image](https://user-images.githubusercontent.com/14976596/35979667-ef35272c-0d0e-11e8-8c7c-cf6a6a79877c.png)
Site creation screen for logged in with Harvard key which is not associated with any OS account
![image](https://user-images.githubusercontent.com/14976596/35979801-431cf6ee-

[2018-02-08 15:12] tcheng001 commented on #10023
@yommu   What is the exact name of the css file?

[2018-02-08 15:31] smboser commented on #9583
@tcheng001 Ok, I am making that change for now and waiting for your / Bilsi's comments for the rest. As per https://github.com/openscholar/openscholar/issues/9583#issuecomment-344285913 we have skipped those for time being.

[2018-02-08 17:40] Bilsi commented on #9566
[cas-saml-spusagerequest-form.pdf](https://github.com/openscholar/openscholar/files/1708171/cas-saml-spusagerequest-form.pdf)
Emailed this to IAM

[2018-02-08 20:53] dancabral commented on #9947
@smboser can you please take a look at this issue? to reproduce - create a slider widget with 3 or 4 widgets in it. Each widget should vary in height. as the navigation dots move up and down as the slider cycles, the dots become unclickable. originally, I thought it might be a z-index issue but that doesnt seem to be the case.

[2018-02-09 12:26] yommu commented on #10023
I can confirm that css is loaded from os_style_override when i switched to hwpi_modern theme.
This css file is loaded:
<link type="text/css" rel="stylesheet" href="https://dev.hwpi.harvard.edu/profiles/openscholar/modules/harvard/os_style_override/css/harvard-hwpi_modern.css?p3vi89" media="all" />
and custom css is applied to page.

I have test this on https://dev.hwpi.harvard.edu/tormanhc_001

[2018-02-09 15:23] tcheng001 commented on #10134
Look good.  All doc links are pointing to the correct locations.
![screen shot 2018-02-09 at 10 22 07 am](https://user-images.githubusercontent.com/2111600/36034838-4f3005ce-0d83-11e8-9e5e-0c8847eaa80a.png)

[2018-02-09 15:25] #10134 closed

[2018-02-09 15:25] Bilsi commented on #10062
@tcheng001 - You should be able to test this now

[2018-02-09 16:09] tcheng001 commented on #10062
1. Tested on dev.scholar
2. Still unable to test on dev.projects - the reason is that I still got "Unauthorized Access Request" when trying to log in with my Harvard Key.

Test Case  | Description (site name) | Test Result
------------ | ------------- | ----------
-- | ab  |  invalid sitename
-- | abC  |  invalid sitename
-- | ab.    |  invalid sitename
-- | ab,    |  invalid sitename
-- | ab  fol

[2018-02-09 16:33] tcheng001 commented on #10023
@dancabral   Could you give me a list of all theme names which belong to modern and vibrant theme family?  Want to check them all.

[2018-02-09 16:44] #10062 closed

[2018-02-09 18:54] tcheng001 commented on #10023
Test case  | Description | Test result
------------ | ------------- | -------
-- | check the look on all admin menu items | OK
-- | check user menu (Manage my account) | OK
-- | check user menu (My Sites) | OK
-- | vsite Front page | OK
-- | slideshow widget | OK|
-- | media galleries listing | OK
-- | people listing | OK
-- | news listing | OK

Checked the following themes

Theme   | Test result

[2018-02-09 21:00] #10119 closed

[2018-02-09 21:10] tcheng001 commented on #9583
@smboser   Deployed PR ﻿﻿9583-Harvard-shield-removal to scholar dev, but I don't see the change of documentation link.  Can you take a look when you have a chance?  Did I miss something?

[2018-02-09 21:59] tcheng001 opened #10141 "Search issue in eye.hms.harvard.edu"
The names of some of search boxes become "Untitled" in the layout of search.
![screen shot 2018-02-09 at 4 58 23 pm](https://user-images.githubusercontent.com/2111600/36052172-8c935290-0dba-11e8-9786-09a2fb910c82.png)

the original ticket is here
http://community.openscholar.harvard.edu/openscholar/topics/search-not-working-3yffuqo1ahu8u

[2018-02-10 14:55] tcheng001 commented on #10137
It works as expected.
1. If a Custom Text/THML widget contained in Slider widget is removed from the vsite, the Slide widget still renders correctly.
2. Slider widget works as before
3. The only residue is that there is an empty entry left in the widget slider form.
![screen shot 2018-02-10 at 9 51 42 am](https://user-images.githubusercontent.com/2111600/36063264-702a099e-0e48-11e8-84ab-0ca0409428

[2018-02-12 09:37] smboser commented on #9947
@dancabral @Bilsi - I have checked in [https://dev.hwpi.harvard.edu/tormanhc2](url) and its working fine now.  PR #10142 has been created for review.

[2018-02-12 14:00] smndey commented on #10130
@dancabral @mpetrovic I have export body field attach images as html with absolute path instead of media json. PR #10143 updated for review.

[2018-02-12 14:58] smboser commented on #9947
@Bilsi @dancabral - We were able replicate it as per your direction. Posted one slider widget which have four widgets in it with different heights at https://dev.hwpi.harvard.edu/tormanhc2 right nav. The issue is replicating with SCHOLAR-3.x. After mounting this fix branch, the widget will work as expected.

[2018-02-12 15:22] #10137 closed

[2018-02-12 15:26] mpetrovic commented on #10115
That backup will be from right before the migration, so it should be good enough. We can get you a new dump of the db to run your comparison on.

[2018-02-12 15:35] openscholar-admin opened #10144 "Mailing List widget: link for "site settings" is not used any more."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/mailing-list-widget-link-for-site-settings-is-not-used-any-more)

**The Plan**

Move the error message that its above the form and change the word site settings to Settings.

**Description**

Wording "site settings" should be replaced with "Settings -> Global Settings -> Mailing List

[2018-02-12 15:41] Bilsi opened #10145 "Move doc url"
Move all documentation references in the code to point to the url url https://help.theopenscholar.com

[2018-02-12 15:46] dancabral commented on #10144
@smboser the plan is to:

1. move the location of the error message so that its above the form. Like this.
![screen shot 2018-02-12 at 10 34 00 am](https://user-images.githubusercontent.com/867075/36104971-734e6422-0fe1-11e8-9059-12995a73bfa2.png)

2. Change the link label so that it reads Settings instead of site settings (see tormans screen above).

[2018-02-12 19:06] dancabral commented on #10115
@smboser can we change/fix the following items related to the search results and facet widgets in the sidebar.

1) For some vsites, facet filters are missing from the layout. Can we have it so that all of the facet filters (see list in number 2 below) appear in the sidebar of all vistes?
https://eye.hms.harvard.edu/search/site/books?&solrsort=%20
https://hilt.harvard.edu/search/site/book?&solrsort

[2018-02-12 19:34] tcheng001 commented on #9947
Mark "Fixed"
1. Can reproduce the issue on production when the content of child widget (Custom Text/HTML customer) is taller than the height of slider.  Actually users should have to increase the height of slider to avert the issue.
2.  slider dot works as expected even though the content of child widget is taller than the height of slider
3. slider dot works correctly when the content of child wi

[2018-02-12 19:46] #9947 closed

[2018-02-12 19:53] mpetrovic commented on #10130
absolute path to what? The original image? What if it gets deleted at the source? Is there no way to bundle the image file with the ical? Or at least download it to the site?

[2018-02-13 05:57] smndey commented on #10130
@mpetrovic
Yes, absolute path to original image. If image gets deleted at source it will be broken same as if they export links and original content gets deleted at source. We can export the image source in ical and download it in another site if it's a separate field. Since images are tightly coupled in body field it's bit challenging to separate them from body text and link those images to prope

[2018-02-13 09:39] smboser commented on #10144
@dancabral  PR #10146 has been created for review.
The error messege has been changed along with it's position.

![error](https://user-images.githubusercontent.com/14976596/36142786-1cc667a0-10cf-11e8-8c73-b3999c1a0727.png)

[2018-02-13 12:03] smndey commented on #10130
@mpetrovic I think we can use simplehtmldom module as it already used in our project. So during import I am trying extract img src and save the images in site and replace the image path with new site path. What do you think ?

[2018-02-13 13:13] smboser commented on #10145
PR #10147 has been created for review.
I have changed the base url to "https://help.theopenscholar.com" as mentioned in the [(comment #9583 )](https://github.com/openscholar/openscholar/issues/9583#issuecomment-364133550).

[2018-02-13 13:49] tcheng001 commented on #10085
@smboser  @dancabral    This is not regression.
I notice one thing regarding breadcrumbs.
Breadcrumbs (HOME/) shows correctly when I am viewing the listing of books.
<img width="866" alt="screen shot 2018-02-13 at 8 45 28 am" src="https://user-images.githubusercontent.com/2111600/36152823-4fad10b8-109a-11e8-959d-0e5aec083a67.png">

However when viewing a book, the breadcrumbs also shows (HOME/). T

[2018-02-13 14:09] smboser commented on #10115
@Bilsi @mpetrovic I am in process of importing the databases. I am currently importing the latest dbs. Could you please let me know exactly when did the migration occur. I need to take dump of DB backup taken just before that day to start the comparison.

[2018-02-13 15:29] openscholar-admin opened #10148 "Some events on calendar (month,week,day views) link to wrong/deleted events"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/some-events-on-calendar-month-week-day-views-link-to-wrong-deleted-events)

**The Plan**

Fix issue where some event links are pointing to the wrong event

**Description**

Some of the links on the month/week/day calendar views aren't working correctly - they are linking out to the w

[2018-02-13 15:33] dancabral commented on #10148
@smboser can you take a look at this issue where some events are pointing to the wrong events. I have not seen this problem outside of this vsite so you may need the db.
https://memorialchurch.harvard.edu/calendar
Notes from user:
For instance, on memorialchurch.harvard.edu/calendar, in the month view, click on the Morning Prayers event on 2/20/18.

The pop-up shows Michelle O. will be the speaker

[2018-02-13 15:42] mpetrovic commented on #10130
That sounds good. Another option would be converting it to base64.

Also, this needs to handle non-file embeds as well. Say, a youtube video, or an iframe of some kind? You never know what people embed.

[2018-02-13 15:43] dancabral commented on #10144
@tcheng001 can you have a look at this? it looks good to me.

[2018-02-13 15:44] Bilsi commented on #10115
@smboser The migration happened on the 8 of Jan

[2018-02-13 16:08] tcheng001 commented on #10144
Look good.  Mark "Fixed"
1.  New error message shows as expected.
![screen shot 2018-02-13 at 11 07 14 am](https://user-images.githubusercontent.com/2111600/36160041-37d3faec-10ae-11e8-9561-e05271c31323.png)
2. Mail Listing widget works as expected.

[2018-02-13 17:44] #10144 closed

[2018-02-13 19:47] tcheng001 commented on #10145
moving back "in dev"
@smboser
Still seeing the old doc link here
![screen shot 2018-02-13 at 2 44 50 pm](https://user-images.githubusercontent.com/2111600/36170165-9ddf6dda-10cc-11e8-90af-901219905373.png)

For QA:

Test No | Description | Test result
------------ | ------------- | ---------
1 | global settings -> URL redirect |    OK
2 | global settings -> Privacy Policy |   OK
5 | App Settings -

[2018-02-13 20:01] tcheng001 commented on #10145
@dancabral    Can you replace this image?
<img width="1006" alt="screen shot 2018-02-13 at 2 58 15 pm" src="https://user-images.githubusercontent.com/2111600/36170847-a225f560-10ce-11e8-89ec-49e35b6923df.png">
<img width="983" alt="screen shot 2018-02-13 at 3 00 57 pm" src="https://user-images.githubusercontent.com/2111600/36170890-c0bc3692-10ce-11e8-89ab-63ac39283814.png">

[2018-02-13 21:44] dancabral commented on #10074
@Bilsi marking fixed. merged 3x into this branch Feb 13.

[2018-02-14 12:45] smboser commented on #10085
@tcheng001 The last you mentioned (https://github.com/openscholar/openscholar/issues/10085#issuecomment-365271580) is true for all the content types. Do you want to change this for all ?
I am meanwhile working on the added part in the ticket description.

[2018-02-14 13:00] tcheng001 commented on #10085
@smboser    Yes, if this is not too difficult to do it.  Then, breadcrumbs for documents (booklet) should work like all other content types.  Thanks.

[2018-02-14 13:16] smboser commented on #10145
PR #10147 has been updated for review.
PFA the screenshot for the change in documentation link and the documentation screenshot.
![screenshot](https://user-images.githubusercontent.com/14976596/36206160-611dfede-11b7-11e8-9d36-aaf386a5dfdb.png)

[2018-02-14 15:37] Bilsi commented on #9583
@smboser - Can you remove the doc url code from this PR. The other PR is good enough. It is ok to hardcode to url help.theopenscholar.com there since that will not change per school. Can you make this a priority and then we can talk about the other changes that need to be done
and Richard posted this comment - https://github.com/openscholar/openscholar/pull/10011#pullrequestreview-96535024
can you

[2018-02-14 15:38] #10139 closed

[2018-02-14 15:53] smboser commented on #9583
@Bilsi Do you mean to remove all the "docs.openscholar.harvard.edu" references where I have taken variables in this PR, by hard coding "help.theopenscholar.com"? please confirm.

[2018-02-14 15:55] Bilsi commented on #9583
@smboser - Just remove all code in this PR related to the docs. Dont hardcode, you have done it in the other ticket and I will merge that into 3.x and merged 3.x down to this branch, so dont redo that hardcoding, just remove all the doc url changes made in this PR

[2018-02-14 15:58] smboser commented on #10148
Able to replicate the issue. But I think its not the popup which is showing wrong information, its the node page itself showing wrong information. Currently taking the dump of the latest db and will start working after that.

[2018-02-14 15:58] smboser commented on #10148
Ok, I got your point. Trying to finish by tomorrow's call.

[2018-02-14 16:49] #10074 closed

[2018-02-14 18:32] Bilsi opened #10150 "Functionality to be disabled for support users"
![remove-option](https://user-images.githubusercontent.com/11841641/36221185-46165662-118b-11e8-884b-dab5c2ec2f36.png)
The button in red should not be accessible to support users (the image is in the layout page)

![screen shot 2018-02-14 at 1 31 28 pm](https://user-images.githubusercontent.com/11841641/36221225-692e10a4-118b-11e8-8dd1-bb471fcaf8bc.png)
It should only be seen or be editable (which

[2018-02-14 18:36] dancabral opened #10151 "Create 3 themes for the Bentley U trial"
-Modern
-Conservative
-Bold

[2018-02-14 19:21] rbran100 opened #10152 "Title module slows down site iterating through vocabs"
Looks like a fix for this was in place but with a misspelling.

[2018-02-14 19:27] rbran100 commented on #10152
The easiest way to verify this is working is to go to: https://DOMAIN/admin/config/content/title

When you go there, you should not see taxonomy, file, or comment.  Only Node

[2018-02-15 12:14] smboser commented on #10150
@Bilsi When I am checking with Support user I am already unable to see that button in layout. It is only becoming if the user has administrative role.
Checked in two different installs and every time the result is same.
![image](https://user-images.githubusercontent.com/14976596/36256168-c1b0ee30-1277-11e8-8003-bf968ca9664f.png)
![image](https://user-images.githubusercontent.com/14976596/36256173-

[2018-02-15 12:29] dg2105 commented on #10127
Same problem here,
@mpetrovic what module need to be installed ? you refer to drupal modules right? not php

Here is the details of the problem:

[2018-02-15 14:42] smboser commented on #9583
@Bilsi I have removed all the doc related changes that were done in this PR #10011 .

[2018-02-15 15:31] smboser commented on #10150
@Bilsi The button has been removed. PR #10154 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/36264675-62d211b6-1293-11e8-8fa5-3d8600becbf7.png)

[2018-02-15 15:53] openscholar-admin opened #10155 "Posts with images not scaling correctly on a one page layout using tabs"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/posts-with-images-not-scaling-correctly-on-a-one-page-layout-using-tabs)

**The Plan**

1) change the width of LOPs in a tabs widget. 2) left align the widget headers in the footer

**Description**

Hi,

I'm building a site and wanted to use the tabs widget on the home page of a One

[2018-02-15 16:05] smboser commented on #10148
Even after spending the whole for dumping and importing the current database didn't help me. In local it is coming fine. Is it possible to import the DB from prod to any lower environment and start investigation directly there?
![image](https://user-images.githubusercontent.com/14976596/36266670-0ae62348-1298-11e8-9b6a-1c5a80eeb4ec.png)

[2018-02-15 16:30] Bilsi commented on #9583
@smboser - Can you confirm that https://github.com/openscholar/openscholar/issues/9583#issuecomment-363899349 - 1, 2 and 4 are now fired from the hwpi.module or the pinserver_module. (I think 4 is already in the pinserver module , can you check and confirm?)

[2018-02-15 17:01] tcheng001 commented on #10152
Look good.  Mark "Fixed"
<img width="1240" alt="screen shot 2018-02-15 at 11 49 01 am" src="https://user-images.githubusercontent.com/2111600/36269083-419d622c-1246-11e8-8eeb-b14a0340e419.png">
It seems that loading taxonomy page is getting faster (about 3-6 seconds). It took over 10 seconds in the most cases.

[2018-02-15 17:05] #10152 closed

[2018-02-15 17:15] smboser commented on #9583
@Bilsi 1 and 2 are coming from /hwpi_basetheme/template.php. You are right, the "Harvard community" option is coming from pinserver module. And "Groups within the Harvard community" is coming from grouper module. Please let me know if you have any other queries.

[2018-02-15 17:55] Bilsi commented on #9583
@smboser - What about 3 - private files right now point to Harvard key, where is that being driven from?

[2018-02-15 18:05] tcheng001 commented on #9583
For some reasons, unable to edit the previous comment. So I add this issue here
11. Other Resources on Documentation overlay should be removed.
![screen shot 2018-02-15 at 12 59 54 pm](https://user-images.githubusercontent.com/2111600/36272891-cce79bcc-1250-11e8-8b86-6e02269eb174.png)

[2018-02-15 18:40] dancabral commented on #10145
@smboser can we swap the screenshot with this one? thanks.
![os-docs-hp](https://user-images.githubusercontent.com/867075/36274445-c5394114-1255-11e8-84b2-a0733e86fcb2.png)

[2018-02-15 19:14] tcheng001 commented on #9583
12. Remove the link from Support overlay
![screen shot 2018-02-15 at 2 13 21 pm](https://user-images.githubusercontent.com/2111600/36276021-938be2e8-125a-11e8-83f6-9387985a44fa.png)

[2018-02-15 19:32] Bilsi opened #10156 "Event - registration bug"
Event registration - for events where the sign up checkbox is selected. When users sig up for the event and the site owner sends an email to add registrants, the registrants are not getting an email

[2018-02-16 13:58] smboser commented on #10145
@dancabral The requested change has been made. PR #10147 has been updated for review.

[2018-02-16 14:17] smboser commented on #9583
@Bilsi Please find below the status:

3. I was waiting for your / torman reply for this. How the private files will be handled? Or will it be only Harvard specific as it involves Harvard pin?
5. Done already
6. Done already
7. Fav icon needs to be changed from the following paths
   a. /openscholar/themes/hwpi_basetheme/favicon.png
   b. /openscholar/themes/hwpi_classic/favicon.png
   c. /openscho

[2018-02-16 14:17] tcheng001 commented on #10145
Still not seeing the new image. I reset the schema_version of os_help to 7000 and ran update on dev.scholar.
Update ran successfully.
![screen shot 2018-02-16 at 9 02 07 am](https://user-images.githubusercontent.com/2111600/36311719-2e560476-12fa-11e8-960c-5cad2d7dfb01.png)
Anything I have been missing?

[2018-02-16 14:25] smboser commented on #10145
I tested in dev.hwpi and its still there. I am checking what happened in dev.scholar.
![image](https://user-images.githubusercontent.com/14976596/36312079-45a7ec76-1353-11e8-8a19-66d8465f1a82.png)

[2018-02-16 14:37] smboser commented on #10145
@tcheng001 I got the issue. As you already run the previous update, hence its not working. Basically it works with string replace method. It will replace the old file which is currently in prod and will not work if it not finds that. So, either you need to refresh the DB in scholar.dev or you can test any other lower environment where you didn't run the update already.

[2018-02-16 15:48] smboser commented on #10148
@Bilsi Please let me know if any environment is free to make this DB refresh.

[2018-02-16 17:04] tcheng001 commented on #10145
Mark "Fixed"

Test No | Description | Test result
------------ | ------------- | ---------
1 | App Settings -> Booklets |    OK
2 | App Settings -> Blog Comments |  OK
3 | App Settings -> FAQs |    OK
4 | App Settings -> Events |  OK
5 | App Settings -> Links |  OK
6 | App Settings -> Private Files |  OK
7 | App Settings -> Publications |  OK
8 | Appearance -> Breadcrumbs |    OK
9 | Appearance ->

[2018-02-16 19:12] tcheng001 commented on #10150
Mark "Fixed"
 [Save to HWP project] button no long exists in the layout page.

Test case | Description | Test result
------------ | ------------- | -------
-- | logged as user1  | can access  [Save for \<vsite\>] button  and [Reset to Default] button
-- | logged as system administrator  | can access  [Save for \<vsite\>] button  and [Reset to Default] button
-- | logged as system manager  | can ac

[2018-02-16 20:00] #10150 closed

[2018-02-16 21:58] mpetrovic opened #10157 "Create the "Viewer" role on new installs"
Current code only creates the Viewer user role in an update on existing installs. It needs to be there on new installs as well.

The current update is in cp_users.install. Try to do it the same way the other roles are added to the system. If you can't, don't use cp_user_install, since there's no guarantee the group types will be ready. Use something like node_type_create.

[2018-02-18 13:03] tcheng001 commented on #10148
@smboser   you can use dev.projects.  I did refresh the DB.  Since the DB is quite old, the events the user reported were probably created after migration. They don't appear in the dev.projects install.

[2018-02-19 03:09] #8262 closed

[2018-02-19 17:52] Bilsi commented on #10157
@smboser - Please make this a priority, can we complete this by tomorrow?

[2018-02-20 12:07] smboser commented on #10157
@mpetrovic @Bilsi As far as I understand this role needs to be there if the hook_update_n() are not run somehow. But I can't write it in hook_install() as some dependencies may not be ready by then. I have checked it for "content editor" role, its also written in hook_update().
In this case can it be written while creating a vsite (say in vsite_register_form_submit()) for first time. Because that

[2018-02-20 14:24] smboser commented on #10085
@Bilsi @tcheng001 The below additional points i.e. are fixed.

and

PR #10158 has been created for review.

[2018-02-20 14:41] mpetrovic commented on #10157
Can you define it in hook_og_default_roles? That seems like the ideal place to put it.
If not, check for any existing site types in hook_install and do the rest in node_type_create.

[2018-02-20 15:07] smndey commented on #10130
@mpetrovic I have handled non embed file types such as image, audio, video, document. I am storing all those incoming files as unmanaged file. I have updated the PR #10143. Can you please take a look into that?  It require some more testing from my side, also I need to figure out why protocol(http/https) is missing during export.

[2018-02-20 15:42] tcheng001 commented on #10156
@Bilsi @smboser  I can't reproduce this issue.  However, sometimes I notice that the email is placed in Spam folder. That is the root cause why the registrant doesn't get the email.

[2018-02-20 15:53] smboser commented on #10157
I am checking the possiblities.

[2018-02-20 15:56] Bilsi commented on #10156
ok, lets close this for now then

[2018-02-20 15:56] #10156 closed

[2018-02-20 18:39] dancabral commented on #10151
this is ready to go to prod @Bilsi. marking fixed

[2018-02-20 19:00] Bilsi commented on #9583
@smboser - the email that goes out when a user creates a site etc, where is it generated from?

[2018-02-20 19:42] #10151 closed

[2018-02-20 20:07] bkosborne opened #10160 "PHP 7 compatability"
Hi, is Harvard running OS on PHP 7.x? We're hosting with Acquia at the moment and we'll have to upgrade to PHP 7.1 before the end of 2018, since PHP 5.6 will no longer receive security updates at that time and I assume Acquia will force us off.

For our other Drupal sites, I found the the [PHP Compatability code sniffer rules](https://github.com/wimg/PHPCompatibility/) to be helpful for static ana

[2018-02-21 15:45] smboser commented on #9583
@Bilsi It is now generating from hwpi_mail_alter() in hwpi.module.

[2018-02-21 15:49] smboser commented on #10157
@Bilsi I am getting an issue after the build process. After selecting the git branch in lower environment it is showing wrong directory structure like the below pic.
![image](https://user-images.githubusercontent.com/14976596/36489679-a440cab2-174c-11e8-9be3-c1c6669debea.png)
Whereas the ideal one is like below. It is OK with SCHOLAR-3.x. I have merged the code with 3.x but still the issue is ther

[2018-02-21 16:07] mpetrovic commented on #10157
That's expected. You can ignore it.

[2018-02-21 20:17] Bilsi opened #10162 "Says biblio instead of publication"
http://community.openscholar.harvard.edu/openscholar/topics/is-it-supposed-to-say-biblio#reply_19341128

some sites like economics.harvard.edu and https://hwpi.harvard.edu/tormanhc_001, https://hwpi.harvard.edu/tormanhc_002 say Biblio, can we fix?

[2018-02-22 02:41] Bilsi opened #10163 "Bentley issues fix"

[2018-02-22 08:28] smboser commented on #10157
@Its giving me error.
![image](https://user-images.githubusercontent.com/14976596/36527618-6aefaa58-17d8-11e8-93f7-d25fce145a58.png)
![image](https://user-images.githubusercontent.com/14976596/36527634-75549986-17d8-11e8-9e6e-ab3c95b666e4.png)

[2018-02-22 13:36] smboser commented on #10162
@It is fixed now. PR #10164 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/36541319-83856c30-1803-11e8-9364-4e2fa7ba67fe.png)

[2018-02-22 15:41] smboser commented on #10148
@Bilsi @dancabral I got the issue, its due to duplication in alias field in url_alias table. I have assigned  new URLs to the above mentioned examples (on both 12th and 20th Feb affected events) and these are coming fine now.
To check how much duplicate rows are there, I need the latest DB dump. Probably it has been moved to the new provider from Acquia cloud and hence I am not able to download it

[2018-02-22 16:33] Bilsi opened #10165 "Download citations - XML not working"
![screen shot 2018-02-22 at 11 28 29 am](https://user-images.githubusercontent.com/11841641/36550553-943571a0-17c3-11e8-8ff2-6ae54473b3b8.png)

https://scholar.harvard.edu/torman_personal/publications - download citations - XML is breaking and does not download.

[2018-02-22 16:36] tcheng001 commented on #10162
Look good.  Mark "Fixed"
![screen shot 2018-02-22 at 11 33 58 am](https://user-images.githubusercontent.com/2111600/36550897-6471a1a4-17c4-11e8-93f0-9513a69a4df1.png)

![screen shot 2018-02-22 at 11 35 01 am](https://user-images.githubusercontent.com/2111600/36550986-8cb56c86-17c4-11e8-971b-61429f8d2856.png)

[2018-02-22 16:37] #10162 closed

[2018-02-22 19:15] Bilsi commented on #9566
@smndey @smboser -
Hi – could you tell me what the following 2 registrations names are for?

CADM_HUIT_ATS_AWS_HWPI and FAS_IQSS_SCHOLARSWEB_PROJECTS

Thanks,

~M

This is a question i got back from IAM
Just wanted to let you know that in the new architecture, we have one code server and 3 DBs attached to the same server. Earlier while we were on Acquia, we had 2 code servers and scholar/projects

[2018-02-22 21:15] #10163 closed

[2018-02-23 10:53] smboser commented on #10165
@Bilsi It was due to a garbage character in https://gking.harvard.edu/ations/matchit-nonparametric-preprocessing-parametric-causal-inference. Probably it came while making copy paste from the source editor. That character was present in below area.
![image](https://user-images.githubusercontent.com/14976596/36590613-39c256aa-18b5-11e8-8278-8444e1992f6a.png)
After removing the xml is downloading an

[2018-02-23 12:47] Bilsi commented on #10165
@smboser - But i wasnt able to download from scholar.harvard.edu/bilsi  or even from https://scholar.harvard.edu/torman_personal
can you check these?

[2018-02-23 16:03] Bilsi commented on #10165
Sill not able to download from gking.harvard.edu
<img width="1091" alt="screen shot 2018-02-23 at 11 02 22 am" src="https://user-images.githubusercontent.com/11841641/36603561-2397dbba-1889-11e8-820b-47eb39804b95.png">

[2018-02-23 19:36] dancabral opened #10168 "LOP widget causing 503 page error"
@smboser this site https://biodesign.seas.harvard.edu vsite = 254681 has a bad List of Post widget = /os/widget/boxes/1512331159 on this page https://biodesign.seas.harvard.edu/sandbox. The result is a 503 error page. We've seen the exact same issue on other sites. In those cases, it was also a bad LOP with the same settings. This is the edit form of one of the bad LOP widgets boxes/1512331159.
![

[2018-02-24 13:45] smboser commented on #10165
@BIlsi While checking the issue I found it was working in torman_personal site. So I navigated to gking according to the screenshot posted and found that issue.
Now when I am checking, I can see endNote.xml from all of those three sites are working. I have tested in all FF, Chrome and IE.
![image](https://user-images.githubusercontent.com/14976596/36631016-abf0ed22-1996-11e8-9bae-c370d8b50ad2.png)

[2018-02-25 13:46] Bilsi opened #10169 "Some text not displaying correctly"
![untitled](https://user-images.githubusercontent.com/11841641/36642098-3553a82c-1a08-11e8-805d-4d04e06a1f48.png)

https://gking.harvard.edu/presentations/how-news-media-activate-public-expression-and-influence-national-agendas-1

Displays as above, though not always, can you check and see if you can replicate it?

[2018-02-26 12:28] smboser commented on #10169
@Bilsi  I have tested it in FF, Chrome and IE 11 but coming fine in all area.
IE 11
![image](https://user-images.githubusercontent.com/14976596/36670260-c5fc8748-1b1d-11e8-801c-117511d5c7bb.png)

Chrome 64
![image](https://user-images.githubusercontent.com/14976596/36670273-cde26e28-1b1d-11e8-8296-632c7e215827.png)

FF 56
![image](https://user-images.githubusercontent.com/14976596/36670320-f545a93

[2018-02-26 13:08] smboser commented on #10168
@dancabral I am unable to replicate it. I have checked the page in both Chrome and FF and its working fine.
![image](https://user-images.githubusercontent.com/14976596/36672096-0ccbd24a-1b24-11e8-8bfd-85df68d030ec.png)

I have put all the widgets in another page which is used (including os/widget/boxes/1512331159) here and that page is opening fine too. Please let me know if I am missing anything.

[2018-02-26 14:18] Bilsi commented on #10169
@smboser - it loads up fine on my pc too all browsers, but @tcheng001 can see the issue in his laptop/
Any ideas on what we can do?

[2018-02-26 14:28] smboser commented on #10169
@Bilsi Please let me know the browser details where it is coming

[2018-02-26 15:05] tcheng001 commented on #10169
@smboser   The original issue is found in this page
https://gking.harvard.edu/presentations/how-news-media-activate-public-expression-and-influence-national-agendas-1?admin_panel=1&login=1#
The user uses Mathjax function in wysiwys to add the numbers and math symbols. But they doesn't render correctly.
![screen shot 2018-02-26 at 9 53 11 am](https://user-images.githubusercontent.com/2111600/366774

[2018-02-26 15:48] Bilsi commented on #9583
@smboser - Can you check where the contact form address is coming from?
http://bentley.theopenscholar.com/torman_test#
We need to make sure this is configurable

[2018-02-26 17:24] dancabral opened #10170 "Tweak Bentley themes JS - fix header links"
the dom replacement jquery needs to be updated so that it doesnt exclude subsite links.

[2018-02-26 18:50] dancabral commented on #10170
@Bilsi this is fixed. its the subsite header link fix.

[2018-02-26 18:53] #10170 closed

[2018-02-27 11:04] smboser commented on #9583
@Bilsi The below form can be configured from contact_default_address variable in hwpi.strongarm.inc
![image](https://user-images.githubusercontent.com/14976596/36725320-f43c48d2-1bdb-11e8-9ffe-113388fd1cb4.png)

[2018-02-27 15:38] rbran100 opened #10173 "Debug Memory Leak"
Under load our AWS EC2 instances in elastic beanstalk where running out of memory.

There was a steady increase in memory till the machine locked up.  We have a script for a greaceful restart of apache that free's up memory in this case but would like to fix the underlying issue if possible.

Also, we need to assure that apache/php is tuned so that the max number of processes matches the memory li

[2018-02-27 15:41] rbran100 opened #10174 "Limit NewRelic Hosts"
For cost controls, we need to limit the number of NewRelic hosts using their APM service.  Limiting this to 2 would be best since that is what we are contracted for.  Not sure if this is possible within elastic beanstalks default configs, I think something custom may be required.

Current settings are in .ebextensions/newrelic.config within the deploysource repo.

[2018-02-27 15:46] dancabral opened #10175 "Update Contact widget with generic placeholder info"
So that its obvious the Contact widget needs to the updated, replace the current Harvard specific info with the following:
![screen shot 2018-02-27 at 10 42 19 am](https://user-images.githubusercontent.com/867075/36738406-66f121bc-1bab-11e8-9474-a0bac7625071.png)

[2018-02-27 15:46] rbran100 opened #10176 "Setup Alternate Varnish reverse proxy"
We need to replace our current application LB with a network LB so that we can make use of an assigned public IP address.  A cloud formation template with an untested version of the replacement varnish stack will be sent via email.

[2018-02-27 15:50] rbran100 opened #10177 "Varnish Script"
Create a script / process for clearing all varnish cache, and for clearing varnish optionally for a passed hostname.

[2018-02-27 15:52] rbran100 opened #10178 "Backup DB to S3 Bucket"
Create a mechanism for creating a DB dump for an individual DB with the RDS instance and saving it into S3.   This should be on demand rather than automated since we have automated backups of the RDS instance and these will be used by developers.

[2018-02-27 15:55] rbran100 opened #10179 "Created Stage / Dev stack"
We should create a duplicate of the prod stack for use as a dev/stage stack.

We are open to ideas for keeping this as close to production as possible while also controlling costs.  Stage and Dev will need to be on different code tags.

This will be the first time that we are re-creating the stack from our CF templates so it will be a good validation that everything is in sync as well.

[2018-02-27 15:58] mpetrovic opened #10180 "Generalizing the admin e-mails"
Clean up this e-mail as follows.

![email-changes2](https://user-images.githubusercontent.com/611447/36738578-d84a4c94-1bab-11e8-8462-fd42e593f96a.png)

The From address will require a change outside of this repo and can be ignored for this issue.

* [x] Create account and add to vsite
* [x] Add existing account to vsite
* [x] Change role
* [x] Create vsite
* [x] Remove account from vsite
* [x] Pa

[2018-02-27 17:00] tcheng001 commented on #9583
@smboser   We might overkill some harvard specific stuffs. I have deployed this PR to dev.scholar but haven't disabled Harvard PIN and HWPI module yet.   The heading is gone.  It should still show until  Harvard PIN and HWPI module are disabled.
![screen shot 2018-02-27 at 11 51 40 am](https://user-images.githubusercontent.com/2111600/36742462-b64a639a-1bb5-11e8-9bee-32e966d3844a.png)

[2018-02-27 17:09] Bilsi commented on #9583
@smboser - Can you test in one of our servers and make sure this pr displays harvard sites and functionality without any changes when we leave the hwpi and pinserver module enabled?
I want to avoid a lot of back and forth with @tcheng001  since we want to release this soon

[2018-02-27 17:16] Bilsi commented on #9569
@smboser - why is this in pending? are you waiting on us for something?

[2018-02-27 18:33] #10165 closed

[2018-02-27 20:55] tcheng001 opened #10184 "Title doesn't look good (Harvard Key Linking screen)"
<img width="584" alt="screen shot 2018-02-27 at 3 48 41 pm" src="https://user-images.githubusercontent.com/2111600/36754310-9c011710-1bd6-11e8-8702-cb95ad224793.png">

[2018-02-27 21:59] mpetrovic commented on #10115
Facetapi configurations refer to the apachesolr environment by name. All of the environments still have the acquia search environment listed. I think an update will be needed to change all of these facetapi configurations over to use the new environment.

[2018-02-28 05:41] smboser commented on #9569
@Bilsi I asked two clarifications to Matt in https://github.com/openscholar/openscholar/pull/9611#discussion_r170896494. So, I marked this as pending. He replied yesterday, Now I am working in this.

[2018-02-28 11:48] smboser commented on #9583
@Bilsi We did check most of the scenarios before handing it to review like other tickets. E.g. as soon as I am clearing the cache I can see the header and footers are visible. As new hook was written for that, cache clear is mandatory in order to see the changes.
![image](https://user-images.githubusercontent.com/14976596/36786114-2ed8257c-1cab-11e8-9141-e410f5388c23.png)
![image](https://user-ima

[2018-02-28 14:14] Bilsi commented on #10141
Related to https://github.com/openscholar/openscholar/issues/10115

[2018-02-28 15:31] mpetrovic commented on #10115
Old blocks:
[code]

need to be mapped to new blocks in the database

[code]

[2018-02-28 17:18] Bilsi opened #10185 "Unable to upload a particular file to a particular site"
413 Request Entity Too Large
nginx/1.10.2

We see this error when we upload the file https://scholar.harvard.edu/files/pbrown/files/ms27504.pdf to the site https://economics.harvard.edu/forthcoming-articles-qje

I am able to upload this file to other sites even sites on the hwpi install. Just not to this site - SNOW INC02586426

[2018-02-28 17:31] dancabral opened #10186 "Create bold theme for Amer U and BC"

[2018-02-28 18:27] tcheng001 commented on #10175
@mpetrovic  Not working as expected.  I did clear both Drupal and vanish caches.
It always shows Harvard's info in Contact widget (Custom Text/HTML widget) even in a brand new vsite.
[code]
What else I was missing?
Question: should the fix only affect newly created vsite?

[2018-02-28 18:33] mpetrovic commented on #10175
@tcheng001 Where did you try this? It will only change if the hwpi module is disabled.

[2018-02-28 18:34] dancabral commented on #10168
@smboser and @Bilsi confirming another bad LOP box /boxes/1513192046 on this site https://hwpi.harvard.edu/history-artsarchitecture causing a 503 page error.

[2018-02-28 18:35] tcheng001 commented on #10175
@mpetrovic   Let me take it back.

[2018-02-28 18:54] openscholar-admin opened #10187 "Link citation to in publication does not work"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/link-citation-to-in-publication-does-not-work?rfm=1)

**The Plan**

Fix the link citation to feature

**Description**

Add a url in a publication in a scholar site in the field - link citation to.
Clicking on the title of the publication should take you to the url direc

[2018-02-28 19:07] tcheng001 commented on #10175
Mark "Fixed"
Note: hwpi module must be disabled for all new non-harvard install.
1. school info is changed to a generic way in Contact widget
<img width="530" alt="screen shot 2018-02-28 at 2 00 51 pm" src="https://user-images.githubusercontent.com/2111600/36807154-26605808-1c90-11e8-88c5-885b03d5e170.png">

2.  Contact widget works as before.

[2018-02-28 19:23] #10187 closed

[2018-02-28 19:34] #10175 closed

[2018-02-28 20:18] tcheng001 commented on #10085
Mark "Fixed"
Tested breadcrumbs for the following content types.  The depth of breadcrumbs path is up to 3-4 levels for Basic pages and booklets.

content type | description | test result
------------ | ------------- | -----
blog | one level depth | ok
book | 3 levels depth | ok
class | one level depth | ok
event | one level depth | ok
FAQ | one level depth | ok
feed | one level depth | ok
link |

[2018-02-28 21:43] #10085 closed

[2018-02-28 21:43] #10093 closed

[2018-03-01 01:16] dancabral commented on #10184
![screen shot 2018-02-28 at 8 16 16 pm](https://user-images.githubusercontent.com/867075/36822095-4a1c2298-1cc4-11e8-9c00-df7dc24f65ad.png)

[2018-03-01 09:28] smboser commented on #9583
I have fixed the DASH issue not being pulled sometime from different module. Regarding the header and footer issue today I can see its not appearing even in SCHOLAR-3.x. I am checking the issue in details.
![image](https://user-images.githubusercontent.com/14976596/36836993-fe659422-1d60-11e8-8344-5aea23cb711a.png)
![image](https://user-images.githubusercontent.com/14976596/36837000-04775008-1d61-

[2018-03-01 11:24] smboser commented on #9583
@tcheng001 Got the reason. In dev.scholar, hwpi module was disabled. It should be enabled in order to display Harvard header and footer. I am enabled it now and both header and footer are coming fine (in 9583 branch too). I am checking all the other scenarios once again.
![image](https://user-images.githubusercontent.com/14976596/36842257-1f1e4fe6-1d71-11e8-8c67-4a89b17365a8.png)

[2018-03-01 13:14] tcheng001 commented on #9583
@smboser
1.  I see harvard header and footer now.
2. Dash also appears in pub settings
please push back to me when you are done checking.

[2018-03-01 14:17] mpetrovic commented on #9583
That header should still appear with the hwpi module disabled. The contents
should be different, based on what university module is installed, but the
header itself still needs to be there.

[2018-03-01 14:50] mpetrovic commented on #10180
This is a core e-mail that we may not be sending out to users normally.

[2018-03-01 16:54] Bilsi commented on #10040
@mpetrovic - Can you take this ticket to completion since the bosnia company isnt working for us anymore

[2018-03-01 18:54] smboser commented on #9583
@mpetrovic Now it is comiong even after disabling the hwpi module. But one query here, what will happen to the variables in _hwpi_branding_footer(), currently they are being pulled from hwpi strongarm.

[2018-03-01 19:03] mpetrovic commented on #9583
We'll be setting those per-install, either in a module like hwpi that's unique to the school or in the school's settings.php file. The footer should handle any absences in the variables gracefully, i.e. not printing two pipes next to each other, that sort of thing.

[2018-03-01 19:14] Bilsi commented on #9583
https://github.com/openscholar/openscholar/pull/10011

[2018-03-01 19:37] dancabral commented on #10180
@mpetrovic this should represent the complete set of emails sent to users after a specific action had taken place:

**Add new user to a vsite (a user that does not already exist in OS)**
![new_useraccount_created_added_tovsite](https://user-images.githubusercontent.com/867075/36865565-dbfa7298-1d5d-11e8-968e-98e89b7e32e8.png)

**Add existing OS user to a vsite**
![add_existingmember_toviste](https

[2018-03-01 21:43] dancabral opened #10190 "Improve UX - previously created wide slideshow screen edit screen"
The previously created wide slideshow edit screen could use a UX improvement where the 16:9 styles are displayed grayed out with a descriptive message.
![slideshows](https://user-images.githubusercontent.com/867075/36871242-9e09e1d2-1d6f-11e8-8e58-fd252b77f8c8.png)

[2018-03-01 21:46] dancabral opened #10191 "Fix wysiwyg generated H3 in Classic theme"
no details yet. tbd

[2018-03-01 22:00] mpetrovic opened #10192 "Make sure user first and last name fields aren't overridden on new installs"
When a new install is created, the first and last name fields on the user entity are overridden, and not appearing on forms. Figure out why and fix it.

[2018-03-02 02:07] dancabral commented on #10180
@mpetrovic the above email screens have been updated.

[2018-03-02 14:39] openscholar-admin opened #10193 "Contact page is not editable"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/contact-page-is-not-editable)

**The Plan**

Fix the contact form to be editable again and the old data back if possible

**Description**

The "Contact" page stopped working.

Previously, we had some information, pictures, and maps on the contact page.

All of that was automatically

[2018-03-02 14:39] tcheng001 commented on #10115
It seems not working.   Tested on dev.projects
Steps to do"
1. Copy DB to dev.projects
2. Run Update  (note: I see an error but it is probably not relevant.  hwpi module 7013 update is good )
![screen shot 2018-03-02 at 9 26 54 am](https://user-images.githubusercontent.com/2111600/36903502-e69575ce-1dfb-11e8-8409-0719d08666d7.png)
3. Check layout of the site again and still see the "Untitled" widg

[2018-03-02 14:58] Bilsi commented on #10115
@tcheng001 - We will have to test this in prod, since it is a change related to the migration and cant be tested on the lower env

[2018-03-02 15:01] smboser commented on #10193
@Bilsi Can I take this issue? I have already fixed it in 9583

[2018-03-02 15:29] Bilsi commented on #10193
@smboser - Right now, it is breaking because of a code change we made, we need to make a hotfix for this, so Matt is working on it right now . If he is not able to fix it today, i'll assign it to you

[2018-03-02 15:36] tcheng001 commented on #10115
not working in production either.  Still see "Untitled" widgets in search layout in the vsite (https://eye.hms.harvard.edu).
![screen shot 2018-03-02 at 10 32 03 am](https://user-images.githubusercontent.com/2111600/36906840-fd4eb452-1e04-11e8-8fbb-a29edf37baee.png)

Note: I also checked my vsite in projects.  The titles of the Facet API widgets are unchanged. Why?
![screen shot 2018-03-02 at 10 3

[2018-03-02 15:37] Bilsi commented on #10115
@tcheng001 - I did not push this to prod yet

[2018-03-02 15:52] tcheng001 commented on #9583
Can we have a dummy school module for testing?

[2018-03-02 17:57] dancabral commented on #10186
marking fixed @Bilsi

[2018-03-02 18:28] dancabral commented on #10191
fixed
![screen shot 2018-03-02 at 1 27 59 pm](https://user-images.githubusercontent.com/867075/36915118-912348ba-1e1d-11e8-8152-11cd2d17f1f3.png)

[2018-03-02 18:51] tcheng001 commented on #10193
@mpetrovic
Still not sure in my mind what will happen after deploying this PR

1. the affected Contact widgets will be reverted to its previous state??
For example, https://dev.projects.iq.harvard.edu/hmsofa. Contact widget should show
the original content?

2. The default content (Harvard University ... your_name@harvard.edu) should show if those Contact widgets have not been changed yet

3. Afte

[2018-03-02 18:55] mpetrovic commented on #10193
1. Yes. Affected widgets should show their original content
2. Yes. If user had made no changes to the widget, it should be using the defaults, either Harvard info if the hwpi module is enabled, or OpenScholar info if it is not.
3. Yes, that is how it should work.

[2018-03-02 20:01] smboser commented on #9583
I have tested from my side and all the variables taken are working as expected. I am change marking for review.

[2018-03-02 20:38] tcheng001 commented on #10193
For QA only
Before disabled hwpi module
Tested on https://dev.projects.iq.harvard.edu/hmsofa
1. Contact info is reverted to the original content
2. the widget can be edit
![screen shot 2018-03-02 at 2 23 23 pm](https://user-images.githubusercontent.com/2111600/36917618-527ace50-1e25-11e8-9c3c-2d4e972a61dc.png)

Tested on https://dev.projects.iq.harvard.edu/torman
 1. it showed default content (Har

[2018-03-02 20:42] tcheng001 commented on #10193
Return "in dev"
when testing on dev.scholar.  hwpi module is enabled
Openscholar University content shows in Contact widget in a newly created vsite.
steps to reproduce:
clear cc
check hwpi module (enabled)
disconnect my HKey
create a new vsite (torman_test_993)
check Contact widget
Note: it shows Openscholar University
![screen shot 2018-03-02 at 3 24 42 pm](https://user-images.githubusercontent.

[2018-03-02 21:01] #10191 closed

[2018-03-02 21:02] #10186 closed

[2018-03-02 22:39] tcheng001 commented on #10193
Look good.  Marked "Fixed"
*** deployed PR *****
https://dev.projects.iq.harvard.edu/hmsofa (contact widget has been changed)
==> converted to the original content
==> can be edited

https://dev.projects.iq.harvard.edu/torman_subsite11 (contact is never changed)
==> Harvard University
==> can be edited

https://dev.projects.iq.harvard.edu/torman_demo1 (contact is never changed)
==> The widget is s

[2018-03-02 22:42] #10193 closed

[2018-03-03 15:44] dancabral commented on #10184
Harvard key heading (top image) was fixed with this PR https://github.com/openscholar/openscholar/pull/10195
![screen shot 2018-03-03 at 10 42 31 am](https://user-images.githubusercontent.com/867075/36936199-cd2cd5d0-1ecf-11e8-8709-ce3caf945092.png)

[2018-03-05 13:36] tcheng001 commented on #9583
@smboser  Tested on https://dev.scholar.harvard.edu/tcheng10/event/ccq?delta=0
unable to register an event.  I entered data in all required fields and then clicked Signup. But it seemed that nothing was happening.  It works when I tested with 3.x code.
<img width="1261" alt="screen shot 2018-03-05 at 8 35 14 am" src="https://user-images.githubusercontent.com/2111600/36977745-347eef08-2050-11e8-8f3

[2018-03-05 14:27] smboser commented on #9583
As discussed, I am checking the issue.

[2018-03-05 14:50] tcheng001 commented on #9583
@smboser     Tested on https://dev.scholar.harvard.edu/tcheng10.
All 4 Dataverse widgets provide no content.
![screen shot 2018-03-05 at 9 48 51 am](https://user-images.githubusercontent.com/2111600/36981218-8de3d9dc-205a-11e8-99de-f6a561044454.png)

[2018-03-05 15:09] smboser commented on #9583
@tcheng001 The hook_update() in this PR wasn't run causing the event sign up issue. I have run update.php and registrations are going fine now.
![image](https://user-images.githubusercontent.com/14976596/36982214-51edbfc8-20b5-11e8-87ee-16c0e4ad16bc.png)
I am now checking the dataverse issue.

[2018-03-05 15:50] smboser commented on #9583
Ok, then I will make a new spreadsheet based on the variable changes (will mention the attached widget / features to that variable). I will make it by tomorrow

[2018-03-05 15:51] Bilsi commented on #9583
@smboser - And break this branch into small branches so we can test and release one at a time

[2018-03-05 15:56] smboser commented on #9583
@tcheng001 Made a little change to handle the default variable case and resolved the conflict with SCHOLAR-3.x and now the DATAVERSE is working. It would get the actual value if the update.php was run. Please note, there is a hook_update() in this PR which needs to be run in order to get the desired result.

[2018-03-05 16:10] tcheng001 commented on #9583
@smboser    Down the road,  I will make sure to run update before testing. Thanks.

[2018-03-05 16:35] mpetrovic commented on #10180
Testing:
* [ ] Create account and add to vsite
* [ ] Add existing account to vsite
* [ ] Change role
* [ ] Create vsite
* [ ] Remove account from vsite
* [ ] Password reset

[2018-03-05 16:41] Bilsi commented on #9583
@smboser - Also, remove the email code, since @mpetrovic  is addressing that in another PR https://github.com/openscholar/openscholar/issues/10180

[2018-03-05 16:43] Bilsi commented on #10185
http://community.openscholar.harvard.edu/openscholar/topics/image-issue-linked-filenames-rather-than-thumbnails
INC02620691- Unable to download a file

[2018-03-05 17:29] openscholar-admin opened #10196 "mobile primary menu button lacks accessible name"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/mobile-primary-menu-button-lacks-accessible-name)

**The Plan**

Interim fix is to add a hidden span the anchor tag with descriptive text.

**Description**

I used WebAIM's [Web Accessibility Evaluation Tool](http://wave.webaim.org) (WAVE) on a site while the window was narrow enough

[2018-03-06 12:27] smboser commented on #9583
@Bilsi I have prepared a list after searching in the changed codes.

No. | Variables | Scenario details
------------ | ------------- | ---------
1 | training_signup_url | Mail body while adding a member
2 | dataverse_default_url  | Change in Dataverse widget
3 | privacy_policy_url | Foorter text
4 | sitewide_name | Mail body while removing member, role change, create, activate site
5 | university_

[2018-03-06 14:02] Bilsi commented on #10168
@rbran100 - Closing this, have not seen it for a while

[2018-03-06 14:02] #10168 closed

[2018-03-06 14:25] Bilsi commented on #9583
@smboser - That's fine, i want to avoid rework and want to close this ticket soon.
Header and Footer branding related changes.
Changes done in Dataverse widget.
Changes done in Event.
All mail related changes.
Site creation form.
If it makes sense to split into these functionalities - that works.
Let us know in each pull request, the change that is covered.

[2018-03-06 15:19] mpetrovic commented on #10157
@tcheng001
Requires fresh install to test.

[2018-03-06 15:30] Bilsi commented on #10157
@tcheng001 - Can you make sure this doesnt break anything in the harvard installs?

[2018-03-06 16:41] Bilsi opened #10201 "Update domains from the cert into settings.php"

[2018-03-06 18:05] tcheng001 commented on #10157
Mark "Fixed"

test case | Description | Test result
------------ | ------------- | ------
-- | public site and private app (News) |  Viewer (after logged-in) can access /News page
-- | public site and private app (News) |  Anon user can't access /News page but all other pages
-- | private site (member only) |  Anon user can't access
-- | private site (member only) |  Viewer can access all pages
--

[2018-03-06 18:37] #10157 closed

[2018-03-06 19:18] tcheng001 opened #10202 "Disable os_tour in new install"
We don't use this function any more. Please disable the module for now.

[2018-03-06 20:22] rbran100 opened #10203 "Fix the use of the link tool within the full WYSIWYG"
The grouper angular module is a dependency of the global angular module.

It needs to be added to all pages to prevent a fatal, when doing things like using the link tool.

Also will fix: http://community.openscholar.harvard.edu/openscholar/topics/image-issue-linked-filenames-rather-than-thumbnails

[2018-03-06 20:23] rbran100 commented on #10203
@mpetrovic knows this way better than me and thinks it won't be too bad

[2018-03-06 21:13] rbran100 commented on #10203
Will also fix this: http://community.openscholar.harvard.edu/openscholar/topics/image-issue-linked-filenames-rather-than-thumbnails

[2018-03-07 10:19] smboser opened #10205 "Harvard shield in Openscholar - Separating Dataverse code"
Separating Dataverse widget code. Dataverse widget should working as expected after enabling hwpi module.

[2018-03-07 11:25] smboser opened #10207 "Harvard shield in Openscholar - Separating publication code"
Option "DASH" should be visible under "Distribute to repositories" in publication app settings if hwpi is made enable

[2018-03-07 13:55] #10141 closed

[2018-03-07 13:57] #10115 closed

[2018-03-07 14:49] tcheng001 commented on #10040
@mpetrovic     Any places other than widget title  I have to check?

[2018-03-07 14:58] mpetrovic commented on #10040
Widget bodies, node titles, node bodies, the taxonomy field on the node edit form. Anywhere the user can enter a string that contains {{ something }}

[2018-03-07 15:19] joaosreis commented on #10127
Just checking if any of you had any updates regarding this problem?

[2018-03-07 15:42] mpetrovic commented on #10127
It looks like that tarball is missing those files. I would recommend downloading the latest release and trying again. If you're up for it, you could try downloading the source from github and building it yourself.

[2018-03-07 16:15] tcheng001 commented on #10040
Not working as expected.       Tested on https://dev.scholar.harvard.edu/tcheng10
1.  js fails if curly braces are added to node title and the user views the full node.
![screen shot 2018-03-07 at 11 12 05 am](https://user-images.githubusercontent.com/2111600/37103547-7e266394-21f8-11e8-9145-24195c809c20.png)

2. If I put   "{{term1}}" to title box and save, it seems working OK.  However,  it show

[2018-03-07 19:59] tcheng001 commented on #10203
I am not able to reproduce the issue consistently.  In body of this post, I can add a newly uploaded image, an existing image, a link to Google Map site, and a link pointing to an image file in the site.

<img width="1241" alt="screen shot 2018-03-07 at 2 46 19 pm" src="https://user-images.githubusercontent.com/2111600/37114465-7212761a-2216-11e8-9a92-ac46ad66ed83.png">

[2018-03-07 20:54] tcheng001 commented on #10203
Mark "Fixed"   Tested on https://dev.scholar.harvard.edu/tcheng10
1. No more js errors when adding an image or opening link tool in WYSIWYG
2. able to add a new image
3. able to add an previously uploaded image
4. able to add a link pointing to https://maps.google.com
5. able to add a link pointing to an image file in the site.

[2018-03-07 21:05] mpetrovic commented on #10040
@tcheng001
The above cases have all been fixed.

[2018-03-07 21:58] #10203 closed

[2018-03-08 08:37] smboser opened #10210 "Harvard shield in Openscholar - Separating header and footer"
Header and Footer should be visible for both by enabling and disabling hwpi module.
Footer links should be configurable in hwpi variables.

[2018-03-08 12:09] arijeetbannerjee commented on #10130
Hi @mpetrovic

This issue has been resolved for embedded Youtube video contents which use iframe as well. I have verified the same from my end at dev.scholar.harvard.edu and below is a screen shot for your reference. Please let me know if you have any query.

![10130](https://user-images.githubusercontent.com/26901665/37150389-8944188e-22f7-11e8-9294-a95c92957532.png)

Thanks
Arijeet

[2018-03-08 12:25] ugintl opened #10212 "How to install?"
I am wondering how to install this thing?

How is it different than the one found here https://theopenscholar.org/software/616/releases

[2018-03-08 14:14] smboser commented on #10210
@Bilsi @tcheng001 Header and Footer without enabling hwpi
![image](https://user-images.githubusercontent.com/14976596/37155186-3fd808b6-2308-11e8-94a3-78e7bf9a0a59.png)
Header and Footer after enabling hwpi module
![image](https://user-images.githubusercontent.com/14976596/37155446-17204536-2309-11e8-8b18-4a94e2e91701.png)
PR #10211 has been created for review.
Please note, hook_update() needs to

[2018-03-08 14:28] smboser commented on #10205
@Bilsi @tcheng001
Before enabling hwpi module
![image](https://user-images.githubusercontent.com/14976596/37156042-f01d9c48-230a-11e8-9842-54342f4f886a.png)

After enabling hwpi module it is working as expected.
![image](https://user-images.githubusercontent.com/14976596/37156068-06cb5b1a-230b-11e8-99c4-a8437e459ea3.png)

PR #10206 has been created for review.

[2018-03-08 14:53] Bilsi opened #10213 "Grouper not working as expected"
<img width="821" alt="screen shot 2018-03-08 at 9 50 10 am" src="https://user-images.githubusercontent.com/11841641/37157330-8b637e70-22b6-11e8-88a7-1670f6bed1c0.png">
Displays placeholder instead of the groups

[2018-03-08 15:16] smboser commented on #10207
@Bilsi @tcheng001
Without enabling hwpi module
![image](https://user-images.githubusercontent.com/14976596/37158575-b887ac40-2311-11e8-8ca9-74bd83d221f7.png)

After enabling hwpi module
![image](https://user-images.githubusercontent.com/14976596/37158370-3eec8bbc-2311-11e8-86b5-8d6fa894a81d.png)

PR 10208 has been created for review.

[2018-03-08 15:50] dancabral opened #10215 "OS media browser file upload is not working"
OS media browser file upload is not working.
![screen shot 2018-03-08 at 10 49 35 am](https://user-images.githubusercontent.com/867075/37160557-816ced4a-22be-11e8-8342-aa4b117b1dc5.png)

[2018-03-08 16:06] smboser opened #10216 "Harvard shield in Openscholar - Separating Mail code"

[2018-03-08 16:48] Bilsi opened #10217 "Create themes for Wisc and Emmanuel"
wisc.theopenscholar.com and emmanuel.theopenscholar.com

[2018-03-08 16:55] #10213 closed

[2018-03-08 18:06] tcheng001 commented on #10213
Note:  Only having some limited testing for grouper (see 3 and 4 below).  I have no cisco client on my laptop.
1. groups are listed in Site Visibility settings
<img width="995" alt="screen shot 2018-03-08 at 11 26 36 am" src="https://user-images.githubusercontent.com/2111600/37162619-b40dc954-22c3-11e8-9037-a7aa5727dcfa.png">
2. able to add and removed groups
3. set os_managed group,  dev members

[2018-03-08 18:31] tcheng001 commented on #10040
Tested on https://dev.scholar.harvard.edu/tcheng10/news
Control Panel is still missing right after the node is saved.  CP will appear after the page refreshes.
![](https://user-images.githubusercontent.com/2111600/37162619-b40dc954-22c3-11e8-9037-a7aa5727dcfa.png)

[2018-03-08 18:38] tcheng001 commented on #10210
@Bilsi  @smboser  @dancabral
Without enabling hwpi module, should both Header and Footer become just a black bar (Nothing on them)?

[2018-03-08 18:43] tcheng001 commented on #10205
@smboser @Bilsi @dancabral
If Dataverse widgets depend on hwpi module,  should the widgets appear in layout anymore when hwpi module is disabled??  Can we hide them if the module is disabled?

[2018-03-08 18:48] dancabral commented on #10210
Correct @tcheng001, with hwpi module disabled you should see empty header/footer black bars

[2018-03-08 18:53] Bilsi commented on #10205
Dataverse widgets should not depend on the hwpi module, they should be available to everyone.

[2018-03-08 19:39] tcheng001 commented on #10205
If Dataverse widgets don't depend on hwpi module,  why DATAVERSE SEARCH BOX becomes empty before enabling hwpi module in Bose's previous comment ?
![screen shot 2018-03-08 at 2 37 48 pm](https://user-images.githubusercontent.com/2111600/37172332-7881d252-22de-11e8-9589-7857adfc6107.png)

[2018-03-08 19:47] Bilsi commented on #10205
@tcheng001 @smboser - They should work without the hwpi.module enabled. If it does not, thats what we need to fix. What i am saying is that is that the dataverse widgets should be used outside harvard too.

[2018-03-08 20:14] dancabral commented on #10196
Marking fixed. The new span is present
![mneu](https://user-images.githubusercontent.com/867075/37174057-6f51b79c-22e3-11e8-9576-c1bded83d08a.png)

[2018-03-09 07:55] smboser commented on #10205
@Bilsi @tcheng001 Sorry, I am totally confused. According to https://github.com/openscholar/openscholar/issues/9583#issuecomment-369692850, the previous few comments and the description of the ticket were to move all Harvard related code to hwpi module. So, I did. Move those in variables which are configurable from hwpi module. Dataverse has also harvard URL in it, so I converted it to a variable

[2018-03-09 12:51] Bilsi commented on #10205
@smboser - Yes, that is right, but Dataverse is not a Harvard only product. It is used by over 100 schools across the world, so we cannot restrict its usage to only Harvard or the hwpi module
@tcheng001 tells me that the way is code is structured in 3.x and prod now, dataverse does not work unless the hwpi module is turned on.
Can we make sure that it works without any dependency on the hwpi modul

[2018-03-09 12:56] Bilsi commented on #10205
@smboser - You need to undo all changes made to these files in the PR
 openscholar/modules/os_features/os_dataverse/plugins/os_boxes_dataverse_search.inc
 openscholar/modules/os_features/os_dataverse/plugins/os_boxes_dataverse_list.inc
openscholar/modules/os_features/os_dataverse/plugins/os_boxes_dataverse_dataset_citation.inc
openscholar/modules/os_features/os_dataverse/plugins/os_boxes_dataverse

[2018-03-09 13:00] smboser commented on #10205
@Bilsi In that you can close this PR. The main objective was for this PR was to configure dataverse variable i.e. https://dataverse.harvard.edu to make configurable from hwpi. If it can stay as static then we don't need this PR any more. There is no other purpose for this PR.

[2018-03-09 13:12] smboser commented on #10210
@tcheng001 I forgot about the cache. Here it is look like if hwpi module is disabled.
![image](https://user-images.githubusercontent.com/14976596/37208809-b5ee68b8-23c8-11e8-824b-adb3e98444a1.png)
The header image is picking up from the theme directory (hwpi_basetheme) structure, which I suppose will be replaced.
It is tough to test on a single environment by doing enabling and disabling the hwpi

[2018-03-09 13:34] Bilsi commented on #10205
@smboser - But the dataverse widgets do not work without the hwpi module enabled. @tcheng001 - can you confirm that? @smboser - We need it to work without the hwpi module which was also the reason for the harvard sheild ticket, to make sure that everything we need works without the hwpi module. I will close the PR and leave the ticket open

[2018-03-09 14:24] tcheng001 commented on #10205
@smboser   @Bilsi
It seems that Dataverse widgets don't depend on hwpi module.  I disabled hwpi module, but Dataverse List widget still show data.
![screen shot 2018-03-09 at 9 20 09 am](https://user-images.githubusercontent.com/2111600/37211900-72a2ee14-237b-11e8-8a11-e8af8569e6dc.png)

[2018-03-09 14:30] Bilsi commented on #10205
@tcheng001 - thanks for confirming that. @smboser - closing this ticket

[2018-03-09 14:30] #10205 closed

[2018-03-09 14:51] tcheng001 commented on #10210
@smboser   @bilsi  @mpetrovic  @dancabral
The header still show Harvard shield and HARVARD UNIVERSITY.  What should we handle it? Our final goal is that header and footer become a blank black bar if hwpi is disabled. Correct?

[2018-03-09 14:58] dancabral commented on #10210
@tcheng001 @smboser @Bilsi yes the the Harvard logo, name in the header, etc should toggle on/off when you turned the hwpi mod on/off. When the hwpi mod is turned off the empty black bars should still be present.

[2018-03-09 15:43] smboser commented on #10210
@tcheng001 Perhaps you missed my last comment in https://github.com/openscholar/openscholar/issues/10210#issuecomment-371808464

If you test in that way, you can see the screenshot I pasted above.
@mpetrovic Currently I am storing the variable only in DB through hook_update(). But there is no provision for on / off those variables with switching hwpi module on / off. If those are tested in a singl

[2018-03-09 15:51] mpetrovic commented on #10210
@tcheng001
Can you test on dev.scholar, enabling the hwpi module on one install and disabling it on the other?

I don't really see a need for hook_disable beyond making testing easier, so I would prefer to avoid it if we could.

[2018-03-09 16:00] tcheng001 commented on #10210
@smboser   @mpetrovic   ok.  I got it.

[2018-03-09 16:10] smboser commented on #10210
@tcheng001 Thanks. But please don't proceed with testing now. I have still some confusion with the stronarms, which I am clarifying currently. I will change the status when it will be ready.

[2018-03-09 16:19] smboser commented on #10210
@mpetrovic One more issue
![image](https://user-images.githubusercontent.com/14976596/37217181-daf6d8d8-23e2-11e8-95b2-9686d098a56b.png)
That header is coming directly from the hwpi_base theme
![image](https://user-images.githubusercontent.com/14976596/37217307-2cf04c78-23e3-11e8-9af3-f45cc1c03ad9.png)
Previously my thought was that, the image will be replaced (including the theme) when it will be

[2018-03-09 21:52] #10196 closed

[2018-03-09 22:09] #10217 closed

[2018-03-12 14:38] rbran100 commented on #10177
This will be done by a developer or ops person, we can assume they will have SSH access to the bastion host.

[2018-03-12 15:41] mpetrovic opened #10222 "Clean up term references and url aliases when a node is deleted"
When a node is deleted, sometimes the reference the term has to that node is never cleared, and persists in the database forever. This can cause fatal errors when the term page is built. It also clutters up the database with orphaned data.

Also, when a node is deleted, the url alias is never cleared. This also clutters up the database, and prevents the alias from being freed for use by a future n

[2018-03-12 15:51] smboser opened #10223 "Harvard shield in Openscholar - Remove HarvardKey wording in Change Site Ownership popup and Editing members popup"

[2018-03-12 18:02] tcheng001 commented on #9583
@smboser
I found two more Harvard specific appearances or functions listed as below:
1. shield widget.  It contains lot of Harvard shield images.   How to handle them?
![screen shot 2018-03-12 at 1 58 09 pm](https://user-images.githubusercontent.com/2111600/37300894-824e5c98-25fd-11e8-973b-a6d2ec3ae5f7.png)
2. favicon
![screen shot 2018-03-12 at 1 59 32 pm](https://user-images.githubusercontent.co

[2018-03-12 19:51] Bilsi commented on #10210
@smboser - We will have a custom module per school, so we need the path to the logo to be a variable. In settings.php we need to set the path to the image (we will take care of that). The image itself will be in the school module (which Dan will add)
The text in the footer should be broken into 3 variables - one each for "Copyright © 2018 The President and Fellows of Harvard College" ,  "Accessibi

[2018-03-13 13:14] smboser commented on #10210
@Bilsi I have made the above changes. Also merged with the code from the above mentioned PR.
@mpetrovic _is_hwpi_theme() function can't be declared in template.php as its being called from https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_breadcrumbs/os_breadcrumbs.install#L36.
PR #10211 has been updated for review.

[2018-03-13 13:23] smboser commented on #9583
@tcheng001 Please check the comments from https://github.com/openscholar/openscholar/issues/9583#issuecomment-366246900 and
https://github.com/openscholar/openscholar/issues/9583#issuecomment-342891898 for favicon and shields images. Please let me know if I need to do anything on those.

[2018-03-13 13:27] dancabral commented on #9569
@smboser just checking in to see if youre still working on this? or is it ready for Matt to look at it?

[2018-03-13 13:46] smboser commented on #9569
@dancabral @Bilsi As discussed in the meeting few development works have been left for this one. We need to address the feedback comment https://github.com/openscholar/openscholar/pull/9611#discussion_r170938170. I was thinking to resume after completion of 9583
As its a priority, @Arijeet will start working on this from tomorrow (9511 will be postponed). But one thing needs to be clarified before

[2018-03-13 13:49] dancabral commented on #9569
ok thanks @smboser

[2018-03-13 13:51] mpetrovic commented on #10210
That's only in an update hook. Preface it with a ```function_exists('_is_hwpi_theme')``` check and we're fine. Looks like you could actually skip the whole update if that function doesn't exist.

[2018-03-13 14:01] smboser commented on #10207
@Bilsi I have tested it in dev.scholar. The DASH option is now controllable from hwpi module.

[2018-03-13 14:04] smboser commented on #10210
Yes that can be done. I have currently kept in os.module to ensure the supply of this function always.
What do you think about that (keeping it in a different module)?

[2018-03-13 14:12] mpetrovic commented on #10210
I think it should be in hwpi_basetheme. It's really the only logical place for it.

[2018-03-13 14:14] smboser commented on #10210
ok I am making the change.

[2018-03-13 16:11] tcheng001 commented on #10207
For QA only:

1. When hwpi module is disabled, option DASH does appear in Publication Settings form.
![screen shot 2018-03-13 at 11 56 14 am](https://user-images.githubusercontent.com/2111600/37353378-98d33e26-26b5-11e8-9676-c4cdae34975c.png)

2. Other 2 options (Google Scholar and RePEc) work as before.

3. The options show correctly in Publication form respect with their settings.
![screen shot

[2018-03-13 16:14] dancabral opened #10226 "create northeastern and cognizant themes"
northeastern.theopenscholar.comn and cognizant.theopenscholar.com

[2018-03-13 16:36] tcheng001 commented on #10207
@smboser    Mark Pending.  The options appears in pub settings form in projects install.   Regardless hwpi module enabled or disabled, the options should not appear in projects and hwp install. Any idea?
![screen shot 2018-03-13 at 12 15 09 pm](https://user-images.githubusercontent.com/2111600/37355783-f1ece6b0-26ba-11e8-8bf6-ba82d8d7757f.png)

Steps:
Note:  hwpi module is enabled in projects
1.

[2018-03-13 17:55] Bilsi opened #10227 "Find out why send_mail is not working in new installs"

[2018-03-13 18:18] tcheng001 commented on #10207
For QA only:
1. When hwpi module is enabled, option DASH appears along with Google Scholar and RePEc in Publication Settings form
![screen shot 2018-03-13 at 2 09 14 pm](https://user-images.githubusercontent.com/2111600/37360984-26c5ac34-26c8-11e8-99cc-d1a74dd55cdc.png)

2. The 3 settings work as expected.

[2018-03-14 10:40] smboser commented on #10210
I have kept that in hwpi_basetheme. It is working fine except for travis test cases. I am now trying to debug that.

[2018-03-14 13:26] rbran100 commented on #10177
After testing this, I am receiving an error running from the Bastion:

[ec2-user@ip-10-1-1-71 ~]$ ./ops-tools/clear-varnish-cache.sh --host gking.harvard.edu
Clearing the cache for host gking.harvard.edu on EVERY Varnish instance
Cannot open /var/lib/varnish/ip-10-1-1-145/_.vsm: Permission denied
Cannot open /var/lib/varnish/ip-10-1-2-219/_.vsm: Permission denied

[2018-03-14 13:46] Bilsi commented on #9569
@mpetrovic - 1.       Its regarding the backwards-compatibility, how can we determine whether the Angular pop-up will be opened for site creation or the previous site/register screen will show for end users?

2.       Do we need to check for any browser with version number (For example  - Firefox version above x.x will display angular screen else previous site/register screen)? Can you please prov

[2018-03-14 14:02] mpetrovic commented on #9569
1. It should either be controlled by a variable, or be entirely contained within a module so it can be disabled easily. You don't need to worry about intuiting it manually.

2. No. It's bad practice to be checking for browser version numbers anyway. If there's any browser specific features you're using, you should check availability for that feature and fail gracefully into a fallback if it doesn'

[2018-03-14 14:05] dancabral opened #10228 "Paid site creation functionality"
Stripe interactions needed
* [ ] Accept credit card information from new client
* [ ] Monthly billing
* [ ] Update credit card
* [ ] Change credit card
* [ ] Delete credit card
* [ ] Charge dispute resolution

Creation workflows
* [ ] New user, new card, entered
* [ ] Existing user, new card, entered
* [ ] Existing user, existing card, entered
* [ ] Existing user, existing card, selected (optional

[2018-03-14 14:09] #10174 closed

[2018-03-14 14:11] mpetrovic commented on #10210
Make sure the hwpi_basetheme is actually installed on the test install. It might not be.

[2018-03-14 15:35] smboser commented on #10207
@Bilsi Could you please provide me the latest drush alias file. I am not able to connect with dev.projects.iq.harvard.edu.

[2018-03-14 15:43] smboser commented on #10207
I got it, its working now. Please never mind.

[2018-03-14 16:05] smboser commented on #10207
@tcheng001 Its fixed now. As discussed the module citation_distribute is kept disable in prod. It needs to be disabled for not showing these option. I have removed the dependency of it from hwpi. Now these option won't be visible regardless the status of hwpi.

citation_distribute OFF + hwpi ON = None of these options will be visible
citation_distribute OFF + hwpi OFFF = None of these options will

[2018-03-14 16:12] smboser commented on #10210
Ok, checking in the site creation process for the test cases to detect that.

[2018-03-14 18:19] tcheng001 commented on #10207
Return to "in dev"
@smboser    Option of [Distribute to Academic Repositories] fails to save.  No error message when the form is saved. However, any change of [Distribute to Academic Repositories] is gone when you reopen the pub form.
![33](https://user-images.githubusercontent.com/2111600/37422839-92bfb040-2792-11e8-84ae-a2b3b2d3a217.gif)

[2018-03-14 21:19] dancabral commented on #10228
@Bilsi @mpetrovic
![indiv-flow-newaccnt](https://user-images.githubusercontent.com/867075/37431508-d2ed7490-27ab-11e8-8885-f3467de6c7a6.png)

[2018-03-15 00:05] Bilsi opened #10229 "Fix the help modal to work like other angular screens"

[2018-03-15 08:15] smboser commented on #10207
@tcheng001 @Bilsi I have checked the issue. It is an existing one and can be reproduced in 3.x as well as in Prod. Code from this PR shouldn't have any impact this behavior. Can I create a separate ticket to handle this? below is the screen cast from Prod of the same test site and publication.
![3](https://user-images.githubusercontent.com/14976596/37451260-16f07bc8-2857-11e8-8e9c-33554229c6a3.gif

[2018-03-15 10:08] smboser commented on #10210
@Bilsi Test cases are passing now after enabling hwpi_basetheme forcefully. PR #10211 has been updated for review.

[2018-03-15 12:13] smboser commented on #10223
@Bilsi I am currently working on the separation process of the occurrences of word "Harvard" to hwpi module. But before conclusion I need to expectation here. What should happen if we disable the hwpi module, will the total Private file module be disabled? (https://github.com/openscholar/openscholar/issues/9583#issuecomment-363899349)

[2018-03-15 12:16] tcheng001 commented on #10207
@Bilsi    I can reproduce the issue in production as well.   That is not a regression.  The issue seems to only affect the existing pub posts.  I can create a new pub post with any of the options.

[2018-03-15 12:46] Bilsi commented on #10207
@tcheng001 - if it is not a regression, let us qa this and open another ticket for the issue.

[2018-03-15 12:57] tcheng001 opened #10230 "Options of Citation Distribution fails to be saved in the existing pub posts"
It seems to affect only the existing publication posts.  The problem is a bit subtle.  If I unchecked the option and saved the form. Everything seems to be fine.  However, if I check the options and save. The options don't get saved.

[2018-03-15 13:13] Bilsi commented on #10223
@smboser - we are not clear yet about what to do with private files, so do not change anything with private files for now.

And do not just blindly look for the harvard word everywhere, that is how you ended up moving dataverse.
if you have questions about any usage of the word Harvard, please check with us.

[2018-03-15 13:54] smboser commented on #10223
@Bilsi Ok. Of course I will check if I have doubt with the behavior. I am currently separating the code, not doing anything new which were done earlier against the provided feedbacks. For Dataverse, I was doing as per the feedback https://github.com/openscholar/openscholar/pull/10011#discussion_r153233200.

I am leaving the private files for now. Currently I am doing the below changes. Please conf

[2018-03-15 14:01] Bilsi commented on #10223
@smboser - Leave the private files the way it is now. So when hwpi module us turned off, private files is disabled?

[2018-03-15 14:03] smboser commented on #10223
I did so in this PR.
Ok I will revert back that.

[2018-03-15 14:06] Bilsi commented on #10223
@smboser - before you revert, what is the change you made. How will private files work if you turn hwpi off? Will it only be accessible to site members?

[2018-03-15 14:09] smboser commented on #10223
@Bilsi No, I was waiting for your decision on that. What I planned is just to disable the os_files_private module as soon as hwpi module is made disabled.

[2018-03-15 14:45] Bilsi commented on #10223
@smboser -no, don't disable  os_files_private , do not do anything about it yet. Just work on the other 2 you mentioned above

[2018-03-15 16:35] rbran100 opened #10232 "Fields on the taxonomy terms entities are causing performance issues"
The only field is "show_description" it is used by 0.26% of the terms so it is a good candidate for removal.  It's functionality is present in widgets which can be used to replace the pages if needed.

[2018-03-15 18:01] tcheng001 commented on #10232
Mark "Fixed"
Tested on https://dev.scholar.harvard.edu/torman_personal/people
1.  Show Description checkbox is removed from term form.
<img width="1120" alt="screen shot 2018-03-15 at 1 44 16 pm" src="https://user-images.githubusercontent.com/2111600/37481015-04fb33ea-2857-11e8-9fa3-e33157a36621.png">
2.  able to create, edit and delete terms as before.
3. able to create new vocab
4. able to delet

[2018-03-15 19:48] #10232 closed

[2018-03-15 19:50] #10177 closed

[2018-03-15 19:56] tcheng001 commented on #10207
These are steps to set up test env for the all 4 following test scenarios:
1. Deploy 3.x to test env
2. Copy DB from prod to test env
3. Enable or Disable hwpi module depending on test requirement
4. Deploy this PR to the test env
5. Run update
6. Clear caches

Tested on dev.scholar in which hwpi module is enabled and citation_distribute module is enabled

Test case  | Test description | Result
--

[2018-03-15 20:24] dancabral commented on #10228
TBD's
1) With new and existing customers, will separate emails be sent to the user or a combined email saying something like:
**New Account**
a) Hi Dan, an account with the username dcabral has been created at http://theschlr.com.
b) Your Visa xxx8876 will be billed $9 monthly for your http://dancabral.theschlr.com website
**Existing Account**
a) Hi Dan, an account with the username dcabral has be

[2018-03-15 22:32] tcheng001 commented on #10207
Mark "Fixed"

Tested on dev.scholar in which hwpi module is disabled and citation_distribute module is enabled

Test case  | Test description | Result
------------ | ------------- | -------
-- | check if options of [Distribute to repositories] appear in pub settings | Google Scholar and RePEc  appear  (That is correct)
-- | check if pub settings form works as before |  OK
-- | check if options of

[2018-03-16 13:21] smboser commented on #10223
@Bilsi the above mentioned functionlities are done. PR #10224 has been updated for review.

[2018-03-16 19:56] Bilsi commented on #10130
@smboser - Can you finish this first? I would like to release it on Monday. We estimate another 3 hours of work remaining on this? Can you finish this and then go back to https://github.com/openscholar/openscholar/issues/10210

[2018-03-19 12:39] smboser commented on #10223
@Bilsi @mpetrovic Changes are done. PR #10224 has been updated for review.

[2018-03-19 12:41] smboser commented on #10210
@Bilsi @mpetrovic Changes are done. PR #10211 has been updated for review.

[2018-03-19 14:15] #10155 closed

[2018-03-19 14:15] #10226 closed

[2018-03-19 14:34] Bilsi commented on #10130
@smboser @arijeetbannerjee - Will you be able to complete this today?

[2018-03-19 14:53] arijeetbannerjee commented on #10130
Hi @Bilsi,

I have addressed the first comments which @mpetrovic mentioned.

Regarding the second comment, I am facing an issue and currently looking for a solution. The embedded media is not showing in the view page but displaying correctly in edit page. This is because iframe tag is being stripped by Drupal while viewing. I have already updated the PR with comments and details.

I am trying to g

[2018-03-19 15:00] mpetrovic commented on #10130
That means you're embedding it wrong. All rich media like that needs to be in a Drupal file, and then referenced in a media tag, with the format [[{fid: file_id, other_stuff: {goes: here}}]]. Embed a file on a page the normal way, then turn off the wysiwyg to see how its supposed to look.

You'll need to create that for every file, not just iframes and oembeds, to maintain consistency across the p

[2018-03-19 15:38] tcheng001 commented on #10210
I have deployed      9583-Separate-header-footer (#10211)  to  hwpi.staging
hwpi module has been enabled before I deployed the PR
Now what I see in header is only  HARVARD.EDU link
In footer, there is an empty blank bar.   Am I missing something?
<img width="1477" alt="screen shot 2018-03-19 at 11 27 48 am" src="https://user-images.githubusercontent.com/2111600/37605635-02177e8e-2b6a-11e8-8044-1d2

[2018-03-19 15:41] smboser commented on #10210
@tcheng001 Please run the hwpi_update_7014(). It will create all those variables. Its already in SCHOLAR-3.x. and not showing anymore in PR after merging.

[2018-03-19 15:50] smboser commented on #10210
@tcheng001 I have added a new hook_update(). Please run that and you will get those variables.

[2018-03-19 15:53] smboser commented on #10216
@Bilsi I am working on it and have two questions so far.

1. Do I need to make any change for the following footer
![image](https://user-images.githubusercontent.com/14976596/37606430-76359d4a-2bbb-11e8-9a21-a0038198d7b5.png)

2.  Do I need to make any change in the following line
https://github.com/openscholar/openscholar/blob/135d512f2b3f2a105c7f0b28f601e3fe69520c7a/openscholar/modules/harvard/h

[2018-03-19 17:08] tcheng001 commented on #10210
Not working as expected.  Returning to "in dev"
@smboser
- [ ]  1. Privacy in footer should not appear when it is not set.
<img width="1428" alt="screen shot 2018-03-19 at 12 42 34 pm" src="https://user-images.githubusercontent.com/2111600/37609293-1fb54e9a-2b73-11e8-8577-39f0f8fb708e.png">

<img width="912" alt="screen shot 2018-03-19 at 12 43 35 pm" src="https://user-images.githubusercontent.com

[2018-03-19 18:54] tcheng001 commented on #10210
FOR QA only:
When hwpi module is disabled, both branding-header and footer become a blank black bar. That is correct.
Steps to test:
1. copy DB from production
2. disable hwpi module
3. deploy PR
4. run update
5. clear cache
![screen shot 2018-03-19 at 2 49 50 pm](https://user-images.githubusercontent.com/2111600/37616148-67929bca-2b85-11e8-850e-4ba0e2cd599a.png)

[2018-03-19 20:30] tcheng001 commented on #10223
1.  When hwpi is enabled, the HarvardKey message appears in Editing members popup.
<img width="1284" alt="screen shot 2018-03-19 at 4 22 09 pm" src="https://user-images.githubusercontent.com/2111600/37620120-ba5ad316-2b91-11e8-98cd-c916d08bad05.png">

2.  Editing members popup works as before

3. When hwpi is enabled, the HarvardKey message appears in Change Site Ownership popup.
<img width="1290"

[2018-03-19 23:57] tcheng001 commented on #10223
Steps to setup
1. Copy DB
2. Disable hwpi module
3. Deploy PR
4. Run update
5. Clear cache

1. When hwpi module is disabled, no HarvardKey message appears in Editing members popup.
![screen shot 2018-03-19 at 7 49 58 pm](https://user-images.githubusercontent.com/2111600/37628188-c35dae44-2bae-11e8-84e8-b8ff1feaa973.png)
2.  Editing members popup works as before
3. When hwpi module is disabled, no

[2018-03-19 23:58] tcheng001 commented on #10223
Mark "Fixed"

[2018-03-20 10:29] smboser commented on #10210
@tcheng001 Privacy issue is fixed. I forgot that cp settings part from where privacy url can be controlled. I kept that too in a variable. I reverted back that and currently it is taking the value from cp settings privacy policy.

[2018-03-20 15:08] tcheng001 commented on #10210
@smboser

Privacy links still shows up in footer even though Privacy Policy is not set.   Any idea?
<img width="882" alt="screen shot 2018-03-20 at 11 00 24 am" src="https://user-images.githubusercontent.com/2111600/37662661-ec2119a4-2c2d-11e8-997f-6ead126930b4.png">
--------
![screen shot 2018-03-20 at 11 01 30 am](https://user-images.githubusercontent.com/2111600/37663043-be94bf80-2c2e-11e8-98da

[2018-03-20 15:54] smboser commented on #10216
@Bilsi The testing is almost from my side except one scenario. But currently codeship build is getting failed. Please let me know when its fixed. I will put it to review after checking the last scenario.

[2018-03-20 15:58] Bilsi commented on #10216
@smboser - @mpetrovic is fixing it, it should work in a few

[2018-03-20 16:03] arijeetbannerjee commented on #10130
Hi @mpetrovic,

I am currently working on your last comment and will update you as soon as I complete it.

Thanks
Arijeet

[2018-03-20 16:05] smboser commented on #10210
@tcheng001 Its working now in staging.hwpi.

[2018-03-20 16:44] tcheng001 commented on #10210
When hwpi module is enabled,
1.  Privacy doesn't appear in footer if Privacy Policy is not set.
<img width="1458" alt="screen shot 2018-03-20 at 12 39 10 pm" src="https://user-images.githubusercontent.com/2111600/37668818-bba3e780-2c3b-11e8-82ea-86c95eea9a88.png">

2. If Privacy Policy is set, then Privacy link appears in footer and it will redirect whichever is set in  Global Settings ->  Privacy

[2018-03-20 17:29] tcheng001 commented on #10210
When hwpi module is disabled,  both branding header and footer become blank black bar.  That is good.

[2018-03-20 18:42] dancabral commented on #10210
confirming that the harvard specific branding header and footer markup is the same now that the code has been separated out. meaning, public and custom themes that reference the markup in the branding header and footer will not be negatively affected.

[2018-03-20 18:53] tcheng001 commented on #10210
Mark "Fixed"

[2018-03-21 11:40] tcheng001 commented on #10210
Mark "Fixed"
@Bilsi  After releasing this PR, we have to check at least these two sites which are using custom theme css.

https://carrcenter.hks.harvard.edu/
https://wsrp.hds.harvard.edu/

![screen shot 2018-03-21 at 6 27 57 am](https://user-images.githubusercontent.com/2111600/37707775-ad3cd608-2cda-11e8-9839-38e63ad0361e.png)
![screen shot 2018-03-21 at 6 28 37 am](https://user-images.githubuse

[2018-03-21 12:52] smboser commented on #10216
@Bilsi I have checked the following scenarios.
1) Adding member
2) Removing member
3) Change role
4) Creating site on behalf of another user
5) Shiled manager

PR #10234 has been updated for review.

[2018-03-21 12:59] arijeetbannerjee commented on #10130
Hi @mpetrovic,

The second issue has been resolved, the file is now embed with the format [[{fid: file_id, other_stuff: {goes: here}}]], please review the code and let me know if you have any query.

Thanks
Arijeet

[2018-03-21 14:57] tcheng001 commented on #10130
@dancabral @Bilsi      In Google event edit page, no image (or other forms of embedded object) can be added to the body field (see image below).  Thus, those embedded objects from OS should be removed during exporting to Google calendar. Make sense?
![screen shot 2018-03-21 at 10 50 30 am](https://user-images.githubusercontent.com/2111600/37717188-70561d96-2cf6-11e8-984b-994a04e0e64e.png)

[2018-03-21 18:53] tcheng001 commented on #10215
I have checked on american install and able to update image and videos.
![screen shot 2018-03-21 at 2 53 27 pm](https://user-images.githubusercontent.com/2111600/37731102-a8817064-2d17-11e8-8b87-260597a3bccb.png)

[2018-03-21 19:52] Bilsi opened #10236 "Drupal core update"
There will be a security release of *Drupal 7.x, 8.3.x, 8.4.x, and 8.5.x on
March 28th 2018 between 18:00 - 19:30 UTC*, one week from the publication of
this document,   that will fix a highly critical security vulnerability. The
Drupal Security Team urges you to reserve time for core updates at that time
because exploits /might/ be developed within hours or days. Security release
announcements wi

[2018-03-21 19:55] Bilsi commented on #10130
@arijeetbannerjee @smboser - Let us make this a priority over orcid

[2018-03-21 19:56] dancabral commented on #10130
sounds good @smboser @tcheng001  - embedded objects from OS should be removed during exporting to Google calendar

[2018-03-22 13:58] arijeetbannerjee commented on #10130
Hi @Bilsi,

Can we have a separate ticket for the google calendar export issue which @tcheng001 has mentioned as I am working on importing embedded objects from .ical file in this ticket and Google calendar export is a separate section?

Also can you please let us know which one is the priority "Ical import" or "Google calendar export" as both has been discussed above in this ticket?

Thanks,
Arij

[2018-03-22 14:03] #10207 closed

[2018-03-22 15:51] tcheng001 commented on #10130
Hi @arijeetbannerjee
Please ignore my previous comment regarding exporting to Google calendar.  Just concentrate on ical export. It seems that there is no way to contain image in the body in ical formatting.  If that is true, we just want to remove the image during ical export.
Thanks, Torman

[2018-03-22 21:26] dancabral commented on #10228
@mpetrovic update payment screens
![udpate-payment](https://user-images.githubusercontent.com/867075/37799456-1cbab8bc-2df6-11e8-8b23-c622e2d87bac.png)

[2018-03-23 15:35] dancabral commented on #9919
Links/buttons:
-Log in
-create a site
-open support tic
-main help/doc site
-video training page

[2018-03-23 18:21] dancabral opened #10238 "Create landing page for https://thescholr.com/"

[2018-03-23 18:25] dancabral commented on #10238
**The Headline**
No hero is complete without an accompanying headline. The headline (usually one sentence) is basically your initial product pitch, and needs to grab attention in the same way that the image does. So how do you grab attention with copy? We saw a few different strategies in our analysis:

- Simply state what your product is, e.g. “Simple design, prototyping and collaboration.” (Marv

[2018-03-23 19:16] #10223 closed

[2018-03-26 14:39] #9887 closed

[2018-03-26 15:04] Bilsi commented on #9566
@smboser @arijeetbannerjee - I sent the email i received from IAM to both of you. IAM tells that it should work now. Do you want to test it on the lower env now? Subhramalya has a Harvard key

[2018-03-26 16:10] dancabral opened #10239 "Fix default profile photo jquery swap"

[2018-03-26 19:11] tcheng001 commented on #10228
1.  Nothing happens when I click Next button
2. Password is not hidden in [Confirm Password] field
![screen shot 2018-03-26 at 3 07 43 pm](https://user-images.githubusercontent.com/2111600/37927419-05d7b590-3108-11e8-84bb-e2cd547f7374.png)

[2018-03-27 01:02] #10239 closed

[2018-03-27 10:31] rivkiz commented on #9369
I add ssl to my site but I get some errors like
1 Overlay module not work in all cases.
2 restful module work with http.
I try to enable securepages module, but it's not work.
What's the right way to add SSL to openscholar site?
I can fix the errors, but I want to know the right way to add the ssl.

[2018-03-27 13:21] smboser commented on #10216
I have addressed the code review comments. PR #10234 has been updated for review.

[2018-03-28 04:57] pollyolly opened #10241 ""locale_custom_strings_en" Not Wprking in node-forms"
Hello guys, have you tried to change some of the labels in the forms.
I'm trying to change these labels (Spring, Summer, Fall, Winter) in os_classes into these values.
This is my settings.php:

$conf['locale_custom_strings_en'][''] = array(
   'Spring' => 'First Term',
   'Summer' => 'Second Term',
   'Fall'  => 'Third Term',
   'Winter' => 'Mid-year'
 );

It seems not working.
Any other workaroun

[2018-03-28 12:43] Bilsi commented on #9369
You should enable the restful_module app. You would also have to add the domains to settings.php so that it redirects.

[2018-03-28 13:05] Bilsi commented on #10210
@smboser - Can you merge 3.x into this branch?

[2018-03-28 13:19] tcheng001 opened #10242 "Harvard Shield: URL for "Linking Your HarvardKey to your OpenScholar Account""
The URL for "Linking Your HarvardKey to your OpenScholar Account" should be
https://harvard.service-now.com/ithelp?id=kb_article&sys_id=bcb7c5eadbba0fc0a914fff31d9619dc
The help text can be found in the following places:
1. Editing members for site popup
![screen shot 2018-03-28 at 9 16 34 am](https://user-images.githubusercontent.com/2111600/38031255-ccc26220-3268-11e8-96b3-8412a147c9d3.png)
2. C

[2018-03-28 15:21] #10178 closed

[2018-03-28 16:51] dancabral commented on #10215
this is no longer an issue. closing

[2018-03-28 16:51] #10215 closed

[2018-03-28 17:47] #10180 closed

[2018-03-28 17:54] dancabral opened #10243 "Tweak Bold theme css"
- Featured Post content padding inconsistent
- Paragraph text - he thinks it's too small. 15px to 16px?
- Site Info Description line - too big (i'd agree that it's competing too much with the Title

[2018-03-28 18:16] dancabral commented on #10243
@Bilsi this can be merged and pushed to prod. the PR was made from 3x.

[2018-03-28 18:43] #10243 closed

[2018-03-28 18:49] tcheng001 commented on #10242
@smboser   If you find other places having the same issue, please fix them.  Also, could you please specify where the issues are?  Thanks.

[2018-03-28 18:50] smboser commented on #10223
@Bilsi @tcheng001 I have got the root cause of the issue in Prod. Previously the coding was done in 9583. And in middle of the ticket it was decided that all the help links will be addressed separately through another ticket and I don't need to do anything on the help links. But these links were missed somehow in that ticket and as a result it was not merged after moving to prod. I am very sorry I

[2018-03-28 18:55] Bilsi commented on #10223
@smboser - We created another ticket and assigned it to you. Its fine, we did not notice it during QA either

[2018-03-28 19:08] smboser commented on #10130
@Bilsi Can we create a separate ticket to address this. Because the problem definition has been changed from development perspective. As discussed in the meeting previously it was to

But now we have to remove image, file etc. while exporting by keeping the text part only.

[2018-03-28 19:15] #10210 closed

[2018-03-28 19:17] Bilsi commented on #10130
@smboser - sure, create a github ticket, just make sure to mark it to this milestone.

[2018-03-28 19:31] rbran100 commented on #10236
https://www.drupal.org/sa-core-2018-002

[2018-03-28 19:51] rbran100 commented on #10236
This can be fixed in an openscholar install by incrementing the version number of drupal in drupal-core-org.make to:
projects[drupal][version] = "7.58"

You will need to run build in order for the changes to apply.  Additionally we will update a new tarball with these changes shortly.

[2018-03-28 20:45] dancabral commented on #10236
Heres the link the tar with the security updates.
http://osprojectsite.org/sites/osops.openscholar.harvard.edu/files/osorg2/files/drupal-openscholar-7.x-3.84.12.tar.gz

[2018-03-28 21:38] #10236 closed

[2018-03-29 11:20] arijeetbannerjee opened #10246 "Calendar ical exporting media code incorrectly, media should not get exported in ical file"
See http://community.openscholar.harvard.edu/openscholar/topics/images-in-ical-export

@Bilsi @mpetrovic @tcheng001 - As per my understanding, the media code (e.g, image, iframe and script) for calendar events which is currently getting exported incorrectly in ical file should not get exported at all except for the text part of the event.

Please let me know if my understanding is correct.

[2018-03-29 11:38] arijeetbannerjee commented on #10130
Hi @Bilsi

I have created a new ticket #10246 as per your previous comment. We can continue the remaining activity the new ticket. Let me know if you have any query.

Thanks
Arijeet

[2018-03-29 11:45] smboser commented on #10242
@tcheng001 @Bilsi The changes are done. I have found the following areas where I have made the changes

Site creation page - if account is not linked with Harvard key
![image](https://user-images.githubusercontent.com/14976596/38086984-0ed9d39e-3374-11e8-969a-f60948f562fe.png)

Account Edit page
![image](https://user-images.githubusercontent.com/14976596/38087068-6748d750-3374-11e8-9385-999efdfa53

[2018-03-29 11:58] tcheng001 commented on #10246
@arijeetbannerjee   That is correct.

[2018-03-29 13:36] Bilsi commented on #10216
@smboser - Why is this in pending, are you waiting on something?

[2018-03-29 13:37] mpetrovic commented on #10216
I had a question for him in the PR

[2018-03-29 14:08] tcheng001 commented on #10242
In all 4 scenarios described in [here](https://github.com/openscholar/openscholar/issues/10242#issuecomment-377209663)
The URLs are pointing to https://help.theopenscholar.com/logging-your-site#linking-your-harvardkey-to-your-openscholar-account
That is correct.  The pages function properly as before.

TO BE CONTINUED ...

[2018-03-29 14:24] arijeetbannerjee commented on #10246
Hi @mpetrovic,

The fix has been implemented, please review the same and let me know if you have any queries or concern.

Thanks
Arijeet

[2018-03-29 18:48] tcheng001 commented on #10242
For QA only:
When hwpi module is enabled,  the link for [Linking Harvardkey to Openscholar user] is redirecting to [here](https://harvard.service-now.com/ithelp?id=kb_article&sys_id=bcb7c5eadbba0fc0a914fff31d9619dc) in all 4 scenarios mentioned in the previous commment

When hwpi module is disabled,
1. No more harvardkey link message in Change Site Ownership popup
<img width="1299" alt="screen sho

[2018-03-29 19:15] #10242 closed

[2018-03-30 10:33] smboser commented on #10216
@Bilsi Its done and checked in dev.scholar for those emails. PR #10234 has been updated for review.

[2018-03-30 14:32] rbran100 opened #10248 "Downtime Post-Mortem"
We can create subtasks from here.

1. I pushed some code live that switched to using a new Memcache stack, unfortunately, there was an issue with the connection info so Drupal operated without a caching layer :-x
2. This caused the RDS spike you saw, and web transactions slowed to a crawl
3. The EB web machines became overwhelmed and seized up, and basically sat there not responding to incoming we

[2018-03-30 15:20] smboser commented on #9569
I have implemented the backward comparability mostly by reverting the old things and adjusted in few areas. For now I am keeping the variable as following way to determine this.
`if (variable_get($is_angular, TRUE)) {`

Still have few things left which is coming in mind
1. Check implementation if user is about cross the site creation limit (if the limit exists).
2. PasswordPolicy for this new user

[2018-03-30 15:30] tcheng001 commented on #9569
@smboser    I need to discuss with @dancabral first.

[2018-03-30 15:55] tcheng001 commented on #10216
@smboser    After deploying to hwpi.staging, it failed to run `drush  @hwpi.staging cc all`
Any idea?

[code]

[2018-03-30 17:45] Bilsi commented on #10216
@tcheng001 - server issue, resolved it, the code is ready for you to QA on hwpi.staging. Ran updates and cleared cache

[2018-03-30 19:44] Bilsi opened #10249 "File not updating after upload"
from Gary "if I click on that file in that screen shot, i now (an hour after uploading) get the new version I uploaded.  but if I click the same link (http://scholar.harvard.edu/files/gking/files/vitae.pdf (while logged in or not), I still get the old version."

http://community.openscholar.harvard.edu/openscholar/topics/file_replacement_not_working

Open Scholar issues with a) replacing an existi