[2018-03-30 23:50] tcheng001 commented on #10216
if hwpi module is disabled (non-harvard installs), we would like to have
[code]
instead of
[code]

1. Add member
![mail_content_add_member](https://user-images.githubusercontent.com/2111600/38157090-7841bf6c-3451-11e8-8fa8-cb468af03370.png)

2. Change role
![mail_content_change_role](https://user-images.githubusercontent.com/2111600/38157106-b65b32c4-3451-11e8-9ccd-806653087b1c.png)

3. Delete mem

[2018-04-02 08:53] smboser commented on #10216
@tcheng001 The marked areas in all the above four scenarios are configurable from admin.

![image](https://user-images.githubusercontent.com/14976596/38189729-069ce8f2-367f-11e8-8223-949a1c2bff00.png)

In 4, the mail body is also configurable from the same area

The settings
![image](https://user-images.githubusercontent.com/14976596/38189906-a35bf246-367f-11e8-91f3-7672cfe133db.png)

And the mail

[2018-04-02 10:04] smboser commented on #10216
@tcheng001 For point 5, it will change the text in Shield Manager area in admin
![image](https://user-images.githubusercontent.com/14976596/38192622-527d05d4-368b-11e8-8f46-2323641563a8.png)
Please let me know if you have any queries

[2018-04-02 13:30] smboser commented on #9569
@tcheng001 I have finished with the remaining development parts. I need to test all the scenarios before put it to review. Please provide me the test cases, so that I can check once from my side.

[2018-04-02 13:57] tcheng001 commented on #10216
@smboser
1.  Thank you for explanation,  the sender's name, address and email address are configurable.

2. Shield images don't render in /staging.hwpi.harvard.edu/admin/config/user-interface/shields.  This is not a regression.  It happens on 3.x as well.  Can you take a look?

3. Regarding point 4 in my previous comment, can we use SIMILAR wordings showed in production when hwpi module is disable

[2018-04-02 14:29] dancabral opened #10250 "Missing Branding header/footer markup from one page themes - projects install"
The branding header/footer markup is missing from one page themes in the projects install only. First guess is that cache is stuck.

[2018-04-02 16:01] dancabral opened #10251 "Point domain https://thescholr.com to this vsite landing_page"
Point the domain https://thescholr.com to this vsite https://thescholr.com/landing_page

[2018-04-02 16:45] tcheng001 commented on #10246
1. When importing to Google calendar, everything looks good. Both embedded image and video (url from vimeo) in the body will be stripped off.  Import runs successfully.

2. But when I try to import (or follow) ical to Yahoo calendar, I got this error. "We are sorry! Something went wrong..."

![screen shot 2018-04-02 at 12 36 22 pm](https://user-images.githubusercontent.com/2111600/38205020-0aebc01

[2018-04-02 18:45] mpetrovic commented on #10228
This might not be the issue for it, but I took some time to figure out how to do subdomains today.

Turn's out, purl supports it directly.
1. Set up a ServerAlias for our host:
  ServerAlias *.base.comain
2. Configure a DNS to point any *.whatever domains to the same install.
  I did this with my hosts file, unsure how to do it with godaddy or whatever
3. Set the Drupal variable 'purl_method_space

[2018-04-03 12:38] smboser commented on #10216
I have tried a lot but it seems to be file server file directory permission issue, which I can't change from my end.

If you check with SCHOLAR-3.x or in Prod, the followings are the screenshots

when hwpi module is enabled
![image](https://user-images.githubusercontent.com/14976596/38249512-86dbf036-3769-11e8-90e8-52a2c88ca253.png)

when hwpi module is disabled
![image](https://user-images.github

[2018-04-03 13:12] Bilsi commented on #10216
@smboser - If the shield manager does not tie in to the email code, let us ignore it in this ticket.

Regarding the screen shots below, is it possible to change the default text to (when hwpi module is disabled)

Hi smboser,

You new OpenScholar  site has been activated.  Your website url is https://jdhfjdhgd

Leave the remaining text as is and sign off as

Sincerely,
The OpenScholar Team

200 Por

[2018-04-03 13:39] dancabral commented on #10246
@tcheng001 heres where you can test the calendar import to location https://harvardgrad-prod.modolabs.net/dce___student/dce_calendar/events?feed=hes_calendar&id=calendar.1300492.field_date.0%40activities.extension.harvard.edu%7C20180323T000001&calendarMode=list&startdate=05-02-2018+T000000

[2018-04-03 13:40] tcheng001 commented on #9569
a. Site limitation:  scholar is 1, projects is 300
b. Password Policy should follow those in production:
- Password must have at least 6 character(s)
- Password must have fewer than 3 identical consecutive characters
- Password cannot match 2 past passwords

c. Test cases:
1. check all presets ( all combinations of type of site and initial setup)
2. check all options of site visibility
3. if the w

[2018-04-03 14:57] Bilsi commented on #10216
OpenScholar should be hardcoded

[2018-04-03 15:13] smboser commented on #10216
@Bilsi @tcheng001 I have made the change. Below is the site registration email body after disabling hwpi module.

![image](https://user-images.githubusercontent.com/14976596/38258248-92914fd2-377f-11e8-9f0c-e783b9de1288.png)

I have kept the email body with enabling hwpi module as it is.

[2018-04-03 15:30] tcheng001 commented on #10216
Hi Bose,

Not so sure what you mean of the last sentence  -  "I have kept the email
body with enabling hwpi module as it is."

Torman

On Tue, Apr 3, 2018 at 11:13 AM, Subhramalya Bose <notifications@github.com>
wrote:

[2018-04-03 15:37] Bilsi opened #10253 "Enable Privacy in footer for all sites and not make it optional anymore"

[2018-04-03 15:50] #10173 closed

[2018-04-03 15:50] #10176 closed

[2018-04-03 15:50] #10179 closed

[2018-04-03 18:13] mpetrovic opened #10254 "Allow spaces presets to import csv files"
Spaces presets can run something called og_tasks when they're instantiated onto a vsite.

We need a new og_task to import node and widget content from csv files. The og_task needs to derive where the files are from the name of the spaces_preset, and load them all automatically. Ideally, any module should be define a spaces preset and use this task.

See the vsite_preset module for an example on de

[2018-04-03 22:36] Bilsi commented on #10216
@smboser - The text below is included for harvard
"Here are some handy links for you:\n"
   . "\n"
   . " * Logging in to your site: https://help.theopenscholar.com/logging-your-site\n"
   . " * Sign up for training: http://hwp.harvard.edu/calendar/upcoming \n"
   . " * OpenScholar documentation: https://help.theopenscholar.com \n"
   . " * Need help with your project? http://hwp.harvard.edu \n"

[2018-04-04 00:24] dancabral commented on #10129
@smboser the addthis widget appears to have fallen ill again. I've confirmed in 3 sites. can you please take a look? hopefully the fix is as simple as last time.

[2018-04-04 08:30] arijeetbannerjee commented on #10246
Hi @tcheng001,

Can you please send me the two .ical files which you are importing?

1. The one which is not importing correctly into yahoo calendar from lower environment.
2. The second one which is getting imported into yahoo calendar without any issues from production.

I just want to see the contents of both ical files and the difference in order to identify the root cause. Let me know if you

[2018-04-04 10:48] smboser commented on #10129
@dancabral I have checked in https://hwpi.harvard.edu/tormanhc2 but I can see the widget is appearing fine. Also, I can see the code is still present in SCHOLAR-3.x.
![image](https://user-images.githubusercontent.com/14976596/38303386-8ec83d08-3823-11e8-9d83-3c19e03325d5.png)
![image](https://user-images.githubusercontent.com/14976596/38303482-cf8a9138-3823-11e8-9f42-7057e4a6ea98.png)
Could you pl

[2018-04-04 11:54] arijeetbannerjee commented on #9566
Hi @Bilsi,

The code has been cleaned up, simplesamlphp is working as expected, please refer to below screenshot for reference -

![image](https://user-images.githubusercontent.com/26901665/38306018-b2fabc1a-382c-11e8-9d02-6462fd60e4cb.png)

![image](https://user-images.githubusercontent.com/26901665/38306059-e4ad6104-382c-11e8-8760-7cc411a8d754.png)

However, the login is not working. I am checki

[2018-04-04 12:10] smboser commented on #10216
Hi @Bilsi @tcheng001 The requested changes have been made. PR #10234 has been updated.

[2018-04-04 12:45] tcheng001 commented on #10246
@arijeetbannerjee
1. It seems that importing events would fail from this site dev.hwpi.harvard.edu/tormanhc to yahoo calendar.  If I use dev.hwpi.harvard.edu/tcheng3, no problem to import events.

2. Why file information appears in the description area again?
![screen shot 2018-04-04 at 8 42 17 am](https://user-images.githubusercontent.com/2111600/38308165-39ec551a-37e4-11e8-837a-641ee71a3322.png)

[2018-04-04 14:49] dancabral commented on #10129
@smboser you can look here https://gking.harvard.edu/. it looks like the css file isnt loading. selecting one of the anchors should reference a corresponding icon.
![screen shot 2018-04-04 at 10 47 22 am](https://user-images.githubusercontent.com/867075/38315132-d18e8c92-37f5-11e8-84cf-b8a95e17aec1.png)

[2018-04-04 14:49] arijeetbannerjee commented on #10246
Hi @tcheng001,

As discussed, please find below the details -

1. The expected functionality was to export the .ical file without media code and import the same into other platform, in case of Yahoo, we are directly importing it from the "ical download link". As https://dev.hwpi.harvard.edu/tormanhc/calendar/upcoming/all/export.ics is a private site, the URL is not exposed and it is throwing a "Ac

[2018-04-04 15:39] tcheng001 commented on #10246
See html tab in description of event after imported to yahoo calendar.
https://dev.hwpi.harvard.edu/torman/calendar/upcoming/all/export.ics
![screen shot 2018-04-04 at 11 34 38 am](https://user-images.githubusercontent.com/2111600/38318027-6d6e608c-37fc-11e8-98fb-565529d4f8f0.png)

From production,  https://scholar.harvard.edu/tcheng8/calendar/upcoming/all/export.ics
No html is shown in descriptio

[2018-04-04 16:13] dancabral commented on #10129
Im closing this @smboser. it must have been my browser cache.

[2018-04-04 16:13] #10129 closed

[2018-04-04 16:25] tcheng001 commented on #10246
@arijeetbannerjee   I think that could be a regression.  The html tags show in the description of event.  I place the identical content of description (without any image or embed object) in an event in both production and dev.hwpi.
Using production (https://scholar.harvard.edu/tcheng8/event/sat-bbq
<img width="672" alt="screen shot 2018-04-04 at 12 18 06 pm" src="https://user-images.githubusercont

[2018-04-04 16:59] Bilsi commented on #9583
@smboser - Can you make a ticket to remove "harvard community" in site visibility?
Groups can be disabled by disabling the grouper module, so thats fine. Can you find out where the harvard community setting comes from? That needs to be limited to the Harvard code.

![screen shot 2018-04-04 at 12 57 46 pm](https://user-images.githubusercontent.com/11841641/38322264-edf3048c-3807-11e8-820b-092fa5b82

[2018-04-04 18:00] Bilsi opened #10255 "Replace Mollom with Honeypot"
1. Our registration for the 2018 Spring symposium on the HDDC website is not taking any new registrants https://hddc.hms.harvard.edu/event/hddc-2018-spring-symposium Please help! We have our annual symposium next Tuesday, April 10 from 8:30 until 5:00 pm in Folkman Auditorium at Boston Children's Hospital. Amanda Reilly, HDDC Administrative Director

2. Some people are trying to sign up for these

[2018-04-04 18:00] Bilsi commented on #10255
@smboser - We would like this completed by end of day friday too

[2018-04-05 00:53] tcheng001 commented on #10216
For QA info only:
When hwpi module is disabled:
1. Adding a member
![screen shot 2018-04-04 at 8 45 39 pm](https://user-images.githubusercontent.com/2111600/38341944-41d3424c-3849-11e8-864b-bb5bd7ed3131.png)

2. Changing role for a member
![screen shot 2018-04-04 at 8 46 59 pm](https://user-images.githubusercontent.com/2111600/38341957-5a949af6-3849-11e8-8448-aece74c2c7cb.png)

3. Removing a membe

[2018-04-05 01:08] tcheng001 commented on #10216
@smboser    I missed the link. For Sign up for training, the link should be https://hwp.harvard.edu/calendar/upcoming.  Please fix it.
When hwpi module is enabled, this is the mail content for adding a member.
![screen shot 2018-04-04 at 9 01 57 pm](https://user-images.githubusercontent.com/2111600/38342319-c8606efa-384b-11e8-8ee5-d80c85b27a07.png)

[2018-04-05 01:35] tcheng001 commented on #10216
For QA info only:
When hwpi module is enabled, this is the mail content of changing role for a member
![screen shot 2018-04-04 at 9 29 17 pm](https://user-images.githubusercontent.com/2111600/38342942-467a77ce-384f-11e8-8c4b-787a3ec1040a.png)

When hwpi module is enabled, this is the mail content for a member removed from vsite
![screen shot 2018-04-04 at 9 31 06 pm](https://user-images.githubuser

[2018-04-05 08:32] arijeetbannerjee commented on #10246
Hi @tcheng001

HTML tags has been removed along with media code now. Please find below screenshots for reference -

1. Calendar event with media code and HTML tags (https://dev.hwpi.harvard.edu/torman/event/test-event?admin_panel=1)
![image](https://user-images.githubusercontent.com/26901665/38355077-6f324c98-38d9-11e8-9147-40cf3c0320e6.png)
![image](https://user-images.githubusercontent.com/26901

[2018-04-05 12:01] smboser commented on #10255
@Bilsi It seems to be an mollom issue. Sites are not able to access that. We need to fix this either or can bypass mollom for now. In lower its only replicated in https://dev.projects.iq.harvard.edu with the exact message like the exaples abaove. I need to login with super admin to check the current settings.
With drush I am not able to reset the current password of dev.projects.iq.harvard.edu. No

[2018-04-05 12:52] dancabral commented on #10250
No longer an issue. closing

[2018-04-05 12:52] #10250 closed

[2018-04-05 12:53] dancabral opened #10256 "Create MIT theme"

[2018-04-05 13:39] mpetrovic commented on #10255
[Mollom shut down on April 2nd.](https://www.mollom.com/eol)

You need to find a replacement service and module.

[2018-04-05 13:42] smboser commented on #10255
How about recaptcha? https://www.drupal.org/project/recaptcha
Shall I create a new ticker and start investigation on it ?

[2018-04-05 13:48] mpetrovic commented on #10255
This ticket is fine, but look into Honeypot as well. From what I remember looking at this last year, it was less intrusive on the user, and might not depend on an external service.

[2018-04-05 14:49] smboser commented on #9583
@Bilsi This is coming from os_pinserver_auth (OS Pinserver Integration) module. I guess that is also Harvard specific. Disabling that module will disappear this option from both Site visibility under Global Settings and /site/register.
![image](https://user-images.githubusercontent.com/14976596/38373176-3b8bdda2-390e-11e8-8db4-6d1718e7dabc.png)
![image](https://user-images.githubusercontent.com/14

[2018-04-05 16:46] #10130 closed

[2018-04-05 16:48] #10246 closed

[2018-04-05 17:24] tcheng001 commented on #10216
FOR QA only
---- hwpi module is enabled. ----
case 1: this is the mail content when adding a new member
<img width="955" alt="enabled_adding_member" src="https://user-images.githubusercontent.com/2111600/38378143-c812a3b2-38ca-11e8-952e-b495653dbe33.png">
case 2: this is the mail content when changing role for a member
<img width="930" alt="enabled_role_change" src="https://user-images.githubuserc

[2018-04-05 17:27] tcheng001 commented on #10216
@smboser   Found a url is incorrect when hwpi is disabled.  You can compare the url of case 4 in the comment above.
![disabled_create_site_for_os_user](https://user-images.githubusercontent.com/2111600/38381452-d139b854-38d4-11e8-97cb-7e769e77f4c9.png)

[2018-04-05 17:30] tcheng001 commented on #10216
FOR QA information only:
---- hwpi module is disabled. ----
case 1: this is the mail content when adding a new member. - that is good.
<img width="870" alt="disabled_adding_member" src="https://user-images.githubusercontent.com/2111600/38381562-29d53a24-38d5-11e8-88f3-a08744bf47f8.png">
case 2: this is the mail content when changing role for a member - that is good.
<img width="751" alt="disabled_

[2018-04-05 17:38] Bilsi opened #10257 "openscholar.harvard.edu is broken"

[2018-04-06 11:14] smboser commented on #10216
Hi @tcheng001

Both the URLs point to the same page and after login redirect to the same destination. And this is also existing in prod. But to make similarities between mails while hwpi enabled and disabled I have made the change. Please see below the mail structure after making the change (with hwpi disabled).

![image](https://user-images.githubusercontent.com/14976596/38418378-d081d780-39b9-11

[2018-04-06 12:16] Bilsi commented on #9566
@arijeetbannerjee - Reached out to IAM

[2018-04-06 13:49] arijeetbannerjee commented on #10255
Hi @mpetrovic,

I have checked the Honeypot technique and as you have suggested, it is indeed intrusive on users and does not depend on external service. It only adds a dummy field to the form in question and the dummy field is hidden to real users either by CSS or Javascript. A bot will however find the field and submit a value for the field which helps distinguish between a bot and human action.

[2018-04-06 15:04] dancabral opened #10259 "Change label on OS login screen"
See
http://community.openscholar.harvard.edu/openscholar/topics/change-label-on-os-login-screen

[2018-04-06 15:37] arijeetbannerjee commented on #10255
Hi @mpetrovic

In the previous link, if you check the comments some people has recommended ReCAPTCHA -

Here is another forum which prefers CAPTCHA over Honeypot - https://legacy.forums.gravityhelp.com/topic/honeypot-spam-protection-method-versus-the-recaptcha-method

I will implement whichever you choose, let me know your views.

Thanks
Arijeet

[2018-04-06 15:52] dancabral commented on #10259
@smboser can you please change a couple of labels on the os login screen...note the 2 red boxed areas for changes. the code is in /modules/contrib/pinserver so its not a straightforward change (for me to do)  - its in a separate repo. Let me know if you have any questions. thanks.
![login changes](https://user-images.githubusercontent.com/867075/38431046-00b1a544-3991-11e8-8290-1c8c2cfc3c57.png)

[2018-04-06 17:13] tcheng001 commented on #10216
Mark "Fixed"

----- hwpi module is disabled -----
case 1: this is the mail content when adding a new member. - that is good (refer to [here](https://github.com/openscholar/openscholar/issues/10216#issuecomment-379015024))
case 2: this is the mail content when changing role for a member - that is good (refer to [here](https://github.com/openscholar/openscholar/issues/10216#issuecomment-379015024))

[2018-04-06 17:37] mpetrovic commented on #10255
Let's go with Honeypot then.

[2018-04-06 23:30] NonProfit-Hans opened #10262 "Features overridden and in conflict on fresh install of 7.x-3.84.12"
Hello, I have a fresh install of 7.x-3.84.12 (currently the recommended release) obtained from http://osprojectsite.org/software/openscholar-drupal-7.

However, when I visit /admin/structure/features, numerous Features are in conflict, have unmet dependencies, or are in an overridden state.

﻿Control Panel:
- Control Panel - Disabled
- Control Panel: Content - Disabled
- Control Panel: Users - Dis

[2018-04-08 05:51] rivkiz commented on #9369
How to add it to settings.php?
I added:
i```
f( isset($_SERVER['HTTPS']) && $_SERVER['HTTPS']=='on' ){
 $base_url = 'https://'.$_SERVER["SERVER_NAME"];
}
[code]

[2018-04-09 13:24] smboser commented on #10259
Yes I am using that PR (#10260)

[2018-04-09 13:26] #10257 closed

[2018-04-09 13:42] arijeetbannerjee commented on #10255
Hi @mpetrovic

I have completed the honeypot implementation. Can you please review the code and let me know if you have any comments?

Also, please note that the honeypot has been enabled for event registration form only. Let me know if we need to implement the same in any other form.

Thanks
Arijeet

[2018-04-09 13:50] smboser commented on #10259
@dancabral I have access to the repo you mentioned in https://github.com/openscholar/openscholar/issues/10259#issuecomment-379296419. Shall I create a new branch there and make the changes?

[2018-04-09 13:51] arijeetbannerjee commented on #9566
Hi @Bilsi

As discussed with @dancabral , please confirm if I should use production endpoint and metadata in our lower environment.

As per my understanding, we should connect stage endpoint (https://stage.fed.huit.harvard.edu/idp/shibboleth) and metadata from our lower environment and production endpoint (https://fed.huit.harvard.edu/idp/shibboleth) and metadata when we move the code to our produ

[2018-04-09 13:53] mpetrovic commented on #10255
We also need honeypot enabled for the "contact site owner" form, and for requesting password resets.

[2018-04-09 14:08] Bilsi commented on #9566
Yes, use the prod one , we are not configured to use the staging

[2018-04-09 16:18] Bilsi commented on #10229
@tcheng001 - Can you make sure this page works the same, this is the help-->documentation modal. When hwpi.module is disabled, the text below the image should not show since it is harvard specific

[2018-04-09 16:32] arijeetbannerjee commented on #9566
Ok, I will look into it as soon as I finish addressing the comments on Honeypot implementation. Please let me know if this is a priority over Honeypot implementation.

[2018-04-09 16:48] Bilsi commented on #9566
@arijeetbannerjee - get the honeypot completed first

[2018-04-09 16:55] smboser commented on #10230
@Bilsi @tcheng001 This issue is an intermittent one. I had written a fix and that did work in my local environment. But after uploading it into one dev.scholar it is not working. I need some more time to investigate the root cause.
Meanwhile can you please let me know the expected behavior for these citation distribution flags? And most important part is how they are related with the auto flag set

[2018-04-09 17:02] Bilsi opened #10265 "Settings --> Privacy policy modal not working"
![screen shot 2018-04-09 at 1 02 26 pm](https://user-images.githubusercontent.com/11841641/38511466-4a3b1904-3bf6-11e8-8d66-1764b245493f.png)

[2018-04-09 17:47] tcheng001 commented on #10229
----- hwpi module is enabled -----
<img width="901" alt="screen shot 2018-04-09 at 12 38 04 pm" src="https://user-images.githubusercontent.com/2111600/38510369-e31a0166-3bf2-11e8-9bf8-a446405f59f7.png">
<img width="883" alt="screen shot 2018-04-09 at 12 38 32 pm" src="https://user-images.githubusercontent.com/2111600/38510393-f1969826-3bf2-11e8-8b54-06579ec2a77d.png">

----- hwpi module is disable

[2018-04-09 17:47] tcheng001 commented on #10229
@Bilsi
But the text [Learn about ...] is also Harvard specific. Should it be removed when hwpi module is disabled ??
![screen shot 2018-04-09 at 1 44 03 pm](https://user-images.githubusercontent.com/2111600/38513443-41066dc4-3bfc-11e8-94ba-867d9c41fc58.png)

[2018-04-09 17:52] Bilsi commented on #10229
@tcheng001 - this PR only takes care of documentation, not support

[2018-04-09 19:08] tcheng001 commented on #10229
Mark "Fixed"
----- hwpi module is enabled -----
![screen shot 2018-04-09 at 3 06 42 pm](https://user-images.githubusercontent.com/2111600/38517365-c438a364-3c07-11e8-953d-e8381ed8a156.png)
All links are redirecting to the correct location as before.

[2018-04-09 19:39] tcheng001 commented on #10230
@smboser   When the flags are set in publication settings, that means when a user opens a NEW publication form,  the flags should follow what have been set in publication settings page. However, the user still can make any changes on the flags in the publication form. For example, in your image, Google Scholar and RePEc have been checked.  Then, when a user opens a new pub form, both options shoul

[2018-04-09 19:53] smboser commented on #10259
@dancabral I have made all the necessary changes. But the build is getting failed from the second commit in this PR. Test cases are passing till now, not sure if it is a codeship issue. I will try tomorrow with a new PR.

[2018-04-10 12:24] smboser commented on #10259
@dancabral @Bilsi Changes are done. I have created a new PR for this https://github.com/openscholar/openscholar/pull/10266. Also, changes in pinserver is in https://github.com/openscholar/pinserver/pull/28.

This is the screen after changing the button label (change in pin server will remove the "Sign In" header)
![image](https://user-images.githubusercontent.com/14976596/38556634-f405ac50-3ce7-11

[2018-04-10 12:42] smboser commented on #10230
@tcheng001 It is fixed now. But I am facing a problem while testing it in lower environments. Neither of the environments are submitting the DASH option. These are keep showing the following error.
![image](https://user-images.githubusercontent.com/14976596/38556907-e2d57e14-3ce8-11e8-829b-db10e6eb5ff1.png)

I have tested it in my local with all possible permutations and combinations of C.D. choic

[2018-04-10 12:50] #10229 closed

[2018-04-10 12:51] #10216 closed

[2018-04-10 13:25] arijeetbannerjee commented on #10255
Hi @Bilsi @mpetrovic

The following comments have been addressed -

1. Contributed module installation list has been rearranged in alphabetical order as requested.
2. The same (honeypot) has been added to "Contact site owner" form and "Password reset" form as well along with "Event registration" form.

Please let me know if you have any further feedback.

Thanks
Arijeet

[2018-04-10 15:26] mpetrovic commented on #10255
I don't see it added to the password reset form in the PR. Does that come with the module?

[2018-04-10 20:52] rbran100 commented on #10254
The spreadsheet should be ready to go at EOB today, along with the sample sites.  If there is something in the content that is not contained in the existing import fields then we should skip that for now.

Users can import content in their vsites currently by going to Content -> Import -> ContentType in the admin menu.  You can play with this in your test site to see the different interfaces.  Eac

[2018-04-11 00:24] #10169 closed

[2018-04-11 07:00] arijeetbannerjee commented on #10255
Hi @mpetrovic

That comes with the module and you just have to enable it. A variable has been set during module install in hook_update in order to enable honeypot for password reset - variable_set('honeypot_form_user_pass', 1);

![image](https://user-images.githubusercontent.com/26901665/38601037-ecef8bec-3d83-11e8-822e-16d14d24ddba.png)

Let me know if you have any further queries.

Thanks
Arijee

[2018-04-11 10:49] smboser commented on #10265
@Bilsi It is ok now.
![image](https://user-images.githubusercontent.com/14976596/38612336-fdecf66c-3da3-11e8-9eca-cb471ec0e86d.png)

It was removed from (in issue 10223) hwpi module and placed in os module. But somehow merged again thorough another ticket.

[2018-04-11 11:03] smboser commented on #10259
@Bilsi @dancabral PR #10266 has been updated for review.

[2018-04-11 11:05] smboser commented on #10230
@Bilsi @tcheng001 PR #10261 has been updated for review.

[2018-04-11 12:04] arijeetbannerjee commented on #9566
Hi @Bilsi,

As mentioned by IAM, I am currently using the following metadata -

[idp-metadata.txt](https://github.com/openscholar/openscholar/files/1898654/idp-metadata.txt)
Please note file format has been changed from xml to txt as xml files cannot be attached

And changed the endpoint to -
https://fed.huit.harvard.edu/idp/shibboleth

However, I am still not able to establish the communication c

[2018-04-11 14:04] Bilsi opened #10268 "Accordion select list not in alphabetical order"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/accordion-select-list-not-in-alphabetical-order)

**The Plan**

Display list in alpha ascending order

**Description**

It would be ideal to group these in alphabetical order to you can key on the first couple of letter to find the widget.

[![img](https://d2r1vs3d9006ap.cloudfront.n

[2018-04-11 14:05] Bilsi commented on #9523
@smboser - http://community.openscholar.harvard.edu/openscholar/topics/paste-from-word-not-working-properly-m9fiyyfswgugr#reply_19424134

I was able to replicate this, can you please take a look?

[2018-04-11 15:54] Bilsi opened #10269 "Double revision links on basic page when the page is added to Featured Posts widget"
http://community.openscholar.harvard.edu/openscholar/topics/double-revision-links-on-basic-page-when-the-page-is-added-to-featured-posts-widget

[2018-04-11 16:40] smboser commented on #9569
I am facing some challenges while loading the modal service without login (users with harvard pin only). I am working to resolve that.

[2018-04-11 18:14] tcheng001 commented on #10259
Mark "Fixed"
When pinserver module is enabled:
<img width="620" alt="screen shot 2018-04-11 at 1 25 25 pm" src="https://user-images.githubusercontent.com/2111600/38632818-d5e1a89c-3d8b-11e8-93c7-50d3d396e72c.png">

- Able to log in with my harvardkey
- Able to log in with my OS user account

When pinserver module is disabled:
<img width="596" alt="screen shot 2018-04-11 at 1 30 08 pm" src="https:/

[2018-04-11 18:24] #10259 closed

[2018-04-11 18:27] Bilsi opened #10270 "Featured Post widget: it doesn't show styling of h3 from the basic page post it is pulling from"
http://community.openscholar.harvard.edu/openscholar/topics/featured-post-widget-it-doesnt-show-styling-of-from-the-basic-page-post-it-is-pulling-from

[2018-04-11 18:56] #10256 closed

[2018-04-11 19:50] Bilsi opened #10274 "Add patch to fix memcache errors"

[2018-04-11 20:35] tcheng001 commented on #10255
@arijeetbannerjee    I deployed the PR to dev.hwpi and ran the update, but don't see honeypot.  What I am missing there?
<img width="732" alt="screen shot 2018-04-11 at 4 35 24 pm" src="https://user-images.githubusercontent.com/2111600/38641917-5ecbe78e-3da6-11e8-8c80-6794871ee7aa.png">

[2018-04-12 08:00] arijeetbannerjee commented on #10255
Hi @tcheng001

The concept of Honeypot is setting up a trap for bots to prevent spam. There is a hidden field in the above mentioned forms which is not visible to human eye. However, bots will read the field and fill up a value for the field. If a value is found for the field the application will not allow the form submitting.

**Please note that the hidden field will only appear for anonymous use

[2018-04-12 13:04] tcheng001 commented on #10255
@arijeetbannerjee   Just curious.  I am might be wrong.  If the robot is smart enough not to fill the hidden field (edit-url), then honeypot might not be able to work as expected.

[2018-04-12 13:39] Bilsi commented on #9566
As arijeetbannerjee mentioned  the endpoint,
https://stage.fed.huit.harvard.edu/idp/shibboleth
on your side is incorrect.  That is our stage.  You should use our production,
https://fed.huit.harvard.edu/idp/shibboleth

To get our prod metadata, go to SAML integration Guide
https://iam.harvard.edu/resources/saml-shibboleth-integration
At the bottom of the guide, there is a "Downloads" section.    P

[2018-04-12 13:51] arijeetbannerjee commented on #10268
Hi @tcheng001 @Bilsi

I was trying to replicate this issue but as I am not clear with the functionality I could not replicate it. Can you please help me with the replication steps? It will be great help.

Thanks
Arijeet

[2018-04-12 14:25] tcheng001 commented on #10268
@arijeetbannerjee      Yes.  It seems the current design is already set to alphabetical order but case sensitive.

[2018-04-12 15:33] mpetrovic opened #10275 "Allow spaces presets to import menu items from CSV"
When a space is created from a preset, it should be able to populate its menus with data from CSV files

A menu csv file will need the following fields:
* Link Title
* Menu (the menu its in, primary or secondary)
* Weight (the position in the menu the link takes)
* Path (hard-coded, link relative to root, uses node aliases)

These files should be put in $module/preset_assets/$preset/menu/menu.csv

[2018-04-13 11:11] smboser commented on #10270
@Bilsi @tcheng001 It is due to the styling present in https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/os_basetheme/css/global.base.css#L181. It was implemented as part of #6082 long ago. Do you want to revert back that functionality or need to make any additional changes? Please let me know, I will implement that accordingly.

[2018-04-13 14:15] smboser commented on #10269
@tcheng001 @Bilsi Its fixed now.
![image](https://user-images.githubusercontent.com/14976596/38739659-2c8976ac-3f53-11e8-9188-20c6ef33ac34.png)

PR #10279 has been created for review.

[2018-04-13 15:49] dancabral opened #10280 "502 bad gateway error - too many widgets on one page(?)"
@smboser can you take a look at this issue? you'll need a db dump to debug it. @Bilsi or @rbran100 can you provide that? this site (page) https://iam.harvard.edu/releases has multiple accordion widgets, each with dozens of widgets inside them....causing 502 bad gateway errors. My hunch is a memory issue or something related since I/we've never seen a page with so many widgets.

To repro, visit thi

[2018-04-13 17:08] tcheng001 commented on #10268
mark "Fixed"
1. List of widgets collection is now in alphabetical order in accordion widget.
![screen shot 2018-04-13 at 1 01 51 pm](https://user-images.githubusercontent.com/2111600/38748345-c9f21e4a-3f1b-11e8-9127-dd8a351aea0d.png)

2.  Accordion widget works as before.

[2018-04-13 17:43] tcheng001 commented on #10255
check the following scenarios:
A. Contact site owner
1.  When a user fills all visible and required fields in the Contact Site Owner page and click [Send e-mail], everything works fine. A email is sent to the site owner.

2. If I enter a value to the edit-url field, then no email will be sent out.
![screen shot 2018-04-13 at 1 23 54 pm](https://user-images.githubusercontent.com/2111600/38749483-c1

[2018-04-15 15:38] Bilsi opened #10281 "502/503 errors"
The users see 502 gateway errors / nginx error messages everytime something fails
We need to add a custom error message - not harvard specific so it can be used across openscholar.

@dancabral can help draft the content.

[2018-04-16 11:23] ordavidil opened #10282 "Remove hardcoded protocol when rewriting the base URL"
https://github.com/openscholar/openscholar/blob/94626c0f9bfd11f838cd31f15699a8ad32723737/openscholar/modules/vsite/modules/vsite_domain/plugins/purl_vsite_domain.inc#L42

Using hardcoded `http://` seems wrong in here.
Is there a specific reason for it?

Thanks.

[2018-04-16 15:47] ordavidil commented on #10282
can you please explain/elaborate about this functionality?
Thank ahead.

[2018-04-16 17:02] tcheng001 commented on #10255
B. Request to reset password:
1. The form won't send if there is a value on the hidden field of "edit-url".
![screen shot 2018-04-16 at 12 42 58 pm](https://user-images.githubusercontent.com/2111600/38823207-c117c978-4173-11e8-8635-cbf6a25666e1.png)

2. When the hidden field of  edit-url is empty,  Requesting password reset works as expected.

C. Register an event:
1. The form won't send if there

[2018-04-16 17:02] tcheng001 commented on #10255
Mark "Fixed"

[2018-04-16 17:56] dancabral commented on #10280
@rbran100 when you have a chance can you provide @smboser with an hwpi prod db dump? If its something I can do, can you tell me how? thanks.

[2018-04-16 18:45] tcheng001 commented on #10040
Check this pattern  {{title}} in title and body (if possible) in the following content types:

Content type  |  Full node view  |  Listing
------------ | ------------- | -------
 | |
 | |
 | |
 | |

[2018-04-16 19:09] tcheng001 commented on #10040
Check if this pattern "{{title}}" is rendered correctly in the following situations:
1.  title and body in Custom Text/HTML widget
2. taxonomy title
3. term title
4. term body
5. file's alternate text
6. file's title text

[2018-04-16 19:56] tcheng001 commented on #10040
update message doesn't show "{{title}}" correctly when taxonomy or term is saved
![screen shot 2018-04-16 at 3 19 06 pm](https://user-images.githubusercontent.com/2111600/38830381-23ad3e54-418a-11e8-8c1d-5041bee386b6.png)

[2018-04-17 07:47] arijeetbannerjee commented on #9566
Hi @dancabral

Just to update you on the current status, I have dropped a mail with all the configuration details from our side to Ming Long (from the IAM team) copying @Bilsi and waiting for a response.

Thanks
Arijeet

[2018-04-17 10:39] smboser commented on #9523
@Bilsi I have tested it in lower env, but not able to replicate. I have reconstructed the content and paste from a MS-Doc file and its appearing well in https://dev.hwpi.harvard.edu/tcheng3/paste
![image](https://user-images.githubusercontent.com/14976596/38864631-f044d336-4258-11e8-9dc7-136d7ffe8fa5.png)

Only thing I have noticed that, if user hits "enter" key twice to separate the paragraphs in

[2018-04-17 10:54] smboser commented on #10280
@dancabral I am able to replicate this in https://iam.harvard.edu/releases by adding those accordion widgets. To debug this in local I need the prod db dump.

[2018-04-17 17:15] rbran100 commented on #10280
@smboser I have uploaded a new dump

[2018-04-17 17:37] Bilsi commented on #10280
@smboser - it is in dropbox, we only uploaded the hwpi db, since the site is on that install

[2018-04-17 19:11] tcheng001 commented on #10230
Mark "Pending"
Unable to distribute to RePEc
Steps to produce:
1. Create a Working Paper
2. Check RePEc
3. Click Save button
![screen shot 2018-04-17 at 3 07 28 pm](https://user-images.githubusercontent.com/2111600/38891125-6570f44e-4251-11e8-876d-4d38e43e2851.png)

Also, Distributing to DASH doesn't work either.

[2018-04-18 11:32] smboser commented on #10230
@tcheng001 There are some file permission issues in dev.scholar. I am getting error while I am trying to add by checking RePEc option. And the error message will appear to you first time. If you try to edit the publication and try the same option again, it will not show the error message any more, it will not work only. DASH also has the issue in all the lower environments as I said earlier.
![ima

[2018-04-18 11:46] smboser commented on #9523
@Bilsi I have tried with the Google docs but getting the same result. Please see the below screencast. Am I missing any step?
![3](https://user-images.githubusercontent.com/14976596/38930072-34ac6ea2-432c-11e8-89c8-00fc1ec12859.gif)

[2018-04-18 12:08] Bilsi commented on #9523
@tcheng001 - This is very easy reproducible for me when i tried it last week. Can you try it and if you can replicate explain the steps to replicate so @smboser can work on it?

[2018-04-18 13:18] tcheng001 commented on #10230
@smboser
It seems that DASH is not working in production either.  No message regarding DASH submission is showed.
![screen shot 2018-04-18 at 9 10 48 am](https://user-images.githubusercontent.com/2111600/38933975-7794bcc2-42e8-11e8-8621-86bcb6f2e50e.png)
Can you verify it?  I can't remember exactly what message is supposed to be if submitting the publication to DASH successfully.  But it should sh

[2018-04-18 13:31] mpetrovic commented on #10282
We have the securepages module enabled, which will redirect the request to the right protocol. Also, Drupal's url function will change the protocol as necessary on its own when generating links,

[2018-04-18 13:48] dancabral commented on #10281
@rbran @Bilsi or @mpetrovic is the 502 gateway errors / nginx error page something that can be styled with inline CSS? thanks.

[2018-04-18 13:50] dancabral opened #10284 "Minor cleanup to Publication add/edit form"
The Publication add/edit form could use some minor cleanup.
![screen shot 2018-04-18 at 9 46 33 am](https://user-images.githubusercontent.com/867075/38936033-db1764ac-42ed-11e8-86cf-48350fc1048b.png)

[2018-04-18 13:54] rbran commented on #10281
@rbran100 ^

[2018-04-18 14:08] smboser commented on #10230
@tcheng001 It will message like the below picture.
![image](https://user-images.githubusercontent.com/14976596/38936553-a9ae1a5e-433e-11e8-8918-c57f285fa45b.png)

In Prod it will not work, because it is containing old hook but the new version of contrib module (module flag). In this fix I have replaced the old hook with the new one which is aligned with the contrib module version. If RePEc and Goo

[2018-04-18 14:11] mpetrovic commented on #10281
Yes, it can be styled with inline css only. The entire page is hard-coded in the varnish config

[2018-04-18 15:53] tcheng001 commented on #10230
@smboser  Mark "Pending"  I deployed this PR to dev.scholar.  It seems that RePEc submission is not working. I did try to save the publication more than 1 time.
![dash](https://user-images.githubusercontent.com/2111600/38942750-a40ff536-42fd-11e8-8f37-bee8b81c47b5.gif)

[2018-04-18 15:54] mpetrovic opened #10285 "Create Professional preset"
Create the Professional preset with all content listed in this document:
https://docs.google.com/spreadsheets/d/1LwLp-dKQb17HxvqB40JwACf7LaR07mLxD2aG3EeD7jc/edit#gid=961117599

Ignore other tabs for now

[2018-04-18 17:01] tcheng001 commented on #9523
@bilsi,  I am not able to reproduce the issue.

On Wed, Apr 18, 2018 at 8:08 AM, Bilsi <notifications@github.com> wrote:

[2018-04-18 18:48] mpetrovic commented on #10148
For the example given, there's two events. One is a repeating forever event:
**node/1294904** at the auto-generated alias **thememorialchurch/event/morning-prayers-be-announced-160**

Then there's the event that shows up in views:
**node/130287** at the manually entered alias **event/morning-prayers-be-announced-160**

So when the event is rendered, the link to it will be memorialchurch.harvard.ed

[2018-04-18 18:48] mpetrovic commented on #10148
Marked as 'pending' for user response.

[2018-04-19 07:45] smboser commented on #10230
@tcheng001 The same I am also facing in dev.scholar which I have mentioned in my earlier comment https://github.com/openscholar/openscholar/issues/10230#issuecomment-382355993. I have tested it in dev.hwpi and its working there (except DASH). Please let me know if you have any query.

[2018-04-19 13:05] tcheng001 commented on #10040
@mpetrovic
taxonomy named with this pattern {{text}} is not rendered correctly in taxonomy widget form.  Here is example:
![screen shot 2018-04-19 at 8 56 34 am](https://user-images.githubusercontent.com/2111600/38992828-eb1e2bac-43af-11e8-92b0-212a6d89c6e2.png)
![screen shot 2018-04-19 at 8 57 29 am](https://user-images.githubusercontent.com/2111600/38992797-d7f6762e-43af-11e8-990e-0628f7b4b6ea.p

[2018-04-19 13:14] tcheng001 commented on #10040
For QA only:
1. alt text and title text for image are constructed correctly
![screen shot 2018-04-19 at 9 03 39 am](https://user-images.githubusercontent.com/2111600/38993224-017a670c-43b1-11e8-8f1e-edf4740ad390.png)

2. terms show properly in content node form (say news post)
<img width="585" alt="screen shot 2018-04-19 at 9 08 23 am" src="https://user-images.githubusercontent.com/2111600/3899331

[2018-04-19 13:32] tcheng001 commented on #10230
That is confusing.  I was told by @rbran100 that citation distribute can only be used in scholar install (not in projects nor hwpi).  Therefore, in production, you won't see citation distribute settings in publication settings page nor in publication form on projects install and hwpi install.

[2018-04-19 13:44] smboser commented on #10230
@tcheng001 That's true. I also found citation distribute module is disabled in dev.hwpi. I have enabled the module and carried out the testing there.
At dev.scholar, by looking at the error message https://user-images.githubusercontent.com/14976596/38929226-46394f44-4329-11e8-8ca2-d728678bfe41.png, it can be said that it is an environmental issue (probably a folder permission issue).
I am investig

[2018-04-19 13:49] tcheng001 commented on #10230
Just checked publication settings page in https://dev.hwpi.harvard.edu/torman,  there is no citation distribute options.
![screen shot 2018-04-19 at 9 36 38 am](https://user-images.githubusercontent.com/2111600/38994779-5248d7e6-43b5-11e8-9a4a-b73487e03f17.png)

[2018-04-19 14:02] tcheng001 commented on #10230
@smboser   That will be great if you can fix the env issue on dev.scholar.  Since the original issue affects the existing publication posts with citation distribute options, testing on dev.scholar or staging.scholar will be more closer to the actual scenario in production.  Thanks.

[2018-04-19 14:16] mpetrovic commented on #10040
Taxonomy widget fixed

[2018-04-19 14:32] arijeetbannerjee commented on #10284
Hi @dancabral @Bilsi

This issue has been resolved, please find below the screenshot of the from both publication add and edit page. Let me know if you have any query.

![add_publication](https://user-images.githubusercontent.com/26901665/38998101-7f46b338-440c-11e8-94ed-4fbc223cb38f.png)
![edit_publication](https://user-images.githubusercontent.com/26901665/38998104-7f7d05aa-440c-11e8-9f21-1969da

[2018-04-19 14:52] smboser commented on #10280
@Bilsi @dancabral As discussed in the meeting I am not able to replicate with the given db dump in my local. But after putting some more load (adding more widgets) I am able to replicate. In my error_log I am getting the message "[core:error] [pid 10148:tid 920] [client 127.0.0.1:50281] Premature end of script headers: index.php".
With help of stackoverflow, I increased the default value of LimitR

[2018-04-19 15:04] tcheng001 commented on #10040
Mark "Fixed"
{{text}} displays correctly in Taxonomy widget
![screen shot 2018-04-19 at 10 50 23 am](https://user-images.githubusercontent.com/2111600/38999373-a582316e-43bf-11e8-89e9-bbbf451021b8.png)

{{text}} renders correctly in the following locations:
1. alt text and title text for image
2. terms in content form
3. in taxonomy widget or in taxonomy widget form
4. in taxonomy listing page
5.

[2018-04-19 21:15] dancabral commented on #10284
ok @arijeetbannerjee - thanks. I'll take it from here

[2018-04-20 12:42] smboser commented on #10230
@tcheng001 Checked the issue for both DASH and RePEc in dev.scholar. Both are server folder permission related issue.
For RePEc the following folder is not writable.
/tmp//nfs/www/edu-harvard-iq-repec/RePEc/qsh/wpaper/

And for DASH /tmp/sword/ is also not writable. My user don't have sufficient privilege to make the changes.
![image](https://user-images.githubusercontent.com/14976596/39051471-5d2

[2018-04-20 15:11] dancabral commented on #10281
@rbran100 @Bilsi or @mpetrovic can/should we also generalize the Temp Unavailable page too? ideally, these types of pages will all look the same with slightly different messaging....will be to easier to manage that way

[2018-04-20 15:15] rbran100 commented on #10230
@smboser can you verify that repec/sword are using the temp directory defined by drupal? it should be writable otherwise the site would not work.  You have as much permissions as me there, my guess is it is trying the wrong location

[2018-04-20 20:40] dancabral opened #10287 "503 Backend fetch failed error clicking update custom theme link"
http://community.openscholar.harvard.edu/openscholar/topics/503-backend-fetch-failed

In prod, getting 503 Backend fetch failed error clicking update custom theme link in the custom theme feature. To repro: upload custom theme zip file, then click the update link accessible from the /cp/appearance page:
![screen shot 2018-04-20 at 4 40 10 pm](https://user-images.githubusercontent.com/867075/390727

[2018-04-21 14:45] dancabral commented on #10281
[code]

[2018-04-23 09:54] smboser commented on #10230
Thanks a lot @rbran100
I was trying to keep the configuration as dev.hwpi. But that folder in dev.scholar is not writable. Now I have pointed it to the drupal temp directory and its working now.
![image](https://user-images.githubusercontent.com/14976596/39119734-43c24844-470a-11e8-88b0-2293e83b7d1d.png)
![image](https://user-images.githubusercontent.com/14976596/39119761-506179f8-470a-11e8-9038-e

[2018-04-23 13:37] tcheng001 commented on #10230
@smboser
Changing citation distribute settings in pub settings page affects settings in existing individual pub post. This problem seems inconsistent.  I can't reproduce on other publication posts except in this post, https://dev.scholar.harvard.edu/tcheng8/publications/as-as.  Could you take a look on it when you have a chance?

Steps to reproduce:
1. Make sure that all 3 options are unchecked in

[2018-04-23 14:34] #10269 closed

[2018-04-23 14:34] #10268 closed

[2018-04-23 14:35] #10255 closed

[2018-04-23 15:05] tcheng001 commented on #10230
@smboser    I see the issue in this site as well https://dev.scholar.harvard.edu/gking/publications
I checked several pub posts.  Every time, I change the options in the pub settings page,  the changes affect the existing posts.  This is not what we expect.  We want that changes in citation distribute in pub settings page only affect new publication post (not the existing posts).

[2018-04-23 15:07] Bilsi commented on #9523
Unable to replicate anymore

[2018-04-23 15:07] #9523 closed

[2018-04-23 15:08] #10040 closed

[2018-04-23 15:12] Bilsi opened #10288 "Site cache clear does not work in settings"
The settings --> global settings --> Cache/Reindex

The site cache clear does not work

![screen shot 2018-04-23 at 11 11 34 am](https://user-images.githubusercontent.com/11841641/39135531-2658b7f2-46e7-11e8-89a4-f221e0f0cf2a.png)

[2018-04-23 16:01] smboser commented on #10230
@tcheng001 I found the issue mentioned in https://github.com/openscholar/openscholar/issues/10230#issuecomment-383608762. If all the options are used (by checked all and may be unchecked later) in a publication post, then it is not appearing. But if one of CD option is not used ever, then this scenario is appearing. I believe it was like this before as well, because I didn't change any logic only

[2018-04-23 16:16] Bilsi opened #10289 "Travis errors"
Can you fix the suite that is breaking?

[2018-04-23 17:37] tcheng001 commented on #10230
I believe that there was a pit of citation distribute options in the
original design.  DASH requires an attachment while RePEc only applies
certain kinds of pub types.  They are both conditional.  If any change on
them in pub settings page would propagate all existing pub posts, it might
cause some unpleasant side effects.

On Mon, Apr 23, 2018 at 12:02 PM, Subhramalya Bose <notifications@github.c

[2018-04-23 17:49] Bilsi opened #10290 "Hwpi code cleanup"
1. hwpi module is enabled by default when we create an install. We should have it disabled by default.
2. All the variables should be set in the school module

[2018-04-23 18:55] Bilsi opened #10291 "DRUPAL SECURITY UPGRADE - 25 APRIL 2018"
https://www.drupal.org/psa-2018-003

Drupal 7 and 8 core critical release on April 25th, 2018 PSA-2018-003

[2018-04-23 19:11] tcheng001 commented on #10284
work as expected.  Mark "Fixed"
<img width="1003" alt="screen shot 2018-04-23 at 3 10 15 pm" src="https://user-images.githubusercontent.com/2111600/39147731-783c0972-4708-11e8-97b3-b152629f89e4.png">

Pub form works as before.

[2018-04-24 09:10] rivkiz commented on #10282
Even though securepages module enabled the purl module return http://

[2018-04-24 12:09] smboser commented on #10230
@tcheng001 It is fixed now. Yes, DASH requires attachment and RePEc requires certain pub types. PR #10261 has been updated for review.

[2018-04-24 12:42] ordavidil opened #10293 "`os_sanitize_markup` module is missing"
Currently the `os_sanitize_markup` is a dependency but doesn't exists, hence the installation fails.

[2018-04-24 12:59] #10284 closed

[2018-04-24 13:30] smboser commented on #10289
@Bilsi I am working on this. Partially it has been fixed. But still there are some test cases which are failing (though this is working well in my localhost now), on which I am working. It may need some time as after every change I need to push the code and run the entire test suit.

[2018-04-24 13:44] mpetrovic commented on #10289
I've fixed some of them already in the fix_travis branch.

[2018-04-24 13:48] Bilsi commented on #10289
@smboser - I have referenced Matt's pr here. It isnt complete

[2018-04-24 14:18] Bilsi opened #10296 "Facebook issue"
This is a Service now ticket - https://harvard.service-now.com
Check if you can login using your harvard key and search for ticket no INC02669063'

The HDS story screen shots are how our news articles render on FB. As you can see with #1, no image auto-populates, and the headline and teaser don't show up either. Though, oddly, even though the URL that is displaying would appear to take you to the

[2018-04-24 14:23] Bilsi opened #10297 "Twitter cards do not show image"
http://community.openscholar.harvard.edu/openscholar/topics/how-do-twitter-cards-work

If you read the link above - when we tweet an Openscholar site, no image shows up

https://twitter.com/TheOpenScholar/status/935551951881822209

http://community.openscholar.harvard.edu/openscholar/topics/how-do-twitter-cards-work#reply_19472976 - the meta tag for the image is missing in the sites that do not di

[2018-04-24 14:52] tcheng001 commented on #10230
For QA:
1. Flagging to citation distribute in new pub form respects to with what are set in pub settings page
2. Able to save a new pub with DASH flagged
3. Able to save a new pub with Google Scholar flagged
4. Able to save a new pub with RePEc flagged
5. Able to save  a new pub with both DASH and Google Scholar flagged
6. Able to save a new pub with both DASH and RePEc flagged
7. Able to save the

[2018-04-24 14:57] tcheng001 commented on #10230
@smboser   Just curious!!  This is not a regression.
I see this message "Publication has been removed from DASH" after unchecking DASH and saving the post.  Is the publication really removed from DASH repository??
![screen shot 2018-04-24 at 10 54 01 am](https://user-images.githubusercontent.com/2111600/39195478-eee21828-47ad-11e8-9a0c-878990abfc6e.png)

[2018-04-24 15:07] Bilsi opened #10298 "Custom paths for taxonomy terms not accurate on taxonomy widget"
http://community.openscholar.harvard.edu/openscholar/topics/custom-paths-for-taxonomy-terms-not-accurate-on-taxonomy-widget

Can you look at this ticket?
Taxonomy widget should only point to term pages unless specific type chosen
Here it is set to determine for me,

![screen shot 2018-04-24 at 11 06 25 am](https://user-images.githubusercontent.com/11841641/39196243-9b2df2c2-47af-11e8-9c48-0844f223

[2018-04-24 15:53] matt-bernhardt opened #10300 "Questions about the install process"
Hello,
I am trying to rebuild our OpenScholar implementation after the previous one got hacked. I'm having significant trouble finding a set of install instructions that matches what can be found in this repository. Can someone please clarify the recommended install process?

Among the things I'm seeing:

- The [Install page on the wiki](https://github.com/openscholar/openscholar/wiki/Install) sti

[2018-04-24 15:54] matt-bernhardt commented on #10300
I should mention that I'm happy to clean up the defacing, but I don't want to leave inaccurate information up. I've edited the OS wiki before on here to try and contribute to project in some way, and am happy to continue doing so.

[2018-04-24 15:58] mpetrovic commented on #10300
Thanks for bring this up. This page is very out of date in terms of version numbers, but the process hasn't changed.

The defacement was just a paragraph of griping about something that was easy to revert.

[2018-04-24 16:05] matt-bernhardt commented on #10300
So, my familiarity with OpenScholar goes back to when this was something that would be installed under `/profiles` - but looking at the structure of this repo, that no longer seems to be the case? Or am I misunderstanding? Should I just git clone into /profiles/openscholar, run build, and then hit the web UI?

[2018-04-24 17:05] matt-bernhardt commented on #10300
So to make sure I have this right:

# Prerequisites
Your server needs the following tooling
- Drush compatible with Drupal 7 (so Drush 6, 7, or 8)
- Composer
- Bower
- Git

# Process
- Download the latest Drupal to your webroot (for the sake of argument, we'll call this `/var/www/openscholar/` )

...so that `/var/www/openscholar/index.php` is a valid path

- `cd profiles`

- `git clone https://git

[2018-04-24 17:09] Bilsi opened #10301 "Profile image becomes messed up after replacing"
http://community.openscholar.harvard.edu/openscholar/topics/profile-image-becomes-messed-up-after-replacing

[2018-04-24 17:38] tcheng001 commented on #10040
@mpetrovic     {{text}} breaks  js on the /cp/content page in **production**.
<img width="1451" alt="screen shot 2018-04-24 at 1 37 04 pm" src="https://user-images.githubusercontent.com/2111600/39204046-a0c838c2-47c4-11e8-8bbc-661f352e0620.png">

[2018-04-24 17:51] tcheng001 commented on #10230
Mark "Fixed"

[2018-04-24 18:09] #10230 closed

[2018-04-24 19:48] tcheng001 commented on #10040
@mpetrovic   CP is still missing in the following locations where there are some titles which contain "{{text}}"
1. https://dev.scholar.harvard.edu/tcheng8/publications
2. https://dev.scholar.harvard.edu/tcheng8/presentations
![screen shot 2018-04-24 at 3 45 58 pm](https://user-images.githubusercontent.com/2111600/39210478-d4e3725e-47d6-11e8-9bec-2bf7be18f0ea.png)

[2018-04-24 20:27] mpetrovic commented on #10040
@tcheng001
Fixed presentation nodes.

Like playing whack-a-mole.

[2018-04-24 20:32] matt-bernhardt opened #10302 "What is the minimum required PHP version for OpenScholar?"
While trying to deploy and install the pre-built release of OpenScholar, I ran into an error in the install process where the install dies with the following message:

[code]

Looking at the error_log on the server shows me this line:

[code]

With a sinking feeling, I ran a syntax checker against the the pre-built version of OpenScholar, and got back a handful of these errors - which tells me tha

[2018-04-24 21:17] matt-bernhardt commented on #10300
I've been continuing to try and follow the build process (while on a parallel track working with the pre-built release that's available for download). One sticking point that I've been able to identify is that the `drush make` step here - https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/scripts/build#L55 - is ending without making any changes to the server.

Furthermore, the entire buil

[2018-04-25 00:10] tcheng001 commented on #10040
@mpetrovic
Did you fix for publication listing?   point #1 in my previous comment.
More places:
https://dev.scholar.harvard.edu/tcheng8/calendar
https://dev.scholar.harvard.edu/tcheng8/calendar/week
https://dev.scholar.harvard.edu/tcheng8/calendar?day=2018-04-28&type=day

[2018-04-25 13:49] arijeetbannerjee commented on #10297
Hi @Bilsi

As discussed, please add an exception to post twitter card from https://dev.hwpi.harvard.edu in order to test any change in the code base. Currently, it is blocked by robot.txt

![image](https://user-images.githubusercontent.com/26901665/39249987-8b24efd4-48bd-11e8-8731-50c586a7f7b2.png)

Thanks
Arijeet

[2018-04-25 14:08] matt-bernhardt commented on #10302
In an attempt to answer my own question, I took the pre-built distribution of OpenScholar and ran all PHP files (those with .php, .inc, .install, and .module extensions) through `php -l`, using PHP version 5.3 through 7.2 last night.

It appears, from that result, that 5.3 is the biggest problematic version - but that parse errors still existed for a few things on PHP 5.4 (3 errors) and 5.5 (2 err

[2018-04-25 14:31] Bilsi commented on #10297
@arijeetbannerjee - can you make a PR with what you have so far, we can turn that setting off in that branch alone so you and @tcheng001  can test in the lower env

[2018-04-25 14:33] Bilsi commented on #10297
@arijeetbannerjee -
1. If the user tweets the root url, it should display the site logo
2. If the user tweets a listing page, like /publications or /news, it should display the site logo
3. If they tweet a post - a particular news article, look for the first image in the post and tweet that. If you cannot find an image, tweet the site logo

[2018-04-25 14:50] tcheng001 commented on #10297
@arijeetbannerjee
Some idea regarding point #3 in bilsi's comment,
if the post is a news, then use the news image first, then the first image in the body, then site logo.
if the post is a person profile, then use the profile image first, then the first image in short bio, then site logo.

[2018-04-25 14:52] tcheng001 commented on #10297
@arijeetbannerjee
The code just generates some meta data in pages (see below).
As long as the generated meta data doesn’t break the page even though the content value
might not be what we want,
we can push the code to production and test there.
Of course, I still can test if the pages will break in the lower environment.
![screen shot 2018-04-25 at 10 31 40 am](https://user-images.githubuserconten

[2018-04-25 15:12] #10293 closed

[2018-04-25 15:45] #10148 closed

[2018-04-25 16:19] Bilsi opened #10304 "Some embed media widgets not loading correctly"
http://community.openscholar.harvard.edu/openscholar/topics/sizing-on-embed-media-widget-now-too-big-for-embedded-facebook-videos

Can you check to see what is wrong with this? I checked and it difficult to even open it in edit mode

[2018-04-25 18:43] #10302 closed

[2018-04-25 18:46] matt-bernhardt commented on #10291
From the milestone that this is assigned to being named April 30, am I safe in assuming that this update won't be posted as a release until around then? If that's the case, I'm going to go ahead and apply the patch that the Drupal team released, and get back onto the OpenScholar pathway once the 30th milestone is posted.

[2018-04-25 18:55] mpetrovic commented on #10291
Yes, that's fine

[2018-04-25 19:01] #10291 closed

[2018-04-25 19:03] Bilsi commented on #10291
This has been hotfix and will be available at http://osprojectsite.org/software/openscholar-drupal-7 shortly

[2018-04-25 19:33] matt-bernhardt commented on #10300
After some more fits and starts, I've been able to (I think) complete the install process. This is my amended set of instructions - I'm happy to contribute this to the wiki, provided I didn't mis-state anything here.

For our infrastructure, the problems I ran into seemed to be solvable by closely reading the deploy script and confirming that each step actually ran. I ended up having to comment ou

[2018-04-25 20:44] rbran100 opened #10305 "Clear Varnish Cache from drupal"
At a high level, this involves collecting URL's from our cache expire module and sending PURGE requests to varnish in order to clear varnish.  In the past we have used the acquia_purge module which handled the details by creating a queue of URL's to clear and sending the PURGE requests to each varnish machine in [_acquia_purge_queue_processpurge_requests](http://cgit.drupalcode.org/acquia_purge/tr

[2018-04-25 23:13] mpetrovic commented on #10305
Can we stick urls to purge in a response header that Varnish reads when it
gets the response, acts on and then strips?
First thing to pop into my head, no idea if Varnish can even do that.

[2018-04-26 08:05] smboser commented on #10298
@Bilsi It is fixed now for "Determine for me" option. It will show the terms if it is in a feature page otherwise will show all and links won't be pointed to any specific feature.
PR #10306 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/39293489-a0aac254-4956-11e8-8039-d00507db5bb5.png)

[2018-04-26 13:42] rbran100 commented on #10305
@mpetrovic that's not possible, the purge requests need to be seperate

[2018-04-26 13:48] smboser commented on #10289
Update on this issues: The errors which are occurring currently is fixed in commit 379eb1b. But there were many unknown test cases' steps which were skipped in test suite feature_first and feature_second. I am currently working to make those workable.

[2018-04-26 14:35] rbran100 opened #10308 "Create OS Drupal module to replace acquia_purge"
## Module os_aws_purge https://github.com/openscholar/os_aws_purge

- We need to create a drupal module that Implements hook_expire_cache(), similar to acquia_purge_expire_cache (duplicate functionality from the patched version from the openscholar build).
- Instead of adding the URL to a drupal queue like in acquia_purge_purge_path(s) we should assemble a static list of URL's to be purged and reg

[2018-04-26 16:52] rbran100 opened #10309 "OS Profiles sync is not working when only changing the email"
os_profiles_profile_changed does not seem to be returning true when just changing the email address, however, when changing the description the updates are made.

This can be tested on a local install by syncing to a profile in the same install on a different site.  A call is made to http://domain.com/cp/people/update_profile when a profile update is triggered.

This was noticed when updating the

[2018-04-26 17:27] markusmobius opened #10310 "Install not working on Ubuntu/PHP7.1"
I attempted 5 times to install OpenScholar on Ubuntu 16.04 and PHP 7.1

The tagged 3.86 release didn't finish install. The only install that somewhat finished was straight cloning from github. However, I had to manually comment out the os_sanitize_markup module (doesn't seem to exist even though it's referenced) and also apply the following error to finish installation:

diff --git a/oembed.module

[2018-04-26 17:44] Bilsi opened #10311 "Sizing on Embed Media widget now too big for embedded facebook videos."
http://community.openscholar.harvard.edu/openscholar/topics/sizing-on-embed-media-widget-now-too-big-for-embedded-facebook-videos

[2018-04-26 19:55] koldaf commented on #10310
I am having the same error...  Missing module "os_sanitize_markup" am also installing on PHP7 any tweak around this?

[2018-04-26 20:00] mpetrovic commented on #10310
That's been fixed on our end and will be released next Tuesday

[2018-04-27 01:02] tcheng001 commented on #10298
Working as expected, mark "Fixed"
![screen shot 2018-04-26 at 8 41 55 pm](https://user-images.githubusercontent.com/2111600/39338717-8e17fa30-4992-11e8-81ae-30def9070bb7.png)

Post type is set to "Determine for me"
![screen shot 2018-04-26 at 8 55 58 pm](https://user-images.githubusercontent.com/2111600/39339012-6709f8c4-4994-11e8-9b62-8a44e6c91d2e.png)

In term page:
![screen shot 2018-04-26 at 8

[2018-04-27 14:05] smboser commented on #10289
PR #10292 has been updated for review.

[2018-04-27 16:02] dancabral opened #10312 "/user screen cleanup"
This needs cleaning up Dan.
![screen shot 2018-04-27 at 11 39 36 am](https://user-images.githubusercontent.com/867075/39372596-d3460702-4a12-11e8-8387-98314c0052fa.png)

[2018-04-27 18:05] #10289 closed

[2018-04-27 18:05] #10298 closed

[2018-04-30 01:05] dancabral commented on #10312
the above screen (logged in) /user looks like this
![screen shot 2018-04-29 at 9 01 47 pm](https://user-images.githubusercontent.com/867075/39412921-0f4856da-4bf1-11e8-882d-2967c30dcbd4.png)

[2018-04-30 13:59] #10312 closed

[2018-04-30 16:13] koldaf commented on #10310
@markusmobius did u get the update? because @mpetrovic  promised to release the update by tomorrow (Tuesday). You can please send me the git link to download the update...
However, I can still wait until tomorrow (Tuesday, May 1, 2018) when @mpetrovic  will publish the update.

Thanks

[2018-04-30 16:26] markusmobius commented on #10310
I just cloned github.com/openscholar/openscholar and then ran scripts/build
and this particularly issue had disappeared. So I assumed that the current
branch had been updated even if there is no tagged release yet.

However, you can also avoid this issue by manually removing a few lines.
You can check which lines by looking at the last two commits in my fork:

https://github.com/markusmobius/opens

[2018-04-30 17:18] #10249 closed

[2018-04-30 17:19] #10280 closed

[2018-04-30 17:19] Bilsi commented on #10280
Asked the user to remove all the extra widgets

[2018-04-30 18:11] Bilsi commented on #9566
Let us pick this up next sprint

[2018-04-30 18:53] #10228 closed

[2018-05-01 13:51] mpetrovic commented on #10310
Hello everyone,

Scholar version 3.87 is now available for download via git checkout.

[2018-05-01 14:26] mpetrovic commented on #10310
Tags is the best, since that is how we bundle code for deployment to our own servers.

[2018-05-01 16:10] #10185 closed

[2018-05-01 16:16] #8715 closed

[2018-05-02 12:10] smboser commented on #10304
@Bilsi Embedding videos from facebook is slightly different from youtube. Simply pasting the video URL will take some arbitrary width and height. There is a guidelines for that https://www.facebook.com/help/1570724596499071?helpref=uf_permalink. Desired width can be put from there. I have made the corrections in the above givens URLs and now those are coming fine.

One easy way to edit is to go to

[2018-05-02 12:16] smboser commented on #10311
Same as #10304

[2018-05-02 13:08] smboser commented on #10309
@rbran100 I have noticed the issue on the above mentioned site. But I have failed to replicate it in localhost, all the fields are synchronizing well. I have tested it in dev servers and found working fine there too. I have tested it in two way as both the sites exist in different servers.
dev.scholar -> dev.hwpi
https://dev.scholar.harvard.edu/tcheng8/people/john-johnson -> https://dev.hwpi.harva

[2018-05-02 13:46] #10304 closed

[2018-05-02 16:27] Bilsi commented on #10309
@smboser - All 3 DBs are in the dropbox account

[2018-05-02 18:51] #10311 closed

[2018-05-02 19:05] rbran100 commented on #10287
PHP Fatal error:  Class 'Symfony\Component\EventDispatcher\EventDispatcher' not found in /var/app/current/openscholar/openscholar/libraries/git/cpliakas/git-wrapper/src/GitWrapper/GitWrapper.php on line 81

It looks like the code we are using to process the zip files is failing due to a missing dependency.

[2018-05-02 19:16] Bilsi opened #10316 "Open Scholar Redirects For Faculty Pages Not Working"
We got this complaint from a user

Redirects for some of our faculty are no longer working (all of a sudden) - https://healthpolicy.fas.harvard.edu/faculty , page 3, starting with Laura Hatfield.  The rest of the pages of faculty seem to redirect correctly to their respective pages.  It's confusing, as they have been working fine and we haven't made any changes.

![screen shot 2018-05-02 at 3 11 4

[2018-05-02 19:59] #10316 closed

[2018-05-02 20:06] rbran100 commented on #10287
This can only be tested in prod, but I will confirm the libraries are in place. Link forthcoming.

[2018-05-03 14:26] rbran100 commented on #10287
You can see the files generated in the AWS script, so we are all good. https://app.codeship.com/projects/197702/builds/34034751?pipeline=0b92d804-8f7e-4d86-852b-450253492560

[2018-05-03 15:30] Bilsi commented on #10287
Merged to 3.x

[2018-05-03 15:34] smboser commented on #10309
I have tried to replicate with the new DB dump but that particular site is working well in localhost. Even in dev.hwpi when I am trying in same site https://dev.hwpi.harvard.edu/tkg/people/gernot-wagner to https://dev.hwpi.harvard.edu/tcheng3/people/gernot-wagner, synchronising working nice. But same thing is not happening in Prod from https://keith.seas.harvard.edu/people/gernot-wagner to https:/

[2018-05-03 16:39] rbran100 commented on #10309
@smboser can you try with a custom domain like prod.  You just need to add the domain to your hosts file, and then update the site with that domain name.   Unless you are running Vhosts locally, in that case you will need to add the domain to your vhost aliases as well.

[2018-05-03 17:30] tcheng001 opened #10319 "Non-harvard install (cognizant.thescholar.com): no email is sent out to the user"
No email is sent out to the user in the following situations:
1. adding an existing user to a vsite
2. changing role of a member in a vsite
3. removing a member from a vsite
4. creating a new site on behalf of an existing user

[2018-05-03 17:38] tcheng001 opened #10320 "Non-harvard install (cognizant.thescholar.com): Unable to create site on behalf of a new user"
After entering all required info and hitting Create your site button, the form keeps showing the error.
![screen shot 2018-05-02 at 11 28 02 am](https://user-images.githubusercontent.com/2111600/39593228-2cc030be-4ed7-11e8-8a44-09f12f72377f.png)

[2018-05-03 17:39] tcheng001 opened #10321 "Non-harvard install (cognizant.thescholar.com): Mail content is incorrect when adding a new OS user"
I added a new OS user to this site http://cognizant.theopenscholar.com/torman_test. However, the mail content doesn't show the full URL of the vsite.
![screen shot 2018-05-02 at 9 41 29 am](https://user-images.githubusercontent.com/2111600/39593447-c0d39b56-4ed7-11e8-9861-6fd1926779bc.png)

[2018-05-03 17:45] tcheng001 opened #10322 "Non-harvard install (cognizant.thescholar.com): publication settings page layout messed up and RePEc option missing"
![screen shot 2018-05-03 at 1 45 33 pm](https://user-images.githubusercontent.com/2111600/39593713-9b09aa5e-4ed8-11e8-9df4-3148fa402afb.png)

[2018-05-03 18:02] Bilsi commented on #10296
@smboser - I posted 2 urls to my facebook site.
Beta: https://beta.hwpi.harvard.edu/hds/news/2017/12/07/Spellers-revolutionary
Production: https://hds.harvard.edu/news/2017/12/07/Spellers-revolutionary

The one from Beta shows up fine, the other does not, can you look to see why?

![screen shot 2018-05-03 at 2 00 40 pm](https://user-images.githubusercontent.com/11841641/39594400-9d34bb6e-4eda-11e8

[2018-05-03 19:24] matt-bernhardt opened #10323 "feeds_tamper patch?"
Hello,
I've been running into an issue running an importer on our instance (which is at the latest release, 3.87.0) - in looking at the issue, it seems like there's a bug in the feeds_tamper plugin - that has been patched on the latest dev releases, but hasn't landed in production yet. But there is a patch that fixes the issue.

Is there any chance that this can be added to future OS releases? Or

[2018-05-03 19:39] matt-bernhardt commented on #10323
Sorry, I should have included a link to the support thread on feeds_tamper:
https://www.drupal.org/node/2567431#comment-10641972

The error message I was encountering is described here - the last comment in this issue points to the patch that solved the problem for us:
https://www.drupal.org/project/feeds_tamper/issues/2664732

The error message I got was:
[code]

[2018-05-04 11:42] smboser commented on #10309
@rbran100 I have tried that way too with custom domain with the prod DB and SCHOLAR-3.x. But still its working in my local.
![3](https://user-images.githubusercontent.com/14976596/39626141-5c2a816e-4fbe-11e8-8e20-778c35c8d79b.gif)

[2018-05-04 12:10] smboser commented on #10296
@Bilsi When I am trying I can see the full preview with the header and image in both the cases. I have checked in developers tools and everything is coming there too.
![image](https://user-images.githubusercontent.com/14976596/39626992-d1e4e9a0-4fc1-11e8-95c2-f1c477b35602.png)

https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fhds.harvard.edu%2Fnews%2F2017%2F12%2F07%2FSpellers-r

[2018-05-04 12:16] smboser commented on #10322
@tcheng001 I guess correct URL is cognizant.theopenscholar.com. Could you please give me one login credentials for this, so that I can check all these issues

[2018-05-04 13:20] bkosborne opened #10324 "Homepages of each site are accessible by 3 distinct paths, bad for SEO"
Create a site "testing", it will have a homepage that's accessible via three distinct paths:

1. /testing
2. /testing/
3. /testing/home

This is bad for SEO, since Google will see three distinct pages all with the same exact content.

Seems like the Global Redirect module would fix this. Not sure how that might impact other systems in OpenScholar though?

[2018-05-04 16:31] Bilsi commented on #10322
@smboser - We cannot give you access to the prod DB, but i have uploaded the Db for the cognizant install in dropbox

[2018-05-04 21:17] dancabral opened #10326 "Slider widget responsive issue"
Images in the slider are sizing strangely in responsive mode. Slider is also overlapping elements below it.
![screen shot 2018-05-04 at 3 00 38 pm](https://user-images.githubusercontent.com/867075/39653436-fe773c96-4fbe-11e8-8f8a-4404e6d976f3.png)

http://community.openscholar.harvard.edu/openscholar/topics/slider-widget-responsive-issue?rfm=1

[2018-05-04 21:19] dancabral commented on #10326
for 1008 breakpoint
[code]

[2018-05-04 21:30] dancabral opened #10327 "Inconsistent background color in section nav"
see http://community.openscholar.harvard.edu/openscholar/topics/inconsistent-background-color-in-section-nav

[2018-05-07 11:49] smboser commented on #10322
@Bilsi @tcheng001 I tried with the DB dump and found the issue. It was due to not execution of hook citation_distribute_update_7001() in citation_distribute module. I have re executed the update forcefully and its coming fine now.
![image](https://user-images.githubusercontent.com/14976596/39700254-30970d66-521a-11e8-8df9-6630b3ed09e4.png)
Probably the DB was taken from any existing DB where it wa

[2018-05-07 14:53] smboser commented on #10320
@tcheng001 It is fixed now. Pinserver module was enabled, which I believe is not required as os_pinserver_auth and other harvard related modules are disabled. You will be able to create site on behalf of non-existing users.
![site_creation](https://user-images.githubusercontent.com/14976596/39708275-61ce3b24-5234-11e8-97e7-0245da8b3fe4.jpg)

[2018-05-07 15:06] Bilsi commented on #10297
@arijeetbannerjee - is this in review?

[2018-05-07 15:37] arijeetbannerjee commented on #10297
Hi @Bilsi

A part of this issue has been completed (for content type News), I have to do the same for other content types and user section before review. As I was on a leave last week so could not proceed much, I have resumed the same today.

Thanks
Arijeet

[2018-05-07 16:01] Bilsi commented on #10321
@smboser - yes, please fix it

[2018-05-07 16:36] Bilsi commented on #10296
https://meetedgar.com/blog/facebooks-new-link-previews-need-know-2017/

[2018-05-07 16:37] #10296 closed

[2018-05-07 16:41] Bilsi commented on #10309
@rbran100 @smboser - closing this since that email seemed to have synced in prod

[2018-05-07 16:41] #10309 closed

[2018-05-07 16:43] #9583 closed

[2018-05-07 16:46] Bilsi opened #10328 ""Week View" of calendars is broken."
http://community.openscholar.harvard.edu/openscholar/topics/-week-view-of-calendars-is-broken

Problem with the "Week View" of the calendar...When two or more events are at the same time, it pushes events down and their time blocks display at the wrong time. See for example Thurs, April 5 of this calendar: https://employers.ocs.fas.harvard.edu...

Every event after the first 3pm event has been pus

[2018-05-07 16:55] tcheng001 commented on #10319
@smboser   I added one more situation (number 5) in this ticket's description

[2018-05-07 16:55] tcheng001 commented on #10320
Look good.  Mark "Fixed"

[2018-05-07 17:05] #10275 closed

[2018-05-07 17:05] #10285 closed

[2018-05-07 17:07] #10320 closed

[2018-05-07 17:09] tcheng001 commented on #10322
@smboser   That is weird.  I still see the issue.  Am I missing something?
![screen shot 2018-05-07 at 1 06 55 pm](https://user-images.githubusercontent.com/2111600/39714320-aad97d20-51f7-11e8-8c68-3e5b03c84c27.png)

[2018-05-07 17:37] #10326 closed

[2018-05-07 18:41] #10290 closed

[2018-05-08 08:10] smboser commented on #10322
@tcheng001 Sorry for miscommunication. I fixed the issue in my localhost and stated the process. It didn't fix in the cognizant.thescholar.com. The screenshot I posted was from my localhost. I would change the status to QA if it was resolved there, what I did to another site/registration issue.
To fix it in prod you need to run the hook citation_distribute_update_7001() for that server **forcefull

[2018-05-08 12:10] rivkiz opened #10330 "Publication's title inserted twice for each publication if one of the Authors is Editor"
The publication inner page:
![publication page](https://user-images.githubusercontent.com/36599114/39756347-e1e63e2c-52d1-11e8-85da-d8902e666a2f.png)

The publications list page:
![publications list](https://user-images.githubusercontent.com/36599114/39756385-12cd320c-52d2-11e8-893b-db6a12425b4e.png)

Use 3.31 branch

[2018-05-08 12:16] smboser commented on #10328
@Bilsi I am trying to find out the area first from where we can change customize the overlapping events. Meanwhile could you please let me know how these will look like in week view if multiple events (say 5 events) are overlapping for similar times. If all of those are only 1 hour long how they will be arranged? Currently overlapping events are added below one after another and that's why the lat

[2018-05-08 13:32] Bilsi commented on #10322
@smboser @tcheng001 - I ran the sql and ran the citation_distribute_update_7001() update

[2018-05-08 13:47] smboser commented on #10322
Thanks @Bilsi.
@tcheng001 The Distribute to repositories is now coming in proper position for site http://cognizant.theopenscholar.com

[2018-05-08 14:17] tcheng001 commented on #10322
@smboser    Yes, Google Scholar shows correctly in Pub Settings page now.  I take this ticket back to check ReREc option after we configure it. Thanks.

[2018-05-08 14:45] smboser commented on #10321
@Bilsi @tcheng001 It is fixed now. I have tested the same in dev.hwpi.
![image](https://user-images.githubusercontent.com/14976596/39764081-71e47ae6-52fc-11e8-979c-7b445719ff71.png)
PR #10331 has been created for review.

[2018-05-08 15:57] Bilsi commented on #10328
@smboser - seems like a css issue, @dancabral  needs to take a look

[2018-05-08 17:14] tcheng001 commented on #10322
We need to work with repec.com regarding RePEc configuration settings.  We  don't configure it at this moment and will do it when the function is requested.  Mark "Fixed"

[2018-05-08 17:15] #10322 closed

[2018-05-08 17:25] Bilsi opened #10332 "The .htaccess get overwritten when running the os-da command"

[2018-05-08 17:49] mpetrovic opened #10333 "Enable App form table headers are missing on cp/build/menu"
![app_table_headers](https://user-images.githubusercontent.com/611447/39773582-8d744538-52c6-11e8-88dd-9d7f3dc7f96a.png)

[2018-05-09 00:38] dancabral commented on #10333
@mpetrovic which install and browser do you see the no headers? I see this in production
<img width="919" alt="screen shot 2018-05-08 at 8 36 18 pm" src="https://user-images.githubusercontent.com/867075/39789740-bfef0e9c-52ff-11e8-9c44-869aa2c79b60.png">

[2018-05-09 12:02] arijeetbannerjee commented on #10297
Hi @Bilsi

Please find below the Twitter image priority for the following content types -
1. News and Event - If the post is a news, then the news image will be displayed. In case there is no news image then the first image in the body will be displayed else the site logo.
2. If the post is a person profile, then use the profile image image will be displayed. In case there is no profile image, the

[2018-05-09 12:03] smboser commented on #10319
@Bilsi @tcheng001 I have checked again with seven different scenarios, just received mail in one case (forget password) that is also after one hour. Even now I am not receiving mail for adding a non existing user to member of the site.
As I don't have access to the prod, is it possible to install maillog module for debugging purpose?
Also, is it possible to check the mailchimp account, if there is

[2018-05-09 12:16] tcheng001 commented on #10287
Tested on https://hwpi.harvard.edu/test/cp/appearance
There are 8 custom themes. Only Astronomy custom theme still has the problem. When I click Update button of Astronomy custom theme, I still get an error 503.
The rest of them work correctly when I click Update button.
<img width="1352" alt="screen shot 2018-05-09 at 8 15 04 am" src="https://user-images.githubusercontent.com/2111600/39814133-1e2

[2018-05-09 12:39] tcheng001 commented on #10297
@arijeetbannerjee
There is one more case.  When the user tweets a full node view of a post (say a blog post or basic page), the first image in the body should be used as tweeter:image.  In addition of this case, I believe that we probably cover most of scenarios.

[2018-05-09 13:44] arijeetbannerjee commented on #10297
Hi @Bilsi

I have just checked the PR, the only change I found is the one I made for twitter image. I do not see any change related to robot.txt

However, I will check once more put the code in one of the lower environment.

Thanks
Arijeet

[2018-05-09 13:44] dancabral commented on #10287
looks fixed to me @tcheng001

[2018-05-09 13:46] dancabral commented on #10287
@tcheng001 this site https://hwpi.harvard.edu/test has 8 custom themes. I clicked each of the 8 update links and they all launche the update modal.

[2018-05-09 13:50] Bilsi commented on #10297
@arijeetbannerjee - You cannot see the change we made for the robot.txt. It was made on the server for this PR. Let me know if it does not work on the server

[2018-05-09 14:07] dancabral commented on #10333
@smboser this is pretty straightforward. grep for this rule:

#redirects .actions, #os-maintenance .actions, .page-cp-build-menu table thead, .page-node-revisions .comment-wrapper, .page-node-revisions .ctools-dropdown, .page-node-revisions .biblio-download-links-label {
    display: none;
}

and change to

#redirects .actions, #os-maintenance .actions, .page-cp-build-menu #page table thead, .page

[2018-05-09 14:16] smboser commented on #10270
@Bilsi I require a clarification before proceeding, please check https://github.com/openscholar/openscholar/issues/10270#issuecomment-381103683. @dancabral will be best person to provide this.

[2018-05-09 14:19] Bilsi commented on #10270
@smboser - both new ticket, @dancabral will add comments by our end of day

[2018-05-09 22:50] karaface commented on #9552
Thanks for the fix. Ran into the same issue.

[2018-05-10 07:32] myrtoa opened #10339 "Non harvard install -trying to install prebuilt version 7.x-3.86. - getting "Missing modules: Os_sanitize_markup""
i'm trying to install the prebuilt version of OS
and i get "Missing modules: Os_sanitize_markup"

any ideas?

[2018-05-10 10:43] arijeetbannerjee commented on #10297
Hi @Bilsi @tcheng001

Twitter images is still not showing as dev.hwpi.harvard.edu is blocked by robot.txt Please find below screenshot -
![image](https://user-images.githubusercontent.com/26901665/39865624-0caa112a-546b-11e8-9f55-8abd5e69f457.png)

However, I have implemented and verified the following changes from the **page metadata** -

1. News listing page is displaying the Site logo.
2. Publi

[2018-05-10 12:40] tcheng001 commented on #10297
@arijeetbannerjee   If you can make changes on robot.txt in lower env temporarily for test purpose, that will be great. Otherwise, I can check the value of twitter:image from the page source.  Then, I still need to test it in production after pushing the fix to production.
I think you have covered most of cases. Thanks.

[2018-05-10 13:39] mpetrovic commented on #10333
Go to cp/build/menu, open up the Enable/Disable Apps form, the table headers will be missing.

[2018-05-10 13:39] Bilsi opened #10341 "Fix doc modal in demo install"
https://scholar-demo.iq.harvard.edu/abc#overlay=cp/welcome

[2018-05-10 13:41] Bilsi opened #10342 "Fix the progress bar on thescholr"

[2018-05-10 13:45] Bilsi commented on #10327
@dancabral will add some notes, can you assign it back to him once you are done

[2018-05-10 14:46] rbran100 commented on #10297
@arijeetbannerjee you can test this on dev.hwpi.harvard.edu now

[2018-05-10 15:25] rbran100 commented on #10287
the folder that should contan that lib is empty in prod:
/var/app/current/openscholar/openscholar/libraries/git/symfony/process/

[2018-05-10 16:11] rbran100 commented on #10305
pending varnish setup (reboot)

* not sure where we can test this other than in prod, we can setup on acquia dev/stage and Janos can make requests and verify that things look good in prod labda, but short of that we probably will need to test on one of the smaller installs in prod

[2018-05-10 17:53] Bilsi opened #10343 "Forgot password not sending an email"
Forgot password from the login screen does not send an email

[2018-05-10 18:03] Bilsi opened #10344 "Publications shows up in settings even when disabled"
Go to a site, click on enable disable apps from the menu
Disable publications

Go to settings--> app settings --> Publications is still displayed

If Publication is a disabled app, it should not show up in settings

[2018-05-10 19:26] #10254 closed

[2018-05-10 21:08] dancabral commented on #10333
marking fixed. table headers show now
![screen shot 2018-05-10 at 5 07 51 pm](https://user-images.githubusercontent.com/867075/39894422-c1a16e6c-5474-11e8-80c5-d792b60748d3.png)

[2018-05-10 23:43] #10333 closed

[2018-05-11 10:29] arijeetbannerjee commented on #10297
@rbran100 Thanks for disabling the robot.txt for testing, it is working as expected now.
@Bilsi @tcheng001
I have testing the following with my twitter account and below are the tested areas with screenshot -
1. News listing page is displaying the Site logo
![news](https://user-images.githubusercontent.com/26901665/39920083-71575358-5533-11e8-9971-344ce62a5f16.jpg)

2. Publication listing page is

[2018-05-11 10:29] smboser commented on #10344
@Bilsi Fix has been implemented. PR #10347 has been updated for review.
![image](https://user-images.githubusercontent.com/14976596/39920320-57e2ab6a-5534-11e8-8710-f0882848ad19.png)

[2018-05-11 11:29] smboser commented on #10270
@dancabral I have made the change but I believe we need to fix the font size too. Pardon me if I couldn't explain it correctly in my previous post.
Please check the issue number #6082, the requirement was exactly opposite to this one. Also, the commit bc2672ae723ccb53ddb13de188e03cfd9c2a2e18 where you have made the change. If we consider this as new requirement, then we need to revert back that co

[2018-05-11 13:41] smboser commented on #10343
@Bilsi Not only forgot password, I have checked few different scenarios from different servers and found mail is not going at all in production. Checked the same in lower with SCHOLAR-3.x but mail is triggering in every occasions. Is it possible to get a password of user 1 in production temporarily so that I can check the mail settings (Mailchimp configuration etc.)

[2018-05-11 14:02] Bilsi commented on #10343
@smboser - if it works in the lower env on acquia and not on prod in aws, then it is a server issue. Reassigning this.

[2018-05-11 14:19] dancabral commented on #10270
thanks @smboser I'll take it from here.

[2018-05-11 15:21] #10344 closed

[2018-05-11 16:12] tcheng001 commented on #10321
tested on https://dev.hwpi.harvard.edu/tormanhc2
Adding a new OS account: the mail content is correct.  This is good.
![screen shot 2018-05-11 at 11 13 50 am](https://user-images.githubusercontent.com/2111600/39931804-7ba26f18-550c-11e8-9eb0-1f8f9e265f05.png)

@smboser
I find the same issue (site url) in main content in other scenarios:
a) changing role
![screen shot 2018-05-11 at 12 09 17 pm](htt

[2018-05-11 17:38] dancabral commented on #10270
marking fixed @Bilsi

[2018-05-11 17:39] #10270 closed

[2018-05-11 18:18] tcheng001 commented on #10297
@arijeetbannerjee    I changed the description of this ticket.  Please use page's title as the value of twitter:description.  It seems to make more sense.

[2018-05-11 19:08] tcheng001 commented on #10297
twitter:image tag is missing in the front of a vsite. This is not a regression. Can you add it back?
![screen shot 2018-05-11 at 3 07 51 pm](https://user-images.githubusercontent.com/2111600/39942340-367935a4-552d-11e8-9441-43274fffff54.png)

[2018-05-11 19:51] dancabral commented on #9919
Goal:
Create a standard landing page that all schools using openscholar will see at a url like this http://mit.theopenscholar.com/. In short, the markup below be stored in code and assigned to existing OS regions. There are dynamic (variable driven) elements 1) path to school logo, 2) url to main schools main website (ex. http://harvard.edu), and 3) the name of the school will be printed into the

[2018-05-14 00:05] dancabral opened #10350 "vsite section nav item missing from edit outline screen"
@smboser you'll need a hwp.harvard.edu db dump for this tic. its regarding vsite 953711 at this domain https://intranet.huit.harvard.edu/staff-tools/policies-and-forms#

the Policies, forms, and other files page
![screen shot 2018-05-13 at 8 08 52 pm](https://user-images.githubusercontent.com/867075/39973112-88c503ca-56e9-11e8-8c76-8ea9077adf64.png)

IS

missing from the outline screen  ![screen s

[2018-05-14 11:31] smboser commented on #10321
@tcheng001 I have made changes for scenarios a.b and c as mentioned above. Those are now showing full URL.
![image](https://user-images.githubusercontent.com/14976596/39994866-3f8b1852-5798-11e8-8fb3-192c10c56d79.png)
![image](https://user-images.githubusercontent.com/14976596/39994899-51c2347e-5798-11e8-8e5f-804def3f099b.png)
![image](https://user-images.githubusercontent.com/14976596/39994916-5e

[2018-05-14 12:37] smboser commented on #9919
@dancabral Could you please provide a rough mockup of the page? Actually I am not sure how it will look like. Also, regarding the variables are those be in a new module like what we did in hwpi modules few days back?

[2018-05-14 13:27] mpetrovic commented on #10321
No, that's not intended behavior. That code is supposed to leverage purl to handle generating the URL. Could you figure out what's wrong with that code that is causes this issue?

[2018-05-14 13:37] matt-bernhardt opened #10351 "After updating, am getting asked to re-install Drupal/OpenScholar?"
I'm hoping that this is something others have run into, but I haven't seen anything in the issues or wiki so here goes. I tried updating our test OpenScholar platform from 3.87.0 to 3.88.5, and after running `/scripts/build` (without any apparent errors), I'm being asked to install Drupal when I visit the site in a browser?

I still see the correct database connection string in settings.php, and t

[2018-05-14 14:29] smboser commented on #10321
Ok, actually $site_url is not getting any value through $element->processor->rewrite(). I am trying now to understand the logic of newly written VsitePathHandling.trait.inc, then I think I will be able to find out the cause.

[2018-05-14 14:33] smboser commented on #10321
@Bilsi This is a completely separate issue, can we create a new ticket and then start the investigation. We will be able to resume the QA on this ticket then.

[2018-05-14 14:43] #10281 closed

[2018-05-14 14:52] Bilsi opened #10352 "Site name is missing in email"
![image](https://user-images.githubusercontent.com/11841641/40004998-f8a87de0-5764-11e8-855f-49c55fa1e946.png)

[2018-05-14 14:55] mpetrovic commented on #10321
That probably means I used an empty variable when I instantiated the purl element manually. The issue would be in the commit you linked earlier. I had to do it manually because the purl hadn't been saved by this point.

[2018-05-14 15:35] arijeetbannerjee commented on #10297
Hi @tcheng001

The page's title is already the value of the twitter:description, please find below screenshot.
![image](https://user-images.githubusercontent.com/26901665/40007233-d89e2dec-57b9-11e8-8cd8-ecef95b8cb37.png)
Can you please explain in details, if I need to change anything here?

A fix has been applied for the twitter:image tag in the front page of vsite. Please find below screenshot.

[2018-05-14 17:38] dancabral commented on #10341
marking fixed

[2018-05-14 17:39] #10341 closed

[2018-05-14 17:56] tcheng001 commented on #10297
Look good. Mark "Fixed"
Site Logo having an image:

Test case  | Test description | Test result
------------ | ------------- | --------
-- | https://dev.hwpi.harvard.edu/tcheng3  |  site logo image showed in twitter
-- | https://dev.hwpi.harvard.edu/tcheng3/news  |  site logo image showed in twitter
-- | https://dev.hwpi.harvard.edu/tcheng3/news/test-news-4  (having news image) |  news image showe

[2018-05-14 18:28] tcheng001 commented on #10321
@smboser
I found that 2 more scenarios having the same issue.  When a vsite is created on behalf of  1) an existing user or 2) a new OS user, the mail content is incorrect (vsite name is missing in the url).  Can you think that any case I might have missed out?

Mail content for creating vsite on behalf of an existing os user
![mail_create_site_on_behalf_of_existing_user](https://user-images.githu

[2018-05-14 18:42] Bilsi opened #10355 "Facebook add tags"
The reason why facebook posts of urls work with images the second time around and not the first is here
https://meetedgar.com/blog/facebooks-new-link-previews-need-know-2017/

This article also states that adding meta tags for "og:image:width" and "og:image:height"  may fix the problem. Can you check if that is true and if so implement it?

[2018-05-14 20:56] matt-bernhardt commented on #10351
In case this ends up biting anyone else, the issue turned out to be that the group permissions were set wrong on the `www` directory. Re-assigning them to something the apache user could see (and not the user who ran the build script), caused the site to come back.

Closing this ticket...

[2018-05-14 20:56] #10351 closed

[2018-05-14 21:33] #10327 closed

[2018-05-15 01:06] dancabral commented on #9919
@smboser below is a wireframe of what the layout will look like. again, I'll hook up the css and update the markup once youre done. yes, the variables will be the same ones you worked on in the hwpi modules. The only new variable will be one that points to a larger version of the school logo (upper left corner of the wireframe below). Again, its different from the small school logo that appears in

[2018-05-15 10:32] Bilsi commented on #10321
@tcheng001 - There is a new ticket for the site name missing. If everything else looks good, let mark this ticket fixed

[2018-05-15 11:11] smboser commented on #10352
@tcheng001 It is fixed now. PR #10357 has been created for review.

[2018-05-15 12:08] smboser commented on #10350
@dancabral I have checked with the last DB dump I have (dump of 2nd May), and this section is not present there. I guess it is added recently. Could you please provide me the latest dump of hwpi ?

[2018-05-15 12:34] tcheng001 commented on #10321
Mark "Fixed"
Mail content for creating a new OS user:
<img width="900" alt="screen shot 2018-05-15 at 8 28 08 am" src="https://user-images.githubusercontent.com/2111600/40056628-f9f40a6a-5819-11e8-9029-92a3a1d0ee2d.png">

Mail content for adding an existing user to a vsite:
<img width="840" alt="screen shot 2018-05-15 at 8 29 57 am" src="https://user-images.githubusercontent.com/2111600/40056725-3

[2018-05-15 12:40] #10321 closed

[2018-05-15 14:42] mpetrovic opened #10359 "Load proprietary modules available for all installs"
We need a way to load closed-source code into our final built repository.

[2018-05-15 15:44] smboser commented on #9919
@dancabral I have started working on the template. As per my understanding
1. It will be a completely new module.
2. If this module is installed, this template will replace the current home page.
3. Variables will be strongarm variables like current hwpi.strongarm.inc.
Please confirm, so that we can stay on same page
One question, will be there any uploader to upload the logo (or widget)? Or the p

[2018-05-15 16:25] #10352 closed

[2018-05-15 16:44] l0me commented on #8599
I have spent most of the day trying to resolve this issue with AngularJS in my OpenScholar install. I started to get these errors when updating to the latest version 3.86.25.

Can anyway shed some light as to how I can resolve this issue?
Best
Erik

[2018-05-15 16:45] l0me commented on #10127
I have spent most of the day trying to resolve this issue with AngularJS in my OpenScholar install. I started to get these errors when updating to the latest version 3.86.25.

Can anyway shed some light as to how I can resolve this issue?
Best
Erik

[2018-05-15 20:12] mpetrovic opened #10361 "Remove Professional preset"
It's being moved into another repo.

[2018-05-16 12:01] dancabral commented on #9919
@smboser yes to 1, 2 and 3. @mpetrovic can you confirm and provide any needed details...this is getting beyond me. thanks.

[2018-05-16 13:58] smboser commented on #9919
Thanks for the clarification @dancabral

[2018-05-16 17:39] tcheng001 commented on #10355
For QA only:
Checked the following posts:
News post having news image:
<img width="518" alt="screen shot 2018-05-16 at 1 27 27 pm" src="https://user-images.githubusercontent.com/2111600/40133158-ed6caf74-590c-11e8-9b48-2ac199b0e612.png">

News post having no news image:
<img width="521" alt="screen shot 2018-05-16 at 1 28 01 pm" src="https://user-images.githubusercontent.com/2111600/40133192-0409f

[2018-05-16 19:07] dancabral opened #10362 "Image gallery image edit link broken"
@smboser in an individual image gallery image, the edit link is broken. this is happening across all sites (I checked 3 sites to confirm).
![screen shot 2018-05-16 at 2 58 05 pm](https://user-images.githubusercontent.com/867075/40138492-c740dd44-591a-11e8-9dbd-5afa49fc8d2f.png)

[2018-05-16 19:52] dancabral opened #10363 "File edit form is incorrect"
On this site/page
![screen shot 2018-05-16 at 3 49 04 pm](https://user-images.githubusercontent.com/867075/40140409-dc96982c-5920-11e8-8188-06ca852e1fef.png)

The file edit form that the user sees is incorrect.
![screen shot 2018-05-16 at 3 48 34 pm](https://user-images.githubusercontent.com/867075/40140461-01eeeba6-5921-11e8-8a7f-2ae5a69af3b7.png)

Rather, they should see this form
![screen shot

[2018-05-17 13:04] tcheng001 opened #10364 "System not sending email when trying to 1) contact site owner and 2) register event"
see https://github.com/openscholar/openscholar/issues/10364#issuecomment-396641454

[2018-05-17 13:17] Bilsi commented on #10364
@smboser - can you check why emails are not working in these situations?

[2018-05-17 13:38] #10343 closed

[2018-05-17 14:58] Bilsi opened #10365 "Favicon is a harvard shield"
On the cognizant install, when you create a new site, the favicon is a harvard shield by default, though you can change it. Can you please make that a variable and we can add it to the strongarm file. For harvard the default should be the same file we use now. But for other installs, it should be empty unless we add a default and set it against the variable

[2018-05-17 15:01] Bilsi opened #10366 "Settings --> Profile image shows harvard shield"
Can we make the shield here a variable - again strong armed?
The shield currently shown should be the default only for Harvard, so should be set in the hwpi module.

If the variable is empty, then it should default to an image @dancabral will upload.

[2018-05-17 15:15] arijeetbannerjee commented on #10355
Hi @tcheng001

I think I have found the root cause of not showing the home page image in Facebook. Please have a look at the Facebook developer screenshot below -

![image](https://user-images.githubusercontent.com/26901665/40186333-74254d90-5a12-11e8-90e1-ebe104d520f4.png)
Link - https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fdev.hwpi.harvard.edu%2Ftormanhc2%2Fhome

It state

[2018-05-17 15:27] #10355 closed

[2018-05-17 15:57] karaface opened #10367 "Page Content Not Visible for non-logged in users"
Having issues where page content is not displaying for non-logged in users/anonymous users.

For example, this is how the webpage looks when logged in:
https://screenshots.firefox.com/xciXl1sb1jAcLVnd/dept.atmos.ucla.edu

But the page shows no content when viewing it as a non-logged in user:
https://screenshots.firefox.com/X67wH7C4iXNNLDPU/dept.atmos.ucla.edu

[2018-05-17 15:59] rbran100 opened #10368 "Move Secure Pages functionality out of hwpi module"
We should copy hwpi_init functionality to vsite_domain_init so that it can live on it's own.

* Copy to vsite_domain_init
* Change the first if statement so that if variable_get('hwpi_ssl_domains',array()) is a emty array it will not enter and change the securepages_enable variable so we don't impact other installs
* Change hwpi_ssl_domains to vsite_domain_ssl_domains
* update settings.php files w

[2018-05-17 16:40] Bilsi opened #10369 "Test cases broken because of Facebook code"
Can you please take a look?

[2018-05-17 17:34] karaface commented on #10367
admin/structure/types/manage/page/display

Changed body from <<Hidden>> to Inline for both Default and Teaser. Not sure how that happened in the upgrade where it was set to Hidden.

[2018-05-17 17:34] #10367 closed

[2018-05-17 18:06] Bilsi opened #10370 "Layout - "Shield" Widget"
The shield widget is added by default while site creation right now.
1. We want to remove that from the layout so it is not added to the site layout by default.
2.  Leave it on the top panel in the layout screen for Harvard users (hwpi module).
3. For non-harvard installs, we do not want to the shield widget to be available anywhere

[2018-05-17 18:32] #10308 closed

[2018-05-17 18:32] #10288 closed

[2018-05-17 19:46] Bilsi commented on #10368
@tcheng001 - this is for me to qa in prod

[2018-05-17 19:50] dancabral commented on #10366
if profile image variable is empty, default to this image
/openscholar/themes/os_basetheme/images/profile-default.png

path to default profile image for Harvard only
/openscholar/themes/hwpi_basetheme/images/person-default-image.png

[2018-05-17 20:08] dancabral commented on #10365
path to default os favicon
/openscholar/themes/os_basetheme/favicon.png

path to default favicon for Harvard only
/openscholar/themes/hwpi_basetheme/favicon.png

[2018-05-18 08:40] smboser commented on #10350
@Bilsi @dancabral After investigation I found some data discrepancies. Three nodes, node/965296 (/forms), node/965306 (/dashboards) and node/965311 (/presentations-0) in menu tables are without any parent menu. These are causing wrong formation of menu tree. However those are empty pages. I didn't find any way to replicate this scenario (child menu without parent). It might be data loss somehow.
A

[2018-05-18 11:59] Bilsi commented on #10364
@smboser - what is the username you are using in prod, you should still be a support user,  i can check

[2018-05-18 12:49] Bilsi commented on #10350
Marking pending while i check with the user if this is resolved from their perspective

[2018-05-18 12:51] dancabral commented on #10342
@tcheng001 this is ready for QA. the drupal core progress bar has been replaced with this green one. its the same one we use in the media browser. you can see it when you create a new scholr.com site.
![screen shot 2018-05-18 at 8 49 51 am](https://user-images.githubusercontent.com/867075/40235514-8be684f6-5a78-11e8-83fa-0a819bd0bae6.png)

[2018-05-18 12:54] tcheng001 commented on #10366
Not working as expected.
I can see the default profile image in Profiles Settings overlay.
![screen shot 2018-05-18 at 8 44 54 am](https://user-images.githubusercontent.com/2111600/40235393-1eb07d10-5a78-11e8-8960-365905a78886.png)
However, the harvard shield still show in the person full node view. Am I missing something?
![screen shot 2018-05-18 at 8 51 39 am](https://user-images.githubuserconte

[2018-05-18 13:07] #10350 closed

[2018-05-18 13:08] tcheng001 commented on #10342
@dancabral   Marked "Pending"
Failed to run `drush @scholar.dev cc all` after deploying to dev.scholar.
[code]

[2018-05-18 14:03] mpetrovic commented on #10365
This could be hard to test because the favicon can be very sticky. Some browsers don't make it easy to clear stale favicons.

[2018-05-18 14:08] Bilsi commented on #10366
@tcheng001 - @mpetrovic fixed it, can you check now?

[2018-05-18 14:29] smboser commented on #10364
@Bilsi I am using "Anish.Boral@cognizant.com" and "smboser" in Prod.
I am getting below screen while login with smboser.
![image](https://user-images.githubusercontent.com/14976596/40236946-aed56758-5acc-11e8-8ad6-c861c80b126b.png)
![image](https://user-images.githubusercontent.com/14976596/40236959-b5720378-5acc-11e8-9afc-c2b7e0c365d3.png)
Same thing is happening for the other user as well.
From

[2018-05-18 14:35] Bilsi commented on #10364
@smboser - we removed Anish as a support user

[2018-05-18 14:36] tcheng001 commented on #10365
Mark "Fixed"
When hwpi module is enabled,
1) Harvard shield favicon is shown in home page of dev.hwpi.harvard.edu
2) Harvard shield favicon is shown in vsite pages of hwpi installs
3) if custom favicon is set in a vsite, the custom favicon shows in all pages of the vsite
![screen shot 2018-05-18 at 10 33 30 am](https://user-images.githubusercontent.com/2111600/40240758-4dff2f9e-5a87-11e8-82b2-07d7

[2018-05-18 14:40] smboser commented on #10370
@Bilsi One quick query, for Harvard users will this be added by default while site creation or users need to add it manually later after creating the site from widgets layout?

[2018-05-18 14:43] Bilsi commented on #10370
@smboser - Right now, it is added by default to the home page, left hand corner( i think) when a new site is created. This is an outdated widget and we would like to totally get rid of it, but since we have about 435 sites in scholar and about 110 sites in projects in Harvard that are using it, we cannot totally remove it without upsetting some users. So the best course of action is to not add it

[2018-05-18 15:02] #10365 closed

[2018-05-18 15:34] tcheng001 commented on #10366
@dancabral   the problem is the image size will be inconsistent.
![screen shot 2018-05-18 at 11 33 37 am](https://user-images.githubusercontent.com/2111600/40243876-5dfe9c88-5a8f-11e8-9656-d0d94509c408.png)

[2018-05-18 15:51] dancabral commented on #10366
@tcheng001 Yes, thats correct. for each school, including Harvard, we want to only use 1 default profile image (the smaller one in your screenshot on the left). It will appear smaller in both contexts - the list and the detail page. If a user uploads their own image, a larger version will appear in the detail page. Lastly, if a school does not have a system default profile image, then the default

[2018-05-18 16:46] tcheng001 commented on #10366
work as expected. Mark "Fixed"
hwpi module is enabled:
a) Harvard shield image is used as default
1. Harvard shield image is showed in Profiles Settings overlay
2. Harvard shield image is showed in /people page if the profile posts contain no profile image
3. Harvard shield image is showed in people full node view if the post contains no profile image

b) user's imported image as default
1. user's

[2018-05-18 17:47] dancabral commented on #10363
marking fixed. I see the expected embed file edit form
![screen shot 2018-05-18 at 1 46 31 pm](https://user-images.githubusercontent.com/867075/40249755-f5ed566c-5aa1-11e8-9ca4-3d0ea5994a55.png)

[2018-05-18 17:48] #10363 closed

[2018-05-18 18:04] dancabral opened #10374 "Pub form style cleanup"
the pub form could use some tightening up - add pale grey rules  between sections, fix some of the label formatting, etc.
![screen shot 2018-05-18 at 2 02 51 pm](https://user-images.githubusercontent.com/867075/40250443-4c3b7fce-5aa4-11e8-9d95-545a3d6cd910.png)

[2018-05-18 18:47] tcheng001 commented on #10342
Look good. Mark "Fixed"
![status_bar](https://user-images.githubusercontent.com/2111600/40252299-f0664638-5aa9-11e8-818a-a20fb6e06801.gif)

[2018-05-18 19:45] #10342 closed

[2018-05-18 21:52] rogerioluizsi commented on #10127
I have the same issue! I had tried a lot of situations, but i couldn't.

[2018-05-18 22:18] Bilsi commented on #10369
They are working now, so closing this

[2018-05-18 22:18] #10369 closed

[2018-05-18 23:17] Bilsi opened #10376 "File error message disappears before long"
if you upload a file that is too big, OS gives an error  message and a helpful reference to a website that will make it smaller, but that message disappears after a few seconds (faster than it takes to read).  it would be better to leave up the message and just say or choose another.

[2018-05-21 07:35] l0me commented on #8424
I am using the prebuilt openscholar install profile and I am having issues with angularjs.
I upgraded an working, but out-of-date instance of openscholar and is now having issues with angularjs. Drag and drop functionality does not work in the page layout area, issues when uploading images, using links in WYSIWYG etc. Many errors relating to angularjs from the Chrome console.

With the prebuilt ve

[2018-05-21 13:30] mpetrovic commented on #10376
@thegaryking The reason we don't do it within OS is because the request crashes if we even try. People upload images so large that attempting to manipulate them uses up all the memory allocated for the request.

[2018-05-21 13:38] thegaryking commented on #10376
We should find a way to do it in os or with an API we integrate. Every other photo upload service for say a profile photo does this. I'm sure we can figure it out. It would make os much easier to use and less frustrating too

[2018-05-21 15:08] Bilsi opened #10379 "Publication title not formatting correctly."
Go to Settings --> Publications --> change the pub style to Chicago Manual of Style formatting (there are 3 styles). The bug exists for all 3

Add a title ending with a question mark and in the list view, it displays a period after the question mark. For titles that end in a period, it adds an extra period.

![screen shot 2018-05-21 at 11 06 42 am](https://user-images.githubusercontent.com/1184164

[2018-05-21 15:22] Bilsi commented on #9919
@smboser - Please make this a priority, @dancabral is waiting to start on his bit and needs the markup ready for that.

[2018-05-21 17:08] Bilsi commented on #10376
![screen shot 2018-05-21 at 1 08 22 pm](https://user-images.githubusercontent.com/11841641/40319973-19f8b116-5cf8-11e8-9548-c918ebacb518.png)

[2018-05-21 17:11] Bilsi commented on #10376
@smboser - When we upload a file larger than the max allowed in OS (128 MB), we get the message as shown in the pic above. But it disappears in a few seconds, we would like to change this to stay till the user uploads a file again.

[2018-05-21 17:21] tcheng001 opened #10380 "Fail to reset password in Projects install"
If you request a new password from projects install,  you will get an error "There was a problem with your form submission. Please wait 22030 seconds and try again." after you enter your email address and enter the big blue button (E-mail new password).  It seems that the issue only occurs in Projects install.

![screen shot 2018-05-21 at 1 19 11 pm](https://user-images.githubusercontent.com/21116

[2018-05-21 18:44] #10374 closed

[2018-05-21 18:55] Bilsi opened #10382 "osprojectsite.org roadmap page is not working"

[2018-05-21 18:56] #10382 closed

[2018-05-21 20:45] dancabral commented on #10328
Marking fixed. Week view with multiple events starting at the same time.
with 4 events:
![screen shot 2018-05-21 at 4 42 55 pm](https://user-images.githubusercontent.com/867075/40329001-27c99684-5d16-11e8-9df2-e57a5014ac59.png)
with 3 events
![screen shot 2018-05-21 at 4 45 30 pm](https://user-images.githubusercontent.com/867075/40329076-66376b12-5d16-11e8-9ccd-b2de17ce3dce.png)

[2018-05-21 21:55] #10328 closed

[2018-05-22 08:09] arijeetbannerjee commented on #9919
Hi @dancabral @Bilsi,

I have made the following changes -

1. Added a custom module for the above requirement - "os_landing_page"
2. You can view the page from the following URL - https://dev.hwpi.harvard.edu/os/frontpage
3. Created a template files where you can view/change the HTML if required. Path - openscholar/modules/os_features/os_landing_page/templates/os_landing_page.tpl.php
4. Created a

[2018-05-22 16:47] #10287 closed

[2018-05-22 17:56] dancabral opened #10388 "Cleanup messages in the media browsers and other upload fields in OS"
![mssg_clanup png](https://user-images.githubusercontent.com/867075/40380772-fc329b76-5dc7-11e8-9d99-9b401d4ce498.png)

[2018-05-22 18:37] tcheng001 commented on #10376
work as expected.  Mark "Fixed"
1.  The error message stays in the Media Browser when the file is larger than the max. limit.
<img width="866" alt="screen shot 2018-05-22 at 2 32 01 pm" src="https://user-images.githubusercontent.com/2111600/40382665-eddb2e80-5dcc-11e8-97d6-a07d593678ee.png">
2. If the file is smaller than the maximum limit, it will be uploaded by OS as usual.

[2018-05-22 18:57] tcheng001 opened #10389 "News form: help message keeps flashing"
![help_message_flashing](https://user-images.githubusercontent.com/2111600/40383619-5572e6d0-5dcf-11e8-97b2-5b87d54c68a5.gif)

[2018-05-22 20:19] rbran100 commented on #10380
PR has been created to fix part of this problem, the second part we will make in server configurations.
We have configured the time it takes someone to fill out this form to be ~2 seconds min instead of the 5sec it was at since the form is so simple.

Also once that limit is hit it waits an extra 300 seconds per try per IP to let the user try again, we are adding visibility into the users IP addre

[2018-05-23 11:18] smboser commented on #10389
@Bilsi @tcheng001 It is fixed and tested in dev.hwpi. PR #10391 has been created for review.

[2018-05-23 12:09] t6nis opened #10392 "Missing Biblio?"
When i download and build the latest SCHOLAR-3.89 branch and try to make a clean install i get the following error:

**Missing modules: Biblio**

Although the biblio module is existing in the contrib folder..
Any ideas?

[2018-05-23 14:20] tcheng001 opened #10393 "Profile image becomes messed up after replacing"
http://community.openscholar.harvard.edu/openscholar/topics/profile-image-becomes-messed-up-after-replacing

This is a bit subtle. I upload an image (say lady5.png) for a profile from the form. After cropping the image and saving the profile, there are 2 files created in /cp/content/files.
lady5_0.png --- This is the full image
lady5.png ------- This is the cropped image

Now, I go to the form to

[2018-05-23 16:30] Bilsi opened #10395 "Logo_path image sizing is wrong"
Remove the fixed height and width on the logo_path image so the file renders as is

[2018-05-23 16:30] dancabral opened #10396 "Hide this field - honeypot captcha"
![hide-field](https://user-images.githubusercontent.com/867075/40438017-f220f246-5e84-11e8-9d40-00c3d1430f6f.png)

[2018-05-23 17:18] tcheng001 commented on #10389
Look good.  No more flashing. Mark "Fixed"
I am able to attach files as usual.

[2018-05-23 17:32] dancabral commented on #10389
CSS looks good to me

[2018-05-23 17:55] #10389 closed

[2018-05-23 17:56] #10396 closed

[2018-05-23 17:57] Bilsi commented on #10395
@tcheng001 - just make sure this does not break Harvard logo

[2018-05-23 19:14] Bilsi commented on #10366
@mpetrovic - Bad planning on our part. Having one image does not work, we do need 2 images - one for the profile landing page and one for the list page like we had before. @dancabral  will upload the images and comment here

[2018-05-23 19:54] tcheng001 commented on #10395
mark "Fixed"
<img width="1456" alt="screen shot 2018-05-23 at 3 51 59 pm" src="https://user-images.githubusercontent.com/2111600/40447662-583dd992-5ea1-11e8-9aad-73ff374b7709.png">

[2018-05-23 19:58] rbran100 commented on #10380
#10390 is ready for review/merge it pairs with a change in bitbucket that will get the correct IP address logged in drupal so that all users don't have the same IP

[2018-05-23 20:00] dancabral commented on #10366
@mpetrovic here are the paths to the os default profile images. these are pushed to 3x.
large image shown on the detail page
/openscholar/themes/os_basetheme/images/person-default-image-large.png
small image shown on the list page
/openscholar/themes/os_basetheme/images/person-default-image-small.png

[2018-05-23 20:03] #10395 closed

[2018-05-23 20:07] #10380 closed

[2018-05-23 20:10] #10376 closed

[2018-05-23 21:03] dancabral opened #10399 "Vocab term pages returning as Access Denied"
http://community.openscholar.harvard.edu/openscholar/topics/taxonomy-terms-linked-on-publications-are-directing-to-a-page-that-says-access-denied
@smboser you'll likely need a db dump to debug this. its this site https://coache.gse.harvard.edu/publications - vsite id 548291. For some reason, the term pages in the Keywords taxonomy are returning as Access Denied.
![screen shot 2018-05-23 at 4 57 57

[2018-05-23 21:27] dancabral commented on #9919
@arijeetbannerjee this is looking good. Can you do a couple of things for me. Thanks
1) Move the landing page css file to the end of the css stack
![move-css-tobottom](https://user-images.githubusercontent.com/867075/40451956-4c02b9ba-5eae-11e8-8ac6-9809890ee5e8.png)

2) When logged out, the admin theme css files should not print
![remove-admin-css](https://user-images.githubusercontent.com/867075

[2018-05-24 08:05] t6nis commented on #10392
Well.. the module can copyed by hand from /openscholar folder.. The build script does not copy the folder to the right location inside built /www/... folder.

[2018-05-24 08:05] #10392 closed

[2018-05-24 15:10] Bilsi commented on #10023
Waiting for lower environment

[2018-05-24 16:53] rbran100 commented on #10364
@smboser for these emails they are sent with a custom 'from' address that matches the event creator or the site owner.  We need to always send from the site mail address.  Can you change them (any any others) so this is the case?

For the email that was originally the "from" address, instead copy that user.

Thanks

[2018-05-24 17:08] dancabral opened #10404 "Add width field to the OS mailing list signup feature using the Mailchimp form option."
@smboser can we add a width field to the OS mailing list signup widget using the Mailchimp form option. Same as the existing height field, a width value entered should be passed to the mailchimp iframe tag.
![add-width_field](https://user-images.githubusercontent.com/867075/40500647-6194570c-5f53-11e8-9772-0862c708b2e7.png)

[2018-05-24 18:32] Bilsi commented on #10366
@mpetrovic - Please update this so we have 2 variables - one for the profile settings and landing pages and the second one for the list page

[2018-05-24 18:33] tcheng001 commented on #10393
@mpetrovic  Found something odd.  The path of these two files are different.  The top one is uploaded today. The third one was uploaded several months ago and seems something wrong with the path. Why?  When the top one is being uploaded, Media Browser can't detect there is a file with the same file name and it doesn't prompt me to replace or rename.
![screen shot 2018-05-24 at 2 20 46 pm](https://

[2018-05-24 18:36] mpetrovic commented on #10393
The older one is the wrong place. It will be difficult to figure out why, if its possible at all. All files should be in files/{vsite_name}/files

[2018-05-24 19:11] #9937 closed

[2018-05-25 13:03] tcheng001 commented on #10362
Mark "Fixed"
1. contextual link (Edit) is working again
2. All fields can be edited
3. Replacing file works as before
4. contextual link (Delete) works as expected

[2018-05-25 13:52] #10362 closed

[2018-05-25 13:57] tcheng001 commented on #10393
Not working as expected.  moving to "in dev"
If the profile image is placed once, everything seems working as expected. However, if the profile image is replaced one more time, then I see this issue again. What I mean is that
the profile image is replaced successfully.  The correct image is showed in listing and full node view, but when you open the person form, it displays the previous image.
In

[2018-05-25 14:37] #10361 closed

[2018-05-25 14:43] #10222 closed

[2018-05-25 14:43] #10359 closed

[2018-05-25 14:48] #8922 closed

[2018-05-25 15:24] smboser commented on #10379
@Bilsi It is fixed now. I have checked it for the above mentioned publication settings in dev.hwpi. PR #10400 has been updated for review.
![image](https://user-images.githubusercontent.com/14976596/40552583-c68ec484-605d-11e8-8263-72c65f4bdb8c.png)

[2018-05-25 16:00] tcheng001 commented on #10297
@arijeetbannerjee  @Bilsi     Now, if the body contains an embedded video in front of any image in the body, the current logic considers it as an image. But Twitter is unable to render the video correctly instead of rendering a place holder.
Question:
1.  is it possible to render the video as an image correctly in Twitter?
2. If not in question 1, then can we not treat the embedded video as an ima

[2018-05-25 16:17] Bilsi commented on #10297
@arijeetbannerjee - Can you look into this?

[2018-05-25 18:08] mpetrovic commented on #10366
@tcheng001
That's the user-uploaded default, which won't be on Acquia's lower environments. This is issue about the install-wide defaults, which is what the user will see when they haven't selected anything yet.

[2018-05-28 08:04] arijeetbannerjee commented on #9919
Hi @dancabral

Below are details of the requested changes -

1. The CSS has been added to the last group with highest weight. However, the IE6, IE7 and IE8 modifications are after the CSS group by default from Drupal Core. I hope this will work for you, let me know otherwise. Below is a screenshot -
![image](https://user-images.githubusercontent.com/26901665/40603890-e7107134-627a-11e8-8199-8f2596

[2018-05-28 10:01] smboser commented on #10404
@dancabral It has been implemented. PR #10406 has been created for review.

[2018-05-28 11:28] smboser commented on #10399
@dancabral System can't have URL pattern like publications/authors, **publications/keywords** or publications/import. If you check https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_publications/os_publications.module#L76-L82, these are disabled forcefully from the code.
Here "/keywords" can be altered to "/keyword" or something like that to bring it in

[2018-05-28 14:09] arijeetbannerjee commented on #10297
Hi @tcheng001

The reported issue has been resolved by the second option. The embedded media will be ignored for twitter image and the next available image will be considered. Below are the screenshot -

![image](https://user-images.githubusercontent.com/26901665/40618309-bb931ce4-62ae-11e8-89ed-eafda33e5dc7.png)

![image](https://user-images.githubusercontent.com/26901665/40618329-d07a9af6-62ae-1

[2018-05-29 12:26] tcheng001 commented on #10366
@Bilsi   I guess we messed up the configuration. os_basetheme's image is used in Profile Settings when hwpi module is enabled.  Am I still missing something?
I did run
`drush @hwpi.dev fr hwpi`
`drush @hwpi.dev cc all`

![screen shot 2018-05-29 at 8 23 00 am](https://user-images.githubusercontent.com/2111600/40658602-c53cb866-6319-11e8-8fbb-77acfe7c827d.png)

[2018-05-29 12:53] Bilsi commented on #10399
@smboser - Isn't it the same issue as this? https://github.com/openscholar/openscholar/issues/10298

Since we fixed it, it should not even add "Publications" to the url ? Can you confirm?

[2018-05-29 12:57] smboser commented on #10399
No @Bilsi it is not same as that issue. These URLs were forcefully disabled from the code. I am checking the history to know the reason and will let you know.

[2018-05-29 13:36] arijeetbannerjee commented on #9919
Hi @dancabral @Bilsi

Point 2 has been resolved, all theme CSS will not print once logged out. Along with that, the frontpage.css comes at the end of all listed CSS. Below is the screenshot of how the CSS currently looks. Let me know if you need any further changes.

![image](https://user-images.githubusercontent.com/26901665/40661998-bca18da4-6372-11e8-9c21-d2202cfa214a.png)

Currently, I am faci

[2018-05-29 13:37] smboser commented on #10399
@Bilsi As discussed I have changed the terms URL in Prod and now these are coming fine.

I have changed it from
------------------------------------

![before_terms](https://user-images.githubusercontent.com/14976596/40662080-f732ed5a-6372-11e8-9bdd-347845dfd35a.jpg)
to
-------------------------------------------------------
![after_terms](https://user-images.githubusercontent.com/14976596/4066210

[2018-05-29 13:46] rbran100 commented on #10404
code looks good, it accepts a number, a number plus "px" and a percentage.

[2018-05-29 14:44] tcheng001 commented on #10379
@smboser   It might be a regression occurring in Modern Humanities Research Association (Note with Bibliography)
<img width="961" alt="screen shot 2018-05-29 at 10 43 41 am" src="https://user-images.githubusercontent.com/2111600/40666230-373109be-632d-11e8-9f12-2b2898b907fd.png">

The title is always followed by a comma, but the comma is missing if the title ends with a question mark or period.
![

[2018-05-29 14:46] #10399 closed

[2018-05-29 15:13] rbran100 commented on #10332
Going ahead and putting this in QA, looks like my change was merged 5 days ago.

[2018-05-29 15:18] Bilsi commented on #10332
@tcheng001 - this has to be QA ed in prod, you can ignore this

[2018-05-29 15:18] rbran100 commented on #10297
@arijeetbannerjee you can put this straight to QA after we change the three loops to use "break", it is easier to understand that way.  Thank You.

[2018-05-29 15:55] tcheng001 commented on #10404
Mark "Fixed"
1. MailChimp form width works pretty cool. It accepts a number of pixels (like 750) or a percentage (say 100%)
2. When MailChimp form width is set to 100%, it fits in the width of the section in the layout where the widget resides.
3. MailChimp widget works as before.

[2018-05-29 16:34] Bilsi commented on #9994
@smboser - https://console.getsatisfaction.com/openscholar/conversations/mailing-list-widget-link-subscription-form-is-wider-than-the-modal?reply_id=19551396
Can you please take a look?

[2018-05-29 21:27] dancabral commented on #9919
@arijeetbannerjee I've been updating several files in this module, so you'll want to pull again. thanks.

[2018-05-29 23:03] Bilsi commented on #10364
@smboser - I have 4 tickets open related to this one issue. Please make it a priority

[2018-05-30 11:59] arijeetbannerjee commented on #10297
Hi @rbran100

The flags has been replaced by break, assigning the ticket for QA as mentioned.

Thanks,
Arijeet

[2018-05-30 12:09] smboser commented on #10364
@Bilsi I have made the change according to the comment https://github.com/openscholar/openscholar/issues/10364#issuecomment-391785490. Now mail from address for these events are site mail address.
![image](https://user-images.githubusercontent.com/14976596/40719153-2d770af0-6430-11e8-8db2-70ad9746025a.png)
------------------------------------------
![image](https://user-images.githubusercontent.co

[2018-05-30 12:16] arijeetbannerjee commented on #9919
@dancabral

Thanks for letting me know, I have pulled the updated files. Also the issue with the strongarm variables has been resolved.

You can change the strongarm values from the following file as per your requirement -
**File -** openscholar/modules/os_features/os_landing_page/os_landing_page.module
![image](https://user-images.githubusercontent.com/26901665/40719342-fa7c7620-6430-11e8-875d-fd

[2018-05-30 14:47] tcheng001 commented on #9994
mark "Fixed"
1.
<img width="628" alt="screen shot 2018-05-30 at 10 43 47 am" src="https://user-images.githubusercontent.com/2111600/40727664-5e90bc42-63f6-11e8-9185-7ce6db5db918.png">

2. Mailing List widget works as before.

[2018-05-30 15:19] tcheng001 opened #10410 "Mail content to Site Owner: remove the second paragraph"
Anyone can send a email to site owner through the link in Site Info" widget.
<img width="696" alt="screen shot 2018-05-30 at 11 15 17 am" src="https://user-images.githubusercontent.com/2111600/40729640-cd150692-63fa-11e8-9842-d216add2d21b.png">
The owner will receive a email like that.
![screen shot 2018-05-30 at 11 16 19 am](https://user-images.githubusercontent.com/2111600/40729804-3a1f1fe8-63fb

[2018-05-30 15:20] #9994 closed

[2018-05-30 15:50] tcheng001 commented on #10364
Mark "Fixed"

Test | Description | Test result
------------ | ------------- | ------
-- | send email through the link in Site Info widget | OK
-- | register an event | OK
-- | event broadcast  | OK
-- | event's date change | OK
-- | event's place change | OK
-- | event cancel  | OK
-- | create a new OS user | OK
-- | change role | OK
-- | add an existing user to a vsite | OK
-- | remove a member f

[2018-05-30 17:38] dancabral commented on #10388
marking fixed
![screen shot 2018-05-30 at 1 36 39 pm](https://user-images.githubusercontent.com/867075/40737424-b49918c4-640e-11e8-815c-957d71c982dc.png)

[2018-05-30 17:39] #10388 closed

[2018-05-30 18:49] tcheng001 commented on #10297
For QA info: Tested on News and People Profile on ,  everything looks good.  Suddenly, Twitter card validator is not able to render card preview. "ERROR: Fetching the page failed because it's denied by robots.txt."

Still need to test one of the remaining content types (say blog).

[2018-05-31 06:49] arijeetbannerjee commented on #10297
@tcheng001

Richard had changed the robot.txt file earlier for dev.hwpi.harvard.edu to allow twitter images for testing, Can you please get in touch with him to get that done one more time?

Thanks
Arijeet

[2018-05-31 07:06] smboser commented on #10410
@tcheng001 The requested change has been made. Since its a very little change I am directly putting it for QA.

[2018-05-31 07:31] smboser commented on #10404
@Bilsi Do we have any work item pending on this?

[2018-05-31 07:42] smboser commented on #10379
@tcheng001 As per the requirement I have removed the extra period for all types of publications in case the title has got a period itself. So, here the extra period (i.e. comma) has been removed if the title has got a period already (either of "!" or "?" or "," or "."). Please let me know if my understanding is not aligned with the requirement.

[2018-05-31 12:05] #10404 closed

[2018-05-31 12:37] tcheng001 commented on #10379
@smboser   Let me discuss with @Bilsi first

[2018-05-31 12:56] tcheng001 commented on #10297
work as expected. Mark "Fixed"
1. For News and Person Profile detail page, news' image and profile image will appear in twitter preview if they exist.
2. For all content types detail page (including basic page), first image in body will appear in twitter. If no image in the body, site logo will appear. If no site logo, then no image will show in twitter.
3. For home page or listing page, site logo

[2018-05-31 13:02] bkosborne commented on #10160
Acquia has set a deadline to move to PHP 7.1 by October 1st.

[2018-05-31 13:11] tcheng001 commented on #10410
work as expected. Mark "Fixed"

[2018-05-31 13:30] #10410 closed

[2018-05-31 13:38] smboser commented on #10370
@rbran100 @Bilsi I have made the change according to the comment https://github.com/openscholar/openscholar/pull/10378#issuecomment-392813668.
Initially I also thought about it as it is the easiest way to implement the solution. But later I followed the same way I did the DASH separation in #10207.
I have created a new PR #10413 and marking it "needs review"

[2018-05-31 13:48] Bilsi opened #10414 "Upgrade to php 7"
We have to upgrade to PHP 7
Can you make a list of modules that are out of compliance - and let me know if we should upgrade or patch it?
We can validate it and after that make the changes and
run the code through compatibility tests and test some sites with copy of prod db to look for functions that are deprecated.

*QA* https://github.com/openscholar/openscholar/issues/10414#issuecomment-4154228

[2018-05-31 13:50] #10332 closed

[2018-05-31 14:40] Bilsi opened #10415 "Only show mtime for images and icons"

[2018-05-31 14:54] rbran100 opened #10417 "Change solr Search Weight for person"
When searching for "Scott Edwards" and limiting to "Person" on this site (https://hwpi.harvard.edu/mcz/search/site/Scott%20Edwards?f%5B0%5D=bundle%3Aperson&solrsort=%20) you get all people which are part of the Scott Edwards lab as well.

When sorting by relavancy we should apply a lower weight to the sub titles than the main title so that it shows first in the list.

[2018-05-31 14:58] rbran100 commented on #10415
The PR attached adds extra granularity for which types to add mtime to, but does not make any changes to remove mtime. Is that what is expected?

[2018-05-31 15:00] Bilsi commented on #10415
https://github.com/openscholar/openscholar/pull/10314/files - @rbran100 - this was the code i removed to add mtime a few weeks back, so i just reverted it

[2018-05-31 15:55] #10227 closed

[2018-05-31 18:20] tcheng001 commented on #10415
timestamp is still appended to pdf file.

[2018-05-31 18:22] Bilsi commented on #10379
@smboser - can you find out how many users in scholar, projects and hwpi use the citation style "Modern Humanities Research Association (Note with Bibliography)"
Can you post the query here?

[2018-05-31 19:44] Bilsi opened #10418 "Error uploading custom theme"
https://scholar.harvard.edu/bilsi/cp/appearance#overlay=bilsi/cp/appearance/add-subtheme/zip

Login here and upload the attached zip file and click save, it throws the error as shown in the screen shot below

[srtlight_20140926 - v3.zip](https://github.com/openscholar/openscholar/files/2059811/srtlight_20140926.-.v3.zip)
![screen shot 2018-05-31 at 12 12 33 pm](https://user-images.githubuserconten

[2018-05-31 19:57] tcheng001 opened #10419 "{{title_tex}} breaks js in /cp/content/files page"
![screen shot 2018-05-31 at 3 54 29 pm](https://user-images.githubusercontent.com/2111600/40805121-4862df40-64eb-11e8-8576-82e6f014cb01.png)

[2018-05-31 21:51] Bilsi opened #10420 "Harvard site deletion request"
When a site owner click on delete a site from the right hand menu, it opens a form and submits a ticket to ithelp@harvard.edu.
But it also redirects the user to a url that does not exist by appending base_domain to the url
It should stay on the root domain
![image001](https://user-images.githubusercontent.com/11841641/40810236-3cafe142-64fb-11e8-80ca-7e67d588aa8b.png)

[2018-06-01 13:02] tcheng001 commented on #10419
@smboser   you might refer to this ticket
https://github.com/openscholar/openscholar/issues/10040

[2018-06-04 12:38] smboser commented on #10419
@tcheng001 @Bilsi It is fixed now. PR #10421 has been created for review.
![image](https://user-images.githubusercontent.com/14976596/40917808-1ec7c710-6822-11e8-9fe4-80d847802b07.png)
Please note I have fixed it for the above mentioned area. There are many other fields throughout the system. A separate ticket can be created for all of those.

[2018-06-04 12:54] Bilsi commented on #10419
@smboser - for now, this is fine, thanks

[2018-06-04 14:40] smboser commented on #10379
@Bilsi Please find below the requested query.

"SELECT id FROM spaces_overrides WHERE object_id = 'biblio_citeproc_style' AND value LIKE '%mhra%'"

I have run it on dev.hwpi and dev.scholar but didn't get a single site with this settings except few on which I carried on the testing.

[2018-06-04 15:56] Bilsi commented on #10379
@tcheng001 - Checked all 3 installs, no sites use the "Modern Humanities Research Association (Note with Bibliography)" style in scholar and hwpi. One site in projects uses it. I think we can ignore it the issue with this citation style that you mentioned above.

[2018-06-04 16:01] tcheng001 commented on #10419
Mark "Fixed"
1. js works as expected in /cp/content/files page even thought some post titles contain "{{title_text}}"
![screen shot 2018-06-04 at 11 47 44 am](https://user-images.githubusercontent.com/2111600/40927736-7a88915e-67ed-11e8-8ba5-c0e56cd124d2.png)

Also checked the following locations to see if "{{text}} breaks js
1. alt text and title text for image
2. terms in content form
3. in taxo

[2018-06-04 16:03] #10419 closed

[2018-06-04 17:23] tcheng001 commented on #10370
@smboser  mark "in dev"
I created a new vsite and found that Shield widget is still placed in the header.  I believe that @Bilsi doesn't want to have the widget in layout of a **new** vsite, but we still keep the widget in the widget bar.
![screen shot 2018-06-04 at 1 17 49 pm](https://user-images.githubusercontent.com/2111600/40931782-513616c0-67fa-11e8-9ecf-d1060e1537fa.png)

[2018-06-04 17:36] Bilsi commented on #10370
@tcheng001 - As per @smboser and my conversations above, we decided to leave it in then layout for Harvard (since it was too complicated to take it out), though it should not be available at all for other installs

[2018-06-04 17:51] tcheng001 commented on #10379
I had tested all citation styles. No more double periods ".." or "?." is showed in the title of citation.  Just ignore the scenario https://github.com/openscholar/openscholar/issues/10379#issuecomment-392802974,  mark "Fixed"

[2018-06-04 17:54] #10379 closed

[2018-06-04 18:29] tcheng001 commented on #10370
Mark "Fixed"
1. Shield widget works as before in Harvard installs.
2. Shield widget is placed in the header of layout by default in Harvard installs.
3. Need to test again in cognizant.theopenscholar.com (non-harvard install) after this fix is released to production.

[2018-06-04 19:22] #10370 closed

[2018-06-04 19:32] Bilsi commented on #10415
@tcheng001 to test in prod

[2018-06-05 08:28] arijeetbannerjee commented on #9919
@dancabral

All strongarm variables has been moved to hwpi module - modules\harvard\hwpi\hwpi.strongarm.inc

Let me know if you need any further changes.

Thanks
Arijeet

[2018-06-05 12:02] smboser commented on #10420
@Bilsi This use case has been fixed. I have checked for both actual delete and delete request events in dev.scholar. But still I can see a redirection issue in one use case. If user request a delete for a vsite from a different vsite. (e.g. user is in sitename.com/t1 and placing delete request for site /t2)
It is for https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/f

[2018-06-05 13:22] Bilsi commented on #10420
@smboser - we can ignore that use case, if everything else works, please put it in review

[2018-06-05 19:18] tcheng001 commented on #10420
Mark "Fixed"
1. make the site deletion request from home page and redirect to the vsite's home page
2. make the site deletion request from other pages of the vsite and redirect to the vsite's home page
![screen shot 2018-06-05 at 3 13 45 pm](https://user-images.githubusercontent.com/2111600/40997631-5f51178a-68d3-11e8-82ce-f860f821a780.png)

[2018-06-05 19:18] #10420 closed

[2018-06-05 19:54] dancabral opened #10423 "Content import feature - bugs: page and link content types"
@smboser there seems to be a couple of import feature bugs related to the page and link content types.

Link content
To repro - go to the admin menu - Site Content > Import > Link. Click the Download a template link.
After importing, this path /cp/content will display a bunch of empty rows under title.
![screen shot 2018-06-05 at 3 50 31 pm](https://user-images.githubusercontent.com/867075/4099941

[2018-06-06 00:12] #10415 closed

[2018-06-06 00:39] dancabral commented on #9919
@arijeetbannerjee I removed some duplicate strongarm vars https://github.com/openscholar/openscholar/commit/733120f95680f9963536e5a026257b86fc038c9e from hwpi.strongarm.inc as they already existed in some of your previous work. I also swapped some of the var names in the tpl file. 1) can you please review what I did? , and 2) we want to have the privacy link in the template footer for each school.

[2018-06-06 01:29] dancabral opened #10424 "Replace support modal content"
@smboser the plan here is to replace the contents of the support modal.
![support-modal](https://user-images.githubusercontent.com/867075/41010771-897a54b6-6907-11e8-9c00-2e693480f464.png)

with this markup. also can we add another strongarm var? note its location below in the mailto. the value can be stored here openscholar/modules/harvard/hwpi/hwpi.strongarm.inc
[code]

[2018-06-06 08:33] smboser commented on #10424
@dancabral @Bilsi It is done. I have kept the strong arm variable in os_help module as it will not get the value if I keep it in hwpi module and for a non-harvard site.
![image](https://user-images.githubusercontent.com/14976596/41026536-6ef414fc-6992-11e8-9811-1cc51e246edf.png)

[2018-06-06 12:45] tcheng001 commented on #10370
Not working in non-harvard install. I create a new vsite but Shield widget still show up in layout.
![screen shot 2018-06-06 at 8 41 53 am](https://user-images.githubusercontent.com/2111600/41038889-b9f1d1e2-6965-11e8-836a-f1c3699ac753.png)

[2018-06-06 13:48] arijeetbannerjee commented on #10418
Hi @Bilsi

There seems to be an issue with the zip file (srtlight_20140926.-.v3.zip) which you are trying to upload. When I extract the zip file I get the following files -

1. css [Folder]
2. js [Folder]
3. README.md
4. screenshot.png
5. srtlight.flav
6. strlight.zip

#6 in the list is causing the issue, you can use the **strlight.zip** or remove it from the folder and convert the folder to a zip

[2018-06-06 14:05] smboser commented on #10370
@rbran100 / @mpetrovic I can see OS Shield module is enabled in-spite of one of its dependency is disabled. As per the coding, I had removed the "OS Shield" module dependency from openscholar.info and it worked in my localhost. Is there any other any place from which "OS Shield" is being enabled during installation?

[2018-06-06 14:43] arijeetbannerjee commented on #9919
@dancabral I have made some changes to the following file - /os_landing_page/includes/frontpage.inc
This is the page from where the variables are passed to the template page. You can add more variables if you need.

Let me know if you need any help.

Thanks
Arijeet

[2018-06-06 14:45] Bilsi commented on #10418
[Astronomy-master3.zip](https://github.com/openscholar/openscholar/files/2076750/Astronomy-master3.zip)
If you go to scholar.harvard.edu/bilsi, i have uploaded the startlight theme that i attached earlier.
Can you try replacing it with this theme? It does not work.
The user had originally complained about not being able to update a theme

[2018-06-06 15:00] rbran100 commented on #10370
If OS Shield was already enabled before the code push then removing the dependency will not disable it, we would need a install hook or to disable it manually in prod.  I would do the latter since a install hook will impact non-harvard installs.

[2018-06-06 15:06] Bilsi commented on #10370
Disable os_shields for existing non-harvard installs for it to work. New installs will have it disabled by default

[2018-06-06 17:27] tcheng001 commented on #10423
@smboser
1. I have just double-checked the issue.  Link import is good.  This is only user error.  Please skip it.
2. Page import totally fails - please fix it.

[2018-06-06 17:30] Bilsi commented on #10423
@smboser - Link.csv - the template file seems to have empty rows which imports empty links to the site. Can you confirm and if yes, remove the empty rows from the template

[2018-06-06 18:46] dancabral commented on #10424
@smboser this looks good. when youre on any cp page (ex. cp/content) the Save Close buttons appear at the bottom of the modal. Can we remove them? thanks!
![removeformbuttons](https://user-images.githubusercontent.com/867075/41058671-629c2ee6-6998-11e8-9478-900fc4a8f4dc.png)

[2018-06-06 19:11] mpetrovic commented on #10393
Writing down my thoughts before I forget them again:
1. Open imagecrop field
2. Upload a file, there is one file (original)
3. Crop it, save form, there is two files (original (cropped, referred), and original_0 (full))
4. Open imagecrop field again
5. Replace via filename, there are two files (replaced (cropped, referred), and replaced_0 (full))
6. Save form, there are three files (replaced (crop

[2018-06-06 19:33] tcheng001 commented on #10366
@mpetrovic
In Harvard install,
1. harvard shield is showed in Profile Settings - that is correct.
<img width="919" alt="screen shot 2018-06-06 at 3 24 58 pm" src="https://user-images.githubusercontent.com/2111600/41060488-d344ad80-699d-11e8-8f09-4166f8c0eaf8.png">

2. harvard sheild is rendered correctly in /people page.
![screen shot 2018-06-06 at 3 26 46 pm](https://user-images.githubusercontent

[2018-06-06 19:48] rbran100 opened #10426 "Subdomain Proccessing on TheScholr"
Fix thescholr code so that if a subdomain is part of another full domain pointing to the site it will not match.

Ex. SUBDOMAIN.somecustomdomain.com where it would normally load at SUBDOMAIN.thescholr.com

Also keep the subdomain from activating if the site also has a custom domain, and redirect to that domain.

[2018-06-06 19:48] #10393 closed

[2018-06-06 19:52] rbran100 commented on #10426
PR above introduces the changes here as well:
https://bitbucket.org/openscholar/thescholr/commits/94b711f8c4ec1da7476fde99e15b5209bdfde989

[2018-06-06 20:02] mpetrovic commented on #10366
@tcheng001 Fixed

[2018-06-06 20:04] tcheng001 commented on #10366
One more issue:
if a user set the default image in Profile Settings, then the image will show up in small size in listing. That is correct. However,  the profile image is also small (75x75 pix) in full node view (landing page). That is not good.  The image should be (180x220 pix).

[2018-06-06 20:09] dancabral commented on #10424
@smboser is the mailto variable different from the others we've been using? the goal is to store it in the hwpi module with a default of support@theopenscholar.com. Further, we need to be able to store school specific email addresses in a school specific module using an address like mit-support@theopenscholar.com. https://github.com/openscholar/openscholar/issues/10424#issuecomment-394988325

[2018-06-07 07:28] smboser commented on #10424
@dancabral I have changed the email id.
If os_help is not a harvard specific module and I move this strongarm to hwpi, then the email id will be blank for non-harvard installs (as hwpi will be disabled there).

[2018-06-07 07:58] t6nis opened #10428 "How to add a custom link to Vertical admin panel under Appearance?"
I'm using Scholar 3.86 version and i would like to add a custom link under Appearance in toolbar.
I did found some admin tree in file OSRestfulMenu.class.php but when i modified it, the link does not appear. I tried to clear caches etc..

[2018-06-07 10:33] smboser commented on #10424
@Bilsi It is a strongarm variable but I set it in os_help module. What I wanted to say is that, if we disable hwpi module then it will not work if I place it there. Last time when I separated header, footer then we tested that by switching hwpi module ON and OFF. If you remember footer and header were totally blank when we switched off hwpi module. Same will happen here for this variable. Please l

[2018-06-07 10:56] #10426 closed

[2018-06-07 13:27] mpetrovic commented on #10428
Use hook_cp_menu to define new menu entries for that menu. To clear it, you need to clear the delete it from the localstorage of your browser.

[2018-06-07 13:55] mpetrovic opened #10429 "Lingering preset issues"

[2018-06-07 15:17] dancabral opened #10430 "Fix link your Harvard Key to Your OS Account screen"
![screen shot 2018-06-07 at 10 38 59 am](https://user-images.githubusercontent.com/867075/41109235-8398be82-6a44-11e8-85ab-52015a525ce9.png)

[2018-06-07 15:58] dancabral commented on #10430
changes in pinserver repo https://github.com/openscholar/pinserver/commit/3e276378a90f97f49344e75e595c6799873332ed

Should now see
![screen shot 2018-06-07 at 10 38 59 am](https://user-images.githubusercontent.com/867075/41111510-2624f8e6-6a4a-11e8-9de5-9d07c2cc4c2f.png)

[2018-06-07 19:56] #10429 closed

[2018-06-07 20:05] mpetrovic commented on #10366
@tcheng001
Fixed

[2018-06-07 22:15] bkosborne opened #10432 "Google Analytics event tracking doesn't work"
The [documentation](https://help.theopenscholar.com/google-analytics) indicates that google analytics event tracking is automatically enabled, but that's not the case as seen here: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_ga/os_ga.js

The JS code checks if event tracking is enabled in the JS config data, but the config data its trying to access

[2018-06-07 22:17] bkosborne commented on #10432
This has probably been broken since the google analytics settings has moved to the new angular settings forms. The old form had lots more config options, like a toggle to turn on/off event tracking. But the new form doesn't include those config toggles.

[2018-06-08 00:07] Bilsi opened #10433 "Scrolling issue"
https://ailab.hms.harvard.edu/research - can't scroll down on this page, can you see what is causing it

[2018-06-08 00:36] Bilsi commented on #10433
@smboser - I have uploaded the new projects DB for you to look into this

[2018-06-08 11:53] tcheng001 commented on #10366
work as expected. Tested on harvard install
1. all profile image size is 75x75 in listing
2. all profile image size is 180x220 in full node view (landing page)
3. harvard shield is default image for all vsites unless an image is entered as the vsite's default image by users. That means each vsite can have its own default profile image.

[2018-06-08 15:36] tcheng001 commented on #10430
Where is the fix?    https://github.com/openscholar/pinserver/commit/3e276378a90f97f49344e75e595c6799873332ed
Not in PR 10430?

![screen shot 2018-06-08 at 11 29 43 am](https://user-images.githubusercontent.com/2111600/41167117-01ec4f26-6b10-11e8-9c30-0fad52f2e155.png)

[2018-06-08 15:58] arijeetbannerjee commented on #10423
@Bilsi

I am working on this issue. I have checked the empty rows, however that is not the root cause for content type "page" import failure. I am further checking the internal function calls and will update you with the progress as soon as possible.

Thanks
Arijeet

[2018-06-08 20:40] Bilsi commented on #10423
@arijeetbannerjee - Can you please get this resolved by Monday, it is a critical issue

[2018-06-08 20:52] #10366 closed

[2018-06-08 21:36] Bilsi opened #10434 "Twitter question"
if I tweet the homepage( https://geoengineering.environment.ha...), I do not get a logo.
However, If I tweet an interior page (https://geoengineering.environment.ha...), I do get the logo. I do not see the Twitter card image print in the head of the homepage. Any help is greatly appreciated.

Do you know why we see this discrepancy?

[2018-06-10 11:15] smboser commented on #10423
@Bilsi It is fixed for the pages which doesn't have any parent page i.e. not a sub page. Being the same category, template page.csv will work fine (parent page column needs to be blank like the template). As it is a priority one, you can push this for now. Meanwhile from Monday we will check for the sub page uploading issue.
It was newly added in commit https://github.com/openscholar/openscholar/c

[2018-06-11 14:44] arijeetbannerjee commented on #10423
@Bilsi

As discussed, the root cause of the issue is - 'os_pages_feeds_processor_targets_alter' hook is not getting triggered. This has been used while changing the code for #10254 (the commit mentioned by Subhramalya above) on April 19.

Thanks
Arijeet

[2018-06-11 15:31] Bilsi commented on #10434
http://trial.theopenscholar.com/faculty - the twitter image does not show. The site logo is populated in this one too

[2018-06-11 17:22] #10430 closed

[2018-06-11 20:27] #10423 closed

[2018-06-12 11:51] smboser commented on #10424
@dancabral The observation https://github.com/openscholar/openscholar/issues/10424#issuecomment-395173844 is fixed.
![image](https://user-images.githubusercontent.com/14976596/41288733-024e8bca-6e65-11e8-9d5b-7663669b2d11.png)
PR #10425 has been updated for review.

[2018-06-12 13:54] smboser commented on #10433
@Bilsi The problem is due to wrong placement of slideshow widget. That JS enabled widget should be placed in content block in layout instead of menu block like the home page. If we place the slideshow in content block then it will work normally.
![image](https://user-images.githubusercontent.com/14976596/41294483-c48e9300-6e75-11e8-9841-cba7cba1ec20.png)

Please let me know if this placement is in

[2018-06-12 15:47] #10434 closed

[2018-06-12 15:54] rbran100 commented on #10364
@smboser Users didn't like being CC'ed on these emails.  In the 2 cases where you added the site owner to the CC can we insetad add the reply-to header with their email address.

This will allow us to send from the correct email and have them reply to the site owner if needed.

ex. $message['params']['headers']['Reply-To'] = 'site.owner@mail.com';

[2018-06-12 15:57] Bilsi commented on #10433
@smboser - Checking with the user

[2018-06-12 18:27] #10433 closed

[2018-06-12 19:39] Bilsi commented on #10418
@zolhorvath - https://scholar.harvard.edu/bilsi/cp/appearance#overlay=bilsi/cp/appearance/add-subtheme/zip - You have access to this site in prod. If you login and try to upload the file attached here -https://github.com/openscholar/openscholar/issues/10418#issuecomment-395094538

It is a custom theme, our users who want custom themes upload their themes this way, but it is broken. Can you please

[2018-06-13 11:06] smboser commented on #10364
@rbran100 The changes are made. A new PR (#10437) for the change request is created for review.

[2018-06-13 14:18] rbran100 commented on #10310
#10414

[2018-06-13 14:19] rbran100 commented on #10160
#10414

[2018-06-13 14:58] tcheng001 commented on #10364
@smboser
I haven't gone through all scenarios yet.  But I found one issue (not regression) in the email content when a user sends a email to site owner through contact form.
![screen shot 2018-06-13 at 10 51 57 am](https://user-images.githubusercontent.com/2111600/41359423-7960dcb6-6ef8-11e8-84f2-75712c1eacb9.png)
![screen shot 2018-06-13 at 10 55 22 am](https://user-images.githubusercontent.com/2

[2018-06-13 15:37] smboser commented on #10417
@rbran100 I can see the issue in Prod, but when I am trying the same in lower (https://dev.hwpi.harvard.edu/mcz/search/site/Scott%20Edwards?solrsort=%20&f%5B0%5D=bundle%3Aperson) I can't see the same result and that restricting me to find out the solution as well. Is it possible to refresh a lower with the same prod data where solr search is working.

[2018-06-13 15:48] smboser commented on #10364
@tcheng001 As discussed it was a case for anon user. I have made the change and checked. I will search for such cases here.

[2018-06-13 16:08] Bilsi commented on #10364
@smboser - thanks. Moved it to dev while you make the change

[2018-06-13 18:55] tcheng001 commented on #10364
Test | Description | Test result
------------ | ------------- | ------
-- | send email through the link in Site Info widget (logged-in user) | PASSED
-- | send email through the link in Site Info widget (anon user) | PASSED
-- | register an event | PASSED
-- | event broadcast  | PASSED
-- | event's date change | PASSED
-- | event's place change | PASSED
-- | event cancel  | PASSED
-- | create a ne

[2018-06-14 11:02] smboser commented on #10364
@Bilsi @rbran100 As per https://github.com/openscholar/openscholar/issues/10364#issuecomment-391785490 mail ids need to be altered for the cases where system was using custom From address. Basically there were two scenarios 1) contact site owner and 2) register event (its also mentioned in the issue title).
For changing role etc. system is not using custom email id as From address. Do I need to ma

[2018-06-14 12:24] tcheng001 opened #10440 "Mailing list widget: No email is sent to the subscriber"
Tested on https://scholar.harvard.edu/tcheng8
case 1) For logged-in user
After entering all required info in the mailing list form and clicking Subscribe,  the system shows a message "Thank you for subscribing to our mailing list. You will receive an email to confirm your subscription shortly." but the subscriber never receive the email.

I also notice that the fields are still filled after I clic

[2018-06-14 13:44] tcheng001 commented on #10364
For adding an existing user, changing the role and removing a member, the mail header looks like this. If CC is not our concern in these scenarios, then we are all set.
<img width="554" alt="screen shot 2018-06-14 at 9 36 51 am" src="https://user-images.githubusercontent.com/2111600/41415552-d3fd47f4-6fb6-11e8-9ef5-f1087114c790.png">

[2018-06-14 13:53] #10364 closed

[2018-06-14 14:08] Bilsi commented on #10414
@arijeetbannerjee -  any updates on this?

[2018-06-14 14:34] arijeetbannerjee commented on #10414
@Bilsi

I have changed the PHP version to PHP 7 on my local install. The first issue which I am facing is the an "500 Internal Server Error". As the error can occur due to multiple reasons, I am trying to figure out the root cause. I will keep you updated with the progress.

Thanks
Arijeet

[2018-06-14 16:33] Bilsi opened #10441 "Image showing up as a link errror"
https://hilt.harvard.edu/speaker_series - example

[2018-06-14 16:55] Bilsi commented on #9919
@arijeetbannerjee - is this done from your end? If yes, can you place it in review?

[2018-06-14 17:07] rbran100 commented on #10441
@tcheng001 to test this you need a HTML box with a file entry in the box for a file that has been deleted.  You should then try and add a new image in place of the deleted image and confirm that it ends up in the widget.

@mpetrovic this will fix the fatal errors and makes it easy to fix the broken files.  However I suspect there may be an issue with imagemagick taking up too much time that causes

[2018-06-14 19:33] tcheng001 commented on #10441
@rbran100  Mark "Fixed"
I can't reproduce the exact issue like the one in  https://hilt.harvard.edu/speaker_series
![screen shot 2018-06-14 at 3 12 59 pm](https://user-images.githubusercontent.com/2111600/41432942-76b25c36-6fe5-11e8-8b85-99aae0823ab6.png)

In my test site in production, after an image file is removed from /cp/content/files,  the image becomes a broken place holder in the WYSIWYG i

[2018-06-14 19:34] #10441 closed

[2018-06-15 07:31] smboser commented on #10424
PR #10425 has been updated for review.

[2018-06-15 07:36] zolhorvath opened #10443 "Undefinded constans: vsite_get_vsite in os_common module"
Because of this, `vsite_get_vsite()` wont be called ever in the `os_common.module`.
(Follow-up for #10418)

High prio.

[2018-06-15 07:54] arijeetbannerjee commented on #9919
@Bilsi

I have completed everything from my end. However, @dancabral was working on the design part so I kept it "in dev" status.

Once @dancabral completes the design part, I have to do a round of testing as some more variables were introduced in the template during the design phase.

Let me know if you have any query.

Thanks
Arijeet

[2018-06-15 10:47] #10443 closed

[2018-06-15 12:55] tcheng001 opened #10445 "Term count is incorrect in Faceted Taxonomy"
Here is an example: https://projects.iq.harvard.edu/gmwgroup/publications
the faceted taxonomy widget shows only 14 results for "PHYSICAL ORGANIC SCIENCE", but the standard taxonomy widget shows 33. The user had tried to re-index the site, but still can't get the correct term count in faceted taxonomy widget.

![screen shot 2018-06-15 at 8 48 52 am](https://user-images.githubusercontent.com/211160

[2018-06-15 14:59] tcheng001 commented on #10424
@smboser   I only see Training Videos. Missing Help Desk Support.  Am I missing something?
Mark "Pending"
![screen shot 2018-06-15 at 10 49 09 am](https://user-images.githubusercontent.com/2111600/41474851-158d6bac-708b-11e8-9a51-a2bdbddb8514.png)

[2018-06-15 16:50] tcheng001 commented on #10424
ran
[code]
cleared drupal and varnish cache

Still not seeing Help Desk Support

[2018-06-15 18:29] tcheng001 commented on #10424
Look good. Mark "Fixed"
![screen shot 2018-06-15 at 2 26 41 pm](https://user-images.githubusercontent.com/2111600/41483702-29e78b74-70a8-11e8-836c-bbd321d371f0.png)

1. Submit A HELP DESK ticket button works as expected.
![screen shot 2018-06-15 at 2 28 50 pm](https://user-images.githubusercontent.com/2111600/41483777-7d43b82e-70a8-11e8-9eee-597f7856502c.png)

2. Browse Videos button works correct

[2018-06-15 19:11] #10424 closed

[2018-06-15 19:12] Bilsi opened #10446 "Remove extra support variables"
os_support_mail: support@theopenscholar.com
os_support_mail_to: ithelp@harvard.edu

Extra support variables seem to be lingering in the code.
Can we get rid of them and use os_support_email instead ?

[2018-06-15 19:41] #10446 closed

[2018-06-18 09:15] zolhorvath opened #10447 "Site creation email content: the site url is incorrect"

[2018-06-18 10:13] zolhorvath opened #10449 "Undefined index: und in os_metatag_pattern_alter()"

[2018-06-18 10:27] smboser commented on #10445
@Bilsi I have checked all the lower environments but Solr search is working on none of those. So, I couldn't exactly replicate the issue in lower. Is it possible to provide one lower environment where Solr search is working (need to complete the indexing) ?

[2018-06-18 12:06] tcheng001 commented on #10445
@smboser   dev.scholar is the only lower env hooked up Solr.  I have started to index all content. It will take at least 30-45 minutes to complete if everything goes smooth. Will let you know.

[2018-06-18 12:55] Bilsi opened #10451 "Doc url broken in prod"
Login to scholar.harvard.edu/bilsi and click on help --> documentation. You see the screen below

<img width="844" alt="screen shot 2018-06-18 at 8 54 25 am" src="https://user-images.githubusercontent.com/11841641/41537023-3e0374fe-72d5-11e8-8dba-d49b59c24e9b.png">

If you login to https://dev.scholar.harvard.edu/test3
and go to the doc menu, you will see that it should look like below

<img width

[2018-06-18 13:02] tcheng001 commented on #10445
@smboser   Indexing on dev.scholar is done.

[2018-06-18 13:52] tcheng001 commented on #10447
Not working as expected when I tested on dev.hwpi.harvard.edu
I created a new vsite with name "torman_test_999". But in the mail notification, the url of the new site is shows as "https://dev.hwpi.harvard.edu/https://dev.hwpi.harvard.edu"
![screen shot 2018-06-18 at 9 48 56 am](https://user-images.githubusercontent.com/2111600/41540006-224126b4-72dd-11e8-9568-01d0173cc142.png)

[2018-06-18 16:37] zolhorvath commented on #10447
Could you pls re-check this without the patch?

[2018-06-18 16:48] tcheng001 commented on #10447
Just created this vsite (https://dev.hwpi.harvard.edu/torman_test_998) on SCHOLAR-3.x
The site's URL is correct in mail content
<img width="759" alt="screen shot 2018-06-18 at 12 47 39 pm" src="https://user-images.githubusercontent.com/2111600/41550123-d61a851e-72f5-11e8-81dd-858537b7e732.png">

[2018-06-18 18:02] zolhorvath commented on #10447
Thanks!

[2018-06-18 18:57] tcheng001 opened #10452 "List of Posts widget (publication): Miscellaneous type shows up in Journal Article"
Here is the issue: https://scholar.harvard.edu/tcheng10/publications
The first widget in the right side bar is the List of Posts widget (Publication : Journal Article).
The third post is not a journal article.  It should not show up there.  I also notice something odd. In the vsite, there are 7 miscellaneous posts. But only "My Miscellaneous 101" shows up in the widget.

![screen shot 2018-06-18 a

[2018-06-18 19:57] Bilsi commented on #10417
@smboser - It should work on dev scholar now

[2018-06-19 07:45] smboser commented on #10445
Thanks @tcheng001, I am now able to complete the re-indexing process in dev.scholar.
I have tried to replicate the scenario with some keywords (as I don't have the exactly same site in lower). But every time after completing the indexing, both the taxonomy and faceted taxonomy counts are same (under given condition). The difference is observed only when indexing was not completed successfully.

So

[2018-06-19 13:05] tcheng001 commented on #10445
@smboser   Sure, we will check it soon.

[2018-06-19 13:37] Bilsi commented on #10417
@smboser - Can you create a PR to change the weight and we will see if we can find a way to QA it,
i understand that you would not have unit tested it because of Solr issues

[2018-06-19 13:38] jrbecart opened #10453 "OpenScholar with docker"
Hello,

Can you provide more information on how to use the docker-compose version of openScholar.
I couldn't find any help on the website or in the wiki.

I can run the environment but I couldn't install openScholar on it.
Do I need a previous working version to copy over? (files and sql?)
Also in docker-compose.yml in the php -> volumes section the following folders are not existing anywhere:
- .

[2018-06-19 14:14] tcheng001 commented on #10417
@smboser   I can reproduce the issue in dev.scholar.harvard.edu/tcheng8.
if searching -  scott edwards, we got this
![screen shot 2018-06-19 at 10 08 07 am](https://user-images.githubusercontent.com/2111600/41602718-7939f3f2-73a9-11e8-9c76-3ab28407b5bb.png)

If I click Person from Filter By Post Type showed from the image above, I got this not nice result back - Scott V. Edwards is not listed on t

[2018-06-19 14:16] Bilsi opened #10454 "Delete request from Openscholar creates a service now from "Chunlei Tang""
https://github.com/openscholar/openscholar/issues/9688

Looks like this issue is back, but this time when a user sends a site deletion request , the customer in service now is Chunlei Tang
INC02758269

[2018-06-19 14:17] smboser commented on #10417
Thanks @tcheng001, I will work on that.

[2018-06-19 19:28] Bilsi commented on #10414
@arijeetbannerjee - @mpetrovic  will be looking into this

[2018-06-19 19:41] Bilsi commented on #10445
cron job was broken, fixing it

[2018-06-19 20:17] Bilsi opened #10455 "Bug in linking OS account with harvard Key"
Users who login to OS using key, are prompted with a screen to link their account.
The screen used to earlier have an option to create a new account and then link it.

![image001](https://user-images.githubusercontent.com/11841641/41621965-2a316938-73dc-11e8-9da1-4d99002f6c9f.png)

[2018-06-19 20:34] Bilsi commented on #10455
Not a bug

[2018-06-19 20:34] #10455 closed

[2018-06-19 20:46] Bilsi opened #10456 "Read more showing up on Profiles when it should not"
A user emailed us today
"I’m having an issue with content displaying correctly on a custom ‘People’ page that I created for my site (https://adminops.fas.harvard.edu/about-people).

I am using the ‘Lists of Posts’ widget to display people in a certain order (associate dean, senior management, etc.).  However, for two of the widgets, the content in the Person bio is not displaying correctly.  See t

[2018-06-19 22:12] tcheng001 commented on #10445
Mark "Fixed"  Look good now.  Checked the top three terms.  The counts are the same showed in the ordinary taxonomy widget.
![screen shot 2018-06-19 at 6 11 57 pm](https://user-images.githubusercontent.com/2111600/41626959-4a30a374-73ec-11e8-9536-62435888656e.png)

[2018-06-20 01:07] #10445 closed

[2018-06-20 10:22] smboser commented on #10456
@Bilsi Change has been made.
![image](https://user-images.githubusercontent.com/14976596/41652814-d409a7ca-74a1-11e8-8bb5-d3d655fa1c94.png)

PR #10457 has been created for review.

[2018-06-20 11:07] smboser commented on #10417
@rbran100 @Bilsi I checked the weight solr search weight but for title field maximum possible value is already assigned.
After investigation I found the issue is because of this ticket https://github.com/openscholar/openscholar/issues/9986. For only person type search result it is sorted by the last name. I have created a test PR (#10458) and reverted back the change and now I can see it is coming

[2018-06-20 13:27] rbran100 commented on #10417
@smboser the last name sort param should not be added when the sort is set to relevancy, instead it should only apply when the sort is by title.  Can you change it so that it works this way?  Thanks

[2018-06-20 13:45] zolhorvath commented on #10451
Possibly related to [#10424](https://github.com/openscholar/openscholar/issues/10424)

[2018-06-20 15:21] tcheng001 commented on #10447
Look good now.  Mark "Fixed"
Tested on harvard install (dev.hwpi)
<img width="782" alt="screen shot 2018-06-20 at 11 19 55 am" src="https://user-images.githubusercontent.com/2111600/41667819-e4ca7240-747b-11e8-881d-b2d0c18e9dff.png">

Need to test on thescholr.com and cognizant.com after this fix is pushed to production.

[2018-06-20 15:42] #10447 closed

[2018-06-20 19:54] tcheng001 commented on #10456
@smboser    Could you please take a look on dev.projects ?  I am not able to log in after I copied DB from production, and then did something ...     Can't remember all the steps I did.

[2018-06-21 10:02] smboser commented on #10456
@tcheng001 It is ok now, you will be able to login in dev.projects.
![image](https://user-images.githubusercontent.com/14976596/41712507-50658dea-7568-11e8-895b-71371900417d.png)

[2018-06-21 14:03] smboser commented on #10456
I am checking it.

[2018-06-21 15:43] tcheng001 commented on #9919
@arijeetbannerjee    after deployed to dev.scholar,  it fails to run
` drush @projects.dev cc all `
[code]
Can you take a look on it? The command runs successfully on SCHOLAR-3.x.   Mark "Pending"

For QA information only:
Tested on dev.scholar.harvard.edu.  It looks like the same as production.
![screen shot 2018-06-21 at 11 31 01 am](https://user-images.githubusercontent.com/2111600/41729360-02d

[2018-06-21 17:40] Bilsi commented on #9919
@tcheng001 - fixed the conflict, it dev projects is all set with this branch, cache has been cleared too

[2018-06-21 17:51] tcheng001 opened #10459 "Embed media widget doesn't show content in Accordion widget"
the issue is originally reported in https://employers.ocs.fas.harvard.edu/post-job
If you click the title [Tips for Harvard Parents and Alumni],  you will see the content only when you are in Safari.  It failed to display in Chrome, Firefox and Opera.
![screen shot 2018-06-21 at 1 45 44 pm](https://user-images.githubusercontent.com/2111600/41736145-a8494056-7559-11e8-943a-fcfc804bcb5c.png)

Using

[2018-06-21 17:55] Bilsi commented on #10418
@zolhorvath - Having trouble uploading the file below
[srtlight_20140926 - v3.zip](https://github.com/openscholar/openscholar/files/2124758/srtlight_20140926.-.v3.zip)

You can go to Appearance --> themes on scholar.harvard.edu/bilsi and upload the zip file attached here

[srtlight_20140926 - v3.zip](https://github.com/openscholar/openscholar/files/2124766/srtlight_20140926.-.v3.zip)

It does not

[2018-06-21 17:55] mpetrovic commented on #10414
Messages on Install:
* Deprecated function: The each() function is deprecated. This message will be suppressed on further calls in _drupal_shutdown_function() (line 3788 of C:\Users\mpetrovic\git\os7\web\includes\bootstrap.inc).
* Deprecated function: Methods with the same name as their class will not be constructors in a future version of PHP; ctools_context has a deprecated constructor in requir

[2018-06-21 17:57] Bilsi commented on #10459
@smboser - but again on my site scholar.harvard.edu if you change that widget position to the 2nd, it will not display data.

[2018-06-21 18:13] Bilsi commented on #10451
@zolhorvath - no it isn't related to #10424 since that only replaces the content in the support modal, not in documentation.

[2018-06-21 19:07] tcheng001 commented on #10456
@smboser   Just want to clarify the issue a bit.   Some people posts just show "Read more" but no short bio in the  List of Posts widget - it is incorrect.

[2018-06-21 19:10] tcheng001 commented on #9919
Mark "Fixed"

Tested on dev.projects.harvard.edu.  The home page looks like the same as in production. That is correct.
<img width="2902" alt="screen shot 2018-06-21 at 2 43 26 pm" src="https://user-images.githubusercontent.com/2111600/41739050-e389e9ce-7561-11e8-9db2-4806903c3d42.png">

Tested on dev.hwpi.harvard.edu/home. The home page looks like the same as in production. That is correct.
![scr

[2018-06-21 19:48] Bilsi commented on #9919
@tcheng001 - let us QA after release on the test install

[2018-06-22 08:15] smboser commented on #10417
@tcheng001 I have checked multiple times but it seems ok. I am suspecting one area, if you check the search result without login after switching the branch then it may show you the old result pulling from cache (for anon user). So, could you please clear the cache after switching the branch and check once again.

W/o login after clearing cache.
![image](https://user-images.githubusercontent.com/14

[2018-06-22 10:06] zolhorvath commented on #10451
Issue caused by #10424, see the PR

[2018-06-22 10:09] zolhorvath commented on #10418
Transliteration issue maybe?

[2018-06-22 10:21] zolhorvath commented on #10418
Tried on head 1240547e7ff0cd758ee918cf6541ab254571cf98.

Works for me: I'm able to upload the provided theme, set it as default theme and see the modifications of the theme.

<img width="1280" alt="screen shot 2018-06-22 at 12 15 39" src="https://user-images.githubusercontent.com/9197058/41771818-9d1687c6-7616-11e8-8b72-966ea2817f80.png">

@Bilsi could you please tell me the git head of `scholar.h

[2018-06-22 11:04] tcheng001 commented on #10417
Order looks good now in dev.scholar.harvard.edu/tcheng8/people.
![screen shot 2018-06-22 at 6 42 01 am](https://user-images.githubusercontent.com/2111600/41772639-69fc5f0c-75e7-11e8-9c22-9273e3718874.png)

@smboser    Tested people ordering for a term of a faceted and an ordinary taxonomy in another site dev.scholar.harvard.edu/tcheng10/people
The order of listing for the term ("blue") of faceted

[2018-06-22 11:43] Bilsi commented on #10418
@zolhorvath - SCHOLAR-3.90 is in prod now and the tag deployed is 3.90.11

[2018-06-22 11:47] zolhorvath commented on #10418
Thanks!

[2018-06-22 13:38] Bilsi commented on #10418
@zolhorvath - Did you try updating the existing theme with this zip - though neither worked for me

[2018-06-22 13:41] zolhorvath commented on #10418
I don't really have any idea what's happening on the live site; and I'm unable to reproduce the issue locally, neither on HEAD, not on tag SCHOLAR-3.90.11 (29cc92a447)

[2018-06-22 13:48] zolhorvath commented on #10418
Updating seems to be broken

[2018-06-22 13:52] Bilsi commented on #10418
@zolhorvath - ok thanks, can you look at updating? I will check the adding theme functionality again

[2018-06-22 15:45] tcheng001 commented on #10451
Looking good.  Mark "Fixed"  Tested on dev.hwpi.harvard.edu
![screen shot 2018-06-22 at 11 43 55 am](https://user-images.githubusercontent.com/2111600/41785763-93e46dda-7611-11e8-92ab-c8950a3dfe7b.png)

[2018-06-22 16:19] #10451 closed

[2018-06-22 18:31] mpetrovic commented on #10414
Oh, thank you. I saw CodeSniffer earlier, saw that it was about code style and stopped looking. This'll be helpful

[2018-06-22 20:01] mpetrovic commented on #10414
Codesniffer results:
[compat-results.txt](https://github.com/openscholar/openscholar/files/2128985/compat-results.txt)

Our own code base is pretty clean. Contrib modules and libraries not so much, but that should mean the work will mostly be tracking down updated versions. Or if they don't have them, finding alternatives.

[2018-06-22 22:07] Bilsi commented on #9559
@zolhorvath - Don't do anything yet, let us talk about this task first

[2018-06-25 13:45] Bilsi commented on #10459
Note from the user - "On our live site, my coworker temporarily replaced the widget with an HTML widget so that it displays text in the meantime, but once this is fixed, we will make it the embedded media widget again (to avoid duplicating content that could be pulled in through the embedded media widget). " Wanted to note this in case you are wondering why it is now working in prod

[2018-06-25 14:10] tcheng001 commented on #10447
Tested on production:
1. hwp.harvard.edu
<img width="769" alt="screen shot 2018-06-25 at 10 09 46 am" src="https://user-images.githubusercontent.com/2111600/41855147-f11c0558-785f-11e8-9645-9003c56b3c80.png">

2. cognizant.theopenscholar.com
<img width="754" alt="screen shot 2018-06-25 at 10 08 44 am" src="https://user-images.githubusercontent.com/2111600/41855113-d14e5a14-785f-11e8-8b71-115d26b6e

[2018-06-25 14:43] Bilsi commented on #9919
@smboser - This code is in prod now and i set the school_primary_color variable to a value. The home page does not reflect the new template. What am i missing?
Can you also confirm that the below 3 variables are the only ones to be set on the home page?
path_to_logo
school_primary_color
os_support_email

[2018-06-25 16:02] Bilsi commented on #10417
@smboser - Any updates on this?

[2018-06-25 17:46] mpetrovic commented on #10414
Use of safe_mode in Feeds can be ignored. It only uses that INI directive in PHP 5.4 or lower.

[2018-06-25 18:03] mpetrovic commented on #10414
Opened an issue for EntityCache's create_function usage:
https://www.drupal.org/project/entitycache/issues/2981629

[2018-06-25 18:34] Bilsi opened #10461 "RSS events - not uploaded to firefox"
Go here - https://scholar.harvard.edu/bilsi/calendar/upcoming
and click on export --> rss
Do this is firefox and click on bookmark, bookmark this page

<img width="710" alt="screen shot 2018-06-25 at 2 30 26 pm" src="https://user-images.githubusercontent.com/11841641/41868596-858a9e60-7884-11e8-8d76-c55b4bdbd49a.png">

The anchor tag does not show up correctly and so the feed display is broken.
We

[2018-06-26 07:21] arijeetbannerjee commented on #9919
@Bilsi

Below are the list of variables to be set at **openscholar/modules/os_features/os_landing_page/includes/frontpage.inc** -

  landing_page_path_to_logo
  landing_page_school_primary_color
  landing_page_name_of_school
  landing_page_university_base_url
  landing_page_university_name
  landing_page_copyright_infring
  landing_page_site_access
  landing_page_site_privacy

Please ensure **os_l

[2018-06-26 09:51] zolhorvath commented on #10461
What you're seeing there is that the feed contains the title with a link, which is escaped.
If we remove the link from the feed item title, parsers will still provide it as a link, because the link target comes from the item link.

__AND:__

As I see, there is a major issue with the feed as well: it's a mix of atom and rss specifications.

If I remove the atom-specific things, the feed begins to w

[2018-06-26 10:19] zolhorvath commented on #10461
Jeah

So if i keep this feed inside the RSS 2.0 specification, I'll have some recommendations at [W3C validator](https://validator.w3.org/feed/check.cgi).
If I fulfill those as well, I get this message
``Sorry
An error occurred while trying to validate this feed.`` and Chrome wont parse the xml as a feed anymore.

(Any thoughts?.. What's your opinion?)

[2018-06-26 12:28] arijeetbannerjee commented on #10452
Hi @Bilsi

I have checked the code and restored scholar dump from 2nd May, 2018 to reproduce the issue in local environment, however the highlighted data is not present there. But, the issue is still replicating in https://scholar.harvard.edu/tcheng10/publications

From https://scholar.harvard.edu/tcheng10/publications -
![screencapture](https://user-images.githubusercontent.com/2111600/41556125-d

[2018-06-26 15:58] tcheng001 commented on #10418
@zolhorvath  moving to "in dev"
Before I upload subtheme, my test site looks like the following:
1. Header background color is black
2. Primary menu bar is red
![screen shot 2018-06-26 at 11 40 16 am](https://user-images.githubusercontent.com/2111600/41923680-11ff7012-7936-11e8-9eb0-7cd35f7440fb.png)

Then, I upload this zip https://drive.google.com/open?id=1uvULK0HA9u9_ze--DL-JBQtQLk_5tHPk
Both h

[2018-06-26 17:05] tcheng001 commented on #9919
1. Contact Support is a bad link
2. Get Started button is not working as expected

[2018-06-26 17:12] Bilsi commented on #9919
@arijeetbannerjee - please make this a priority and finish it by wed

[2018-06-26 19:31] rbran100 commented on #10417
@tcheng001 can you put steps in for @smboser to reproduce what you have in the right, since that may be difficult for him.

[2018-06-26 20:14] Bilsi commented on #10461
@zolhorvath - this is a higher priority than the upload theme issue

[2018-06-27 12:01] smboser commented on #10417
@tcheng001 As discussed, I am able to replicate the issue in /tcheng10 in dev.scholar. I am working on that.

[2018-06-27 13:53] Bilsi commented on #9919
QA in prod

[2018-06-27 13:57] tcheng001 commented on #10456
This is a subtle issue. I just revisited the production site ttps://adminops.fas.harvard.edu/about-people and removed the break from Andry McFall.  The original issue is gone. Thus, the issue is inconsistent.
<img width="1340" alt="screen shot 2018-06-27 at 9 54 19 am" src="https://user-images.githubusercontent.com/2111600/41978624-35e887e2-79f0-11e8-9469-b1cfddeca847.png">

[2018-06-27 14:14] smboser commented on #10456
@tcheng001 One thing I should have mentioned. There is a hook_update() in the PR, so you need to run the update to see the changes.

[2018-06-27 14:19] tcheng001 commented on #10456
@smboser Thanks. I know the update but I haven't tested anything yet.  Just double-checked the production and the issue is gone. So we want to hold off the fix for a while.  I have removed the breaks from the two posts the user reported the issue. Now, I can't see the issue anymore.  I have asked the user to confirm if the issue is gone.

[2018-06-28 07:16] smboser commented on #10417
@tcheng001 It is fixed now.
Screenshot from https://dev.scholar.harvard.edu/tcheng10/

![image](https://user-images.githubusercontent.com/14976596/42018879-150cb9ee-7ad1-11e8-8bba-2f8fcf26bac1.png)

-------------------------------------------------------------------------------------

Screenshot from https://dev.scholar.harvard.edu/tcheng8

![image](https://user-images.githubusercontent.com/149765

[2018-06-28 09:21] zolhorvath commented on #10418
Please provide instuctions what should happen if you try to upload an existing theme by a completely different one.

(Themes are identified by the file name of the flavor file, I suggest keeping that the same.)

Should I completely remove the previous files? What if the theme update is only a partial, and contains only a flavor and a screenshot update?

[2018-06-28 11:00] Bilsi commented on #10418
@zolhorvath - Yes, we would need to replace the existing theme with the new one, so actually remove the old one and replace it with the new uploaded theme

[2018-06-28 11:01] Bilsi commented on #10418
@zolhorvath - Is this ready for review?

[2018-06-28 11:03] Bilsi commented on #10459
@zolhorvath  If you go here - https://scholar.harvard.edu/bilsi and look at the accordion, the second one does not show. If you move the second accordion to the top, it displays the content. This does not happen everywhere, so i would recommend recreating the same accordion with the same content in your local site to debug

[2018-06-28 11:55] zolhorvath commented on #10459
@Bilsi, I should be able to reproduce the issue locally.

I need the exact steps to reproduce the issue: create a content type [something] add a [somethink], save, then you'll see that it doesn't work.

[2018-06-28 13:02] Bilsi commented on #10418
No, it would not show up on multiple sites, just the site it is loaded on

[2018-06-28 13:43] arijeetbannerjee commented on #10452
@Bilsi

As discussed, please find below the query to correct the data -

UPDATE `biblio` SET `biblio_type` = '129' WHERE `nid` = 583991 AND `vid` = 793991

[2018-06-28 15:39] tcheng001 commented on #10417
Mark "Fixed"
Tested on https://dev.scholar.harvard.edu/tcheng8/
Search "scott edwards" without quote -  ordering of result is good
<img width="1450" alt="screen shot 2018-06-28 at 11 19 55 am" src="https://user-images.githubusercontent.com/2111600/42043795-4cf6d788-7ac5-11e8-8af8-cfdc0e9a022a.png">

Filtered by Person  - ordering of result is good
<img width="1448" alt="screen shot 2018-06-28 at 1

[2018-06-28 17:49] #10417 closed

[2018-07-02 22:11] Bilsi commented on #10418
Asked the user to delete and upload the new theme and it worked

[2018-07-02 22:11] #10418 closed

[2018-07-03 15:23] Bilsi commented on #10461
@zolhorvath - Please leave the ticket assigned to you

[2018-07-03 16:19] tcheng001 opened #10468 "unable to access a replaced pdf file without a query string appending to the file's url"
Steps to produce:
1.  Log in  https://scholar.harvard.edu/files/tcheng10
2. go to Site Content -> Add -> Files
3. upload a pdf
4. click the file link
![screen shot 2018-07-03 at 12 15 22 pm](https://user-images.githubusercontent.com/2111600/42231903-d972e294-7eba-11e8-9a88-b9bee1cf6bbc.png)
5. go back to https://scholar.harvard.edu/files/tcheng10/cp/content/files
6. click the contextual link Edit

[2018-07-03 19:35] #10468 closed

[2018-07-05 14:53] Bilsi commented on #10452
delete every revision for that node that wasn't a Miscellaneous type, resaved the widget.

[2018-07-05 14:53] #10452 closed

[2018-07-05 14:55] #10456 closed

[2018-07-05 16:28] tcheng001 opened #10469 "Primary menu sticks on the top when the page scrolls down"
This issue only occurs in sites which use One Page / horizontal homepage layout themes.
Here is an example: https://hwpi.harvard.edu/torman
![screen shot 2018-07-05 at 12 27 53 pm](https://user-images.githubusercontent.com/2111600/42335629-f5cb04c2-804e-11e8-8358-2a9b0ac73c60.png)

[2018-07-06 18:10] #10469 closed

[2018-07-09 19:41] tcheng001 opened #10470 "+ sign is stuck in front of FAQ page's title"
Here is an example: https://mde.harvard.edu/faq
The site uses the one page theme - Kirkland.  Also, the issue only happens in public view. You won't see it after you logged in
![screen shot 2018-07-09 at 3 38 54 pm](https://user-images.githubusercontent.com/2111600/42472218-8a0b785a-838e-11e8-8105-36af51e19965.png)

[2018-07-09 19:56] Bilsi commented on #10470
@stamina84 - this only happens on this site, we have not been able to replicate it on any other site. I will upload the latest projects DB in dropbox (this is a site in the projects install), if you can download it and try and replicate it locally to find out the issue, that would be a good way to start.
You can also login to this site in prod using the credentials i emailed you if you want to loo

[2018-07-10 14:31] mpetrovic opened #10471 "Recreate FAQ App"
Recreate the FAQ App in Drupal 8. Configuration should be exported into a os_faq module.

**Fields:**
* [x] Question ( title )
* [x] Answer ( text area )
* [x] Files ( media )

**Unique Features:**
* [x] Answer, Files are hidden by default.
* [x] Clicking on Question will expand Answer and Files. Clicking on Question again will hide them.

**Standard Features:**
* [x] List all FAQ with a View
* [

[2018-07-10 15:45] Bilsi commented on #10470
cache clear fixed it

[2018-07-10 15:45] #10470 closed

[2018-07-11 09:50] stamina84 commented on #10471
For managing files i will use core media module

[2018-07-11 12:38] tcheng001 commented on #10459
Look good. Mark "Fixed"
1. Content displays correctly no matter where EM3 is placed in the accordion widget.
2. Accordion widget works as before
3. Check in both Chrome and Firefox
![screen shot 2018-07-11 at 8 31 17 am](https://user-images.githubusercontent.com/2111600/42571499-5b0436c0-84e5-11e8-8958-5bda505ce429.png)

[2018-07-11 13:21] #10459 closed

[2018-07-11 16:45] tcheng001 opened #10473 "Publication citation: need a space between year of publication and title"
This issue only occurs in American Sociological Association bibliographic format.
![screen shot 2018-07-11 at 12 42 03 pm](https://user-images.githubusercontent.com/2111600/42587203-0a966564-8508-11e8-910b-469a5d70cd08.png)

<img width="883" alt="screen shot 2018-07-11 at 12 43 54 pm" src="https://user-images.githubusercontent.com/2111600/42587254-1ba74e54-8508-11e8-8a3e-5b104642f22e.png">

@stami

[2018-07-11 20:13] mpetrovic opened #10474 "Recreate or replace dyntextfield module"
This module is very old and will need major reworking for Drupal 8:
https://www.drupal.org/project/dyntextfield

If there is an alternative, use it. Otherwise, create it for Drupal 8.

Currently is used in os_publications for the Publication node.

[2018-07-12 15:32] tcheng001 opened #10475 "Publication citation: page number is duplicated in Book Chapter"
The issue occurs only in the citation format (Chicago Manual of Style 16th (author- date))
Here is an example: https://scholar.harvard.edu/tcheng/publications/patterns-dynamic-multilevel-governance-and-insider-outsider-coalition

![screen shot 2018-07-12 at 11 28 57 am](https://user-images.githubusercontent.com/2111600/42643471-343a11c6-85c7-11e8-82de-58dadf0dc1e4.png)

[2018-07-12 16:59] tcheng001 commented on #10461
Mark "Fixed"
https://dev.scholar.harvard.edu/tcheng6/calendar/upcoming/all/rss.xml
Looking good when the rss link
1) placed in Firefox
<img width="1266" alt="screen shot 2018-07-12 at 12 55 25 pm" src="https://user-images.githubusercontent.com/2111600/42647755-e33651de-85d2-11e8-91a8-f1887efdfa60.png">

2) placed in a rss reader (like, theoldreader.com)
<img width="1304" alt="screen shot 2018-07-1

[2018-07-12 17:13] #10461 closed

[2018-07-18 13:40] tcheng001 opened #10477 "Event registration: Event organizer's email address should be the one (From) in the Settings"
When OS sends out email to registrants. it uses "swap@lists.hmdc.harvard.edu" in the email content. That is confusing.  It should use the one in the From field in the event's setting page.
![screen shot 2018-07-18 at 9 22 21 am](https://user-images.githubusercontent.com/2111600/42884388-34d95034-8a6c-11e8-89dc-d65b26e23d1a.png)
![screen shot 2018-07-18 at 9 23 25 am](https://user-images.githubuser

[2018-07-18 17:49] Bilsi opened #10478 "Add site owner's email in cc on site deletion"

[2018-07-18 17:52] rbran100 commented on #10478
also verify that by default they come to os.inc, except where overridden for Harvard

[2018-07-19 12:51] tcheng001 commented on #10478
The owner's email address is listed in [To] field, not [CC] field.

![screen shot 2018-07-19 at 8 48 19 am](https://user-images.githubusercontent.com/2111600/42943457-d1f2bbe8-8b30-11e8-9815-ed355a87833d.png)

[2018-07-19 14:30] Bilsi commented on #10023
@mpetrovic - what should be the content of the _colors.sass file?

[2018-07-19 14:49] tcheng001 commented on #10478
It works now,
1. the requestor (site owner) will get a copy of the email regarding site deletion request.
2.  the requestor's (site owner) email address is listed in CC field in the description of SNOW ticket.
![screen shot 2018-07-19 at 10 43 53 am](https://user-images.githubusercontent.com/2111600/42949833-b4b91f6c-8b40-11e8-8d24-f06b502d0ce5.png)

[2018-07-19 14:56] tcheng001 commented on #10478
Mark "Fixed"

[2018-07-19 14:57] mpetrovic commented on #10023
It should look like this:
https://github.com/openscholar/openscholar/blob/1fbae41886b165e9dea5338056448144d3c1c42a/openscholar/modules/harvard/os_style_override/sass/_colors.sass

Some effort should be spent documenting what each of those colors are used for in a template, for our future designers' sanity.

[2018-07-19 15:15] #10478 closed

[2018-07-20 14:04] mpetrovic commented on #10475
Ready for QA, but have some questions for clarification.

[2018-07-20 14:18] tcheng001 commented on #10473
Mark "Fixed"
1. Now, there is a space between year of publication and the title in American Sociological Association
![screen shot 2018-07-20 at 9 45 16 am](https://user-images.githubusercontent.com/2111600/43005716-b384d480-8c01-11e8-829e-1ff4b99bc460.png)

2. Compared the following formats in both dev and production.  No regression is found.

Test case | Test in bibliographical format | Test res

[2018-07-20 15:50] tcheng001 commented on #10475
@herczogzoltan  Still seeing the issue in https://dev.scholar.harvard.edu/tcheng10/publications.  Can you take a look?
![screen shot 2018-07-20 at 11 47 04 am](https://user-images.githubusercontent.com/2111600/43011939-f6676126-8c12-11e8-9b4f-c7b26501286a.png)

[2018-07-20 15:57] #10473 closed

[2018-07-20 18:15] tcheng001 commented on #10477
[admin@example.com] is showed in mail content if I didn't change the event organizer email address in Settings form.
![screen shot 2018-07-20 at 1 19 57 pm](https://user-images.githubusercontent.com/2111600/43016093-bd340fdc-8c1f-11e8-8e11-5e064ff02a00.png)
However, the default email is "swap@lists.hmdc.harvard.edu" in the form
![screen shot 2018-07-20 at 1 16 52 pm](https://user-images.githubuser

[2018-07-23 10:51] sgoin opened #10482 "Openscholar installation."
while setting up Openscholar for my institution, i got the error "sorry, the profile you have chosen cannot be loaded. help

[2018-07-23 12:07] sgoin commented on #10482
OK | Web server | Apache/2.4.10 (Debian)
-- | -- | --
OK | PHP | 5.6.36-0+deb8u1
OK | PHP register globals | Disabled
OK | PHP extensions | Enabled
OK | Database support | Enabled
OK | PHP memory limit | 128M
OK | File system | Writable (public download method)
OK | Unicode library | PHP Mbstring Extension
OK | Open Scholar files private |  
The private files directory is defined properly.
OK | Se

[2018-07-23 12:43] stamina84 commented on #10477
Finally find out where is the logic of default value and refactored to a new function, i'm pushed the solution, please review it

[2018-07-23 13:04] Bilsi opened #10483 "reCaptcha - Add anti-spam check"
https://www.drupal.org/project/recaptcha

We need anti-spam mechanism in these places
1. Login page - forgot password
2. Event registration - when visitors register to an event
3. Send email to site owner

Right now, we use honeypot which uses a hidden field which gets populated only by bots that use scripts. The way it confirms that the user is not a spam is because the hidden field value is empt

[2018-07-23 18:12] tcheng001 commented on #10477
@stamina84
Registrants get a email with correct content (the event organizer's email address set in Settings page) in event confirmation -- that is good.
![screen shot 2018-07-23 at 1 54 25 pm](https://user-images.githubusercontent.com/2111600/43094176-33f34c7a-8e80-11e8-882f-5ebbf4a6f205.png)

But there are still 3 scenarios, in which we need to fix the email address as well.
1.  when the event's

[2018-07-24 11:57] stamina84 commented on #10477
Thanks for feedback, i fixed these scenarios.

[2018-07-24 14:55] stamina84 commented on #10483
1. Done, and do some form alter fixing
2. I've tried 2 patches, but it doesnt work yet, tomorrow i will consult with my collegue what next
https://www.drupal.org/files/issues/2493183-71-ajax-support.patch
https://www.drupal.org/files/issues/2018-05-31/2493183_ajax_support_98.patch

[2018-07-25 09:03] stamina84 commented on #10483
I apply the second patch, and do some enchance to work modal popup validation, so it looks good now.

I dont place secret/site key in code, so this needs to manually config at recaptcha admin pages /admin/config/people/captcha/recaptcha

[2018-07-25 13:01] tcheng001 commented on #10475
Mark "Fixed"

Chicago Manual of Style 16th edition (author-date)
<img width="821" alt="screen shot 2018-07-25 at 8 24 45 am" src="https://user-images.githubusercontent.com/2111600/43200671-3f7e4a6c-8fe4-11e8-8943-464af6d3e7ce.png">

Checked Book Chapter with all 18 bibliographic styles

Test case | Bibliographical Styles | Test reslut
------------ | ------------- | --------
-- | American Chemical

[2018-07-25 13:51] #10475 closed

[2018-07-25 13:52] Bilsi commented on #10483
@stamina84 - yes, we will add it while testing. Thanks

[2018-07-25 14:50] tcheng001 commented on #10477
Look good for single event.  The email address is showed correctly (same as the value in Event Organized email field) in all four following scenarios.
1. registering an event
2. changing event's date
3. changing event's place
4. cancellation of an event

@stamina84   Sorry. I didn't mention this case in the ticket's description.
For recurring event.  The event organizer email address doesn't show