[2016-03-15 20:20] #8109 closed

[2016-03-16 08:25] digitalpiku commented on #8110
@tcheng001 @Bilsi Case B can be replicated if varnish cache is not cleared before this test. Can you confirm that varnish cache was cleared before this test?
![image](https://cloud.githubusercontent.com/assets/4848039/13805994/bd024824-eb7e-11e5-8bc9-579e32599981.png)

[2016-03-16 10:25] digitalpiku commented on #8132
@Bilsi After setting up publication node with same data, I couldn't replicate the same in my Dev environment.
![image](https://cloud.githubusercontent.com/assets/4848039/13809169/6c4e7446-eb8f-11e5-9fe4-8944e9d0d120.png)
Am I missing something?

[2016-03-16 10:57] digitalpiku commented on #8138
PR #8145 has been created for review.
![image](https://cloud.githubusercontent.com/assets/4848039/13810096/034b757a-eb94-11e5-9338-6529a7d83288.png)

[2016-03-16 11:29] digitalpiku commented on #8140
@dancabral Need to add pinterest and instagram logo in this sprite: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_boxes/plugins/os_boxes_follow/misc/follow_icons.png

[2016-03-16 12:23] RoySegall commented on #7964
I added the endpoint to get the information on the user but something is working as expected. I'll keep check it.

[2016-03-16 13:10] #6620 closed

[2016-03-16 13:11] Bilsi commented on #8132
@rbran100 - I am able to reproduce this issue
http://scholar.harvard.edu/tcheng2/publications?admin_panel=1

But Anish isn't

[2016-03-16 13:42] RoySegall commented on #8028
I'm comparing it against an stable version.

[2016-03-16 14:00] RoySegall commented on #8028
Not exists. I took a clean version and when i'm focusing the tinymce it's get bigger but when i'm blurring the tinyMCE the size does not change.

[2016-03-16 14:18] rbran100 commented on #8110
@digitalpiku I did some more debugging it looks like "Anyone with a link" is cached in the same way as "public on the web".
So can we clear the cache when we switch the privacy in ALL cases except toggling between invite only and Harvard.

@tcheng001 I was able to reproduce caching issues, when I visit a public page, then mark it private the public is still available. The above change will fix tha

[2016-03-16 14:30] dancabral commented on #7909
The value in the width field doesnt seem to be getting passed to the iframe. At least when using a google map.
![screen shot 2016-03-16 at 10 22 54 am](https://cloud.githubusercontent.com/assets/867075/13815719/0b3ba26e-eb62-11e5-95a8-295a982c7956.png)
![map-1000px](https://cloud.githubusercontent.com/assets/867075/13815725/10867514-eb62-11e5-88b9-06a89cc5d481.png)

[2016-03-16 14:34] tcheng001 commented on #8106
@dancabral
We need some works here.  The PR is merged to 3.x.  You need to unlink your HUID from your OS account.
![frist_time_logging_in_with_huid](https://cloud.githubusercontent.com/assets/2111600/13815432/e59686f6-eb60-11e5-9fb9-4e9daf35573a.png)

@rbran100
After the fix, a user logged in with his HUID  but not finish "link account".
Case 1:  if he goes to  user/login page, then he would see t

[2016-03-16 15:05] rbran100 commented on #8106
@tcheng001 It should, I updated the code to fix this in 8106-login-pin

[2016-03-16 15:25] rbran100 opened #8147 "Slow DB Queries"
http://fairbank.fas.harvard.edu/calendar SV list has some very slow queries.

The count query.
[code]

And then the query to get the values.
[code]

Both take 20 seconds each sometimes. Can you take a look and see if you can find any way to optimize the queries.

[2016-03-16 15:29] rbran100 commented on #8147
![screenshot 2016-03-16 11 28 24](https://cloud.githubusercontent.com/assets/651318/13817897/46f71f06-eb6a-11e5-99eb-1b739cf48171.png)

[2016-03-16 15:39] mpetrovic commented on #8147
The only thing I can see is this seemingly extraneous WHERE condition:

(field_data_field_date_delta_sv_list_events.delta =
field_data_field_date_delta_sv_list_events.delta)

I don't know what effect it has on performance, but it looks to be
unnecessary to the output.

The queries are the same, just one is wrapped in a COUNT clause. If we
could find a way to cache the result of the subquery intern

[2016-03-16 17:02] dancabral commented on #8140
@digitalpiku ok so you just need me to add the 2 icons? pinterest and instagram? Is there a branch for this?

[2016-03-16 17:05] tcheng001 commented on #8138
Look good. Mark "Fixed"
1) Checked all three installs.  "Term of use" is removed from the footer.
2) Not seeing "Term of use"  in site register form
3) Site register form works as usual

[2016-03-16 17:10] Bilsi commented on #8136
@mpetrovic - Please check the PR for #8037 once you finish this task

[2016-03-16 17:20] dancabral commented on #8028
@RoySegall does this help?
User created markup
<div style="border-radius:3px;background-color:#CCC;">Rounded Corners</div>

This is what was saved in the db
<div style="background-color:#CCC">Rounded Corners</div>

[2016-03-16 17:23] #8138 closed

[2016-03-16 18:40] tcheng001 commented on #8106
It is working as expected.  Just need some CSS work on the "Fist Time Logging ...." page.  See previous comment.  Mark "Pending"

Assuming a user hasn't linked his Harvard Key (HKey) to OS user. After she uses her HKey to log in. she should see 3 options:
![screen shot 2016-03-16 at 2 22 08 pm](https://cloud.githubusercontent.com/assets/2111600/13824281/b339006c-eb83-11e5-88c2-7eb89dda81a4.png)

O

[2016-03-16 19:05] rbran100 commented on #8106
Moving this ticket to phase @dancabral

[2016-03-16 19:10] mallove commented on #7982
This issue spun off into two unrelated issues, but the primary issue should be resolved in https://github.com/openscholar/openscholar/pull/8044.

[2016-03-16 19:28] mpetrovic commented on #8037
This is separate from the work I'm doing in #8136. There might be conflicts with #7776, but nothing major.

[2016-03-16 19:31] dancabral opened #8148 "Add hwp services bullet to scholar.harvard.edu"
We should add a bullet to the scholar.harvard.edu page mentioning hwp services. Faculty looking for addtional help can consult with HWP CS team. Heres a stab at it.
<img width="998" alt="schol-blurb" src="https://cloud.githubusercontent.com/assets/867075/13826100/31a95ec6-eb8c-11e5-8b7f-4f42849865a0.png">

[2016-03-16 19:47] rbran100 commented on #8132
@digitalpiku It was a specific to the copy paste data:
Garys site had:
[code]
Instead of
[code]

[2016-03-16 19:54] #8067 closed

[2016-03-16 20:25] tcheng001 commented on #7982
This is what I see in 3.x.   Those links (Replace, Edit and Remove) are wrapped and Replace is a bit higher than other two links.
![screen shot 2016-03-16 at 4 24 25 pm](https://cloud.githubusercontent.com/assets/2111600/13827563/9694b2ca-eb93-11e5-9c8b-f4bb9ff702b8.png)

[2016-03-16 20:36] rbran100 commented on #8129
@digitalpiku There is an issue with the URL replacement code that you wrote for last release.
See:
https://github.com/openscholar/openscholar/pull/8021/files

The preg_replace is causing trouble with some URLs (ses 'zoomico' url line 30) in:
https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/custom/gking/perfect-scrollbar.js#L30

the preg_replace callback does not handl

[2016-03-16 20:37] rbran100 commented on #8129
Can you make your PR against the prod branch so that we can release a hotfix?

[2016-03-16 20:44] dancabral commented on #8148
![schol-blurb2](https://cloud.githubusercontent.com/assets/867075/13828124/54ccc406-eb96-11e5-8f9a-d6324945a9e8.png)

[2016-03-16 21:06] dancabral commented on #8120
@tcheng001 this is QA ready. you should now see a comma and a space between pub attached files.

[2016-03-17 05:05] digitalpiku commented on #8140
@dancabral Yes I need just those 2 icons to be added in the sprite, the branch is below:

https://github.com/openscholar/openscholar/tree/8140-instagram-pinterest-follow-me-widget

[2016-03-17 06:35] digitalpiku commented on #8110
@rbran100 I have updated PR #8121 with new logic for vsite cache clear functionality. Hope this time it will work :-)

[2016-03-17 07:42] digitalpiku commented on #8129
PR #8150 has been created for review, currently the base branch is SCHOLAR-3.x. Please let me know the path of production branch so that I can create another PR for hotfix.

[2016-03-17 11:23] digitalpiku commented on #8132
@Bilsi Still I am unable to replicate this, tried all the possible set of special characters related to replicate this but no luck.

[2016-03-17 12:55] RoySegall commented on #7743
For some reason the tests are failing because a file which cannot be loaded - https://travis-ci.org/openscholar/openscholar/jobs/116583173#L1505 - But i think i found a solution.

[2016-03-17 13:37] Bilsi commented on #8129
WIll test this in prod

[2016-03-17 14:55] tcheng001 commented on #7982
Still not working. moving back to "in dev"
"Replace" becomes "Repl..."
![screen shot 2016-03-17 at 10 53 03 am](https://cloud.githubusercontent.com/assets/2111600/13849996/a2e41462-ec2e-11e5-99c4-2e20642dfc51.png)

[2016-03-17 15:12] tcheng001 commented on #8120
@dancabral
Still not seeing the fix.  I did clear varnish, drupal caches and browsing data.
![screen shot 2016-03-17 at 11 11 44 am](https://cloud.githubusercontent.com/assets/2111600/13850611/11a530be-ec31-11e5-8b73-f1e1e08e6f53.png)

[2016-03-17 15:21] dancabral commented on #7981
@mallove Heres the screen shot that will repalce the video
![sociology-screen](https://cloud.githubusercontent.com/assets/867075/13850911/66ce079a-ec32-11e5-80cc-5cb577f96d19.png)

[2016-03-17 15:54] Bilsi commented on #7981
@mallove - Replace the text below the video with this
http://community.openscholar.harvard.edu/openscholar/topics/remove-the-openscholar-intro-video-from-all-installs#reply_16713943

[2016-03-17 18:17] dancabral commented on #8140
all set @digitalpiku. I added pinterest and instagram icons

[2016-03-17 18:18] Bilsi commented on #8117
Fixed

[2016-03-17 18:18] #8117 closed

[2016-03-17 20:09] mallove commented on #7982
#8151

[2016-03-17 21:08] dancabral commented on #8106
Ok @tcheng001 back to you for QA. the lightgreen color above should now be gone.

[2016-03-18 06:51] digitalpiku commented on #8140
@dancabral I have updated the PR with necessary code changes. Ready for review.

![image](https://cloud.githubusercontent.com/assets/4848039/13870690/fca7e1c4-ed03-11e5-934e-835089e607c0.png)

[2016-03-18 10:50] digitalpiku commented on #8110
@mpetrovic PR #8121 has been updated for review. A separate js (vsite_access.js) has been created.

[2016-03-18 12:42] tcheng001 commented on #8120
Look good. Mark "Fixed
![spacing](https://cloud.githubusercontent.com/assets/2111600/13878069/3a8039a2-ece5-11e5-9308-48bb7df01a71.png)
"

[2016-03-18 13:24] tcheng001 opened #8153 "UI Control Panel: Manage account page should not populate password"
![manage_account_page](https://cloud.githubusercontent.com/assets/2111600/13878954/22c31040-eceb-11e5-9fa3-970c337837c8.png)

[2016-03-18 13:40] #8120 closed

[2016-03-18 13:53] mpetrovic commented on #8153
Is this your browser filling it in automatically or is it the server?

[2016-03-18 14:14] tcheng001 commented on #8153
@mpetrovic    Yes, the browser fills it in.  Close this ticket.

[2016-03-18 14:14] #8153 closed

[2016-03-18 14:32] tcheng001 opened #8154 "UI Control Panel: Should hide some items from Content Editor and Basic User"
When logged in as a content editor or basic user, the user can see Menu, Appearance, Settings and Users & Roles.The user got Access denied when clicking them.
![hiding](https://cloud.githubusercontent.com/assets/2111600/13880851/a7fd2d96-ecf4-11e5-9a87-66fc8f0ee9a0.png)

[2016-03-18 14:40] dancabral commented on #8106
Heres the branch @tcheng001 fix-loginscreen_buttons

[2016-03-18 15:20] tcheng001 commented on #8106
@dancabral    I don't see the new fixes in the pr  fix-loginscreen_buttons.  Do you need to branch out from 8106-login-pin?
![log-in](https://cloud.githubusercontent.com/assets/2111600/13882326/5de3ca4c-ecfb-11e5-92f6-3523dd108ea7.png)

[2016-03-18 15:28] dancabral commented on #8106
@tcheng001 heres the fix in the pr https://github.com/openscholar/openscholar/pull/8156/commits/f13c9d2b9ec676863741e43ea3df03d28bda4b02

[2016-03-18 15:38] tcheng001 commented on #8106
@dancabral   see this comment https://github.com/openscholar/openscholar/issues/8106#issuecomment-197479408
we should see three blue bars after Richard's final fixes.

[2016-03-18 16:02] mallove commented on #8067
Remove the wrapping `<span>` element improves the alignment, e.g., so change this:

[code]

to this:

[code]
fixes the problem.

[2016-03-18 16:23] dancabral commented on #8011
all set for QA @tcheng001. the fix is in branch fix-taxo-nav-child-depth. four levels of children are now indented.
![screen shot 2016-03-18 at 12 10 51 pm](https://cloud.githubusercontent.com/assets/867075/13884387/2e9e43e4-ed04-11e5-8d93-a378a8170fde.png)

[2016-03-18 16:48] dancabral commented on #8106
ok @tcheng001 I moved my fix to branch 8106-login-pin. you should see it there. I'll delete branch  fix-loginscreen_buttons

[2016-03-18 17:50] tcheng001 commented on #8140
Mark "Fixed"
![instagram](https://cloud.githubusercontent.com/assets/2111600/13887046/2ab92e04-ed10-11e5-8f7a-4593326105a8.png)
![followme_instagram](https://cloud.githubusercontent.com/assets/2111600/13887104/64b9c7a8-ed10-11e5-81d6-6f30bbad0b17.png)

[2016-03-18 17:52] #8140 closed

[2016-03-18 18:08] dancabral commented on #8085
ready for QA @tcheng001. when the bottom region is used on non front pages, it should always be 100% wide--in HWP themes. see
![screen shot 2016-03-18 at 2 05 37 pm](https://cloud.githubusercontent.com/assets/867075/13887588/e4bc0a36-ed12-11e5-99d4-ac9c0c271f15.png)

[2016-03-18 19:22] #8011 closed

[2016-03-18 20:45] tcheng001 commented on #8110
work as expected.  Mark "Fixed"

case 1: Change from Public to Private (Invite only during site creation)
steps to test:
a) access http://dev.scholar.harvard.edu/tcheng3 as anon user
b) go to http://dev.scholar.harvard.edu/user/login
c) go to http://dev.scholar.harvard.edu/cp/settings page
d) change from Public to Private and save
e) access  http://dev.scholar.harvard.edu/tcheng3 in another browse

[2016-03-18 20:48] #8110 closed

[2016-03-18 21:29] dancabral commented on #8120
need to reopen this @tcheng001. the main pub page list view looks good
![screen shot 2016-03-18 at 5 26 52 pm](https://cloud.githubusercontent.com/assets/867075/13892604/e2ac2caa-ed2e-11e5-8053-8d03d9d891cd.png)
but it isnt working in a LOP
![screen shot 2016-03-18 at 5 28 08 pm](https://cloud.githubusercontent.com/assets/867075/13892610/ee5cf656-ed2e-11e5-8c90-d63cdbd2846a.png)

[2016-03-19 00:46] dancabral commented on #8148
@Bilsi heres a good starting point
![scholsite_homepgredesign](https://cloud.githubusercontent.com/assets/867075/13895530/766fe4b6-ed4a-11e5-8a37-4c4d54ba37b8.png)

[2016-03-20 15:40] dancabral commented on #8085
@tcheng001 is there a reason this is back in dev?

[2016-03-20 16:55] dancabral commented on #8120
.os_sv_list_box .node-biblio.node-teaser .field-name-field-upload .field-item:not(:last-child):after

[2016-03-21 09:51] digitalpiku commented on #8141
PR #8160 has been created for review.

[2016-03-21 13:02] digitalpiku commented on #8139
It differs from the above image thatI am getting in my browser.
![image](https://cloud.githubusercontent.com/assets/4848039/13919408/439c53d0-ef93-11e5-84b9-6f401b6f4bb2.png)

[2016-03-21 13:07] tcheng001 commented on #8106
Mark pending     @dancabral     Don't know why it dont see Richard's fixes on the First Time Logging screen.  That is the old one.   The new one has three bars.  See [this](https://github.com/openscholar/openscholar/issues/8106#issuecomment-197479408)
![screen shot 2016-03-21 at 9 06 04 am](https://cloud.githubusercontent.com/assets/2111600/13919489/2a3d76de-ef44-11e5-8707-e4f27fc66e36.png)

[2016-03-21 13:37] dancabral commented on #8139
Update to this tic. To clarify, the bug is that when display style is set to "Titles" there should not be any teaser content included in the markup. This includes the grey slider box below the title.
![teaser-markup](https://cloud.githubusercontent.com/assets/867075/13920264/8254d2be-ef48-11e5-8e3b-6fd1b641cbac.png)

[2016-03-21 14:03] tcheng001 commented on #8085
When the second column is empty, the bottom widget is pushed to the second column. Here is an example. This is the layout.
![screen shot 2016-03-21 at 9 57 54 am](https://cloud.githubusercontent.com/assets/2111600/13920852/6956bd06-ef4b-11e5-973c-b69eab0cbb59.png)
This is what you see in the page.
![screen shot 2016-03-21 at 9 59 02 am](https://cloud.githubusercontent.com/assets/2111600/13920888/9

[2016-03-21 15:08] mallove commented on #8043
Change this:

[code]

to this:
[code]
fixes the problem.

[2016-03-21 15:28] dancabral commented on #8106
@tcheng001 when you QA this can you view the source and tell me if you see “Create an OpenScholar site and account for my NUID” in the html anywhere. If you dont, it isnt a css issue and should perhaps go back to @rbran100. thanks.

[2016-03-21 16:10] dancabral commented on #8085
all set @tcheng001 this should work as expected now.

[2016-03-21 16:37] tcheng001 commented on #8106
@rbran100   Dont know what happens now. I dont see the second option ("Create an Openscholar site ...") anymore.
@dancabral   I have checked the page source, dont see the second option. Send back @rbran100

[2016-03-21 17:34] mpetrovic commented on #7979
No, we aren't. See Richard's comments in the PR about how this should be implemented.

[2016-03-21 17:39] mallove commented on #7981
Fixed: http://staging.scholar.harvard.edu/pages/help-center?admin_panel=1&login=1

[2016-03-21 17:50] mpetrovic commented on #7981
There's nothing to review. Why is this in review?

[2016-03-21 18:26] mallove commented on #7981
The content change takes this code:

[code]

... and changes it to this:

[code]

[2016-03-21 19:06] tcheng001 commented on #8141
Now, no phone is shown in the widget. However, name and title don't wrap the image an more.  is it OK? @dancabral
![screen shot 2016-03-21 at 3 03 20 pm](https://cloud.githubusercontent.com/assets/2111600/13930668/40f57a34-ef76-11e5-930e-52b5f6626ca8.png)

Both full post and title mode in Featured Posts widget work correctly.

[2016-03-21 19:52] tcheng001 commented on #7982
Moving back "in dev"
Still seeing the wrapping of Replace/Edit/Remove controls when I make the browser narrower, like this
![screen shot 2016-03-21 at 3 52 03 pm](https://cloud.githubusercontent.com/assets/2111600/13932087/e53ad4da-ef7c-11e5-9a3a-39b3fc84130b.png)

[2016-03-21 20:21] openscholar-admin opened #8161 "Can't "edit" files once they are uploaded."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cant-edit-files-once-they-are-uploaded)

**The Plan**

Resolve issue so that the "Please wait while we get information on your files" message doesnt persist--blocking a user from editing a file or adding a slideshow image, etc.

**Description**

I can't edit files on the project I ju

[2016-03-21 21:07] mpetrovic commented on #8161
@tcheng001
To test:
Reload page a few times and make sure nothing breaks. The error only occurred when there the cache system failed completely, which I've yet to reproduce reliably.

[2016-03-21 21:11] dancabral commented on #8085
back to QA @tcheng001. should work as expected now.

[2016-03-22 07:19] digitalpiku commented on #8139
@dancabral Thanks for the information, I was able to replicate it this time, PR #8163 has been created for review.

[2016-03-22 12:04] digitalpiku commented on #8137
PR #8164 has been created for review.

[2016-03-22 12:32] RoySegall commented on #8028
Not fully, I added the source through the source code plugin and I managed to prevent from the wysiwyg filter to remove the border-radius. I just need to see how our hooks can alter it.

[2016-03-22 13:15] RoySegall commented on #8028
I was needed to create a patch against the wysiwyg filter module.

[2016-03-22 14:03] RoySegall commented on #8028
Boom! Rounded corners: ![blog___john](https://cloud.githubusercontent.com/assets/1222368/13954018/a21617de-f047-11e5-9149-a4cc4c596d4f.png)

[2016-03-22 14:11] tcheng001 commented on #8085
@dancabral    Still not seeing the fix.  Could you take a look [here](http://staging.scholar.harvard.edu/tcheng6/testpage-created-basic-user) when you have a chance?   I leave the test env for you to investigate.

[2016-03-22 14:35] mallove commented on #7982
Fixed with this more specific CSS rule:

[code]

Note: `Replace` is not truncated to `Re...`

![img](https://lh3.googleusercontent.com/-s0IAYR4y44g/VvFX4Hz8gRI/AAAAAAAAADY/F7pfsbUAVXwuZRxVdEDOzeM3FXrRMz4jgCCo/s1024-Ic42/Screen%2BShot%2B2016-03-22%2Bat%2B10.04.52%2BAM.png)

[2016-03-22 15:12] tcheng001 commented on #8085
Tested on basic page layout
1 widget in left column + 1 widget in bottom section
1 widget in right column + 1 widget in bottom section
1 widget in left column + 1 widget in right column + 1 widget in bottom section
1 widget in left column + 2 widgets in right column + 1 widget in bottom section

Tested on front page layout
All three columns contain widgets - three widgets are rendered side by side

[2016-03-22 15:19] dancabral commented on #8085
so theres no confusion, this is the pr for this fix https://github.com/openscholar/openscholar/pull/8159

[2016-03-22 15:29] tcheng001 commented on #8161
Mark "Fixed"
Tested http://dev.projects.iq.harvard.edu/ocow  in both Firefox and Chrome
0) go to cp/content/files page
1) able to upload
2) able to edit uploaded file
3) refresh cp/content/files page
4) able to edit any existing file
5) refresh cp/content/files page
6) able to edit any existing file
7) able to upload

[2016-03-22 15:45] tcheng001 commented on #7982
@mallove
This is what I found out  a while ago -  upload/attach a file and move up the top of the list. The last exiting file will be detached.  Do we consider this issue as a separate issue?

[2016-03-22 16:11] openscholar-admin opened #8166 "When creating and saving a new page, users are not taken to that page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/when-creating-and-saving-a-new-page-users-are-not-taken-to-that-page)

**The Plan**

When creating Sub Pages in a section, it should take the user to the newly created page

**Description**

The normal behavior after creating and saving a new page you get taken to the new page on the

[2016-03-22 16:14] Bilsi commented on #8166
@digitalpiku - When we have pages in a section and the user creates a subpage and clicks save, it should take the user to the subpage created, not to the home page

![untitled](https://cloud.githubusercontent.com/assets/11841641/13958731/9a265e32-f027-11e5-9f11-f187a853ee60.png)

When the user created the sub page EEE and clicked save, it should take the user to the EEE page after saving. Right no

[2016-03-22 16:31] openscholar-admin opened #8167 "Full list of taxonomy terms is not pulled down"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/uploading-multiple-pdfs-unable-to-tag)

**The Plan**

Fix the bug so the client is aware of all taxonomy terms, rather than the first 50

**Description**

[http://hwpi.harvard.edu/hscrb](http://hwpi.harvard.edu/hscrb)

Building this site I uploaded multiple files / pdfs

I then creat

[2016-03-22 16:32] Bilsi commented on #8167
@mpetrovic - There is another bug - http://community.openscholar.harvard.edu/openscholar/topics/search-faceted-taxonomy-showing-old-vocabulary-name which may be related

[2016-03-22 17:31] #8085 closed

[2016-03-22 17:31] #8161 closed

[2016-03-22 17:35] tcheng001 commented on #8139
work as expected. Mark "Fixed"
If Display Style is set to "List of titles",  no toggling is available for FAQ post in featured widget
![screen shot 2016-03-22 at 1 16 56 pm](https://cloud.githubusercontent.com/assets/2111600/13961276/4d3b005e-f032-11e5-9c7a-ed9b2b549ba5.png)

If Display Style is set to "List of teaser",  user can click the title to slide open the main content of the post
![screen

[2016-03-22 17:49] Bilsi commented on #7982
@tcheng001 - i will open a separate ticket for that in community

[2016-03-22 18:05] tcheng001 commented on #7982
Mark "Fixed"

[2016-03-22 18:09] #7982 closed

[2016-03-22 18:16] rsasch commented on #8024
@Bilsi @rbran100 Book page content acts as expected with revisions except that the "Parent item" field, which is shown on the node edit form, does not get versioned; this means that you can't save revisions of book page hierarchy (outline).  Do you think this will be confusing to users?

[2016-03-22 18:19] #8139 closed

[2016-03-22 20:26] rsasch commented on #7909
@dancabral I was unable to replicate this issue.  If you still can, can you give me the steps you took?

[2016-03-22 21:05] dancabral commented on #8141
@digitalpiku any chance you can match the existing markup, and (as a featured post) not print some of the fields field-name-body, field-name-field-phone and field-name-field-email when the display style is set to sidebar teaser?

[2016-03-22 21:08] mpetrovic commented on #8167
@tcheng001

To test:
Make sure that sites with a lot of terms (> 50) can still use all of them.

[2016-03-23 13:15] RoySegall commented on #8028
We have size increase and decrease - ![increase_size](https://zippy.gfycat.com/PersonalBlondCockerspaniel.gif)

[2016-03-23 13:35] RoySegall commented on #8028
@Bilsi It seems that we have some issues with the radio buttons issue. We need for that a plugin we downloaded from the official ckeditor site but implementing it might be difficult.

[2016-03-23 14:10] mallove commented on #7977
The morphing button (it *morphs*, instead of minimizes) is from this [library](http://tympanus.net/codrops/2014/05/12/morphing-buttons-concept/comment-page-3/).

[2016-03-23 14:13] RoySegall commented on #8028
Iv'e looked in the ticket about comments and I saw @dancabral note:

I test it with this code:
[code]

And no alert were thrown. The question is how we can have a good UX for that one. I believe we should enable the source code widget.

[2016-03-23 14:29] tcheng001 commented on #8167
@mpetrovic
Now, I am able to tag the newly added terms of a vocab to files even though the vocab has contained more than 60 terms.

However, I found another issue.  A newly created vocab taxonomy not showing up in the file form
Steps to reproduce:
- open a file (say a pdf file) in cp/content/files and does nothing
- create a new vocab and some terms and set the vocab to be applied to "Document"
-

[2016-03-23 15:17] openscholar-admin opened #8169 "Access denied after logging in"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/access-denied-after-logging-in)

**The Plan**

Update the message in cases when if the user is logged in and still doesn't have access to a page

**Description**

User tries to access a private page on a site in which s/he is not a member of the site. The user sees the messages and t

[2016-03-23 15:32] Bilsi commented on #8028
Ô, Á, É, Í, Ñ, Ó, Ú, Ü - @RoySegall, @YaronMiro - Is it difficult to whitelist these? Please do not implement it yet, i just want to know how much time it will take

[2016-03-23 15:56] Bilsi commented on #8169
@digitalpiku - Please look at Dorian's suggestion in this ticket http://community.openscholar.harvard.edu/openscholar/topics/access-denied-after-logging-in#reply_16732811

That is what we want to implement here

[2016-03-23 16:18] openscholar-admin opened #8170 ""Authored by" in forms"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/_authored_by_in_forms)

**The Plan**

Change the label to be the same as in publications

**Description**

We've had feedback that "Authored by" is not understood by users. How about using "Created/Edited by" instead?

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1038299/ScreenShot2014-03-27at1.5

[2016-03-23 16:29] Bilsi commented on #8170
![3](https://cloud.githubusercontent.com/assets/11841641/13992475/a2a5978c-f0f2-11e5-8e70-7e0a589e371a.png)
![4](https://cloud.githubusercontent.com/assets/11841641/13992476/a2aab230-f0f2-11e5-9775-eaf5f723f652.png)

@digitalpiku - Please change the label "Authoring Information" and "Authored by" and "Authored on" labels to "Post Created/Edited By", "Posted by" and "Posted on" for all content type

[2016-03-23 21:14] rsasch opened #8171 "OS Reports buttons don't work in certain OS/browsers"
The "Download CSV" button on the site report form doesn't work in Chrome on the Mac and (possibly) all browsers on Windows.

[2016-03-24 09:08] digitalpiku commented on #8141
@dancabral PR #8160 has been updated for review. Fields were removed for sidebar_teaser view mode. Below is the screenshot from Dev environment.

![image](https://cloud.githubusercontent.com/assets/4848039/14012724/af665020-f1cd-11e5-8ad3-3c3b9504908c.png)

[2016-03-24 09:47] digitalpiku commented on #8170
@Bilsi PR #8172 has been created for review.

[2016-03-24 10:15] RoySegall commented on #8028
@Bilsi We are looking on the remaining work we have on the bullet widget and it's a lot of work. I think we should leave for now.

About implementing the white list we don't know for sure. I can start by estimating the in about 4 hours and see what's the progress.

I think we should test it for now with the current features because we have the widget working as it was with the tinyMCE.

[2016-03-24 10:32] RoySegall commented on #7964
@YaronMiro Take it form. Please try to figure out why the access token don't work good in the second request.

[2016-03-24 13:45] rsasch commented on #8024
After talking with @Bilsi: book pages will be included in the content types that can have revisions; the UI changed will need to make it clear that hierarchy changes are not included in revisions.

[2016-03-24 16:03] #8142 closed

[2016-03-24 19:53] mpetrovic commented on #8167
Finally figured it out. If one of the updates had more than one pages of results, it would resolve the last promise and not the one we were actually watching.

[2016-03-24 20:52] tcheng001 commented on #8167
Looks good.  Mark "Fixed"
1) Add new terms to a vocab which has contained 60 terms, the new terms are shown in the file form
2) Tag terms to a file as usual
3) Change a vocab's setting so that the vocab is applicable to document, then open a document file and tag the vocab's term.
4) Tag terms to another file types - working as usual
5) Upload a file and tag terms - working as usual

[2016-03-24 23:00] #8167 closed

[2016-03-25 09:23] digitalpiku commented on #8141
@mpetrovic PR #8160 has been updated for review.

[2016-03-25 10:41] digitalpiku commented on #8166
PR #8173 has been created for review.

[2016-03-25 13:20] openscholar-admin opened #8174 "Search faceted taxonomy showing old vocabulary name"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/search-faceted-taxonomy-showing-old-vocabulary-name)

**The Plan**

Search faceted taxonomy should showing updated vocabulary name

**Description**

I created taxonomy vocabulary, "fieldofstudy". Then changed it to "Field of Study".

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_

[2016-03-25 13:21] openscholar-admin opened #8175 "Taxonomy widget: Number of terms not showing up"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/taxonomy-widget-number-of-terms-not-showing-up)

**The Plan**

Number of terms should show correctly

**Description**

Here is the example:  No numbers showed next to the terms.

[http://hwpi.harvard.edu/online-access...](http://hwpi.harvard.edu/online-accessibility-huit/techniques/d

[2016-03-25 13:30] openscholar-admin opened #8176 "Tab Widget Resize border breaks"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/tab-widget-resize-border-breaks)

**The Plan**

Fix code that sets the width of figcaption tags. Currently its reading the width of the first image and using that to set the width of subsequent figcaption tags in a page.

**Description**

Hi. Depending on the size of yo

[2016-03-25 14:55] tcheng001 commented on #8137
Look good.  Mark "Fixed"
1) Files removed from a media gallery will stay in the vsite
2) Able to change files in media gallery as usual
3) Able to move files around in a media gallery
4) Media gallery works as usual

[2016-03-25 15:07] #8137 closed

[2016-03-25 15:35] tcheng001 commented on #8166
Mark "Fixed"
1) After creating and saving a new basic page, it is redirected to the page - not its parent page
2) page navigation works as before
3) also tested on book page - it is redirected to the newly created book page after the page is created.

[2016-03-25 16:32] tcheng001 commented on #8141
Mark "Fixed"

Go through all five Display types
1) Teaser
2) Sidebar Teaser
3) Title
4) Slide Teaser
5) No image Teaser

people post in Featured Posts widget looks similar to that showed in listing except the mode of "Slide Teaser" and "No image Teaser"

In "Slide Teaser" mode, there is an link "Full Profile" in listing
![screen shot 2016-03-25 at 12 28 21 pm](https://cloud.githubusercontent.com/a

[2016-03-25 16:32] #8141 closed

[2016-03-25 17:31] #8166 closed

[2016-03-25 17:37] #8031 closed

[2016-03-25 20:58] mpetrovic commented on #8148
Left comment on PR

[2016-03-28 06:35] RoySegall commented on #8028
@Bilsi Any new?

[2016-03-28 06:59] digitalpiku commented on #8170
@mpetrovic PR #8172 has been updated for review.

[2016-03-28 09:01] RoySegall commented on #7964
I got it! took me some time but I understood that because i had cookies issues i was recognised as anon. user. I created another host and now it working:
https://gfycat.com/BogusDeterminedCoati

What we got back is:
![developer_tools_-_http___localhost_openscholar_www_os_common_remote_authenticate](https://cloud.githubusercontent.com/assets/1222368/14074848/cfd6c3dc-f4dc-11e5-8a52-b5ae98c263a1.png

[2016-03-28 09:01] RoySegall commented on #7964
@rbran100 What else do we need to handle?

[2016-03-28 09:34] digitalpiku commented on #8169
@Bilsi PR #8178 has been created for review.

[2016-03-28 10:42] RoySegall opened #8179 "Docker integration"
What do you think about docker integration? We can have a docker for people who just want to to see what is OpenScholar without all the hustle of the installation.

Thought?

[2016-03-28 11:03] digitalpiku commented on #8176
PR #8180 has been created for review.

[2016-03-28 13:16] RoySegall commented on #7697
I tried it with and one of the dumps but i'll need to pull a new dump.

[2016-03-28 14:21] #8116 closed

[2016-03-28 14:22] Bilsi commented on #8116
@RoySegall - Let us address this later, when we redo the screens in angular

[2016-03-28 14:25] tcheng001 commented on #8169
Mark "pending"   @Bilsi
I am able to test these two scenarios and they look good.
1) when the user is not a site member
2) when the user is only a regular member and need to be admin to access the page

But I am unable to test when logging in via HarvardKey.  What happens now is the Admin Login button does nothing after I use HarvardKey to log in.
Steps to test:
Set the vsite visibility to "Harvar

[2016-03-28 14:29] openscholar-admin opened #8182 "Event Import Indigestion"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/event-import-indigestion)

**The Plan**

Fix code so that the user can import ical from one site to another

**Description**

While trying to import Events from one OS calendar (scholar.harvard.edu/mlewis) to another (http://projects.iq.harvard.edu/mlewis), the import i

[2016-03-28 14:32] Bilsi commented on #8182
@digitalpiku - Looks like the user is having trouble importing the ics file from one site to the other. I have emailed the ics file to you. It doesnt  break in every case. But this file throws an error. Also, this file just has past events and no upcoming events. It could also be that it has some special characters which it cannot parse. Please debug to narrow down the issue

[2016-03-28 15:16] tcheng001 commented on #8148
Look good.
1) "Go to your site" link works as usual - redirects to site registration page.
![screen shot 2016-03-28 at 11 15 20 am](https://cloud.githubusercontent.com/assets/2111600/14081027/70dd1cf6-f4d6-11e5-8ac2-bfb1880cfbc6.png)

2) The link "Engage Harvard Web Publishing" redirects to http://faculty.hwp.harvard.edu

[2016-03-28 15:20] mpetrovic commented on #8123
What requests can trigger this? @tcheng001 will need to know so he can test properly.

[2016-03-28 15:21] #8148 closed

[2016-03-28 16:12] tcheng001 commented on #8176
@dancabral
I am testing on http://dev.projects.iq.harvard.edu/lifesci/neurobio-contact-us

[2016-03-28 16:42] mallove commented on #7977
https://github.com/openscholar/openscholar/pull/8183

[2016-03-28 17:31] dancabral commented on #8176
All set for torman. should see this now.
![screen shot 2016-03-28 at 1 30 32 pm](https://cloud.githubusercontent.com/assets/867075/14084583/5e6679a6-f4e9-11e5-813f-23763d42e8c6.png)

[2016-03-28 18:06] tcheng001 commented on #8176
Look good. Mark "Fixed"

[2016-03-28 18:11] #8176 closed

[2016-03-29 08:50] digitalpiku commented on #8174
PR #8185 has been created for review.

[2016-03-29 10:15] RoySegall commented on #7697
@tcheng001 Can you give me a screen shot of your site? I pulled a DB and the site tcheng3 did not had a plugin on the right side bar.

[2016-03-29 10:17] digitalpiku commented on #8175
@Bilsi May I have a screenshot of the settings that two widgets have? In my development environment, I cannot replicate it. In widget settings, If post type is set as "Determine for Me", in that case, if currently viewing page do not have a term tagged with it, facet count will not be displayed.
![image](https://cloud.githubusercontent.com/assets/4848039/14104879/782a3594-f5c5-11e5-9ff8-77c018f635

[2016-03-29 10:42] digitalpiku commented on #8182
@Bilsi The ics file that I've got in email has no data inside it when I am opening it with notepad++. This should contain some data containing the information about the events. I had exported one ics file from my dev environment that contains 3 event nodes. Both files' encoding is ANSI.
[export_anish.zip](https://github.com/openscholar/openscholar/files/193264/export_anish.zip)
I have also checked

[2016-03-29 11:38] RoySegall commented on #7980
@Bilsi I tried start working on this issue an the menu simply does not appear. I enabled the menu and the  checked the checkbox and the small box appear and the menu simply not appear when click on the black box.

Any idea?

[2016-03-29 13:12] tcheng001 commented on #7697
@RoySegall   Obviously,  my data was wiped out when the DB in dev.scholar is replaced by that of production. I am trying to set up the data again on dev.scholar this morning.

[2016-03-29 13:16] mallove commented on #7977
Here is a validation test of [the menu state recalling it's most recent state](https://vid.me/glSL): https://vid.me/glSL.

[2016-03-29 14:13] tcheng001 commented on #8170
Look good.  Mark "Fixed"

[2016-03-29 14:14] rsasch opened #8186 "Link under "Comment Settings" doesn't work"
**Description**
In the "Comment Settings" fieldset for the blog content type, the link "Blog Settings" does not bring the user to the Blog App settings form.
![comment_settings](https://cloud.githubusercontent.com/assets/1713505/14111015/042aac74-f597-11e5-9914-b90e8dbbf0be.png)

[2016-03-29 14:29] rsasch commented on #8092
@tcheng001 Updates need to be run for this fix to show up.

[2016-03-29 14:39] dancabral commented on #7909
@rsasch if you go to http://dataverse.org/alt-homepage and try to edit the width of the map, the value isnt being passed. I have it set to 980, but it renders at 1000.
![screen shot 2016-03-29 at 10 37 33 am](https://cloud.githubusercontent.com/assets/867075/14111869/77a45aee-f59a-11e5-8f90-92a7353b582e.png)

[2016-03-29 15:06] mpetrovic commented on #8129
The fix didn't work. The aggregated js was unchanged.

[2016-03-29 15:09] mpetrovic commented on #8132
The only real issue I could find was with the special MS Word character ‘. If you had something like 'Soandso‘s paper', it would be converted to 'Soandso‘S Paper'.

The best way I've found to get this character is to open up MS Word, type it out a single apostrophe, and copy-paste that around.

[2016-03-29 15:21] #8170 closed

[2016-03-29 15:43] tcheng001 commented on #7888
Mark "Fixed"
Run update in the following scenarios successfully.
1)  Flag module is disabled.
2)  Flag module is enabled and bookmark link is visible to users.

In case 2):  the bookmark link is no longer visible to users after running the update.

[2016-03-29 15:45] mpetrovic commented on #8186
Assigned back to Dev.

[2016-03-29 15:49] tcheng001 commented on #8092
@rsasch   This is what i see after I click the report link from Admin menu.  Am I missing still something?
![screen shot 2016-03-29 at 11 48 00 am](https://cloud.githubusercontent.com/assets/2111600/14114205/25a076e2-f5a4-11e5-9d09-c9752a0031af.png)

[2016-03-29 16:04] rsasch commented on #8092
@tcheng001 That's what you should see if you do not have the "os report admin" role.  If you do, you should see a link to "Sites Report."

[2016-03-29 16:33] tcheng001 commented on #8092
@rsasch   I have double-checked the user "torman" who has been granted the role of "os report admin".
![screen shot 2016-03-29 at 12 31 29 pm](https://cloud.githubusercontent.com/assets/2111600/14115751/50aa34da-f5aa-11e5-9694-6d765cf68069.png)

[2016-03-29 16:42] rsasch commented on #8092
@tcheng001 For some reason, the OS Reports module was not enabled.  I've enabled it on dev.hwpi.

[2016-03-29 17:05] dancabral commented on #8175
@digitalpiku can you wait on this one? it doesnt appear to be a problem anymore. this is where the widget was not displaying the numbers http://accessibility.huit.harvard.edu/techniques/disabilities. I've reached out to the user to confirm for us. thanks.

[2016-03-29 17:05] tcheng001 commented on #8092
Mark "Fixed"
When logged in as a user who is granted the role of "os report admin",
1)  The user see access "Site Report" link in /admin/report page
2)  Site Report works as before
3)  Both report page and site report page are overlays now

[2016-03-29 17:17] #7888 closed

[2016-03-29 17:32] dancabral commented on #8182
@digitalpiku sorry for the delay on a clear plan. We're looking to do 3 things:

1. add a title attr with some text to the export href (on the /calendar page).
![past events-not-included](https://cloud.githubusercontent.com/assets/867075/14117275/efeffaaa-f5b1-11e5-9bfb-ed79715e6c3e.png)
2. If a user clicks one of the export link options and there are no events to export, print an error message an

[2016-03-29 17:52] #8092 closed

[2016-03-29 17:55] Bilsi commented on #8175
Not reproducible anymore

[2016-03-29 17:55] #8175 closed

[2016-03-29 18:01] tcheng001 commented on #8132
@mpetrovic
Now, the letter following a apostrophe would not be capitalized.  But a capital letter becomes small letter. Here is an example:
![screen shot 2016-03-29 at 1 57 03 pm](https://cloud.githubusercontent.com/assets/2111600/14118208/63752ffa-f5b6-11e5-91cc-901af55ef5ae.png)

![screen shot 2016-03-29 at 1 58 41 pm](https://cloud.githubusercontent.com/assets/2111600/14118219/85809968-f5b6-11e

[2016-03-29 18:44] openscholar-admin opened #8189 "Citation issues in ACS and MHRA format"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/citation-issues-in-acs-and-mhra-format)

**The Plan**

Fix the issues below in publications

**Description**

1) With American Chemical Society format, no publication title is shown in Book Chapter and Journal Article.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1380468

[2016-03-29 19:08] tcheng001 commented on #8174
Look good. Mark "Fixed"
1) After vocab and terms are changed, the changes would be showed in Faceted Taxonomy and Taxonomy widget right away.
2) Faceted Taxonomy widget works as usual
3)  Taxonomy widget works as usual

[2016-03-29 19:15] openscholar-admin opened #8190 "Custom roles cannot create links in rich-text editor"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/custom-roles-cannot-create-links-in-rich-text-editor)

**The Plan**

All users with permission to edit a post should be able to add links to it.

**Description**

If a user is given a custom role in a site, they cannot use the link tool to create hyperlinks. They are given an access

[2016-03-29 19:16] Bilsi commented on #6815
@RoySegall - Can you merge SCHOLAR-3.x into this branch

[2016-03-29 19:19] #8174 closed

[2016-03-30 02:31] nilsgoseberg opened #8191 "Update problem from drupal-openscholar-7.x-3.19.2 to drupal-openscholar-7.x-3.20.0"
Hello,

I am currently having difficulties to update my openscholar installation 3.19.2 to the next version 3.20.0. It appears as if the twitter feed is somehow broken and I realize that my version is already pretty outdated. So I was trying to test updating in a staging environment to the next version, but so far, I do not have any luck. The update.php script just returns the following:

[code]

[2016-03-30 08:30] RoySegall commented on #7697
@tcheng001 It seems that I took the wrong dump but when i search on your site i don't see items in the search which not belong to your site.

Can you point me a bit more?

[2016-03-30 08:57] RoySegall commented on #6815
I merged with master. It was a hard merge I nailed it :)

[2016-03-30 10:26] RoySegall commented on #8190
@YaronMiro Take it from here.

[2016-03-30 10:27] RoySegall commented on #8147
Checking

[2016-03-30 11:44] RoySegall commented on #8147
OK, I found the DB and i'm starting investigating it.

[2016-03-30 11:54] YaronMiro commented on #8190
I have manged to reproduce it. continue in checking why and fixing it.

[2016-03-30 12:57] tcheng001 commented on #7697
@RoySegall
go to my test site here http://dev.scholar.harvard.edu/tcheng3/search/site
if you enter "100" in the search box (SB2), you should see this result. At least, the first resulting item (Sing Street Release Data : ......) doesn't belong to me test vsite (tcheng3)
![screen shot 2016-03-30 at 8 54 53 am](https://cloud.githubusercontent.com/assets/2111600/14142721/557c9808-f655-11e5-9629-b4329

[2016-03-30 13:15] RoySegall commented on #8147
Profiling issues are very very tricky but I used blackfire io and I got a different [graph](https://blackfire.io/profiles/0db2795c-34fc-492d-a96d-efe8d171d1bb/graph?settings%5Bdimension%5D=wt&settings%5Bdisplay%5D=landscape&settings%5BtabPane%5D=nodes&selected=PDOStatement%3A%3Aexecute&callname=main()) which does not show og_membership select as the bad one in this story.

But the other strange th

[2016-03-30 14:10] digitalpiku commented on #8182
@dancabral Can we implement the below one for point 2?
'Subscribe' link have an external protocol that starts with 'webcall://' which is not processed by drupal bootstrap and directly opened by user's default calendar client (Outlook etc.)

![image](https://cloud.githubusercontent.com/assets/4848039/14144795/dd1bd374-f6ae-11e5-8b19-3107883517a9.png)

This will not allow the users to export the ics

[2016-03-30 14:26] dancabral commented on #8182
@digitalpiku that works. I like it. I would go with that unless @Bilsi has something else in mind.

[2016-03-30 15:13] digitalpiku commented on #8182
@dancabral Will point 3 be applicable for both ical and csv type files? Please confirm.

[2016-03-30 17:43] Bilsi opened #8193 "UI Control Panel: Need to click menu multiple times"
The menu doesn't open the first time the user clicks after login, We need to refresh it a couple of time before we can open it.

[2016-03-30 20:07] mallove opened #8195 "Improve portability of database backups"
The database backup file doesn't import cleanly:

[code]

The above error is likely due to a size limitation.  The following MySQL config options do not seem to resolve the issue:

[code]

The user has to split up the massive export (as some text editors can't edit a 2.5 GB file)  in order to comment out the problematic `INSERT` statements.

[2016-03-31 07:11] RoySegall commented on #8147
As i suspected, the caching was turned on. It was turned on but the variable `os_boxes_cache_enabled` was set to FALSE which caused for calculating the queries each request.

After set it back to TRUE the [graph](https://blackfire.io/profiles/7518e55d-4c1a-41ec-97a2-264734764ee1/graph?settings%5Bdimension%5D=wt&settings%5Bdisplay%5D=landscape&settings%5BtabPane%5D=nodes&selected=&callname=main())

[2016-03-31 08:10] RoySegall commented on #7697
I'm trying to pull the DB for now. I'll update you once I have results for this one.

[2016-03-31 08:32] digitalpiku commented on #8182
I have created one PR #8197 for this ticket. However, need confirmation about point 2 and 3.

[2016-03-31 10:27] YaronMiro commented on #8190
**Update status:**
The problem is that the permission to access it defined on the site global permissions and does not exists on the vsite permissions.

[2016-03-31 10:53] RoySegall commented on #7697
I'm indexing the data. This might take a while.

[2016-03-31 12:03] RoySegall opened #8198 "Fixing tests"
We decided to leave the container based issue and instead we will use a docker installation for travis.

The plan is:
* [ ] Fix the tests
* [ ] Create a docker container for OpenScholar
* [ ] Deploy the new infrastructure.

[2016-03-31 13:23] rbran100 commented on #8147
We will need to verify again that boxes content changes when it should.

[2016-03-31 13:25] rbran100 commented on #7964
I think that is is for right now.

[2016-03-31 13:48] RoySegall commented on #7697
@tcheng001 PLease attach the original site that the node belong to so I could see why it's failing.

[2016-03-31 13:58] rbran100 commented on #8190
For existing roles this will not be an issue, for example overriding "vsite user" will give you:
global "vsite user" permissions + "vsite user" override permissions.

When creating a new role "foo role" we should always give it:
global "vsite user" permissions + "foo role" override permissions

This will give it the basic global permissions plus any override permissions.

Do you see any issues wit

[2016-03-31 14:01] digitalpiku commented on #8182
@Bilsi I have added validation check for csv files as discussed, PR #8197 is ready for review now.

[2016-03-31 14:06] rbran100 commented on #7697
You can see it here: http://dev.scholar.harvard.edu/tcheng3/search/site/100

Linking to: http://dev.scholar.harvard.edu/alexanderhem/news/sing-street-release-date-john-carney%E2%80%99s-sundance-hit

[2016-03-31 14:06] rbran100 commented on #7697
Issue is not happening in prod, I think it may be a case of bad data in dev, re-indexing there...

[2016-03-31 14:09] RoySegall commented on #7964
do you want me to add the apps entity restrictions module so we could have a level of security for the sites which will try to get the access token?

[2016-03-31 14:48] rbran100 commented on #7697
@tcheng001 issue is not occuring after re-index, can you take another look?

[2016-03-31 15:18] tcheng001 commented on #8122
Look good.  Mark "Fixed"
Not seeing the message in dev.hwpi.harvard.edu/site/register
For scholar and projects install, user will be redirected to harvardkey login page when trying to access site/register page

[2016-03-31 15:46] tcheng001 commented on #8132
Mark "Fixed"
Checked two publication types (including Journal Article and Book Chapter) for all citation styles.
Note:  For American Chemical Society and Modern Humanities Research Association,  title is missing in Journal Article while tile is not rendered in Book Chapter.  This is a known issue and will be handled in  #8189

[2016-03-31 16:05] openscholar-admin opened #8202 "Replace file"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/replace-file-nt50b34613dxi)

**The Plan**

Fix it so that when replacing an existing file and the label field has a user entered label, it doesnt revert to the filename.

**Description**

From a user:

when i go to replace a file i have to:

* login and go to the web page* ignore the

[2016-03-31 17:57] tcheng001 commented on #7697
@RoySegall
Testing in dev.scholar.harvard.edu/tcheng3
1) Search result doesn't respect to Content type I selected. Here is an example.
I set "Blog entry" to Content type.  However, the result set
![screen shot 2016-03-31 at 1 40 53 pm](https://cloud.githubusercontent.com/assets/2111600/14185238/0d0dee6c-f747-11e5-8613-37f00f66b2ff.png)
contains blog, class and profile posts.

2) Search result does

[2016-03-31 18:07] #8122 closed

[2016-03-31 18:41] rbran100 commented on #7977
@mallove code looks pretty good. A couple questions.

* How does the code work with the code that auto_opens the admin_menu after you login? Does that still work?
* We need to have some way to clear the cookie when a user logs out, otherwise the page cache will be broken

[2016-03-31 19:04] openscholar-admin opened #8204 "Media Browser: Sorting file after upload removes the old file"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/media-browser-sorting-file-after-upload-removes-the-old-file)

**The Plan**

Sorting should not remove the file

**Description**

Edit a publication that has existing attachment(s). Click on "Upload" and upload a new file. The new file is added to the bottom of the list of attachment

[2016-03-31 19:07] openscholar-admin opened #8205 "Duplicate files being added to posts"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/duplicate-files-being-added-to-posts)

**The Plan**

Duplicate files should not be added to posts

**Description**

Sometimes when uploading and attaching a file to a post, it will be duplicated several times in the file list. These duplicates cannot be removed from the post.

See:

[2016-04-01 00:34] openscholar-admin opened #8207 "Configure if a "Full Content" display on a given widget should show terms"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/configure_if_a_full_content_display_on_a_given_widget_should_show_terms)

**The Plan**

Add a configuration so that the user can choose if he want to display taxonomy under content

**Description**

For example: [http://hwpi.harvard.edu/center-for-et...](http://hwpi.harvard.edu/center-for-ethics/podcasts)

T

[2016-04-01 00:44] Bilsi commented on #8207
@digitalpiku - We want to add a setting in cp/settings at the end of the page. Label it "Taxonomy" - add a checkbox with text "Display terms under content"
If this is checked, it should be have like it does not, display terms under the content like in http://economics.harvard.edu/people/joshua-david-abel where people-type and grad-students-alpha are shown.
Terms also show up at the bottom of pages

[2016-04-01 00:45] Bilsi commented on #8207
@digitalpiku - Do not spend much time on the UI of the settings page since this is being rewritten.

[2016-04-01 07:04] digitalpiku commented on #8207
@Bilsi I have created PR #8208 for review. In this PR, new settings checkbox will control the visibility of terms links in all nodes full page view, List of Post widgets (Full view mode) and Featured Posts widgets (Full view mode)

![image](https://cloud.githubusercontent.com/assets/4848039/14199796/e2e9de48-f804-11e5-8bb3-af70f758d300.png)

Just one confusion, In the page http://economics.harvard

[2016-04-01 11:34] digitalpiku commented on #8189
@Bilsi Unable to replicate this in my dev environment, Can you please let me know the steps?

![image](https://cloud.githubusercontent.com/assets/4848039/14205800/c04b7348-f82b-11e5-8bb7-17ffa0b426f5.png)

[2016-04-01 13:23] openscholar-admin opened #8209 "Contextual edit gear(s) are difficult to access in some themes"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/contextual-edit-gear-s-are-difficult-to-access-in-some-themes)

**The Plan**

Fix the edit gears so that they are easy to access

**Description**

Contextual edit gear(s) are difficult to access in some older OS themes--making it difficult to edit/open widgets for editing. Screen fro

[2016-04-01 13:47] mpetrovic commented on #8207
Pending for comment in PR.

[2016-04-01 13:50] openscholar-admin opened #8210 "Replacing file that has the same filename"
[View or participate in the full discussion](http://community.openscholar.harvard.edu/openscholar/topics/replacing-file-that-has-the-same-filename)

**The Plan**

Replacing file that has the same filename

**Description**

This should be the flow, so as to eliminate extra steps:

1. Click replace
2. Click select files to replace
3. Select file

[2016-04-01 13:52] Bilsi commented on #8210
Requirements document - https://docs.google.com/document/d/1Id_YizO6AKMBbAZVs9tge4J5gjLWwj6UHDVTKQzsi9c/edit

[2016-04-01 14:08] tcheng001 commented on #8147
@RoySegall  @rbran100
Tested in http://staging.projects.iq.harvard.edu/fairbank/calendar.
It takes 5-9 seconds to go to the next page. Ok?
![screen shot 2016-03-31 at 3 53 26 pm](https://cloud.githubusercontent.com/assets/2111600/14188932/d9d539bc-f758-11e5-8748-a9da72234121.png)

Other functionalities of the List of Post widget work as usual.

[2016-04-01 14:45] Paul0x opened #8211 "Update Process"
I've downloaded a fresh OpenScholar directly from GitHub and installed it using Drush. But I need to know the good practices to update my installation to future versions as it comes.

Should I download new versions only when they're released into the OpenScholar site or just maintain like a monthly update via GitHub? I'm aware that there's not much of a documentation about updating process and the

[2016-04-01 15:11] dancabral commented on #8209
@digitalpiku this one is easy in the sense that its just a css thing, but tricky in that the gears move around slightly from theme to theme. The problem gear is the large grey layout gear (screen above). Its position is ok in the hwp themes, but problematic in the older themes. By older themes, I mean the ones listed below. What I would do is make the css position tweak to the big gear, in the osb

[2016-04-01 15:45] rbran100 commented on #8129
Wish I had checked this earlier, inexplicably the change is not in prod.

[2016-04-01 15:50] rbran100 commented on #8129
Looks like the last commit in the prod branch was merged at 5pm on the 28th, and this branch was merged at 9pm and didn't make it to the release.

[2016-04-01 15:57] rbran100 commented on #8147
@RoySegall Can you take a look at optimizing case @tcheng001 mentions above?

@tcheng001 this PR re-enables box caching (after updates) so we should check that complex boxes get updated with their new content when we add new.

[2016-04-01 16:22] openscholar-admin opened #8212 "Cal export icon out of position in one page theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cal-export-icon-out-of-position-in-one-page-theme)

**The Plan**

Fix css position so that the icon is in the correct position.

**Description**

The cal export icon out of position in the theme titled "One Page".

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1391909/expo

[2016-04-01 16:27] dancabral commented on #8212
fixed
![screen shot 2016-04-01 at 12 27 30 pm](https://cloud.githubusercontent.com/assets/867075/14213286/2388db84-f805-11e5-880e-7b576bf75739.png)

[2016-04-01 18:11] tcheng001 commented on #8147
Tested the following widgets, the newly created content will show up in the widgets.
List of Post
Taxonomy
List of Files
Pub: Types
Pub: Years
Pub: Authors
Table of Content

[2016-04-01 18:58] mallove commented on #7978
https://github.com/openscholar/openscholar/pull/8214

[2016-04-01 20:30] #8212 closed

[2016-04-02 05:36] hiran6666 commented on #7832
We are also experiencing the same issue. We need a front page with all personnel sites are listed.

[2016-04-03 21:25] dancabral commented on #8136
I updated the css to follow the new markup structure. @mpetrovic can you look at the js? only one section/panel should open at a time.
![screen shot 2016-04-03 at 5 21 17 pm](https://cloud.githubusercontent.com/assets/867075/14235045/0127d0dc-f9c1-11e5-9ce2-60c93e862bb3.png)

[2016-04-03 21:27] dancabral commented on #7972
@tcheng001 the active page will have italic text. the italic style is in this branch 8136-admin_panel_markup
![screen shot 2016-04-03 at 5 19 27 pm](https://cloud.githubusercontent.com/assets/867075/14235054/2e67a6c6-f9c1-11e5-89e9-856c6a99b1ef.png)

[2016-04-03 21:45] mpetrovic commented on #8136
Taken care of in #7980.

[2016-04-04 09:52] RoySegall commented on #7697
I took the database but I got another structure of the site. From where I can pull the DB in order to get @tcheng001 site?

[2016-04-04 09:57] RoySegall commented on #7964
@rbran100 ^^

[2016-04-04 10:36] RoySegall commented on #8147
The thing is once you page to the next page the cache is constructing for the first time and then when paging again to the second page the pagination is OK. Do you want to invest more ways to optimise the base query? I think it's nearly impossible consider the Drupal's infrastructure.

[2016-04-04 11:24] RoySegall commented on #8190
Agree with that but in this case we created a custom role and assign it to a user without global roles. I'm checking what happen for user with global role and custom roles combined and confirms the workflow you mentioned.

[2016-04-04 11:57] RoySegall commented on #8190
@rbran100 Exactly as i suspected. I assign `michelee` the `manager` role which have the `insert a link into wysywig` permission. Then I add the user to `john` group and override the role and permission. I created another vsite role which can edit any blog post and assign it to michelle.

When michelle try to edit the blog post she will be able to insert links but after remove the site wide role ma

[2016-04-04 12:14] digitalpiku commented on #8209
@dancabral While analysis of this issue, found that one empty div tag for contextual links are being rendered for anonymous users as well. This shouldn't be rendered for logged out users, isn't it?

![image](https://cloud.githubusercontent.com/assets/4848039/14247582/b238b15e-fa8c-11e5-95f9-43e2c1919df0.png)

[2016-04-04 13:28] Bilsi commented on #8189
@digitalpiku - Checked the ACS style, we still see the issue in production.
http://scholar.harvard.edu/tcheng3/publications
the issue only happens in Journal Article and Book Chapter

![screen shot 2016-04-04 at 9 14 51 am](https://cloud.githubusercontent.com/assets/11841641/14249280/09ee8702-fa47-11e5-9528-4458b014701a.png)

MHRA - the same issue exists as mentioned above

[2016-04-04 13:49] Bilsi commented on #8190
@RoySegall -  An editor on our site (comscicon.com) has reported a problem editing pages. They have an account assigned to the csc-local-editor role, which has permissions to edit owned pages. They can edit pages successfully, except for adding links. When they try to add hyperlinks, they receive an error.

 The users reported - "When clicking the "link" in the WYSIWYG editor, it brings up a modal

[2016-04-04 14:07] mallove opened #8218 "UI Control Panel: tour countdown is buggy"
The tour countdown is buggy:

1. Countdown begins on the first click, instead of the first message
1. Countdown never reaches zero
1. Countdown state is not recalled across more than one page load

See [this screencast for a demo](https://vid.me/MGGI).

Related ticket: https://github.com/openscholar/openscholar/issues/7978

[2016-04-04 14:33] Bilsi commented on #8190
@RoySegall - I checked with the user - this is a role that they have been using for several accounts for
more than a year.

[2016-04-04 14:56] Bilsi commented on #8147
@tcheng001 - Pagination is taking the same time now in prod too.

[2016-04-04 15:14] Bilsi opened #8219 "Add functionality to sort alphabetically"
We would like to add options for the user to sort content for links and FAQs - alphabetically. Right now the default sort if by created date and in descending order and we would like to leave that as the default options.

Publications has these options
![1](https://cloud.githubusercontent.com/assets/11841641/14252340/df711586-fa54-11e5-977a-5c4fc90af8c8.png)

We would like to extend this to links

[2016-04-04 15:14] Bilsi commented on #8207
Waiting to add this to the new settings before we release it.

[2016-04-04 15:47] Bilsi commented on #8136
also takes care of #7972

[2016-04-04 16:04] tcheng001 commented on #8202
Not seeing the fix. Moving to "in dev"
When I replace an attached file (clicking Replace link next the file), the label of file gets changed right away in the following ways.
1) replaced with an existing file from Library
2) replaced with a new file

[2016-04-04 16:30] tcheng001 commented on #8204
Look good.  Mark "Fixed"
1) User can upload a new file and move the file around (change the order of the file)
2) The file can be replaced
3) The file can be edited
4) Other attached files can be moved around

[2016-04-04 16:34] dancabral commented on #7971
@Bilsi @tcheng001 the infinite scroll fix is in this branch 8136-admin_panel_markup and in this PR https://github.com/openscholar/openscholar/pull/8165

[2016-04-04 17:24] mpetrovic commented on #8202
Not that Replace. When you Replace the file on disk, from the Edit form or by attempting to upload a file with the same file name and click 'Replace'.

[2016-04-04 18:47] tcheng001 commented on #8182
@digitalpiku  Moving back to "in dev"
1)  I think we don't need the period
![screen shot 2016-04-04 at 2 31 10 pm](https://cloud.githubusercontent.com/assets/2111600/14258845/4aaffb06-fa72-11e5-94da-f22a8cb9f8b8.png)

2) Change the wording from "Note:past events are not included"  to "Note: Past events are not included"

3) "Subscribe" seems not working. I checked the function in the production as

[2016-04-04 19:28] tcheng001 commented on #7697
@RoySegall  @Bilsi
We copied production DB to  dev.scholar and then checked again.  If you go to my vsite (http://dev.scholar.harvard.edu/tcheng3/search/site) and search "100" in SB2.  You should be able to see search result which contains news post, class post and blog post. However, Content type is set to "Class" in the search box. The resulting list should not contain news post and blog post.

[2016-04-04 20:26] mallove commented on #8218
Database `users.data` column stores info on the last datetime os_notifications were read, e.g.,

[code]

[code]

[2016-04-04 20:34] mallove commented on #8218
[img](https://lh3.googleusercontent.com/-Tgv0NQk9nWU/VwLPsZ_HhgI/AAAAAAAARXs/zuS6Z6m80_U94vLRrPRwxzY6njJLc9S-wCCo/s912-Ic42/Screen%2BShot%2B2016-04-04%2Bat%2B4.33.07%2BPM.png)

[2016-04-04 20:55] tcheng001 commented on #8202
Look good. Mark "Fixed"
1) Replacing an existing file would not change the file label using "Replace" link
2) Able to replace an existing file using "Edit" link / "Replace File" button in a content node
3) Able to replace an existing file using "Edit" link / "Replace File" button in /cp/content/files page

[2016-04-04 21:16] dancabral commented on #8209
@digitalpiku yeah I agree, ```<div class="contextual-controls-wrapper"></div>``` shouldnt print to the page for anon users. Can you remove it for that case? Thanks. I'm still checking the gear position in all of the themes.

[2016-04-04 21:18] dancabral commented on #8182
@digitalpiku sorry for the delay. yes, point 3 is applicable for both ical and csv type files.

[2016-04-05 06:14] digitalpiku commented on #8209
@dancabral PR #8216 is now ready for review.

[2016-04-05 06:46] digitalpiku commented on #8182
@tcheng001 I have addressed point 1 and 2. However I cannot replicate point 3 in my Dev environment. I tested with 3 upcoming events and all of them are showing in my outlook calendar after subscribing.

![image](https://cloud.githubusercontent.com/assets/4848039/14273410/2649469e-fb28-11e5-8b53-6686a623c712.png)

[2016-04-05 11:20] RoySegall commented on #8190
Yeah, but this is a role they created. Not a role that existed site wide and they override it. Just as I expected. I'll keep going with the same strategy

[2016-04-05 11:53] RoySegall commented on #8190
This one is ready for review. Since the site have it's own role the site owner will need to add the permission to the custom role.

[2016-04-05 12:07] RoySegall commented on #7697
I'm taking the dump(hopefully)

[2016-04-05 13:43] rbran100 opened #8221 "UI Control Panel: Update hook to enable new Admin menu"
Enable new admin menu and remove checkbox to enable it.

[2016-04-05 13:47] Bilsi opened #8222 "UI Control Panel: Unable to open the menu"
Unable to open the menu

[2016-04-05 13:59] openscholar-admin opened #8223 "Unable to login to private sites"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/unable-to-login-to-private-sites)

**The Plan**

Fix it so that the user can login to private sites

**Description**

I am having a hard time logging into our intranet site.
http://private.websites.harvard.edu/hmsc
The page just reloads when I try to log in via “Admin L

[2016-04-05 14:16] digitalpiku commented on #8189
@Bilsi I am now able to replicate this in my dev server using production database dump for scholar.

[2016-04-05 14:18] #8204 closed

[2016-04-05 14:18] #8202 closed

[2016-04-05 14:22] rbran100 commented on #8222
can be QA'ed in staging

[2016-04-05 14:29] rbran100 commented on #8210
@mpetrovic didn't see the code to change the upload text to "select file to replace" in the PR

[2016-04-05 14:48] tcheng001 commented on #8210
@mpetrovic   With this new design, it seems that when a file is replaced with the same file name, there is no notice to users. The existing file no long exists in the vsite. Intended?

[2016-04-05 15:18] mpetrovic commented on #8210
@dancabral Needs to look at this. The replacement text pops out of the button now.

[2016-04-05 15:21] #8147 closed

[2016-04-05 15:24] mpetrovic commented on #8210
@tcheng001
Yes, there's no notice to users. Part of the design. See the linked Google Doc above for specs on how it should work now.

[2016-04-05 16:06] Bilsi opened #8225 "UI Control Panel: Remove text from the settings page"
Remove the "UX/UI Beta Options" text from the settings page

[2016-04-05 17:45] tcheng001 commented on #8182
1) if there are no upcoming events in Month view, Week view and Upcoming event view, then it shows a message "No events are available for export" when Export is clicked.  No links are showed. Therefore, no empty file will be exported.
2) If hovering Export, it shows a help text "Note: Past events are not included"
3) If users try to import an empty file, system will show an error
![screen shot 201

[2016-04-05 18:12] tcheng001 commented on #8182
Mark "Fixed"

[2016-04-05 18:24] #8182 closed

[2016-04-05 18:37] openscholar-admin opened #8227 "Repeating event: unable to import repeating event correctly"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/repeating-event-unable-to-import-repeating-event-correctly?rfm=1#)

**The Plan**

Fix the bug so that repeating events import correctly.

**Description**

Here is an example:
There is a repeating event which contains 4 occurrences. Say the first occurrence happens on Sa

[2016-04-05 18:41] Bilsi commented on #8227
You can export a file from http://scholar.harvard.edu/tcheng3/calendar
This has repeating events and imports correctly when imported into google calendar.
But if we try to import the ics file into another openscholar site, only the first event is imported.

We want all future events to import correctly even if they are repeating events

[2016-04-05 18:45] dancabral commented on #8083
@digitalpiku I finally figured this out. for any iframe code embedded in a page, the % is being converted to a 0. So if I set the width here too 100%.
![screen shot 2016-04-05 at 2 40 23 pm](https://cloud.githubusercontent.com/assets/867075/14293943/c853daa8-fb3c-11e5-91c6-0d13d6b4e129.png)
Its converted to 1000px
![screen shot 2016-04-05 at 2 44 40 pm](https://cloud.githubusercontent.com/assets/8

[2016-04-05 19:09] rbran100 commented on #8106
@tcheng001 Dan's changes were not in the same branch with my changes, they are both merged now, could you take a look in SCHOLAR-3.x.  This is the same issue keeping the login button from working.

[2016-04-05 19:19] geforceGTX480 commented on #8143
Hi laptus1, here's my experience with OpenScholar so far;
since its a Drupal distribution, you need to download their copy of Drupal and use that to do the install.
I think the most up to date version is Drupal 7.35.2.
Make sure to pay attention if downloading a tar file. We ran into problems because I think they packaged the tar file with a Mac and it added the user "wheel".
So make sure to be ro

[2016-04-05 19:19] tcheng001 commented on #8190
Still not working.  I did run update and clear drupal cache.
Both basic member and custom role user would see "accessed denied" when trying to create hyperlink in WYSIWYG. Am I still missing something?
![screen shot 2016-04-05 at 3 18 11 pm](https://cloud.githubusercontent.com/assets/2111600/14294986/a6cf5e52-fb41-11e5-8075-85c4452c0bc1.png)

[2016-04-05 19:35] #7974 closed

[2016-04-05 19:48] #8136 closed

[2016-04-05 19:48] #8221 closed

[2016-04-05 19:49] #8222 closed

[2016-04-05 19:49] #8193 closed

[2016-04-05 19:51] #8225 closed

[2016-04-05 19:51] #7991 closed

[2016-04-05 19:51] #7992 closed

[2016-04-05 19:53] #7976 closed

[2016-04-05 19:53] #7972 closed

[2016-04-05 19:54] #7979 closed

[2016-04-05 19:54] #7975 closed

[2016-04-05 19:54] #7970 closed

[2016-04-05 19:55] #7971 closed

[2016-04-05 20:01] rbran100 commented on #8221
👍

[2016-04-05 20:03] rbran100 commented on #8223
Fixed by #8106

[2016-04-05 20:03] Bilsi commented on #7978
@mpetrovic - this was done as per the requirement. When we have no new announcements, it should show the screen below. But right now, clicking on "Done" takes you to the hwp page. It should only close the pop-up.
The "Read more" should not display on this screen.
And when there are no new notifications, it should show the pop-up below. Instead, it opens the hwp page

![1](https://cloud.githubuserc

[2016-04-05 20:12] Bilsi opened #8229 "UI Control Panel: Remove horizontal scrollbar"
Remove horizontal scrollbar

[2016-04-05 20:12] Bilsi opened #8230 "UI Control Panel: Update the OS icon when menu is open"
Display the OS control panel text at the bottom even when the menu is open

[2016-04-05 20:17] dancabral commented on #8230
Current version
![menu-before](https://cloud.githubusercontent.com/assets/867075/14296811/e4a35b4a-fb49-11e5-9145-8e91a3d32e8f.png)
After the update
![menu-after](https://cloud.githubusercontent.com/assets/867075/14296820/ea24e57a-fb49-11e5-9d8b-a6f25d58e5fe.png)

[2016-04-05 20:24] dancabral commented on #8229
in cp pages
![screen shot 2016-04-05 at 4 18 22 pm](https://cloud.githubusercontent.com/assets/867075/14297011/cd773ad0-fb4a-11e5-8a51-f4de9722754e.png)

[2016-04-05 20:34] tcheng001 commented on #8210
Working as expected.   Mark "Fixed"

Tested the following 3 scenarios:
a)  replace the existing file with the same file name
Workflow:
1) click Replace
2) drop the new file to Drag and drop area
Note:  Media Browser will close automatically after uploading is completed

b) replace the existing file with a new file
1) click Replace
2) drop the new file to Drag and drop area
3) click Save in the fil

[2016-04-05 22:30] #8210 closed

[2016-04-06 09:54] digitalpiku commented on #8189
@Bilsi For mhra, I was able to replicate this issue and also fixed that in the PR. However for ACS, I found there are two radio buttons in publication settings page for ACS, with and without title. Is the format for ACS is as expected as below? As mentioned in the hover example in settings page, ACS is not supposed to display publication title. To display title, we need to select 2nd radio button.

[2016-04-06 10:45] RoySegall commented on #8190
@tcheng001 Which role did you test it? A custom role which is not "vsite mannger", "content editor" etc. etc.?

If so, make sure the role have the permission.

[2016-04-06 11:15] RoySegall commented on #7697
I took the dump but and indexed the site but when i'm typing 100 under sb2 i'm getting nothing.

[2016-04-06 12:55] tcheng001 commented on #8190
@RoySegall
1) As mentioned in the previous comment,  even basic member is not able to add link.
2) What permission should be granted for adding link?

[2016-04-06 13:01] tcheng001 commented on #7697
@RoySegall  @rbran100    There is weird.  PR 7697 has been deployed to dev.scholar for days. I still can see the issue I mentioned in [here](https://github.com/openscholar/openscholar/issues/7697#issuecomment-204053971)
Would you get the wrong dump?

[2016-04-06 13:29] RoySegall commented on #8190
Insert link into wysiwyg

[2016-04-06 13:50] dancabral commented on #8230
@tcheng001 can QA this in branch 8229-remove-horizbar-cp_pages. The open menu should now look like:
![screen shot 2016-04-06 at 9 50 07 am](https://cloud.githubusercontent.com/assets/867075/14318899/fd92690a-fbdc-11e5-954c-46f0fd4d1e15.png)

[2016-04-06 14:06] tcheng001 commented on #8106
@rbran100
If a user has not linked to HUID and visit a vsite that its site visibility is set to Harvard Community
Redirect to Harvard Key login page
Log in with Harvard Key
Redirect to the site's home page
Click Admin Login button
See the new login page (First Time Logging In with HUID)
Select/Click the first option (Login to link my account now)
Login with a OS username/password
Redirect to https

[2016-04-06 14:12] rbran100 commented on #8106
After linking an account it always goes to the user page, the normal mechanism that brings you back to the page you were on is overridden.  This was the spec for the original "link account" workflow so that you saw what sites you were a member of.

[2016-04-06 14:19] tcheng001 commented on #8106
@rbran100
Some wording issues:
Please change "Login in to link my account now. "  to "Log in to link my account now"
![screen shot 2016-04-06 at 10 17 15 am](https://cloud.githubusercontent.com/assets/2111600/14319896/fbb24d90-fbe0-11e5-8663-6a224e177ded.png)

[2016-04-06 14:43] rbran100 commented on #8106
@tcheng001 Made the fix in the pinserver module, probably not large enough to make a new release of the module, but next release it will be present. https://github.com/openscholar/pinserver/commit/4b4bec6412e5e2d7d9984c4108cdacd837b82226

[2016-04-06 15:02] rbran100 commented on #8179
Talked with @Bilsi, we should get the existing tests working (excluding the ones that are now broke) before continuing with docker.

[2016-04-06 15:02] tcheng001 commented on #8106
@dancabral   Still not seeing the fix in scholar.staging. I did clear vanish, drupal and browsing data.
![screen shot 2016-04-06 at 11 02 05 am](https://cloud.githubusercontent.com/assets/2111600/14321405/0943b448-fbe7-11e5-8b61-e0faa3b29c8d.png)

[2016-04-06 15:56] tcheng001 commented on #8106
@dancabral    Did you fix the View tab and Edit Account tab?  See my [previous comment]  O(https://github.com/openscholar/openscholar/issues/8106?_pjax=%23js-repo-pjax-container#issuecomment-206388501)   OR we will fix it later?

[2016-04-06 17:09] tcheng001 commented on #8106
Look good now.  Mark "Fixed"

[2016-04-06 18:07] mallove commented on #8218
https://github.com/openscholar/openscholar/pull/8236

[2016-04-06 18:12] #8189 closed

[2016-04-06 18:19] tcheng001 commented on #8189
Mark "Fixed"
1) In MFRA style,  the title of Journal Article, Magazine Article, Conference Paper and Book Chapter are showed as expected.
2) Checked all citation styles

[2016-04-06 18:33] rbran100 commented on #7978
@mallove this "no new announcements" tile should not be counted in the count, that may be why it never goes to zero

[2016-04-06 18:35] mallove commented on #8218
https://vid.me/jj3s

[2016-04-06 19:11] #8230 closed

[2016-04-06 19:12] #8229 closed

[2016-04-06 19:13] #7980 closed

[2016-04-06 19:21] Bilsi commented on #7978
Displays 1 on notifications on refresh. Displays 0 after the user clicks on it.
Remove the hyperlink for x and done buttons.

[2016-04-06 19:24] #8106 closed

[2016-04-06 19:25] #8223 closed

[2016-04-06 19:37] #8129 closed

[2016-04-06 19:38] #8169 closed

[2016-04-06 19:46] Bilsi opened #8237 "UI Control Panel: Clicking on a menu should toggle it"
Click on Site Content --. Browse. The menu under "Browse" opens. When you click on the browse again, it should "Collapse". it doesnt do that now.
It should work this way for all the headers. Clicking on Site Content if it is expanded, should collapse all the sub menus and also everything under Site content itself

[2016-04-07 12:17] digitalpiku commented on #8227
PR #8240 has been created for review.

[2016-04-07 13:52] Bilsi opened #8241 "UI Control Panel: Login with content editor not working correctly"
My sites (login as a content editor) - should not show Delete button for basic member / content editor	http://cl.ly/1a374622200n
My sites (login as a content editor) - why [Add a new site] button is missing ?  Design changed?	http://cl.ly/0O0q2Z3P3210

[2016-04-07 14:34] digitalpiku commented on #8083
@dancabral It seems that the application is calculating 100% as 1000px for width. I tried with percent values less than 100% which gives me the below output. I can remember 2-3 months earlier, one issue was there, where this calculation was introduced, https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/custom/media_embed/media_embed.module#L274

![image](https://cloud.

[2016-04-07 14:44] mpetrovic commented on #8241
The Delete button is supposed to go to a form to request the site be deleted. It doesn't bring you to the actual Delete form unless you already have permissions to delete the site.

So I'm not sure which is the bug: That the link shows up at all or that non-Site Owners can't access the page at the link.

[2016-04-07 15:14] Bilsi opened #8242 "UI Control Panel: Change the padding around the text on the menu"
Change the padding around the text on the menu to span the whole area

[2016-04-07 15:45] Bilsi commented on #8241
My sites (login as site owner) - For project or department site, the user should access [Add Subsite] link

[2016-04-07 16:47] dancabral commented on #8242
see https://github.com/openscholar/openscholar/commit/a35bcf3315106614f67ba1a7267c47f36053b513

ready for QA

[2016-04-07 17:00] #8242 closed

[2016-04-07 18:15] tcheng001 commented on #8227
Mark "Fixed"
1) able to import ics file (single event or repeating event)  to other OS sites, the file is exported from calendar page
2) able to import ics file (single event) to other sites, the file is exported from an event full node view

[2016-04-07 19:32] Bilsi commented on #8218
Still shows one on initialization

[2016-04-07 19:38] #8227 closed

[2016-04-08 08:48] digitalpiku commented on #8219
@Bilsi PR #8245 has been created for review.

[2016-04-08 12:29] #8237 closed

[2016-04-08 12:29] #8037 closed

[2016-04-08 12:31] #7978 closed

[2016-04-08 12:32] #7977 closed

[2016-04-08 13:08] openscholar-admin opened #8246 "Location starts on second line instead of first"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/location-starts-on-second-line-instead-of-first)

**The Plan**

Fix the bug so that the location text always starts on the first line

**Description**

We use the Monochrome theme ([http://projects.iq.harvard.edu/justic...](http://projects.iq.harvard.edu/justiceandpovertyproject)), s

[2016-04-08 13:10] Bilsi commented on #8241
@mpetrovic - there are a couple of issues tied to this

For Scholar, the login user should see the button if s/he has not owned a vsite.
For Projects and HWP, a logged in user always see the button (because a user can own more than one vsite)

[2016-04-08 13:17] openscholar-admin opened #8247 "The platform should email event creator when the event is full"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/the_platform_should_email_event_creator_when_the_event_is_full)

**The Plan**

The event creator should get an email when the event is full

**Description**

As an event creator, I have no automated way to know if my event is full, this would be a great addition.

Related to: [http://community.openscholar.ha

[2016-04-08 13:19] openscholar-admin opened #8248 "Has the adding a subpage process changed"
[View or participate in the full discussion](http://community.openscholar.harvard.edu/openscholar/topics/has_the_adding_a_subpage_process_changed)

**The Plan**

Change the text to "Add subpage" if we are adding a subpage

**Description**

[2016-04-08 13:20] mpetrovic commented on #8241
@Bilsi There's no such button in the markup at all. Where should it go? Above? Below? To one side?

[2016-04-08 13:24] tcheng001 commented on #8209
Need to check all the non HWP themes below:
- [ ] Aberdeen
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2016-04-08 13:29] tcheng001 commented on #8209
Need to check all the following non HWP themes:
- [ ] Aberdeen
- [ ] Aglet
- [ ] Airstream
- [ ] Ballard
- [ ] BigPic
- [ ] Bunchy
- [ ] Caylay
- [ ] Clean Blue
- [ ] Collector
- [ ] Collegiate
- [ ] Commodore
- [ ] Documental
- [ ] Dunster
- [ ] Eloquent
- [ ] Nortony
- [ ] Redhead
- [ ] Stripy
- [ ] Weft

[2016-04-08 13:50] dancabral commented on #8246
@digitalpiku this is pretty straightforward. Its just a matter of adding a selector and updating some rules. Let me know if any of it is unclear. Thanks.
![slice 1](https://cloud.githubusercontent.com/assets/867075/14385579/3d556130-fd6f-11e5-9c9d-b6e1ab5fbb5d.png)
![add-rule2](https://cloud.githubusercontent.com/assets/867075/14385584/42ba9b2c-fd6f-11e5-9a1b-921089f6c874.png)

[2016-04-08 13:53] openscholar-admin opened #8249 "Read More links shouldn't break onto a second line"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/read_more_links_shouldnt_break_onto_a_second_line)

**The Plan**

Read More links shouldn't break onto a second line

**Description**

We shouldn't allow "Read more" links to break onto a second line like this:

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1058735/ScreenS

[2016-04-08 14:32] dancabral commented on #8248
@digitalpiku for page "sections" if the user is adding a page from the top most parent (see my screen below) the add page label should say "add new > page" as it does now. however, if the user is adding a page from any other page in the secition, the label should read "add new > subpage". screen below.
![section-1](https://cloud.githubusercontent.com/assets/867075/14386965/20018c02-fd75-11e5-852a-

[2016-04-08 14:51] Bilsi commented on #7776
@mpetrovic - Added taxonomy screen to incorporate https://github.com/openscholar/openscholar/issues/8207 change

[2016-04-08 15:16] #8154 closed

[2016-04-08 15:24] Bilsi opened #8251 "UI Control Panel: No menu on login to the root url"
when we login to the home page - staging.scholar.harvard.edu or hwpi
we dont see the menu at all

[2016-04-08 15:34] tcheng001 commented on #8241
Don't know it is useful. This is what we see the Add new site link in production.
![screen shot 2016-04-08 at 11 32 26 am](https://cloud.githubusercontent.com/assets/2111600/14388781/b87c01f8-fd7d-11e5-895a-6671019adb6d.png)

[2016-04-08 16:00] Bilsi opened #8253 "UI Control Panel : Admin panel request returns 500"

[2016-04-08 16:08] dancabral commented on #8241
all set @tcheng001 should see this now for add new site button.
![screen shot 2016-04-08 at 12 07 42 pm](https://cloud.githubusercontent.com/assets/867075/14389880/90eee65a-fd82-11e5-9f89-55f4cb746bd8.png)

[2016-04-08 17:09] #8251 closed

[2016-04-08 17:18] openscholar-admin opened #8254 "Unable to save menu changes"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-save-menu-changes)

**The Plan**

Fix the menu so that changes can be saved

**Description**

Here is the current menu structure on [http://mso.harvard.edu/cp/build/menu](http://mso.harvard.edu/cp/build/menu)[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1386116/Sc

[2016-04-08 17:28] Bilsi commented on #8254
@digitalpiku - We are having trouble saving menu when there are multiple levels of hierarchy
You can test it on http://scholar.harvard.edu/tcheng2 - this is a production site, but is a test site.
So you can play around and try to reproduce it.

![untitled](https://cloud.githubusercontent.com/assets/11841641/14391926/c419a02e-fd8c-11e5-855d-6152aa433b01.png)

I tried to do this and after save, it d

[2016-04-08 18:24] dorianshmorian opened #8255 "UI Control Panel: Documentation link"
This is what appears now when you click Documentation on the new Control Panel menu:
![screen shot 2016-04-08 at 1 56 25 pm](https://cloud.githubusercontent.com/assets/7375691/14393224/b5a9ec54-fd93-11e5-8d3b-a69346817bb5.png)

We should change it to this:

Documentation

Have questions? Learn how to build your site from getting started to go-live on the OpenScholar Documentation site. (link to ht

[2016-04-08 18:31] Bilsi opened #8256 "UI Control Panel: Order Menu"
Order the menu alphabetically
Under appearance, place layout before themes
and under help - place documentation before support

[2016-04-08 18:34] Bilsi commented on #8255
Need to update the three pages below to reflect the screen above
http://scholar.harvard.edu/pages/help-center/

http://hwp.harvard.edu/node/57421/edit?destination=admin/content%3Fpage%3D859%26sort%3Dasc%26order%3DTitle

http://projects.iq.harvard.edu/node/37306/edit?destination=admin/content%3Fpage%3D949%26sort%3Dasc%26order%3DTitle

[2016-04-08 18:55] Bilsi opened #8258 "UI Control Panel: Make OS logo sit behind the menu when it is open"

[2016-04-08 18:56] Bilsi opened #8259 "UI Control Panel: Add scroll to menu if it is too long"

[2016-04-08 19:06] #8256 closed

[2016-04-08 19:10] dancabral commented on #8259
@mpetrovic so that the menu scrolls if it reaches a certain height, this js https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/frontend/admin_panel/misc/AdminPanelModule.js#L194 is supposed to add a scroll class to this div:
![scroll](https://cloud.githubusercontent.com/assets/867075/14394710/a1ab4d08-fd9b-11e5-8052-11f4e6632d4b.png)
The scroll class is added only when

[2016-04-08 20:29] Bilsi opened #8260 "UI Control Panel: X doesnt close the menu"
Login for the first time, the menu opens, click X does not close.
Works when you refresh the page

[2016-04-08 23:30] Bilsi commented on #8255
@dancabral - I updated the text. Please work on the formatting so that it looks like Dorian's snapshot
Here is the css you added last time.
<style>
.page-cp-welcome.overlay #overlay {
  width: 400px;
}
.page-cp-welcome.overlay #overlay ol {
   font-size: 1.2em;
}
.vsite-welcome-okay {
display:none;
}
</style>

[2016-04-09 00:01] #8259 closed

[2016-04-09 00:24] #8241 closed

[2016-04-10 13:12] hzxie opened #8262 "Maximum execution time exceeded while installing"
Fatal error: Maximum execution time of 30 seconds exceeded in D:\Applications\XAMPP\htdocs\openscholar\includes\file.inc on line 2123

[2016-04-10 14:21] mpetrovic commented on #8262
Set the maximum execution time to 120 seconds or 0 seconds in your php
config.

[2016-04-10 19:30] dancabral commented on #8255
@Bilsi I updated the modal title and markup for all 3. for some reason, scholar.harvard.edu wont save the css. I tried several times. I'll try it again tomorrow. In hwpi and projs looks like this.
![helppopup](https://cloud.githubusercontent.com/assets/867075/14412462/2d8ef4dc-ff31-11e5-816b-ba30528ad4f5.png)

[2016-04-10 22:12] dancabral commented on #8258
@tcheng001 this is ready for QA. the logo will now sit behind the menu. see:
![screen shot 2016-04-10 at 6 11 17 pm](https://cloud.githubusercontent.com/assets/867075/14413434/c5cd7b36-ff47-11e5-8807-7349c13c6d0a.png)

[2016-04-11 08:12] zjhzxhz commented on #8262
I don't think the user experience is good. I spent over 2 hours to install the application and finally ended up with the same error. Before that, I have set  the maximum execution time to 300 seconds.

BTW, I got lots of warning while installing in PHP 7.0.4.
![depreated function](https://cloud.githubusercontent.com/assets/1730504/14420730/3bdf8856-0000-11e6-926b-33c71b86b4bf.png)

[2016-04-11 09:37] digitalpiku commented on #8246
@dancabral PR #8263 has been created for review.
![image](https://cloud.githubusercontent.com/assets/4848039/14423000/244ab818-fff7-11e5-858c-74bdf28d9813.png)

[2016-04-11 10:30] digitalpiku commented on #8249
PR #8264 has been created for review.

[2016-04-11 10:42] RoySegall commented on #7697
@tcheng001 When i search for 100 I don't get the unrelated nodes in the result but I do can see the form did not pass the filter in the query string.

I'm checking,

[2016-04-11 13:16] mpetrovic commented on #8262
None of those are errors. Most of them are warnings about future deprecated
methods. Your php_error level is set too high. The rest are just warnings
that don't affect site function.

[2016-04-11 13:21] tcheng001 commented on #8219
Mark "Pending"    Missing settings for Links in cp/build page

[2016-04-11 13:29] RoySegall commented on #7697
This what I thought it is. the setting of the box isn't passed to the redirect callback. I'm trying to solve it.

[2016-04-11 13:39] Bilsi commented on #8219
@tcheng001 - Will test once settings is done

[2016-04-11 13:43] tcheng001 commented on #8209
Moving back to "in dev".  It seems that the content is pushed down a bit to create separation.
In test env,
![screen shot 2016-04-11 at 9 41 40 am](https://cloud.githubusercontent.com/assets/2111600/14429032/a32ab788-ffc9-11e5-84dc-f49c2ca6ee78.png)

In production.
![screen shot 2016-04-11 at 9 42 26 am](https://cloud.githubusercontent.com/assets/2111600/14429048/b8c60c28-ffc9-11e5-9eab-d3acc51090

[2016-04-11 13:44] digitalpiku commented on #8219
@tcheng001 In my Dev environment it is being shown, Was drupal cache cleared?
![image](https://cloud.githubusercontent.com/assets/4848039/14429102/a634ba0a-0019-11e6-9c43-315e50a7051a.png)

[2016-04-11 13:54] #8258 closed

[2016-04-11 14:14] mpetrovic commented on #8190
Don't put it back into Review if no code has changed...

[2016-04-11 14:22] tcheng001 commented on #8219
@digitalpiku   You are right. I see the settings link for Links after clearing Drupal cache.

[2016-04-11 14:31] Bilsi opened #8265 "UI Control Panel: Move x next to user name"

[2016-04-11 14:50] tcheng001 opened #8266 "OS UI/UX Menu : Change of app settings would not affect the current page until refreshing"
Steps to reproduce:
1) go to a page (say FAQ)
2) click Settings -> FAQ in Control Panel
3) change settings and save
Note:
1) The overlay will close. However, the changes would not apply to the FAQ page until refreshing. It should automatically refresh when its setting is changed.
2) this issue could happens to any apps, not just FAQ.

[2016-04-11 14:58] tcheng001 commented on #8266
Mark "Pending" Please don't do anything in this moment. I need to verify something first.

[2016-04-11 15:15] tcheng001 commented on #8266
I can't reproduce this any more.  Closing it.

[2016-04-11 15:15] #8266 closed

[2016-04-11 15:17] dancabral commented on #8083
@RoySegall can you please take a look at this? The core problem here is that iframe markup with a width set as a % is being converted to a 0. So, if I enter an iframe width as 100% its being converted to 1000(px). My comment illustrated here https://github.com/openscholar/openscholar/issues/8083#issuecomment-205944340

Also, please see @digitalpiku comments and references to other issues/code.  Th

[2016-04-11 15:17] dancabral commented on #8246
looks good @digitalpiku thanks. I'll take it from here.

[2016-04-11 15:21] #8207 closed

[2016-04-11 15:27] #8219 closed

[2016-04-11 15:28] tcheng001 commented on #8219
Work as expected. Mark "Fixed"
For Link setting:
1) Checked all four settings with sticky post - working as expected.

For FAQ setting:
1) Check all four setting with sticky post - working as expected.
2) Check "Enable Slidier Bahavior" - it works as before.

Note: I have seen that change of settings would not refresh the page. Thus, users don't see the effect until forcing to refresh the page. Ho

[2016-04-11 15:29] dancabral commented on #8255
@Bilsi scholar is now working too. closing this issue.
![screen shot 2016-04-11 at 11 27 30 am](https://cloud.githubusercontent.com/assets/867075/14432551/ad4bca40-ffd8-11e5-94d9-63d436969ba4.png)

[2016-04-11 15:29] #8255 closed

[2016-04-11 16:20] #8218 closed

[2016-04-11 17:10] tcheng001 commented on #8249
Work as expected.  Mark "Fixed"
![screen shot 2016-04-11 at 1 09 28 pm](https://cloud.githubusercontent.com/assets/2111600/14435606/bd6306ba-ffe6-11e5-9e17-90edbacf3e36.png)

[2016-04-11 17:21] #8249 closed

[2016-04-11 19:14] mallove commented on #8260
https://github.com/openscholar/openscholar/pull/8269

[2016-04-11 19:30] dancabral commented on #8265
@tcheng001 the user menu (top right) should now look like this
![screen shot 2016-04-11 at 3 30 13 pm](https://cloud.githubusercontent.com/assets/867075/14439677/60a4b838-fffa-11e5-83dd-4ae7fd33dc7c.png)

[2016-04-11 20:05] rsasch commented on #8024
An audit of fields, by content type, that are versioned: https://docs.google.com/spreadsheets/d/1275OZpExbhDopmzTkXgsNtS-o6mtUjbVPXsMPHpyajM

[2016-04-11 21:42] #8265 closed

[2016-04-11 23:05] #8253 closed

[2016-04-12 08:16] digitalpiku commented on #8248
@dancabral PR #8270 has been created for review.

[2016-04-12 10:06] RoySegall commented on #7697
@rbran100 I tried to do it with a `variable_set` which looks odd at the beginning but it's not working. I'll try tackle this tomorrow.

[2016-04-12 10:15] RoySegall opened #8271 "Bring back apache tests"
It seems that apache server server has return. I'll turn on the apache solr tests again.

[2016-04-12 10:19] RoySegall commented on #8190
So how @tcheng001 Should know that he need to check it?

[2016-04-12 10:28] RoySegall commented on #7961
Are we talking on two users on the same OpenScholar instance or we talking about from separate instances (i.e different installations)?

[2016-04-12 10:29] RoySegall commented on #7743
No need for this one any more. Closing.

[2016-04-12 10:29] #7743 closed

[2016-04-12 11:02] RoySegall commented on #8254
Checking

[2016-04-12 11:16] RoySegall commented on #8254
In deed this the weekly WTF. When the menu is over-nested like this:
![menu___john_](https://cloud.githubusercontent.com/assets/1222368/14458327/1c4cb036-00b9-11e6-9968-f9f1908c6fdc.png)

I got this:
![menu___john_](https://cloud.githubusercontent.com/assets/1222368/14458330/23126956-00b9-11e6-9767-942c0d272931.png)

Investigating.

[2016-04-12 11:31] RoySegall commented on #8254
Yes, I can see the problem now. A third menu and above are not supported.

[2016-04-12 12:53] #8040 closed

[2016-04-12 13:02] Bilsi commented on #8247
@digitalpiku - Content of the email

Hi [event creator],

This email is to let you know that the event you created, [name of event], is now full.
You can manage your registrations here: [link to event]

The OpenScholar Team

[2016-04-12 13:16] digitalpiku commented on #8247
@Bilsi Just a quick question, which text should be used as Email subject for this notification?

[2016-04-12 13:41] mpetrovic commented on #8190
The 'Needs QA' tag.

[2016-04-12 14:04] #5384 closed

[2016-04-12 14:05] #5378 closed

[2016-04-12 14:17] #8271 closed

[2016-04-12 14:31] openscholar-admin opened #8273 "Profile Import csv template - allow multiple professional titles/websites, etc."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/profile_import_csv_template_allow_multiple_professional_titles_websites_etc)

**The Plan**

Update the import CSV template

**Description**

From user referring to downloaded csv template for profiles:

I would like to upload multiple professional titles or websites, not just one, an

[2016-04-12 14:37] Bilsi commented on #8273
@digitalpiku - We would like to update the import people csv to allow for upto 3 titles, 2 website titles and 3 website urls to match the data entry screen below

![1](https://cloud.githubusercontent.com/assets/11841641/14463739/4adf28a8-009a-11e6-97ab-56b82044fbcf.png)

I will email the csv to you.

[2016-04-12 14:51] #5564 closed

[2016-04-12 14:51] #5545 closed

[2016-04-12 14:51] #5542 closed

[2016-04-12 14:51] #5087 closed

[2016-04-12 14:51] #6859 closed

[2016-04-12 14:52] #6639 closed

[2016-04-12 14:52] #5735 closed

[2016-04-12 14:52] #5627 closed

[2016-04-12 14:52] #6480 closed

[2016-04-12 14:54] #6852 closed

[2016-04-12 14:55] #7453 closed

[2016-04-12 14:55] #6512 closed

[2016-04-12 14:56] #6490 closed

[2016-04-12 14:56] #5536 closed

[2016-04-12 14:56] #5107 closed

[2016-04-12 14:57] #5226 closed

[2016-04-12 14:57] #5938 closed

[2016-04-12 14:58] #5911 closed

[2016-04-12 14:58] #6366 closed

[2016-04-12 14:58] #6377 closed

[2016-04-12 14:59] #6075 closed

[2016-04-12 15:00] #4884 closed

[2016-04-12 15:00] #5103 closed

[2016-04-12 15:13] #7027 closed

[2016-04-12 15:14] #6408 closed

[2016-04-12 15:21] #5576 closed

[2016-04-12 16:11] Bilsi opened #8274 "UI Control Panel: Reduce the font size of the menu"

[2016-04-12 16:20] #8123 closed

[2016-04-12 16:32] Bilsi opened #8275 "Add Slide link is missing"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/add-slide-link-is-missing)

**The Plan**

Fix it so that the add slide button shows up

**Description**

The Add Slide link does not appear when the slideshow in within a columns widget, using the Shade theme.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1394170/Add-Slide

[2016-04-12 17:11] openscholar-admin opened #8276 "Create new public theme option"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-public-theme-option)

**The Plan**

Create and make available a new public theme option.

**Description**

Create new public theme option based on this color and font scheme

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1386501/ScreenShot2016-03-23at10.06.49AM_

[2016-04-12 17:16] openscholar-admin opened #8277 "Monochrome font size inconsistencies"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/monochrome-font-size-inconsistencies)

**The Plan**

Fix font issue so that the body font size is the same throughout the theme.

**Description**

There are some font size inconsistencies in the Monochrome theme/flavor. Please fix.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_i

[2016-04-12 17:32] Bilsi opened #8278 "UI Control Panel: Remove space between right menu and border"

[2016-04-12 18:21] openscholar-admin opened #8279 "Phase out 1 older OS theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/phase-out-2-older-os-themes)

**The Plan**

Make Bigpic theme unavailable on appearance page.

**Description**

As part of an effort to improve the overall quality of publicly available themes (through adding new themes as well as converting some older themes), we plan on phasing out

[2016-04-12 18:29] Bilsi commented on #7372
@RoySegall - this one popped up again - It doesnt work right in HWPI, works in scholars

![1](https://cloud.githubusercontent.com/assets/11841641/14471137/013f8640-00bb-11e6-848d-5a456264d258.png)

[2016-04-12 18:33] #8274 closed

[2016-04-12 18:47] #8278 closed

[2016-04-12 18:56] mallove commented on #8275
Confirmed with Dan that this is a CSS issue.  Setting the `position` attribute to `absolute` on the `a` element seems to resolve the issue.

[2016-04-12 19:08] Bilsi commented on #7376
@RoySegall - This is another publication issue that has resurfaced,

"CO2" on this page: http://chinaproject.harvard.edu/publications/reevaluation-Chinas-Co2-Emissions

"US" on this page: http://chinaproject.harvard.edu/publications/challenges-faced-china-compared-us-developing-wind-power

"CCS" and "MW" on this page: http://chinaproject.harvard.edu/publications/progress-and-prospect-ccs-china-usi

[2016-04-13 06:17] RoySegall commented on #7961
@YaronMiro Sine the api workflow is a bit complex let's start from the UI. Create a page with a form that will display two inputs which both are autocomplete with users. One will be labelled "Primary user" and the second will be "Secondary user".

After you'll complete that we will talk on the migration workflow.

[2016-04-13 08:09] RoySegall commented on #7376
I'll try to take a dump with the correct site and see what's the problem.

[2016-04-13 10:38] RoySegall commented on #8254
If we looking on he example I gave yesterday it seems that the menu tree saved as it is:
![menu___john](https://cloud.githubusercontent.com/assets/1222368/14490689/f8ff4282-017c-11e6-94ad-7428a4e05c06.png)

I suspect that the function building the drag and drop can't handle a third menu.

[2016-04-13 10:43] RoySegall commented on #7376
I got the dump. Checking.

[2016-04-13 11:12] RoySegall commented on #7376
@Bilsi Something weird - I imported the dump and at my local machine it's OK:
![reevaluation_of_china_s_co2_emissions___china_project_and_reevaluation_of_china_s_co2_emissions___china_project](https://cloud.githubusercontent.com/assets/1222368/14491472/a0294090-0181-11e6-980a-5c09d21e9805.png)

I'll try to reimport the dump without the import script.

[2016-04-13 11:15] digitalpiku commented on #8209
PR #8216 has been updated for review.

[2016-04-13 11:43] RoySegall commented on #7376
Nope. Sorry. I migrated the dump once again and i see the content OK.

[2016-04-13 12:17] YaronMiro commented on #7961
**Status update:**
![selection_074](https://cloud.githubusercontent.com/assets/3907724/14492862/c29465fc-018a-11e6-8dd0-0f147ef10761.png)
![selection_073](https://cloud.githubusercontent.com/assets/3907724/14492863/c523d4c4-018a-11e6-8b8f-15ec6b44ff78.png)

[2016-04-13 12:21] RoySegall commented on #7961
Looks nice. Can  you please start work on the API function that convert a single content item from one user to the other? 10x.

[2016-04-13 12:22] RoySegall commented on #7961
Sorry - Looks awesome.

[2016-04-13 12:22] YaronMiro commented on #7961
Thanks and Sure I'm already on it :+1:

[2016-04-13 12:52] RoySegall commented on #7961
Couple of things:
1. pass number of items
2. Create a variable of the secondary users you migrated.
3. Sending mail to the accounts we migrated(?)

[2016-04-13 12:53] RoySegall commented on #7961
Another thoughts - maybe block the user that we start migrate his content?

[2016-04-13 15:12] dancabral opened #8282 "Post tarball with new admin menu"
Post tarball with new admin menu after its gone to all 3 installs

[2016-04-13 15:51] Bilsi opened #8283 "UI Control Panel: Font sizes on menu should all be 13 px"

[2016-04-13 15:59] Bilsi opened #8284 "UI Control Panel: Menu links outside site context are incomplete"
Links coming from the cp_menu REST response should be fully qualified, with the domain and site purl already included. This works properly when in a site context. When out of a site, the links are bare bones, just 'cp/content' or 'cp/welcome'. This means they end up pointing to the wrong location. (/search/site/cp/content).

[2016-04-13 16:01] Bilsi opened #8285 "UI Control Panel: My sites issue"
Click My Sites
Click Delete link
Click Cancel in Delete website request page
Then, the user is redirected to user page

It should just close the my sites popup

[2016-04-13 16:24] Bilsi opened #8286 "UI Control Panel: Changing the + and - to icons"

[2016-04-13 16:39] rbran100 commented on #7964
@RoySegall  Can you describe a little more about what that gives us? what security issues does it prevent?

[2016-04-13 20:11] #8284 closed

[2016-04-13 20:14] Bilsi opened #8289 "UI Control Panel: Wrong close button on my sites window"
![1](https://cloud.githubusercontent.com/assets/11841641/14507886/d3b38dba-0192-11e6-8640-f9a357cf420f.png)

[2016-04-13 20:16] Bilsi opened #8290 "UI Control Panel: Notifications should open archive in new window"

[2016-04-13 20:17] Bilsi opened #8291 "UI Control Panel: Right side menu click issue"
Should cover the whole rectangle just like we did  with the left side menu

[2016-04-14 02:42] dancabral commented on #8279
bigpic and collector private are now private. to do: send emails to user.

[2016-04-14 06:31] RoySegall commented on #7964
It gives us the options to supply the access token, and other end point content, to only trusted openscholar installations.

[2016-04-14 07:58] RoySegall commented on #7376
@Bilsi I know why everything was OK on my machine. The PR that was merged **had** this [code](https://github.com/openscholar/openscholar/blob/253093a6962164ec715754cfae0d5a8c2b991457/temporary/biblio/modules/CiteProc/CSL.inc#L303). When I looked at the temporary biblio module we got this [code](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/temporary/biblio/modules/CiteProc/CSL.inc#L3

[2016-04-14 13:08] dancabral commented on #8248
@tcheng001 does this look ok? I think you were looking at it yesterday?

[2016-04-14 14:14] Bilsi opened #8293 "UI Control Panel : Clicking Files from SiteContent/Add will open Media Browser if you are in files-private page"
1. Click on private files
2. Then click on files
3. Opens the media browser

![1](https://cloud.githubusercontent.com/assets/11841641/14530947/43055590-0229-11e6-8013-b2c658f5fda5.png)

We should open the media browser when the user clicks on Add-->files and Add-->private files
The media browser should not open when the user clicks on Browse-->files and Browse-->Private files

[2016-04-14 15:36] Bilsi opened #8294 "UI Control Panel : Link to doc is broken"
Fix the link to point to docs.openscholar.harvard.edu and open it in a new page

[2016-04-14 15:39] Bilsi commented on #8294
Need to update the three pages below
http://scholar.harvard.edu/pages/help-center/

http://hwp.harvard.edu/node/57421/edit?destination=admin/content%3Fpage%3D859%26sort%3Dasc%26order%3DTitle

http://projects.iq.harvard.edu/node/37306/edit?destination=admin/content%3Fpage%3D949%26sort%3Dasc%26order%3DTitle

[2016-04-14 16:12] #8283 closed

[2016-04-14 16:13] dancabral commented on #8279
@tcheng001 this is ok to QA. for regular site admins, content editors, themes Collector and BigPic should no longer appear on the Appearance page.

[2016-04-14 17:05] #8286 closed

[2016-04-14 17:25] Bilsi opened #8297 "UI Control Panel : "Add" comments under browse in menu"

[2016-04-14 19:04] #8290 closed

[2016-04-14 19:32] dancabral commented on #8289
fixed. closing
<img width="120" alt="screen shot 2016-04-14 at 3 27 23 pm" src="https://cloud.githubusercontent.com/assets/867075/14541072/1e270fac-0256-11e6-852d-cef22725773d.png">

[2016-04-14 19:33] #8289 closed

[2016-04-14 20:30] dancabral commented on #8294
docs.openscholar.harvard.edu now opens in a new page in all 3 intances - schol, proj and hwpi

[2016-04-14 20:30] #8294 closed

[2016-04-14 23:40] #8285 closed

[2016-04-15 07:50] digitalpiku commented on #8247
@Bilsi I have created PR #8301 for review. However all the tasks has been completed except the email subject. In this PR, currently it is set as "**[EVENT TITLE] event registration is full**" . This PR is working in both normal and repeating events. Please let me know the mail subject line so that I can change it in the PR.

[2016-04-15 13:31] mallove opened #8302 "UI Control Panel: Fix CSS3 transitions in new Control Panel morphButton"
The [latest fix](https://github.com/openscholar/openscholar/issues/8260) for the close button breaks the nice CSS3 transitions.

See https://github.com/openscholar/openscholar/pull/8269

http://tympanus.net/codrops/2014/05/12/morphing-buttons-concept/

[2016-04-15 13:49] Bilsi opened #8303 "UI Control Panel : OS menu box should have clickable hand icon"

[2016-04-15 14:37] Bilsi opened #8304 "UI Control Panel : User with no access should see support"
We have 2 links under help - support and documentation.
A user who is logged in, but does have access to the site, should see both links under help.,
Right now they only see "Documentation"

[2016-04-15 14:44] #8297 closed

[2016-04-15 15:38] mpetrovic commented on #8304
Requires a server cache clear and probably deleting the admin_menu localStorage entry. I don't know how that refreshes after updates yet...

[2016-04-15 17:06] mallove opened #8307 "OpenScholar is not lint clean"
Code should have fewer `lint` errors/warnings from, e.g., PhpLint and JsLint.

http://www.icosaedro.it/phplint/
http://www.jslint.com/

[2016-04-15 17:15] tcheng001 commented on #8293
@mpetrovic
 If you are in cp/content/file page, nothing happens when you click Files under Add. MB wouldn't come up.

[2016-04-15 17:28] mpetrovic commented on #8260
Neither I nor @tcheng001 are able to reproduce this currently. Would like more verification that it's actually gone before closing.

[2016-04-15 17:33] mpetrovic commented on #8260
Nevermind. Reproduction steps were more strict that expected. I have to start up a new browser (window?tab?) then log in to see it. Can't just log out and log back in.

[2016-04-15 17:38] #8304 closed

[2016-04-15 17:58] tcheng001 commented on #8248
work as expected. Mark "Fixed"
1) Users see Add New / Page if they are in a landing page
2) Users see Add New / Subpage if they are in pages other then a landing page
3) Basic page's functionalities are working as before.

[2016-04-15 18:02] tcheng001 commented on #8279
@Bilsi   Don't see this PR in Acquia's workflow Push code drop-down.
![screen shot 2016-04-15 at 2 02 05 pm](https://cloud.githubusercontent.com/assets/2111600/14570514/aa264aa6-0312-11e6-8cf9-1a63f05d7d17.png)

[2016-04-15 18:16] #8291 closed

[2016-04-15 18:29] #8303 closed

[2016-04-15 18:34] Bilsi opened #8308 "UI Control Panel : Add subsite button does not appear in user page, but in the My Sites"
http://cl.ly/0s1E452d2A41/o

[2016-04-15 18:42] #8302 closed

[2016-04-15 18:47] dancabral opened #8310 "UI Control Panel: add second clickable markup element to close panel"
@mallove can you add this piece of markup and the accompanying js, so that when ``` <span class="close-panel">&#171; Close</span>``` is clicked it also closes the panel? thanks

[code]

[2016-04-15 19:12] mallove commented on #8310
https://github.com/openscholar/openscholar/pull/8311

[2016-04-15 19:28] dorianshmorian opened #8312 "Login Page: announce the new CP"
create an announcement on the login page:

![cp-announce2 fw](https://cloud.githubusercontent.com/assets/7375691/14573438/0e1a4f98-0323-11e6-8943-43176a8c3ae0.png)

ANNOUNCEMENT
The control panel is changing soon! Learn more about it >   [link open in new window, goes to as yet determined URL]

[2016-04-15 19:34] openscholar-admin opened #8313 "Improve confirmation email"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/improve-confirmation-email)

**The Plan**

Improve confirmation email with the text below

**Description**

We need to be more clear about how users will access their sites. Perhaps we should encourage bookmarking of the site & provide them with a link to How to log in to their site:

[2016-04-15 19:44] mpetrovic commented on #7776
@rbran100 @Bilsi
Do you have a test environment for indexing set up? If you do, could you implement the backend behavior for the 'Index Site' button? All the infrastructure is set, you can check the Maintenance button to see how it works. Should be pretty simple.

I'll be on and off e-mail while I'm gone, so if you have any questions let me know, or give me a call.

[2016-04-15 19:56] #8308 closed

[2016-04-15 20:00] #8293 closed

[2016-04-15 20:32] mallove commented on #8313
https://github.com/openscholar/openscholar/pull/8315

[2016-04-15 20:40] mpetrovic commented on #8310
See comment in PR.

[2016-04-17 17:00] dancabral commented on #8312
@mallove are you able to get this div (with the class name) into the login screen? I'll handle the rest. Thanks.
![announcements](https://cloud.githubusercontent.com/assets/867075/14588653/61fad8ce-049c-11e6-9334-242fae1cb917.png)

[2016-04-18 11:14] RoySegall commented on #8132
@Bilsi What exactly the issue over here? The same error as before?

[2016-04-18 11:15] RoySegall commented on #8190
@tcheng001 Any new on this one?

[2016-04-18 12:02] RoySegall commented on #8083
I'm trying to reproduce this issue and i'm unable. I set up the embedly plugin and paste to the embed textarea the html code from youtube but I get this:
![first_blog___john](https://cloud.githubusercontent.com/assets/1222368/14603469/78e6e142-0576-11e6-8c4c-cd8e6dbeebb8.png)

Am i missing something?

[2016-04-18 12:35] RoySegall commented on #8028
@Bilsi Checking on this one agin.

[2016-04-18 12:42] #8248 closed

[2016-04-18 13:13] mallove commented on #8312
Looks like we can simply tweak `openscholar/themes/os_basetheme/templates/page.tpl.php`

[2016-04-18 13:18] RoySegall commented on #7961
I added a variable which tell us which users deleted and if we can delete them:
![user_ownership_migration___site-install_](https://cloud.githubusercontent.com/assets/1222368/14605394/0a5ad7be-0581-11e6-8ada-f4d1282d7965.png)

In case the user still have content assigned to him we will get this:
![user_ownership_migration___site-install](https://cloud.githubusercontent.com/assets/1222368/14605391/

[2016-04-18 13:38] RoySegall commented on #8132
http://scholar.harvard.edu/tcheng2/publications/treasure-Island

[2016-04-18 13:41] tcheng001 commented on #8190
@RoySegall   Please see point 3) below.
1)  vsite admin is able to grant the permission (Insert link into wysiwyg) to a custom role. This is good.
2)  I did run update. Now, content editor is able to use the link tool in wysiwyg.

3)  Basic member is still unable to use the link tool and get an error "You are not authorized to access this page ...." when clicking the link tool.

[2016-04-18 13:46] mallove commented on #8312
https://github.com/openscholar/openscholar/pull/8316

[2016-04-18 14:22] mallove opened #8317 "Send email confirmations as HTML"
Our confirmation emails are plain text, but would be more professional in HTML to allow for rich text and links.

See also https://github.com/openscholar/openscholar/issues/8313

[2016-04-18 14:22] mallove commented on #8313
Email should be in HTML: https://github.com/openscholar/openscholar/issues/8317

[2016-04-18 14:48] Bilsi commented on #8279
Changing this to pending while we contact the users about removing this theme

[2016-04-18 14:51] openscholar-admin opened #8318 "Weekly calendar view has no page title"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/weekly-calendar-view-has-no-page-title)

**The Plan**

Fix the bug so that the title shows up on the Weekly calendar view

**Description**

This is not a critical bug by any means, but more of an inconsistency.

I notice that the "Weekly" Calendar view ([http://hwpi.harvard.edu/train

[2016-04-18 15:38] tcheng001 commented on #8186
Mark "Fixed"
1) The link will redirect to Blog settings page
2) I am able to change settings in Blog settings page as usual

[2016-04-18 17:30] tcheng001 commented on #8313
Mark "Pending" @mallove,  Could you take a look?
Question:  What is the difference between these two links?  Even following case 2, the user is not  directed to the vsite's home page after logged in.
1) http://dev.scholar.harvard.edu/user/login
2) http://dev.scholar.harvard.edu/tcheng7/user/login?destination=tcheng7

If I want to go to the home page after logged in, I use this URL
http://dev.schol

[2016-04-18 18:13] tcheng001 commented on #8209
Look good.  Mark "Fixed"
Checked all 18 non-HWP themes listed [here](https://github.com/openscholar/openscholar/issues/8209#issuecomment-207432761)

[2016-04-18 18:39] Bilsi commented on #8317
We should keep it in plain text for compatibility reasons

The main downside to HTML mail is that not everyone will be able to read your messages. Or they may be able to read portions of it but the message will look distorted with certain elements missing.

Many mobile devices, for example, cannot display HTML properly. Since many people are now reading their email from their smartphones, this is

[2016-04-18 18:39] #8317 closed

[2016-04-18 18:50] Bilsi commented on #8313
@mallove - Some changes
the "Logging in to your site" should take the user to "http://docs.openscholar.harvard.edu/logging-your-site"
"Sign up for training" should take the user to "http://hwp.harvard.edu/calendar/upcoming"

and all 4 links should be hyperlinks
Please look at Dorian's comment in the github ticket,
Also, the login url should not point to <root url>/tcheng7/user/login?destination=tc

[2016-04-18 18:52] tcheng001 commented on #7372
@RoySegall
I did run update, but still not see the field of "Date Published" when Type is changed to "Working Paper".
Tested on http://dev.scholar.harvard.edu/tcheng3/publications
![screen shot 2016-04-18 at 2 40 23 pm](https://cloud.githubusercontent.com/assets/2111600/14615732/135fa08a-0575-11e6-9899-3be5813cd230.png)

[2016-04-19 06:51] RoySegall commented on #8190
But what the use case for 3? because basic members should not access to edit posts.

[2016-04-19 07:36] digitalpiku commented on #8273
@Bilsi PR #8319 has been created for review.

[2016-04-19 08:05] RoySegall commented on #7372
And I can see that the title is missing:
![create_publication___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14631949/a47c6856-061e-11e6-83a0-dcc88e0821be.png)

[2016-04-19 08:18] RoySegall commented on #7961
@rbran100 @Bilsi I finished with the basic workflow and i'm setting this one as needs review.

[2016-04-19 09:43] digitalpiku commented on #8083
@RoySegall need to add youtube.com in domain whitelist for embed media.

![image](https://cloud.githubusercontent.com/assets/4848039/14634822/53166d7c-0641-11e6-9d0f-abe0aed1a20d.png)

[2016-04-19 11:19] RoySegall commented on #7372
![create_publication___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14637396/b0cb9684-0639-11e6-9955-6e4c1d686fca.png)
Yeah, got the missing fields back.

[2016-04-19 11:23] RoySegall commented on #8083
@digitalpiku 10x. Managed to embed the code. I'm on it.

[2016-04-19 12:03] RoySegall commented on #8083
I'm looking on this one again and i'm trying to figure out something: When we have `20%` in the with there is a calculation and we get 200 width. Why this happening? And when i'm trying to save an embed code with a width of 1200 i'm still getting 1200 and not 1000 so I can't understand to point of the code.

Can any one please clear this one for me? 10x.

[2016-04-19 12:31] RoySegall commented on #8132
I'm pulling the DB and see what the issue.

[2016-04-19 12:41] tcheng001 commented on #8190
@RoySegall  basic member should not access those posts created by others.  The problem I mentioned is that the basic member is unable to use link tool in the post s/he creates (not the posts created by other users)

[2016-04-19 12:44] tcheng001 commented on #7372
@RoySegall   If you think this is ready for QA again, just change the Label to "QA" after you make the comment next time.

[2016-04-19 13:14] RoySegall commented on #8132
Got the dump. Checking this one.

[2016-04-19 13:16] RoySegall commented on #7372
You probably need to run the updates again. So you'll need to pull a DB again.

[2016-04-19 13:18] rbran100 commented on #7372
Ready for QA, @tcheng001 make sure the update runs, if not we may need to copy the db down again

[2016-04-19 13:57] rbran100 commented on #8083
@dancabral The way I think this is set is:

- When you put a percentage in for the width, it uses that % and converts it to a px based on a max of 1000 px.  So 95% = 950px
- If you have a px on the width it uses that without changing it

Is that how it is working?

[2016-04-19 14:10] mallove commented on #8318
https://github.com/openscholar/openscholar/pull/8320

[2016-04-19 14:20] RoySegall commented on #8190
Ohhh... Got it.

[2016-04-19 14:53] tcheng001 commented on #7372
@RoySegall  @rbran100   Still not working. No Date Published showed in the form when Type is set to Working Paper. It might relate to the test env.  I did copy DB but no pending update. That is strange. I am able to run update after @rbran100  made change in the DB.  Could someone take a look?
Tested in dev.scholar/tcheng3

[2016-04-19 14:53] rbran100 commented on #8318
change is perfect, but ethan is recreating with features update to make sure the lines get added correctly.

[2016-04-19 15:02] rbran100 commented on #8247
subject looked good Anish

[2016-04-19 15:03] rbran100 commented on #7961
@RoySegall can you go over and assure that the og roles and memberships from the secondary users installs are moved as well.

[2016-04-19 15:33] tcheng001 commented on #8247
Moving to "in dev"  @digitalpiku
Now, when the event is full. OS will send email out to the site owner.   But we want OS to send to the event's creator.  The email address of the event created can be found in the Settings form.
![screen shot 2016-04-19 at 11 31 02 am](https://cloud.githubusercontent.com/assets/2111600/14645098/6540af36-0622-11e6-82bd-236835614b69.png)

[2016-04-19 15:47] dorianshmorian commented on #8312
The URL for the link: http://docs.openscholar.harvard.edu/cp-changes

[2016-04-19 15:56] #8209 closed

[2016-04-19 16:13] tcheng001 commented on #8273
@digitalpiku  @Bilsi  @rbran100
Importing person profiles look good. Just a minor issue.  When saving a person form,  A website title can't be empty when its URL has a value. But importing doesn't detect such condition, it allows a Websites url field empty while its corresponding title has a value.  Could importing also verify this condition?

[2016-04-19 18:55] tcheng001 commented on #7376
Mark "Fixed"

The following citation styles would not capitalize words (No auto capitalization on words)
-  [ ] American Medical Association
-  [ ] American Political Science Association (dev)
-  [ ] American Psychological Association 6th Edition
-  [ ] American Sociological Association
-  [ ] Chicago Manual of Style (Full Note with Bibliography)
-  [ ] Chicago Manual of Style (Note with Bibliogra

[2016-04-19 19:09] mallove commented on #8313
Fixed in 46a7731e8bbc332713b1eb9fdff17fb35a57d7ee

[2016-04-19 19:15] mallove commented on #8317
This means no hyperlinks then, right?

http://help.campaignmonitor.com/topic.aspx?t=167

[2016-04-19 19:59] #7376 closed

[2016-04-19 20:13] tcheng001 commented on #8313
@mallove   @Bilsi
I believe that "Logging in to your site" should point to log in page instead of this documentation page "http://docs.openscholar.harvard.edu/logging-your-site".   The user should follow the link to log in and then is redirected to his/her home page.  Make sure?

[2016-04-19 20:27] mallove commented on #8313
Fixed in 0fe0bdd7eb2474e36dbf15f84d77ff53cd420a9d

[2016-04-20 08:31] RoySegall commented on #8132
I knew it. I knew I already handle this one before. We have the same issue  in #7376 and I handle this in #7431 when I [remove the code that do the capitalisation](https://github.com/openscholar/openscholar/pull/7431/files#diff-4197eb712fdd4dc2fc18b41cf2ed1813L304) but it got back in #8188 in [here](https://github.com/openscholar/openscholar/pull/8188/files#diff-4197eb712fdd4dc2fc18b41cf2ed1813R30

[2016-04-20 10:34] digitalpiku commented on #8273
@Bilsi I have added the suggested validation rule in PR #8319 and is now ready for review. Just like 'Person' content type's edit form 'websites' field validations, CSV file's website title column can be empty while corresponding website URL column has a value but for reverse scenario (Title - Non Empty and URL - Empty) it will display error message.

[2016-04-20 11:58] RoySegall commented on #7372
If there are no pending updates then you did no run the updates and you won't see any changes.

[2016-04-20 12:05] digitalpiku commented on #8247
@tcheng001 @Bilsi Some confusion regarding email ID used in event settings page, as it is pre-filled with site-owner's email ID but it is editable and is used to set reminder mail header's "From" field. I checked the code and seen that currently it is sending the registration full notification email to event creator. So I couldn't replicate this from my side. Please refer to the screenshots for mo

[2016-04-20 12:20] RoySegall commented on #7961
About the membership - I'll check but for the roles we need to handle it.

should we handle duplication? If so this would be more complex.

[2016-04-20 12:47] RoySegall commented on #7961
Nope, The membership table stay the same. I'll keep working on this one.

[2016-04-20 13:11] RoySegall commented on #8190
@tcheng001 I pushed a fix. You'll need to re run updates.

[2016-04-20 13:35] tcheng001 commented on #8247
@digitalpiku  @Bilsi
I have double-checked in my test env.  The notification email is sent to the site owner (not the event creator).
http://dev.hwpi.harvard.edu/tormanhc2/event/sat-bbq-0
@digitalpiku What information you think could be more useful for you to investigate the issue?

[2016-04-20 13:38] rbran100 commented on #8132
title removal looks good, waiting on test for this then will be in review

[2016-04-20 13:43] rbran100 commented on #7372
@tcheng001 roy is going to make a change to force the update

[2016-04-20 14:08] tcheng001 commented on #8190
Look good. Mark "Fixed"
1) All regular users (including vsite admin, content editor and basic member) are able to use link tool in wysiwyg.
2)  Users with custom role are able to use link tool in wysiwyg if permission of "Insert link into wysiwyg" is granted to the role.

[2016-04-20 14:12] digitalpiku commented on #8247
@tcheng001 One quick question, Was this event node edited by siteowner account after being created by event creator account?

[2016-04-20 14:16] tcheng001 commented on #8247
@digitalpiku   The scenario is that the site owner creates the event and then changes the email address in the "From" in the setting page.

[2016-04-20 14:22] openscholar-admin opened #8323 "Odd co-author widget behavior"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/odd-co-author-widget-behavior)

**The Plan**

Fix the display for co-authors

**Description**

[http://projects.iq.harvard.edu/wfhn/p...](http://projects.iq.harvard.edu/wfhn/publications)

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1398047/pub_error_inline.png?146047969

[2016-04-20 14:25] digitalpiku commented on #8247
@tcheng001 Got it, In the settings page, the From email address is not used as Event creator's email address. It is used to display "From" email header for event reminder notifications which is sent to the event subscribers. If you create an account in a site and assign it as content editor of the site and he creates an event, then registration full email will be triggered to creator's email addre

[2016-04-20 14:27] rbran100 commented on #8318
@mallove Actually the second PR looks perfect, closing the first.

[2016-04-20 15:34] openscholar-admin opened #8324 "HTML tags showing up in publication titles"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/html-tags-showing-up-in-publication-titles)

**The Plan**

[coming soon]

**Description**

Within the past couple of weeks some html tags have been showing up in Prof. Lepore's publications. This is a new issue that showed up recently. I'm including a screenshot and also a link to th

[2016-04-20 16:09] openscholar-admin opened #8325 "Add "read more" to people's bio teasers"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/add_read_more_to_peoples_bio_teasers)

**The Plan**

Add "read more" to people's bio teasers

**Description**

It was recently brought to my attention by a few people that there is not a "read more" link for bios that appear on the people page, or when people are pulled into LOP, when a teaser is shown.

Thi

[2016-04-20 16:13] tcheng001 commented on #8247
@digitalpiku @Bilsi @rbran100
Trying to understand more how the "From" field work and find another issue. Probably not relate to what you are working on. Subscribers do not get registration conformation email if the event is not created by vsite owner.  I did try to log in as admin and content editor and then create an event, I have no problem to add subscriber. But the only problem is that the su

[2016-04-20 16:23] openscholar-admin opened #8326 "Create a "Viewer" default role"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-a-viewer-default-role)

**The Plan**

Create a "Viewer" default role

**Description**

Create a role called "Viewer" that has no power as a default role to live with Basic, Content Editor, Admin and site owner.

Please and thank you!

[2016-04-20 16:23] #8190 closed

[2016-04-20 16:25] Bilsi commented on #8326
@digitalpiku - We want to add a new role - http://scholar.harvard.edu/tcheng2/cp/users/roles
called "Viewer" which will only have view access to all apps (even the private apps) and unpublished content

[2016-04-20 16:28] tcheng001 commented on #8318
Look good. Mark "Fixed"

[2016-04-20 17:49] #8318 closed

[2016-04-20 18:35] tcheng001 commented on #8273
Still not validate correctly. I am still able to import successfully with website title, but no website url.  @rbran100   Is the validation code in the PR in dev.scholar?

[2016-04-20 20:13] rbran100 commented on #8273
@tcheng001 I just checked and it correctly updated in the branch 8273-profile-import-csv-template

If you are still having errors on that branch it needs to go back in dev.

[2016-04-20 20:23] tcheng001 commented on #8273
@digitalpiku  Double-checked. Still not validate correctly. See my previous commment

[2016-04-20 20:40] rbran100 commented on #8247
How does that relate to the from field? It seems like the issue is with regular users creating the event.  Do you think that their e-mail is not saved correctly and the bad "from" email address causes the sending to fail?

[2016-04-21 01:37] dancabral opened #8328 "UI Control Panel: link color wrong in user sites menu"
There shouldnt be a visited link color.
<img width="359" alt="screen shot 2016-04-20 at 9 25 53 pm" src="https://cloud.githubusercontent.com/assets/867075/14695436/127eb6a2-0740-11e6-8ee8-d8c3a4de7ff5.png">

[2016-04-21 06:59] digitalpiku commented on #8273
@tcheng001 Can you please share the csv file which is being used for this import? I am attaching my copy for this test in dev server.
[os_person.zip](https://github.com/openscholar/openscholar/files/229331/os_person.zip)

Using this I am getting the error:
![image](https://cloud.githubusercontent.com/assets/4848039/14700351/927196aa-07bc-11e6-972d-a3f77d1bc5b6.png)
Here, column 'M' (Website 1 URL)

[2016-04-21 12:28] tcheng001 commented on #8273
@digitalpiku
If when trying to import os_person.csv, I see the following errors.
![screen shot 2016-04-21 at 8 21 35 am](https://cloud.githubusercontent.com/assets/2111600/14708627/18ff389e-079a-11e6-8d1e-d9f0238fdf48.png)

Then, I delete profile image file from os_person.csv and import again. This time, import runs successfully.  The validation fails to detect the empty field of "Websites url 1".

[2016-04-21 13:31] dancabral commented on #8312
deployed to prod 4/20

[2016-04-21 13:31] #8312 closed

[2016-04-21 14:03] tcheng001 opened #8329 "Permission "Insert link into wysiwyg" should be checked by default for role of content editor and basic member"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/content-editors-denied-their-rights-call-bernie-sanders-well-maybe-dan-cabral-pk43pu27kde7v?page=1)

We have a new permission (Insert link into wysiwyg) for roles. The permission should be checked by default for the role of content editor and basic member. Otherwise, Co

[2016-04-21 14:46] rsasch commented on #8186
@tcheng001 This is an unrelated issue; if you are still seeing it, it should be its own github ticket.  Marking as fixed.

[2016-04-21 14:52] #7945 closed

[2016-04-21 14:59] #8186 closed

[2016-04-21 17:19] mallove commented on #8323
![img](https://lh3.googleusercontent.com/-ueeH-Zp65gA/VxkLQFN-e-I/AAAAAAAAAEc/g6OjX2Mi-cYVKdL6aKPCSs2XLarUvmESQCCo/s800-Ic42/Screen%2BShot%2B2016-04-21%2Bat%2B1.16.52%2BPM.png)

[2016-04-21 17:49] mallove commented on #8323
I propose cleaning the data, e.g., where we find null values:

[code]

`UPDATE` rows like so:

[code]

[2016-04-21 17:55] tcheng001 commented on #8310
@dancabral   Move to "in dev"
That is strange. After I close the Control Panel, I need to click twice to open it.
I notice that after I clicked the first time, the border color is changed to blue and becomes thicker like the image below.  If I click it one more time, the Control Panel would open.
![screen shot 2016-04-21 at 1 19 44 pm](https://cloud.githubusercontent.com/assets/2111600/14718277/c7

[2016-04-21 18:15] rsasch commented on #7909
@dancabral Perhaps this was fixed by a past code change, but when I look at the source of http://dataverse.org/alt-homepage, the iframe width is set to 980 (although I do need to be logged into Google in order to see the actual map).

[2016-04-21 19:17] mallove commented on #8310
FIXME: this can be accomplished without an additional `<div>` element.

From Slack:

@mpetrovic
the original button is there, just under the menu the whole thing works on toggling, you should be able to just put it on top of the menu and be done

@dancabral [4:37 PM]
but it dosnt slide into the center the way it does now

@mpetrovic [4:37 PM]
so make it do that
it's a child of the element with the

[2016-04-22 08:52] digitalpiku commented on #8273
@tcheng001 @Bilsi Still not replicable in my Dev environment, Can I get a credential of siteowner account in Dev environment to investigate this issue?

[2016-04-22 12:56] digitalpiku commented on #8326
@Bilsi One quick question, Should this role be visible in admin/people/permissions page also? Please refer to the below screenshot.
![image](https://cloud.githubusercontent.com/assets/4848039/14742017/a118dbae-08b7-11e6-9b23-246a5848cc33.png)

This screen is accessed by super admin.

[2016-04-22 14:00] Bilsi commented on #8326
@digitalpiku - Yes, it should show up in this screen too, good catch

[2016-04-22 14:19] Bilsi commented on #8273
@digitalpiku - http://dev.scholar.harvard.edu/tcheng3/homer-simpson123#
If you empty the image, it does not validate to check if the url is empty. The url cannot be empty if the site title field is not empty.

[2016-04-22 14:27] dorianshmorian opened #8331 "Change "Page" to "Subpage""
Change the label to Subpage
![screen shot 2016-04-22 at 10 26 52 am](https://cloud.githubusercontent.com/assets/7375691/14744450/d8aa494c-0874-11e6-865a-339098cfc3ab.png)

[2016-04-22 19:44] #8331 closed

[2016-04-25 06:57] RoySegall commented on #8324
@Bilsi Are you sure there is a problem? the production site you gave me seems OK. Did you deployed one of the latest fixes I did for the publications?

![screenshot2016-04-19at4_00_15pm_png__1014x324__and_essays___jill_lepore_and_app_for_whatsapp](https://cloud.githubusercontent.com/assets/1222368/14775990/cbbe7cf4-0acb-11e6-8602-7b78f74cdfcf.png)

[2016-04-25 08:45] RoySegall commented on #7372
@rbran100 I added a new update function.

[2016-04-25 12:46] RoySegall commented on #7961
I create migration to the memberships. When I tried to transfer the roles between users using a simple update query I came across issue with duplicate keys. This mean we need to iterate over the items and see which role in each group isn't assigned to the user and assign. In the other case just delete the role form the DB.

[2016-04-25 13:14] Bilsi opened #8333 "UI Control Panel : Menu closes after save in Firefox, Safari and IE"
Admin Panel's 'open' state is sometimes not saved properly after toggling the panel open and closed.

Also, remove code that keeps the panel open on the CP page.

Remove references to cookies? Menu state doesn't need to be saved in cookies.

* [ ] Check menu state is saved after logging in
* [ ] Check menu state is saved after closing on public page
* [ ] Check menu state is saved after opening on

[2016-04-25 13:22] RoySegall commented on #8132
Iv'e added a test for this one.

[2016-04-25 13:32] dancabral commented on #8083
@rbran100 correct. any width set to % gets converted to a 0. so 85% would render as 850px. Setting the width as a pixel value, renders as expected. 450px renders as 450px.

[2016-04-25 13:39] RoySegall commented on #7372
@tcheng001 Try to run the updated again.

[2016-04-25 13:51] Bilsi commented on #8324
Fixed by #7376

[2016-04-25 13:51] #8324 closed

[2016-04-25 13:56] dancabral commented on #8328
@tcheng001 this could use a quick QA. the user menu link color should never be blue like it is here.
![screen shot 2016-04-25 at 9 55 27 am](https://cloud.githubusercontent.com/assets/867075/14786224/eb04906c-0acb-11e6-8df9-a78e56f0256f.png)
It should always be white.
![screen shot 2016-04-25 at 9 55 14 am](https://cloud.githubusercontent.com/assets/867075/14786241/fa3319b4-0acb-11e6-8d54-595c5bac

[2016-04-25 14:04] Bilsi commented on #8132
@tcheng001 - We updated this so that pub title for any citation style should display exactly as the user types it in

[2016-04-25 14:41] tcheng001 commented on #8328
Look good. Mark "Fixed"

[2016-04-25 15:01] tcheng001 commented on #7372
@RoySegall   I rerun update again. When I select "Working Paper" in the publication form, it got this error "An illegal choice ..."
![working_paper_illegal_choice](https://cloud.githubusercontent.com/assets/2111600/14788094/6caa151c-0ad4-11e6-8264-a1f1666a4a82.png)
Then, I copy DB from production, but there is no pending update. Confusing!

[2016-04-25 15:01] #8328 closed

[2016-04-25 15:44] tcheng001 commented on #8132
@Bilsi
Questions:
1) How we handle the existing data?  For example, American Chemical Society (with title), it capitalizes the title.  Will the existing data be affected ?

2) Now, the text box looks different from that in production.  No more italic, superscript, subscript and symbol buttons. If the existing title contains symbols, what happens in the new title box?

3) If I try to add some marku

[2016-04-25 20:22] #8277 closed

[2016-04-26 03:48] digitalpiku commented on #8326
@Bilsi PR #8337 has been created for review.

[2016-04-26 04:19] digitalpiku commented on #8247
@rbran100 In this ticket, the creator of the event is treated as the uid field value of the event node entry in node table in database. So, for this issue, notification email will be triggered to that email which is mentioned in the 'mail' column of that uid value in 'user' table. "From" email is a completely different field for events registration which is used for email header for reminder email

[2016-04-26 13:06] tcheng001 commented on #5529
@dancabral    I have checked all HWP themes and can't reproduce the issue anymore.

[2016-04-26 13:33] tcheng001 commented on #8247
@rbran100  @digitalpiku
Is the "From" field in Settings page only used in sending reminder?
![screen shot 2016-04-26 at 9 31 56 am](https://cloud.githubusercontent.com/assets/2111600/14819838/f3626ab0-0b91-11e6-832e-b2d8de10a30c.png)

[2016-04-26 13:45] openscholar-admin opened #8339 "accessibility of new OS admin panel"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/accessibility-of-new-os-admin-panel)

**The Plan**

Implement the following accessibility fixes to the new menu:
1) We’ll apply the role and label attributes (role="button" / aria-label="My button label”) to:
*The my account icon
*The my account close icon
*The OS Control Panel (squa

[2016-04-26 14:01] tcheng001 commented on #8247
@digitalpiku
The event's creator will get a notification email when the event is full if s/he is the owner or a vsite admin.
However, if I log in as a content editor and create an event, I don't get the notification email when the event is full.  Could you check it again?

[2016-04-26 14:43] tcheng001 commented on #8273
@Bilsi  @digitalpiku
I still see the issue in http://cogdev2xhrzfswysp.devcloud.acquia-sites.com/hwpiproj
This is part of the csv file. The field of "Websites url 1" is empty while "Websites title 1" has a value.  I import the csv file successfully. Validation is not working correctly.
![screen shot 2016-04-26 at 10 38 32 am](https://cloud.githubusercontent.com/assets/2111600/14822069/0e6e30b0-0b9

[2016-04-26 14:56] dancabral commented on #5529
no longer reproducible. closing

[2016-04-26 14:56] #5529 closed

[2016-04-26 15:05] dancabral commented on #7853
this is fixed.

[2016-04-26 15:08] dancabral commented on #8279
@tcheng001 the branch name is mk-bigpic_collector_private. to QA, BigPic theme should no longer be available to regular site admins on the cp/appearance page.

[2016-04-26 15:13] tcheng001 commented on #8273
@digitalpiku   When I use attached file in the first time, validation is working fine. Then, I open it in excel and save it without changing anything. This time, validation fails to detect the issue and I can import the file successfully.
Note: when I save csv files in Excel in my Mac, it always show this warning.  I just click "Continue" to save.
![screen shot 2016-04-26 at 11 10 30 am](https://c

[2016-04-26 15:19] tcheng001 commented on #8273
@digitalpiku   Validation works fine with the attached csv in the first time.  But after I open and save it in Excel, validation doesn't work anymore.

[2016-04-26 15:49] mallove commented on #8325
One workaround is to just use the Slide Teaser, which already has the "Read More" functionality:

![img](https://lh3.googleusercontent.com/-FipA_ZI2YHY/Vx-N_HkkdZI/AAAAAAAAAE4/ZDxn1Hof3P0vTwVerJLzWylSUYMJmrdCQCCo/s512/Screen%2BShot%2B2016-04-26%2Bat%2B11.47.36%2BAM.png)

[2016-04-26 16:00] tcheng001 commented on #8279
Mark "Fixed"
The old theme "BigPic" is no longer accessible in /cp/appearance page for regular users (including owner and vsite admin).

[2016-04-26 16:03] #7853 closed

[2016-04-26 18:06] openscholar-admin opened #8340 ""No Media Given" message showing logged out"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-no-media-given-message-showing-logged-out)

**The Plan**

Fix issue so that an empty embed media widget does not automatically print text.

**Description**

[http://docs.openscholar.harvard.edu/home](http://docs.openscholar.harvard.edu/home)

 [![img](https://d2r1vs3d9006ap.cloudfro

[2016-04-26 18:09] dancabral commented on #8340
@digitalpiku the plan here is to prevent the embed media widget from automatically printing text when its empty. It shouldnt print anything. Heres an example of an empty embed media widget printing "No media given". Thanks. let me know if you have any questions.
![embed-med-empty-screen](https://cloud.githubusercontent.com/assets/867075/14829258/6aeb9d6a-0bb8-11e6-8aae-4a26a82f35d6.png)

[2016-04-26 18:16] openscholar-admin opened #8341 "File form: Error "Label can not be empty" is partially hidden if that is not an image file"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/file-form-error-label-can-not-be-empty-is-partially-hidden-if-that-is-not-an-image-file)

**The Plan**

 "Label can not be empty" should be displayed if the user clicks "save" leaving the label empty. This error below only happens if the file is an image file

**Description**

[![img

[2016-04-26 18:40] rbran100 commented on #8247
@digitalpiku can you check as a content editor.

[2016-04-26 18:41] rbran100 commented on #8326
@digitalpiku see comment in PR

[2016-04-26 18:46] rbran100 commented on #8323
How does that update help? It looks like cid 7 has all the same fields filled as the others?

What missing fields cause the issue?  What is the scope of the problem?

[2016-04-27 06:41] RoySegall commented on #8083
So this is working as expected, no?

[2016-04-27 06:56] digitalpiku commented on #8273
@tcheng001 @rbran100 @Bilsi Finally able to replicate the issue, this is due to the different CSV formats in Windows and Mac, when saving the csv after modification. As I am using windows, I am saving the csv as "CSV (Comma Delimited) in MS Excel". When I am using CSV (Macintosh) for saving, I am able to replicate it. I believe you are using MacOS, so by default CSV Macintosh format is applied whi

[2016-04-27 08:36] digitalpiku commented on #8273
PR #8319 has been updated for review. Should now work with both Mac and Windows CSV format.

[2016-04-27 10:47] RoySegall commented on #8132
The data did not modified in the DB only when it presented so you don't need to worry about it.

I'll try to have a look on that. But just in case - do you have a screen shot for that?

Indeed. Only sub, sup and italic accepted in the field. If someone will try other tags then they will be filtered.

[2016-04-27 11:15] RoySegall commented on #8132
@tcheng001 About 2 i can see that we get shadow:
![create_publication___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14850529/69ff481e-0c82-11e6-9fe1-f20a51a96c9d.png)
But this come from the [aberdeen](https://github.com/openscholar/openscholar/blob/f41a5197c88c685aa5cb363a4227881cb350b777/openscholar/themes/aberdeen/css/aberdeen.css#L12-L12) theme

[2016-04-27 11:54] RoySegall commented on #7372
I'm downloading the dump. I'll update when I have something new.

[2016-04-27 12:36] RoySegall commented on #7372
I took the dump, and it seems that you already run update 7044(i'm looking on the schema version of the module and i'm getting 7044) and everything is OK.

[2016-04-27 13:11] rbran100 commented on #8247
@tcheng001 can you pass more information about the user you used? Anish was able to get e-mails testing with content editor.

[2016-04-27 13:36] rbran100 commented on #8132
With the WYSIWYG this should all be resolved, @RoySegall will make sure it is there.

[2016-04-27 13:38] rbran100 commented on #7372
@RoySegall took a look and it looks like the update has run, the updates in dev are run automatically when copied to dev so I think that is what is happening.  So we should test as if the update has run.

[2016-04-27 13:39] tcheng001 commented on #8247
Mark "Fixed"
@rbran100   @Bilsi   The content editor is able to get email now when s/he is the event creator and the event is full.  I think we are all set.

Regarding [this] (https://github.com/openscholar/openscholar/issues/8247#issuecomment-212495453), I will create a GS ticket when I re-confirm the issue on production.  Any objection?

[2016-04-27 13:39] rbran100 commented on #7372
Can you clear the cache to make sure you have the changes.

[2016-04-27 14:01] tcheng001 commented on #7372
Mark "Pending"
@rbran100  Just want to make sure doing the correct things.
Deploy 7372-fix PR to dev.scholar  (Not 7372)
Note: No pending update is found
Clear Drupal cache
Clear Browsing data
Go to http://dev.scholar.harvard.edu/tcheng3/publications page
Create a new publication
In the form, when I select "Working Paper" as pub type, the field of "Date Published" is gone. I can see the field if t

[2016-04-27 14:01] #8247 closed

[2016-04-27 14:02] Bilsi commented on #8279
Waiting on Mary

[2016-04-27 14:33] tcheng001 commented on #8273
Mark "Fixed"
1) new template file contains 3 pairs of websites info (website title and website url)
2) website info can be empty
3) if a website title is not empty, then its corresponding url field can't be empty.
4) a website title can be empty even though its corresponding url field has a value.

[2016-04-27 14:34] digitalpiku commented on #8326
@rbran100 While looking at OpenScholar default permission matrix, I am seeing that node module is giving 2 options for viewing content:

1. View published content
2. View own unpublished content.

Can there be some security risk, if we reuse any of the available permissions exposed by node module? Additionally, all the checkboxes are in checked state for all roles for "View published content" perm

[2016-04-27 15:46] #8273 closed

[2016-04-27 17:26] Bilsi commented on #8028
@RoySegall - I finally got a chance to stage this in staging.scholar.harvard.edu
Noticed some of the functionlaity that was available in the old Wysiwyg is missing.

1.Font family and size are missing
2.Lost ability to highlight a text
3.Not able to align left, right or center
4.Unable to change the of a text
5.Table border doesnt add border between columns and rows

[2016-04-27 18:46] rbran100 opened #8342 "Update to Drupal 7.43"
This has a major security update, as well as some fixes to mysql compatibility to allow for queries that would not work with ONLY_FULL_GROUP_BY

[2016-04-27 20:15] tcheng001 commented on #8329
Mark "Fixed"
Checked with all roles (including owner, vsite admin, content editor, basic member and custom role)
They all have permission to use link tool now.

[2016-04-27 23:40] #8329 closed

[2016-04-28 11:42] digitalpiku commented on #8340
PR #8345 has been created for review.

[2016-04-28 13:43] mallove opened #8346 "build script does not exit on permissions error"
The build script should replace `www` with a new `www`.  It currently moves `www-build` into an empty `www` (if it doesn't have permission to replace it), e.g.,

[code]

[2016-04-28 14:08] mpetrovic commented on #8346
It's supposed to delete the existing www directory before copying www-build
into www.

[2016-04-28 14:51] Bilsi commented on #8326
@digitalpiku - A viewer role should be able to view all published content. So it should be checked since it is a view only permission. They should also be able to view private content - like for instance if Blogs is private on a site, a viewer should still have permissions to view it.
The "View own unpublished content" should not have any rights - not even view

[2016-04-28 15:29] openscholar-admin opened #8347 "Option to disable Subscribe & iCal buttons from events"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/option_to_disable_subscribe_ical_buttons_from_events)

**The Plan**

Option to disable Subscribe & iCal buttons from events

**Description**

Can the 'Subscribe' and 'iCal' buttons on individual event listings be an option that we can choose to not include? For certain

[2016-04-28 15:32] openscholar-admin opened #8348 "Taxonomy widget : Select Post Types should only show those content types which the vocabulary applies to"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/taxonomy_widget_select_post_types_should_only_show_those_content_types_which_the_vocabulary_applies_to)

**The Plan**

Taxonomy widget : Select Post Types should only show those content types which the vocabulary applies to

**Description**

For example, there is a vocab "science" which applies to content ty

[2016-04-28 15:39] Bilsi commented on #8347
@digitalpiku - we want to add a configuration to allow the user to not display the subscribe and ical options in the events module.
Can you add this to the cp/settings page as configuration under "Taxonomy"

Events
<checkbox> Do not display export options on Event detail page.

it should be unchecked by default.
Do not spend a lot of time on the UI of this page since it will change soon

[2016-04-28 15:47] tcheng001 commented on #8340
Mark "Fixed"
1) No more text is printed when the embed media has no contain. Actually, it doesn't render in the page at all.
2) Embed media works as usual

[2016-04-28 15:51] #8340 closed

[2016-04-28 18:12] tcheng001 commented on #7372
@RoySegall   I misunderstood this ticket a bit. After discussed with Bilsi and read https://github.com/openscholar/openscholar/issues/8114.  Working paper doesn't need the field "Date Published".
1) Could you please remove it?
2) I found that Add person is not functioning.  I click it but nothing happens.

[2016-04-28 18:59] openscholar-admin opened #8349 "Non primary menu in menu bar region - display issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/non-primary-menu-in-menu-bar-region-display-issue)

**The Plan**

Add a more general menu selector so if a secondary or custom menu is placed in the menu bar region it floats in the center of the layout.

**Description**

Most sites place the primary menu in the menu bar region. This

[2016-04-28 22:24] #8205 closed

[2016-04-29 10:29] digitalpiku commented on #8347
As the title of this ticket specifically targets Subscribe & iCal buttons, what needs to be done for RSS link? Please refer to the below screenshot. Do we need to remove entire export options or remove only Subscribe and iCal links? Please confirm

![image](https://cloud.githubusercontent.com/assets/4848039/14913798/1b22f4dc-0e23-11e6-96ad-42010a62deff.png)

[2016-04-29 13:31] Bilsi commented on #8132
@RoySegall - To @tcheng001 's point 2 above - we need the text box to look like the one in prod below
In Prod, if i select the text and made it bold, it works. That functionality is not available in this PR.
![1](https://cloud.githubusercontent.com/assets/11841641/14917389/ce3960e2-0dec-11e6-9b91-72a99d13c8a1.png)

Also, now that we are letting the user's formatting stay, there is no difference be

[2016-04-29 13:37] #8349 closed

[2016-04-29 13:41] digitalpiku commented on #8326
@Bilsi PR #8337 has been updated for review.

![image](https://cloud.githubusercontent.com/assets/4848039/14917731/15c075f8-0e3e-11e6-887d-87dda712eb94.png)
![image](https://cloud.githubusercontent.com/assets/4848039/14917737/1f8dfd4e-0e3e-11e6-8164-afd61d667a52.png)

[2016-04-29 14:06] dancabral commented on #8347
@digitalpiku slight update to this tic. the config option will be to not display export options on any events pages. Thanks.

Events
[checkbox] Do not display export options on event pages.

it should be unchecked by default.

[2016-04-29 14:15] dancabral commented on #7909
correct @rsasch. this related issue is being worked on in this release https://github.com/openscholar/openscholar/issues/8083

[2016-04-29 15:41] dancabral commented on #8276
@tcheng001 can you have a QA pass at this new flavor. Gabriel already QA'd it for me once, so it should be ok. Thanks.

[2016-04-29 15:47] dancabral commented on #8339
@Bilsi I implemented a few accessibility fixes. it wont resolve all of them but, this pr will resolve some.

[2016-04-29 15:51] #8339 closed

[2016-04-29 16:00] dancabral opened #8355 "gking site/theme: presentations appearing under papers tab"
@mpetrovic the issue occurs sporadically and seems to be isolated to garys site. paging forward and backward in the papers tab will display presentations.
![screen shot 2016-04-29 at 11 52 11 am](https://cloud.githubusercontent.com/assets/867075/14921763/dbf8023c-0e01-11e6-92d2-23916a89d0ee.png)

[2016-04-29 17:03] mallove commented on #8325
https://github.com/openscholar/openscholar/pull/8356

[2016-04-29 17:05] mallove commented on #8325
Preview:

![img](https://lh3.googleusercontent.com/-8otSNk2T5ZE/VyOUNNcBMoI/AAAAAAAAAFQ/6uuZPdJdLUY20ehkM18TLpKUs9_j_Jk4QCCo/s512/Screen%2BShot%2B2016-04-29%2Bat%2B12.31.26%2BPM.png)

[2016-04-29 17:21] tcheng001 commented on #8260
1) CP opens involuntarily  after I save cp/apps page
Steps to reproduce:
a) Open CP
b) go to /cp/apps page
c)  refresh /cp/apps
d) close CP menue
e) click Save
Note: CP menu opens automatically, but it happens occasionally.

2) Sometimes, I find I am not able to open CP menu by clicking the bottom button.  I need to refresh the page to make CP button work.

[2016-04-29 17:44] tcheng001 commented on #8276
Look good.
1) New theme is shown in cp/appearance page
2) User can select the new theme
3) New theme looks good.

[2016-04-29 17:47] mpetrovic commented on #8325
Comment in PR. Back to Dev.

[2016-04-29 17:53] #8276 closed

[2016-04-29 18:00] tcheng001 commented on #8341
Look good. Mark "Fixed"

[2016-04-29 18:04] #8341 closed

[2016-04-29 18:20] dancabral commented on #8275
@mallove can you take a look at this? the day we looked at it together, the Add Slide link was in the markup. Now it isnt. Not sure why. http://hwpi.harvard.edu/gov/about

[2016-04-29 18:51] #8279 closed

[2016-04-29 19:10] dancabral commented on #8246
Fixed. Before
![screen shot 2016-04-29 at 3 10 12 pm](https://cloud.githubusercontent.com/assets/867075/14926881/814972d8-0e1c-11e6-93ba-542f54dfe3f9.png)
After
![screen shot 2016-04-29 at 3 01 36 pm](https://cloud.githubusercontent.com/assets/867075/14926886/87f6c720-0e1c-11e6-9e8c-02378406733a.png)
![screen shot 2016-04-29 at 2 55 45 pm](https://cloud.githubusercontent.com/assets/867075/14926888

[2016-04-29 19:27] mpetrovic commented on #8355
@dancabral @Bilsi
I cleared the varnish cache and that solved the problem for now.

The issue is that the next link for the pager referenced the wrong block id. Like it got confused about which pager references which block. Clearing varnish forced it to rebuild the markup and solved the problem for now. I'll continue looking into how this situation occurred to begin with

[2016-04-30 00:42] #8246 closed

[2016-05-02 08:47] RoySegall commented on #7961
OK. I done with removing duplicate migrations. I need to do some tests with one of the dumps.

[2016-05-02 10:51] RoySegall commented on #8132
Looking on this one.

[2016-05-02 11:28] RoySegall commented on #8132
Nope. I can't see the difference. I have the dump and on my local machine I can old and it's look just like the the clean installation form.

And let me know what about the citation state - if I need to remove `American Chemical Society (with title)` or not. If so this would need an upgrade path.

[2016-05-02 11:50] RoySegall commented on #7372
Checking.

[2016-05-02 12:37] RoySegall commented on #7372
@tcheng001 I removed the `Date published` field:
![create_publication___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14954278/d8879cd2-1079-11e6-8a7c-2f646e1f6cf6.png)

About the `Add person` button it seems to work:
![publication](https://cloud.githubusercontent.com/assets/1222368/14954520/b1450aae-107b-11e6-9a65-8493857e791f.gif)

[2016-05-02 12:54] RoySegall commented on #8028
I'm checking this one.

[2016-05-02 13:17] RoySegall commented on #7372
@rbran100 I added another update path so @tcheng001 could run the updates. When the issue will be approve we will need to remove them because we added them for this issue and they look redundant to me.

[2016-05-02 13:29] RoySegall commented on #8028
@Bilsi This one if very weird... I added a lot of wysiwyg button and they are missing. I'm checking this one.

[2016-05-02 13:48] dancabral commented on #8083
@RoySegall its still a problem. as described in my most recent comment https://github.com/openscholar/openscholar/issues/8083#issuecomment-214329259

[2016-05-02 14:09] mpetrovic commented on #8132
Can you just disable it so users can't select it anymore?

[2016-05-02 14:47] openscholar-admin opened #8357 "'Comments' shows up in Browse on the new control panel even if you don't have them enabled"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/comments-shows-up-in-browse-on-the-new-control-panel-even-if-you-dont-have-them-enabled)

**The Plan**

'Comments' should not show up in Browse on the new control panel even  you don't have them enabled

**Description**

![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1405951/

[2016-05-02 14:48] openscholar-admin opened #8358 "New CP - notifications"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/new-cp-notifications)

**The Plan**

Notifications count should show up next to the profile icon when the right side menu is collapsed

**Description**

Could we have the notifications also show on the person icon button? Currently there is no way to see that there are notifications

[2016-05-02 14:49] openscholar-admin opened #8359 "Can't upload files that have a # in them"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/i-cant-upload-files-tried-multiple-browsers-cleared-caches-restarted-computer)

**The Plan**

When the user tries to upload a file containing special characters, we should display a message saying "Files with special characters are not allowed".

**Description**

[![img](https://d2r1

[2016-05-02 14:53] Bilsi commented on #8357
@mpetrovic - If blog is enabled, then comments should show up in site content-->Browse--> Comments.
If blog is disabled under App, comments should not show.
If Blog is private, whoever has access to private content, should have access to comments

[2016-05-02 15:47] openscholar-admin opened #8361 "Filter news by timeframe"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/filter_news_by_timeframe)

**The Plan**

Filter news by timeframe and people profiles alphabetically by last name. We would like to add these options to the cp/settings page. Again, do not spend too much time on the UI since this screen will change in the next month

**Description**

I have had a few clients

[2016-05-02 15:52] mallove commented on #8313
Fixed in 512f58dfc5c7edfc2899b99bc5f842e54a4d947e

[2016-05-02 15:58] dorianshmorian commented on #8361
News filter language in settings:
[ ] Display filter for news by month
[ ] Display filter for news by year

Profile filter language in settings:
[ ] Display alphabetical grouping filter by last name: A-E   F-J   K-O   P-T   U-Z

[2016-05-02 16:15] tcheng001 commented on #8357
Look good. Mark "Fixed"
1) Comments is not showed in CP when it is disabled
2) Comments will be showed in CP when it is enabled (public)
3) Comments will be showed in CP even it is set to private
4) Comments work correctly as usual.

[2016-05-02 16:58] #8357 closed

[2016-05-02 17:36] Bilsi commented on #8313
@mallove -
"Logging in to your site" should take the user to "http://docs.openscholar.harvard.edu/logging-your-site"

and
Hi [username],
Congratulations! Your new website [website URL] has been activated, and you can log in here [Login URL] with the username [username]. Don't forget to bookmark your new site and save this email for future reference

The [Login URL] should take the user to the root

[2016-05-02 17:41] tcheng001 commented on #8313
@mallove   Please refer to the image before.
![screen shot 2016-05-02 at 1 37 12 pm](https://cloud.githubusercontent.com/assets/2111600/14962194/9202ce84-106b-11e6-8100-2a419172b402.png)

[2016-05-02 17:55] mallove commented on #8313
Fixed in 99e781850c0f593ee72d54dd6cea14ba37ff4169

[2016-05-02 18:44] openscholar-admin opened #8362 "Publication attachment wrapping problem"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publication-attachment-wrapping-problem)

**The Plan**

Fix issue so that the weird wrapping doesn't occur.

**Description**

In lists of posts, when there are multiple publication attachments and some of them have long, one word titles, the wrapping becomes peculiar. There should be

[2016-05-02 19:13] tcheng001 commented on #8358
@mpetrovic
When Notification count is down to 1, but the counter next the user is still 3.
![screen shot 2016-05-02 at 3 09 16 pm](https://cloud.githubusercontent.com/assets/2111600/14964791/df72afac-1077-11e6-9047-6d4e898cb259.png)

After closing the menu, the counter still show 3 instead 1.  Intended?
![screen shot 2016-05-02 at 3 09 45 pm](https://cloud.githubusercontent.com/assets/2111600/1496

[2016-05-02 19:41] Bilsi commented on #8326
@digitalpiku - We do not see the "viewer" role - the code is deployed to dev.scholar.harvard.edu
http://dev.scholar.harvard.edu/tcheng2/cp/users/roles

[2016-05-03 06:35] digitalpiku commented on #8326
@Bilsi Can you please confirm that database update script was executed after deployment? I am getting the below screen for the same page.
![image](https://cloud.githubusercontent.com/assets/4848039/14976200/3ab41a5e-1127-11e6-94d1-06ca407223d9.png)

[2016-05-03 10:52] RoySegall commented on #7961
OK. I checked this with a larger DB and i found some problems like the number of items per batch. Iv'e changed it to 50 so it could scale. I checked it with a user and it seems that all his memberships has moved to other user.

So this one ready for review.

[2016-05-03 11:09] RoySegall commented on #8132
Sure.

[2016-05-03 11:57] RoySegall commented on #8132
Pushed a fix for deprecating the style. If someone select the csl like they did before:
![publications_settings___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14982453/18bf7e80-113f-11e6-9d51-bc291f81932d.png)

It will change to
![publications_settings___tcheng3](https://cloud.githubusercontent.com/assets/1222368/14982456/256c88f8-113f-11e6-9427-3a1569aae5be.png)

[2016-05-03 12:05] digitalpiku commented on #8348
PR #8364 has been created for review. Implemented ajax callback to update bundle type sets as per selected vocabulary.
![image](https://cloud.githubusercontent.com/assets/4848039/14982648/76ab5d64-1155-11e6-9840-37d1bf55778e.png)

[2016-05-03 12:08] RoySegall commented on #8083
Are you talking about this? If so you mean that you put just % and it's converted to 0?

[2016-05-03 12:49] RoySegall commented on #8028
It seems that for coloring the text we need a plugin and all the other features. I'll see how this can be done.

[2016-05-03 13:26] RoySegall commented on #8028
I managed to add plugin for text color but the ck editor is now broken. I have a feeling that there is a way to add plugin in a non-conventional way.

[2016-05-03 14:30] mallove commented on #8275
I don't see the issue:

![url](https://lh3.googleusercontent.com/-39GjcxzFfJ0/Vyi10GxfdbI/AAAAAAAAAFo/zFOfhk3gk4M38fUrga5UA8xoery9LmTywCCo/s800/Screen%2BShot%2B2016-05-03%2Bat%2B10.29.08%2BAM.png)

(Shade theme, row or column region, Mac OS Chrome)

[2016-05-03 15:29] tcheng001 commented on #8132
I am confusing now.
1)  This ticket is supposed to deal with the publication type "Harvard Chicago Author-date" originally. Then, the wysiwyg for title is gone. Richard asked Roy to put it back. But I still don't see the wysiwyg. Do we still keep the original wysiwyg which can allow Italics, Superscript, Subscript and symbols?
![screen shot 2016-05-03 at 11 14 20 am](https://cloud.githubuserconten

[2016-05-03 15:40] dancabral opened #8367 "Update announcement on login screen"
The announcement on the login screen needs updating. We should say something like "The new control panel is here! Find out more."
![screen shot 2016-05-03 at 11 33 21 am](https://cloud.githubusercontent.com/assets/867075/14989026/dd81659c-1123-11e6-8404-dc7a7d3380de.png)

[2016-05-03 15:45] Bilsi commented on #8083
@RoySegall - Yes, that is what is happening
Can you look into this?

[2016-05-03 16:01] mpetrovic commented on #8260
1 is being handled in #8333.

2 I can look into

[2016-05-03 16:34] tcheng001 commented on #8171
Look good now.  Mark "Fixed"
Checked Chrome, Firefox and Safari in Mac.
Checked Chrome, Firefox and IE in Windows 7.

[2016-05-03 17:04] #8171 closed

[2016-05-03 18:01] mpetrovic commented on #7961
Good except for the spelling error. When that's fixed it can go into QA.

[2016-05-03 18:30] dancabral commented on #8275
@mallove this one is maddening. I see the add slide link now but didnt a few days ago. I'll take it and treat it as a css fix while the markup is still there.

[2016-05-03 18:32] mpetrovic commented on #8260
@tcheng001 Nevermind, that's a separate issue. This issue is just about the X button functioning in all cases.

[2016-05-03 19:03] tcheng001 commented on #8348
@digitalpiku
1) If I create a new Taxonomy widget, the new logic works perfectly fine.
2) If I open an existing Taxonomy widget, it seems that the new logic doesn't apply to the exiting widget. All content types are listed. Here is an example.  I tested on the front page of http://dev.hwpi.harvard.edu/tormanhc.  Taxonomy Widget 2's form looks below. Vocabulary is "class"  and Type lists all conten

[2016-05-03 19:07] Bilsi opened #8368 "Update login screen text"
Update the text in the login screen to say “The new Control Panel is here! Find out more”
Instead of "Control panel is changing soon. Learn more about it

[2016-05-03 19:10] dancabral opened #8369 "Admin menu: remove the scrollbars from the os control panel icon when the menu closes"
Remove the scrollbars from the os control panel icon when the menu closes. They arent visible in the screen below but this is where it occurs.
![screen shot 2016-05-03 at 3 08 27 pm](https://cloud.githubusercontent.com/assets/867075/14995121/2ddb22a4-1141-11e6-9f41-e1edf99c3856.png)

[2016-05-03 19:44] tcheng001 commented on #8260
Look good.
1) Tested in Chrome, Firefox and Safari.

2) Clear browsing data, go to test site, log in
Note: The Control Panel opens automatically when the user logged in. Click the close button to close CP.

[2016-05-03 19:46] #8260 closed

[2016-05-03 20:19] mallove commented on #8313
Fixed in d6e20fead1691c305b73397164d68e3639e7a2c0

[2016-05-03 20:25] dancabral commented on #8282
New release 3.42.0 has been posted
![screen shot 2016-05-03 at 4 24 15 pm](https://cloud.githubusercontent.com/assets/867075/14997231/9807ee3c-114b-11e6-813f-489fe74171ce.png)

[2016-05-03 20:25] #8282 closed

[2016-05-03 20:41] rbran100 opened #8370 "Batch Update"
@RoySegall

We like your batch update but request one change.  Can we remove the default class of "update" and make the class a required paramenter / option.  Also can we update all of the existing classes so they use somthing unique like "update_vsite_7004 extends AbstractUpdate".

The issue we have is when we have multiple batch updates they all share the same class name and we get fatal updates

[2016-05-03 20:44] mallove commented on #8313
e16ea4c4cf3ab07a5bbcee095c1039c9437e106b

[2016-05-03 21:07] dancabral commented on #8275
@tcheng001 this is readyfor QA. should now see add slide link in slideshows that are Not on the homepage.
![screen shot 2016-05-03 at 5 06 53 pm](https://cloud.githubusercontent.com/assets/867075/14998367/946498c4-1151-11e6-8685-f8f77376c015.png)

[2016-05-04 06:49] RoySegall commented on #7961
Fixed the typo.

[2016-05-04 07:58] RoySegall commented on #8028
Nailed it - https://gfycat.com/ClosedDiligentBirdofparadise.

I understood why we got issues it seems that we need to wrap the elements with a wysiwyg settings:
`Drupal.wysiwyg.plugins['colorbutton'] = CKEDITOR.plugins.get('colorbutton');`

I'll found a way how to wrap them with out code.

[2016-05-04 08:13] digitalpiku commented on #8326
@mpetrovic Comment given in PR #8337

[2016-05-04 09:57] digitalpiku commented on #8348
@Bilsi PR #8364 has been updated for review.

[2016-05-04 11:57] Paul0x opened #8372 "Infinite Scroll Doesn't Work on Biblio"
I'm trying to make the default Infinite Scroll to work on my Scholars's publications pages but all I get is javascript errors.

`TypeError: content.offset(...) is undefined

if (content.offset().top + content.height() < $(document).scrollTop() + $(window...`

I think it's because the Biblio module isn't applying the markup correctly but I haven't found a way to fix it yet.

[2016-05-04 13:07] tcheng001 commented on #8313
Look good. Mark "Fixed"
![screen shot 2016-05-04 at 9 03 44 am](https://cloud.githubusercontent.com/assets/2111600/15015010/5e75ec6e-11d7-11e6-927e-d2767b829ffc.png)

[2016-05-04 13:09] RoySegall commented on #8370
it's kind of strange since each time the batch is starting there is a new page request and there are new files that being loaded so i can't a collusion between the files.

But I'll change this.

[2016-05-04 13:16] RoySegall commented on #8028
So I managed to add the new plugin but then something broke and every plugin i'm adding throw me an error with language issues:
![create_blog_entry___john](https://cloud.githubusercontent.com/assets/1222368/15015263/7ae37b14-1213-11e6-98df-bf9024617436.png)

I'll try to figure this one out tomorrow.

[2016-05-04 13:47] tcheng001 commented on #8275
checked in both theme Shade and Conservative
Add Slide links show in home page, basic and column widget.

[2016-05-04 13:59] openscholar-admin opened #8373 "Add Slide link is missing"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/add-slide-link-is-missing)

**The Plan**

Fix it so that the add slide button shows up

**Description**

The Add Slide link does not appear when the slideshow in within a columns widget, using the Shade theme.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1394170/Add-Slide

[2016-05-04 14:34] tcheng001 commented on #8348
@Bilsi  @rbran100
I deploy the code to dev.scholar and then run update. But I found something weird.
1) some sites don't have the new role (viewer)
2) some sites shows two Viewer rolle in cp/users/roles page
I suspect that might be an environment issue, so copy DB from production and try to run update. But this time,  there is no pending update.
Anyway. Check my sites again,
1)  http://dev.scholar

[2016-05-04 14:36] #8275 closed

[2016-05-04 14:38] tcheng001 commented on #8326
@Bilsi @rbran100
I deploy the code to dev.scholar and then run update. But I found something weird.
1) some sites don't have the new role (viewer)
2) some sites shows two Viewer rolle in cp/users/roles page
I suspect that might be an environment issue, so copy DB from production and try to run update. But this time, there is no pending update.
Anyway. Check my sites again,
1) http://dev.scholar.ha

[2016-05-04 14:39] #8313 closed

[2016-05-04 14:40] #8373 closed

[2016-05-04 15:21] tcheng001 commented on #8348
Mark "Fixed"
Tested on both new and existing taxonomy widget.
1) List of dropdown of content types respects to the selected vocabulary
2) Taxonomy widget works as before.

[2016-05-04 15:24] #8348 closed

[2016-05-04 16:18] dancabral opened #8374 "Update theopenscholar.org logo with iqss tagline"
the logo should contain an iqss tag line here http://theopenscholar.org/

[2016-05-04 17:36] Bilsi commented on #8132
@RoySegall - There has been a confusion. Please revert to NOT remove the american chemical society (with titles) citation style
Also put the wysiwyg back

[2016-05-04 18:37] rbran100 commented on #8326
When you copy the DB it runs the update automatically, unless you copy it on 3.x then switch to the branch.  It should have created the role everywhere so there is likley a bug in the update.

[2016-05-04 18:41] Bilsi commented on #7961
@RoySegall - Right now, only user 1 has permissions to access it. We would like a support user to have access to this.
Also, please remove then "Number of items *". We would like to migrate everything once a user decides to merge
i tried to merge "bilsi" as the primary user with "orentest" as the secondary  user and after it was done, the review migration screen shows up with user004 also

![1](ht

[2016-05-04 20:06] openscholar-admin opened #8376 "Twitter widget set to display with hashtag is displaying repeating events"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/twitter-widget-set-to-display-with-hashtag-is-displaying-repeating-events)

**The Plan**

Fix it so that the Twitter widget set to display with hashtag displays just once

**Description**

Did the api change?

See

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1407294/Scre

[2016-05-04 20:14] rbran100 commented on #8355
To test this go to this URL: dev.scholar.harvard.edu/gking/home?sv_list_box_delta=og-3633-ebdab829&amp;pager_id=3&amp;destination=home&amp;page=3,0,1,3&amp;source_extra=mobility.shtml

If the pagers work then the fix works, you can see that using that URL in stage / prod they are broken.

[2016-05-04 20:34] rbran100 commented on #8083
@rsasch can you comment on what you have done?

It looks like you may have removed the need for converting a percentage to a hard pixel value by fixing the original issue a different way?

Can you confirm that this does not introduce the original bug again? https://github.com/openscholar/openscholar/issues/6539

[2016-05-05 05:58] RoySegall commented on #8083
I see @rsasch did some work there but let's keep more simple - if they only put % in the width why not throw a validation error?

[2016-05-05 07:52] RoySegall commented on #8370
@rbran100 I renamed the files and got the name of the function from the backtrace.

I can improve the batch by just providing the name of the module and construct a default path.

[2016-05-05 08:36] RoySegall commented on #8132
I have a feeling there is a JS error relate specific to the environment. @tcheng001 Can you please send me, skype or mail, your username and password.

[2016-05-05 08:42] RoySegall commented on #8132
I reverted the deprecates style and now we have both of the CSL.

[2016-05-05 08:44] digitalpiku commented on #8347
@Bilsi PR #8380 has been created for review.

[2016-05-05 08:58] RoySegall commented on #7961
Only users which have `administer users` permission can access the migration page.
The number of items is how much items the user want to migrate per batch. This is useful for different environment with different resources.

And on which environment you to migrate?

[2016-05-05 10:26] digitalpiku commented on #8326
@rbran100 Found the root cause. The update code inserts the rows for default roles in og_role table having gid=0. Hence, the existing sites whose roles have been overridden will not show the new viewer role as gid is non-zero for this case. But the existing sites, whose roles are not overridden can show that. I will modify the update code to support existing sites whose role have been overridden.

[2016-05-05 12:09] digitalpiku commented on #8326
@rbran100 PR #8337 has been updated for review. This time after executing database update, existing sites should show the new role.

[2016-05-05 14:16] RoySegall commented on #8028
OK i found out how to add plugins correctly - https://gfycat.com/OffensiveGiganticAcaciarat -
![create_blog_entry___john_](https://cloud.githubusercontent.com/assets/1222368/15045764/0dbbce56-12e5-11e6-9d39-2d2b32d37e32.png)

I'll work on the other plugins.

[2016-05-05 14:26] tcheng001 commented on #8333
Still not working.  Testing in Firefox and Safari (http://dev.scholar.harvard.edu/tcheng3)
At least, I found the following two scenarios in which CP pops open automatically.
1) When in an admin page (say cp/apps)
a) close CP
b) click Save configuration button
Note:  CP pops open automatically

2) When in a public page (say home page),
a) close CP
b) go to another public page
Note: CP pops open aut

[2016-05-05 15:04] openscholar-admin opened #8381 "Filter widget does not show all events"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/filter-widget-does-not-show-all-events)

**The Plan**

Fix the bug so that the filter widget for taxonomy should work correctly

**Description**

If I create a taxonomy widget for events and select "all posts":

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1410111/widget-s

[2016-05-05 15:06] RoySegall commented on #8028
@Bilsi What I got left is to cover the border of the tables and the embed media issue you mentions above.

[2016-05-05 15:16] dancabral commented on #8368
implemented
![screen shot 2016-05-05 at 11 16 09 am](https://cloud.githubusercontent.com/assets/867075/15047404/ce2db04c-12b2-11e6-9a03-c395c1156590.png)

[2016-05-05 15:16] #8368 closed

[2016-05-05 15:21] #8374 closed

[2016-05-05 15:59] tcheng001 commented on #8326
Mark "Pending" @Bilsi
1) Consider all default roles listed on the top in cp/users/roles page.
The perfect order might be
- Administrator
- Content editor
- Basic member
- Viewer
![screen shot 2016-05-05 at 11 43 46 am](https://cloud.githubusercontent.com/assets/2111600/15048271/d95d2b56-12b6-11e6-8001-3357da687102.png)

2) Consider all default roles listed on the top in edit_membership popup.
The

[2016-05-05 18:23] Bilsi commented on #8326
@tcheng001 - That is correct, we do not want the viewer role to have access to unpublished content.
@digitalpiku - Please work on the order of roles as mentioned by @tcheng001 above

[2016-05-05 19:23] mpetrovic commented on #8333
Make sure to clear aggregates after switching to the branch. I'm trying it out on dev now and its working fine.

[2016-05-05 19:29] openscholar-admin opened #8383 "Phase out older OS theme Collegiate"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/phase-out-older-os-theme-collegiate)

**The Plan**

Make the Collegiate theme unavailable for new sites. Sites using the theme can continue to do so.

**Description**

As part of an effort to improve the overall quality of publicly available themes (through adding new themes as well

[2016-05-05 19:30] openscholar-admin opened #8384 "Create new theme based on 1 page theme style"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-theme-based-on-1-page-theme-style)

**The Plan**

Create a new theme option based on the 1 page theme layout. Colors and fonts are still being determined.

**Description**

We'll create new theme based on 1 page theme style. Colors and font choices are still TBD. We'll upd

[2016-05-06 06:31] digitalpiku commented on #8347
@mpetrovic PR #8380 has been updated for review.

[2016-05-06 06:46] digitalpiku commented on #8326
@Bilsi In this comment: https://github.com/openscholar/openscholar/issues/8326#issuecomment-212500833 , It is said that viewer can access unpublished content which conflicts with the previous comment. Can you please confirm which one should be implemented?

[2016-05-06 09:50] digitalpiku commented on #8326
@Bilsi PR #8337 has been updated for review. Below is the screenshot from my environment after this fix.

![image](https://cloud.githubusercontent.com/assets/4848039/15069747/5ccba95e-139d-11e6-98ff-9fd3fbb7ac78.png)

[2016-05-06 14:24] tcheng001 commented on #8333
Look good in Chrome, Firefox and Safari.
Only found some problems in IE11 (This is the only IE version I can test). If users access the following places, both CP and User menu will be gone.
1) Site Content -> Browse -> Files
2) Site Content -> Browse -> Private Files
3) Site Content -> Add -> Files
4) Site Content -> Add -> Private Files

[2016-05-06 14:53] tcheng001 commented on #8355
Mark "Fixed"
If I use this url http://gking/home?sv_list_box_delta=og-3633-ebdab829&pager_id=3&destination=home&page=3,0,1,3&source_extra=mobility.shtml
I got an error "Web Site Not Found"
But I see the problem in the site in production.

Tested in http://dev.scholar.harvard.edu/gking
Going through all pages of Papers, but I don't see the issue anymore.

[2016-05-06 15:13] tcheng001 commented on #8326
Mark "Fixed"
The order of roles look much better now.
![screen shot 2016-05-06 at 11 11 24 am](https://cloud.githubusercontent.com/assets/2111600/15077192/52a10d56-137b-11e6-873e-dc452024196b.png)

![screen shot 2016-05-06 at 11 12 04 am](https://cloud.githubusercontent.com/assets/2111600/15077214/676593ce-137b-11e6-86fc-adeecd52da4f.png)

[2016-05-06 15:51] #8355 closed

[2016-05-06 15:52] #8326 closed

[2016-05-06 15:55] tcheng001 commented on #8347
Working as expected.
1) The new option for showing event Export link is showed in cp/settings page
2) If the option is unchecked, users can access Export link in Calendar page and each event full node view
3) if the option is checked, users wouldn't see Export link in both Calendar page and each even full node view

[2016-05-06 16:02] #8347 closed

[2016-05-06 17:24] rsasch commented on #8083
@rbran100 Converting the percentage into a pixel value isn't a flexible solution because there's no way to know where the widget will be placed (e.g. in a column widget...etc.).  I tested my code with a soundcloud embed and the dimensions were respected.

[2016-05-06 17:44] mpetrovic commented on #8333
I only have 8 on my machine. Can you get a screenshot of the error logs?
It's probably an unrelated problem with Media Browser.

[2016-05-06 19:04] openscholar-admin opened #8385 "Trying to create a new site getting access denied error."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/trying-to-create-a-new-site-getting-access-denied-error)

**The Plan**

[coming soon]

**Description**

I am getting an error - "you may not register new sites on custom domains."

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1409102/2016-05-02_13-59-19-communityerror_inli

[2016-05-06 19:11] dancabral commented on #8385
@digitalpiku in addition to fixing the above error, can you also look into fixing the Add subsite destination url? The button/link is accessible from here:
![screen shot 2016-05-06 at 3 08 34 pm](https://cloud.githubusercontent.com/assets/867075/15083690/9bd5379c-139c-11e6-8ee7-84e5efbd6b0c.png)
the Add subsite url looks like this. notice the parent reference in the string: /site/register?parent=5

[2016-05-06 20:28] Bilsi commented on #8385
@digitalpiku - When we create a subsite from a custom domain like caps.gov.harvard.edu and tries to create a subsite it routes to , right now, it goes to caps.gov.harvard.edu/site/register?parent=5436
This is incorrect. It should route to the root domain
hwpi.harvard.edu//site/register?parent=5436
or project.iq.harvard.edu//site/register?parent=5436
or scholar.harvard.edu//site/register?parent=543

[2016-05-06 20:55] Bilsi commented on #8132
@RoySegall - We have deployed it to dev,scholar.harvard.edu. The wysywig fields are back. So we will test it again. Please do not look at it yet.

[2016-05-09 08:14] RoySegall opened #8388 "Fixing tests"
The tests are broken again. I'll do a PR to fix them.

[2016-05-09 11:02] digitalpiku commented on #8385
@Bilsi PR #8389 has been created for review.

[2016-05-09 11:16] RoySegall commented on #8388
It seems that the test for checking [ordering of publications](https://travis-ci.org/openscholar/openscholar/jobs/128512316#L5749) is failing. it seems that the query alter is not being invoked as it should be.

[2016-05-09 11:28] RoySegall commented on #8132
Roger that.

[2016-05-09 13:24] RoySegall commented on #8028
I'm trying to set the border settings for the ckeditor. tinymce attached a css file and i'm trying to do the same thing

[2016-05-09 14:06] openscholar-admin opened #8390 "Caption is overflowing page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/caption-is-overflowing-page)

**The Plan**

Fix the caption so that it does not overflow

**Description**

We are seeing an issue with captions overflowing the page and not being constrained to their respective photo sizes.

Follow this link for an example: [http://eye.hms.harvard.ed

[2016-05-09 16:55] openscholar-admin opened #8391 "Infinite Scroll does not work when logged in"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/infinite-scroll-does-not-work-when-logged-in)

**The Plan**

Resolve issue so that infinite scroll works in all cases...logged in/logged out etc.

**Description**

For example:

[http://gov.harvard.edu/people/faculty](http://gov.harvard.edu/people/faculty)

It may be theme-related. T

[2016-05-09 18:12] mpetrovic commented on #8333
Internet Explorer 11 throws an Exception when opening IndexedDB. I'm still looking into why, but the Internet has not been helpful thus far.

[2016-05-09 18:15] mpetrovic commented on #8333
It's an issue with the library we use:
https://github.com/bramski/angular-indexedDB/issues/32

I don't know what other changes come with it, so I will hold off until I have a bit of time to look into this.

[2016-05-09 18:45] mpetrovic commented on #8359
This is exclusively an issue with files that have a '#' in the filename. When we go to check the filename for duplicates and inconsistencies, we append the filename to the end of a URL. Which, in this case, leaves us with a URL like this:
'api/files/filename/#test.txt'
Everything after the '#' gets stripped out, cause that's a hash fragment. So the server just returns an error, cause we checked if

[2016-05-09 19:29] openscholar-admin opened #8393 "Website created from a profile does not exist"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/website-created-from-a-profile-does-not-exist)

**The Plan**

Fix the error in the url and update the text

**Description**

Recently, we created a new website from a person's profile. The site was created and we received a confirmation email. Yet, when we follow the links in the ema

[2016-05-09 19:34] Bilsi commented on #8393
Hi tcheng,

Congratulations! Your new website http://dev.scholar.harvard.edu/tcheng10 has been activated, and you can log into your site at
http://[root url]?destination=tcheng10 with the username tcheng. Don't forget to bookmark your new site and save this email for future reference.

Here are some handy links for you:

   * Logging in to your site:
http://docs.openscholar.harvard.edu/logging-you

[2016-05-10 08:09] smboser commented on #8381
@Bilsi #8395 has been created for review.

[2016-05-10 10:32] RoySegall commented on #8028
I nailed the table issue:
![test___john](https://cloud.githubusercontent.com/assets/1222368/15143692/b3ea4b82-16b3-11e6-9247-6c92dc3f744b.png)

[2016-05-10 12:29] RoySegall commented on #8028
@mpetrovic @dancabral I'm looking to find where is the place that the image is being injected so I could wrap it with the resize image plugin. Can you throw me a hint please? 10x.

[2016-05-10 13:02] tcheng001 commented on #8132
1) Citation format :  American Chemical Society (with titles) is back.
![publication_settings](https://cloud.githubusercontent.com/assets/2111600/15146681/be2cf014-168a-11e6-9850-03188f50f061.png)

2) wysiwyg is back now. Italics, superscript, subscript and symbols can be entered for publication title.
![pub_title_wysiwyg](https://cloud.githubusercontent.com/assets/2111600/15146748/14644252-168b-1

[2016-05-10 13:18] Bilsi opened #8396 "Varnish cache - Trailing slash"
Update the .htaccess file to enforce a no-trailing-slash policy

[2016-05-10 13:20] tcheng001 commented on #8132
Tested on dev.scholar.harvard.edu/tcheng3/publications.
It seems that italics in title is not working. I select a citation style which would not change citation in italic form (eg. Council of Science Editors). That means whatever the users entered in the wysiwyg, the title should be rendered exactly the same. Here is an example.
![italics_title](https://cloud.githubusercontent.com/assets/2111600/1

[2016-05-10 14:53] openscholar-admin opened #8398 "Taxonomy field width when adding files"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/vocab-field-when-adding-files)

**The Plan**

Remove the fixed width applied to the taxonomy multiselect field.

**Description**

This is more of an aesthetic fix than a bug. But the readability would be improved if width of the vocabulary field(s) when adding files was expanded, esp

[2016-05-10 14:57] openscholar-admin opened #8399 "Allow disabling of infinite scrolling"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/elusive-admin-login-button-on-scrolling-pages)

also community ticket - http://community.openscholar.harvard.edu/openscholar/topics/url_in_section_outline_widget_to_jump_to_subpage_thats_a_link

http://community.openscholar.harvard.edu/openscholar/topics/mobile_device_viewing_issue_w

[2016-05-10 15:12] mpetrovic opened #8400 "Media Browser fails to start on IE11"
This is due to a bug in a 3rd party module, angular-indexed-db. Or it could be argued a bug in IE11.

[2016-05-10 15:13] mpetrovic commented on #8400
There's a fix for this issue in angular-indexed-db's master branch, but not in a release. I've emailed the maintainer asking him to make a new release. It's been over a year since the last release, so it's probably due for one anyway.

This issue will be on hold until he makes a new release we can use.

[2016-05-10 15:13] mpetrovic commented on #8333
IE11 issue is being handled in another ticket (#8400). Ignore those pages for now.

[2016-05-10 15:14] tcheng001 commented on #8359
@mpetrovic  Mark Pending
The new code will strip the "#" from the file name.
But I find one scenario in which a file is replaced silently by another with the same file after # sign is stripped during the process of uploading.
For example:
1) upload a file named file1.txt
2) upload another file named  #file1.txt
3) file1.txt is replaced by #file1.txt silently. - no warning message.
If we don't have

[2016-05-10 15:16] Bilsi commented on #8399
For pages with long lists of content :
[Radio button] Infinite scrolling - leave this selected as default
[Radio button] Pagination

If the user selects pagination, then add a pagination where the infinite scroll kicks in.

[2016-05-10 15:25] Bilsi commented on #8381
@tcheng001 - Can you also test if this fix fixes - http://community.openscholar.harvard.edu/openscholar/topics/list-of-people-filtered-by-taxonomy-wont-display-full-content

[2016-05-10 15:26] Bilsi commented on #8399
@tcheng001 @smboser - The needs documentation tag is for me to remind our documentation team to make updates to reflect this. You can ignore that tag

[2016-05-10 15:36] dancabral opened #8401 "UI Control Panel : Admin menu: change the way the menu panel opens and closes"
@mpetrovic I could use some help with the js as well as adding or updating the functionality so that 1) this class toggling works https://github.com/openscholar/openscholar/blob/test-change-menu-behavior/openscholar/modules/frontend/admin_panel/misc/AdminPanelModule.js#L267 and 2) if a user closes the menu, the closed class persists. Thanks! I'm all set with the markup end of things. I'll continue

[2016-05-10 15:37] dancabral commented on #8401
PR https://github.com/openscholar/openscholar/pull/8386