[2015-07-16 14:43] openscholar-admin opened #7313 "Event Sign Up - Captcha feature possibly failing?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/event-sign-up-captcha-feature-possibly-failing)

**The Plan**

Fix multiple attempt captcha issue. Currently, some users are being locked out of event registrations after multiple attempts of entering the captcha code.

**Description**

The Event Sign Up - Captcha feature possibly fa

[2015-07-16 14:55] openscholar-admin opened #7314 "List of Email registrants under manage registration"
http://community.openscholar.harvard.edu/openscholar/topics/list_of_email_registrants_under_manage_registration

**The Plan**

Add the feature to get the list of all email ids that have registered for an event.

**Description**

There is currently no functionality to see get the list of all of the emails that are signed up under email registrants for a particular event. This task is to add the fea

[2015-07-16 14:58] openscholar-admin opened #7315 "Calendar event - what do subscribe, iCal, RSS do?"
http://community.openscholar.harvard.edu/openscholar/topics/calendar_event_what_do_subscribe_ical_rss_do

**The Plan**

Cal seems to only grab 30 days worth of information. We should set this to limit to the next X events. Fix the syncing issue

**Description**

Cal seems to only grab 30 days worth of information. This is not sufficient. Instead of setting it to 30 days, it seems to set it to disp

[2015-07-16 15:00] openscholar-admin opened #7316 "Journal titles show up two times"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-double-double-toil-trouble)

**The Plan**

Fix the issue so that the journal titles just show up once

**Description**

I am working with a professor ([http://scholar.harvard.edu/shleifer](http://scholar.harvard.edu/shleifer)) whose publication citations have undergone a strange dou

[2015-07-16 15:56] tcheng001 commented on #5756
@RoySegall   @rbran100
Do you know how OS handles recurring event during exporting.  Now, it seems that exporting doesn't handle recurring event, even in production. That means no recurring event to be exported. Just want to open discussion.

[2015-07-16 18:21] tcheng001 commented on #5756
Marked "Fixed"
Event export work as expected.
1) events can be exported from /calendar page
2) single event can be exported from the event full node
3) when events exported from /calendar page, only events with the period (-5 to +30 days) will be exported
4) recurring events will be exported as well.

[2015-07-16 18:37] openscholar-admin opened #7317 "Working paper pub type doesn't show the year field in project install."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/working-paper-pub-type-doesnt-show-the-year-field-in-project-install)

**The Plan**

Fix it so that the year of publication field is displayed in all installs for papers

**Description**

It does show in Scholar.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1238117/wp-pr

[2015-07-16 18:47] openscholar-admin opened #7318 "Vibrant theme heading inconsistencies"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/vibrant-theme-heading-inconsistencie)

**The Plan**

The styles in the widgets should match

**Description**

The heading in both widgets should match in style. Currently they do not.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1238687/widgetheaders_inline.png?143707094

[2015-07-16 19:13] openscholar-admin opened #7319 "Change "export" link in Manage Registration area to be more clear/ informative"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/change-export-link-in-manage-registration-area-to-be-more-clear-informative)

**The Plan**

To Dev:
Remove Export link and Simple View link/feature and change CSV link label to "Download Registrant List". See
![screen shot 2015-07-16 at 3 25 46 pm](https://cloud.githubusercontent.com

[2015-07-16 20:08] lem511 opened #7320 "Vsite Admin Permissions Issues"
Vsite admins are unable to edit menus on their sites even though the "Administer menus and menu items" box is checked for vsite admins on the overall OpenScholar permissions list. I don't see a permission on the individual site (vsite) permissions menu for administering menus. For some reason, only Site Owners are able to edit menus for the site.

[2015-07-16 20:38] tcheng001 commented on #7024
- [ ] In publication form, allowed file types and icons are missing.
![screen shot 2015-07-16 at 4 32 23 pm](https://cloud.githubusercontent.com/assets/2111600/8734595/084ed84e-2bd9-11e5-889c-06684b803d00.png)

[2015-07-17 13:12] tcheng001 commented on #7138
- [ ] 1. Hide Titles setting in Featured Post widget should honor the setting of "Display title of your bio" in bio widget. This is example, If "Display title of your bio" is checked in Bio widget, then "Hide Titles" should be unchecked in Featured Post widget after conversion.

[2015-07-17 13:58] Bilsi commented on #7311
@RoySegall - Could you please take a look at this? We should not let people sign up for past events

[2015-07-17 14:34] tcheng001 commented on #7024
File edit form issues:
Now, it seems that there are two forms for file editing.
Case 1:  By clicking Edit button right next the image,
![screen shot 2015-07-17 at 9 49 58 am](https://cloud.githubusercontent.com/assets/2111600/8748543/3cd3a190-2c69-11e5-84a8-dbe8a7eb4575.png).
- [ ]  It seems that Save is not working for some fields (like Title Text, taxonomy terms)
- [ ]  [Updated on] field missin

[2015-07-17 16:02] mpetrovic commented on #7024
@tcheng001

That's not the new file edit form. That's the old form. Don't test that
form, it's being replaced completely. And don't test that Upload widget,
t'll be replaced with the widget used on Publications and Blogs. Use those
to test with for the time being.

[2015-07-17 19:09] tcheng001 commented on #7138
@rsasch
These are tests covered so far.
************************************
Test site | Bio configuration | Bio widget configuration
------------ | ------------- | ---------
http://dev.scholar.harvard.edu/asoderberg | contain only pdf | teaser mode
http://dev.scholar.harvard.edu/resch | no CV | full content
http://dev.scholar.harvard.edu/andrewho | contain only CV | full content
http://dev.schola

[2015-07-17 21:04] rsasch commented on #7138
@tcheng001 I've added code to check for the show_title setting in the bio widget before conversion.  Also, in looking into the weird permissions on the http://scholar.harvard.edu/tcheng2/biocv page after the update runs, the permissions on that site already seem to be messed up (see http://scholar.harvard.edu/tcheng2/column-widget-page, http://scholar.harvard.edu/tcheng2/widget-page, http://schola

[2015-07-19 07:36] RoySegall commented on #7311
As I remember, and I have a good memory, there was a couple iteration for this issue. I'll check.

[2015-07-19 08:00] RoySegall commented on #7311
Yeah, I knew it #6955. I'll check why it messed up.

[2015-07-19 11:31] RoySegall commented on #7312
Well.. there is an inconsistency in the CSS:
![john](https://cloud.githubusercontent.com/assets/1222368/8765695/b9aca012-2e22-11e5-81e5-aea39c707e66.png)
![john](https://cloud.githubusercontent.com/assets/1222368/8765696/be8b9ee4-2e22-11e5-89c8-b84b22373946.png)

I need to see why the pager doesn't play well when we have two slides in the page.

[2015-07-19 12:27] RoySegall commented on #7312
Well, no CSS issues but [js](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_slideshow/os_slideshow_slider.js#L21-21) issues.

I'll try to work this tomorrow.

[2015-07-20 13:21] RoySegall commented on #7312
I found out the problem. When we have two slide show we have cache only the first one:
<img width="412" alt="os_boxes_default_inc_-_openscholar_-___applications_mamp_htdocs_openscholar_" src="https://cloud.githubusercontent.com/assets/1222368/8776583/f82bbaac-2efa-11e5-9fe1-ea2c4cd0f351.png">
It's look like this is a problem of concatenating js settings.

[2015-07-20 14:16] dancabral commented on #7316
@rbran100  User is asking if a unit test can be created at the same time as the bugfix.

[2015-07-20 14:23] #7314 closed

[2015-07-20 16:27] tcheng001 commented on #7138
@rsasch
Agree if the permission for biocv had been messed up in http://scholar.harvard.edu/tcheng2.
For testing the configuration (Teaser Only and Display title), I created a new test site tcheng6. The bio widget is located in the home page of the site.
![screen shot 2015-07-20 at 12 22 52 pm](https://cloud.githubusercontent.com/assets/2111600/8780901/0e35c3ae-2eda-11e5-959e-4935bb577bde.png)

How

[2015-07-20 18:11] rsasch commented on #7309
Issue is related to conditional clause added at https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_taxonomy/os_taxonomy.module#L1299; before that was added (commit fb563a5), the vocab page for terms associated with many content types displayed properly.

[2015-07-20 18:48] rbran100 commented on #7309
@RoySegall Can you take a look and make this fix against SCHOLAR-3.26 for immediate release.

http://rcc.harvard.edu/research-taxonomy/federated-cloud-computing

The term pages are not showing results, the filtered feature views still work but all term pages appear to be broken.  Can we add a test case as well (separately in 3.x).

[2015-07-20 21:15] openscholar-admin opened #7323 "Unable to Add a Software Release post"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-add-a-software-release-post)

**The Plan**

Fix the link so that it works again.

**Description**

You get a access denied when you try to add a software release from a software project page.  Clicking on the link shows you the access denied page.

[2015-07-20 21:20] rbran100 commented on #7323
@tcheng001 you should still get a page not found when you go to a person that does not exist like site.com/people/delted-person but not when you try and add a software release

[2015-07-20 23:15] rsasch commented on #7138
@tcheng001 You found an edge case I missed -- updated the logic and ready to re-test.

[2015-07-21 09:01] RoySegall commented on #7312
Still did not managed to see what the problem. Even if i combined the slideshow together there is a JS issue. This one is very "fhishi"

[2015-07-21 10:34] RoySegall commented on #7309
Could not reproduced in a clean install. I'll try to get the dump and update as I go.

[2015-07-21 11:04] rbran100 commented on #7309
You should be able to reproduce on the dump from several weeks ago

[2015-07-21 11:14] RoySegall commented on #7309
Yeah, got it. The code which @rsasch point me to does affect the query in some way but it's very old. The first time it was added is in 2012(!) and I don't know how we didn't noticed it back then. And in addition I can reproduce this only with that dump.

[2015-07-21 11:18] rbran100 commented on #7309
It is a recent change made in the last release so it may not be that line

[2015-07-21 12:35] RoySegall commented on #7309
I think i know what the problem. [This](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_taxonomy/os_taxonomy.module#L1299) condition check if the event bundle is the first from the bundles we choose. In this case it was `[event, classes, books]`.

After that we have another thing - check if the event has passed and we show only nodes of the event type.

[2015-07-21 12:44] tcheng001 commented on #7024
@mpetrovic  @rbran100  @Bilsi
Private Files:
1. Can't upload multiple files.
2. No drag and drop function for uploading files
Will we consider to add these functions for uploading private files?

[2015-07-21 13:08] rbran100 commented on #7263
@tcheng001 What about logging out when in the CP, it should redirect you to the vsite homepage

[2015-07-21 13:13] dancabral commented on #7138
@rsasch can we add a unique class like biocv to the featured post outer div? That way I can kill the special styling that comes with most our themes and the featured post widget. In this case its a grey box.
![biocv-class](https://cloud.githubusercontent.com/assets/867075/8801460/c7e39b56-2f88-11e5-9e92-a45e1a4f6074.png)

[2015-07-21 13:20] tcheng001 commented on #7263
Yes, it should redirect users to the vsite homepage.
![redirect_after_logged_out](https://cloud.githubusercontent.com/assets/2111600/8801544/8e938342-2f89-11e5-8049-afdb97c7859c.png)

[2015-07-21 13:57] Bilsi commented on #7318
Fixed and merged

[2015-07-21 13:57] #7318 closed

[2015-07-21 14:48] rbran100 commented on #7024
@mpetrovic All builds failing
- [ ] Unable to patch restful with restful.put_file.patch

[2015-07-21 14:48] Bilsi commented on #7212
@mp - could you answer this question and assign it back to Roy?

[2015-07-21 15:09] mpetrovic commented on #7024
@rbran100 Where are you seeing that patch fail? All I'm seeing is bower
resolution failures.

On Tue, Jul 21, 2015 at 10:48 AM, Richard Brandon <notifications@github.com>
wrote:

[2015-07-21 15:19] mpetrovic commented on #7024
@rbran100
Roy merged in changes from upstream to his fork, and now the patch doesn't apply.

[2015-07-21 15:25] tcheng001 commented on #7323
Marked "Fixed"

login as vsite admin and content editor to perform the followings
1) able to create new software project
2) able to edit the exist software project
3) able to upload software
4) able to create news and people post (including uploading files)
5) get a message "The URL might be incorrect or have changed" when accessing a non-existent people node.

[2015-07-21 16:55] dancabral commented on #7024
@mpetrovic I made some width tweaks to this file. /openscholar/modules/custom/media_draggable/css/media_draggable.widget.css
So that the file list when attached to a node, looks like this.
![screen shot 2015-07-21 at 12 53 51 pm](https://cloud.githubusercontent.com/assets/867075/8807028/b8143b80-2fa7-11e5-8a70-4d5ce95d56b4.png)

[2015-07-21 17:16] rsasch commented on #7138
Adding class "os-cvlink" to the anchor tag for the CV link and "converted-bio" class to the featured posts widget created to replace the bio widget.

[2015-07-21 18:33] #7262 closed

[2015-07-21 18:33] #7264 closed

[2015-07-21 18:34] #7261 closed

[2015-07-21 18:57] #7323 closed

[2015-07-21 19:18] rbran100 opened #7328 "Change the os_reader_cron function to prune all feed items greater than one month that have not been imported"
@RoySegall can you update https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_reader/os_reader.module#L645 so that it deletes all old unimported feed items

Right now it is joining to the og_membership table and looking for orphan feeds, we don't need that condition, we instead need to look for feed items that are not imported.

[2015-07-21 20:26] rsasch commented on #7138
@dancabral The classes have been added.

[2015-07-21 21:12] tcheng001 commented on #7311
@RoySegall  @rbran100
What is the definition of past event here?  It seems that the event's start time is past 4 or more hours, then the sign up link won't appear.

[2015-07-22 05:10] Isaac122 opened #7329 "Questions on "Widget - Filter by Years" and photo gallery widget"
Hello!
I'm new here, and I have two questions:
The first is that when I use the "Widget - Filter by Years" in a Publications page, it shows years 2015-2006, and at the bottom "1 of 4 >>" but when I pres the arrow nothing happens. Is this a known bug? is there an easy fix?
https://scholars.huji.ac.il/magdassi/publications

The second is how can I place a gallery widget (the kind that gives you a pr

[2015-07-22 11:11] RoySegall commented on #7312
OK! update. This is the current status:
![selection_011](https://cloud.githubusercontent.com/assets/1222368/8824038/ca034cc2-307a-11e5-9dca-d2365523b9bc.png)

Nothing new. But if I remove the line `Drupal.settings.os_slideshow[delta].namespace = delta;` from the file `os_slideshow_slider.js` we get:
![selection_012](https://cloud.githubusercontent.com/assets/1222368/8824077/0871107a-307b-11e5-8407

[2015-07-22 11:48] RoySegall commented on #7312
OK, step by step:
![selection_013](https://cloud.githubusercontent.com/assets/1222368/8824667/a73f87fe-3080-11e5-9cde-7fb95afcad20.png)

[2015-07-22 12:19] RoySegall commented on #7311
In this it's event that already started.

[2015-07-22 12:28] RoySegall commented on #7328
Eventually we are looking for feeds which older then one month which note being imported. I'll import the prod and update as I go.

[2015-07-22 13:00] tcheng001 commented on #7311
See this today event. Its start time is 6:40am.  My current local time is 9:00am. But the sign up link does appear.  It seems that if the start time is past 4 hours or more, then the link won't appear. Is this correct behavior?

![screen shot 2015-07-22 at 8 56 12 am](https://cloud.githubusercontent.com/assets/2111600/8825825/e3c76704-304f-11e5-8cc4-b4b1aea47de7.png)

If the start time is changed

[2015-07-22 13:11] Bilsi commented on #5756
Fixed

[2015-07-22 13:11] #5756 closed

[2015-07-22 13:16] #7263 closed

[2015-07-22 14:00] rbran100 commented on #7309
@tcheng001 what is going on here?

[2015-07-22 14:39] rbran100 commented on #7329
That is not a known bug, does it happen when logged in as well? What version of openscholar are you running?

For the gallery you can add a widget of type slideshow to the homepage.

[2015-07-22 17:59] tcheng001 commented on #7309
We have a problem here.  When Post types is set to "Determine for me" and the widget is placed in a basic page.  What kind of content type should be filtered in the widget?   Here is an example.

The taxonomy widget shows 4 items tagged to "term 1" when Post types is set to "All posts". The widget is placed in a basic page. That is correct.
![screen shot 2015-07-22 at 1 48 21 pm](https://cloud.git

[2015-07-22 18:08] rbran100 commented on #7316
[code]

[2015-07-22 18:24] rbran100 commented on #7309
@tcheng001 that is unrelated to this bug so going to mark it fixed.

[2015-07-22 18:36] rbran100 commented on #7316
@RoySegall can you take a look, this happens almost universally, to the site listed in the descriptions, gking.harvard.edu, scholar.harvard.edu/jlepore etc...

I was able to fix the problem by restoring the csl settings in the biblio_type_map to the version before our last release (see the sql above for the change I made to fix the problem temporarily).

This bug looks like it was introduced by th

[2015-07-22 18:56] tcheng001 commented on #7138
All 8 configurations listed [here] (https://github.com/openscholar/openscholar/issues/7138#issuecomment-122376153)  look good after conversion except some stylings. I believe that Dan is working on that.

[2015-07-22 20:22] rsasch commented on #7313
@rbran100 @Bilsi I've run into this issue before with the old HUIT site.  There does not seem to be any explanation, and we can't peek into the verification process because it all happens on the Mollom end. If we want to contact Mollom (Acquia) to ask for support, the first thing they're going to ask is if we're running the most recent version of the module (7.x-2.14), so I suggest we update and t

[2015-07-22 20:24] rsasch commented on #7138
@tcheng001 From Dan's message above yours, it looks like he's done with the style changes.  If you're seeing issues, please specify and assign the issue to him.

[2015-07-22 20:38] rsasch commented on #7138
Bug reported by @dancabral: bio/cv content contained in featured posts widgets are not swapped out with new pages.

[2015-07-23 10:49] RoySegall commented on #7311
I would say timezone differences. I'll check.

[2015-07-23 12:55] RoySegall commented on #7311
Yeah, this is an issue with timezone. I'll try to fix this one later.

[2015-07-23 13:26] RoySegall commented on #7312
Yeah, found the problem with the multiple pager. The problem is that we catch every $('.slidecontrol') and this cause for multiple pager since all our galleries have .slidecontrol in the class. I think I know how to catch the element much more specific.

I'll update as I go.

[2015-07-23 14:00] RoySegall commented on #7312
@ran81 I got a better selector. Instead of:
`
$('.slidecontrol').prepend(navMarkup);
$('.slidecontrol').append(navMarkup2);
` we can use `$('.slidecontrol:not(.sliderProcessed)').addClass('sliderProcessed').prepend(navMarkup).append(navMarkup2);`

What do you think?

[2015-07-23 14:25] rbran100 commented on #7316
The SQL I attached above is not 100% correct and should not be used.  The previous correct (which can be used as a reference) is.

[code]

[2015-07-23 14:42] RoySegall commented on #7316
@rbran100 two things:
1. I'm looking maybe one of the sites you gave me exists in the prod dump but i don't see any thing.
2. I'm looking in the sites above but i don't see any double titles. Do you have a live place where it exists?

[2015-07-23 16:10] tcheng001 commented on #7024
- [ ]  file (URL or iframe) is duplicated in listing after being uploaded.
![screen shot 2015-07-23 at 11 59 13 am](https://cloud.githubusercontent.com/assets/2111600/8855323/95fa4756-3132-11e5-9756-2f6f321d7760.png)

- [ ] iframe resizing incorrectly
This is the size of the iframe in WYSIWYG.
![screen shot 2015-07-23 at 12 05 19 pm](https://cloud.githubusercontent.com/assets/2111600/8855430/1b5d1

[2015-07-23 20:42] dancabral commented on #7138
@tcheng001 I just pushed a bunch of css updates to address the new bio/cv widget as a featured post widget. My updates are in the 7138-biocv branch. The gking theme updates are not yet done--waiting on a fix from RA. You'll need to clear all caches to see my updates. Let me know if you run into anything that looks suspicious. Thanks!

[2015-07-24 14:15] tcheng001 commented on #7138
@rsasch

- [ ] Some permission issues on http://dev.scholar.harvard.edu/jlhochschild/biocv/cv  It seems that these issues only happen in /biocv/cv page (not in biocv page).

1)  Edit and Delete link are missing after clicking the big gear
![screen shot 2015-07-24 at 10 11 45 am](https://cloud.githubusercontent.com/assets/2111600/8876225/6270689c-31ec-11e5-8568-ea564f801766.png)
2)  Contextual link

[2015-07-24 14:50] tcheng001 commented on #7138
@rsasch
- [ ]
In http://dev.scholar.harvard.edu/asoderberg
There are two smaller gears next the big one.  One is for editing and deleting Featured Post widget. That is fine.  But another is for "Edit Page". I think that the contextual link (Edit Page) should not appear there because this is not the existing behavior in production.  Also, I don't see the same issue in other test sites  like

http:/

[2015-07-24 15:24] Marseille2015 opened #7332 "Webhosting for openscholar"
Hi

I have tried to install the openscholar Installation package on several webhosting services and also using acquia dev desktop - always got quite a few error messages. Does anyone know a webhosting service that has experience installing opnescholar or where you have successfully installed openscholar?
Thx!

Frank

[2015-07-24 15:26] dancabral commented on #7138
@tcheng001 for QAing the new/converted bio widget here are the 2 cases to check for styling:

1) the current bio widget is being converted to a feat post widget. if thats the case then there shouldnt be any special styling--grey box, etc
2) if someone currently has a feat post set to display a bio, then it will get the grey box

No. 2 is currently broken... @rsasch is fixing it

[2015-07-24 15:37] rsasch commented on #7138
@tcheng001 Not sure what you mean about this behavior not being seen in production.  How about http://scholar.harvard.edu/cgersh?

[2015-07-24 16:40] tcheng001 commented on #7138
@rsasch    I think I am confusing myself.  Actually, there is a bug regarding the contextual links in Featured Post widget.  http://goo.gl/ixWuIq

[2015-07-24 16:51] rsasch commented on #7138
@dancabral I'm still working on converting lists of bio/cv posts widgets to featured posts widgets, but replacing the old bio/cv nodes with the new ones (pages) in featured posts widgets is working, so feel free to test the latest commit.

[2015-07-24 18:22] dancabral commented on #7138
@tcheng001 do you know what to test?

[2015-07-24 19:14] rsasch commented on #7138
@tcheng001 @dancabral Ready of re-testing for both the CV editing issue and the featured posts/LOP widget replacements.

[2015-07-24 19:53] rbran100 commented on #7313
@tcheng001 can you test that mollom still works in dev with this new version, if so we will deploy to prod to see if that fixes the issue

[2015-07-24 20:23] tcheng001 commented on #7313
@rbran100
Did clear cache and check Mollom. The module is enabled.
![screen shot 2015-07-24 at 4 23 05 pm](https://cloud.githubusercontent.com/assets/2111600/8883877/3cdfefec-3220-11e5-98de-70df1d000d09.png)
  Don't see Mollom in the sign-up form.

[2015-07-24 20:55] dancabral commented on #7138
@rsasch @rbran100 updates look good. gkings site isnt too bad off. This is the slide up bio is mostly ok. I'll see what I can fix on Sunday evening before being out for the week.
![screen shot 2015-07-24 at 4 52 11 pm](https://cloud.githubusercontent.com/assets/867075/8884453/bf7eddb0-3224-11e5-9808-f418322bc10b.png)

[2015-07-24 21:53] rsasch commented on #7138
@rbran100 @dancabral I've fixed the issue that affected gking's bio widget and added back in the CSS on the paragraph tag around the CV link.

[2015-07-26 10:01] RoySegall commented on #7312
Oops.. Meant to tag @rbran100 ^^

[2015-07-26 11:07] rbran100 commented on #7312
That looks like it should work if the problem was that it was adding the nab markup twice

[2015-07-26 11:22] RoySegall commented on #7311
@tcheng001 Got it fixed. You can check.

[2015-07-26 11:37] RoySegall commented on #7312
Yeah, it handle that case.

[2015-07-26 14:18] RoySegall commented on #7316
@rbran100 Any additional info?

[2015-07-27 01:20] dancabral commented on #7138
@tcheng001 after you run updates with Rebeccas fix above, I'll QA it again and look at gkings theme again. thanks.

[2015-07-27 13:33] tcheng001 commented on #7138
@dancabral
Gking site looks better, but it still have some minor issues.
1) there is a link at the upper left corner. No such link in production.
2) Close button is missing.

![screen shot 2015-07-27 at 9 30 35 am](https://cloud.githubusercontent.com/assets/2111600/8907206/7dba5bd2-3442-11e5-9455-5de463fbd861.png)

[2015-07-27 13:59] tcheng001 commented on #7138
@dancabral
The following sites still show special style (border and background color)
http://dev.scholar.harvard.edu/andrewho
http://dev.scholar.harvard.edu/tcheng7
http://dev.scholar.harvard.edu/tcheng4
![screen shot 2015-07-27 at 9 58 23 am](https://cloud.githubusercontent.com/assets/2111600/8907767/21efe2b4-3446-11e5-8043-d2a631025128.png)

[2015-07-27 14:30] tcheng001 commented on #7311
Marked "Fixed"
1) If event start time has passed, signup link would not show even though Signup checkbox is checked.
2) Signup link shows for upcoming and future events even though Signup option is set.

[2015-07-27 14:53] tcheng001 commented on #7319
@Bilsi  Download CVS function doesn't work any more. It only shows a blank page without downloading anything.
![screen shot 2015-07-27 at 10 51 42 am](https://cloud.githubusercontent.com/assets/2111600/8909107/a7581a32-344d-11e5-8249-f98ded487e71.png)

[2015-07-27 15:37] rsasch commented on #7313
@tcheng001 Were you logged in?

[2015-07-27 16:05] tcheng001 commented on #7138
- [ ] Still show special style (border and background color) in this site. http://staging.scholar.harvard.edu/tcheng7
![screen shot 2015-07-27 at 12 05 25 pm](https://cloud.githubusercontent.com/assets/2111600/8910960/b87ed300-3457-11e5-917b-f682d0458c3d.png)

- [ ] gking still has some minor issues.
![screen shot 2015-07-27 at 12 01 41 pm](https://cloud.githubusercontent.com/assets/2111600/891095

[2015-07-27 17:20] rbran100 commented on #6879
That is expected, we don't use a special htaccess file so that just tells the script to throw away the changes by copying them there, I wouldn't think it is an issue unless you are seeing specific errors related to that

[2015-07-27 17:32] mpetrovic commented on #6879
The issue is entirely that we cannot access the ac-domain-* scripts from a
fully-bootstrapped command execution.

We got around this previously by running them in a separate execution, but
something changed in January such that we could no longer get data from
that execution.

[2015-07-27 17:34] tcheng001 commented on #7313
@rsasch   Both logged-in and anon user see the same problem.

[2015-07-27 17:34] rsasch commented on #6879
@rbran100 @mpetrovic I understand what part is not working, what I'm trying to figure out is where it's going wrong.  Since I don't have a very good idea of all the steps the script goes through, I was wondering if the location of the .htaccess file was important.  Since it seems like it isn't, I'll look elsewhere.

[2015-07-27 18:22] rbran100 commented on #7138
@rsasch for the CV link that is placed inside of the bio html, can we add the data-fid param that is usually added when you use the link tool.  This will help with both changes to URL's and the wysiwyg.

EX.
[code]

[2015-07-27 18:48] tcheng001 commented on #7138
@rsasch  @rbran100
No content showed when changing from Full content to Teaser mode after conversion.  Here is an example,
In Full content mode, everything looks good.
![screen shot 2015-07-27 at 2 26 29 pm](https://cloud.githubusercontent.com/assets/2111600/8914127/70125b0a-346b-11e5-9f28-1150684fface.png)

After changing to Teaser, no body content is displayed.
![screen shot 2015-07-27 at 2 27 1

[2015-07-27 19:07] rsasch commented on #6879
@rbran100 I couldn't get the Acquia scripts to run on dev because I kept getting "API status code 401" and "Not authorized" whenever I tried to do anything.  I did, however, test how the output was getting parsed in a test script and found something that might be mucking things up, so I've created a PR.

[2015-07-27 19:12] rsasch commented on #7138
@tcheng001 The reason only the CV link is showing in teaser mode is that "teaser mode" displays the first paragraph of the body and, in the case of the converted bios, the CV link is technically the first paragraph.  http://staging.scholar.harvard.edu/resch shows a lot more text (and then a "Read more" link) because there is no CV link at the top.

What is a problem is that, no matter what the dis

[2015-07-27 20:01] rbran100 commented on #7319
The code looks good, but we need to take a look at why the download is not working

[2015-07-27 20:02] rbran100 commented on #7313
@tcheng001 where were you testing this? FYI captcha will only show for anon users

[2015-07-27 20:04] rbran100 commented on #7316
If you check the dump that I sent you last week it will have the issue, or if you take any code base on 3.x and run https://github.com/openscholar/openscholar/pull/7114/files#diff-0664cda58e82e940de9cdeaf04ebc9f7R1350 then you will see the issue on any site with publications.

[2015-07-27 20:05] rbran100 commented on #7316
morking high priority

[2015-07-27 20:32] rsasch commented on #7138
@tcheng001 The display mode for the bio widgets is ready for re-testing.

@rbran100 I tried adding in the data-fid attribute, but it gets stripped out.

[2015-07-27 20:47] tcheng001 commented on #7313
@rbran100    Tested again on dev.hwpi.  Now, I am able to see captcha.  But there are some issues.
- [ ]  1. After registered 10 people,  the error starts to happen
![screen shot 2015-07-27 at 4 41 29 pm](https://cloud.githubusercontent.com/assets/2111600/8917146/5de69118-347e-11e5-87ec-7f5ece23aa60.png)

- [ ]  2. vsite admin also see captcha.

[2015-07-28 01:49] dancabral commented on #7138
@rbran100  Gking theme looks good except for missing close x link in the popup bio on the homepage. Perhaps @rsasch can look at the gking.js?
Close link missing
![closemissing](https://cloud.githubusercontent.com/assets/867075/8921840/453da11c-34a9-11e5-9964-0bbbf0b7e052.png)
Should see this
![close-visible](https://cloud.githubusercontent.com/assets/867075/8921845/52a9d69a-34a9-11e5-90cd-5ff32fff

[2015-07-28 10:42] RoySegall commented on #7316
@rbran100 Could not reproduce it. I'm with the dump and i'm checking with tormanhc2 vsite and I get it OK:
![selection_018](https://cloud.githubusercontent.com/assets/1222368/8929471/6d399cae-352e-11e5-894a-9fea30fbe416.png)
![selection_019](https://cloud.githubusercontent.com/assets/1222368/8929475/70bb368a-352e-11e5-8d01-d1e419b551aa.png)

[2015-07-28 11:13] rbran100 commented on #7316
Can you try with the Chicago style selected. You may need to run the cal revert manually. Make sure that the publication has a journal name entered.

[2015-07-28 11:14] RoySegall commented on #7315
I'll take it since I don't have any thing concrete in my todo.

[2015-07-28 11:22] RoySegall commented on #7316
I tried journal and journal article and nothing. i'll check it.

[2015-07-28 11:30] RoySegall commented on #7315
@rbran100 Are we doing to define number of items per vsite or we want a global variable we can change it through the UI?

[2015-07-28 11:41] RoySegall commented on #7316
Nope...

[2015-07-28 12:02] rbran100 commented on #7316
Can you paste a copy of your csl settings?

[2015-07-28 12:16] RoySegall commented on #7316
How can I do it?

[2015-07-28 12:25] RoySegall commented on #7317
I'll check.

[2015-07-28 12:30] RoySegall commented on #7317
I'm getting it in the prod dump.

[2015-07-28 12:52] rbran100 commented on #7316
Reset your csl map and then query the biblio type map table where the type is csl

[2015-07-28 13:25] RoySegall commented on #7317
I try to debug in `theme_form_element` which is the function that generate the HTML for the label of the fields but i did not managed to trace it back.

[2015-07-28 13:30] tcheng001 commented on #7138
@rsasch
Still confusing about teaser mode.  When comparing these two sites.
http://dev.scholar.harvard.edu/asoderberg/
http://dev.scholar.harvard.edu/jlhochschild
Both sites' Featured Post widget is set to teaser mode and contain CV links.  I know the only difference is that one CV link is a page while another is a pdf.

If the CV ls a pdf, then the post looks good.
![screen shot 2015-07-28 at 9 2

[2015-07-28 13:40] rsasch commented on #7138
@tcheng001 Not sure what to do about this -- in both cases, the featured posts widget that has been created by the migration code is set to display a list of teasers.
@rbran100 @Bilsi Should I look into what logic is used to determine how much text goes into a teaser?

[2015-07-28 13:57] RoySegall commented on #7316
@rbran100 Which table?

[2015-07-28 14:38] tcheng001 commented on #7138
@rsasch  @rbran100
FYI,  for this site (andrewho),
It contains special style (border and background color) in 7138-biocv branch.
![screen shot 2015-07-28 at 10 36 18 am](https://cloud.githubusercontent.com/assets/2111600/8934193/6b8e0df0-3514-11e5-8596-3e934742427a.png)

Biut it looks good in 7138-biocv-3.26 branch.
![screen shot 2015-07-28 at 10 37 24 am](https://cloud.githubusercontent.com/asset

[2015-07-28 14:40] rsasch commented on #7138
@rbran100 I've been working in the 7138-biocv branch; should I switch to the 7138-biocv-3.26 branch?

[2015-07-28 15:00] rbran100 commented on #7138
yes please, I will move the commits over as well from the last day

[2015-07-28 17:02] rsasch commented on #7138
@tcheng001 I've fixed the jQuery that displayed gking's home page cv "close" button.

[2015-07-28 17:21] rbran100 commented on #7299
What about the hwpi DB?

[2015-07-28 17:24] rbran100 commented on #7299
Of the facebook widgets which are depricated and which still work?  Are all 4 of those widgets depricated?  If so what of the non-depricated, do they have the same low usage?  If so I think we should remove the functionality. @Bilsi what do you think?

[2015-07-28 17:53] rsasch commented on #7299
## Deprecated
<strong>Facebook likebox widget</strong>
automatically falls back to page plugin with banner and facepile

<strong>Facebook activity feed widget, Facebook RSS feed</strong>
no fallback

<strong>Facebook recommendations widget</strong>
no fallback

<strong>Facebook Facepile widget</strong>
no fallback, possible replacement: page plugin with facepile on

## Not Deprecated
Facebook comm

[2015-07-28 21:30] rsasch commented on #7138
@rbran100 I've replaced the p tag around the CV link with a span and two line breaks.

[2015-07-29 02:13] tcheng001 commented on #7138
@rsasch  @rbran100
- [ ]  this site still contains special styling (border and background color)  (http://dev.scholar.harvard.edu/andrewho)

- [ ] http://dev.scholar.harvard.edu//jlhochschild looks bad if display style is set to teaser. "Read more" is also missing.  I did clear caches and browser data.  Anything is missing?
![teaser_mode](https://cloud.githubusercontent.com/assets/2111600/8948432/

[2015-07-29 12:57] Bilsi opened #7339 "Export link on "Manage Registrations" does not work when there are no registrants"
1. Click on an event that has no registrants
2. Click on manage registrations - for this you have to be an admin on the site and the event should have  the sign up checkbox checked.
3. Click on the export link on the right and clikc on csv
4. Displays an empty screen

Fix this to display the "export" (which will soon be renamed to "Download Registrant list") link only if there are any registrants

[2015-07-29 13:29] rbran100 commented on #7315
@RoySegall we talked about it, it should be limited to 40 items per site, no need to make it configurable

[2015-07-29 13:30] rbran100 commented on #7315
The next 40 events into the future.

[2015-07-29 13:35] rbran100 commented on #7328
tested this in stage and via script in prod, appears to be working as expected

[2015-07-29 13:36] #7328 closed

[2015-07-29 14:01] rsasch commented on #7138
@tcheng001 In the case of converted bio widget that still have the "featured posts" style -- the CSS that I added is still there, so it looks like the CSS changes that @dancabral made don't affect all sites (perhaps the ones with older themes?).

[2015-07-29 17:18] rsasch commented on #7138
@rbran100 I've fixed the issue with vsites having os_pages disabled, ready for re-test.

[2015-07-29 18:52] rbran100 commented on #7293
- [ ] @tcheng001 Context #7301 is ready for QA

[2015-07-29 18:55] rbran100 commented on #6879
@rsasch went ahead and merged, you should be able to test in dev

[2015-07-29 18:57] rbran100 commented on #7332
Acquia should be working fine, if they don't have an updated version there is https://dashboard.getpantheon.com/products/openscholar/spinup

[2015-07-29 18:57] #7332 closed

[2015-07-29 18:57] #7329 closed

[2015-07-29 18:58] rbran100 commented on #7320
That is odd, can you try reseting the permissions in the vsite to defaults to see if that fixes the issue?  Unless this is happening in multiple vsites?

[2015-07-29 19:19] #7238 closed

[2015-07-29 19:26] lem511 commented on #7320
This is happening in multiple vsites. Is there a permission for editing a menu on the vsite itself? Or is this only a permission set under the overall OpenScholar Admin permissions? If there is a permission on the vsite, do you know what it's called? I'm wondering if this is happening because none of the group related permissions are checked (manage group space, administer group, etc.)

[2015-07-29 19:49] rbran100 commented on #7320
Looks like it is probably administer menu, can you make sure that these global drupal roles have this permission.
https://github.com/openscholar/openscholar/blob/c01da6804e31e091a548a375947b10dc6000cc1f/openscholar/modules/os/os.features.user_permission.inc#L231

[2015-07-29 19:59] rsasch commented on #7313
Created support ticket with Acquia, # 209181.

[2015-07-29 20:00] rsasch commented on #6879
@rbran100 is there a dev environment that is configured to run Acquia- drush commands?

[2015-07-30 03:41] pthompsen commented on #7196
Well, larrytooke and rbran100, I decided to try again with the July 22 release (7.x-3.26).  Still doesn't install.  Lots of PHP warnings and notices during installation process, then fatal errors on first visit.  I'm not convinced this profile works on anything but a LAMP environment.  No luck on either OS X Server 10.10 or XAMPP.  And that's a shame.  I would LOVE to get this working for my depar

[2015-07-30 11:27] rbran100 commented on #7196
there must be a confounding factor.  Can you tell me what the fatal error is during install, and what the fatal is when you visit the site after install. Our CI script installs on a Linux container so it is not env specific.

What is your php memory limit? What is your MySQL max packet size set to?

[2015-07-30 13:43] tcheng001 commented on #7293
@rbran100  What is the scope of QA for this ticket?

[2015-07-30 14:18] tcheng001 commented on #7138
@rbran100
After conversion, basic page feature will be enabled and biocv page and the Featured Post widget look good.
The only known issue is that Featured Post contains its own special CSS in some sites, like
http://dev.scholar.harvard.edu/andrewho
![screen shot 2015-07-30 at 10 15 55 am](https://cloud.githubusercontent.com/assets/2111600/8985203/0760aa36-36a4-11e5-8ad6-d6c9ff085a7f.png)

[2015-07-30 14:29] RoySegall commented on #7315
@rbran100 Update the view. Now 40 <b>future</b> items will be exported.

[2015-07-30 15:16] tcheng001 commented on #7312
Look good. Marked "Fixed"
I am able to place 1, 2, or 3 slideshow widgets in front page or a basic page.
![screen shot 2015-07-30 at 11 14 56 am](https://cloud.githubusercontent.com/assets/2111600/8986875/3e3986ba-36ac-11e5-998b-5967d6877d97.png)

All other functionalities are same as before.

[2015-07-30 15:40] rbran100 commented on #7315
@RoySegall  Back in dev, see PR

[2015-07-31 13:32] tcheng001 commented on #7339
@Bilsi   Tested on http://dev.scholar.harvard.edu/tcheng2
1.  Still not seeing "Download Registrant list" link even though there is a registrant. Am I missing something?
2. Did we change the design in which "Simple view" is showed as a menu item under Manage Registrations?
![screen shot 2015-07-31 at 9 27 38 am](https://cloud.githubusercontent.com/assets/2111600/9008223/bdd45eee-3766-11e5-9db6-fed

[2015-07-31 13:39] Bilsi commented on #7138
Fixed and deployed

[2015-07-31 13:39] #7138 closed

[2015-07-31 15:13] tcheng001 commented on #7024
@mpetrovic
The way of uploading file in Blog edit form is different from other content type's edit form. Are we planning to change the way of uploading file same as in blog edit form?

[2015-07-31 15:14] mpetrovic commented on #7024
@tcheng001

Yes.

[2015-07-31 15:29] rbran100 opened #7343 "Media Browser: Update Media Gallery to use the new Media Browser"
#7024

[2015-07-31 15:31] rbran100 opened #7344 "Media Browser: Use the drag and drop field on all node forms"
#7024

Using the drag and drop field on all the node types, similar to publication type now

[2015-07-31 15:33] rbran100 opened #7345 "Media Browser: Embeds show twice in the listing"
#7024 https://github.com/openscholar/openscholar/issues/7024#issuecomment-124153818

- [ ]  file (URL or iframe) is duplicated in listing after being uploaded.
![screen shot 2015-07-23 at 11 59 13 am](https://cloud.githubusercontent.com/assets/2111600/8855323/95fa4756-3132-11e5-9756-2f6f321d7760.png)

[2015-07-31 17:45] tcheng001 opened #7346 "Media Browser: Issues using Drag and Drop way to upload file"
#7024
Now, I am using Blog edit form to test Drag and Drop way to upload file.
- [x]  New media browser would come up when dropping files to the drop file area, users need to drop files one more time to upload files. This workflow is awkward.
- [x]  Help text is not complete. No allowable file types are listed.
![screen shot 2015-07-31 at 11 29 49 am](https://cloud.githubusercontent.com/assets/211

[2015-07-31 17:52] tcheng001 opened #7347 "Media Browser: Newly uploaded file is not in listing until reloading it"
#7024
After uploading a file and saving the file edit form, the newly file is not in listing (in Library), the file will display when the library is reloaded.

[2015-07-31 18:38] mpetrovic commented on #7344
Need to make sure that all fields that only accept a single file still only accept a single file.

[2015-07-31 19:39] Bilsi commented on #7312
Fixed

[2015-07-31 19:39] #7312 closed

[2015-07-31 19:41] rbran100 commented on #7311
@tcheng001 Roy had to make some logic changes, can you quickly verify?

[2015-07-31 19:49] rbran100 commented on #7289
Everything that is not in the whitelist.

[2015-07-31 20:00] tcheng001 commented on #7311
@rbran100    look good and mark "Fixed"

[2015-07-31 20:26] tcheng001 opened #7348 "Media Browser: Unable to upload embedded objects from the web"
#7024
Nothing happens after clicking Submit button for uploading embedded objects from the web.
![screen shot 2015-07-31 at 4 24 09 pm](https://cloud.githubusercontent.com/assets/2111600/9016654/bb7e046c-37a0-11e5-9219-fa02fef1ddce.png)

[2015-07-31 20:32] rbran100 commented on #7289
@RoySegall Can you change this to a whitelist, we only want to allow variables we specifically grant, there are too many security concerns otherwise.

[2015-07-31 20:42] tcheng001 commented on #7343
Media gallery now use new media browser.

![screen shot 2015-07-31 at 4 41 53 pm](https://cloud.githubusercontent.com/assets/2111600/9016985/13a2b780-37a3-11e5-9456-f5622d54b44f.png)

[2015-08-01 05:27] pthompsen commented on #7196
Thanks for the reply @rbran100 . I've double-checked all of the values listed on the troubleshooting page.  But here are the relevant lines from php.ini...

memory_limit = 384M
max_execution_time = 300

and from my.cnf...
max_allowed_packet = 256M

For what it's worth, in addition to multiple attempts at installing in the OS X Server environment on my production server (a Mac Mini), I've also been

[2015-08-01 11:01] rbran100 commented on #7196
You can ignore the warnings for now, we have a ticket to clean them up, they don't indicate anything bad.

[2015-08-01 12:09] larrytooke commented on #7196
Did it work properly after the install using the MAMP stack?

[2015-08-01 22:24] pthompsen commented on #7196
@larrytooke and @rbran100 - thanks for the comments.  OS seems to work in the MAMP stack on my development machine, but every page displays the PHP notices.  I was able to address that by changing the php.ini error reporting value to E_ERROR.  Not sure I'm comfortable leaving it at that in a production environment, but it's better than having a box of PHP notices display on each page.  I'm going t

[2015-08-02 08:30] RoySegall commented on #7289
@rbran100 What about this one? I saw you merged it.

[2015-08-02 13:20] RoySegall commented on #7317
Found something that might help me solve the issue. On a good biblio type that display the missing label the form elements looked like this:
![selection_029](https://cloud.githubusercontent.com/assets/1222368/9026283/54090f32-3932-11e5-92bd-595819a4faf0.png)

The working publication form elements look like this:
![selection_030](https://cloud.githubusercontent.com/assets/1222368/9026287/6537f778-3

[2015-08-02 13:42] RoySegall commented on #7317
@rbran100 Do you have an idea where is the biblio tabs defined?

[2015-08-03 13:00] RoySegall commented on #7317
OK, I almost got it. I can fell it! I went try to see through the UI if i could manged and achieve something. I went to Biblio settings through the UI and clicked on `Reset all types to defaults`. When approving it the field title has returned:
![selection_035](https://cloud.githubusercontent.com/assets/1222368/9037925/be456b5e-39f8-11e5-8246-89f4b72a48fb.png)

But when approving all the customize

[2015-08-03 15:27] mpetrovic commented on #7212
@RoySegall @ran81

It's because the JS object being replaced in the PR is supposed to have 9 functions on it, but you only put 2 on it.

Don't blow away the entire object. Just replace single functions like this:
[code]

You don't even need to copy any code, since none of the internals are changing.

[code]

[2015-08-03 15:37] mpetrovic commented on #7316
biblio_type_maps

[2015-08-03 18:50] rsasch opened #7349 "Bio/CV uninstall: lingering items"
- remove Bio and CV from Type list on cp/content
- remove test cases that will now fail with os_biocv uninstalled
- remove unnecessary creation of spaces_features entry during update

[2015-08-04 07:26] RoySegall commented on #7316
I export it and sent it to @rbran100

[2015-08-04 08:39] RoySegall commented on #7317
Got it! In the `biblio_field_type` table there was a missing entry. I took the affected tables with the bad dump and took them after the I reset them. I did a diff between the files and looked for the added values 15(the field ID) and 136(the publication ID).

What i saw is that this entry:
[code]
was added. I insert it manually:
![selection_056](https://cloud.githubusercontent.com/assets/1222368/

[2015-08-04 11:36] RoySegall commented on #7212
10x @mpetrovic, it worked.

@tcheng001 Can you test it again?

[2015-08-04 15:32] tcheng001 commented on #7212
Marked "Fixed"
1) if end tag is missing, then system would add the end tag. For example,  there is \<div\> but \</div\> is missing. Then \</div\>  would be added when the node is saved.

2) if start tag is missing, then system would remove the end tag. For example, there is \</div\> but \<div\> is missing.  Then \</div\> would be removed when the node is saved.

3) Other wysiwyg functions work as

[2015-08-04 15:59] openscholar-admin opened #7353 "LOP widget set to display All content when all content types are private or disabled generates fatal error"
http://community.openscholar.harvard.edu/openscholar/topics/home-page-technical-difficulties

When 1) all apps /cp/build are set to either disabled or private (NONE are set to public), and 2) a List of Post widget is placed in the layout set to display "All" content types, the query to retrieve the content fails and thus generates a fatal error (as currently seen on the homepage scholar.harvard.ed

[2015-08-04 17:04] dancabral commented on #7353
@RoySegall let me know if anything is not clear. Thanks.

[2015-08-04 17:51] tcheng001 commented on #7344
@mpetrovic  Don't see Drag and Drop field in class, event, etc.  I did clear cache.  Still missing something?

[2015-08-04 18:02] mpetrovic commented on #7345
@tcheng001
I saw this once and then it stopped happening. Can you still reproduce?

[2015-08-04 18:07] tcheng001 commented on #7345
Can't reproduce the issue unless #7348 is fixed

From: Matthew Petrovic <notifications@github.com<mailto:notifications@github.com>>
Reply-To: openscholar/openscholar <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 4, 2015 at 2:02 PM
To: openscholar/openscholar <openscholar@noreply.github.com<mailto:openscholar@noreply.github.com>>
Cc: Torman Cheng <torman_cheng@harvar

[2015-08-04 18:11] mpetrovic commented on #7348
@tcheng001 Didn't know this was a logged issue. It's fixed now.

[2015-08-04 18:22] mpetrovic commented on #7345
@tcheng001
Fixed that one accidentally. Didn't know it was a logged issue.

[2015-08-04 19:17] tcheng001 commented on #7344
@mpetrovic

- [ ] document node form has no drag and drop
- [ ] class material, profile photo, software and software release are still using old media broswer

app | status
------------ | -------------
basic page |  OK
blog | OK
document |  No drag and drop
class |  OK
class material  |  still use old browser
faq | OK
eventl  | OK
galleries | OK
links | OK
news | OK
news photo | OK
profiles photo

[2015-08-04 19:41] tcheng001 opened #7354 "Media Browser: Unable to replace embed object from the web"
#7024
Replace only can be used for local file replacement, but not for embed object from the web. It is because the workflow of "Replace" ends up to open file browser of operating system.
The current workflow looks like the followings:
1) Click Edit link
2) Click Replace File link
3) Click Replace button
Note: File browser of the operating system opens up, this is the way to replace file by anothe

[2015-08-04 19:58] rsasch commented on #7281
@mpetrovic I was able to replicate this issue in my local environment last week, but, working with the latest code today hasn't produced any of the errors described above.  I also checked the latest logs in production and couldn't find them there, either.  Perhaps something in the latest release took care of it?  Or are you still seeing these errors?

[2015-08-04 19:58] tcheng001 commented on #7339
@Bilsi
Tested on http://dev.hwpi.harvard.edu/tormanhc2/node/601926/registrations/simple_view
The event has two registrants. When exporting a CSV file, I got a blank page.

[2015-08-04 20:12] mpetrovic commented on #7281
Error appears to have resolved itself. Do you have any idea what was causing it?

[2015-08-04 20:16] rsasch commented on #7281
Nope -- I never got beyond replicating it.

[2015-08-04 20:56] openscholar-admin opened #7355 "Custom theme files (css/js) won't load if a site is switched to a standard theme and then switched back again to a custom theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/custom-theme-files-css-js-wont-load-if-a-site-is-switched-to-a-standard-theme-and-then-switched-back)

**The Plan**

Resolve issue where if a site using a custom theme switches to a standard theme and then switches back to a custom theme, the custom theme will be applied to the site.

[2015-08-04 21:09] dancabral commented on #7355
@RoySegall if you can take a look at this bug first that would be great.

In short, if a site that is currently using a custom theme switches to one of the standard themes (and saves), and then attempts to switch back to the custom theme they were using, the custom theme doesnt load. I dont know for sure, but my guess is that its related to us changing the way the /cp/appearance page looks -- expo

[2015-08-04 23:46] Bilsi commented on #7349
Fixed test cases

[2015-08-04 23:46] #7349 closed

[2015-08-05 08:14] RoySegall commented on #7355
Not reproduced in my local machine. I'll try with and dump and update you.

[2015-08-05 08:29] RoySegall commented on #7355
No, did not got any error. Do we have some more concrete? on which vsite? what's the theme the user imported?

[2015-08-05 08:39] RoySegall commented on #7281
It's because my work also merged - https://github.com/openscholar/openscholar/pull/7292

[2015-08-05 08:39] RoySegall commented on #7281
Probably

[2015-08-05 10:41] RoySegall commented on #7353
On a clean installation i can't reproduce it. I'll import a dump and test it.

[2015-08-05 11:16] RoySegall commented on #7353
I can't see the site in HWPI_01. Should it be exists there?

[2015-08-05 11:58] RoySegall opened #7356 "Content show in term page although the app is disabled"
Define an app to be disabled. Make sure one of the blogs is tagged to a term. Create a terms widget set to the vocabulary which the blog is tagged to one of his terms and define the content type to "All content type".

When click on the term the blog is tagged to you can see the blog which should be shown.

[2015-08-05 12:01] RoySegall commented on #7356
Update: As admin I can see the blog in the list but not access it.

[2015-08-05 13:06] RoySegall commented on #7353
Tried another dump but something wrong in the migration process. More info would be nice.

[2015-08-05 13:25] dancabral commented on #7355
@RoySegall this is the site where its happening http://hwpi.harvard.edu/dental. I emailed you the custom theme zip.

This affects sites that were already using a custom theme --not sites adding a custom theme today, yesterday, etc. The failure occurs when a custom theme site switches to a standard theme and then attempts to switch back to their custom theme.

[2015-08-05 13:25] RoySegall commented on #7355
I got the theme from the zip. I'm managed to switch between the themes.

[2015-08-05 13:28] RoySegall commented on #7355
Oh, i can see what you saying. So in order to reproduce this one i need to checkout before the merge of the issue, add a theme and checkout to the current dev branch and try to switch, right?

[2015-08-05 13:33] dancabral commented on #7355
@RoySegall I was just able to add that theme to my test site in Prod, switch to a standard theme and then switch back to the custom theme--making the problem not reproduceable at the moment. let me follow up on this again and post a note here shortly. thanks for the research so far.

[2015-08-05 13:43] dancabral commented on #7355
@RoySegall for some reason this custom theme switching back and forth is no longer an issue. I was able to reproduce it yesterday. Marking this as closed. Thanks.

[2015-08-05 13:43] #7355 closed

[2015-08-05 14:03] mpetrovic commented on #7281
Yep, that looks like it'd do it.

@tcheng001
To QA, just make sure that nothing involving taxonomies broke. I'm not sure
how this function is used or what affects. @RoySegall could you fill us in?

[2015-08-05 15:24] tcheng001 commented on #7315
@RoySegall
Questions:
1) does the change export 30 upcoming events (at most)?
2) for the past events, does the change export events in the last 30 days or up to last month (as mentioned in this ticket's title)?   If today is August 5,  it only exports the events between Aug 1 and Aug 5.

[2015-08-05 15:28] openscholar-admin opened #7357 "Logged in: admin bar and add new button/grey gear missing on most (but not all) pages"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/logged-in-admin-bar-and-add-new-button-grey-gear-missing-on-most-but-not-all-pages)

**The Plan**

Resolve issue so that the admin bar and add new button/edit gear are accessible on all pages.

**Description**

Why is the admin bar and add new button/grey gear missing on most (but no

[2015-08-05 15:36] dancabral commented on #7357
@RoySegall was hoping you could take a look at this. Theres some js failing on most of the pages of this site http://hwpi.harvard.edu/dental. As a result, the admin bar and add new button/grey gear are not accessible. On a page like this, it works as expected http://hwpi.harvard.edu/dental/hsdm-people but on a page like this http://hwpi.harvard.edu/dental/harvard-dental-center the js fails. Chrome

[2015-08-05 16:04] tcheng001 commented on #7315
@RoySegall
No past events are exported. See [this] (https://www.dropbox.com/s/qul2em4n55qb1aj/export.ics?dl=0).

[2015-08-05 16:18] tcheng001 commented on #7277
The issue only happens when Slider Behavior is enabled in the app's setting.
![screen shot 2015-08-05 at 12 17 54 pm](https://cloud.githubusercontent.com/assets/2111600/9091064/0b773f46-3b6c-11e5-99ef-9ea890f1244c.png)

[2015-08-05 17:36] tcheng001 commented on #7277
@RoySegall
If there is no break in the body, then it shows full content even in faq page. It seems there is no teaser.  Intended?

![screen shot 2015-08-05 at 1 35 24 pm](https://cloud.githubusercontent.com/assets/2111600/9092893/dd32a5f2-3b76-11e5-916d-53345aac7a10.png)

[2015-08-05 18:21] tcheng001 commented on #7347
look good now.  The newly downloaded file will show up in Library right after it is saved in file edit form.

[2015-08-05 18:40] tcheng001 commented on #7348
Look good.  Both url and iframe object can be uploaded as attach or as embedded object in WYSIWYG

[2015-08-05 18:44] tcheng001 commented on #7345
look good

[2015-08-05 19:08] tcheng001 opened #7358 "Media Browser: Replacing duplicated file is not working"
After replacing the duplicated file, the original file still appears in Library.  Here is an example,
upload obama.jpg
try to upload obama.jpb again
click Replace
![screen shot 2015-08-05 at 3 06 00 pm](https://cloud.githubusercontent.com/assets/2111600/9095111/83d6b054-3b83-11e5-877b-cabde9822020.png)
click Save in the file edit form
Note: it redirects to listing. Two obama.jpg are listed there.

[2015-08-05 19:17] tcheng001 commented on #7346
Look good.

[2015-08-05 19:29] tcheng001 commented on #7354
Not so sure how to replace an embed object?
These are what I see so far
Click Edit link of embed object in Library
Click Replace File link
![screen shot 2015-08-05 at 3 24 33 pm](https://cloud.githubusercontent.com/assets/2111600/9095606/3282febc-3b86-11e5-9da2-cb85dc31a76f.png)
Click Replace button
![screen shot 2015-08-05 at 3 25 50 pm](https://cloud.githubusercontent.com/assets/2111600/9095698/

[2015-08-05 19:39] mpetrovic commented on #7354
@tcheng001
I thought you meant from the node form.

Embeds shouldn't have that button at all.

[2015-08-05 20:19] #7343 closed

[2015-08-05 20:19] #7345 closed

[2015-08-05 20:19] #7346 closed

[2015-08-05 20:19] #7347 closed

[2015-08-05 20:19] #7348 closed

[2015-08-05 20:25] tcheng001 commented on #7317
Look good.
1) Year of Publication field is restored for Working Paper.
![screen shot 2015-08-05 at 4 23 04 pm](https://cloud.githubusercontent.com/assets/2111600/9096917/49378ac6-3b8e-11e5-9be9-ea4f15aef11e.png)

2) year filed and its other options (including Forthcoming, Submitted, ...) working  correctly.

3) year filed also show for other publication types.

[2015-08-05 21:45] Bilsi commented on #7311
Fixed

[2015-08-05 21:45] #7311 closed

[2015-08-05 22:46] Bilsi commented on #7212
Fixed

[2015-08-05 22:46] #7212 closed

[2015-08-06 00:58] Bilsi commented on #7353
@RoySegall - Sorry about not getting back to you sooner. Let us talk about this in the scrum tomorrow

[2015-08-06 01:02] Bilsi commented on #7339
@RoySegall - I worked on this bug, but torman does not see the registrants being downloaded anymore. It is still in its local branch. Could you please look at it? I haven't had a chance to work on it myself. Make it your lowest priority. If you cannot work on it, i will look into it tomorrow.

[2015-08-06 11:12] RoySegall commented on #7339
Maybe something changed in the code. I'll have a look on this one.

[2015-08-06 11:37] RoySegall commented on #7339
From a quick look what @tcheng001 gave its a slideshow node and that's why he don't see anything. I tested it on a real event and everything OK.

[2015-08-06 11:38] RoySegall commented on #7353
Cool

[2015-08-06 11:42] RoySegall commented on #7315
@tcheng001 no past events. Look on this:
![selection_062](https://cloud.githubusercontent.com/assets/1222368/9110800/4c928606-3c49-11e5-80e1-baf7034fec46.png)

[2015-08-06 12:58] tcheng001 commented on #7339
@RoySegall
Sorry,  the link I gave you is not what I want to show you.  If you go to http://dev.hwpi.harvard.edu/tormanhc2/node/603556/registrations, you should be able to see the issue.

After I click CSV link, I got a blank page.
![screen shot 2015-08-06 at 8 56 14 am](https://cloud.githubusercontent.com/assets/2111600/9111921/24c665aa-3c19-11e5-8a34-9cae145788f4.png)

[2015-08-06 13:26] RoySegall commented on #7277
I think so. If you don't have a break tag then you get the hall text. This it's on 3.x.

I also checked it with a very long text on the 3.x branch and something was not showed properly. I went out to my branch and it looked good.

[2015-08-06 14:16] Bilsi commented on #7317
Fixed

[2015-08-06 14:16] #7317 closed

[2015-08-06 14:38] mpetrovic commented on #7353
Steps to reproduce:
1. Create an sv list widget with all default settings and add it to a page.
2. Set every app to Disabled or Private.
3. Visit the page.
Example:
http://scholar.harvard.edu/mp_test/all-widgets-test

[2015-08-06 14:41] openscholar-admin opened #7359 "Cannot delete taxonomy terms."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cannot-delete-taxonomy-terms)

**The Plan**

Should be able to delete taxonomy

**Description**

I am working on a site: [http://projects.iq.harvard.edu/mediev...](http://projects.iq.harvard.edu/medievalstudies) and we are redoing taxonomy terms in the Events vocabulary which means w

[2015-08-06 15:23] dancabral commented on #7357
@RoySegall would you mind having a look a this before other tickets? Its a strange one, as I cant reproduce it. Basically, theres some js being called on all of the pages with sections and failing. As a result the admin bar and the edit gear(s) are unaccessible--so they're unable to update most of the site. Thanks very much! Let me know if you need any more info.

[2015-08-06 15:40] openscholar-admin opened #7360 "Log-in trouble"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/log-in-trouble-issue)

**The Plan**

User is asked to login everytime he goes back to the home page.

**Description**

When user logs into their site, anytime he makes a change and goes back to the home page, it says "Access denied: This is a private site. You must be a

[2015-08-06 15:44] openscholar-admin opened #7361 "Fix issue of patterns being forced in citation style"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/is-there-a-way-to-preserve-stated-first-middle-last-name-order-in-publications-list)

**The Plan**

Parse the name correctly

**Description**

The user prefers to list his publications in BibTeX using the following format: "Last, F. Middle", where the first name is init

[2015-08-06 16:24] tcheng001 commented on #7277
Marked "Fixed"
Tested on http://dev.scholar.harvard.edu/tcheng2/faq.
1) If Enable Slider Behavior is unchecked,  post teasers are showed in  faq page.
![screen shot 2015-08-06 at 12 13 55 pm](https://cloud.githubusercontent.com/assets/2111600/9116867/a32dfc76-3c34-11e5-9c2f-26a5fd316f6a.png)

2) If Slide Behavior is enabled. users would see the whole body of post if there is no break tag. If there

[2015-08-06 17:47] rsasch commented on #7359
replicated the issue on multiple sites and different environments

[2015-08-06 19:56] rsasch commented on #7359
not sure how yet, but part of the reason the delete doesn't go through is that in taxonomy.admin.inc
<blockquote>
<pre>
   if ($form_state['values']['delete'] === TRUE) {
      return taxonomy_term_confirm_delete_submit($form, $form_state);
   }
</pre>
</blockquote>
form_state['values']['delete'] isn't set to TRUE, it's set to the string "Delete."

[2015-08-06 20:48] tcheng001 commented on #7315
Marked "Fixed"
Now, export only exports upcoming events up to 40. (no past events)

Test case | Test status
------------ | -------------
Subscribe | PASSED
Yahoo - import ics file | PASSED
Yahoo - using iCal URL | PASSED
Google - import ics file | PASSED
Google - using iCal URL | PASSED
RSS | PASSED

[2015-08-07 00:39] tcheng001 opened #7362 "Media Browser: Paging issue"
#7024
In Library, if users open edit form of a file and close, it always go back to page 1 no matter where it was. For example, if you open a file in page 10, it will go back page 1 after the edit form is closed. That would be great if it can stay where it was.

[2015-08-07 13:03] tcheng001 opened #7363 "Media Browser: Need refresh to list a newly updated file in /cp/content/file page"
#7024
After uploading a file from /cp/content/file page, the newly uploaded file is not shown in the listing till refreshing the page

[2015-08-07 13:20] tcheng001 opened #7364 "Media Browser: Help Text: Allowed file types should be in alphabetical order"
#7024
Then, users can easily search which file type is allowable.
![screen shot 2015-08-07 at 9 17 16 am](https://cloud.githubusercontent.com/assets/2111600/9136526/528cb148-3ce5-11e5-9fa5-59af74aadb9d.png)

This issue is found in faq.

[2015-08-07 13:32] tcheng001 opened #7365 "Media Browser: Help Text for Software Release is inconsistent"
#7024
In Software Release edit form, if hovering the question mark, it shows this.
![screen shot 2015-08-07 at 9 29 17 am](https://cloud.githubusercontent.com/assets/2111600/9136711/ccffd076-3ce6-11e5-863e-003f0b2c151d.png)

Then, clicking Upload button, the help text in Media Browser is different like that.
![screen shot 2015-08-07 at 9 30 54 am](https://cloud.githubusercontent.com/assets/2111600

[2015-08-07 14:54] rsasch commented on #7313
not getting any traction with Acquia

[2015-08-07 15:21] Bilsi commented on #7277
Fixed

[2015-08-07 15:21] #7277 closed

[2015-08-07 15:29] dancabral commented on #7310
@tcheng001 this is ready for qa. its in branch 310-event_signup_form-responsive. once deployed it'll need a cc. I would use http://www.responsinator.com/ to test this. This is what you should see in responsive mode.
![screen shot 2015-08-07 at 11 24 59 am](https://cloud.githubusercontent.com/assets/867075/9139322/967a9ae8-3cf7-11e5-8fdb-8043c4f7beb2.png)

[2015-08-07 15:50] tcheng001 commented on #7319
The word is good now.
![screen shot 2015-08-07 at 11 49 20 am](https://cloud.githubusercontent.com/assets/2111600/9139777/7013a338-3cfa-11e5-8399-8c47ed3f07b0.png)

[2015-08-07 17:06] tcheng001 commented on #7310
Look good. Mark "Fixed"

[2015-08-07 17:34] tcheng001 opened #7367 "Media Browser: "Drop files here to upload" starts falling out of upload box when there are more than 6 attachments"
#7024
![screen shot 2015-08-07 at 1 32 07 pm 1](https://cloud.githubusercontent.com/assets/2111600/9141731/d9cc4038-3d08-11e5-92d5-1f91e6625d80.png)

[2015-08-07 18:31] tcheng001 commented on #7365
@mpetrovic     Still not seeing the fix. Am I  missing something?

[2015-08-07 19:01] tcheng001 commented on #7358
There are two options for user when trying to upload the duplicated file.
1) keep the same file name - that mean the new one will replace the existing one
2) not keep the same file name - system rename the new file by appending something like "_01".  Both files are kept in the system.
3) File can be replaced through by two mean (Replace or Edit)
![screen shot 2015-08-07 at 2 59 42 pm](https://clou

[2015-08-07 19:21] Bilsi commented on #7315
Fixed

[2015-08-07 19:21] mpetrovic commented on #7365
@tcheng001
Just need to clear your browser cache. Latest commit will add the version to a file that didn't have so we can force it.

[2015-08-07 19:22] Bilsi commented on #7319
Fixed

[2015-08-07 19:22] #7319 closed

[2015-08-07 19:54] tcheng001 opened #7368 "Media Browser: Taxonomy terms not working in file edit form"
#7024
![screen shot 2015-08-07 at 3 46 49 pm](https://cloud.githubusercontent.com/assets/2111600/9144520/967b983e-3d1b-11e5-987f-2ca46c29420f.png)

- [x] No term shown in select list (vocab1)
- [x] No way to use Autocomplete (vocab2)
- [x] No checkbox shown (vocab3)
- [x] Can't save the terms shown in tree form (vocab4).  You can select and click Save. However, they become unselected when the form

[2015-08-07 20:02] #7354 closed

[2015-08-07 20:03] #7358 closed

[2015-08-07 20:47] mpetrovic commented on #7358
The highlighted Replace will replace that file on the node. Every other Replace will replace that file on the hard drive.

Is there a better term that could be used here? Swap maybe?

[2015-08-08 00:13] Bilsi commented on #7310
Fixed

[2015-08-08 00:13] #7310 closed

[2015-08-09 06:53] RoySegall commented on #7339
On my local dump the node you gave me direct me to `scanlab/publications/neural-activity-associated-self-other-and-object-based-counterfactual-thinking` so I went specificly to the node you mentioned and managed to export. I'll try to pull the dump and update as I progress.

[2015-08-09 07:32] RoySegall commented on #7357
Yeah.... Can't reproduce as well. Maybe something with the custom sub theme. Can some one send it to me?

[2015-08-09 09:52] RoySegall commented on #7360
I managed to get the site with one of the dumps but didn't manged to get the right site. Which DB it's located?

[2015-08-09 11:10] RoySegall commented on #7353
I can't reproduce with one of my dumps and acquia dumps cannot be downloaded as well. I'll try tomorrow.

[2015-08-09 12:09] tcheng001 commented on #7362
Mark "Fixed"
No matter making change, deleting a file or cancelling the actions, users will return to which page they were on.

[2015-08-10 10:15] RoySegall commented on #7359
Are you sure about it? I managed to delete a term in another vsite.

[2015-08-10 11:46] RoySegall commented on #7167
@rbran100 Ready for testing - http://openscholar.github.io/os_apidocs/#api-Software_release

[2015-08-10 12:28] tcheng001 commented on #7363
@mpetrovic    did clear browser data and drupal cache, but still not seeing the fix.

[2015-08-10 12:29] tcheng001 commented on #7364
@mpetrovic   Still not seeing the fix.

[2015-08-10 12:34] tcheng001 commented on #7365
@mpetrovic   Still not seeing the fix.

[2015-08-10 13:31] dancabral commented on #7357
@RoySegall its the same custom theme that I emailed you last week (when it looked like we a problem with custom themes). I just emailed it to you again. Yeah, I dont think its related to the custom theme because I applied to a test site without any trouble.

[2015-08-10 14:11] rbran100 commented on #7353
@RoySegall is now able to reproduce and is looking into it

[2015-08-10 14:28] RoySegall commented on #7353
This is what cause the issue - https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_sv_list/plugins/os_sv_list.inc#L375-375.

The problem that we have empty array and this is a bad SQL string. The other thing is that if i check that the array is not empty so there is not filter for private bundles. Which mean we need to check access to the entity.

[2015-08-10 15:27] Bilsi commented on #7339
@tcheng001 - It should work now

[2015-08-10 15:56] dancabral commented on #7127
No theme css fix needed here. Theres an empty para tag causing the icon to push down in IE8. All that needs to be done is to remove the empty para tag. See below. ATM, saving the node form is throwing a 503 error so I'll try it again later.
![bum-para-tag](https://cloud.githubusercontent.com/assets/867075/9176020/c559738c-3f56-11e5-8ed7-34ed8d672f63.png)

[2015-08-10 16:12] tcheng001 commented on #7339
Mark "Fixed"

1) Download Registrant List should not show when the list is empty
2) For simple view: it looks like this
![screen shot 2015-08-10 at 12 09 55 pm](https://cloud.githubusercontent.com/assets/2111600/9176327/be147e94-3f58-11e5-8680-cff0e211edbd.png)

3) If exporting to CSV file,  the file contains 4 fields (Email, Created Time, Department and Full name) like this
![screen shot 2015-08-

[2015-08-10 16:18] #7339 closed

[2015-08-10 20:13] mpetrovic commented on #7368
@tcheng001
Just tried all of these on local and staging. Everything now works as expected. You may have caught it at a bad time, in between when I broke something and when I fixed it. Please confirm if you still have issues.

[2015-08-10 20:49] mpetrovic commented on #7363
@tcheng001
Reverted View. Good to go.

[2015-08-10 20:50] mpetrovic commented on #7364
@tcheng001
Please check again.

[2015-08-10 20:59] mpetrovic commented on #7365
@tcheng001
Cleared advagg caches. Correct code is up now.

[2015-08-11 08:24] RoySegall commented on #7357
Worth a shot.

[2015-08-11 11:04] RoySegall commented on #7357
Works for me OK with the sub theme

[2015-08-11 13:09] tcheng001 commented on #7368
@mpetrovic
Still seeing the issue in my test site.
If you go to http://staging.scholar.harvard.edu/tcheng6/cp/content/files, and open the edit form of an image file. You should be able to see the issues.
1) No term would be shown for vocab1
2) No entry box for vocab2
3) No checkbox for vocab3
4) Even though terms are shown up in tree form, they are not able to be saved.
![screen shot 2015-08-11 at

[2015-08-11 13:28] tcheng001 opened #7371 "Media Browser: Failed to reject the non-allowable files to upload."
#7024
Found the issue when trying to upload software release. The allowable file types should be exe, gz, tar, tgz and zip. However, I am able to upload other file types, like pdf, xlsx, rtf and docx.

![screen shot 2015-08-11 at 9 28 05 am](https://cloud.githubusercontent.com/assets/2111600/9198624/4f2e602c-400b-11e5-8321-bd1c651a95d1.png)

[2015-08-11 13:30] RoySegall commented on #7353
@tcheng001 Although the tests are failing you can test this one.

[2015-08-11 13:31] tcheng001 commented on #7367
Look good now.
![screen shot 2015-08-11 at 9 30 37 am](https://cloud.githubusercontent.com/assets/2111600/9198667/a941e5c0-400b-11e5-8dba-989c030bb535.png)

[2015-08-11 13:47] rsasch commented on #7359
@RoySegall Can you tell me which vsite on which database backup?

[2015-08-11 14:34] dancabral commented on #7357
This is resolved. Closing. Seemed to be a file permission issue on acquias end.

[2015-08-11 14:34] #7357 closed

[2015-08-11 14:44] RoySegall commented on #7359
This one - http://dev.hwpi.harvard.edu/tormanhc2

[2015-08-11 14:50] rsasch commented on #7359
@RoySegall I just tried to delete the term "term4-bb" from vocabulary "blog_vocab&&" on that site and it failed.  Are you still able to delete terms?

[2015-08-11 15:31] tcheng001 commented on #7353
Mark "Fixed"
I am able to reproduce the issue in production when all applications are either disabled or set to private and content type in List of Post widget is set to ALL. Then users would get an error when trying to access a page on which the List of Post widget resides.

No more error happens in dev now.

The functionalities of List of Post widget are the same as they were.

[2015-08-11 17:39] Bilsi commented on #7215
Fixed in the media bowser code

[2015-08-11 17:39] #7215 closed

[2015-08-12 10:39] RoySegall commented on #7359
I get a WSOD. Checking.

[2015-08-12 12:05] RoySegall commented on #7359
Still try to see what the problem. The delete form takes to normal workflow but at some point it's fails. I'll keep see the problem.

[2015-08-12 15:29] openscholar-admin opened #7372 "Publication options changed (missing) for "working paper”?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publication-options-changed-missing-for-working-paper)

**The Plan**

Notes and Abstract should show up for working paper in HWPI install

**Description**

Our site offers a library of documents which, in OpenScholar, we define as "working papers." I just tried adding some new docume

[2015-08-12 15:31] openscholar-admin opened #7373 "Error when adding an HTTPS external link to a menu - getting the "Could not connect to URL:..." error."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/error-when-adding-an-https-external-link-to-a-menu-getting-the-could-not-connect-to-url-error)

**The Plan**

Fix the bug so that an HTTPS external link can be added to a menu

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1226066/ScreenShot2015-06-24at11.1

[2015-08-12 16:06] Bilsi commented on #7372
@RoySegall - Please look into this. I have added the new hwpi db to https://www.dropbox.com/home/hwpi1

[2015-08-12 17:33] openscholar-admin opened #7374 "Unable to Change People Profile Settings"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-change-people-profile-settings)

**The Plan**

Fix the bug so that the "Disable default images for people profiles" feature works

**Description**

If I go into Apps > Profiles > Settings and try to uncheck "Disable default images for people profiles", I get an error.

 [![

[2015-08-12 17:40] Bilsi commented on #7374
@RoySegall - it throws an error when we save after unchecking the "disable default image for people profiles"

[2015-08-12 19:22] dancabral commented on #7127
Confirmed from user issue is resolved. Closing.

[2015-08-12 19:22] #7127 closed

[2015-08-12 21:26] mpetrovic commented on #7024
@RoySegall

In a fresh install, the field exports aren't being imported correctly. This is why some of the tests are failing. Could you take a look if you have time?

[2015-08-13 09:14] RoySegall commented on #7359
OK, i found out two good things.
the last good commit i'm aware of is d26e6b6e24f0869b46a7e4de5c7d7e16711c4fd0 and the last bad commint i'm aware of is b6d1f178a8ae4371128ea20ebc5d20c891476d9c.

The difference is 5 days between them.

[2015-08-13 10:29] RoySegall commented on #7372
I will take a look.

[2015-08-13 10:41] RoySegall commented on #7372
@Bilsi The dump is corrupted. Can't open in on a mac nor my ubuntu.

[2015-08-13 12:34] RoySegall commented on #7374
It's a strange thing that come from FAPI and i'm still trying to see what the problem. If i'll take for example the node module, the forms are located in node.pages.inc along with the callbacks. For some reason this form not act as it suppose to.

A quick solution will be to move all the logic to `os_profiles.module` or attach `include_once 'os_profiles.pages.inc';`

[2015-08-13 13:18] RoySegall commented on #7374
Another update: FAPI include the files in the function `form_get_cache`. When i'm debuggin this is the value i have:
[code]

I'm trying to see how the file got there and who adding it.

[2015-08-13 13:20] tcheng001 opened #7375 "Media Browser: Software Project still using old media browser"
#7024
![screen shot 2015-08-13 at 9 19 37 am](https://cloud.githubusercontent.com/assets/2111600/9250618/7e6ebb4c-419c-11e5-94bb-acbdf5402ece.png)

[2015-08-13 14:29] openscholar-admin opened #7376 "Formatting issues in Publication titles"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/formatting-issues-in-publication-titles)

**The Plan**

Fix it to not have any check on the case of the text. Permit the user to enter free flowing test in upper/lower case as they please

**Description**

From user: For some years I've been trying to grapple with the odd capitalizat

[2015-08-13 14:30] Bilsi commented on #7376
@RoySegall - We dont want to restrict the text to any particular case format. Please modify this to allow the user to enter the publication title in upper/lower case as they please

[2015-08-13 14:32] openscholar-admin opened #7377 "iframe rendering incorrectly after resizing it"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/iframe-rendering-incorrectly-after-resizing-it)

**The Plan**

Fix the bug so that the iframe renders correctly on resize

**Description**

If the size of iframe is not big, then the video looks ok.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1248098/ScreenShot2015-07-3

[2015-08-13 14:34] openscholar-admin opened #7378 "Problems importing a CSV"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/problems-importing-a-csv)

**The Plan**

Fix the bug in importing using a CSV template

**Description**

I'm trying to import classes using the CSV template, and two things are happening:

1. The body field of the CSV is not being imported at all (it contains HTML characters, which s

[2015-08-13 14:40] openscholar-admin opened #7379 "RSS news items duplicated in feed"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/rss-news-items-duplicated-in-feed)

**The Plan**

Fix the bug so each item shows up only once

**Description**

After a day or two, RSS news feeds develop many copies of the each news item.  I was able to reproduce this on HWPI ([http://hwpi.harvard.edu/rsatest/cp/os...](http://hwpi.

[2015-08-13 14:43] Bilsi commented on #7372
@RoySegall - Sorry about that, you should find the db now uploaded in dropbox. Please make this issue a priority over everything else

[2015-08-13 15:09] tcheng001 opened #7380 "Media Browser: File size limitations are different from those in production."
There are discrepancies of file size between production and staging.scholar. Those highlighted are different from production.

  | prod (attach) | staging (attach) | prod (embed) | staging (embed) |
------------ | ------------- | ------------- | ------------- | -------------|
basic page | 128 MB  | 128 MB   | 128 MB    | 128 MB
blog            | 128 MB  | 128 MB   | 128 MB    | 128 MB
booklet

[2015-08-13 15:13] Bilsi commented on #7313
Fixed

[2015-08-13 15:13] #7313 closed

[2015-08-13 15:35] rsasch opened #7381 "Menu-related issues from biocv uninstall"
- [x] Bio/cv links on a site secondary menu are not re-constructed as a part of the update.

[2015-08-13 17:35] Bilsi commented on #7353
Fixed

[2015-08-13 17:35] #7353 closed

[2015-08-13 17:43] rbran100 commented on #7309
Looks like there is a bug specific to the classes filtering, I will take a look

[2015-08-13 18:02] #7281 closed

[2015-08-13 18:04] Bilsi commented on #7363
Fixed and merged into the media browser branch

[2015-08-13 18:04] #7363 closed

[2015-08-13 18:04] Bilsi commented on #7367
Fixed and merged into the media browser branch

[2015-08-13 18:04] #7367 closed

[2015-08-13 18:04] Bilsi commented on #7365
Fixed and merged into the media browser branch

[2015-08-13 18:04] #7365 closed

[2015-08-13 18:05] Bilsi commented on #7362
Fixed and merged into the media browser branch

[2015-08-13 18:05] #7362 closed

[2015-08-13 18:05] Bilsi commented on #7125
https://github.com/openscholar/openscholar/issues/7125

[2015-08-13 18:05] #7125 closed

[2015-08-13 18:06] openscholar-admin opened #7382 "Comments not available after enabling setting"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/comments-not-available-after-enabling-setting)

**The Plan**

Fix the bug so that the "add comments" link works

**Description**

Allowing comments for this particular news post ([http://hwpi.harvard.edu/radcliffe/new...](http://hwpi.harvard.edu/radcliffe/news/inclement-weather-carpo

[2015-08-13 18:06] openscholar-admin opened #7383 "Other users' files (not uploaded by us) appearing in our content directory"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/other-users-files-not-uploaded-by-us-appearing-in-our-content-directory)

**The Plan**

Files uploaded by other users should not show

**Description**

We recently noticed the presence of multiple files in our content directory (cp/content/files) that were not added by any of our sit

[2015-08-13 18:06] openscholar-admin opened #7384 "Exporting single event doesn't work as expected : it exports more than one event."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/exporting-single-event-doesnt-work-as-expected-it-exports-more-than-one-event)

**The Plan**

* [x] Fix the single event export
* [x] Remove export link from all screens except landing screen (/calendar), lists of upcoming events, upcoming by term, or single event

**Description**

T

[2015-08-13 18:06] openscholar-admin opened #7385 "Create a 1 page (homepage) style theme"
The Plan:
I'll create a new theme where the homepage is treated/styled as a 1 pager. The idea would be to alter the layout of homepage, so that the content regions all stack on top of one another and have alternating background colors. The layout of lower level pages would look the same as our existing themes.

[2015-08-13 20:41] tcheng001 opened #7386 "Media Browser: In Firefix only : Tabs are missing when opening media browser from WYSIWYG"
#7024
In Firefox,
![screen shot 2015-08-13 at 4 38 27 pm](https://cloud.githubusercontent.com/assets/2111600/9261107/d0402b58-41d9-11e5-9d96-d31906c11b7d.png)

In Chrome,
![screen shot 2015-08-13 at 4 39 56 pm](https://cloud.githubusercontent.com/assets/2111600/9261124/f5507998-41d9-11e5-8087-0939bbe968e7.png)

[2015-08-14 14:18] dancabral commented on #7303
New dev branch https://github.com/openscholar/openscholar/tree/7303_new-admin_menu for the admin menu. I branched it from https://github.com/openscholar/openscholar/tree/media_browser_rewrite

[2015-08-14 14:56] Bilsi commented on #7299
@rsasch - Could you please work on this? Please let us know if you have any questions

[2015-08-14 17:26] openscholar-admin opened #7388 "Publications: Add direct link (redirect) functionality and update terminology"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publication-display-issues-in-openscholar)

**The Plan**

1. Add a field to the publication form that mirrors the functionality of the "Redirect" field on the Person content type.  The field should show just below the current "Publisher URL" field and should have the Label "Link cita

[2015-08-14 19:37] tcheng001 commented on #7364
Look good.
For attach file types,
![attach_file_types](https://cloud.githubusercontent.com/assets/2111600/9282388/12406692-429a-11e5-8b63-352824902070.png)

For embed file types in WYSIWYG,
![embed_file_types](https://cloud.githubusercontent.com/assets/2111600/9282397/2ae43b06-429a-11e5-91cf-d295968f0f7e.png)

For image file types,
![image_file_types](https://cloud.githubusercontent.com/assets/211

[2015-08-14 20:09] Bilsi commented on #7364
Fixed

[2015-08-14 20:09] #7364 closed

[2015-08-14 20:12] rbran100 commented on #7104
Closing, any bugs will be opened in their own issues.

[2015-08-14 20:12] #7104 closed

[2015-08-14 20:13] rbran100 commented on #7024
Closing, any bugs will be opened in their own issues.

[2015-08-14 20:13] #7024 closed

[2015-08-14 20:21] rbran100 commented on #7289
@RoySegall Can you create a new branch, and change this to a whitelist instead of a blacklist.  Start with a whitelist of these variables (i put the wildcards with a *).  We can throw these through an alter function to give other modules a chance.

+--------------------------------------------------+
| object_id
+--------------------------------------------------+
| biblio_*
| citation_distribute_

[2015-08-14 20:23] #7167 closed

[2015-08-14 20:24] rbran100 commented on #7344
@tcheng001 why was this back in dev? Does it now show somewhere?

[2015-08-14 20:29] tcheng001 commented on #7344
@rbran100   We can close this one. We have another one to track that Software project is still using the old media browser.  #7375

[2015-08-14 21:54] Bilsi opened #7389 "OS UI/UX Menu : Implement new design for the control panel"
Implement the new left navigation menu bar with the appropriate styling.
Also implement the upper right hand corner menu with the slidedown and slideup functionality

[2015-08-14 21:58] Bilsi opened #7390 "OS UI/UX Menu : Generate the menu and sub menu dynamically"
Pull and render the admin API
Wire the modals to open on the click on the appropriate menu item

[2015-08-14 21:59] #7344 closed

[2015-08-14 22:01] Bilsi opened #7391 "OS UI/UX Menu : Create the modals for all the menu options"
Create the modals for all the menu options that are not currently in a modal format
The following screens should be converted to Modal
Posts under Content -> Find
Files under Content -> Find
Apps, menu, taxonomy and layout under the Build Menu
Appearance
Settings
People

[2015-08-14 22:04] Bilsi opened #7392 "OS UI/UX Menu : Updating the current App Screen"
Remove the settings links along side each App in the current App screen.

[2015-08-14 22:06] Bilsi opened #7393 "OS UI/UX Menu : Removing the settings for comments except for blog"
Remove all the settings modal for comments except for blog.
Blog should be the only App to display the comments in the settings page

[2015-08-14 22:07] Bilsi opened #7394 "OS UI/UX Menu : Adding the "Add Subsite" link to my sites modal"
Add the "Add Subsite" button on the My sites screen

[2015-08-14 22:18] rbran100 commented on #7316
OK, @RoySegall you should be able to replicate this if you download the backup from the acquia console of hwpi1 ON 07/10/2015 - 12:01am

The file is small enough so you can download from the UI.  After you download, you can run updates and you will see the issue on 3.x

[2015-08-16 08:24] RoySegall commented on #7316
@rbran100 Are you sure? I'm trying to download from hwpi@harvard the backup of HWPI_01 from the date you mentioned and it's failed.

[2015-08-16 11:41] RoySegall commented on #7372
Well, from what I saw the abstract and the notes field is missing from the form. I tried to solve it like the last time but when i reset the fields i get another structure of fields. I'll try tomorrow.

[2015-08-16 12:56] RoySegall commented on #7359
Found it! the problem caused from here - https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/os.module#L913-913. I had a feeling about I wasn't sure about it.

[2015-08-16 23:43] mpetrovic commented on #7391
Will these be angular modals like the Media Browser or overlays like the
current node and box forms?

[2015-08-17 10:51] RoySegall commented on #7378
for 1 i'll need to file it's self in order to reproduce. About the vocab name I remember we decide to handle the vocabulary in that name.

[2015-08-17 12:18] RoySegall commented on #7379
I found out the problem but I don't know how the tests did not caught it. In [here](http://cgit.drupalcode.org/feeds/tree/plugins/FeedsProcessor.inc#n191) we have this code `$this->config['update_existing'] == FEEDS_SKIP_EXISTING;`. This determine if feed need to skip update existing entries or not. For some reason the value of update_existing is 2 while it's expecting to have 0.

I can't find the

[2015-08-17 13:39] RoySegall commented on #7316
scholars/project - hwpi1

[2015-08-17 14:20] tcheng001 opened #7397 "Media Browser: wording for file size is inconsistent"
#7024
Here is an example:
For news image, it shows "256M"
![screen shot 2015-08-17 at 10 11 36 am](https://cloud.githubusercontent.com/assets/2111600/9306835/d11beca0-44c8-11e5-9f02-7498175a2860.png)

For attachment, it shows "128 MB"
![screen shot 2015-08-17 at 10 09 56 am](https://cloud.githubusercontent.com/assets/2111600/9306885/1ab74a4e-44c9-11e5-8d56-f3af17eadbb3.png)

In production, the for

[2015-08-17 14:33] tcheng001 opened #7398 "Media Browser: Primary menu (nav bar) shows in File edit form when the file is opened from a media gallery"
#7024
Steps to reproduce:
Go to a media gallery
Open a media file edit there
Note: you should be able to see this
![screen shot 2015-08-17 at 10 30 26 am](https://cloud.githubusercontent.com/assets/2111600/9307217/1d333b3c-44cb-11e5-9780-1203ecde1609.png)

[2015-08-17 16:57] openscholar-admin opened #7399 "Low res Harvard shield in global nav of themes"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/low-res-harvard-shield-in-global-nav-of-themes)

**The Plan**

Swap out the pixelated shield with a sharper version.

**Description**

A user just reported that the Harvard shield in the global nav of the Featured Themes are blurry/fuzzy and I agree.

Can we look into seeing what we

[2015-08-17 18:21] tcheng001 commented on #7359
mark "Fixed"
1) able to create a new term
2) able to delete a term
3) able to create a vocabulary
4) able to remove vocabulary
5) able to move terms around in a vocabulary

[2015-08-17 23:05] mpetrovic commented on #7398
Assign this to @rcabral as it is a css issue.

Dan, contamination of admin interfaces by public css will be a major
ongoing issue with the UX/UI overhaul. I would make some time for yourself
to begin compartmentalizing the public theme css.
On Aug 17, 2015 10:33 AM, "tcheng001" <notifications@github.com> wrote:

[2015-08-18 10:11] RoySegall commented on #7372
After checking the problem is not in the DB. The biblio fields tables are the same. The problem might be from other place, i'm checking.

[2015-08-18 11:40] RoySegall commented on #7378
Still did not got the file.

[2015-08-18 13:22] RoySegall commented on #7316
Manage to reproduce it. i'll check this later on.

[2015-08-18 13:43] dancabral commented on #7359
@RoySegall I'm trying to locate where this message is stored? I grepped for it and didnt find it in code....do you think it could be in the db? I'd like to add a span around this text in the message. Is this possible? Thanks!
![add-span](https://cloud.githubusercontent.com/assets/867075/9331445/a17651e6-458d-11e5-89ab-5dd7f3564bf2.png)

[2015-08-18 14:02] RoySegall commented on #7359
Come from core - https://api.drupal.org/api/drupal/modules!taxonomy!taxonomy.admin.inc/function/taxonomy_term_confirm_delete/7.

Changing it can be done through form_alter but can be handled in another issue.

[2015-08-18 14:46] rbran100 commented on #7379
ready to QA

[2015-08-18 19:04] openscholar-admin opened #7403 "nested lists do not retain formatting between "edit page" and page view."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/nested-lists-do-not-retain-formatting-between-edit-page-and-page-view)

**The Plan**

Fix the css rule so that unordered lists inside ordered lists display as bullets and not numbers.

**Description**

Here is the code that I used to create an ordered list (using 1., 2., etc.) with a

[2015-08-19 07:22] RoySegall commented on #7359
@dancabral Pushed for you the fix you wanted. Now you can design it:
![screenshot from 2015-08-19 10 20 31](https://cloud.githubusercontent.com/assets/1222368/9350784/34611954-465c-11e5-9998-f2bd425916bd.png)

[2015-08-19 13:26] rbran100 commented on #7196
@pthompsen The next version of OpenScholar does not resolve the warnings or all of the module updates you mention.  We slowly work through the module updates validating them first for working together.  For security issues that are serious we issue a hotfix immediately.  I would suggest changing the error reporting setting to production mode here admin/config/development/logging.

We have a new ve

[2015-08-19 14:48] dancabral commented on #7359
Thanks @RoySegall. All set on my end. Ok to switch this back to Fixed?

[2015-08-19 18:21] tcheng001 commented on #4850
@rbran100
Tested on dev.scholar.harvard.edu/tcheng2
Unable to create new event. I just got a blank page when trying to access http://dev.scholar.harvard.edu/tcheng6/node/add/event. I did run update.
I was able to create a new event with sign-up checkbox is checked. After that I only got a blank when trying to edit the event. Also got a blank page when trying to add a new event.

[2015-08-19 18:42] rbran100 commented on #4850
somehow....infinate loop, there must be something wonky with the updates, looking

[2015-08-19 18:48] rbran100 commented on #4850
OK, fixed now torman.  Looks like running all of the feature reverts in the same update was messing up the order of operations.  I fixed it.

[2015-08-19 19:38] tcheng001 commented on #4850
@rbran100
I am able to add a new event when I log in as user1 (tcheng), but not as vsite admin.  Permission issue?

[2015-08-19 19:49] tcheng001 commented on #4850
@rbran100
It looks good on /calendar page when I logged in as tcheng (having user1 permission).
![screen shot 2015-08-19 at 3 44 20 pm](https://cloud.githubusercontent.com/assets/2111600/9367109/7192cc5a-4689-11e5-95d2-0c591ec21765.png)

However, when anon user accesses the same page, s/he got a blank page.
![screen shot 2015-08-19 at 3 48 25 pm](https://cloud.githubusercontent.com/assets/2111600/

[2015-08-20 10:34] RoySegall commented on #7316
This are all the citation which this problem:

American Psychological Association 6th Edition
Chicago Manual of Style (Full Note with Bibliography)
Chicago Manual of Style (Note with Bibliography)
Chicago Manual of Style 16th edition (author-date)
Modern Humanities Research Association (Note with Bibliography)

Still trying to see where  it rendered.

[2015-08-20 12:10] RoySegall commented on #7316
After some debugging it seems that the secondary title is mapped twice to the same place(in case of `shleifer/publications/expectations-And-Investment`)

[2015-08-20 13:32] tcheng001 commented on #7374
@RoySegall   Still not working
When I click Save button Profiles Settings modal, it becomes a page instead of closing the modal.

[2015-08-20 13:39] rbran100 commented on #7289
@RoySegall can you do some checks to make sure this is working and check the field validation

[2015-08-20 14:57] tcheng001 commented on #7372
@RoySegall
I can see the areas for Abstract and Notes. However, Article URL field is still missing in the form. The field should appear in the form for all publication types.

![screen shot 2015-08-20 at 10 49 43 am](https://cloud.githubusercontent.com/assets/2111600/9386564/064b845e-472a-11e5-894a-57be5c4d4881.png)

[2015-08-20 15:00] tcheng001 commented on #4850
@rbran100   Please change the label to "needs qa" when the issues are resolved. Now, there is no way to test further.

[2015-08-20 15:05] Bilsi commented on #7359
Closed in error

[2015-08-20 15:06] dancabral commented on #7359
Fixed giant font size problem https://github.com/openscholar/openscholar/commit/9106a26f948b85c24ad9b79b564c882ec9d2734b
![screen shot 2015-08-20 at 11 02 56 am](https://cloud.githubusercontent.com/assets/867075/9386853/79e7aae0-472b-11e5-9b7c-61b3ef672f7f.png)

[2015-08-20 15:38] dancabral commented on #7403
@tcheng001 this is ready for QA. This only affects the Vibrant theme. For some reason, there was some specific css rules about how/when to display list styles. Those kinds of rules should not be in the branded themes.

To test, using the vibrant theme and the 7403-fix-nested-list-display branch, set up a nested list with a mix of ordered and unordered lists. Numbers and bullets should display wher

[2015-08-20 16:08] Bilsi commented on #7391
No, at this point we are not rewriting the screens. They are going to be the same pages, just converted in modals

[2015-08-20 16:26] mpetrovic commented on #7391
Ok, but, we tried this before and the Layout form couldn't work with it in
it's current form.

We use Drupal's Overlay module to to handle modals that load a separate
URL, like node forms and widget forms. It just creates an iframe, a
backdrop and sticks the URL into the iframe. But if we do this with the
Layout form, then try to create or edit a widget, the Layout form is
replaced completely with

[2015-08-20 17:17] Bilsi commented on #7403
Fixed

[2015-08-20 17:17] #7403 closed

[2015-08-20 17:35] Bilsi commented on #7391
Not required at this point

[2015-08-20 17:35] #7391 closed

[2015-08-20 17:52] tcheng001 commented on #7379
@RoySegall
Tested on http://dev.hwpi.harvard.edu/torman
It takes 7 minutes to load 20 news items. That is very slow. It even takes 2 minutes to load page 2 from page 1.
![screen shot 2015-08-20 at 1 50 02 pm](https://cloud.githubusercontent.com/assets/2111600/9390973/71f6ce30-4742-11e5-8981-b8fe53655031.png)

[2015-08-20 18:08] Bilsi commented on #7359
Fixed

[2015-08-20 18:08] #7359 closed

[2015-08-20 19:30] dancabral commented on #3309
Reopening this issue as the print view of OS pages can be improved some more.

[2015-08-20 19:34] rbran100 commented on #4850
All set torman, I found and fixed the issues that were causing a blank screen.  Thanks.

[2015-08-20 19:43] dancabral commented on #7399
Checked in slightly sharper version of branding header logo. At such a small size and with the amount of detail in the logo, its impossible to make it 100% sharp. Below top is the newer/sharper version  and bottom is the version currently in prod. Closing.
![screen shot 2015-08-20 at 3 40 11 pm](https://cloud.githubusercontent.com/assets/867075/9393785/23aca366-4752-11e5-9c13-069923b2e6d4.png)

[2015-08-20 19:43] #7399 closed

[2015-08-20 20:51] tcheng001 commented on #4850
1) Drop-down list doesn't show other occurrences correctly when it is opened other than in the 1st occurrence. Here is an example.
Recurrence event (Friday nite fever) :
Aug 21
Aug 28
Sep 4
Sep 11
Sep 18
Other occurrences look good when you are viewing in the first recurrence.
![screen shot 2015-08-20 at 4 25 23 pm](https://cloud.githubusercontent.com/assets/2111600/9394745/31348d86-4758-11e5-8328

[2015-08-21 13:38] blcook223 opened #7409 "Available updates report not available through admin interface"
It used to be possible to access a report of available updates at this URL `/admin/reports/updates`. This seems to have disappeared with the SCHOLAR-3.28.0 tag. I wonder if a setting somehow got inadvertently changed.

**OLD `/admin/reports` page:**
![screen shot 2015-08-21 at 8 27 11 am](https://cloud.githubusercontent.com/assets/8825345/9409415/0264394c-47e0-11e5-883f-60f5e184c513.jpg)

**NEW `/

[2015-08-21 13:56] #6598 closed

[2015-08-21 13:59] blcook223 commented on #7409
The problem was on my end. When I went through OpenScholar installation, I had unchecked "Check for updates automatically". I did not realize this would disable the report. However, I went through again and left the box checked and was able to view the old report.

[2015-08-21 13:59] #7409 closed

[2015-08-21 18:04] tcheng001 commented on #7375
Both attachment and embed file in WYSIWYG are using new media browser now.  Mark "Fixed"

[2015-08-21 18:26] tcheng001 commented on #7371
Only those five file types (exe, gz, tar, tgz, and zip) are allowed to upload as software release. Other file types are not accepted to upload.  Users will see a message when trying a non-allowable file type.
![screen shot 2015-08-21 at 2 24 41 pm](https://cloud.githubusercontent.com/assets/2111600/9415921/7c9281da-4810-11e5-90fa-49a102f1c797.png)
Mark "fixed"

[2015-08-21 20:09] dancabral commented on #7398
The menu bleeding through is fixed https://github.com/openscholar/openscholar/commit/1508f24da74662e03fc2fc28f6b62c5c142f58ce and checked into the media_browser_rewrite branch. Ready for QA @tcheng001

@mpetrovic yeah I'll have a better idea about what public css will need to be reworked/compartmentalized once we get into building it.

[2015-08-21 20:31] rbran100 commented on #4850
ok, all reported issues should be resolved now.

[2015-08-21 20:33] mpetrovic commented on #7386
@tcheng001
It looks like this is because your window is too small for the Media Browser. Can you confirm?

[2015-08-21 20:40] mpetrovic commented on #7368
@tcheng001
Still not seeing this. Any more details?

[2015-08-21 22:25] tcheng001 commented on #4850
Good to go.
1) A recurring event can have separated registration on all its occurrences.
2) When viewing any occurrences of a recurring event, there is a drop-down to show all other occurrences of the same recurring event. Users can jump to other occurrences by clicking the item in the drop-down.
![screen shot 2015-08-21 at 6 13 15 pm](https://cloud.githubusercontent.com/assets/2111600/9420144/562

[2015-08-23 07:08] RoySegall commented on #7379
Indeed, i'm trying to fail the tests on purpose. For now, don't test. I'll tag back to need review

[2015-08-23 13:08] RoySegall commented on #7316
Still try to see where it comes from.

[2015-08-24 07:31] RoySegall commented on #7376
I'm looking in to it. Try to see where I can set up the WYSIWYG buttons.

[2015-08-24 08:14] RoySegall commented on #7376
@rbran100 Can we have a better clear about this one? I'm a little bit confuse.

[2015-08-24 08:46] RoySegall commented on #7374
Are you sure about it?

[2015-08-24 10:35] RoySegall commented on #7289
I checked the variable part and it's work OK by me. What do we need to do in the field level?

[2015-08-24 13:06] tcheng001 commented on #7368
@mpetrovic   Found the reason.  You must log in as vsite admin and see the issue. If you log in as user1, everything looks good.

[2015-08-24 13:26] tcheng001 commented on #7374
@RoySegall   Just checked again. I am able to save the profile settings now.  I changed the label back to "needs qa"

[2015-08-24 13:42] RoySegall commented on #7289
Checking OG group reference for other vsites.

[2015-08-24 13:51] rbran100 commented on #7372
@RoySegall can you look into this

[2015-08-24 13:53] tcheng001 commented on #7374
mark "Fixed"
Profile settings can be saved as expected.
1) tested all the following settings:
a) Teaser
b) Sidebar Teaser
c) Title
d) Slide Teaser
e) No image Teaser

2) enable and disable default image
3) able to change default image
4) sync profile working as expected. If the original profile has image, the sync'ed post uses the image, If there is no image in the original profile, the sync'ed po

[2015-08-24 14:08] #7374 closed

[2015-08-24 14:52] tcheng001 commented on #7380
Still see 256 MB as the inline file size limitation.

[2015-08-24 15:04] tcheng001 commented on #7398
It had been good after I cleared the browser data in the first time. Then, the issue backs up.
![screen shot 2015-08-24 at 11 02 58 am](https://cloud.githubusercontent.com/assets/2111600/9443585/cda69926-4a4f-11e5-93ed-bdb3b0fd719d.png)

[2015-08-24 15:45] tcheng001 commented on #7386
Can't reproduce the issue anymore.

[2015-08-24 15:45] #7386 closed

[2015-08-24 16:30] dancabral commented on #7398
@tcheng001 the old css is still loading...must be cached.

[2015-08-24 17:09] #7375 closed

[2015-08-24 17:09] #7371 closed

[2015-08-24 17:44] mpetrovic commented on #7368
There we go. I can reproduce it now, and I've found the problem.

Vocabularies require the user to have the 'administer taxonomy' permission
to do anything, even view them.  So I need to circumvent this access check
somehow...

[2015-08-24 17:59] tcheng001 opened #7412 "Media Browser: Media Gallery : Description is still using old media browser"
![screen shot 2015-08-24 at 1 59 26 pm](https://cloud.githubusercontent.com/assets/2111600/9448040/609f3176-4a68-11e5-96b4-f19b0200d893.png)

[2015-08-24 18:06] tcheng001 commented on #7397
- [ ]  Class attach still shows 256M (should be "256 MB")

- [ ]  Class material attach still shows 256M (should be "256 MB")

- [ ] FAQ attach shows 128MB (missing space between "128" and "MB")

- [ ] Link attach shows 128MB (missing space between "128" and "MB")

- [ ] Software Release attach shows 256MB (missing space between "256" and "MB")

[2015-08-24 19:03] tcheng001 commented on #7398
Look good now.   Mark "Fixed"
![screen shot 2015-08-24 at 3 03 06 pm](https://cloud.githubusercontent.com/assets/2111600/9449559/3bd84d74-4a71-11e5-8c74-7ae358f89ea0.png)

[2015-08-24 19:15] mpetrovic commented on #7121
This is done. Any new bugs should be opened as new issues.

Closing #7121.

[2015-08-24 19:15] #7121 closed

[2015-08-24 20:01] tcheng001 commented on #7397
Look good.

[2015-08-24 20:01] #7397 closed

[2015-08-24 20:23] tcheng001 commented on #7412
Look good.

[2015-08-24 20:23] #7412 closed

[2015-08-24 20:42] tcheng001 commented on #7380
@mpetrovic
still found 3 discrepancies:

            | Prod (attach) | Staging (attach)
------------ | ------------- | -----------
class  | 128 MB  | **256 MB**
class material | 128 MB | **256 MB**
media gallery image  | 6 MB | **128 MB**

[2015-08-25 08:20] RoySegall commented on #7372
yes. Looking.

[2015-08-25 11:06] RoySegall commented on #7372
![selection_079](https://cloud.githubusercontent.com/assets/1222368/9465135/6b99f65e-4b32-11e5-8045-ad43c13c707b.png)
Got it back. By the way, on a clean installation the working paper does not exists.

[2015-08-25 11:33] RoySegall commented on #7372
Another thing  - you might need to get the DB from the live and run updates or run the update function through devel/php so @tcheng001 could test this one.

[2015-08-25 11:54] RoySegall commented on #7376
Are you sure this still an issue? I tried this with one of the dumps and u didn't manage to reproduce. For example:
![selection_080](https://cloud.githubusercontent.com/assets/1222368/9465862/fc96d8e2-4b38-11e5-858e-148eedb70e67.png)
And the title didn't changed.
![selection_081](https://cloud.githubusercontent.com/assets/1222368/9465863/fe9e138a-4b38-11e5-8f89-5f8aa33ca1f1.png)

More examples:
![

[2015-08-25 13:37] RoySegall commented on #7376
http://chinaproject.harvard.edu/publications/implications-Recent-Reductions-Natural-Gas-Prices-Emissions-Co2-Us-Power#

[2015-08-25 13:51] rbran100 commented on #7384
@RoySegall it is not just the single event exports but also the ical exports on the term pages.

[2015-08-25 14:37] Bilsi opened #7414 "Restrict ability for users to sign up for an event twice"
[View or participate in the full discussion](http://community.openscholar.harvard.edu/openscholar/topics/restrict-ability-for-users-to-sign-up-for-an-event-twice)

**The Plan**

Restrict the same email id from being used to sign up for the same event twice

**Description**

http://hwp.harvard.edu/node/468326/re...

Currently, you can continue to sign up for event using the same email address.

I'd

[2015-08-25 14:38] openscholar-admin opened #7415 "Restrict ability for users to sign up for an event twice"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/restrict-ability-for-users-to-sign-up-for-an-event-twice)

**The Plan**

Restrict the same email id from being used to sign up for the same event twice

**Description**

[http://hwp.harvard.edu/node/468326/re...](http://hwp.harvard.edu/node/468326/registrations)

Currently, you can c

[2015-08-25 14:43] Bilsi commented on #7382
Planning to remove comments from everything except blogs

[2015-08-25 15:18] tcheng001 commented on #7372
mark "Fixed"
All common fields of publication are brought back for "Working Paper"
![screen shot 2015-08-25 at 11 11 32 am](https://cloud.githubusercontent.com/assets/2111600/9470541/6d2a5eae-4b1a-11e5-8d65-b8fbbb095136.png)

Forms of other publication types (like Journal Article, Book, Book Chapter) also look good.

[2015-08-25 15:28] #7368 closed

[2015-08-25 15:47] #7414 closed

[2015-08-25 16:02] tcheng001 commented on #7379
Tested on http://dev.scholar.harvard.edu/tcheng2/news
This is what I see after importing the RSS.  Will reload the RSS tomorrow to check wether items will be duplicated.
![screen shot 2015-08-25 at 12 01 26 pm](https://cloud.githubusercontent.com/assets/2111600/9472054/10c53ea2-4b21-11e5-83a8-81ab2b9be734.png)

[2015-08-25 17:32] Bilsi commented on #7372
Fixed

[2015-08-25 18:37] Bilsi opened #7416 "OS UI/UX Menu : Adding hyperlink to qualitrix"
Add a hyperlink at the bottom of the left hand menu saying "Please give us your feedback". Clicking on that text should take the user to the qualtrix form from Dorian and Mary

[2015-08-25 18:39] Bilsi opened #7417 "OS UI/UX Menu : Add check to validate which menu the logged in user can see"
The beta testers should only see the new menu while the rest of the users continue to see the old menu. Query the db to get the list of beta testers and then add a check to see if they can view the new menu. The users who are not part of the beta testers should not be able to see the new menu.

[2015-08-25 21:02] mpetrovic commented on #7380
@tcheng001
The media gallery one requires a cache clear.
The class and class material one requires a feature revert.

[2015-08-26 11:29] tcheng001 commented on #7379
@rbran100  @Bilsi
I found two issues regarding importing news items. These happen in production as well. Separated ticket?  If you decide to fix these issues in a separated ticket, Then we can close this ticket.
1)  After imported and closed the modal, the newly imported news would not show until the news page refreshes. It is confusing for the users because they don't know whether import proceeds

[2015-08-26 13:02] RoySegall commented on #7360
@rbran100 We talked about it yesterday but didn't manged to find the right dump.

[2015-08-26 13:33] rbran100 commented on #7379
@tcheng001 They still look "Blank" to me?  I dont' see anything different after refresh.

[2015-08-26 13:34] rbran100 commented on #7379
@tcheng001 Can you open a seperate ticket with the details?

[2015-08-26 13:34] #7379 closed

[2015-08-26 14:55] Bilsi commented on #4850
Fixed

[2015-08-26 14:55] #4850 closed

[2015-08-27 04:11] pthompsen commented on #7196
I'm happy to give the next version a try.  Please do post a new version to theopenscholar.org when you get the chance.  Perhaps the third try will be the charm.

[2015-08-27 04:36] larrytooke commented on #7196
Following with interest.  Would also appreciate seeing the new version on theopenscholar.org and to give it another try.

[2015-08-27 14:24] RoySegall commented on #7388
@rbran100 @Bilsi I'm trying to understand this one and i have a small question:
In the description, the user said that when clicking on the publication title he get redirected to another page. I could not see this one since when clicking on the label i got the current page. Is there a place where the problem ocures?

Except that I understood that when the field will be populate the title of the ci

[2015-08-27 14:38] rbran100 commented on #7388
@RoySegall he was asking for that functionality.  If you focus on just the plan it should be clear.

Check out the "Redirect field" in person, we are morroing that with just text changes.

[2015-08-27 15:36] tcheng001 commented on #7380
All look good. Mark "Fixed"

[2015-08-27 15:36] #7380 closed

[2015-08-27 18:22] tcheng001 opened #7418 "Media Browser: the tab "Embed from the web" should be removed or disabled for slide"
#7024
When adding a slide to slideshow widget, users can see all three tabs in media browser. They are "Uploaded from your computer", "Embed from the web" and "Previously uploaded files".  For slideshow, we don't need the tab "Embed from the web".
![screen shot 2015-08-27 at 2 21 29 pm](https://cloud.githubusercontent.com/assets/2111600/9529217/12f16e6a-4cc7-11e5-8e10-b04971b357bb.png)

[2015-08-27 18:58] dancabral commented on #3309
Based on the recent comments in the comm ticket I made a couple of small tweaks to the print view. Since this wont break anything, there isnt any regression testing necessary and since it would take longer to explain how to QA it I'm marking this fixed myself.

[2015-08-27 18:58] #3309 closed

[2015-08-27 19:27] tcheng001 commented on #7316
@RoySegall
I am not able to reproduce the issue on production. My test site is http://scholar.harvard.edu/tcheng5/publications/my-Journal.  I did try all 5 citation formats you mentioned above. None of them shows the issue. I don't see the issue on the production site either (http://scholar.harvard.edu/shleifer)
Where can I see the issue?

[2015-08-27 19:37] rbran100 commented on #7316
I fixed it temporarily in prod, to see the issue run this:
```drush eval "_reset_csl_map(FALSE);"```
I think that should do it.

[2015-08-27 20:40] dancabral commented on #7303
My Sites looks like this now with Add Subsite button
![screen shot 2015-08-27 at 4 24 55 pm](https://cloud.githubusercontent.com/assets/867075/9532545/4b9f638a-4cda-11e5-8163-3ab9d6678a62.png)

[2015-08-27 23:42] dancabral commented on #7394
add subsite class name
https://github.com/openscholar/openscholar/commit/0f5ec33baee797b0586e460e7ab6c1be76467f7e

add css styling for add subsite button
https://github.com/openscholar/openscholar/commit/2bcc093770f7a4fb6af184497242cca9ef64311d

[2015-08-28 13:11] openscholar-admin opened #7420 "I can signup multiple users for an event that is set at "1""
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/i-can-signup-multiple-users-for-an-event-that-is-set-at-1)

**The Plan**

Fix the bug so that  multiple users cannot sign up for an event that is set at "1"

**Description**

I made the universal changes by removing “?delta=0” (it didn’t say 33) and that seemed to work. I logged out

[2015-08-28 13:21] rbran100 commented on #7316
@tcheng001 removed the pending since I think we got this fixed late yesterday

[2015-08-28 13:41] tcheng001 commented on #7316
mark "Fixed"

1) No duplication of journal name is found in all citation formats.
2) Citation of journal containing secondary title looks good.
![screen shot 2015-08-28 at 9 39 56 am](https://cloud.githubusercontent.com/assets/2111600/9547489/cb6336f8-4d68-11e5-9135-c75380e2b7a2.png)

[2015-08-28 14:24] tcheng001 opened #7421 "Media Browser: Newly uploaded private file not show in /cp/cotent/files-private until the page refreshes"
#7024
After uploaded and saved a private file, it won't show in /cp/content/file-private page until the page refreshes.

[2015-08-28 14:48] tcheng001 opened #7422 "Media Browser: Private File: Updated file label not show in /cp/content/files-private page until the page refreshes"
#7024

[2015-08-28 16:23] tcheng001 opened #7424 "Media Browser: In News edit form: Remove link doesn't workk"
#7024
It seems that users can remove a file by clicking the link "Remove".  However, the file still exists when reopening the form. The image shown below is a News edit form.
![screen shot 2015-08-28 at 12 22 09 pm](https://cloud.githubusercontent.com/assets/2111600/9551504/979cc5fc-4d7f-11e5-8a92-ed99acf6732c.png)

[2015-08-28 17:54] tcheng001 opened #7425 "Media Browser: Replaced file in node form should not be removed from vsite"
When I use Replace link in content type form to replace a file, I found that the file would be removed from the vsite if the file is not used anywhere in the site. I think it should not because we just use the link to replace the file attached to the node, not to replace the file in the system. Also, I checked the same situation in production, the replaced file will stay after it is replaced by an

[2015-08-28 19:28] rbran100 commented on #7309
Remarking fixed, the classes issue is not longer present

[2015-08-28 19:28] #7309 closed

[2015-08-28 20:31] tcheng001 opened #7427 "Media Browser: Unable to drop files into the "Drop files here to upload" area"
#7024
In content type forms (say in news edit form), users are not able to drop files to "Drop files here to upload" area to upload files. It shows an error.
![screen shot 2015-08-28 at 4 29 12 pm](https://cloud.githubusercontent.com/assets/2111600/9556347/04f6b1b8-4da2-11e5-9608-54aa7ed70495.png)

If clicking Upload button to open media browser first, then Drag and drop works as expected.
![scree

[2015-08-29 05:35] pthompsen commented on #7196
@larrytooke -- Maybe if we keep posting every couple of days someone will eventually, as @rbran100 said, "get it posted asap."  I feel a bit dumb for not being able to build it from the github repository, but I've tried and failed.  The closest I've gotten to a working installation are the versions on theopenscholar.org.

[2015-08-29 10:51] rbran100 commented on #7196
Sorry guys, I keep seeing this thread at the worst times.

[2015-08-30 12:13] RoySegall commented on #7360
What's the username he logged in with?

[2015-08-30 12:35] rbran100 commented on #7360
Not sure, there should not be many users in that site

[2015-08-30 12:53] RoySegall commented on #7360
Well... the site owner is blocked. Maybe this could be relate.

[2015-08-31 10:56] RoySegall commented on #7360
Iv'e tried with on user who can edit widgets for example and did not reproduce. I logged with another user and he can't edit any thing. Is there a more specific steps to reproduce?

[2015-08-31 12:57] RoySegall commented on #7384
I'm trying to see what happends. I remember i added two display panes for a single events export and now they gone. I'm keep checking

[2015-08-31 13:55] #7316 closed

[2015-08-31 14:44] rsasch commented on #7299
@Bilsi @rbran100 Can I get a final ruling on the deprecated widget Recommendations Feed, the Facebook send and Facebook livestream widgets?  Are we removing them from OS entirely?

[2015-08-31 14:54] rbran100 opened #7430 "Repeating Event Signups: Allow Easy editing of defaults"
There is currently not an easy way to edit the defaults for all instances of an event, we should add a "edit defaults" link.

[2015-08-31 15:20] mpetrovic commented on #7418
@tcheng001
This change will apply to all imagecrop fields. I believe this is fine, and will cause no impact to users.

[2015-08-31 16:05] rbran100 commented on #7418
just removing "Embed From Web" when using imagecrop fields? If so I  think that will be an improvement.

-

[2015-08-31 16:08] rsasch commented on #7299
@Bilsi @rbran100 Regarding:
<blockquote>
Determine if the blog comment feature uses the same module as the widgets, if it does not and all widgets have been removed then remove the module.
</blockquote>
Is this referring to the blog app settings option "Facebook comments" under "Comment Settings"? Because that's an option for all apps.  If not, please clarify.

[2015-08-31 16:17] rsasch commented on #7299
@Bilsi @rbran100 Usage for non-deprecated Facebook "Like" and "Comments' widgets (this is just the number of widgets created -- widgets may not be placed on any pages) as of this moment:
**FB Like widget
- HWPI: 7
- Scholar: 21
- Projects: 49

**FB Comments widget
- HWPI: 0
- Scholar: 5
- Projects: 31

[2015-08-31 16:51] mpetrovic commented on #7418
It would only work if they tried an oembed url for an image, which I don't think was communicated at all. So yes, improvement.

[2015-08-31 16:54] tcheng001 commented on #7420
@rbran100    Still not working.
1) Sign up link still shows up when the number of registrants reaches the limit. It should should display "Sorry, the event is full"
2) When I click the signup, I am able to register another one. That means the number of registrants is excess of the limit.

[2015-08-31 17:32] rbran100 commented on #7420
Thanks Torman, I will take a look.  Were you logged in or out when you ran these tests?

[2015-08-31 17:41] tcheng001 commented on #7420
Both logged-in and logged-out users see the issue.

[2015-08-31 18:00] Bilsi commented on #7382
Will be removing comments with the new menu

[2015-08-31 18:00] #7382 closed

[2015-08-31 18:30] rbran100 commented on #7378
@RoySegall Just got a copy of the file.
https://drive.google.com/file/d/0B5moQHYFB-agQTFUclI3LWZndHo3SHR1eTktdGoycVNqeDZF/view?usp=sharing

[2015-08-31 18:36] tcheng001 commented on #7415
Those two fields should not be showed to regular users
![screen shot 2015-08-31 at 2 25 48 pm](https://cloud.githubusercontent.com/assets/2111600/9586871/64ba0d82-4fed-11e5-9f77-febc2c97ec4b.png)

![screen shot 2015-08-31 at 2 27 35 pm](https://cloud.githubusercontent.com/assets/2111600/9586852/40018d80-4fed-11e5-97b5-e14efe7d8810.png)

1)  able to register the same email address in the different

[2015-08-31 18:50] pthompsen commented on #7196
Hurray!  Version 7.x-3.28.0 is now up on theopenscholar.org.  Installing it now.  Thanks @rbran100 !

[2015-08-31 18:53] rbran100 commented on #7415
So everything is working except the 2 fields on the edit form, right?

[2015-08-31 18:59] tcheng001 commented on #7415
Yes.

From: Richard Brandon <notifications@github.com<mailto:notifications@github.com>>
Reply-To: openscholar/openscholar <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, August 31, 2015 at 2:53 PM
To: openscholar/openscholar <openscholar@noreply.github.com<mailto:openscholar@noreply.github.com>>
Cc: Torman Cheng <torman_cheng@harvard.edu<mailto:torman_cheng@harvard.edu>>
Subj

[2015-08-31 19:00] rbran100 commented on #7415
ok, thanks, all set for QA then

[2015-08-31 19:51] tcheng001 commented on #7415
@rbran100
This might be minor.  I see the field "repeating_event_date" when viewing a registrant's info but the event is only a single event.
![screen shot 2015-08-31 at 3 48 44 pm](https://cloud.githubusercontent.com/assets/2111600/9588785/1352639e-4ff8-11e5-8c04-b6ef8d8442ec.png)

[2015-08-31 20:46] pthompsen commented on #7196
Well, I got through the install, ignoring the php notices and warnings displayed on the last screen.  But then when I try to visit the new site, I get a "PDO Exception" error display.  See attached screenshot.
<img width="885" alt="screen shot 2015-08-31 at 4 42 00 pm" src="https://cloud.githubusercontent.com/assets/8162215/9589929/c6649a9a-4fff-11e5-8789-8825a3aa17b2.png">

[2015-08-31 20:50] rbran100 commented on #7430
Now when you are editing the registration settings page for a repeating event, there will be a link to change the default for all events in the series.

[2015-08-31 20:53] rbran100 commented on #7196
hmm, I have not seen that before.  Are you able to get a traceroute from the logs?

[2015-08-31 20:56] rbran100 commented on #7360
This happens when a user is denied by the pin app, and the site has been marked private.  Joe was able to reproduce this on govteaches.fas.harvard.edu and will be able to test there when the code goes live.

My fix has already been merged into 3.x

[2015-08-31 20:57] mpetrovic commented on #7196
It happens in os_files_init().

[2015-08-31 20:59] rbran100 commented on #7196
Ahh, when ctools_plugin_get_plugin_type_info() does not return a cache_table? Have we hit this before?

[2015-08-31 21:01] mpetrovic commented on #7196
No. I saw the warning and the broken query and put them together.

[2015-08-31 21:01] pthompsen commented on #7196
I'm not exactly sure what a "traceroot from the logs" means.

[2015-08-31 21:03] rbran100 commented on #7196
@pthompsen can you see if the patch in the PR fixes your issue?

[2015-08-31 21:22] pthompsen commented on #7196
Sorry if I seem dumb, but...where is this "patch in the PR" and how does one use it?

[2015-09-01 10:45] antoniomerlin commented on #6865
Still facing this issue after truncating 'cache' table
![image](https://cloud.githubusercontent.com/assets/4397319/9602272/ac4612a4-50c4-11e5-8f4c-d876032e966f.png)

[2015-09-01 10:48] antoniomerlin opened #7438 "Facing this while installing drupal-openscholar-7.x-3.28.0.tar.gz"
![image](https://cloud.githubusercontent.com/assets/4397319/9602303/f1faee14-50c4-11e5-8f2e-297095dd4ad3.png)

and while installing facing :-

![image](https://cloud.githubusercontent.com/assets/4397319/9602319/163e3aba-50c5-11e5-9d6b-3fe093766859.png)

[2015-09-01 11:12] antoniomerlin commented on #7438
as for any help http://test.abc.us.org/info.php url i have keep it up for some time please help.

[2015-09-01 12:55] tcheng001 commented on #7388
able to export and import single citation in formats of BibTex, Tagged and XML
able to export and import all citations in formats of BibTex, Tagged and XML
check if the publication redirect field showing in all publication types.
check if the publication redirect working properly for publication types (I picked journal article, book, book chapter, working paper)

[2015-09-01 13:25] Bilsi commented on #7394
Coding complete, merged into 7303_new-admin-menu

[2015-09-01 13:28] dancabral opened #7439 "GKing theme: model/style presentation landing pages to look like Pub landing pages"
Current presentation landing page:
![screen shot 2015-09-01 at 9 15 12 am](https://cloud.githubusercontent.com/assets/867075/9605434/b3e1d5d6-508b-11e5-80cf-e1db3e5417b2.png)
-------------------------
Should look similar to the pub landing pages:
![screen shot 2015-09-01 at 9 15 23 am](https://cloud.githubusercontent.com/assets/867075/9605449/c199e5ec-508b-11e5-8168-a7da6368bc99.png)

[2015-09-01 13:57] Bilsi commented on #7381
Fixed

[2015-09-01 13:57] #7381 closed

[2015-09-01 14:01] rbran100 commented on #7361
@Bilsi what does "No pattern outside of the rules should be forced on the citation style" mean?  The issue as I understand it is that the citation style is displaying correctly, but the parsing of the name is incorrect.  It is picking up a middle initial when it is not actually the middle initial because of the format of this person's name.  If that is the case I am not sure what a good solution w

[2015-09-01 14:03] antoniomerlin opened #7440 "facing PDOException: SQLSTATE[42000]"
PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'WHERE (cid = 'plugins:oembed:providers')' at line 1: DELETE FROM {} WHERE (cid = :db_condition_placeholder_0) ; Array ( [:db_condition_placeholder_0] => plugins:oembed:providers ) in cache_clear_

[2015-09-02 13:22] dancabral commented on #7415
@rbran100 I tested the error message (registering for an event twice with the same email address) in Chrome, FF and Safari and see the same error message formatting. Perhaps @tcheng001 can have a  second look. Currently, dev.hwpi is running 7415.
![error-message](https://cloud.githubusercontent.com/assets/867075/9632254/2497f076-5154-11e5-9a75-77c7140b67a1.png)

[2015-09-02 13:27] tcheng001 commented on #7415
@rbran100  @dancabral
 I saw the same error message when I use this email address "torman_cheng@harvard.edu", but I successfully registered two (using "torman_cheng@yahoo.com" and "abcd@abcde.com").
Tested on http://dev.hwpi.harvard.edu/tormanhc9/event/sat-bbq

[2015-09-02 13:42] tcheng001 commented on #7415
@rbran100   Should I copy DB and retest it again?

[2015-09-02 14:06] rbran100 commented on #7415
@tcheng001 nope, sorry the duplicate signup is per e-mail address.  That is the best we can do since we allow anon users to signup for events there is no way to tell other than the data they enter.

[2015-09-02 14:20] tcheng001 commented on #7420
@rbran100   Still not woking.
The capacity is set to 1.  But I (as a logged-in or logged-out user) can add more than one registration. I am testing on http://dev.scholar.harvard.edu/tcheng6/event/saturday-bbq
![screen shot 2015-09-02 at 10 08 41 am](https://cloud.githubusercontent.com/assets/2111600/9633391/aada4584-515a-11e5-9494-9bd110d46438.png)

![screen shot 2015-09-02 at 10 09 22 am](https:/

[2015-09-02 14:25] tcheng001 commented on #7415
@rbran100
I think that could be an issue down the road.  This is the use case.
After a user registered an event.  s/he would not be able to register any other events with the same email address in the same install. Right?

[2015-09-02 15:30] Bilsi commented on #7415
@tcheng001 - no, the user should be able to register to other events using the same email id. But an email id can only be used once to register to a particular event.

[2015-09-02 15:47] tcheng001 commented on #7415
Then,  it is not working as expected. moving to "in dev". Please refer to [this](https://github.com/openscholar/openscholar/issues/7415#issuecomment-137078629)

[2015-09-02 16:18] tcheng001 commented on #7430
@rbran100  Question: if I change the settings in an instance and then change the default. What happens on the settings I changed?
For example,
I change the capacity to 9 for the first instance, then I change the default capacity to 200.  Should the capacity for the first instance be 9 or 200?

[2015-09-02 17:03] antoniomerlin commented on #6865
This error only go when i comment out `return _cache_get_object($bin)->clear($cid, $wildcard)`
in `include/cache.inc`

[2015-09-02 17:33] tcheng001 commented on #7422
Look good. Closed.

[2015-09-02 17:33] #7422 closed

[2015-09-02 18:14] tcheng001 commented on #7430
That is weird. The link (Change default) is gone. I saw the link this morning.
![screen shot 2015-09-02 at 2 10 44 pm](https://cloud.githubusercontent.com/assets/2111600/9639902/750c2400-517c-11e5-9203-ede8405127f0.png)

[2015-09-02 18:24] rbran100 commented on #7430
hmm, I didn't change anything, are you sure that is the same branch?  To answer your previous question, if you change a instance it will always take precedent (the first will stay at 9) but all un-changed instances will change to 200.

[2015-09-02 19:24] rbran100 commented on #7430
back in QA, dev had a branch mishap

[2015-09-02 19:26] tcheng001 commented on #7430
@rbran100    Always redirect to the first occurrence after saving the settings in any occurrence of the event.

[2015-09-02 20:04] rbran100 commented on #7299
@rsasch thanks for the detailed data, I think we would like to move forward removing the fb comments and fb like widgets.  Out of curiosity is there some embed code that FB provides to add to replace the like widget?

If there isn't and it is more than a 30 minute addition I would say just remove them outright.

[2015-09-02 20:13] rbran100 commented on #7420
@tcheng001 this was a bug with the way non-repeating events was checking if the limit was reached, I have fixed this.

[2015-09-02 20:22] tcheng001 commented on #7430
1) link showed
![screen shot 2015-09-02 at 4 20 08 pm](https://cloud.githubusercontent.com/assets/2111600/9643189/823d3742-518e-11e5-9bec-c8fbf0945a81.png)

2) drop-down for all occurrences showed correctly
![screen shot 2015-09-02 at 4 20 29 pm](https://cloud.githubusercontent.com/assets/2111600/9643200/8efee52a-518e-11e5-8c64-3e2a86d643e7.png)

3) able to update default of all occurrences
4) abl

[2015-09-02 20:25] rsasch commented on #7299
Capturing discussion with @rbran100:
<ul>
<li>integration between fb_social and os comments will be taken out</li>
<li>fb_social module will be disabled completely</li>
</ul>

[2015-09-02 20:31] tcheng001 commented on #7430
move back "in dev"
Always redirect to the first occurrence after saving the settings in any occurrence of the event.

[2015-09-02 20:44] rbran100 commented on #7430
@tcheng001 the "always redirect to the first occurrence" is fixed in the PR #7432 already just not merged yet

[2015-09-02 21:42] pthompsen commented on #7196
OK, I guessed at some stuff, but I made this PDOException error go away.  I followed the link @rbran100  reference above to #7437 (thinking PR may stand for Pull Request).  I wasn't sure how to apply a patch, so I just very carefully deleted the lines in red and added the lines in green to the file called os_files.module.  I also made this change to a fresh download of the installer from theopensc

[2015-09-02 21:49] pthompsen commented on #7196
So after I went to the performance page to turn on "Optimize CSS files" and "Optimize JavaScript files," I got this PDOException error...
<img width="620" alt="screen shot 2015-09-02 at 5 45 29 pm" src="https://cloud.githubusercontent.com/assets/8162215/9645617/c8d5413e-519a-11e5-8c4e-971da8999e3f.png">
Upon logging back into the site as admin, that error no longer appears, so perhaps it cleared b

[2015-09-03 08:15] RoySegall commented on #7384
OK, I know what the problem. the argument i added is not play well with the url argument when i export upcoming events. I think we would need to do some query alter instead of arguments.

[2015-09-03 10:10] RoySegall commented on #7384
OK, managed to exports events in all modes. What i need to fix is the filter when exporting from tagged events.

[2015-09-03 10:38] RoySegall commented on #7384
The problem come from `os_taxonomy_in_taxonomy_term_context()`. I'll give this another shot later on or or sunday.

[2015-09-03 11:36] RoySegall commented on #7378
The csv contains hour in the registration field which is not good. I replaced those values and now I managed to import them. I got the text as it should be:
![selection_087](https://cloud.githubusercontent.com/assets/1222368/9657302/888aab10-5248-11e5-857b-9ca3ce702fbb.png)
So i can't see the problem exactly. I'll try to fix the vocab name issue.

[2015-09-03 12:55] tcheng001 commented on #7415
@rbran100
This email address "torman_cheng@harvard.edu" fails to be registered in more than a site.  The system complains that
"You have already registered and may not register again."

[2015-09-03 13:54] rbran100 opened #7442 "Media Browser: Verbose Percentage then 0%"
When clicking Add file in the CP i first get many decimal places, 1 should be fine, then I get 0% for a moment before the media browser loads.

![screenshot 2015-09-03 09 51 36](https://cloud.githubusercontent.com/assets/651318/9660072/cc0ba49c-5221-11e5-8d5e-fa1bc076a444.png)

[2015-09-03 13:55] rbran100 commented on #7442
ohh yea, this was on http://staging.scholar.harvard.edu/gking

[2015-09-03 14:25] tcheng001 commented on #7420
Mark "Fixed"
tested on a single with capacity setting to 1
tested on a single with capacity setting to 2
tested on a repeating events with capacity setting to 1 in the first occurrence
tested on a repeating events with capacity setting to 2 in the second occurrence
tested on a repeating events with capacity setting to 3 in the third occurrence
signup link doesn't show up in the past single event
s

[2015-09-03 14:29] tcheng001 commented on #7421
Still not working

[2015-09-03 14:38] RoySegall commented on #7373
@rbran100 I'm testing this one and the only thing that i can come up with is that the links from the ticket are closed. For example the links `https://wiki.harvard.edu/confluence/x/UQh3Bg` and `https://post.harvard.edu/olc/pub/` provide access denied when i'm trying to access them.

[2015-09-03 14:52] tcheng001 commented on #7427
In News node
1) add an embedded image file
2) add an embedded url
3) add an embedded iframe
4) add photo
5) drop file onto the form as attachment
6) drop file onto media browser
7) upload file using local file browser

In Media Gallery,
1) drop file
2) upload file using local file browser
3) add url video

[2015-09-03 14:53] tcheng001 commented on #7424
Mark "Fixed"

[2015-09-03 15:02] tcheng001 commented on #7418
look good

[2015-09-03 15:14] mpetrovic commented on #7442
@tcheng001
There are 2 issues here.
One is that the percentage indicator would have lots of decimal numbers if the total number of files fell into certain ranges. The smallest is between 101 and 150 files (3 pages of files, 50 files per page).

The other is that if a site had more than 450 files, it would only get the first digit of the page and calculate the percentage from that. (10 => 1, 11 =>

[2015-09-03 15:27] tcheng001 commented on #7425
Replacing a file would not remove the original file from the vsite now.

[2015-09-03 15:35] Bilsi commented on #7388
Fixed

[2015-09-03 15:35] #7388 closed

[2015-09-03 15:36] #7420 closed

[2015-09-03 15:45] Bilsi commented on #7427
Fxied

[2015-09-03 15:45] #7427 closed

[2015-09-03 15:45] Bilsi commented on #7442
Fixed

[2015-09-03 15:45] #7442 closed

[2015-09-03 15:45] Bilsi commented on #7425
Fixed

[2015-09-03 15:45] #7425 closed

[2015-09-03 15:45] Bilsi commented on #7424
Fixed

[2015-09-03 15:45] #7424 closed

[2015-09-03 15:46] Bilsi commented on #7418
Fixed

[2015-09-03 15:46] #7418 closed

[2015-09-03 16:23] openscholar-admin opened #7443 "Recurring event does not show correctly in main calendar"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/recurring-event-does-not-show-correctly-in-main-calendar)

**The Plan**

Recurring event should show up correctly in the main calendar

**Description**

Here is an example. The recurring event has 3 occurrences.  9/9, 9/16, 9/23.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_imag

[2015-09-03 16:23] openscholar-admin opened #7444 "Unable to email to registrants"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-email-to-registrants)

**The Plan**

Fix the bug to enable sending an email to all registrants

**Description**

I got an error "Temporarily Unavailable" when trying to send an email to all registrants.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1269781/Scree

[2015-09-03 16:25] openscholar-admin opened #7445 "Allow content editors to apply redirects in user profile"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/allow-content-editors-to-apply-redirects-in-user-profile)

**The Plan**

Have access to add redirect field in both publishers node and profile node

**Description**

This is a topic which was originally addressed here:

http://community.openscholar.harvard....

But it w

[2015-09-03 16:27] Bilsi commented on #7445
@RoySegall - need to have access to add redirect field in both publishers node and profile node

[2015-09-03 18:06] tcheng001 commented on #7415
Mark "Fixed"

**Tested on single event with registration:**
an email address is not allowed to register the same event
an email address is able to register different events
capacity works correctly

**Tested on repeating event with registration:**
an email address is not allowed to register the same occurrence of the repeating event
an email address is able to register different occurrences of the

[2015-09-03 18:08] tcheng001 commented on #7430
Mark "Fixed"

this PR has been combined with #7415

[2015-09-03 19:11] #7415 closed

[2015-09-03 19:12] #7430 closed

[2015-09-04 13:37] tcheng001 opened #7446 "Media Browser: Booklet: Drop file area collapses after uploading a file"
![screen shot 2015-09-04 at 9 36 41 am](https://cloud.githubusercontent.com/assets/2111600/9684897/81bf61ea-52e8-11e5-84cf-beec9a3b9d60.png)

[2015-09-04 15:00] tcheng001 opened #7447 "Media Browser: Drop file area collapses in Presentation, Publication, Software and Software Release form"
![screen shot 2015-09-04 at 10 59 44 am](https://cloud.githubusercontent.com/assets/2111600/9686895/32a2070a-52f4-11e5-9d2f-9fbf6b0a0fc0.png)

[2015-09-04 15:23] tcheng001 commented on #7447
The issue also occur in Publication, Software and Software Release form.

[2015-09-04 16:15] dancabral commented on #7447
@tcheng001 the css was cached. it should look as expected now. related - the media gallery issue has old css in the aggregated file. unaggregated, the updated css is there. see below/
![screen shot 2015-09-04 at 12 12 36 pm](https://cloud.githubusercontent.com/assets/867075/9688651/96f3c040-52fe-11e5-8d6e-874de8f12559.png)

[2015-09-04 16:23] tcheng001 commented on #7447
Working now.

[2015-09-04 16:23] #7447 closed

[2015-09-04 17:44] tcheng001 opened #7448 "Media Browser: sizes of files are showed incorrectly when they are small"
Here is an example:
The size of all three small files becomes 0 bytes, but they are not.

![screen shot 2015-09-04 at 1 41 50 pm](https://cloud.githubusercontent.com/assets/2111600/9690529/e4d6d7dc-530a-11e5-9fa5-22f47063a6f3.png)

[2015-09-04 17:45] tcheng001 commented on #7446
Mark "Fixed"

[2015-09-04 17:45] #7446 closed

[2015-09-04 18:35] dancabral commented on #7303
@mpetrovic when you have a chance can you add references for these css and js files so that I can set up a static version of the admin panel and menu. Some of the content of the files may change, but getting these set up will get this rolling. thanks. https://github.com/openscholar/openscholar/tree/7303_new-admin_menu/openscholar/modules/frontend/admin_panel/misc

[2015-09-04 19:02] tcheng001 opened #7449 "Media Browser: Taxonomy terms can't be untagged when using the form of autocomplete"
Here is an example,  the vocabulary 'alphabet' contains three terms ('a', 'b' and 'c').  They can be untagged from the file.  You can empty the fields and save the form. However, the terms show up when you reopen the form.

![screen shot 2015-09-04 at 2 59 57 pm](https://cloud.githubusercontent.com/assets/2111600/9692275/f8f2272a-5315-11e5-907f-4438ccd4dcc3.png)

[2015-09-04 19:50] lanette opened #7450 "htaccess is missing from 7.x-3.28.0 and 7.x-3.26"
htaccess is missing from the distribution files. It appears the last version to have htacess was 7.x-3.20.0

[2015-09-06 05:32] pthompsen commented on #7196
Well, after spending quite a bit of time with this, I've given up.  The change in the os_files.module resolved the initial issue so I could at least get into the site.  But I couldn't do much to configure it because I kept getting WSOD.  All of the memory limit, time out values, etc., have been set as advised.  But I just can't get a stable install of this softer.  I may try the next release, as t

[2015-09-06 05:54] larrytooke commented on #7196
Thank you for all your efforts @pthompson ! I suspect that the install is broken and has been for some time.  I tried openscholar many moons ago with a version from theopenscholar.org that was working and was mightily impressed - but later version from theopenscholar.org have crashed on me again and again. I think the only way it is likely to be fixed is if one of the developers who is well versed

[2015-09-06 05:56] larrytooke commented on #7196
Thank you for all your efforts @pthompsen ! I suspect that the install is broken and has been for some time.  I tried openscholar many moons ago with a version that was working and was mightily impressed - but later version from theopenscholar.org have crashed on me again and again. I think the only way it is likely to be fixed is if one of the developers who is well versed in Drupal and openschol

[2015-09-07 10:45] RoySegall commented on #7445
I don't remember we have a redirect field on the profile node. We have it on the news and biblio nodes.

[2015-09-07 12:39] RoySegall commented on #7444
There is a problem with the reigstration module. The registration nodule does not provide the entity type and the entity entity when broadcasting a message - only when the user registered to the event. I'll try to update to the latest version and see what we can get. If not - i'll write a patch.

[2015-09-08 10:41] RoySegall commented on #7443
When i'm debugging [this](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_events/os_events.module#L2012-2012) part the `field_date` have the right values. There is something out there that not render it properly. Keep checking.

[2015-09-08 11:48] RoySegall commented on #7443
I know why it's happens. We render boxes for each delta with the ID similar to `event-popover-74`. The problem that all the deltas have the same ID and we get the first item. I think we need to add delta to the ID of the object but i don't know how this will effect the markup.

@dancabral I think you handle this one so if you can tell me how we can distinguish the popup boxes i'll change the marku

[2015-09-08 13:20] RoySegall commented on #7384
Still trying to handle this one.

[2015-09-08 13:38] rbran100 commented on #7444
@tcheng001 In addition to this fix, can you test that the register link for events is still correct for repeating events

[2015-09-08 13:57] rbran100 commented on #7440
Fixed with #7437

[2015-09-08 13:57] #7440 closed

[2015-09-08 15:03] rsasch commented on #7196
I was able to download and install 3.28.0 without issue -- below is my php.ini file.
<pre>
[PHP]

;;;;;;;;;;;;;;;;;;;;
; php.ini Options  ;
;;;;;;;;;;;;;;;;;;;;
; Name for user-defined php.ini (.htaccess) files. Default is ".user.ini"
;user_ini.filename = ".user.ini"

; To disable this feature set this option to empty value
;user_ini.filename =

; TTL for user-defined php.ini files (time-to-live)

[2015-09-08 15:08] mpetrovic commented on #7421
@tcheng001
Requires the os_files_private feature to be reverted and the cache cleared.

[2015-09-08 15:11] larrytooke commented on #7196
Thank you @rsasch.

What operating system and stack are you using?

What is your version of PHP?

Did you try to set up a basic site after the install?

With thanks...

Larry

[2015-09-08 15:12] Bilsi commented on #7361
@rsasch - Please fix it to parse correctly when the user enters the name in the format - "Last, F. Middle"

[2015-09-08 15:27] mpetrovic commented on #7303
@dancabral
JS and CSS files added to the page. Enable the admin_panel module to see them.

[2015-09-08 16:01] tcheng001 commented on #7378
@RoySegall
Can we prevent this happens?   When the csv file contains no vocab but a term,  a new empty vocabulary is created after imported.
![screen shot 2015-09-08 at 11 57 25 am](https://cloud.githubusercontent.com/assets/2111600/9740109/0499cc64-5621-11e5-963b-1edd1fe58669.png)

![screen shot 2015-09-08 at 11 59 34 am](https://cloud.githubusercontent.com/assets/2111600/9740152/2c67f7de-5621-11

[2015-09-08 16:37] rsasch commented on #7196
@larrytooke
OS: Mac OS 10.8.5
Stack: Apache 2.2.26, MySQL 5.6.16, PHP 5.3.29

I was able to set up a basic site after I enabled "clean URLs" (Administration &gt; Configuration &gt; Search and metadata) and created a top-level .htaccess file that included the following:
<pre>
# Various rewrite rules.
&lt;IfModule mod_rewrite.c&gt;
  RewriteEngine on
  RewriteRule "(^|/)\." - [F]
  RewriteCond %{REQ

[2015-09-08 18:14] rbran100 commented on #7360
asked Joe W. to test this

[2015-09-08 18:20] Bilsi commented on #7383
Fixed

[2015-09-08 18:20] #7383 closed

[2015-09-08 18:48] jjweiner commented on #7360
The infinite loop to the PIN server for access denied for govteaches.fas.harvard.edu has been resolved.

[2015-09-08 19:03] tcheng001 commented on #7444
@RoySegall
Now, I can use the link to send mail to the registrants. However, for repeating event, I found this problem. The system sends out the email to all registrants who have registered any occurrences in the series.
![screen shot 2015-09-08 at 2 50 14 pm](https://cloud.githubusercontent.com/assets/2111600/9744578/b1a3d2ce-563a-11e5-8674-1dc7cdf7edb6.png)

[2015-09-08 19:29] Bilsi opened #7453 "OS UI/UX Menu : Leave the control panel open unless the user closes it"
The control panel should stay open until the user closes it using the 'X' icon on the top of the screen

[2015-09-08 20:07] antoniomerlin commented on #7440
thanks (^_^) sorry that i didn't read carefully.

[2015-09-08 20:07] tcheng001 commented on #7421
Mark "Fixed"

[2015-09-08 20:07] #7421 closed

[2015-09-08 20:15] tcheng001 commented on #7448
![screen shot 2015-09-08 at 4 09 00 pm](https://cloud.githubusercontent.com/assets/2111600/9746232/cc989c18-5644-11e5-8e92-c88c2bc0159d.png)

[2015-09-08 20:17] mpetrovic commented on #7448
@tcheng001

That's resolved. Most likely the new css isn't in the aggregates.

drush @scholar.staging advagg-fna will fix it.

[2015-09-08 20:24] tcheng001 commented on #7448
prefect!!!
![screen shot 2015-09-08 at 4 23 51 pm](https://cloud.githubusercontent.com/assets/2111600/9746456/04ead40e-5646-11e5-8fba-1bf0d423eed3.png)

[2015-09-08 20:24] #7448 closed

[2015-09-08 20:27] rbran100 commented on #7303
Documenting a conversation with @Bilsi that we need to share with the wider team.  That the beta users "site" will adopt the new admin menu as opposed to all sites that user visits.  The new admin menu will be sticky per site and will be shared by any user logged into that site.  In addition to solving several technical issues this should prevent users sending each other dead links and high touch

[2015-09-08 20:35] tcheng001 commented on #7449
moving to "in dev"
1) autocomplete is not functioning
2) can't save the term even though I manually enter the known term to the field. The field becomes empty  when the file form is reopened.
3) No way to select other terms.
![screen shot 2015-09-08 at 4 34 09 pm](https://cloud.githubusercontent.com/assets/2111600/9746734/9ed519c0-5647-11e5-87a3-9f5604472dcc.png)

[2015-09-09 08:27] RoySegall commented on #7384
Got it, I fixes the alias calculation part and now it's suppose the work.

[2015-09-09 10:42] RoySegall commented on #7378
Now it's handled:
![selection_090](https://cloud.githubusercontent.com/assets/1222368/9759824/95d0c4f8-56f8-11e5-99ac-c9a6dd3f2329.png)

[2015-09-09 13:29] dancabral commented on #7443
@RoySegall is there a branch for this? Or somewhere that I can see this? Thanks.

[2015-09-09 13:32] tcheng001 commented on #7360
@rbran100    Can we close this one? OR what else we need to test?

[2015-09-09 13:38] RoySegall commented on #7384
I need to add a revert function.

[2015-09-09 14:18] tcheng001 commented on #7384
@RoySegall
Still not working.  It exports everything when I am viewing an single event.   I did revert os_events before running the test.  Am I still missing something?

[2015-09-09 14:57] jjweiner commented on #7360
I tested this yesterday, this can be closed

[2015-09-09 14:58] Bilsi commented on #7360
Fixed and deployed

[2015-09-09 14:58] #7360 closed

[2015-09-09 15:03] tcheng001 commented on #7378
Mark "Fixed"
able to import a single class
able to import multiple classes
able to import vocabulary having space
able to import vocabulary without space
able to import multiple terms of a taxonomy
empty vocabulary containing terms is not allowed (import doesn't proceed and shows error to users)
imported vocabularies (with space or without space) can be modified and removed

[2015-09-09 15:43] rbran100 commented on #7445
@RoySegall holding for now till a migration / update is avalible

[2015-09-09 19:23] mpetrovic commented on #7449
@tcheng001
Redid the interface for this. It handles similar to Featured Posts now.

[2015-09-09 19:25] mpetrovic opened #7455 "Beautify taxonomy autocomplete"
The autocomplete form of the angular taxonomy widget currently looks like this
![autocomplete_terms1](https://cloud.githubusercontent.com/assets/611447/9771881/dc8a417c-5706-11e5-8126-92537b515f4d.png)

and

![autocomplete_terms2](https://cloud.githubusercontent.com/assets/611447/9771882/e2219310-5706-11e5-9475-a630438d4480.png)

It needs some styling to bring it up to the same level as the rest o

[2015-09-09 22:04] rsasch commented on #7361
@rbran100 @Bilsi The fix is ready for review/QA; I'm just still working on adding an automated test.

[2015-09-10 07:51] RoySegall commented on #7445
We have an upgrade path.

[2015-09-10 08:15] RoySegall commented on #7384
I run the upgrade path on one of the dumps and I can see two events exported for a single event export. Checking.

[2015-09-10 08:34] RoySegall commented on #7384
OK,  an argument for the view was missing. I brought it back and now it's working.

[2015-09-10 08:36] RoySegall commented on #7443
No branch since there was no markup. I'll try to mock something.

[2015-09-10 11:39] RoySegall commented on #7444
I can see what you say but this could be a bug in the core. This is also could be a follow up issue.

[2015-09-10 12:40] Bilsi commented on #7378
Fixed

[2015-09-10 12:40] #7378 closed

[2015-09-10 13:21] rbran100 commented on #7444
@RoySegall that is 100% our code that handles this for repeating events so we would need to handle that, core registration does not work with repeating events.  Thats why I was asking about it in the PR, sorry if that wasn't clear.  Take a look and if it is not clear how it is setup then let me know and I can take a stab at it or at least narrow down the issue.

[2015-09-10 13:28] dancabral commented on #7443
@RoySegall thanks. Looking now.

[2015-09-10 13:34] tcheng001 commented on #7384
@RoySegall
Export doesn't work in term page.  This is an example.
http://dev.hwpi.harvard.edu/economics/calendar/upcoming/seminars-events/econometrics
No event is exported when I iCal link.

[2015-09-10 13:55] Bilsi commented on #7384
@RoySegall - @tcheng001 found that the "Export" link does not work for past individual events. It exported file is empty.

[2015-09-10 14:05] tcheng001 commented on #7398
Mark "Fixed"
![screen shot 2015-09-10 at 10 05 06 am](https://cloud.githubusercontent.com/assets/2111600/9790343/7a604300-57a3-11e5-803f-5818573d061e.png)

[2015-09-10 14:05] #7398 closed

[2015-09-10 14:28] tcheng001 commented on #7449
@mpetrovic
Just curious, why the file edit form looks different (especially in taxonomy section) when they are opened in different places. This is the new look.
![screen shot 2015-09-10 at 10 12 13 am](https://cloud.githubusercontent.com/assets/2111600/9790864/61c29c8c-57a6-11e5-8d1d-6acf0bfbf5c7.png)

This is when the image file is opened from LOF widget.
![screen shot 2015-09-10 at 10 27 08 am](

[2015-09-10 14:40] mpetrovic commented on #7449
@tcheng001
List of Files widget isn't using the new file editor form.

Separate issue.

[2015-09-10 18:36] dancabral commented on #7455
@mpetrovic autocomplete section cleanup https://github.com/openscholar/openscholar/commit/fbd99fac21e5a9535432868f9ce8a2e14cf7d89d

[2015-09-10 19:15] mpetrovic commented on #7455
Can you right-align the Remove term button? I don't think it'll look good when there are terms of different lengths applied.
Also, can you make the dropdown stand out a little more?

[2015-09-10 19:52] mpetrovic opened #7457 "Cannot empty file description field"
Attempting to save a file's Description field after removing all the text results in a 400 error from restful, stating no values were sent with request. This is false, as the values {description: ''} were sent correctly.

[2015-09-10 20:08] dancabral commented on #7455
@Bilsi @tcheng001 this is good to QA. To test ,set the vocab to autocomplete.

[2015-09-10 20:20] tcheng001 commented on #7455
Look good.
![screen shot 2015-09-10 at 4 18 39 pm](https://cloud.githubusercontent.com/assets/2111600/9799844/a82eb7f6-57d7-11e5-9ca5-6024d30bf9b9.png)

![screen shot 2015-09-10 at 4 19 13 pm](https://cloud.githubusercontent.com/assets/2111600/9799864/ba9da636-57d7-11e5-93a8-a2b2b34939fe.png)

[2015-09-10 20:20] #7455 closed

[2015-09-10 20:25] tcheng001 commented on #7449
Marked "Fixed"
1) All terms can be freely tagged and untagged in all four different formats.
2) Tagged terms work correctly in List of File widget

[2015-09-10 20:25] #7449 closed

[2015-09-11 13:12] tcheng001 commented on #7457
Marked "Fixed"

[2015-09-11 13:20] #7457 closed

[2015-09-11 13:37] #7289 closed

[2015-09-11 15:01] tcheng001 commented on #7299
@rsasch
Gone with all vsites in projects. Most of vsites don't really use the facebook widgets anywhere in the sites.
The only issue is some residuals left in tabs widget. But the pages are still looking good when rendered. This is an example.
![screen shot 2015-09-11 at 10 54 33 am](https://cloud.githubusercontent.com/assets/2111600/9817913/b60b02d4-5873-11e5-96e0-c08e57749216.png)
This issue is

[2015-09-11 16:46] rsasch opened #7459 "Remove unneeded os_biocv files"
Clean up files that are no longer needed after #7138 .

[2015-09-11 18:23] rbran100 commented on #7299
@tcheng001 is that screenshot from before the update or after?

[2015-09-11 18:28] tcheng001 commented on #7299
@rbran100
The first screenshot is taken after update. The page which contains the facebook widget renders well. The  only issue is the residual of the facebook widget left in Tabs widget.

[2015-09-11 18:34] rbran100 commented on #7299
@tcheng001 @Bilsi I think that is fine, no use trying to remove it from the tabs widget for 2 sites, it renders perfectly.

[2015-09-11 18:42] tcheng001 commented on #7299
Marked "Fixed"
1) All facebook widgets are removed from the dropdown menu
2) All facebook widgets are removed from layouts

[2015-09-11 19:08] dealancer opened #7462 "Issues with Boxes"
When editing a layout following error messages occur:

<code>
Notice: Undefined property: stdClass::$type in os_boxes_invalidate_cache() (line 588 of /mnt/www/html/openscholar/docroot/profiles/openscholar/modules/os/modules/os_boxes/os_boxes.module).
Warning: Creating default object from empty value in boxes_box_load() (line 398 of/mnt/www/html/openscholar/docroot/profiles/openscholar/modules/cont

[2015-09-11 19:59] tcheng001 opened #7463 "Media Browser: Should remove "Embed from the web" tab in /cp/content/files-private"
In /cp/content/files-private page,  Should the tab "Embed from the web" be removed from the media browser?
![screen shot 2015-09-11 at 3 58 30 pm](https://cloud.githubusercontent.com/assets/2111600/9824906/06970f5c-589e-11e5-8f66-12ac8902d99d.png)

[2015-09-11 21:28] rsasch commented on #7361
I can't figure out how to populate the author field in behat and I manually tested all the iterations I could think of.

[2015-09-13 19:13] dancabral commented on #7443
@RoySegall https://github.com/openscholar/openscholar/pull/7456#issuecomment-139909045 Thanks!

[2015-09-14 13:34] rbran100 commented on #7463
Ready for QA

[2015-09-14 13:51] mpetrovic opened #7465 "Media Browser: New file work flow can be confusing"
After adding a file, the user is brought to the File Edit form. This form assumes the user is aware that the file they are working on already exists, as if they navigated to the File Edit form by clicking on the Edit link from the library tab.

There's a Replace file button, and Cancel just closes the form.
Users believe this is still part of the Add File process, and are confused by these.

* The

[2015-09-14 14:00] mpetrovic opened #7466 "Media Browser: Add label text to Attached Files fields"
The purpose of the Attached Files field is confusing without any text accompanying it. Add some label and maybe description text to make it clearer what it's for.

[2015-09-14 14:15] mpetrovic opened #7467 "The words URL or Markup have to be erased in order to enter text properly"
On the 'Embed from the Web' tab, make a proper placeholder for these words so it's cleared out automatically.

[2015-09-14 14:23] mpetrovic opened #7468 "Media Browser page incorrect when there are no files pass filter"
When a filter is active, but there no files pass it, the pager shows 1/0 pages.

[2015-09-14 14:33] rbran100 opened #7469 "Media Browser: Duplicate File detection does not work for files with special characters"
If you have special charcters that are not allowed in a drupal filename then duplicate detection is skipped.

For example "MyFile (1).pdf"

[2015-09-14 14:51] rbran100 commented on #7463
looks good

[2015-09-14 14:51] #7463 closed

[2015-09-14 15:08] rbran100 commented on #7467
waiting on tests

[2015-09-14 16:13] rbran100 commented on #7468
Works Well, Waiting on tests to merge

[2015-09-14 18:02] mpetrovic commented on #7469
Files like this are automatically renamed by php. Spaces are converted to underscores, and special characters are stripped out completely.

We will now convert these filenames the same way PHP does, and use the new filename when checking for duplicates. When a file is renamed this way, a message is printed to the user, either while it's uploading or when they're asked to make a decision about dupl

[2015-09-14 20:37] #7468 closed

[2015-09-15 13:41] rbran100 commented on #7465
We should make sure this works for "replace existing"

[2015-09-15 14:12] mpetrovic opened #7476 "Media Browser: Dropping a file on text or button does nothing"
It should trigger the Upload process as it would drop anywhere else.

[2015-09-15 14:13] mpetrovic opened #7477 "Media Browser: Possible to add file multiple times to Attach Files field"
"Dropped an existing file. Chose replace. clicked save. clicked insert. it shows on the screen as a duplicate, on the top and bottom of the list of files. "

This is confusing from a user perspective since the duplicate does not stay when the node is saved.

[2015-09-15 14:15] mpetrovic opened #7478 "Media Browser: User confusion when replacing file from file edit form"
When clicking the blue replace button, the replace, cancel, save, and cancel buttons all showing at the same time is confusing. Can we call out the immediate action of replace, cancel somehow visually, or disable the save cancel until the replace action has been completed? I’m also not sold on the idea of having the replace button separate from the save and cancel. This seems inconsistent.

[2015-09-15 14:16] mpetrovic commented on #7478
Assigning #7478 to @dancabral.

[2015-09-15 15:18] tcheng001 commented on #7465
Marked "in dev"  The fix code is not in staging.scholar?  Or I am missing something?
1) Replace File button is still there when the file is newly uploaded.
2) the newly uploaded file is listed in the listing even though I click Cancel from the file edit form, then I click Cancel button from the media browser. However, the file is still in the vsite when I check it in /cp/content/files.

[2015-09-15 15:37] tcheng001 commented on #7466
@mpetrovic
Can we move the label closer to the drop file box?  This is news edit form.
![screen shot 2015-09-15 at 11 23 03 am](https://cloud.githubusercontent.com/assets/2111600/9881136/974f6b06-5b9c-11e5-9c81-3260f62c05c0.png)

For presentation edit form, the label is duplicated.
![screen shot 2015-09-15 at 11 31 23 am](https://cloud.githubusercontent.com/assets/2111600/9881302/5516fda2-5b9d-11e

[2015-09-15 15:47] #7467 closed

[2015-09-15 16:10] tcheng001 commented on #7469
* Blocked by  https://github.com/openscholar/openscholar/issues/7465#issuecomment-140426218
* Unable to save or cancel  updating file

[2015-09-15 16:45] rbran100 commented on #7373
Yes, I think we should only deny the URL when we get a 404, just treat the rest as valid.

[2015-09-15 16:47] rbran100 commented on #7361
@rsasch did you confirm that middle initials are still collected correctly

[2015-09-15 16:48] rbran100 commented on #7361
@rsasch did you confirm that middle initials are still collected correctly

[2015-09-15 18:04] tcheng001 commented on #7469
It looks good.
The detection of file duplication can handle file name like "file3 (13).txt" now. Its name is converted to file3_13_01.txt.  If I try to upload the same file name again, media browser knows that the file name is duplicated, and then the file name will be converted to file3_13_02.txt.

[2015-09-15 18:16] mpetrovic commented on #7476
@tcheng001
Requires clearing your browser cache, or having your Dev Tools open

[2015-09-15 19:00] tcheng001 commented on #7476
marked "Fixed"
tested on all content types, and logo, custom/HTML, embedded and slideshow widget.

[2015-09-15 19:06] dancabral commented on #7443
@rsasch your js popover fix worked. Thanks. 1) instances of a single event will launch the popover with the correct meta info and 2) instances of repeating events will launch the popover with the correct meta info--including the correct date. The problem is, on a test server /modules/os_features/os_events/js/os_events_popup.js does not load while logged out - so the popover doesnt open (logged in

[2015-09-15 19:39] tcheng001 commented on #7443
Look good.  Marked "Fixed"
Tested on http://dev.hwpi.harvard.edu/tormanhc2/calendar
1) Each occurrence of a repeating event shows correct data in popover box
2) Individual event shows correct data in popover box
3) Repeating event works properly

[2015-09-15 20:31] tcheng001 commented on #7361
Marked "Fixed"
I think these are two name formats used in publication
1) Last, First M
2) First M. Last

If we follow the two formats above, then we can come up 8 combinations
Last, First Middle
Last, F. M.
Last, F. Middle
Last, First M.
First Middle Last
F. M. Last
First M. Last
F. Middle Last

They are all rendered correctly.  The citation style is "Council of Science Editors"
![screen shot 2015

[2015-09-16 07:14] RoySegall commented on #7444
I can see it now. Any way - I took care of it. I change a little bit the logic for the query alter we do when we the events is a recurring event and when I have a single attendee:
![selection_093](https://cloud.githubusercontent.com/assets/1222368/9898525/a9e0f04a-5c5b-11e5-873f-33b90da6714b.png)

But when I have two attendees for example:
![selection_094](https://cloud.githubusercontent.com/asset

[2015-09-16 10:15] RoySegall commented on #7445
I set it back to needs QA.

[2015-09-16 12:02] RoySegall commented on #7384
Hmm... Something messed up in my local machine and now the export for upcoming not work as expected. Checking.

[2015-09-16 13:20] RoySegall commented on #7373
Looking into this one.

[2015-09-16 13:36] Bilsi commented on #7068
Fixed

[2015-09-16 13:36] #7068 closed

[2015-09-16 13:47] rsasch commented on #7373
@RoySegall I've got it.

[2015-09-16 13:59] rbran100 commented on #7384
@rsasch can you take this one over as well, Roy was not able to use the export button when filtering by a term, or in upcoming any longer.  But single event was working.

[2015-09-16 14:01] tcheng001 commented on #7444
mark "Fixed"
Now,
1) able to email registrants of a single event
2) able to email registrants of the occurrences of a repeating event correctly.
3) the same email can be registered for different occurrences of a repeating event, and the user gets correct email.

[2015-09-16 14:30] Bilsi commented on #7444
Fixed

[2015-09-16 14:30] #7444 closed

[2015-09-16 14:30] Bilsi commented on #7443
Fixed

[2015-09-16 14:30] #7443 closed

[2015-09-16 14:32] Bilsi commented on #7299
Fixed

[2015-09-16 14:32] #7299 closed

[2015-09-16 14:37] tcheng001 commented on #7445
@rbran100  @RoySegall
Failed to run update on dev.hwpi.  Any idea?
![screen shot 2015-09-16 at 10 36 02 am](https://cloud.githubusercontent.com/assets/2111600/9907795/c2a8d004-5c5e-11e5-9e7b-a941ff4155e7.png)

[2015-09-16 14:44] RoySegall commented on #7445
Clear cache before this one should fix the issue.

[2015-09-16 15:37] tcheng001 commented on #7445
Mark "Fixed"
1) able to use redirect field when logging as admin
2) able to use redirect field when logging as content editor
3) able to use redirect field of an imported profile when logged as content editor.
4) basic member has no permission to access redirect field by default.

[2015-09-16 15:50] openscholar-admin opened #7482 "Media Browser: Unable to edit embedded media code"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-edit-embedded-media-code)

**The Plan**

Expose the embed field in the edit form for embedded media so that its contents can be edited and saved.

**Description**

The ability to edit code in the media browser has been lost.

screenshot below

[![img](https://d2r1vs3d9006ap

[2015-09-16 15:55] rbran100 opened #7483 "Media Browser: Speed up loading of Media Browser"
When many files are present.

[2015-09-16 16:00] rbran100 opened #7484 "Media Browser: Text Change"
When I edit on an image, click the blue replace button, the message says, “Are you sure? This will replace the existing file and cannot be undone?” The question mark in the second sentence should be a period instead.

[2015-09-16 16:06] rbran100 opened #7485 "Media Browser: Using Field to attach file shows file twice in list"
Dropped an existing file. Chose replace. clicked save. clicked insert. it shows on the screen as a duplicate, on the top and bottom of the list of files.
![image00](https://cloud.githubusercontent.com/assets/651318/9910504/5526bdf4-5c6b-11e5-9e3a-8d126c58c36f.png)

Clicked save. It doesn’t appear twice in the page. Clicked edit page again. It does not show as a dupe in the list any more.

[2015-09-16 16:22] mpetrovic commented on #7485
Duplicate of #7477.

[2015-09-16 16:22] #7485 closed

[2015-09-16 19:35] tcheng001 commented on #7482
1)  Still not seeing the field.
![screen shot 2015-09-16 at 3 29 22 pm](https://cloud.githubusercontent.com/assets/2111600/9915900/bd2c3840-5c87-11e5-81c8-794efa33f474.png)

2) All fields in the file form are empty. This happens when clicking Edit button right after the file is uploaded. If you save the widget and reopen the file, then both Label and Uploaded On would have values.
![screen shot 20

[2015-09-16 20:41] rsasch commented on #7384
Looks like export on term page is not working currently and is not related to PR: http://economics.harvard.edu/calendar/upcoming/seminars-events/econometrics

[2015-09-17 00:05] Bilsi commented on #7445
Fixed

[2015-09-17 00:05] #7445 closed

[2015-09-17 12:39] Bilsi commented on #7361
Fixed

[2015-09-17 12:39] #7361 closed

[2015-09-17 12:58] tcheng001 commented on #7484
Mark "Fixed"
![screen shot 2015-09-17 at 8 57 18 am](https://cloud.githubusercontent.com/assets/2111600/9933632/28df5ba2-5d1a-11e5-96c2-cde28e8ab099.png)

[2015-09-17 13:16] tcheng001 opened #7490 "Media Browser: Presentation file: Help text is inconsistent"
"256M"  should be "256 MB".  It only occurs in Presentation Files.
![screen shot 2015-09-17 at 9 13 24 am](https://cloud.githubusercontent.com/assets/2111600/9933992/a8c225be-5d1c-11e5-8891-cc07cd766a90.png)

[2015-09-17 13:21] Bilsi commented on #7459
Fixed

[2015-09-17 13:21] #7459 closed

[2015-09-17 14:13] tcheng001 commented on #7477
I did clear cache and browsing data
1) still seeing duplicated file in the attached file list
2) Remove link does not work anymore.  The file seems to be removed after clicking Remove link, but it comes back when the edit form is reopened.

![screen shot 2015-09-17 at 10 07 37 am](https://cloud.githubusercontent.com/assets/2111600/9935435/99e6459a-5d24-11e5-9824-0bfe395f2586.png)

[2015-09-17 15:06] mpetrovic commented on #7482
@tcheng001 Forgot to commit that file that displayed that field. Should be working now.

[2015-09-17 18:15] mpetrovic commented on #7477
@tcheng001
Can't reproduce either of those.

[2015-09-17 18:53] tcheng001 commented on #7465
@mpetrovic    Trying to replace an existing file, but clicking Cancel to abort the process. However, the existing file is still replaced by the new file.

Handling of file duplication

scenario  | expected bahavior | test result
------------ | ------------- | ---------- |
rename -> cancel  | no new file added | PASSED
rename -> save | new file with different name | PASSED
replace -> cancel  | No r

[2015-09-17 19:08] mpetrovic commented on #7465
Working as intended. There's no way to Undo a file replacement, which is why there's a new warning next to the Replace button that says as much.

[2015-09-17 19:25] tcheng001 commented on #7477
@mpetrovic
1) I don't see the problems listed in https://github.com/openscholar/openscholar/issues/7477#issuecomment-141100068  any more.

2) When trying to add a duplicated file from library, it just ignores the process.  That will be great if there is a message telling the user that the file he wants to add has been attached. I think this is minor. Any thought?

[2015-09-17 19:26] mpetrovic commented on #7477
The original file now has a small animation that plays when you attempt to
add it to the list again. It's there to draw attention to the fact that the
file the user just tried to attach already existed on the node. But I guess
this wasn't noticeable enough?

[2015-09-17 19:37] tcheng001 commented on #7477
At least, I am not able to see the small animation in my test env.

[2015-09-17 19:41] Bilsi commented on #7476
Fixed

[2015-09-17 19:41] #7476 closed

[2015-09-17 19:41] openscholar-admin opened #7494 "The user gets no confirmation on the website that the signup has worked"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/the-user-gets-no-confirmation-on-the-website-that-the-signup-has-worked)

**The Plan**

* You should go and create an Event post.
* When creating you should select signup option
* Then go into the registration settings and set a limit of 1
* Now as a logged out user, go to the event,

[2015-09-17 19:43] Bilsi commented on #7494
@digitalpiku - Assigning this to you. We can discuss on the call tomorrow.

[2015-09-18 12:53] openscholar-admin opened #7495 "Media Browser Attachments Field"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/media-browser-attachments-field)

**The Plan**

The attached file field is not clear for some users. Add text to the attached file field "Files attached here will appear as links below the main content of the page"

**Description**

I love the new Media Browser, and it's improved fle

[2015-09-18 18:40] rsasch commented on #7384
@tcheng001 @rbran100 Just so I know I'm not breaking something else while trying to fix this, these are all the scenarios where one or several events would be exported:

<ul>
<li>single event</li>
<li>multiple events
<ul>
<li>upcoming</li>
<li>past</li>
<li>upcoming + taxonomy term</li>
<li>past + taxonomy term</li>
</ul></li>
</ul>

Am I missing anything?

[2015-09-18 18:47] rbran100 commented on #7384
I think that is it, other than the main calendar page.

On Fri, Sep 18, 2015 at 2:40 PM, Rebecca S. Asch <notifications@github.com>
wrote:

[2015-09-18 18:49] rsasch commented on #7384
@rbran100 And a calendar page export should be all the events within that month/year, correct?

[2015-09-18 18:55] tcheng001 opened #7496 "Media Browser: In File Edit form: Highlight fields when they contains invalid values or are empty if required"
Now, if I let "File Name" to be empty or enter some invalid format of date in "Updated On", and then click Save button, nothing happens.  That will be great if the required field is highlighted and some error messages is shown for the invalid value.
![screen shot 2015-09-18 at 2 53 57 pm](https://cloud.githubusercontent.com/assets/2111600/9968214/3468bde6-5e15-11e5-8350-5b1653565a8c.png)

[2015-09-18 19:00] tcheng001 commented on #7384
Main calendar page export should be all the upcoming events (up to 40).  No past event.

[2015-09-18 19:02] tcheng001 commented on #7384
Single event could be an upcoming event or a past event.

[2015-09-18 19:08] rsasch commented on #7384
@tcheng001 Is that true for other calendar pages, e.g. calendar?type=month&month=2015-11? All upcoming events (up to 40)?

[2015-09-18 19:12] tcheng001 commented on #7384
@rsasch
yes, based on the current design if you are asking the day, week, month and year view.  The idea situation is to export what you are seeing in the page.

[2015-09-18 19:21] rsasch commented on #7384
@rbran100 @tcheng001 Ok, now I'm confused -- for the day, week, month and year views, should we be exporting only what is on the page or not?

[2015-09-18 19:49] rsasch commented on #7384
Most of the export functions are not working; as long as I'm going to be making changes, I might as well change things so that they make sense.

[2015-09-21 11:21] digitalpiku commented on #7494
Github branch https://github.com/openscholar/openscholar/tree/7494-event_signup_confirmation created for this issue fix.

[2015-09-21 11:56] rbran100 commented on #7494
Thanks @digitalpiku, could you add a screenshot of the message displaying and create a pr with #7494 in the description. I will take a look in a few.

[2015-09-21 12:50] digitalpiku commented on #7494
![s2](https://cloud.githubusercontent.com/assets/4848039/9992114/5dce34c0-608d-11e5-9329-1596e9f96fc3.png)

Screenshot of the message attached.

[2015-09-21 14:49] mpetrovic commented on #7466
@tcheng001

Label spacing:
Clear aggregates. I took care of this.

Presentations:
Fixed, pending review

Publications:
Cannot reproduce

[2015-09-21 15:55] mpetrovic commented on #7477
@tcheng001
I see the animation both locally and on dev, in Chrome and Firefox.

Make sure to run advagg-fna and clear caches before testing.

[2015-09-21 16:01] mpetrovic commented on #7482
@tcheng001
Why did you put this back in dev?

[2015-09-21 17:38] #6818 closed

[2015-09-21 18:01] #7484 closed

[2015-09-21 18:30] openscholar-admin opened #7498 "Repeating event registration: event link in confirmation email redirects to incorrect occurrence"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/repeating-event-registration-event-link-in-confirmation-email-redirects-to-incorrect-occrrence)

**The Plan**

When you have a repeating event, the URL contains the "Delta" of the event occurrence.  You can see this when viewing a repeating event you will notice ?delta=3 at the end o

[2015-09-21 18:40] openscholar-admin opened #7499 "Create new theme section in appearance page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-theme-section-in-appearance-page)

**The Plan**

Add a new section in themes called "One Page theme"

**Description**

With the addition of a new theme type (one page/horizontal layout) it makes sense to add a new section to the appearance page. An initial section name cou

[2015-09-21 18:42] Bilsi commented on #7499
@rsasch - Dan is creating a one page theme and we could like it to be in a new section after the featured themes and before the Other themes called "One Page Themes" with a link next to it saying "How to use" pointing to documentation

[2015-09-22 09:59] digitalpiku commented on #7498
One doubt regarding replication of this issue, If we click on Repeat checkbox on Event create screen, the help text below Signup check box says "Only applicable to non repeated events.". Due to this I'm not able to see the "Sign up for this event link" for the event. Please refer to the screenshot and correct me if I am missing something to replicate this issue.
![7498](https://cloud.githubusercon

[2015-09-22 13:01] rbran100 commented on #7498
This should not be the case in the current version of OpenScholar, can you confirm that you are on SCHOLAR-3.x

[2015-09-22 13:18] rbran100 commented on #7498
To repeat, you should create an event with both "signup" checked and "repeat" checked, that is set to repeat multiple times.

An example of this in the projects DB is OpenScholar training which occurs on multiple days and has signup.

http://projects.iq.harvard.edu/brianapendleton/event/openscholar-training?delta=5
http://projects.iq.harvard.edu/brianapendleton/event/openscholar-training?delta=4
h

[2015-09-22 15:06] tcheng001 commented on #7466
@mpetrovic
1) In news form, the button "Choose File" is too close to the label "Attach Files".  Need more space to separate them.
![screen shot 2015-09-22 at 10 40 09 am](https://cloud.githubusercontent.com/assets/2111600/10021585/afe448ba-6116-11e5-9bfe-2cb6bec4fd82.png)

[2015-09-22 15:31] tcheng001 commented on #7482
Mark "Fixed"
Embed Code field can be accessed through the following ways
1) Edit button in the widget edit form
2) Contextual link (Edit) of the media
3) its Edit link in /cp/content/files page

[2015-09-22 15:44] tcheng001 commented on #7477
mark "Fixed"
1) When trying to attach a duplicated file, the original one will be moving to the left and right in the list.
2) No duplicated file is allowed to attach to a node

[2015-09-22 15:52] Bilsi commented on #7482
Fixed

[2015-09-22 15:52] #7482 closed

[2015-09-22 16:03] rbran100 commented on #7477
Merged, and merged down into 3.x as well

[2015-09-22 16:03] #7477 closed

[2015-09-22 19:09] dancabral commented on #7439
The GKing theme Presentation pages now looks very similar to the Biblio pages. Closing. Marking as Fixed....ready to be merged.
![screen shot 2015-09-22 at 3 06 30 pm](https://cloud.githubusercontent.com/assets/867075/10028723/fa955a46-613b-11e5-9a4b-6d742b0e9552.png)

[2015-09-22 19:13] dancabral commented on #7439
QA'd in major browsers. tested flexibility of new format/layout.

[2015-09-22 19:13] #7439 closed

[2015-09-22 19:29] mpetrovic commented on #7495
Duplicate of #7466.

[2015-09-22 19:29] #7495 closed

[2015-09-22 19:34] Bilsi commented on #7494
@digitalpiku - Could you move the message to display it at the top like the other message in this screen shot. Also please update the text to be "You have successfully registered for this event. Please check your email for confirmation". I would prefer it broken down into two sentences.
![screen shot 2015-09-22 at 2 17 14 pm](https://cloud.githubusercontent.com/assets/11841641/10029324/2d9346ee-61

[2015-09-22 19:47] tcheng001 commented on #7373
Tested both
1) menu link having a url starting with "http"
2) menu link having a url starting with "https"
3) menu link have a url which contains a query

[2015-09-22 19:54] Bilsi commented on #7373
Fixed

[2015-09-22 19:54] #7373 closed

[2015-09-22 19:56] tcheng001 commented on #7465
Mark "Fixed"

Handling of file duplication

scenario  | expected bahavior | test result
------------ | ------------- | ---------- |
rename -> cancel  | no new file added | PASSED
rename -> save | new file with different name | PASSED
replace -> cancel  | replaced with the new file  | PASSED
replace -> save | replaced with the new file | PASSED

[2015-09-22 20:01] Bilsi opened #7504 "Editing a Page errors our because a deleted file is referenced in a page"
http://scholar.harvard.edu/stevenliang/biography

Editing this page throws a fatal error.
One of the files attached to that node doesn't exist anymore

[2015-09-22 20:08] openscholar-admin opened #7505 "Firefox responsive issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/firefox-responsive-issue)

**The Plan**

Fix Firefox issue so that when there are  2 sidebars, the right sidebar clears the content and left sidebar regions in responsive mode.

**Description**

In Firefox, at 970px the right sidebar does not clear the left sidebar. See.

 [![img](ht

[2015-09-22 20:08] tcheng001 commented on #7490
Mark "Fixed"
1) Help text looks good now.
![screen shot 2015-09-22 at 4 07 16 pm](https://cloud.githubusercontent.com/assets/2111600/10030133/1a2537e8-6144-11e5-9ea2-fee1394547f5.png)

2) able to upload a file over 200 MB

3) system shows an error message when trying to upload a file over 256 MB.
![screen shot 2015-09-22 at 4 04 02 pm](https://cloud.githubusercontent.com/assets/2111600/10030097/e7

[2015-09-22 20:10] openscholar-admin opened #7506 "Get blank screen when trying to add/delete menu links"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/get-blank-screen-when-trying-to-add-delete-menu-links)

**The Plan**

Fix the issue so that editing a menu works correctly

**Description**

1) As site owner (rebecca_asch) of the site hwpi.harvard.edu/rsatest, when I add or delete a menu item by going to Build > Menu and then clicki

[2015-09-22 20:14] dancabral commented on #7505
Fixed here https://github.com/openscholar/openscholar/commit/02f484bfa5d7c2ab1ac3b9b2b812c5a2a0b163fd

[2015-09-22 20:17] rbran100 commented on #7392
We should look through the code and see if any modules implemented "spaces_features_form_alter", to perform an action when that form is saved. If so we should make sure they use the new form if applicable.

[2015-09-22 20:18] dancabral commented on #7505
This is fixed. Closing.

[2015-09-22 20:18] #7505 closed

[2015-09-22 21:06] dancabral commented on #7478
![replace](https://cloud.githubusercontent.com/assets/867075/10031591/32245574-614c-11e5-9a02-7ecd88dbd43e.png)

[2015-09-23 08:29] digitalpiku commented on #7494
Hi Bilsi,

Please let me know the name of the drupal theme used in the site as per above screenshot.

Thanks,
Anish

[2015-09-23 12:39] Bilsi commented on #7469
Fixed

[2015-09-23 12:39] #7469 closed

[2015-09-23 12:39] Bilsi commented on #7465
Fixed

[2015-09-23 12:39] #7465 closed

[2015-09-23 12:40] Bilsi commented on #7490
Fixed

[2015-09-23 12:40] #7490 closed

[2015-09-23 13:15] tcheng001 commented on #7504
@mpetrovic
When I edit the page http://dev.scholar.harvard.edu/stevenliang/biography,  I always see this warning. Any idea?

![screen shot 2015-09-23 at 9 12 05 am](https://cloud.githubusercontent.com/assets/2111600/10045784/35e46988-61d3-11e5-854f-b887e35002d0.png)

Now, the page can be edited. The attached file would not be seen in the page when the file is deleted.

[2015-09-23 14:14] rbran100 commented on #7483
@tcheng001 #7501 has to do with the files showing in the form field quickly
#7500 keeps the media browser from re-loading the files when it opens, so when you open the media browser (on a form that has the file field) you should not see the loading wheel

[2015-09-23 14:57] Bilsi commented on #7466
@dancabral - could you please fix the issue mentioned above - the "Attach files" label being too close to the button

[2015-09-23 16:23] dancabral commented on #7466
@tcheng001 the spacing above the attach files label should be better now. its in the 7466-label branch

[2015-09-23 17:02] tcheng001 commented on #7466
@dancabral   Still not able to see the fix. I did clear cache and browsing data.
![screen shot 2015-09-23 at 1 01 43 pm](https://cloud.githubusercontent.com/assets/2111600/10052141/4982ea12-61f3-11e5-93ce-c25248585958.png)

[2015-09-23 17:18] Bilsi commented on #7466
@tcheng001 - it is in the branch 7466-label

[2015-09-23 17:52] tcheng001 commented on #7483
@rbran100    Don't see the loading wheel any more.
Checked the following places:
1) cp/content/files
2) cp/content/files-private
3) content type full nodes (like News, Blog, Event, Class, Class material, Publications)
4) logo widget
5) Custom HTML widget
6) Embed media widget
7) Slideshow widget

@Bilsi   Let me know after this PR is merged to 3.x.  I would like to test more there.

[2015-09-23 18:11] rbran100 commented on #7483
@tcheng001 did you test both PR's?
@mpetrovic can you fix the merge conflicts in 7500

[2015-09-23 18:43] tcheng001 commented on #7483
@rbran100
Yes.
1) I don't notice any delay of showing up the attached files in the form.
2) It seems a bit delay (2-3 seconds) showing up in the form when there are over 600 files in the test site.  I think that is ok. right?

[2015-09-23 18:48] tcheng001 commented on #7466
Mark "Fixed"
Look good now.
![screen shot 2015-09-23 at 2 48 17 pm](https://cloud.githubusercontent.com/assets/2111600/10055046/29aa0180-6202-11e5-9e92-8e2a8d4f661c.png)

[2015-09-23 19:52] zoharbabin commented on #2645
this thread was long closed, but I just first saw it.. and I felt could use a quick update for anyone coming across it.

Kaltura is now a certified Embed.ly provider. http://embed.ly/provider/kaltura if you're using MediaSpace, you can enable the Twitter and Facebook modules which will add the meta tags required for Embed.ly, and then any KMS Video URL will be rendered correctly in an Embed.ly int

[2015-09-24 13:48] rsasch commented on #7384
After talking to @rbran100, plan is for export to mirror what is being displayed to the user on screen.

[2015-09-24 14:47] tcheng001 commented on #7494
Looks good.  Mark "Fixed"
The message is showed on the top of the page.
![screen shot 2015-09-24 at 10 45 32 am](https://cloud.githubusercontent.com/assets/2111600/10076411/6ccdbcac-62a9-11e5-9eeb-c6016b919376.png)

Tested on both single and repeating event.
Checked the confirmation email.

[2015-09-24 15:00] mpetrovic commented on #7504
@tcheng001
Completely unrelated.

[2015-09-24 15:29] tcheng001 commented on #7504
Mark "Fixed"
Tested on basic page, blog and news, and some widgets (likes logo, custom, embed media and slideshow).  The user has no problem to access those posts or widgets when files attached or embedded  are removed.

Logging as admin, content editor or basic member to access a news post in which the attached is deleted from the vsite, they are all able to access the news node

[2015-09-24 16:32] rsasch commented on #7384
Updated "The Plan" after discussion with @Bilsi and @rbran100 .

[2015-09-24 17:58] mpetrovic opened #7511 "Permanent client-side entity cache"
Add a client side caching system so the full set of files don't need to be retrieved from the server every page load.

Features:
* **SERVER SIDE**
  * [x] A 'Last Modified' column will be added to the files_managed table.
  * [x] 'Last Modified' column will be updated every time file_save is called.
  * [x] Create a table to store entities that are deleted with the following fields: entity id, ent

[2015-09-24 19:07] Bilsi commented on #7504
Fixed

[2015-09-24 19:07] #7504 closed

[2015-09-24 19:34] dancabral commented on #7478
@mpetrovic when you have a sec can you check to see if the updated file https://github.com/openscholar/openscholar/blob/7478-MB_replce_file_flowcleanup/openscholar/modules/frontend/os_common/FileEditor/file_edit_base.html looks ok, before I pass it to @tcheng001 for QA? Thanks.

[2015-09-24 19:35] openscholar-admin opened #7513 "Removing an event from Upcoming or Past Events page should not redirect to calendar page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/removing-an-event-from-upcoming-or-past-events-page-should-not-redirect-to-calendar-page)

**The Plan**

Bring the user back to the previous page after they edit / delete an post.

If they are deleting and the previous page was the "deleted node" then we should redirect as it is now.

[2015-09-24 19:35] openscholar-admin opened #7514 "Play button position - youtube video(s) in sidebar"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/play-button-position-youtube-video-s-in-sidebar)

**The Plan**

Fix the play button position in the youtube video

**Description**

The play button position in youtube video(s) in a sidebar is way off and needs to be fixed. See

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_image

[2015-09-24 19:36] openscholar-admin opened #7515 "Blog Archive widget should allow more than 5 archive links"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/blog_archive_widget_should_allow_more_than_5_archive_links)

**The Plan**

Implement a pager if the blog archive list goes beyond 5 links.

**Description**

The blog archive widget is set to show only 5 links to previous months. This should be configurable, and offer a pager to go to

[2015-09-24 19:37] openscholar-admin opened #7516 "Create new theme option based on the screens below"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-theme-option-based-on-the-screens-below)

**The Plan**

Add the themes below to the list of public themes

**Description**

Create new theme option based on the screens below. For reference [http://sites.gse.harvard.edu/its](http://sites.gse.harvard.edu/its). Primary desig

[2015-09-24 19:38] openscholar-admin opened #7517 ""Content Editor" role is unable to find or navigate to his/her own unpublished page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-content-editor-role-is-unable-to-find-or-navigate-to-his-her-own-unpublished-page)

**The Plan**

Resolve/update permissions so that:

The Content Editor (CE) role is able to find or navigate to his/her own unpublished page.

The fix/update should also resolve these scenarios:

1) A

[2015-09-24 19:43] openscholar-admin opened #7518 "Search Engine can't find content on website"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/search-engine-cant-find-content-on-website)

**The Plan**

Fix OpenScholar so that any change in privacy or site settings correctly indexes all posts on a site.

**Description**

Search engine on our website:  [http://sciencedemonstrations.fas.harv...](http://sciencedemonstrations.fa

[2015-09-24 20:03] rbran100 commented on #7518
#7509

[2015-09-24 23:52] Bilsi commented on #7483
Fixed

[2015-09-24 23:52] #7483 closed

[2015-09-25 00:08] openscholar-admin opened #7520 "Event signup: Unable to set "Send Reminder""
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/event-signup-unable-to-set-send-reminder)

**The Plan**

Fix the bug so that send reminder for events works

**Description**

When checking the setting "Send Reminder" and save, I got an error "If sending a reminder, provide a date and template."

 [![img](https://d2r1vs3d9006ap.clou

[2015-09-25 00:12] openscholar-admin opened #7521 "Captcha refresh not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/captcha-refresh-not-working)

**The Plan**

Fix the bug so that captcha refresh works

**Description**

The&nbsp;<span>Captcha refresh button isn’t functional, when you click on it, nothing happens.
![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1276823/21771-10o3dtu_inline.p

[2015-09-25 00:13] openscholar-admin opened #7522 "Booklet: Table of Contents widget not working"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/booklet_table_of_contents_widget_not_working)

**The Plan**

Fix the table of contents to work correctly

**Description**

I have added the Booklet: Table of Contents" Widget to the front page of the site and selected a book "December 2003". However the nothing appears. I am using a featured posts widget as