[2019-08-15 17:10] tcheng001 commented on #11945
@uttkarsh-26    Is this hard to place year underneath Published?
![Screen Shot 2019-08-15 at 12 55 28 PM](https://user-images.githubusercontent.com/2111600/63112334-eff22b80-bf5d-11e9-8c4c-f5f70051cd99.png)

[2019-08-16 05:13] mukeyshkumar commented on #12026
@subhojit777
Drupal\cp_appearance\Entity\CustomThemeException: Unable to create directory for storing the theme. Please contact the site administrator for support. in Drupal\cp_appearance\Entity\CustomTheme->postSave() (line 147 of /var/app/current/openscholar/profile/modules/cp/modules/cp_appearance/src/Entity/CustomTheme.php).

@tcheng001
I am able to see the preview of themes. I am logged in wi

[2019-08-16 11:16] mukeyshkumar commented on #12107
Fixed body bg color, username field description, and disabled register new user section on the login screen.
PR:https://github.com/openscholar/openscholar/pull/12177

[2019-08-16 11:49] mukeyshkumar opened #12178 "Upload dialog position should be center of the screen"
Upload dialog position should be center of the screen.

@mukeyshkumar - Can we move this dialog to the center of the screen?

![image](https://user-images.githubusercontent.com/11841641/63021846-7ed44a80-be6f-11e9-9bdf-09bdb64f078d.png)

_Originally posted by @Bilsi in https://github.com/openscholar/openscholar/issues/12159#issuecomment-521229973_

[2019-08-16 12:01] tcheng001 commented on #12026
@mukeyshkumar    You are correct.  That is a permission issue.  I always log in as vsite admin to test.  @subhojit777   Should I open a separate ticket for the permission issue?

[2019-08-16 12:06] mukeyshkumar commented on #12178
Attaching screenshot for ref.
![upload-media-screen-dialog](https://user-images.githubusercontent.com/47223502/63166536-52c1f080-c04c-11e9-8b05-98e6a062f48b.png)

[2019-08-16 12:45] tcheng001 commented on #12162
Look good. Mark "Fixed"
![Screen Shot 2019-08-16 at 8 44 39 AM](https://user-images.githubusercontent.com/2111600/63168437-1ff30a80-c002-11e9-8ea3-75510d32b218.png)

[2019-08-16 12:45] #12162 closed

[2019-08-16 13:02] subhojit777 commented on #12026
@tcheng001 I have already created it https://github.com/openscholar/openscholar/issues/12115

[2019-08-16 13:02] tcheng001 opened #12180 "Unable to access contextual links when entities are too close"
Here is an example:
The first contextual button is for the post while the second one is for the image. When hovering the first one,  Edit / Delete appear. However, I move the pointer down a bit, the contextual links are overlaid by the image's contextual link Edit/Delete.  The user is not able to click the post's contextual link Edit / Delete.
![Screen Shot 2019-08-16 at 8 49 45 AM](https://user-i

[2019-08-16 14:37] tcheng001 commented on #11857
Still not seeing the fix.  Mark "Pending" @stamina84  can you take a look?
![Screen Shot 2019-08-16 at 10 36 19 AM](https://user-images.githubusercontent.com/2111600/63175306-b975e880-c011-11e9-8398-0b7e13cad7c0.png)

[2019-08-16 14:49] tcheng001 commented on #11583
Moving to "in dev"   Uploaded image does not render in the form.
![Screen Shot 2019-08-16 at 10 48 30 AM](https://user-images.githubusercontent.com/2111600/63176179-7157c580-c013-11e9-876c-e692eb33ba2f.png)

[2019-08-16 18:46] tcheng001 commented on #11708
In examples:
For Book Chapter example:
Please also include book title and page number for all formats like D7
For Journal Article example:
Please also include journal title and page number for all formats like D7

![Screen Shot 2019-08-16 at 2 06 31 PM](https://user-images.githubusercontent.com/2111600/63190567-8133d180-c034-11e9-914f-c4ff79514e3d.png)
For American Medical Association, book title

[2019-08-17 02:10] tcheng001 commented on #11708
For QA information only:

format | Book Chapter result | JA  result | Book result
------|-------|-------|------
ACS | -- | -- | --
ACS with title | book title should be italic | journal title should be italic | ok
AMA | book title should be italic | journal title should be italic | ok
APSA | book title should be italic | journal title should be italic | ok
ASA | see below | see below | see below
A

[2019-08-18 20:31] tcheng001 opened #12181 "Abstract data not showed in listing and full node view"
Here is an example: http://d8.theopenscholar.com/site05/publications/test-book
1. No abstract showed in full node view
2. PubMed appears there. It should not
![Screen Shot 2019-08-18 at 4 22 58 PM](https://user-images.githubusercontent.com/2111600/63229983-ac552700-c1d4-11e9-8acf-65c6c10d0364.png)
3. No abstract showed in publication listing (/publication page)
![Screen Shot 2019-08-18 at 4 26 22

[2019-08-18 21:22] tcheng001 opened #12182 "Other data not shown in publication full node view"
I entered the following data to this publication http://d8.theopenscholar.com/site05/publications/test-book

1. Identifiers
![Screen Shot 2019-08-18 at 5 14 29 PM](https://user-images.githubusercontent.com/2111600/63230523-b4649500-c1db-11e9-8064-b52707fe4b8f.png)

2. Alternative titles
![Screen Shot 2019-08-18 at 5 15 03 PM](https://user-images.githubusercontent.com/2111600/63230525-c7776500-c1db

[2019-08-18 21:35] tcheng001 opened #12183 "For Book Chapter and Journal Article, "Number of Pages" should be "Pages""
Also, help text should be something like "12-25".
![Screen Shot 2019-08-18 at 5 26 21 PM](https://user-images.githubusercontent.com/2111600/63230707-6dc46a00-c1de-11e9-8048-d01246e72533.png)

[2019-08-19 07:35] mukeyshkumar opened #12184 "Person default image section ui issues"
**Steps to replicate:**

1. As a super admin, visit http://d8.theopenscholar.com/site06/cp/settings/apps-settings/profiles (or any other vsite)
2. In default, image section click on upload
3. After the image upload edit/delete/replace section UI breaks
![upload-media-edit-breaks](https://user-images.githubusercontent.com/47223502/63247168-fba56100-c281-11e9-90e7-946b6490496d.png)

[2019-08-19 09:40] mukeyshkumar commented on #12107
@dancabral i have made both changes. Please review.

[2019-08-19 11:25] subhojit777 commented on #12152
@tcheng001 Is a vsite member will be able to access the menu setting also?

[2019-08-19 12:09] tcheng001 commented on #12152
Based on D7, only vsite owner and admin can access menu settings in the forms

[2019-08-19 12:10] uttkarsh-26 commented on #11945
Hi @tcheng001
Let's pass this to @mukeyshkumar for theming, I think when radios will be themed to appear horizontally as in D7, year field will automatically come/appear under published.
cc @Bilsi

[2019-08-19 12:16] uttkarsh-26 commented on #12182
Hi @tcheng001, Yes I think I can hide them from appearing in the form if they are not required.
But is it only for `book` publication type or for all or for just some of them? cc @Bilsi

[2019-08-19 12:25] tcheng001 commented on #12182
@uttkarsh-26    We have to check all pub types one by one.  Please refer to D7.

[2019-08-19 12:34] uttkarsh-26 commented on #12182
okay, this will take some time I guess,
So I should check for
1 .`Other`,
2. `Identifiers`
3. `Alternative Titles` tabs for all publications one by one, correct? @tcheng001

[2019-08-19 12:39] tcheng001 commented on #12182
@uttkarsh-26     also Locators

[2019-08-19 12:52] tcheng001 commented on #12182
@uttkarsh-26    Sorry, I just double-checked again.  We need to check everything except Authors and Abstract

These are data we need to check. Please refer to D7.
1. Publication
2. Publisher
3. Identifiers
4. Locators
5. Alternative titles
6. Other

[2019-08-19 13:48] tcheng001 commented on #12107
@dancabral    In D7, user can use either username or email to log in. Should we follow this rule?
![Screen Shot 2019-08-19 at 9 47 05 AM](https://user-images.githubusercontent.com/2111600/63270577-76608300-c266-11e9-876e-60fd6dc4a6d4.png)

[2019-08-19 13:55] Bilsi commented on #12107
@tcheng001 - that is not a question for Dan, Yes, we should

[2019-08-19 14:05] tcheng001 commented on #12178
Look good. Mark "Fixed"

[2019-08-19 14:05] #12178 closed

[2019-08-19 14:35] tcheng001 commented on #12020
1. Create a custom vsite admin role which has the same permissions of default admin role.
2. Assign the custom vsite admin to a user
3. Log in as the user and test
Note: The user can perform all operations as default vsite admin.
![Screen Shot 2019-08-19 at 10 35 39 AM](https://user-images.githubusercontent.com/2111600/63274047-1d481d80-c26d-11e9-8e7f-8c6e93ad7e82.png)

[2019-08-19 14:36] #12020 closed

[2019-08-19 14:41] tcheng001 commented on #12107
Moving to "in dev"
1. User is not able to use email to log in.
2. Please remove HOME / Log in
![Screen Shot 2019-08-19 at 10 39 44 AM](https://user-images.githubusercontent.com/2111600/63274435-c98a0400-c26d-11e9-9c2a-ce4e0fddde38.png)

[2019-08-19 14:55] tcheng001 commented on #12024
It seems not working.  No matter what theme I set, the background color of current pager is always blue in color.  Mark "Pending". @mukeyshkumar   Could you take a look?  Might be I have been missing something.
![Screen Shot 2019-08-19 at 10 54 12 AM](https://user-images.githubusercontent.com/2111600/63275590-cb54c700-c26f-11e9-8d70-c110d4b0da4e.png)

[2019-08-19 16:47] tcheng001 commented on #12041
Mark "Fixed"
All available themes are present in /cp/appearance/themes
![Screen Shot 2019-08-19 at 12 46 05 PM](https://user-images.githubusercontent.com/2111600/63283532-75881b00-c27f-11e9-8ccb-1b6c3e0c568a.png)

[2019-08-19 16:47] #12041 closed

[2019-08-19 17:47] #12170 closed

[2019-08-19 18:01] tcheng001 commented on #12001
I can select Select all or any combination of all types.  Mark "Fixed"

[2019-08-19 18:01] #12001 closed

[2019-08-19 18:10] tcheng001 opened #12186 "Pagers issue on Pub by Types widget"
PR: https://github.com/openscholar/openscholar/pull/12264

- [x] 1.  Pub by Types widget should show mini pagers.
- [x] 2. Can mini pagers look like that in D7?
- [x] 3. Pagers in each widget should work independently.  If I click page 2 on Pub by Types, then Pub by Authors and Pub by Years widget also show page 2. (DUPLICATED in https://github.com/openscholar/openscholar/issues/12104)

![Screen S

[2019-08-20 05:06] mukeyshkumar commented on #12024
@tcheng001
Many of themes have a blue color so blue color pager visible in them.
Please check on clean, adams, dark, clean blue, everett, monochrome, slate, smart, soft, teal accents, themeone. I have made changes to these themes.

[2019-08-20 05:13] subhojit777 opened #12187 "Ability to login via email"
**Pull request:**

https://github.com/openscholar/openscholar/pull/12188

**Motivation:**
User should be able to login via email. These modules can be used (pick one):

1. https://www.drupal.org/project/email_registration (has more features, also I have used this before in 7, works fine)
1. https://www.drupal.org/project/mail_login (has only the features that are required)

Originally reported her

[2019-08-20 05:13] subhojit777 commented on #12187
FYI @Bilsi @tcheng001

[2019-08-20 05:15] subhojit777 commented on #12107
@mukeyshkumar The email login is a backend work, I have created a ticket for that https://github.com/openscholar/openscholar/issues/12187 It is a simple module installation, you can work on it, ping me for any help.

@tcheng001 @Bilsi

[2019-08-20 09:19] subhojit777 commented on #11638
@tcheng001 Suppose, publications app is disabled, should user be able to view widgets in these two types?

![question](https://user-images.githubusercontent.com/1435641/63334751-ad639100-c359-11e9-891e-8689de051965.png)

[2019-08-20 10:38] uttkarsh-26 commented on #12183
PR #12189

[2019-08-20 12:10] tcheng001 commented on #11638
@subhojit777    Based on D7,  vsite members can access the widgets.

[2019-08-20 12:11] subhojit777 commented on #11638
@tcheng001 Yes. Correct. But what if the publications app is disabled, would a vsite member still be able to access the widgets?

[2019-08-20 12:18] tcheng001 commented on #11638
@subhojit777   Let us discuss with @Bilsi  @rbran100
In D7,  vsite admin/owner can access/create the pub widgets (including Publications by Years, Publications by Years and Publications by Authors) even though pub app is disabled.

[2019-08-20 13:12] Bilsi commented on #11638
@subhojit777 - let them see those widgets, adding permissions around them just adds complexity, we do not disable any widgets, it is easier that way. If they do not have any pub entries, the widgets will be empty. All users understand that

[2019-08-20 13:13] tcheng001 commented on #12054
Mark "Fixed
<img width="562" alt="Screen Shot 2019-08-20 at 8 52 31 AM" src="https://user-images.githubusercontent.com/2111600/63350111-cef95400-c32a-11e9-937d-069076993589.png">
"

[2019-08-20 13:13] #12054 closed

[2019-08-20 13:32] tcheng001 commented on #11942
Look good. Mark "Fixed"
1. Existing widgets display properly. Scroll bar appears when the list is longer than the section which shows the list.
2. Filter works correctly
3. Able to create new widget
4. Select Context shows correctly in most of layout
5. Save and Reset work correctly.
<img width="1892" alt="Screen Shot 2019-08-20 at 9 31 24 AM" src="https://user-images.githubusercontent.com/2111600

[2019-08-20 13:32] #11942 closed

[2019-08-20 13:33] tcheng001 opened #12192 "Author name should not be duplicated in database"
1. Display Author name as autocomplete.
2. If the user enters a unique name, add it
3. If the user enters a duplicate name, without selecting from the auto complete, use the existing author name, do not create a new entry

### Technical implementation:

- Attach another submit handler for `bibcite_reference` create/save forms to check existing `Contributor`
- Call this handler first in the handler

[2019-08-20 13:34] tcheng001 commented on #11935
Mark "Fixed"

[2019-08-20 13:34] #11935 closed

[2019-08-20 13:46] tcheng001 opened #12193 "Drag block here missing in the right side bar section"
**Pull request:** #12793

### Steps to replicate:

1. Login as super admin
2. Go to home page
3. Create a new vsite using "Create site"
4. Enter vsite url and click "Next"
5. Select a preset and click "Next"
6. Choose any theme and click "Finish"
7. Wait for the operation to complete and click "Take me to my site"
8. Get into widget placement mode by clicking "Place block"
9. "Drag block here" pla

[2019-08-20 14:14] tcheng001 opened #12194 "Drag block here missing in the right side bar section"
![Screen Shot 2019-08-20 at 9 44 13 AM](https://user-images.githubusercontent.com/2111600/63352537-4d57f500-c32f-11e9-87ec-981ea89ff12e.png)

[2019-08-20 14:14] #12194 closed

[2019-08-20 14:22] tcheng001 commented on #11718
work as expected
<img width="880" alt="Screen Shot 2019-08-20 at 10 19 56 AM" src="https://user-images.githubusercontent.com/2111600/63355422-1801d600-c334-11e9-9459-559b75ff5843.png">

<img width="879" alt="Screen Shot 2019-08-20 at 10 21 25 AM" src="https://user-images.githubusercontent.com/2111600/63355552-4e3f5580-c334-11e9-8353-134cf652b1f0.png">

[2019-08-20 14:22] #11718 closed

[2019-08-20 16:51] tcheng001 opened #12195 "Redirect issues of publication form"
Steps to reproduce:
1. go to a pub post full node page (http://d8.theopenscholar.com/site01/publications/database-001)
2. click contextual link Edit
![Screen Shot 2019-08-20 at 12 42 06 PM](https://user-images.githubusercontent.com/2111600/63366536-f90d3f00-c347-11e9-8c6b-b86148244b29.png)
Note: the post's edit form opens

a. If I click Save button, it redirects to http://d8.theopenscholar.com/sit

[2019-08-20 17:15] tcheng001 opened #12196 "Same post title causes url error"
Steps to reproduce:
1. Create a news post with title "My News 001"
2. Create another new post with title "My News 001"
3. Open the edit form of either one of them
4. Click Save button.
Note: There is an error "The alias is already in use"
![Screen Shot 2019-08-20 at 1 14 11 PM](https://user-images.githubusercontent.com/2111600/63368699-7044d200-c34c-11e9-8f21-3358e60f0f42.png)

[2019-08-20 19:59] tcheng001 commented on #11708
For QA information only:

Refer to https://www.scribbr.com/citing-sources/chicago-style-citation/#chicago-style-footnotes-or-endnotes-chicago-a

bibliography formats | pub types | examples
----- | ----- | ------
Chicago Manual of Style 17th edition (full note) | Book Chapter | John Doe, “Wag of the Tail: Reflecting on Pet Ownership,” in _Enriching Our Lives with Animals_, ed. John Jaimeson (Toront

[2019-08-21 05:06] subhojit777 commented on #12196
@tcheng001 I believe I saw this error in some other ticket also, can you put its link here. The user will still be able to create the post, correct? But the url needs to be different, because that url is already taken by the previous post. The new url will look something like this, `/<vsite>/news/my-news-001-2`. Do you want it differently?

[2019-08-21 05:23] subhojit777 commented on #12107
@tcheng001 The email login is handled in different ticket #12187, you can either QA it there or here. The code is already in demo. I created a separate ticket as it was a backend work, but Mukeysh did it himself :)

[2019-08-21 06:15] mukeyshkumar commented on #11945
Attaching screenshot for ref.
![publicaiton-ui](https://user-images.githubusercontent.com/47223502/63407018-22da6a80-c409-11e9-934d-b335dd168a6d.png)

[2019-08-21 07:55] mukeyshkumar opened #12198 "View profile page ui/accessilbity issue"
**Steps to replicate:**

1. Login as any user, visit http://d8.theopenscholar.com/user
2. After login click on the user icon on the top blue bar.
3. Then click on view profile member for text not visible
![view-profile](https://user-images.githubusercontent.com/47223502/63413323-207f0d00-c417-11e9-8c0a-7d444f1daa8e.png)

**PR:**

[2019-08-21 09:04] subhojit777 commented on #12152
Refing the decision of shared vsite menus https://github.com/openscholar/openscholar/pull/11680#discussion_r290310914

[2019-08-21 09:23] uttkarsh-26 commented on #12181
1. Abstract will show in full view mode and teaser publication listing view.
2. Pubmed appearance is fixed and will only appear when PMID is entered in full mode view.
Will need some themeing for publication listing view page.
Pr #12197

[2019-08-21 10:33] subhojit777 commented on #12152
Drupal's menu system and `groupmenu` module automatically loads the menus created for a vsite. But since, it is decided [here](https://github.com/openscholar/openscholar/pull/11680#discussion_r290310914) that  the default menu items should be shared across vsites, therefore, this needs to be done by creating a custom menu entry form element.

[2019-08-21 10:46] mukeyshkumar opened #12200 "Kirkland theme random background should appear"
Kirkland theme random background should appear under the menu as in d7.
![kirkland](https://user-images.githubusercontent.com/47223502/63425799-00f3de80-c42f-11e9-9340-12b9c215554c.png)

PR: https://github.com/openscholar/openscholar/pull/12201

[2019-08-21 12:13] tcheng001 commented on #12196
Yes. url alias should be unique. @richard, can you provide some input?

[2019-08-21 12:17] subhojit777 commented on #12196
Tagging the right person @rbran100 Can you give some input https://github.com/openscholar/openscholar/issues/12196#issuecomment-523297599

[2019-08-21 12:31] tcheng001 opened #12202 "System fails to send out notification for resetting password"
Steps to reproduce:
1. go to http://d8.theopenscholar.com/user/password
2. enter your email address associated with your username
3. click Submit button

Note: No email is sent to the user's email address.

### Acceptance criteria
1. As a user, if I visit `/user/password` and enter email address and submit the form, I should receive a password reset email in the entered email address.

### Technic

[2019-08-21 12:32] tcheng001 commented on #12107
Mark "Fixed"
1. User can use either username or email address to log in
2. For reset password,  the system still fails to send out notification for resetting password.  I created a ticket to trace this issue. https://github.com/openscholar/openscholar/issues/12202

[2019-08-21 12:32] #12107 closed

[2019-08-21 12:33] tcheng001 commented on #12187
Mark "Fixed"

[2019-08-21 12:33] #12187 closed

[2019-08-21 12:44] tcheng001 commented on #11945
Look good. Mark "Fixed"
<img width="690" alt="Screen Shot 2019-08-21 at 8 41 43 AM" src="https://user-images.githubusercontent.com/2111600/63432653-8c4d7f80-c3ef-11e9-98ea-c088e898ba70.png">
<img width="717" alt="Screen Shot 2019-08-21 at 8 42 08 AM" src="https://user-images.githubusercontent.com/2111600/63432688-996a6e80-c3ef-11e9-8b23-c2d555126de9.png">
<img width="756" alt="Screen Shot 2019-08-

[2019-08-21 12:44] #11945 closed

[2019-08-21 13:10] mukeyshkumar opened #12203 "Code clean for menu"
Code clean for the menu.
- common mixin needs to be created for the menu.
PR: https://github.com/openscholar/openscholar/pull/12225

[2019-08-22 12:51] tcheng001 opened #12204 "Control Panel permission issues"
**Pull request:** #12207, #12251

Steps to reproduce:
1. Create a custom role (admin2)
2. Uncheck all permissions in Control Panel section
![Screen Shot 2019-08-22 at 8 38 51 AM](https://user-images.githubusercontent.com/2111600/63515256-6a6bff80-c4b8-11e9-9008-970646c86091.png)

3. Grant admin2 to a member (ostester40)
4. Disable control panel permissions for `basic member`
5. Log in as ostester4

[2019-08-22 12:55] subhojit777 commented on #12152
@rbran100 We decided [here](https://github.com/openscholar/openscholar/pull/11680#discussion_r290310914) to share menus across vsites, if it does not has customizations. Now I realise that it has drawbacks. `groupmenu` module loads the menus that are created for a vsite. This ticket could have been fixed by making some config changes. Instead, I will have to undo some alterations done by `groupmen

[2019-08-22 13:05] tcheng001 commented on #12204
I  uncheck more permissions of bibcite_reference,  but I am still able to create publication post.
![Screen Shot 2019-08-22 at 9 04 25 AM](https://user-images.githubusercontent.com/2111600/63516938-01868680-c4bc-11e9-9e50-d9176d2bf3fe.png)

[2019-08-22 13:08] subhojit777 commented on #12204
@tcheng001 Here the `basic member` has the permissions, that is why you are still able to create a publication. The user has the `basic member` role.

[2019-08-22 13:26] subhojit777 commented on #12204
After talking with @tcheng001 on Slack, the problem in https://github.com/openscholar/openscholar/issues/12204#issuecomment-523898317 is happening because user has both the `basic member` and `admin2` role. Make sure, that the user has only one role at a time. And test the system.

[2019-08-22 13:51] subhojit777 commented on #12196
The alias will be updated automatically to maintain uniqueness. A warning message is to be shown to the user that the alias was updated automatically, and he will be able to create the post.

If a user manually enters the alias, the system should make sure that it is unique, and system should show the warning message.

@tcheng001 @Bilsi @rbran100

[2019-08-22 13:58] subhojit777 commented on #12204
Two probable solutions:

1. Make sure a member has only one role
1. Minimize `basic member` permissions if the above does not work

[2019-08-22 15:07] tcheng001 commented on #12182
I found other issues as well.  See this example:
A field (issue) is shown in D7 but not in that in D8.  After having a discussion with @Bilsi, we would like to have all fields shown in D7 that should also show in D8.  If you find out any field which shows in D7 but not in D8.  Please bring the incident up.
![Screen Shot 2019-08-22 at 10 59 52 AM](https://user-images.githubusercontent.com/2111600/6

[2019-08-22 16:39] tcheng001 opened #12206 "Hide all items of Control Panel except Help if you are not a member of the vsite"
**Pull request:** #12282

This situation is also true when you are on the install home page (for example: http://d8.theopenscholar.com)

Steps to reproduce:
1.  you are  logged in to http://d8.theopenscholar.com
Note: you are not a member of http://d8.theopenscholar.com/site01
2. you go to http://d8.theopenscholar.com/site01
Note: All items of Control Panel are hidden except Help.
![Screen Shot 20

[2019-08-22 16:58] tcheng001 commented on #11975
Closing it.  The original design is correct.  Web Property ID is a required field.

[2019-08-22 16:58] #11975 closed

[2019-08-22 17:09] tcheng001 commented on #11981
Look good.

[2019-08-22 17:09] #11981 closed

[2019-08-22 17:19] tcheng001 commented on #12038
mark "Fixed"
<img width="1639" alt="Screen Shot 2019-08-22 at 1 18 58 PM" src="https://user-images.githubusercontent.com/2111600/63535442-6ef7de80-c4df-11e9-9f3a-4b387ffbd9a6.png">

[2019-08-22 17:19] #12038 closed

[2019-08-22 17:38] tcheng001 commented on #11835
Dont see this issue anymore.  Closing.

[2019-08-22 17:38] #11835 closed

[2019-08-23 04:50] subhojit777 commented on #12152
Implement the custom submit handler that will create the new vsite menus - if necessary.

[2019-08-23 05:48] subhojit777 commented on #12204
@tcheng001 The reason why `admin2` role was still able to access the control panel because the role had this permission
![problem](https://user-images.githubusercontent.com/1435641/63569232-2bac7700-c596-11e9-8e32-83a898ff5227.png)

You can consider it as a _God_ like permission. It overrides all the other permissions. If it is enabled for a role, then it will have access to anything in a vsite, d

[2019-08-23 08:10] subhojit777 commented on #12204
@tcheng001 Re: https://github.com/openscholar/openscholar/issues/12204#issuecomment-523905634

I looked into it. Found that the `basic member` role cannot be removed. Technically, it could be removed, but then the user will no longer be a vsite member, which defeats the purpose.

Should I go ahead and create this `viewer` role, as per the conversation with @rbran100 yesterday?

![image](https://us

[2019-08-23 09:32] uttkarsh-26 commented on #12182
@tcheng001 Yes , I noticed this but and put my finding in wednesday's scrum

So for this ticket am thinking to remove unwanted fields and once done will cover adding missing fields in a separate ticket.  cc @Bilsi

[2019-08-23 11:26] mukeyshkumar commented on #12186
@Bilsi
I spent time on this I thought I will fix this with config but looks like this is a backend task.
@subhojit777

[2019-08-23 11:59] Bilsi commented on #12204
@subhojit777 - the viewer role is only used by harvard, do i have pushed it to later. I first want to finish all functionality used by other schools and then focus on harvard related. Viewer role can wait till later

[2019-08-23 12:00] Bilsi commented on #12182
@uttkarsh-26 - ok. @tcheng001

[2019-08-23 12:02] subhojit777 commented on #12204
@Bilsi Should I disable these permissions as per this https://github.com/openscholar/openscholar/issues/12204#issuecomment-524181459

[2019-08-23 12:38] Bilsi commented on #12204
@subhojit777 - are you talking about disabling or hiding. They are already non-editable.

[2019-08-23 12:41] subhojit777 commented on #12204
@Bilsi I am talking about hiding it. They are editable for custom roles.

[2019-08-23 12:51] tcheng001 commented on #12181
@mukeyshkumar    Can we make Abstract link like D7?
![Screen Shot 2019-08-23 at 8 46 10 AM](https://user-images.githubusercontent.com/2111600/63593897-04987a00-c583-11e9-9e99-d25c2680b935.png)
![Screen Shot 2019-08-23 at 8 50 24 AM](https://user-images.githubusercontent.com/2111600/63593957-33aeeb80-c583-11e9-9afc-71d26f9b90fb.png)

[2019-08-23 12:59] mukeyshkumar opened #12208 "Widget title UI should appear as block title"
Widget title UI should appear as block title.
PR:https://github.com/openscholar/openscholar/pull/12209

Steps to test:
1. Create any block with the widget title
2. Place it any region or sidebar region
3. User will notice widget title appear as a block title. (UI of widget title depends on the theme style)

eg. from college theme
![block](https://user-images.githubusercontent.com/47223502/65943814

[2019-08-23 13:05] mukeyshkumar commented on #12181
Sure will look into this.

[2019-08-23 13:36] tcheng001 opened #12210 "Unable to hide permission description"
**Pull Request:** https://github.com/openscholar/openscholar/pull/12724

Steps to reproduce:
1. log in as a vsite admin
2. go to http://d8.theopenscholar.com/site05/cp/users/permissions
3. click [Hide descriptions]
Note: I got Access denied

### Technical Implementation:

- Create a custom permission for `Hide/Show Description (Route: system.admin_compact_page, Path: /admin/compact/{mode})`
- Curr

[2019-08-23 18:21] tcheng001 opened #12211 "vsite admin not able to access Revisions tab"
Now, it seems that only admin (user1) can access Revisions tab.
![Screen Shot 2019-08-23 at 2 19 38 PM](https://user-images.githubusercontent.com/2111600/63614521-44765600-c5b1-11e9-9b0a-7cc97adcb2be.png)

[2019-08-25 19:44] Bilsi opened #12212 "File upload error"
<img width="650" alt="Screen Shot 2019-08-25 at 3 43 36 PM" src="https://user-images.githubusercontent.com/11841641/63654922-2e060100-c74f-11e9-94ae-adecde1dbc70.png">
<img width="831" alt="Screen Shot 2019-08-25 at 3 43 52 PM" src="https://user-images.githubusercontent.com/11841641/63654923-2f372e00-c74f-11e9-9913-8f8540feffa5.png">
Errors on file uploads in d7

[2019-08-26 10:03] stamina84 commented on #12212
@Bilsi I tried to test in many ways, but can't reproduce the error.
* test on dev, I can upload any image file to logo widget
* test on live, on your site with following files in logo widget
  * my custom stock photo
  * https://scholar.harvard.edu/files/bilsi/files/file_example_jpg_100kb.jpg?m=1566810511
  * https://scholar.harvard.edu/files/bilsi/files/file_example_jpg_100kb_0.jpg?m=1566810329

[2019-08-26 10:27] uttkarsh-26 commented on #12182
PR  #12213  to remove unwanted fields and rename some fields from all publications

[2019-08-26 10:31] uttkarsh-26 opened #12214 "Add missing Publication fields."
- [x] Search for all missing fields by comparing with D7 form.
- [x] Add all the fields for each publication one by one.

[2019-08-26 11:57] mukeyshkumar commented on #12181
this is fixed in this pr:
https://github.com/openscholar/openscholar/pull/12215

[2019-08-27 08:51] uttkarsh-26 commented on #12214
PR #12216

[2019-08-27 16:39] stamina84 commented on #12112
@tcheng001 OK, I suggest to create a new issue for this case and we can close if "already in use" problem is gone.

[2019-08-28 07:00] stamina84 commented on #12112
Yeah, sure, just I thought it is differ than original issue. I will fix it in this issue

[2019-08-28 10:54] uttkarsh-26 commented on #12195
I was able to reproduce the error on all
* Content types (nodes)
* Publication types(bibcite reference) for full view
* Similar issue occurs on `/publications` listing pages too.

It is related to a core bug, which was fixed already but still for us it doesn't work in vsite context.

After lot of debugging and online research, I found a core patch which seems to solve our issue, made some related

[2019-08-28 13:16] stamina84 commented on #11414
Here is the current state of development in D8:
![Screenshot](https://user-images.githubusercontent.com/3629993/63858937-b3372300-c9a6-11e9-8bba-e0d69a0a56a7.png)

I need to write some tests

[2019-08-28 14:44] stamina84 commented on #11599
Will be solved in #12195 issue

[2019-08-29 04:20] uttkarsh-26 commented on #12195
@rbran100 This is put in Qa but the corresponding PR is not merged #12218
Putting it back in review.

[2019-08-29 05:24] uttkarsh-26 commented on #12211
PR #12221

[2019-08-29 06:20] stamina84 commented on #11896
@rbran100 Here is where the message should be printed: `profile/modules/os/modules/os_media/templates/browser.html`
[code]

[2019-08-29 06:39] stamina84 commented on #11857
@tcheng001 Seems good now, I think there was no cache clear after deploy.

[2019-08-29 09:12] stamina84 opened #12223 "Broken 8.x-dev CI fix"
[code]

Nothing to QA if build is passed

[2019-08-29 11:01] uttkarsh-26 commented on #12119
PR #12226

[2019-08-29 11:08] uttkarsh-26 commented on #11819
Hi @tcheng001
Are we supposed to keep these roles?
![Screenshot 2019-08-29 at 11 05 38 AM](https://user-images.githubusercontent.com/38376852/63935600-74bf6800-ca7b-11e9-963e-eca075a787ab.png)

I think all of these are being used

[2019-08-29 11:21] mukeyshkumar opened #12227 "Powered by block placement"
Powered by block placement should be on the right side of the footer.
PR: https://github.com/openscholar/openscholar/pull/12228

This only works with new vsites. Please test on new vsite.

[2019-08-29 11:53] mukeyshkumar commented on #12227
![poweredby-before](https://user-images.githubusercontent.com/47223502/63938131-b4894e00-ca81-11e9-9cae-e23b963b6f9f.png)
![poweredby-after](https://user-images.githubusercontent.com/47223502/63938132-b521e480-ca81-11e9-8012-e0d1ac786fda.png)

[2019-08-29 12:21] tcheng001 commented on #11819
@uttkarsh-26   Please remove Anonymous and Outsider unless @rbran100 or @Bilsi  has some insight.   They are not in D7.

[2019-08-29 12:23] tcheng001 commented on #11782
@Bilsi  I still see the issue recently.

[2019-08-29 12:24] Bilsi commented on #11819
Agree with @tcheng001

[2019-08-29 12:40] uttkarsh-26 commented on #11819
Changes done in #12222

[2019-08-29 12:48] #11599 closed

[2019-08-29 12:54] tcheng001 commented on #11638
Mark "Fixed"
1. Disabled app won't appear in Site Content -> Add for both vsite admin and basic member.
2. Unable to test content editor - because it is not ready yet.

[2019-08-29 12:54] #11638 closed

[2019-08-29 13:07] tcheng001 commented on #12024
mark "Fixed"

[2019-08-29 13:07] #12024 closed

[2019-08-29 13:11] mukeyshkumar commented on #12181
Extra version line is appearing in the js so old version is loading for this.
http://d8.theopenscholar.com/profiles/contrib/openscholar/modules/apps/os_publications/js/os_publications.toggle.js?v=1.x

[2019-08-29 13:18] mukeyshkumar commented on #12181
fixed made in this pr
https://github.com/openscholar/openscholar/pull/12229

[2019-08-29 13:28] tcheng001 commented on #12112
Look good.  Mark "Fixed"
the form checks the following scenarios:
1.  any leading "/"
2. any existing alias
3. prepend a number to make the url alias unique in the vsite

[2019-08-29 13:28] #12112 closed

[2019-08-29 13:59] tcheng001 commented on #12184
Look good. Mark "Fixed"
<img width="1058" alt="Screen Shot 2019-08-29 at 9 58 41 AM" src="https://user-images.githubusercontent.com/2111600/63946773-b46a5d80-ca43-11e9-8667-c98e9423c69a.png">

[2019-08-29 13:59] #12184 closed

[2019-08-29 14:15] tcheng001 commented on #12125
dont see the issue any more.

[2019-08-29 14:15] Bilsi commented on #12125
Unable to replicate anymore... Closing

[2019-08-29 14:37] stamina84 commented on #11578
@rbran100 I did a research in D7 code, but can't find any special logic for `Anyone with a link` option, just this line:
https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/vsite/modules/vsite_access/vsite_access.module#L123
[code]
This code says behave just like public.

Do you have any suggest where should I implement logic?
Maybe the logic is out of D7 code?

[2019-08-29 14:41] stamina84 commented on #11583
@tcheng001 Its good now, but you have to Save after uploaded file selected:
http://d8.theopenscholar.com/site01/cp/settings/apps-settings/profiles
![Screenshot](https://user-images.githubusercontent.com/3629993/63950142-c1a33e80-ca7b-11e9-9c18-2271930d28b2.png)
(it will deleted after cim)

[2019-08-29 16:22] stamina84 commented on #11874
I fixed almost all addthis widget type, i have only issue with "share counter". I am not sure what's the problem, the fix is the same as D7.. I would try on demo site, maybe the problem is the local path is not reachable by addthis (home.d8...) but demo site will.

[2019-08-29 17:02] tcheng001 commented on #12182
- [ ] 1. Artwork missing [Description] field
![Screen Shot 2019-08-29 at 11 27 44 AM](https://user-images.githubusercontent.com/2111600/63953889-2f397580-ca50-11e9-985a-819aaf192333.png)

- [ ] 2. Bill - remove [Identifiers] tab
![Screen Shot 2019-08-29 at 11 33 25 AM](https://user-images.githubusercontent.com/2111600/63954310-e7ffb480-ca50-11e9-97e5-2915cf891ac7.png)

- [ ] 3. Book - remove [Iden

[2019-08-29 17:18] tcheng001 commented on #12198
Look good. Mark "Fixed"
<img width="598" alt="Screen Shot 2019-08-29 at 1 17 28 PM" src="https://user-images.githubusercontent.com/2111600/63961705-64998f80-ca5f-11e9-8ae4-55333d5d6247.png">

[2019-08-29 17:18] #12198 closed

[2019-08-29 17:49] #10910 closed

[2019-08-29 18:10] tcheng001 commented on #11857
software release form works as expected.
![Screen Shot 2019-08-29 at 2 08 24 PM](https://user-images.githubusercontent.com/2111600/63965212-a7ab3100-ca66-11e9-8cf7-23eb0251d217.png)

[2019-08-29 18:10] #11857 closed

[2019-08-29 19:08] tcheng001 opened #12231 "Link posts not showing in /links page"

[2019-08-29 19:29] tcheng001 commented on #12211
work as expected.  Mark "Fixed"

[2019-08-29 19:37] tcheng001 opened #12232 "Revision Revert not working in most of node form except publication"
**Pull Request:** https://github.com/openscholar/openscholar/pull/12849

### Motivation:

The site crashes when I hit Revert in most of content type nodes.
![Screen Shot 2019-08-29 at 3 36 06 PM](https://user-images.githubusercontent.com/2111600/63970751-e810ac00-ca72-11e9-8c6b-56a4853b78b7.png)

### Technical Implementation:

When we use `$node = $route_match->getParameter('node')` it returns $no

[2019-08-29 19:58] tcheng001 commented on #11908
Still missing in /links page layout.  moving to "in dev"
![Screen Shot 2019-08-29 at 3 57 19 PM](https://user-images.githubusercontent.com/2111600/63971993-cd8c0200-ca75-11e9-8cfa-c19f56ade166.png)

[2019-08-30 06:03] uttkarsh-26 commented on #12182
Hi @tcheng001,
I read your comment about ignoring the above-mentioned points but I found more than anything else these all were some minor bugs which I have fixed in this PR #12234 , these were needed to be fixed.

[2019-08-30 06:24] uttkarsh-26 commented on #11290
Hi @tcheng001 , I think this issue no longer exists, maybe you can confirm and mark it as fixed if you find the same.

[2019-08-30 09:01] uttkarsh-26 commented on #11551
PR #12235

[2019-08-30 09:26] mukeyshkumar opened #12236 "One page theme front page layout"
One page theme front page layout should be as per D7.
- All the region are full width
- Region content should be wrapped within the container

PR: https://github.com/openscholar/openscholar/pull/12242

[2019-08-30 09:59] uttkarsh-26 commented on #11565
Hi @tcheng001 @Bilsi , I looked into it as for /faq view we are not using rendered entitiy that is why contextual links don't appear, but there is a provision in D8 for the same to include contextual links but it seems to be broken and no advised patch is available in the issue https://www.drupal.org/project/drupal/issues/2532200

As an alternative, we can use `dropbutton` field which looks like t

[2019-08-30 10:30] uttkarsh-26 commented on #11560
Hi @tcheng001 ,
I tested this on dev and local , found that now this issue does not exist.
Please if you find the same please mark it fixed. Thanks Putting it in QA

[2019-08-30 11:35] uttkarsh-26 commented on #12186
Assigning this to @stamina84 as he is already working on #12104  , which has 3rd point as the issue so to avoid conflicts I will let him work on this .

[2019-08-30 11:52] Bilsi commented on #11565
@uttkarsh-26 - I like the plan, lets go ahead

[2019-08-30 11:53] tcheng001 commented on #10929
Mark "Fixed"
![Screen Shot 2019-08-30 at 7 52 44 AM](https://user-images.githubusercontent.com/2111600/64018712-310c4300-cafb-11e9-9fae-ad04bda6536a.png)

[2019-08-30 11:53] #10929 closed

[2019-08-30 11:54] tcheng001 commented on #11560
The problem has been fixed in another ticket. Mark "Fixed"

[2019-08-30 11:54] #11560 closed

[2019-08-30 12:27] tcheng001 commented on #11290
This issue has been fixed in another ticket. Mark "Fixed"

[2019-08-30 12:27] #11290 closed

[2019-08-30 13:50] tcheng001 commented on #10997
Moving to "in dev" @stamina84   If setting to infinite Scrolling, I see Load More button when I scroll down.  This is not what D7 does.  Please refer to https://scholar.harvard.edu/tcheng2/blog.   We suppose that more posts should show when users keep scrolling down until it reaches page 4. Then, it shows  [Load more] and [Load All] button.
![Screen Shot 2019-08-30 at 9 45 46 AM](https://user-imag

[2019-08-30 14:09] tcheng001 commented on #11641
@subhojit777  @dancabral    Moving to "in dev"   Unable to add custom theme
![Screen Shot 2019-08-30 at 10 07 47 AM](https://user-images.githubusercontent.com/2111600/64027144-1becdf80-cb0e-11e9-9fcd-f3461ee1f2bb.png)

[2019-08-30 14:21] stamina84 opened #12238 "Possibility to override default scholar preset on site creation"

[2019-08-30 14:53] tcheng001 commented on #11583
@stamina84  moving to "in dev"  Since a user needs to click [Save configuration] after the profile image is uploaded - this way is not so intuitive. Can we add some help text like below?
"IMPORTANT: You need to click Save configuration in order to display the uploaded profile image"
![Screen Shot 2019-08-30 at 10 51 13 AM](https://user-images.githubusercontent.com/2111600/64030326-4fcb0380-cb14-11

[2019-08-30 16:04] tcheng001 commented on #10905
Moving to "in dev"
When logging in as a vsite admin or owner,
1. Cache / Reindex and Custom Domain should be hidden
2. URL redirects is missing.
![Screen Shot 2019-08-30 at 11 59 13 AM](https://user-images.githubusercontent.com/2111600/64035125-01bafd80-cb1e-11e9-8068-1f6909df114c.png)

[2019-08-30 17:01] tcheng001 commented on #10999
Unable to test because no mailing list widget is available. Mark "Pending"

[2019-08-30 17:17] tcheng001 commented on #10914
@stamina84  "Block Visibility Group for /people*"   What does it mean?    Mark "Pending"

[2019-08-30 18:54] tcheng001 commented on #10913
@stamina84    What does it mean?   "Block Visibility Group for /presentations*".  Mark "Pending"

[2019-08-30 19:16] tcheng001 commented on #10912
Mark "Pending"  -  No widgets (Block to provide filter by month AND Block to provide filter by year) in /news layout.

[2019-08-30 19:30] tcheng001 commented on #10908
@subhojit777   Marking "Pending"
1. How to create subpage?
2. Unable to test section

[2019-09-01 13:48] #10703 closed

[2019-09-01 13:48] #10704 closed

[2019-09-01 13:48] #10707 closed

[2019-09-01 13:48] #10715 closed

[2019-09-01 13:48] #10860 closed

[2019-09-01 13:48] #10861 closed

[2019-09-01 13:48] #10874 closed

[2019-09-01 13:48] #10881 closed

[2019-09-01 13:48] #10891 closed

[2019-09-01 13:48] #10896 closed

[2019-09-01 13:48] #10902 closed

[2019-09-01 13:48] #10904 closed

[2019-09-01 13:48] #10905 closed

[2019-09-01 13:48] #10906 closed

[2019-09-01 13:48] #10909 closed

[2019-09-01 13:48] #10912 closed

[2019-09-01 13:48] #10913 closed

[2019-09-01 13:48] #10914 closed

[2019-09-01 13:48] #10920 closed

[2019-09-01 13:48] #10948 closed

[2019-09-01 13:48] #10997 closed

[2019-09-01 13:48] #10999 closed

[2019-09-01 13:48] #11001 closed

[2019-09-02 05:07] uttkarsh-26 commented on #11565
Puttin in Needs review but once merged will need themeing

[2019-09-02 05:26] subhojit777 commented on #10908
@tcheng001 Were you able to figure out how to create a subpage?

[2019-09-02 07:37] subhojit777 commented on #11565
Assigned to @mukeyshkumar for styling. Moved to `in dev`.

[2019-09-02 08:23] subhojit777 commented on #11708
#11708 (comment) Only the first two points are fixed. Putting this in `pending` as the other requirements are on hold. @tcheng001

[2019-09-02 10:17] stamina84 commented on #12223
We can close this, because its merged in other PR

[2019-09-02 10:17] #12223 closed

[2019-09-02 12:24] tcheng001 commented on #10908
@subhojit777   No. can you?

[2019-09-02 13:02] tcheng001 commented on #12119
Mark "Fixed"
![Screen Shot 2019-09-02 at 9 01 02 AM](https://user-images.githubusercontent.com/2111600/64116453-62397d00-cd60-11e9-955e-96bb0315d386.png)

[2019-09-02 13:02] #12119 closed

[2019-09-02 13:20] tcheng001 commented on #12181
Look good.
![Screen Shot 2019-09-02 at 9 19 08 AM](https://user-images.githubusercontent.com/2111600/64117327-dd9c2e00-cd62-11e9-88cd-07abe5ff6863.png)
![Screen Shot 2019-09-02 at 9 19 24 AM](https://user-images.githubusercontent.com/2111600/64117333-e1c84b80-cd62-11e9-8da5-01d4562d7d58.png)

[2019-09-02 13:20] #12181 closed

[2019-09-02 13:25] tcheng001 commented on #12200
Look good. Mark "Fixed"
![Screen Shot 2019-09-02 at 9 24 34 AM](https://user-images.githubusercontent.com/2111600/64117585-8cd90500-cd63-11e9-8733-2cb4353a65a6.png)

[2019-09-02 13:25] #12200 closed

[2019-09-02 14:21] tcheng001 commented on #12204
@subhojit777
- [ ] Basic member should access Publishing Options and URL Path settings like D7.
![Screen Shot 2019-09-02 at 10 18 23 AM](https://user-images.githubusercontent.com/2111600/64120788-2821a880-cd6b-11e9-834c-db526e3b3987.png)

[2019-09-02 14:39] tcheng001 commented on #12204
For QA info only:
Basic member:
1. able to create content types
2. able to edit/delete those nodes created by his own.
3. unable to edit/delete those nodes created by other members
4. able to access cp menu items Site Content -> Add, Site Content -> import and Help

[2019-09-02 21:00] tcheng001 commented on #12204
group | permissions |  test result
-------  | ----------| ----------
Control Panel | Access control panel |
Control Panel | Administer Apps Settings |
Control Panel | Administer CP Settings |
Control Panel | Administer Apps Settings |
Control Panel | Manage Appearance Settings |
Control Panel | Manage CP Roles |
Control Panel | Manage CP Users |
Control Panel | Manage CP Menus |
Control Panel | Ma

[2019-09-02 21:05] tcheng001 commented on #12204
**For QA info only**
Group Node:

Permission | Test  | comment
----------- | ------ | ----
Access group node overview | |
Add Blog | |
Delete any blog | |
Delete own blog | |
Edit any blog | |
Edit own blog | |
View unpublished blog | |

[2019-09-02 21:22] tcheng001 commented on #12204
**For QA info only**

Test case | Permission | Test | Commnet
--------- | -------| ------- | -------
3-01 | OS APP ACCESS -> Access private apps |  | **What supposes to see or not see if the permission is checked?**
3-02 | OS APP ACCESS -> Administer apps | | **What supposes to see or not see if the permission is checked?**
3-03 | OS PUBLICATIONS -> Download citations | FAILED |  still able to dow

[2019-09-02 22:01] tcheng001 commented on #12204
@subhojit777   I disabled all permissions in CONTROL PANEL, but I am still able to administer and manage everything under CONTROL PANEL.  Bugs or  Something I missed?
I don't see  Administer Group permission you mentioned in there (https://github.com/openscholar/openscholar/issues/12204#issuecomment-524181459) any more.

![Screen Shot 2019-09-02 at 5 59 40 PM](https://user-images.githubusercontent

[2019-09-03 00:50] #12211 closed

[2019-09-03 00:51] #11708 closed

[2019-09-03 00:58] Bilsi commented on #11578
@stamina84 - For anyone with the link, all we need is that google does not index the site. Adding the unindexed meta tag makes google ignore it while indexing. We need to do the same in d8.

[2019-09-03 01:58] dancabral commented on #12026
@mukeyshkumar is the plan for the initial appearance screen to display each theme flavor separately?

@Bilsi

[2019-09-03 04:51] mukeyshkumar commented on #11565
Styling changes in this PR: https://github.com/openscholar/openscholar/pull/12241
Note: contextual links appear only after faq expands.

[2019-09-03 04:52] mukeyshkumar commented on #11565
Attaching screenshot for ref:
![faq-contextual-ui](https://user-images.githubusercontent.com/47223502/64145027-a5fdb680-ce34-11e9-9adb-a5783fdc11ab.png)

[2019-09-03 05:14] uttkarsh-26 commented on #11766
Hi @tcheng001 , I don't see this issue anymore.
Might have been fixed as part of some other issue.
Can you please verify and close this?
Thanks.

[2019-09-03 06:06] subhojit777 commented on #12026
Yes @dancabral See https://github.com/openscholar/openscholar/issues/12131 _Flavors should be shown in the sections, like its parent themes, instead of showing them in the dropdown_

[2019-09-03 06:09] subhojit777 commented on #11565
`pending` because of https://github.com/openscholar/openscholar/pull/12241#issuecomment-527318140

[2019-09-03 06:32] subhojit777 commented on #11600
@uttkarsh-26 Changed the labeling. Please update it once the CI passes.

[2019-09-03 08:13] subhojit777 commented on #12204
I have removed it. It could lead to security problems.

That is weird.. I am looking into it.

@tcheng001

[2019-09-03 08:55] mukeyshkumar commented on #11565
added reports
https://github.com/openscholar/openscholar/pull/12241#issuecomment-527368391

[2019-09-03 09:06] subhojit777 commented on #12204
@tcheng001 Just to be on the same page, I saw that problem as `custom admin` in site01 vsite in demo. You also saw the problem for that same custom role right?

[2019-09-03 09:35] subhojit777 commented on #12204
@tcheng001 I got the problem. I checked via code that the `custom admin` role has that super permission `administer group`, and due to which the user was still seeing the control panel even though he doesn't have the permission.

![test](https://user-images.githubusercontent.com/1435641/64161682-a8273b80-ce5b-11e9-8dca-e1b643e9ca21.png)

**Can you tell me how you created that custom role? And what

[2019-09-03 09:44] subhojit777 commented on #12204
@tcheng001 Re: https://github.com/openscholar/openscholar/issues/12204#issuecomment-527165125

Ahh... I missed giving the permission to basic member as per #12109 I will fix that here.

There is a separate ticket for that https://github.com/openscholar/openscholar/issues/12206. I will fix the problem in that ticket.

[2019-09-03 09:54] stamina84 commented on #11578
Ok! I can't find this `noindex` functionality in D7 code, tested on dev environment, but I will implement in D8.

[2019-09-03 12:10] mukeyshkumar opened #12244 "Cp menu ui improvements"
Cp menu UI improvements:
- Menu heading should be bold so it looks more user-friendly.
PR:https://github.com/openscholar/openscholar/pull/12245

[2019-09-03 12:18] mukeyshkumar commented on #12244
Before:
![Menu-OpenScholar](https://user-images.githubusercontent.com/47223502/64172348-648bfc00-ce72-11e9-9f24-aaad7fcbf4bf.png)

[2019-09-03 12:27] tcheng001 commented on #11766
I don't see the issue either. Mark "Close"

[2019-09-03 12:27] #11766 closed

[2019-09-03 12:39] mukeyshkumar commented on #12244
After:
![Menu-OpenScholar-after](https://user-images.githubusercontent.com/47223502/64173944-03662780-ce76-11e9-9bc2-73d4ea7df468.png)

[2019-09-03 12:46] subhojit777 commented on #12204
@rbran100 While giving more permissions to `basic member` (as per https://github.com/openscholar/openscholar/issues/12204#issuecomment-527386252), I found a problem that system ignores the config changes, if a vsite has a copy of that config.

**Steps to replicate:**

1. create a vsite, say `/richard`
1. visit `/richard/cp/users/permissions` and save the form (config change is optional). **This wi

[2019-09-03 12:51] subhojit777 commented on #12204
@tcheng001 As discussed on Slack, please try test with a new custom role.

[2019-09-03 13:45] rbran100 commented on #12204
@subhojit777 I think deleting the config is the right thing to do, we will need to do this kind of maintenance from time to time, I had been sorta waiting for this situation to arise.

In general we should only save allow users to save configs into vsites when it is a setting we want them overriding, which I think we already do a pretty good job of since we have to create the UI for them to save i

[2019-09-03 13:56] tcheng001 commented on #12204
Group Node not working correct.  @subhojit777
Steps to reproduce:
1. Disable all permissions from Group node (Blog)
Note: I don't see Site Content -> Add -> Blog.   That is correct.
2. Enable all permissions under Group node (Blog)
Note: I still don't see Site Content -> Add -> Blog.   That is incorrect.

[2019-09-03 14:12] #11686 closed

[2019-09-03 14:14] Bilsi opened #12246 "Clean up membership screen"
**Pull request:** #12402

![image](https://user-images.githubusercontent.com/11841641/64180756-55d22480-ce33-11e9-8a79-5c5c22450faf.png)

@mukeyshkumar - we need to add the text and style it when a user clicks "Members and Roles" and then "Change Role". Can we make this screen a modal similar to the one below?

We need to add the descriptions to add member too
![Screen Shot 2019-09-03 at 10 13 47

[2019-09-03 14:30] subhojit777 commented on #12204
Re https://github.com/openscholar/openscholar/issues/12204#issuecomment-527465196 @rbran100 Okay. I will look into it.

[2019-09-03 14:36] tcheng001 commented on #11874
Mark "Fixed"

[2019-09-03 14:36] #11874 closed

[2019-09-03 14:58] tcheng001 commented on #11547
mark "Fixed"

[2019-09-03 14:58] #11547 closed

[2019-09-03 16:32] tcheng001 commented on #11819
mark "Fixed
<img width="545" alt="Screen Shot 2019-09-03 at 12 31 04 PM" src="https://user-images.githubusercontent.com/2111600/64191581-cafb2500-ce46-11e9-813e-6d86a2a12904.png">
"

[2019-09-03 16:32] #11819 closed

[2019-09-03 17:31] tcheng001 opened #12247 "Sticky at top of lists not working"
the post is not listed at top of list even though it is set.

![Screen Shot 2019-09-03 at 1 30 26 PM](https://user-images.githubusercontent.com/2111600/64195296-203b3480-ce4f-11e9-828f-92fa2baa52e6.png)

[2019-09-03 17:39] tcheng001 commented on #11551
mark "Fixed"

[2019-09-03 17:39] #11551 closed

[2019-09-03 17:52] tcheng001 commented on #11565
Mark "Fixed"
<img width="1218" alt="Screen Shot 2019-09-03 at 1 49 30 PM" src="https://user-images.githubusercontent.com/2111600/64196473-f1728d80-ce51-11e9-8d82-ee49eb3115ed.png">

[2019-09-03 17:52] #11565 closed

[2019-09-03 19:02] #10908 closed

[2019-09-03 19:02] tcheng001 opened #12248 "subpage - needs contextual link to create subpages"
Also,  section outline widget should be shown by default.

[2019-09-03 19:03] tcheng001 commented on #12195
Mark "Fixed"

[2019-09-03 19:03] #12195 closed

[2019-09-03 19:11] tcheng001 commented on #12227
@mukeyshkumar    I don't see the change.
![Screen Shot 2019-09-03 at 3 09 20 PM](https://user-images.githubusercontent.com/2111600/64201582-06085300-ce5d-11e9-9e68-53d76b199aff.png)

[2019-09-03 19:54] tcheng001 commented on #12183
Mark "Fixed"

[2019-09-03 19:54] #12183 closed

[2019-09-03 20:32] rbran100 commented on #12238
@stamina84 I tested this on https://sites.ucmerced.edu/site/register after pushing your code, I verified the cache had cleared but do not see the change? Did you need to increment the JS version number to get this to work? any special action to take?

[2019-09-04 04:13] mukeyshkumar commented on #12227
@tcheng001
This only works with new vsites.

[2019-09-04 05:23] subhojit777 commented on #11600
Marked as pending because I am concerned about a permission given to authenticated role https://github.com/openscholar/openscholar/pull/12240/files#r320576426

[2019-09-04 05:26] subhojit777 commented on #10908
@tcheng001 Please allow me some time. I will get back to you on this.

[2019-09-04 05:34] subhojit777 commented on #12246
@Bilsi We are not yet storing the role description anywhere yet. The config needs to be altered so that it allows description as well. And accordingly, it will be displayed in the UI.

Also, the modal can be done by a backend dev. I don't think Mukeysh would be able to help here.

[2019-09-04 06:21] mukeyshkumar opened #12249 "Publication by author spacing issue on the sidebar"
Publication by author spacing issue on the sidebar.
PR: https://github.com/openscholar/openscholar/pull/12250

[2019-09-04 06:22] mukeyshkumar commented on #12249
![autor-publication](https://user-images.githubusercontent.com/47223502/64230401-66090300-cf0a-11e9-8e10-65c6a9bc159b.png)

[2019-09-04 06:27] mukeyshkumar commented on #12249
After:
![autor-publication-after](https://user-images.githubusercontent.com/47223502/64230699-2858aa00-cf0b-11e9-8137-440cd07a70ff.png)

[2019-09-04 06:33] subhojit777 commented on #12204
@tcheng001 Re https://github.com/openscholar/openscholar/issues/12204#issuecomment-527469844

The user is a group member. And `basic member` has the access to create blog and class. That is why you are still able to create blog and class.

[2019-09-04 06:53] subhojit777 commented on #12204
@tcheng001 Could you please create a ticket for adding the `Published to this site` option, as per https://github.com/openscholar/openscholar/issues/12204#issuecomment-527165125 // @Bilsi

[2019-09-04 07:47] stamina84 commented on #12238
I did a fix at private repo, and increased the version number

[2019-09-04 08:05] uttkarsh-26 commented on #12247
I am not able to reproduce this issue on local or dev,
Can you please elaborate as to where and how you encountered this, possibly mentioning the content types/list pages for which you faced this?

[2019-09-04 09:21] mukeyshkumar opened #12252 "Page content type ui improvements"
Page content type needs ui improvements.

![book-before](https://user-images.githubusercontent.com/47223502/64250033-b8f6b080-cf32-11e9-8f1d-5d6630bf52f0.png)

PR:https://github.com/openscholar/openscholar/pull/12253

[2019-09-04 11:10] mukeyshkumar commented on #12252
@Bilsi @dancabral
I have made some changes to book type please review

![book1](https://user-images.githubusercontent.com/47223502/64249970-906eb680-cf32-11e9-83d9-0c57b253141a.png)
![book](https://user-images.githubusercontent.com/47223502/64249971-906eb680-cf32-11e9-8be9-df55e8ad0234.png)

[2019-09-04 11:39] stamina84 commented on #11583
Sure, ready to review

[2019-09-04 11:42] rivkiz opened #12255 "Filter By taxonomy not work when extends os_sv_list_box"
https://github.com/openscholar/openscholar/blob/94626c0f9bfd11f838cd31f15699a8ad32723737/openscholar/modules/os/modules/os_sv_list/plugins/os_sv_list.inc#L57
Using hardcoded class not check the parents
Need a change to:
`elseif (empty($this->entity_type) && (get_class($this) == 'os_sv_list_box' || in_array('os_sv_list_box', class_parents($this)))) {`
There is a solution ?
Thanks

[2019-09-04 12:20] mukeyshkumar commented on #12246
@Bilsi
I have added the modal screen on click of change role.
Attaching screenshot for ref.
![Manage Users   OpenScholar](https://user-images.githubusercontent.com/47223502/64254146-69b57d80-cf3c-11e9-97e6-88597c6af7a4.png)

[2019-09-04 12:51] Bilsi commented on #12252
@mukeyshkumar - looks good, is it ready for review?

[2019-09-04 12:53] Bilsi commented on #12246
@mukeyshkumar - why is the header blue? it is grey on other modal dialogs? Can you fix to make it consistent?

[2019-09-04 13:45] tcheng001 commented on #12247
@uttkarsh-26
Please fix the following content types:
1. blog
2. event
3. FAQ
4. person
5. presentation
6. software

7. link listing not working - no link post is shown there.  I am not able to test.

[2019-09-04 13:46] Bilsi opened #12258 "Download citation permissions should be removed"
All users (logged in or logged out) can download publications.

This should be removed from the permission screen
![Screen Shot 2019-09-03 at 2 27 25 PM](https://user-images.githubusercontent.com/11841641/64260399-c7c07180-cef8-11e9-9860-6795393230a4.png)

And please confirm that download citations works for everyone

[2019-09-04 14:21] tcheng001 opened #12259 "Event contextual link issues"
**Dependencies:**
- #12590
- #12591

1. Contextual links not working as expected - when I click Pencil button, the event is opened in a popup.  There is no way of accessing the contextual links (Quick Edit, Edit and Delete)

2. When clicking Export, the event is opened in a popup. No way to click RSS and iCal
![Screen Shot 2019-09-04 at 10 13 06 AM](https://user-images.githubusercontent.com/211160

[2019-09-04 14:38] tcheng001 commented on #11782
@uttkarsh-26     Access denied when accessing http://d8.theopenscholar.com/site09/cp/users
Steps to reproduce:
1. log in as admin
2. create a new site
3. go to http://d8.theopenscholar.com/site09/cp/users

Also, the user is not able to access Settings and Taxonomy.

[2019-09-04 14:39] tcheng001 commented on #12227
Mark "Fixed"

[2019-09-04 14:39] #12227 closed

[2019-09-04 15:15] cscomfort opened #12260 "Groups audience, site memberships lost after logging out/in"
We've stumbled across an odd issue: if, when logged in as a Drupal administrator, I add myself to another vsite as a member (regardless of the member role), upon logging out and back in I'm no longer listed as a member of the site. This occurs across with other Drupal admins across all vsites that we have tested against.

Has anyone encountered a similar issue? I have scoured the OS settings, espe

[2019-09-04 16:15] Bilsi opened #12261 "Multiple youtube videos embed"
https://dimensions.gse.harvard.edu/3-vocabulary-p-plan-lessons
Embedding multiple videos inside a custom html widget which is inside a tab widget does not work correctly.
Even though the videos are different they still show up as the same

[2019-09-04 17:13] Bilsi commented on #12261
We tried putting it inside an accordion to separate the videos, that did not help either. Can you just debug, don't spend too much time, let us first find out what the issue is and then talk

[2019-09-04 18:11] tcheng001 commented on #12182
Mark "Fixed"

[2019-09-04 18:11] #12182 closed

[2019-09-04 18:15] rbran100 commented on #11583
@tcheng001 @stamina84 sorry to come late to this and change requirements, but think it would be better to stick to the same pattern used elsewhere (like on node forms) and have the alert below.

![Screen Shot 2019-09-04 at 2 14 51 PM](https://user-images.githubusercontent.com/651318/64280086-63180d80-cf1e-11e9-9eb2-ec31b1992d07.png)

[2019-09-04 18:27] rbran100 commented on #11578
The "anyone with a link" functionality in D7 includes updating the robots.txt, can you take a look at the D7 code and what it does and see if it makes sense to do here or not?  If not then can you open a sub-task and move your "no index" tag into that and we will do the whole thing together.

[2019-09-04 18:56] tcheng001 commented on #12214
mark "Fixed"

[2019-09-04 18:56] #12214 closed

[2019-09-04 19:13] tcheng001 commented on #12244
Mark "Fixed"

[2019-09-04 19:13] #12244 closed

[2019-09-04 19:34] #12238 closed

[2019-09-04 19:59] tcheng001 commented on #12125
unable to open media browser. I click the icon but nothing happens.   Please refer to the description of this ticket.

[2019-09-05 04:18] mukeyshkumar commented on #12246
@Bilsi
as per dan suggestion in this issue https://github.com/openscholar/openscholar/issues/12003#issue-472036624 modal header color is blue.
I will check again in all admin theme modal.

[2019-09-05 04:28] mukeyshkumar commented on #12252
@Bilsi
Yes but Accessibility test is pending.

[2019-09-05 05:56] subhojit777 commented on #11481
I guess Drupal 8.7 got reverted in some commit. The current version is still 8.6.16 http://d8.theopenscholar.com/admin/reports/status

![image](https://user-images.githubusercontent.com/1435641/64315358-6b7c5100-cfcf-11e9-86c1-4b3da3844440.png)

Drupal 8.6 will stop getting security fixes December 2019 onwards. Also, there is an a11y problem in Drupal 8.6. Drupal 8.7 however gives errors

[code]

[2019-09-05 06:56] stamina84 commented on #12261
So, embed is working fine. The problem is in tab switching. I created a test tabs in localdev, there is some kind of javascript event which replace all iframe content with first iframe. See following screenshots:

1. everything is fine on first page load:
![Screenshot1](https://user-images.githubusercontent.com/3629993/64318517-898b8680-cfba-11e9-947b-8d9c3e5acc53.png)

2. Click to second tab and

[2019-09-05 07:38] mukeyshkumar commented on #11481
In current drupal version Hardcoded 'pagination-heading' appears in the pager. If multiple pagers in the page then HTML ID can lead to duplicate ID's.

[code]

**aria-labelledby="pagination-heading" is hardcoded here.**

This is fixed in this https://www.drupal.org/project/drupal/issues/3011722

[2019-09-05 10:10] subhojit777 commented on #12152
Currently, these are the default menu links that are shipped with D8 OpenScholar distribution.

![image](https://user-images.githubusercontent.com/1435641/64332986-3da90380-cff3-11e9-9a57-c18b4ea8248a.png)

Do we need to consider the case, that a default node menu link is also going to be shipped?

@rbran100 @Bilsi

[2019-09-05 10:33] mukeyshkumar opened #12262 "Menu level 3 ui issues"
Menu level 3 ui issues
- level 3 menu items not looking good
PR: https://github.com/openscholar/openscholar/pull/12285

[2019-09-05 10:52] Bilsi commented on #12246
@mukeyshkumar - if we go with Blue all modals should have blue headers. It is the inconsistency that i am concerned with

[2019-09-05 11:40] mukeyshkumar commented on #12246
@Bilsi
I will check all modal and if there is any inconsistancy I will fix.

[2019-09-05 12:07] stamina84 commented on #12104
I will close this, handle in https://github.com/openscholar/openscholar/issues/12186

[2019-09-05 12:08] #12104 closed

[2019-09-05 12:27] mukeyshkumar commented on #12262
@Bilsi @dancabral
I am not able to see level 3 menu in d7. I am not able to find any reference for this in d7.

So I have created the level 3 menu item in d8. Attaching screenshot for ref.

![menu-lvl-3](https://user-images.githubusercontent.com/47223502/64341638-6981b480-d006-11e9-9cac-e8f73ea4be15.png)

[2019-09-05 12:27] tcheng001 commented on #11583
@rbran100   The problem is that the uploaded profile image won't appear in the form until I click Save button.  Users will get confusing.

[2019-09-05 12:45] subhojit777 opened #12265 "Remove group menu permission section"
**Pull request:**

**Motivation:**
Group menu permission section needs not be exposed in the UI. The menu creation access is handled by `Control Panel - Manage Site Menus`.

![image](https://user-images.githubusercontent.com/1435641/64342889-165d3100-d009-11e9-8e25-f7515a3515a2.png)

**Tasks:**

- [ ] Remove the group menu permission section.

**Tests:**

- [ ] Update tests associated with `\Drupa

[2019-09-05 12:45] subhojit777 commented on #12265
@Bilsi Please put this in current sprint if you need it, otherwise you can close this. // @tcheng001 @uttkarsh-26

[2019-09-05 13:02] #12265 closed

[2019-09-05 13:11] Bilsi commented on #12262
@mukeyshkumar - he meant menu settings for the site
<img width="1069" alt="Screen Shot 2019-09-05 at 9 10 15 AM" src="https://user-images.githubusercontent.com/11841641/64344749-13d4ea00-cfbd-11e9-817b-69f5a4f96b10.png">
<img width="710" alt="Screen Shot 2019-09-05 at 9 10 30 AM" src="https://user-images.githubusercontent.com/11841641/64344750-13d4ea00-cfbd-11e9-9927-707d3c452bbe.png">

[2019-09-05 13:27] rbran100 commented on #11481
OK, lets go ahead and upgrade this then, I was unaware that it was rolled back.
It looks like the last change was here: https://github.com/openscholar/openscholar/commit/ea6a628495a560ed7d0dd0e5a45c00eb5ee878ad#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780L171

But it wasn't 8.7....  so not sure what the deal was. but we will need to update it at some point so now is as good a time as any.

[2019-09-05 13:50] #11375 closed

[2019-09-05 13:51] rbran100 opened #12266 "Event Changes"
- Remove Today tab - #12571
- Make 'month' -> 'Month' - #12571
- When clicking on any of the tabs at the top it should switch to the current, day , month, etc.. - https://github.com/openscholar/openscholar/issues/12570
- Upcoming Events should show events starting at beginning of current day going forward and should not be date bound, you should just paginate through events, this can be a seperate

[2019-09-05 14:03] stamina84 commented on #12186
Here is my localdev example, where three kind of widget are on different page (for test reason, I set page items to 1 or 2):

![Screenshot](https://user-images.githubusercontent.com/3629993/64348085-ddb35c80-cff4-11e9-94b7-a5ebe0123138.png)

I noticed other bugs, what can't solve in 2-3 hours:

1. Can't be placed more than one widget in same type in same page (especial Authors and Years), this is

[2019-09-05 15:05] rbran100 commented on #12186
So you can't have multiple of the same block from a specific view because they share the same element ID, I think that is ok for now, it is a known Drupal limitation, I think they are rewriting the pager to make it more OO soon anyway

Are you sure this is not a multiple pagers issue? seems like it might be getting confused...

OK, can you elaborate on what the issue is so we can make a new ticket

[2019-09-05 15:19] rbran100 commented on #12152
We should not ship the default node menu link, the  front page of the vsite should be switched to a different handler if it is still on node, one that shows nothing in the content area for now.  Is that what you were asking?

[2019-09-05 15:24] rbran100 commented on #12261
@stamina84 that makes perfect sense

Is it our JS and is it easy to modify, if so can you update the switching.

[2019-09-05 16:28] tcheng001 opened #12267 "No content shown in Feed Reader widget"
It seems that the problem only occurs on this feed (https://call-for-papers.sas.upenn.edu/category/all/feed)
Please check https://scholar.harvard.edu/tcheng10/reader. But no content is shown in FEED READER 3.
![Screen Shot 2019-09-05 at 12 25 00 PM](https://user-images.githubusercontent.com/2111600/64360368-58ba4a00-cfd8-11e9-8623-ccf10aba9790.png)
![Screen Shot 2019-09-05 at 12 26 26 PM](https://

[2019-09-05 16:39] stamina84 commented on #12186
I have tested with one widget and got the same behave. I will try some more guesses, but won't spend too much time I think.

[2019-09-05 17:47] tcheng001 opened #12268 "Taxonomy widget issues"
PR: https://github.com/openscholar/openscholar/pull/12353

- [x] 1. shows configuration data when rendering - that is not correct
![Screen Shot 2019-09-05 at 1 44 29 PM](https://user-images.githubusercontent.com/2111600/64366169-a7211600-cfe3-11e9-9d64-c3510b7a0bf6.png)

[2019-09-05 18:07] tcheng001 opened #12269 "Widget form wording issues"
PR: https://github.com/openscholar/openscholar/pull/12324

This ticket should apply to all widget forms

- [x] 1. change  [custom block] to [Widget]
- [x] 2. change [Block description] to [Widget Description]
- [x] 3. change help text like D7

![Screen Shot 2019-09-05 at 2 03 41 PM](https://user-images.githubusercontent.com/2111600/64367567-5e1e9100-cfe6-11e9-85f8-cea1fe382897.png)

[2019-09-05 18:15] tcheng001 opened #12270 "AddThis widget: Display style issue"
Can we place the toolbox images right next radio buttons like D7?
![Screen Shot 2019-09-05 at 2 08 49 PM](https://user-images.githubusercontent.com/2111600/64368032-6fb46880-cfe7-11e9-81c0-bad2000884e1.png)

[2019-09-06 05:13] subhojit777 commented on #12186
I believe when you click the pager, the page reloads (non ajax). In that case, the multiple view widgets are considering the same filter in the url. And that is causing the incorrect max count as well.

I think this would be fixed if the pagination is ajaxed, as the filter will not be updated in the URL, and the DOM changes will be applied for only a specific widget.

Can you find out why the ajax

[2019-09-06 05:32] mukeyshkumar commented on #12246
@Bilsi I have tested modal on admin pages. All of them have a blue header.
I have tested the following modal:
- Menu
  - add menu
  - Edit menu
  - delete menu
  -  add link

- Add member
- remove member
- change role

[2019-09-06 05:38] subhojit777 commented on #12152
No. Just wanted to know whether a node menu link is going to be part of the main menu.

[2019-09-06 06:16] mukeyshkumar commented on #12262
@Bilsi

@Bilsi
I am not clear on this.

[2019-09-06 06:32] mukeyshkumar commented on #12262
Right now what I have implemented is:

**Backend menu screenshot**
![Menu-OpenScholar-cp](https://user-images.githubusercontent.com/47223502/64405235-15291400-d09c-11e9-8955-36f28d797f68.png)

**Current frontend**

![menu](https://user-images.githubusercontent.com/47223502/64405794-bb294e00-d09d-11e9-8347-280f569d9347.png)

**Implemented Frontend:**
![menu-lvl-3 (1)](https://user-images.githubuser

[2019-09-06 07:35] mukeyshkumar commented on #12270
@tcheng001
some backend work required here.
@subhojit777

[2019-09-06 08:44] mukeyshkumar opened #12271 "File upload description icon is missing in d8"
File upload description icon is missing in d8.
- Icon should be there under the upload button
D7:

![upload-d7](https://user-images.githubusercontent.com/47223502/64414218-9ab6bf00-d0b0-11e9-91cd-ef00622cf4f5.png)

D8:
![upload-d8](https://user-images.githubusercontent.com/47223502/64414234-a73b1780-d0b0-11e9-8235-56305406fade.png)

PR: https://github.com/openscholar/openscholar/pull/12272

[2019-09-06 10:12] subhojit777 commented on #12246
The popup is done. But the roles description is not yet done. Therefore, not moving it to QA.

[2019-09-06 10:35] uttkarsh-26 commented on #11782
@tcheng001 This is a strange issue, I tried this on dev , worked well for me , which form are you trying to make a new group form , can you elaborate the steps and url ?

[2019-09-06 11:29] subhojit777 opened #12274 "Handle vsite config copy problem"
**Pull request:**

**Originally reported [here](https://github.com/openscholar/openscholar/issues/12204#issuecomment-527442545)**

**Steps to replicate:**

1. create a vsite, say /richard
1. visit /richard/cp/users/permissions and save the form (config change is optional). This will create a copy of permission config for the vsite
1. as super admin, visit /admin/group/types/manage/personal/permiss

[2019-09-06 11:29] subhojit777 commented on #12274
FYI @rbran100 @Bilsi

[2019-09-06 12:15] mukeyshkumar opened #12276 "Media upload previously uploads files tab ui"
Media upload previously uploads files tab UI.
PR:https://github.com/openscholar/openscholar/pull/12277

[2019-09-06 12:31] mukeyshkumar commented on #12276
Attaching screenshot for ref;
![upload-media](https://user-images.githubusercontent.com/47223502/64428039-563b1b80-d0d0-11e9-9c81-79ce4e4963d9.png)

[2019-09-06 12:32] tcheng001 commented on #11782
The issue occurs after a new vsite is created.  I can't check it now because I got Access denied when trying to access /site10/cp/users on a newly created vsite.

[2019-09-06 12:41] subhojit777 commented on #12152
@Bilsi @rbran100  I need some customizations in `groupmenu` which are distribution specific, i.e. it cannot be patched. Can you create a clone of https://www.drupal.org/project/groupmenu 8.x version under `openscholar` organization and give me access. I will put my customizations there, and will use it. Please also give access so that I can create releases as well.

Please refer https://github.com

[2019-09-06 12:46] uttkarsh-26 commented on #12247
Hi @tcheng001  , I have fixed the issue for all above mentioned content types barring Events, because that is a seperate library generated view and not a regular view and based upon discussions yesterday it might get changed .
So maybe for the scope of this ticket you can test others for now when this is moved to QA
PR #12275

[2019-09-06 12:55] tcheng001 opened #12278 "Got Access denied when trying to access cp menu items"
The issue occurs recently on the newly created vsite. http://d8.theopenscholar.com/site10.
The problem can be seen in the following places
http://d8.theopenscholar.com/site10/cp/build/menu
http://d8.theopenscholar.com/site10/cp/taxonomy
http://d8.theopenscholar.com/site10/cp/settings
http://d8.theopenscholar.com/site10/cp/users

[2019-09-06 12:55] tcheng001 commented on #11782
blocked by https://github.com/openscholar/openscholar/issues/12278

[2019-09-06 13:28] tcheng001 commented on #12249
look good. Mark "Fixed"
![Screen Shot 2019-09-06 at 9 28 19 AM](https://user-images.githubusercontent.com/2111600/64431572-b73f0100-d088-11e9-80f9-88f3395747f9.png)

[2019-09-06 13:28] #12249 closed

[2019-09-06 13:41] Bilsi commented on #12262
https://user-images.githubusercontent.com/47223502/64405236-15c1aa80-d09c-11e9-93b8-5ea562e94cb6.png
Since we have the arrow, the 3rd menu should only show up when users hover over the 2nd level. But they know that the third level exists because of the arrow

[2019-09-06 14:08] #12203 closed

[2019-09-06 14:22] tcheng001 commented on #12236
Mark "Pending"  No appropriate widgets (slideshow widget) can be used to test now.

[2019-09-06 17:29] tcheng001 opened #12279 "Widgets placed in All Pages layout appear everywhere"
PR #12541

It even appears in node forms and control panel pages.
Tested in http://d8.theopenscholar.com/site05

Steps to reproduce: http://d8.theopenscholar.com/site05
1. go to layout
2. select All Pages from drop-down of [Select Context]
3. add one widget in the main content area
![Screen Shot 2019-10-03 at 11 23 05 AM](https://user-images.githubusercontent.com/2111600/66140558-5693dd00-e5d0-11e

[2019-09-06 18:33] Bilsi commented on #12152
@subhojit777 - done, let me know if you have trouble accessing it

[2019-09-09 06:49] stamina84 commented on #12267
@Bilsi I found the problem, console log say:
`{"status":"error","message":"You are using all the available feeds for your account, upgrade to get more feeds ( https://rss2json.com/plans )."}`

I am not sure which plan was ordered, Basic? I can't login with OS account, I got 500 error on https://rss2json.com/login page. Please check `My account` and `My feed` page after login, maybe 1500 feeds limi

[2019-09-09 06:51] subhojit777 commented on #12152
@Bilsi Yes I have all the necessary access.

[2019-09-09 09:04] subhojit777 commented on #10908
@tcheng001

1. Login as super admin
1. Visit `/node/add/page`
1. Enter a `Title` and select `Create a new book` from `Book Outline` and `Save`. This will create a new book.
![step1](https://user-images.githubusercontent.com/1435641/64517307-b7036780-d30d-11e9-9e9e-d0ea3b02a51b.png)
1. You will be redirected to the new book page, there click `Add child page`
![step4](https://user-images.githubuserc

[2019-09-09 09:12] subhojit777 commented on #11641
Moving to "pending" as permissions and access if of highest priority.

[2019-09-09 10:23] stamina84 commented on #11578
Yes, you are right, I've found the functionality in D7:
https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/vsite/modules/vsite_access/vsite_access.module#L234

[2019-09-09 11:17] subhojit777 commented on #12164
@tcheng001 By `user1` do you mean super admin? As super admin I was able to change owner. Can you double check.

[2019-09-09 11:20] subhojit777 commented on #12155
The problem was fixed here #12204 Please check @tcheng001

[2019-09-09 12:18] subhojit777 commented on #12153
@tcheng001 I checked this as groupadmin and site-owner and I was unable to replicate the problem. I think this got fixed recently.

[2019-09-09 12:22] tcheng001 commented on #12164
It seems that there is no way to change ownership from UI. Here is an example. I log in as admin( user1).
![Screen Shot 2019-09-09 at 8 16 09 AM](https://user-images.githubusercontent.com/2111600/64530327-dc2ab280-d2da-11e9-8ca4-b14d94fec5bd.png)

[2019-09-09 12:29] subhojit777 commented on #12164
You need to login as `subhojit` account to change the ownership. Only a vsite owner should be able to change ownership. I did it as part of https://github.com/openscholar/openscholar/issues/11997#issuecomment-516401768 So `super admin` should be able to change ownership always? no matter he is a vsite owner or not? @tcheng001

[2019-09-09 12:36] subhojit777 commented on #12154
@tcheng001 The problem is happening for public vsites too. Looking into it.

[2019-09-09 12:47] tcheng001 commented on #12164
yes.  user1 should have permission of changing ownership no matter he is a vsite owner or not.

[2019-09-09 12:51] tcheng001 commented on #12153
yes. it has been fixed.  Mark "close"

[2019-09-09 12:51] #12153 closed

[2019-09-09 13:01] uttkarsh-26 commented on #11782
You should be unblocked to test this too as the fix is merged for #12278

[2019-09-09 13:14] tcheng001 opened #12283 "app should not appear Site Content -> Add when the app is disabled"
1. Go to http://d8.theopenscholar.com/site01
2. Login using the username admin
3. On the control panel on the right side, click on Settings-->App Settings
This issue only happens when I logged in as user1 (admin).
![Screen Shot 2019-09-09 at 9 09 06 AM](https://user-images.githubusercontent.com/2111600/64533779-33805100-d2e2-11e9-8088-4f709a69020c.png)

**Proposed resolution:**
Check whether `\os_

[2019-09-09 13:15] tcheng001 commented on #12278
Mark "Fixed"

[2019-09-09 13:15] #12278 closed

[2019-09-09 14:09] tcheng001 commented on #11782
Mark "Fixed"

[2019-09-09 14:09] #11782 closed

[2019-09-09 14:11] Bilsi commented on #12267
@stamina84 - The feed reader widget is now working. But the feed content type is not, can you please take a look? - https://scholar.harvard.edu/tcheng10/feeds/calls-pagers

[2019-09-09 14:59] tcheng001 commented on #11600
working as expected. Mark "Fixed"

[2019-09-09 14:59] #11600 closed

[2019-09-09 17:21] tcheng001 commented on #11722
@uttkarsh-26    File listing looks good in Previously uploaded files tab.
But I find something
1. I tested on attached media in News form,  File Type only shows Document, Image, Video and Audio. In D7,  it shows all file types (including Audio, Document, Executable, HTML, Image and Video)
2. Help message for allowable file types is incorrect.
In D8,
<img width="841" alt="Screen Shot 2019-09-09 at

[2019-09-09 17:57] tcheng001 commented on #12155
Mark "Fixed"
![Screen Shot 2019-09-09 at 1 56 10 PM](https://user-images.githubusercontent.com/2111600/64554588-b36de180-d309-11e9-8602-3ab59b8d1533.png)

[2019-09-09 17:57] #12155 closed

[2019-09-10 10:15] mukeyshkumar opened #12286 "CKeditor modal header color needs to be consistent"
CKeditor modal header color needs to be consistent
- In CKEditor math and table modal popup color is not same as other modal

PR:https://github.com/openscholar/openscholar/pull/12287

[2019-09-10 10:43] mukeyshkumar opened #12288 "Ckeditor Math modal popup color contrast issue"
CKEditor Math modal popup has color contrast issue.
Attaching screenshot for ref.
![table-color-contrast](https://user-images.githubusercontent.com/47223502/64607313-eab1c080-d3e5-11e9-91c9-12a7b52186fb.png)

[2019-09-10 10:45] subhojit777 commented on #12206
Linking https://github.com/openscholar/openscholar/issues/11233 as I am doing some code alterations.

[2019-09-10 11:30] mukeyshkumar commented on #12286
After fix attaching screenshot for ref:

![ckeditor-modal](https://user-images.githubusercontent.com/47223502/64610252-79294080-d3ec-11e9-8a73-92ef7c42f55b.png)

[2019-09-10 11:58] subhojit777 commented on #12196
@tcheng001 I was unable to replicate the problem. It might have got fixed in some other ticket. Please check.

[2019-09-10 11:58] subhojit777 commented on #12196
@tcheng001 I checked as `vsite admin`

[2019-09-10 12:58] subhojit777 opened #12290 "Incorrect cache context in vsite current filter plugin"
**Pull request:** https://github.com/openscholar/openscholar/pull/13144

**Motivation:**
I was browsing the code today, and I found that `VsiteCurrentFilter` is using an incorrect cache context `vsite`. As per `\Drupal\vsite\Cache\VsiteCacheContext`, it should be `vsite:<id>`.

**Tasks:**

- [ ] Fix the incorrect cache context

**Tests:**

- [ ]

[2019-09-10 12:58] subhojit777 commented on #12290
FYI @rbran100 @Bilsi

[2019-09-10 13:11] tcheng001 commented on #12196
Mark "Fixed"

[2019-09-10 13:11] #12196 closed

[2019-09-10 14:08] mukeyshkumar commented on #12252
Accessibility tests are completed.

[2019-09-10 14:09] #12026 closed

[2019-09-10 14:10] Bilsi commented on #11722
@uttkarsh-26 - Can you fix this too?

[2019-09-10 15:18] uttkarsh-26 commented on #11722
Yes @bilsi , will get back to this once done with other ongoing media issues.
Let's keep it to this ticket only for now @tcheng001 as we already have many media browser tickets/bugs open

[2019-09-10 15:46] tcheng001 commented on #12261
Mark "Fixed"   - working as expected.   I am not able to test Trumba calendar. It needs 2 days to verify a new account.

[2019-09-10 15:46] #12261 closed

[2019-09-10 16:54] tcheng001 commented on #12247
Mark "Fixed"
Tested on /blog, /FAQ, /people, /presentations and /software
event and link are not available to be tested.

[2019-09-10 16:54] #12247 closed

[2019-09-10 16:59] Bilsi commented on #12109
#12152 is now in QA

[2019-09-10 17:02] #11674 closed

[2019-09-10 17:24] tcheng001 commented on #12267
Look good.  Mark "Fixed"
1. feed items appear in Feed Reader widget
2. feed items appear in /reader page
3. feed items appear in feed's full node view.
<img width="1267" alt="Screen Shot 2019-09-10 at 1 22 33 PM" src="https://user-images.githubusercontent.com/2111600/64635623-19bc3800-d3ce-11e9-99a0-3dedf1e114f1.png">
<img width="1139" alt="Screen Shot 2019-09-10 at 1 23 55 PM" src="https://user-i

[2019-09-10 17:25] #12267 closed

[2019-09-10 18:58] tcheng001 commented on #12152
Mark "Pending"
1.  Do we really need Weight?  @Bilsi  @rbran100
![Screen Shot 2019-09-10 at 2 46 29 PM](https://user-images.githubusercontent.com/2111600/64641369-08792880-d3da-11e9-8930-76f937cb1638.png)

2. Menu settings in pub form is different from that in other node forms.
In Blog Form:  it shows menu items in all levels and all menus
<img width="303" alt="Screen Shot 2019-09-10 at 2 50 58 PM

[2019-09-11 04:50] subhojit777 commented on #11414
Moving to `dev` as the PR https://github.com/openscholar/openscholar/pull/12157 is broken. @stamina84

[2019-09-11 04:57] uttkarsh-26 commented on #12247
@tcheng001 , Why were you not able to test /links ?
My guess would be you are missing to publish them. Link content is not published by default, be sure to check Published as I see links are not set to be Published by default like other content. Not sure if that was a requirement but yes they won't appear in /links unless published.

[2019-09-11 07:39] uttkarsh-26 commented on #11900
@tcheng001
 I don't find the use of `Image caption`(description) field anywhere in D7 (full view or listings), please refer me if it is evidently being used anywhere.
We do not have a `description/Image caption` field for `Image` file type in D8 by default(We have it for documents and videos.).
Can't `Alt` field serve the purpose?
cc @Bilsi @subhojit777

[2019-09-11 08:13] subhojit777 commented on #11900
IMO it needs to be a separate field. Image caption can be different from the `alt` attribute.

[2019-09-11 09:13] uttkarsh-26 commented on #11900
Yes, also I would like to know how and where it is being used in D7, then I can plan about it's implementation better. Will wait for thier response.

[2019-09-11 09:35] subhojit777 commented on #12154
@rbran100 I found today that `public` and `private` vsite access checks are implemented as plugins

- `\Drupal\vsite_privacy\Plugin\VsitePrivacyLevel\VsitePrivacyLevelPublic`
- `\Drupal\vsite_privacy\Plugin\VsitePrivacyLevel\VsitePrivacyLevelPrivate`

I found that it was implemented around a year before, before the vsite access checks were implemented. Do you remember the reason for implementing i

[2019-09-11 09:57] mukeyshkumar opened #12293 "Multiple featured post in the sidebar has a spacing issue."
Multiple featured post in the sidebar has a spacing issue.
Attaching screenshot for ref.
![sidebra-featured-blocks](https://user-images.githubusercontent.com/47223502/64687648-873c9700-d4a8-11e9-89bc-12e1028f7273.png)

[2019-09-11 11:19] mukeyshkumar opened #12296 "Media gallery(grid) widget UI"
Media gallery widget UI. Media gallery grid UI needs to fix.

[2019-09-11 11:47] uttkarsh-26 commented on #11722
Was there a requirement to add `Presentation Materials` as a Media entity type ?
I don't see it in MB but in the backend I see it
@tcheng001 @Bilsi

[2019-09-11 11:49] uttkarsh-26 commented on #11873
This is fixed as a part of another issue I was working on in PR #12292

[2019-09-11 11:51] uttkarsh-26 commented on #11751
This should be fixed already, but please QA it after #12292 gets merged.

[2019-09-11 12:05] mukeyshkumar commented on #12296
![media-gallery-widget](https://user-images.githubusercontent.com/47223502/64695760-801e8480-d4ba-11e9-9afb-4ab51a1bae8b.png)

![media-gallery-create](https://user-images.githubusercontent.com/47223502/64695762-80b71b00-d4ba-11e9-923c-2f13ac7ba6fc.png)

[2019-09-11 12:07] mukeyshkumar commented on #12296
@Bilsi @dancabral
I am not able to found any ref in d7 regarding media gallery(grid) widget. I have made some changes to this. Please review this.

Attaching screenshot for ref.

![media-gallery](https://user-images.githubusercontent.com/47223502/64695890-ca076a80-d4ba-11e9-93ec-f13390a3ac2e.png)

[2019-09-11 12:15] uttkarsh-26 commented on #11684
Should be fixed in #12292

[2019-09-11 12:21] tcheng001 opened #12297 "Taxonomy form: add back these 2 options (Required and Type)"
PR: #12424, https://github.com/openscholar/openscholar/pull/12512

We would like to add these 2 options back like D7
1. Required
2. Type
![Screen Shot 2019-09-11 at 8 21 00 AM](https://user-images.githubusercontent.com/2111600/64696737-2e9bd880-d46d-11e9-88d2-5b7096e1aee2.png)

[2019-09-11 12:57] stamina84 commented on #11583
@rbran100 I can manage your suggestion, but I think not the best solution was born.. I have to hardcode the id of the form element into `MediaBrowserModule.js` file. I can't find how am I be able to pass variable from form element.
![image](https://user-images.githubusercontent.com/3629993/64698894-04b1d880-d4a4-11e9-88ca-cac55cd0a1d1.png)
Maybe some who is better in JS could find better solution.

[2019-09-11 13:05] tcheng001 opened #12299 "Checkbox [Published] missing in all content type forms except Publication"

[2019-09-11 13:07] tcheng001 commented on #12247
@uttkarsh-26    Something is weird.  The checkbox [Publish] is missing.

[2019-09-11 13:08] tcheng001 commented on #12247
blocked by https://github.com/openscholar/openscholar/issues/12299

[2019-09-11 13:17] uttkarsh-26 commented on #11900
If #12292 gets merged and this is moved to Qa please test only 1st and 2nd point in https://github.com/openscholar/openscholar/issues/11900#issuecomment-521256342

[2019-09-11 13:19] Bilsi commented on #12296
@mukeyshkumar - looks good

[2019-09-11 13:28] tcheng001 commented on #11900
I think I don't know enough your question. But what I know is that all
image files should have the field.
Going to
https://scholar.harvard.edu/tcheng10/cp/content/files?filename=&title=&type=image
You should see it when you open a file edit form.

On Wed, Sep 11, 2019 at 3:39 AM Uttkarsh Tiwari <notifications@github.com>
wrote:

[2019-09-11 13:41] rbran100 commented on #12154
We should delete the duplicate plugin and combine them into one Plugin in the vsite_privacy module

[2019-09-11 13:44] Bilsi commented on #12152
@subhojit777 - Please remove "Weight"
Let us keep it look like below in all screens
![image](https://user-images.githubusercontent.com/11841641/64702536-ba673200-d478-11e9-84cd-ec89efd36345.png)
Do not show each menu item

[2019-09-11 13:49] Bilsi commented on #11900
@uttkarsh-26 - Please add image caption field to the image

[2019-09-11 14:00] rbran100 commented on #11749
We should rename "Remote" to "Embedded Video".  Also we will need to add an "Other" type to catch types not fitting in the existing, see D7 for the extension list.

[2019-09-11 14:53] tcheng001 commented on #12276
Look good. Mark "Fixed"

[2019-09-11 14:53] #12276 closed

[2019-09-11 14:56] tcheng001 commented on #12271
Mark "Fixed"

[2019-09-11 14:56] #12271 closed

[2019-09-11 15:28] tcheng001 commented on #12262
Mark "Fixed"
<img width="757" alt="Screen Shot 2019-09-11 at 11 25 42 AM" src="https://user-images.githubusercontent.com/2111600/64711026-fc977000-d486-11e9-8888-7ddd7fa418bf.png">
<img width="497" alt="Screen Shot 2019-09-11 at 11 26 34 AM" src="https://user-images.githubusercontent.com/2111600/64711055-08833200-d487-11e9-9fe6-bf0c4fe338f0.png">

[2019-09-11 15:28] #12262 closed

[2019-09-11 19:48] tcheng001 commented on #12286
Mark "Fixed"
<img width="372" alt="Screen Shot 2019-09-11 at 3 46 55 PM" src="https://user-images.githubusercontent.com/2111600/64729585-6e81b080-d4ab-11e9-99dc-d0838163185d.png">

<img width="400" alt="Screen Shot 2019-09-11 at 3 47 28 PM" src="https://user-images.githubusercontent.com/2111600/64729601-79d4dc00-d4ab-11e9-838f-7c49c02251ed.png">

[2019-09-11 19:48] #12286 closed

[2019-09-11 19:51] Bilsi commented on #11578
@stamina84 - build is failing

[2019-09-12 03:42] uttkarsh-26 opened #12301 "Image Caption and Patching File entity fields"
- [x] 1. Save does nothing when making a change on File Name, or Uploaded On.  Console shows errors. Patching media entity for updating filename doesn't work as of now.
[code]
- [x] 2. Add an Image Caption field to media image entity and also see if it Saves properly via MB

[2019-09-12 03:44] uttkarsh-26 commented on #11900
1st and 2nd points from https://github.com/openscholar/openscholar/issues/11900#issuecomment-521256342 are covered in open PR and 3rd point is removed and Will cover in #12301

[2019-09-12 09:14] mukeyshkumar opened #12303 "Taxonomy Widget ui"
Taxonomy Widget UI should as per d7.
- Taxonomy list
- Taxonomy menu
- Taxonomy slide down

PR: https://github.com/openscholar/openscholar/pull/12311

PR: https://github.com/openscholar/openscholar/pull/12351

[2019-09-12 12:58] tcheng001 opened #12305 "Basic page form: Search Engine Optimization (SEO) missing"
**Pull request:**

### Motivation:

A user should be able to edit metatag `description` while adding/editing a page.

![Screen Shot 2019-09-12 at 8 49 54 AM](https://user-images.githubusercontent.com/2111600/64785898-5b1e2600-d53b-11e9-8c1e-27326705246b.png)

### Acceptance Criteria

- [ ] As a vsite-basic-member/vsite-admin, when I create a page, I should be given a setting to alter `description`

[2019-09-12 16:55] tcheng001 opened #12306 "Save button doesn't close file edit form"
Steps to reproduce:
1. open a news edit form
2. click Upload button of Attached Media
3. click Previously uploaded files tab
4. click Edit link of an image file
5. click ADVANCED (CHANGE FILENAME, ...)
6. click Save button

Note:
a. the file edit form is not closed.
b. File Name can be saved even though the form is not closed
c. Image Caption can be saved even though the form is not closed
d. Uplo

[2019-09-13 07:03] subhojit777 commented on #12186
You can also try loading the ajax library explicitly, if the `views_embed_view`  doesn't work.

[2019-09-13 07:32] uttkarsh-26 commented on #12301
PR #12304

[2019-09-13 07:45] mukeyshkumar commented on #12121
RSS icon added in this pr
https://github.com/openscholar/openscholar/pull/12308

[2019-09-13 10:49] stamina84 commented on #11896
@rbran100 So.. I took about 2-3hours to debug, and test parallel D7 and D8 upload progress with non valid file extension. First I try to remove commenting before the line what you mentioned, and these lines was hit if non valid file extension is uploaded, what cause the modal was not closed on this error.

Try to place same console.log lines into D7 and D8 `MediaBrowserModule.js` file and see diff

[2019-09-13 11:11] Bilsi commented on #12296
Yes, we need to keep that

[2019-09-13 11:50] stamina84 commented on #12186
@rbran100 @subhojit777
Tested with this code and got exact same result (placed only ONE widget on layout)
[code]

* ajax pager not working
* pager shows on first page: `1 of 2`, on second page: `2 of 3`

Also checked ajax library, I see in source (drupal settings too):
[code]

[2019-09-13 12:30] tcheng001 opened #12310 "Taxonomy term tree UI in node form and publication form"
When form element type is set to Tree in Taxonomy form,
![Screen Shot 2019-09-13 at 8 24 30 AM](https://user-images.githubusercontent.com/2111600/64862239-fed10a00-d5ff-11e9-905c-137aac245575.png)

the tree should look like this in the node forms and Expand / Collapse should work accordingly
![Screen Shot 2019-09-13 at 8 25 38 AM](https://user-images.githubusercontent.com/2111600/64862389-638c6480

[2019-09-13 12:31] tcheng001 commented on #11414
@stamina84    I just opened this for the tree UI
https://github.com/openscholar/openscholar/issues/12310

[2019-09-13 12:43] mukeyshkumar commented on #12296
@Bilsi @rbran100
do we need to open image in lightbox/popup when the user clicks on an image in media gallery.?

[2019-09-13 12:49] tcheng001 commented on #12121
Mark "Fixed"
![Screen Shot 2019-09-13 at 8 47 27 AM](https://user-images.githubusercontent.com/2111600/64863608-46a56080-d603-11e9-9b26-e5c6e3089592.png)

[2019-09-13 12:49] #12121 closed

[2019-09-13 13:29] Bilsi commented on #12296
https://scholar.harvard.edu/tcheng10/galleries/my-gallery-101# - We need it to open up when we click on an image. Is that something you can work on @mukeyshkumar ?

[2019-09-13 14:56] acaselli opened #12312 "Upgrading from version 3.67.0"
Hi, I want to upgrade OS to the latest version from 3.67.0 I tried the same method I always used but it didn't work. I commit all the new files, go to my website at the page /update.php and it says that there are no pending updates...

[2019-09-13 15:49] tcheng001 commented on #12204
@subhojit777  i am confusing.  check the permissions on admin4 - this is newly created role.
I unchecked all permissions of blog but I am still able to create blog.
![Screen Shot 2019-09-13 at 11 46 53 AM](https://user-images.githubusercontent.com/2111600/64876034-482f5280-d61c-11e9-9b7f-d7b7dbd8d3a4.png)

[2019-09-13 16:25] stamina84 commented on #11450
@tcheng001 Can you please check, is it duplicated? https://github.com/openscholar/openscholar/issues/12144

[2019-09-13 19:24] tcheng001 commented on #11873
@uttkarsh-26    Moving "in dev"
After uploaded an illegal name file,  it replaces all files in [Previously uploaded files] tab
Here is an example:  I uploaded this file (Screen Shot 2019-09-13 at 11.46.53 AM.png), then I check Previously uploaded files tab.   All files becomes the file in all pages.

![Screen Shot 2019-09-13 at 3 15 56 PM](https://user-images.githubusercontent.com/2111600/64888855

[2019-09-13 19:33] tcheng001 commented on #12301
Mark "Fixed"
Image file form:
![Screen Shot 2019-09-13 at 3 28 20 PM](https://user-images.githubusercontent.com/2111600/64889355-27c2c080-d63b-11e9-9cce-91187f344ea3.png)

Non-image form:
![Screen Shot 2019-09-13 at 3 33 13 PM](https://user-images.githubusercontent.com/2111600/64889678-d535d400-d63b-11e9-831f-a21f75a7194c.png)

[2019-09-13 19:33] #12301 closed

[2019-09-14 01:28] subhojit777 commented on #12204
But if you see `basic member` still has access to create blogs. Even though you have unchecked if for `admin4`, a group member who has `admin4` role also has the `basic member` role, and that is why the user is able to create the blog.

If this look confusing, I would suggest defaulting the permissions for custom roles as well. Meaning, if `basic member` has a permission, then the checkbox will be

[2019-09-14 07:39] stamina84 commented on #12130
@rbran100 @Bilsi Need to set twitter API keys on demo env, this how can get credentials: https://developer.twitter.com/en/docs/basics/authentication/guides/access-tokens.html but I am sure you have already got this, we can use D7 values (for example in private repo: `web/sites/scholar.harvard.edu/settings.php`). I won't commit/put-here these values.
Here is the admin link, where you can set it, it

[2019-09-14 07:42] stamina84 commented on #12130
Nevermind, I found a keys, so I set it on demo, but will be deleted on every cim. Do we have a solution for that already?

[2019-09-14 08:01] stamina84 commented on #12130
@tcheng001 you can QA again, if the configs not changes
![image](https://user-images.githubusercontent.com/3629993/64905314-9bfe7200-d6d6-11e9-962d-22d887724aec.png)
http://d8.theopenscholar.com/site01

[2019-09-14 10:21] stamina84 commented on #12125
@rbran100 @subhojit777 I am stuck a bit with this javascript error, I did a following trace:
Error is come from this line:

https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/profile/modules/os/modules/os_media/wysiwyg_plugin/plugin.js#L19

So I checked where should be defined the `Drupal.media` property. My guess is here:
https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/profil

[2019-09-14 13:02] stamina84 commented on #11721
I fixed a lot of errors and mistakes but I got some what are not so obvious:
[code]
The problem is here:
https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/profile/modules/os/js/EntityService/EntityService.module.js#L199

But I am not sure whats next, probably I can't remove, because maybe something else is using. The other way is alter somehow the rest data paramters, but I don't where s

[2019-09-14 13:34] stamina84 commented on #12231
@tcheng001 it is listed, maybe the problem was not checked the "Published" checkbox, right? I created a fix, to be default checked

[2019-09-14 13:53] stamina84 commented on #11817
@tcheng001 @subhojit777
Can you confirm is this a duplication of these?
https://github.com/openscholar/openscholar/issues/11997
https://github.com/openscholar/openscholar/issues/12164

[2019-09-16 03:57] subhojit777 commented on #11721
@uttkarsh-26 Might be able to help you on this.

[2019-09-16 03:59] subhojit777 commented on #11817
The new owner will have the access to transfer ownership. As per #12164 super admin should be able to transfer ownership.

[2019-09-16 04:03] subhojit777 commented on #11817
@stamina84 It was done as part of https://github.com/openscholar/openscholar/issues/11997#issuecomment-516401768. @tcheng001 I think this can be closed, and #12164 needs to be done. Please confirm.

[2019-09-16 05:32] mukeyshkumar commented on #12296
@Bilsi ok I will check this.

[2019-09-16 06:40] uttkarsh-26 commented on #11721
Will look into this and let you know @stamina84 , maybe by today eod or tomorrow , let's keep it in pending for now.

[2019-09-16 08:07] uttkarsh-26 commented on #11722
PR #12318 , Fixes two issues from https://github.com/openscholar/openscholar/issues/11722#issuecomment-529581526
And also fixes loading of unwanted extensions like the ones from presentation materials media entity which is not required here in MB.

[2019-09-16 09:33] stamina84 commented on #12186
Discussed with @subhojit777 so I will create a new views pager for that.

[2019-09-16 09:48] stamina84 commented on #12186
Adding a related Drupal issue link: https://www.drupal.org/project/drupal/issues/2925303#comment-12686587

[2019-09-16 10:01] mukeyshkumar opened #12319 "Media gallery(grid) image open in lightbox/popup"
Media gallery(grid) image should be open in lightbox/popup.
- In the media gallery grid when user click on image then the image should be open in lightbox/popup

https://github.com/openscholar/openscholar/issues/12296

PR: https://github.com/openscholar/openscholar/pull/12320

[2019-09-16 12:23] mukeyshkumar commented on #12319
@Bilsi
I have used slick lightbox js which is already used in d8.
Here is the demo link for this. Please review.
http://mreq.github.io/slick-lightbox/demo/

[2019-09-16 12:33] tcheng001 commented on #12204
@subhojit777    I understand what you suggest.  Let me discuss with @Bilsi  and @rbran100.

[2019-09-16 12:43] chander-b commented on #11899
@Bilsi @rbran100
Drupal8 we have missing image properties (Hspace, Vspace and border)
Hspace, Vspace not supported by HTML5

Right now we have these options please see attached image :
![image2-ckeditor-plugin](https://user-images.githubusercontent.com/53852150/64958671-4e882d80-d8ad-11e9-8a46-1b3e754db699.png)

Please confirm can we good without these propreites ?

[2019-09-16 12:47] tcheng001 commented on #11817
@subhojit777   Just checked.  This issue has been fixed.   Yes. we need to fix #12164.

[2019-09-16 12:47] #11817 closed

[2019-09-16 12:52] Bilsi commented on #11899
@chander-b - yes, that makes sense - we should not have hspace and vspace anymore. This looks good. Thanks

[2019-09-16 12:59] tcheng001 commented on #11450
yes. this is a duplicate of #12144.  I am closing this ticket.

[2019-09-16 12:59] #11450 closed

[2019-09-16 13:30] Bilsi commented on #12319
@mukeyshkumar - we need the image caption to show.
Here is an example of a carousel - https://scholar.harvard.edu/tcheng10/galleries
Only images show up in the carousel, files show below it

[2019-09-16 14:01] tcheng001 commented on #12231
Look good. Mark "Fixed"

[2019-09-16 14:01] #12231 closed

[2019-09-16 15:21] tcheng001 commented on #12303
Returning "in dev"
For Select List: Terms should be indicated hierarchy level by leading "-" like D7
Here is an example:  This is the hierarchy structure.
![Screen Shot 2019-09-16 at 11 14 13 AM](https://user-images.githubusercontent.com/2111600/64970117-2e3b7d00-d873-11e9-88d2-b4c2f9d55b9f.png)

That is what the terms show in node form - no leading "-" is showed in "vocab1-term1-1", "vocab1-term1

[2019-09-16 15:35] tcheng001 commented on #12130
@mukeyshkumar   Can text wrap thumbnail like D7?   Mark "Pending"

![Screen Shot 2019-09-16 at 11 32 34 AM](https://user-images.githubusercontent.com/2111600/64971634-fb46b880-d875-11e9-9e62-b302ec503050.png)

[2019-09-16 17:54] tcheng001 commented on #11722
Mark "Fixed"
Help text:
<img width="691" alt="Screen Shot 2019-09-16 at 1 43 51 PM" src="https://user-images.githubusercontent.com/2111600/64980581-18848280-d888-11e9-9f87-73fac7808069.png">

In [Previously uploaded files] tab of attachments, File Type lists
- Audio
- Document
- Executable
- Image
- Video

<img width="817" alt="Screen Shot 2019-09-16 at 1 50 19 PM" src="https://user-images.githubu

[2019-09-16 17:54] #11722 closed

[2019-09-16 19:35] tcheng001 commented on #11908
Mark "Fixed"
1. Tested on blog, classes, event, FAQ, links, news, people, presentations, publications and software.

2. Need to test on basic pages.

[2019-09-16 19:35] #11908 closed

[2019-09-17 05:04] mukeyshkumar commented on #12303
@tcheng001
looks like above mentioned https://github.com/openscholar/openscholar/issues/12303#issuecomment-531825903 is a backend task.

This issue is for taxonomy widget UI only. Create taxonomy widget with these options
**Taxonomy list
Taxonomy menu
Taxonomy slide down**

and place the widget in sidebar region. Ui of this widget should be similar to d7.

[2019-09-17 06:28] subhojit777 commented on #11905
@tcheng001 Do you want the option to create publication authors and keywords here in this entry list.
![image](https://user-images.githubusercontent.com/1435641/65016631-6231a380-d942-11e9-9f83-256affa6bf90.png)

// @Bilsi

[2019-09-17 07:28] subhojit777 commented on #12175
@tcheng001 I got the problem that vsite admin is not able to create widgets. I am looking into it. To be on the same page, are you talking about these contextual links?

![image](https://user-images.githubusercontent.com/1435641/65020431-cd7f7380-d94a-11e9-8f76-c80d8e89a3b6.png)

[2019-09-17 07:47] stamina84 commented on #12174
@subhojit777 First I missed the context menu and fixed antoher problem with media deletion here:
![image](https://user-images.githubusercontent.com/3629993/65021386-47a1ff00-d92f-11e9-9517-b3d9cb835a26.png)
@tcheng001 Could you please validate what is the expected behavior if click to Software release's Software package's context menu delete option. I did a fix, if you delete media from this conte

[2019-09-17 09:05] subhojit777 opened #12326 "Fix group role sort permissions for config import/export"
**Pull request:** #12536

**Motivation:**
Originally reported here https://github.com/openscholar/openscholar/pull/12071#discussion_r313254474

Since, group module version > rc2 breaks the system, therefore, just apply the patch https://www.drupal.org/project/group/issues/3030168#comment-12953217

**Tasks:**

- [x] Apply patch https://www.drupal.org/project/group/issues/3030168#comment-12953217 to

[2019-09-17 09:26] subhojit777 opened #12327 "Use Group rc4"
**Pull request:** #12535

**Motivation:**
We are unable to use the latest version of group module, because it breaks the system with this error:

[code]

We need to update the module sooner or later so that we are up-to-date with the latest features/improvements/security-fixes of the module.

**Tasks:**

- [x] Update to the latest recommended release of group module and fix the issues.

**Tests:**

[2019-09-17 09:28] subhojit777 commented on #12326
Composer is not letting me apply the patch and it updates the group module to rc4 and breaks the system (see https://github.com/openscholar/openscholar/issues/12327). The internal problem needs to fixed first.

[2019-09-17 09:59] mukeyshkumar commented on #12130
UI changes fixed in this pr https://github.com/openscholar/openscholar/pull/12325

[2019-09-17 12:17] subhojit777 commented on #12130
Marked pending due to https://github.com/openscholar/openscholar/pull/12325#issuecomment-532153886

[2019-09-17 12:26] tcheng001 commented on #11905
@subhojit777   I am not so sure. Need to discuss with @Bilsi

[2019-09-17 12:38] tcheng001 commented on #12175
When I log in as vsite admin and go to a layout, nothing happens when I click a widget (say AddThis widget) from Select Widget Type list.  Also, there are some errors in Console.

![Screen Shot 2019-09-17 at 8 33 47 AM](https://user-images.githubusercontent.com/2111600/65042083-1bce4b80-d926-11e9-8c20-643c74ff8d5b.png)

Also,  I can't access the contextual links of widgets in the layout. Now, I ne

[2019-09-17 12:43] mukeyshkumar commented on #12130
@subhojit777 I have attached the report.

[2019-09-17 13:03] tcheng001 commented on #12174
@stamina84   Does it make sense if redirecting to its software after the software release is deleted?

[2019-09-17 13:06] subhojit777 commented on #12174
@tcheng001 I believe he is asking here https://github.com/openscholar/openscholar/issues/12174#issuecomment-532104180 about the behavior when the attachment is deleted via contextual link.

[2019-09-17 13:08] stamina84 commented on #12174
@tcheng001 Yes, it make sense, but hard to find out the related project link. I can do it in about 2 hours. But as Paul said I asked what will happen if media is deleted from release. Maybe its not allowed? We have to remove contextual menu in this case? Or just delete `delete` option?

[2019-09-17 13:16] tcheng001 commented on #12174
ok. I got.  Hiding or disabling the contextual links for the media is good.  @stamina84

[2019-09-17 13:18] subhojit777 commented on #12174
@stamina84 You can remove the permissions for editing/deleting the media entities. And it will disable the contextual links.

[2019-09-17 13:19] stamina84 commented on #12174
@subhojit777 Is it for sure? What about admin media listing pages? Or what about media browser modal listing (edit/delete) use cases?

[2019-09-17 13:22] Bilsi commented on #11905
@subhojit777 - Only user1 should have access to this page. So it works as expected. When a user creates a publication, they can enter a new author from the create publication form

[2019-09-17 13:23] rbran100 commented on #12130
@stamina84 Can you slack me the API key and the variable name and I can check it into the private repo for D8?

[2019-09-17 13:24] #11905 closed

[2019-09-17 13:26] subhojit777 commented on #12174
@stamina84 I see what you are telling. Yes, the contextual links needs to be disabled then.

[2019-09-17 13:27] Bilsi commented on #12204
@subhojit777 - I realize now that basic member is the baseline for all permissions which does not work for us. So we have to change the basic member to be the viewer role that we have in d7. The viewer role (created only for Harvard) can view all the content types, but cannot edit or delete anything. So this was created for private sites (again something that only Harvard uses). We can now allow a

[2019-09-17 13:31] stamina84 commented on #12174
@subhojit777 Ok! I am thinking, is it one exception of hide media contextual links, or we can remove from all pages?
Maybe it will better if I manage a list of content types where I will hide?

[2019-09-17 13:37] mukeyshkumar commented on #12319
@Bilsi
i have used the **image title** field as a caption for the media gallery grid lightbox. Attaching screenshot for ref.
![caption-test](https://user-images.githubusercontent.com/47223502/65046453-4cda6a80-d97e-11e9-877c-b64c35a9fef8.png)

[2019-09-17 13:39] subhojit777 commented on #12204
@Bilsi Got it.

[2019-09-17 13:42] Bilsi commented on #12319
@mukeyshkumar
![Screen Shot 2019-09-17 at 9 41 07 AM](https://user-images.githubusercontent.com/11841641/65046882-6dc79f00-d92f-11e9-826d-f77a2df1d105.png)
![Screen Shot 2019-09-17 at 9 40 15 AM](https://user-images.githubusercontent.com/11841641/65046883-6dc79f00-d92f-11e9-8647-2286475b80ff.png)
We need to display the image caption as the caption and the image title should be the tooltip that sho

[2019-09-17 13:44] Bilsi commented on #12319
@mukeyshkumar - yes, looks good.

[2019-09-17 13:45] #12204 closed

[2019-09-17 13:46] Bilsi opened #12329 "Change existing basic member to behave like the viewer role in d7"
**Pull request:** #12379

**Dependencies:**
- #12330

Currently, the basic member is the baseline for all group roles.
1. Change the basic member permissions to match the viewer role in d7.
This role only has view permissions and no edit or delete permissions.
2. Rename the basic member role and call it Viewer

[2019-09-17 13:48] Bilsi opened #12330 "Create a new role called Basic member"
**Pull request:** #12373, #12468, #12478

This role should have the same permissions as the Basic Member role we have in d7.
Also test https://github.com/openscholar/openscholar/issues/12299 - Checkbox [Published] missing in all content type forms except Publication #12299

[2019-09-17 13:57] #11946 closed

[2019-09-17 14:36] rbran100 commented on #12154
@subhojit777 is going to take a look and see if this can be done in php outbound path altering

[2019-09-17 14:43] #11414 closed

[2019-09-17 14:51] #11910 closed

[2019-09-17 14:52] rbran100 opened #12331 "Widget: Follow Me / Social (add this)"
We need to add a widget type for "follow me" that adds users links to their social media pages.  It looks like (https://www.drupal.org/project/rrssb) provides this functionality in a pretty easy set that can be added in config per vsite.

Take a look and see if using that module is feasible since the button sets look nice and it looks pretty easy to setup (from the UI).  If it does look easy to im

[2019-09-17 15:20] tcheng001 opened #12332 "Widget: Feed Reader widget"
The widget should have options like D7
<img width="961" alt="Screen Shot 2019-09-17 at 11 19 08 AM" src="https://user-images.githubusercontent.com/2111600/65055421-20522e80-d93d-11e9-90b0-abd844817f52.png">

[2019-09-17 15:30] tcheng001 opened #12333 "Widget: mailing list widget"
PR https://github.com/openscholar/openscholar/pull/12462
PR - QA feedback - https://github.com/openscholar/openscholar/pull/12534

it should contain these options like D7
<img width="906" alt="Screen Shot 2019-09-17 at 11 29 23 AM" src="https://user-images.githubusercontent.com/2111600/65056191-71aeed80-d93e-11e9-85aa-5bcf0b33f8b4.png">

[2019-09-17 15:31] stamina84 commented on #12125
@uttkarsh-26 I think its related to media browser issues, check it If you have time

[2019-09-17 15:41] tcheng001 opened #12334 "Widget: Slideshow widget"
It should contain these options like D7
<img width="1474" alt="Screen Shot 2019-09-17 at 11 40 09 AM" src="https://user-images.githubusercontent.com/2111600/65057038-f817ff00-d93f-11e9-9fba-526ae2b4f810.png">

[2019-09-17 15:45] tcheng001 opened #12335 "Widget: List of Files widget"
PR: https://github.com/openscholar/openscholar/pull/12629
**Pull request:**

It should contain these options like D7
<img width="1486" alt="Screen Shot 2019-09-17 at 11 44 37 AM" src="https://user-images.githubusercontent.com/2111600/65057422-999f5080-d940-11e9-9b5e-edd36609a40b.png">

This is similar to #12336 but with many less sorting options, however the same architecture could be used.

### T

[2019-09-17 15:48] tcheng001 opened #12336 "Widget: List of Posts widget"
PR - #12587
It should contain these options like D7
<img width="833" alt="Screen Shot 2019-09-17 at 11 49 44 AM" src="https://user-images.githubusercontent.com/2111600/65057874-4aa5eb00-d941-11e9-90a7-9afd435cd17c.png">

I believe that in D7 this used the same views or copies of them that run the main content areas in a "App", you are really just creating a super scaled down version of "views" but

[2019-09-17 16:49] tcheng001 commented on #12039
Can't reproduce the issue anymore. Closing

[2019-09-17 16:49] #12039 closed

[2019-09-17 16:55] tcheng001 commented on #12306
Mark "Fixed"

[2019-09-17 16:55] #12306 closed

[2019-09-17 17:30] rbran100 commented on #11295
This is fixed by #12152 in PR #12323

[2019-09-17 17:30] #11295 closed

[2019-09-17 17:35] rbran100 commented on #11864
All emails can be viewed now at: https://mailhog.dev.theopenscholar.com/demo/

Password will be in Slack

[2019-09-17 18:10] tcheng001 commented on #12152
Look good.  Mark "Fixed"
<img width="506" alt="Screen Shot 2019-09-17 at 2 09 42 PM" src="https://user-images.githubusercontent.com/2111600/65067618-eb51d600-d954-11e9-80e1-9eac6e8294a5.png">

[2019-09-17 18:10] #12152 closed

[2019-09-17 18:20] tcheng001 commented on #11873
Mark "Fixed"
<img width="847" alt="Screen Shot 2019-09-17 at 2 17 20 PM" src="https://user-images.githubusercontent.com/2111600/65068153-10931400-d956-11e9-8fc1-48136dc8706f.png">

[2019-09-17 18:20] #11873 closed

[2019-09-17 18:39] tcheng001 commented on #11899
Moving to "in dev"
- [ ] 1. Text rendering doesn't respect with what it shows in editor.
![Screen Shot 2019-09-17 at 2 29 32 PM](https://user-images.githubusercontent.com/2111600/65069032-d88cd080-d957-11e9-8c5b-15dd4fd2f112.png)
![Screen Shot 2019-09-17 at 2 29 05 PM](https://user-images.githubusercontent.com/2111600/65069066-ea6e7380-d957-11e9-839f-a9172f0219d5.png)

- [ ] 2. Still not able to a

[2019-09-17 18:59] #7964 closed

[2019-09-17 19:41] tcheng001 commented on #12144
Moving to "in dev"
1. unable to save values of Width and Height
Steps to reproduce:
a. set width to 500
b. click OK button
<img width="363" alt="Screen Shot 2019-09-17 at 3 35 19 PM" src="https://user-images.githubusercontent.com/2111600/65073398-ca8f7d80-d960-11e9-8db6-15a0ed00e6d0.png">

c. click Save button in the node form
d. reopen Table Properties dialogue box
Note: Width field is blank

<im

[2019-09-17 20:10] rbran100 commented on #12334
@Bilsi this is already covered by #12122 can we close this?

[2019-09-17 20:20] rbran100 commented on #12130
@tcheng001 I verified this working if you want to test.

[2019-09-17 22:32] Bilsi commented on #12334
@rbran100 @tcheng001 - media gallery and slideshow are different, aren't they?

[2019-09-18 05:35] subhojit777 commented on #12164
Can you tell me if `user 1` necessarily needs to be a vsite member? Who will have access to create a new vsite? @tcheng001

[2019-09-18 09:37] mukeyshkumar opened #12337 "Media gallery widget carousel implementation"
Media gallery widget carousel implementation

Steps to replicate:
1. Add media gallery widget
2.  then Add images
3.  then choose Gallery format to the carousel
4.  then place block to the content/any region.
5.  After placing block media gallery should appear in the placed region with carousel.

PR: https://github.com/openscholar/openscholar/pull/12339, #12348

[2019-09-18 10:03] subhojit777 commented on #12175
@tcheng001 Do you want the `Configure block` option in the contextual links? I think that setting should only be available for super admins. The screen has options which the vsite admin might not understand. Like this:

![image](https://user-images.githubusercontent.com/1435641/65138950-713f5100-da29-11e9-9780-fc9568b60e00.png)

There are some settings in that UI which I think should not be presen

[2019-09-18 10:33] mukeyshkumar commented on #12337
Attaching screenshot for ref:
![gallery-carousel](https://user-images.githubusercontent.com/47223502/65141162-b2396480-da2d-11e9-9803-848eebb6c975.png)

[2019-09-18 12:05] mukeyshkumar opened #12340 "Widget publication by type has accessibility issues"
**ul and ol must only directly contain li, script or template elements**

**Why it matters**
Screen readers have a specific way of announcing lists. This feature makes lists clearer to understand, but will only work if lists are properly structured.

Lists must be marked up correctly, meaning they must not contain content elements other than li elements.

**Disabilities Affected**

-  Blind
-  Dea

[2019-09-18 12:19] tcheng001 commented on #12334
Yes, they are different.

On Tue, Sep 17, 2019 at 6:32 PM Bilsi <notifications@github.com> wrote:

[2019-09-18 12:29] tcheng001 commented on #12164
1. In D7,  user1 is not necessarily a vsite member to change ownership.
2. @Bilsi   Can you reply the second question?  Each install could have different requirements.

[2019-09-18 12:33] tcheng001 commented on #12175
Yes, that is correct.  vsite admin shouldn't see the contextual link.  If
you find out any contextual links that should not be accessible to vsite
admin, please remove / hide them.

On Wed, Sep 18, 2019 at 6:03 AM Subhojit Paul <notifications@github.com>
wrote:

[2019-09-18 12:42] Bilsi commented on #12164
- user1 should have access to create, edit and delete any site without membership. Any logged in user (anyone who has an Openscholar account) can create a site. This changes for installs that have single sign on - which we do not have to worry for now

[2019-09-18 12:47] rbran100 commented on #12334
How are the "gallery widget" and the "slideshow widget" different?  Do they need to be?  What am I forgetting :-)

[2019-09-18 12:49] rbran100 commented on #12122
Duplicate of #12337

[2019-09-18 12:49] #12122 closed

[2019-09-18 12:50] Bilsi commented on #12334
@rbran100 - https://scholar.harvard.edu/tcheng10/galleries is a gallery.
The images on the home page https://economics.harvard.edu/ here is a slideshow widget

[2019-09-18 13:01] chander-b commented on #12144
@subhojit777 @rbran100
cc @Bilsi

For fix these above issues, I have to disable the setting "Limit allowed HTML tags and correct faulty HTML".
because that setting removing the inline style from the editor.

One test is failing because of setting disabled "testBuildSuspiciousBody"

Note: I have added the style attribute in "Allowed HTML tags" with the enabled setting, but not working.

Please conf

[2019-09-18 13:02] chander-b commented on #11899
@subhojit777 @rbran100
cc @Bilsi

For fix these above issues, I have to disable the setting "Limit allowed HTML tags and correct faulty HTML".
because that setting removing the inline style from the editor.

One test is failing because of setting disabled "testBuildSuspiciousBody"

Note: I have added the style attribute in "Allowed HTML tags" with the enabled setting, but not working.

Please conf

[2019-09-18 14:04] tcheng001 commented on #12130
Mark "Fixed"
![Screen Shot 2019-09-18 at 9 45 40 AM](https://user-images.githubusercontent.com/2111600/65155618-987f2980-d9fb-11e9-89ae-2095c6e8cbb5.png)

[2019-09-18 14:04] #12130 closed

[2019-09-18 14:43] tcheng001 commented on #12310
@mukeyshkumar  can you make hierarchy tree looking better like D7?
![Screen Shot 2019-09-18 at 10 34 38 AM](https://user-images.githubusercontent.com/2111600/65158259-09c0db80-da00-11e9-8c46-ffb40ac6ed7c.png)

![Screen Shot 2019-09-18 at 10 35 42 AM](https://user-images.githubusercontent.com/2111600/65158329-22c98c80-da00-11e9-89f7-0f9f6dcbd363.png)

[2019-09-18 14:53] tcheng001 commented on #12310
Moving to "in dev"
Fail to tag terms if the vocab is in tree form.
![Screen Shot 2019-09-18 at 10 44 55 AM](https://user-images.githubusercontent.com/2111600/65158998-65d82f80-da01-11e9-8ad2-9cad7790afe9.png)
Tested this vocab "vocab-all" in http://d8.theopenscholar.com/site05
![Screen Shot 2019-09-18 at 10 47 54 AM](https://user-images.githubusercontent.com/2111600/65159422-0d556200-da02-11e9-946

[2019-09-18 15:33] rbran100 commented on #11899
@chander-b we need to limit the html tags allowed so that people don't get up to mischef, I would think that adding the allowed tag would do the trick, can you tell what is getting stripped, there might be a bug to fix

[2019-09-18 15:33] rbran100 commented on #12144
@chander-b we need to limit the html tags allowed so that people don't get up to mischef, I would think that adding the allowed tag would do the trick, can you tell what is getting stripped, there might be a bug to fix

[2019-09-18 18:06] tcheng001 commented on #12206
Mark "Fixed"
![Screen Shot 2019-09-18 at 2 05 35 PM](https://user-images.githubusercontent.com/2111600/65173733-71395400-da1d-11e9-8aaa-ca5c7953f475.png)

[2019-09-18 18:06] #12206 closed

[2019-09-18 18:31] tcheng001 commented on #12174
Look good. Mark "Fixed"
media's contextual links in software project page is not accessible to user any more.
![Screen Shot 2019-09-18 at 2 30 11 PM](https://user-images.githubusercontent.com/2111600/65175446-e195a480-da20-11e9-874a-c064b8ec81c2.png)

[2019-09-18 18:31] #12174 closed

[2019-09-18 18:38] tcheng001 commented on #12269
Mark "Fixed"
![Screen Shot 2019-09-18 at 2 36 26 PM](https://user-images.githubusercontent.com/2111600/65175976-db53f800-da21-11e9-9faa-480850d96e0f.png)

[2019-09-18 18:38] #12269 closed

[2019-09-18 19:05] tcheng001 commented on #12337
Mark "Pending"  No image is showed.
![Screen Shot 2019-09-18 at 3 04 27 PM](https://user-images.githubusercontent.com/2111600/65177887-a34eb400-da25-11e9-899e-bdb82ed7ab3a.png)

[2019-09-18 20:01] rbran100 commented on #12337
@mukeyshkumar could you take a look at d8 server and see if you can tell what is going on

[2019-09-19 04:51] mukeyshkumar commented on #12337
@rbran100
I have checked d8 server these two libraries are missing from the server
Slick and slick lightbox.
<script src="/core/assets/vendor/jquery.ui/ui/widget-min.js?v=1.12.1"></script>
<script src="/libraries/slick/slick/slick.min.js?v=1.x"></script>

[2019-09-19 06:46] chander-b commented on #12144
Hi
All the inline styles getting stripped like **style="width:200px; height:300px"**

For more reference, I have attached screenshots of node add CKEditor table, table cell, edit node CKEditor table, table cell, allowed HTML tags and node view page.

**Add node ckeditor table**

![add-node-ckditor-table](https://user-images.githubusercontent.com/53852150/65219420-2a5b6500-dad6-11e9-8546-e4971ff1bf

[2019-09-19 06:49] chander-b commented on #11899
Hi @rbran100

All the inline styles getting stripped like style="width:200px; height:300px"

same like https://github.com/openscholar/openscholar/issues/12144 issue

[2019-09-19 06:59] subhojit777 commented on #12144
`<table style>` is allowed. Can you find out why it is stripping them?

[2019-09-19 07:40] mukeyshkumar commented on #12337
@rbran100
I have checked d8 server looks like slick and slick lightbox are missing from the server.

[2019-09-19 09:55] mukeyshkumar commented on #12310
Taxonomy tree hierarchy UI fixed in this PR: https://github.com/openscholar/openscholar/pull/12343

[2019-09-19 11:23] stamina84 commented on #12310
@tcheng001 Investigated, and seems the first 3 items wasn't created in proper vsite context. If I save the terms again, it will attached to site05 vsite. But the other taxonomy terms are good. Not sure what happened but I think related to orphaned taxonomy term problem.

To fix it, try to save these 3 terms (bbb, ccc, ddd) like this: site05/taxonomy/term/10/edit?destination=/site05/cp/taxonomy/voc

[2019-09-19 12:40] mukeyshkumar opened #12345 "Place block widget list conextual link css indexing issue"
**Steps to replicate:**
1. click on the edit icon on the blue menu
2. then click on the place block link
3. Add a new widget. After adding widget a new pencil icon appear on the right side of the widget
![place-wdget](https://user-images.githubusercontent.com/47223502/65243936-154afa00-db07-11e9-9bd1-c8959a6d7115.png)
4. then click on **create new widget**. User will notice the same pencil icon in

[2019-09-20 05:36] subhojit777 commented on #12337
I found that bitbucket has cloned the repo but didn't actually downloaded the code

<img width="640" alt="Screenshot 2019-09-20 at 11 05 05 AM" src="https://user-images.githubusercontent.com/1435641/65301855-b3d26c00-db96-11e9-9106-61a258671a3b.png">

[2019-09-20 07:00] subhojit777 commented on #12337
@rbran100 Need your help here. I thought it was the same old Git directory problem, and I tried to fix it this way https://github.com/openscholar/openscholar/pull/12348 But still I see them as Git sub modules in Bitbucket https://bitbucket.org/openscholar/deploysource/src/12337-fix-slick-lib-not-present/openscholar/web/libraries

Maybe, try manually deleting them from Bitbucket itself?

[2019-09-20 07:29] mukeyshkumar opened #12349 "Cp profile default image media help text ui issue"
Steps to replicate:
1. visit this URL d8.theopenscholar.com/bug/cp/settings/apps-settings/profiles (any vsite)
2. then in default image section hover over the help icon
3. user will see the help text without theming
![help-text-profile](https://user-images.githubusercontent.com/47223502/65307907-8392c980-dba6-11e9-962f-7bd937908ef6.png)

PR: https://github.com/openscholar/openscholar/pull/12350

[2019-09-20 08:48] mukeyshkumar commented on #12349
Attaching screenshot for ref.

![cp-profile-after](https://user-images.githubusercontent.com/47223502/65313090-6dd6d180-dbb1-11e9-834a-528e7349a031.png)

[2019-09-20 08:58] stamina84 commented on #12123
I would suggest to separate this ticket into smaller ones:

**base ticket** (current one is good):
- new block content type and fields
- slideshow paragraph
- specify layout variations, following are valid?
	- Wide Overlay
	- Standard Overlay
	- Standard Below
	- Standard Side
- specify/figure out edit forms (where and what can be edit) maybe it will differs from D7 version, I will create screensh

[2019-09-20 10:00] mukeyshkumar commented on #11481
View mini pager Aria-labelleby is fixed in this issue(8.8-x)
https://www.drupal.org/project/drupal/issues/3059232

[2019-09-20 11:12] chander-b commented on #12303
PR : https://github.com/openscholar/openscholar/pull/12351

[2019-09-20 11:40] stamina84 commented on #12268
Seems good now, I can find only one field, what shows up.

[2019-09-20 11:45] mukeyshkumar opened #12354 "Cp settings publication has aria issue"
Cp settings publication have aria issue.
ARIA attributes must conform to valid values.

**Steps to replicate:**
1. visit this URL d8.theopenscholar.com/bug/cp/settings/apps-settings/publications
2. In this page, `*aria-describedby="" ` is appeared on each checkbox but valid values are not appearing.
An aria-labelledby or aria-describedby reference exists, but the target for the reference does not

[2019-09-20 13:25] tcheng001 opened #12356 "Saving publication redirects to vsite home page - that is incorrect"
It should redirect to where it was. For example:
1. it should redirect to /publications listing if the pub form is opened from there.
2. it should redirect to itself if the pub form is opened form its full node view.

[2019-09-20 13:38] tcheng001 commented on #12310
Look good.
![Screen Shot 2019-09-20 at 9 35 35 AM](https://user-images.githubusercontent.com/2111600/65331129-1e30df80-db8a-11e9-82af-1160d1589319.png)
![Screen Shot 2019-09-20 at 9 37 20 AM](https://user-images.githubusercontent.com/2111600/65331191-4b7d8d80-db8a-11e9-8505-0c6a3825d1e8.png)

[2019-09-20 13:38] #12310 closed

[2019-09-20 14:07] tcheng001 commented on #12164
Mark "Fixed"
![Screen Shot 2019-09-20 at 10 04 52 AM](https://user-images.githubusercontent.com/2111600/65333358-59351200-db8e-11e9-841b-64ec4846090b.png)

[2019-09-20 14:07] #12164 closed

[2019-09-20 14:12] tcheng001 commented on #11583
I don't see the fix. I still need to click [Save configuration] to show the uploaded profile image. @stamina84   Mark "Pending"

[2019-09-20 14:33] tcheng001 commented on #12349
Mark "Fixed"
![Screen Shot 2019-09-20 at 10 32 41 AM](https://user-images.githubusercontent.com/2111600/65335231-08bfb380-db92-11e9-9f00-4a8f3d1551d4.png)

[2019-09-20 14:33] #12349 closed

[2019-09-20 14:43] tcheng001 commented on #12345
@subhojit777     Widget title won't be updated until the layout refreshes. Need a separate ticket?
Steps to reproduce :
1. go to a layout
2. access contextual link (Edit) of a widget
3. make title change of the widget
4. click Save button in the widget form
Note: the widget's title is still the same until the layout is refreshes.

Note: If I have made some changes on the layout without clicking Sa

[2019-09-20 14:57] stamina84 commented on #12145
Dev note: D7 functionality is here: `openscholar/modules/os/theme/os_toggle.js`

[2019-09-20 15:27] rbran100 commented on #12123
@stamina84 there is already seperate tickets to handle all of the slideshow items. this is ONLY for the basic widget, it should remove the slide information since it does not belong here.  There should be no slick / crop / slideshow functionality done.

[2019-09-20 15:37] tcheng001 commented on #12319
Mark "Pending" - unable to test this functionality because no image of Media Gallery widget is showed in demo site.

[2019-09-20 15:50] tcheng001 commented on #11918
mark "Fixed"

[2019-09-20 15:50] #11918 closed

[2019-09-20 15:52] rbran100 commented on #12337
@subhojit777 I was able to get the libraries to download, but didn't verify anything else, can you take a look?

[2019-09-23 04:45] subhojit777 commented on #12345
@tcheng001 Yes, definitely create a new ticket. Sounds like the bug is different from what is mentioned in this ticket.

[2019-09-23 04:47] subhojit777 commented on #12319
@mukeyshkumar How were you able to replicate and fix the problem. Can you create a media gallery widget in demo. // @tcheng001

[2019-09-23 05:28] subhojit777 commented on #12337
@rbran100 The `slick` library is still missing.

![image](https://user-images.githubusercontent.com/1435641/65403344-ccd65980-ddf0-11e9-8cbc-068839c4fb76.png)
![image](https://user-images.githubusercontent.com/1435641/65403353-d8298500-ddf0-11e9-9183-0e428e96e67d.png)

Did you manually deleted those directories from BitBucket and changed the versioning of the libraries?

Any idea how the libraries

[2019-09-23 05:52] mukeyshkumar commented on #12319
I have created a media gallery widget but still not showing. The slick library still missing.

Media gallery widget vsite link.
http://d8.theopenscholar.com/bug/

[2019-09-23 06:02] subhojit777 commented on #12268
pending on @mukeyshkumar https://github.com/openscholar/openscholar/pull/12353#pullrequestreview-291573140

[2019-09-23 06:46] subhojit777 commented on #12354
@tcheng001 just accessibility fixes.

[2019-09-23 09:06] mukeyshkumar commented on #12319
Added image style and fix UI spacing issue
PR: https://github.com/openscholar/openscholar/pull/12357

![fix-image-gallery](https://user-images.githubusercontent.com/47223502/65413667-8e9c6280-de0f-11e9-8668-377e90d0451e.png)

[2019-09-23 10:40] mukeyshkumar opened #12358 "Fix duplicate html id in admin pages"
**Pull request:*https://github.com/openscholar/openscholar/pull/12951*

### Motivation:

There are duplicate `id` attributes in the following pages:

1. `/cp/content/browse/publications` - `[id="edit-actions"]`
1. `/cp/content/browse/node` - `[id="edit-actions"]`
1. `/cp/content/browse/media` - `[id="edit-actions"]`

This affects the accessibility of the pages - https://dequeuniversity.com/rules/a

[2019-09-23 11:12] stamina84 commented on #12123
@rbran100 OK! I will do that way.
I noticed the Media browser doesn't work in paragraph edit form, this should be handled in other ticket. Meanwhile I will keep in autocomplete, so we can test image selection.

[2019-09-23 11:52] mukeyshkumar opened #12359 "Cp settings Long List Display aria issue"
Cp settings Long List Display aria issue

**Errors**
Broken ARIA reference

**What It Means**
An aria-labelledby or aria-describedby reference exists, but the target for the reference does not exist.

**Why It Matters**
ARIA labels and descriptions will not be presented if the element referenced does not exist in the page.

**How to Fix It**
Ensure the element referenced in the aria-labelledby or

[2019-09-23 12:16] tcheng001 opened #12360 "Widget title won't be updated until the layout refreshes"
Steps to reproduce :
1. go to a layout
2. access contextual link (Edit) of a widget
3. make title change of the widget
4. click Save button in the widget form
Note: the widget's title is still the same until the layout is refreshes.

Note: If I have made some changes on the layout without clicking Save before changing a widget's title, the changes on the layout page will be lost if the layout refr

[2019-09-23 12:22] tcheng001 commented on #12252
@Bilsi   Do we really need this ticket?  Are we going to replace booklet by basic page?

[2019-09-23 12:37] tcheng001 commented on #11846
Mark "Pending"
@subhojit777    I am not so sure how to test custom theme, so I had asked Dan for help. Custom theme seems not working. Here is an example:
The site crashes when trying to save the following settings:
<img width="1367" alt="Screen Shot 2019-09-23 at 8 33 57 AM" src="https://user-images.githubusercontent.com/2111600/65425846-fdac9380-dddc-11e9-887c-69756c70ff95.png">

Sometimes, I go

[2019-09-23 12:42] stamina84 commented on #11002
@Bilsi This issue is solved in here I think: https://github.com/openscholar/openscholar/issues/11801
Can be closed

[2019-09-23 12:57] Bilsi commented on #12252
@tcheng001 - Booklets is being replaced by basic page. I asked Mukeysh to make the UI better and test accessibility tests

[2019-09-23 12:57] #12252 closed

[2019-09-23 13:11] stamina84 opened #12362 "Metatag security update"
PR: #12388 - fix og title

Need to update metatag:
https://www.drupal.org/project/metatag/releases/8.x-1.10

[2019-09-23 13:30] stamina84 commented on #12362
Nothing related update db.
QA: Need to check basic metatags in source code what can be set at `/cp/settings/global-settings/seo`

[2019-09-23 13:33] uttkarsh-26 commented on #11721
For Embedding Videos (DIRECTLY ENTERING THE VIDEO URL, not THE EMBED CODE):
We have Youtube and Vimeo support by default with the contrib module we are using.
Adding the video URL like in (a) directly works for YT and Vimeo.

1. Do we need to add more video providers? (Adding embed code like in (b) will still work for all providers but will add that media under `HTML` category like in D7)
In examp

[2019-09-23 13:36] tcheng001 commented on #11002
Mark "Fixed"

[2019-09-23 13:36] #11002 closed

[2019-09-23 13:47] tcheng001 commented on #12186
Moving to "in dev"     Can they be in one line?
![Screen Shot 2019-09-23 at 9 43 11 AM](https://user-images.githubusercontent.com/2111600/65431220-1621ab80-dde7-11e9-977e-51ae40ca38f2.png)

[2019-09-23 13:48] stamina84 commented on #12186
Yes, @mukeyshkumar can you please work on that? I am not sure, what is the exact UI requirement.

[2019-09-23 14:01] tcheng001 commented on #12193
The issue doesn't appear any more.
<img width="1687" alt="Screen Shot 2019-09-23 at 10 00 44 AM" src="https://user-images.githubusercontent.com/2111600/65432370-0e630680-dde9-11e9-9939-86e0082bf491.png">

[2019-09-23 14:17] subhojit777 commented on #12330
suggested machine name `personal-enhanced-member`.

[2019-09-23 14:21] tcheng001 commented on #12340
Publication of Types widget still looks good.
<img width="285" alt="Screen Shot 2019-09-23 at 10 20 29 AM" src="https://user-images.githubusercontent.com/2111600/65433858-cee9e980-ddeb-11e9-80c6-ca938cb78a5c.png">

[2019-09-23 14:21] #12340 closed

[2019-09-23 14:22] Bilsi commented on #12330
is this the name the user will see?
we want the user to see the role as "Basic Member"

[2019-09-23 14:25] subhojit777 commented on #12330
In the UI they will see `Basic member`. In the backend (in the code) the developer will see `enhanced_member`, just to make it concise and avoid any confusion for the maintainers.

[2019-09-23 14:27] subhojit777 commented on #12330
Sounds good. There is a limit in the length of the machine name too, I will check.

[2019-09-23 14:45] tcheng001 commented on #12345
Mark "Fixed"
![Screen Shot 2019-09-23 at 10 40 12 AM](https://user-images.githubusercontent.com/2111600/65435758-073ef700-ddef-11e9-9717-b149448de135.png)

![Screen Shot 2019-09-23 at 10 42 26 AM](https://user-images.githubusercontent.com/2111600/65435705-f0000980-ddee-11e9-8268-bf1d9a8d568a.png)

[2019-09-23 14:45] #12345 closed

[2019-09-23 15:10] rbran100 commented on #11583
@Bilsi can we talk about this tomorrow

[2019-09-23 15:34] tcheng001 commented on #12091
Mark "Fixed"
1. No need to add a leading "/" in url alias.  System will add it automatically if this is not provided by users.

2. If users specify leading "/", that will be fine as well.

[2019-09-23 15:35] stamina84 commented on #12123
@Bilsi I have no information about Slideshow layout, here the D7 form:
![image](https://user-images.githubusercontent.com/3629993/65439103-f0b49200-de26-11e9-92b7-7064ae02b74b.png)

Seems this option can be changed only on form creation, if you edit a Slideshow widget, it can't be changed, is it correct?

**Slide contents**
New slide can be add at widget block (Add slide) in D7:
![image](https://u

[2019-09-23 17:00] tcheng001 opened #12364 "Taxonomy widget failed to be saved in layout"
steps to reproduce:
1. go to layout of http://d8.theopenscholar.com/site01
2. click [Create New Widget]
3. select Taxonomy from the drop-down list
4. enter all necessary fields in [Add new "Taxonomy" Widget] form
5. click Save button in the form
6. the newly created Taxonomy widget is listed in available list
7. drag the Taxonomy widget to a section (right sidebar) of layout. Like this
![Screen Sh

[2019-09-23 17:15] Bilsi commented on #12123
@stamina84 - Only if a wide overlay is selected, the type cannot be changed the images would have to confirm to the new option. The 3 standard options can be changed on edit.
New slides can be added in the edit form. Would also like to add a new image on the widget UI like in d7.

[2019-09-23 17:19] tcheng001 commented on #12268
Mark "Pending"  Unable to place Taxonomy widget in the layout. Please take a look on https://github.com/openscholar/openscholar/issues/12364

[2019-09-24 04:42] subhojit777 commented on #11846
The error says that the machine name is already in use. Can you try using a different and unique machine name. @tcheng001

[2019-09-24 04:43] subhojit777 commented on #11846
The other inputs look good.

[2019-09-24 05:46] subhojit777 commented on #12359
@tcheng001 this has a11y fixes.

[2019-09-24 06:08] mukeyshkumar commented on #12186
Pager ui fixes made in this PR
https://github.com/openscholar/openscholar/pull/12366

[2019-09-24 06:38] subhojit777 commented on #12362
@tcheng001 QA instructions here https://github.com/openscholar/openscholar/issues/12362#issuecomment-534099470

[2019-09-24 08:12] subhojit777 commented on #12124
@uttkarsh-26 Do you think Kiran can look into it?

[2019-09-24 08:18] uttkarsh-26 commented on #12124
This looks vague to me but I am working on embed media only.
Furthermore, for Kiran or anyone to look into it this needs specs I think.

[2019-09-24 08:20] stamina84 commented on #12124
I checked once, and set the form display to embed media was easy, but it doesn't work in widget add modal popup (seems nested modal problem)

[2019-09-24 08:21] stamina84 commented on #12124
![image](https://user-images.githubusercontent.com/3629993/65494377-06709880-deb5-11e9-8cae-a83759e44159.png)

[2019-09-24 08:23] uttkarsh-26 commented on #12124
Ok if this is the widget issue then Kiran can try looking into it, should not conflict with my work

[2019-09-24 08:28] stamina84 commented on #12124
@uttkarsh-26 I think the problem will be here:
`profile/modules/os/modules/os_media/js/MediaBrowserField.js`or `profile/modules/os/modules/os_media/js/MediaBrowserModule.js`

[2019-09-24 09:13] stamina84 commented on #12145
@Bilsi I need help in spec, because the above implementation is about to show/hide button is depends on count of term items (10). But D7 implementation has different logic, it depends on rendered character numbers: `$trim_terms_length = 94;`

[2019-09-24 09:17] kiran-axl opened #12367 "Update Development setup section in Read me doc"
PR (#12368)

If you downloaded latest traefik helper from github, it gives errors with docker. As the latest release from Docker traefik image 2.0 (https://hub.docker.com/_/traefik?tab=tags) has different commands from older version, using this traefik-helper as-is will give errors.

Hence, Development setup section needs an update as new features like entity update and traefik image releases need

[2019-09-24 11:31] subhojit777 opened #12369 "Remove test configs"
**Pull request:**

**Motivation:**
There are some test configs which have been committed to the repo, not sure in which commit.

![image](https://user-images.githubusercontent.com/1435641/65508044-efe63380-deec-11e9-8df5-141f5e46e8c5.png)

**Tasks:**

- [ ] Remove them configs

[2019-09-24 11:34] subhojit777 commented on #12369
Looks like it was a problem in my local. The configs are not present in the repo.

[2019-09-24 11:34] #12369 closed

[2019-09-24 11:44] subhojit777 opened #12370 "Commit message template"
**Pull request:** #12371

**Motivation:**
Now that more and more people are coming into the project, it is becoming tedious to communicate to everyone the standard structure for Git commit messages. Therefore, we need an automated way to follow the structure.

**Tasks:**

- [x] Use `prepare-commit-msg` Git hook to prepare the commit message struture
- [x] Use `install-hooks` script to symlink the

[2019-09-24 11:48] subhojit777 commented on #12370
@rbran100 People will need to create branch in this format `<ticket_number>-<short-description>`, and this hook will automatically pick up the ticket number from the branch name, and it will prepend the text `Issue #<ticket_number> - ` in commit message. Therefore, people can just do `git commit -m "the fix"`, and it will create a commit message `Issue #<ticket_number> - the fix`

[2019-09-24 12:01] mukeyshkumar opened #12372 "Widgets - Add this widget creation accessibility issue"
Widgets - Add this widget creation accessibility issue
- 5x alt tag missing
- 5x aria broken ref
- 1 color contrast

PR: https://github.com/openscholar/openscholar/pull/12374

![addthis-test-before](https://user-images.githubusercontent.com/47223502/65512074-33916b00-def6-11e9-8259-d8d13b7b58b2.png)

[2019-09-24 13:04] tcheng001 commented on #11846
Mark "Pending" @subhojit777   still not able to create custom theme. The vsite crashes when I save the following data.
<img width="1517" alt="Screen Shot 2019-09-24 at 9 02 42 AM" src="https://user-images.githubusercontent.com/2111600/65513928-43835d80-deaa-11e9-84f8-2aa266a0a567.png">

[2019-09-24 13:41] rbran100 commented on #12370
@subhojit777 thanks, I like it when I am forced to do the right thing

[2019-09-24 13:41] #12370 closed

[2019-09-24 13:45] #12367 closed

[2019-09-24 13:58] Bilsi commented on #12145
@stamina84 - Let's keep it based on the number of characters like in d7.

[2019-09-24 14:10] rbran100 commented on #11721
@uttkarsh-26 can you add the embedly oembed provider? that will provide a wide range.

Lets hold off on a blacklist for now, but devlop it with the thought that will will likley add a domain based blacklist later.

Lets also allow the <style> tag, I know that this is not really done but it is a hack that our users have made good use of.

[2019-09-24 14:38] rbran100 commented on #11583
Talked about this with everyone, seems the best solution will be to switch to imagecrop since cropping is the most important and media browser is not a necessity since this is a one time or occasional action.

[2019-09-24 14:50] tcheng001 commented on #12362
@stamina84   is it ok?   Mark "Pending"
 The source doesn't have this line like D7 when I added "Torman Personal Site" to Site Title field

``` <meta property="og:title" content="Torman Personal Site" />```

![Screen Shot 2019-09-24 at 9 41 38 AM](https://user-images.githubusercontent.com/2111600/65517628-0bcbe400-deb1-11e9-9046-79fc892f47c2.png)

[2019-09-24 15:43] tcheng001 opened #12375 "basic page - contextual links"
**PR** - https://github.com/openscholar/openscholar/pull/12655 (closed), #12741

We would like to use basic page to replace booklet.

- [ ] 1. In D7,  basic page has two sets of contextual links. The first set can be accessed from the big gear.
<img width="294" alt="Screen Shot 2019-09-24 at 11 26 16 AM" src="https://user-images.githubusercontent.com/2111600/65525878-2a84a780-debe-11e9-8632-49eab1

[2019-09-24 17:26] tcheng001 commented on #12175
Mark "Fixed"
1. vsite admin is able to create widget
2. vsite admin is able to move widgets around in layout
3. vsite admin is able to remove widgets from layout
4. vsite admin is able to delete widgets from the vsite

[2019-09-24 17:26] #12175 closed

[2019-09-24 19:12] tcheng001 commented on #12303
Mark "Fixed"
1. Autocomplete
<img width="764" alt="Screen Shot 2019-09-24 at 3 04 55 PM" src="https://user-images.githubusercontent.com/2111600/65542421-25832080-dedd-11e9-9a44-b6e882f70798.png">

2. Select List
<img width="234" alt="Screen Shot 2019-09-24 at 3 01 41 PM" src="https://user-images.githubusercontent.com/2111600/65542647-8d396b80-dedd-11e9-995e-6014751f43e9.png">

3. Check Box
<img wi

[2019-09-24 19:12] #12303 closed

[2019-09-25 04:34] mukeyshkumar commented on #12372
**5x alt tag missing is fixed
color contrast fixed**

Remaining Aria ref broken is pending. Need dev help here.

[2019-09-25 04:59] subhojit777 commented on #12372
waiting for answers https://github.com/openscholar/openscholar/pull/12374#issuecomment-534852144

[2019-09-25 10:48] subhojit777 opened #12378 "Expected role not set when adding vsite member from cp users screen"
**Pull request:** #12382

**Steps to replicate:**

1. As vsite admin, visit `/cp/users`
1. Click _Add a member_
1. Expand _Add new user_ and enter the necessary info
1. Select _Administrator_ as _Role_
1. Click _Save_
1. The new user is added as a _member_, not as an _Administrator_
1. The same happens while adding an existing user

**Proposed resolution:**
Incorrect form key is being retrieved he

[2019-09-25 10:48] subhojit777 commented on #12378
@tcheng001 Couldn't find an existing ticket for this. // @Bilsi

[2019-09-25 11:15] rbran100 commented on #12337
@subhojit yes I did, they were empty before I deleted them

[2019-09-25 11:24] uttkarsh-26 commented on #11721
Hi @rbran100,

- Looking into Embedly, I found out that it is a paid service and requires an API key which in turn will have limitations/ cappings too.
- I looked into oEmbed provider's list. This is the current provider's list :
`23HQ, Adways, Alpha App Net, Altru, amCharts Live Editor, Animatron, Animoto, Apester, Archivos, AudioClip, Audiomack, AudioSnaps, Backtracks, Beautiful.AI, Blackfire.io

[2019-09-25 12:03] mukeyshkumar opened #12380 "Widgets - Taxonomy and publication type accessibility issues"
Widgets - Taxonomy, and publication type accessibility issues

**Errors**
Broken ARIA reference

**What It Means**
An aria-labelledby or aria-describedby reference exists, but the target for the reference does not exist.

**Why It Matters**
ARIA labels and descriptions will not be presented if the element referenced does not exist in the page.

PR:
https://github.com/openscholar/openscholar/pull/1

[2019-09-25 12:13] mukeyshkumar opened #12381 "Widgets - color contrast issue"
Widgets - color contrast issue

**Contrast Errors**
Very Low Contrast

**What It Means**
Very low contrast between foreground and background colors.

**Why It Matters**
Adequate contrast is necessary for all users, especially users with low vision.

PR: https://github.com/openscholar/openscholar/pull/12384

[2019-09-25 12:25] tcheng001 commented on #12359
Look good. Mark "Fixed"
<img width="685" alt="Screen Shot 2019-09-25 at 8 24 31 AM" src="https://user-images.githubusercontent.com/2111600/65600346-f4066580-df6d-11e9-9471-3a5b1af1b2c3.png">

[2019-09-25 12:25] #12359 closed

[2019-09-25 12:26] tcheng001 commented on #12354
Mark "Fixed"
<img width="1398" alt="Screen Shot 2019-09-25 at 8 26 15 AM" src="https://user-images.githubusercontent.com/2111600/65600474-2dd76c00-df6e-11e9-9eda-f36f8133581f.png">

[2019-09-25 12:26] #12354 closed

[2019-09-25 12:32] tcheng001 commented on #12378
@subhojit777    Thanks. I see the issue.

[2019-09-25 12:44] subhojit777 commented on #12246
@Bilsi Do you need the `Set as site owner` option as well? As per https://github.com/openscholar/openscholar/issues/11997#issuecomment-517262399, if the user is made a site owner, then he will also become vsite admin, no matter what role you select. // @tcheng001

[2019-09-25 12:45] tcheng001 opened #12383 "term level displayed incorrectly in taxonomy widget"
- [ ] ![Screen Shot 2019-09-25 at 8 39 51 AM](https://user-images.githubusercontent.com/2111600/65601763-ad663a80-df70-11e9-8217-8e36b37fc537.png)

term01-01-01 is a child of term01-01
term01-01-01-01 is a child of term01-01-01

- [ ]  description align with term vertically
![Screen Shot 2019-09-25 at 8 51 33 AM](https://user-images.githubusercontent.com/2111600/65635532-83336d80-dfae-11e9-8aa2-d9

[2019-09-25 12:49] Bilsi commented on #12246
I will create a new ticket for the site owner issue, we want to reconsider the workflow that we have for that now

[2019-09-25 13:03] mukeyshkumar commented on #12381
![color-contast-widget](https://user-images.githubusercontent.com/47223502/65601467-c3e7b280-dfbf-11e9-88b3-aa7a8e244996.png)

[2019-09-25 13:08] tcheng001 opened #12385 "DeleteCancel button in widget forms"
They are not looking good. @mukeyshkumar   Can you make them looking better?  I know that there are still some widgets not ready yet.
![Screen Shot 2019-09-25 at 9 07 33 AM](https://user-images.githubusercontent.com/2111600/65603625-02f01680-df74-11e9-8764-66d66b01a862.png)

PR:https://github.com/openscholar/openscholar/pull/12391

[2019-09-25 13:13] rbran100 commented on #11721
@uttkarsh-26 I like the fact that that is free, we have been using embedly in D7 because it provided so many providers, if we can switch to the custom plugin still cover a good portion of what embedly provides then we should do it, if it is much easier to use embedly or if it will allow us to capture more providers then we can use that.

[2019-09-25 13:16] uttkarsh-26 commented on #11721
@rbran100 , Well there is discussion and a patch to add additional providers here https://www.drupal.org/project/drupal/issues/3008119 and looks like it has a good chance this will get committed to core in coming time so we should be able to add just about any service we like.

[2019-09-25 14:53] Bilsi commented on #11721
@uttkarsh-26 - We do not want to allow the users to upload any videos going forward. So no changes there. In the cp/content/files, audio option stays, video can be removed and all embed files can be under oEmbed, however please rename the work oEmbed to Embeds

[2019-09-25 15:18] tcheng001 opened #12386 "Taxonomy widget: No content is shown if Post Types is set to Determinie for me"
![Screen Shot 2019-09-25 at 11 10 16 AM](https://user-images.githubusercontent.com/2111600/65614163-27082380-df85-11e9-9a57-dc2aa320b21e.png)

I placed the widget to the layout of All Pages. However, the widget shows no term tagged to any posts in all pages.
<img width="306" alt="Screen Shot 2019-09-25 at 11 16 54 AM" src="https://user-images.githubusercontent.com/2111600/65614654-0391a880-df86-11

[2019-09-25 15:22] tcheng001 commented on #12364
Closing - I don't the issue anymore.

[2019-09-25 15:22] #12364 closed

[2019-09-25 15:24] tcheng001 commented on #12268
@stamina84
![Screen Shot 2019-09-25 at 11 10 16 AM](https://user-images.githubusercontent.com/2111600/65614163-27082380-df85-11e9-9a57-dc2aa320b21e.png)

I placed the widget to the layout of All Pages. However, the widget shows no term tagged to any posts in all pages.
<img width="306" alt="Screen Shot 2019-09-25 at 11 16 54 AM" src="https://user-images.githubusercontent.com/2111600/65614654-0391a

[2019-09-25 15:26] tcheng001 commented on #12386
Closing - add this issue to #12268

[2019-09-25 15:26] #12386 closed

[2019-09-25 15:29] stamina84 commented on #12268
@tcheng001 I mentioned this a couple of months ago, I am not sure is it implented already or not?
https://github.com/openscholar/openscholar/issues/11015#issuecomment-489071735
@Bilsi @rbran100

[2019-09-25 15:39] tcheng001 commented on #12268
@stamina84   Just talked with Bilsi.  We will do [Determine to me] later.  I am closing this ticket now.

[2019-09-25 15:39] #12268 closed

[2019-09-25 15:44] tcheng001 commented on #12186
Mark "Fixed"
Pagers look in Publication By Authors, Publication By Types and Publication By Years widget.
<img width="320" alt="Screen Shot 2019-09-25 at 11 43 48 AM" src="https://user-images.githubusercontent.com/2111600/65616869-c3ccc000-df89-11e9-81be-c5b5fecd9a8c.png">

[2019-09-25 15:44] #12186 closed

[2019-09-25 15:46] Bilsi opened #12387 "Unable to add a new user"
**Pull request:** #12432

![Screen Shot 2019-09-25 at 11 42 19 AM](https://user-images.githubusercontent.com/11841641/65616750-92ec8b00-df89-11e9-89f7-0675e232b502.png)

It throws a console error

![Screen Shot 2019-09-25 at 11 46 11 AM](https://user-images.githubusercontent.com/11841641/65617056-16a67780-df8a-11e9-8346-78ff0a1c9fe8.png)

[2019-09-25 16:02] Bilsi opened #12389 "Set as site owner"
**Pull request:**

### Motivation:
Add the set as site owner checkbox as shown below.
![Screen Shot 2019-09-25 at 12 01 31 PM](https://user-images.githubusercontent.com/11841641/65618440-46567f00-df8c-11e9-8cba-f8568d09a2d3.png)

Only the site owner and user 1 should see or be able to set a member to a site owner role.

![Screen Shot 2019-09-25 at 12 00 25 PM](https://user-images.githubusercontent

[2019-09-25 16:45] rbran100 commented on #12337
It looks like despite the slick package having ```"type": "drupal-library",``` it is installing it in the vendors folder instead of "libraries"

[2019-09-25 17:52] tcheng001 opened #12390 "Remove Book Outline from node forms"
PR: #12970

we don't need this meta data [BOOK OUTLINE] for node forms
![Screen Shot 2019-09-25 at 1 50 48 PM](https://user-images.githubusercontent.com/2111600/65626556-9c7eee80-df9b-11e9-80f6-3b372ba76371.png)

[2019-09-25 18:02] tcheng001 commented on #12299
Can't see the issue any more.  Closing it.

[2019-09-25 18:41] tcheng001 commented on #11851
Fixed

[2019-09-25 18:41] #11851 closed

[2019-09-25 19:08] tcheng001 commented on #11146
Fixed - Closing.

[2019-09-25 19:08] #11146 closed

[2019-09-25 19:39] #11005 closed

[2019-09-25 20:49] rbran100 commented on #12364
@tcheng001 this was a JS issue

[2019-09-25 21:02] rbran100 commented on #11921
Updated description above, some of this has been fixed and two smaller issues remain.

[2019-09-26 04:54] uttkarsh-26 commented on #11721
I didn't really get this.
1. Do we want to keep the `Video` option in the media browser or we want to remove it? If we remove it , existing ones won't be visible in previously uploaded files even if migrated.
2. We do not allow any sort of video uploads?
@Bilsi

[2019-09-26 06:55] mukeyshkumar commented on #12385
@tcheng001
I made small fixes please review. Attaching screenshot
![widget-delete](https://user-images.githubusercontent.com/47223502/65665237-baf6ef80-e058-11e9-9698-9e56491b5bfc.png)
 for ref.

[2019-09-26 07:57] subhojit777 opened #12392 "Fix shell incompatibility in prepare-commit-msg script"
**Pull request:** #12393

**Motivation:**
People using bash shell for development are getting error during Git commit.

[code]

It is because the script is incompatible to bash, however it works fine on zsh.

**Tasks:**

- [x] fix the problem.

[2019-09-26 08:01] subhojit777 commented on #12392
@rbran100 I have merged it, as it didn't concern the actual system.

[2019-09-26 08:01] #12392 closed

[2019-09-26 09:02] subhojit777 commented on #12372
@tcheng001 a11y fixes done here.

[2019-09-26 09:37] chander-b commented on #12144
PR:https://github.com/openscholar/openscholar/pull/12394

Created a new HTML filter for the editor, fixed above issues.

[2019-09-26 09:49] subhojit777 commented on #12246
@Bilsi Do you need an option to put a description while creating custom roles?

[2019-09-26 11:06] #11017 closed

[2019-09-26 11:35] Bilsi commented on #12246
@subhojit777 - we do not have it in d7, but may make a good addition. Let us look into it later, it isnt urgent. As of now, don't add a description field for custom roles

[2019-09-26 11:58] rbran100 commented on #12337
The slick library was getting downloaded from the wrong repo and this was putting it in the vendor folder, everything was fixed yesterday and I forgot to update the ticket this should be ready for QA now.

[2019-09-26 12:06] mukeyshkumar commented on #12383
@tcheng001

**can you please share some d7 ref for slide-down description?**

[2019-09-26 12:23] tcheng001 commented on #12385
That looks great.

[2019-09-26 12:25] mukeyshkumar commented on #12383
I have fixed the first two points. Attaching screenshot for ref.

![slidedown-taxonomy](https://user-images.githubusercontent.com/47223502/65687364-e2fd4780-e086-11e9-83b9-82ae8eb1ccbc.png)

[2019-09-26 13:03] chander-b commented on #12144
@rbran100 @subhojit777

I have created new custom purify HTML filter for CKEditor for fix above issue, it is working fine now.

I have used the external library "htmlpurifier"
 link: http://htmlpurifier.org/

I have done some modifications in the existing test "testBuildSuspiciousBody"

[code]
The htmlpurifier removing the script tag and its content and creating different p tag for Lorem and Ipsum

[2019-09-26 13:33] uttkarsh-26 commented on #11721
As discussed yesterday on call, I tested integration with Embedly.
Looks like we are good. Also, I have started the implementation for the same in my local.
I guess we will go ahead with Embedly itself then? @rbran100 @Bilsi

[2019-09-26 13:40] rbran100 commented on #11721
@uttkarsh-26 I think that will have less maintenance costs in the long run, lets go with embedly

[2019-09-26 13:44] Bilsi commented on #11721
@uttkarsh-26 - we do not want videos to be uploaded anymore. When we migrate, we will move the video files over, so the users do not lose them, but of course they cannot be displayed. And that is alright, that is a change we have to force them to make.
In d8 currently, we do not allow video files to be uploaded. Is that correct?
Let us leave it that way and remove the video option in cp/content/fi

[2019-09-26 13:50] uttkarsh-26 commented on #11721
We actually allow video uploads so that I will need to disallow. Should not be an issue.
Also, the video file media entity will exist but will not appear in the media browser or cp/content/files.

[2019-09-26 14:43] tcheng001 commented on #11810
Mark "Fixed"
I am able to upload
1. from [Upload from your computer]
2. from [Previously uploaded files]
<img width="1121" alt="Screen Shot 2019-09-26 at 10 30 57 AM" src="https://user-images.githubusercontent.com/2111600/65698280-4321c880-e04a-11e9-8634-6bb8c0670b0b.png">
<img width="1296" alt="Screen Shot 2019-09-26 at 10 42 05 AM" src="https://user-images.githubusercontent.com/2111600/65698315-

[2019-09-26 14:43] #11810 closed

[2019-09-26 14:52] tcheng001 commented on #12154
Mark "Fixed"

test case | where I log in | where it redirects after logging in
--------| ------| --------
1 | http://d8.theopenscholar.com/site05/  | http://d8.theopenscholar.com/site05
2 |  http://d8.theopenscholar.com/site05/news | http://d8.theopenscholar.com/site05/news
3 | http://d8.theopenscholar.com/site05/news/news-998 | http://d8.theopenscholar.com/site05/news/news-998
4 | http://d8.theop

[2019-09-26 14:52] #12154 closed

[2019-09-26 15:02] tcheng001 commented on #12372
Mark "Fixed"
AddThis widget is working as expected.

[2019-09-26 15:02] #12372 closed

[2019-09-26 17:20] tcheng001 commented on #12337
Moving to "in dev"
Left arrow in light box is not working. Test on http://d8.theopenscholar.com/site05/
![Screen Shot 2019-09-26 at 1 18 46 PM](https://user-images.githubusercontent.com/2111600/65710150-6c4d5380-e060-11e9-8a54-ec9644f7be40.png)

[2019-09-27 04:59] subhojit777 commented on #12144
What Chander means here is: If a user entered `Lorem <script>malicious code</script> Ipsum` in ckeditor, then Drupal used to strip just the `<script>` tags, but it retained the textual representation of malicious code. So it looked like, `<p>Loremvar malicious code; Ipsum</p>`.

With the changes Chander made, it will look like this `<p>Lorem</p><p>Ipsum</p>` - after the stripping. **Note that, it

[2019-09-27 05:05] subhojit777 commented on #12144
@chander-b Lets wait for the confirmation. You can put this ticket to `needs review` or `in dev` accordingly.

[2019-09-27 05:07] chander-b commented on #12144
@subhojit777 sure thanks.

[2019-09-27 05:12] subhojit777 commented on #12381
@tcheng001 a11y fixes done here. Also, the buttons are appearing in separate lines in this screen. Would that be okay?

![image](https://user-images.githubusercontent.com/1435641/65743722-74b29680-e113-11e9-878d-028f6bed3579.png)

[2019-09-27 05:18] subhojit777 commented on #12385
pending cause https://github.com/openscholar/openscholar/pull/12391#issuecomment-535789808

[2019-09-27 05:26] mukeyshkumar commented on #12385
@subhojit777
Attached new screenshot after merge.

[2019-09-27 06:38] kiran-axl commented on #12124
@subhojit777 is looking into it
cc: @Bilsi @rbran100

[2019-09-27 06:51] subhojit777 opened #12398 "Super admin cannot place widgets"
**Pull request:** #12412

**Steps to replicate:**

1. Login as user 1 (super admin)
1. Visit a vsite's home page
1. Click _Place block_
1. Click _Create new widget_
1. Choose any widget type
1. You will not see the modal to create the new widget
1. In browser console you will see error code 403

**Proposed resolution:**
Check the code changes done in https://github.com/openscholar/openscholar/issu

[2019-09-27 06:52] subhojit777 commented on #12398
@tcheng001 saw this today. // @Bilsi

[2019-09-27 07:44] subhojit777 commented on #12124
I spent around an hour to identify the problem. At first I thought that, the modal form is not requiring necessary libraries, therefore, I explicitly added the required libraries (even though they should be automatically loaded by the widget itself), but still it didn't work.

Widget placement is built on top of `block_place` module, and some customizations done in `os_widgets`. I guess, we should

[2019-09-27 08:50] mukeyshkumar commented on #12337
Left arrow fixed in this PR: https://github.com/openscholar/openscholar/pull/12399

[2019-09-27 10:46] subhojit777 commented on #12380
@tcheng001 a11y fixes done here.

[2019-09-27 12:42] Bilsi commented on #12381
@mukeyshkumar - can they be on the same line?

[2019-09-27 12:54] Bilsi commented on #12381
can the buttons be on the same line?

[2019-09-27 12:55] mukeyshkumar commented on #12381
@Bilsi
button alignment fixed in this PR: https://github.com/openscholar/openscholar/pull/12401

[2019-09-27 12:57] mukeyshkumar commented on #12381
Attaching screenshot for ref.

![button-fxies](https://user-images.githubusercontent.com/47223502/65770785-72246100-e154-11e9-8e08-2acdc2a54e7d.png)

[2019-09-27 13:07] tcheng001 commented on #12334
duplicate of #12123 -  Closing it.

[2019-09-27 13:07] #12334 closed

[2019-09-27 13:24] tcheng001 commented on #12381
@Bilsi    we don't need this ticket because there is no more Basic Block widget.

[2019-09-27 13:35] #12381 closed

[2019-09-27 13:36] Bilsi commented on #12144
@subhojit777 @chander-b - yes, this works. The script tag and the code are removed, so that is fine for us.

[2019-09-27 13:57] tcheng001 commented on #12383
For QA info only:
![Screen Shot 2019-09-27 at 9 56 00 AM](https://user-images.githubusercontent.com/2111600/65774837-0d91e380-e10d-11e9-92ea-4faf22a7e788.png)
![Screen Shot 2019-09-27 at 9 56 37 AM](https://user-images.githubusercontent.com/2111600/65774892-21d5e080-e10d-11e9-857a-d1106ae07f53.png)

[2019-09-27 14:09] tcheng001 commented on #12383
Mark "Pending"
@mukeyshkumar   Are you still working on the issue 3?   In D7, the description will pop up when mouse pointer hovers the terms.
![IMG_6551-min](https://user-images.githubusercontent.com/2111600/65775708-b2f98700-e10e-11e9-9f9c-04ba663d3212.png)

[2019-09-27 15:28] tcheng001 commented on #12380
Mark "Fixed"
![Screen Shot 2019-09-27 at 11 25 53 AM](https://user-images.githubusercontent.com/2111600/65781426-9ca4f880-e119-11e9-8dec-20046db26831.png)
![Screen Shot 2019-09-27 at 11 27 58 AM](https://user-images.githubusercontent.com/2111600/65781600-e988cf00-e119-11e9-9e1f-4629e2edfc70.png)

[2019-09-27 15:28] #12380 closed

[2019-09-27 17:20] tcheng001 opened #12403 "Taxonomy widget: Bundle dropdown doesn't update when vocabulary is changed"
PR: https://github.com/openscholar/openscholar/pull/12519

- [x] 1.
a. vocabulary is set to vocab-news
b. Select post type in Post Types
c. click down arrow from Bundle
Note: it lists News
d. Select vocab-blog in Vocabulary
e. click down arrow from Bundle
Note: no content in Bundle is showed
If I click Save button to save the form and reopen it, then blog will appear in Bundle.

![taxonomy-issue](

[2019-09-27 17:47] tcheng001 commented on #12319
Moving to "in dev" @mukeyshkumar    Left arrow not working
![Screen Shot 2019-09-27 at 1 46 22 PM](https://user-images.githubusercontent.com/2111600/65790287-535ea400-e12d-11e9-8f11-9a2736f2eaa5.png)

[2019-09-27 18:49] rbran100 commented on #12124
I really don't have much to add, you are following a good path in debugging, I would force load the library and if that does not work then I would look to see where angular is failing to trigger (if that is the case).  I looked at it for a second and did not see the js on the page so that may be the case.

[2019-09-30 05:18] kiran-axl opened #12404 "New user for Vsite is unable to see admin options until cache clear"
**Pull request:** #12416

**Steps to reproduce:**

- Browser window 1 - Create a new user for a Vsite, make sure that it is a _Basic member_
- Browser window 2 - Login as the new user and visit vsite
- Browser window 1 - Click _Change role_ for the new user, and assign 'Administrator' role for that user.
- Browser window 2 - Even though, the user accesses the site, user is unable to see admin opti

[2019-09-30 05:55] subhojit777 commented on #12404
FYI @tcheng001

[2019-09-30 10:42] mukeyshkumar commented on #12383
description fixed in this pr
https://github.com/openscholar/openscholar/pull/12405

[2019-09-30 12:44] uttkarsh-26 commented on #11685
This will be fixed as part of https://github.com/openscholar/openscholar/pull/12365

[2019-09-30 13:15] kiran-axl commented on #12279
@tcheng001 , On selecting "All pages" context, the layout changes appear in all pages. Isn't it the expected behavior? Please elaborate.

[2019-09-30 13:24] dancabral commented on #12131
@mukeyshkumar can you apply this CSS to the preview form element? The functionality is cool.

   position: fixed;
    width: 380px;
    height: 100px;
    right: 0;
    top: 50px;
    z-index: 1040;
    background: #F7F9FB;
    padding: 20px;
    border: 1px solid #E2E8EF;

![previewing](https://user-images.githubusercontent.com/867075/65882891-f1d44a80-e363-11e9-849d-c1b7ce84ba4a.png)

@Bilsi

[2019-09-30 15:05] stamina84 opened #12406 "Enhance composer config"
PR: https://github.com/openscholar/openscholar/pull/12407

- set optimize-autoloader true
- set sort-packages true
- convert colorbox plugins into updatable npm-assets (optional)
- add composer helper sh

Nothing to QA.

[2019-09-30 19:18] ebremner17 opened #12408 "Drupal make file does not build correctly"
When using the drupal-org.make file, there are numerous errors when trying to update contrib modules.  The largest is that file_entity is pointed at the wrong revision and patches.  When using media version 2.1, it states that file_entity update 7210 must be run before media update 7212.  If you use the version of file_entity that is currently in the drupal.org make file, there is no update 7210 i

[2019-09-30 19:23] ebremner17 opened #12409 "Updated media causes Fatal Errors, calling to undefined function"
When using the updated version of contrib Media 2.1, there is a function call to media_filter that does not exists, it should be media_wysiwyg_filter.  So line 2573 of os_files.module should now read:
$text = media_wysiwyg_filter($text);

This also requires that media_wysiwyg module is enabled, so there needs to be an update hook placed somewhere to ensure that this happens.

[2019-09-30 19:37] ebremner17 opened #12410 "Flag module prevents updates from finishing"
Contrib module flag prevents updates from finishing, due to using a string rid instead of integer.  Added patch to D.O. flag issue queue, suggest update the drupal-org make file for flag to use the following:
projects[flag][subdir] = "contrib"
projects[flag][version] = 3.9
projects[flag][patch][] = "https://www.drupal.org/files/issues/2019-09-30/3084742-fix-update-hooks.patch"

[2019-10-01 04:58] uttkarsh-26 commented on #11897
Hi, @tcheng001  which Files should be displayed like that?
Can you please confirm once about each file type as how they should be displayed in the front end:
Audio
Document
Embeds
Executable
HTML
Icon
Image
Presentation Materials

cc @Bilsi

[2019-10-01 06:26] uttkarsh-26 commented on #11721
@tcheng001 ,
 I have imported the config and ran all commands to test this on my end on demo.
Also, I have not exported the embedly api key provided by Richard in the config but I have put it manually in the settings form on demo for testing so it should work fine. cc @rbran100

[2019-10-01 09:29] stamina84 commented on #12406
Checked all custom composer package in our json, but sadly ckeditor4 and libraries are not found at https://asset-packagist.org/. Seems only ckeditor5 will recomended.

But the composer json is ready to review.

[2019-10-01 10:38] stamina84 commented on #12145
Reviews are fixed or replied

[2019-10-01 11:35] kiran-axl commented on #12171
Following are my observations:
Widgets from All_pages are placed at a higher weight and because of this, even if we move the widgets placed on All Pages to a different region in custom pages (/blog, /news). Widgets doesn't change to the updated region.
I tried saving all blocks directly for each page, but All_pages widgets are overriding while rendering on pages.
Removed reversal order of contexts

[2019-10-01 12:28] tcheng001 commented on #12279
@kiran-axl    I can't reproduce the issue anymore.  We can close this ticket now.
What I mean is widgets showed up in node's edit form.

[2019-10-01 12:48] chander-b commented on #12375
@Bilsi @tcheng001

**Outline
Edit
Delete
[Add New] should have 1. Subpage and 2. Existing Page to Section like D7**

For these above options right now I am adding in the core contextual links but in D7  [Add New]  is different contextual links, So it is fine under the core contextual links or needs to create same as D7

when we click on **Existing Page to Section** link in D7 it will open in a pop

[2019-10-01 13:07] subhojit777 commented on #12387
Moving to current milestone, as I might work on this tomorrow.

[2019-10-01 13:13] tcheng001 commented on #11897
@uttkarsh-26    I might not be the best person to answer it.   But here is an example in D7.
https://scholar.harvard.edu/tcheng10/news/test-attached-non-image-files-listing?admin_panel=1
1. image and HTML (video from vimeo) are shown in carousel.
2  all other files are listed below with their sizes.

I tried to attach an iframe. It shows up in the node's form but not in full node view.  I never tr

[2019-10-01 13:37] tcheng001 commented on #12375
I think we should move [Subpage] and [Existing Page to Section] to [Add New] button like D7 because all content types are designed in the similar fashion.
![Screen Shot 2019-10-01 at 9 32 25 AM](https://user-images.githubusercontent.com/2111600/65966765-902ce280-e42e-11e9-967f-3b5922fda8d0.png)

I prefer seeing a popup when selecting an Existing Page to Section. @Bilsi, any input?

[2019-10-01 13:45] Bilsi commented on #11897
@uttkarsh-26 - Images are the only content type that should be shown in the carousel. Everything else should be in the listing

[2019-10-01 13:45] rbran100 commented on #12171
@kiran-axl I was already looking into this, it should have been assigned to me, going to take it since I am already familiar with how this *should* work

[2019-10-01 14:38] tcheng001 commented on #12208
@mukeyshkumar   I dont see the change.  Could you check?
I tested on http://d8.theopenscholar.com/site05
The site's theme is set to College.

<img width="580" alt="Screen Shot 2019-10-01 at 10 36 10 AM" src="https://user-images.githubusercontent.com/2111600/65972215-8196f900-e437-11e9-8f28-92fc6ab79998.png">

[2019-10-01 14:41] ebremner17 commented on #12408
See patch:
diff --git a/openscholar/drupal-org.make b/openscholar/drupal-org.make
index 5cf546e..f4fa912 100644
--- a/openscholar/drupal-org.make
+++ b/openscholar/drupal-org.make
@@ -147,10 +147,7 @@ projects[field_redirection][version] = 2.5

 projects[file_entity][subdir] = "contrib"
 projects[file_entity][download][type] = git
-projects[file_entity][download][branch] = 7.x-2.x
-projects[file_e

[2019-10-01 14:46] ebremner17 opened #12413 "Upgrading to Media 2.1 causes undefined function error"
After updating to Media 2.1, there is an error about undefined function:
Fatal error: Call to undefined function media_include_browser_js() in multiple places.

Adding the following patch to dragndropupload seems to fix a majority of them:
https://www.drupal.org/files/issues/dragndrop_upload-media-2x-support-2237779-9.patch.

The last error with this is that os_wysiwyg_link with respect the undefi

[2019-10-01 15:08] tcheng001 commented on #12385
Mark "Fixed"
<img width="688" alt="Screen Shot 2019-10-01 at 11 07 51 AM" src="https://user-images.githubusercontent.com/2111600/65974897-c1f87600-e43b-11e9-87c0-3405fe0cef8c.png">

[2019-10-01 15:08] #12385 closed

[2019-10-01 15:24] ebremner17 opened #12414 "vsite update deletes any custom content"
The update in the vsite module 7041 has the following code:

function vsite_update_7041(&$sandbox) {
  $excepted_node_types = array(
    'personal',
    'department',
    'project',
  );

This will delete any custom code that is put on top of openscholar core, so for example if you have a custom content type that is being used in openscholar, it will delete every instance of that content type.  I

[2019-10-01 17:24] tcheng001 commented on #12337
Mark "Fixed"
Both left and right arrow work correctly.
<img width="1026" alt="Screen Shot 2019-10-01 at 1 24 10 PM" src="https://user-images.githubusercontent.com/2111600/65984943-d3974900-e44e-11e9-95b4-041ff05c9fb5.png">

[2019-10-01 17:24] #12337 closed

[2019-10-01 17:39] tcheng001 commented on #12319
Mark "Pending"
It works now.  But I found images' size in carousel mode is much smaller than those in grid mode.
![Screen Shot 2019-10-01 at 1 33 38 PM](https://user-images.githubusercontent.com/2111600/65985663-405f1300-e450-11e9-849c-ca8be80ba30a.png)

![Screen Shot 2019-10-01 at 1 37 17 PM](https://user-images.githubusercontent.com/2111600/65985912-cc713a80-e450-11e9-9004-167dbec991ac.png)

[2019-10-01 18:14] Bilsi commented on #12375
@chander-b - Updated the ticket, since we do not have an add new button, it changes the req. Let me know if you have any questions

[2019-10-01 18:17] Bilsi commented on #12319
@mukeyshkumar - please make it consistent, also we need the arrows on either side

[2019-10-01 19:21] tcheng001 commented on #12383
Mark "Fixed"
1. Term level is working correctly
2. Term description is popped up properly in Slidedown mode

[2019-10-01 19:21] #12383 closed

[2019-10-01 19:40] tcheng001 commented on #12378
Mark "Fixed"
Able to add an existing user of vsite admin
Able to add a new user of vsite admin
Able to add a new user of basic member

[2019-10-01 19:40] #12378 closed

[2019-10-01 19:55] tcheng001 commented on #12362
Mark "Fixed"
![Screen Shot 2019-10-01 at 3 53 44 PM](https://user-images.githubusercontent.com/2111600/65995612-e1a39480-e463-11e9-903e-24abd4d302f1.png)

[2019-10-01 19:55] #12362 closed

[2019-10-01 20:00] tcheng001 commented on #11721
@uttkarsh-26    Unable to embed this https://vimeo.com/207028770      Do I need to set something  up first?

[2019-10-02 04:37] mukeyshkumar commented on #12208
@tcheng001
My mistake the attached screenshot in the description from the crimson theme not from college.

Also in d7 college theme block title has the same UI as attached above.
![collge](https://user-images.githubusercontent.com/47223502/66018380-6fcb5980-e4fc-11e9-820a-a9c810eecf57.png)

[2019-10-02 04:46] mukeyshkumar commented on #12131
@dancabral
Theme preview UI change is done on the demo. Please review.

[2019-10-02 04:59] uttkarsh-26 commented on #11721
Yes @tcheng001 ,
I checked and Embedly api key is missing.
I think a cim would have been run so what it does is, it deletes the Embedly API key,
so for testing this please check if Embedly API key is entered here(http://d8.theopenscholar.com/admin/media/embedly/settings) or not. If not please enter and Save the `Embedly Api key` with the key I have sent you in DM on slack.

[2019-10-02 05:55] subhojit777 commented on #11721
@uttkarsh-26 Please put the api key inside config_split `local`

[2019-10-02 05:57] subhojit777 commented on #11899
PR merged already. Moving it to QA.

[2019-10-02 08:19] uttkarsh-26 commented on #12167
Hi @tcheng001 , Please QA this, it should be fixed already as part of other media browser fixed issues.

[2019-10-02 08:47] uttkarsh-26 commented on #11749
I know we are not allowing users to upload video uploads in Media Browser and also they will not be able to see existing videos there.
But what about on this page: `/cp/content/media`?
Should the `Video` category be visible to show videos that are already there in D7?
Below is the current screenshot with available options:
![Screenshot 2019-10-02 at 2 09 15 PM](https://user-images.githubuserconten

[2019-10-02 10:00] mukeyshkumar opened #12419 "ckeditor table cell property text alignment issue"
CKEditor table-cell property text alignment issue

**Steps to replicate**
1. Create table in CKEditor in any node
2. then right-click on the table in CKEditor then cell and then cell properties
![table](https://user-images.githubusercontent.com/47223502/66035610-13cafa00-e529-11e9-90a1-b469efac9b6a.png)
3. In cell property screen background color and border color text is not aligned
![cell](https:

[2019-10-02 10:05] mukeyshkumar commented on #12419
Attaching screenshot after fixes.
![CELL-AFTER](https://user-images.githubusercontent.com/47223502/66036218-50e3bc00-e52a-11e9-864a-7ee7e121392f.png)

[2019-10-02 10:45] Bilsi commented on #11749
@uttkarsh-26 - I mentioned in the previous comment, we do not need to show videos here anymore. And yes, Remote videos will fall under Embeds.

[2019-10-02 11:12] subhojit777 commented on #12356
@tcheng001 Did you mean editing a publication redirects to incorrect location? Is the redirect correct for creating new publication? Please mention steps to replicate. Please mention the whether you are editing via contextual link, or via `Edit` tab.

[2019-10-02 11:13] kiran-axl commented on #12124
@rbran100 , I tried loading MediaBrowserField library (including MediaBrowserModule and other js) on every page and tried debugging MediaBrowserField.js.

Directives declared in MediaBrowserField.js is not called during page/modal load. This might be because of the directive is unable to find the target div on page and scripts are not executed on Bootstrap modal.
cc: @subhojit777

[2019-10-02 11:19] subhojit777 commented on #12283
@Bilsi I have assigned this to Kiran.

[2019-10-02 11:20] subhojit777 commented on #12356
@Bilsi I have assigned this to Kiran.

[2019-10-02 11:42] stamina84 opened #12422 "Create local_config directory in setup"
If `local_config` directory is missing, can not be export config in local because of config split.

We should create this directory on composer install, if not exists

Nothing to QA in this ticket.

[2019-10-02 11:59] mukeyshkumar commented on #12319
Image and arrow issue fixed in this PR: https://github.com/openscholar/openscholar/pull/12418

[2019-10-02 12:36] tcheng001 commented on #12208
Look good. Mark "Fixed"
<img width="1001" alt="Screen Shot 2019-10-02 at 8 36 15 AM" src="https://user-images.githubusercontent.com/2111600/66044532-be262b80-e4ef-11e9-8944-295b633e64a7.png">

[2019-10-02 12:36] #12208 closed

[2019-10-02 12:41] kiran-axl commented on #12037
Raised PR https://github.com/openscholar/openscholar/pull/12423 for this change on Presentation content type. Please review.

[2019-10-02 13:39] Bilsi commented on #11897
Presentation materials can be removed. Any power point slides should be displayed under document.

[2019-10-02 13:48] Bilsi commented on #11897
Let us only display images in the carousel, not videos

[2019-10-02 13:54] rbran100 commented on #12124
Related to #12125

[2019-10-02 14:07] tcheng001 commented on #12356
@subhojit777    I can't reproduce the issue any more.  closing this ticket.

[2019-10-02 14:07] #12356 closed

[2019-10-02 14:37] Bilsi commented on #11897
Remove Presentation Materials, Icon and HTML.

Ico files was used for favicons, we now use png for that. Existing ico files can be displayed undr images. HTML displayed html and css added into widgets, it can be covered under embeds.

[2019-10-02 14:54] tcheng001 commented on #12145
@stamina84   Can you remove the blank space right behind terms?
![Screen Shot 2019-10-02 at 10 53 38 AM](https://user-images.githubusercontent.com/2111600/66055070-fb47e900-e502-11e9-855f-ba41bb77d91c.png)

[2019-10-02 14:54] rbran100 commented on #11721
@tcheng001 I checked in the key to the local config for the server, can you let me know if you see it now?

[2019-10-02 15:16] tcheng001 commented on #11721
@rbran100
1. In WYSIWYG, uploading a URL from youtube doesn't have any error. However, the uploaded file is not showed up in the editor.
2. Able to upload a URL from Youtube as attachment.  - I guess that the settings should be good.

[2019-10-02 17:47] tcheng001 commented on #11899
Moving to "in dev". Still see some issues:
1. text is aligned horizontally in the middle of image. It looks normally in WYSIWYG, but not in page
<img width="1290" alt="Screen Shot 2019-10-02 at 1 28 03 PM" src="https://user-images.githubusercontent.com/2111600/66066932-87184000-e518-11e9-81cc-a06d02be1bab.png">

<img width="1187" alt="Screen Shot 2019-10-02 at 1 28 44 PM" src="https://user-images.

[2019-10-02 17:53] tcheng001 commented on #12398
work as expected.  Mark "Fixed"
1. able to create new widget
2. able to move widgets around in layout

[2019-10-02 17:53] #12398 closed

[2019-10-02 18:30] ebremner17 opened #12426 "warnings about mismatched function calls vsite"
in vsite, there are warnings about mismatched function calls:
Declaration of vsite::router($op, $node = NULL) should be compatible with space_og::router($op, $object = NULL, $is_active = true) vsite.inc:13

so in vsite under plugins/vsite.inc, line 117 needs to be changed to:
 public function router($op, $node = NULL, $is_active = true) {

to match what is in og_spaces

[2019-10-02 18:55] tcheng001 commented on #12144
Mark "Fixed"
<img width="357" alt="Screen Shot 2019-10-02 at 2 44 36 PM" src="https://user-images.githubusercontent.com/2111600/66072519-30643380-e523-11e9-82a5-51b0828afad9.png">
<img width="487" alt="Screen Shot 2019-10-02 at 2 45 21 PM" src="https://user-images.githubusercontent.com/2111600/66072572-4a057b00-e523-11e9-9fca-7088548f57d1.png">
<img width="786" alt="Screen Shot 2019-10-02 at 2 46

[2019-10-02 18:55] #12144 closed

[2019-10-02 19:10] tcheng001 commented on #12330
Why there are 2 basic member roles?  @subhojit777
tested on http://d8.theopenscholar.com/tusers/cp/users/permissions
![Screen Shot 2019-10-02 at 3 08 38 PM](https://user-images.githubusercontent.com/2111600/66074223-b5048100-e526-11e9-933f-d3521afa4590.png)

[2019-10-02 19:35] ebremner17 opened #12427 "Updating media causes undefined error and stops pages from loading"
When updating D.O. to media 2.1, the media_filter function is no longer present and has to be replaced with media_wysiwyg_filter, this happens in os.module, which causing an undefined function error and causing pages, such as classes, to not load.

os.module on line 3747 needs to be changed to:
$text = views_trim_text($alter, media_wysiwyg_filter($text));

[2019-10-02 20:00] tcheng001 opened #12428 "Attachment files replaced by media file in the WYSIWYG"
steps to reproduce:
1. open a news node
2. attach file-a
3. attach file-b
4. go to the WYSIWYG editor (body)
5. click Embed Media button
Note: Media Browser opens with Upload from your computer tab available
6. drag an image file (file-c) to there, enter alt text, and click Save
Note:
a. Media Browser's file form closes and the image shows in WYSIWYG
b. the image file (file-c) replaces the origina

[2019-10-02 20:03] rbran100 commented on #11899
@chander-b can you confirm that all of the normal site CSS is loaded when the wysiwyg is displayed.  If it is still the filter that is removing inline styles then can we change the filter so that it still limits the tags allowed but also allows inline styles like the kind that we are using?

[2019-10-02 20:09] rbran100 commented on #12283
@kiran-axl see AppPluginBase which will have the function to get the create links.
It could be that when OsAppAccessMenuLink gathers the links for the menu that it shouldn't be sending those links, otherwise it is likely related to the access function node.add

[2019-10-02 20:11] rbran100 commented on #12375
@chander-b Bilsi and I removed the "Add new" items, they are no longer going to be in the contextual link since they really don't belong there.

So that will limit things to only using the "normal" contextual link.  This can be used everywhere the contextual link would normally show.

[2019-10-03 05:22] subhojit777 commented on #12406
@rbran100 @Bilsi I am closing this ticket as it is composer level and does not affects the system. // @tcheng001

[2019-10-03 05:22] #12406 closed

[2019-10-03 05:51] mukeyshkumar opened #12429 "Keyboard accessibility - User should be able to create node through keyboard"
Keyboard accessibility - Users should be able to create nodes through the keyboard.
**Issues:**

- [x] 1. Keyboard focus lost when a user uses upload media.
- [x] 2. http://d8.theopenscholar.com/site01/node/add/blog - tabbing through the keyboard does not stop at the text format dropdown and also bypasses the revision log message
- [x] 3. Previously uploaded files, the file list is not accessible

[2019-10-03 07:21] mukeyshkumar opened #12430 "Ckeditor - Large image upload through ckeditor has an issue"
CKEditor - Large image upload through CKEditor has an issue

**Steps to replicate:**
1. visit this URL http://d8.theopenscholar.com/site05/news/news-109
2. User will notice image size exceeds to the layout and horizontal scroll appears to the bottom
![ckeditor-image](https://user-images.githubusercontent.com/47223502/66106786-58639d80-e5dc-11e9-85a0-88dc736d3013.png)

**Resolution:**
The image sho

[2019-10-03 07:26] subhojit777 commented on #12330
@tcheng001 A config import was required to fix the problem. Please check now.

[2019-10-03 08:44] subhojit777 commented on #12387
@Bilsi I have found that the error is because the data is not enough for creating user, and instead of showing the info in the form itself, it is throwing an error.

---

@Bilsi @rbran100 I think we need to make the `Add new member` and `Add existing member` as separate forms, just like in D7. There could be a case where user enters info for both the sections, and it will be confusing which one to

[2019-10-03 09:35] subhojit777 commented on #11978
@tcheng001 This has been fixed in some other ticket. Please confirm.

[2019-10-03 09:42] subhojit777 commented on #11979
@tcheng001 This has been fixed in some other ticket. Please confirm.

[2019-10-03 09:50] subhojit777 commented on #12061
@tcheng001 This has been fixed in some other ticket. Please confirm.

[2019-10-03 12:09] uttkarsh-26 commented on #11721
Yes @tcheng001 , you are correct , though it gets saved correctly but it doesn't appear in Wysiwyg's media browser as i noticed it has some additional/different settings passed to it.
I have fixed this in #12435 and such videos should start appearing after it's merge.

For Attach files' - Media browser you should be able to see those currently too.

[2019-10-03 12:24] chander-b commented on #11899
@rbran100 yes all the normal CSS is loading.

[2019-10-03 12:31] chander-b commented on #11899
@tcheng001

1. text is aligned horizontally in the middle of the image. It looks normally in WYSIWYG, but not in page
   **I will not able to reproduce the issue. Please add more details**

2. the text wraps around the image. But I am not able to unwrap.
  **For this please click on the image and then click on image properties and chose none option from alignment.**

3 that will be great if we can

[2019-10-03 12:34] tcheng001 commented on #11978
Unable to reproduce the issue any more. Closing

[2019-10-03 12:34] #11978 closed

[2019-10-03 12:37] tcheng001 commented on #11979
Unable to reproduce this issue any more.  Closing

[2019-10-03 12:37] #11979 closed

[2019-10-03 12:47] uttkarsh-26 commented on #11897
We want to remove Presentation materials media type and cover it under Media Browser and allow only `Documents`, then it looks something like this
![Screenshot 2019-10-03 at 6 13 47 PM](https://user-images.githubusercontent.com/38376852/66127643-cc686a80-e609-11e9-93a5-9276f7d7f54f.png)
Because of the `Additional Media` field.
What should be done here? Do we want Additional Media here or can remov

[2019-10-03 13:07] tcheng001 commented on #11899
@chander-b     I added steps to reproduce the issue 1 in https://github.com/openscholar/openscholar/issues/11899#issuecomment-537605176

[2019-10-03 13:24] uttkarsh-26 commented on #11897
Does this mean we just want to display a link to that video?

[2019-10-03 13:53] Bilsi commented on #11897
@uttkarsh-26 - I D7, we had 2 for different reasons. Here, we can remove Additional Files completely and only have the one media browser.
I just noticed the icon next to "Drop Here" for presentation slides, does not show the file types on mouseover. Can you fix that too?

[2019-10-03 14:31] tcheng001 commented on #12037
Moving to "in dev".   I upload a file as additional media.  However, the file is shown in both Presentation Slides section and Additional Media section.
Steps to reproduce:
1. open Presentation node form
2. click [Upload] button in Additional Media section
3. drag a file from local to the download area

[2019-10-03 14:57] tcheng001 opened #12436 "Should not show any content of a private site for non logged-in users"
Steps to reproduce:
1. set Site Visibility to [Site members only]  (Settings -> Global Settings -> Site Visibility)
2. log out the site
3. access the site

The site should not show primary menu and widgets
![Screen Shot 2019-10-03 at 10 50 46 AM](https://user-images.githubusercontent.com/2111600/66137940-d4091e80-e5cb-11e9-9fd7-b7a935844575.png)

[2019-10-03 15:05] tcheng001 commented on #12319
Mark "Fixed"

[2019-10-03 15:05] #12319 closed

[2019-10-03 15:08] tcheng001 commented on #12061
Mark "Fixed"     The private site still shows primary menu and widgets. https://github.com/openscholar/openscholar/issues/12436

[2019-10-03 15:08] #12061 closed

[2019-10-03 15:19] Bilsi commented on #11897
@uttkarsh-26 - Right now, we aren't sure how embedded videos will look in the listing since it does not work in d8 currently. Please add the embedded videos as a link which takes the user to the video just like all other files listed

[2019-10-03 15:42] tcheng001 commented on #12145
Mark "Fixed"

[2019-10-03 15:42] #12145 closed

[2019-10-03 16:15] rbran100 commented on #12387
I think that making it as 2 forms makes sense, it keeps us from going completely custom and should be easier to maintain, it is not a daily task so it isn't something that needs to be all in one.  Also if we implement CAS or something that does not allow a separate create user it will be easier to disable.

[2019-10-03 16:43] rbran100 commented on #12333
This widget should use the already created setting for the mailchimp API that is set here (/cp/settings/global-settings/mailchimp)

This is vsite specific and should be used to get a list of mailing lists that are available.  We should check to see if mailchimp provides a library for drupal to create these views and if not just use their php library.

[2019-10-03 16:44] rbran100 commented on #12331
First do the work above to see if implementation is doable, if so then we can use the library above to create the new widgets.  The "add this" is contextual to the content, while the follow me is standalone for following a sites social media (usually added to footer).

[2019-10-03 16:47] rbran100 commented on #12332
@Bilsi this is tied to the feed content type, think I mispoke, we can close this ticket since it will no longer apply

[2019-10-03 16:49] #12332 closed

[2019-10-03 17:28] tcheng001 commented on #11896
1. new name is empty when trying to rename file
![Screen Shot 2019-10-03 at 12 58 24 PM](https://user-images.githubusercontent.com/2111600/66147817-957c5f80-e5dd-11e9-920c-7dd6a80ba0c5.png)

[2019-10-03 18:10] tcheng001 commented on #11721
Moving to "in dev"
Still not able to embed video (https://www.youtube.com/watch?v=ad9SV2rb4Ns) from youtube. It doesn't show the embed video after being uploaded.
![embed-video3](https://user-images.githubusercontent.com/2111600/66152197-fe1c0a00-e5e6-11e9-8ab1-879043cd5305.gif)

One thing I notice that the workflow showing the uploaded video in [Previously uploaded files] tab is redundant.

[2019-10-03 18:32] tcheng001 commented on #12419
Mark "Fixed"

[2019-10-03 18:32] #12419 closed

[2019-10-03 18:37] ebremner17 opened #12437 "Updating os_files in 7.113.21 causes pages to not show text fields"
When updating os_files, all text fields where blank, this was caused by two lines in os_files, easier way is to see the commit at:
https://git.uwaterloo.ca/wcms-openscholar/openscholar/commit/dc15f0e10d13749bcae760fcd71dca34d27f8691

The constant MEDIA_TOKEN_REGEX needs to use MEDIA_TOKEN_REGEX_SPAN

[2019-10-03 18:58] tcheng001 commented on #12430
Moving to "in dev"
It has a side effect. I embed a large image file and make it smaller. When the post renders, the image is forced to fit the width of the main content area.  Here is an example:  you can see the second image is much smaller in WYSIWYG. However, it extends to full width main content area when the page renders.
![Screen Shot 2019-10-03 at 2 53 29 PM](https://user-images.githubuserc

[2019-10-03 20:01] tcheng001 commented on #12125
Moving to "in dev"
The issue is subtle. I can reproduce the issue - wysiwyg is missing.
steps to reproduce:
1. go to http://d8.theopenscholar.com/site05
2. use the contextual link (Edit) to open the Custom Text / HTML widget (custom 0099)
Note: everything looks fine.
3. click x to close the widget
4. repeat step 2

Note:
a) you should see wysiwyg missing like this
![Screen Shot 2019-10-03 at 3 57