[2018-11-26 16:14] mpetrovic commented on #10948
Downloadable type won't be a thing. I didn't know we needed to use media types to filter acceptable values for fields when I thought of it.

A significant use case for images is embedding them into a WYSIWYG. As far as I'm aware, we will need a Media type for this use case.

[2018-11-26 16:19] stamina84 commented on #10948
But this will touch all image field? I think with this design i can not integrate Crop module, Slider module, etc

[2018-11-26 16:32] mpetrovic commented on #10948
Crop won't be needed for embedded images. It's fine only using that for proper Fields.

[2018-11-26 20:36] mpetrovic commented on #10471
Use the new media types being provided as part of #10948 please.

[2018-11-27 09:00] stamina84 commented on #10907
When i am on vsite views url, like /site01/blogs. I tried when out of vsite url /blogs, and a tried also if i don't replace vsite:none cache context (i think if group try load 'none' id to load group)

[2018-11-27 14:02] stamina84 commented on #10912
I could not found any contrib like filed redirect, so write a custom module. I don't line the `exit();` code, could you suggest better `drupal_exit` like?

[2018-11-27 14:42] mpetrovic commented on #10907
Is that the issue? Its trying to load a group with the id 'none'?

[2018-11-27 15:16] Bilsi opened #10949 "News feed not working"
https://scholar.harvard.edu/bilsi#overlay=bilsi/cp/os-importer/news/manage

I added 2 news feeds early last week - none from cnn and the other from gazette. Neither have updated the feed since i added them.

Gazette has an issue with its news feed, but cnn should update everyday. We checked cron and it runs correctly as scheduled, so it looks like a bug in the code. Please investigate.

[2018-11-27 15:19] mpetrovic commented on #10912
Is there anything salvageable from field_redirection? Would it be quicker to help finish that module?

drupal_exit() has been replaced with Exceptions and returning certain objects. In this case, the controller should return a TrustedRedirectResponse. Check the documentation on that for more on how to use it.

[2018-11-27 15:21] stamina84 commented on #10949
Is it the same problem? https://github.com/openscholar/openscholar/issues/10752

[2018-11-27 15:23] Bilsi commented on #10949
No, that was the gazette feed not working which we determined was an issue with gazette, not openscholar.
But now, looks like no feeds are updating in OS

[2018-11-27 15:59] rbran100 commented on #10861
@mpetrovic did you add your own filter here or was there one that came with groups?

[2018-11-27 16:01] mpetrovic commented on #10861
Made my own. Its in vsite/src/Plugin/views/filter.

[2018-11-27 17:07] stamina84 commented on #10949
Increase the OS reader feeds Periodic import time to 1 day, pushed the PR

[2018-11-27 17:14] rbran100 commented on #10949
We can QA this one in prod.

[2018-11-27 18:57] Bilsi opened #10951 "Change background color for Bold and Crimson"

[2018-11-27 20:17] rbran100 commented on #10915
recommended should be displayed above all other releases
![screen shot 2018-11-27 at 3 16 58 pm](https://user-images.githubusercontent.com/651318/49108980-860ee600-f257-11e8-9075-f83c4ac56a83.png)

[2018-11-28 12:55] stamina84 commented on #10471
Finished with rebuild field_faq_files to Document media type

[2018-11-28 15:17] stamina84 commented on #10891
Finished with fields version

[2018-11-28 16:39] stamina84 commented on #10912
I checked the contrib module, I would not like to include a dev module in the project, and I do not see any lists that will ensure when alpha will be, so I think it might take a lot of time to develop. But if you think, I'll implement it.
My solution is not so flexible, but at least short and easy to throw away if this module is ready to production.

[2018-11-28 16:43] mpetrovic commented on #10943
Completely forgot that you can't install purl at site install. The site has to be installed first, and then purl can be enabled.

[2018-11-28 20:20] Bilsi opened #10953 "Arrow not showing up in the menu in the shade theme"

[2018-11-28 21:08] Bilsi commented on #10953
The secondary menu arrow should point sideways

[2018-11-28 21:50] Bilsi commented on #10953
@mpetrovic - don't work on this yet.

[2018-11-29 08:56] stamina84 commented on #10949
@rbran100 Finished with title truncate, anything else about this issue?

[2018-11-29 14:15] stamina84 commented on #10907
I think we can't use group:ID, i found this code part in GroupCacheContext.php:

[code]

and if you see how get the current group,  can't inject anything (in a proper runtime):

[code]

After 3 hours debug, i can't find any solution. First of all i think, we have to define, how to behave without vsite `/blog` ?

[2018-11-29 15:02] mpetrovic commented on #10907
Right, that's why I wrote VsiteCacheContext, so we can use an arbitrary group id in the cache context id.

You just need to take GroupCacheContext off the list of cache contexts for the view and replace it with VsiteCacheContext.

[2018-11-29 15:08] stamina84 commented on #10914
Note: if the Redirect solution is accepted here https://github.com/openscholar/openscholar/issues/10912, I can implement it here as well

[2018-11-29 15:10] stamina84 commented on #10914
RSS is ok, Address is ok, pending "Redirect URL"

[2018-11-29 15:45] stamina84 commented on #10907
Ok, then i think it is ready to review, as I experienced only access denied works stably for `/blog` page

[2018-11-30 10:42] stamina84 commented on #10948
Note: i checked again with Media reference (not Image field) and select Image media type, but Slick won't work with this design. If such a solution is needed, we will need to write a custom formatter that can be up to 2 days of development

[2018-11-30 14:43] stamina84 commented on #10915
"Filesize of Releases for a Project" it not required anymore (this was used by full view mode and extend generic file info), the display mode is set to tables, so it display file/link/filesize:
<img width="888" alt="kepernyofoto 2018-11-30 - 15 39 10" src="https://user-images.githubusercontent.com/3629993/49295591-70e3c280-f4b6-11e8-91df-9f33bba80989.png">

[2018-11-30 15:08] stamina84 commented on #10915
Ready to review and check functionality

[2018-11-30 15:11] stamina84 commented on #10915
Note: the url patterns is missing right now, i can't figure out why throw the exception (I ask someone to check that if she creates an url pattern, does it work)

[2018-11-30 16:18] stamina84 commented on #10913
I will create a domain for testing

[2018-11-30 16:49] mpetrovic commented on #10912
We've already included the Redirect module. Can you leverage that in some way to make replacing field_redirection easier?

[2018-12-03 13:17] stamina84 commented on #10913
This is the result of testing/implementing https://www.drupal.org/project/gdoc_field contrib module to presentation slide:
![kepernyofoto 2018-12-03 - 14 00 24](https://user-images.githubusercontent.com/3629993/49375191-e6909e00-f703-11e8-8ad6-f41b5442a464.png)

I can't find any configuration about size or paging view mode, it's a simple embedded google doc and only works with public readable doma

[2018-12-03 14:15] mpetrovic commented on #10948
Alt should be a required field, for accessibility reasons.

Height and width should auto-populate from the file itself.

[2018-12-03 14:22] Bilsi opened #10957 "Custom role does not see Members and Roles on the menu"
http://www.hsci.harvard.edu - User has a custom role in this site and has all permissions that an admin has but is not able to see the members and roles in the control panel.

[2018-12-03 14:35] #10957 closed

[2018-12-03 15:46] tcheng001 commented on #10949
tested in both SCHOLAR-3.x and this PR.
Timeout happens when loading news manage page.  @stamina84   Can you take a look on it?
Steps to reproduce:
1. go to https://dev.scholar.harvard.edu/tcheng10/news
2. click the contextual link Add New -> Import
3. click MANAGE tab

[2018-12-03 15:47] stamina84 commented on #10912
you think, what if we create a new redirect entity when this field is filled? And handle modification/deletion by hook?

[2018-12-03 15:53] mpetrovic commented on #10912
If we can get the Redirect module to handle the work of doing the actual redirects, that would be ideal.

[2018-12-03 15:55] mpetrovic commented on #10910
@rbran100 Why should node/add be unavailable for when the app is private?

[2018-12-03 16:03] stamina84 commented on #10949
I think it is related to this: https://github.com/openscholar/openscholar/pull/10796

[2018-12-03 16:21] mpetrovic commented on #10910
Were you logged in as user 1? They will always have access to disabled apps. Try it as a normal user.

[2018-12-03 16:22] mpetrovic commented on #10910
For our purposes, we don't particularly care if the /group/%/content paths work at all. The path is ugly, and should be hidden from users.

[2018-12-03 16:52] mpetrovic commented on #10902
@rbran100
I hadn't handled any access for a private sites yet, since roles still needed development.

I've added a check so site members can always gain access. We'll need to add additional checks when things like support team are implemented.

[2018-12-04 13:49] Bilsi opened #10959 "Theme : create a new non-one page theme called lamont based on peabody"

[2018-12-04 14:17] stamina84 commented on #10912
I've manage to solve with Redirect module, please review the solution

[2018-12-04 15:11] #10953 closed

[2018-12-04 15:22] stamina84 commented on #10913
This seems familiar, but won't need to upload any file, just paste drive url: https://www.drupal.org/project/googledrive_doc_viewer (not a good alternative)

[2018-12-04 15:33] stamina84 commented on #10913
This is an only d7 contrib, and only the width and height configurable: https://www.drupal.org/project/gdoc_file_formatter

[2018-12-04 15:35] tcheng001 commented on #10959
Look good.
1. Lamont is listed in /cp/appearance page
![screen shot 2018-12-04 at 10 31 43 am](https://user-images.githubusercontent.com/2111600/49452881-0382ab00-f7b0-11e8-8616-ca7f0071076a.png)

2. able to select Lamont as current theme

3. Colors look like those in Peabody
![screen shot 2018-12-04 at 10 34 32 am](https://user-images.githubusercontent.com/2111600/49453000-3f1d7500-f7b0-11e8-81b0

[2018-12-04 15:47] stamina84 commented on #10913
We can also handle embed with this URL:
Example embed: https://view.officeapps.live.com/op/embed.aspx?src=http://sztrehab.openscholard8.dev.5net.hu/sites/default/files/13-Using_Powerpoint.ppt

We need to fork gdoc_field module to use officeapps url instead of google, or write a custom formatter.

[2018-12-04 15:51] #10959 closed

[2018-12-04 15:56] mpetrovic commented on #10913
That last one looks really promising.

[2018-12-04 16:14] stamina84 commented on #10471
There are questions in PR: https://github.com/openscholar/openscholar/pull/10892

[2018-12-04 17:18] mpetrovic opened #10961 "Media Browser"
Add a Media Browser to OpenScholar

No UI changes for the popup.
Should allow uploading via an input or drag and drop. Single or multiple files.
Should allow adding media via a textarea.
Should allow selecting an existing media item for inserting.

When a file is uploaded with the same name as an existing file, the system should prompt the user to rename, replace, or cancel the upload and handle t

[2018-12-04 18:37] Bilsi opened #10962 "File name not updating"
1 . Edit a content type like blog
2. Click on file upload --> upload a pdf from your computer.
3. Change the name of the pdf in the screen shot below
Click Save

<img width="820" alt="screen shot 2018-12-04 at 1 36 11 pm" src="https://user-images.githubusercontent.com/11841641/49464698-a0057700-f7c9-11e8-8634-e67d04c6179a.png">

Save the content type, the updated name does not show.

[2018-12-04 19:31] rbran100 commented on #10949
It looks like feeds are getting processed fast in scholar so not that.  It could be related to your SQL change @stamina84 maybe we should profile that site to see what is going on if you can get a copy of the DB.  @tcheng001 it works fine for me in prod, can you try a different site in dev?

[2018-12-04 19:58] rbran100 commented on #10906
We should do a dive into "calendar" and "fullview_calendar" in drupal as well as others to see which is the most feature complete compared to our existing D7 calendar and see what the drawbacks are there.

[2018-12-05 15:16] stamina84 commented on #10909
Dev note: "Year offered" field implementation, i can't use the Date field, more info at Year-only Formats: https://www.drupal.org/docs/8/modules/views-timelinejs/date-and-time-formats

[2018-12-05 15:22] tcheng001 commented on #10949
1. news items still don't get updated.   See the example below.
"CNN top stories" feed importer was created 3 years ago in dev.scholar.harvard.edu/tcheng6. However, the feed items are quite different from what is showed in dev.scholar.harvard.edu/torman_p_acs.  This feed importer is created today.  I did manually run  the cron job (queue_feeds_source_import) before making the comparison.
![screen

[2018-12-05 15:29] stamina84 commented on #10909
What does it mean "Autocomplete w/ validation"?

[2018-12-05 15:56] stamina84 commented on #10909
Dev note: need a simple textfield storage, and put an autocomplete with previous vsite filtered submitted data. Validate 1970-today

[2018-12-05 16:09] stamina84 commented on #10909
Dev note: i will use paragraph instead of field collection (approved by Richard)

[2018-12-05 19:06] tcheng001 opened #10964 "file path is incorrect after uploaded"
After the file is uploaded, the url of the file is https://domain/files/<filename\>  This is incorrect.  It should be https://domain/files/<vsite\>/files/<filename\>

This issue is found in the following scenarios:
1. uploading a file as attachment
2. uploading a news image file

[2018-12-06 09:37] stamina84 commented on #10949
@rbran100 Short story: we've tried many things with Matt, I suggested a solution that should be used to store the value of gid in the os_feed_item table, but instead another solution was accepted, which did not cause any major acceleration to me in local.

@tcheng001 When you run cron, how many items were left in process?

Maybe dev environment has less resource?

[2018-12-06 11:10] stamina84 commented on #10962
dev note: a problem occurs only after the first upload, after the edit, the title is displayed

[2018-12-06 13:11] tcheng001 commented on #10949
@stamina84    Not so sure. but this is what I see in the cron jobs page
![screen shot 2018-12-06 at 8 08 40 am](https://user-images.githubusercontent.com/2111600/49586192-76199500-f92e-11e8-9e52-ce99709e3320.png)

[2018-12-06 15:00] stamina84 commented on #10949
I think we can't test this kind of functionality, the cron does not run frequently enough for the feed elements to be processed

[2018-12-06 15:40] Bilsi commented on #10949
@stamina84 - Merging this code, i think it makes sense to test in prod

[2018-12-06 15:49] rbran100 commented on #10964
@stamina84 Can you take a look at this, the path settings should place files at "public://{$purl}/files"

We set that using this constant: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_files/os_files.module#L14

It alters the various upload forms to set the path with that variabale like https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/open

[2018-12-06 16:40] tcheng001 commented on #10962
@stamina84    the issue also occurs in the following content types:
Blog
Book (document)
Class
Class material
FAQ
News
Page
Presentation
Publication
Software project

[2018-12-06 16:46] rbran100 commented on #10910
It should be access denied I would think

[2018-12-06 16:47] rbran100 commented on #10910
Tried as both but we can retest

[2018-12-06 16:47] mpetrovic commented on #10910
Why? It's just private, not disabled.

[2018-12-06 17:54] rbran100 commented on #10905
I merged the test settings form in, we can delete it but it is nice to have there

[2018-12-06 17:56] rbran100 commented on #10910
You are correct, my bad, misread that

[2018-12-06 20:05] tcheng001 opened #10967 "Past Event link opening wrong post"
Here is an example:  https://www.iq.harvard.edu/calendar/past_events?month=2018-12&type=month&page=48#
The event "Applied Stats Workshop (Gov 3009)" links opening wrong post. The event date is totally different.
![screen shot 2018-12-06 at 2 56 53 pm](https://user-images.githubusercontent.com/2111600/49608992-3cfe1680-f968-11e8-8bd6-2749fcb5cb97.png)

[2018-12-07 12:04] stamina84 commented on #10967
Hmm, what i see is a big mess between content, see facts:
* https://www.iq.harvard.edu/node/947636 -> listed at past events
* https://www.iq.harvard.edu/node/1361519 -> open when click previous item
* 947636 has generated automatic alias `event/applied-stats-workshop-gov-3009-26`
* 1361519 has manual alias but the same `event/applied-stats-workshop-gov-3009-26`

My first suggestion is, edit 136151

[2018-12-07 13:31] tcheng001 commented on #10967
@Bilsi   Do you think this is a design fault? Two nodes have the same url alias.  Do we have to fix it?

[2018-12-07 16:53] #10967 closed

[2018-12-10 12:18] stamina84 commented on #10962
I have to put more work on this, because now the file name will be the description on first upload... this is not good.
I have to work on api-file-create / filefield_paths / d7 core file functionality

[2018-12-10 13:06] tcheng001 commented on #10949
still not working.  Moving to "in dev"
These news were listed in New York Times rss site last Friday.  No new news are showed today.
![screen shot 2018-12-10 at 8 04 30 am](https://user-images.githubusercontent.com/2111600/49734459-5813a380-fc52-11e8-8b93-1fdf117de6f4.png)

[2018-12-10 13:22] tcheng001 commented on #10949
For some reason, cron jobs are not running.
<img width="1153" alt="screen shot 2018-12-10 at 8 10 28 am" src="https://user-images.githubusercontent.com/2111600/49734995-feac7400-fc53-11e8-9372-17fbd8682663.png">

[2018-12-11 11:07] stamina84 commented on #10962
Filefield path edit the `uri`, with the following part of code. I try to update filefield_paths to the latest version. The `$file['filename']` value is entered by user when edit the mentioned textfield.

`modules/filefield_paths.inc` line 92.
[code]

I think this is work as designed, i have to set media browser input textfield to description instead of filename!

[2018-12-11 12:20] subhojit777 commented on #10943
@mpetrovic @rbran100 I am writing `Functional` test for `VsitePathActivator`. I came across this error even after making the above code change:

[code]

Any idea?

[2018-12-11 14:23] mpetrovic commented on #10943
I fixed that error in our copy of the purl repo. I did it differently than
you though.

On Tue, Dec 11, 2018 at 7:20 AM Subhojit Paul <notifications@github.com>
wrote:

[2018-12-11 14:24] stamina84 commented on #10962
The main problem is, when media browser upload a new file, and edit filename with PATCH endpoint, after that the form submit will run hooks, and filefield paths detect new files and apply his preprocess (rename, etc..), currently i have no stable solution for this

[2018-12-11 14:40] Bilsi commented on #10818
@bkosborne - Is this still an issue, we resolved this about a month back

[2018-12-11 14:41] Bilsi commented on #10765
@bkosborne - were you able to sort this out?

[2018-12-11 14:43] #10835 closed

[2018-12-11 14:43] Bilsi opened #10970 "Add height and width back to image properties in wysiwyg images"

[2018-12-11 15:10] #10962 closed

[2018-12-11 15:52] stamina84 commented on #10964
And again the filefield_paths screw up the file directory.. first when the media browser upload, it is at the right directory, but when you press submit, and run all hooks the file will be moved to root directory because of this line:
`filefield_paths.inc line 106:`
[code]

[2018-12-11 16:39] tcheng001 commented on #10970
@Bilsi   We should make the field of URL not editable. This is the way the production is.
![image-property-full copy](https://user-images.githubusercontent.com/2111600/49815174-2e817780-fd39-11e8-8567-5879e63cf01d.png)

In production, the field looks like that.
<img width="753" alt="screen shot 2018-12-11 at 11 38 12 am" src="https://user-images.githubusercontent.com/2111600/49815226-49ec8280-fd39

[2018-12-11 16:49] stamina84 commented on #10964
The bug is related to this commit, when i have to update filefield_paths module
https://github.com/openscholar/openscholar/commit/4029f20789b9140862c6f656e97e91fbb6b58496

[2018-12-11 16:50] stamina84 commented on #10962
The bug is related to this commit, when i have to update filefield_paths module
https://github.com/openscholar/openscholar/commit/4029f20789b9140862c6f656e97e91fbb6b58496

[2018-12-11 16:54] mpetrovic commented on #10943
@subhojit777
We have now have two builds going on in parallel. Please tag your tests with @group unit, @group kernel, or @group functional depending on what type they are, so they only run once. You'll have to add a new job in the robo file for the functional tests.

As our test suite grows, we'll have to add more group tags to separate them out, but for now this is fine.

[2018-12-11 17:05] mpetrovic commented on #10964
Where's the PR?

[2018-12-11 18:08] #10970 closed

[2018-12-11 18:53] tcheng001 commented on #10964
Tested on all the following cases, the url of files are good. Marked "Fixed"

Test case | url of file  | Test result
------------ | ------------- | ------
-- | attachment | GOOD
-- | news image | GOOD
-- | profile image | GOOD
-- | publication image | GOOD
-- | presentation file | GOOD
-- | software release file | GOOD
-- | image file in wysiwyg | GOOD
-- | gallery file | GOOD
-- | slide for slide

[2018-12-11 19:32] stamina84 commented on #10962
Test again, if https://github.com/openscholar/openscholar/issues/10964 is merged

[2018-12-11 19:43] tcheng001 commented on #10962
work as expected.  Mark "Fixed"
Tested on the following content types:
Blog
Book (document)
Class
Class material
FAQ
News
Page
Presentation
Publication
Software project

[2018-12-11 19:44] #10964 closed

[2018-12-11 19:44] Bilsi commented on #10962
https://github.com/openscholar/openscholar/pull/10972

[2018-12-12 04:46] subhojit777 commented on #10943
@mpetrovic

I believe we are doing something wrong if tests are tagged as `unit`, `kernel` or `functional`. Ideally this should be part of the `testsuite`. I tried to fix this yesterday, but it was not working. I am currently focusing on writing tests, once done, I will focus on this.

Also I have noticed that running tests separately creates partial test coverage, so we will run everything in the

[2018-12-12 05:35] subhojit777 commented on #10943
@mpetrovic

I updated the local copy of the purl module by deleting the directory and running `compose install`. I did `composer update drupal/purl` but it did not work. Are you doing it differently?

[2018-12-12 11:40] subhojit777 commented on #10943
@mpetrovic @rbran100  I have written a functional test to begin with, but it is not running, and I need your help.

1. The site gets into maintenance mode by default in the test. I am not sure, but I think it is taking considering the default configs to build the test environment. I couldn't find that setting either. Any idea where it is?
2. The test doesn't lets me enable `vsite` module. It error

[2018-12-12 14:30] mpetrovic commented on #10943
@subhojit777

I tried to use testsuites as well and couldn't get it working. I forget the exact issues I was having. The tags are a much faster to implement workaround that achieves the same thing.

I looked into this yesterday and coveralls.io merges the reports automatically with no additional setup from us. The issues with coveralls.io last week were temporary and are now resolved, so we'll be

[2018-12-12 15:05] rbran100 commented on #10949
![screen shot 2018-12-12 at 10 05 07 am](https://user-images.githubusercontent.com/651318/49878384-736ae400-fdf5-11e8-9d1b-4e53f2f0cd96.png)

[2018-12-12 15:21] tcheng001 commented on #10949
Mark "Fixed"

[2018-12-12 15:22] #10949 closed

[2018-12-12 15:46] rbran100 commented on #10916
possible "classy" as base them, or perhaps bootstrap for added functionality
os_base
REMOVE hwpi_base - merge with os_base

Create new widgets with cool styles.
https://demo.sooperthemes.com/glazed-main-D8/elements/media-elements/motion-image-box

[2018-12-12 17:07] rbran100 commented on #10916
Bootstrap has some pretty cool functions built in, some we would use some probably not but overall seems decently light.

Has a sass starterkit FWIW too: https://cgit.drupalcode.org/bootstrap/tree/starterkits/sass/README.md

[2018-12-12 17:10] rbran100 commented on #10913
@mpetrovic all of the changes you requested in the PR have been made, should this be looked over again before QA?

[2018-12-12 17:21] rbran100 commented on #10909
@stamina84

That's a good question, my first instinct is that the values of the field can be overridden by the module as described here. https://www.drupal.org/docs/8/api/configuration-api/configuration-override-system
but then the more I thought of it the more it sounded like a settings.php override would be best.

That *may need to be a 'variable' if field values are not directly overridable in

[2018-12-12 17:32] rbran100 commented on #10916
For a base theme Dan likes Ember (EMBER
HTTP://DRUPALSTUFF.COM/DRUPAL-THEMES/5-DRUPAL-ADMINISTRATION-THEMES-WILL-MAKE-YOUR-ADMIN-BACKEND-SHINE)

I have also heard good things about Adminimal

[2018-12-12 17:37] Bilsi commented on #10917
From Dan - I like the Ember theme because it has a similar setup to the current OS admin layout, look and feel, etc.

EMBER
HTTP://DRUPALSTUFF.COM/DRUPAL-THEMES/5-DRUPAL-ADMINISTRATION-THEMES-WILL-MAKE-YOUR-ADMIN-BACKEND-SHINE

[2018-12-12 17:46] bkosborne commented on #10765
I had to manually patch this line https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/cp_theme/css/cp_theme.css#L515

I changed height from 24px to 38px. That seemed to resolve it.

[2018-12-12 18:34] tcheng001 opened #10973 "journal name is duplicated after importing from XML fiile"
![screen shot 2018-12-12 at 1 01 24 pm](https://user-images.githubusercontent.com/2111600/49890361-e08c7280-fe11-11e8-9233-f8d1576d7f4d.png)

the original import endnote file https://drive.google.com/open?id=1A8LPQCZG1tYeckAJ0aYOWVH9i9GcH9P1

[2018-12-13 08:48] stamina84 commented on #10973
I found a problem, but i don't know what is the good solution.

Imported XML part:
[code]

Field map part of format `endnote8`:
[code]

Duplicates (this case is triplicate...) is come from `biblio_secondary_title`:
* `<titles>` has `<secondary-title>`
* `<periodical>` has `<full-title>`
* `<alt-periodical>` has `<full-title>`

I see 2 solution:
* delete xml tag from endnote source
* modify the fie

[2018-12-13 09:20] stamina84 commented on #10909
I've done this by this solution:
https://chromatichq.com/blog/dynamic-default-and-allowed-values-list-fields-drupal-8

I think only need a place of installation process where I can set some config/variable? and read it with this function:
https://github.com/openscholar/openscholar/pull/10963/commits/04a2858a0650f789369ceafdf53f25c2c32161f9#diff-34a801085060ee556dfb69d7428e6dad

[2018-12-13 09:52] stamina84 commented on #10909
I try to install by OpenScholar profile, but i got this error:
[code]

[2018-12-13 10:17] subhojit777 commented on #10943
@mpetrovic

I figured out the problem. I was running the test directly from phpstorm, and it was recreating the `php` container, therefore it was able to find the container running `http://apache`. Running the test from local worked.

I referred https://github.com/BurdaMagazinOrg/thunder-distribution which is very similar to OpenScholar distribution. The test should use `openscholar` profile for t

[2018-12-13 10:54] subhojit777 commented on #10943
@mpetrovic I am getting a different error now:

[code]

I thought it could be happening because `group_purl` is not enabled while running the test. But even after adding it as a test dependency it is still showing the same error. Any idea?

[2018-12-13 15:05] mpetrovic commented on #10973
Fix up the citation style xml file. Biblio is a module we forked, so its not a big deal to change anything. You will need to write an update hook to reimport the xml though.

[2018-12-13 15:55] stamina84 commented on #10973
@tcheng001 what is the difference between titles/periodical/alt-periodical? These tags are contains the same `<full-title>` value (in titles is different), and i think it can be deleted. How is this XML exported? Maybe is it configurable?
In first approach i can't solve this by modify the importer or citation style, i have to find out these tags meaning.

[2018-12-13 16:06] mpetrovic commented on #10943
You'll have to create a Provider object, or at least a mock of one, that can be passed into it.

[2018-12-13 16:12] rbran100 commented on #10973
I looked in depth into this and unfortunatly endnote is less than forthcoming with their syntax and meaning, but for our purposes I think that when importing the title the periodical and alt-periodical tags should be ignored, we should change how the importer works since that is basically our module instead of deleting anything from the XML

[2018-12-13 16:13] mpetrovic commented on #10909
Merge in 8.x-1.x-dev.
Delete the purl directory from web/modules/contrib.
Run `composer install`

[2018-12-13 16:46] rbran100 commented on #10914
Redirect module, can be used here as well.

[2018-12-13 16:51] rbran100 commented on #10891
@stamina84 convinced me that preprocessing the whole block is best since the fields dictate how the entity reference values are shown, so preprocessing the field would be more work, and TPL a whole lot more

[2018-12-13 18:59] mpetrovic commented on #10961
Out of the box, Media Library is missing:
* Drag and Drop file uploads
* Editing or deleting files from the Library
* Embedding into a WYSIWYG
* Deleting an uploaded file immediately after uploading

There's a page load to open the media browser, or even the upload file form, and then a page load to edit, submit, and add the file as well.

Gonna look at what contrib has to offer to make it better

[2018-12-13 20:49] mpetrovic commented on #10961
Uploading a duplicate file renames it according to common conventions (i.e. newfile_0.ext, newfile_1.ext, etc.)

[2018-12-13 22:12] mpetrovic commented on #10961
Dropzonejs is a module that came up when I was looking, but I've installed it and it doesn't seem to interact with the Media Library yet, just the Entity Browser module that has been deprecated by the Media Library.

Embed Entity looks promising though.

[2018-12-14 15:59] mpetrovic commented on #10961
The Embed module allows site admins to create a new wysiwyg button to embed entities of a selected type.  The dialog for this is just an autocomplete though.

It looks like a whole ecosystem sprung up to fill the gap in core that Media Library now partially fills, and they haven't adapted to the new Media Library yet.

We now have 4 options available to us:
1. Use Core Media Library and patch cont

[2018-12-14 18:46] tcheng001 opened #10974 "Slide appearing in widget doesn't respect to the cropped image in the form"
This is what the slide appears in the widget form
![screen shot 2018-12-14 at 1 40 56 pm](https://user-images.githubusercontent.com/2111600/50021170-38f47900-ffa6-11e8-93a3-a11d6f02cb1c.png)
rm

After saving the slide, the slide shows in the widget like below.
<img width="855" alt="screen shot 2018-12-14 at 1 41 24 pm" src="https://user-images.githubusercontent.com/2111600/50021211-5590b100-ffa6-1

[2018-12-14 19:05] mpetrovic commented on #10961
The Media Library module consists of 3 basic components:
1. Upload Form
2. Field Widget
3. Config set. The Media Library itself is just a View.

The Upload Form is garbage. It will need replacing. We can't keep any of it either, since the entire form is in a single method.
The Field Widget doesn't offer the drag and drop upload functionality our's does. It also makes a distinction between Adding a

[2018-12-14 21:58] mpetrovic commented on #10961
Media Entity Browser is a contrib module, built off the Entity Browser contrib module, which does exactly what it says it will.

Dropzonejs and Entity Embed both integrate with it.

Entity Browsers are populated by tabs that are created from plugins. If we don't like how a tab works, we can define our quickly and easily. We might have to take this route for remote media, but there's a lot of contr

[2018-12-17 12:31] stamina84 commented on #10973
It has been tricky to fix, because this parse method not allowed to access DOM elements, only current, so i have to write a little parent handler, after that i can crate a logic for `periodical` and `alt-periodical` tags

[2018-12-17 15:59] stamina84 commented on #10974
I am not sure about this solution, but what i see is, when you don’t crop image, the site will be save a widely cropped image (978x312), and when render the slideshow, another imagestyle will scale and crop the image.
I removed these restriction from field instance, now if you upload an image, the widget will crop the original image.

I don't have any specification about the proper behaviour, func

[2018-12-17 16:08] mpetrovic commented on #10974
Original design is the image would be scaled and cropped to a single large size, then it would be shrunk down to fit the slideshow size the user selected.

[2018-12-17 17:33] tcheng001 commented on #10973
working fine when importing journal article. No more journal name is duplicated.
<img width="696" alt="screen shot 2018-12-17 at 11 33 26 am" src="https://user-images.githubusercontent.com/2111600/50100968-a0513980-01ef-11e9-976a-0c589a4bf63b.png">

[2018-12-17 18:00] tcheng001 commented on #10973
Mark "Fixed"
imported all the following formats successfully
1. bibtex
2. endnote tagged
3. endnote xml
4. MARC
5. PubMed ID List
6. PubMed XML

[2018-12-17 18:04] #10973 closed

[2018-12-17 18:34] tcheng001 commented on #10974
Slide cropping works as expected.
Tested in all 4 slideshow layouts
1. Wide Overlay
2. Standard Overlay
3. Standard Below
4. Standard  Side

[2018-12-17 18:45] mpetrovic commented on #10961
The same Media Entity Browser entity can't be used in both the wysiwyg and attached field. The wysiwyg only works when the Browser is set to use the Iframe display, but when using that display, the browser loads inline in the Field.

[2018-12-17 18:46] tcheng001 commented on #10974
1. profile image cropping is working as expected.
2. site logo image cropping also works correctly.

[2018-12-17 18:47] #10974 closed

[2018-12-17 20:02] mpetrovic commented on #10961
Getting 500 Errors when I attempt to upload a file. No message in the logs, so that's going to take a while to figure out. Because of this, I can't see how the Dropzone editing widget handles.

[2018-12-17 21:00] mpetrovic commented on #10961
Updated Media Entity Browser for Drupal 8.6 compatibility and now the Browser itself looks bad.

[2018-12-18 09:20] subhojit777 commented on #10943
finally managed to run tests inside Docker without any issues. One problem is, I am using `sudo` to do site install and run test. This is causing errors like:

[code]

https://travis-ci.org/openscholar/openscholar/jobs/469412971#L1163

And it cannot send the coverage data to coveralls.io `travis_retry php vendor/bin/php-coveralls -v`

We will have to figure out the problem. I will be working on th

[2018-12-18 11:20] stamina84 commented on #10471
Pending: i need this PR: https://github.com/openscholar/openscholar/pull/10945 (i don't feel stable to copy field base configs over features)

[2018-12-18 11:50] subhojit777 commented on #10943
@Bilsi @rbran100 I also found that the image for doing the local setup is different from the image used in test environment. The PHP version for local is 7.2, test is 7.1. Shouldn't they be identical?

[2018-12-18 14:23] mpetrovic commented on #10943
They should, yes

[2018-12-18 15:04] Bilsi commented on #10943
I thought Janos had fixed it, will follow up. Thanks for letting us know

[2018-12-18 15:39] stamina84 commented on #10914
Redirect functionality is ready!

[2018-12-18 15:53] stamina84 commented on #10471
Added attached media field

[2018-12-18 19:17] rbran100 commented on #10943
@subhojit777 can you update the travis image so it uses 7.2

[2018-12-18 19:58] rbran100 commented on #10961
separate from media browser: https://www.drupal.org/project/ckeditor_media_embed

[2018-12-19 11:05] stamina84 commented on #10907
Fix some conflicts and views mode settings

[2018-12-19 15:53] stamina84 commented on #10909
@mpetrovic
* i've already reinstalled purl as you told before
* now i try to delete and download from https://github.com/freelock/purl-d8/archive/master.zip, same problem with fresh install

But i can make disappear the problem by add dependency: https://github.com/openscholar/openscholar/commit/2939b4984caee0f5b5be3dda807a81d3ae02817b

Sadly came up another problem, can't find `purl_provider` ent

[2018-12-19 15:56] mpetrovic commented on #10909
freelock/purl is the wrong repo. You should be using our fork at openscholar/purl.

[2018-12-19 15:59] stamina84 commented on #10909
Ohh, but where is it define in composer.json? Where is the commit what change the repo url? I've already merge 8.x-1.x-dev branch, i can't see anything about it

[2018-12-19 16:04] rbran100 opened #10977 "Research ordering of views content"
We typically have a view page that goes along with each "App", for example, "classes" and "publications", these views are setup with logical defaults for ordering.  But often time those defaults don't meet peoples needs or they just want a custom order.

We should research a way for users to override the order in an arbitrary way that will still let them use structured content from the app.

Ex. h

[2018-12-19 16:18] stamina84 commented on #10909
I replaced the purl (https://github.com/openscholar/purl-d8) in composer.json, but i got the same problem (entity_type not found)

[2018-12-19 22:07] mpetrovic commented on #10961
Looking at [PNX Media Embed](https://www.drupal.org/project/pnx_media_embed) now.

It and PNX Media are modules of nothing but configuration. Any deficiencies in the original modules are here as well. Still, it's a working set up out of the box. Even if we just copy the config and do what we will from there, its a start. I wouldn't worry much about copying code either, since these modules aren't r

[2018-12-20 09:05] subhojit777 commented on #10943
@rbran100 @Bilsi  I have managed to fix the problem that it can't read the `json_path`. It was not able to read inside `build/logs` due to permission issues.

I am now getting an error `source_files must be set` when Travis tries to send coverage data to coveralls. Here is the content of `clover.xml` I have outputted for debugging purpose https://travis-ci.org/openscholar/openscholar/jobs/47040739

[2018-12-20 17:21] mpetrovic commented on #10961
File upload via REST requires specifying a Field. This is because all validation is attached to the Field. This was true in Drupal 7 as well, but I got around it by hard-coding validators manually. The only difference with validators between our Fields is the allowed extension.

I think this will be easy to fix ourselves. We can extend a core class, rewrite one method and it should be good.

[2018-12-21 05:44] subhojit777 opened #10978 "Anonymous users should get permission denied in group page"
### Steps to reproduce:
1. Create a group as admin, with alias say, `/test-alias`
2. Visit the URL `/test-alias` as an anonymous user
3. The user sees `The website encountered an unexpected error. Please try again later.` error

### Desired behavior:
Anonymous user should see permission denied page when they cannot access a group.

### Findings:
1. The code is trying to load the page without activ

[2018-12-21 09:27] subhojit777 opened #10979 "Update Apache Docker image used in Travis CI"
Image `wodby/php-apache` is being used currently (see https://github.com/openscholar/openscholar/blob/10943-travisci_integration/.travis/docker-compose.yml#L41) for running tests inside Travis. The repo which controls the image is deprecated, see https://github.com/wodby/php-apache, and it is replaced by https://github.com/wodby/apache. Travis should use `wodby/apache` image.

[2018-12-24 10:46] subhojit777 opened #10980 "Fix coveralls.io coverage reporting problems"
The tests are run inside Docker container - see #10943 . The report is generated by Docker container, therefore the report is sent to coveralls.io from inside Docker using the [local environment configuration](https://github.com/php-coveralls/php-coveralls#from-local-environment).

Problems:
1. coveralls.io is not able to merge the coverage reports generated from different jobs. Build - https://tr

[2018-12-24 10:53] subhojit777 commented on #10980
Both the problems are fixed with CodeCov. I tested this in commit https://github.com/openscholar/openscholar/commit/f18412713e3ca693b58534bf7bdd9b431b46ac27

@Bilsi @rbran100 @mpetrovic  Let me know if we are okay with moving from coveralls.io to codecov

[2018-12-24 11:31] subhojit777 commented on #10980
FYI I have reverted the commit https://github.com/openscholar/openscholar/commit/f18412713e3ca693b58534bf7bdd9b431b46ac27 (https://github.com/openscholar/openscholar/commit/cd5b2a47bf6d578abe31fd4c6fde3c914a3287a5) This will be enabled once team confirms that it is okay to move to codecov.

[2018-12-24 12:09] subhojit777 opened #10981 "Use drupal-test-traits for Kernel tests"
Related to #10943

Currently [`KernelTestBase`](https://api.drupal.org/api/drupal/core%21modules%21simpletest%21src%21KernelTestBase.php/class/KernelTestBase/8.6.x) is being used for Kernel tests. This bootstraps Drupal everytime a test is run, and this slows the overall time to complete Kernel tests. As the codebase will grow, this is going to take longer. Also, running the tests on a full Drupal

[2018-12-24 12:10] subhojit777 commented on #10981
Unit tests do not bootstrap Drupal, therefore using drupal-test-traits here is not going to make any difference.

[2018-12-24 12:16] subhojit777 commented on #10943
Blockers stopping us from merging this to main 8.x branch:

1. #10978 (Working on this)
2. #10980 - I have already found a fix https://github.com/openscholar/openscholar/issues/10980#issuecomment-449718754, waiting for team's approval

@Bilsi @rbran100 @mpetrovic

[2018-12-25 12:01] subhojit777 commented on #10978
Fixed.

[2018-12-25 12:01] #10978 closed

[2018-12-26 09:11] subhojit777 commented on #10943
Kernel and functional tests are failing with Purl errors https://travis-ci.org/openscholar/openscholar/builds/472283410 Could you take a look. @mpetrovic

[2018-12-27 08:55] subhojit777 commented on #10908
Couldn't view the similar feature in Drupal 7. I tried to enable the booklet app, but found this after clicking "Enable/Disable Apps"

![image](https://user-images.githubusercontent.com/1435641/50473516-3c92f180-09e3-11e9-80fa-0259621d3cc1.png)

I am not sure what I am doing wrong.

[2018-12-27 09:04] subhojit777 commented on #10908
There is already a `Page` content type. I have added the new fields to it.

----

Can you explain more what the requirement is. Explain me how to view this in Drupal 7.

----

Can you tell me what are the restrictions you found in book module? I looked for alternatives, and found https://www.drupal.org/project/entity_hierarchy/issues/2862096. It says that book module only allows you to add `node`.

[2018-12-27 14:28] tcheng001 opened #10984 "Use updated date as what appears in cp/content instead of upload date"
Using updated date on a file showed in /cp/content/files page makes more sense after the file gets updated.  Now, it just shows when the file is uploaded to the system. The date won't be changed when the file is updated.
![screen shot 2018-12-27 at 9 24 58 am](https://user-images.githubusercontent.com/2111600/50483417-ba420780-09b9-11e9-9e11-c907b3b1d11d.png)

[2018-12-28 16:42] mpetrovic commented on #10908
Pages isn't an app to be enabled, it's always on. You create one from
Content > Add > Page. Once you have a page created, a Context is created
automatically, which can be reached from the page's public view by clicking
on the big gear, then Layout. Also from the page view, you can create
subpages for that page. This creates the section Context, which can also be
accessed from the big gear. The sec

[2019-01-02 12:43] subhojit777 commented on #10906
Installed and used fullcalendar in local. I haven't tried any setting customizations yet. First impressions:

- the default UI is better than calendar
- supports ranged events
- supports ajax loading out of the box. Therefore, we will not have to worry about slow page loads

I will check with recurring events also.

[2019-01-02 14:39] mpetrovic commented on #10980
I prefer the coveralls interface, but at the end of the day it doesn't really matter. If this fixes issue with coveralls, then it's fine.

[2019-01-02 14:43] mpetrovic commented on #10977
In Draggable Views, is the weight stored per View? Or does an entity have a single weight that's used in every View?

[2019-01-02 14:57] mpetrovic commented on #10908
The only entity types we plan on arranging in a hierarchy are nodes, taxonomy terms, and groups. Nodes is handled by the Books module. Taxonomy terms handles itself. and groups only needs a simple parent-child relationship. It seems like entity_hierarchy does far more than we need, but also is missing things we do need. Let's just stick with Books for the purposes of this ticket.

[2019-01-02 16:05] stamina84 commented on #10909
The installation purl problem is still exists, but i can do a workaround by remove `vsite` from installation profile for temporary.

I managed to create a new installation task and get settings of semester allowed values, i have to test what happens when create a new Class.. (i have config import issues)

[2019-01-02 17:09] mpetrovic commented on #10909
Delete the purl directory and run composer install again.

[2019-01-03 04:34] subhojit777 commented on #10980
Cool. I will update #10982 with codecov configs

[2019-01-03 09:52] subhojit777 commented on #10977
@mpetrovic Thanks for pointing this out. I found that this is a bug in the module. This patch https://www.drupal.org/project/draggableviews/issues/2867159#comment-12850650 fixed the problem.

[2019-01-03 11:30] subhojit777 commented on #10906
There is an issue with [`date_recur`](https://www.drupal.org/project/date_recur) + fullcalendar. I have created an issue https://www.drupal.org/project/date_recur/issues/2872087

date_recur is required to created events which would repeat weekly/daily/monthly etc.

----

I have also found that setting the interval for date_recur is not very user friendly. The interval is set by this rule https://i

[2019-01-03 12:05] subhojit777 commented on #10906
Looked into fullcalendar customizations. The technical doc https://fullcalendar.io/docs provides a wide support for customization.

[2019-01-03 12:13] subhojit777 commented on #10906
Let's use fullcalendar. Downside is the 1.x version does not supports `date_recur` 2.x version https://www.drupal.org/project/fullcalendar/issues/3023612

Solutions:

1. Use 1.x version of fullcalendar and date_recur. Downside is, 1.x of date_recur will only do maintenance fixes. New features, etc. are going to introduced in 2.x
2. Change fullcalendar so that it supports 2.x date_recur. I found th

[2019-01-03 13:00] stamina84 commented on #10909
I am finished with Semester field, it could be configurable at the end of site installation.

@mpetrovic should i separate the class install config (content type, views, etc) to module installation?

[2019-01-03 14:33] stamina84 commented on #10904
I need more information about it, please some help me:
* is it good way to create a new group type and a field which refer to only personal group type? cardinality 1
* these subsites have an ordinary url alias? is it contains a parent alias?
* what about nodes? If 3 nodes are connected to personal group 1, then create a new subsite with this parent, it will be inherit the node (or other entity) re

[2019-01-03 14:53] rbran100 commented on #10977
We will go with DraggableViews, but will need to have a UI that only has the ordering and not the other views edit items.

[2019-01-03 15:13] mpetrovic commented on #10961
Restful views don't present page information without this patch:
https://www.drupal.org/files/issues/2018-06-30/2982729-viewsRestInfo.patch

From this issue:
https://www.drupal.org/project/drupal/issues/2982729

[2019-01-03 15:37] stamina84 commented on #10909
Currently, the semester field allowed values can be set only by openscholar profile installation. Is it necessary to build an admin settings form to change it? It will be bring a lot of things (permission, admin url, exists data validations, etc) or am i implement a default option set if not presented?

I moved the config files to module.

[2019-01-03 15:58] rbran100 commented on #10904
* You would need a reference field to link the two, however what types can be parents and what can be children should be controlled by a config, so not just personal
   * The URL aliases, and the rest of the site will be unchanged, the main feature is that a parent site can include subsite content in lists
   * For permissions and users it should be considered a completely separate site with no in

[2019-01-03 16:01] rbran100 commented on #10909
@stamina84 leave the install config the same as the rest for now, we can have a seperate admin config area for OpenScholar specific configs for use after install

Can you implement a default option set that can be overridden? is that what you were asking?

[2019-01-03 16:08] stamina84 commented on #10909
@rbran100 No, but this is a good idea to place a default config file to module install, and this can be overridden, i will do it

[2019-01-03 16:09] rbran100 commented on #10909
ok, thanks, let me know if I didn't answer any of your questions

[2019-01-03 16:33] rbran100 commented on #10909
@stamina84 sorry, can we add the class config to the sync instead of module

[2019-01-03 16:44] rbran100 commented on #10929
For this we will need to add the following fields to the Vsite:

Image field, w/ cropping for use in /websites but also the og:image metadata tag on the site
Site Description field: og:description  meta tag will be populated with this, not used in /websites
Twitter Handle: for use in populating <meta name="twitter:site" content="@publisher_handle">

[2019-01-03 16:45] rbran100 commented on #10929
https://moz.com/blog/meta-data-templates-123

[2019-01-03 16:49] stamina84 commented on #10904
@rbran100 ok, but i have a little problem if both settings are configurable :) the reference should be store by field (group entity reference), right? If the subsite group type can be selected by admin, then i have to remove and add field to specified group types, which is very insane i think (at least 3 config describe the field instance).

If only the parent type is configurable i have a better

[2019-01-03 16:56] rbran100 commented on #10904
@stamina84 just leave field there for all site types, and just have the config change the disaplay

[2019-01-03 17:06] stamina84 commented on #10909
Sure! It's moved to sync.

[2019-01-03 18:39] rbran100 commented on #10907
@stamina84 https://github.com/openscholar/openscholar/commit/b9e0c07acae59e1d863502b3050d202a0a94b0ad commit was breaking tests so it will be reverted, can you take a new look at that issue, I think it may have been fixed when matt updated the name of the cache context

[2019-01-03 19:02] #10979 closed

[2019-01-03 19:02] #10980 closed

[2019-01-03 19:02] #10981 closed

[2019-01-03 19:03] #10943 closed

[2019-01-03 20:05] mpetrovic opened #10987 "Fix PHP 5.x incompatibility"
Drupal 7 and OpenScholar 3.x must still support PHP 5.3+. We cannot use new language features of PHP 7, such as function return types.

[2019-01-03 20:16] #10987 closed

[2019-01-04 04:48] subhojit777 commented on #10906
Confirmed that recurring date creates one entity.

[2019-01-04 08:17] subhojit777 commented on #10908
@mpetrovic @rbran100 Its pull request #10983 does not contain any custom code. Are we going to write any UI tests for this issue? For example, assert block visibility group of the block.

[2019-01-04 13:34] stamina84 commented on #10904
I created an admin form to set parent and subsite bundles, the url is the following: `admin/config/openscholar/vsite/subsite`

<img width="463" alt="kepernyofoto 2019-01-04 - 14 26 24" src="https://user-images.githubusercontent.com/3629993/50690231-dafb0480-102c-11e9-80d2-cc5903258f47.png">

Validation:
* you can't choose bundle in both checkboxes, because this will lead to circle references. The

[2019-01-04 14:07] stamina84 commented on #10904
TODO:

- [ ] check exists group entities if config is changes

[2019-01-04 16:15] stamina84 commented on #10907
@rbran100 I've tested functionality, and the problem is back: https://github.com/openscholar/openscholar/issues/10907#issuecomment-440624667

[2019-01-04 17:03] Bilsi opened #10989 "Twitter image - show publication image if it exists in the post"
If publication image does not exist, then display the default meta data image on twitter

![screen shot 2019-01-04 at 12 28 40 pm](https://user-images.githubusercontent.com/11841641/50701603-50aaa480-101c-11e9-8fa4-eba90d2de19d.png)

The image in this field (if exists) will show in twitter.

[2019-01-04 19:15] tcheng001 commented on #10989
Work as expected. Mark "Fixed"
Tested on https://cards-dev.twitter.com/validator
if a publication post contains pub image, the pub image shows in twitter post
<img width="569" alt="screen shot 2019-01-04 at 1 12 43 pm" src="https://user-images.githubusercontent.com/2111600/50703550-7fc41480-1022-11e9-90d2-1f59abecbd1a.png">

if publication post contains no pub image, the site logo image shows in t

[2019-01-04 19:41] #10989 closed

[2019-01-07 13:37] tcheng001 opened #10991 "Typo on scholar.harvard.edu page"
Please change to Please change to  "Engage Harvard Web Publishing"
![screen shot 2019-01-07 at 8 33 40 am](https://user-images.githubusercontent.com/2111600/50771016-49bba600-1257-11e9-9a0e-122997d173d8.png)

[2019-01-07 15:11] mpetrovic commented on #10908
Yes, we should write tests to ensure that all the required functionality exists if we can.

And yes, you should use the book module's functionality to handle the parent-child relationships between pages.

[2019-01-07 16:22] Bilsi opened #10992 "Display twitter title and description correctly"
If a page has a title and desc, twitter should default to that, if not default to the title and description in the site info widget

[2019-01-07 16:48] Bilsi commented on #10991
@tcheng001 - in 3.x

[2019-01-07 16:58] tcheng001 commented on #10992
Not working as expected. Moving to "in dev"
Unable to render card preview no matter the description in Site Info widget is empty or not
![screen shot 2019-01-07 at 11 53 14 am](https://user-images.githubusercontent.com/2111600/50781298-ffe0b900-1272-11e9-9521-882a94c4dab6.png)

[2019-01-07 18:07] tcheng001 commented on #10991
Mark "Fixed"
Tested on staging.scholar.harvard.edu
![screen shot 2019-01-07 at 1 05 04 pm](https://user-images.githubusercontent.com/2111600/50784907-112ec300-127d-11e9-952c-fb6b0b54dc0d.png)

[2019-01-08 01:50] #10991 closed

[2019-01-08 09:43] subhojit777 commented on #10906
The calendar mini widget is not working. I couldn't find the problem. I have asked the maintainer for help https://www.drupal.org/project/fullcalendar/issues/1441442#comment-12918095 For now I am proceeding with other pending items. @rbran100 @mpetrovic @Bilsi

[2019-01-08 10:03] subhojit777 commented on #10906
A task in this issue:

I believe the event URL alias would look like `/events/short-title` and blocks will be placed there. However in D7 the alias is `/event/short-title` (**without "s"). Are we keeping there "s" here? Also I believe alias pattern needs to be created for `event` content type?

@mpetrovic

[2019-01-08 15:52] mpetrovic commented on #10906
No, I was mistaken about the 's'. `event/short-title` is what it should be. And we do need the alias pattern created, if it hasn't already.

[2019-01-08 21:37] mpetrovic opened #10994 "Allow install to use SAML to create/authenticate users"
An install should be able to create a federation with a given SAML authentication provider in order to authenticate users.

More specs to come as client stories are given.

[2019-01-08 21:54] mpetrovic opened #10995 "Presets"
Allow an install to define a set of presets that can be used when creating a new site.

These presets will determine the initial state of a site, including what apps are enabled, what menu links are available, what theme the site on, what settings the site is using, etc.

The preset should allow for content and widgets to be read from CSV files and created on the site.

These presets should be rea

[2019-01-08 21:59] mpetrovic opened #10996 "Google Analytics Support"
Users should be able to add a Google Analytics tracking id to their site.

Implement as a CpSettings plugin. Follow Google Analytics documentation for insertion into the header.

- We should allow for 1 global analytics tracking code that tracks all pages, and optionally one per "vsite" that is added by the user
- File download clicks need to be tracked
- we will need to use the new Universal Anal

[2019-01-08 22:02] mpetrovic opened #10997 "Infinite Scroll / Pagination toggle"
Allow sites to opt in to infinite scrolling on their site.

Tasks:
* [x] Implement Infinite Scrolling on content Views
* [x] Create CpSettings plugin to toggle Infinite Scrolling.
* [x] Make the toggle functional.

[2019-01-08 22:05] mpetrovic opened #10998 "Custom Privacy Policy"
Allow vsites to define a privacy policy for themselves.

* [x] Implement CpSetting plugin to change the privacy policy url
* [x] Refer to this privacy policy url in the footer of the site.

[2019-01-09 11:43] stamina84 commented on #10992
@Bilsi @tcheng001 Please test it, i try to fix it, let me know if wrong somewhere

[2019-01-09 12:58] subhojit777 commented on #10906
Due to these requirements the calendar appear at `/group-url/calendar` and the events are filtered according to it.

![image](https://user-images.githubusercontent.com/1435641/50900619-c1e2c100-143b-11e9-9a17-e9a52d1fedba.png)

You can go to an event by clicking on it. However, the URL for event is generated as `/group-url/event/short-title` and this leads to a "page not found" error. The URL stru

[2019-01-09 14:33] mpetrovic opened #10999 "Mailchimp Support"
Allow users to subscribe to a MailChimp mailing list from a site owner's MailChimp account.

Tasks:
* [x] CpSettings plugin to set the site owner's MailChimp API Key
* [x] Widget that does the following:
  * [x] Allow site owner to select which mailing list to present to users
  * [x] Present the selected mailing list to users as a link
  * [x] Open a Modal to a form
* [x] Modal form with the foll

[2019-01-09 14:39] mpetrovic commented on #10906
Option 1.
Create a pathauto alias for the event content type so the alias is generated. The vsite module will hook into that to add itself to the final alias.

See the link app for an example of a pathauto alias, and vsite_pathauto_alias_alter() for the modification.

[2019-01-09 14:52] mpetrovic opened #11000 "Redirects"
Allow users to redirect an arbitrary path on their site to an arbitrary url anywhere else.

Tasks:
* [x] CpSetting plugin to change the maximum number of redirects a site can have, behind an access check
* [x] CpSetting plugin to add new redirects to the site.
  * Redirects are a simple one-to-one relationship of source->target.
  * Site admins should be able to delete redirects
* [x] When a user

[2019-01-09 15:47] stamina84 commented on #10904
I created the view with page `/vsite/subsites`, but miss some fields from group entity:
* site logo
* description
* homepage path
* and logic of "Public on the web" functionality

Any info about these fields? Just skip and it will handle in another issue?

I try to build view based on d7 view: `os_subsites`

[2019-01-09 16:26] mpetrovic opened #11001 "Sitewide SEO Metatags"
Users should be able to define metatags for their site for SEO purposes.

Tasks:
* [x] CpSetting for the following fields:
  * Site Title
  * Meta Description
  * Publisher URL
  * Author URL
* [x] Print the following metatags to the head of the page:
  * twitter:title from Site Title
  * description from Meta Description
  * og:type = university/profile/company based on site type
  * og:image fro

[2019-01-09 16:55] mpetrovic opened #11002 "Taxonomy Settings"
Allow site owners to change certain taxonomy settings.

Tasks:
* [ ] 'Display terms under contents' setting, with one option
* [ ] When this setting is unchecked, the terms should be removed from the full listing of all content
* [ ] 'Under selected content types in list' setting with an option for every enabled content type
* [ ] The unchecked types should have their terms removed from teasers.

[2019-01-09 17:20] mpetrovic opened #11003 "Allow users to verify their own sites"
Users should be able to verify that a site belongs to them.

This infrastructure should use plugins so that new sites verification methods can be added with minimal work.

Tasks:
* [ ] Form with allowed verification methods
* [ ] Verification via HTML tag
* [ ] Print the verification tag in the HEAD as per [Google's docs on the subject](https://support.google.com/webmasters/answer/9008080#meta_tag

[2019-01-09 18:59] mpetrovic opened #11004 "Add New Button"
Create a button that will exist within an app section to allow creation of new entities.

Tasks:
* [ ] Collect links from interested modules to be displayed through the button
* [ ] Button in the Content Area of the website.
  * If there's one link provided by modules, the button should invoke it directly.
  * If there's multiple links, button should display them in a dropdown.

This issue will ne

[2019-01-09 19:26] mpetrovic opened #11005 "Custom favicons"
Allow users to upload a favicon to be used in the tab for their site.

Tasks:
* [ ] CpSetting plugin to create a form to allow users to upload icon files and select one
* [ ] Selected favicon should appear in the tab for the site until the user changes it.
* [ ] If the user has selected no favicon, the global favicon should be used
* [ ] If site administrators haven't set a global favicon, the Ope

[2019-01-09 20:10] tcheng001 commented on #10992
@Bilsi   I think our current design is not good.  Should we review the whole thing?  Should we use the description from Site Info widget as the description in twitter post?  It seems that it only makes sense when applying vsite's home page.

Other cases:
case 1 (a news post):
https://dev.scholar.harvard.edu/tcheng10/news/saturday-xyz
In Twitter Card,
![screen shot 2019-01-09 at 12 16 53 pm](https:

[2019-01-09 21:51] mpetrovic opened #11006 "Breadcrumbs"
We've done some work on the default breadcrumbs on a site.

Tasks:
* [x] Create a breadcrumb setting checkbox form,template and make it accessible via a link in under CP->Appearence
* [x] Toggle in cp_settings to turn them off completely.
* [x] Custom building of breadcrumbs based on the page the user is currently on
  * For app content, Home /App / Node
  * For pages, Home /Section Root / Page Pa

[2019-01-10 12:06] subhojit777 commented on #10906
@mpetrovic

1. I have added the URL alias pattern and connected it with the `personal` group. I see that the alias is generated as `/group-url/event/title`. But when I visit that link, I am automatically redirected to `/event/title` and getting "page not found" error. Can you help me here? I am guessing I am missing some additional setting.

[2019-01-10 12:51] stamina84 commented on #10929
I have no information about, what does it mean "public" site? I think it will not just a field, we need permissions, etc (i see many options in D7 site)

I pushed a code with basic view (/websites page) and implement metatag module

[2019-01-10 15:07] mpetrovic commented on #10904
Homepage path should be available to you. It's the purl for the site.

"Public on the web" functionality is handled by the vsite_privacy module, and should be available to you as well. You might have to do some work on linking a Group to config so the config can be read by Views. If that's too difficult or impossible, we can change how privacy is stored to something Views can find.

[2019-01-10 15:50] mpetrovic opened #11008 "Profile Syncing"
Users should be able to specify a url to a Person node on another OpenScholar site and create a Person node from it. Any changes made to the original Person node will be pushed downstream, but changes made to the copy will not be pushed upstream.

Tasks:
* [ ] Expose rest interface so profiles can be fetched from a server, given only an alias
* [ ] Form to allow site admins to enter a url to a Per

[2019-01-10 16:31] mpetrovic opened #11009 "Allow custom themes from a zip file or git repository"
Allow users to download a custom theme for their site from either a zip file they upload or a git repository.

Tasks:
* [ ] Button on Theme Selection screen to open the form
* [ ] Form with two options, should show and hide them based on user's selection
  *  Git repository
    * Textfield for repository address
    * Button to fetch branches from the address
    * Dropdown with branches of the re

[2019-01-10 16:37] mpetrovic commented on #10929
"Public" site is handled by the vsite_privacy module, which declares a method for setting the privacy values for a site.

I think the method its stored may have to be changed to a Field so it can be read by Views. Right now its stored in a config collection unique to each site. See if you can link a config collection to a group in Views, as that could be useful down the road.

[2019-01-10 18:58] mpetrovic opened #11010 "Flavor system"
Allow a theme to declare flavors. Flavors are minor variations on a theme, usually just colors,

Flavors exist within a subdirectory in the theme directory. They follow a specific structure, but are not full themes.

Tasks:
* [ ] Define structure for flavors and their declaration
* [ ] Theme selection form should auto-detect flavors within a theme and present them to site admins
* [ ] If a flavor

[2019-01-10 21:15] mpetrovic opened #11011 "Publications Part 1"
**Pull request:** #11034

**Child issues:**
- #11039
- #11056

Publications app is a very important feature set for our platform. It's been highly customized to the wants and needs of academic professors.

See #10911.

Tasks:
* [x] Install and enable Bibcite module
* [x] Add the Harvard Chicago author date citation style (see 3.x)
* [x] Add Views for the four ordering types:
  * [x] Type
    * Hea

[2019-01-10 21:57] mpetrovic opened #11012 "Custom Text / HTML Widget"
Create a widget that's for simple text and html. No special javascript handling or rendering.

Fields:
* [x] Content - Editable in WYSIWYG
* [x] Add css class - textfield

Render Content field with the Filtered HTML Format
Add the css class to the container.

[2019-01-11 12:51] stamina84 commented on #10909
@mpetrovic The Form is redesigned as you suggest. First approach for exists data validation, i put only a warning message at admin form.
For machine name generation i can only copy functionality, i can't use directly exists logic in drupal, what i found:
* https://api.drupal.org/api/drupal/core%21modules%21system%21src%21MachineNameController.php/8.6.x (public function transliterate(Request $reque

[2019-01-11 14:20] Bilsi opened #11013 "Change the preset title"
![screen shot 2019-01-11 at 9 19 52 am](https://user-images.githubusercontent.com/11841641/51038821-214ae900-1582-11e9-8b51-4d8f07b86456.png)
Change the first Project preset title to Minimal

[2019-01-11 14:47] Bilsi commented on #10992
@stamina84 - You did great work here, but we have a small change in the requirement.
1. Home page - twitter should always show the title and desc in the site info widget. If it is empty, twitter card can be empty
2. On other nodes, if either title or desc is present on the post, display that. Do not take anything from the site info widget. If only title is present in the post, leave desc blank (th

[2019-01-11 15:05] stamina84 commented on #10904
@mpetrovic Thanks! The homepage is if i see right just a link to group.

I think this group visibility logic have to be redesign, i can't join this config information to query to filter the right permission. Join config table with CONCAT string with collection seems to be horror to me ('vsite:' + group_id).

I noticed there is an issue for that (create a logo and desc), what i link: https://github

[2019-01-11 15:10] stamina84 commented on #10929
Maybe we should merge this issue to dev branch (if metatag implementation is good enough), and continue the rest of problems (vsite privacy) in this issue https://github.com/openscholar/openscholar/issues/10904

[2019-01-11 15:37] mpetrovic opened #11015 "Taxonomy Widget"
Depends on #10894, #11352
PR: https://github.com/openscholar/openscholar/pull/11334

Provide a widget for displaying taxonomy terms.

Fields:
* [x] Vocabulary
  * Dropdown for all vocabularies on the site
* [x] Post Types
  * Select field with these options
    * Determine for me
      * Select the content types from the current active app
      * ex. if in the Blog app, only Blog posts should be

[2019-01-11 15:46] Bilsi commented on #11013
@stamina84 - does not work, please add an update hook

[2019-01-11 18:48] mpetrovic opened #11017 "Simple Views Widget Infrastructure"
The Simple Views system was a system built to alleviate performance and maintenance problems with previous widgets based on Views. They were difficult to alter via options and very slow.

Simple Views system is pluggable, allowing for the details of any given content type to be taken into account when setting up the widget.

Because of how complicated this widget is, it will be broken up into seve

[2019-01-11 20:13] mpetrovic opened #11018 "WYSIWYG Settings"
Drupal 8 comes with a CKEditor as its default WYSIWYG. This is the editor we use as well, so the transition should be smooth.

Our current WYSIWYG has the following controls:
* Bold
* Italic
* Underline
* Strikethrough
* Justify Left/Center/Right
* (Un)ordered List
* Toggle text direction
* Increase/Decrease Indent
* Anchor
* Font / Background Color
* Super/sub script
* Quote
* View Source
* Paste

[2019-01-11 20:26] mpetrovic opened #11019 "Embed Media Widget"
Allow users to embed a piece of media into a widget.

The widget has the following fields:
* Media Select Field
* Max Width field

The Media Select Field should use the Media Library to handle all of its file operations.

On render, the Max Width field should be used to restrict the width of the media. If the container is smaller than the max width given, the container should be give priority.

[2019-01-11 20:54] mpetrovic opened #11020 "AddThis Widget"
Allow users to put an AddThis Widget on our page.

AddThis is a service that allows one-click sharing of content to a visitor's social media services.

Fields:
* Display Style
  * Radio buttons to choose the style share buttons are presented to the user.

[2019-01-11 21:00] mpetrovic opened #11021 "Twitter Feed Widget"
Allow users to embed Twitter Feeds or Twitter searches onto their website.

Fields:
* Display Tweets from:
  * Username
  * Hashtag
  * Search
  * This is handled through modifiers to the query argument
* Query string
  * A username, hashtag or search term
* Number of tweets
* Exclude retweets
  * Checkbox
* Include "follow me" link
* "Follow Me" path
  * Hides when 'Include "follow me" link' is u

[2019-01-11 21:03] mpetrovic opened #11022 "RSS Feed Widget"
Displays a link to the an RSS feed of the site's content. The RSS feeds always exist, whether this widget is active or not, it just prints a link and allows the user to copy the link to their clipboard

Fields:

- [x] Content To Display
  - [x] All option to link to feed with all content
  - [x] Checkboxes to select multiple content types

On render, javascript is added to the page that will copy

[2019-01-11 21:34] mpetrovic opened #11023 "Collection Widgets"
We have a few widgets that are collections of other widgets, in different presentation styles. They all have the same form, but different render methods.

Form:
* Dropdown of available widgets
  * This widget and already selected widgets are removed
  * Sorted by title
* A button to add the widget
* Draggable table of selected widgets, with these columns:
  * Widget Title
  * Tab Title (editable)

[2019-01-11 22:01] mpetrovic opened #11024 "Faceted Taxonomy Widget"
The Faceted Taxonomy widget allows for taxonomies to be handled as Facets, and combined in order to limit a search further, so that all the items in the search results have all of the matched criteria.

It relies heavily on Solr to do the heavy lifting.

Fields:
  * Content Type
   * List all content types belonging to enabled apps
  * Vocabularies
  * Vocabulary order
    * Alphabetical
    * Voc

[2019-01-11 22:11] mpetrovic opened #11025 "Publication Widgets"
Three Publication widgets that contain only top level categories, and a count of the publications within those categories.

Categories:

- [x] Publication Type
- [x] Year
- [x] Author

All three have the Display number of items checkbox. Publication Type allows optional filtering what Types appear.

The categories are to be printed in a simple list, linking to a View with just that category. In 3.

[2019-01-14 09:01] subhojit777 commented on #10906
The mini monthly calendar widget wouldn't display as block. I investigated the problem and found that it is happening due to `big_pipe`. I have created an issue https://www.drupal.org/project/drupal/issues/3025696 I still haven't discovered the core problem.

For now, I am disabling `big_pipe` and proceeding. I will reenable the module once that issue is sorted. Let me know if you the widget with

[2019-01-14 09:58] stamina84 commented on #11013
Tested with fresh db import, pushed!

[2019-01-14 13:58] tcheng001 commented on #11013
I don't see the fix yet in development.
![screen shot 2019-01-14 at 8 54 47 am](https://user-images.githubusercontent.com/2111600/51116800-18eceb00-17da-11e9-96dc-ec2c35e49afd.png)

Note: Deployment this PR to development shows failure.  Marked "Pending".   @stamina84   Can you take a look on it?

[2019-01-14 14:11] stamina84 commented on #10992
I created a new token for twitter description at node pages, it shows summary or body value with trim 150chars. Could you check again the values?

[2019-01-14 14:14] Bilsi commented on #11013
@tcheng001 - there were updates to be run, i just ran then, can you qa again?

[2019-01-14 14:19] Bilsi commented on #11013
@stamina84 - ran updates, does not work in dev, still shows the same page.
Can you make sure it works on dev and let us know? If you need access to dev, please ask @janost

[2019-01-14 14:45] Bilsi commented on #10909
@stamina84 - Please add the test cases too

[2019-01-14 15:05] tcheng001 commented on #10992
The twitter card doesn't show 150 characters and "..."  in this case.
![screen shot 2019-01-14 at 10 03 03 am](https://user-images.githubusercontent.com/2111600/51120680-9f59fa80-17e3-11e9-9a44-081b89b9ecf9.png)

This is the post in my test site https://dev.scholar.harvard.edu/tcheng10/classes/harvard-university
![screen shot 2019-01-14 at 10 04 20 am](https://user-images.githubusercontent.com/211

[2019-01-14 15:36] tcheng001 commented on #10992
The twitter card shows Title and Citation of the publication post if Full text field is empty.
![screen shot 2019-01-14 at 10 34 21 am](https://user-images.githubusercontent.com/2111600/51122477-fc57af80-17e7-11e9-95c0-9a86ffd8ad3f.png)

The twitter card shows Title and Full text of the publication post if Full text field is not empty
![screen shot 2019-01-14 at 10 35 53 am](https://user-images.gi

[2019-01-14 16:23] stamina84 commented on #11013
@Bilsi @tcheng001: @janost can help me with deploy issue, i can deploy the code now and i can run updb, please check again

[2019-01-14 16:24] Bilsi commented on #10992
@tcheng001 - this was not the requirement, but it should do for now

[2019-01-14 17:22] tcheng001 commented on #10992
I think this is not working. Moving "in dev" See point 2 from [here] (https://github.com/openscholar/openscholar/issues/10992#issuecomment-453540088)
Twitter card shows description from Site Info widget when I enter https://dev.scholar.harvard.edu/tcheng10/publications to card validator
![screen shot 2019-01-14 at 12 18 12 pm](https://user-images.githubusercontent.com/2111600/51128929-0df48380-17f

[2019-01-14 17:49] tcheng001 commented on #10992
Mark "Fixed"
1. Now, twitter card shows book title and citation from a publication post.
2. if there is a book image, twitter card shows the image
3. if there is no book image, twitter card shows the image from Site Logo widget
4. if there is neither book image nor Site Logo image, twitter card shows no image.
![screen shot 2019-01-14 at 12 38 16 pm](https://user-images.githubusercontent.com/21116

[2019-01-14 18:10] #10992 closed

[2019-01-14 18:30] tcheng001 commented on #11013
For QA information only:
![screen shot 2019-01-14 at 1 10 48 pm](https://user-images.githubusercontent.com/2111600/51131486-dc32eb00-17fd-11e9-8d04-77d4f4a3637b.png)

Enable to create sites with the four presets
torman-test-minimal	HOME
torman-test-lab  	HOME Research Publication People Resources News & Events About
torman-test-project HOME Overview Activities People Resources News & Events About

[2019-01-14 18:38] tcheng001 commented on #11013
Do we need to move Minimal content option to the first place? They are options for Department/School site preset.
![screen shot 2019-01-14 at 1 31 33 pm](https://user-images.githubusercontent.com/2111600/51132731-0934cd00-1801-11e9-8fcd-f2ca3ef5eb64.png)

[2019-01-14 20:08] Bilsi commented on #11013
@tcheng001 - Fixed it

<img width="894" alt="screen shot 2019-01-14 at 3 07 40 pm" src="https://user-images.githubusercontent.com/11841641/51138083-3340bc00-180e-11e9-9222-09339e1c0341.png">

[2019-01-14 20:09] #11013 closed

[2019-01-15 05:15] subhojit777 commented on #10906
@mpetrovic @rbran100 I have chosen headless UI testing due to following reasons:

1. Faster test run

[2019-01-15 16:24] Bilsi commented on #11024
Consider making the classes ordered alphabetically instead of by relevance.

[2019-01-16 21:07] rbran100 opened #11027 "Layout and Context"
**Plan:**
* Use block_place and block_visibility_group for global and app contexts.
* Use layout_builder for site front page, and pages.
* Create single unified interface for both of these.
* Create system to store block info independent of theme.

**Requirements:**
- Allow layout editing inline via "Place Block" interface, enabled via the large gear
 - Place block puts the page into editing mode,

[2019-01-16 21:39] mpetrovic commented on #10904
@stamina84
I've converted the privacy setting storage to a Field, so Views should be able to pick it up now.

Let me know if you see any issues with using the privacy form now. I already caught one, where it destroyed the url alias, but that's fixed now.

[2019-01-17 06:33] subhojit777 opened #11028 "Update project README"
The current README tells you about Drupal composer project, not about openscholar distribution. Update the README from `SCHOLAR-3.x` branch. Make sure the Travis CI build status points to the correct branch.

[2019-01-17 14:40] rbran100 commented on #10908
In D8 we will not use the `book` content type, we will deprecate it and just use the `page` content type as a replacement

[2019-01-17 15:55] rbran100 opened #11030 "Apply security update for sa-core-2019-001/2"
https://www.drupal.org/sa-core-2019-002

[2019-01-17 16:58] rbran100 commented on #11030
This is hard to QA because we don't really have any code that uses the code patched, the one thing to try is to assure that we don't get a fatal running "drush cc all" that was an issue but I should have it fixed now.

[2019-01-17 19:32] tcheng001 opened #11032 "Feed Reader widget is broken - no content renders"
Here is an example.  https://scholar.harvard.edu/tcheng10/news?admin_panel=1
![screen shot 2019-01-17 at 2 31 01 pm](https://user-images.githubusercontent.com/2111600/51343580-ba876d00-1a64-11e9-9d63-d025094b4a01.png)

[2019-01-17 19:33] #11030 closed

[2019-01-17 19:44] Bilsi commented on #11032
@stamina84 - Can you please take a look at this issue?

[2019-01-18 10:37] stamina84 commented on #11032
It looks to me is https://query.yahooapis.com/ down. This widget data are coming from this API https://query.yahooapis.com/v1/public/yql

[2019-01-18 11:24] subhojit777 commented on #10900
Questions:

1. Should this support importing content for all existing content types?
2. Please provide a sample template that is used in Drupal 7. Is there any link or something where I can check it?
3. Any reason for building this in JS? Because otherwise this needs to be written completely from scratch. This could be done using migrate framework, I believe it also provides in built UI for import

[2019-01-18 11:35] subhojit777 commented on #10901
@mpetrovic @rbran100

I think this should be made as a profile setting. So that users can choose it during site installation. Later they could change it after installation. What do you think?

[2019-01-18 11:56] subhojit777 commented on #10908
@mpetrovic @rbran100 In that should the URL alias for `page` nodes be like `/book/short-title`?

[2019-01-18 14:51] mpetrovic commented on #11032
https://developer.yahoo.com/yql/?guccounter=1

It was shut down on Jan. 3.

Look up options for replacing it. If we have to build something ourselves, figure out hard it'll be and how long it'll take.

[2019-01-18 15:15] #10977 closed

[2019-01-18 16:10] mpetrovic commented on #10908
No, the alias for page nodes should be /short-title. No prefix.

When comparing this to D7 functionality, you should be looking at the Page node type, not Booklet. Booklet is going away entirely. Pages uses the core Book module to handle its parent-child relationships, but otherwise should have no mention of books at all.

[2019-01-18 16:22] stamina84 commented on #10909
I pushed the new code to review, and reply in threads

[2019-01-18 16:36] mpetrovic commented on #10900
1. Yes, except for Publications. Publications has its own importers.
2. All of our templates can be found [here](https://github.com/openscholar/openscholar/tree/SCHOLAR-3.x/openscholar/modules/os/modules/os_importer/templates).
3. The form doesn't have any heavy processing involved, so it could be entirely javascript to cut down a page load on the server. Just the form, the actual processing of th

[2019-01-18 16:39] mpetrovic commented on #10901
Profile settings are more for options that have to be set at install time. Anything that can be changed after install doesn't need to be a profile setting. If the same form can be reused with just a little configuration work, then ok, but if we need 2 forms, it's not worth it.

[2019-01-18 18:10] mpetrovic commented on #10909
Tests are still failing.

[2019-01-18 18:49] stamina84 commented on #10909
Yes i saw that, but not my tests, i don't know yet how to related with these: `Drupal\Tests\os_fullcalendar\ExistingSite\*`, @subhojit777 any idea? I will check tomorrow

[2019-01-21 04:32] subhojit777 commented on #10909
That is weird. I will take a look. @stamina84

[2019-01-21 05:03] subhojit777 commented on #10900
I understand just the UI of the form needs to built using JS? The request will se sent to the server for importing.

@mpetrovic

[2019-01-21 05:37] subhojit777 commented on #10909
That is weird. I have ran the build again and it passed. Let me know if it fails again. The tests are passing in my local setup also.

[2019-01-21 08:41] subhojit777 opened #11033 "Fix Drupal best practices issues"
https://travis-ci.org/openscholar/openscholar/jobs/482278676 lists the issues in current codebase. It lists the places where Drupal best practices are not followed.

[2019-01-21 13:16] stamina84 commented on #10909
It looks fail again in another PR: https://travis-ci.org/openscholar/openscholar/jobs/482408713

[2019-01-21 15:13] stamina84 commented on #11032
Alternatives:

# RSS to JSON

Use https://rss2json.com/plans API service, we can replace ajax calls

PRO:
* looks simple to replace current logic and functionality

CON:
* free plan looks not enough to site

# Feed parser (npm)

https://www.npmjs.com/package/feedparser

CON:
* we have a fixed parse logic: https://www.npmjs.com/package/feedparser#what-is-the-parsed-output-produced-by-feedparser

#

[2019-01-22 05:44] subhojit777 commented on #10909
Thanks for notifying me. I have made a commit to debug the problem - https://github.com/openscholar/openscholar/commit/8ca9fa57774ba689cbf09cc46f1089e24f0f9e80 I couldn't think of any other better way to look into it. The tests are passing in local, the same test command is used and same Docker container is used.

[2019-01-22 05:56] subhojit777 commented on #10909
@stamina84 I have reverted https://github.com/openscholar/openscholar/commit/8ca9fa57774ba689cbf09cc46f1089e24f0f9e80 (shouldn't have committed this in the main branch). I have made a new debug commit https://github.com/openscholar/openscholar/commit/fe923ac19aafea6e295dd50e929d96554b4095e2

Please let me know if it fails again and I will take a look.

[2019-01-22 07:01] subhojit777 commented on #11011
I have a local D7 setup. I think I downloaded the code from http://theopenscholar.org/download and did the setup. How do I update it? @mpetrovic @rbran100

[2019-01-22 08:42] stamina84 commented on #10909
Thanks for information, this issue seems good, i have problem in #10904, but i will commit this debug lines there and we will see.

[2019-01-22 08:49] subhojit777 commented on #10909
@stamina84 I am using my organization's (Axelerant) AWS account to debug the problem. You will have to ask yours for getting an access to AWS S3. You can delete the artifact variables from TravisCI, and use your credentials.

[2019-01-22 08:51] stamina84 commented on #10904
@subhojit777 I've pushed the debug, can you check please if it run?

I try also this branch run local full kernel test and i got the same error, can you check please?

[2019-01-22 08:52] stamina84 commented on #10909
Ok, thanks, we can continue discuss it in another issue.

[2019-01-22 12:07] subhojit777 commented on #11011
I couldn't find any default field for `reference` types. Do you think this should be custom boolean field?

I have created by view that shows publications grouped by type, like this:

![image](https://user-images.githubusercontent.com/1435641/51534433-c8296200-1e6b-11e9-9d45-60ead3699d63.png)

Is that correct? And there should be other views for _Headings by first letter of title, excluding prepos

[2019-01-22 14:17] mpetrovic commented on #10900
That is correct.

[2019-01-22 14:51] mpetrovic commented on #11011
**Sticky**
If `reference` doesn't have a `sticky` param like nodes, then we'll need to add one. A Field would work, but I could see it being difficult to manage since we would need to add it to every bundle on `reference`.

Could you look to see how difficult it would be to patch the 'sticky' param into the Bibcite module? So that it's the same as node's sticky? That would be ideal. We can push th

[2019-01-22 14:58] tcheng001 opened #11035 "Teaser styling on Featured posts widget looks weird"
Here is an example: https://wcfia.harvard.edu/conferences
![screen shot 2019-01-22 at 9 56 58 am](https://user-images.githubusercontent.com/2111600/51543674-1a4a9300-1e2c-11e9-88f6-a1b7f64b7c05.png)

I added Dan's comment here.

[code]
To the bottom of this file https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/hwpi_classic/flavors/red_raven/red_raven.css

[2019-01-22 15:04] mpetrovic commented on #11032
1. The Basic or Pro plans would probably work for us. They're pretty cheap too. We would need to add code to manage whatever authentication rss2json wants from us, and also to disable the widget when the auth isn't set.

2. This isn't browser js or a service. It's something we could use to build a service ourselves. It's only slightly better than custom code in that we won't have to write the feed

[2019-01-22 15:27] rbran100 commented on #11032
I like option 1, the cost is almost nothing and should be a pretty quick replacement

[2019-01-22 15:34] Bilsi commented on #11032
@stamina84 - Let me know where I can sign up and set up the payment

[2019-01-22 15:37] rbran100 commented on #10909
@subhojit777 @stamina84 would it help collaboration if we setup a shared S3 bucket to use for the test artifacts on the OpenScholar AWS account?  Don't really even think it needs to be private, we can toggle it on the the tests when we need to see them

[2019-01-22 15:42] stamina84 commented on #10909
Ok, sounds good i think, we need that debug storage later too

[2019-01-22 16:14] tcheng001 commented on #11035
Look good. Mark "Fixed" Tested on https://staging.projects.iq.harvard.edu/wcfia/conferences
<img width="1299" alt="screen shot 2019-01-22 at 11 05 46 am" src="https://user-images.githubusercontent.com/2111600/51548207-e1afb700-1e35-11e9-85ea-5c42812d2770.png">

[2019-01-22 16:20] #11035 closed

[2019-01-23 04:21] subhojit777 commented on #10909
+1

[2019-01-23 14:20] rbran100 commented on #11032
1. don't worry about toggling (no need to add an "enable" variable jets keep your code the way it is
2. fix the api key
3.  add an update hook that adds a message for other installs that they need to add an API key
with a link to rss2json so they can do that

[2019-01-23 14:42] mpetrovic commented on #10961
State of Core:
* [Meta issue for the Media Library](https://www.drupal.org/project/drupal/issues/2834729)
* [Embedding Media](https://www.drupal.org/project/drupal/issues/2801307)
  * Step 1 of 4 is partially done
  * Step 2 of 4 has minimal progress and needs a UX issue opened
* [List of Core UX assumptions](https://www.drupal.org/project/drupal/issues/3019150#comment-12892572)
  * Particularly c

[2019-01-23 16:34] rbran100 commented on #11032
@tcheng001 this will be ready for QA in 5 min, I am adding the API key to bitbucket

[2019-01-23 16:38] rbran100 commented on #11032
Ready for QA
https://bitbucket.org/openscholar/deploysource/commits/63414e5380f1d0be0ed2b72ed96a12bcfdd01047?at=11032-feed-parser

[2019-01-23 18:07] tcheng001 commented on #11032
Moving to "in dev"
1. some entries don't have time. why?   Here is an example: https://dev.scholar.harvard.edu/tcheng10/news
2. The news items are ordered randomly. They should be in descending order chronologically.
![screen shot 2019-01-23 at 12 43 17 pm](https://user-images.githubusercontent.com/2111600/51627098-20657000-1f0f-11e9-9e15-922fff5f2c14.png)

3. Timeout when loading https://dev.scho

[2019-01-24 09:13] stamina84 commented on #11032
1. i test again with dev env, but know i got times on all feed items, i think feed have not sent this property

2. it is not for the feed parser to order the feed item, i think. The feed source must serve the right order. (how do I know that there is no previous entry that does not exist in the list). If you need it, I can make a sort of order, @rbran100?

3. this is a recurring problem, not relat

[2019-01-24 14:15] stamina84 commented on #10904
I am finished vsite tests, it look os_calendar tests are broken, talked to @subhojit777

[2019-01-24 14:57] tcheng001 commented on #11032
I have tried on another site https://dev.scholar.harvard.edu/tcheng2/reader
and created 2 feeds
1) http://feeds.washingtonpost.com/rss/politics
2) https://www.nytimes.com/services/xml/rss/nyt/World.xml
This is the result when I select  the first feed listed above. The issue of ordering is not obvious. It seems good if ignoring those having no date.
<img width="398" alt="screen shot 2019-01-24 at 9

[2019-01-24 16:11] stamina84 commented on #11032
1. Yes i am tested the same or (dev) and feed, nothing modify
2. i pushed a code with ordering, but it will different from original order. I can only order by `pubDate`
3. it was a very long discuss with Matt in another PM, if you would like i can search that

[2019-01-24 16:15] stamina84 commented on #11032
I really can't reproduce the time problem, i tried these environments:
* osx high sierra: chrome, firefox
* osx mojave: chrome
* win 10 chrome, firefox

[2019-01-24 16:42] rbran100 commented on #11032
@tcheng001 for anything that comes through with a pubdate it should be ordered by that now, the timeout on the manage page is a resources issue, if it happens in prod we will need to revisit

[2019-01-24 16:57] rbran100 opened #11038 "Cache / Js issue with block pagination"
EX. https://sdp.cepr.harvard.edu/our-people

The pagination on the tabbed widget at the bottom of the page does not work.  It appears that the JS for pagination is not included on the page for anon users.

We should verify that the widget inside the tabs widget is correctly identifying the pagination js and including it in the block cache.  The block cache is handled by the parent box class and ca

[2019-01-24 18:39] tcheng001 commented on #11032
sorting of items looking good.  I tested data from the 4 following sites:
http://feeds.abcnews.com/abcnews/topstories
http://rss.cnn.com/rss/cnn_topstories.rss
https://www.nytimes.com/services/xml/rss/nyt/World.xml
http://feeds.washingtonpost.com/rss/politics
Since no time is showed for the items if date/time is set to [Relative], I did tried to test this issue on Chrome, Firefox, Safari and even

[2019-01-25 05:01] subhojit777 commented on #11011
I have posted the patch for `sticky` references in the `bibcite` module. The maintainer didn't accept it. He said that there is already an ongoing issue regarding a `promoted` property in `reference`, but it has been postponed. He asked to use [`field_tools`](https://www.drupal.org/project/field_tools) module to implement `sticky` field. The module allows you to clone a field in multiple bundles.

[2019-01-25 05:33] subhojit777 commented on #11011
@mpetrovic

By _publication settings_, do you mean the various `reference` entity bundles?

Is that going to be a exposed filter in the views created above?

Are these going to be admin settings?

[2019-01-25 05:44] subhojit777 commented on #11011
**Originial Developer (The one who started working on this issue):**

- Should complete all views related tasks
  - Add Views for the four ordering types
  - Path at /publications which loads one of those Views based on a setting
  - Show/hide certain publication types from Views
  - Change which sort order is used on /publications
  - Change what direction /publications is sorted in (Asc or Desc)

[2019-01-25 05:47] subhojit777 opened #11039 "Publications Sub Part 1"
Publications app is a very important feature set for our platform. It's been highly customized to the wants and needs of academic professors.

See #10911 #11011 #11039

**Tasks:**

- [x] Allowed export formats
- [x] CpSettings plugin for the various publication settings
- [ ] Allow distributing a publication, or making it available, to various online repositories - DASH (harvard-specific, uses SWO

[2019-01-25 07:10] subhojit777 opened #11040 "Site errors when an event is edited"
Steps to reproduce:

1. Edit an existing event and save it
2. The site breaks with an error

[code]

[2019-01-25 07:52] subhojit777 commented on #10906
There are some issues in calendar widgets:

1. The monthly calendar widget does not show events in current month
2. The upcoming events calendar widget shows events including today's

[2019-01-25 07:55] subhojit777 commented on #10904
Found an issue in calendar widgets. I have wrote a fix https://github.com/openscholar/openscholar/pull/11041 @stamina84

[2019-01-25 08:10] subhojit777 commented on #10908
from https://github.com/openscholar/openscholar/pull/10983#discussion_r249804281

[2019-01-25 08:44] subhojit777 commented on #10908
Okay got it. Thanks for the detailed info.

Consider this following hierarchy:

- root (/root-alias)
  - sub page 1 (/sub-page1-alias)
  - sub page 2 (/sub-page2-alias)
    - sub page 2-1 (/sub-page21-alias)

---

**When I visit /root-alias**

_I will see 1 block:_

1. root hierarchy and all of its pages inside a block

---

**When I visit /sub-page1-alias**

_I will see 2 blocks:_

1. root hierar

[2019-01-25 09:14] stamina84 commented on #10906
https://github.com/openscholar/openscholar/commit/73da5785578821bb28b7269bba45674ac847d564 is Cherry picked from here

[2019-01-25 10:36] stamina84 commented on #11038
Hmm, i can't reproduce the error, i tried it also local environment with anonym user and on prod with anonym user. I tried in every tab, looks working for me.

I need help to reproduce

[2019-01-25 13:00] uttkarsh-26 commented on #11039
Few questions and some might be very basic as this is my first issue:
- About 'Allowed export formats' I checked the Bibcite module Readme and configurations. Following formats are provided by the module for import and export. :
BibTeX format
EndNote 7 XML/ EndNote X3 XML /EndNote Tagged
MARC
RIS
- For CpSettings plugin, I found that for D7 angular is used for Publication settings also for JS prev

[2019-01-25 13:13] subhojit777 commented on #11039
Yes.

@mpetrovic Is there any specific challenge that you faced, which led you to choose Angular framework.

[2019-01-25 14:40] mpetrovic commented on #10908
Your assumptions are incorrect. Subpages should not have their own outline blocks for them and their children. There should only be the one outline for the root node.

Also, the block visibility groups are not only for these outline blocks. A core feature of OpenScholar is the ability to place blocks anywhere on a Page, to have the same set of blocks appear on multiple pages, and to reuse blocks.

[2019-01-25 14:50] subhojit777 commented on #10908
Okay got it. Are we going to place any blocks using the BVGs initially? @mpetrovic

[2019-01-25 15:02] mpetrovic commented on #10908
The outline block in the left sidebar of the Section BVG, and a block for the Page's main content in the Page BVG. This is so users can add blocks in and around the content as they please.

[2019-01-25 15:15] mpetrovic commented on #11011
Publications is the client-facing term for the D7 biblio nodes and D8 `reference` entity type. Any time I say publications, I'm referring to that.

All of the settings will be within a single modal. They will be available to site owners via the Settings tab of the Control Panel. CpSettings is the plugin system to do just that.

[2019-01-25 18:42] Bilsi commented on #11038
@stamina84 - yes, it works now, checking with the user

[2019-01-25 22:11] mpetrovic commented on #11001
CpSettings is a plugin architecture, similar to every other plugin architecture in Drupal 8. [Here is an example of one.](https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/profile/modules/vsite/src/Plugin/CpSetting/VsiteTestSetting.php)

The CpSetting plugin defines the form for a given configuration variable, including how its saved. It should be fairly self-explanatory. Another class o

[2019-01-28 04:17] subhojit777 commented on #11011
Is that going to be exposed filter in the views created above?

You missed answering this. @mpetrovic

[2019-01-28 04:50] subhojit777 commented on #11039
By publication settings, do you mean the various reference entity bundles?

@mpetrovic answer:

@mpetrovic Yes. I get it. But my question was, when you are saying _publication settings_, I thought of the various view displays, view by type, title, author, year. We looked into how it is done in 7, I found that the settings are actually the types in bundles.

@uttkarsh-26

[2019-01-28 10:21] stamina84 commented on #10904
I've already commit this fix, but not fixed for me https://github.com/openscholar/openscholar/pull/10986/commits/73da5785578821bb28b7269bba45674ac847d564 i tried run travis more than once

[2019-01-28 10:23] subhojit777 commented on #10904
@stamina84 I have fixed the problem https://github.com/openscholar/openscholar/pull/11041/commits/a9e79ef675de6c8b01b6e795d85039584d571a74

[2019-01-28 10:45] stamina84 commented on #10904
Thanks! Pushed, looks good to me now

[2019-01-28 11:39] stamina84 commented on #10904
Dev notes: i have to redesign subsite_test group type, put it into separated module under `vsite/tests/modules`, then this will not part of main config

[2019-01-28 13:31] uttkarsh-26 commented on #11039
Yes as per my finding publication settings are basically all the settings we see in the control panel of D7 site under 'Publication settings', I am working on creating a form for the same and populating options for various fields.
@mpetrovic Just for clarification, we need the form exactly same as D7 right with no fields to be left out?

[2019-01-28 14:17] mpetrovic commented on #11011
No, it's not an exposed filter. Site visitors won't be able to configure this.

[2019-01-28 14:23] mpetrovic commented on #11039
Yes, exactly the same.

The Short URLs field uses the [shorten module](https://www.drupal.org/project/shorten) to append a shortened URL to the citation.

Here's an example:
![shortened_urls](https://user-images.githubusercontent.com/611447/51842189-52dfe600-22de-11e9-97c9-34ab1eae2a69.png)

The 'Copy at URL' text is what is controlled by the 'Short URLs' setting.

[2019-01-29 10:58] stamina84 commented on #11001
@mpetrovic i need more information about `og:type = university/profile/company based on site type`, i think this should come from Personal group type field, but this is not exists yet. I will create a new vsite token for this and connect with metatag og:type and later can be connect is field is exists, ok?

[2019-01-29 13:20] uttkarsh-26 commented on #11039
The form is complete but needs few tweaks in consultation with Subhojit when he comes back tomorrow from leave before code push.
 If we enable all Bibcite submodules it provides :
-  BibTeX
-  Endnote 7 XML
-  Endnote X3 XML
-  Endnote tagged
-  Marc
-  RIS
Question: Which all formats do we need for export and visible on publication settings page?
Currently, the module in which I created the form

[2019-01-29 14:18] mpetrovic commented on #11039
Every format should be visible.

Call the module os_publications, and place it in `/profiles/modules/apps`.

To generate the previews, we ran a sample biblio node through the Citation processor that the Biblio module provided. The oode is [here](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_publications/os_publications.module#L1811). Bibcite should

[2019-01-29 14:26] mpetrovic commented on #11001
Currently its hard-coded. We do a simple if (node_bundle == 'personal') then og:type = profile. Assume the full group type list will be:
* Personal
* Department
* Project
Which will have the og:type of 'personal', 'university', and 'company' respectively.

[2019-01-29 18:25] stamina84 commented on #10904
Finished with move configs, but the os_fullcalendar tests failing again, with fresh 8.x-dev merge, @subhojit777 any idea? Is the views config correct at this branch?

[2019-01-30 07:07] subhojit777 commented on #10904
I have started looking into it.

[2019-01-30 07:49] subhojit777 commented on #10904
@stamina84 I checked this today in local. I found that the datetimes are converted to UTC before they are queried. The test event times are set to `midnight`. I believe there is something funny going on when the test runs during midnight. I believe putting granularity check in date should fix it. It is not available in core, there is a [patch](https://www.drupal.org/project/drupal/issues/2868014#c

[2019-01-30 13:42] subhojit777 commented on #10904
@stamina84 I have made the timezones strict. Let me know if it fails again. I have put debug code as well in https://github.com/openscholar/openscholar/pull/11044

[2019-01-30 14:21] uttkarsh-26 commented on #11039
Question:
While working on creating a JS preview I found that we have not created any Publication content type
Don’t we need a content type ‘Publications’? How will the content editors add a new publication?
Also, I found this composer warning for Citeptoc library we are using
'Package academicpuma/citeproc-php is abandoned, you should avoid using it. Use seboettg/citeproc-php instead.' and this i

[2019-01-30 14:35] mpetrovic commented on #11039
The `reference` entity is the Publication content type in D8.

The Bibcite maintainers seem to have a handle on the abandoned project issue, so we'll leave it to them to handle. They'll know more about it than us.

Let's get the default CSL styles working before we start adding more.

[2019-01-30 15:57] stamina84 commented on #11001
Dev note: need test for og:image, og:type, twitter:description, twitter:image

[2019-01-30 21:15] rbran100 commented on #11001
@stamina84 I have no idea what is going on here, I tested so many variations and am always getting an acceess denied, maybe @subhojit777 can take a look when he starts to see if he sees anything.

Maybe it has to do with using _custom_access instead of just permissions for that route, but everything looks like it should work

[2019-01-31 04:01] subhojit777 commented on #11039
@uttkarsh-26 You should look into how CSL styles work. Given a theme array, how can I use the CSL style to render it.

[2019-01-31 08:51] stamina84 commented on #10904
I've merged the new code, now it seems good, test is passed.

[2019-01-31 10:37] stamina84 commented on #11001
I've talked to @subhojit777 and help me to debug. What we found is related to this cache settings (`$this->setCacheBackend($cacheBackend, 'cp_settings_plugins');`), if we remove this line, Drupal will not throws 403 and go to my custom_access function `public function access(AccountInterface $account)`, @mpetrovic could you please check this $cacheBackend, maybe there is a solution to invalidate o

[2019-01-31 10:50] stamina84 commented on #11001
Anyway it is working, if you visit the page, got 403, then do cache-rebuild, and visit again got 200 OK :)

[2019-01-31 11:18] subhojit777 commented on #11001
@stamina84 Could you try this:

[code]

What I am doing is setting a cache tag, so that it is invalidated when a user accesses the SEO setting. I haven't tried the code, but [theoretically](https://www.drupal.org/docs/8/api/cache-api/cache-tags) it should work.

[2019-01-31 11:45] subhojit777 commented on #11001
I think you have to experiment with cache contexts and cache tags. The caching API of Drupal is still dark to me. But, I am quite sure that you have to cache invalidate the form by user, or its role.

This [answer](https://drupal.stackexchange.com/a/199601/5823) by Berdir solves a similar problem.

[2019-01-31 14:17] rbran100 commented on #10908
Yes, and seems reasonable for a seperate issue.

Yes.

[2019-01-31 14:46] subhojit777 commented on #10908
I will create a separate issue. The other requirement can be implemented with this https://www.drupal.org/node/2754967

[2019-01-31 16:32] rbran100 opened #11046 "Sites redirect to `http://test-alias./test-alias` when accessing without a trailing slash"
if i visit page `http://home.d8.theopenscholar.com/test-alias`, i will redirect to `http://test-alias./test-alias`

[2019-01-31 18:01] tcheng001 opened #11047 "Events should be sorted by date descendingly in term page"
Here is an issue: the events are listed randomly. https://eps.harvard.edu/eps-event-type/climatea
![screen shot 2019-01-31 at 1 00 09 pm](https://user-images.githubusercontent.com/2111600/52074596-3b139680-2558-11e9-8cb1-8a5789aa8a59.png)

[2019-02-01 04:37] subhojit777 opened #11048 "Show book outline by current book"
Parent #10908

I am in a book page, I should see only the outline of the current book.

Example, Lord of the Rings and Sherlock Holmes are two books. I am visiting a page inside Sherlock Holmes, I should see the outline of Sherlock Holmes, I should not see Lord of the Rings and its outline.

Write UI tests for the requirement. If there are any custom code, write unit tests for them too.

[2019-02-01 04:38] subhojit777 commented on #10908
Added new issue #11048

[2019-02-01 05:32] subhojit777 opened #11049 "Use PHP 7.3"
**Pull request:** #12789

**Parent:**

### Motivation:

Currently we are using PHP 7.2 for the distribution. Update it to PHP 7.3. IMO this should not break anything, on the other hand we will get better performance.

Read http://php.net/manual/en/migration73.php for a list of BC, new features and performance improvements.

### Estimated Time:
1 hr - if existing tests do not break.
8 hrs - for fix

[2019-02-01 05:36] subhojit777 commented on #11049
@mpetrovic @rbran100 Do you want to wait till the final release of the Drupal 8 migration. Or do it as soon as possible. IMO we should do it before the final release, so that if there are breaking changes in a dependent library, we will get time and its maintainer will fix them.

[2019-02-01 11:11] t6nis opened #11051 "Possible to disable Software app?"
Is it possible to disable an OS App? For example our institute would like to totally disable the OS Software app. So that users cant use it.

[2019-02-01 12:05] subhojit777 opened #11053 "Unit tests not running in the CI"
Today I found that the following unit tests are not running in the CI:

[code]

Put `@group unit` in the tests so that they are run in CI.

P.S. I have missed it while working on #10943

[2019-02-01 16:24] mpetrovic commented on #11051
No. It's in a dependency loop so its not actually possible to disable it at this time.

[2019-02-01 16:57] stamina84 opened #11054 "CpSettingsmanager spell fix"
There is a spell mistake in `cp_settings.services.yml`

`class: Drupal\cp_settings\Plugin\CpSettingsmanager` -> `class: Drupal\cp_settings\Plugin\CpSettingsManager`

[2019-02-04 04:18] subhojit777 commented on #10908
I have not considered the ability of adding a sub page by regular user.

I checked https://help.theopenscholar.com/create-pages-subpages, and found that the "add subpage" option is available from the green button. Do we have something similar in Drupal 8?

By regular user, I believe a user with only "authenticated" role. Am I correct? Or will he have some other roles as well?

---

If there is new

[2019-02-04 04:37] subhojit777 commented on #11011
- Regular users with only "authenticated" role will be able to create/edit/delete publications.
- Anonymous and regular users will be able to access and view publications and the publications listing  (the publications view)

@mpetrovic Let me know if the above requirements are correct.

[2019-02-04 06:55] subhojit777 commented on #11011
@mpetrovic I believe the publications by type will be as a menu link. Do the other views should also be part of the main menu?

[2019-02-04 12:53] t6nis commented on #11051
Ok, Thanks for feedback!

[2019-02-04 12:53] #11051 closed

[2019-02-04 13:05] tcheng001 commented on #11032
Something wrong.  Dates of items become "undefined NaN, NaN".
![screen shot 2019-02-03 at 8 09 39 pm](https://user-images.githubusercontent.com/2111600/52209969-8fb65a80-2853-11e9-80a8-8a497e36024a.png)

[2019-02-04 13:05] uttkarsh-26 opened #11056 "Implement Citation Distribution to repositories."
**Pull request:** https://github.com/openscholar/openscholar/pull/11034

 Allow distributing a publication, or making it available, to various online repositories - DASH (harvard-specific, uses SWORD protocol), Google Scholar, RePEC, orcID, PubMed
Sub part of #11011  and #11039 .

From Matt:
As for distribution, the best resource I can offer is our [D7 implementation](https://github.com/openschola

[2019-02-04 13:12] mukeyshkumar commented on #10916
Looks like we can follow two approaches here:
1. First, we can create our own custom theme using classy as a base theme. Here we need to customize everything also needs a lot of testing for this.
2. Second, we can use a contributed base theme like bootstrap. The benefit of using the contributed base theme:
it is tested by the community, we need to write less code, no need to worry about responsive

[2019-02-04 13:32] #11038 closed

[2019-02-04 14:44] mpetrovic commented on #10908
The green button is a general place that all our apps are going to use. The issue to create it is #11004.

In D7, when the Add New Subpage button is clicked, the Page create form is opened with a query argument that stores the parent Page nid. When the new Page is created, we then create the parent-child relationship.

The specifics are up for changing, as long as we have a way to specify to Drupa

[2019-02-04 14:55] mpetrovic commented on #11011
The view that should appear at /publications should be the value of the 'Sort By' Category option on the settings form. Only the selected view should be linked to. The other views should not unless the user puts a link to them somewhere on their site.

[2019-02-04 15:02] uttkarsh-26 commented on #11056
Did some research about Citation Distribution to Repositories:
Current D7 implementation looks like well written and we should be able to take help from that to implement D8 version for it.
Also searched for any D8 contrib modules available for the same but there are no stable modules.
So I think the best way going forward would be to use D7 Implementation as a reference.
I think Bilsi mentioned t

[2019-02-04 15:52] Bilsi commented on #11056
@uttkarsh-26 - D7 OpenScholar only has the push option to the following repositories - Dash, Repec and google scholar. Since Dash is a harvard repo, it is available only when the hwpi module is enabled. The hwpi module is enabled only for the harvard installs. We need to keep it this way.

Dash and Repec are currently broken, publications are not being pushed to these repos from openscholar even w

[2019-02-04 16:21] tcheng001 commented on #11032
mark "Fixed"
Checked all 3 browsers (Chrome, Firefox and Safari).   Dates are shown for all items.

Note: I notice that when using Relative date/time, in some cases, time is not showing in certain browsers (like Chrome). But I consider that situation is out of scope of this ticket.
![screen shot 2019-02-04 at 11 20 57 am](https://user-images.githubusercontent.com/2111600/52221350-fac15a80-286e-11e

[2019-02-04 16:22] #11032 closed

[2019-02-05 02:49] dancabral commented on #10916
I agree @mukeyshkumar, I think using bootstrap as a basetheme will provide more in the way of layout css, responsiveness, better list styling, header styling, etc than classy. This should make the OS basetheme lighter and smaller.

As @rbran100 mentioned, I like the Ember administrative theme (below) because it has a similar layout to the current admin layout for OS users, and it has a modern inte

[2019-02-05 06:36] mukeyshkumar commented on #10916
please define what kind of bloat adaptive has so that we can take care of this while choosing the base theme.
@mpetrovic

[2019-02-05 14:15] mpetrovic commented on #10916
It's not a case of there being a single thing we can point to and say "this is bloat." It just came with a lot of features that we never needed or used, some of which requiring infrastructure that would be unnecessary in a slimmed down system.

For instance, every page used the three column holy grail set up, so any additional layouts, and any code to support swapping these out, was wasted.

[2019-02-05 18:45] rbran100 commented on #11054
merging and closing, this does not need QA

[2019-02-05 18:45] #11054 closed

[2019-02-06 08:33] subhojit777 commented on #11011
@mpetrovic The publications settings, I think they should not be part of the repository codebase, as they will be instance specific. What do you think?

[2019-02-06 11:23] mukeyshkumar commented on #10916
@dancabral
I have created an os_base theme using the bootstrap theme. I have pushed the code to `10916-eval-basetheme` branch.
https://github.com/openscholar/openscholar/tree/10916-eval-basetheme.

I have also added the style guide module to see the basic style of theme. After installing please visit this link to see os_base theme styles. base_url/admin/appearance/styleguide

[2019-02-06 12:32] stamina84 commented on #10999
I can prepopulate email field, currently firstname and lastname does not exists, later we should connect if field is exists on user entity.

[2019-02-06 12:44] esterwe commented on #9333
@mlsamuelson @Bilsi  Is this module are ready?

[2019-02-06 14:20] mpetrovic commented on #11011
The values of these settings should not be in the codebase, except for defaults. But the functionality should be. They're not instance-specific, they're vsite specific.

[2019-02-06 14:38] stamina84 commented on #10997
@mpetrovic if i think right, we should implement https://www.drupal.org/project/views_infinite_scroll contrib module, but if we have several views and we want to store this settings in cp, it will be problem to store views config.
Do you think is it possible to modify the view render layer depend on cp settings? And which views, all?

[2019-02-06 15:01] mpetrovic commented on #10997
It should be possible to make any changes you need to a View in one of the hooks Views provides.

This needs to be added to the views that are the landing pages for any given app. For instance, the View at /faqs for the Faqs app,  or at /people for the Profiles app.

[2019-02-06 15:49] dancabral commented on #10916
@Bilsi

1) is it possible to move this to a server?
2) Are the D8 content types (other than biblio) at a point where they can be enabled and populated with some content? The more rendered markup the better.

[2019-02-06 16:13] Bilsi commented on #9333
No, we did not work on it, since are rewriting the product in Drupal 8 and stopped adding new features in the drupal 7 version of openscholar a while back. This code will not work with Drupal 8 , so will have to reevaaluate once we complete migration

[2019-02-06 16:21] tcheng001 commented on #10856
I can see the mailing list now.
![screen shot 2019-02-06 at 11 18 38 am](https://user-images.githubusercontent.com/2111600/52355782-004eaa00-2a01-11e9-96d8-da089c0808dc.png)

[2019-02-06 16:23] #10856 closed

[2019-02-06 19:37] mpetrovic commented on #10961
There's no way in Drupal to create a list of a vocabularies at a Restful endpoint. They can be created and individually retrieved, but not a list of them. I would have to hack something in, either to Views or a completely custom endpoint, in order to make it work.
The alternative is to redesign how the TaxonomyWidget fetches the available Taxonomy info and builds itself based on that.

[2019-02-06 21:42] rbran100 opened #11059 "field_group_path not set on vsite Node when created via new site registration"
vsite_domain_set_group_path is not set correctly when saving a site via the new site register, only the first letter of the site is passed in, this is how the site URL is generated in views etc... so this needs correcting.

The default is: [site:url]/purl_val

The site creation code used to call vsite_domain_set_group_path but that does *NOT* appear to be the case with the new rest registration.

[2019-02-06 21:48] rbran100 commented on #11059
@stamina84 can you take a look

[2019-02-06 21:52] rbran100 commented on #11059
@Bilsi is this more important that D8, how should we prioritize?  It is why all the URL's are messed up in the /websites view

[2019-02-06 22:07] mpetrovic commented on #10961
If you want to change any sub-properties of a field (for instance, just the alt field, which is a property of the Image Field type), you need to get the entirety of the original field, make the change to the field, and then pass it through the serializer. Drupal doesn't merge properties at all.

The Normalizer isn't given any information about entity we're about to operate on, so we have to go aro

[2019-02-06 22:20] stamina84 commented on #10999
Sadly `ExistingSiteWebDriverTestBase` tests are not added to code coverage, this is why decreased. Maybe i should write more Unit tests? But what i see is to test mailchimp functionality i have to write a lot of Mock objects, or maybe not possible to replace original functionality, any suggest? @mpetrovic @rbran100

[2019-02-07 05:36] mukeyshkumar commented on #10916
Pr link: https://github.com/openscholar/openscholar/pull/11060

[2019-02-07 06:20] subhojit777 opened #11061 "PHP warning when a newly created user logs in"
**Pull request:** https://github.com/openscholar/openscholar/pull/11066

Steps to reproduce:

1. Create a new user as an admin
2. In an incognito window, login as the new user
3. You will see PHP warnings

[code]

[2019-02-07 06:20] subhojit777 commented on #11061
@mpetrovic any idea why this is happening?

[2019-02-07 06:41] subhojit777 commented on #11011
@mpetrovic Any idea why this is failing https://travis-ci.org/openscholar/openscholar/jobs/489905022#L1164 I am accessing the publication settings as a user with `access control panel` permission, still getting a 403 error. I think this is also related to https://github.com/openscholar/openscholar/issues/11061

[2019-02-07 09:42] stamina84 commented on #11011
@subhojit777 I had the same problem in this issue: https://github.com/openscholar/openscholar/issues/11001#issuecomment-459297070
I know what is the problem, but i can't solve it properly, just with a workaround here:     $this->visit("/cp/settings/seo");
The problem is not come from your `access()` return value, you did right. In the test I have to visit the 403 settings page, after clear cache,

[2019-02-07 10:12] subhojit777 commented on #11011
@mpetrovic @stamina84 Tests should not clear cache (unless required). We need to fix the core problem.

[2019-02-07 10:16] stamina84 commented on #11011
@subhojit777 I agree, but i spent with this more than a day, and ask Matt too.

[2019-02-07 11:10] subhojit777 opened #11062 "CP settings is not accessible for newly created admin"
**Pull request:** https://github.com/openscholar/openscholar/pull/11067

Steps to reproduce:

1. Create a new admin user from the main admin
2. In an incognito window, login as the new admin
3. Access a CP settings form, for example `/cp/settings/seo`

You will see access denied. You should be able to access the settings.

The problem is happening mostly in the CI. Also see Balazs' reply https://g

[2019-02-07 12:57] stamina84 commented on #11059
I did two updates, because in the first, i fixed the one char url (291 nodes) then i fixed all of other which has absolute url (is it necessary?) (4757 nodes), this update took a little longer.

[2019-02-07 14:05] mpetrovic commented on #10999
Can HTTP requests be mocked without mocking the class that invokes them?

[2019-02-07 14:09] mpetrovic commented on #11061
I think it's because the access method expects the user to be on the form we're requesting access for. It pulls the group of plugins to check access against from the request, so if the request is for any page but a cp setting form, this happens.

Looks like the access method needs to be rewritten to take this into account.

[2019-02-07 15:26] mpetrovic commented on #10908
Reviewed. Merge conflicts need to be resolved.

[2019-02-07 16:09] rbran100 commented on #10916
@dancabral this is up here: http://d8.theopenscholar.com/site01/people

[2019-02-07 16:34] rbran100 opened #11064 "Infinite Loop on trail.openscholar and others"
There is an infinite loop caused when the og:image tag is accidentally set to the homepage or when there is a src tag on the page pointing to the current page.

Also, we are using getimagesize which is a very inefficient function since it downloads the whole file before making a determination.  This is causing pages to load very slowly especially when the src destination does not exist.

The funct

[2019-02-07 18:19] tcheng001 commented on #11064
For QA info only
1. url of both og:image  and twitter:image are looking good.
2. og:image:wight and og:image:height is no longer in page

[2019-02-07 18:33] tcheng001 commented on #11064
@rbran100    Not sure if this is a regression.  Marked "Pending"
testing https://dev.scholar.harvard.edu/tcheng10/news/saturday-bbq
twitter:image has a value of "https://dev.scholar.harvard.edu/"  That is not correct.
![screen shot 2019-02-07 at 1 27 15 pm](https://user-images.githubusercontent.com/2111600/52434042-6fe59780-2adc-11e9-835f-206b35456767.png)

But in production, https://scholar.harva

[2019-02-07 18:37] rbran100 commented on #11064
This does look like a regression if the image is present on that page in the same way

[2019-02-07 18:39] tcheng001 commented on #11064
@rbran100   The image is missing in dev (but not in production).

[2019-02-07 20:05] tcheng001 commented on #11064
Twitter image is good in SCHOLAR-3.x.

[2019-02-07 20:41] Bilsi commented on #11059
@tcheng001 - tested briefly on dev, looks good to me, let me know what you think

[2019-02-07 20:56] tcheng001 commented on #11059
Look good.  Mark "Fixed"
Checked all 3 harvard installs.

[2019-02-08 00:56] dancabral commented on #10916
@rbran100 @Bilsi @mpetrovic @mukeyshkumar http://d8.theopenscholar.com/site01/people - it looks good so far. Below is the theme map/stack that I referenced earlier this week on our call. The D8 OS basetheme layer will be similar to the D7 version but smaller, better organized and contain very little admin theme css. Currently, the D7 version uses the cp_theme which is too large in my opinion. Over

[2019-02-08 06:59] mukeyshkumar commented on #10916
@dancabral

 **Where will the content regions be defined? Do you know about all of the regions?**
  In the d7 I have found the following regions:

-  left sidebar
-   rightsidebar
-   header
-   content
-   footer
-   highlighted
-   help
-   branding header
-   branding footer
-   header top
-   header main
-   header left
-   header right
-   header bottom
-   menu bar
-   content left
-   conte

[2019-02-08 11:11] mukeyshkumar commented on #10916
@dancabral this is what i am assuming from the above diagram. Please review.
![new project](https://user-images.githubusercontent.com/47223502/52475001-21a9c480-2bc0-11e9-94c8-6fdcbc0ba5ef.jpg)

[2019-02-08 12:05] subhojit777 commented on #11062
I have found that `\Drupal\cp_settings\Plugin\CpSettingsManager::getPluginsForGroup` is returning empty. It is unable to identify any plugins, and that is why we are getting the error.

[2019-02-08 12:52] subhojit777 commented on #11062
I found that initially after site install, in `cache_discovery` table, the entry of `cp_settings_plugins` is `a:0:{}` - i.e. an empty array in serialized format. Due to an empty array, it is failing the condition:

[code]

defined inside `\Drupal\Core\Plugin\DefaultPluginManager::getDefinitions`. This is weird. Because I found that other plugins are either fully defined, or its entry is not presen

[2019-02-08 16:23] stamina84 opened #11068 "Error: Unsupported operand types during providers JSON discovery"
Fix following bootstrap error

[code]

[2019-02-08 17:54] #11068 closed

[2019-02-10 21:40] dancabral commented on #10916
@mukeyshkumar

Those regions look correct as a total, but roughly half of them are available for end users to place content/widgets in. The regions Not listed below are reserved for Drupal/OS "system generated" content.

* header main
* header left
* header right
* menu bar
* left sidebar
* rightsidebar
* content left
* content right
* content top
* content bottom
* footer
* footer left
* footer r

[2019-02-11 01:17] Bilsi commented on #10916
@mukeyshkumar - I have given you admin access to all the sites above. Apart from https://scholar.harvard.edu/dancabral/ please do not change anything in any of the other sites - they are all live production sites

@Bilsi @mpetrovic what do you think about adding a couple of additional content regions below content bottom? It wouldnt affect existing sites and it could provide additional theming opt

[2019-02-11 08:05] subhojit777 commented on #11062
I found that Drupal tries the ApcuBackend, after it fails to load the definition from database, but this happens after I tried loading it multiple times. Loading the plugin discovery data from ApcuBackend works fine. However, I am not sure why/how Drupal switches from the database to apcu for plugin definition discovery.

We could use apcu backend by default for cache, but it will be a workaround.

[2019-02-11 10:18] subhojit777 commented on #11011
@mpetrovic The author field is optional for a publication. As per the "author" view, the heading should be first letter of last name of author. What will happen when author entry for a publication entry is not present?

[2019-02-11 10:42] mukeyshkumar commented on #10916
@dancabral

I have changed the `<div role="main">` tag with `<main>` please check.
<hr>
I have added the above-mentioned region to the os base theme.<br>
regions:<br>
  navigation: 'Navigation'<br>
  navigation_collapsible: 'Navigation (Collapsible)'<br>
  header: 'Top Bar'<br>
  header_left: 'Header Left'<br>
  header_right: 'Header Right'<br>
  highlighted: 'Highlighted'<br>
  help: 'Help'<br>

[2019-02-11 11:58] uttkarsh-26 commented on #11056
@mpetrovic
1. We are currently using sowrdapp v1 but there is a Swordapp PHP v2 available (https://github.com/swordapp/swordappv2-php-library) which provides v1 functions deposit and service_document and many others. Should I try and use it in our case or stick with v1?
2. I found a form declared in sword/dash implementation in D7 which has dash username/dash password fields, it is declared as  ad

[2019-02-11 13:01] mukeyshkumar commented on #10916
@dancabral
Are we going to use same style as in d7?

[2019-02-11 14:01] stamina84 commented on #10999
I couldn't find any solution to this, unfortunately

[2019-02-11 15:12] mpetrovic commented on #11011
Currently on prod, that publication doesn't appear in the listing at all. @tcheng001 Can you confirm if that's the case for you as well?
@Bilsi Is this acceptable? If not, should the publication be above or below the rest of the authors when sorted ascending?

[2019-02-11 15:15] Bilsi commented on #11011
@subhojit777 @mpetrovic - the author-less should be at below the ones with authors

[2019-02-11 15:22] tcheng001 opened #11071 "Two events using the same url alias"
I can reproduce the issue on this site (https://www.iq.harvard.edu).
I create a new event Tech Science Seminar. please go to https://www.iq.harvard.edu/cp/content to check the event.
![screen shot 2019-02-11 at 10 13 45 am](https://user-images.githubusercontent.com/2111600/52572501-f2749c80-2de5-11e9-8165-acd229d6cd63.png)
If you click [edit] link to open the form, you can see the event date is Fe

[2019-02-11 15:33] tcheng001 commented on #11011
On production, publication having no author doesn't show in the listing when 'Sort By' author is set.

[2019-02-11 15:36] mpetrovic commented on #11056
1. Yes, go ahead an use v2. It'll probably be better supported in the future.
2. I think it's a ConfigForm. @Bilsi do you remember if the DASH username/password should be global or vsite specific? It appears to be global in D7.
3. Use the existing for now. We'll look into if new ones are required.
4. This doesn't seem right, because anyone can create the entity. We should probably use the creator

[2019-02-11 15:39] Bilsi commented on #11056
@mpetrovic @uttkarsh-26 - it is global in d7, let us do the same for now in d8

[2019-02-11 15:41] dancabral commented on #10916
@mukeyshkumar

1) Ok great on changing  ```<div role="main">``` to ```<main>```

2) Regarding the regions. I think there might be some confusion on my part, so I wanted to mention  it again.  I realize the region names will be different in the D8 version, but in terms of the number of regions and where they are located, they should be the same as D7. Also, I think there are extra regions in your l

[2019-02-11 15:52] uttkarsh-26 commented on #11056
Thanks for the response @Bilsi @mpetrovic
I am still unclear about 4 because d7 implementation seemed to be somewhat in those lines: https://github.com/openscholar/openscholar/blob/8634cc9d13c72be63bb1cee35ad50e9880768185/openscholar/modules/harvard/hwpi/plugins/service/citation_distribute_service_sword_dash.inc#L105
And which user would be the creator of the group and what is the group here.

[2019-02-11 16:12] mpetrovic commented on #11056
The Group is the vsite the publications are being added to. It's a context that separates sites from one another. You get it with the `vsite.context_manager` service. The owner will be on the Group object.

[2019-02-11 19:15] mpetrovic commented on #10999
Have you tried using PHP's [Reflection](http://php.net/manual/en/class.reflectionfunction.php)? From the docs it seems like you should be able to replace the body of a function with your own.

[2019-02-11 22:05] stamina84 commented on #11071
This is what i see in DB, your node id is `1421873` and the hit node id is `1361393`. You leave the checkbox `Generate automatic URL alias` on, after node save the OS is generated this url-alias: `iqss-harvard/event/tech-science-seminar-3` (I don't you why prefix with site name, this could be some bug is vsite), but if you visit `event/tech-science-seminar-3` the drupal generated `1361393` which h

[2019-02-12 01:05] mpetrovic commented on #11071
The site name prefixes the path so separate sites can use the same alias.
Otherwise we'd have stuff like /about-2345 and users will be confused.
That's not a bug, and is a feature.

Usually when this happens, it's because one of the nodes has a manual alias.

On Mon, Feb 11, 2019 at 5:06 PM Balázs Sztreha <notifications@github.com>
wrote:

[2019-02-12 04:54] subhojit777 commented on #10916
I talked with one of the senior frontend engineer at Axelerant called Bassam (https://github.com/skippednote), regarding the base theme setup. He said:

@mukeyshkumar @dancabral @mpetrovic @Bilsi @rbran100

[2019-02-12 07:05] subhojit777 commented on #11011
The requirement

and what I saw in https://scholar.harvard.edu/bilsi/publications is different. The sorting is done based of year/title/author/year, not by sticky.

@mpetrovic @Bilsi

[2019-02-12 07:07] subhojit777 commented on #11011
I believe these both requirements are the same, aren't they? I found one setting for "setting order" in https://scholar.harvard.edu/bilsi

![image](https://user-images.githubusercontent.com/1435641/52617768-e7dc0500-2ec2-11e9-81fd-3ca0e77890a3.png)

@mpetrovic @Bilsi

[2019-02-12 09:13] stamina84 commented on #11071
Ok, then the problem is in old alias? One of node has auto alias and the other has manual

[2019-02-12 10:02] stamina84 commented on #10999
Hmm, i did a research about this, but it seems to me `ReflectionFunction` can only read information about Class or function, here is the article what explain: https://medium.com/tech-tajawal/introduction-to-php-reflection-api-4af07cc17db4

I will do some research how mock global function, like this: http://marcelog.github.io/articles/php_mock_global_functions_for_unit_tests_with_phpunit.html

[2019-02-12 11:41] subhojit777 commented on #11011
The implementation "first letter of title without preposition and articles" has been changed. Earlier the text processing was done using PHP code - before rendering. Results need to be sorted too, and processing the text inside SQL query could be expensive.

[2019-02-12 12:39] subhojit777 commented on #11011
I found that the default SQL query behavior is, it keeps the author-less entries at the top if sort order is `ascending`, for `descending` the entries appear at the bottom. I will have to override this behavior, I will set some unique characters for author-less entries so that they always appear at the bottom.

@mpetrovic @Bilsi

[2019-02-12 13:12] tcheng001 commented on #11071
More info: the old alias was originally created through importing google calendar (I believe).  The event I created yesterday uses auto alias.  How the auto alias is generated?  My event title is "Tech Science Seminar", but the alias url is 'event/tech-science-seminar-3'.

[2019-02-12 13:18] mukeyshkumar commented on #10916
@dancabral
I have added the above-mentioned region.
 I have pushed the code to 10916-eval-basetheme. We need to pull the code to test environment http://d8.theopenscholar.com/site01/people
I have attached screenshot for ref. Please review,
![regions-implementation1](https://user-images.githubusercontent.com/47223502/52637922-b5e49600-2ef6-11e9-9328-a29af55dde5f.png)

[2019-02-12 14:08] stamina84 commented on #10997
Dev note: i have to write tests

[2019-02-12 14:30] mpetrovic commented on #11071
This means its the 3rd or 4th event with the title 'Tech Science Seminar'. Every repeat of an event needs a unique alias, but there's nothing unique about them, so they get an autoincremented number added to the alias to separate them.

[2019-02-12 14:36] dancabral commented on #10916
@subhojit777 yes, a heavy core basetheme was a concern too. The idea behind using bootstrap was that it has premium responsive features, and more polished out of the box styling - making the OpenScholar basetheme and its child themes smaller/requiring less theming code.  Theres also a possibility of integrating tools like this https://www.sooperthemes.com/drupal-modules/glazed-builder which is pow

[2019-02-12 14:46] uttkarsh-26 commented on #11056
@mpetrovic  How do you suggest I test this, what process did you guys follow to test the implementation in D7, I think I have created necessary classes and required functions .
which dash username/password combination to be used and other relevant details if you could remember any.
Thanks

[2019-02-12 15:22] mpetrovic commented on #11056
We didn't test it in D7. Our test coverage in D7 is incomplete. The citation distribution feature was written before our automated tests were up and no one has gone back to implement tests since.

My suggestion is to create mocks for all the external services you'll need to hit. We shouldn't be hitting any external services with our tests. We can't rely on them being up and we don't want to spam t

[2019-02-12 20:19] stamina84 commented on #10999
I can't solve with Mock function, but i can inject my cache data, what will mailchimp read without call API to Mailchimp

[2019-02-12 20:26] Bilsi commented on #11011
@subhojit777 - no, if that is the default behavior, let us go with that. The author-less pubs can stay at the top. Do not change it.

[2019-02-12 20:27] rbran100 commented on #11011
in this case "Type" is the primary sort, and "sticky, year, date, title" is the secondary sorts, so they all sort by sticky currently as the secondary sort to allow for grouping.

[2019-02-12 20:30] rbran100 commented on #11071
@stamina84 looks like there is an issue with the aliases, there should never be an alias without the vsite name prefixed if there is that is likely the bug causing the issues.

[2019-02-12 20:41] rbran100 commented on #11011
I see what is going on here, it is working for YEAR, TYPE, Author, but for title it is using the whole title for the primary sort but it should be "First letter of the title", Sticky, Title,year, date

[2019-02-12 20:58] rbran100 commented on #11062
Not sure what is going on with this, I guess you would know best for now and we will hopfully figure out what is going on before too long, but no use wasting a lot of time on it now.

[2019-02-12 21:00] rbran100 opened #11072 "Create public Theme "Vibrant""
This will be based of the D7 version of the vibrant theme.
More detailed specs to come but a simple version of this theme is needed to allow us to write and test the interface for switching themes.

[2019-02-12 21:01] rbran100 opened #11073 "Create public theme "Modern""
This will be based on the D7 version of the modern theme.
More detailed specs to come but a simple version of this theme is needed to allow us to write and test the interface for switching themes.

[2019-02-13 02:25] dancabral opened #11074 "OS basetheme development"
@mukeyshkumar I think the branch hasn't been deployed yet http://d8.theopenscholar.com/site01/people ? Do the regions you have mapped out https://github.com/openscholar/openscholar/issues/10916#issuecomment-462755431 include the two new content regions? .
![regions-new](https://user-images.githubusercontent.com/867075/52682238-bd169e80-2f0c-11e9-9716-0abde19bbf0d.png)
@Bilsi

PR #11141

[2019-02-13 04:32] subhojit777 commented on #11011
I see.. Then I believe user will be able to control the sort by sticky, title, year and date? They will get an option - which is not present in D7 /publications. However, the default sort (type, first letter of title, year, first letter author last name) cannot be controlled by the user. Correct me if I am wrong.

@Bilsi @rbran100

[2019-02-13 09:15] mukeyshkumar commented on #11074
@dancabral  two new regions have not been implemented yet. I will implement these regions just need to confirm whether they are full width or not? As per above screenshot looks like they are full-width region.

[2019-02-13 11:01] stamina84 commented on #11071
I tested iCal import function multiple times with the same iCal, but it seems automated alias created good pattern:
[code]

I don't know, whats next, what should i test? Write an update_hook to fix previous url_alias? But it might lead to unreachable events or Google indexed event

[2019-02-13 11:52] Bilsi commented on #11011
@subhojit777 - No, the user will only have the default sort order to choose. The rest will be hardcoded as mentioned above. Our users find this very confusing, so we discussed and decided that adding secondary, third etc sort orders will only confuse them

[2019-02-13 12:55] mukeyshkumar commented on #11073
Created sub theme modern.
Pr: https://github.com/openscholar/openscholar/pull/11075

[2019-02-13 12:56] stamina84 commented on #10999
I found a bug in mailchimp, i created an issue for that: https://www.drupal.org/project/mailchimp/issues/3032674

[2019-02-13 12:57] mukeyshkumar commented on #11072
Created sub-theme created.
PR: https://github.com/openscholar/openscholar/pull/11076

[2019-02-13 13:28] uttkarsh-26 commented on #11056
Hi @mpetrovic, Testing this involves 1->getting service document from the server, 2->getting deposit url via matching workspaces and domains. 3->sending a file to the deposit server and getting an ok or bad response.

for 1 if Can I get a sample service document from https://dash.harvard.edu/sword/servicedocument
I can test that and it helps with 2 also, for 3 through I am not sure how I can test

[2019-02-13 14:31] mpetrovic commented on #11071
Is there some way of writing the ical event that the path isn't auto-generated?

[2019-02-13 14:33] rbran100 commented on #11071
@tcheng001 can you reproduce the event where you create a node that has a bad alias, one where it loads the wrong node?

[2019-02-13 14:46] mpetrovic commented on #11056
We'll work on getting a service document for you.

For 3, you should create a mock that mimics the server as if its behaving normally. You should look into how SWORDAppClient makes its request to the server, and try to use Reflection to swap it out with your own function.

[2019-02-13 14:50] #10916 closed

[2019-02-13 14:51] Bilsi commented on #11074
@mukeyshkumar - Yes, the 2 new regions are full width

[2019-02-13 15:35] tcheng001 commented on #11071
you can create an event with title (Tech Science Seminar) on
www.iq.harvard.edu. Event date seems trivial.  The URL alias of the event
is auto-generated as "tech-science-seminar-3". If you follow the url, it
redirects to another event with the same title dated on Oct 23, 2018.

On Wed, Feb 13, 2019 at 9:33 AM Richard Brandon <notifications@github.com>
wrote:

[2019-02-13 15:56] Bilsi commented on #11056
@uttkarsh-26  - you need harvard key for this.

[2019-02-13 17:00] rbran100 commented on #11073
rebase these off 10916-eval-basetheme please, and I will put on demo (although we won't see much yet)

[2019-02-13 17:41] rbran100 commented on #11071
@stamina84 I can not figure out how these bad aliases are getting created so...bummer.  I think all we are left with here is to clean up the bad aliases.

We should write an update hook that takes care of the following issues.
* Add the site prefix to any alias that is missing it (use a join to the og_membership table to look this up)
* Clean up any duplicate aliases by adding the -N to the end, y

[2019-02-13 18:01] Bilsi commented on #11074
@mukeyshkumar - Copying Dan's comment from the previous ticket. Can you focus on the list view and page view for each content type? All the css for this should reside in the base theme, can you work on this? and please do the responsive for each one too?

Those regions look correct as a total, but roughly half of them are available for end users to place content/widgets in. The regions Not listed

[2019-02-13 18:05] Bilsi commented on #11074
@mukeyshkumar - https://webaim.org/ - Dan said he used this for accessibility

[2019-02-14 05:12] subhojit777 opened #11078 "PHP error in CP settings privacy page"
**Pull request:** #11277

Steps to reproduce:

1. Visit `/cp/settings/privacy`
2. You will see PHP error

[code]

[2019-02-14 06:12] subhojit777 commented on #11011
The repec settings

![image](https://user-images.githubusercontent.com/1435641/52766561-8a27f400-304d-11e9-8124-e3e8bc267f31.png)

Do you think these are secure and should not committed to the repository? @Bilsi @mpetrovic @rbran100

[2019-02-14 06:50] subhojit777 commented on #11039
@mpetrovic

I saw your comment https://github.com/openscholar/openscholar/issues/11039#issuecomment-457608578 today while doing the repec integration. I found that there is a module https://www.drupal.org/project/repec that does the integration, but it only supports `node` at the moment.

For the repec integration I am going to use the module, and put patches accordingly as we need. This would sav

[2019-02-14 08:20] subhojit777 commented on #11039
I looked into how repec works and about its purpose. I found that it generates a rdf file based on the publication data. I found that the file is also generated in the D7 implementation. Do we have push the files to repositories as well? For example, I have used `cde` as archive handler, then the rdf document should be pushed to https://edirc.repec.org/data/cdudein.html - as per https://ideas.repe

[2019-02-14 08:26] subhojit777 commented on #11039
After checking repec module, following are things we need to implement:

1. Add support for reference entity
2. Add support for other RePEc types - journal, book, book chapter, software. Currently it only supports wpaper

[2019-02-14 09:44] mukeyshkumar commented on #11073
I have rebase both branches.

[2019-02-14 10:55] stamina84 commented on #11071
I did a research too, and all these events has empty og_group_ref field, that means not related to any groups. I can't figure out what is the prefix of alias, these nodes accessible at all other vsites with the same url.
I don't know how created.

[2019-02-14 12:12] stamina84 commented on #10999
Review issues are fixed

[2019-02-14 13:19] Bilsi commented on #11071
@stamina84 - can you write the update hook to clean it up?

[2019-02-14 14:03] tcheng001 commented on #11064
Mark "Fixed"
1. url of both og:image  and twitter:image are looking good.
2. og:image:width and og:image:height is no longer in page source
3. image is showing correctly in twitter validator

[2019-02-14 14:26] uttkarsh-26 commented on #11056
Hi @mpetrovic,
As Subhojit has picked up RePEc implementation as he was out of tasks today so I will pick up implementing System admin form for CD and then move to Flagging system implementation.
Can you provide an overview of how it is supposed to work, also terms like auto flag, noauto and batch mode/API mode so that while implementing I have a clearer picture in mind?

[2019-02-14 14:33] rbran100 commented on #11071
I had the same issue, my initial thought is to delete any content that is "group content" and not in a group, I really wish I knew how this got this way... I can't reproduce

[2019-02-14 14:33] subhojit777 commented on #11056
I saw the flag implementation in D7 with @uttkarsh-26 . Looks like we can use boolean fields instead of flag. If the user doesn't have the ability to set/unset push repositories, I think we will not need flags. I found that the "push to repository" control is only present in entity edit forms, and there is custom hooks written to keep the "push to repository" data in sync. These can be easily achi

[2019-02-14 14:50] mukeyshkumar commented on #11074
@dancabral
I will start working on base theme content type implementation. I saw there is some template file created for content type so I will create the same. Assuming all the font size, font-family, margin, padding will be the same as in d7. I will follow the above links for implementations.
Please let me know your thoughts on this.

[2019-02-14 14:57] stamina84 commented on #11019
@mpetrovic
- what type of media can be referenced to this? only one or unlimited per widget?
- the width of media is depend on type (i can apply to these only: Image, Video)
- when video is embed, what is the prior of rendering? I see two input in fields: field_media_oembed_video, field_media_video_file

[2019-02-14 15:19] mpetrovic commented on #11011
They're not secure, but they shouldn't be committed anyway. They appear to be unique per institution.

[2019-02-14 15:40] mpetrovic commented on #11011
The possible archive codes are listed [here](https://ideas.repec.org/archives.html).

[2019-02-14 15:42] mpetrovic commented on #11056
To be clear, the user will still be able to decide to submit or not submit an individual publication, right?

[2019-02-14 15:46] mpetrovic commented on #11019
1. Images and oembed resources. We don't want to stream uploaded videos. Only one per widget.
2. That's fine. Everything in this widget will be able to accept a width.
3. Never field_media_video_file. We're not a video streaming service and we don't want to give that impression to anyone.

[2019-02-14 16:03] uttkarsh-26 commented on #11056
I have not looked into flag system deeply as yet that is why wanted to know how was it designed to work in D7 and then keeping that in mind i will discuss it with Subhojit about his regarding input fields and then we can decide if using flag module is necessary or not. And yes I will keep it this way that the if user checks any distribute to repository option it will be processed.
My questions spe

[2019-02-14 16:04] Bilsi commented on #11011
@subhojit777 - We do not need to worry about the data at this point since that will vary for every school. So it should be configurable per school. I gave you access to the deploysource repo, we should be able to read the data from a file in each school module.

[2019-02-14 16:18] mpetrovic commented on #11056
1. Nothing.
2. Where do you see this?
3. At that time, it was the best way to add simple boolean values to an node. It was first built in D6, with minimal changes during the port to D7. We haven't gone back to reconsider its design since.
4. We remove any files or metatags on our end for that entity. How the external database handles it at that point is up to them. Some may have an explicit delete

[2019-02-14 16:24] Bilsi commented on #11074
@mukeyshkumar - You will need a separate tpl file for most - maybe even all the content types in order to emulate the d7 version. The base theme should have only one font style - sans-serif. Please refer to  the base theme in d7. The branded themes like Modern and Vibrant should contain the same font as the equivalent in d7. Margins, paddings etc should all stay the same

[2019-02-14 16:27] mpetrovic commented on #11039
During the meeting you said you wanted to try hard-coding RePeC in. Could you try creating a plugin for it that's just a wrapper around the module's functionality? This way the module can do all the heavy lifting, but it's still integrated into our system.

[2019-02-14 16:33] uttkarsh-26 commented on #11056
For 1, I get it that we won't process existing entities but if a new entity is added and user doesn't select it for distribution from the entity creation page but let's say Google Scholar autoflag was already set in publications settings form, should the new entity be processed for GoogleScholar or not?
For 2 here are the links https://github.com/openscholar/openscholar/blob/8634cc9d13c72be63bb1ce

[2019-02-14 16:33] rbran100 commented on #11071
We should write an update hook to remove them in batches, if the content is group content "event", "page" etc.. and it does not have a group then we should delete it.  We should test in dev to see how long the update will take to run.

[2019-02-14 16:43] #11064 closed

[2019-02-14 17:40] mpetrovic commented on #11056
Individual entity settings should take priority over the publication settings form.

API Mode is a testing thing, for generating the proper documents immediately.
Batch Mode sets up a cron to generate the documents.
Submission generates the documents when the entity is updated.

[2019-02-15 04:35] subhojit777 opened #11079 "Check code standard before committing the code"
**Problem/Motivation:**
I have often seen commit messages like, "fix code standard", "phpcs", etc. which contain only code standard fixes which are found by the CI.

**Resolution:**
To make the commit history cleaner, to save development time, to make the code standard fixes beforehand - lets use Git `pre-commit` hook to implement the code standard check.

[2019-02-15 14:30] mukeyshkumar commented on #11074
@dancabral
Created templates for publications, news, person content type for the teaser view. Also added some CSS same as in D7.
I have seen a lot of styles are different on different pages. I am keeping the same style for all the pages.

Please review.

[2019-02-18 00:43] dancabral commented on #11074
@bilsi is the branch with @mukeyshkumar  commit on a server? https://github.com/openscholar/openscholar/commit/b3021fd397e4dd4b16594466f341a696db1f63c7

[2019-02-18 01:04] Bilsi commented on #11074
10916-eval-basetheme is the branch and https://github.com/openscholar/openscholar/issues/11074#ref-pullrequest-408716453 is the PR

[2019-02-18 02:10] dancabral commented on #11074
@Bilsi is the PR #11074 (reference) on http://d8.theopenscholar.com/people so that I can see how the teaser views display?

[2019-02-18 02:39] dancabral commented on #11074
@mukeyshkumar I dont see the code you last committed https://github.com/openscholar/openscholar/commit/b3021fd397e4dd4b16594466f341a696db1f63c7 here http://d8.theopenscholar.com/people.

Also, so that the sidebars drop below the main content area in responsive, you may need to swap the position of the 2 containers.
![responsive-markup](https://user-images.githubusercontent.com/867075/52924851-88d0

[2019-02-18 04:20] mukeyshkumar commented on #11074
@dancabral sure I will swap both.

[2019-02-18 12:50] uttkarsh-26 commented on #11056
- From what I understand by looking at the code for D7 citation_distribute module, a node receives a flag via insert/update hooks and subsequent flag/unflag functions are called to trigger distribution if it is per submission mode and if not it assumes batch mode.
- Distribute to Repo options/checkboxes are dynamically provided to the user using node form alter.
- I am thinking to create a static

[2019-02-18 14:35] mukeyshkumar commented on #11074
@dancabral @bilsi
I have noticed in all the above links mentioned for teaser and details views have different styling. For base theme I have maintained the same css for all content type.

Content types fields visibility in teaser mode/default mode is not same as in d7.

I have also made some changes in content type 'manage display' teaser mode just to display fields as in d7 but due to some error

[2019-02-18 14:38] dancabral commented on #11074
@mukeyshkumar regarding the responsive container order. I would do whatever requires the least amount of code and what works naturally with Bootsrap in order to make the sidebars drop below the main content column. Bootstrap has a built in column reordering feature that you could initiate at responsive breakpoints? https://stackoverflow.com/questions/18057270/column-order-manipulation-using-col-lg

[2019-02-18 14:41] mukeyshkumar commented on #11074
I will try to follow whatever is possible with bootstarp framework. I will go through the above link.

[2019-02-19 12:41] mukeyshkumar commented on #11074
@dancabral I have used default bootstrap classes for responsiveness sidebar.
I have changed the position of main content and sidebar first and used bootstrap classes for interchanging positions. Please review.
[code]

[2019-02-19 13:10] uttkarsh-26 commented on #10996
Hi @mpetrovic , As I was waiting for your response on Citations issue
I did some research about this issue and found a good contrib module which seems to support all our requirements and supports latest standards from GA and drupal point of view.
This offers a 'web tracking id' field and many other configurations so we can list the configs we want as CpSetting plugin as done in this PR.
This also

[2019-02-19 14:34] rbran100 commented on #11079
we can re-open this if we have issues but this looks great!!

[2019-02-19 14:34] #11079 closed

[2019-02-19 14:44] mpetrovic commented on #11056
As far as I can tell, your understanding of the noauto field is correct. I think it prevents the system from gobbling up all unflagged publications, so they don't get reflagged. In which case, 'overridden' would be more accurate.

I'm concerned about making it a Field, because every publication type is a bundle on an entity now. It seems like we'll need a Field instance for each publication type,

[2019-02-19 15:18] mpetrovic commented on #10996
The CpSetting form should only be for the vsite-specific analytics code. The install-wide code should be set via some /admin/ form. Regular site owners should not have access to it.

[2019-02-19 15:18] uttkarsh-26 commented on #11056
@mpetrovic You're spot on with field duplication, that was also one of the things we(me and @subhojit777) talked about but you bring a good point here.
Why we were thinking to make it a field was to be able to get its value in submit handler or for that matter in insert/update hooks.
As of now in my local, I have just written a Reference entity form alter which includes Distribute to repo form fie

[2019-02-19 15:29] uttkarsh-26 commented on #10996
@mpetrovic Oh I get it, will make the suitable changes.
Just one more point, the contrib module I mentioned above provides some migrations though I have not checked them very deeply yet but if you can find some time and check it to see if they cater to our needs regarding upgrade or point to me what I need to check specifically for the upgrade.
Thanks

[2019-02-19 16:08] mpetrovic commented on #11056
I don't think that will work for passive distribution methods, like Google Scholar. There'll need to be some sort of value on the entity to signal the metadata needs to be added on render.

[2019-02-19 16:33] rbran100 commented on #10997
waiting on cache tag change.

[2019-02-19 17:25] dancabral commented on #11074
@Bilsi can you get 10916-eval-basetheme onto a server so that I can see @mukeyshkumar's work? I can see the commits but I'll know better if it looks right by seeing it in a test site context like http://d8.theopenscholar.com/

[2019-02-19 18:08] rbran100 commented on #11074
@dancabral can you not see it here? http://d8.theopenscholar.com/site01/people that is demo

[2019-02-19 21:03] dancabral commented on #11074
@rbran100 it looks the same on my end http://d8.theopenscholar.com/people?ffettt. It muse be cached (server)?

[2019-02-20 02:15] dancabral commented on #11074
@rbran100 I cleared the Drupal cache and see some updated code now.

@mukeyshkumar you were correct when you said that all of the styling in osbasetheme for the content types should be the same. Colors and font styling will happen in the branded themes (ex. Vibrant and Modern).

- News teaser looks good. Is it possible to change the image in the teaser to be 100px x 100px?

- Person teaser -  Is i

[2019-02-20 06:35] subhojit777 commented on #11056
There will be only one storage table for the field, rest of the bundles will be copying/re-using the settings, and they can have their own entity view display and form display settings. I agree with the config duplication, and I think an alternative is to implement them as entity properties. I am thinking it as - "if its a setting, and doesn't need to shown to end user, then implement as property.

[2019-02-20 06:40] subhojit777 commented on #11056
How about implementing them as properties? Agree with @mpetrovic here https://github.com/openscholar/openscholar/issues/11056#issuecomment-465195664 And I think keeping only GoogleScholar as property, and not others would look inconsistent.

Please share your thoughts @uttkarsh-26

[2019-02-20 08:03] subhojit777 commented on #11056
@mpetrovic The repec settings

![image](https://user-images.githubusercontent.com/1435641/53075823-1b96da80-3514-11e9-87c1-852e2589c3c4.png)

Does this needs to be handled per vsite?

[2019-02-20 08:20] subhojit777 commented on #11056
I am making changes in repec module, and the changes are dependent on each other, therefore, creating independent patches for each is not possible. Therefore, I am using a fork https://github.com/subhojit777/repec Do you need it to be forked from https://github.com/openscholar organization? In that case I will need access to create forks.

@Bilsi @mpetrovic @rbran100

[2019-02-20 09:11] subhojit777 commented on #11056
@uttkarsh-26 @mpetrovic carrying on https://github.com/openscholar/openscholar/issues/11056#issuecomment-465444816

Discussed with colleagues as well. They said that if the data **should be** attached with all bundles, then property makes sense.

[2019-02-20 09:34] stamina84 commented on #10997
I don't know why, but my `VsiteInfiniteScrollFrontendTest` is not stable, sometime Travis test run is fail

[2019-02-20 12:49] mukeyshkumar commented on #11074
@dancabral
1. News teaser icon changed to 100 x 100 (changes made to image style "News photo icon" it was 180 x 180)
2. Person teaser used the same image style. Also changes made to teaser mode fields as per d7.
3. Link teaser mode template added and website URL display in the title and added read more link if text exceeds 300 same as in D7.
4. Created a new image style for person, news details pa

[2019-02-20 14:48] mpetrovic commented on #11056
Property does make sense, but you say that properties should not be exposed to the user. Would the choice of repositories to distribute to be properties as well?

I'm not concerned about the Field tables, I'm concerned about having 25+ config files that are exactly the same except for the filename. Keeping them in sync will be annoying.

Repec settings do not need to be per vsite at this time.

Fo

[2019-02-20 17:28] rbran100 commented on #11074
@dancabral @mukeyshkumar I ran config import on d8.demo which pulls in quite a few of these updates that were in code.

[2019-02-20 19:11] rbran100 commented on #10997
This looks good, we can merge when the test is passing

[2019-02-20 19:12] #11061 closed

[2019-02-21 12:01] mukeyshkumar commented on #11074
@rbran100 @dancabral I am not able to see changes on demo server.

- I have enabled faq views for ui.
- Theming done for software projects.

Classes. links, News, People, Presentation, Projects, Faq teaser and details pages basic theming temlating done. Please review.
Attaching screenshot for reference.
![software-list](https://user-images.githubusercontent.com/47223502/53167621-7442a200-35fe-11e9

[2019-02-21 14:05] stamina84 commented on #11019
@mpetrovic I found the wrong config file, why i can't post any video media type on local: https://github.com/openscholar/openscholar/commit/c47fdc5f1e72b8f3997eabd58f20edbddf771724

I checked the exists `Video` media type, but this type is not related to `video_embed_media` module. I think, we should redesign this type, because as you said we won't streaming any video.

<img width="874" alt="keper

[2019-02-21 14:52] mpetrovic commented on #11019
We still need to be able to accept video files users upload, even if we don't allow embedding them onto a site. It's a current capability in D7.

[2019-02-21 15:22] stamina84 commented on #11019
Ok, then i will redesign as follows:
* Rename Video/Audio to Audio
* Remove "Remote video url" from Video
* Rename "Video embed" to "Remote"

[2019-02-21 16:26] mukeyshkumar commented on #11074
@dancabral
Please review content type teaser and detail pages
http://d8.theopenscholar.com/site01/people

[2019-02-21 18:10] Bilsi commented on #11056
_I suspect the mechanics for receiving a deposit from OS is no longer functional on the DASH end. This is two-fold: years ago, we were receiving pushes with works we couldn’t legally make available in DASH (happy to provide more info here) and we recently migrated our repository and have yet to update our code to accept deposits via the SWORD protocol. We are currently working on the latter and I

[2019-02-22 12:29] stamina84 commented on #10997
It seems i can eliminate the problem, wait for all tests run

[2019-02-25 02:57] dancabral commented on #11074
thanks @mukeyshkumar

Your screenshots look good. I couldnt see the same views on http://d8.theopenscholar.com/. Im guessing its a combination of needing to run updates or changing the views?

Classes

- Teaser looks good!
- Page view looks good

Link

- Teaser looks good!
- Page view looks good

News

- Teaser
Can you: remove the date label and the hour time stamp. convert the date format so that

[2019-02-25 05:59] subhojit777 commented on #11056
We can expose the property to end user. I don't see any harm doing it. Nodes have published setting as property `status`, and it is exposed to the user.

Sorry for the confusing statement I made above. The repository settings, etc. can be easily handled with properties.

@uttkarsh-26 @mpetrovic

[2019-02-25 07:25] subhojit777 commented on #11056
The repec is generating rdf files and I need an application to check whether the rdf file is correct. I am using Mac. Which tool have you used in the past to check rdf files? @Bilsi @mpetrovic @rbran100

[2019-02-25 10:14] stamina84 commented on #11019
@Bilsi @mpetrovic I use `Responsive Video` view settings for embed videos, is it enough or should i solve max width problem? Not easy to handle "maxwidth" with other contrib module. Or any suggest to handle it?
<img width="941" alt="kepernyofoto 2019-02-25 - 11 10 36" src="https://user-images.githubusercontent.com/3629993/53330312-7783a980-38ee-11e9-884b-eb794d56b0ac.png">

[2019-02-25 11:54] mukeyshkumar opened #11084 "Create public theme "aglet""
This will be based on the D7 version of the modern theme.
More detailed specs to come but a simple version of this theme needs to be created.

[2019-02-25 12:10] mukeyshkumar opened #11085 "Create public theme "ballard""
This will be based on the D7 version of the modern theme.
More detailed specs to come but a simple version of this theme needs to be created.

[2019-02-25 12:16] stamina84 opened #11086 "Override proxy timeout by environment"
Able to set timeout in environment which set variable in docker

[2019-02-25 12:30] mukeyshkumar opened #11088 "Create public theme "bigpic""
This will be based on the D7 version of the modern theme.
More detailed specs to come but a simple version of this theme needs to be created.

[2019-02-25 13:02] mukeyshkumar commented on #11074
@dancabral
**News**
* Teaser
  Can you: remove the date label and the hour time stamp. convert the date format so that it prints month name, day, four digit year
* Page view
  Can you: remove the date label? except the news image is missing.
**Done**
<hr>
People

* Teaser
  Looks good. Can you change the thumbnail crop size so that its 100x100? This is a change from the D7 version.
**done**
* Page

[2019-02-25 14:35] mpetrovic commented on #11019
Responsive Video sounds like exactly what we want in all situations. Let's ignore maxwidth for now until someone complains. If we can get away with out it, that would be ideal.

[2019-02-25 14:41] #11086 closed

[2019-02-25 15:55] stamina84 commented on #11020
@Bilsi I did a following radio button style, instead of image in radio selecion, is ok, or do it like D7 style?

<img width="694" alt="kepernyofoto 2019-02-25 - 16 53 12" src="https://user-images.githubusercontent.com/3629993/53349733-06f48100-391e-11e9-9b5b-0cde873adb4a.png">

[2019-02-25 16:21] Bilsi commented on #11056
@subhojit777 - Talked to the team, does not look like we tested this in D7. At least none of the current team did. @rbran100 - do you know about this?
At this point, can you look into what tool would work?

[2019-02-25 17:10] Bilsi commented on #11020
@stamina84 - that works, we can link to the documentation eventually, so they can see a snapshot of what it will look like

[2019-02-25 17:49] #11084 closed

[2019-02-25 17:49] #11085 closed

[2019-02-25 17:49] #11088 closed

[2019-02-26 02:04] dancabral commented on #11074
Thanks @mukeyshkumar

Presentations

- Teaser and page views look good

Software

- Teaser and page views look good

Faq

- Teaser and page views look good

People

- Teaser looks good
- Page view. Perhaps @mpetrovic can take a look or help with the format. The data is printing, but the format needs some rearranging. (ex. title should print just below the profile full name)

![screen shot 2019-02-

[2019-02-26 03:56] subhojit777 commented on #11056
I found some tools like https://www.filemagic.com/en/disk-image-files/rdf-file-extension/how-to-open-a-strange-rdf-file-on-your-computer I wanted to know if there is another way to open the files without third party tools. I will give it a try.

[2019-02-26 04:14] subhojit777 commented on #11056
@Bilsi @rbran100 The filemagic tool didn't work. But I was able to open it with Firefox browser.

[2019-02-26 10:48] mukeyshkumar commented on #11074
@dancabral @Bilsi
**News**

- teaser and full-page date format changed. Please review.
<hr>

**People**

- I have changed the format. Now I am showing first name and last name as a title in both teaser and full view. Also, I have placed the title field under fullname.

<hr>

In people, some of the fields are missing like geographic area, research clusters, current people

[2019-02-26 11:39] subhojit777 commented on #11074
I have asked @mukeyshkumar to not push the machine generated CSS into the repo. Only the Sass should be pushed. Today, he was asking how to handle the CSS code in the test environment http://d8.theopenscholar.com

---

The CSS should be generated by the CI, and stored as artifact, and it should be used for deployment.

There are many benefits of deploying this way:

1. Less/No human intervention d

[2019-02-26 12:25] stamina84 commented on #11021
I am going to use and implement https://github.com/J7mbo/twitter-api-php. Drupal contrib twitter_pull module use this too

[2019-02-26 14:09] mukeyshkumar opened #11090 "Create featured theme "hwpi_lamont""
This will be based on the D7 version of the hwpi_lamont theme.

PR: #11202

[2019-02-26 14:10] mukeyshkumar opened #11091 "Create Featured theme "conservative""
This will be based on the D7 version of the Conservative theme.
PR: #11163

[2019-02-26 14:12] mukeyshkumar opened #11092 "Create Featured theme "Widener""
This will be based on the D7 version of the hwpi_widener.
PR: #11211

[2019-02-26 14:53] stamina84 commented on #11019
Fixed review issues

[2019-02-26 15:11] Bilsi commented on #11071
@stamina84 -  This got a little to big - we cannot delete all this content, but we do need to fix this for the user who complained. Can you just give me a query to select the content that is not in a group for just this site - https://www.iq.harvard.edu/  ?

[2019-02-26 19:28] mpetrovic commented on #11074
Those are taxonomy terms. They aren't hard-coded fields, and the actual contents will change from site to site. They used the same styling as the other groups of fields.

We do care about this kind of error. It should be solved in a separate ticket.

[2019-02-26 19:33] mpetrovic commented on #11074
@subhojit777
We have a build script run by the CodeShip service that does all of that. It pulls in all external resources, does any compilation that's needed, and then pushes it to a private repository we have. Then that gets bundled into a zip and pushed to AWS.

So yes, we already take care of that for D7, and will be using the same for D8.

[2019-02-26 19:34] Bilsi commented on #11074
@mukeyshkumar - does it show correctly on your local? If it is not displaying as per the latest code in the demo, can you login and take a look? Maybe @subhojit777 can help you? If you have trouble accessing the demo server, you can ping Janos on slack, he comes in a few hours after you. Let me know if you find an issue

[2019-02-26 19:56] Bilsi commented on #11074
@mukeyshkumar - Can you also merge the 8x branch into your branch so that we get all the latest code?

[2019-02-26 20:41] stamina84 commented on #11071
@Bilsi simple answer is i can't create query like this, because if i select content which not related to any OG group, that means i can't filter to IQSS site. For example node with `event/tech-science-seminar-3` is created `BY ANONYMOUS ON 2018-12-03 00:00:00 -0500`, that means i can't filter to user. These nodes can be reach on any site, for example: https://psr.iq.harvard.edu/event/tech-science-

[2019-02-26 21:50] rbran100 commented on #11074
@subhojit777 that makes sense and was @mpetrovic thought as well, I will add it as a hook inside composer tomorrow or you can tonight if you wish.

 I will update the build/deploy script as well to make sure it makes use of it correctly.

The deploy script does check in the results of the build in a separate dedicated repo and that is used for deployment.  This allows for quick code perfect rollba

[2019-02-27 05:25] mukeyshkumar commented on #11074
This looks fine to me on the demo server.

[2019-02-27 06:09] subhojit777 opened #11093 "Prevent code standard checking of deleted files in pre-commit hook"
**Problem/motivation:**

I removed a CSS file from the repo, and it was not allowing me to commit.

The CSS file should not have been committed in the first place, but due to incorrect `.gitignore` it got in the repo. Anyways, it makes sense not to code standard check deleted files.

[2019-02-27 09:28] mukeyshkumar commented on #11091
I have used hwpi_themeone_bentley ref for creating the basic version.

[2019-02-27 10:09] uttkarsh-26 commented on #10996
Hi @mpetrovic ,
As per your comment , I have kept one setting in cpSetting form that is to allow to enter a web property id .
For a site wide admin form there is already a configuration form provided by Google analytics contrib module which can be used on site wide basis and I think these will not be visible to regular users when group/vsite functionality is completed . Please correct me if I am w

[2019-02-27 10:40] subhojit777 commented on #11074
@rbran100 @mpetrovic @Bilsi

I have made changes in the deploy script. It is now building Sass -> CSS. I have made these commits https://github.com/openscholar/openscholar/commits/10916-eval-basetheme However, it still needs the bootstrap symlink, which is done by `composer`, and currently `composer install` is failing. It kept failing with error `Unable to register code standards. Please fix the

[2019-02-27 11:23] mukeyshkumar opened #11095 "Create featured theme "hwpi_college""
This will be based on the D7 version of the hwpi_college theme.
PR: #11259

[2019-02-27 11:47] mukeyshkumar opened #11096 "Create onepage theme "hwpi_onepage""
This will be based on the D7 version of the hwpi_onepage theme.

[2019-02-27 11:57] uttkarsh-26 opened #11097 "Phpcs pre commit hook fails when file is deleted."
Example error when I deleted the schema file as we do not need it now:
[code]
This does not allow commit and push

[2019-02-27 12:03] uttkarsh-26 commented on #11097
duplicate of https://github.com/openscholar/openscholar/pull/11094

[2019-02-27 12:03] #11097 closed

[2019-02-27 12:59] t6nis opened #11098 "How to enable comments on specific pages only?"
How to enable comments on specific pages only?
Is it possible to enable comments on Page content type?

Running SCHOLAR-3.102.

[2019-02-27 13:40] tcheng001 opened #11099 "In Past Events page, term redirects to upcoming events' term page"
Tested on https://scholar.harvard.edu/tcheng10
Here is an example:  I am on  /calendar/past_events page. Clicking the term "odd" and  it redirects to https://scholar.harvard.edu/tcheng10/calendar/upcoming/vocabevent/odd.   This is a term page of upcoming events.  I think it should redirects to past events' term page.

![screen shot 2019-02-27 at 8 17 01 am](https://user-images.githubusercontent.co

[2019-02-27 14:45] mpetrovic commented on #11074
Codeship is where we build the code that is going to be deployed on production. It should be stripped of any development code, like phpcs and behat and the like. Any scripts we have should take this into account.

[2019-02-27 14:51] rbran100 commented on #11071
@stamina84 what data did you get about how long this took to run?

[2019-02-27 15:02] stamina84 commented on #11071
@rbran100 in local i can't wait all deletion, just test on a few hundreds nodes. I think it will take approx 1 hour

[2019-02-27 15:15] rbran100 commented on #11071
we need to dry run fully in stage to get a sense of the time taken and the verify the result

[2019-02-27 15:23] mpetrovic commented on #10996
Do you mean migrating non-UA codes to UA? Or something else?

In any case, some tests are in order.
1. To make sure the form works
2. To make sure the codes show up on the page.

[2019-02-27 16:47] dancabral opened #11100 "D8 Accessibility checklist / resources"
@mukeyshkumar here is a checklist of accessibility items that should be followed as you build out the basetheme, the administrative interface and the subthemes as it relates to color contrast. Following this checklist will address roughly 80% of AA issues (https://www.w3.org/WAI/standards-guidelines/wcag/). https://accessibility.huit.harvard.edu/10-essentials-developers

This tool may have been re

[2019-02-27 19:48] stamina84 commented on #11071
Here is the report of deletion:
[code]

The update took about 3hours

[2019-02-28 05:27] subhojit777 opened #11101 "Fix broken demo site d8.theopenscholar.com"
Yesterday I was working on #11074, and I was trying to push the CSS code to the demo site. While working on it, I accidentally broke the site. I `ssh`-ed into the server, and found that the `vendor` directory is missing. I think that is the reason why the site isn't working. However, I can see the `vendor` directory in https://bitbucket.org/openscholar/deploysource/src/8.x-1.x-dev/openscholar/ I a

[2019-02-28 05:45] subhojit777 opened #11102 "Prevent CSS in code standard checks"
The code standard checks in TravisCI builds are failing. It is also checking the machine generated CSS files. It should not check CSS files which are machine generated.

[2019-02-28 09:29] subhojit777 opened #11104 "Remove code standard check installation from Composer"
**Pull request:** #11105

Quoting @mpetrovic comment https://github.com/openscholar/openscholar/issues/11074#issuecomment-467888659

**Remaining tasks:**

Update https://docs.google.com/document/d/1-tdPqKzRBdQfIG94i8hdKWDzpdJE_yczhLqVOd9V_Kk/edit?usp=gmail so that it mentions running of the scripts - after completing the local setup:

[code]

[2019-02-28 11:27] stamina84 commented on #11071
I created a new update hook, which delete file_managed rows with is null uri. These records seems orphaned to me and stuck the deletion process at hwpi. I found ~22 rows in projects db, ~30 rows in hwpi and ~17 rows in scholar.

Report remain from hwpi:
[code]
Might be i should repeat the update at hwpi? Missing the first part of deletion report.

[2019-02-28 12:32] mukeyshkumar commented on #11100
I go through this link https://accessibility.huit.harvard.edu/10-essentials-developers and studied all the mentioned points.

1. Semantic Markup: Do all elements have the correct semantic markup?
Looks like we have implemented the semantic HTML like in our themes we have used header, nav. main, section, aside footer etc. Also, d8 using semantic HTML.

2. Input Labels: Are there descriptive labels

[2019-02-28 14:20] uttkarsh-26 commented on #11056
- Proceeding forward with handling of distribution to various repos , I implemented various hooks like base form alter for our entity.
- Other hooks include hook entity insert and update that will be triggered when node is saved/updated.
Implemented logic in function which will be called when insert/update hooks are called and it will check which repos are selected and will call their distribution

[2019-02-28 15:50] #10911 closed

[2019-02-28 15:51] mpetrovic commented on #10907
@stamina84
Is there something else to be done here? Something about caches?

[2019-02-28 16:58] #11102 closed

[2019-02-28 17:03] mpetrovic commented on #11104
Is there some way of detecting that this is a dev install in these scripts and taking action accordingly? Rather than just removing them completely.

[2019-02-28 17:20] #11101 closed

[2019-02-28 18:36] Bilsi commented on #10907
@mpetrovic - can you look at https://github.com/openscholar/openscholar/issues/10907#issuecomment-440624667

[2019-02-28 19:30] tcheng001 opened #11106 "Site Info widget: there are some unwanted text"
Please remove them.
![screen shot 2019-02-28 at 2 25 51 pm](https://user-images.githubusercontent.com/2111600/53592839-229d9880-3b65-11e9-9672-9c3c512311ff.png)

[2019-02-28 19:40] stamina84 commented on #11000
Dev notes: d7 logic: https://github.com/openscholar/openscholar/blob/edddcfb3796c1b00ac87557c8c39fa6e95b4be57/openscholar/modules/vsite/vsite.module#L3330

[2019-02-28 20:45] mpetrovic commented on #10907
@stamina84
Could you merge 8.x-1.x-dev into this? And make sure it installs? I'm having trouble getting it working.

[2019-03-01 04:16] subhojit777 commented on #11104
Great idea!! But I would like to hold it for now. Richard asked me to:

I might come up with a generic solution, i.e. run a set of commands while doing the local setup, and another set of commands while doing the setup in CI.

[2019-03-01 04:56] mukeyshkumar commented on #11100
@dancabral
Attaching some of the screenshot of http://wave.webaim.org using demo server.
![d8 demo-report](https://user-images.githubusercontent.com/47223502/53617247-6697a880-3c0c-11e9-949e-62f5707e47ee.png)
![d8 demo-report1](https://user-images.githubusercontent.com/47223502/53617248-6697a880-3c0c-11e9-80ac-e19c12f75636.png)

[2019-03-01 05:11] subhojit777 opened #11107 "Research compiling Sass using Composer"
**Pull request:** #11142

[2019-03-01 05:22] subhojit777 commented on #11107
Although we can achieve the requirement of Sass compile with Composer, but I don't think we should do it. Quoting an answer from StackOverflow https://stackoverflow.com/a/29096849/1233922

Additionally, there could be other requirements in future, like, installation of Git `pre-commit` hook. Currently, it is being installed via Composer (which is also installed in the CI, which is wrong). We are u

[2019-03-01 05:37] subhojit777 commented on #11107
https://robo.li looks like the best fit here. It supports:

1. [Gulp tasks](https://robo.li/tasks/Gulp) - for Sass compile
2. [Filesystem tasks](https://robo.li/tasks/Filesystem) - for `installFullcalendarLibrary`, `installBootstrapLibrary`, `pre-commit` hook installation

---

Also, currently I run tests like this:

[code]

Thankfully, I know how to quickly search the command history, and I don't

[2019-03-01 05:55] subhojit777 commented on #11107
We will create Robo tasks for the local setup. It could also be used during the CI setup - but I am not inclined towards it. We already have Robo tasks for the CI, the tasks are hardcoded with Docker commands. We will have to make them non-Docker specific. And this might take time. Creating separate tasks for local looks good here. I will make sure not to use Docker commands this time. We can late

[2019-03-01 05:59] subhojit777 commented on #11107
I found another alternative [blt](https://github.com/acquia/blt) Haven't much used it before. It has a prerequisite https://blt.readthedocs.io/en/latest/adding-to-project :

I found Robo simpler than blt. Robo has lots of examples, we can quickly implement the requirements using Robo.

[2019-03-01 06:01] subhojit777 commented on #11104
Robo can be used here https://github.com/openscholar/openscholar/issues/11107

[2019-03-01 06:02] subhojit777 commented on #11107
**Questions:**

1. I checked this [build](https://app.codeship.com/projects/d9b72eb0-806d-0135-1660-2e7479c98527/builds/40335955?pipeline=42294d09-9050-4d29-8d47-68b8b870332f). It creates a zip of the pushed branch from repo https://bitbucket.org/openscholar/deploysource, and then unzips it in the AWS server. Is my understanding correct?
2. In the deploy script, I couldn't find any command for upd

[2019-03-01 06:20] subhojit777 opened #11108 "Check Sass file changes before compiling them in Codeship"
**Pull request:** #11109

Currently they are being compiled to CSS even though the code push does not contain Sass changes. Make sure it is compiled only if it changes.

[2019-03-01 09:09] subhojit777 commented on #11107
@rbran100 @mpetrovic @Bilsi I also talked with my colleagues regarding this. They suggested using Makefile. We already have a [`Makefile`](https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/Makefile) I am using it to compile Sass in CI. It currently also handles `composer install`.

For handling conditions, we can use shell scripts, and run them from Makefile.

Unlike Robo, it does not ne

[2019-03-01 10:20] subhojit777 commented on #11108
@rbran100 @mpetrovic  I am seeing error

Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'
could not rev-parse split hash a99b8f0e9586a6368b198885adea41947b5706be from commit 7a56be533da339144f865b84aea8ca2c11cde876
Can't squash-merge: 'openscholar' was never added.

in this [build](https://app.codeship.com/projects/197702/builds/40376614?pipeline

[2019-03-01 11:58] subhojit777 opened #11110 "Research a way to build CSS with a single command"
**Problem/motivation:**

Currently we are `cd`-ing into `os_base` theme and running `gulp sass`, see [`Makefile`](https://github.com/openscholar/openscholar/blob/8.x-1.x-dev/Makefile). It is not scalable when there will be more themes. `cd`-ing into every one them and building CSS is not possible.

**Resolution:**

1. Create a base theme on top of `os_base`, which will contain `package.json` and `

[2019-03-01 13:02] stamina84 commented on #10907
@mpetrovic I am stuck too.. i can't create a content in the group:
<img width="836" alt="kepernyofoto 2019-03-01 - 11 34 14" src="https://user-images.githubusercontent.com/3629993/53639775-74f4bd00-3c2a-11e9-9062-713fedb06f9f.png">
Missing a module?

Anyway there is no PR for that, it is already on 8.x-dev branch, you can test on

[2019-03-01 14:30] dancabral commented on #11100
this is great @mukeyshkumar. sounds like you have a good handle on the list. regarding #5 contrast - this will be important in the  administrative UI and each of the branded child themes. If you use the same color scheme as whats currently in the branded themes, then color contrast should be automatically taken care.

[2019-03-01 15:03] tcheng001 commented on #11106
Also occurs in Site Logo widget
![screen shot 2019-03-01 at 10 03 04 am](https://user-images.githubusercontent.com/2111600/53646486-4ca89680-3c09-11e9-8769-5ceed569a7f5.png)

[2019-03-01 16:51] Bilsi commented on #11108
@subhojit777 - we deleted the branch  11108-sass-codeship from deploysource.

[2019-03-01 20:06] mpetrovic commented on #11046
The `group_purl` module added subdomain support, but it applies the subdomain logic all of time, doesn't care if `purl_base_domain` isn't set, and there's no way to turn it off.

[2019-03-01 20:07] tcheng001 opened #11111 "pagination seems broken on People term page"
Here is an example:
https://sociology.fas.harvard.edu/people/sociology-faculty?page=1
You can see
Robert J. Sampson
Theda Skocpol
...
Christopher Winship

if you click [Load previous], then All those profiles are listed twice. see the attached.
![screen shot 2019-03-01 at 3 05 10 pm](https://user-images.githubusercontent.com/2111600/53663411-b178e680-3c33-11e9-8b46-045e7a644eac.png)

[2019-03-01 20:42] mpetrovic commented on #11046
Documented in https://www.drupal.org/project/group_purl/issues/3036879

I don't expect to hear anything, since the maintainer hasn't responded to the last issue I opened at the start of January.

[2019-03-03 19:48] stamina84 opened #11113 "OS metatag config fix"
Fix config schema naming to `settings` instead of `setting`

[2019-03-04 05:37] subhojit777 commented on #11010
The vsite specific pallete settings can be stored inside `vsite/<site-name>`. For example, the site name is `mysite`, then it will be stored inside `vsite/mysite/color.theme.os_base.yml`.

@mpetrovic @Bilsi @rbran100 @mukeyshkumar

[2019-03-04 07:50] mukeyshkumar commented on #11110
As discussed with subhojit I have added another approach and update the approach in the issue.
I have tried with the third approach. In this approach, I am able to build the CSS from sub-themes but I have faced some challenges:
It's creating all the CSS files in the themes folder instead of each sub-themes.

[2019-03-04 08:21] subhojit777 commented on #11110
I have asked @mukeyshkumar to look into it, as we will be needing this in https://github.com/openscholar/openscholar/issues/11073 and other similar issues.

@Bilsi @rbran100 @mpetrovic

[2019-03-04 08:33] mukeyshkumar commented on #11074
@dancabral what about the header and footer for the base theme. In the current os base theme in the header, there is only a menu with links and footer I haven't work.
Please share your thoughts on this.

[2019-03-04 12:22] subhojit777 opened #11115 "Fix failing pre-commit hook due to container name"
**Pull request:** #11116

**Problem/motivation:**

@stamina84 reported:

I can’t commit with new phpcs checker:

[code]

His `docker-ps` output:

[code]

**Resolution:**

`pre-commit` checks for the presence of container with name containing `openscholar_php`. In @stamina84's case, his directory name is different, and which resulted in a different container name.

Use a custom [container name](htt

[2019-03-04 12:25] stamina84 commented on #10907
I can reproduce the error with nodes what created with custom code, not on admin by clicking.

[2019-03-04 12:50] subhojit777 commented on #11056
1. I have to implement the templating for other series types. And make it work with the bibcite module. I will have to write the code as generic as possible, so that other entity types can also be easily integrated. - 1 - 1.5 days
2. Write tests for the templating of other series types. - ~2 days

Also, the repec needs to be integrated.

Should I continue with the above pending tasks, or right awa

[2019-03-04 15:03] #11113 closed

[2019-03-04 15:53] #11108 closed

[2019-03-04 15:59] mpetrovic commented on #11010
Why are they being stored in a file? Can't they live in the database with the rest of the config?

[2019-03-04 16:04] Bilsi commented on #11056
@subhojit777 - no, clean it up for demo first, also events does not work on demo, when we click calendar, it moves out of the vsite. Can you fix the issues so demo looks good?

[2019-03-04 19:21] mpetrovic commented on #10907
I added nodes via node/add/blog and I'm not seeing any issues just casually clicking around. If you're creating nodes through code, are you sure they're getting added to the group?

I'm trying to confirm only the right views get cleared, but I can't find where the cache is stored. Do you know where it is?

[2019-03-04 19:27] dancabral commented on #11074
Sorry @mukeyshkumar I dont understand. There are 3 header regions...other than menu's, other widgets can be placed in those regions. Similarly, there are 4 footer regions...other than menu's, other widgets can be placed in those regions too. Are you asking about styling, about the regions, etc ?

@Bilsi

[2019-03-04 20:17] mpetrovic commented on #10907
Caches appear to be working correctly on my end. Nodes can be created through {purl}/node/add/blog.

There's an issue where attempting to hit the node page redirects you to the wrong domain, but it's the same issue as #11046.

[2019-03-05 04:17] subhojit777 commented on #11010
@mpetrovic Which configs are you talking about? There is benefit of storing them in file. A common configuration can be used, and it will be stored as files in repo, so it can be version controlled. Db config changes cannot be tracked, and maintaining a common configuration for all will be more difficult.

[2019-03-05 04:27] subhojit777 opened #11117 "Menu blocks should always have the correct site prefix and should be cached per site context"
**Pull request:** #11210

Problem originally reported here https://github.com/openscholar/openscholar/issues/11056#issuecomment-469308320

This appears to be a caching issue, the menu block should be cached per-vsite

[2019-03-05 04:32] subhojit777 commented on #11117
@Bilsi

Tried to to replicate the problem with the following steps, but couldn't replicate.

1. Go to http://d8.theopenscholar.com/site01/node/add/events
2. Create an event, make sure it is published
3. Go to http://d8.theopenscholar.com/site01/calendar
4. Click on the event and the event opens in a new tab

@Bilsi Can you tell me the steps you followed.

Supporting screenshots:

![image](https://

[2019-03-05 05:56] mukeyshkumar commented on #11110
added script for build css in each sub-theme folder.
- run npm install in the themes folder
- run gulp sass

[2019-03-05 06:18] mukeyshkumar commented on #11074
@dancabral
Yes, I am talking about the basic styling of header and footer in base theme.

[2019-03-05 09:49] stamina84 commented on #11111
The problem is when the user is clicked Load previous, then autoloader decrease pager number (2 -> 1). After that if you scroll down, the pager number is increased (1 -> 2), but that will be the same as loaded (2), not the original is increased, thats why load page2 again not page3.

It seems i have to patch this library https://github.com/sagotsky/jquery-autopager to handle this usecase.

[2019-03-05 11:26] Bilsi commented on #11117
@subhojit777 - go to http://d8.theopenscholar.com/site01, click on calendar in the menu on the top

[2019-03-05 11:44] subhojit777 commented on #11062
@Bilsi @mpetrovic @rbran100 asked for help https://drupal.stackexchange.com/questions/277314/unable-to-load-plugin-definitions

[2019-03-05 14:28] mpetrovic commented on #11010
We won't be applying version control to user settings, which is what anything in a vsite/mysite directory would be. Your proposal as I understand it would mean every site would haves its own copy of color.theme.os_base.yml, and when you have thousands of sites, that adds up.

[2019-03-05 15:30] stamina84 commented on #10907
Here is my steps:
* i create a new news node without group related (called “Global news”) on `/node/add/news`
* i create a new news with group on `site01/node/add/news` (call “Site 1 news”)
* i do `./drush.sh cr`
* i visit `/news` and i see both content
* i visit `/site01/news` i see both, but is should see only “Site 1 news”
* but if i do `./drush.sh cr` and refresh `/site01/news` i can see only

[2019-03-05 15:41] rbran100 commented on #11107
That is correct

We run it manually along with updates as part of our QA process, for D8 dev it might make sense to automate that for a time, at least for the 8.x branch

As for using a Make file, we don't use that Make file, subojit added it and I am not sure for what but I have not used it.  if we can't compile the sass easily in composer with a post install command then we will just run it sepe

[2019-03-05 20:45] rbran100 commented on #11107
not sure that #11110 has anything helpful but when we close this we can close it as well.

[2019-03-05 20:47] rbran100 commented on #11110
Closing in favor of #11107

[2019-03-05 20:47] #11110 closed

[2019-03-05 20:49] rbran100 commented on #11104
I think it is fine to just add it to our dedicated codeship script, since it is for deplying for QA prod anyway, seems less complicated?

[2019-03-05 21:21] #11115 closed

[2019-03-06 02:02] dancabral commented on #11074
@mukeyshkumar  Correct, the only styling specific to the header and/or footer (that comes to mind) will be applied to a menu - horizontal when its in the header and vertical when placed in a footer region.

[2019-03-06 05:01] subhojit777 commented on #11010
Got it. The site specific settings can be `config_split`-ted and it won't come under version control. @mpetrovic

[2019-03-06 05:10] subhojit777 commented on #11107
I added the makefile for compiling sass. The makefile is being used in TravisCI - for building the environment.

[2019-03-06 05:18] subhojit777 commented on #11104
Using an environment variable or something for detecting the instance seems good here. We can control execution of scripts using the environment variable.

[2019-03-06 08:58] stamina84 commented on #11111
I did a fix for that, i have to patch library.

[2019-03-06 13:16] mukeyshkumar opened #11122 "Calendar ui mini and full view issue"
In calendar mini and full view, some of the extra button displayed in d8 as these buttons are not in d7. Do we need these button in D8. Like today button in both mini and full view and Month button in mini view.

Attaching screenshot for ref.
![d7-calendar](https://user-images.githubusercontent.com/47223502/53883603-74e82900-403f-11e9-8670-a3640bd12614.png)
![d8-mini-calendar](https://user-images.

[2019-03-06 15:10] rbran100 commented on #10907
ok, we were able to reproduce, thanks @stamina84

[2019-03-06 15:54] Bilsi opened #11123 "Vsite User Management - 1"
Add an existing user to the site as a member

[2019-03-06 15:55] Bilsi opened #11124 "Vsite User Management - 2"
Create a new user from e-mail User creation can be easily disabled per install

[2019-03-06 15:55] Bilsi opened #11125 "Vsite User Management - 3"
Remove a user from the site

[2019-03-06 15:56] Bilsi opened #11126 "Vsite User Management - 4"
Allow a site owner to make another user the site owner

[2019-03-06 16:00] rbran100 commented on #11046
@mpetrovic is going to write a proper fix for purl with a/some test(s) and it will replace the merged patch

[2019-03-06 18:56] mpetrovic opened #11127 "Media Browser Tests"
Media Browser tests are incomplete.

The following capabilities need tests:
* [ ] The output format is correct (OsMediaNormalizer)
* [ ] Restful services accept requests in any format (ContentTypeHeaderMatcher)
* [ ] The Field Widget puts the right markup and js on the page (MediaBrowserWidget)
* [ ] Angular modules can be registered and are inserted on the page. (OsAngularModuleManager)
* [ ] Fil

[2019-03-06 19:32] #11011 closed