[2015-04-27 06:43] RoySegall commented on #7093
@ran81 You need to go in our `hook_field_update` similar to `imagefield_crop_field_update` and do the opposite check of what he does:
`if (isset($item['cropbox_changed']) && $item['cropbox_changed']) {`
and create our own file usage. After that check what happens if we crop the image - is there two entries?

[2015-04-27 06:50] RoySegall commented on #7133
We will need to check on the caching time of the widget of the entity bundle is private or not. Another thing we need to do is to invalidate when changing the bundle settings.

We will also need to set cache ID for each user since we dealing with entity access permission.

[2015-04-27 10:00] ran81 commented on #7093
@RoySegall

As we talked before, using ``hook_field_update()`` is not working. Thing is this:
If you create a new person node and upload an image, even if you don't touch the crop tool the file is saved correctly with the right usage in the file_usage table.
The problem only accours when updating an exisitng person node that doens't have a profile photo, and the crop tool is not touched (though I

[2015-04-27 11:10] RoySegall commented on #7137
Well... when removing the file from the file field we need to check if it's inside the body. If so, prevent the deletion or we can just hide the remove button. This could be tricky when trying to delete it from cp/files but one thing at a time.

@rbran100 What do you think?

[2015-04-27 11:13] RoySegall commented on #7093
We need to see if the form have any data to give us about it. Maybe we will have an indicator if the image are cropped or not and the file id of each of them.

[2015-04-27 14:07] RoySegall commented on #7133
@ran81 This should be an access check to the widget and not the content of the widget.
User can access blog and not events:
Widget with blog and events: not show
widget with events: show
wighet with blog: don't show

[2015-04-27 14:10] RoySegall commented on #7093
@ran81 let's fix this edge case in another issue.

[2015-04-27 14:20] #7122 closed

[2015-04-27 14:20] rbran100 commented on #7122
You can do this by making a LOP with the book content type.

[2015-04-27 14:35] mpetrovic commented on #7137
We already have code to force delete files from cp/files regardless of their usage. That's not a concern.

[2015-04-27 16:19] tcheng001 commented on #7143
Marked "Fixed"

![screen shot 2015-04-27 at 12 17 21 pm](https://cloud.githubusercontent.com/assets/2111600/7352079/6684b320-ecd7-11e4-8441-1f3d5bd0ac89.png)

The content also displays correctly for all Display styles (including Full content, Link with no icon, Link with icon, Title, Teaser and Thumbnail)

[2015-04-27 16:30] tcheng001 commented on #7092
@RoySegall   Moved the issue back to "in dev"   Any update and progress?   Volume, Issue and Description are still missing in the citation in my test environment. Any suggestion?
http://dev.hwpi.harvard.edu/tormanhc3/publications.

[2015-04-27 17:13] rbran100 commented on #7092
@ran81 can you please try with the DB dump link that I gave roy a week or two ago from dropbox?  I left the link live or you can get it directly from his computer?

[2015-04-27 19:12] #7126 closed

[2015-04-27 19:27] dancabral commented on #7142
Issue appears to have been resolved...its no longer reproducible. Closing

[2015-04-27 19:27] #7142 closed

[2015-04-27 20:45] tcheng001 commented on #7093
removed "need qa"
@RoySegall   Could you please change the label back to "need qa" when the edge case is fixed?  Then, I know that this is ready to QA.

[2015-04-27 20:49] rbran100 commented on #7093
@tcheng001 sorry, I should have commented, we talked about it and decided to fix this edge case at a separate time.  If that is all that was left we can mark this fixed.

-Richard

[2015-04-27 20:50] #7119 closed

[2015-04-27 20:54] rbran100 commented on #7069
@ran81 @RoySegall Can this be accomplished by adjusting the weight in the biblio_field_type table?

[2015-04-27 20:55] #7143 closed

[2015-04-28 04:43] ran81 commented on #7069
@rbran100

I tried that first of course. Didn't seem to do much help I'm afraid.

[2015-04-28 09:10] RoySegall commented on #7069
I'm checking this one.

[2015-04-28 11:14] RoySegall commented on #7137
@rbran100 Can we refine this one? i can't remember what we decided yesterday,

[2015-04-28 13:08] tcheng001 commented on #7093
@rbran100
I found two scenarios in which files would not be removed from /cp/content/files when the files embedded in Custom/THML widget or basic page body are deleted. But if these are considered as edge cases and not that important, then we can mark this fixed.

[2015-04-28 13:13] tcheng001 commented on #7093
For reference:
![screen shot 2015-04-28 at 9 12 21 am](https://cloud.githubusercontent.com/assets/2111600/7370265/d82476d2-ed86-11e4-8e81-fefa586b3933.png)

[2015-04-28 13:39] RoySegall commented on #7137
Delete the file only if the user delete the file.

[2015-04-28 15:13] tcheng001 commented on #7093
Marked "Fixed"

[2015-04-28 17:15] rsasch opened #7147 "WYSIWYG editor strips out th and thead tags"
WYSIWYG editor takes out th and thead tags, which allow for properly semantic tables.

See http://community.openscholar.harvard.edu/openscholar/topics/whitelisting-of-the-tag-in-wysiwyg-editor

<strong>The Plan</strong>
Add thead, th, and th attributes (e.g. scope) to valid elements list.

[2015-04-28 18:04] dancabral commented on #7127
IE8 column width issue is resolved. QA's in dev.hwpi. Closing
![ie8fixed](https://cloud.githubusercontent.com/assets/867075/7376681/6952b5e2-edaf-11e4-950d-e03302f256b0.png)

[2015-04-28 18:36] #7093 closed

[2015-04-29 08:20] RoySegall commented on #7137
I looked on this one and drilled down over the file delete work flow and there is no way to prevent the file deletion. The only solution i can think of is creating a twin file on `hook_file_delete` and update all references to the file(entity reference field and file_usage table).

@rbran100 Any thoughts?

[2015-04-29 12:30] rbran100 commented on #7137
Could you provide a URL to the code in question that is performing this?

[2015-04-29 13:33] mpetrovic commented on #7137
Just create a dummy file_usage record in hook_entity_presave(), and then delete it in hook_entity_insert() and hook_entity_update().

[2015-04-29 16:04] openscholar-admin opened #7150 "Fatal error when editing posts"
The edit link for posts is generated incorrectly.

[View Discussion](http://community.openscholar.harvard.edu/openscholar/topics/getting-503-errors-when-editing-page-content-from-post-view-vs-list-view?rfm=1)

**Debugging information**

The edit link on some posts is created with a bad destination, for example [this](http://tlt.harvard.edu/news/march-coffee-canvas-lti-api-oh-my) news post gets the

[2015-04-29 16:05] rbran100 commented on #7150
@RoySegall Can you make this fix against SCHOLAR-3.23 this is causing bad edit URL's in prod

[2015-04-29 17:54] tcheng001 commented on #7134
moving to "in dev"
@bilsi   Still not seeing the fix on my testing environment.  The first event doesn't show in the top of the day view.
Tested on http://dev.scholar.harvard.edu/tcheng2/calendar?day=2015-04-29&type=day
The event starts at 4am, but doesn't show in the top of the day view.
![screen shot 2015-04-29 at 1 53 59 pm](https://cloud.githubusercontent.com/assets/2111600/7397558/3d0be2ce-ee

[2015-04-29 20:48] rsasch commented on #7135
The first book pages are not associated with the ogc site in the og_membership table (it's the economics site, instead).
What is the cleanest way to remedy this?

[2015-04-29 20:55] mpetrovic commented on #7135
Something similar to this:
#6833

[2015-04-30 07:05] ran81 commented on #7150
Update:

I confirm this is happening. This is happening whenever the "Upcoming events" widget which uses the os_event" view is used in a page with a single post. This happens because of the work in ``os_events_news_query_alter()``.

[2015-04-30 13:06] rbran100 commented on #7135
@mpetrovic good call, we should look to see if any of the ones without groups are recent.  If not we can just clean it up, if there are recent ones we will need to see if we can dig deep to see why this is happening.

[2015-05-01 13:46] openscholar-admin opened #7155 "Better Presentation of Theme Options"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/better-presentation-of-theme-options)

**The Plan**

Display/expose all hwp theme and flavor options under "Featured themes" section at the top of the appearance page, and leave the display of the "Other themes" as is (no change).

**Description**

We need a better way of presenting

[2015-05-01 18:01] sponomarev76 opened #7156 "Openscholar unstable in Linux (drupal-openscholar-7.x-3.20.0 pre-built distro)"
I am having stability issues with openscholar under Ubuntu Linux 14.04 and 12.04. My #1 concern is PHP5.2 which is required by the latest pre-built version of OS. Because it is no longer supported we have to use newer versions of PHP (5.3 and 5.5). In Ubuntu 12 openscolar does not go beyond the installation which culminates in blank pages and the following error message "Fatal error: Unsupported o

[2015-05-01 18:56] mpetrovic commented on #7156
OpenScholar is supported on PHP 5.3. PHP 5.2 is the minimum, and it's generally expected that it will work on later versions, though this is untested in our case.

It is not recommended to upgrade individual modules, since they may introduce incompatibilities, such as the one you are seeing.

Could you post all the errors you receive when you try to install openscholar as you found it in the distr

[2015-05-01 19:18] sponomarev76 commented on #7156
Hi Matthew,

My error reporting is enabled in index.php file:

<?php
error_reporting(E_ALL);
ini_set('display_errors', TRUE);
ini_set('display_startup_errors', TRUE);
// $Id: index.php,v 1.94 2007/12/26...

I am getting this error message on white background after the install on Ubuntu 12.04 with PhP 5.3:

Fatal error: Unsupported operand types in /var/www/html/profiles/openscholar/modules/contrib

[2015-05-03 08:35] ran81 commented on #7138
Update:

On clean installation I can't reproduce this:
![selection_032](https://cloud.githubusercontent.com/assets/4497748/7444366/c7c2352a-f1b1-11e4-9978-abd8cbfb80d5.png)

I added the file through the "Edit your CV" link and the date is updated to today. Checking with a DB dump now.

[2015-05-03 09:20] ran81 commented on #7138
Update:

Checked it with an hwpi DB and I still can't reproduce this:
![selection_033](https://cloud.githubusercontent.com/assets/4497748/7444502/9cd497c0-f1b8-11e4-8ffb-8a3a5ee7a847.png)

[2015-05-04 12:00] RoySegall commented on #6998
During the update of HUJI to 3.21 @maayan found out that this problem happens again. She tried to copy text from the hebrew lorum ipsum site and got an error. I managed to reproduce this one and got this error:
![selection_401](https://cloud.githubusercontent.com/assets/1222368/7453071/2757def6-f26e-11e4-9447-f20f98efa8ce.png)

To those who don't speak Hebrew i created a google doc file with the t

[2015-05-04 15:12] RoySegall commented on #7125
@rbran100 Can we elaborate on the plan? me and @ran81 are a bit confused from this one.

[2015-05-05 04:51] RoySegall commented on #7137
@ran81 When creating a file create a dummy entry. When attaching the file to node remove the dummy file entry in hook_entity_insert and hook_entity_update.

[2015-05-05 05:12] ran81 commented on #7073
@rbran100

1. The "break" trim function works in other content types as well as far as I can see.
2. This is done in #7083

[2015-05-05 14:24] rsasch commented on #7135
Branch requires an update to run and it's a difficult update to test because it requires finding examples where book pages are associated with the wrong vsite.

[2015-05-05 14:31] rbran100 commented on #7135
@tcheng001 this requires updates, can you time how long it takes to run the update on dev-projects

[2015-05-05 16:18] tcheng001 commented on #7135
moving to "in dev"
@rbran100    Update finished on dev.scholar and dev.hwpi in 15 mins and 40 mins respectively.

@rsasch
After running update,  pages are inaccessible on dev.hwpi. Here is an example,
http://dev.hwpi.harvard.edu/ogc/book/faqs
All page links are inaccessible for both anon and logged-in users.

[2015-05-05 17:04] rsasch commented on #7135
@rbran100 I'm going to re-work the update to not use menu_tree_all_data call.

[2015-05-05 17:44] rbran100 commented on #7092
@ran81 This still needs attention, please look with a dump

[2015-05-06 05:50] ran81 commented on #7092
@rbran100

Sorry about this. I commented in the PR a few days ago instead of in the issue: https://github.com/openscholar/openscholar/pull/7114#issuecomment-97670724
checked with the dump you sent to @RoySegall

The testing can now start.

[2015-05-06 06:17] RoySegall commented on #7155
How do we want to achieve this one?

[2015-05-06 07:43] RoySegall commented on #7155
I think we go with something like this: http://www.leccionespracticas.com/informatica-web/drupal-informatica-web/adding-jquery-ui-tabs-to-drupal-7-solved

[2015-05-06 12:15] rbran100 commented on #7155
@RoySegall @ran81 this is already assigned to @bilsi and she already has a solution in progress

[2015-05-06 12:16] rbran100 commented on #7150
@RoySegall @ran81 Please see the notes in the PR, the calendar widget is adding a query param to many links on the page and that should be fixed

[2015-05-06 12:17] rbran100 commented on #7139
No additional spikes have occurred, looking at newrelic this can be marked resolved.

[2015-05-06 12:21] rbran100 commented on #7137
Marking this in dev, the fake file_usage entry needs to be removed during the same transaction.

[2015-05-06 12:22] rbran100 commented on #7136
@tcheng001 this is ready for QA

[2015-05-06 12:24] RoySegall commented on #7155
@rbran100 Cool. @ran81 Let's wait for now on this thing.

[2015-05-06 12:28] rbran100 commented on #7133
@ran81 @RoySegall marked in dev, see PR notes, thx

[2015-05-06 12:35] rbran100 commented on #7129
@ran81 this is still a problem, see the homepage here http://hwpi.harvard.edu/training/home

1. Create a LOP, showing events, ordered by date, with a more link, set to show 3
2. Create a regular event for 6/1/15
3. Create a regular event for 7/1/15
4. Create a repeating event, repeating weekly starting 7/5/15

You would now expect to see 3 events with a more link, since there are repeating events

[2015-05-06 12:41] rbran100 commented on #7129
Notice, there are more than three items when I change the limit:
![screenshot 2015-05-06 08 40 28](https://cloud.githubusercontent.com/assets/651318/7493075/b632b4a8-f3cb-11e4-9db4-758503d57cc8.png)
When I change the limit back to 3, you should see the more link:
![screenshot 2015-05-06 08 40 50](https://cloud.githubusercontent.com/assets/651318/7493077/b9d96ebc-f3cb-11e4-887d-897df0362047.png)

[2015-05-06 12:43] rbran100 commented on #7125
@mpetrovic is already working on this.

[2015-05-06 12:52] rbran100 commented on #7092
@tcheng001 can you take another look, as soon as you think it is ready we will send a link to gking's site with the changes

Let me know if you would like me to force re-trigger the update since @ran81 made a change there

[2015-05-06 13:03] rbran100 commented on #7073
@ran81 for 1, I was asking you to confirm that adding a break in the presentation worked the same way as adding a break in other content types.

For example, notice how classes adds the "..." as torman noted above.  The presentation content type should use the same processing functions as the other types so that it is similar.

[2015-05-06 13:15] RoySegall commented on #6998
@rbran100 Can we talk over this one?

[2015-05-06 13:19] rbran100 commented on #6998
yes, lets talk today

[2015-05-06 13:20] rbran100 commented on #7069
@RoySegall any news here?

[2015-05-06 13:21] #7062 closed

[2015-05-06 13:23] rbran100 commented on #7039
@tcheng001 this is reviewed and ready for QA

[2015-05-06 13:36] tcheng001 commented on #7136
not working as expected. moving to "in dev"
Tested on
1) In multi-word terms, spacings are replaced by dashes "-". It should not.
![screen shot 2015-05-06 at 9 24 17 am](https://cloud.githubusercontent.com/assets/2111600/7493799/c2e81b6a-f3d1-11e4-9b68-f877232cc727.png)

2) Sometimes, the title doesn't match the term selected. The term showed as title in the term page can't be found in anywhere in

[2015-05-06 15:21] openscholar-admin opened #7160 "Embed Media widget has wrong file object associated"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-media-widget-has-wrong-file-object-associated)

**The Plan**

This is a bug with file creation, the name is not unique for media embeds in a narrow use case.  This will be corrected so that this bug does not occur.

**Description**

We have had several occasions where the an Em

[2015-05-06 15:34] rsasch commented on #7160
I believe this issue is being caused by the automatic naming of the "File of HTML" to a hash of the contents -- this should be modified to include a timestamp to avoid possible conflicts.

[2015-05-06 15:50] tcheng001 commented on #7039
Marked "Fixed"
1) recurring event info shows correctly in its full node view now. If I select May 20 (OS weekly meeting) from the LOP widget, the event displays correctly in the main content area instead of displaying the first occurrence of the series.
![screen shot 2015-05-06 at 11 47 14 am](https://cloud.githubusercontent.com/assets/2111600/7497007/c9247370-f3e5-11e4-963d-03c28cd255c6.png)

2)

[2015-05-06 15:55] dancabral commented on #7131
After looking into this, the photo "caption" they're referring to is just some wysiwyg text that they've entered below the photo which is float right - markup below. The only real photo "caption" that exists in OS is in the news feature. The new feature caption markup is grouped with the photo so it consistently stays with the photo.
![caption-float](https://cloud.githubusercontent.com/assets/8670

[2015-05-06 20:45] tcheng001 commented on #7092
Not working as expected. Moving to "in dev"
@ran81
The following publication types still need some attentions:
Case:
1) Volume Number and Issue still missing in citation
2) The reporter's name appears twice
![screen shot 2015-05-06 at 3 35 13 pm](https://cloud.githubusercontent.com/assets/2111600/7501905/ce10263e-f405-11e4-9c91-944888d250a0.png)

Chart:
Image Size, Issue and Description still miss

[2015-05-07 05:40] ran81 commented on #7073
@rbran100

This is exactly what I did. I don't see the three dots for any content type:
![selection_044](https://cloud.githubusercontent.com/assets/4497748/7509079/9248ef64-f4be-11e4-8b4d-ace37c021f09.png)

Any thoughts why I see a different output?

[2015-05-07 05:46] ran81 commented on #7136
Update:

Pushed a fix (hopefully). Thing is this - if the path of a term is changed we get the result as in the last comment by @tcheng001 for example the term "Marty mcfly" with a custom path alias:
![selection_041](https://cloud.githubusercontent.com/assets/4497748/7509142/4664031c-f4bf-11e4-978c-e34affaecd3b.png)

It think now it is OK, as we try and find the path for the filter value and use i

[2015-05-07 05:56] RoySegall commented on #7069
We talked the other day and you said we should put a side for now. I think this is because we dealing a lot with the FAPI.

[2015-05-07 06:10] RoySegall commented on #7073
@rbran100 @tcheng001 Can you add a screen shots of the widget settings?

@ran81 Try to use a dump.

[2015-05-07 07:41] ran81 commented on #7092
Update:

Pushed a few fixes.
Case:
![selection_049](https://cloud.githubusercontent.com/assets/4497748/7510494/258ba0d6-f4cf-11e4-8b92-6040bf132fa7.png)

Chart:
![selection_050](https://cloud.githubusercontent.com/assets/4497748/7510495/299bd146-f4cf-11e4-8f61-11b49c245e79.png)

Miscellaneous:
![selection_052](https://cloud.githubusercontent.com/assets/4497748/7510503/3c63e6ce-f4cf-11e4-865d-08257

[2015-05-07 08:08] ran81 commented on #7073
@RoySegall

I get the same result with a hwpi DB. Could this be a user agent thing (though I doubt it..)?

[2015-05-07 08:32] RoySegall commented on #7150
I improved the code and it's look cleaner. Iv'e tried to keep the query string on the link markup but it's being filter. What's being saved is the page we came from.

[2015-05-07 11:26] RoySegall commented on #7073
No, i can't see this one relate to user agent issues.

[2015-05-07 14:00] tcheng001 commented on #7092
@RoySegall  @ran81
Some fields still appear twice in the citation after re-running update
![screen shot 2015-05-07 at 9 54 17 am](https://cloud.githubusercontent.com/assets/2111600/7516780/6b81f41c-f49f-11e4-9308-c57ce623539d.png)

[2015-05-07 15:14] tcheng001 commented on #7136
Marked "Fixed"

Tested on http://dev.scholar.harvard.edu/gilman/publications
Checked all the term pages in the "Publications By Research Area" widget.  All titles respect with the terms.
![screen shot 2015-05-07 at 10 49 56 am](https://cloud.githubusercontent.com/assets/2111600/7518091/e90451b2-f4a6-11e4-9c12-df8a0bcd0e7d.png)

checked all options of Post types ("Determine for me", "All posts" and

[2015-05-07 15:31] dancabral commented on #7128
@tcheng001 these 2 flavors are ready for QA. I dont think you'll find anything significant. Both are Classic theme flavors and both are in the 3x branch.
Cabot
![screenshot2015-05-01at2 42 09pm_inline](https://cloud.githubusercontent.com/assets/867075/7519016/953f7506-f4ac-11e4-945e-e4db4f2eae73.png)
-------------
Monochrome
![screenshot2015-05-01at2 43 04pm_inline](https://cloud.githubusercontent

[2015-05-07 15:43] rbran100 commented on #7139
Reopening, for more work.
This is what happened last night: https://www.drupal.org/node/1679344

Suggested solution D.org used was: #1 here https://www.drupal.org/project/cache_consistent

[2015-05-07 16:27] rbran100 commented on #7139
Also need to look into why:
os_taxonomy_attach_fields_to_vocabulary calls a field_cache_clear every time a vocab is created

And if cron_field triggers a cache clear

[2015-05-07 18:08] rbran100 commented on #7132
@tcheng001 this is ready for QA

[2015-05-07 19:06] rbran100 commented on #7134
ready for QA

[2015-05-07 19:31] #7136 closed

[2015-05-07 19:36] rbran100 commented on #7092
@ran81 @RoySegall getting there, see the remaining note from @tcheng001

[2015-05-07 19:37] #7039 closed

[2015-05-07 19:38] rbran100 commented on #6811
Closing, we will open individual issues as we encounter.

[2015-05-07 19:38] #6811 closed

[2015-05-07 19:58] rsasch commented on #7160
To test: create two "Embed Media" widgets with the exact same content and make sure they create two different media objects (can be checked at cp/content/files).

[2015-05-07 20:05] tcheng001 commented on #7132
Marked "Fixed"

Case 1:
a) export a single publication post with some HTML codes
b) no HTML code is found in the exported bibtex format file
c) the file can be imported successfully

Case 2:
a) export all publication posts with some HTML codes
b) no HTML code is found in the exported bibtex format file
c) the file can be imported successfully

[2015-05-07 20:08] #7132 closed

[2015-05-07 20:51] tcheng001 commented on #7134
Marked "Fixed"

Case 1:
When there is no event on that day, Day views shows 12am at the top
![screen shot 2015-05-07 at 4 32 55 pm](https://cloud.githubusercontent.com/assets/2111600/7525596/bc21e51a-f4d8-11e4-8726-ca02658b83e4.png)

Case 2:
If there are some events on that day, the first event is displayed at the top in Day view
![screen shot 2015-05-07 at 4 34 38 pm](https://cloud.githubusercont

[2015-05-07 20:56] #7134 closed

[2015-05-08 15:16] rsasch commented on #7135
@tcheng001 This requires updates to be run, and if you are checking the book at ogc/book/faqs, the links on that page are (confusingly) page content, not the book outline.  You need to go into the "outline" view to see that.

[2015-05-08 15:24] tcheng001 commented on #7160
@rsasch
I created two embed media widget with the same html content (https://vimeo.com/channels/staffpicks/127053285).
![screen shot 2015-05-08 at 11 22 16 am](https://cloud.githubusercontent.com/assets/2111600/7539370/84d6860a-f574-11e4-8b55-fd68811316fd.png)

When checking cp/content/files, only one file object is created.
![screen shot 2015-05-08 at 11 20 53 am](https://cloud.githubusercontent.

[2015-05-08 15:42] tcheng001 commented on #7150
Marked "Fixed"
Don't know how to create the issue in other places.
Just check the site which is reported to have the issue.
http://stagng.hwpi.harvard.eduy/tlt/news/march-coffee-canvas-lti-api-oh-my
All Cancel buttons in the form work correctly.
The news post can be edited.

Also, check Cancel button in  people, event, basic page form.

[2015-05-08 18:12] tcheng001 commented on #7133
Marked  "Pending"
Question:  After the content type (say News) is set to private,  no news is displayed in LOP widget for both logged-in and anon users.  Correct behavior?   I thought that News posts should show in LOP widget for logged-in users even though News is set to private.

[2015-05-08 18:14] tcheng001 commented on #7128
Look good. Marked "Fixed"

[2015-05-08 18:55] rsasch commented on #7160
@tcheng001 It looks like there are several ways of embedding media, and this is an issue with only one of them.  Instead of putting a straight video URL into the "File or HTML" field, embed something via an iframe.  In that case, the title for the media is not taken from the media itself, but initially from a hash of the contents of the field (plus a timestamp with my update).  Following those ste

[2015-05-08 20:16] tcheng001 commented on #7135
Marked "Fixed"
1) vsite admin is able to access the book page from outline
2) vsite admin is able to change book pages
3) content editor is able to access/edit book pages

@rsasch    I know why I can't access the links listed in the page http://dev.hwpi.harvard.edu/ogc/book/faqs. I believe that the problem is related to the
custom domain. The links in dev env are wrong. For example, the link for "

[2015-05-10 08:48] ran81 commented on #7092
Update:

I can see the duplicated fields with a db dump. Will update.

[2015-05-10 10:02] ran81 commented on #7092
Update:

I hope now it will be fixed.
I managed to get the duplicated fields after setting the style back and forth a few times between the new style and some other style. I noticed that we have 2 macros that print out the secondary title. I removed one of the macros and I hope now it will be OK (although I can't really point out why it worked for me before):
![selection_060](https://cloud.githubu

[2015-05-11 12:58] RoySegall commented on #7092
@ran81 I don't see any new push to the PR.

[2015-05-11 13:49] tcheng001 commented on #7160
Test 1 (using iframe from vimeo.com)
Create two embed media widget using the same iframe content.
Two files found in /cp/content/files page, but their names are different.
Change the media from one of embed media widget
Both widgets show correct content

Test 2 ( using url from vimeo.com)
Create two embed media widget using the same url from vimeo.com.
only one file found in /cp/content/files page

[2015-05-11 13:51] #7150 closed

[2015-05-11 13:53] #7135 closed

[2015-05-11 13:57] RoySegall commented on #7073
@ran81 Can you have a second look on the one?

[2015-05-11 14:03] #7128 closed

[2015-05-11 14:03] #7069 closed

[2015-05-11 14:04] #7131 closed

[2015-05-11 14:04] rbran100 commented on #7131
Not a bug, see dan's comment above.

[2015-05-11 14:27] rbran100 commented on #7073
@ran81 @RoySegall Can you confirm you are using 'os_text_summary_or_trimmed' this is the same that the other types use and keeps words from breaking, it also adds the '...'

See: #4581

[2015-05-11 15:03] tcheng001 commented on #7133
Mark "Fixed"

[2015-05-11 15:19] tcheng001 commented on #7129
@rbran100
I don't see 7129  in  insight.acquia.com
![screen shot 2015-05-11 at 11 16 45 am](https://cloud.githubusercontent.com/assets/2111600/7568222/8879c6f2-f7cf-11e4-84e9-eadeecab3f8a.png)

[2015-05-11 17:08] #7133 closed

[2015-05-12 02:53] mpetrovic commented on #7135
@rsasch @rbran100
Received the following errors performing this update on private.prod:

array_slice() expects parameters 1 to be array, null given in os_books.install:52
Invalid argument supplied for foreach() os_books.install:53
Division by zero os_books.install:86

[2015-05-12 05:19] ran81 commented on #7073
@rbran100

The PR you gave wasn't merged. I don't see this format anywhere in the installation. Am I missing something here?

[2015-05-12 05:20] ran81 commented on #7092
@RoySegall

The last commit I made still hasn't been tested: https://github.com/openscholar/openscholar/commit/71411730c6f199b86b977ed8fbfebb208b0bcceb

I hope it would fix the duplicated fields problem.

[2015-05-12 05:53] RoySegall commented on #7073
@ran81 Can you check the format type in the dump?

[2015-05-12 10:49] RoySegall commented on #7073
Couldn't make this work as well and i don't see this type of text format.

[2015-05-12 10:54] RoySegall commented on #7073
And I checked the break tag work the same for two different content types.

[2015-05-12 13:14] RoySegall commented on #7092
@ran81 This one ready for testing.

[2015-05-12 13:37] rbran100 commented on #7092
@tcheng001 let me know where you want to run updates

[2015-05-12 14:12] tcheng001 commented on #7092
@rbran100    will test it on dev.hwpi

[2015-05-12 14:22] rbran100 commented on #7092
all set

[2015-05-12 14:27] rbran100 commented on #7160
Not sure what is happening there, we should ask Rebecca, it sounds similar.

Not exactly what she was going for but worth looking into

[2015-05-12 15:30] tcheng001 commented on #7092
@rbran100  @RoySegall
The issue of field duplication has been fixed with this update. However, some of fields are missing in citation this time. When I tested Audiovisual 6 days ago, all fields displayed in the citation, but the problem for this type was the "Web Site Title" appeared twice.

I check another pub type (Artwork), the same issue occurs.  Some of fields are missing in citation.

It see

[2015-05-12 16:53] tcheng001 commented on #7129
Marked "in dev"
The original design has been overwritten by this fix. Now, the More link would appear if "show more link" is checked.  The original design was the "More" link only appears if  Show more link is checked AND the number of posts to be showed is more than the number of items to display.
For example,
![screen shot 2015-05-12 at 12 39 40 pm](https://cloud.githubusercontent.com/assets/211

[2015-05-12 17:35] rsasch commented on #7160
@rbran100 What is unclear?

[2015-05-12 17:39] tcheng001 commented on #7160
@rsasch  @rbran100
When I use the same URL video from vimeo.com in two separated embed media widgets, I found that there is only one file object in /cp/content/file.  Just curious that if that is OK.

[2015-05-12 18:15] rbran100 commented on #7160
^^

[2015-05-12 18:41] rsasch commented on #7160
@rbran100 @tcheng001 You can clarify with Joe (who entered the issue into Community), but the version of this issue that I ran into only had to do with media embed widgets with code (javascript, CSS, HTML) in them.  If the result of test 2 (from above) counts as a fail, I would need to know what the behavior should be instead.

[2015-05-12 18:58] tcheng001 commented on #7160
@rsasch @rbran100
I didn't mark test 2 as a fail because I am not sure what this is correct behavior.  It seems that the two embed media widgets work fine even though they reference the same file object (URL). Any objection if I close this ticket?

[2015-05-12 19:41] tcheng001 commented on #7073
To be continue:

If there is no break, the presentation post looks like this in listing
![screen shot 2015-05-12 at 3 28 14 pm](https://cloud.githubusercontent.com/assets/2111600/7596426/9b109196-f8bb-11e4-8c9b-3a038dca9b7c.png)

If there is a break after below the first paragraph, then the post looks like this in listing
![screen shot 2015-05-12 at 3 29 57 pm](https://cloud.githubusercontent.com/

[2015-05-12 19:56] tcheng001 commented on #7073
Not working as expected. Mark "in dev"
Publication posts display correctly in listing. However, no body is showed in List of Post widget even though Display style is set to "Full content"
![screen shot 2015-05-12 at 3 49 09 pm](https://cloud.githubusercontent.com/assets/2111600/7597010/13e9bcc0-f8bf-11e4-8497-73a36ee51183.png)

[2015-05-13 05:46] ran81 commented on #7092
This is weird. For me things look OK both on clean installation and on hwpi DB:
![selection_071](https://cloud.githubusercontent.com/assets/4497748/7604516/54f1e550-f976-11e4-91ad-a9cf9ad2e528.png)
![selection_072](https://cloud.githubusercontent.com/assets/4497748/7604515/54c01804-f976-11e4-9a1d-583006970600.png)

@tcheng001
Please make sure you are using the correct style- "Harvard chicago autho

[2015-05-13 05:48] ran81 commented on #7073
@tcheng001

I pushed a fix for the missing body in your previous comment.

@RoySegall
As far as I understand the break tag has nothing to do with the three dots. In fact, when using the line break in the WYSIWYG the function ``text_summary()`` won't add the ``...``. When I use a body of over 600 characters I can get the ``...`` to appear but it's inconsistent:
![selection_068](https://cloud.github

[2015-05-13 05:50] ran81 commented on #7129
@RoySegall

The wrong behavior was the behavior I thought was the desired one. Bringing it back to what it was we are again with the same problem - for repeated events we have ``$ids`` variable that of course doesn't take into account the repeats of events, and so we don't get that "more" link.

Any ideas?

[2015-05-13 06:04] RoySegall commented on #7073
@tcheng001 When you have break tag there is no way to get the elipsis.

@ran81 Can you verify that if have 600 chars and then in the 605 i have a dot then i see the elipsis.

[2015-05-13 08:42] ran81 commented on #7073
@RoySegall

The adding of the ellipsis is something that depends on what we write. Drupal does its thing to determine when by trimming it "broke" the text. Only then it adds the ellipsis.

[2015-05-13 12:24] RoySegall opened #7167 "OS restful documentation"
@rbran100 As we talked before i think we need to document the OS restful API module. I thought on https://readthedocs.org. Other thoughts?

toc:
* [x] Authentication:
  * [x] CSRF
  * [x] access token
* [x] endpoints
* [x] Vsites
* [x] Content
  * [x] Content
  * [x] Files
  * [x] Terms
  * [x] Vocabularies
  * [x] Users
* [x] Non content
  * [x] OG vocab
  * [x] Roles
  * [x] Boxes
  * [x] Layout

[2015-05-13 13:13] tcheng001 commented on #7092
@ran81 @RoySegall
I know that is weird. I did double check that the test site (tormanhc3) is using "Harvard chicago author-date".  But in my side, the citation is different from what you see. Any configuration or environment factor will cause the difference?
![screen shot 2015-05-13 at 9 08 12 am](https://cloud.githubusercontent.com/assets/2111600/7611095/ff2e11b4-f94f-11e4-85de-7e424c5caa23.png)

[2015-05-13 13:16] rbran100 commented on #7167
I was looking at these guys Documentation: http://www.talangsoft.org/assets/apidocs/

It is all generated from comments on the API endpoint classes, then the HTML API docs are generated in the build script with http://apidocjs.com/#demo

@mpetrovic @bilsi @rsasch what do you think?

Want something that is easy to maintain with the endpoint classes...

[2015-05-13 13:40] mpetrovic commented on #7167
Sounds good to me. It's purely developer-focused documentation, so it doesn't have to get too complicated.

[2015-05-13 14:11] tcheng001 commented on #7073
1)  Break works correctly. That means everything before the break will show in listing.
2) If there is no break in body and the body is very long, then the body will be truncated, as long as the sentence is not truncated in the middle and "Read more" is appended. That should be fine with me. @rbran100    An ellipsis may not be that important for this ticket. Do you agree?   If yes, we can close th

[2015-05-13 14:23] rbran100 commented on #7073
For 2, I agree, we are not degrading anything and this looks to be a "the way drupal does it" issue, looking back we have tried to influence this before, only to back out because there was too much custom code.

Based on your notes, going to mark this solved.

[2015-05-13 14:33] tcheng001 commented on #7073
Mark "Fixed"

[2015-05-13 18:43] rbran100 commented on #7167
@RoySegall if that looks good to you do you want to to a quick POC?

[2015-05-14 06:44] RoySegall commented on #7167
I don't think we need to use a generator. This would take a lot of work. I do think we need to use build in wiki that github provide.

[2015-05-14 07:48] ran81 commented on #7130
Update:

@RoySegall
This is not so simple after some checking. Feeds does what it wants with the header in which the vocabularies are added. Any ideas?

[2015-05-14 08:37] RoySegall commented on #7167
So... This is a POC - http://roysegall.github.io/apidoc/

[2015-05-14 10:45] rbran100 commented on #7167
So if you didn't use the generator then how is that produced? Seperatly updating the api docs?

[2015-05-14 10:53] RoySegall commented on #7167
A little bit of voodo ;)

I did use the generator but i pushed it manually to the gh pages. I can look on a grunt task but i know that you don't like that. Any way, i'm stopping here and we can talk about this in the scrum.

[2015-05-14 12:12] RoySegall commented on #7167
I updated the issue with a table of content. Moe ideas?

[2015-05-14 13:08] rbran100 commented on #7167
added a few

Do you have a PR you can push as an example of what you used to generate the doc page.

[2015-05-14 13:20] RoySegall commented on #7167
Actually no. There is this folder - https://github.com/RoySegall/apidoc/tree/master/example - and I used `apidoc -i example/ -o doc/` to generate all the JS annotation to html.

Is there a chance to open a new repo under OpenScholar with gh-pages enabled?

[2015-05-14 13:26] rbran100 commented on #7167
Why not have a separate HTML folder that is generated in the prod install
instead of using GH pages?  That way as we push the code the API is updated
and others can make modifications for their university?

On Thu, May 14, 2015 at 9:20 AM, Roy Segall <notifications@github.com>
wrote:

[2015-05-14 13:27] rbran100 commented on #7167
Even if it is a separate script we can add it to our CI script

[2015-05-14 17:45] rsasch commented on #7130
@RoySegall @rbran100 Extend FeedsCSVParser so you can make a version of parseHeader that doesn't use drupal_strtolower?

[2015-05-14 18:28] rbran100 commented on #7130
@RoySegall @ran81 that does seem cleaner

[2015-05-15 15:50] #7124 closed

[2015-05-15 15:51] openscholar-admin opened #7169 "Calendar / Event Updates"
**The Plan**

*Design Updates*
We will update the main calendar so that event duration matches it's look in the calendar.  Event description will be concise and truncated till you click on the event, then it will expand to show additional information.  Month / Week tabs will be incorporated into the calendar for a consistent look.  Duplicate information such as repeating event dates will be remove

[2015-05-15 15:59] openscholar-admin opened #7170 "Remove email link from site info widget"
http://community.openscholar.harvard.edu/openscholar/topics/remove-email

The Plan

Fix issue so that the (email) link in the Site Info widget doest Not display, logged in or not, if the "Enable contact form for Logged Out users." checkbox is unchecked.

[2015-05-15 15:59] openscholar-admin opened #7171 "YouTube player does not keep dimensions on mobile"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/youtube-player-does-not-keep-dimensions-on-mobile)

**The Plan**

Add a css rule so that at small screen sizes, the height of all iframes (used to display youtube players) flexes to the appropriate hight.

**Description**

YouTube player does not keep its dimensions on mobile (300 x

[2015-05-15 15:59] openscholar-admin opened #7172 "Kaltura videos embedded in OS sites, do not render in IOS devices"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/kaltura-videos-embedded-in-os-sites-do-not-render-in-ios-devices)

**The Plan**

Resolve issue so that kaltura videos embedded in OS sites, display and play as expected.

**Description**

Kaltura videos embedded in OS sites do not render in IOS devices. However, navigating from an IO

[2015-05-15 15:59] openscholar-admin opened #7173 "Problem setting table headers in rich-text"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/problem-setting-table-headers-in-rich-text)

**The Plan**

Whitelist TH tags so that they're render through the HTML. Currently, TH tags get stripped out when saving the wysiwyg form field.

**Description**

The rich text editor has Table Row Properties and Table Cell Properties butt

[2015-05-15 15:59] openscholar-admin opened #7174 "Deleted content/page being indexed"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/deleted-content-page-being-indexed)

**The Plan**

After deleting content going to that URL should show a 404.  The only place where this is not possible is publications, adding code here will impact how the publication page operates and is likely to produce bugs in the future.

**De

[2015-05-15 16:00] openscholar-admin opened #7175 "Book Chapter needs a field for editor"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/book-chapter-needs-a-field-for-editor)

**The Plan**

Add a specific/separate editor field for book chapter pub type in the publication feature.

**Description**

The book chapter publication type needs to have a field for the editor of&nbsp;the book (separate from the author of the

[2015-05-15 16:00] openscholar-admin opened #7176 "RSS news feed not importing all items"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/rss-news-feed-not-importing-all-items)

**The Plan**

Resolve issue so that all news items can be imported, including news items prior to October 14, 2014.

**Description**

It seem that the RSS news feed it pulling in a limited amount of RSS items. For expample, when trying to pull

[2015-05-15 16:00] openscholar-admin opened #7177 "Unable to modify section outline"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-modify-section-outline)

**The Plan**

[coming soon]

**Description**

I have a user reporting the section outline for them is not working anymore. I have confirmed and can't find anything they are doing wrong, except they have quite a large number of items in the section.

[2015-05-15 16:00] openscholar-admin opened #7178 "Newspaper and magazine exact dates"
The Plan

Fix magazine and newspaper pub types so that month and day can be entered (by an admin) and the month and day can be displayed to end users.

http://community.openscholar.harvard.edu/openscholar/topics/newspaper_and_magazine_exact_dates

It is not possible magazine to list bibliographically magazine and newspaper articles by EXACT DATE -- month and usually day. Most citation systems, inc

[2015-05-15 17:47] mpetrovic commented on #7024
New issues as of today:
* [ ] Sites with private files return 302 when attempting to get list of all files
* [ ] Users with Site Owner or Support User cannot create new files

[2015-05-15 19:52] rbran100 commented on #7167
OK, I added some documentation for some of the file rest calls matt wrote as a way to become familiar with them.  You can see the comments in php here: https://github.com/openscholar/openscholar/blob/media_browser_rewrite/openscholar/modules/os/modules/os_restful/plugins/restful/files/1.0/OsFilesResource.class.php#L3

All I needed to do locally to generate the docs was run:
[code]

The rest of the

[2015-05-17 05:43] ran81 commented on #7130
@RoySegall

I tried to extend the FeedsCSVParser class. This is easy to do but we get wrong results because of this line in the feeds module:
``$is_csv = get_class($parser) == 'FeedsCSVParser';``

As you can see they hardcoded the class name for a CSV file parser. Our extending class is still being used but because the line above assign FALSE to ``$is_csv`` we get wrongly created items in the impo

[2015-05-17 06:30] RoySegall commented on #7130
@ran81 I can see we need to path feeds_tamper. Try to use `$is_csv = $parse instanceof FeedsCSVParser;`.

If this will work try to patch to feeds tamper module.

[2015-05-17 06:53] ran81 commented on #7130
@RoySegall

It works when using ``instanceof``. I'll submit a patch to feeds_tamper.

[2015-05-17 07:48] RoySegall commented on #7167
@rbran100 I need to have a gh-pages branch in the repo you opened.

[2015-05-17 08:39] ran81 commented on #7024
@mpetrovic

As for the private files issue, the commits you added fix that problem? I'm not getting a 302 on sites with private files and they show up when I set ``private=true`` in the query string.

[2015-05-17 08:47] RoySegall commented on #7167
In my case it's `apidoc -i ../OpenScholarMake/openscholar/modules/os/modules/os_restful/ -f ".*\\.class\\.php$" -o doc`

I'll elaborate in the PR.

[2015-05-17 09:22] ran81 commented on #7170
@RoySegall

The checkbox on the site-info widget determines the value for the variable ``vsite_users_contact_form_anonymous``. If we remove the option from the form and remove the email from the rendering of the widget, do we need to change something in the DB?

[2015-05-17 09:43] ran81 commented on #7176
Update:

On clean installation I can't reproduce this. The link brings up more than 20 items. Trying a few other RSS links from CNN and the likes I get tens of items in each import. Will check with a db dump and update.

[2015-05-17 14:54] mpetrovic commented on #7024
Oh good, that works. It's difficult for me to test locally.

Right now the only "issue" with that is that trying to get those files at
all forces a PIN authentication. I'm not sure if that'll be an issue going
forward. It might just work cause cookies, or it might need a separate
restful auth provider or I dunno.

I also fixed the Group access issue as well.

[2015-05-18 04:32] ran81 commented on #7176
Update:

@RoySegall
I get the same results with a db dump. Any more info on this?

[2015-05-18 04:33] ran81 commented on #7175
@RoySegall

How should we tackle this? the biblio_contributors field is identical for all of the publication types.

[2015-05-18 05:57] RoySegall commented on #7175
@rbran100 Any thoughts about this one?

[2015-05-18 08:00] RoySegall commented on #7169
@rbran100 I ca see there are couple of issues tat talks about archive and export data out side OpenScholar. To which format?  We have data export module that can export to views but it's depend on views and i don't know if we can views to export everything. I think some custom would be needed here.

[2015-05-18 13:31] rbran100 commented on #7176
@ran81 Can you test importing the same feed on multiple vsites, import some items in one vsite and then pull the feed in another and see if all items still show.

[2015-05-18 13:33] rbran100 commented on #7175
I will talk to Dorian and get back to you.

[2015-05-18 14:04] rbran100 commented on #7177
This change has been made to our server configuration.

[2015-05-18 14:05] #7177 closed

[2015-05-18 14:07] #7160 closed

[2015-05-18 14:08] #7073 closed

[2015-05-18 14:10] rbran100 commented on #7092
@tcheng001 I don't show this issue either, I think we need to try with a fresh copy of prod data.

[2015-05-18 14:11] rbran100 commented on #7125
You should be able to change the modified date for files to change the order in the LOF widget.

[2015-05-18 15:31] rbran100 commented on #7170
@ran81 I talked with @dancabral about this, we decided to leave the link since it looks like there are a lot of people using it.

Can we change it so that it is just "Enable contact form", so the e-mail link shows when it checked and is hidden when it is not checked.

The confusion was that people had it unchecked but still saw the link because they were logged in.  The link should no long be tied

[2015-05-18 15:45] dancabral commented on #7170
![show-email-link](https://cloud.githubusercontent.com/assets/867075/7684350/4f2f66d4-fd53-11e4-94ac-8cd4d6c074e7.png)

[2015-05-18 18:12] openscholar-admin opened #7182 "Only see some section outline items when re-ordering"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cannot-modify-section-outline)

**The Plan**

Resolve issue so that all menu links are accessible in a section from any (child) page in the section. There are a few cases where all links in a section are accessible from only the top most parent level page.

**Description**

I am curr

[2015-05-18 18:46] dancabral commented on #7182
Here http://hillel.harvard.edu/student-life most of the section menu links are missing.
![31696-1dtj9wg_inline](https://cloud.githubusercontent.com/assets/867075/7687649/b01c4aca-fd6c-11e4-9162-860d7c6201b6.png)
![31699-1ezlkem_inline](https://cloud.githubusercontent.com/assets/867075/7687648/b01baa2a-fd6c-11e4-8f8f-c8d403a69b59.png)

[2015-05-19 13:07] rbran100 commented on #7175
@RoySegall @ran81
For this issue, when entering a "Editor" in the author field it should show after the title.  Can you verify that this is the case for chicago author-date, and the Harvard styles?

Example of how it should look:
![screenshot 2015-05-19 09 03 58](https://cloud.githubusercontent.com/assets/651318/7703484/40f071ea-fe06-11e4-8fdc-e2798353d8d9.png)

See "Editor, translator, or compile

[2015-05-19 13:14] rbran100 opened #7183 "List of Posts Event Updates"
In addition to the default ability to display events in the future (upcoming), we will add options to display all events and events in the past.

 - [x] Change Sort option "Event Date" to "Event Date Ascending (Past to Future)"
 - [x] Add new Sort option "Event Date Descending (Future to Past)" with event date Descending
 - [x] Add new field after "Sort", called "Show" with the options "Upcoming E

[2015-05-19 13:33] rbran100 opened #7184 "In the Taxonomy widget add "Event Archive" to post type list"
In the Taxonomy widget, when "Post Type" is selected you get a list of types.

The Event option should be split into "Upcoming Events" and "Event Archive".

The path for Event Archive will use:  "calendar/past_events"

[2015-05-19 15:00] rbran100 commented on #7116
Whatever was causing this file to propogate has ended... no new instances since

[2015-05-19 15:07] rbran100 commented on #7116
Also looked through all other files and there are no other files that fit this pattern, all other duplicates are either generic names or have the same site.

[2015-05-19 15:07] #7116 closed

[2015-05-20 04:50] ran81 commented on #7175
@rbran100

I checked on the link you gave and I think for the "chicago author-date" it looks OK:
![selection_083](https://cloud.githubusercontent.com/assets/4497748/7719114/9175f462-feee-11e4-9d72-ee3225321cd3.png)
![selection_081](https://cloud.githubusercontent.com/assets/4497748/7719115/917a9ab2-feee-11e4-8c4f-633c243058ba.png)

As for the Harvard styles (do we have more than one..?) I get:
![s

[2015-05-20 04:53] ran81 commented on #7176
@rbran100

I can't reproduce this even after importing few ites from a feed in a site and then pulling the feed on another site. I get the same number of items when pulling the feed (tried a few feeds):
![selection_085](https://cloud.githubusercontent.com/assets/4497748/7719151/1fa477a4-feef-11e4-8ee2-a2e1b18850c7.png)
![selection_084](https://cloud.githubusercontent.com/assets/4497748/7719152/1fc

[2015-05-20 05:40] RoySegall commented on #7176
@ran81 Did you try to import items on one vsite and them import the same feed on other vsite?

[2015-05-20 06:06] RoySegall commented on #7175
@rbran100 Do you think we tot test it?

[2015-05-20 06:13] RoySegall commented on #7176
@ran81 Let's try to check this one with a lot of feeds.

[2015-05-20 06:56] ran81 commented on #7176
@RoySegall

I tried with many feeds and still couldn't get the other vsite to pull less items.

[2015-05-20 08:16] RoySegall commented on #7183
No. This are minor cosmetic changes.

[2015-05-20 11:49] RoySegall commented on #7184
I'll start handle it.

[2015-05-20 13:01] rbran100 commented on #7173
Build completed for the new PR, thanks Ran, marking for QA

[2015-05-20 13:28] rbran100 commented on #7176
I asked for some more details in the community ticket.

[2015-05-20 14:14] rbran100 commented on #7175
This looks good to me, based on what I found on the CMS author-date style guide for book chapters.
![screenshot 2015-05-20 09 49 58](https://cloud.githubusercontent.com/assets/651318/7727749/f1443e96-fed8-11e4-944f-7ce5a71f0a28.png)
![screenshot 2015-05-20 09 56 05](https://cloud.githubusercontent.com/assets/651318/7727751/f3e9f44c-fed8-11e4-9d32-4c1dcc4d1c7e.png)

[2015-05-20 14:18] #7175 closed

[2015-05-20 14:53] rbran100 commented on #7024
- [ ] File Edit Form: The tabs at the top should be greyed out
 - [ ] File Edit Form: "Label" needs help text "Name of file as seen by your site's visitors"
 - [ ] File Edit Form: "File Name" should be displayed similar to URL field on node forms. "http://scholar.harvard.edu/file/vsitename/file/ [ myfile.jpg ]"
 - [ ] File List: Search says type name and press enter, but enter is not required
 - [

[2015-05-20 14:59] rbran100 commented on #7024
- [ ] Trying to upload a file logged in as "briana_pendleton" the upload hangs forever.
![screenshot 2015-05-20 10 58 22](https://cloud.githubusercontent.com/assets/651318/7728815/4e91ac36-fedf-11e4-9b97-fc51e864cd2f.png)

[2015-05-20 15:10] mpetrovic commented on #7024
@rbran100
Do it again, but this time open the Network tab of the Developer tools first and screenshot the preview for the red lines.

[2015-05-20 15:19] rbran100 commented on #7024
Nothing red in network, here is what I see in console:
![screenshot 2015-05-20 11 17 38](https://cloud.githubusercontent.com/assets/651318/7729325/22dd6b04-fee2-11e4-9f89-2a520d29200a.png)

[2015-05-21 05:43] ran81 commented on #7183
@rbran100 , @RoySegall

Can you also please explain how the "expire" field behaves in case of "Descending" and "Past events" are selected?
If I'm sorting by "Event Date Descending (Future to Past)" and showing "Past events" then the options for the "expire", which is now actually "appear", should be changed. Should they be based on the time that has passed since the the event has ended up until no

[2015-05-21 06:02] RoySegall commented on #7183
Until @rbran100 will answer I think we will present events from the last 30 days.

[2015-05-21 10:20] RoySegall commented on #7167
OK, now all the content is documented. This is/was a massive part of the documentation.

[2015-05-21 13:43] RoySegall commented on #7183
@ran81 Don't limit the number of the time. The appear on will be unlimitied time.

[2015-05-21 18:23] rbran100 commented on #7139
This needs to be paired with acquia config changes, will test in staging.

[2015-05-21 18:49] openscholar-admin opened #7191 "Twitter feeds stopped working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/twitter-feeds-stopped-working)

**The Plan**

Twitter feed widget should work correctly

**Description**

Professor Stavins' tweets have stopped displaying on the site - [http://heep.hks.harvard.edu](http://heep.hks.harvard.edu).

Twitter feeds appear to have stopped working on multi

[2015-05-21 19:52] rbran100 commented on #7191
[code]

[2015-05-21 19:53] rbran100 commented on #7191
I see some twitter responses returning, but I think they were still in the 20 minute cache.

[2015-05-21 19:58] rbran100 commented on #7191
More info:
Requests to:
$url = 'https://api.twitter.com/1.1/search/tweets.json';
$query = '?q=' . urlencode('from:kinggary') ."&include_entities=true&count=5";
[code]
But to:
$url = 'https://api.twitter.com/1.1/statuses/user_timeline.json';
$query = "?screen_name=kinggary&count=5&include_rts=1";
[code]

[2015-05-21 20:51] rbran100 commented on #7191
@bilsi Lets talk about releasing this tomorrow if you could review / QA for me?  Looks to be a pretty safe hotfix.

[2015-05-22 13:06] rbran100 commented on #7191
The issue was that the library that we use to connect to the twitter API was pulling from master instead of a stable tag, this allowed a bug to be introduced which didn't properly encode special characters in the requests.

[2015-05-22 14:16] rbran100 commented on #7191
Verified fixed in prod.

[2015-05-22 14:16] #7191 closed

[2015-05-22 15:47] rbran100 commented on #7121
QA can be done on the media_browser_rewrite branch.

[2015-05-22 15:48] #7107 closed

[2015-05-22 19:55] rbran100 commented on #7024
- [ ] Whitelist of URL's for web tab are not listed.

[2015-05-25 06:32] RoySegall commented on #7147
What does this make different from #7173?

[2015-05-25 07:22] RoySegall commented on #7183
I think there something confusing here after giving a second look. When i'm sorting future to past and i want to show past events then "Events should appear" should not appear, no matter, and we will display all the past events and limitation will be done through the range of the widget.

[2015-05-25 11:51] RoySegall commented on #7121
I'm pushing a fix for the media browser fix.

[2015-05-26 12:24] RoySegall opened #7194 "image crop for slide show don't crop good"
When creating a slide show i'm attaching my profile picture. The field cop module can't handle the size of the image and this is what i'm getting:
![selection_410](https://cloud.githubusercontent.com/assets/1222368/7812472/1ba72fea-03bb-11e5-933b-24d9b224662f.png)

When dealing with bigger picture the crop working fine:
![selection_411](https://cloud.githubusercontent.com/assets/1222368/7812481/3c

[2015-05-26 13:39] RoySegall commented on #7183
@ran81 For now, remove the events should appear until @rbran100 will update us.

[2015-05-26 13:47] bilsi commented on #7182
Roy

Could you or Ran take a look at this issue?

Thanks
Bilsi

[2015-05-27 05:40] ran81 commented on #7182
Update:

Checked with a db dump on that site. I can't reproduce this. It is worth mentioning that I used a db dump for a month ago. Acquia wasn't kind enough to allow to download a more recent dump. Tried many times but the download fails.

When I edit the section, no matter on which page I am, I get all the section items:
![selection_089](https://cloud.githubusercontent.com/assets/4497748/7829537

[2015-05-27 12:53] rbran100 commented on #7182
@ran81 I will take a look

[2015-05-27 13:35] RoySegall commented on #7183
@ran81 The "events should appear" should appear for the past events and the select list will apply the same condition as it was in the future events.

[2015-05-27 13:51] bilsi commented on #7138
Test on http://lewis.seas.harvard.edu/content/curriculum-vitae for INC01279942

[2015-05-27 14:01] tcheng001 commented on #7170
Marked "Fixed"
1) The checkbox works properly now. When it is checked, no email link is shown.
2) If the box is checked, the link will show for all users (including anon user).

[2015-05-27 14:41] tcheng001 commented on #7130
Marked "Fixed"
imported vocabulary works as expected. Capital or small letters are kept unchanged but other special characters and spaces will be removed during importing.

[2015-05-27 16:22] rbran100 commented on #7139
Slow Queries
[code]

[2015-05-27 17:05] rbran100 commented on #7139
This was caused by:
1. an abundance of rows added to field_data_field_date because a repeating event had 5k occurances
2. double join to that table with filesort

[2015-05-27 17:29] tcheng001 commented on #7137
still not working.
steps to reproduce:
create a presentation post
attach a file
save the post
edit the post
add a link in wysiwyg pointing to the attached file
save
remove the attached from the post
click the link.
Note:
you will get the error
![screen shot 2015-05-27 at 1 27 40 pm](https://cloud.githubusercontent.com/assets/2111600/7842905/3047a4a2-0474-11e5-9045-85f170d69fc4.png)

[2015-05-27 17:53] tcheng001 commented on #7129
Mark "Fixed"
1) "More" link works as it used to be.  The "More" link appear when there are more items than the number of items to display.
2)  Now, the occurrence of recurring event is counted individually. For example, an recurring event contains 10 occurrences.  In List of Posts widgets, they are counted as 10 items. so if "Number of items to display" is less than 10, then "More" link is shown i

[2015-05-27 19:10] tcheng001 commented on #7024
So far, I can only update file type "txt" successfully.  Fail to update other file types like csv, zip, xml and  docx. The upload process never get done.  I haven't checked all of them yet.

[2015-05-27 19:25] tcheng001 commented on #7024
1) When pasting this URL from vimeo.com (https://vimeo.com/channels/staffpicks/128840555) and clicking Submit button, nothing happens.
![screen shot 2015-05-27 at 3 19 02 pm](https://cloud.githubusercontent.com/assets/2111600/7845355/814e9300-0484-11e5-918f-d3d188f4cc60.png)

2) Can we have a list of whitelisted sites?

[2015-05-27 20:09] tcheng001 commented on #7024
- [ ]  No way to select multiple files after clicking "Select files to Add".  It seems no way to select multiple files in operating system's file browser

- [ ] If using Drag and drop way, I am able to select multiple files to upload. For example, long.txt and long2.txt.  They are showed in the library. However, if I click Cancel, it seems that they would be removed from the library.  Correct beha

[2015-05-27 20:16] dancabral commented on #7169
@rbran100 on the /calendar page I'd like to rework the export icon section, giving it a cleaner appearance. See.
![calendarv2](https://cloud.githubusercontent.com/assets/867075/7846430/7b3584fe-048b-11e5-8d6f-16abb38d7624.png)
--------------------------
In order to do this, I would new a new div (with any distinct class) and Export text. With this, I can apply jquery slidetoggle to it.
![cal-expor

[2015-05-28 05:24] ran81 commented on #7137
@tcheng001

I've followed the steps you gave and I don't have this problem on clean installation and on a hwpi db dump. Screenshots are from the dump:
Created the node and linked to its file-
![selection_093](https://cloud.githubusercontent.com/assets/4497748/7853148/cc73ef84-053c-11e5-8da1-92b0dfb6ecf1.png)

Removed the file-
![selection_094](https://cloud.githubusercontent.com/assets/4497748/785

[2015-05-28 13:36] tcheng001 commented on #7024
File Edit Form issues (Click Edit link of a file in file listing):
- [ ]  Save doesn't work (make some changes on the forms and click Save, then reopen the file edit form. the changes are gone)
![screen shot 2015-05-28 at 9 27 23 am](https://cloud.githubusercontent.com/assets/2111600/7861047/ca647194-051b-11e5-9e6a-4c78ef883e42.png)

- [ ]  No taxonomy term showed
![screen shot 2015-05-28 at 9 28

[2015-05-28 14:39] rbran100 commented on #7183
@RoySegall I marked this in dev, can you mark it back "Needs Review" when you have the commit that you mentioned reverted?

[2015-05-28 14:54] rbran100 commented on #7178
We should enable the "biblio_date" field for these two types.

[2015-05-28 15:39] tcheng001 commented on #7092
marked "in dev"
I get a fresh copy of production data and most of publications look good.

In Journal Article, Volume, Issue and Pages are showed duplicated in citation. Here is an example,
![journal_article](https://cloud.githubusercontent.com/assets/2111600/7864055/e0e139c2-052d-11e5-97a3-c8f4825117cf.png)

[2015-05-28 17:47] bostanci opened #7195 "os sitewide frontpage"
i've finally installed the os. could you please now tell me how i do set up a site wide frontpage such as this: http://scholar.harvard.edu/?

i was unable to find anything through search.

thanks

http://pols.bilkent.edu.tr/people

[2015-05-28 17:51] tcheng001 commented on #7155
marked "Fixed"
1) all 14 HWP themes are listed on the top of /cp/appearance page
2) other non HWP themes are located at the lower portion of the /cp/appearance page
3) all themes can be selected and applied to vsites as usual

[2015-05-28 18:49] tcheng001 commented on #5267
Marked "Fixed"
This is a temporarily fix. Second level menu items will display when you are on their parent page. This is an example, you are on Tab widget page, then you can see the page's child pages (about, Sound and contact) in the menu
![screen shot 2015-05-28 at 2 45 55 pm](https://cloud.githubusercontent.com/assets/2111600/7868243/a709c4b0-0548-11e5-856f-c8eb0957d351.png)

[2015-05-28 19:45] dancabral commented on #7171
@tcheng001 this is ready for QA. its in the 3x branch. you'll want to use http://www.responsinator.com/ to test. viewing a page with a youtube embed http://staging.hwpi.harvard.edu/hilt/pages/learning-leaders-weaving-leadership-narrative-educational-experience, you iframe/video should look like this.
![screen shot 2015-05-28 at 3 42 07 pm](https://cloud.githubusercontent.com/assets/867075/7869423/

[2015-05-28 22:00] pthompsen opened #7196 "Can't install - White Screen of Death"
I have tried and failed three times to install Open Scholar (the latest version 7.x-3.20.0) on a Mac Mini running OS X Server, which includes Apache 2.4.10 and PHP 5.5.20, and to which I've installed mySQL 5.5.24.  Can anyone help me figure out what I'm doing wrong?

During the installation process, at the "configure site" step, I get the following "strict warning" messages...

Strict warning: Dec

[2015-05-29 12:07] rbran100 commented on #7184
@tcheng001 ready for QA

[2015-05-29 12:10] bostanci opened #7197 "publication page"
On publications page, or once the user clicks on a publication, the following error occurs:

Error
Notice: Undefined variable: plural in csl_label->render() (line 1226 of /var/www/people/profiles/openscholar/modules/contrib/biblio/modules/CiteProc/CSL.inc).

For instance, see http://pols.bilkent.edu.tr/people/meralugurcinar/publications

Any ideas?

Thanks!

[2015-05-29 12:12] rbran100 commented on #7183
@RoySegall this still needs some work, the expire times have not been reverted

[2015-05-29 12:55] rbran100 commented on #7173
@tcheng001 This is ready for QA

[2015-05-29 13:46] tcheng001 commented on #7024
Clear filter button is not working as expected.  It disappears after I click it.
![clear_filter_button](https://cloud.githubusercontent.com/assets/2111600/7883842/81fbab4e-05e7-11e5-8cdc-7f631a6b35b4.png)

[2015-05-29 14:13] mpetrovic commented on #7024
@tcheng001 It's supposed to do that.
It's supposed to only appear when there are filters to clear, and then vanish once they have been cleared.

[2015-05-29 14:32] tcheng001 commented on #7024
@mpetrovic    I just added one more issue there https://github.com/openscholar/openscholar/issues/7024#issuecomment-106312999

[2015-05-29 16:08] tcheng001 commented on #7171
@dancabral
The aspect ratio is too wide. What do you think?
![youtube_size_in_page](https://cloud.githubusercontent.com/assets/2111600/7886901/39dd38a0-05fb-11e5-967a-e0f3c776adeb.png)

[2015-05-29 19:23] tcheng001 commented on #7184
moving to "in dev"    @RoySegall
1) For Future event, number of items in taxonomy widget doesn't match what the events show if there is an event start time has passed the current time. Here is an example. The current time is 2:50PM.
"Present event" has started at 2:45PM. It is listed in the upcoming events (4 events in listing). However, it is not counted as a future event in the widget (3 events

[2015-05-29 19:54] rbran100 commented on #7184
For (3) that is correct to match current functionality.
For (4) I think changing it to Upcoming makes sense.

[2015-05-29 19:59] dancabral commented on #7171
I'll take a look @tcheng001

[2015-05-29 20:35] dancabral commented on #7171
should fixed now @tcheng001. I just pushed it to 3x. will need a cc.

[2015-05-31 09:15] RoySegall commented on #7024
Maybe @mpetrovic did some changed because i the term selection is working:
![screen-cast-sunday](https://cloud.githubusercontent.com/assets/1222368/7901421/5776605a-078e-11e5-8c98-5109dfeaa307.gif)

The same goes for changing the name of the file or any other property. But what about the file upload? i can't replace it - was there any work on that one? I remember that we said we put the file updat

[2015-05-31 12:30] tcheng001 commented on #7173
Marked  "Fixed"
Now, \<th\> and \<thead\> are in the allowed html tag list.
If I use Table Row Properties, I can set a header row like this
![thead](https://cloud.githubusercontent.com/assets/2111600/7901917/ce598dca-076e-11e5-9567-b77186582f4e.png)

If I use Table Cell Properties, I  can set header row like this
![hd](https://cloud.githubusercontent.com/assets/2111600/7901928/3b010b24-076f-11e5-9

[2015-05-31 12:45] tcheng001 commented on #7155
@bilsi    Everything looks good. I can't reproduce the issue anymore.  Marked "Fixed"

[2015-05-31 13:02] tcheng001 commented on #7171
@dancabral
The video doesn't make use the full width of the browser. Intended or design limitation?
If yes, then we can make this "Fixed"
![width_of_video](https://cloud.githubusercontent.com/assets/2111600/7902008/b99d584e-0773-11e5-82a8-0fb409fbbf27.png)

[2015-05-31 14:10] mpetrovic commented on #7024
@RoySegall

The file replacer was working last time I tried it, and I don't think I've
done anything to break it. I'll look at it tomorrow.

In the mean time, could you try writing a behat command for adding a file
to the angular-file-upload widget? I looked into it a while ago, but
couldn't figure anything out. That's what's currently blocking automated
tests for this feature.

On Sun, May 31, 20

[2015-05-31 14:35] RoySegall commented on #7024
We try back then look on file input population but this was very hard to implement but now when we using phantomJS we could be more lucky. I'll update.

[2015-05-31 16:43] dancabral commented on #7171
@tcheng001 the player flexes to the width of the screen/device. depending on the ratio of the video it may or may not fill the player.

[2015-05-31 16:43] #7171 closed

[2015-06-01 06:15] ran81 commented on #7092
Update:

Reproduced the problem and it should be fixed now for a Journal article:
![selection_096](https://cloud.githubusercontent.com/assets/4497748/7907172/b4112446-0868-11e5-9729-b0d193bdcb26.png)

[2015-06-01 11:49] benjamingr opened #7198 "Adding gallery to page"
Cross linking from https://github.com/Gizra/huji-openscholar-hebrew-build

Can anyone shed some light on why style tags are not allowed?

[2015-06-01 12:26] amitaibu commented on #7198
@benjamingr nice to see you around the Drupal world! :)

[2015-06-01 12:39] benjamingr commented on #7198
@amitaibu oh hey! Thanks! I'm helping my dad with his website.

This project is actually really nice and I'm really enjoying the ease of usage, I don't mind trying to work on a pull request (although I admit it'll likely take me a lot more time than you guys). Unfortunately it looks like a non-developer closed the issue on the Gizra repository.

Does this sound like something feasible to you?

[2015-06-01 13:18] amitaibu commented on #7198
@benjamingr that issue you opened was on a repo which is a specific OpenScholar flavor Gizra is customizing for Huji.

You can probably add an [image gallery](https://scholars.huji.ac.il/help/os_help/Image-Gallery-app) there with one of the pre-existing widgets, but for specific support on the Huji platform it indeed should go through Maayan

[2015-06-01 13:18] #7198 closed

[2015-06-01 13:36] tcheng001 commented on #7174
@rbran100
Tested on http://dev.scholar.harvard.edu/tcheng2/people. That is the url (http://dev.scholar.harvard.edu/tcheng2/people/john-dole)
When trying to access a people node which has been removed from a site, I got error 503 (Service Unavailable) instead of 404.

![screen shot 2015-06-01 at 9 27 36 am](https://cloud.githubusercontent.com/assets/2111600/7913769/7b5fed1c-0840-11e5-8088-e65808dee

[2015-06-01 13:36] rbran100 commented on #7139
The cache consistency is toggled by a config setting so the code change itself will not have any impact.

[2015-06-01 13:42] rbran100 commented on #7174
I can reproduce, it looks like it happens when logged out, I am taking a look.

[2015-06-01 13:43] rbran100 commented on #7183
ready for QA

[2015-06-01 13:49] #7173 closed

[2015-06-01 13:49] #7147 closed

[2015-06-01 13:50] #7155 closed

[2015-06-01 13:51] #7129 closed

[2015-06-01 13:52] #7130 closed

[2015-06-01 14:03] RoySegall commented on #7184
About 1 it's a cache issue. I'll check 2 as well.

[2015-06-01 14:29] rbran100 commented on #7170
@dancabral did you mean to close this?

[2015-06-01 15:03] RoySegall commented on #7184
I tried to check this one and i think we have a problem with the cache invalidation. I'm runnig a bit a late so @ran81 will handle it.

[2015-06-01 15:10] rbran100 commented on #7184
@RoySegall I actually don't think this is cache, I think the count function does not use the same expire option as the list.  If we can not find a clean way to fix this and that is the case we can let it go.  (4) is just a text change.

[2015-06-01 15:14] tcheng001 commented on #7183
@RoySegall
Unable to test the changes. If I select the new options  (either Event Date Ascending or Descending), then I got an unexpected error when loading /calendar page.  Of course, the LOP widget (events) is placed in the calendar page.

If Sorted By is set to "Newest Post",  then the widget displays properly. Any idea?

[2015-06-01 15:16] benjamingr commented on #7198
@amitaibu I'm asking for a platform feature (<style> tags), that would totally satisfy me

[2015-06-01 15:42] dancabral commented on #5267
@rbran100 I think this should stay open until @rclinch has updated his custom themes.

[2015-06-01 15:51] rbran100 commented on #5267
I thought he had, are we still waiting on him.

[2015-06-01 15:53] rbran100 commented on #7178
can you or Ran take a look at this.

[2015-06-01 15:57] dancabral commented on #5267
@rbran100 yes...waiting for his updates.

[2015-06-01 17:55] mpetrovic commented on #7197
Turn off error messages on your production site. This is a configuration setting in your php.ini file. Consult your hosting provider on how to make changes to it.

This particular error is just a Notice, and will have no negative effects on your site.

[2015-06-01 17:57] mpetrovic commented on #7024
CSV files (and presumably other extensions) can now be uploaded.

[2015-06-01 17:57] tcheng001 commented on #7121
@RoySegall
If Form element type is set to Autocomplete in taxonomy, then the post form shows 8 more entries if I click the link "Add another item".  I did check the production, one entry will be added when users click "Add another item" link once.
I am not so sure if the issue is related to what you fixed for this ticket.

![screen shot 2015-06-01 at 1 49 19 pm](https://cloud.githubusercontent.com

[2015-06-01 17:58] bostanci commented on #7197
thanks so much!

[2015-06-01 18:38] tcheng001 commented on #7092
@ran81  @rbran100
I copied DB and checked update (no pending update), cleared caches, but am still not able to see the good fix on Journal Article. The citation style is set to Harvard chicago author-date.
1)  Journal name is duplicated.
2) extra comma and space in front of issue number
3) extra space behind issue number
 ![screen shot 2015-06-01 at 2 26 44 pm](https://cloud.githubusercontent.com/

[2015-06-01 19:04] tcheng001 commented on #7125
marked "pending"
Unable to save the file edit form (including the field of Uploaded On)
![screen shot 2015-06-01 at 3 03 38 pm](https://cloud.githubusercontent.com/assets/2111600/7920838/815c7af8-086f-11e5-8b5d-f6c89b3e6310.png)

[2015-06-01 20:06] mpetrovic commented on #7024
@tcheng001
File editing and file replacement should work correctly now.

[2015-06-01 20:08] bostanci commented on #7197
i have added the following to my .htaccess file and edlited php.ini both in cli/ and apache2/
however, the error persists.

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

this is a debian lamp machine and i have run out of options available at the moment.

[2015-06-01 20:10] mpetrovic commented on #7197
Dumb question time:
1. You've restarted apache?
2. Are you sure apache is using your .haccess?
3. Are you sure apache is letting you use those specific things in your .htaccess?

[2015-06-01 20:14] bostanci commented on #7197
1- yes, of course. several times, for each change.
2- i think so. if it has not used .htaccess, cleanurls would not work. when i delete the file, the cleanurls do not work and not found page appears. i assume, it works.
3- well, i think i do not know this. is there anyway i can check?

[2015-06-01 20:18] mpetrovic commented on #7197
Make a php page that has only the following:
[code]

And run it in a browser. Those values will be at the top or bottom.

[2015-06-01 20:19] dancabral commented on #5267
Heres the PR https://github.com/openscholar/openscholar/pull/7199

[2015-06-01 20:20] bostanci commented on #7197
here it is: http://pols.bilkent.edu.tr/people/petrovic.php

[2015-06-01 20:24] mpetrovic commented on #7197
Everything's ok there. Have you tried clearing all the Drupal cache and Varnish caches if you're using it?

[2015-06-01 20:29] bostanci commented on #7197
i have just cleared the cache and changed development>logging and errors to none.
i think it works! thanks matt!

[2015-06-01 20:31] #7197 closed

[2015-06-01 20:37] bostanci commented on #7196
hi,
i have almost worked for days to install the system. could you please create a .php file including the following code:

<?php
phpinfo();
?>

while the server is running, open the file and send here the results.

[2015-06-01 20:39] rbran100 commented on #7196
WSOD indicates a fatal error, could you send the error from your logs?

[2015-06-01 21:04] pthompsen commented on #7196
Bostanci and rbran100, thanks for your responses.  Since I posted, I tried a few more times to install open scholar, but eventually I just gave up.  I'll try one more time, and can post the errors from my log. I'm a bit uncomfortable posting the entire output of a php.info to a github board.  Besides, it's many pages.  Could I just post a particular part of the php.info output, or do you really ne

[2015-06-01 21:09] rbran100 commented on #7174
I was only able to reproduce this on dev, I pushed a fix that should fix the problem.

[2015-06-01 21:09] bostanci commented on #7196
make sure that you have the following values there: https://github.com/openscholar/openscholar/wiki/Troubleshooting

i installed the system thanks to this page. if the problem persists, i think rbran may help. :)

[2015-06-01 21:10] rbran100 commented on #7196
Even if you have the errors from last install that should be plenty.  Especially the fatals.

[2015-06-01 21:20] mpetrovic commented on #7024
@RoySegall
If you have time, could you start filling out the test suites here? At the very least, start filling them out for the Taxonomy Widget.

[2015-06-01 21:27] pthompsen commented on #7196
I don't think I have those logs, since in the process of trying to set this up, I restored from various Time Machine backups of earlier systems to see if it would install.  But my director of information security insists that I must run PHP 5.5 or later, so this afternoon I did a clean install of Yosemite server.  Let me try to install again.  For what it's worth, I did make the changes suggested

[2015-06-01 23:50] pthompsen commented on #7196
So this time while trying to install OpenScholar on a fresh install of Mac OS X Server 10.10, I get the following errors on the "install site" step...

The installation has encountered an error.
Please continue to the error page

An AJAX HTTP error occurred. HTTP Result Code: 200 Debugging information follows. Path: https://communication.wcupa.edu/install.php?profile=openscholar&locale=en&id=1&op=

[2015-06-01 23:51] pthompsen commented on #7196
If I then click on the link to continue to the error page, I see this...

Missing Feeds plugin OsImporterNodeProcessor. Please contact your site administrator.
Error message
Strict warning: Declaration of os_files_filter_title_file_name::query() should be compatible with views_handler_filter::query() in _registry_check_code() (line 3179 of /Library/Server/Web/Data/Sites/Com/includes/bootstrap.inc)

[2015-06-01 23:54] pthompsen commented on #7196
And here are some lines from the http error log...

[Mon Jun 01 19:44:44.323864 2015] [:error] [pid 60590] [client 10.28.39.200:51796] PHP Fatal error:  Call to a member function get() on a non-object in /Library/Server/Web/Data/Sites/Com/profiles/openscholar/modules/cp/modules/cp_appearance/cp_appearance.module on line 911
[Mon Jun 01 19:45:07.276130 2015] [:error] [pid 61286] [client 10.28.39.20

[2015-06-01 23:58] pthompsen commented on #7196
I'll leave my phpinfo page up for awhile if you really think it would help.  It's at https://communication.wcupa.edu/info.php

[2015-06-02 00:09] pthompsen commented on #7196
And yes, I made sure the memory settings were as suggested in https://github.com/openscholar/openscholar/wiki/Troubleshooting

[2015-06-02 05:45] ran81 commented on #7092
@tcheng001

I handled the extra space after the issue number (I imagine a space before it is needed), but I can't get the duplicated Journal title:
![selection_098](https://cloud.githubusercontent.com/assets/4497748/7929172/85616a00-092d-11e5-9ad2-f449bbbee956.png)

@RoySegall - could you try on your end the Journal article?

[2015-06-02 05:47] ran81 commented on #7184
Update:

Handled (3), (4) and hopefully (1) as I made the query to bring events that started within 30 minutes from now (same as the "Upcoming events" view):
![selection_100](https://cloud.githubusercontent.com/assets/4497748/7929192/bfdfb4e8-092d-11e5-8467-833d164455f6.png)

[2015-06-02 05:59] RoySegall commented on #7184
@ran81 Please check that the fiter by terms have a cache time expire when displaying past or upcoming events.

[2015-06-02 06:28] ran81 commented on #7092
Update:

@RoySegall
I checked with an hwpi db and indeed got the duplicated secondary title (Journal name). Can't say why this doesn't happen on a clean installation. I hope now it will be OK:
![selection_101](https://cloud.githubusercontent.com/assets/4497748/7929695/a1e71214-0933-11e5-8af7-efb3750af5ea.png)

[2015-06-02 06:32] ran81 commented on #7183
Update:

@RoySegall
On clean installation I get an error:
![selection_099](https://cloud.githubusercontent.com/assets/4497748/7929715/cc207f3e-0933-11e5-9cd2-4bae5cc88454.png)

And note, this is happening on SCHOLAR-3.x as well so this is not a result of this branch I think.
I has to do with the alias for the table used in ``os_sv_list_query_sv_list_events_alter()``. Now, the weird thing is that i

[2015-06-02 06:56] RoySegall commented on #7183
If there is a different alias then we need to pull the alias via code and not hard coded one.

[2015-06-02 07:01] ran81 commented on #7184
Update:

I updated the PR and hopefully (2) should now be OK too - we count events that already started same as the "Past events" view (before  we counted events that already ended). Also, now when showing events we set time expire of 5 minutes to the fbt widget.

[2015-06-02 07:02] RoySegall commented on #7121
I'm rebuilding the project and i'll try to reproduce @tcheng001 notes.

[2015-06-02 08:44] ran81 commented on #7183
Update:

After updating drupal to the right version we use the error is gone. I'll update about the error reported by @tcheng001.

[2015-06-02 08:58] RoySegall commented on #7121
After building again i got some problems. There were two libraries missing(you can see that in the commit) and even after adding them, when clicking on the upload button i got this error:
![selection_430](https://cloud.githubusercontent.com/assets/1222368/7932128/92a0cb66-091e-11e5-964e-afd06f0ddb47.png)

Any idea?(that's mean i could not test @tcheng001 notes)

[2015-06-02 09:06] amitaibu commented on #7198
Feature request for Huji indeed should go by maayan. Since you are such an awesome contributor to open source, I'll ask @RoySegall (another awesome contributor to open source) and the dev lead for that project  to keep an eye on your issue.

[2015-06-02 10:30] RoySegall commented on #7183
I'm not getting this error as well but i don't have any thing like this.

[2015-06-02 10:33] RoySegall commented on #7178
Yeah, i'll try took a look on this one.

[2015-06-02 10:45] rbran100 commented on #7184
(3) was already correct. What change was made for that? Did you add it as an option.

[2015-06-02 10:50] RoySegall commented on #7184
I don't see that (3) was affected by anything. Maybe he wrote it by mistake.

[2015-06-02 11:07] RoySegall commented on #7178
By default, the date field title is `Corporate authors` and we got this:
![image](https://cloud.githubusercontent.com/assets/1222368/7934482/8e56555a-0930-11e5-9b03-2036da4b46a3.png)

I'm changing it to 'Publish date'

[2015-06-02 12:26] tcheng001 commented on #7024
@mpetrovic    I did clear caches on staging.scholar. Form editing is still not working.  Any idea?
@RoySegall    Taxonomy form control fails as well  (no term showed)

[2015-06-02 12:44] tcheng001 commented on #7092
@RoySegall   The issue still occurs in my test environment. http://dev.hwpi.harvard.edu/tormanhc3/publications/ja888
![ja_citation](https://cloud.githubusercontent.com/assets/2111600/7936016/9fc8da74-0903-11e5-8360-35ece5d23baa.png)

[2015-06-02 13:03] RoySegall commented on #7024
@tcheng001 You can see here https://github.com/openscholar/openscholar/issues/7121#issuecomment-107873715 that i don't have the modal for editing form. Any ideas about that one?

[2015-06-02 13:03] tcheng001 commented on #7174
marked "Fixed"
1) When trying to access a non-existing people node, it shows a customized 404 page.
2) When trying to access a non-existing basic page, it shows a  customized 404 page.
3) When trying to access a non-existing publications node, it shows publication page.

[2015-06-02 13:06] RoySegall commented on #7092
I'll try to reproduce this my self.

[2015-06-02 13:12] rbran100 commented on #7174
@tcheng001 Marking the back into dev, the test report that this breaks the "/blog/archive" paths. Possibly an issue getting to unpublished blogs.  Some redirection does not trigger.  The calendar filtering by terms is reporting broken when on the second month.

I am looking into these issues.

[2015-06-02 13:38] RoySegall commented on #7121
@mpetrovic ^^

[2015-06-02 13:49] mpetrovic commented on #7121
@RoySegall
Check the version of angular-file-upload. They changed the name of things
in a recent update, and all our code is using the old names.
On Jun 2, 2015 9:38 AM, "Roy Segall" <notifications@github.com> wrote:

[2015-06-02 17:15] openscholar-admin opened #7201 ""Add Slide" link not available in HWP Vibrant - Golden Accents theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-add-slide-link-not-available-in-hwp-vibrant-golden-accents-theme)

**The Plan**

Move the Add slide link down into the photo area of the slideshow so that users can access it.

**Description**

The "Add Slide" looks to be positioned too high (within the primary nav), in the in HWP V

[2015-06-02 17:25] dancabral commented on #7201
Fixed. Closing.
![screen shot 2015-06-02 at 1 24 23 pm](https://cloud.githubusercontent.com/assets/867075/7942238/e650fc98-092a-11e5-97ef-8b4d55bd1362.png)

[2015-06-02 17:25] #7201 closed

[2015-06-02 19:50] #7137 closed

[2015-06-03 05:37] ran81 commented on #7184
@RoySegall

(3) was about the default usage of the widget when selecting "Determine for me". This did not work before the changes I made as we just handled the cases of past and upcoming events. When the user selects "Determine for me" the bundle is "event" and not "upcoming_event" so I handled that to be treated the same.

[2015-06-03 05:37] ran81 commented on #7092
@RoySegall

I can see form @tcheng001's comment that the update function wasn't applied again after the last commits. It still shows the extra space as well after issue number. The update function needs to run again in order to reflect the changes to the csl file.

[2015-06-03 06:24] RoySegall opened #7202 "Can't create new content type via the UI"
When you try to create content using the UI nothing happens and you get redirected to the form all over again and the values are not being saved in the form.

[2015-06-03 07:10] RoySegall commented on #7178
@ran81 Will take it from here. I'll check another things.

[2015-06-03 12:45] rbran100 commented on #7092
Looking at presentation type "Date Presented" does not show in the citation when it is rendered.

http://dev.scholar.harvard.edu/gking/publications/methods-Extremely-Large-Scale-Media-Experiments-And-Observational-Studies#

Can you add it to the end of the citation along with any other missing fields you can find.
![screenshot 2015-06-03 08 43 23](https://cloud.githubusercontent.com/assets/651318/

[2015-06-03 12:45] rbran100 commented on #7092
Also it looks like the Publishers URL is missing as well, it is the link + text field.

[2015-06-03 13:16] RoySegall commented on #7202
@rbran100 Any thoughts?

[2015-06-03 15:02] rbran100 commented on #7202
Not sure?  Do  you see anything in the logs?

[2015-06-03 15:28] tcheng001 commented on #7184
@ran81
The count for the past event is still incorrect. It shows 2 in the taxonomy widget, but only one event is in the listing. It seems that an event has occurred today is counted as past event in the taxonomy widget. It should not.
![past_event](https://cloud.githubusercontent.com/assets/2111600/7963666/e7e8de06-09e1-11e5-90e8-48ec9c9cde7c.png)

[2015-06-03 15:36] rbran100 commented on #7184
@RoySegall This is what I was talking about with the count not honoring the expire settings.

[2015-06-03 15:38] openscholar-admin opened #7203 "Improve the appearance of an event page when it's a repeated event"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/improve_the_appearance_of_an_event_page_when_its_a_repeated_event)

**The Plan**

Updating the layout of the list of events page to be more user friendly by removing all of the repeating days, having the rule displayed should be enough.

**Description**

The information printed in this page [http://eps.harva

[2015-06-03 15:39] openscholar-admin opened #7204 "Mini Cal widget does not display year"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/mini-cal-widget-does-not-display-year)

**The Plan**

Updating the feature to display the year alongside the month

**Description**

It only shows the month, but would be helpful to show the year if a user is scrolling through.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_image

[2015-06-03 15:39] openscholar-admin opened #7205 "Calendar view - event duration doesn't match length of content box in calendar week/day view"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/calendar-view-event-duration-doesnt-match-length-of-content-box-in-calendar-week-day-view)

**The Plan**

Updating the feature so that the event box should be proportonal to the duration of the event.

**Description**

See screen caps for examples - the duration of the event should m

[2015-06-03 15:40] openscholar-admin opened #7206 "Add ability to export event sign-up attendees to Excel"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/add_ability_to_export_event_sign_up_attendees_to_excel)

**The Plan**

We should add an export to the registrants list for events.

 - [x] Add export to CSV: The fields for export should be: "Email", "Full Name", "Registration Created Time", "User", "Department"
 - [x] Add export to plaintext : This should b

[2015-06-03 16:07] tcheng001 commented on #7178
@RoySegall  @ran81
I don't see the new field (Date Published) in my test env.  Something wrong with #7200?
![newspaper_article](https://cloud.githubusercontent.com/assets/2111600/7964995/abad9808-09e8-11e5-8787-8a115f128ca7.png)

[2015-06-03 16:54] rsasch commented on #7138
Regarding "Remove Bio/CV module" — should that be "Remove Bio/CV app"?  If I remove the module, then I'm not sure where to put the update that migrates the existing bios and cvs.

[2015-06-03 17:14] ashleychadwick commented on #7202
To be more specific with describing the problem:

I was trying to set up Organic Groups by going through the standard first step of creating a new content type called "Group" -- where part of this step is to select the checkbox for the Organic Groups setting that "set the content type to be a group, that content will be associated with, and will have members."

However, I figured out what was goin

[2015-06-03 17:39] rbran100 commented on #7178
@tcheng001 did you run updates?

[2015-06-03 17:49] tcheng001 commented on #7178
@rbran100  I deployed the PR to dev.hwpi, but the only pending update is os_wysiwyg module 7006  (Revert os_wysiwyg filter component to allow and tags). I think this is irrelevant.

[2015-06-03 18:29] #7176 closed

[2015-06-03 18:48] rbran100 commented on #7178
It should try to run update os_publications_update_7031, it may be that there was another update with the same number in another pull, can you try another dev enviroment and see if it shows?  Or copy the prod db down?

[2015-06-03 20:06] tcheng001 commented on #7174
@rbran100
If trying to access an indexed book page which has been deleted from the site, I got access denied. OK?

Steps to reproduce:
1)  log in as vsite admin in Chrome
2)  go to a book page (capture the URL of the book page)
3)  remove the book page
4)  try to access the book page (using the saved URL in step 2) in Firefox as anon user

[2015-06-03 21:00] larrytooke commented on #7196
I had similar issues which I didn't manage to resolve - decided to wait for the next release.

[2015-06-04 01:04] tcheng001 commented on #7178
For Newspaper Article,
1) Question:  why Section and Issue Date are rendered outside the citation box?
![newspaper_article_citation_box](https://cloud.githubusercontent.com/assets/2111600/7974782/0734e190-0a34-11e5-9604-8ecd87daa4df.png)

For Magazine Article,
1) Date Published should allow Date, Month, Year.  Then, the help text is incorrect.
![magazine_citation](https://cloud.githubusercontent.c

[2015-06-04 05:13] ran81 commented on #7092
@rbran100

The publication in your comment is actually a "conference paper". Also, the Publisher URL is empty:
![selection_103](https://cloud.githubusercontent.com/assets/4497748/7977252/1a544068-0abb-11e5-91ad-477afd5b8d5e.png)
![selection_104](https://cloud.githubusercontent.com/assets/4497748/7977251/1a2b27f0-0abb-11e5-8257-d5d1e913aa64.png)

The field is shown after being inserted in the form:

[2015-06-04 05:16] ran81 commented on #7184
@RoySegall

I changed the queries to be in the exact format views performs them for the matching views. Done in https://github.com/openscholar/openscholar/commit/a7663b7949957b14dad273f305c2525fef5eb5c7.

The patch which broke Travis is the feeds_tamper patch we used for the import of the vocabularies. Is is committed so the patching failed.

[2015-06-04 07:26] ran81 commented on #7092
Update:

Moved the "Date Presented" for a conference paper to the citation.
Before:
![selection_107](https://cloud.githubusercontent.com/assets/4497748/7978996/004d0994-0ace-11e5-97b1-8c05a33ea3d8.png)
After:
![selection_106](https://cloud.githubusercontent.com/assets/4497748/7979000/0a29a83c-0ace-11e5-97f0-a741e14f52ab.png)

[2015-06-04 08:08] RoySegall commented on #7202
The thing is that  it's relate to OG stuff at all. The bug that you can't create OG group is just a symptom. You can't are a content type at all.

And no, nothing strange in the log. it's go through the validation handler but the submit handler isn't invoked.

[2015-06-04 13:40] RoySegall commented on #7092
@ran81 Please add the publisher version as well.

[2015-06-04 13:46] RoySegall commented on #7178
@ran81 Let's update the hint to the dates that @tcheng001 created.

[2015-06-04 14:04] #7174 closed

[2015-06-04 14:35] RoySegall commented on #7178
1. The date is rendered outside the citation since each citation act different.
2. We will update the field text.

[2015-06-04 15:52] tcheng001 commented on #7092
@RoySegall
The following publication types have some fields rendered outside citation.
- [ ] Bill

![screen shot 2015-06-04 at 11 43 04 am](https://cloud.githubusercontent.com/assets/2111600/7987973/e7762136-0aae-11e5-97af-e7bb91a0b21b.png)

- [ ] Case

![screen shot 2015-06-04 at 11 44 57 am](https://cloud.githubusercontent.com/assets/2111600/7988014/261e91ac-0aaf-11e5-9f15-35a68c536708.png)

- [

[2015-06-04 18:30] tcheng001 commented on #7184
All occurrences of a recurring event are countered as 1. Here is an example.  There are 4 upcoming "Friday Night Fever" events.  They are countered as 1 event.  However, the total number in taxonomy widget is 3 instead of 6. The similar issue also occurs in the Past Event. Can we fix that?
![screen shot 2015-06-04 at 2 22 29 pm](https://cloud.githubusercontent.com/assets/2111600/7991462/3dc3c306-0

[2015-06-04 18:55] #7184 closed

[2015-06-04 19:33] tcheng001 commented on #7183
Sorted By | Show | Result
------------ | ------------- | -------------
Past to Future | Upcoming Events |  No fatal error
Past to Future | Past Events |  Fatal error
Past to Future | All Events |  Fatal error
Future to Past | Upcoming Events |  Fatal error
Future to Past | Past Events |  No fatal error
Future to Past | All Events |  Fatal error

Note: Fatal error means "The website encountered an

[2015-06-04 19:53] mpetrovic commented on #7024
* [ ] Replacing a file destroys the space association. This may be what Torman was seeing earlier.

[2015-06-04 20:58] rbran100 opened #7207 "Upgrade Drupal Core"
[https://github.com/openscholar/openscholar/issues/7207](https://github.com/openscholar/openscholar/issues/7207)

Upgrade Drupal Core to the latest

[2015-06-05 14:23] tcheng001 commented on #7024
@mpetrovic
- [ ] Library is not working. No file is loaded.
![screen shot 2015-06-05 at 10 15 52 am](https://cloud.githubusercontent.com/assets/2111600/8007738/e86ebfcc-0b6b-11e5-98eb-c6a54cd04835.png)

* still unable to embed anything. It just does nothing when I click Submit.

* upload is not working. After a file is uploaded, it shows me file listing (Previously uploaded files) but that is empt

[2015-06-05 14:29] mpetrovic commented on #7024
@tcheng001
What site, what user? Any errors in the javascript console? Any red rows in the Dev Tools Network Tab?

[2015-06-05 15:05] tcheng001 commented on #7024
I logged in as vsite admin on http://staging.scholar.harvard.edu/tcheng2.
![screen shot 2015-06-05 at 11 03 25 am](https://cloud.githubusercontent.com/assets/2111600/8008826/893d51a6-0b72-11e5-824e-1abf03cebde6.png)
Note: If logged in as user1, Library loads correctly.

[2015-06-05 15:16] tcheng001 commented on #7024
@mpetrovic
Uploaded file fails to be added to library even though I logged in as user1

[2015-06-05 15:28] mpetrovic commented on #7024
Master List of Everything There Is:

**Locations**
* [ ] The Browser properly replaces the old Media Browser in the standard file field.
* [ ] The Browser properly replaces the old Media Browser in the WYSIWYG.
* [ ] The Browser properly replaces the old Media Browser in Image crop fields
* [ ] The Browser properly replaces the old Media Browser in the Drag and Drop file fields.

**Beginning a New

[2015-06-05 19:48] openscholar-admin opened #7209 "Mailchimp notification - recieve is spelled wrong"
[View or participate in the full discussion](http://community.openscholar.harvard.edu/openscholar/topics/mailchimp-notification-recieve-is-spelled-wrong)

**The Plan**

Update the spelling of recieve to receive.

[2015-06-05 20:06] openscholar-admin opened #7211 "When List of Files widget is set to display "All" files, the widget disappears from view"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/when-list-of-files-widget-is-set-to-display-all-files-the-widget-disappears-from-view)

**The Plan**

Fixing the bug so that the widget does not disappear when the user selects to display "all" files

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1207393/LO

[2015-06-05 20:06] openscholar-admin opened #7212 "Adding a closing div tag to your body text without a corresponding opening tag breaks the wysiwyg."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/adding-a-closing-to-your-body-text-without-a-corresponding-opening-tag-breaks-the-wysiwyg)

**The Plan**

Fix the issue so that the HTML inconsistency does not break the wysiwyg

**Description**

Example Text

START

This paragraph has some important text, and it will be the only one

[2015-06-05 20:06] openscholar-admin opened #7213 "Confusing message when trying to sync a profile from a private site"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/confusing-message-when-trying-to-sync-a-profile-from-a-private-site)

**The Plan**

Add an appropriate message when the user is attempting to sync a profile that exists on a private site.  If access is denied it should say that we don't have access.

**Description**

[![img](https://

[2015-06-05 20:06] openscholar-admin opened #7214 "Front page layout not working properly"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/front-page-layout-not-working-properly)

**The Plan**

Fix the issue so that the site displays appropriately according to the layout

**Description**

Hi, not sure what happened but the wedges on my site front page (climate.fas.harvard.edu) are not appearing according to the layout.

[2015-06-05 20:06] openscholar-admin opened #7215 "Alt text missing when adding image from Image Library"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/alt-text-missing-when-adding-image-from-image-library)

**The Plan**

Fix the issue so that the Alt text is retained with the image

**Description**

I have previously added Alt text to an image in the image library. When I try to add an image to another page, the Alternate text fiel

[2015-06-05 20:06] openscholar-admin opened #7216 "Profile photo upload issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/profile-photo-upload-issue-99oti5uwggx75)

**The Plan**

Add a help text to guide users on how to crop images appropriately

**Description**

Normally, odd cropping happens bc an image is too small but this one is larger than the recommended size and is still having issues -  [http:/

[2015-06-05 20:06] openscholar-admin opened #7217 "Publications lists are redundant"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publications-lists-are-redundant)

**The Plan**

When you filter by publication type it says "Book by type: Book", it should say "Publications by type: Book"

[2015-06-05 20:06] openscholar-admin opened #7218 "Errors out when user exceeds the maximum number of menu options allowed for a site"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/errors-out-when-user-exceeds-the-maximum-number-of-menu-options-allowed-for-a-site)

**The Plan**

Fix the issue so that when the user exceeds the maximum number of menu items, it displays a message instead of errorring out.

**Description**

Can’t create primary menu post, links or

[2015-06-05 20:06] openscholar-admin opened #7219 "Saving after editing a page does not close the edit popup"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/saving-after-editing-a-page-does-not-close-the-edit-popup)

**The Plan**

Change node content form functionality so that after a user clicks the Save button (if in a modal) the modal closes automatically.

**Description**

when i edit this page

 and hit

save, the edit interface sho

[2015-06-05 20:06] openscholar-admin opened #7220 "Image size tool tip not appearing in Chrome but fine in Firefox."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/image-size-tool-tip-not-appearing-in-chrome-but-fine-in-firefox)

**The Plan**

Resolve issue so that the resize tooltip works in chrome the same as it does in FF. See attached

**Description**

When inserting an inline image on a page, I get the tool tip that tells you the pixel dim

[2015-06-05 20:06] openscholar-admin opened #7221 "Accordion on page does not expand smoothly"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/accordion-on-page-does-not-expand-smoothly)

**The Plan**

Resolve issue so that the publication abstract slider slides straight down and does not slide the left under the thumbnail.

**Description**

On the homepage [http://gking.harvard.edu/](http://gking.harvard.edu/) , click on +

[2015-06-05 20:06] openscholar-admin opened #7222 "Create "Lemon Sand" - New Flavor Based on HWP Classic theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-2-new-flavor-based-on-hwp-classic-theme)

**The Plan**

Create a new theme/color variation option based on the Classic theme. Color, font and name are TBD.

**Description**

Create (2) New Flavor Based on HWP Classic theme. Name and details TBD.

[2015-06-05 20:06] openscholar-admin opened #7223 "Create "Teal Accents" - New Flavor Based on HWP Classic theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-flavor-based-on-hwp-classic-theme)

**The Plan**

Create a new theme/color variation option based on the Classic theme. Color, font and name are TBD.

**Description**

Create New Flavor Based on HWP Classic theme. Name and details TBD.

[2015-06-05 20:06] openscholar-admin opened #7224 "figure element (mis)use for image Descriptions"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/figure-element-mis-use-for-image-descriptions)

**The Plan**

Correct the markup output around user entered inline images when the description field is used. The result will be proper use of the figure/figcaption tags.

**Description**

When an image file has a Description and is ins

[2015-06-05 20:23] rbran100 commented on #7215
Can you check that this work in the new MediaBrowser, I can't tell if it is the existing MB or the new that I get on staging.

[2015-06-05 20:25] rbran100 commented on #7214
@dancabral For this what were you thinking? I was thinking we should add "Empty text" to the LOP for when there are no items?  We can not have all empty boxes show, or have empty regions show as that will break many sites.

[2015-06-05 20:32] dancabral commented on #7214
@rbran100 while I realize this isnt easy to do I'll throw it out there. Ideally, you'd see something like "There are no upcoming events". An alternative/generic version of that would be a message that wouldn't read like an error message -  "There are currently no items to list here. Please check back soon for new content".  Thoughts?

[2015-06-05 20:39] mpetrovic commented on #7214
Isn't the issue that the css can't accommodate an empty center column?
Shouldn't the fix be centered on that?

On Fri, Jun 5, 2015 at 4:32 PM, dancabral <notifications@github.com> wrote:

[2015-06-05 20:42] tcheng001 commented on #7024
- [ ] In publication form, it fails to upload multiple files by dragging. Only one file is uploaded and an error is showed.

![screen shot 2015-06-05 at 4 37 32 pm](https://cloud.githubusercontent.com/assets/2111600/8014752/2fac8f24-0ba1-11e5-9e72-7dc9fcceb81e.png)

- [ ] In publication form, there is a typo in the help text for Publication Image Drag and Drop file field. "files" should be singula

[2015-06-05 20:56] dancabral commented on #7214
I agree @mpetrovic I should fix the css part of it - thats a parallel issue. I still think some kind of message should display in LOP when there isnt any content. Especially an upcoming events widget. Its pretty standard in websites that display events, to print a message like "There are currently no upcoming events" when there aren't any. That way regular visitors know where to look when looking

[2015-06-07 06:28] RoySegall commented on #7183
@tcheng001 10x. Manage to reproduce. Will check.

[2015-06-07 06:52] RoySegall commented on #7183
The first problem with the query is that the field is hard coded - https://github.com/openscholar/openscholar/blob/7183/openscholar/modules/os/modules/os_sv_list/os_sv_list.module#L172 and this field doesn't exists.

[2015-06-07 08:04] RoySegall commented on #7183
i manged to fix query but i need to see how the is affected.

[2015-06-07 08:13] RoySegall commented on #7183
I pushed a fix. @tcheng001 Can you run your tests and verify everything is OK? Tests will be added later.

[2015-06-07 08:55] RoySegall commented on #7024
I'm checking this one again and the replacing of the image is good - sort of. The image replaced but to see the changes i need to refresh the modal and i can't edit terms of the file.

[2015-06-07 11:12] RoySegall commented on #7218
@rbran100 I can't download a backup everey time i downloading a file the extraction is failing.

[2015-06-07 15:00] mpetrovic commented on #7024
Replacing the preview will require finding some way of clearing the browser
cache for the same file. I tried for a bit last week and couldn't figure it
out. Maybe adding the file create timestamp as a query argument when
generating the preview...

As for terms, there's a SQL error in the vocabulary REST API. Have a look
at that.

On Sun, Jun 7, 2015 at 4:55 AM, Roy Segall <notifications@github.com

[2015-06-08 07:45] RoySegall commented on #7024
I don't think we need to clear the cache browser but maybe store in the local storage the information. Let's leave this one for later.

The problem with the terms that the $scope.terms is not affected in any way. I'm trying to give this one another look.

[2015-06-08 09:22] RoySegall commented on #7024
I dig a little bit and i think we have problem with two things:
1. The terms directive doesen't update the terms property on the file object.
2. The getDiff method in EntityService return an empty object and the update process is borken.

[2015-06-08 11:05] benjamingr commented on #7198
Ok - should I open a different issue for allowing `<style>` tags?

[2015-06-08 11:25] RoySegall commented on #7198
Where do you to add the style tag? if it's should be part of the the WYSYWIG you can add it as allowed tag in the text filters. If not - more info could be useful.

[2015-06-08 12:39] RoySegall commented on #7092
@rbran100 I pushed the fixes and i have a question: the fields which displayed out side the citation should be displayed inside the citation for all types or just this current citation?

[2015-06-08 13:59] rbran100 commented on #7092
This items should only be added for the new citation, in all other citations they will continue to display outside of the citation.  Items are only displayed outside the citation when they are not included in the citation, there is code to handle that.  For this new citation all items should be included.

[2015-06-08 14:20] dancabral commented on #7221
this is ready for QA @tcheng001. Its in 3x. To test, check a Publication with an without a Pub book thumbnail. When a thumbnail is used, there should be a left margin next to the abstract slider.
![pub-abstract_slider](https://cloud.githubusercontent.com/assets/867075/8036755/ee3eedb0-0dc7-11e5-8a91-2cd25b389507.png)

[2015-06-08 14:39] openscholar-admin opened #7227 "Text wrapping issue in the Event Calendar"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/text-wrapping-issue-in-the-event-calendar)

**The Plan**

[coming soon]

**Description**

It appears that the titles of some events do no wrap properly in the Event Calendar in both Monthly and Weekly views.

In my testing I found that this issue is affecting:

1) Events marked as "A

[2015-06-08 15:04] mpetrovic commented on #7024
@RoySegall
Did you ever test that your code did this? I had left a scope.$watch() on the selectedTerms variable specifically for that purpose which is now gone. The terms property on the TaxonomyWidget is supposed to be 2-way.

[2015-06-08 15:49] mpetrovic commented on #7024
Issue:
* [ ] Files with no terms return 'null' in the terms field. Should be empty array.
* [ ] No way to get Taxonomy Term selections out of Taxonomy Widget so they can be saved.

[2015-06-08 16:07] rbran100 opened #7228 "Remove TID and VID parameters"
[View on Community](http://community.openscholar.harvard.edu/openscholar/topics/restore-friendly-term-urls-to-taxonomy-widget)

[https://github.com/openscholar/openscholar/issues/7228](https://github.com/openscholar/openscholar/issues/7228')

@RoySegall I am not sure this is needed

Upcoming: http://chemistry.harvard.edu/calendar/upcoming/news-event-type/safety-training
Past: http://chemistry.harv

[2015-06-08 20:52] rbran100 commented on #7218
I am having the same issue now, I opened a ticket with acquia.

You can reproduce this issue by adding many menu items.  As soon as the size is large enough it will be too big for the spaces_overrides value field and fail.  We should warn the user when this happens instead of failing.

[2015-06-09 11:52] RoySegall commented on #7024
The widget works OK:
![selection_439](https://cloud.githubusercontent.com/assets/1222368/8057090/102d5336-0eb7-11e5-8c2a-3520a00d45c6.png)
There is something else that prevent for the terms property on the file to update. I'm checking.

[2015-06-09 13:39] rbran100 commented on #7218
"You have reached the maximum number of items for this menu."

[2015-06-09 13:41] rbran100 commented on #7217
This should change the page title when filtering by publication type, but the filtering by term should remain the same.

[2015-06-09 14:31] rbran100 commented on #7092
@RoySegall did you work on this at all today?

[2015-06-09 14:59] rsasch commented on #7138
Going forward with the plan to remove Bio/CV app (not module).

@rbran100 Regarding the featured post widget: this will look somewhat to significantly different than the old bio widget because:
<ol>
<li>The title of the bio will be displayed above the bio content since it's a page.  This is not visible in the current bio widget.</li>
<li>The "Curriculum Vitae" link will also be prominently visible

[2015-06-09 17:07] #7221 closed

[2015-06-09 18:15] tcheng001 commented on #7183
Past event shows upcoming up events instead.
The settings are showed in the below.
![screen shot 2015-06-09 at 1 59 33 pm](https://cloud.githubusercontent.com/assets/2111600/8065752/93021ca2-0eb1-11e5-9626-0a951f7b443d.png)

![screen shot 2015-06-09 at 2 13 04 pm](https://cloud.githubusercontent.com/assets/2111600/8065803/dd734d10-0eb1-11e5-8896-09473150dea8.png)

[2015-06-09 19:25] tcheng001 commented on #7217
@RoySegall
Tested on dev.scholar.harvard.edu/tcheng2
We found some similar issues in other widgets in production (including By Year and By Co-authors.  Can we fix them as well? Ask @rbran100  if you have question.

- [ ] http://scholar.harvard.edu/tcheng2/publications/year/2001
![screen shot 2015-06-09 at 3 14 56 pm](https://cloud.githubusercontent.com/assets/2111600/8067236/6a35e016-0eba-11e5-954

[2015-06-09 20:54] rbran100 commented on #7206
all set Roy

[2015-06-10 05:24] RoySegall commented on #7092
I've worked on this two days ago and @ran81 pushed the fixes - https://github.com/openscholar/openscholar/pull/7114#issuecomment-110005497

[2015-06-10 08:10] RoySegall commented on #7183
@rbran100 I think that there reversed logic that @ran81 did solve what @tcheng001 showed above.

[2015-06-10 08:26] ran81 commented on #7183
@RoySegall

Perhaps the logic I gave for the "Events should appear" is off, but indeed, they way the code is now, selecting the options in tcheng's comment, would show upcoming events since we gave the same query conditions for that particular case (DESCENDING + PAST EVENTS).

[2015-06-10 09:11] ran81 commented on #7217
Update:

@tcheng001
First 2 checkboxes are working and are not a problem as far as I can tell. I updated the code yesterday so maybe it needs an update on the dev environment.

As for the 3rd one, things are more complicated. Firstly, the "Co-Author List" view had some problems (still rendered OK but needed a fix and re-export):
![selection_114](https://cloud.githubusercontent.com/assets/4497748/8

[2015-06-10 11:58] RoySegall commented on #7206
Two question: why we need the "User" exported? The registration is done for anonymous users. And what do you mean by "Add export to plaintext". Can you elaborate please?

[2015-06-10 12:09] rbran100 commented on #7206
For the User. It is information that we collect, so I thought that there would be value in displaying it.  I think you are correct though that most registrations will not have this so lets leave it off.

The plaintext export will have the format listed above.  It will be used as a simple list for a presenter/owner to use to check people off as the come to the event.

[2015-06-10 12:45] dancabral commented on #7214
@tcheng001 this is ready for QA. To test, place widgets in both of these layout configs.
![screen shot 2015-06-09 at 4 58 49 pm](https://cloud.githubusercontent.com/assets/867075/8082668/df466244-0f4c-11e5-8b17-c668ed6d19ca.png)
![screen shot 2015-06-09 at 4 58 29 pm](https://cloud.githubusercontent.com/assets/867075/8082671/e3484560-0f4c-11e5-823a-02184f1ed206.png)
----------------
In both scenar

[2015-06-10 13:55] rbran100 commented on #7217
@tcheng001 Roy says he has the issues you mentioned fixed now.

[2015-06-10 14:34] tcheng001 commented on #7092
@ran81  @rbran100
- [ ] It should not show the label for "Publisher's version"
![screen shot 2015-06-10 at 10 11 53 am](https://cloud.githubusercontent.com/assets/2111600/8084543/84a6a562-0f59-11e5-83c3-ea6082c5f53a.png)

- [ ] Any reason why we show the labels in citation?  Here is an example.
The labels of Section Number and Session Number are needed when they are rendered outside the citation.

[2015-06-10 15:18] tcheng001 commented on #7217
@rbran100    If we exclude the third issue [here] (https://github.com/openscholar/openscholar/issues/7217#issuecomment-110475122) , then we can close this ticket.

@RoySegall
Like By Type and By Years widget,  we just need numbers enclosed with parenthesis, they should not be a link. Of course, the author names should be a link.

[2015-06-10 15:42] dancabral commented on #7214
@tcheng001 I'll be using separate branches for my issues going forward, and not 3x. For this issue I have the udpates in branch 7214-fix_front_page_layout

[2015-06-10 17:52] tcheng001 commented on #7214
Marked "Fixed"

[2015-06-10 20:58] mpetrovic commented on #7024
Found this:
https://github.com/angular-ui/ui-select/issues/962

So we're not doing anything wrong, there's a bug in ui-select. If there's no response in a couple days, I'm patching it.

[2015-06-11 05:28] RoySegall commented on #7217
@ran81 Open another issue for the last one and take the commits relate to that on another PR.

[2015-06-11 05:33] rbran100 opened #7234 "Issues with cron cache clear"
Error Thrown:
[code]

[code]

[2015-06-11 05:45] ran81 opened #7235 "By Coauthors widget, parenthesis are missing for counters."
A problem found in #7217:

minor issue in By Coauthors widget, parenthesis are missing for counters:
![4cf7a9f2-0ebb-11e5-8d9e-9af1539b9bb6](https://cloud.githubusercontent.com/assets/4497748/8100555/107ad9b4-1040-11e5-8ae1-3a80fb5e4f3c.png)

[2015-06-11 05:48] ran81 commented on #7235
Update:

Firstly, the "Co-Author List" view had some problems (still rendered OK but needed a fix and re-export):
![selection_114](https://cloud.githubusercontent.com/assets/4497748/8078667/e6097964-0f91-11e5-8b8c-e3ff48f2def6.png)

Now, even before this change and in tcheng's links we have a problem with the links of the "By co-author" widget:
![selection_115](https://cloud.githubusercontent.com/

[2015-06-11 11:28] RoySegall commented on #7183
@tcheng001 Can you have a second look? I looked at the last code that @ran81 pushed and look OK to me.

[2015-06-11 13:35] tcheng001 commented on #7125
Also, the field (Uploaded On) needs in file form when being accessed from
1) /cp/content/files,
2) /cp/content/files-private,
3) media gallery,
4) slideshow ??

[2015-06-11 13:48] tcheng001 commented on #7217
@RoySegall
Is the third issue in [this] (https://github.com/openscholar/openscholar/issues/7217#issuecomment-110475122)  also ready to QA?

[2015-06-11 14:13] tcheng001 commented on #7217
Page titles look good for By Type, By Year and By Co-authors now
![screen shot 2015-06-11 at 10 10 14 am](https://cloud.githubusercontent.com/assets/2111600/8108980/15a290b2-1022-11e5-8aae-27796b040c35.png)

![screen shot 2015-06-11 at 10 10 51 am](https://cloud.githubusercontent.com/assets/2111600/8108993/2bd66b42-1022-11e5-8a0e-08e7de4da9cd.png)

![screen shot 2015-06-11 at 10 11 18 am](https://

[2015-06-11 14:44] rbran100 opened #7238 "Test compatibility with PHP 5.5"
We need to get off 5.3 in prod.

[2015-06-11 14:45] rbran100 commented on #7234
Looks like the issue may be related to 5.3, will try and patch in advance of #7238

[2015-06-11 15:47] #7217 closed

[2015-06-11 15:53] rbran100 commented on #7207
This breaks RestWS, @RoySegall since you know this better can you look and see if we can use content headers instead of the ".format" in the places where we use RestWS.  I think the main place right now is for the person sync, is that correct?

https://www.drupal.org/node/2484829

[2015-06-11 16:53] rbran100 commented on #7234
Was not related to 5.3

Instead I think we need to update our version of entity API.

[2015-06-11 17:12] tcheng001 commented on #7183
Sorted By | Show | Event should expire | Test Result |
------------ | ------------- | ------------- | ------------|
Past to Future | Upcoming Events |  30 minutes after an event starts | Passed <sub>1  |
Past to Future | Upcoming Events |  At the end of the day | Passed <sub>2 |
Past to Future | Upcoming Events | When the event ends | Passed <sub>3|
Past to Future | Past Events |  N/A | Passed <su

[2015-06-11 17:33] #7209 closed

[2015-06-11 18:03] bilsi commented on #7214
Closed it by mistake

[2015-06-11 18:52] rbran100 commented on #7213
ready for QA torman

[2015-06-11 18:53] tcheng001 commented on #7024
When logged in as vsite admin, still not able to add anything in [Embed from the web] tab.  Nothing happens after clicking Submit button.

[2015-06-11 18:54] rbran100 commented on #7211
ready for QA

[2015-06-11 19:28] rbran100 commented on #7234
This came about with the enabling of consistant_cache I am going to temporarily back out that config:
[code]

[2015-06-11 19:47] bilsi commented on #7214
Closing it after the travis build succeeded and the code was merged

[2015-06-11 19:47] #7214 closed

[2015-06-11 20:45] tcheng001 commented on #7024
File replacement still fails.
Steps to reproduce:
1) Click Edit button in a post edit form
![screen shot 2015-06-11 at 4 39 03 pm](https://cloud.githubusercontent.com/assets/2111600/8117710/6d0bf150-1058-11e5-95be-2a0215d8cb8a.png)
2) Click Choose File button from File form
3) Select a new file to replace the existing one from OS file browser
4) Click Save button to save the change
Note:
1) The Fi

[2015-06-12 14:57] tcheng001 commented on #7211
Marked "Fixed"
Checked all file types (including All, Image, Video, Audio, Document, Embedded Media and Executable)
Checked some file types filtered by vocabulary terms.

[2015-06-12 18:47] mpetrovic commented on #7024
@tcheng001 Solved the above issue by removing the old file editor.

[2015-06-12 19:11] tcheng001 commented on #7024
Still see the double listing of the newly uploaded file in Library before hitting Insert button. I did clear caches and reload the post.
![screen shot 2015-06-12 at 3 09 27 pm](https://cloud.githubusercontent.com/assets/2111600/8137978/31ecacc8-1115-11e5-9cfa-f4493f679d65.png)

[2015-06-14 05:23] ran81 commented on #7216
@RoySegall

I checked this and the thing is this: the cropping tool only allows cropping of a quare, that is same height and width. That's fine for the ``/people`` page where we have a 75x75 image. For an individual profile, ``/people/foo`` the image is 180x220 and so the cropping tool will show one image which is a square and then in the page itself it will display a longer image (width smaller t

[2015-06-14 05:24] ran81 commented on #7183
@tcheng001

Changed the widget for the config you gave (past events + descending + 30 minutes):
![selection_118](https://cloud.githubusercontent.com/assets/4497748/8147356/aad3ac52-1298-11e5-9ebc-8d0a55d31694.png)

[2015-06-14 07:47] ran81 commented on #7194
@RoySegall

The issue is a result of uploading an image that's too small.
Under the crop tool it is said to use images of minimal sizes according to the slideshow style that is selected. Do we want to validate this?

[2015-06-14 13:31] RoySegall commented on #7207
The upgrade to 7.37 works OK for me without applying the patch.

[2015-06-14 13:45] rbran100 commented on #7207
Did you see the restws issue?

- Richard
Sent from my iPhone

[2015-06-14 13:57] RoySegall commented on #7207
Of course, in the issue a lot of people complain that restWS doesn't for them any more but i didn't got this one and the tests on travis are passing.

[2015-06-15 14:01] openscholar-admin opened #7240 "Whitelist SAS file extension as an allowed file upload"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/whitelist-sas-file-extension-as-an-allowed-file-upload)

**The Plan**

Add .sas as an allowed file upload type.

**Description**

Please whitelist SAS file extension as an allowed file upload extension. Thank you.

-----------------

SAS is a file extension for an ASCII file used wit

[2015-06-15 14:08] rbran100 commented on #7207
Ready for QA, @tcheng001 we should test syncing profiles

[2015-06-15 14:17] rbran100 commented on #7213
@tcheng001 What was the reason that this went back into dev?

[2015-06-15 14:22] rbran100 commented on #7178
@RoySegall did you update the date hint, I don't see the change

[2015-06-15 14:37] openscholar-admin opened #7241 "Trim names of Featured Themes in cp/appearance page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/trim-names-of-featured-themes-in-cp-appearance-page)

**The Plan**

Trim Featured Theme names so that only the flavor name appears.

**Description**

The Featured Theme names all have a HWP XXX - prefix. A cleaner labeling convention would be to trim the HWP XXX part so that only the

[2015-06-15 18:12] rbran100 commented on #7092
@tcheng001 I think we need the labels for both session/section information.  These are items that were previously not in the citation and the label is needed for context.  For the publisher version however I thought that the label was the text for the link.

@RoySegall
Shouldn't it show like it does on the bottom of the page here? http://gking.harvard.edu/files/abs/pr-abs.shtml

[2015-06-15 19:16] dancabral commented on #7205
@RoySegall for the day and week calendar views, the goal is is make the div for reach event box match the length of the event. Is it possible to retrieve the event duration in N hour(s), multiply that value by 80px, then apply that value as an inline height style to the event div. In this example there are 2 events. 1 is 1hr in duration X 80px = an inline height value of 80px. The other event is 2

[2015-06-16 05:45] ran81 commented on #7178
Update:

Changed the hint for the magazine article "Date Published" field:
![selection_119](https://cloud.githubusercontent.com/assets/4497748/8176468/e95a6902-142d-11e5-830d-16a45ccfd641.png)

[2015-06-16 05:51] ran81 commented on #7092
Update:

Brought back the labels for fields that were previously outside the citation. Also, moved the publisher's version to the bottom of the page:
![selection_121](https://cloud.githubusercontent.com/assets/4497748/8176562/b7ad07e2-142e-11e5-9314-041218b95b36.png)

[2015-06-16 07:42] RoySegall commented on #7207
@ran81 checking why the test is failing

[2015-06-16 13:39] RoySegall commented on #7092
@ran81 Move back the publisher version into the citation. There was a minor confusion.

[2015-06-16 13:42] rbran100 commented on #7205
@dancabral this is ready for you to take a look

[2015-06-16 15:09] tcheng001 commented on #7213
@rbran100
I don't know why the comments I made on Friday are gone.

@RoySegall
Just need to change some wordings. The message is not just applicable to when trying to sync a profile from a private site, but it also applies to when the app (profile) is set to private in a public site.

 "The profile cannot be synced: it seems that the profile you are trying to sync belongs to a private site or is s

[2015-06-16 15:45] mpetrovic opened #7245 "Build script does not work with newer versions of Drush"
Attempting to build with a newer version of Drush (confirmed with 6.6) causes no modules to be placed in any directory.

This can be fixed by adding =. to the contrib-destination argument when invoking Drush make.

[2015-06-16 16:11] rsasch commented on #7138
Decision is to add option to not display title to the "Featured Posts" widget (default will be to display node titles, the widgets created as part of this development will have it set to not display the titles).

[2015-06-16 17:23] #7211 closed

[2015-06-16 18:39] tcheng001 commented on #7206
@RoySegall
Where is the export link?  I tested on http://dev.scholar.harvard.edu/tcheng2
I did copy db and run update, but still not seeing the export link
![screen shot 2015-06-16 at 2 38 04 pm](https://cloud.githubusercontent.com/assets/2111600/8191307/56ef6baa-1435-11e5-86d9-6f82e815625f.png)

[2015-06-16 18:53] tcheng001 commented on #7235
Marked "Fixed"

1) encounter is enclosed with parenthesis.
![screen shot 2015-06-16 at 2 51 57 pm](https://cloud.githubusercontent.com/assets/2111600/8191647/43565d4a-1437-11e5-9cf4-d096c88667cd.png)

2) the links of co-authors works correctly.

[2015-06-16 18:54] dancabral commented on #7205
@RoySegall the week and day views for a single day event look good. tested on staging.hwpi
![weekview](https://cloud.githubusercontent.com/assets/867075/8191654/46fe3986-1437-11e5-93da-6251d0b3a122.png)
-----------------
![dayview](https://cloud.githubusercontent.com/assets/867075/8191660/4e7c0ef4-1437-11e5-85a9-8aae47b421f7.png)
-----------------
The only problem is when the day view of a multi d

[2015-06-16 19:00] dancabral commented on #7169
@RoySegall are you able to add the new div and text as I have in the screen above? Do you mind using this branch that I've already created? https://github.com/openscholar/openscholar/tree/7169-calendar_events-desgn-updates

[2015-06-16 19:27] tcheng001 commented on #7178
@rbran100
Help text for Date Published.  Which option should be used?
1) 12 Jan 2014
2) Jan 12 2014

[2015-06-16 19:36] tcheng001 commented on #7178
@ran81  Don't see the change for help text.  Tested on http://dev.scholar.harvard.edu/tcheng2/publications
I did run update. Anything is still missing?
![screen shot 2015-06-16 at 3 34 15 pm](https://cloud.githubusercontent.com/assets/2111600/8192588/385bbaf6-143d-11e5-9b11-e299b4ba3536.png)

[2015-06-16 20:39] dancabral commented on #7222
![lemon_sand](https://cloud.githubusercontent.com/assets/867075/8193925/377d72ec-1446-11e5-929a-f6d57b8db2c9.png)

[2015-06-16 20:53] tcheng001 commented on #7207
Marked "Fixed"
1) able to sync profile using auto-complete
2) able to sync using URL from the same install
3) able to sync using URL from other installs

[2015-06-17 05:44] ran81 commented on #7213
Update:

Changed the message:
![selection_123](https://cloud.githubusercontent.com/assets/4497748/8200390/e9907334-14f6-11e5-899f-d249373a1603.png)

[2015-06-17 05:45] ran81 commented on #7205
@dancabral

Treating multi-day events as a single day would be a a problem I think, if for example we have an event that starts at 5pm and end 2 days later at 2pm.

@RoySegall

How do we want to handle this? right now it looks OK to me. For example en event that spans for 3 days from the 17th to the 19th:
![selection_127](https://cloud.githubusercontent.com/assets/4497748/8200399/0d841a84-14f7-11e

[2015-06-17 05:47] ran81 commented on #7169
@dancabral

Added the div you asked for on your branch:
![selection_128](https://cloud.githubusercontent.com/assets/4497748/8200422/5cb33ec8-14f7-11e5-82a8-be2b20622a4a.png)

[2015-06-17 07:02] RoySegall commented on #7206
Have you tried to clear the cache?

[2015-06-17 07:05] RoySegall commented on #7178
But did the updates run with a DB from the production?

[2015-06-17 07:09] RoySegall commented on #7169
Why don't we use ctools drop down?

[2015-06-17 09:51] ran81 commented on #7212
Update:

I can confirm this is the case. Will update.

[2015-06-17 13:09] rbran100 commented on #7178
Updated the hint text to use american style formatting , and updated one place where it was not updated.

[2015-06-17 13:18] #7235 closed

[2015-06-17 13:42] tcheng001 commented on #7178
@RoySegall
Any reason why the help text for magazine is  "mm/yyyy" but "mm/dd/yyyy" for news article?
![screen shot 2015-06-17 at 9 38 49 am](https://cloud.githubusercontent.com/assets/2111600/8208263/be208116-14d4-11e5-96e5-6bf584573e52.png)

Checking some examples in the internet, magazine could contain date in the citation. Here is an example,
![screen shot 2015-06-17 at 9 33 03 am](https://clo

[2015-06-17 13:54] tcheng001 commented on #7206
@RoySegall
yes, I did clear caches. Configuration issue?

[2015-06-17 14:23] rbran100 commented on #7206
@RoySegall this is not working for us, can you try with one of the older dumps you have.  I also made some notes in the PR

[2015-06-17 14:51] dancabral commented on #7169
@RoySegall I'm fine with using ctools drop down. I just thought the above markup would offer more styling flexibility. Anyway, thanks for placing the new markup in there. I should be good for now.

[2015-06-17 15:27] tcheng001 commented on #7183
Marked "Fixed"
* applied taxonomy terms to some events, the listing of events in List of Post widget is still correct.
* List of Post widget functions as before for other content types.

[2015-06-17 16:15] tcheng001 commented on #7213
Marked "Fixed"
1) system will show an error
"The profile cannot be synced: it seems that the profile you are trying to sync belong to a private site or is set to private on a public site."
when trying to sync a profile from a private site or a private profile app of a public site.

2) able to sync a profile from another install using URL

3) able to sync a profile from the same install using URL

[2015-06-17 18:07] openscholar-admin opened #7248 "Adding a custom theme is broken"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/adding-a-custom-theme-is-broken)

**The Plan**

Make sure custom theme selection works again

**Description**

It seems like the ability to add custom themes is missing (Select your custom theme)

I can upload the zip file and choose the theme, but only the parent theme works. [http:

[2015-06-17 18:12] tcheng001 commented on #7092
@ran81  @RoySegall
Please move publisher version out of citation box. Could you change the label to "need QA" after you fix it?  Then, I would know that this is ready to QA.

[2015-06-17 18:28] rbran100 commented on #7204
Ready for QA

[2015-06-17 18:59] tcheng001 commented on #7204
Look good and mark "Fixed"

Tested Mini Calendar in Accordion, Column, and Tab widget.  It shows Month/Year in the heading as expected.
![screen shot 2015-06-17 at 2 58 51 pm](https://cloud.githubusercontent.com/assets/2111600/8215935/66f7595a-1501-11e5-9567-72da4867a3a5.png)

[2015-06-17 19:29] dancabral commented on #7205
@ran81 @RoySegall I see your point - an event that starts at 5pm and ends 2 days later at 2pm. I think its fine the way you have it above - unless someone objects? I also think that scenario is far less common. In most cases, there would be a single day event, and it either is an all day event or has start/ends times. Roy already solved issue.

[2015-06-18 05:57] RoySegall commented on #7092
@rbran100 Are you sure about that one? We had it in, and you asked to take it out.

[2015-06-18 05:59] RoySegall commented on #7178
Me and @ran81 can check this again and see the problems here.

[2015-06-18 06:04] RoySegall commented on #7245
@bilsi i'll take it from here since this one could be very fragile.

[2015-06-18 06:23] ran81 commented on #7212
Update:

After some time on this I still haven't found what's doing this. I turned off all the WYSIWYG filters and the filtered html filters. Still, there's a piece of JS code that "cleans" the value when it is inserted in the WYSIWYG.
Sometimes when refreshing the edit form you can still see a glimpse of the original value of the field, before it is formatted and ends up as shown above.

[2015-06-18 07:05] RoySegall commented on #7205
@dancabral Actually, the credit goes to @ran81.

[2015-06-18 08:12] RoySegall commented on #7205
If everything OK is think @tcheng001 can test it.

[2015-06-18 08:19] ran81 commented on #7178
Update:

Changed the hints according to @tcheng001's comment:
![selection_138](https://cloud.githubusercontent.com/assets/4497748/8226938/9cf3d1e4-15d5-11e5-86cf-ab61652c6e5f.png)
![selection_137](https://cloud.githubusercontent.com/assets/4497748/8226939/9d1a85d2-15d5-11e5-808d-5d7bbd16157f.png)

@RoySegall
I ended up changing the update function as we have a function that updates all the biblio

[2015-06-18 08:39] RoySegall commented on #7178
I don't see any changes in the PR

[2015-06-18 09:30] ran81 commented on #7240
@RoySegall

Do we want to add this extension to all ``field_upload`` instances? or just for particular content types?

[2015-06-18 09:57] RoySegall commented on #7240
@rbran100 Any thoughts on this one?

[2015-06-18 10:55] rbran100 commented on #7240
All instances that have the zip type now.

- Richard
Sent from my iPhone

[2015-06-18 10:59] rbran100 commented on #7092
Roy please leave as is, it should be IN The citation like we discussed. Will talk about it at scrum.

[2015-06-18 13:20] rbran100 commented on #7248
@rsasch can you take a look at this, @bilsi is occupied on other issues today

[2015-06-18 13:27] #7204 closed

[2015-06-18 13:31] rbran100 commented on #7218
PR has one comment update, otherwise ready for QA

[2015-06-18 13:40] RoySegall commented on #7212
@ran81 Let's see if there is a smart PHP libraries that fix that.

[2015-06-18 14:29] dancabral commented on #7205
Correction: @ran81 fixed the length issue. Thanks Ran! Ready for QA.

[2015-06-18 14:56] tcheng001 commented on #7228
Mark "Fixed"

Post types (in taxonomy widget form) | URL alias
------------ | -------------
Determine on me (in classes page) |  classes/\<vocab\>/\<term\>
All posts |  \<vocab\>/\<term\>
Select Post type (Past event) | calendar/past_events/\<vocab\>/\<term\>
Select Post type (Upcoming event) | calendar/upcoming/\<vocab\>/\<term\>

The term page shows correct content in all above cases.

[2015-06-18 15:16] #7228 closed

[2015-06-18 15:39] rbran100 commented on #7203
Updated the description for this, let me know if you have questions @RoySegall

[2015-06-18 16:43] tcheng001 commented on #7092
@RoySegall
For Hearing, Report and Unpublished, Dates don't show in citations.
- [ ]  Hearing

![screen shot 2015-06-18 at 12 38 00 pm](https://cloud.githubusercontent.com/assets/2111600/8236534/f9da5fd2-15b6-11e5-9589-344abb68be4f.png)
![screen shot 2015-06-18 at 12 39 05 pm](https://cloud.githubusercontent.com/assets/2111600/8236540/07cf166e-15b7-11e5-9b68-459c202fcd08.png)

- [ ] Report

![scre

[2015-06-18 18:50] dancabral commented on #7205
@ran81 looks good. Can you make a couple of minor additional changes?
1) Can we remove the Date (6/18/2015) when it prints inside an event div/box from the Month, Week and Day views?
2) Can we change the time pm & am to just p & a in the Month, Week and Day views?
3) Can we change "to" to -  ?
Illustrated:
Current view
![screen shot 2015-06-18 at 2 42 06 pm](https://cloud.githubusercontent.com/ass

[2015-06-18 19:17] tcheng001 commented on #7178
Mark "Fixed"

![screen shot 2015-06-18 at 3 14 19 pm](https://cloud.githubusercontent.com/assets/2111600/8239885/c33c968c-15cc-11e5-802a-fa441961b0ae.png)

![screen shot 2015-06-18 at 3 14 57 pm](https://cloud.githubusercontent.com/assets/2111600/8239889/cf0747c8-15cc-11e5-93f6-a854144d0b9f.png)

![screen shot 2015-06-18 at 3 15 52 pm](https://cloud.githubusercontent.com/assets/2111600/8239914/fd1

[2015-06-19 13:33] tcheng001 commented on #7218
@RoySegall  @rbran100
Tested on dev.scholar
Yesterday, I was able to create new menu items and saw the error message.  After that, I kept adding more menu items. Finally, at a point, I found that the newly added items are not showed in the menu page anymore.

Now, it seems that no more new menu item can be added in any sites. I did refresh database and clear caches today and try again. I am still

[2015-06-19 16:09] dancabral commented on #7223
@tcheng001 this new flavor is ready for QA. Its in branch 7223_classic_teal_flavor. Apply the usual flavor QA guidelines. Let me know if you want to look at together.

[2015-06-19 18:27] tcheng001 commented on #7024
- [ ] The modal should be located near the top of the browser.  It occurs when the file edit form is opened in /cp/content/files page.

- [ ] Delete doesn't work after accessing Edit link in cp/content/files page
Steps to reproduce:
go to cp/content/files
click Edit link of a file
click Cancel to close the file edit form
click any Delete link in cp/content/files
Note:
1) Nothing happens
2) To get

[2015-06-19 20:03] tcheng001 commented on #7223
Look good. Mark "Fixed"
Checked the following pages:
/home
/calendar
/blog
/faq
/classes
/galleries
/basic page
/links

[2015-06-19 20:12] dancabral commented on #7222
@tcheng001 this new flavor is ready for QA. Its in branch 7222_create_lemon_sandflavor. Apply the usual flavor QA guidelines. Let me know if you want to look at together.

[2015-06-19 21:07] dancabral commented on #7169
@RoySegall @ran81 The next update to the Calendar/Event feature is to create a popover when a user clicks an event title in the Month, Day and Week views. With the popover open, when the user clicks the event title in the popover it will take the user to the full page view of that event. In the popover, we're looking to display the 1) Event Title, 2) Event Date 3) Event time and 4) Event location

[2015-06-21 04:51] ran81 commented on #7205
@dancabral

I started working on the changes you asked for but I have sort of a problem. The markup for a range of dates for the day view is different not the same as in the month and week views:
![selection_140](https://cloud.githubusercontent.com/assets/4497748/8270514/3beb5c64-1814-11e5-8fa2-abc2dd16ead7.png)
![selection_139](https://cloud.githubusercontent.com/assets/4497748/8270515/3bed1248-1

[2015-06-21 08:11] ran81 commented on #7092
Update:

Fixed the comments from the comment above. The date now shows for the 3 publication types:
![selection_143](https://cloud.githubusercontent.com/assets/4497748/8270944/0f064e72-1830-11e5-86d0-2d2e83494353.png)
![selection_141](https://cloud.githubusercontent.com/assets/4497748/8270943/0f046350-1830-11e5-9231-12220c6dc1fa.png)
![selection_142](https://cloud.githubusercontent.com/assets/4497

[2015-06-21 09:45] ran81 commented on #7212
Update:

@RoySegall
I tried using html purifier which does as the name suggests. It can fix invalid html by adding closing tags but not opening tags. Any thoughts about this?

[2015-06-21 12:55] RoySegall commented on #7218
Yeah, can verify that after on line i can't see the new menu item. Checking that one.

[2015-06-21 13:14] RoySegall commented on #7218
@tcheng001 everything seem to work OK. After a couple of items creation i got it working. Do you have a special pattern for that?

[2015-06-21 13:26] RoySegall commented on #7219
@Bilsi Any more information about that one? Which page? I'm trying to edit couple of pages but can't reproduce this one.

[2015-06-21 14:53] RoySegall commented on #7245
@mpetrovic I switched to 6.6.0 and everything OK. I can try this one on my mac tomorrow. An

[2015-06-21 22:04] mpetrovic commented on #7245
It may be the Windows version of 6.6.0

[2015-06-22 05:08] ran81 commented on #7219
@RoySegall

Couldn't reproduce this as well.

[2015-06-22 05:11] ran81 commented on #7205
Update:

@dancabral
Added the span you asked for. Can you please take a look?
![selection_147](https://cloud.githubusercontent.com/assets/4497748/8275826/008e6f22-18e0-11e5-88a8-14ca6cf2f68e.png)
![selection_144](https://cloud.githubusercontent.com/assets/4497748/8275827/009100c0-18e0-11e5-87b3-a61d3679f715.png)
![selection_145](https://cloud.githubusercontent.com/assets/4497748/8275828/0091c744-1

[2015-06-22 06:23] RoySegall commented on #7245
I didn't touch windows for 4 years but when i do i remember there was something called cygwin.

[2015-06-22 08:37] RoySegall commented on #7203
I have a better idea. The repeating events will display all the days:
[code]

The improvements will be that each day will show the next two occurrences and using link the user can skip to the next two occurrences:
[code]
By clicking we get:
[code]

[2015-06-22 12:04] mpetrovic commented on #7245
We ran it from a bash prompt that comes with Git for Windows. It has most
of that stuff. All it took to fix it was a small change to the drush
invocation: giving some kind of value to the contrib-destionation
parameter. It's currently blank and to fix it, I added =. to it. I looked
at the source and found that yes, the implementation of the make command
has been modified between the version I have

[2015-06-22 12:09] RoySegall commented on #7245
You can push the fix in another PR and we can see if travis and i'll check on my PC and Mac. If it worked, we can merge.

[2015-06-22 13:59] tcheng001 commented on #7092
@ran81
For Report, Date is shown in citation. However, pages are missing. I saw pages data in citation last week.
![screen shot 2015-06-22 at 9 57 54 am](https://cloud.githubusercontent.com/assets/2111600/8283413/3f928f7a-18c5-11e5-8eee-3612c00a77a7.png)

![screen shot 2015-06-22 at 9 58 44 am](https://cloud.githubusercontent.com/assets/2111600/8283420/4ae5fae2-18c5-11e5-9d3a-39b49fc2ae08.png)

[2015-06-22 15:00] tcheng001 commented on #7218
@RoySegall
Still unable to test on dev.scholar.  It shows a blank page after I click the link "+ Add new link"
![screen shot 2015-06-22 at 10 55 28 am](https://cloud.githubusercontent.com/assets/2111600/8284838/462ca048-18cd-11e5-80a9-f00376ac2cc9.png)

I did refresh DB, clear caches before running the test on dev.scholar.  Environment issue?  @rbran100 mentioned that he fixed branch 7218 on Frida

[2015-06-22 15:11] rbran100 commented on #7203
I don't think we need these at all anymore, since we have the repeating text already.  That combined with the links that we have in the calendar with the delta are enough.  Lets just remove it, thanks for trying to come up with a creative solution.

[2015-06-22 15:25] tcheng001 commented on #7222
Looks good. Mark "Fixed"
Checked the following pages:
/home
/calendar
/blog
/faq
/classes
/galleries
/basic page
/links

[2015-06-22 15:32] Bilsi commented on #7219
@RoySegall - here are a couple of links to reproduce this issue.
http://gking.harvard.edu/ssa#overlay=taxonomy/term/13516/edit
When the user clicks "Save", we get a confirmation message on the modal "Updated term Evaluating U.S. Social Security Administration Forecasts.", but the page does not close, till the user closes it by clicking on the x on the modal.
here is another site this is happening

[2015-06-22 17:54] tcheng001 commented on #7205
This is an example of events with time over-lapped shown in week view.  That will be great if our week view can handle something like that.
![screen shot 2015-06-22 at 1 51 28 pm](https://cloud.githubusercontent.com/assets/2111600/8288711/da910b4e-18e5-11e5-87f0-0a06fea8a9b6.png)

This is what it looks like in Openscholar's week view.
![screen shot 2015-06-22 at 1 53 31 pm](https://cloud.githubuse

[2015-06-22 19:21] lem511 opened #7261 "OS Admin User Page Site List"
When I go to the black admin tool bar, select my username, view the list of sites I am an owner/member of, and click on any of the site names to navigate to that site, I am taken to an error page that says the DNS lookup failed. The URL (tied to the link) does not include the domain, it only includes the site name.

When I click on the site name, it should take me to https://ssascholars.uchicago.e

[2015-06-22 19:23] lem511 opened #7262 "Adding New Site from Admin User Page"
When I go to the black admin tool bar, select my username, and click the green “Add a new site” button, I get an Access Denied message with an alert at the top that says “You may not register new sites on custom domains”. I CAN create a new site by going to Admin > Content > Add Content > Personal Site.

This is also an issue for the “Create a site” button on main OS home page. It takes me to the

[2015-06-22 19:26] lem511 opened #7263 "Logout from a Feature Page"
When I log out from any main feature page on a personal site (Bio, Links, Classes, etc.) I am taken to an unformatted OS page that pulls all data from that feature across the entire OpenScholar site (shown below).

![screen shot 2015-06-22 at 1 30 14 pm](https://cloud.githubusercontent.com/assets/4572904/8290741/8b95179c-18ea-11e5-901e-8159b7077ac1.jpg)

When I logout, I should stay on that same p

[2015-06-22 19:28] lem511 opened #7264 "Mini Calendar Widget"
When I click on the month title on the Mini Calendar widget on a page, I am taken to an error page with text to add a URL redirect. I should be taken to the main events/calendar page.

I tried fixing this issue with a redirect, but it doesn't seem to have worked.

Here's an example from one of our faculty sites:

-When I click on "June" in the Mini Calendar widget in the sidebar, I am taken to htt

[2015-06-22 19:29] lem511 opened #7265 "Removing Widget from page takes to White Screen of Death"
Whenever I remove a widget from a page using the widget gear, I get the white screen of death. If I navigate back to the page, the widget is removed as desired, so not sure what is causing the issue.

[2015-06-22 20:01] dancabral commented on #7169
@ran81 can you add the same export markup/label to the full page view of an event? Thanks. Can you use the same branch too? 7169-calendar_events-desgn-updates
page like this:
![screen shot 2015-06-22 at 3 58 21 pm](https://cloud.githubusercontent.com/assets/867075/8291453/bc05180c-18f7-11e5-8934-9bdc2e285802.png)
---------------------
would get this bit of new markup
![export-link](https://cloud.g

[2015-06-22 20:35] dancabral commented on #7169
@ran81 The popover looks good, however, can you confirm that it works for anon users ? For me, it only works logged in. Thanks.

[2015-06-23 05:17] ran81 commented on #7169
@dancabral

Added the link for the event page view:
![selection_154](https://cloud.githubusercontent.com/assets/4497748/8299369/1bf9f7ac-19aa-11e5-827c-f798b57d0db9.png)

Added the js so an anonymous user should see the popup now:
![selection_153](https://cloud.githubusercontent.com/assets/4497748/8299372/269a24ca-19aa-11e5-9951-3d9c728a7329.png)

[2015-06-23 05:18] ran81 commented on #7092
Update:

Added back the pages for a Report:
![selection_152](https://cloud.githubusercontent.com/assets/4497748/8299388/4c4cd730-19aa-11e5-8b5f-b6ea8e967131.png)

[2015-06-23 05:22] RoySegall commented on #7218
I can see @ran81 fixes pushed to the branch. @rbran100 is there a way to another pull?

[2015-06-23 05:26] RoySegall commented on #7203
No problem, all part of the job :)

[2015-06-23 06:45] ran81 commented on #7219
Update:

I can confirm this is the case for editing a term with no destination. For nodes the overlay is closed even with no destination. This is also the case for a clean installation of drupal with the overlay enabled.

@RoySegall
I tried to call ``overlay_close_dialog()`` on the submit of the form but still I get the same behavior. Any ideas?

[2015-06-23 07:23] RoySegall commented on #7240
@ran81 Can you give this one a shot?

[2015-06-23 10:38] RoySegall commented on #7265
@maayan also got this one.

@rbran100 Handle it?

[2015-06-23 12:12] RoySegall commented on #7240
OK, Got it working.

[2015-06-23 13:08] RoySegall commented on #7121
I tried this today and the locationFix library is missing. Didn't find any bower reference.

[2015-06-23 13:27] mpetrovic commented on #7121
Just pushed it.

[2015-06-23 13:36] RoySegall commented on #7121
10x. Will take a look at this tomorrow.

[2015-06-23 13:41] RoySegall commented on #7121
Still get errors:
[code]

[2015-06-23 13:49] mpetrovic commented on #7121
Rebuild. I added a patch to angular_select2.
On Jun 23, 2015 9:41 AM, "Roy Segall" <notifications@github.com> wrote:

[2015-06-23 15:01] tcheng001 commented on #7092
marked "Fixed"

Retest on the following types:
Book
Book Chapter
Conference Paper
Data
Journal Article
Misc
Patent
Software
Unpublished
Working paper

[2015-06-23 15:52] tcheng001 commented on #7218
@rbran100  @RoySegall
Still got a blank page  when clicking "+ Add new link" from /cp/menu page.  Also, it shows a blank page when trying to access the form of a post (like news, blog)
You can see the issue in dev.scholar.

[2015-06-23 16:16] rsasch commented on #7248
Need to make sure fix works with HKS theme

[2015-06-23 19:48] rsasch commented on #7248
should work with custom themes based on any hwpi theme

[2015-06-23 23:35] Bilsi commented on #7178
Fixed and merged

[2015-06-23 23:35] #7178 closed

[2015-06-24 00:22] #7213 closed

[2015-06-24 05:06] ran81 commented on #7218
@RoySegall

Checked with a dev Scholars DB. I don't get a blank page when adding new items or when opening a node form.

[2015-06-24 05:11] ehy4008 opened #7267 "Fatal error: Class 'date_views_argument_handler_simple' not found in C:\xampp\htdocs\drupal\profiles\openscholar\modules\contrib\date\date_views\includes\date_views_argument_handler.inc on line 12"
Hi All,

I got Fatal error during Drupal Installation.

I'm totally new to drupal-openscholar-7.x-3.20.0  system ,and when I tried to setup the system with Xampp version  xampp-win32-5.6.8-0-VC11-installer I got stuck on the below error msg.
- Fatal error: Class 'date_views_argument_handler_simple' not found in C:\xampp\htdocs\drupal\profiles\openscholar\modules\contrib\date\date_views\includes\da

[2015-06-24 09:25] ran81 commented on #7263
Update:

I can confirm this is the case. A PR to follow.

[2015-06-24 10:08] RoySegall commented on #7121
@mpetrovic niet. I rebuilt it and still get the same errors.

[2015-06-24 13:29] mpetrovic commented on #7121
The file doesn't have the same term tagged twice to it, right? That's the
only way you should be seeing the error now.

[2015-06-24 13:49] rbran100 commented on #7245
@Bilsi will paste the full line that worked for her here, then if that works on linux we can just use that

[2015-06-24 13:54] Bilsi commented on #7245
@RoySegall
https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/scripts/build

I ran into an issue, it did not create the contrib file, so changed line 52 in the build code from
$DRUSH make --no-core --contrib-destination drupal-org.make .
to
$DRUSH make --no-core --contrib-destination=. drupal-org.make
to make it work

[2015-06-24 14:55] rbran100 commented on #7248
Ready for QA

[2015-06-24 16:39] dancabral commented on #7205
@tcheng001 can you have a look at the spacing again. I checked in an update. again, its in the 7205 branch. I wont look exactly like google calendars version of the week/day view, but our version should look similar.

[2015-06-24 17:58] tcheng001 commented on #7241
Marked "Fixed"
The names of all 14 HWP themes are trimmed. Therefore, they are named as the following now:
Conservative
Slate
Cabot
Monochrome
Ivy Accents
Indigo
Blue Sky
Crimson
Monument
Saffron Accents
White
Bold
Shade
Golden Accents

The functionalities of Appearance are the same as before.

[2015-06-24 18:09] dancabral commented on #7169
@ran81 thanks for making the popover work for anon users. Are you able apply the popover to all day events too? Current calendar view in the 7205-popover branch. I think its looking good.
![month-view](https://cloud.githubusercontent.com/assets/867075/8337706/a7870320-1a7a-11e5-9966-03fb0aca8a32.png)

[2015-06-24 19:38] tcheng001 commented on #7024
@mpetrovic
![screen shot 2015-06-24 at 3 37 42 pm](https://cloud.githubusercontent.com/assets/2111600/8339644/037d1c8a-1a87-11e5-99aa-771679c33150.png)

[2015-06-24 19:40] tcheng001 commented on #7205
@dancabral  @ran81
In date view,
1) the height of event boxes still don't match duration of events.  The end times of Meeting 2 and Meeting 4 are 3:30pm and 2:30pm respectively
2) can we make the width of event boxes more consistent ?  The width of all 3 event boxes are different.

![screen shot 2015-06-24 at 3 11 49 pm](https://cloud.githubusercontent.com/assets/2111600/8339234/11b28dc4-1a84-11e5

[2015-06-24 19:56] rbran100 commented on #7218
All Set, conflict in the wizard file

[2015-06-24 22:12] rutegger opened #7269 "Drupal 7.38 security patch appears to break upload functionality in image upload dialog"
Stepped back to Drupal v 7.36 and button was back. Anyone else experiencing this?

screengrab:
![missing-upload-button](https://cloud.githubusercontent.com/assets/214973/8342709/b91a5f4c-1a93-11e5-8370-989e95677df9.png)

[2015-06-24 23:12] rbran100 commented on #7269
@roysegal can you take a look at why core made the change and come up with a proposed fix?

[2015-06-25 05:14] ran81 commented on #7205
@dancabral

Added the popup to all day events. I also removed the outline for the links in the popup but not sure it was needed:
![selection_164](https://cloud.githubusercontent.com/assets/4497748/8347702/fb65779e-1b3b-11e5-8ab0-9dd338b87411.png)

I made the height to be more accurate with respect to the event's end time:
![selection_165](https://cloud.githubusercontent.com/assets/4497748/8347707/

[2015-06-25 07:09] RoySegall commented on #7269
@ran81 You forgot the second `l` :)

Any way this is a duplicate of #7207 and i need to see what was the reason to add it as we discussed yesterday.

[2015-06-25 12:34] dancabral commented on #7205
@tcheng001 hmm....the lengths look right to me and the widths look ok. http://dev.hwpi.harvard.edu/economics/calendar
![screen shot 2015-06-25 at 8 33 08 am](https://cloud.githubusercontent.com/assets/867075/8354289/0691892c-1b15-11e5-9b00-34e5de2f6539.png)
![screen shot 2015-06-25 at 8 32 39 am](https://cloud.githubusercontent.com/assets/867075/8354293/0bb1aa5e-1b15-11e5-8643-36925754ef62.png)

[2015-06-25 14:33] tcheng001 commented on #7218
moved back "in dev"
@ran81 @rbran100
It seems that the fix breaks the existing function.  When I add a new item in a menu other than primary menu, the whole menu would replace the primary menu and all items of the original primary menu are gone.
![screen shot 2015-06-25 at 10 26 09 am](https://cloud.githubusercontent.com/assets/2111600/8356779/60ac1b7e-1b25-11e5-8c90-69ecf9410274.png)
Here is an e

[2015-06-25 15:17] tcheng001 commented on #7240
moved to "in dev"
@RoySegall
The fix doesn't work in publication form when I drag the file with extension ".sas". If I use Browse button, I am able to upload the file even though it shows an error. Thus, there are two issues:
1) It should not show the error when using Browse button
2) Need to fix using Drag and Drop function to upload a file with extension ".sas"

![screen shot 2015-06-25 at 11 04

[2015-06-25 15:18] rbran100 commented on #7240
@tcheng001 did you run the updates again, I noticed there was a change to them, I can reset if needed

[2015-06-25 15:43] Bilsi commented on #7183
Fixed

[2015-06-25 15:43] #7183 closed

[2015-06-25 16:05] tcheng001 commented on #7240
Mark "Fixed"
1) sas file type is allowed to upload as presentation file, publication attachment (both by clicking Choose button and by Drag and Drop method), attachment file.

2) All other file types can be uploaded as usual.

[2015-06-25 16:08] rbran100 commented on #7170
The contact URL was using the wrong variable to control access.

[2015-06-25 16:17] #7240 closed

[2015-06-25 17:05] Bilsi commented on #7222
Fixed

[2015-06-25 17:05] #7222 closed

[2015-06-25 17:31] #7223 closed

[2015-06-25 17:31] Bilsi commented on #7223
Fixed

[2015-06-25 18:37] Bilsi commented on #7241
Fixed

[2015-06-25 18:37] #7241 closed

[2015-06-25 18:43] tcheng001 commented on #7205
@ran81
If start time starts 30 minutes and 45 minutes after the hours, the height of event boxes are not quite proportional.
![screen shot 2015-06-25 at 2 26 40 pm](https://cloud.githubusercontent.com/assets/2111600/8362622/0014a29a-1b48-11e5-83a9-de760b6edb9f.png)

If the end time ends at :00 and :15, then the event box size is not correct.
![2pm](https://cloud.githubusercontent.com/assets/211160

[2015-06-25 19:38] Bilsi commented on #7248
Fixed

[2015-06-25 19:38] #7248 closed

[2015-06-26 12:09] #7269 closed

[2015-06-26 12:11] #7245 closed

[2015-06-26 13:16] Bilsi commented on #7092
Fixed

[2015-06-26 13:16] #7092 closed

[2015-06-26 15:38] rbran100 commented on #7203
@RoySegall the PR has not been updated since my comment, can you handle this.  We need the list of dates removed. Also could you add a note on what causes the list of dates to show? It looks like some repeating events have it and some do not.

[2015-06-26 15:44] openscholar-admin opened #7273 "Video titles wrapping strangely in list of files"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/video-titles-wrapping-strangely-in-list-of-files)

**The Plan**

Fix spacing and text wrapping issues in LOF widget when not in main content area of a page.

**Description**

Two problems are happening with a list of files featuring videos on our homepage. Does anyone have a temporar

[2015-06-26 15:51] tcheng001 commented on #7024
- [ ] In Site Logo widget, it keeps showing cached image after cropping is changed. I need to clear browser's data to show the cropped image correctly.

- [ ] not data in  "USED IN" column in /cp/content/files

[2015-06-26 18:01] #7234 closed

[2015-06-26 18:10] Bilsi commented on #7219
@RoySegall  - The travis tests are failing - could you please look into this?

[2015-06-26 18:12] rbran100 commented on #7215
@mpetrovic new MB handle this?

[2015-06-26 18:13] #7207 closed

[2015-06-26 18:16] mpetrovic commented on #7215
@rbran100 Yup

[2015-06-26 18:23] tcheng001 commented on #7206
@RoySegall
Still not able to see the export link if logging in as vsite admin (regular user).  Richard can see the link if he logged in as user1. Permission issue?   Could you take a look?

[2015-06-26 18:31] rbran100 commented on #5756
@RoySegall can you take another look at this, it looks like it is stalled out.

[2015-06-26 20:27] dancabral commented on #7169
Branch https://github.com/openscholar/openscholar/tree/7169-calendar_events-desgn-updates has code, image and css updates for the tabs cleanup and the export links/button redesign.
Rendered
![screen shot 2015-06-26 at 4 25 19 pm](https://cloud.githubusercontent.com/assets/867075/8386657/2170c300-1c20-11e5-8fa0-faca47e4d116.png)
--------
![screen shot 2015-06-26 at 4 25 05 pm](https://cloud.githubu

[2015-06-28 05:46] ran81 commented on #7218
Update:

There was a confusion with a one of the returned variables. Should now be OK.

[2015-06-28 05:47] ran81 commented on #7203
Update:

Removed the list of repeats. As far as I can tell the list of repeats was displayed when the last repeat already took place though I 'm not sure on that.

Before:
![selection_166](https://cloud.githubusercontent.com/assets/4497748/8395325/2c5d1804-1d9c-11e5-9c1a-614b030157de.png)

After:
![selection_167](https://cloud.githubusercontent.com/assets/4497748/8395326/3020704e-1d9c-11e5-85c0-b8

[2015-06-28 06:55] RoySegall commented on #7170
@ran81 ^^

[2015-06-28 09:03] ran81 commented on #7220
I searched about this a bit and found this:
http://www.tinymce.com/forum/viewtopic.php?pid=26913#p26913

Seems like an FF thing at least for tinymce 3.x. If I go to http://www.tinymce.com/tryit/3_x/full.php we get the same results as described above. On tinymce 4.x we have the tooltip on chrome (looks different though).

[2015-06-29 06:31] ran81 commented on #7202
Update:

I can confirm this is happening on drupal 7.34. Not happening on drupal 7.37 though.

[2015-06-29 06:54] ran81 commented on #7202
Edit to my last comment:

It worked one time on 7.37 and then I'm getting the same problem.

[2015-06-29 11:45] RoySegall opened #7277 "Break tag in FAQ don't display all the text"
I have a feeling we already discussed about the notorious break tag but did not found any issue.

When you create FAQ and put break inside the text then you don't see all the text when viewing the FAQ:
![selection_453](https://cloud.githubusercontent.com/assets/1222368/8407232/619c41e4-1e6d-11e5-9128-6270b3f8ca00.png)

[2015-06-29 13:41] RoySegall commented on #7220
@rbran100 What do you think?

[2015-06-29 14:04] Bilsi commented on #7219
Fixed

[2015-06-29 14:04] #7219 closed

[2015-06-29 14:13] dancabral commented on #7205
@ran81 or @RoySegall did either of you have a chance to look at @tcheng001 comment https://github.com/openscholar/openscholar/issues/7205#issuecomment-115359142 ? Its sort of an edge case but it has to do with events that start and/or end at odd times - 2:15pm, 8:45am ...

[2015-06-29 14:57] dancabral commented on #7227
@rbran100 the wrapping issue will be resolved once this update https://github.com/openscholar/openscholar/issues/7169#issuecomment-114964346 and branch are merged https://github.com/openscholar/openscholar/tree/7205-popover

[2015-06-29 15:40] tcheng001 commented on #7203
Mark fixed

I am confusing because I can't reproduce the issue in production if the event is newly created.(http://scholar.harvard.edu/tcheng2/event/group-meetng)
![screen shot 2015-06-29 at 10 49 21 am](https://cloud.githubusercontent.com/assets/2111600/8410529/d7dbed4e-1e4c-11e5-9f20-fb7fc4576c6b.png)

For the existing repeating events, it seems look ok in staging now.
http://staging.hwpi.harvar

[2015-06-29 16:02] mpetrovic commented on #7206
@RoySegall
Does the view revert that was committed a couple days ago solve the @tcheng001 was speaking of?

[2015-06-29 16:05] Bilsi commented on #7203
Fixed

[2015-06-29 16:05] #7203 closed

[2015-06-29 16:24] dancabral commented on #7273
@tcheng001 this is ready for QA. The fix is in this branch https://github.com/openscholar/openscholar/tree/7273_odd-text-wrap_aroundLOF-videos

[2015-06-29 17:36] tcheng001 commented on #7273
tested on http://staging.hwpi.harvard.edu/success

1) Need some spacing between videos.
2) Play buttons are missing in some videos. Only one play button is shown in the second video. Each video should have its own play button
![screen shot 2015-06-29 at 1 32 58 pm](https://cloud.githubusercontent.com/assets/2111600/8414129/cb3e3cce-1e63-11e5-8a89-dd52a97ec28b.png)

[2015-06-29 18:47] tcheng001 commented on #7218
@ran81
After a menu has reached the maximum number of item, the system shows an error when an item is moved into the menu from another menu.
![screen shot 2015-06-29 at 2 33 48 pm](https://cloud.githubusercontent.com/assets/2111600/8415355/22347612-1e6c-11e5-8690-13bac0c846e7.png)

[2015-06-29 19:02] blcook223 commented on #7269
I'm having this issue, too. On Drupal 7.37, I see the "upload file" button, but after updating Drupal core to 7.38, it disappears. This happened on a fresh checkout of the SCHOLAR-3.x branch. I don't see how #7207 addressed it because it's closed without any merges. But maybe this is under development because there is an issue to update to 7.37 (#7208) and updating the core is on the roadmap for t

[2015-06-29 19:30] RoySegall commented on #7206
Yes, i forgot to revert the view and this cause for some permission errors.

[2015-06-29 20:57] mpetrovic commented on #7024
* [ ] When editing a file, only property at a time is saved.

[2015-06-29 21:07] dancabral commented on #7205
@tcheng001 do you have a url that I can look at? for the screens above. having a hard time reproducing what you see. thanks

[2015-06-30 00:07] Andrzejgo opened #7278 "Omit installation of citation_distribute module"
How to omit installation of citation_distribute module (removing it from installation process)?

[2015-06-30 06:49] ran81 commented on #7277
Update:

I can confirm this is the case. Will update.

[2015-06-30 07:00] ran81 commented on #7277
Update:

@RoySegall
This happens because of ``os_faq_field_attach_view_alter()`` where we call ``text_summery()`` on the value of the body. There, drupal just trims the text up to the ````. What do you think?

[2015-06-30 13:31] openscholar-admin opened #7279 "SQL Error in LOP Events widget causing 503"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/sql-error-in-lop-events-widget-causing-503)

**The Plan**

[coming soon]

**Description**

Theres a SQL Error in LOP Events widget causing 503 message.

From log:

PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column &#039;field_data_field_date1.delta&#039; in &#039;f

[2015-06-30 13:49] mpetrovic opened #7280 "Division by zero in os_books.install"
In os_books_update_7001, a division by zero error prevents the update from completing when there are no book pages that need updating.

The !$sandbox['count'] condition needs to be inside the !isset($sandbox['data']) conditional block, not an additional elseif at the end.

[2015-06-30 14:15] mpetrovic opened #7281 "array_intersect() and reset() on non-arrays in _os_taxonomy_bundle_entities()"
In some cases, this will be passed an argument that isn't an array. In that case, array_intersect() and reset() return warnings that fill up the watchdog logs. Like, hundreds of them each second.

This is a performance issue. The more we write to the log, the slower the system gets.

[2015-06-30 19:26] dancabral commented on #7273
@tcheng001 looks fixed now? http://dev.hwpi.harvard.edu/success?fixed

[2015-06-30 20:27] tcheng001 commented on #7273
mark "Fixed"

[2015-06-30 20:28] dancabral commented on #7279
@mpetrovic as a quick first QA pass at it, "Event Date Descending (Future to Past)" is breaking the page (most likely a sql error). The first option Event Date Ascending is working.

[2015-06-30 21:19] mpetrovic commented on #7279
I'm going through the various options now and making sure they all work.

I'm pretty sure that repeating events aren't showing up properly though. So
i'll take a swing at that tomorrow.

[2015-07-01 01:28] Andrzejgo commented on #7278
OK, hacked.

[2015-07-01 01:28] #7278 closed

[2015-07-01 01:32] Andrzejgo commented on #7043
Removed citation_distribute module. Installation was going well, and crashed on the other point.

[2015-07-01 01:32] #7043 closed

[2015-07-01 07:54] RoySegall commented on #7281
Do you have a use case when this happens? I'm looking into the code and there is no way that we passing to those functions something that isn't array.

[2015-07-01 10:22] RoySegall commented on #7206
The upgrade path works for me.

[2015-07-01 10:50] RoySegall commented on #7262
Verify that the variable `purl_base_domain` match the current URL.

[2015-07-01 11:23] RoySegall opened #7286 "Slide show end point missing some fields"
The fields which missing in the end point are:
*  [ ] Link
*  [ ] Headline
*  [ ] Description
*  [ ] Alt text
*  [ ] Title text

[2015-07-01 13:22] #7202 closed

[2015-07-01 13:25] rbran100 commented on #7277
It looks like that view_alter code should only be called when we are in teaser mode not in full, does that look right to you @mpetrovic

[2015-07-01 13:28] tcheng001 commented on #7212
@ran81
In wysiwyg, the link tool, embed object and break function are not working. Could you take a look if these issues are related to what you fix?

![screen shot 2015-07-01 at 9 22 23 am](https://cloud.githubusercontent.com/assets/2111600/8455510/23d29bd0-1fd3-11e5-90d2-36b2ebb0bd5d.png)

For example, it does nothing when I click Insert.
![screen shot 2015-07-01 at 9 25 50 am](https://cloud.git

[2015-07-01 14:37] tcheng001 commented on #7218
@ran81  moved to "in dev"
Should not see the warning when menu items are moved out from a menu which has reached its maximum number of items.

Steps to reproduce:
1) add 119 menu heading to secondary menu
2) create  third-menu
3) add a new item to third-menu
4) assign the newly created item to secondary menu
Note:
The system shows a warning  "You have reached the maximum number of items for the me

[2015-07-01 15:05] mpetrovic commented on #7281
Example urls:
http://astronomy.fas.harvard.edu/announcements/spotlight-live-nomads-galaxy-kavli-institute
http://astronomy.fas.harvard.edu/event/faculty-meeting-15
http://ablconnect.harvard.edu/calendar

[2015-07-01 16:08] #7273 closed

[2015-07-01 19:43] tcheng001 commented on #7183
@rbran100
I think I missed this scenario.
 The configuration / settings are set as the image below
![screen shot 2015-07-01 at 3 31 37 pm](https://cloud.githubusercontent.com/assets/2111600/8463191/8e4a02a4-2006-11e5-8695-21e066caf4fb.png)
There is an event whose start time has not passed 30 minutes, but it has ended. So, it should show in the widget, but it doesn't.
This is an example,
Title : "1

[2015-07-01 19:49] rbran100 commented on #7183
I think that it not showing is fine.

The "Events should appear" defines what a "Past Event" is, that is the reason for that field since everyone has a different opinion about what is a past events.  Some think that it is an event that has ended, some think that it is one from yesterday, etc...

[2015-07-01 19:53] tcheng001 commented on #7279
Look good now after testing all scenarios in [there] (https://github.com/openscholar/openscholar/issues/7183#issuecomment-111210347).

Also, List of Post widget works correctly for other content types.

[2015-07-02 08:25] RoySegall commented on #7212
I tried to look on this one but i have no idea what causing this one.

[2015-07-02 10:55] RoySegall commented on #7281
@rbran100 I tried to look on `os_taxonomy_count_attached_entities` and i did not got the errors. Tried this with couple of settings for the widget.

For the site above - in which DB they located? I looked in hwpi2 and hwpi_01 from production.

[2015-07-02 11:58] RoySegall commented on #7121
@rbran100 iv'e dome some checking and the file end point goes to the function `file_entity_access`. I can't see how OG or spces can get in the way and grant/deny access to files.

[2015-07-02 11:59] mpetrovic commented on #7281
Both sites are on projects.

[2015-07-02 14:26] RoySegall commented on #7218
@tcheng001 I pushed another fix.

[2015-07-02 16:07] tcheng001 commented on #7218
@RoySegall
I got the error again when a menu item is moved to from a menu to another menu which is reached to its maximum.
![screen shot 2015-07-02 at 12 03 12 pm](https://cloud.githubusercontent.com/assets/2111600/8481663/5d58955a-20b2-11e5-92c3-e8e82928133f.png)
refer to [this]  (https://github.com/openscholar/openscholar/issues/7218#issuecomment-116794153)

[2015-07-02 19:30] tcheng001 commented on #7206
still not able to see the export link.  Marked "Pending"

[2015-07-02 20:07] rbran100 opened #7289 "Restful Cleanup"
@RoySegall starting in a little over a week we will be starting to more extensively use the remaining rest endpoints.  Could you do some verifying of the following when you finish on the items for the current release.

 - [x] Assure that the group permissions are applied correctly and that users don't have access to new information that they don't have now.  Specifically that they don't have acces

[2015-07-02 20:59] rbran100 opened #7290 "Unify User Login"
PART ONE
- [ ] Create migrate to update UID's in each install so that there are no collisions between UID's
- [ ] Combine user tables into master table
  - Combine users with same e-mail address
  - If they had different usernames we choose one, e-mail the user and let them change it if they want.
  - If we have 2 usernames that are the same with different e-mails we e-mail both users and change b

[2015-07-05 08:54] RoySegall commented on #7218
Well... I need the dump so i can test it. In the meanwhile i can't extract the files so i can't test it for now.

[2015-07-05 12:34] RoySegall commented on #7289
@rbran100 Yap there is a problem with the permission. I set Obama as a private site which only members have access to see the site and it's content. In that case we have problem:
![selection_455](https://cloud.githubusercontent.com/assets/1222368/8511648/5f9eda06-232b-11e5-90c0-faf4155e4cd1.png)

[2015-07-06 14:51] dancabral commented on #7205
@ran81 in the popover markup, are you able to add an empty div with a class so that I can apply an arrow/pointer image to it? Thanks! The popover markup is still in branch https://github.com/openscholar/openscholar/tree/7205-popover
---------
![pointer-markup](https://cloud.githubusercontent.com/assets/867075/8525103/e88c5d4c-23cc-11e5-96b8-f372fdea2b29.png)

[2015-07-06 14:54] dancabral commented on #7227
@tcheng001 this wrapping issue is fixed and can be QA'd in branch inhttps://github.com/openscholar/openscholar/tree/7205-popover

[2015-07-06 15:56] #7279 closed

[2015-07-07 10:31] RoySegall commented on #7289
@rbran100 Which variables should be not-whitelist, aka black list?

[2015-07-07 10:53] tcheng001 commented on #7024
- [ ] it doesn't jump to file listing (library) after clicking Save button
Steps to reproduce:
1) open Media Browser
2) select Upload from your computer
3) select a file from file browser
4) click Save button
Note: it doesn't jump to file listing (library). I need to click Close button to show Library. The file did get uploaded and is showed in file listing.

[2015-07-07 12:52] RoySegall commented on #7205
@ran81 Is currently un available,  i'll try to handle this tomorrow.

[2015-07-07 13:19] RoySegall commented on #7205
@dancabral Never mind that, I start work on that one and i can see the pointer still exists. Do you still need to html?

[2015-07-07 15:28] tcheng001 commented on #7227
Mark "Fixed"

For Month view,
1) Only event title will be showed. No wrapping happens.
2) Popup shows title, date, location when the event is clicked
3) Event link in popup redirects to the event's full node view
![screen shot 2015-07-07 at 11 24 52 am](https://cloud.githubusercontent.com/assets/2111600/8549811/d34a9970-249a-11e5-8bd8-bb1f28fc2384.png)

For Week view,
1) all day events and multi d

[2015-07-07 21:31] rutegger commented on #7269
After pulling the latest SCHOLAR-3.X I'm not seeing this issue resolved for Drupal core 7.38. Am I missing something?

[2015-07-08 11:14] RoySegall commented on #7218
@rbran100 Tried with the projects dumps and i did not got the errors as @tcheng001

[2015-07-08 11:32] RoySegall commented on #7218
I also saw you uploaded a new dump of the projects to the but it's corrupted as well.

[2015-07-08 13:28] rbran100 commented on #5756
ready for QA

[2015-07-08 13:35] tcheng001 commented on #7205
@dancabral
Still need some works to fix the issue.
![screen shot 2015-07-08 at 9 28 17 am](https://cloud.githubusercontent.com/assets/2111600/8571317/f5055e60-2553-11e5-8e60-55773fc17c66.png)

[2015-07-08 13:52] dancabral commented on #7205
@RoySegall yes, are you able to add the HTML/empty div to branch https://github.com/openscholar/openscholar/tree/7205-popover ? THanks. THe needed markup is here https://github.com/openscholar/openscholar/issues/7205#issuecomment-118878906

[2015-07-08 13:54] tcheng001 commented on #7206
Still not able to see the export link even when logged in as user1 or site admin.  I did refresh DB, run update on dev.scholar and test on SCHOLAR-3.x.
![screen shot 2015-07-08 at 9 53 19 am](https://cloud.githubusercontent.com/assets/2111600/8571875/3299a580-2557-11e5-901f-b60f7e381678.png)

[2015-07-08 15:51] tcheng001 commented on #5756
@RoySegall
I find export links (both Subscribe and iCal) broken in production. Can you take a look?  I have talked with @rbran100. He asked me to add comment here.

steps to reproduce:
go to an event full node in production
both Subscribe and iCal link fail
Note: But both links work correctly in /calendar page.

[2015-07-08 15:53] dancabral commented on #7205
This text wrapping issue https://github.com/openscholar/openscholar/issues/7227 will be resolved with the merge of branch  https://github.com/openscholar/openscholar/tree/7205-popover

[2015-07-08 16:01] tcheng001 commented on #5756
@RoySegall
When testing with PR 5757, Subscribe also fails with Mac calendar. This is the error.
![screen shot 2015-07-08 at 12 00 56 pm](https://cloud.githubusercontent.com/assets/2111600/8575258/089dc47a-2569-11e5-9075-fccc6f30e272.png)

[2015-07-08 16:09] RoySegall commented on #7205
@dancabral I push the fixes to 7205-popover

[2015-07-08 16:27] tcheng001 commented on #5756
@RoySegall   Still see some useless characters.
![screen shot 2015-07-08 at 12 26 05 pm](https://cloud.githubusercontent.com/assets/2111600/8575946/b67e3504-256c-11e5-8c31-bdbfb41e6b73.png)

[2015-07-08 19:35] tcheng001 commented on #7024
- [ ] Uploaded On  still not working
If you make some changes on the field and click Save, nothing happens.

- [ ] no term is showed in the vocabulary ( "image_type" )
![screen shot 2015-07-08 at 3 32 21 pm](https://cloud.githubusercontent.com/assets/2111600/8580134/db034b02-2586-11e5-9237-e0e40ddfdc28.png)

[2015-07-08 20:39] mpetrovic commented on #7172
Nothing to do here. Issue stems from old (ancient) version of Kaltura widget script. Only fix is to upgrade all broken Kaltura videos using that script to the latest version.

[2015-07-08 20:39] #7172 closed

[2015-07-09 03:50] rsasch commented on #7138
@tcheng001 For testing, updates need to be run.  <strong>NOTE:</strong> update took about an hour to run on my dev machine.

[2015-07-09 08:08] RoySegall commented on #7218
@rbran100 I got @tcheng001 site's, checking this one.

[2015-07-09 08:25] RoySegall commented on #7218
@tcheng001 I'm sorry but i did not got the error you got:
![1mrw13uczi](https://cloud.githubusercontent.com/assets/1222368/8590888/1d5c934a-262d-11e5-9091-19def97f8759.gif)

[2015-07-09 09:49] RoySegall commented on #7290
@rbran100 I'm looking into this one and the connect is very easy as i show in #3899 and still a shared database fill pretty bad. A SSO solution could be much more easy to implement since the tasks above could take much more time: migrating the users and make sure there is no collision.

There is also a mess with user information which is a crucial part in the DB.

[2015-07-09 11:37] RoySegall commented on #7290
And this is the example: ![o0ck4ogedf](https://cloud.githubusercontent.com/assets/1222368/8594257/faba182e-2647-11e5-93cb-c636c1bc04ba.gif)

You can see how i'm logging in with two users and even create one

[2015-07-09 11:42] RoySegall commented on #5756
I have the dump of your site. I'll check this one.

[2015-07-09 12:12] RoySegall commented on #7206
I'm checking it with one of your dumps.

[2015-07-09 12:22] RoySegall commented on #7206
This one works for me on 3.x

[2015-07-09 13:25] RoySegall commented on #5756
This one strange. I've checked out to the branch the bad text. I also think we should display only the description of the node and nothing else. Would be a lot more easy and will cut in the logic business work.

[2015-07-09 14:41] RoySegall commented on #7218
@tcheng001 I pushed another fix.

[2015-07-09 17:46] tcheng001 commented on #7206
Export link is shown in the right. There are two options
1) export to CSV format file
2) export to simple view
![screen shot 2015-07-09 at 1 42 49 pm](https://cloud.githubusercontent.com/assets/2111600/8602464/71f68baa-2640-11e5-955a-b6d18fffbc50.png)

Mark "Fixed"
CVS format:
![screen shot 2015-07-09 at 1 44 02 pm](https://cloud.githubusercontent.com/assets/2111600/8602487/9a8e5ed0-2640-11e5-8442

[2015-07-09 18:00] tcheng001 commented on #7205
Mark "Fixed"
Tested popover for events in the month/ week/ day views. look good.
Although the time box doesn't match the time line perfectly, but we all agree that is good enough now.
In Week view:
![screen shot 2015-07-09 at 1 57 43 pm](https://cloud.githubusercontent.com/assets/2111600/8602837/8067aa96-2642-11e5-96f4-02708acfc20e.png)

In Day view:
![screen shot 2015-07-09 at 1 58 53 pm](https:/

[2015-07-09 19:08] rsasch commented on #7220
@rbran100 @RoySegall Looks like this is a known issue (see http://www.tinymce.com/forum/viewtopic.php?id=13658 and https://www.drupal.org/node/746490) that TinyMCE is waiting for the developers of WebKit to fix.

[2015-07-09 19:25] tcheng001 commented on #7218
Mark "Fixed"
1) when menu has reached its maximum limit of menu item, it shows a warning message and does not allow any more item.

2) There is an edge case:  If an item is added from a menu to another which has reached its maximum. The item is still in the menu but the system would show a warning message when clicking Save settings button. Users need to delete the item to avoid to see the warning

[2015-07-09 19:52] blcook223 commented on #7269
Again, still not sure if #7208 will end up addressing this. In the meantime, I was able to fix this by simply making CSS changes in `openscholar/modules/os/modules/os_files/theme/os_files_upload_form.css`. See this [GitHub Gist](https://gist.github.com/blcook223/2eafeb567f4db43dce19) for the updated file. The form does not look exactly like it did before, but it is usable.

[2015-07-09 20:06] blcook223 opened #7293 "Modules need security patches"
A number of modules included with OpenScholar have security or major-version updates available. I have conducted a preliminary security assessment of these vulnerabilities (results in table below), but I'm not knowledgeable about most of these modules by any means.

Are there plans to address these in future releases? Has anyone conducted a more thorough analysis of these vulnerabilities as they r

[2015-07-09 20:17] #7205 closed

[2015-07-09 20:34] #7227 closed

[2015-07-09 20:47] #7280 closed

[2015-07-09 20:47] rbran100 commented on #7220
@rsasch is there a PR to review?

[2015-07-09 20:48] #7206 closed

[2015-07-09 20:49] rbran100 commented on #5756
Think we need locations, description, title, and of course the data information at a minimum

[2015-07-09 20:51] rsasch commented on #7220
@rbran100 No PR, just didn't want to close the issue without someone reviewing it first.

[2015-07-09 20:58] rbran100 commented on #7220
ahh, your comment actually was not on my screen ;-)

[2015-07-09 20:58] #7220 closed

[2015-07-09 21:12] rbran100 commented on #7218
Frustratingly this is ready to go but can't because drupal.org's git server is down

http://git.drupal.org/project/contextual_annotation.git

[2015-07-10 15:32] openscholar-admin opened #7294 "Month/Year are missing in month view"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/month-year-are-missing-in-month-view)

**The Plan**

[coming soon]

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1235382/ScreenShot2015-07-10at9.34.55AM_inline.png?1436535928)](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1235382/ScreenShot2015-07-10at9

[2015-07-10 15:33] rsasch commented on #7294
Looks like the issue has to do with the strongarm settings (some date formats are set to ìl).

[2015-07-10 20:31] #7218 closed

[2015-07-10 20:31] #6848 closed

[2015-07-10 20:32] #7169 closed

[2015-07-10 20:52] #7294 closed

[2015-07-12 08:01] RoySegall commented on #7290
@rbran100 Sorry for the late response but I added a small into on how to [set up](https://github.com/RoySegall/dc/wiki/Basics)

[2015-07-12 08:18] RoySegall commented on #5756
The only thing we need to add is the location. We got the description, title and date displayed in the calendar app. I'll add the location.

Another thing that popped to my head is why not add geo field location? could be nice to have a map in the node page.

[2015-07-12 08:57] RoySegall commented on #5756
Now we have location in the event:
![calendar](https://cloud.githubusercontent.com/assets/1222368/8637164/f590d9b8-288c-11e5-97f3-93fe17251015.png)

[2015-07-13 12:18] RoySegall opened #7297 "Update Travis CI integration to the latest infrastructure"
Got warning in the build pages:

[2015-07-13 15:28] tcheng001 commented on #7263
Mark "Fixed"

on page when logged in  | redirect after logged out
------------ | -------------
vsite home page | vsite home page
vsite basic page | vsite basic page
\<vsite\>/blog | \<vsite\>/blog
\<vsite\>/classes | \<vsite\>/classes
\<vsite\>/documents | \<vsite\>/documents
\<vsite\>/calendar | \<vsite\>/calendar
\<vsite\>/faq | \<vsite\>/faq
\<vsite\>/links | \<vsite\>/links
\<vsite\>/galleries

[2015-07-13 16:50] lem511 commented on #7263
Thanks, Is this scheduled for a release? If so, could you direct me to it?

[2015-07-13 18:43] openscholar-admin opened #7299 "OS Facebook widgets appear to have stopped working."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/os-facebook-widgets-appear-to-have-stopped-working)

**The Plan**

This is underperforming and mostly deprecated by facebook, we will remove the functionality where it is underused.
## Deprecated
- [x] <strong>Facebook likebox widget</strong> *remove from OpenScholar
- [x] <strong>Fa

[2015-07-14 08:59] RoySegall commented on #7293
Biblio could be a problem since we keeping our hard copy and I don't if this would be easy to do.

[2015-07-14 13:12] RoySegall commented on #7293
The twitter pull dose not corporate. The patch for adding the hook menu for the twitter pull settings in #7059 has already been committed but the code is not there.

[2015-07-14 13:16] tcheng001 commented on #7263
@lem511
The next release is scheduled on Aug 10, you should receive notification when it is ready.

[2015-07-14 14:27] openscholar-admin opened #7303 "OS UI/UX Menu : Implement new admin panel and logged in/my account tab"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/os-ui-ux-project-implement-new-admin-panel-and-logged-in-my-account-tab)

**The Plan**

Display the new admin panel

**Description**

As some of our users have already been made aware, the OpenScholar team will be overhauling most of the administrative workflows and interactions. The

[2015-07-14 14:44] mpetrovic opened #7304 "REST API for Menus"
Allow for menus to be fetched, created, updated and deleted through the REST API.

Update operations should be atomic. Changes to a single menu link should be possible without pushing the entire menu tree up.

Fetch is required for #7303.

[2015-07-14 14:57] mpetrovic opened #7305 "Create and export cp menu"
Create and export a menu to be used with #7303.

By using the core menu system, updating the menu in the future, or on other installs, will be simple. It can be configured through the Admin menu, exported to code, modified by code, all sorts of benefits.

[2015-07-14 15:09] rbran100 commented on #7304
This is for admin/drupal menu only, Not boxes like vsite menus.

[2015-07-14 15:09] rsasch commented on #7299
@rbran100 @Bilsi After checking backups of all three environments, here's what I found for usage of deprecated Facebook functionality:

HWP
	- 6 sites using RSS feeds
	- 9 sites using likebox widget

Scholar
	- 4 sites using RSS feeds
	- 12 sites using likebox widget
	- 2 sites using facepile widget
	- 4 sites using activity feed

Projects
	- 2 sites using RSS feeds
	- 4 sites using likebox widget

[2015-07-14 15:12] mpetrovic commented on #7303
* [ ] Use REST API to fetch the menu once. Cache it for a few weeks before checking again (Between releases) (Use localstorage or some other storage to cache it)
* [ ] Build directive to render each link. They should be able to accept a link and its tree and recurse downwards.
* [ ] Prep for each link to open an angular modal.

[2015-07-14 19:35] mpetrovic commented on #7304
I guess we should talk when we're both back because now I'm confused.

[2015-07-14 19:48] tcheng001 commented on #7138
1) CV link is broken when the link is a file. Here is an example. http://dev.scholar.harvard.edu/asoderberg
![screen shot 2015-07-14 at 3 40 04 pm](https://cloud.githubusercontent.com/assets/2111600/8683104/c8112f2a-2a3e-11e5-827e-35c1d20085b5.png)

2) CV pdf file link is missing when CV contains both body and cv pdf file. Here is an example.
http://dev.scholar.harvard.edu/jlhochschild/biocv/cv
![

[2015-07-15 02:28] rsasch commented on #7138
@tcheng001 Since this needs updates to run, make sure to test in an environment with a fresh copy of the db.

[2015-07-15 12:13] RoySegall commented on #7293
We need to update the bilbio and twitter pull. I'll put it aside for and i'll try to see what the problem with the tests.

[2015-07-15 13:53] tcheng001 commented on #5756
This is what the event looks like in OS
![screen shot 2015-07-15 at 9 39 33 am](https://cloud.githubusercontent.com/assets/2111600/8699959/225e6162-2ad7-11e5-85ad-7ff92e3bf867.png)

This is what the info of the event in calendar on Mac.
![screen shot 2015-07-15 at 9 38 43 am](https://cloud.githubusercontent.com/assets/2111600/8699799/137f0bca-2ad6-11e5-9a4b-650acc077793.png)
- [ ] 1.  a back slash

[2015-07-15 16:25] blcook223 opened #7307 "Redirect issue when logging out from custom domain"
When an administrative user logs into a vsite via a custom domain name and then later logs out, they may be redirected to an invalid URL.

For example:
1. User logs into www.example.com, which is an OpenScholar vsite located at www.openscholar.com/example
2. User makes changes and logs out
3. User is redirected to custom domain name with the path from the original domain (e.g., www.example.com/exa

[2015-07-15 16:46] blcook223 opened #7308 "Problem maintaining authenticated session at custom domain name"
When a user logs into a OS vsite via a custom domain name and then clicks a link to another page on the same vsite, they are _apparently_ logged out. I wonder if this is because some kind of authentication cookie set by Drupal uses the original domain, not the custom domain. The user is not really logged out because simply visiting the login page resends the login information and re-authenticates

[2015-07-15 17:42] rsasch commented on #6879
@rbran100 @mpetrovic The output of drush_sitealias_get_record on hwpi.prod is
<pre>
Array
(
    [root] => /var/www/html/hwpi2.prod/docroot
    [site] => hwpi2
    [env] => prod
    [uri] => hwpi.harvard.edu
    [domains-file] => /mnt/gfs/hwpi2.prod/sites/hwpi.harvard.edu/domains.list
    [domains-file-root] => /mnt/gfs/hwpi2.prod/sites/
    [htaccess-file] => /dev/null
    [sites-inc-file] => /mnt

[2015-07-15 20:53] openscholar-admin opened #7309 "Taxonomy widget - "All posts" and "Determine for Me" settings render no content"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/taxonomy-widget-all-posts-and-determine-for-me-settings-render-no-content)

**The Plan**

Fix the bug to display content when a link from taxonomy widget is clicked

**Description**

I tried replicating this but was not successful, thus it is worth noting that there is at least one i

[2015-07-16 12:13] RoySegall commented on #5756
@tcheng001 I pushed the fix for the iCal display of the events.

Before:
![image](https://cloud.githubusercontent.com/assets/1222368/8722409/1c656b88-2bcd-11e5-98bc-9bde24d1f0da.png)

After:
![calendar](https://cloud.githubusercontent.com/assets/1222368/8722408/165e1654-2bcd-11e5-900b-585b610dc8ae.png)

I'll try to see the problem with a single export.

[2015-07-16 14:04] tcheng001 commented on #5756
Mark "Fixed"
Now, event shows
1) title
2) Location
3) Date/Time
4) Body (description of the event)
Note: no more backslash preceding special character, like comma or colon.

This is what it looks in calendar in Mac.
![screen shot 2015-07-16 at 9 55 56 am](https://cloud.githubusercontent.com/assets/2111600/8725256/39f93b38-2ba1-11e5-8b17-d26efdc9a9b0.png)

This is what it looks in Calendar in Yahoo

[2015-07-16 14:07] RoySegall commented on #5756
It's not marked as fixed yet. There is still a problem when trying to get a single export.

[2015-07-16 14:11] tcheng001 commented on #5756
@RoySegall   Changed label back to "in dev"

[2015-07-16 14:20] RoySegall commented on #5756
@tcheng001 I pushed another fix. You'll need to update your DB in order to see the fixes.

[2015-07-16 14:37] openscholar-admin opened #7310 "Event Signup Form is Unusable in Responsive Mode"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/event-signup-form-is-unusable-in-responsive-mode)

**The Plan**

Fix issue so that the event registration form works correctly in small screen sizes.

**Description**

See:

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1237360/ScreenShot2015-07-14at11.32.58AM_inline.png?1

[2015-07-16 14:40] openscholar-admin opened #7311 "Site visitors able to sign up for past events"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/site-visitors-able-to-sign-up-for-past-events)

**The Plan**

Fix issue so that users cannot register a past event.

**Description**

We need to disable the registration ability once the event has passed

See here: [http://hwp.harvard.edu/node/282626/re...](http://hwp.harvard.edu/nod

[2015-07-16 14:40] openscholar-admin opened #7312 "user control display issues when there are multiple slideshows on one page."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/user-control-display-issues-when-there-are-multiple-slideshows-on-one-page)

**The Plan**

Fix issue so that multiple slideshows can be displayed on a page. This appears to be a javascript issue.

**Description**

If you have two slideshows on one page, the user controls &lt;  > on a