[2015-02-25 20:22] #2896 closed

[2015-02-25 20:22] #2925 closed

[2015-02-25 20:22] #2931 closed

[2015-02-25 20:22] #2932 closed

[2015-02-25 20:22] #2939 closed

[2015-02-25 20:22] #2946 closed

[2015-02-25 20:22] #2411 closed

[2015-02-25 20:22] #2417 closed

[2015-02-25 20:22] #2419 closed

[2015-02-25 20:22] #2427 closed

[2015-02-25 20:22] #2428 closed

[2015-02-25 20:22] #2439 closed

[2015-02-25 20:22] #2491 closed

[2015-02-25 20:22] #2534 closed

[2015-02-25 20:22] #2565 closed

[2015-02-25 20:22] #2617 closed

[2015-02-25 20:22] #2633 closed

[2015-02-25 20:22] #2637 closed

[2015-02-25 20:22] #2645 closed

[2015-02-25 20:22] #2657 closed

[2015-02-25 20:22] #2659 closed

[2015-02-25 20:22] #2664 closed

[2015-02-25 20:22] #2665 closed

[2015-02-25 20:22] #2674 closed

[2015-02-25 20:22] #2706 closed

[2015-02-25 20:22] #2717 closed

[2015-02-25 20:22] #2722 closed

[2015-02-25 20:22] #2735 closed

[2015-02-25 20:22] #2766 closed

[2015-02-25 20:22] #2768 closed

[2015-02-25 20:22] #2769 closed

[2015-02-25 20:22] #2052 closed

[2015-02-25 20:22] #2060 closed

[2015-02-25 20:22] #2099 closed

[2015-02-25 20:22] #2107 closed

[2015-02-25 20:22] #2113 closed

[2015-02-25 20:22] #2144 closed

[2015-02-25 20:22] #2158 closed

[2015-02-25 20:22] #2174 closed

[2015-02-25 20:22] #2177 closed

[2015-02-25 20:22] #2218 closed

[2015-02-25 20:22] #2259 closed

[2015-02-25 20:22] #2265 closed

[2015-02-25 20:22] #2270 closed

[2015-02-25 20:22] #2273 closed

[2015-02-25 20:22] #2274 closed

[2015-02-25 20:22] #2286 closed

[2015-02-25 20:22] #2289 closed

[2015-02-25 20:22] #2301 closed

[2015-02-25 20:22] #2305 closed

[2015-02-25 20:22] #2315 closed

[2015-02-25 20:22] #2318 closed

[2015-02-25 20:22] #2355 closed

[2015-02-25 20:22] #2366 closed

[2015-02-25 20:22] #2382 closed

[2015-02-25 20:22] #2387 closed

[2015-02-25 20:22] #3729 closed

[2015-02-25 20:22] #3734 closed

[2015-02-25 20:22] #3739 closed

[2015-02-25 20:22] #3741 closed

[2015-02-25 20:22] #3799 closed

[2015-02-25 20:22] #3800 closed

[2015-02-25 20:22] #3802 closed

[2015-02-25 20:22] #3804 closed

[2015-02-25 20:22] #3806 closed

[2015-02-25 20:22] #3810 closed

[2015-02-25 20:22] #3825 closed

[2015-02-25 20:22] #3831 closed

[2015-02-25 20:22] #3840 closed

[2015-02-25 20:22] #3841 closed

[2015-02-25 20:22] #3842 closed

[2015-02-25 20:22] #3843 closed

[2015-02-25 20:22] #3852 closed

[2015-02-25 20:22] #3855 closed

[2015-02-25 20:22] #3858 closed

[2015-02-25 20:22] #3860 closed

[2015-02-25 20:22] #3874 closed

[2015-02-25 20:22] #3876 closed

[2015-02-25 20:22] #3877 closed

[2015-02-25 20:22] #3878 closed

[2015-02-25 20:22] #3881 closed

[2015-02-25 20:23] #3456 closed

[2015-02-25 20:23] #3473 closed

[2015-02-25 20:23] #3475 closed

[2015-02-25 20:23] #3481 closed

[2015-02-25 20:23] #3494 closed

[2015-02-25 20:23] #3497 closed

[2015-02-25 20:23] #3498 closed

[2015-02-25 20:23] #3501 closed

[2015-02-25 20:23] #3503 closed

[2015-02-25 20:23] #3519 closed

[2015-02-25 20:23] #3542 closed

[2015-02-25 20:23] #3556 closed

[2015-02-25 20:23] #3560 closed

[2015-02-25 20:23] #3571 closed

[2015-02-25 20:23] #3597 closed

[2015-02-25 20:23] #3598 closed

[2015-02-25 20:23] #3601 closed

[2015-02-25 20:23] #3661 closed

[2015-02-25 20:23] #3662 closed

[2015-02-25 20:23] #3665 closed

[2015-02-25 20:23] #3666 closed

[2015-02-25 20:23] #3697 closed

[2015-02-25 20:23] #3698 closed

[2015-02-25 20:23] #3706 closed

[2015-02-25 20:23] #3709 closed

[2015-02-25 20:23] #3318 closed

[2015-02-25 20:23] #3322 closed

[2015-02-25 20:23] #3326 closed

[2015-02-25 20:23] #3327 closed

[2015-02-25 20:23] #3328 closed

[2015-02-25 20:23] #3329 closed

[2015-02-25 20:23] #3330 closed

[2015-02-25 20:23] #3332 closed

[2015-02-25 20:23] #3333 closed

[2015-02-25 20:23] #3336 closed

[2015-02-25 20:23] #3339 closed

[2015-02-25 20:23] #3348 closed

[2015-02-25 20:23] #3349 closed

[2015-02-25 20:23] #3361 closed

[2015-02-25 20:23] #3362 closed

[2015-02-25 20:23] #3370 closed

[2015-02-25 20:23] #3380 closed

[2015-02-25 20:23] #3381 closed

[2015-02-25 20:23] #3382 closed

[2015-02-25 20:23] #3401 closed

[2015-02-25 20:23] #3413 closed

[2015-02-25 20:23] #3414 closed

[2015-02-25 20:23] #3434 closed

[2015-02-25 20:23] #3438 closed

[2015-02-25 20:23] #3455 closed

[2015-02-25 20:23] #3157 closed

[2015-02-25 20:23] #3158 closed

[2015-02-25 20:23] #3182 closed

[2015-02-25 20:23] #3183 closed

[2015-02-25 20:23] #3190 closed

[2015-02-25 20:23] #3192 closed

[2015-02-25 20:23] #3193 closed

[2015-02-25 20:23] #3198 closed

[2015-02-25 20:23] #3199 closed

[2015-02-25 20:23] #3200 closed

[2015-02-25 20:23] #3201 closed

[2015-02-25 20:23] #3215 closed

[2015-02-25 20:23] #3216 closed

[2015-02-25 20:23] #3232 closed

[2015-02-25 20:23] #3233 closed

[2015-02-25 20:23] #3237 closed

[2015-02-25 20:23] #3240 closed

[2015-02-25 20:23] #3259 closed

[2015-02-25 20:23] #3267 closed

[2015-02-25 20:23] #3269 closed

[2015-02-25 20:23] #3270 closed

[2015-02-25 20:23] #3294 closed

[2015-02-25 20:23] #3312 closed

[2015-02-25 20:23] #3316 closed

[2015-02-25 20:23] #2956 closed

[2015-02-25 20:23] #2961 closed

[2015-02-25 20:23] #2970 closed

[2015-02-25 20:23] #2972 closed

[2015-02-25 20:23] #2987 closed

[2015-02-25 20:23] #2997 closed

[2015-02-25 20:23] #2998 closed

[2015-02-25 20:23] #3007 closed

[2015-02-25 20:23] #3013 closed

[2015-02-25 20:23] #3015 closed

[2015-02-25 20:23] #3017 closed

[2015-02-25 20:23] #3020 closed

[2015-02-25 20:23] #3037 closed

[2015-02-25 20:23] #3038 closed

[2015-02-25 20:23] #3040 closed

[2015-02-25 20:23] #3053 closed

[2015-02-25 20:23] #3090 closed

[2015-02-25 20:23] #3100 closed

[2015-02-25 20:23] #3107 closed

[2015-02-25 20:23] #3120 closed

[2015-02-25 20:23] #3121 closed

[2015-02-25 20:23] #3122 closed

[2015-02-25 20:23] #3141 closed

[2015-02-25 20:23] #3142 closed

[2015-02-25 20:23] #3148 closed

[2015-02-25 20:23] #4643 closed

[2015-02-25 20:23] #4646 closed

[2015-02-25 20:23] #4649 closed

[2015-02-25 20:23] #4652 closed

[2015-02-25 20:23] #4661 closed

[2015-02-25 20:23] #4662 closed

[2015-02-25 20:23] #4693 closed

[2015-02-25 20:23] #4702 closed

[2015-02-25 20:23] #4706 closed

[2015-02-25 20:23] #4710 closed

[2015-02-25 20:23] #4731 closed

[2015-02-25 20:23] #4732 closed

[2015-02-25 20:23] #4741 closed

[2015-02-25 20:23] #4744 closed

[2015-02-25 20:23] #4772 closed

[2015-02-25 20:23] #4787 closed

[2015-02-25 20:23] #4793 closed

[2015-02-25 20:23] #4818 closed

[2015-02-25 20:23] #4821 closed

[2015-02-25 20:23] #4822 closed

[2015-02-25 20:23] #4824 closed

[2015-02-25 20:23] #4826 closed

[2015-02-25 20:23] #4827 closed

[2015-02-25 20:23] #4831 closed

[2015-02-25 20:23] #4473 closed

[2015-02-25 20:23] #4481 closed

[2015-02-25 20:23] #4484 closed

[2015-02-25 20:23] #4485 closed

[2015-02-25 20:23] #4498 closed

[2015-02-25 20:23] #4501 closed

[2015-02-25 20:23] #4506 closed

[2015-02-25 20:23] #4529 closed

[2015-02-25 20:23] #4533 closed

[2015-02-25 20:23] #4542 closed

[2015-02-25 20:23] #4551 closed

[2015-02-25 20:23] #4560 closed

[2015-02-25 20:23] #4564 closed

[2015-02-25 20:23] #4568 closed

[2015-02-25 20:23] #4585 closed

[2015-02-25 20:23] #4589 closed

[2015-02-25 20:23] #4604 closed

[2015-02-25 20:23] #4609 closed

[2015-02-25 20:23] #4623 closed

[2015-02-25 20:23] #4626 closed

[2015-02-25 20:23] #4627 closed

[2015-02-25 20:23] #4628 closed

[2015-02-25 20:23] #4632 closed

[2015-02-25 20:23] #4642 closed

[2015-02-25 20:23] #4283 closed

[2015-02-25 20:23] #4292 closed

[2015-02-25 20:23] #4307 closed

[2015-02-25 20:23] #4315 closed

[2015-02-25 20:23] #4324 closed

[2015-02-25 20:23] #4334 closed

[2015-02-25 20:23] #4335 closed

[2015-02-25 20:23] #4369 closed

[2015-02-25 20:23] #4377 closed

[2015-02-25 20:23] #4383 closed

[2015-02-25 20:23] #4400 closed

[2015-02-25 20:23] #4410 closed

[2015-02-25 20:23] #4412 closed

[2015-02-25 20:23] #4421 closed

[2015-02-25 20:23] #4425 closed

[2015-02-25 20:23] #4428 closed

[2015-02-25 20:23] #4434 closed

[2015-02-25 20:23] #4435 closed

[2015-02-25 20:23] #4438 closed

[2015-02-25 20:23] #4439 closed

[2015-02-25 20:23] #4442 closed

[2015-02-25 20:23] #4447 closed

[2015-02-25 20:23] #4460 closed

[2015-02-25 20:23] #4461 closed

[2015-02-25 20:24] #4110 closed

[2015-02-25 20:24] #4114 closed

[2015-02-25 20:24] #4128 closed

[2015-02-25 20:24] #4132 closed

[2015-02-25 20:24] #4135 closed

[2015-02-25 20:24] #4142 closed

[2015-02-25 20:24] #4166 closed

[2015-02-25 20:24] #4167 closed

[2015-02-25 20:24] #4172 closed

[2015-02-25 20:24] #4174 closed

[2015-02-25 20:24] #4180 closed

[2015-02-25 20:24] #4190 closed

[2015-02-25 20:24] #4191 closed

[2015-02-25 20:24] #4208 closed

[2015-02-25 20:24] #4218 closed

[2015-02-25 20:24] #4229 closed

[2015-02-25 20:24] #4231 closed

[2015-02-25 20:24] #4253 closed

[2015-02-25 20:24] #4255 closed

[2015-02-25 20:24] #4264 closed

[2015-02-25 20:24] #4277 closed

[2015-02-25 20:24] #4278 closed

[2015-02-25 20:24] #4280 closed

[2015-02-25 20:24] #4281 closed

[2015-02-25 20:24] #3888 closed

[2015-02-25 20:24] #3895 closed

[2015-02-25 20:24] #3899 closed

[2015-02-25 20:24] #3906 closed

[2015-02-25 20:24] #3913 closed

[2015-02-25 20:24] #3943 closed

[2015-02-25 20:24] #3956 closed

[2015-02-25 20:24] #3957 closed

[2015-02-25 20:24] #3959 closed

[2015-02-25 20:24] #3963 closed

[2015-02-25 20:24] #4006 closed

[2015-02-25 20:24] #4008 closed

[2015-02-25 20:24] #4021 closed

[2015-02-25 20:24] #4023 closed

[2015-02-25 20:24] #4031 closed

[2015-02-25 20:24] #4038 closed

[2015-02-25 20:24] #4050 closed

[2015-02-25 20:24] #4051 closed

[2015-02-25 20:24] #4072 closed

[2015-02-25 20:24] #4084 closed

[2015-02-25 20:24] #4091 closed

[2015-02-25 20:24] #4101 closed

[2015-02-25 20:24] #4102 closed

[2015-02-25 20:24] #4107 closed

[2015-02-25 20:24] #3882 closed

[2015-02-25 20:24] #3884 closed

[2015-02-25 20:24] #3885 closed

[2015-02-25 20:24] #3886 closed

[2015-02-25 20:37] rsasch commented on #6913
Probably a stupid question, but does Travis run updates before it runs it's tests?

[2015-02-25 20:43] rbran100 commented on #6913
Travis installs from scratch every time, so no

[2015-02-25 20:46] rsasch commented on #6913
so it's testing against the old .csl file

[2015-02-25 20:51] #6953 closed

[2015-02-25 20:52] rsasch commented on #6913
and it copies the modules from temporary/ to modules/contrib/ before installation?

[2015-02-25 21:03] rbran100 commented on #6913
Yes, it runs the build script in full to get the source code, then
installs, migrates in dummy content , and runs the test.  If you updated
the CSL file in the filesystem it should be getting installed in the db.

-Richard

On Wed, Feb 25, 2015 at 3:52 PM, Rebecca S. Asch <notifications@github.com>
wrote:

[2015-02-25 21:04] rsasch commented on #6913
Well, then I'm out of ideas of why it's failing when Travis runs the tests, but not when I do.

[2015-02-26 11:32] prabhu9484 opened #6985 "Bug - Default sort options for publications in a single faculty vsite do not show in OS - 7.x-3.12"
Bug - Default sort options for publications in a single faculty vsite do not show in OS - 7.x-3.12 but it shows up in OS on D6.
![bugd7publicationssort](https://cloud.githubusercontent.com/assets/932126/6391153/2592f34a-bdd9-11e4-8111-d72b595ed9b5.png)
![correctd6publicationssortoptions](https://cloud.githubusercontent.com/assets/932126/6391154/25957c46-bdd9-11e4-8922-200f32c0f2e9.png)

[2015-02-26 13:11] RoySegall commented on #6955
I have a better error:

I took it from the date module so it's could to be consistence with the errors.

No, the field is still optional but the validation will only take place when there is a value in the field.

About 3 - in which site you manage to achieve the scenario? i was unable to reproduce.

[2015-02-26 13:35] RoySegall commented on #6954
![selection_337](https://cloud.githubusercontent.com/assets/1222368/6392794/e8741db0-bdcc-11e4-9993-b952486eb902.png)

My mistake, i didn't replace all the place holders.

[2015-02-26 14:20] rbran100 commented on #6985
@prabhu9484 The sort for end users was removed some time ago, it was buggy and had negative performance implications.  The administrator can still select the default sort from the publication settings.

[2015-02-26 14:20] #6985 closed

[2015-02-26 14:24] #6960 closed

[2015-02-26 14:28] rbran100 commented on #6954
Marked back into QA

[2015-02-26 14:54] rbran100 commented on #6955
@RoySegall will look into the default date showing, and error when saving empty form

[2015-02-26 14:56] rbran100 commented on #6913
@RoySegall will run tests and take screenshot if fails

[2015-02-26 15:22] tcheng001 commented on #6955
@RoySegall
Even though both Open and Close date is empty, validation still fails and the user got an error
![screen shot 2015-02-26 at 10 21 30 am](https://cloud.githubusercontent.com/assets/2111600/6394697/4370d112-bda1-11e4-926c-ecdc73704d6a.png)

![screen shot 2015-02-26 at 10 21 53 am](https://cloud.githubusercontent.com/assets/2111600/6394701/52162d02-bda1-11e4-9687-2035ab50c5ba.png)

[2015-02-26 15:24] tcheng001 commented on #6955
@RoySegall   I see the default time now when I enter a date.

[2015-02-26 15:49] drwierdo opened #6987 "WSOD during installation with Wamp"
I have been trying to install the latest OS build on my wamp 2.1 64-bit version , but can't get past the select language screen. I tried the troubleshooting guide and made the recommended changes. I am attaching the phpinfo() result below.

What am I missing here?? Thanks folks!!

https://d2r1vs3d9006ap.cloudfront.net/s3_images/1163255/screencapture-localhost-test-php.jpg?1424908455

[2015-02-26 16:00] prabhu9484 commented on #6985
thanks @rbran100 - should we attempt to write the patch for anonymous users ?

[2015-02-26 16:02] rbran100 commented on #6987
Can you verify you have tried these things?
https://github.com/openscholar/openscholar/wiki/Troubleshooting

Thanks.

[2015-02-26 16:07] rbran100 commented on #6985
If you think that it is important to your users, but be forewarned that the biblio module code that was providing that functionality was really buggy and produced some very slow queries on larger sites.

#1366

[2015-02-26 16:09] drwierdo commented on #6987
Yes, that was the troubleshooter I had used. And to confirm it, I ran the phpinfo(), (the screenshot is in the link above).

[2015-02-26 16:20] rbran100 commented on #6987
@mpetrovic any ideas for him, since you run windows.  the mysql setting is normally the culprit in MAMP but if you have changed that I am not sure.  Do you have anything in the error logs?

[2015-02-26 16:25] mpetrovic commented on #6987
wsod usually means a fatal error, which Drupal silences for anonymous users. You'll need to find wherever the errors are outputting to and looking at that. Mine are in &lt;php root directory&gt;/logs/php.log

[2015-02-26 16:33] tcheng001 commented on #6954
@RoySegall
a) some minor wording issues when removing terms:  (see image below)
![screen shot 2015-02-26 at 11 05 22 am](https://cloud.githubusercontent.com/assets/2111600/6395745/0b77dd44-bda8-11e4-85a9-a335b7e623e3.png)

b) I applied the same term ("apple") 3 times to a post. When the term is removed from the post, the message is
![screen shot 2015-02-26 at 11 18 10 am](https://cloud.githubuserc

[2015-02-26 16:49] mpetrovic commented on #6954
'0 taxonomy terms were removed' is correct. Only a collection of one gets
the singular treatment. Everything else gets plural, even 0 or -1.

[2015-02-26 17:01] rsasch commented on #6961
Looks like this query https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/temporary/spaces/plugins/spaces_controller.inc#L239 is called 14 times each time a vsite URL is loaded.

[2015-02-26 17:10] rsasch commented on #6961
@rbran100 Is this a place where we could use the drupal static cache?

[2015-02-26 17:19] RoySegall commented on #6955
I fixed the required issue and now when there is no date the default value will be the current date:
![selection_339](https://cloud.githubusercontent.com/assets/1222368/6397292/5d0420fc-bdec-11e4-9256-a21251a5ac75.png)

[2015-02-26 17:31] rbran100 commented on #6961
Actually I would not expect the delete method to be called at all on an anon page load, we should track down what is calling that.

[2015-02-26 17:55] labyrwa opened #6988 "OS Workflow Discussion"
@rsasch It looks like according to some of the responses we've been receiving on GitHub, that the default Palantir.net workflow will not work when working with OpenScholar. I am hoping to setup a call to discuss an ideal workflow to work with OS more easily.

[2015-02-26 19:33] rsasch commented on #6961
This is the backtrace for each of those 14 calls:
<quote>
#0  spaces_controller->del() called at [openscholar/openscholar/modules/contrib/spaces/plugins/spaces_controller.inc:192]
#1  spaces_controller->set() called at [openscholar/openscholar/modules/os/modules/os_search_solr/os_search_solr.module:996]
#2  os_search_solr_save_view_mode() called at [openscholar/openscholar/modules/os/modules/os_se

[2015-02-26 19:53] tcheng001 commented on #6955
marked "Fixed"
The sign up link won't appear before the open date/time
The sign up link won't appear after the close date/time
Close date must be later than Open date. Otherwise, the form can't be saved and the user sees an error.
Both Close and Close date/time can be empty
Close date/time can be empty for validation. That means only Open date/time contains value.

[2015-02-26 20:00] rbran100 commented on #6961
Looked in the prod DB and there are very few overrides there so we can't just get rid of the call. Can we change the call to 'os_search_solr_save_view_mode' so that it is wrapped by:

[code]

[2015-02-26 20:00] rbran100 commented on #6961
Thats a good find

[2015-02-26 20:18] tcheng001 commented on #6954
@rbran100  @mpetrovic    If the wording is trivial, we might mark to "Fixed"

Tested with the following scenarios:
1) apply 1 term to 1 post
2) apply 1 term to 2 posts of same type
3) apply 1 term to 2 posts of different types
4) apply 2  terms to 1 post
5) apply 2  terms to 2 posts of same type
6) apply 2 terms to 2 posts of different types

7) remove 1 term from single post
8) remove 1 term from

[2015-02-26 20:28] #6988 closed

[2015-02-26 20:55] #6887 closed

[2015-02-26 21:44] dancabral commented on #6956
Shield Updates completed:
- [ ] Scholar

[2015-02-26 21:59] rsasch commented on #6913
@RoySegall @rbran100 I figured out what was different between my test env and Travis'; I was able to replicate the failure, make a fix, and now it should pass.

[2015-02-27 14:36] tcheng001 commented on #6815
@rbran100
Tested on http://dev.scholar.harvard.edu/gking/category/research-interests/applications/informatics-and-data-sharing
1) The ordering of items in Sort Section modal is still different from the ordering in page.
![screen shot 2015-02-27 at 9 28 16 am](https://cloud.githubusercontent.com/assets/2111600/6414149/5908544c-be63-11e4-8bfd-1f8a62982d04.png)
![screen shot 2015-02-27 at 9 28 02 am]

[2015-02-27 16:46] tcheng001 commented on #6949
@mpetrovic  Should we also allow to upload csv file from cp/content/files and cp/content/files-private?

[2015-02-27 18:47] tcheng001 commented on #6949
able to upload csv in /cp/content/files page
able to upload csv in /cp/content/files-private page

[2015-02-27 19:12] openscholar-admin opened #6991 "File url is wrong when files are uploaded via import"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/file-url-is-wrong-when-files-are-uploaded-via-import)

**The Plan**
Files should end up inside the sites folder at: domain/files/sitename/

**Description**

If importing a csv file which contains some file urls. For example, in the Files field, we can have file like "[http://college.

[2015-02-27 19:15] rbran100 commented on #6991
The issue is here: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_importer/os_importer.module#L302

The path is hardcoded to public:// the path should be added from:
It should use the path here: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_files/os_files.module#L62

so it should call os_files_get_save_p

[2015-02-27 19:18] rbran100 commented on #6991
We need to remember to check this in the restful CrUd functions too...

[2015-02-27 20:28] rbran100 commented on #6978
@tcheng001 this is ready for QA

[2015-02-27 21:47] tcheng001 commented on #6978
@rbran100
If there is a recurring event, the rss.xml file contains incorrect data. This is an example. The recurring event is shown correctly in month view.
![screen shot 2015-02-27 at 4 38 15 pm](https://cloud.githubusercontent.com/assets/2111600/6421689/34615bd4-be9f-11e4-86de-7d6ab08a0acf.png)

But you check the xml file, you would find that the dates of occurrence of the recurring event are th

[2015-03-01 08:20] RoySegall commented on #6978
We had an issue that about the problem before and we decided to leave the issue. The problem above relate to a larger scope.

[2015-03-01 09:02] RoySegall commented on #6815
It's not a bug it's a feature - really: https://github.com/openscholar/openscholar/commit/91e271c77f826f5375bdd4549a8ff97462b8af00

The code set the page title as 'BLANK_TITLE' when there is no title in the page and replace the BLANK_TITLE with empty string when viewing the page. the form don't render the node and we get BLANK_TITLE. I can add to the from something like `Page without a title - nid

[2015-03-01 09:39] RoySegall commented on #6815
![selection_340](https://cloud.githubusercontent.com/assets/1222368/6430177/9029ba6a-c007-11e4-8f1c-8fde08f7895c.png)

Look a lot better and i replaced the check_plain with filter_xss so the user won't have html tags in the node title.

[2015-03-01 11:42] RoySegall commented on #6886
I kept working on the endpoints and we in a good shape but there still a lot of work to do. There is an issue with entity reference pre populate when invoking a rest request an the variable `og_node_access_strict`

[2015-03-01 12:31] RoySegall opened #6992 "Publication import issues"
@maayan from HUJI tried to import RIS publication files. When importing the title of the publication is 'Untitled'.

I upload the files to [here](https://drive.google.com/a/gizra.com/folderview?id=0B_6QRgJK078kfjRQX2doV3Q0bzh0MXdsMEpmdWc0dUczLUZEZW0tNnZQQVNUNWdRWU40UXM&usp=sharing)

[2015-03-01 12:31] RoySegall commented on #6992
@maayan can you elaborate on the source of the files?

[2015-03-01 12:40] maayan commented on #6992
The RIS file was created with EBSCO search and discovery tool http://eds.a.ebscohost.com/
With HUJI credentials
I use this method after consulting HUJI librarians who recommended me this tool ro create publications lists, and RIS format (since it is the most general or basic).
Other available formats:
 *Direct Export to EndNote Web
 *Generic bibliographic management software
 *Citations in XML for

[2015-03-01 13:55] RoySegall commented on #6987
Easy thing to do is turn on the errors in your php.ini and then you won't need to look in the logs.

[2015-03-01 15:24] RoySegall commented on #6991
I tried for example this code:
[code]

and if the the folder 'john/files' does not exists or not writeable then it will fail.

[2015-03-01 16:09] mpetrovic commented on #6991
I'm pretty sure Drupal has a function to make sure a target directory exists.

[2015-03-01 23:02] larrytooke commented on #6938
Anyone had any luck resolving the above install issues.  I have similar had similar install issues and the Undefined Index problem.

Am using xampp with php 5.3.8. Using openscholar release 7.x-3.20.0 downloaded from http://theopenscholar.org/download

Will be grateful for any help!

[2015-03-01 23:07] larrytooke commented on #6938
Anyone had any luck resolving the above install issues. I have had similar install issues and the Undefined Index problem. Am using xampp with php 5.3.8. Openscholar version 7.x-3.20.0 downloaded from: http://theopenscholar.org/download

Would be grateful for any pointers!

[2015-03-02 09:56] RoySegall commented on #6991
Yeah, found the problem. One of the hooks mess up what i'm trying to do. i'll try to see how can i pass it around but my code work.

[2015-03-02 14:16] RoySegall commented on #6886
This https://github.com/RESTful-Drupal/restful/pull/410 will fix it for us.

[2015-03-02 14:38] tcheng001 commented on #6815
@RoySegall
Yep, I can see "Node without a title".
Any comment on point 1?   http://goo.gl/aWneV0

[2015-03-02 15:41] rbran100 commented on #6991
Thanks @RoySegall

@rsasch will take it from here and see if we can remove some of the added code for mkdir, etc..

[2015-03-02 16:00] labyrwa opened #6994 "Error on all pages"
When trying to access an OpenScholar multi-site staging environment I'm getting the following error:
Skip to main content
Array
The "Skip to main content" is linked to /#main-content. It looks like something is breaking with a Skip Nav button.

At first this was only happening when logged out and then it started happening regardless of being logged in or logged out. LMK if you have any insight int

[2015-03-02 16:32] rbran100 commented on #6978
@tcheng001 was that the only remaining issue?  We will not be able to tackle the re-occuring issues in this ticket.  There is a larger reoccurring events issue coming that can tackle this.

[2015-03-02 16:33] dancabral commented on #6956
Updated shields have been applied in all 3 installs (schol, proj, hwp). Closing.

[2015-03-02 16:33] #6956 closed

[2015-03-02 16:34] #6959 closed

[2015-03-02 16:35] #6955 closed

[2015-03-02 16:35] rbran100 commented on #6954
Not trivial, but not worth the bugs introduced to try and change it.

[2015-03-02 16:36] #6954 closed

[2015-03-02 16:37] #6951 closed

[2015-03-02 16:39] rbran100 commented on #6913
Merging what we have so far.
@rsasch is looking into upgrading the CSL to handle "at" locations

[2015-03-02 17:14] tcheng001 commented on #6978
Marked "Fixed"
I think that should be the only remaining issue.
After importing OS calendar RSS, the events become news containing Title, Date and Body. The title and "Read more link" redirects to the original posts.
![screen shot 2015-03-02 at 12 09 30 pm](https://cloud.githubusercontent.com/assets/2111600/6445927/849f5636-c0d5-11e4-8a8c-a194a8f61fb0.png)

[2015-03-02 17:58] #6994 closed

[2015-03-02 18:01] rsasch commented on #6991
Even when I set the path correctly in https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_importer/os_importer.module#L312, this line changes it back to the top level files directory: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/temporary/filefield_paths/modules/filefield_paths.inc#L63.

@rbran100 Since we seem to maintaining our own copy of

[2015-03-02 18:03] labyrwa opened #6995 "WSOD on /admin/config*"
@rsasch
Currently unable to access configuration pages. Only getting a WSOD on them.

[2015-03-02 18:08] rsasch commented on #6995
@labyrwa What was the last thing (or things) you did before you starting having issues with the configuration pages?

[2015-03-02 18:56] labyrwa commented on #6995
I have never been able to access the configuration pages locally, switching over to some of the Palantir branches on staging has blocked it there as well. But having the most recent tag on the staging branch allows us to access config again.

[2015-03-02 19:09] rbran100 commented on #6995
What do you see in the php logs?  Usually that indicates either a fatal error or out of memory.

[2015-03-02 19:28] labyrwa commented on #6995
It doesn't say anything. It's just giving me a bunch of undefined variable warnings that I'm getting all over the site, but nothing specific when trying to access admin/config

[2015-03-02 19:34] rbran100 commented on #6995
Your right, the warnings you can probably ignore.  I am surprised that there is not anything else in apache / php logs.  What are the differences between the working and broken branch?  I have not seen this before so it is hard to tell what was done, the only thing I can suggest is running registry-rebuild in case drupal has been confused by a change in dir structure

[2015-03-02 19:56] openscholar-admin opened #6996 "Access denied when trying to sign up for an event that is in a LOP"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/access-denied-when-trying-to-sign-up-for-an-event-that-is-in-a-lop)

**The Plan**
Have the modal link used here as well.

**Description**

If I got to the event page, I can sign up. If I try to sign up from a LOP or LOP in Tabs widget, I get access denied. I am the site owner and the

[2015-03-02 19:58] rbran100 commented on #6996
@RoySegall Can you take a look at fixing this sign-up link when it is displayed as a "full post" in a LOP widget

[2015-03-02 19:59] Kbentham commented on #6995
We do have a couple of errors from PHP and Drupal watchdog that I just managed to hunt down in the logs.

PHP Fatal error: require_once() [<a href='function.require'>function.require</a>]: Failed opening required '/mnt/www/html/ekiczek1test/docroot/sites/all/modules/contrib/acquia_connector/acquia_search/Acquia_Search_Service.php' (include_path='.:/var/www/html/ekiczek1test/library/:/usr/share/php

[2015-03-02 20:02] rbran100 commented on #6995
Ahh, that explains it.  Can you confirm that you have that module present in that location?

If you are not connecting to the acquia solr search service then you probably can safely disable the module which will also fix the issue.  If the module is in a different location then a registry rebuild should suffice.

[2015-03-02 20:03] Kbentham commented on #6981
I have tried making sure that the og_group_ref field is present (it is) and that I add the correct group to it when I create the node. I verify that the node has been indexed and when I try to search in the view I don't get any results. When I try to search for my node in the site search in the header I get a WSOD. Is there a Solr configuration that I am missing? Is there an easier way to set up a

[2015-03-02 20:11] rbran100 commented on #6886
@Roy that PR looks good, I would wait till Amitai gets it moved to it;s final home.  I assigned you one other issue https://github.com/openscholar/openscholar/issues/6996 but getting QA passing is our final hurdle.  Can you add a test for file uploads to assure they end up in the correct place.  It will probably fail for now but I want to make sure we have the test, we can copy rebecca's code once

[2015-03-02 20:13] #6978 closed

[2015-03-02 20:14] #6961 closed

[2015-03-02 20:14] #6943 closed

[2015-03-02 21:10] rbran100 commented on #6981
Not sure which view you are searching, although I do remember @rsasch mentioning a custom view she was using.

I can confirm that all content provided by the other apps is indexed into solr and by default able to filter by terms.  Ex. http://gking.harvard.edu/search/site/Informatics  Without knowing what specifically you are doing I can't offer much more than to say this is default functionality.

[2015-03-02 21:32] Kbentham commented on #6995
Thanks for the help I think I have it figured out.

[2015-03-02 21:34] Kbentham commented on #6981
Thanks for the help. I think I have it figured out now.

[2015-03-03 07:55] RoySegall commented on #6886
@rbran100 We can't check physically the upload form but we can check the importer moved the file to the correct uri path. If the PR already merged i'll make a new one if not i'll make a PR against that one with the test.

[2015-03-03 08:15] RoySegall commented on #6996
It's the original link provided by the registration module. We need to alter the link so it will open the modal similar to the event page.

[2015-03-03 09:13] RoySegall commented on #6991
I don't like change our own copy - this could backfire at us later.

[2015-03-03 13:40] RoySegall commented on #6995
I suggest that during development you turn on the `display_errors` to TRUE in your php.ini. This way you won't get WSOD in your local machine.

[2015-03-03 13:47] RoySegall commented on #6970
I'll take it after the tests will work.

[2015-03-03 13:54] RoySegall commented on #6815
Sorry, didn't saw no. 1 - i'm checking this one.

[2015-03-03 14:10] rbran100 commented on #6995
Agreed, but you probably want to not show warnings.

[2015-03-03 14:10] #6995 closed

[2015-03-03 15:07] RoySegall opened #6998 "Publication with a title larger then 256 characters crashes"
For examle:
THE ROLE OF LEUKOCYTES AND THEIR HYDROLASES IN THE PERSISTENCE,
DEGRADATION, AND TRANSPORT OF BACTERIAL CONSTITUENTS IN TISSUES:
RELATION TO CHRONIC INFLAMMATORY PROCESSES IN STAPHYLOCOCCAL,
STREPTOCOCCAL, AND MYCOBACTERIAL INFECTIONS AND IN CHRONIC
PERIODONTAL DISEASE

[2015-03-03 16:44] labyrwa commented on #6995
This is resolved, closing

[2015-03-03 19:15] rbran100 commented on #6996
@tcheng001 meant to mark this for QA

[2015-03-03 20:23] tcheng001 commented on #6996
marked "Fixed"
able to access the registration link in the following scenarios
1) in the event full view
2) event in List of Post widget
3) event in List of Post widget placed in Tab widget
4) event in List of Post widget placed in Column widget
5) event in List of Post widget placed in Accordion widget

Note: both logged-in users and anon users are able to register in the scenarios.

[2015-03-03 21:41] rbran100 commented on #6998
@RoySegall Can you take a look at this one as you have time

[2015-03-04 09:48] RoySegall commented on #6815
I checked the problem and i add another sort filter but when i change the order nothing changes.

[2015-03-04 12:52] RoySegall commented on #6998
I check this one. When i'm passing the example above the length of the title is 1863. This caused because the title is:
[code]

[2015-03-04 13:50] ramkrishna-cignex opened #6999 "Installation Issue"
What can be the reason of error mentioned below while installing OpenScholar ( While installing Modules )?

"An AJAX HTTP error occurred. HTTP Result Code: 500 Debugging information follows. Path: http://www.domain.com/install.php?profile=openscholar&locale=en&id=2&op=do StatusText: Service unavailable (with message) ResponseText: PDOException: SQLSTATE[HY000]: General error: 2006 MySQL server has

[2015-03-04 14:26] RoySegall commented on #6815
I'll summerize the problem:
When we change the function in `gkplus_order_nodes_dnd_form` to `os_taxonomy_list_attached_entities` we affected [this](https://github.com/openscholar/openscholar/pull/6819/files#diff-c3cfbe4dc8f1148c4f559393d36a3b8bR127) part. i'll keep check this tomorrow.

[2015-03-04 15:04] RoySegall commented on #6811
What left:
* [ ] Taxonomy end point
* [ ] Make the tests passing - at least for nodes, boxes and spaces.

[2015-03-04 15:10] RoySegall opened #7000 "Twitter app settings are missing from the admin config"
If you'll try to set up the twitter app settings in order to pull tweets from a given account you won't find the link for that under admin/config.

[2015-03-04 15:14] rsasch commented on #6991
Current plan is to trace the different pathways through which files are saved to the right directory and see if they can be consolidated.  If not, just finding a way to correct the settings for files uploaded through import so that they arrive in the right place will have to do.

[2015-03-04 19:34] labyrwa commented on #6982
Thanks, closing

[2015-03-04 19:34] #6982 closed

[2015-03-04 19:34] labyrwa commented on #6981
Thanks, closing

[2015-03-04 19:34] #6981 closed

[2015-03-04 19:37] labyrwa opened #7001 "HWW Search within Organic groups"
@rsasch
We're looking into the functionality of the HWW integration and search, the problem that we're running into is being about to search the content to the worldwide group while being inside the incubator group.

[2015-03-04 19:40] rsasch commented on #7001
@labyrwa Can you provide the code snippet where you're invoking HWW functions and also the error messages you're getting?

[2015-03-04 19:43] labyrwa commented on #7001
Currently we are just testing out the default HWW widget on the Incubator site, you can see it here: http://ekiczek1test.devcloud.acquia-sites.com/incubator/harvard. The error that we're getting is as follows: The website encountered an unexpected error. Please try again later.

[2015-03-04 19:45] Kbentham commented on #7001
The error that we are seeing in the drupal watchdog logs is .

error: Argument 5 passed to apachesolr_drupal_query() must be an instance of DrupalApacheSolrServiceInterface, string given, called in /mnt/www/html/ekiczek1test/docroot/sites/all/modules/custom/worldwide_search/worldwide_search.inc on line 333 and defined in apachesolr_drupal_query() (line 1605 of /mnt/www/html/ekiczek1test/openschola

[2015-03-04 20:02] rsasch commented on #7001
@labyrwa I was under the impression that you were going to call the functions within the HWW module directly, not use the search widget.  Have you tried using the compileActivityResults() function directly?

[2015-03-04 20:06] labyrwa opened #7002 "No "This Page" under layout configuration"
I am trying to edit the widgets on a couple of particular pages (associated with a custom content type) however, when I click the gear I am not given the ability to edit the layout for particular pages, only for site wide sections.

[2015-03-04 20:12] labyrwa commented on #7001
@rsasch I am under the impression that the desired functionality is to have end-users to be able to search directly on the Incubator website. Therefore I wouldn't be able to just create a query and display results on the Incubator website. That would have to happen after front-end users are searching.

[2015-03-04 20:15] mpetrovic commented on #7002
'This Page' layouts are specific to our page content type. We had to do some special stuff to make it work. If you've made new content types and want that functionality, you'll need to duplicate that special stuff for it.

Implementation details:
https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_pages/os_pages.module#L278
https://github.com/openscholar/

[2015-03-04 20:46] labyrwa commented on #7002
@mpetrovic that makes sense for the content type, however what I really need it for is for  a search page that we have created. Should we create a separate context for that as well?

[2015-03-04 20:52] mpetrovic commented on #7002
I believe search has it's own context. If it needs to be different from other search pages, then you could make a new context for that.

[2015-03-04 20:52] labyrwa commented on #7002
If search has its own context shouldn't I be seeing the "This Page" part on the layout?

[2015-03-04 20:56] rbran100 commented on #7002
@labyrwa the 'browse' pages within a content type share that "sections" context which would cover all pages in your app

[2015-03-04 20:56] rsasch commented on #6991
I found out where the difference is between a file attached to a node via import vs. the UI: the timestamp (see https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/temporary/filefield_paths/modules/filefield_paths.inc#L48).  All the settings are the same; it's just that when a file is uploaded via an import, the timestamp on the file is the same as REQUEST_TIME.  Any ideas on why this is b

[2015-03-04 20:57] rbran100 commented on #7002
Sounds like what you need is maybe a new "section" since faceted search is many pages, does this context need to be editable by the user?  What pages should it cover?

[2015-03-04 20:57] labyrwa commented on #7002
But the problem is that I don't want a context for that "section" I just want to add a widget to that search page. That one search page.

[2015-03-04 20:59] rbran100 commented on #7002
Do you need the user to be able to remove it from the layout? Of pre-configured to show on only that page?

[2015-03-04 21:00] labyrwa commented on #7002
No. We are just looking to add a taxonomy widget to the faceted search to filter results.

[2015-03-04 21:01] rbran100 commented on #7002
I think exporting a context with that path, preconfigured to hold the block you want should do the trick.

[2015-03-04 21:06] rsasch commented on #7001
My understanding was that, in order to have the Worldwide search and search results conform to the look-and-feel of the Incubator site, Palantir would be creating a user interface to a search that would call functions like compileActivityResults(), get the data from the HWW nodes, and then present it to the user.

Also, if the site uses the search widget directly, it will be searching for courses,

[2015-03-04 21:50] labyrwa commented on #7002
That was it, thanks. Closing.

[2015-03-04 21:50] #7002 closed

[2015-03-05 06:59] RoySegall commented on #6991
As long as we don't mess with the filefield then it's OK by me. I think there is a check for the timestamp to be sure that the file is a new one because there is no ``$file->is_new`` like in other entities.

[2015-03-05 10:31] RoySegall commented on #6815
This is now ready for merged.

[2015-03-05 16:48] rbran100 commented on #6991
Looked at this with @rsasch, appears to be the perfect solution.  We will need to replicate for the file create rest API call

[2015-03-05 17:03] Kbentham commented on #7001
@rsasch The conversation on Basecamp indicates that what they really want is the HWW search on the incubator site. I have the Faculty Finder portion of the search working on the staging site but I am having trouble getting the HWW OS content. I am working under the assumption that this is because the apachesolr search filters out content that is not part of the current og. Do you know of a way to

[2015-03-05 20:16] rsasch commented on #7001
@Kbentham  Now that I know that we're going to use the HWW widget on the Incubator site, I'm going to look into how to get it to access the content of one vsite from another.  I've got my local development environment set up and I'll let you know when I want to push my changes to the Acquia environment so I won't be stepping on your toes.

[2015-03-05 21:59] rsasch commented on #7001
@Kbentham @labyrwa I'd like to commit some changes I made to worldwide_search.inc.  Should I create a new branch (and if so, off of which other branch)?  Or should I update an existing branch?

[2015-03-05 22:13] Kbentham commented on #7001
@rsasch We have been working off of master. If you would like create a branch off of master that would be amazing!

[2015-03-05 22:43] rsasch commented on #7001
No problem — branch is updated_worldwide_search_module.

[2015-03-05 22:56] rsasch commented on #6991
@rbran100 I made the mistake of committing my changes to SCHOLAR-3.x, but when I tried to undo them, it did so in my local environment but it doesn't seem to be reflected when I create a PR (I committed and pushed my undo commits).  Not sure what to do....

[2015-03-06 03:55] drwierdo commented on #6987
Sorry for the late reply.

I turned on the error reporting by setting the value of "error_reporting = E_ALL & ~E_DEPRECATED" in the php.ini, but still there are no error reported on screen or logged. I also checked the php.log  and it's empty.

Now there is no WSOD but it says Page not available because the connection was interrupted. What do I do now?

[2015-03-06 11:42] drwierdo commented on #6987
I can't find "Timeout" in the httpd.conf file. My apache version 2.4.9. I have changed the timeout in the httpd-default.conf in the extra/ folder, but this doesn't change anything in the phpinfo() output. Is there a way to override the default in the virtualhost?

[2015-03-06 11:52] rbran100 commented on #6987
That will be set in your php.ini file

[2015-03-06 11:52] #6987 closed

[2015-03-06 14:15] labyrwa opened #7004 "Pre-populate Organic Group Audience"
Is there a way to pre-populate what OG audience a custom content type should use? Seems counter-intuitive to have to add it for each node.

[2015-03-06 14:28] openscholar-admin opened #7005 "Documental theme issues"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/documental-theme-issues)

**The Plan**

For consistency, fix color issues in theme.

**Description**

I heard the Documental theme was responsive but it doesn't seem to be: [http://library.cfa.harvard.edu/](http://library.cfa.harvard.edu/)

There are some issues around the color pale

[2015-03-06 14:28] openscholar-admin opened #7006 "Fail to import after saving the sample template file in Excel."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/fail_to_import_after_saving_the_sample_template_file_in_excel)

**The Plan**

Fix issue so that a csv file opened in excel and resaved as a csv, imports successfully (without generating an error).

**Description**

Steps to reproduce:

download a sample template file to import

open

[2015-03-06 14:28] openscholar-admin opened #7007 "Edit/Replace Paper not Updating/ shows link does not work"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/edit-replace-paper-not-updating-shows-link-does-not-work)

**The Plan**

Fix issue so that users are able to replace a Publication attachment. Currently, a user needs to remove it first, then add back another/new one.

**Description**

Everytime I try to edit/replace a paper in a pub

[2015-03-06 14:29] openscholar-admin opened #7008 "event import via ics - location not populated"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/event-import-via-ics-location-not-populated)

**The Plan**

[coming soon]

**Description**

When importing events to OS from a google calendar generated .ics file, the OS location field isn't populated.

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1150625/brain-calendar_i

[2015-03-06 14:29] openscholar-admin opened #7009 "Fails to import news if the entry contains image"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/fails-to-import-news-if-the-entry-contains-image)

**The Plan**

Fix issue so that news imports that contain image data, import successfully (without generating an error).

**Description**

When there is an image value in the cvs file, import will fail with the error

"Field validati

[2015-03-06 14:29] openscholar-admin opened #7010 "Events import template CSV does not include the time"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/events_import_template_csv_does_not_include_the_time)

**The Plan**

Time data used in the CSV events import template, should import into OS and display, as expected, in the public view of an event.

**Description**

Users are seemingly unable to import the start and end times when i

[2015-03-06 14:30] openscholar-admin opened #7011 "cv file link keeps changing after the file is updated"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/cv-file-link-keeps-changing-after-the-file-is-updated)

**The Plan**

When replacing an image through the media browser, the file name should remain consistent. Based on the example below, the file name should always be vitae.pdf.

**Description**

After adding a CV file in biocv, th

[2015-03-06 14:31] openscholar-admin opened #7012 "commas missing from image titles"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/commas_missing_from_image_titles)

**The Plan**

Fix issue so that user entered commas in the image title field, render as expected.

**Description**

Is this a glitch? Commas are missing from image titles for images placed in a gallery. They show up in the gallery view,  ([http://sl

[2015-03-06 14:33] openscholar-admin opened #7013 "Accordion widget is missing contextual edit gear for each of the items inside of the accordion."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/accordion-widget-is-missing-contextual-edit-gear-for-each-of-the-items-inside-of-the-accordion)

**The Plan**

Fix issue so that contextual links in all widgets used in the accordion widget can be accessed.

**Description**

Example: [http://hwp.harvard.edu/pages/featured...](http://

[2015-03-06 14:33] openscholar-admin opened #7014 "Calendar import says columns are missing when they aren't"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/calendar-import-says-columns-are-missing-when-they-arent)

**The Plan**

Fix import failure so that error isnt generated if all fields are included.

**Description**

When importing a set of events from a csv file, the importer will complain that a couple fields are missing, even tho

[2015-03-06 14:34] openscholar-admin opened #7015 "Convert Ballard theme to newer responsive format"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/convert-ballard-theme-to-newer-responsive-format)

**The Plan**

Convert ballard theme to the newer, responsive format.

**Description**

Since many sites (as well as Projects) use the Ballard&nbsp;theme, it would benefit those users to have the theme converted to the newer, responsi

[2015-03-06 15:15] rbran100 commented on #6991
@rsasch can you list the commits here and I will take a look, or we can talk

[2015-03-06 15:21] openscholar-admin opened #7016 "Images saving to the wrong Media Gallery"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/images-saving-to-the-wrong-media-gallery)

**The Plan**

Fix issue so that images save to the correct/intended media gallery.

**Description**

Hi, I am building a website for the Harvard Graduate Dormitory Council: [http://projects.iq.harvard.edu/gdc](http://projects.iq.harvard.edu/

[2015-03-06 17:02] rbran100 commented on #6991
@tcheng001 this is ready for QA

[2015-03-06 17:04] #6913 closed

[2015-03-06 17:30] tcheng001 commented on #6950
@rbran100
1) When trying to add widget to the layout of this page (http://dev.scholar.harvard.edu/tcheng2/random-widget-page) after deploying the fix, I got an fatal error when clicking Save.
"Error: The website encountered an unexpected error. Please try again later."
However, if switching back to SCHOLAR-3.X, everything will be fine. I am able to add widgets to the page.

2) going to search on d

[2015-03-06 17:52] rbran100 commented on #6950
@tcheng001 should be all fixed, the dev server was having the same issue connecting to it's dedicated search service

[2015-03-06 18:24] tcheng001 commented on #6950
@rbran100
Can't remember if these are two cron jobs (apachesolr_cron and os_search_solr_cron) needed to be run for the newly added contents?
Anyway, I ran those two cron jobs. but it still finds nothing when searching "999LLL".  That string is in custom2 widget, and can be found in http://dev.scholar.harvard.edu/tcheng2.  Am I still missing something in the dev env?
![screen shot 2015-03-06 at 1 2

[2015-03-06 18:43] rbran100 commented on #6950
@tcheng001 I forgot to mention that updates need to be run, just wanted to make sure you ran updates before I check further?

[2015-03-06 19:09] tcheng001 commented on #6950
@rbran100
This time is better. No more problem occurs when adding widgets to the layout.
Search seems working for all other contents except for custom HTML widget. Searching anything in custom HTML widget returns 0 item found.
Tested on http://dev.scholar.harvard.edu/tcheng2

[2015-03-06 20:34] tcheng001 commented on #6991
@RoySegall
Can't import news anymore. Validation failed regarding news image file.
![screen shot 2015-03-06 at 3 08 54 pm](https://cloud.githubusercontent.com/assets/2111600/6535400/bc320036-c412-11e4-8a0d-a270176fab02.png)
I use [this same file](https://www.dropbox.com/s/x5owgt687v35wpo/news.csv?dl=0) to import into production without issue.

[2015-03-06 20:39] larrytooke opened #7018 "Installation issues: OS 7.x-3.20.0"
I have had issues with installing OS 7.x-3.20.0. (Downloaded from http://theopenscholar.org/download)

Am using xampp 1.7.7 with php 5.3.8 on Windows 7.

Would very much appreciate any assistance.

After the Install Site form I received the following warnings and strict warnings (screen shot follows):

• Warning in features rebuild of os. No module defines permission "access resource node".
• Warn

[2015-03-06 21:22] rbran100 commented on #6950
ok @tcheng001 I was able to fix the issues with indexing the content

[2015-03-06 21:33] tcheng001 commented on #6950
@rbran100   How to make it work on dev.scholar?
Still returns nothing when searching "1234QQQQ".  Do I need to run the cron jobs?

[2015-03-06 21:40] rbran100 commented on #6950
You need to go to apachesolr in admin config and queue all content for re-index. Then hit the index all queued content button.

[2015-03-08 10:16] RoySegall commented on #6991
Did not managed to reproduce this one:
![selection_346](https://cloud.githubusercontent.com/assets/1222368/6545377/fb7144b6-c58c-11e4-859e-64909726f2fe.png)
I'll test with of the dumps i own.

[2015-03-08 10:30] RoySegall commented on #7014
I need the CSV file for that - http://community.openscholar.harvard.edu/openscholar/topics/calendar-import-says-columns-are-missing-when-they-arent#reply_15444249

[2015-03-08 12:12] RoySegall commented on #7009
In which environment this occured? I can't reproduce with a dump. I think this relate to #6951

[2015-03-08 13:39] RoySegall commented on #7006
I need the original file. I tried to check with a CSV file that i saved via excel but didn't manged to reproduce.

[2015-03-08 14:33] RoySegall commented on #7008
I'll need the original file for that.

[2015-03-09 08:34] RoySegall commented on #7008
Never mind, i used Apple event ics file and i see the location is not begin populated. I'll fix that but i still need the original file just to make sure.

[2015-03-09 08:55] RoySegall commented on #7008
I used this file - https://drive.google.com/file/d/0B_6QRgJK078kT3JzN09qY2RqU3c/view?usp=sharing and it's OK:
![selection_349](https://cloud.githubusercontent.com/assets/1222368/6552117/b6f7d7b4-c64a-11e4-8749-4b66a5f5b9dd.png)

[2015-03-09 09:33] phanimahesh commented on #6938
I too have precisely the same issue.

[2015-03-09 11:10] RoySegall opened #7020 "Fix tests."

[2015-03-09 11:13] RoySegall commented on #7010
As far as i understand, the issue a little bit blur, the user try to import event with a start time. If so this need a change in the filed structure.

[2015-03-09 14:07] RoySegall commented on #7010
Never mind that. I was confused with other content type. Creating a PR.

[2015-03-09 15:43] rsasch commented on #6991
@RoySegall I got the same error when I tried to import a news item via csv file.

[2015-03-09 15:54] RoySegall commented on #6991
@rsasch Can you tell me what  the version of you entity validator?

[2015-03-09 15:58] RoySegall commented on #6991
You can check it in the info file of the module.

[2015-03-09 16:22] rsasch commented on #6991
@RoySegall my entity_validator.info  has no version information in it (just core = 7.x).

[2015-03-09 16:47] openscholar-admin opened #7023 "Unnecessary link/step leading to osdocs site"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unnecessary-link-step-leading-to-osdocs-site)

**The Plan**

Fix the "browse our online documentation" link so that it points to http://docs.openscholar.harvard.edu

**Description**

The "browse our online documentation" link in the Help modal leads to this site [http://projects.iq.h

[2015-03-09 16:53] rsasch commented on #7012
This is done in the media gallery module here: http://cgit.drupalcode.org/media_gallery/tree/media_gallery.fields.inc?id=f7c60f0aab513b82f7bf708abe3b36b08eb52032#n227.

[2015-03-09 16:56] rsasch commented on #7012
@rbran100  Do we want to override the media gallery default functionality?

[2015-03-09 17:40] mpetrovic opened #7024 "Rewrite Media Browser to use AngularJS and REST endpoints"
Port over the existing Media Browser to an entirely javascript-based solution.

Related Bugs:
* [x] Replace does not work (https://github.com/openscholar/openscholar/issues/7007)
* [ ] Edit/Replace on publications page should be used on all node forms, verify that this fixes (https://github.com/openscholar/openscholar/issues/7011)
* [x] Files from other sites show in the MB [One of 2 related ticke

[2015-03-09 17:48] #7001 closed

[2015-03-09 17:56] rbran100 commented on #6950
@tcheng001 I added an update to do this, all you need to do is run updates.  Then go to: http://dev.scholar.harvard.edu/admin/config/search/apachesolr and hit "Index remaining" to speed up the index process

[2015-03-09 17:57] matt-bernhardt opened #7025 "Custom front page missing after upgrade to latest versions"
This is a problem I initially reported via the Community forum here:

http://community.openscholar.harvard.edu/openscholar/topics/custom-front-page-missing-after-upgrade-to-3-16

Essentially, the department site on our OS platform uses a custom front page, but after trying upgrades to the newer versions, something gets reset and the front page is blank. I've been unable to recover it thus far on o

[2015-03-09 19:36] rbran100 commented on #7025
It looks like the value of "home" is what is expected for site_frontpage.  This value is not able to be edited typically unless you are a super-user.  This was done away with after we added more regions to the front page a few years ago.

[2015-03-09 19:43] rbran100 commented on #7011
@rsasch Sorry taking this from you, related to the update @mpetrovic is in the middle of

[2015-03-09 21:01] mpetrovic commented on #7024
The angularjs upload plugin allows us to use either the PUT or POST method to upload the file, according to its documentation. Attempting to use PUT results in a fatal error in RestfulBase.php, and attempting to use POST results in an exception in the same. So, uh...

[2015-03-09 21:07] rbran100 commented on #7024
What is the fatal / exception?

[2015-03-09 21:17] mpetrovic commented on #7024
Undefined method 'replace' on object 'RestfulCToolsPluginsDiscovery' in
'RestfulBase.php' line 734. Attempting to call $this->{$method} when
$method == 'replace'.

The exception is because there's no definition for POST in the second part
of RestfulBase::controllersInfo()
<https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulBase.php#L296>
.

[2015-03-09 21:32] matt-bernhardt commented on #7025
So, if I have a custom theme that was developed for OpenScholar back when this was possible, am I left with the choice of either A) staying on the old version, B) updating the theme to solve the front page a new way, or C) switching to a core OS theme and just heavily altering it to meet our branding needs?

I should clarify that this isn't being used at Harvard, and I should have super-user permi

[2015-03-10 08:17] RoySegall commented on #6991
@rsasch When did you last run the rebuild script?

[2015-03-10 08:53] RoySegall commented on #7013
It look that the bio widget have the the contextual link. Checking this one.

[2015-03-10 13:36] RoySegall commented on #6998
Let's keep just the tags that we allow from the ui itself and remove the inline styleing.

[2015-03-10 13:41] #7020 closed

[2015-03-10 13:57] rbran100 commented on #7016
@rsasch do you mind taking a look

[2015-03-10 14:30] mpetrovic commented on #7024
@RoySegall
To get this code working:
1. Checkout
2. Navigate to openscholar profile root
3. Run 'bower install ng-file-upload'. This will create the bower_components directory. It should be a sibling of modules, libraries, etc.
4. Enable os_common and media_browser modules.
5. Go to <domain>/media/browser/rest. Check console for errors. If there are none, you're good to go.

[2015-03-10 14:49] RoySegall commented on #7024
@mpetrovic On which branch? 3.x?

[2015-03-10 14:49] openscholar-admin opened #7027 "IE 11 Slideshow display issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/ie-11-slideshow-display-issue)

**The Plan**

[coming soon]

**Description**

This is a view from the slideshow in IE 11on the HWP Vibrant Bold theme

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1169643/IE11_slideshow_inline.png?1425995638)](https://d2r1vs3d9006ap.cloudfr

[2015-03-10 14:55] tcheng001 commented on #6950
@rbran100
It seems not working for searching content of custom/HTML widget. This is an example.
This page contains two custom HTML widgets (custom1 and Custom2).
custom1 contains text "1234QQQQ"
Custom2 contains text "999LLL"
![screen shot 2015-03-10 at 10 47 02 am](https://cloud.githubusercontent.com/assets/2111600/6577233/d2c209b0-c712-11e4-9472-5ff2a91a7f67.png)

When searching either texts, bo

[2015-03-10 15:21] tcheng001 commented on #7009
@RoySegall  @rsasch
Just double checked. It works in production (hwp), but fails in dev.hwpi.  This is the content of my import file.
******************
Title,Date,Body,Redirect,Image,Files,Created date,Path
This is the news title,Nov 24 2013,Text,,http://i60.tinypic.com/5cc93d.jpg,,,
******************
This is the error message when importing in the test site (http://dev.hwpi.harvard.edu/tormanhc

[2015-03-10 15:41] rbran100 commented on #7009
@tcheng001 are you testing this on SCHOLAR-3.x? I will rebuild now to make sure it has the new code Roy was talking about

[2015-03-10 15:42] rbran100 commented on #7009
@RoySegall I see:

https://github.com/Gizra/entity_validator.git.

[2015-03-10 15:44] mpetrovic commented on #7024
@RoySegall
The 'media_browser_rewrite' branch.

[2015-03-10 15:57] rbran100 commented on #7004
@labyrwa Very sorry for the delay, I thought I replied to this last week, I must have never hit comment.

The settings to make this happen for you can be seen in vsite_attach_fields_to_group_content https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/vsite/vsite.module#L1019

This normally is what creates the field on all group content, they key is the pre-populate sett

[2015-03-10 16:01] tcheng001 commented on #7009
@rbran100
Oops,  I think I tested in a wrong env.  I will retest it again on SCHOLAR-3.x.

[2015-03-10 17:34] rsasch commented on #6991
@RoySegall @tcheng001 @rbran100 I've rebuilt OS and, with my changes, the news.csv file that Torman was testing with imported without issue.

[2015-03-10 18:33] mpetrovic commented on #7024
Update:
Removed the version from the url (was localhost/api/1.0/files, is now localhost/api/files) and now I've got a new error that I assume is because of me. ('No CSRF token passed in the HTTP header.')

[2015-03-10 19:00] tcheng001 commented on #7010
@RoySegall
Could you change the wording and mention time?
"Field validation errors:
The start date/time should not be later than the end date/time."

![datetime_msg](https://cloud.githubusercontent.com/assets/2111600/6582557/65539548-c734-11e4-8f49-1daf69c5d403.png)

[2015-03-10 19:36] tcheng001 commented on #6991
@rsasch
Unable to import csv anymore.
Error: Resource is not a file or it is an empty directory: public://news_1.csv
Why import is looking the file named news_1.csv?   I just use the default template from download. The default template file name is news.csv.

[2015-03-10 19:46] rbran100 commented on #7016
@rsasch this is possibly related
http://community.openscholar.harvard.edu/openscholar/topics/images-go-missing-all-the-time?utm_source=notification&utm_medium=email&utm_campaign=new_topic&utm_content=topic_link

[2015-03-10 20:29] rsasch commented on #7012
Found a better way to go about this (I think).  Any reason that this line https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/modules/os_files/os_files.module#L500 should be inside that if statement?  If it's put outside, it gets called when the user saves an image in a media gallery, the field that the media_gallery module expects to be populated has the right text,

[2015-03-10 20:31] rsasch commented on #6991
@tcheng001 Are you testing the right branch?  It's 6991-import_file_urls.

[2015-03-10 20:34] rsasch commented on #6991
@rbran100 Now my PR looks like it should.

[2015-03-10 21:19] mpetrovic commented on #7024
@RoySegall
I figured out my problem. I was doing it wrong. You don't have to worry about this.

[2015-03-10 21:49] rbran100 commented on #6950
ok, think I have it fixed now torman
https://www.dropbox.com/s/hpo5bql53gwhi38/Screenshot%202015-03-10%2017.48.58.png?dl=0

[2015-03-11 00:56] tcheng001 commented on #7008
Marked "Fixed"

1) Now, importing event via ical file will populate location as well as other information.
2) If no location is from source, then the location field of the event will be empty after imported.
3) Tested some special characters in location field including ",", "-", ".", "#" and "/"

![an_event](https://cloud.githubusercontent.com/assets/2111600/6588395/9016ac9c-c767-11e4-8a8b-c85d049

[2015-03-11 11:40] RoySegall commented on #7010
Changed.

[2015-03-11 13:23] tcheng001 commented on #7010
@RoySegall    Label is still marked as "status: in dev".  Can I test now?

[2015-03-11 13:25] RoySegall commented on #7010
Yeah, I pushed the fixes.

[2015-03-11 14:10] tcheng001 commented on #7010
@RoySegall  @rbran100
I import a date/time like this (Mar 24 2015 3:52pm). The import runs successfully. The full node view shows the correct time.
![screen shot 2015-03-11 at 10 01 37 am](https://cloud.githubusercontent.com/assets/2111600/6597846/c436249e-c7d5-11e4-8f55-2f71e42ea098.png)
However, when you open the node form, the time is shown as 3:50pm.  That is confusing.
![screen shot 2015-03-1

[2015-03-11 14:15] RoySegall commented on #7010
Yeah, this is how date widget works - it's only allow 5 minutes jumps.

[2015-03-11 14:38] tcheng001 commented on #6991
@rsasch
Just double-checked again on 6991-import_file_urls.  Import OK. But the url of import files is still incorrect (something like  dev.hwpi.harvard.edu/files/\<filename\>). No vsite name in the url.

[2015-03-11 16:44] rsasch commented on #6991
@tcheng001 I just tested on dev.hwpi.harvard.edu (http://dev.hwpi.harvard.edu/deptest/news-path) and the pdf was uploaded to files/<vsite name>/files/<filename>.

[2015-03-11 17:43] tcheng001 commented on #6991
@rsasch
just checked the site.
The url of the news image file and the import csv file are incorrect. Only the url of the attachment is good.
![screen shot 2015-03-11 at 1 33 14 pm](https://cloud.githubusercontent.com/assets/2111600/6602796/55c02158-c7f4-11e4-9161-4299ef93bfdd.png)

[2015-03-11 17:51] rsasch commented on #6991
@tcheng001 Ah, ok -- I thought the issue was only with attached files, since that was what was in the issue description.  I will look into the placement of the news photo and the csv file itself.

[2015-03-11 18:36] openscholar-admin opened #7030 "Using a menu heading in a footer - theme issue(s)"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/using-a-menu-heading-in-a-footer-theme-issue-s)

**The Plan**

Resolve issue so that a menu heading is styled differently from menu links when the menu is placed in the footer.

Classic/Slate
Vibrant/Bold
Vibrant/Golden
Vibrant/Shade

**Description**

On the themes below, using a men

[2015-03-11 20:03] tcheng001 commented on #6950
@rbran100
If you think the problem happens in tcheng2 (same I mentioned in the chat)  is an isolated issue, we are good to go.  I did create another page containing custom HTML widget in another vsite, search works correctly this time.

Note:
1) HTML widgets that are on the all sections and on front page will not be indexed into a page's contents
2) no matter where the HTML widgets are placed in t

[2015-03-11 20:09] rbran100 commented on #6950
Wow, nice test cases.  I will debug that isolated incident more tonight, and see if I can tell what is going on.

[2015-03-12 07:44] RoySegall commented on #6998
Just a small update(didn't got the time to make a PR):  I manged to remove the tags but when all the tags are being removed and those that allowed - <em>, <sup> and <sub>

[2015-03-12 09:02] RoySegall commented on #6998
@tcheng001 This is ready for tests.

[2015-03-12 17:12] Kbentham opened #7032 "OS Menu Block in Context"
I have created a new OS menu and I am trying to add the menu block to a page using contexts. I see the menu block on the layout page but not in the list of blocks for the context reactions. I see the blocks for the Primary and Secondary Navs along with the other OS custom blocks but not my new menu. Are custom OS menus available from contexts?

[2015-03-12 18:11] rbran100 commented on #7032
They are not, they are only available within a site. The distinction is
that the ones you see are "Drupal Menu's" and are available on all sites,
and sometimes overridden within a site.  While your new one is content for
that specific site.  The blocks work with the same pattern.

On Thu, Mar 12, 2015 at 1:12 PM, Kbentham <notifications@github.com> wrote:

[2015-03-12 18:20] Kbentham commented on #7032
Thanks for the feedback!

[2015-03-12 18:20] #7032 closed

[2015-03-12 19:15] rbran100 commented on #7010
ready for QA

[2015-03-12 19:17] #7008 closed

[2015-03-12 19:18] #6950 closed

[2015-03-12 21:01] dancabral commented on #7030
Fixed. The menu heading in the footer of the above themes now stands out.
![screen shot 2015-03-12 at 4 56 08 pm](https://cloud.githubusercontent.com/assets/867075/6628122/5f1bbeca-c8d9-11e4-842c-d98f7ac4c0e9.png)
![screen shot 2015-03-12 at 4 55 34 pm](https://cloud.githubusercontent.com/assets/867075/6628123/5f1ea4e6-c8d9-11e4-9e1f-d5b911354480.png)
![screen shot 2015-03-12 at 4 54 23 pm](https:

[2015-03-12 21:01] #7030 closed

[2015-03-12 21:51] Kbentham opened #7036 "Context on custom pages"
I have created a custom page to display a search form and its results. I am trying to place a menu block on the page using context but It will not show up on my custom page. Is it possible to have contexts for custom pages? If not might there be another way to add the menu block to the custom page? I have tried using the layouts editor but I only want it on the one page and any layouts I make to t

[2015-03-12 22:44] mpetrovic commented on #7036
When you say 'custom page', do you mean you've made a Page post or
something else?

[2015-03-13 13:58] Kbentham commented on #7036
I 'm sorry I should have been more specific. I am using hook_menu() and hook_form() to build a search form with is associated  results. I am building up the html and including it in the search form which is displayed on the page I started describing above.

[2015-03-13 14:02] mpetrovic commented on #7036
You'll need to export a context then. You can create a new one through the UI and export it into code, or copy an existing one and fiddle with it to get what you want.

I would suggest the UI route.

[2015-03-13 14:14] tcheng001 commented on #7009
@RoySegall  @rbran100
Can't reproduce the issue any more when testing on SCHOLAR-3.x.  @rbran100   Can we close it?

[2015-03-13 14:17] Kbentham commented on #7036
Does it need to be exported before the block will show up in the specified region?

[2015-03-13 14:31] mpetrovic commented on #7036
No. As soon you create the context and put the block in it, it'll show up. You don't need to export it unless you want to put the context to code.

[2015-03-13 14:40] Kbentham commented on #7036
That is where I am having my problem. My block is not showing up and I'm sure I have the correct path condition.

[2015-03-13 14:42] Kbentham commented on #7036
I managed to get it using a different condition. Thanks for your help!

[2015-03-13 14:42] #7036 closed

[2015-03-13 14:53] tcheng001 commented on #6998
@RoySegall
I use the same title to test and find two issues.
1) the post is created successfully, but the long title is truncated. The last 14 characters (including space) are gone.
![screen shot 2015-03-13 at 10 42 32 am](https://cloud.githubusercontent.com/assets/2111600/6640432/b32b2778-c96d-11e4-9596-62baf7b94a6a.png)

If some of text are italicized, more characters are truncated. This is an e

[2015-03-13 14:57] openscholar-admin opened #7037 "/publications page not displaying all pubs"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-publications-page-not-displaying-all-pubs)

**The Plan**

Resolve issue so that all Pubs display on /publications page.

**Description**

Pubs prior to 2012 are not displayed at the end of this page [http://scholar.harvard.edu/ggs/public...](http://scholar.harvard.edu/ggs/publicatio

[2015-03-13 15:00] dancabral commented on #7037
Notes: this appears to be infinite scroll related.

[2015-03-13 15:13] mpetrovic commented on #7024
I think I'm using the vsite filter wrong. I added ?filter[vsite]={nid} to the GET call and it gives me an error 'The filter vsite is not allowed for this path'. I'm clearly missing something, but it's not important at the moment.

[2015-03-13 15:32] rbran100 commented on #7009
@tcheng001 sounds good

[2015-03-13 15:32] #7009 closed

[2015-03-13 18:13] rbran100 commented on #6998
@RoySegall can you take a look at @tcheng001 comment above and the pr comment

[2015-03-13 18:18] rbran100 commented on #7025
@matt-bernhardt without more details those options all seem valid.  I should say that another item added in the newer versions is the concept of "Custom Themes".  Individual sites can accept a zip or github repo that adds additional css/js/images etc on top of the current theme.

[2015-03-13 18:20] rbran100 commented on #7037
@ran81 could you take a look please, we should check term pages and other features as well to makes sure no other exhibit this issue with a large number of items. Welcome Back!!

@RoySegall

[2015-03-13 18:23] openscholar-admin opened #7038 "Capitalization of words in publications"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/capitalization-of-words-in-publications)

**The Plan**

Capitalization of the titles should not be changed.  This bug was likely introduced in the last release with a change to our CSL files.

We should correct this and if appropriate submit a patch to the CSL repository.

**Descript

[2015-03-13 18:29] openscholar-admin opened #7039 "All repeat events in the same series points to the first occurrence of the event."
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/all_repeat_events_in_the_same_series_points_to_the_first_occurrence_of_the_event)

**The Plan**

In the Upcoming Events block all repeat events in the same series points to the first occurrence of the event.

This is functionality that is present in the "List of Posts" but is not present in the default view

[2015-03-14 21:41] niccolox opened #7040 "Drupal 8 ?"
hi

sorry to ask a rude question

but what is the future of Open Scholar?

are you folks doing Drupal 8?

can you share any of the architecture of a likely D8 Open Scholar solution?

thanks

[2015-03-15 09:38] RoySegall commented on #7024
I'm trying to look on this one but the PR don't have the json file in order to download the components.

[2015-03-15 10:03] RoySegall commented on #7024
I managed to get the file upload(somehow) but it don't anything. About the error: The fix for the error is in the #6886 related PR. For that filter applied only for spaces endoint. After this will merge you'll be able to filter nodes or files by the vsite query argument.

[2015-03-15 11:27] RoySegall commented on #6998
I didn't encounter this problem before. I assume this is a design issue. I'll try to find something.

[2015-03-15 12:03] RoySegall commented on #6998
Now it's look much better:
![selection_355](https://cloud.githubusercontent.com/assets/1222368/6655893/9d6b4094-cb1b-11e4-97ce-9fdcad129a60.png)

About the trim of the title - the max length is 255. I tried to catch the last word `PERIOD` and wrap her with a lot of tags and hope to see the html breaks but i failed. I was hoping you'll manage to find it.

[2015-03-15 17:56] dancabral commented on #7005
Applied link color consistency fixes. Fixed responsive menu style issues. Fixed section nav colors.
![screen shot 2015-03-15 at 1 43 54 pm](https://cloud.githubusercontent.com/assets/867075/6657209/052a1166-cb1b-11e4-96ea-fd7fcc4d1a14.png)
![screen shot 2015-03-15 at 1 43 43 pm](https://cloud.githubusercontent.com/assets/867075/6657210/052a9b90-cb1b-11e4-9b20-6307e4165b76.png)

[2015-03-15 21:37] mpetrovic commented on #7024
Roy, what are you expecting to happen? The latest code should put up an
upload indicator in the top-right corner.

[2015-03-16 00:12] sylviefiat opened #7041 "Create Layout widget type for OpenLayers Map"
I need to use OpenLayers module to display some informations about research team and research fields, I would like to know how to add a new type of widget in the Layout part which would help create a Map widget, any idea how to do that ?
Thanks
Sylvie

[2015-03-16 00:17] sylviefiat opened #7042 "Import publications from feed"
I would like the publication app to read/import new publications from our Institute documentation department, they offer web services availables in different format such as bibTex per research team and per researcher. What would be a good way to create a "module" which would read from this web service and import new publications in your publication app/module ?
Thanks a lot again,
Sylvie

[2015-03-16 01:26] mpetrovic commented on #7041
All of our custom widgets are defined in the os_boxes module. You start by
implementing hook_boxes_plugins(), which defines what and where the plugin
will be. Then you extend the os_boxes_default class, and implement the
options_defaults(), options_form(), and render() methods (optionally,
options_submit()).

[2015-03-16 03:28] ran81 commented on #7037
Update:

I tried to reproduce this on clean installation and created dummy publications with devel but no luck.
I still don't know if it's relevant, but the only thing that I could see that's a problem for the year 2012 is that the ``<div class="biblio-separator-bar">`` tag that hold the year value has ``<i>`` tag inside it as opposed to all other years:
2013
![selection_999 486](https://cloud.git

[2015-03-16 07:38] ran81 commented on #7037
Update:

Downloading a Scholars DB. Will update.

[2015-03-16 07:41] RoySegall commented on #7024
I can see the progress bar but after i'm uploading something and the progress bar gone i assume i would redirect to some place.

[2015-03-16 10:00] ran81 commented on #7037
Update:

@RoySegall

I used a Scholars DB and I can reproduce this. Still can't say why this happens though. Any ideas?

[2015-03-16 10:01] RoySegall commented on #7037
Try to see if someone is messing with the query, a preprocess hook, variable. Those are the first suspects.

[2015-03-16 11:58] RoySegall commented on #7040
I think before any thoughts on Drupal 8 we need to wait for the contribute modules to be ready for Drupal 8. OG is only at 5% ready for Drupal 8. Don't forget purl, spaces, context.

[2015-03-16 12:06] RoySegall commented on #7042
OS importer using feeds in order to import nodes from external source: Except for biblio all the other content types support import from CSV. News and blog can be imported via RSS feed.

Publications strange for this one. You have various type. There are couple of ways i cant think of. If you want to pull automatically basing on a feed you can create your own feed importer. If you want that user w

[2015-03-16 13:01] mpetrovic commented on #7024
Nope, haven't gotten that far yet.

[2015-03-16 14:42] tcheng001 commented on #7012
Comma is still missing.
Tested on http://dev.scholar.harvard.edu/tcheng2/galleries/mygallery100
![screen shot 2015-03-16 at 10 37 50 am](https://cloud.githubusercontent.com/assets/2111600/6668348/b19344c4-cbc8-11e4-8434-e6d06f7251df.png)
The comma is gone when viewing the image on page
![screen shot 2015-03-16 at 10 40 13 am](https://cloud.githubusercontent.com/assets/2111600/6668384/0020828c-cbc9

[2015-03-16 15:22] dancabral commented on #7005
Finished fixing color discrepancies in Documental theme. Closing.
![screen shot 2015-03-16 at 11 19 35 am](https://cloud.githubusercontent.com/assets/867075/6669342/bedd0da8-cbce-11e4-81b1-d9d9ca13608e.png)

[2015-03-16 15:22] #7005 closed

[2015-03-16 15:50] tcheng001 commented on #6998
Marked "Fixed"
1)  italic, superscript, subscript and symbols are working as they used to be.
2)  italic, superscript and subscript tags are counted on the length of title. That mean if more tags are added, the title will be getting shorter.
3) the maximum length of title is 255 (including italic, superscript and subscript tag)
4) now, only portion of the title is shown in the form title if it is

[2015-03-16 17:37] Andrzejgo opened #7043 "Unexpected T-FUNCTION in citation_distribute_service_repec.inc"
Note: I have changed the title of the ticket in order to be more specific. Error message is pasted to my first comment below.
+++++
My provider Home.pl provides complete Drupal standard installation in the subdirectory of so clalled "autoinstallator", and FTP acess, mode rewrite on.
I transfered all OS profile to Profiles directory. Drupal core is the same as that of the newest OS release.
My .hta

[2015-03-16 18:34] rbran100 commented on #7043
@mpetrovic you run openscholar in a subdirectory, have you hit this issue?

[2015-03-16 19:07] Andrzejgo commented on #7043
I have Drupal in teh subdirectory, something like that: .../autoinstallator/drupalN. I have many portals (varius N) under this autoinstallator working well.
I preformed 2 tests: a) replaced all Drupal installation with complete package od OS, of caourse modifying .htaccess, and checkig that there is no difference in default.settings.php before install procedure. This test failed to start installat

[2015-03-16 19:37] dancabral commented on #7023
Nodes HWP 57421 Scholar: 86316 projects: 37306

[2015-03-16 20:12] dancabral commented on #7023
The "browse our online documentation" link now points to http://docs.openscholar.harvard.edu in all (3) installs schol, proj and hwp. closing.
![help center 2](https://cloud.githubusercontent.com/assets/867075/6675503/30bbfdb2-cbf7-11e4-849f-1ab589d2d7a9.png)

[2015-03-16 20:12] #7023 closed

[2015-03-16 20:16] mpetrovic commented on #7043
I haven't installed in a while, but I don't see why it should fail. The
fact that Drupal is in a subdirectory is only really relevant when trying
to add domains to htaccess.

On Mon, Mar 16, 2015 at 2:34 PM, Richard Brandon <notifications@github.com>
wrote:

[2015-03-16 20:19] openscholar-admin opened #7044 "Login here link on Private Site/Accessed Denied page isn't noticeable"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/login-here-link-on-accessed-denied-page-isnt-noticeable)

**The Plan**

Make the login here link text bold and underlined.

**Description**

The Login here link on Private Site/Accessed Denied page isn't noticeable. It should be bold and underlined.

 [![img](https://d2r1vs3d9006ap.c

[2015-03-16 20:27] rbran100 opened #7045 "Adding Book Page clears cache"
Creating a book page causes this chain of events to happen:
https://api.drupal.org/api/drupal/modules!book!book.module/function/book_node_insert/7
https://api.drupal.org/api/drupal/modules%21book%21book.module/function/_book_update_outline/7
https://api.drupal.org/api/drupal/includes%21menu.inc/function/menu_link_save/7
https://api.drupal.org/api/drupal/includes%21menu.inc/function/_menu_clear_pag

[2015-03-16 20:30] rbran100 opened #7046 "Performance issue with expire (Acquia Purge)"
We should update our patched version of acquia_purge, this is causing deadlocks because of multiple variable_set actions.

http://cgit.drupalcode.org/acquia_purge/tree/acquia_purge.module#n1928

[2015-03-16 20:30] mpetrovic commented on #7045
Localizing the cache clears to a single site would be more suitable. The
menu cache still needs to clear if the link is to show up on the page.

[2015-03-16 20:33] rbran100 commented on #7045
Right, looks like there is already a mechanism for clearing a single menu.  Not sure why it takes the extra step to do a CC ALL / page cache clear

[2015-03-16 20:35] mpetrovic commented on #7045
Probably to make sure all the book pages got the new link for anons.

[2015-03-16 20:36] dancabral commented on #7044
@tcheng001 the Login here link should now be bold and underlined on an accessed denied page.
![screen shot 2015-03-16 at 4 32 45 pm](https://cloud.githubusercontent.com/assets/867075/6675927/90282bce-cbfa-11e4-9e06-89a6311e77e1.png)

[2015-03-16 21:20] labyrwa commented on #7004
Thanks, this worked for us

[2015-03-16 21:20] #7004 closed

[2015-03-16 21:27] labyrwa opened #7047 "Faceted Taxonomy widget customization"
Using the Faceted Taxonomy widget the vocabularies always appear in alphabetical order, is there a way to override this functionality so that they appear in the order that they are in the /cp/build/taxonomy?

[2015-03-16 22:00] sylviefiat commented on #7041
Ok I will try that,
I also found this:
https://github.com/openscholar/openscholar/wiki/How-to-create-an-OS-box
Do I specifically need to add module to /openscholar/modules/os/modules/os_boxes/plugins or can I add my module in my drupal specific modules instead (in sites/all/modules) ?

[2015-03-16 22:02] sylviefiat commented on #7042
That's sort of what I did in a previous CMS, I will try to create that publications importer.
Thanks for reply.

[2015-03-16 22:19] mpetrovic commented on #7041
You should make your own module. It's best practice to avoid modifying code
you got from someone else if you can help it.

[2015-03-17 03:12] sylviefiat commented on #7041
Of course it's always better. Any custom widget example I could use to implement mine ?

[2015-03-17 13:19] mpetrovic commented on #7041
os_boxes_media_embed is probably closest to what you want. I'm not sure
what inputs you're expecting though.

[2015-03-17 13:44] rsasch commented on #7012
@tcheng001 In order for the change I made to go into effect, you need to go into the edit screen of the image and submit the form, as the fix happens when that form is submitted.  If you do that and you're still not seeing the fix, let me know.

[2015-03-17 15:15] tcheng001 commented on #7012
Marked "Fixed"
Punctuations are shown as expected in image title now.
![screen shot 2015-03-17 at 11 06 53 am](https://cloud.githubusercontent.com/assets/2111600/6690239/c3979ff8-cc95-11e4-8bb2-359999d99102.png)

[2015-03-17 15:25] #7012 closed

[2015-03-17 15:30] tcheng001 commented on #7044
Marked "Fixed"

[2015-03-17 15:37] #7044 closed

[2015-03-17 15:53] rbran100 commented on #7047
It looks like that is hardcoded in the the render of the block.
https://github.com/openscholar/openscholar/blob/9657320998f2db6665dc9f43a554d71353d61d4e/openscholar/modules/os/modules/os_boxes/plugins/os_boxes_facetapi_vocabulary/os_boxes_facetapi_vocabulary.inc#L226

I think it makes sense to order this based on the order in /cp/build/taxonomy, it may just be that that line needs removing for it

[2015-03-17 15:56] rbran100 commented on #6996
@RoySegall this is re-opened because of a small remaining issue, please see.
http://community.openscholar.harvard.edu/openscholar/topics/access-denied-when-trying-to-sign-up-for-an-event-that-is-in-a-lop#reply_15479447

[2015-03-17 17:09] Andrzejgo commented on #7043
I tried to install OS from fresh copy of complete OS package. Unexpected error occured during installation of modules:
An AJAX HTTP error occurred. HTTP Result Code: 200 Debugging information follows. Path: http://myserver.pl/autoinstalator/drupal18/install.php?profile=openscholar&locale=en&id=1&op=do StatusText: OK ResponseText: Parse error: syntax error, unexpected T_FUNCTION in /autoinstalator/

[2015-03-18 04:26] ran81 commented on #7037
Update:

@RoySegall
I found the reason for that. In the following screenshot we see the html for the 3 page that we get back via ajax (the autopager stops after 2):
![selection_999 488](https://cloud.githubusercontent.com/assets/4497748/6702645/883452c4-cd69-11e4-867e-586bc4f854e4.png)

As you can see the problem is the wrapping ``<i>`` tags. We give a selector for the "next" link of
``#content li

[2015-03-18 07:14] RoySegall commented on #7042
There is already a biblio import mechanism. You can try use him.

[2015-03-18 08:15] ran81 commented on #7038
Update:

@RoySegall
The site above uses the Chicago Manual of style CSL file.
I think this is indeed related to https://github.com/openscholar/openscholar/pull/6934 when the CSL file was updated. When I use the old CSL file I don't get the capitalization of every word.

Old CSL:
![selection_999 490](https://cloud.githubusercontent.com/assets/4497748/6704884/c32bae0c-cd89-11e4-91a7-505a0e47b406.png

[2015-03-18 08:50] RoySegall commented on #7039
When you create a recurring event - date field does not create for you more nodes but create multiple deltas. When we iterating over the field delta in the LOP we can know the delta and present the correct date according to the occurrence.

When we in the node page we need to pass the delta in the query string.

[2015-03-18 08:56] RoySegall commented on #6996
Checking this one.

[2015-03-18 10:11] ran81 commented on #7039
Update:

@RoySegall
I can implement ``theme_views_view_field`` and try there to alter the link so we can have a query string.
Will update.

[2015-03-18 10:16] RoySegall commented on #6996
OK, I fixed that one but there is a problem when change the capacity we need to invlidate the cache of the event boxes.

[2015-03-18 12:13] rbran100 commented on #6996
Ready for QA

[2015-03-18 12:14] rbran100 commented on #7037
@tcheng001 this is ready for QA

[2015-03-18 12:15] rbran100 commented on #6998
Waiting on restarted tests

[2015-03-18 12:22] rbran100 commented on #6996
@RoySegall just saw your comment about cache, can we call os_boxes_invalidate_cache($entity, $type); with "node", "Events" when a registration is submitted, the code probably belongs in the os_boxes module

[2015-03-18 12:54] RoySegall commented on #6996
We need to do that with some minor changes.

[2015-03-18 13:14] rbran100 commented on #6996
OK, @tcheng001 will wait to QA till that is ready

[2015-03-18 13:16] halakahiki82 commented on #6865
Any resolution to this?  We're running PHP 5.5.12 on a fresh install of Ubuntu Server 14.04 and getting this error exactly. Line 911, white screen of death after install.  Many of the same script warnings.

[2015-03-18 13:25] rbran100 commented on #7039
Please read the description above! we want to get rid of the views block and use the box instead.  After you have read it please let me know if you have any questions.

[2015-03-18 14:17] RoySegall commented on #7038
@ran81 Let's jus handle the part of the capitalization. The new csl can left as is.

[2015-03-18 14:36] RoySegall commented on #6996
Now it's ready for QA.

[2015-03-18 16:09] rsasch commented on #6991
added test from @RoySegall 's PR and additional changes to put csv and attached news photos in the right place

[2015-03-18 17:34] pkahai commented on #6865
No more information available.  As was suggested, I had to do a multi-tenant install.  I went through the Drupal website and changed various Apache and PHP.INI configuration settings.  In the final install, I still see Warnings / Strict Warnings but the site works!  Part of the problem is related to the default template used, so I used one of the other installed templates.  If you believe that the

[2015-03-18 17:36] halakahiki82 commented on #6865
@pkahai yes that would be amazing! I've been making changes to the php.ini settings and we thought for a while there were some issues with DNS name resolution, but it still gives the same error.  If you could share your doc I would very much appreciate it.

[2015-03-18 17:39] pkahai commented on #6865
Sure thing.  I hope the attachment reaches you.  If it doesn’t, please let me know and I can figure out a way to get it to you.

____________________________________________________

Paramjit "Perry" Kahai, Ph.D.
Adjunct Faculty, ISMN
Asst. Dir., Geospatial Research & Applications Center
Harbert College of Business

From: halakahiki82 [mailto:notifications@github.com]
Sent: Wednesday, March 18, 20

[2015-03-18 17:48] halakahiki82 commented on #6865
Did you attach it here? Or send it in a message directly?

[2015-03-18 17:57] tcheng001 commented on #6996
@RoySegall
1)  For your information
Found something strange on production.
Place List of Posts widget (event) in event section.
You would see Sign up link when you are in calendar view.
![screen shot 2015-03-18 at 1 15 10 pm](https://cloud.githubusercontent.com/assets/2111600/6714838/e90b8020-cd70-11e4-97df-9efc2e810b72.png)

If you click the title of the event,  users wouldn't see the sign up lin

[2015-03-18 17:57] pkahai commented on #6865
No, I attached it . . .

But, download it here.

https://drive.google.com/file/d/0BxWORJYpnVtNVS02MU9QX1hteUU/view?usp=sharing

____________________________________________________

Paramjit "Perry" Kahai, Ph.D.
Adjunct Faculty, ISMN
Asst. Dir., Geospatial Research & Applications Center
Harbert College of Business

From: halakahiki82 [mailto:notifications@github.com]
Sent: Wednesday, March 18, 201

[2015-03-18 17:59] halakahiki82 commented on #6865
Ah, got it now.  Didn't attach here but got your link. Thanks! The first half I've already done, but checking out the rest now. Thanks!

[2015-03-18 18:35] tcheng001 commented on #6996
@RoySegall
Right after the last slot is registered, the signup link still shows up in the widget. I notice that the link will be gone after the page refreshes. Is this the design?

[2015-03-18 18:48] halakahiki82 commented on #6865
So most of the changes in your document we had, there were a few I went through that helped and we finally got past the WSOD, to this:

Error message
* Notice: Undefined index: oembed in os_files_init() (line 25 of /var/www/html/profiles/openscholar/modules/os/modules/os_files/os_files.module).
* PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL sy

[2015-03-18 18:53] rbran100 commented on #7010
@RoySegall Please see my comment above

[2015-03-18 18:55] rbran100 commented on #7006
@tcheng001 can you tell @RoySegall how to reproduce or link to a file you have saved in Excel

[2015-03-18 19:04] mpetrovic commented on #6865
That error can be fixed by truncating the 'cache' table.

[2015-03-18 19:10] mpetrovic commented on #7014
CSV Built from this file:
![calendarimportnotworking](https://cloud.githubusercontent.com/assets/611447/6717140/d756dea0-cd80-11e4-8b0a-af5483f152dd.png)

e-mailing it to you.

[2015-03-18 19:14] rbran100 commented on #7040
Could not have said it better @RoySegall

[2015-03-18 19:16] openscholar-admin opened #7052 "Modern theme / Saffron flavor - make rules consistent"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/modern-theme-saffron-flavor-make-rules-consistent)

**The Plan**

[coming soon]

**Description**

In Modern theme / Saffron flavor the dividing rule styles vary somewhat. They should look the same. See.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1174331/brianapendleton

[2015-03-18 19:20] rsasch commented on #7016
Was able to replicate the issue; still trying to figure out what the exact series of steps that leads to the problem are.

[2015-03-18 19:26] rbran100 commented on #6991
@rsasch the PR looks good, @tcheng001 ready for QA

[2015-03-18 19:40] rsasch commented on #7016
Looks like it might have to do with having a widget displaying a LOP of Media Galleries in "Full Content" mode, which includes a "Add media" link for each.

[2015-03-18 20:18] tcheng001 commented on #7006
This is the [file](https://www.dropbox.com/s/fa6lelvo76i80xg/news.csv?dl=0) I downloaded and saved in Excel.  I didn't change the file, only saved it in Excel.  Excel shows a warning and I just click Continue to save.
@RoySegall
![screen shot 2015-03-18 at 4 08 05 pm](https://cloud.githubusercontent.com/assets/2111600/6718281/ffa21bb0-cd88-11e4-8451-2e713e0b7930.png)

Check the template file in an

[2015-03-18 20:27] pkahai commented on #6865
Great @halakahiki82!

[2015-03-18 20:48] labyrwa opened #7053 "Add dynamic pages to OS Section"
Is there any way to add a dynamic page like a view or solr search to the OS Section? Currently running into issues having to hack around the menu and the active trail settings since there doesn't seem to be a way to add non-node pages to a section.

[2015-03-19 02:49] ran81 commented on #7039
@rbran100

Thanks for clearing that up.
I have a few questions though:
1. Do we want a plugin in os_boxes or a plugin for the os_sv_list?
2. In the LOP when a user chooses "Event" as content type he still can sort the events not by date (oldest/new post etc.). So my question is, does the option "Events should expire when:" should appear only if sorting by date is selected?
Thanks.

[2015-03-19 02:52] rbran100 commented on #7039
1. We should use the existing lop plugin
2. Yes

[2015-03-19 09:51] RoySegall commented on #7006
@tcheng001 Awesome! I mean it's bad that the error occurred but it's good i could reproduce it.
![selection_356](https://cloud.githubusercontent.com/assets/1222368/6727868/11f1cca2-ce2e-11e4-8eb0-5680a6c26166.png)
In the screen shot i can see the error: we have \r in the path and then we can't parse it well.There is a code that need to handle it i'll check why it failing.

[2015-03-19 10:25] RoySegall commented on #7014
I got another error:
![selection_357](https://cloud.githubusercontent.com/assets/1222368/6728519/01cab424-ce33-11e4-8cf4-8a8459c0c062.png)

[2015-03-19 11:18] RoySegall commented on #7014
I did not got any error messages as you mentioned. You can try to import those files on the #7010 branch.

[2015-03-19 11:27] RoySegall commented on #7010
Hmm.... This could be tricky. I can alter the date the user set in the CSV and notice him for that change.

[2015-03-19 13:26] RoySegall commented on #7010
I got the function that change the hour to what we need. What left is to reformat the date.

[2015-03-19 15:15] tcheng001 commented on #7006
marked as "Fixed"

Tested on both Mac and PC platform.
1) Download a template and import it without opening in Excel
2) Download a template and save it in Excel
3) Download a template, modify and save it in Excel

[2015-03-19 15:15] dancabral commented on #7015
@tcheng001 let me know when you're ready to QA this. thanks.

[2015-03-19 15:43] tcheng001 commented on #6991
@RoySegall
Found a problem, the imported csv file is listed twice in /cp/content/files. I only imported the file one time.
![screen shot 2015-03-19 at 11 40 07 am](https://cloud.githubusercontent.com/assets/2111600/6734150/d5f5f918-ce2c-11e4-87a7-c3c439e13557.png)

[2015-03-19 15:45] rsasch commented on #6991
@tcheng001 Are the files linking to different paths or to the same exact file?

[2015-03-19 15:54] tcheng001 commented on #6991
@rsasch
It seems that the file is uploaded twice for some reasons because
the path of the first one is http://dev.scholar.harvard.edu/files/tcheng5/files/news.csv
the path of the second one is http://dev.scholar.harvard.edu/files/tcheng5/files/news_0.csv
but only one post is listed in /tcheng5/news page.

[2015-03-19 15:59] rbran100 commented on #6991
I think this has to do with @roysegal fix for carrage returns.

[2015-03-19 17:35] tcheng001 commented on #7013
Marked "Fixed"

Tested on http://dev.hwpi.harvard.edu/web/pages/featured-sites. All Custom/HTML widgets in the accordion widget are accessible.
![screen shot 2015-03-19 at 1 32 59 pm](https://cloud.githubusercontent.com/assets/2111600/6736683/b8e6cfa4-ce3c-11e4-938e-2ad0778eea42.png)

[2015-03-19 19:12] rbran100 commented on #7053
A section is really just a context, so you can add whatever patterns to the context you would like.

[2015-03-19 19:32] labyrwa commented on #7047
Editing the aforementioned plugin does not solve the issue. It removes the alphabetizing but currently there doesn't seem to be a way through OpenScholar to access the taxonomy weight/ordering done via click-and-drag in the control panel.

I have forked and looked at solving this issue, but there doesn't seem to be a way to access that information. Any suggestions?

[2015-03-19 19:47] rsasch commented on #7016
The issue has to do with this part of the media_gallery module: http://cgit.drupalcode.org/media_gallery/tree/media_gallery.module#n325.  With the multiple "full node" views, the setting 'mediaGalleryAddImagesUrl' gets set and then overwritten, ultimately being stuck in the state it was last set.

[2015-03-19 20:33] Kbentham commented on #7047
Hi everyone!

I have done some investigating as to where the initial order comes from and how we might get the vocabs to sort based on weight. In the options form of the faceted taxonomy block (options_form() in os_boxes_facetapi_vocabulary.inc) we are calling the os_search_solr_get_bundle_vocabularies() method which returns the list of vocabs as key value pairs. That method calls os_get_vocabular

[2015-03-19 21:44] Andrzejgo commented on #7043
Could anyone look closer at this issue, and help me? I am an industrial engineer, not information  engineer or developer.
I badly need such elastic application as OS for a huge programme including dozens of projects, institutions and org, units, thosands of people... Please help.

[2015-03-20 15:00] tcheng001 commented on #7015
@dancabral    Marked "in dev"
Need better contrast on the menu items in nice menu. This is an example.
The menu items (links) are white in color while the background color is light grey.
![screen shot 2015-03-20 at 10 51 03 am](https://cloud.githubusercontent.com/assets/2111600/6753982/201d51da-cef0-11e4-9190-9196badc3b9b.png)

[2015-03-20 15:01] rsasch commented on #7016
<strong>The Plan</strong>

Disable the "add media" links in the "full content" display of LOP widgets for Media Galleries.

[2015-03-20 15:37] rbran100 commented on #7014
Should test with #7010 branch

[2015-03-20 16:05] #7006 closed

[2015-03-20 16:49] tcheng001 commented on #7037
@ran81
See two Load All buttons.
Tested on http://dev.scholar.harvard.edu/ggs/publications
Steps to reproduce:
go to http://dev.scholar.harvard.edu/ggs/publications
drag down the scroll bar 4 times
see Load more and Load All button

![screen shot 2015-03-20 at 12 40 51 pm](https://cloud.githubusercontent.com/assets/2111600/6756156/5e238a36-cefe-11e4-94fb-a2c96be130f3.png)

click Load more and see

[2015-03-20 17:30] dancabral commented on #7027
I cant reproduce this in my copy of IE11. Pushing off for next release. I'll update the matching GS tic.

[2015-03-20 18:05] tcheng001 commented on #7015
marked "Fixed"
Checked
1) listing of all apps
2) menus
3) list of Post widget
4) accordion widget
5) column widget
6) tab widget

[2015-03-20 18:22] #7013 closed

[2015-03-20 18:28] dancabral commented on #7052
Fixed. The diving rules are now consistent.
![brianapendleton](https://cloud.githubusercontent.com/assets/867075/6758288/6e40d414-cf0d-11e4-9e4b-440e29601e2c.png)

[2015-03-20 18:28] #7052 closed

[2015-03-20 19:09] #7015 closed

[2015-03-20 20:06] rsasch commented on #6991
@rbran100 Nope, had to do with changes I made to file upload handling in the importer module. Hopefully fixed now.

[2015-03-22 12:43] RoySegall commented on #6996
@tcheng001 I improved all the notes you mentioned above.

[2015-03-22 13:52] RoySegall opened #7057 "Taxonomy end point"
#6811

There are few things we need to handle in this one:
* [x] How does the OG vocab fields affect us
* [x] How the vsite argument should play

[2015-03-23 11:28] RoySegall commented on #7057
Well.. It seems i found another problem. I can create a taxonomy term but i can't update the term. Checking this.

[2015-03-23 12:25] RoySegall commented on #7057
https://github.com/RESTful-Drupal/restful/pull/445

[2015-03-23 13:47] rbran100 commented on #7039
@tcheng001 Ready for QA

[2015-03-23 14:13] tcheng001 commented on #6991
@rsasch
I import the new template file for the first time. There are 3 files in /cp/content/files.
news.csv
cachorro-feio-brad-pit-bull-297x250.jpg
harvard-fy.pdf

Then, I import the same template file one more time. I got 5 files in /cp/content/files.
Only one news.csv appears there.  The link is  /files/\<vsite\>/files/news_0.cvs.
The news.csv imported in the first time is gone or replaced by th

[2015-03-23 14:20] rsasch commented on #6991
@tcheng001 @rbran100 Before I make more changes, what is the expected behavior here?  If the user uploads two csv files with the same name, should they both appear (one with an enumerator)?  Or should the second replace the first and the file name remain unaltered?

[2015-03-23 14:34] tcheng001 commented on #7037
Marked "Fixed"
Tested on http://dev.scholar.harvard.edu/ggs/publications?
1) Load All button works properly
2) If users scroll down 4 times, Load More and Load All appear.  Clicking Load All will load the pages.
3) When Load More and Load All button appear in the bottom of the page, clicking Load More will make the two buttons becoming 3 buttons (Load All button, Load more button and then Load All

[2015-03-23 14:44] tcheng001 commented on #6991
@rsasch
I guess that users could use the same file name for different import. Personally, this is NOT a good idea. For consistency, if we decide to keep all imported cvs file, then the cvs (even the name is same as others) should be kept in the system.

[2015-03-23 15:44] rbran100 commented on #6991
@rsasch They should both be present, one with the enumerator.  We have no way of knowing if it is the same import or not, so if we are keeping it we should keep both.  The same holds true for attached files, like photo.jpg

[2015-03-23 15:48] tcheng001 commented on #6996
Marked "Fixed"
setup:
1) Create an event with registration
2) Create a List of Post widget (event) and place it in calendar section. Note: Display style is set to "Full Content"
3) Place the widget in front page

For logged-in users:
1) they access the sign-up link in the event full node view, from the List of Post widget in the calendar section, from List of Post widget in the front page.
2) when

[2015-03-23 18:34] tcheng001 commented on #7010
@RoySegall
1) Question: is the value of minute round down?  For example: 24,23,22 and 21 round down to 20 while 29,28,27,26 down to 25
2) No matter what minute I enter (even like 5:20, 3:00), the system always shows this warning. I think it shouldn't if the minute value is a multiple of 5.
![event_import_warning_msg](https://cloud.githubusercontent.com/assets/2111600/6787175/77ba0676-d167-11e4-89c

[2015-03-23 19:16] #7037 closed

[2015-03-23 19:22] #7014 closed

[2015-03-23 19:25] rbran100 commented on #7038
@ran81 Can you submit the CSL change to the repo here: https://github.com/citation-style-language/styles/blob/master/chicago-author-date.csl

[2015-03-23 19:33] rbran100 commented on #7016
I would add a patch to the media_gallery module here: http://cgit.drupalcode.org/media_gallery/tree/media_gallery.module#n332

It looks like they already have code to make the add media link work when you have multiple links.

I would change it to:
[code]

[2015-03-23 19:48] rbran100 commented on #7011
Moved to April

[2015-03-23 19:48] rbran100 commented on #7007
Moved to April

[2015-03-23 20:11] rbran100 commented on #6996
@RoySegall marked in dev, comments in PR

[2015-03-23 20:45] tcheng001 commented on #7039
If you click one occurrence of the recurring event, the full node view is good. It shows all data.
![screen shot 2015-03-23 at 3 51 10 pm](https://cloud.githubusercontent.com/assets/2111600/6789193/eeabc320-d174-11e4-92d1-66ab37987eef.png)

If I click the event link from the default UPCOMING EVENTS widget, no day/time info is shown in full node view.
![screen shot 2015-03-23 at 3 56 02 pm](https:/

[2015-03-23 20:54] tcheng001 commented on #7039
@ran81
The occurrence of recurring event doesn't show up in LOP.
The current local time is 4:50pm and the start time of the occurrence is 4:35pm. Also, I pick this option in LOP widget.
![screen shot 2015-03-23 at 4 52 03 pm](https://cloud.githubusercontent.com/assets/2111600/6790280/f32eb9ea-d17c-11e4-8c69-036bea4155a5.png)
The occurrence should list in LOP widget but it doesn't.

[2015-03-23 21:52] labyrwa commented on #7047
It looks like these didn't really pan out. @rbran100 Do you have any idea where else OS would be overriding this functionality? Or how we would hook into the weight option to get it sorting by weight instead of alphabetically?

[2015-03-24 06:52] ran81 commented on #7039
@tcheng001

Can you please tell me your specific details? It seems to work OK for me.
For me the repeating event shows up in the LOP with the setting you have (which is the default).I have an event that starts at 10:00am. The time now is 10:25:
![selection_999 507](https://cloud.githubusercontent.com/assets/4497748/6796857/2156bb7a-d235-11e4-9e56-cbaf4b816c6e.png)

As for the event links in the vi

[2015-03-24 07:22] RoySegall commented on #7010
@ran81 Can you change the message?

[2015-03-24 07:23] RoySegall commented on #6996
@ran81 Can you take this one?

[2015-03-24 09:33] ran81 commented on #7010
Update:

Changed the message and addressed the last comments from @tcheng001:
![selection_999 509](https://cloud.githubusercontent.com/assets/4497748/6798835/d0b9c7ea-d24b-11e4-97ef-6f262a6a1f66.png)

[2015-03-24 15:27] tcheng001 commented on #7010
Marked "Fixed"

Now, import accepts time as well.  So users can import events with or without time specified. The format of time is something like 10:20am, 9:55pm.

If the minute value is not a multiple of 5 or 0, it will be altered.  For example, 10:21am will be changed to 10:20am during the process of import. Also, a warning message is shown to users. The minutes are always rounded down to neare

[2015-03-24 15:41] RoySegall commented on #7038
@rbran100 I found a solid solution. The secondary title have the property `variable="container-title"`. The title have "title"  - https://github.com/citation-style-language/styles/blob/d224516d3ae8359503c035efbfcee34eb7c0ca9b/chicago-author-date.csl#L195.

This is reflected at `$this->var`. I'll make a PR for that one.

[2015-03-24 16:12] tcheng001 commented on #7039
@ran81
Tested on http://dev.scholar.harvard.edu/tcheng5/calendar
1) I got an error when I click an recurring event from calendar.
"The URL might be incorrect or have changed. Please go back to the homepage"
![screen shot 2015-03-24 at 11 45 12 am](https://cloud.githubusercontent.com/assets/2111600/6805842/91e94138-d21b-11e4-806c-589a72a5e20e.png)

2) Recurring event shown't up in List of Posts wid

[2015-03-24 17:31] rsasch commented on #6991
@tcheng001 Saving of .csv import file should be acting as expected now.

[2015-03-24 18:53] tcheng001 commented on #6991
Marked "Fixed"

All imported files (including the csv file itself) have a correct URL like the following format /files/\<vsite\>/files/file_name

if the same file name has already existed in the system, the file name will be altered by adding a suffix like _0, _1, etc.

[2015-03-24 20:30] #7053 closed

[2015-03-24 20:31] rsasch commented on #7016
@rbran100 Unfortunately, both the if and else cases result in javascript being written into the code of the page defining an array of settings.  Since that array is given the same name/keys each time, the values in last one that's set is the one that's used in all instances of the "add media" link.

[2015-03-24 20:50] rbran100 commented on #7047
Just seeing this now, It looks like you have an excellent solution in #7061.  Is there anything else that this does not accomplish?

[2015-03-25 06:56] ran81 commented on #7039
@tcheng

1. The links for the events should now be fixed after the last commit.
2. Your comment is inconsistent with the image I'm afraid but I understand what you say.
Event 2 shows up (you said 1) and Event 1 doesn't. This is because the default behavior of the widget (which is left as is in the PR) is: "Get all events that started up to 30 minutes ago, and end in the future".
This is why the ev

[2015-03-25 12:17] RoySegall opened #7062 "LOP caching cause for a bad UI when displaying events."
On a node event create LOP for events and set the node view mode to full.

The results will be like this:
![selection_366](https://cloud.githubusercontent.com/assets/1222368/6824290/7f2335ca-d2f9-11e4-90f2-18db7506625a.png)

When visiting another node the widget will display the same output as it was in the first time you viewewd it:
![selection_367](https://cloud.githubusercontent.com/assets/1222

[2015-03-25 12:56] bostanci commented on #7018
Hi,

I am having the completely same issue.

Thanks!

[2015-03-25 13:00] rbran100 commented on #7018
It appears that those warnings are harmless, we will tackle as many as we can (what lies in code that is not contributed).  I would turn off warnings in the short term, none of the php warnings will prevent operation.

[2015-03-25 13:01] bostanci commented on #7018
Thanks very much!

[2015-03-25 13:30] RoySegall commented on #7039
Not working for me. Each time i visit other instance of the event i'm getting the first delta.

[2015-03-25 13:33] labyrwa commented on #7047
No everything we have is there. This is good to close.

[2015-03-25 13:35] rbran100 commented on #7047
@tcheng001 I am having a foggy morning, and merged this into 3.x before you tested it.  Do you mind taking a look and validating on 3.x

[2015-03-25 14:47] tcheng001 commented on #7047
@rbran100
Tested on 3.x but I don't see any changes. http://dev.hwpi.harvard.edu/tormanhc3/classes.
The ordering of terms in dev is the same of prod even I changed the ordering of terms in /cp/build/taxonomy in dev.  This is an example.
![screen shot 2015-03-25 at 10 45 22 am](https://cloud.githubusercontent.com/assets/2111600/6827121/13f198a4-d2dc-11e4-9b85-6b0a7eb7a1da.png)

![screen shot 2015-0

[2015-03-25 14:50] rbran100 commented on #7047
@tcheng001 this changes the order of the vocabularies within the faceted widget, the term order remains unchanged.

[2015-03-25 15:17] tcheng001 commented on #7047
@rbran100
We might need a clear explanation for "Sort by".  Now, it says "Term weight". Actually, it is vocabulary weight.

Can we have a note underneath?
![screen shot 2015-03-25 at 11 10 07 am](https://cloud.githubusercontent.com/assets/2111600/6827837/74296536-d2e0-11e4-874c-b6af56784e7e.png)

[2015-03-25 19:02] rbran100 opened #7064 "Upgrade Dataverse Widget for new Dataverse"
TODO:
- [x] Remove 'DataVerse' as a App / Feature (This will remove it from the apps list)
- [x] Create 2 new boxes to replace the App (Spec Below)
- [x] Migrate users with the existing dataverse app enabled into a new page with the same URL, with the boxes pre-created and added to that page.

2 New boxes to be created in the dataverse module and added under a new Dataverse widget category
Both wi

[2015-03-25 19:10] mpetrovic commented on #7024
I'm having trouble getting bower and npm and stuff to work on Travis. The script works until it tries to call npm, which we just installed, but it can't find it, and I'm not sure what to do about it from here.

[2015-03-25 20:38] rbran100 commented on #7024
@RoySegall do you mind taking a look and helping out or pointing @mpetrovic in the right direction?

[2015-03-25 20:56] rbran100 commented on #7024
tr

[2015-03-26 13:05] RoySegall commented on #7024
?

And yeah, i'll try to have a look on this one.

[2015-03-26 13:20] RoySegall commented on #7024
The question it - why we need npm? in #6852 ii did not used the npm

[2015-03-26 13:23] mpetrovic commented on #7024
To install bower, which we use to get the various third party components I'm using.

[2015-03-26 13:25] RoySegall commented on #7024
I can try to apply #6852 changes and we will see the affect from that.

[2015-03-26 13:49] #6996 closed

[2015-03-26 13:53] rsasch commented on #7016
<strong>The New Plan</strong>

Change javascript and calls to javascript in the media_gallery module so that nid is passed and will only target the right Media Gallery.

[2015-03-26 13:53] #6991 closed

[2015-03-26 14:29] RoySegall commented on #7038
@rbran100 In deed the re-location of the `l()` function mess it up. I'll look what causing it.

[2015-03-26 14:49] rbran100 commented on #7038
![Blind Nut](http://ih3.redbubble.net/image.15634993.5691/flat,550x550,075,f.jpg)

[2015-03-26 17:23] rsasch commented on #7016
Yet another question — in addition to showing the "Add media" link in the LOP widget in full content mode, the UI makes it seem like you can re-order items within that gallery.  The re-ordering, not surprisingly, only works if the user is on the node view of the gallery that they're trying to modify the order of.  I see two ways of addressing this:
<ol>
<li>See if there's an easy way (I'm pretty s

[2015-03-26 18:26] rbran100 commented on #7016
1 probably makes the most sense, I was going to bring up ordering but forgot

[2015-03-26 20:34] openscholar-admin opened #7066 "List of Post widget: "sticky" should be placed on the top no matter what kind of sorting is set"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-post-widget-sticky-should-be-placed-on-the-top-no-matter-what-kind-of-sorting-is-set)

**The Plan**

Fix issue so that any post tagged as sticky, appears first in a list regardless of any other sorting preferences.

**Description**

Now, the sticky post is placed on the top i

[2015-03-26 20:35] openscholar-admin opened #7067 "Capitalization of Words in Title in MLA Format for Publications"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/capitalization-of-words-in-title-in-mla-format-for-publications)

**The Plan**

Resolve issue so that title words in MLA format such as the, for, in, etc. are not in caps or title case.

**Description**

Hi OpenScholar Staff,

We have a user that doesn't want words like "and" in the

[2015-03-26 20:35] openscholar-admin opened #7068 "Updating the Media Browser Architecture"
**The Plan**

The Media browser (the file upload area of the site), will have its architecture updated allowing it to be more flexible to the needs of our users and allowing us to more easily fix bugs with it.

The varied "File Upload" locations available will be unified to have a similar look everywhere.
![Upload Look](https://trello-attachments.s3.amazonaws.com/55142c434e34e606dd463443/632x117/d

[2015-03-26 20:38] openscholar-admin opened #7069 "Patent publication type issues"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/patent-publication-type-issues)

**The Plan**

Fix issue so that the Patent Pub type 1) has 1 patent number field and 2) the patent number prints into the citation.

**Description**

* In a publication form type 'patent' it asks for 'patent number' twice.&nbsp;* <span>It doesn't disp

[2015-03-26 20:39] openscholar-admin opened #7070 "Publication: lots of publication are exported into incorrect types."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publication-lots-of-publication-are-exported-into-incorrect-types)

**The Plan**

Resolve issue so that publications export as the correct type.

**Description**

I exported publications with bibtex format from [http://hwpi.harvard.edu/tormanhc3/pub...](http://hwpi.harvard.edu/torman

[2015-03-26 20:41] openscholar-admin opened #7071 "Classic Theme - IVY flavor padding bug around menus"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/classic-theme-ivy-flavor-padding-bug-around-menus)

**The Plan**

Remove the padding around menus in either sideabar of the Ivy flavor.

**Description**

Classic Theme - IVY flavor, there shouldnt be any padding around menus in the sidebar.&nbsp;
![img](https://d2r1vs3d9006ap.cloudfr

[2015-03-26 20:41] openscholar-admin opened #7072 "Convert Stripy theme to newer responsive format"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/convert-ballard-theme-to-newer-responsive-format-mu63emntr8rip)

**The Plan**

Convert stripy theme so that it uses the newer responsive format.

**Description**

Since many sites (as well as Projects) use the Stripy theme, it would benefit those users to have the theme converted to

[2015-03-26 20:43] openscholar-admin opened #7073 "You can not create a shorter teaser with the Break Tag"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/you-can-not-create-a-shorter-teaser-with-the-break-tag)

**The Plan**

Fix issue so that when a teaser break is placed in the body of a node, it creates a teaser sentence as expected.

**Description**

When a break tag is added to the content body then entire body is removed from the

[2015-03-26 20:44] openscholar-admin opened #7074 "List of Post (Presentation) messes up the layout"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-post-presentation-messes-up-the-layout)

**The Plan**

[coming soon]

**Description**

In this page ([http://scholar.harvard.edu/tcheng2](http://scholar.harvard.edu/tcheng2)), both side bars have content and there is a List of Post widget (content type is news)  in the main c

[2015-03-26 20:45] openscholar-admin opened #7075 "Publication listing: No Book Chapter and Journal Article section are listed in publication page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/publication-listing-no-book-chapter-and-journal-article-section-are-listed-in-publication-page)

**The Plan**

Fix issue so that book chapters and journal articles are listed separately on the main /publications page.

**Description**

Here is an example:

[http://hwpi.harvard.edu/to

[2015-03-26 20:45] openscholar-admin opened #7076 "The layout and design for the list of files and list of posts needs fixing."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/the-layout-and-design-for-the-list-of-files-and-list-of-posts-needs-fixing)

**The Plan**

Clean up/tighten the appearance of the LOF display.

**Description**

The icon is too close to the title in a L.o.F when title is selected, and it should not be in bold. There is too much space

[2015-03-26 20:46] openscholar-admin opened #7077 "White list www.servicenow.com for use in the media embed ?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/white-list-www-servicenow-com-for-use-in-the-media-embed)

**The Plan**

Add the two servicenow domains to the whitelist.

service-now.com
www.servicenow.com

**Description**

Please white list [http://www.servicenow.com/](http://www.servicenow.com/) for use in the media embed.

Than

[2015-03-26 21:15] rbran100 commented on #7077
Ask Matt for a tutorial and for the list of installs, he knows this in-out

[2015-03-26 21:16] rbran100 commented on #7070
Can you check and see if this is a limitation of the bibtex format or if we are limiting it unintentionally?

[2015-03-26 21:19] rbran100 commented on #7064
Todo: document the new widget, still getting finalized

[2015-03-27 15:19] bostanci opened #7078 "Installation error"
Hi all,

I have started to receive the following error now for two days:

Fatal error: Class 'date_views_argument_handler_simple' not found in /home/bostanciyasin/bostanciyasin.com/pols/profiles/openscholar/modules/contrib/date/date_views/includes/date_views_argument_handler.inc on line 12

Any ideas on how to further installation?
Best wishes,
bostanci

[2015-03-27 19:04] rsasch commented on #7077
Added the service-now.com and www.service-now.com domains to the hwpi, scholar and projects production environments (Matt said it wasn't necessary to update the dev/stage environments because they would get updated with the production db).

[2015-03-27 22:31] #7078 closed

[2015-03-27 23:32] rbran100 commented on #7077
We should update the "private" install as well

[2015-03-28 10:02] bostanci opened #7080 "Cannot create vsites"
Hi all,

I have finally installed the OS. However, when I click on /?q=site/register (Add a new site) it gives me the following error:
Access denied
You are not authorized to access this page.

Thanks for your help in advance.
Best,
B

[2015-03-28 14:07] bostanci commented on #6185
I have checked every single permission and having the same issue.

[2015-03-28 15:23] #7080 closed

[2015-03-29 04:16] ran81 commented on #7066
@RoySegall

I opened a PR for this: #7081
However, I tried for various content types and they work fine, except for Biblio. This is because we have some work done in ``os_sv_list_query_sv_list_biblio_alter()`` and my guess is that we still want that logic.
What do you think?

[2015-03-29 07:24] RoySegall commented on #7066
@rbran100 Try notify the query alter for the invoke from the LOP. You can do this via the `addMetadat` method in the EntityFieldQuery object.

[2015-03-29 09:00] DavidKohav commented on #6992
@rbran100

[2015-03-29 09:16] RoySegall commented on #7057
@rbran100 Why this was assigned to the next release since it's already been merged?

[2015-03-29 10:51] RoySegall commented on #7067
In deed i can reproduce this one but when switching to the chicago format i still got the 'and' capitalized. It look something which (will be)solved in #7038

[2015-03-30 08:23] RoySegall commented on #7062
@rbran100 I can see this isn't in the next release. Leave it for now?

[2015-03-30 08:28] ran81 commented on #7069
Update:

@RoySegall
Checked it with a scholars DB and I have a few findings:
As for the first problem, one patent number is indeed redundant and should be removed.

As for the problems with the patent number and patent source:
These two fields which are mapped to ``biblio_issue`` and ``biblio_volume`` are not displayed at all when the style is set to chicago-author-date (used in the site in questi

[2015-03-30 08:59] RoySegall commented on #7073
Maybe relate to #6911 and could be https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os/os.module#L588. Checking.

[2015-03-30 10:33] RoySegall commented on #7073
I'm debugging the process of the node rendering and the function above don't relate to the missing body. Keep checking.

[2015-03-30 11:48] RoySegall commented on #7073
Well... I can summarize it by: It's not a bug - it's a feature. The TPL of the presentation bundle does not render the body field when the node is not in a page context. But this will affect the list of the presentations:
![selection_373](https://cloud.githubusercontent.com/assets/1222368/6895699/99693a74-d6eb-11e4-9db3-0f6e5296910d.png)

[2015-03-30 14:08] rbran100 commented on #7062
We should always displat the event as if we are not on the event page.

[2015-03-30 14:25] rbran100 commented on #6666
@RoySegall I think this may be just be a small formating change to get hootsuite to understand the citation

[2015-03-30 14:38] rsasch commented on #7077
The private install whitelist has been updated as well.

[2015-03-30 14:45] dancabral commented on #7071
Padding around menus in the sidebar has been removed. closing.
![screen shot 2015 03 30 at 10 40 51 am](https://cloud.githubusercontent.com/assets/867075/6898759/e7aa565e-d6c9-11e4-8a2f-9c7b0ce33624.png)

[2015-03-30 14:45] #7071 closed

[2015-03-30 16:05] rbran100 opened #7084 "Fix Hanging Indent on revert"
We should add the same functionality found here https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_publications/os_publications.install#L1293.

In the revert function here https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_publications/os_publications.module#L1366

Is there a way to easily add a css class to th

[2015-03-30 16:33] rsasch commented on #7084
Created a PR (7085) to add indent "fix" to function that reverts a CSL.

[2015-03-30 18:53] rbran100 commented on #7084
Did you take a look at the css class piece as well?

[2015-03-30 19:01] rsasch commented on #7084
@rbran100 I can, I didn't because you said you were going to handle it.

[2015-03-30 19:34] rbran100 commented on #7084
Ha, that does sound like me

[2015-03-30 19:40] dancabral opened #7086 "Removed theme css files being copied into /vsite/files directory"
In the process of upgrading the older OS themes to the newer responsive format, some of the theme css files are being removed and replaced with newer ones, with different file names, etc. In at least one case,  one of the removed css files was automatically copied into a /vsite/files directory, which broke the layout. I still to need figure out where ballard.default.layout.css is coming and/or use

[2015-03-31 08:13] RoySegall commented on #7069
The 3rd checkbox - is it relate to #6666?

[2015-03-31 08:52] RoySegall commented on #7062
This could a little bit hard since the node object is in the static cache. I have a couple of ideas.

[2015-03-31 09:03] RoySegall commented on #7073
Two things:
* The FAQ body is collapsed
![selection_375](https://cloud.githubusercontent.com/assets/1222368/6915567/c7e5f088-d79d-11e4-839d-c06c621ce108.png)
![selection_376](https://cloud.githubusercontent.com/assets/1222368/6915578/e152d482-d79d-11e4-9924-a5ef166f54f0.png)
* For now i'm adding the person description only under sv list"
![selection_374](https://cloud.githubusercontent.com/assets/

[2015-03-31 11:37] RoySegall commented on #6666
Could make it working with hootsuite but in facebook it get this one:
![selection_378](https://cloud.githubusercontent.com/assets/1222368/6918124/6d17ca3a-d7b3-11e4-8d68-2c38de451b0d.png)

I'll try to see what causing it.

[2015-03-31 12:08] RoySegall commented on #6666
It's the og:description meta tag responsible for that. using ngrock i could expose my local host to face and I put a hard coded html tag and the result is:
![selection_379](https://cloud.githubusercontent.com/assets/1222368/6918459/8c4110ca-d7b7-11e4-968f-194c2abb51c4.png)

I can see that we have the metatag module but i don't know how i can pass the citation to the module. Checking.

[2015-03-31 12:12] RoySegall opened #7088 "Update the version number inside openscholar.info"

[2015-03-31 13:02] RoySegall commented on #7075
I'll take a look on that one.

[2015-03-31 13:10] RoySegall commented on #7075
Are you sure about that one?
![selection_381](https://cloud.githubusercontent.com/assets/1222368/6919523/657924b0-d7c0-11e4-9f5a-07f44ee8fd4f.png)

[2015-03-31 13:30] #7088 closed

[2015-03-31 15:21] mpetrovic commented on #7068
1. Upload single file > Go to Library with edit form open
2. Upload multiple files > Go to Library with new files flagged *new*
3. Embed media > Go to Library with edit form open
4. Pubs form upload on every node form
5. Edit/replace link > Open Library with edit form open
6. Preview image to left of title in Library > Hover to get larger version

[2015-03-31 15:32] rsasch commented on #7084
@dancabral I've added the CSS class in branch 7084-pub_indent.  Please make your CSS changes and commit them to that branch and then I will test with an unmodified CSL file.

[2015-03-31 15:46] dancabral commented on #7084
@rbran100 @rsasch assigning to myself

[2015-03-31 17:04] blcook223 opened #7091 "TypeError prevents admin overlay from displaying"
On a fresh installation of OpenScholar 7.x-3.20.0 obtained [here](http://theopenscholar.org/download), I am getting a JavaScript TypeError whenever I try to open the admin overlay. This prevents the overlay from opening until the user refreshes the page, at which point the overlay opens normally.

The error occurs in `/profiles/openscholar/modules/os/theme/os_colorbox.js` when a call to `jQuery.co

[2015-03-31 17:11] dancabral commented on #7084
Added overriding text indent value 0 to CSL generated div with inline negative style. The fix is so that if this div reappears, the css will override the negative inline value. ```<div style="  text-indent: -25px; padding-left: 25px;">```

[2015-03-31 18:30] rbran100 commented on #7039
@tcheng001 this is ready for QA

[2015-03-31 19:01] tcheng001 commented on #7075
@RoySegall
How to reproduce:
* go to http://hwpi.harvard.edu/tormanhc3/publications
* scroll down a bit - I can see Book, Book Chapter, and Broadcast like the image below
![screen shot 2015-03-31 at 2 58 58 pm](https://cloud.githubusercontent.com/assets/2111600/6926765/7fc63e3e-d7b6-11e4-8234-ead00a390ab2.png)

* keep scrolling down until infinite scrolling picks starting (at this point, Book Chap

[2015-04-01 12:44] rbran100 opened #7092 "New Citation Style"
This style will include all information within the citation.

We should use the chicago author-date as a base to start from.  All authors names should be expanded so that their full name is visible, additionally any fields that are not present in the chicago style should be appended to the the end of this new style.  The goal is for all data that you enter into the publication form to be visible w

[2015-04-01 13:32] tcheng001 commented on #7070
@ran81
Tested on http://dev.hwpi.harvard.edu/tormanhc3/publications
After exporting artwork1,  the publication type is still incorrect in the exported file. See the image below.
The original type is artwork, but it still shows "@article" in the first line.  Am I still missing something?
![screen shot 2015-04-01 at 9 26 59 am](https://cloud.githubusercontent.com/assets/2111600/6941956/f41f4140-d851

[2015-04-01 15:27] openscholar-admin opened #7093 "USED IN column is empty in cp/content/files page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/used-in-column-is-empty-in-cp-content-files-page)

**The Plan**

Fix issue so that the Used In column is populated with the url(s) of the posts where the file is used.

**Description**

Posted from users:

I'm confirming bug this after checking a few sites of my own. This is a very i

[2015-04-01 18:45] rsasch commented on #7084
@rbran100 @tcheng001 I tested this on my local dev machine by looking at the CSL in the DB, running os_publications_revert_citeproc_style() and then re-checking the DB value.  The CSL went back to its intact state, the new class was in the div, and the image and citation were displayed correctly.  In the QA environment, I'm not sure what else can be done except confirm that the new class is in the

[2015-04-01 18:45] tcheng001 commented on #7066
@RoySegall
Stick is not working as expected for events in LOP widget. See the image below. The fist event "Seminar 2015" is not sticky.  However, both "gum event" and "candy 2" are sticky and not placed on the top of the list.
![screen shot 2015-04-01 at 2 44 44 pm](https://cloud.githubusercontent.com/assets/2111600/6948726/ab12d512-d87d-11e4-8938-cd4910c30930.png)

[2015-04-01 18:48] rsasch commented on #7084
@tcheng001 @rbran100 Also, since a change was made to a file within the biblio module, this will need a rebuild/reinstall before testing (or just a manual copy of the temporary directory -- your call).

[2015-04-01 18:53] rbran100 commented on #7084
@tcheng001 the rebuild happens automatically for you so no need to worry.

@rsasch can we add that test case, it should be pretty straight forward, just going to the publications list and verifying the div is present

[2015-04-01 18:58] rsasch commented on #7084
@dancabral assigning to you so you can fix spacing (see #7094).

[2015-04-01 19:20] tcheng001 commented on #7066
@RoySegall
Tested on http://dev.scholar.harvard.edu/tcheng2
After a discussion with Richard, we decide to put this additional issue onto this ticket.
"Sticky" doesn't work on blog page and event page (including upcoming and past event).  Can you also fix it?
![screen shot 2015-04-01 at 3 09 57 pm](https://cloud.githubusercontent.com/assets/2111600/6949445/7ac94a08-d882-11e4-8adf-80e53372acf1.png)

[2015-04-01 21:07] rsasch commented on #7084
@rbran100 Any objection to me adding iShouldSeeTheFollowingTagWithTheFollowingAttributeValue and iShouldNotSeeTheFollowingTagWithTheFollowingAttributeValue for the test cases?

[2015-04-02 00:23] tcheng001 commented on #7073
@RoySegall
1) Now, the full content of a presentation post shows in LOP even though Display style is set to "Teaser"
![presentation_post_in_lop_widget](https://cloud.githubusercontent.com/assets/2111600/6955482/40047026-d8ac-11e4-9d51-bfc6d32356d1.png)

![body_of_presentation](https://cloud.githubusercontent.com/assets/2111600/6955447/ccd9478e-d8ab-11e4-94c4-0164e9242d9d.png)

![lop_presentation_s

[2015-04-02 05:30] ran81 commented on #7070
@tcheng001

Did you run the updates? I had a scholars DB and after updating It works. I'll download your DB and check.

[2015-04-02 05:32] ran81 commented on #7066
@tcheng001

The LOP for events should hopefully be fixed.
As for your 3 last screenshots - these are views and not an LOP. I didn't see in the ticket that sticky should be applied on the views as well (as much sense as it makes and it does).

@RoySegall
Should we apply the sticky to these views as well?

[2015-04-02 05:48] rajenderr opened #7095 "view"
how to create view in Openscholar to display images in a page ?

[2015-04-02 06:17] RoySegall commented on #7066
@rbran100 Should we apply the logic of the sticky to the views?

[2015-04-02 06:19] RoySegall commented on #7092
@ran81 Forgot to assign you. Sorry.

[2015-04-02 07:50] ran81 commented on #7092
@rbran100

Can you perhaps elaborate a bit?
Do all publication types should display all the fields?
Should names always be in the form of "First Last"?

[2015-04-02 08:38] RoySegall commented on #7075
@rbran100 Where can i get the DB? I looked in couple of dumps and didn't found it.

[2015-04-02 08:59] RoySegall commented on #7073
@tcheng001 about 1 - Checking that one, about 2 - for now the teaser won't displayed in the list of the content until @dancabral  or @rbran100 decide what to do.

[2015-04-02 11:30] RoySegall commented on #7095
You want to create your own page or a block display images?

[2015-04-02 13:07] tcheng001 commented on #7070
@ran81
I see the update now, let me check it again. But I didn't see the update yesterday.

[2015-04-02 13:35] RoySegall commented on #7066
@ran81 We need to apply this one the blog, upcoming events and the past events.

[2015-04-02 14:59] rsasch commented on #7084
@RoySegall Do the above functions make sense to you as good additions?

[2015-04-02 15:25] tcheng001 commented on #7070
@ran81
There are two publication types (working paper and statute) are still imported incorrectly. They become "article" after exported.

![screen shot 2015-04-02 at 11 21 17 am](https://cloud.githubusercontent.com/assets/2111600/6967010/a6a501f0-d92a-11e4-9a16-c492900d9d4e.png)
![screen shot 2015-04-02 at 11 24 12 am](https://cloud.githubusercontent.com/assets/2111600/6967045/d6802fc6-d92a-11e4-8

[2015-04-02 16:30] tcheng001 commented on #7016
Marked "Fixed"

Test 1:
Create media gallery G1
upload some images and video to G1
Note: the images and videos are also listed in /cp/content/files

Test 2:
Create media gallery G2
upload some images and videos to G2
Note:
1) all added images and videos only appear in G2
2) the added images and videos are also listed in /cp/content/files

Test 3:
Create media gallery G3
Add some images and videos

[2015-04-02 18:57] tcheng001 commented on #7039
1) When sticky applies to recurring event, we get an undesirable effect - not all occurrences of the recurring event are listed on the top.

![screen shot 2015-04-02 at 2 24 31 pm](https://cloud.githubusercontent.com/assets/2111600/6970565/46fe8144-d944-11e4-82d6-54ea44737038.png)

2) The rendering format of past event is different from that of upcoming event.
For upcoming event, the entities are

[2015-04-02 20:13] dancabral commented on #7084
@rbran100 @rsasch indent div fix looks good to me. testing on http://dev.scholar.harvard.edu/gking/publications

New markup and css in action:
![indentfix](https://cloud.githubusercontent.com/assets/867075/6972656/418b72f8-d953-11e4-8ef8-18ac149353cf.png)

[2015-04-02 20:47] dancabral commented on #7064
use os_boxes_dataverse_search and os_boxes_dataverse_list for widget class names.

[2015-04-03 13:30] tcheng001 commented on #6666
@RoySegall  @rbran100
Not so sure what is the issue and how to reproduce it.
That is what I learned using Hootsuite.  After copying this link f(http://gking.harvard.edu/publications/why-Propensity-Scores-Should-Not-Be-Used-Formatching) from production to the "Add content area" in Hootsuite.
It generates a post based on the data from the link, including the citation, publication image, abstract.
Th

[2015-04-03 13:36] rbran100 commented on #6666
@tcheng001 it looks like there is still "ExportBibtex" added to the end of the URL so it will not work.  Ideally if possible we would remove the export links when the description if possible.  Do you have any ideas @RoySegall

[2015-04-03 13:55] tcheng001 commented on #6666
@RoySegall  @rbran100

This time, the link is from dev.scholar.  The generated post looks better but the short URL doesn't appear. OK?
![screen shot 2015-04-03 at 9 46 44 am](https://cloud.githubusercontent.com/assets/2111600/6983009/cc46b0f4-d9e6-11e4-82ff-d9fad19d87fc.png)

![screen shot 2015-04-03 at 9 47 26 am](https://cloud.githubusercontent.com/assets/2111600/6983045/3f0e525e-d9e7-11e4-85e6-

[2015-04-03 20:52] rbran100 commented on #6666
@tcheng001 I think that is OK, as long as the whole thing links to the site after it is embedded, which I assume it would.

[2015-04-05 06:31] RoySegall commented on #7084
@rsasch Which functions? i see only html markup.

[2015-04-05 08:00] RoySegall commented on #7074
@ran81 Can you take a look on that one?

[2015-04-05 08:34] ran81 commented on #7074
Update:

I can reproduce this locally. Checking and will update.

[2015-04-05 09:53] RoySegall opened #7099 "Fix restful tests"
Some where during the migration parts of the code were gone and the tests messed up. Checking it.

[2015-04-05 14:01] RoySegall commented on #7075
@rbran100 Didn't find the site in the dumps. Where is should be located?

[2015-04-05 18:18] mpetrovic commented on #7068
@RoySegall
Taxonomy terms aren't being returned on the file object. I'm gonna need these to properly reproduce the file edit form.

In addition, I'm going to need some way to get a list of all vocabularies applicable for a given entity, and the settings for those vocabularies so that I can give it the proper form, as defined in the vocabulary edit form.

Any thoughts?

[2015-04-06 08:19] RoySegall commented on #6666
I don't think we need to add the copy link to the citation style. The change between the days probably was cached by the graph API. You can use https://developers.facebook.com/tools/debug/ to test the changes.

[2015-04-06 08:48] RoySegall commented on #7038
@ran81 Do we have test for that?

[2015-04-06 14:03] rbran100 commented on #7039
@tcheng001 These 2 both have to do with the design, the latter is needed for mixing types.

[2015-04-06 14:15] #7057 closed

[2015-04-06 14:17] RoySegall commented on #7092
@ran81 Is it ready for testing?

[2015-04-06 14:19] #7010 closed

[2015-04-06 14:51] rbran100 commented on #7084
@RoySegall We need to test that a specific div with a specific class is present, is there a Behat function you know of that already exists for this or should rebecca add the functions here https://github.com/openscholar/openscholar/issues/7084#issuecomment-88632045

[2015-04-06 14:58] RoySegall commented on #7084
No, but here is a small snipest:
[code]

[2015-04-06 19:25] #7099 closed

[2015-04-07 09:13] RoySegall opened #7104 "Taxonomy and vocbulary restful endpoints"
During the #7099 i removed the taxonomy end point. The taxonomy need to be back and work and we need to add vocabulary end point as well.

Todo:
* [x] Add  test for taxonomy terms
* [x] Add end point for vocabulary
* [x] Add test for vocabulary
* [x] End point for OG vocab - binding a vocab to a bundle. Can be part of the vocabulary request.
* [x] Display the terms on the file object.
* [x] Filter

[2015-04-07 09:42] bostanci opened #7106 "White Screen of Death"
Hi all,

I am trying to install OpenScholar for my department at pols.bilkent.edu.tr/people. However, as you may see, there seems nothing but white screen of death. Before installation, I had made necessary changes on the server and following installation, I have returned to the initial settings. Now, this is the issue.

Any advice?

Best wishes,
YB

[2015-04-07 12:50] RoySegall commented on #7106
Yeah - in your php.ini turn on the display_errors. We could know what's the problem.

[2015-04-07 12:52] RoySegall commented on #7075
@rbran100 @tcheng001 I'm trying to download couple of dumps but they all don't extract well. Is there a way to export all the publication in that site and send it to me?

[2015-04-07 13:17] tcheng001 commented on #6666
Marked "Fixed"

[2015-04-07 13:26] #7077 closed

[2015-04-07 15:14] dancabral commented on #7073
@RoySegall I think the the body/teaser should display in the /presentations list page. The body/teaser displays in all other OS features. Also, when presentations are displayed as a LOP, the body/teaser is displayed. Agree @rbran100 ?

[2015-04-07 15:52] tcheng001 commented on #7066
I did run update, but sticky is still not working on blog page.  The "sticky" are not listed on the top of blog page.
![screen shot 2015-04-07 at 11 50 05 am](https://cloud.githubusercontent.com/assets/2111600/7027237/7c346a50-dd1c-11e4-82ee-874be8c6b5fc.png)

[2015-04-07 18:02] tcheng001 commented on #7038
Marked "Fixed"

Checked all bibliographic format.  Words are not capitalized in Journal field.

[2015-04-07 18:13] tcheng001 commented on #7067
Marked "Fixed"

This is a MLA format.  None of "of", "the", "for", "at" and "in" are capitalized except the first "the"
![screen shot 2015-04-07 at 2 12 12 pm](https://cloud.githubusercontent.com/assets/2111600/7030084/1c8cbad0-dd30-11e4-8f65-e3056148f6e2.png)

[2015-04-07 18:23] #7067 closed

[2015-04-07 18:24] #7038 closed

[2015-04-07 18:50] tcheng001 commented on #7070
Moving to "in dev"
No pending update.
Working paper and statute are still exported incorrectly. They becomes article.  Am I still missing something?

[2015-04-07 19:18] tcheng001 commented on #7070
@rbran100
It is better this time.  Status is exported correctly.  Only "working paper" is still wrongly exported to "article"

[2015-04-07 20:41] dancabral commented on #7072
@tcheng001 this is ready for QA. theme updates are in 3x. you'll know that you have the (uncached) theme files because you will Not see the black branding bar at the top of screen. let me know if you see anything suspicious.
![screen shot 2015-04-07 at 4 38 34 pm](https://cloud.githubusercontent.com/assets/867075/7033018/e4be03b0-dd44-11e4-96dc-bd53217be38e.png)

[2015-04-07 20:48] tcheng001 commented on #7093
After adding a file from /cp/content/file page using the [Add file] link, the file is not listed but no error shows either.  Can you @ran81  take a look?   I did check the production and it works as expected.

[2015-04-08 05:07] Rajan1220 commented on #7095
yes ,i want to create customise page ,how to create it .

[2015-04-08 05:12] ran81 commented on #7093
@tcheng

When I'm in ``cp/content/file'' and I upload a file I see it. If you are talking about the VSite case, for example ``tcheng2/cp/content/file``, after adding a file, it is indeed not shown in the that page. However, if I create for example a blog post and use that file, it shows up in the page.

@RoySegall
What is the desired behavior here? This happens (unless I'm missing something) becau

[2015-04-08 05:29] ran81 commented on #7066
@tcheng

I can't see that problem. I used a Scholars DB and it seems to work:
![selection_999 539](https://cloud.githubusercontent.com/assets/4497748/7039355/3ccb00fe-ddf3-11e4-9e33-5f115d4e1bc3.png)

[2015-04-08 05:54] RoySegall commented on #7095
You can create a page and start change the layout. In the layout you can add slideshow.

[2015-04-08 06:12] Rajan1220 commented on #7095
ya i have done so but it does't display on my home page. I provided url in path during context creation . I am in trouble .

[2015-04-08 06:19] RoySegall commented on #7093
@tcheng001 @ran81 This is how the file manage in Drupal works. When you upload a file through a file field or the media gallery the file is attached to node. When you upload through the add file the file exists but not relate to any one. This is a normal behavior.

[2015-04-08 06:24] Rajan1220 commented on #7095
moreover i had creted a view and want to display that view on a particular page

[2015-04-08 07:37] RoySegall opened #7107 "Add two modules for development"
[Search Krumo](https://www.drupal.org/project/search_krumo) - Give the option to search for values inside the krumo DOM object.
[Nice DPQ](https://www.drupal.org/project/nicedpq) - Parse the query object to a simple string.

@rbran100 Any thoughts?

[2015-04-08 08:09] ran81 commented on #7070
Update:

I can confirm this. For the HWPI case, "working paper" is with the number of 136, while in the Scholars case, it's set to 1000. This is the reason why "working paper" is still being exported wrong on the stie above.

[2015-04-08 10:53] RoySegall commented on #7104
The PR contains a basic CRUD actions for vocabularies and taxonomy. I'll update the issue with what done and what we need to do.

[2015-04-08 13:04] tcheng001 commented on #7093
@ran81 @RoySegall   @rbran100
I think this is an issue. I checked in production that files are listed in /cp/content/files after uploaded via Add file button.

[2015-04-08 13:13] RoySegall commented on #7093
Did you uploaded via a node form or via the add file in the files? What you saying should not happens and if it is we need to check why. When uploading files via the add button under cp/content/files the user create an orphan file.

[2015-04-08 13:21] tcheng001 commented on #7093
@RoySegall  I uploaded the file using the Add file button in /cp/content/files page.  If you go to http://dev.scholar.harvard.edu/tcheng2/cp/content/files-private, you should see that users can upload a file (private) and is listed there. Those files are orphan files as well.

[2015-04-08 13:25] RoySegall commented on #7093
Can you upload a screen shot?

[2015-04-08 13:37] tcheng001 commented on #7066
@ran81  @rbran100
That is weird.  Still unable to see the fix on blog page.  "Sticky" posts are not listed at the top of the list. What is the difference between dev.scholar and @ran81 's environment?
![screen shot 2015-04-08 at 9 35 55 am](https://cloud.githubusercontent.com/assets/2111600/7046321/d2dd9316-ddd2-11e4-94aa-752748abc7b9.png)

[2015-04-08 13:44] tcheng001 commented on #7093
You need to enable the app "Private Files".
![screen shot 2015-04-08 at 9 42 28 am](https://cloud.githubusercontent.com/assets/2111600/7046431/b5865f18-ddd3-11e4-93bc-baef20375067.png)

![screen shot 2015-04-08 at 9 40 12 am](https://cloud.githubusercontent.com/assets/2111600/7046385/498e9ed8-ddd3-11e4-992d-5494ee091e50.png)

[2015-04-08 13:48] RoySegall commented on #7093
@tcheng001 This is how it should be - when uploading file via the add button under the control panel you create an orphan file.

[2015-04-08 13:54] tcheng001 commented on #7093
@RoySegall  But this is exactly what is the current behavior in production. That is why I point it out here.

[2015-04-08 13:59] RoySegall commented on #7093
The used in should show what node own the file. Look at @ran81 comment:

This is what it intent to do. We don't need to show that the file belong to the vsite - it's redundant.

[2015-04-08 14:55] tcheng001 commented on #7039
Not working as expected.
Tested on http://dev.hwpi.harvard.edu/tormanhc2/
When "events should expire when At the end of the day" is set, the past events are shown. That is incorrect.  it should display the upcoming events (including all today's events ended or have happened).
For example,  today is April 8,  the LOP of posts should show all events of April 8 and beyond.
If this is 11pm now, LOP of

[2015-04-08 18:01] rsasch commented on #7016
@rbran100 I've fixed the URL to the media_gallery patch.

[2015-04-08 19:56] rsasch commented on #7084
Added test for CSS class.

[2015-04-08 20:07] tcheng001 commented on #7093
Moved back "In dev"
In the following scenarios, files are not listed in /cp/content/files
1) upload a person's profile image
2) upload an image file in media widget
3) upload file in Custom/HTML widget
4) upload file directly from /cp/content/files page's Add file button
5) the import csv file itself after imported

I have tested all the scenarios in production. All show the uploaded file and impo

[2015-04-08 20:57] dancabral commented on #7072
@tcheng001 here are 2 sites in prod using stripy  http://scholar.harvard.edu/michaelrosen http://scholar.harvard.edu/harveymansfield

[2015-04-09 12:17] rstotland opened #7109 "Installation problems 7.x-3.20.0"
Hello, I have tried many different ways of installing OS on virtual machines, wamp and xamp and on Acquia Dev Desktop and keep running into errors during installation. Not sure what the problem might be. Tried with PHP 5.4 and 5.3 and latest Drupal core. Any help would be really appreciated, trying to test this out before recommending it as a platform.

Seems as this one is with the Feeds Tamper m

[2015-04-09 14:06] rbran100 commented on #7064
@rsasch  this looks great, i can't think of anything left out

[2015-04-09 17:33] tcheng001 commented on #7064
@rsasch
FYI   I got this error when I am trying to create a new Dataverse widget from Add new widget drop-down in layout
![screen shot 2015-04-09 at 1 29 00 pm](https://cloud.githubusercontent.com/assets/2111600/7072712/6c29e3aa-debc-11e4-96ed-77a9038a0877.png)
Richard mentioned that the dev.scholar is broken and needs to rebuild. That might relate to what I see.

[2015-04-09 20:55] rsasch commented on #7064
Modified update to also change the primary menu dataverse link for affected vsites.

[2015-04-10 14:13] tcheng001 commented on #7047
Marked pending.
Tested on 3.x (dev.hwpi).  but I don't see the change of terminology.  Where is the fix?

[2015-04-10 17:21] dancabral commented on #7076
Fixed
![screen shot 2015-04-10 at 1 20 54 pm](https://cloud.githubusercontent.com/assets/867075/7093105/5973eac6-df6b-11e4-9ccf-e345f604ffc1.png)

[2015-04-10 17:21] #7076 closed

[2015-04-10 20:09] matt-bernhardt commented on #7025
Some additional updates:
Shortly after the latest comment, I was somehow able to recover the front page on that testing server - but the steps to do so aren't entirely clear. The part I remember most clearly was temporarily setting the theme to a stock theme, and then back to our custom theme.

Unfortunately, I've since run into the problem again. In order to better understand the best workflow ar

[2015-04-10 20:20] matt-bernhardt commented on #7025
Here are some screenshots of the above settings, in case there's something here that I'm simply not seeing:
Apps screen setting homepage to default display
![test - apps](https://cloud.githubusercontent.com/assets/1403248/7096323/2bfb89dc-df9d-11e4-9409-310aad6a3ed4.png)

os_front layout interface, trying to put content in every region
![test - layout](https://cloud.githubusercontent.com/assets/14

[2015-04-10 20:54] matt-bernhardt commented on #7025
Last update today, I promise. After switching the test server back to our custom theme, and getting all the layout boxes changed back to the way they should be, I took a look at the home page for the openscholar site itself (openscholar-test, rather than informatics-test. Setting that to the same "node/65" value as the department site has caused the informatics-test homepage to now appear correctl

[2015-04-11 07:55] hitesh915 opened #7111 "Not able to write any Blog Post in Open Scholar"
Hello all,

I have installed Open Scholar V.20 under the linux platform (Ubuntu 14.10).
I'm not able to use Blog feature.

At the time of publishing a blog post I'm getting following errors.

![errors](https://cloud.githubusercontent.com/assets/838765/7100685/7b3de174-e04d-11e4-9590-8cc35f5f5250.png)

Where as on the other side, I'm able to publish posts by uploading to a CSV file (import).

![scr

[2015-04-12 04:54] ran81 commented on #7039
@tcheng001
I see what you mean and there's a problem, however I am a bit confused.

@RoySegall

I could use a clarification of it does it mean "expiry time is at the end of the day". I understand that events that will be shown are events that end after the end of the current day.
I have to note that in the case of "expire 30 minutes after an event starts" (the default) we show all events that star

[2015-04-12 04:55] ran81 commented on #7066
@tcheng001

This is weird indeed. I downloaded the dev DB:
![selection_999 545](https://cloud.githubusercontent.com/assets/4497748/7104428/234b1ee8-e113-11e4-98b0-2f70a9316d63.png)

Just for sanity check I changed something in the last commit so please try it again an let me know.

[2015-04-12 04:58] ran81 commented on #7093
@tcheng001

1. Image is uploaded and shown.
![selection_999 546](https://cloud.githubusercontent.com/assets/4497748/7104438/8042dfc8-e113-11e4-83df-fd93fd110380.png)
2. The file is not attached to a node and so it will not appear in the files page. For a site wide admin they show up fine.
3. Same as 2.
4. As @RoySegall explained, this is the desired behavior.
5. Image from a CSV is uploaded and sh

[2015-04-12 06:45] RoySegall commented on #7039
I think that "At the end of the day" should be all the events that started today and end at 12:00 PM. @rbran100 What do you think?

[2015-04-12 09:36] ran81 commented on #7092
@RoySegall

It's ready for testing. The types I checked are displayed with all their fields.

[2015-04-12 10:44] RoySegall commented on #7104
When the file don't have term attached the available vocabs for the entity will be displayed: ![selection_385](https://cloud.githubusercontent.com/assets/1222368/7105286/e5e06390-e119-11e4-97d0-387bab6721b9.png)

[2015-04-12 15:22] mpetrovic commented on #7104
@RoySegall
I don't agree with this. If there are no terms, the terms array should be
empty. Those look far too similar to actual terms and are going to get in
the way of any apps consuming the API.

Is something wrong with the entity type / bundle filters on the vocab
endpoint we discussed on Wednesday? And if that won't work, then the list
of allowed vocabs should be on a separate property.

[2015-04-12 18:05] rbran100 commented on #7104
I agree, think it will be confusing.

[2015-04-13 06:26] RoySegall commented on #7092
Let's call it `harvard chicago author date`

[2015-04-13 10:23] rbran100 commented on #7092
Could you change the branch name to 7092-harvard-cad 7092 is to generic and won't checkout from github in some cases

[2015-04-13 10:53] RoySegall commented on #7104
I'll set the vocab as separate property.

[2015-04-13 11:35] RoySegall commented on #7104
Never mind, the vocab filter by entity and bundle is working as it should be.

[2015-04-13 13:11] tcheng001 commented on #7039
@RoySegall  @ran81  @rbran100
 Do you mean  midnight?  (12PM means noon here)   I think that the option should show the following events:
1) Started today and are still happening
2) Started today and have finished
3) Started prior today (if that is a multiple day event) and today is the last day of the event.

[2015-04-13 13:37] rbran100 commented on #7064
@tcheng001 This is ready for QA, I fixed the build for this issue, it is branch 7064-unapp_dataverse

[2015-04-13 13:53] rbran100 commented on #7104
@mpetrovic This is ready to test with and has the changes you talked about yesterday.

[2015-04-13 13:55] tcheng001 commented on #7064
@rsasch  @rbran100
1) In http://dev.scholar.harvard.edu/gking, the menu link for DATAVERSE is missing.
![screen shot 2015-04-13 at 9 51 43 am](https://cloud.githubusercontent.com/assets/2111600/7116874/f9e09262-e1c2-11e4-9641-5a7f937f2e3a.png)

2) Try accessing http://dev.scholar.harvard.edu/gking/data and get an error
"The URL might be incorrect or have changed. Please go back to the homepage"

[2015-04-13 14:01] tcheng001 commented on #7064
@rsasch @rbran100
When trying to create a new dataverse widget, I got the error
"The URL might be incorrect or have changed. Please go back to the homepage"
![screen shot 2015-04-13 at 9 57 35 am](https://cloud.githubusercontent.com/assets/2111600/7117014/fe32f426-e1c3-11e4-9295-f7f34af680d6.png)

[2015-04-13 14:09] RoySegall commented on #7093
@ran81 Orphans files should be display in the files view.

[2015-04-13 14:16] rbran100 commented on #7093
And multiple "Used in" should also display, the correct export is in the history if that helps.

[2015-04-13 14:23] #6666 closed

[2015-04-13 14:26] #5280 closed

[2015-04-13 14:35] rsasch commented on #7064
@tcheng001 Did you run updates before testing?  Sorry, I should have specified.

[2015-04-13 14:50] #7086 closed

[2015-04-13 14:50] rbran100 commented on #7086
Nothing to do here, the old file was no longer present in prod.

[2015-04-13 14:55] rbran100 commented on #7075
@RoySegall did you test this with the dump I e-mailed you?

[2015-04-13 14:59] rbran100 commented on #7074
@dancabral dan, can you take a look at what @ran81 has done here and give your opinion?

[2015-04-13 15:02] rbran100 commented on #7073
@RoySegall did you see @dancabral comment above, the teaser should display the same everywhere.  in both the presentation list and in the list of posts.

[2015-04-13 15:05] rbran100 commented on #7072
@dancabral is this still in QA or should it have been marked fixed?

[2015-04-13 15:12] rbran100 commented on #7070
This looks good, we can't update to accommodate working paper when it is set to a custom id like '1000' so it will have to remain mapped the way it is.

[2015-04-13 15:27] rbran100 commented on #7062
@RoySegall made another suggestion in the PR, let me know if that works

[2015-04-13 15:36] rbran100 commented on #7039
The expire "30 minutes after start" and "when the event ends" are good the way they are.  I see that you have a question on "At the end of the day".

**At the end of the day.**
In this case you are showing all events who have an end date AFTER the beginning of the current day.
In this case:
* Events ending yesterday (or earlier) are not shown
* Events ending today are shown
* Events ending tomorro

[2015-04-13 15:45] tcheng001 commented on #7064
Question:
When doing search (click the Find button),  the result is showed in a new browser page.  Correct behavior?
![screen shot 2015-04-13 at 11 45 02 am](https://cloud.githubusercontent.com/assets/2111600/7119291/982bb2e4-e1d2-11e4-8039-5d3f3646b520.png)

[2015-04-13 15:48] rsasch commented on #7064
@tcheng001 The search box is created by the embedded code that we were asked to use, so any behavior related to it is out of our control.

[2015-04-13 15:52] dancabral commented on #7072
@rbran100 its in QA.

[2015-04-13 16:21] tcheng001 commented on #7064
Marked "Fixed"
1)  The app Dataverse is removed from /cp/build/ page
2)  Two new Dataverse widgets are listed in the Add new widget drop-down
![screen shot 2015-04-13 at 12 06 13 pm](https://cloud.githubusercontent.com/assets/2111600/7119693/90c08a18-e1d5-11e4-85c1-eff59eb2f7d8.png)
3)  able to create Dataverse search box and Dataverse listing widget and to place them to front page or other pages

[2015-04-13 17:26] rbran100 commented on #7064
wow, that is great work. big change and passed QA fast!

[2015-04-13 17:30] #7064 closed

[2015-04-13 17:46] tcheng001 commented on #7066
Marked "Fixed"
@ran81   Thanks Ran.  The issue found in Blog page is gone.
Tested the following scenarios.
![screen shot 2015-04-13 at 1 44 19 pm](https://cloud.githubusercontent.com/assets/2111600/7121576/6e30b3ca-e1e3-11e4-8ede-18ed2ca410ba.png)

[2015-04-13 19:04] tcheng001 commented on #7093
@ran81  @RoySegall  @rbran100
This is what i did for setting up test env.
1) copy DB from production to dev.hwpi
2) run update.php

The uploaded  file (by using Add file button) is not listed in /cp/content/files page
![screen shot 2015-04-13 at 2 36 20 pm](https://cloud.githubusercontent.com/assets/2111600/7122686/1c00ceac-e1eb-11e4-80e2-011e311c1ed1.png)

Am I missing something or the test env i

[2015-04-13 19:40] tcheng001 commented on #7072
@dancabral
Search button is not working.   Any idea?
![screen shot 2015-04-13 at 3 38 05 pm](https://cloud.githubusercontent.com/assets/2111600/7123905/59366f5e-e1f3-11e4-9694-bbf4af80e381.png)

[2015-04-13 20:02] tcheng001 commented on #7047
Marked "Fixed"
Now, users can select either
1) the ordering of vocabularies based on what they are ordered in /cp/build/taxonomy page when Vocabulary weight is set or
2) the alphabetical order.
![screen shot 2015-04-13 at 3 57 56 pm](https://cloud.githubusercontent.com/assets/2111600/7124348/1e315470-e1f6-11e4-9818-7ad56d89cadc.png)
3) other functionalities are same as before.

[2015-04-13 20:06] dancabral commented on #7072
@tcheng001 Correct, if the search bar is Not in the header the icon still displays. However, this is not related to the theme or a css issue. You can see the same issue in production using another hwp theme.

[2015-04-13 20:22] rstotland commented on #7109
Anyone run into these issues?

[2015-04-14 01:16] #7072 closed

[2015-04-14 06:03] RoySegall commented on #7075
Yeah, @ran81 open a PR for fixing that. I'll have a second look on that one.

[2015-04-14 08:02] RoySegall commented on #7093
Well, i know what the problem. We are using 'in content' filter and using a relationship to the node. Since the orphan files don't belong to any nodes they arn't appear. But there might a be a solution for that - we have an og membership on the file. I'll need to create a custom views filter.

I'll update as i progress.

[2015-04-14 11:29] RoySegall commented on #7093
it's to much complex. There is a problem that non orphan files don't have an og membership to the site there were uploaded to. Once we fix that we use this query handler:
[code]

@ran81 You can take it from here.

[2015-04-14 11:57] RoySegall commented on #7039
If "At the end of the day" display events that end after this day we might need another name. It could be confusing.

[2015-04-14 12:34] RoySegall commented on #7039
How many days after tomorrow?

[2015-04-14 13:08] RoySegall commented on #7062
touche @rbran100, touche.

[2015-04-14 13:29] rbran100 commented on #7093
@RoySegall I am almost certain that this is not required, I want to emphasize that this was working fine prior to the recent feature export, can we not just go back to the previous settings?

[2015-04-14 14:24] RoySegall commented on #7075
@rbran100 This one working.

[2015-04-14 20:27] rbran100 opened #7116 "OpenScholar Security Issue"
Site: http://cuhs.harvard.edu/
Has file: http://cuhs.harvard.edu/file/1598491
That has a group ref to that site
Created 3/6/2015
by user anon

This file is present 136 times, in 100 different groups, owned by 10 people including anon.
They were created across the span of a
We need to figure out what is going on here, created between 1/22 and 3/24

[2015-04-15 00:36] dancabral commented on #7024
moved table striping css out of cptheme and into mb module css. https://github.com/openscholar/openscholar/commit/658e3d9f1aa0869ba16c5b2fbf2fcede49e74ae6

[2015-04-15 05:32] RoySegall commented on #7116
@ran81 Can you take a look on this. Maybe you can use one of your dumps.

[2015-04-15 05:34] RoySegall opened #7117 "Non orphan files don't have og membership."
When you upload an orphan file - via the add file, or uploading a csv file for import - the file have og membership.

When you upload a file via a node from - which mean the file will appear the file usage table - the file won't have og membership to the group.

[2015-04-15 05:42] RoySegall commented on #7104
@ran81 In the last pr for the taxonomy end point all the tests except for restful tests are comment out - https://github.com/openscholar/openscholar/pull/6824/files#diff-354f30a63fb0907d4ad57269548329e3R12. Please make a new PR against api-6811 in which you bring them back.

[2015-04-15 06:09] ran81 commented on #7117
Closing.
This is not the case in general but only when doing a clean installation.
This is handled in https://github.com/openscholar/openscholar/pull/7097 when we give membership during the migration.

[2015-04-15 06:09] #7117 closed

[2015-04-15 07:09] ran81 commented on #7104
@RoySegall

Done in https://github.com/openscholar/openscholar/pull/7118

[2015-04-15 07:31] ran81 commented on #7116
Update:

This site is apparently on Projects. I had only Scholars and HWPI DB's. Currently downloading a projects DB.

[2015-04-15 09:52] ran81 commented on #7116
Update:

I see the problem with a Projects DB. This is weird to say the least. I did a query to find where is the file is used in its original name and it's actually coming from ``oaisc/people/bret-fiehinger-phd``, a private site on Projects. I need more time on this..

[2015-04-15 10:54] rbran100 commented on #7116
We will take a look at this, I am more concerned about closing out the rest of the issues in this release.

[2015-04-15 12:08] rbran100 commented on #7093
running updates required

[2015-04-15 12:10] #7084 closed

[2015-04-15 12:13] rbran100 commented on #7074
@dancabral can you take a look at these TPL changes?

[2015-04-15 12:15] rbran100 commented on #7073
ready for QA

[2015-04-15 12:18] #7070 closed

[2015-04-15 12:23] #7066 closed

[2015-04-15 12:25] dancabral commented on #7074
@rbran100 I'll take a look

[2015-04-15 12:25] #7047 closed

[2015-04-15 12:36] rbran100 commented on #7039
How Events should show when "End of the Day" is selected.

Event Name | Start | End
------------ | ------------- | -------------
Event 1 | April, 15th 2015 9AM | April, 15th 2015 10PM
Event 2 | April, 15th 2015 10PM | April, 15th 2015 11PM
Event 3 | April, 16th 2015 11PM | April, 17th 2015 Noon
Event 4 | April, 16th 2015 11:30PM | April, 16th 2015 11:45PM
Event 5 | April, 15th 2015 10AM | April, 1

[2015-04-15 12:39] #7016 closed

[2015-04-15 13:57] RoySegall commented on #7039
@ran81 ^^

[2015-04-15 14:16] rbran100 commented on #7111
I don't see any errors there that will prevent posting of Blog posts, I think you can just disable warning for now.

[2015-04-15 14:16] #7111 closed

[2015-04-15 14:19] rbran100 commented on #7107
@RoySegall I think the use of these is more of a personal preference, since some people use devel and some do not.  What do you think about adding them just to a local sites directory?

[2015-04-15 14:29] tcheng001 commented on #7073
@RoySegall  @rbran100
1) The content doesn't look good in view. It is cut in the middle of a sentence. Can we use a "..." following the "and"?  The ideal situation is that at least the first sentence show completely.
![presentation_teaser](https://cloud.githubusercontent.com/assets/2111600/7160568/f0f1d3a0-e357-11e4-88ae-d2048287f1d6.png)

2) For each presentation post in page, it shows title, loc

[2015-04-15 14:55] tcheng001 commented on #7075
Marked "Fixed"
1) Book, Book Chapter, Journal and Journal Article are shown correctly in publication page.
2) Book, Book Chapter, Journal and Journal Article are shown correctly in List of Post widget

[2015-04-15 15:07] #7075 closed

[2015-04-15 16:45] dancabral commented on #7074
@rbran100 @ran81 this looks good to me. closing. marking as fixed.

[2015-04-15 16:45] #7074 closed

[2015-04-15 18:03] tcheng001 commented on #7093
Moved back "In dev"
I did copy DB and run update.
In the following scenarios, files are still not listed in /cp/content/files
1) upload file directly from /cp/content/files page's Add file button
2) upload an image file in media widget
3) upload file in WYSIWYU in Custom/HTML widget
4) the import csv file itself after imported

Also, no multiple entries appear in "USED IN" column when the files ar

[2015-04-15 20:52] tcheng001 commented on #7062
Marked "Fixed"
When testing in the fix PR. I don't see the issue anymore for logged-in or anon user.

[2015-04-16 06:52] ran81 commented on #7093
@tcheng001
For the first 3 scenarios I don't have the issues you describe:
![selection_999 559](https://cloud.githubusercontent.com/assets/4497748/7175511/c9c32a9a-e447-11e4-8649-3396c849864e.png)

Same goes for the multiple usage for a file:
![selection_999 560](https://cloud.githubusercontent.com/assets/4497748/7175517/e1f3938e-e447-11e4-888a-2d8df7f4b607.png)

As for the CSV file as I understan

[2015-04-16 06:54] ran81 commented on #7039
@rbran100

I followed your comments on the PR and now we show only events that have an end time that is greater than "today". I think it should work now as you described (events are different but the idea is clear):
![selection_999 561](https://cloud.githubusercontent.com/assets/4497748/7175548/6e7e592e-e448-11e4-9dae-0d461238628a.png)

[2015-04-16 10:26] rbran100 commented on #7093
We want the csv file to stay and be in the group.

Can you try the first 3 issues in a db dump, maybe there is a difference in settings to be corrected.

[2015-04-16 16:14] tcheng001 commented on #7069
Marked "in dev"   @ran81 @RoySegall
This is what I found some examples of patent citation for The Chicago Manual of Style, 16th Edition
http://www.patent-search-information.com/how-to-cite-patent.html
![screen shot 2015-04-16 at 11 46 24 am](https://cloud.githubusercontent.com/assets/2111600/7184996/441547e8-e42e-11e4-95ea-b47bbf8bcd25.png)

http://citesource.trincoll.edu/chicago/chicago_patent.pd

[2015-04-16 18:54] tcheng001 commented on #7092
To be continue:
Artwork:  volume, issue and description are missing in citation
![screen shot 2015-04-16 at 2 35 26 pm](https://cloud.githubusercontent.com/assets/2111600/7188447/dcd82448-e445-11e4-9d3b-a3ee33921247.png)
![screen shot 2015-04-16 at 2 35 51 pm](https://cloud.githubusercontent.com/assets/2111600/7188455/ea75b43a-e445-11e4-94a9-8b056bf34bba.png)

Audiovisual:  volume, issue and pages

[2015-04-19 05:26] ran81 commented on #7092
@tcheng001

I will address your comments. However, the update didn't take affect. Note how names are formatted with the new style (expanded to be "First Last"):
![selection_003](https://cloud.githubusercontent.com/assets/4497748/7218256/af399a0e-e697-11e4-9c13-b720e45130d7.png)

For example, this is a Thesis-the issue does appear, and the Thesis type is printed under the citation (I wasn't aware i

[2015-04-19 05:28] ran81 commented on #7093
@rbran100

We now create a memebrship for the CSV files and they should be listed in the view. As for the other 3 cases, with an HWPI db I see the files as expected. I did that with a "site owner" user and not the site-wide admin to make sure it works:
![selection_002](https://cloud.githubusercontent.com/assets/4497748/7218258/bef5e060-e697-11e4-8f57-607e15cdbd80.png)

1 - is from a media widget
2

[2015-04-19 05:51] ran81 commented on #7069
Update:

"Patent source" will not be displayed now if the field is empty:
![selection_004](https://cloud.githubusercontent.com/assets/4497748/7218319/2d0ce974-e69b-11e4-978c-7efd8fc21706.png)

[2015-04-19 08:22] ran81 commented on #7092
Update:

Pushed some more work to the PR. @tcheng001 - please run updates before checking the results. In your comment I see that the update wasn't applied.

[2015-04-20 13:29] tcheng001 commented on #7069
@RoySegall
Can someone comment item 3 in [this] (https://github.com/openscholar/openscholar/issues/7069#issuecomment-93774960)?

[2015-04-20 14:16] tcheng001 commented on #7093
@rbran100
tested on dev.scholar.
After copying DB and running update, I am still not able to see the image file listed in /cp/content/files after adding the image to a media widget.  Now, this is confusing.  How can I set up a good env to test this ticket?  Something is stilling missing?

[2015-04-20 15:15] tcheng001 commented on #7069
@ran81 @RoySegall
1) Locations of some fields are not consistent. When opening a new form for patent, you see Patent Number followed by Patent source and the Patent Issuing Country.
![screen shot 2015-04-20 at 10 41 22 am](https://cloud.githubusercontent.com/assets/2111600/7232566/51ee91de-e74a-11e4-8daf-766665b5ae5f.png)

After I save the form and reopen it, the order become Patent Number followe

[2015-04-20 15:33] mpetrovic commented on #7068
File Replacement functionality is currently blocked by this:
https://github.com/RESTful-Drupal/restful/issues/483

It's been a few days and I've gotten no comments on the issue, so I'll be fixing it myself.
@RoySegall
The version of restful in the makefile is coming from your fork of it. Could you either get that merged into restful proper or merge my changes into your fork when they're ready?

[2015-04-20 15:40] rbran100 opened #7119 "Add Subject to site deletion request"
Is there a way to add a subject line to the site deletion requests?

Currently, the subject is totally blank.
If so, it would be great to have it say ³Site Deletion Request - Assign to HWP².

[2015-04-20 15:45] rbran100 commented on #7119
Brie, I added a good default subject in code, and will add a custom one for HWP in our installs. it will add the "Assign to HWP" bit

[2015-04-20 15:48] brianap commented on #7119
Thanks, when it's done you can point these emails to ithelp@harvard.edu.

[2015-04-20 15:52] rbran100 commented on #7109
Looks like warnings that you can ignore.

[2015-04-20 15:55] rbran100 commented on #7073
@RoySegall @ran81

From above.
1. Can you assure that the presentation teaser trim and display settings are the same as the other content types.

2. We should have the body last in both display modes.

[2015-04-20 15:59] rbran100 commented on #7069
@ran81 It makes sense to have the form fields in the same order in both cases, could you update the weight in the db for the biblio fields.

@ran81 the examples I see take the same form that @tcheng001 mentions above, is the CSL incorrect or are we processing it incorrectly?

[2015-04-20 17:34] tcheng001 commented on #7092
@rbran100  @ran81
I did copy db and run update on dev.hwpi and tested on http://dev.hwpi.harvard.edu/tormanhc3
Still found the following issues:
1) For Artwork:   Museum, Collection and City missing in citation (I saw these two field data last week)
2) For Audiovisual:  Publisher and City missing in citation (I saw these two field data last week)

These are the first two types I checked so far.  I

[2015-04-20 20:56] mpetrovic opened #7121 "Angular Taxonomy Form Control"
The current Taxonomy form control needs to be implemented in Angular, as it is used on file form. It's already been abstracted out into a separate Angular module, as it will be needed on node forms as well.

**This should be a straight port of the existing Taxonomy form control.**

The ground work has already been laid down, for the most part. All that remains is implementing the 4 form types that

[2015-04-21 03:30] ran81 commented on #7069
@rbran100

As for the repeated country name, it is as far as I can tell part of the style "council of science editors" style as in here: http://www.scientificstyleandformat.org/Tools/SSF-Citation-Quick-Guide.html
(in the "Patent" section).

[2015-04-21 04:31] ran81 commented on #7093
@tcheng001

Downloaded the latest DB and checked it again. In your site's homepage I see an embed media widget with an image and it is shown in the view at ``cp/files/content``:
![selection_009](https://cloud.githubusercontent.com/assets/4497748/7245680/28a71098-e822-11e4-96a2-fa9ce7e41f54.png)
![selection_008](https://cloud.githubusercontent.com/assets/4497748/7245681/28d2d8b8-e822-11e4-8b37-7f65

[2015-04-21 04:34] ran81 commented on #7092
@tcheng001

I think there was wrong numbering of the update functions. I think now you can test it.

[2015-04-21 06:48] RoySegall commented on #7093
@ran81 Let's try to remove to og_group and see if it's OK. It should not be there.

[2015-04-21 06:52] RoySegall commented on #7093
@ran81 you told me that there is a revert to the cp_permission element. Try to revert this one and see if the view is OK without feature_revert via drush.

[2015-04-21 07:22] ran81 commented on #7093
@RoySegall

I checked it again like you said without the feature revert. I get exactly the same results as in my earlier comment.

[2015-04-21 08:56] RoySegall commented on #7068
@mpetrovic Didn't saw any PR you have so i don't know what i need to merge into my fork.

And tip can be converted into path for exmaple - github.com/RESTful-Drupal/restful/pull/445.patch will redirect you to https://patch-diff.githubusercontent.com/raw/RESTful-Drupal/restful/pull/445.patch. I'll try today to talk with Amitai so it will be merged.

[2015-04-21 09:16] ran81 commented on #7069
Update:

Changing the values in the DB didn't work. I'm not sure what's the difference between an edit form and a create form but some work we do in ``os_publications_biblio_rearrange()`` and in ``os_publications_alter_year_field()`` seem to be the culprit here.

[2015-04-21 11:21] RoySegall commented on #7121
I'm a little bit confuse. When you i go the library and i want to edit a file i get the dialog but the form does not effect any thing - is that OK?

What i do understand is that we need to add the term part in the dialog and it's need to work- right?

[2015-04-21 12:10] mpetrovic commented on #7121
Yes, the form doesn't submit yet. Don't worry about that, I'm still working
on it. I just need the Taxonomy form control finished is all.

[2015-04-21 12:19] RoySegall commented on #7121
You need just the directive to work similar to the FAPI widget of the field? If so, where can i edit it?

I can see the file exists in a folder called `bower_component` and in os_frontend module. What will affect? i tried to put some dummy text but i didn't saw any changes. Any idea?

[2015-04-21 12:21] mpetrovic commented on #7121
The os_frontend module.

Why is it in bower_components?

[2015-04-21 12:25] RoySegall commented on #7121
Good question. I'll get back to you about this one when i'll return to the issue.

[2015-04-21 14:35] RoySegall commented on #7121
@mpetrovic I found out the problem - i did not enabled the module and you have a typo.

Why we don't enabling the `media_browser` module?

[2015-04-21 14:38] mpetrovic commented on #7121
That's the one you're supposed to enable. And where's my typo? I spelled both needed modules correctly in the OP.

[2015-04-21 14:43] RoySegall commented on #7121
I meant why we don't enabling it by default. The typo you had is `taxonomyWidget.html` and not `TaxonomyWidget.html`.

Two of question:
1. Why not using https://github.com/mgonto/restangular
2. Where to put the bower dependencies? I need https://github.com/angular-ui/ui-select2 for the select2 of the terms. Is `bower.json` inside the os_common module is good?

[2015-04-21 14:48] mpetrovic commented on #7121
1. I didn't know that module existed.
2. Wherever the build script pulls them from. The bower file in os_common is fine, if it pulls them from there. I thought there was a client/bower.json file, but I can't seem to find it now.

[2015-04-21 16:52] rbran100 commented on #7092
@ran81 I reran each update and made sure they ran, I still do not see the fields, I checked "Artwork" from Tormans notes above, can you test with the hwpi dump and see what is happening @RoySegall can provide it

[2015-04-21 23:06] tcheng001 commented on #7092
@rbran100  @RoySegall
That is my bad. I forgot to set to "Harvard Chicago Author Date" this morning before running the test. However, after resetting to the correct style (Harvard chicago author-date),  Volume, Issue and Description are still missing in citation.
![artwork1_citation](https://cloud.githubusercontent.com/assets/2111600/7264389/ef94690e-e858-11e4-9e20-c99c04a863a8.png)
![artwork1_for

[2015-04-22 05:24] RoySegall commented on #7092
@ran81 Is trying to download a new dump. We will see how this will go.

[2015-04-22 06:20] RoySegall opened #7122 "Books page display books from other page."
@maayan

For some reason the book page is not a view and present books form all vsites.

Go to vsite, john, and create books. Go to other vsite and you'll see the books from john:
![selection_388](https://cloud.githubusercontent.com/assets/1222368/7268302/b992f2a8-e8d0-11e4-9db1-5b680b6688f0.png)
![selection_389](https://cloud.githubusercontent.com/assets/1222368/7268303/bc2ac158-e8d0-11e4-879f-0c

[2015-04-22 07:12] ran81 commented on #7092
Update:

Downloading a DB dump is proving to be somewhat difficult. On a clean installation it looks OK:
![selection_011](https://cloud.githubusercontent.com/assets/4497748/7269039/045bdabc-e902-11e4-8e54-8746638f4f56.png)

[2015-04-22 13:16] openscholar-admin opened #7124 "Calendar / Event Feature Planning"
Make a plan/proposal for Event upgrades in the coming release.

[2015-04-22 13:16] openscholar-admin opened #7125 "List of Files Sort Order"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/list_of_files_sort_order)

The Plan
Add an authored on/time stamp field so that the order of files in the LOF widget can be modified.

[2015-04-22 13:17] openscholar-admin opened #7126 "List of Post (images): number of columns displayed is always number of setting minus 1."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-post-images-number-of-columns-displayed-is-always-number-of-setting-minus-1)

**The Plan**

Fix css issue so that margins (make them slightly tighter) between the thumbnails do not cause the thumbnails to drop the next line.

**Description**

This is an example.

In this rece

[2015-04-22 13:17] openscholar-admin opened #7127 "Internet Explorer Display Issue"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/internet-explorer-display-issue)

**The Plan**

Fix issue by targeting IE8 css so that the width of the columns widget is somewhat wider - so they don't fall or stack in the layout.

**Description**

The main page of the sfs.harvard.edu website doesn’t appear correctly in IE. No matt

[2015-04-22 13:17] openscholar-admin opened #7128 "Create new theme option based on the Classic theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/create-new-theme-option-based-on-the-classic-theme)

**The Plan**

Create a new theme option based roughly on the existing Classic theme scheme. Exact color palette is TBD, but use of the google font Noto Serif will be used across the theme http://www.google.com/fonts/specimen/Noto+S

[2015-04-22 13:17] openscholar-admin opened #7129 "List of Posts widget doesn't show "More" link for repeating events"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-posts-widget-doesnt-show-more-link-for-repeating-events)

**The Plan**

Resolve issue so that "More" is visible in the layout when a List of Post widget is set to display: Events, is a repeating event, and when sorting is set to by "Event Date".

**Description**

It seems the

[2015-04-22 13:17] openscholar-admin opened #7130 "Importing content -- vocabulary names are converted to lower case"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/importing_content_vocabulary_names_are_converted_to_lower_case)

**The Plan**

Resolve issue so that imported taxonomies preserve the correct vocabulary title case. Currently, the titles are being converted to lowercase.

**Description**

The vocabulary name in the CSV file's header

[2015-04-22 13:17] openscholar-admin opened #7131 "something's not right with a page that has a photo and a caption"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/somethings-not-right-with-a-page-that-has-a-photo-and-a-caption)

**The Plan**

Fix/diagnose issue so that photos with captions display properly. Also, the view in the wysiwyg should match the page version of the content.

**Description**

Something's not right with [http://slavic.fa

[2015-04-22 13:17] openscholar-admin opened #7132 "HTML in Bibtex exports"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/html-in-bibtex-exports)

**The Plan**

Strip all user generated (wysiwyg) html from all publication fields before being exported as a bibtex file.

**Description**

There shouldn't any HTML in bibtex exports. HTML can be in titles and abstracts and other fields with the wysiwyg enabl

[2015-04-22 13:17] openscholar-admin opened #7133 "List of posts privacy bug"
[View or participate in the full discussion](http://getsatisfaction.com/openscholar/topics/list_of_posts_privacy_bug)

**The Plan**

Resolve issue so that LOP widgets using a content type that has been changed from public to private will not display to public (not logged in) visitors. For example, if I create a LOP widget with events in it, then change the events feature to private in the settings

[2015-04-22 13:17] openscholar-admin opened #7134 "Clicking day in mini-calendar takes you to a view that begins at 1am"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/clicking_day_in_mini_calendar_takes_you_to_a_view_that_begins_at_1am)

**The Plan**

Fix issue so that the default calendar time displayed is the first event (auto scroll to it).  The time frame should still be the full day.

**Description**

For example:

[http://projects.iq.harvard

[2015-04-22 13:17] openscholar-admin opened #7135 ""Access denied" message attempting to edit book page through outline"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-access-denied-message-attempting-to-edit-book-page-through-outline)

**The Plan**

Resolve issue so that site admins can click the Edit Link and edit the books outline, and are not presented with an Access Denied message.

**Description**

Attempting to edit certain book pages, gene

[2015-04-22 13:17] openscholar-admin opened #7136 "No term titles for publications"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/no-term-titles-for-publications)

**The Plan**

Resolve issue so that Publication term pages are titled with the taxonomy term and are not titled Publications

**Description**

When a term page only has Publications, and is rendered using the separate Publications only list, the titl

[2015-04-22 13:17] openscholar-admin opened #7137 "links to page attachments don't work after they are removed as attachments"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/page-attachments-links-dont-work-after-they-are-removed-as-attachments)

**The Plan**

We should no longer remove the files when they do not have a USED IN entry as they may be used elsewhere and are not tracked.

**Description**

If you have an attachment to a page, link to it and t

[2015-04-22 13:17] openscholar-admin opened #7138 "Problem with CV function"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/problem_with_cv_function)

**The Plan**

Replace the Bio/CV App with standard pages.

 - [x] Create Task for Preset to setup Bio / CV pages (determine default based on past behavior) https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/vsite/modules/vsite_p

[2015-04-22 13:44] tcheng001 commented on #7069
Marked "in dev"   The locations of field Patent Source and Patent issue Country are not consistent. see the [above] (https://github.com/openscholar/openscholar/issues/7069#issuecomment-94480818) comment

[2015-04-22 14:47] mpetrovic commented on #7135
Make sure that the node in question has the proper space. We had a similar
issue with slideshow_image nodes and that was the cause.

[2015-04-22 15:17] rbran100 opened #7139 "Stability Issues"
We have had stability issues over the last few days.

I believe that there is a race condition during a cache clear that is causing excess DB queries.  I tracked it back to a possible bug in memcache.

I can not tell why this would have started happening now though unfortunatly.

[2015-04-22 17:15] tcheng001 commented on #7093
@RoySegall
When image is used in Custom/HTML widget,  the site link is shown in USED IN column.  That can be confusing because the widget can be used in anywhere in the site. I think the field should be empty.
![screen shot 2015-04-22 at 12 56 14 pm](https://cloud.githubusercontent.com/assets/2111600/7280339/ed7f0574-e8ef-11e4-810e-2cbd96d4f3bb.png)

[2015-04-22 18:27] tcheng001 commented on #7093
@rbran100
For basic page, attachments and embed files are not listed in /cp/content/files. Should we fix with this ticket OR make comment on  #7137 ?

[2015-04-22 18:50] rbran100 commented on #7093
@tcheng001 I think that should be fixed as part of this issue. #7137 is different, it involves files being deleted when removed as an attachment

[2015-04-22 19:15] mustafeez opened #7141 "Stable Release"
Dear,

Can you please tell me which version is stable one? Because i have tested 4 versions of your openscholar and in all i have been facing same issue. And the issue is same https://github.com/openscholar/openscholar/issues/7109. and also if i am not installing demo data, at that point i am getting blank screen.

Please let me know.
Thanks
Mustafeez

[2015-04-22 19:57] openscholar-admin opened #7142 "FF issue: poor formatting on featured post widget for a person"
http://community.openscholar.harvard.edu/openscholar/topics/ff-issue-poor-formatting-on-featured-post-widget-for-a-person

The Plan
Resolve issue so that when Feat. Post widget is used to display a person in a column the text should spill out of the column.

[2015-04-22 20:11] openscholar-admin opened #7143 "List of File widget: Images become broken when Display style is set to Full content"
http://community.openscholar.harvard.edu/openscholar/topics/list-of-file-widget-images-become-broken-when-display-style-is-set-to-full-content

The Plan
Resolve issue so that using the List of File widget and the display style is set to Full content the Images use valid paths. See details in link above for a visual reference.

[2015-04-22 20:52] dancabral commented on #7126
@tcheng001 this is ready. the correct grid/column config is working.
![screen shot 2015-04-22 at 4 49 12 pm](https://cloud.githubusercontent.com/assets/867075/7285063/df51322c-e90f-11e4-9333-ad66d7c1f2f2.png)
-----------------------
![screen shot 2015-04-22 at 4 49 22 pm](https://cloud.githubusercontent.com/assets/867075/7285067/e86836e4-e90f-11e4-87af-57a85d4d2ffe.png)

[2015-04-23 13:13] tcheng001 commented on #7093
@RoySegall    Please see [this comment] (https://github.com/openscholar/openscholar/issues/7093#issuecomment-95269003)

[2015-04-23 15:00] tcheng001 commented on #7126
Marked "Fixed"

Images are rendered correspondingly in grid layout to the setting of columns. I tested all column settings (from 2 to 5).

[2015-04-24 13:41] rbran100 commented on #7139
This update paired with:
[code]

fixes the stampede

[2015-04-24 15:46] rbran100 commented on #7139
This looks pretty good now, going to leave pending for a bit to let cron do it's normal thing.

[2015-04-24 16:28] #5944 closed

[2015-04-24 17:04] #7109 closed

[2015-04-24 17:05] rbran100 commented on #7141
You can ignore the warnings, they have no adverse impact.  You can throttle what messages display via the usual means.  We need to fix the ones we control but there is not a release where we have done that.

[2015-04-24 17:05] #7141 closed

[2015-04-26 06:09] RoySegall commented on #7093
@ran81 Can you make sure the issue works as expected for attachments and embed files?

[2015-04-26 06:14] ran81 commented on #7137
@RoySegall

I searched a bit and found this:
https://www.drupal.org/node/1968442
https://www.drupal.org/node/1399846

Apperantly this is how drupal works. Any ideas?

[2015-04-26 06:52] ran81 commented on #7129
Is this still a problem?
![selection_015](https://cloud.githubusercontent.com/assets/4497748/7336220/ceabc1d2-ec23-11e4-9a98-48b34de100b0.png)

I think the issue was that when displaying 3 events in the LOP, but these are the only events we have, the link for "More" is of course not shown as there are not more events. Tried it localy too with repeating and non-repeating events.

[2015-04-26 07:26] RoySegall commented on #7069
@ran81 You will need to drill down over `drupal_get_form()` where he render to form element and complied them to the HTML.

[2015-04-26 07:40] ran81 commented on #7093
@RoySegall

Checked both on clean installation and Scholars DB:
![selection_018](https://cloud.githubusercontent.com/assets/4497748/7336313/8f0602b6-ec2a-11e4-9532-fcad6ca6cd39.png)

Files are listed as they should when are used in a basic page.

[2015-04-26 07:56] #4862 closed

[2015-04-26 08:27] RoySegall commented on #7093
When upload to a people node the used in is empty:
![selection_393](https://cloud.githubusercontent.com/assets/1222368/7336437/25f1bcde-ec07-11e4-9b4e-faae4a68382c.png)
![selection_394](https://cloud.githubusercontent.com/assets/1222368/7336438/2852a6d2-ec07-11e4-8119-627e9ee309e6.png)

[2015-04-26 09:42] ran81 commented on #7093
@RoySegall

I installed once again and thing is this - if you upload an image to the cropping tool and don't move crop tool at all, it doesn't generate an entry in the "file_usage" table. If you crop the image it is shown:
![selection_019](https://cloud.githubusercontent.com/assets/4497748/7336650/91ed27dc-ec3b-11e4-9ac1-d654f5d3e064.png)

[2015-04-26 10:16] RoySegall commented on #7093
I would break point each place image field crop have a file_save or write to the file manage table.

[2015-04-27 05:36] ran81 commented on #7093
Indeed it's because how imagefield_crop module works:
It checks for a property called "cropbox_changed" is set and if it is it adds an entry to the file_usage table:
![selection_020](https://cloud.githubusercontent.com/assets/4497748/7342185/5eb7408a-ece2-11e4-887f-c320f0b09650.png)

[2015-04-27 05:38] ran81 commented on #7069
Update:

Not the most pretty solution but it now works:
![selection_024](https://cloud.githubusercontent.com/assets/4497748/7342203/a4e28f1a-ece2-11e4-9e0a-f0675c606570.png)
![selection_022](https://cloud.githubusercontent.com/assets/4497748/7342202/a4e221ec-ece2-11e4-8334-03798432a280.png)