[2020-02-27 10:00] stamina84 commented on #12947
@subhojit777 Here is the PR review fixes: #13109

[2020-02-27 10:04] subhojit777 commented on #13021
@tcheng001 Need some help here, can you tell for which pages the widgets should appear? I can think of only "app" pages, blog, events, faq, etc.

[2020-02-27 10:10] subhojit777 commented on #12843
check with the pending issues https://github.com/openscholar/openscholar/pull/13098#pullrequestreview-365443981

[2020-02-27 10:56] stamina84 commented on #12947
Here is the success merged 8.x build: https://travis-ci.org/openscholar/openscholar/builds/655481025

[2020-02-27 12:27] subhojit777 commented on #12950
@Jiteshkhatwani merged. confirm fix on demo.

[2020-02-27 12:28] uttkarsh-26 commented on #13029
Hi @rbran100 ,
While grooming this:
I found that currently, this value is coming via `Environment::getUploadMaxSize()` .
If we try to control it via php.ini that will only be limited to current env.
If we do it via docker it will only work when the distribution is set up using the only docker.

I see we have a custom `\Drupal\os_rest\Plugin\rest\resource\OsFileResource` , maybe that can be used? (

[2020-02-27 13:44] kiran-axl commented on #12674
@Bilsi , I tried to use booknavigation block (provided by core book module) , but resulted with below issues:
- the book module is unable to get the current node (could be an issue with purl/vsite customizations)
- booknavigation block is being overriden by layout (might be due to customized block_id for the widgets).

After discussing with @subhojit777 , trying with Section navigation block type

[2020-02-27 14:03] rbran100 commented on #12954
@Jiteshkhatwani new purl release has been created

https://github.com/openscholar/purl-d8/releases/tag/v1.0.6

[2020-02-27 14:11] tcheng001 commented on #12944
Moving to "in dev"
terms should not show in the list any more if they have been selected.   Here is an example:
geolocation has two terms - international and local.
after international is selected for the blog, it should not appear in the list. That means local should be the only term showed in the list.
<img width="509" alt="Screen Shot 2020-02-27 at 8 58 18 AM" src="https://user-images.githubuse

[2020-02-27 15:48] tcheng001 commented on #12950
@subhojit777   @Jiteshkhatwani
I create a new site http://d8.theopenscholar.com/adminsite by vsite admin (torman), then create a news post from home page.  but it redirects back to home page of the site instead of to the news post.  Still missing something?   Mark "Pending"

[2020-02-27 15:57] tcheng001 commented on #12949
Mark "Fixed"
No more OS admin theme in selection list.

[2020-02-27 15:57] #12949 closed

[2020-02-27 16:15] tcheng001 opened #13113 "Newspaper Article form: Abstract is in wrong place"
- [x] **Pull Request:** https://github.com/openscholar/openscholar/pull/13137
- [x] **Fix PR:** https://github.com/openscholar/openscholar/pull/13204
- [x] **Change Position PR:** https://github.com/openscholar/openscholar/pull/13211

### Motivation:

It should be below Author.
![Screen Shot 2020-02-27 at 11 11 42 AM](https://user-images.githubusercontent.com/2111600/75462533-667ed580-5952-11ea-85

[2020-02-27 16:49] tcheng001 commented on #12991
Mark "Fixed"
![Screen Shot 2020-02-27 at 11 43 22 AM](https://user-images.githubusercontent.com/2111600/75465477-b364ab00-5956-11ea-8285-3b2d23df6fe0.png)
![Screen Shot 2020-02-27 at 11 46 26 AM](https://user-images.githubusercontent.com/2111600/75465741-10606100-5957-11ea-8a06-3ff620399b95.png)

[2020-02-27 16:49] #12991 closed

[2020-02-27 17:34] tcheng001 commented on #13021
@subhojit777
if you go to this site, then delete a file from http://d8.theopenscholar.com/dept-minimal/cp/content/browse/files. You should be able to see the problem.

So far,  I only see the issue when deleting a file.

[2020-02-28 04:08] subhojit777 commented on #13029
@uttkarsh-26 I think for now we can change the value in docker. We may need to figure how to handle this independent installations, although I think they would like to have their own settings. // @rbran100

[2020-02-28 04:35] subhojit777 commented on #12954
https://github.com/openscholar/openscholar/pull/13110#pullrequestreview-366156418

[2020-02-28 04:51] subhojit777 commented on #11689
@tcheng001 for the import issue, we are fixing that problem here https://github.com/openscholar/openscholar/issues/12927

---

However, I saw a problem with control panel. I followed the steps:

1. create a custom role
1. grant class create/edit/delete permission to the custom role
1. assign the role to a vsite member
1. login as that vsite member
1. the control panel doesn't show the items the me

[2020-02-28 05:31] subhojit777 opened #13114 "Incorrect items in control panel for custom role"
**Pull request:** https://github.com/openscholar/openscholar/pull/13155

**Parent:**

### Steps to replicate:

1. create a custom role
1. grant class create/edit/delete permission to the custom role
1. assign the role to a vsite member
1. login as that vsite member
1. the control panel doesn't show the items the member has access to <img width="558" alt="image" src="https://user-images.githubuserc

[2020-02-28 05:33] subhojit777 commented on #11689
@tcheng001 I have created a new ticket for the problems stated above https://github.com/openscholar/openscholar/issues/13114 You may add more info there if you find any. I think this one can be closed. // @shashikanth171

[2020-02-28 05:36] mukeyshkumar opened #13115 "Theme name changes"
**Themeone** theme name should be changed  to **Clementine**
**Branded theme** name should be changed to **Branded**

PR: https://github.com/openscholar/openscholar/pull/13116

[2020-02-28 06:03] subhojit777 commented on #13021
as discussed on Slack, we are going to fix the problem for the url mentioned, and cp setting pages. // @tcheng001

[2020-02-28 08:06] Jiteshkhatwani commented on #12950
@tcheng001
Actually, I was not able to replicate this issue. I test this with vsite admin jitesh and it was working.

[2020-02-28 10:10] subhojit777 commented on #13108
@lomasgupta I realised that incorrect format was mentioned in the ticket, `m-d-Y`. Please update the code with `m/d/Y`.

[2020-02-28 11:42] stamina84 commented on #12123
A11Y report for the new field design
![image](https://user-images.githubusercontent.com/3629993/75544469-58998500-5a24-11ea-8486-cd0918c02cb9.png)
Steps to reproduce:
* visit any vsite and click Layout
* Add new Slideshow widget, no need to upload any new slide
* place new widget into any region
* Save layout
* click to "Add slide" button, and popup dialog should appear

On edit widget dialog:
![i

[2020-02-28 12:11] uttkarsh-26 commented on #13040
@tcheng001 @Bilsi  Do we want the url of the page which displays filtered news items to be like in this url https://scholar.harvard.edu/torman_personal/news/archive/2017 , that is `news/archive/year` ?

@subhojit777  Also I am thinking to use: (Not tested yet but just going step by step)
- 1st custom view to show a list of `Years` (aggregated) which each year linked to a custom controller route.
-

[2020-02-28 12:26] stamina84 commented on #12123
Here is the new field design with inline entity form:
![image](https://user-images.githubusercontent.com/3629993/75548572-e75ecf80-5a2d-11ea-9259-3c92bd479dc0.png)

[2020-02-28 12:44] lomasgupta commented on #13108
Please review and merge
![import_person](https://user-images.githubusercontent.com/13271284/75549673-33256f00-5a56-11ea-82c1-09f58246db3b.png)

[2020-02-28 12:48] lomasgupta commented on #12843
PR https://github.com/openscholar/openscholar/pull/13111. It has all the commits from the PR https://github.com/openscholar/openscholar/pull/13098 (Previous one)

[2020-02-28 13:08] jashish24 commented on #13009
@tcheng001 The suggestion here would be, to not hide for `administrator` (not vsite admin) role.

[2020-02-28 13:13] jashish24 commented on #13100
@tcheng001 The title appears as `ucfirst` (all words have first letter as caps) format. While we can find a way to somehow not capitalize symbols (if those are first letter of a word) but I think that much processing of `Title` is not required. // @rbran100

[2020-02-28 13:39] Bilsi commented on #13029
@subhojit777 @uttkarsh-26 - We do not see a req for setting it for independent installations at this point. So for now, just focus on a global setting

[2020-02-28 14:03] tcheng001 commented on #13040
yes. Like D7.

[2020-02-28 14:08] tcheng001 commented on #11689
Agree. I am closing this ticket.

[2020-02-28 14:08] #11689 closed

[2020-02-28 14:29] tcheng001 commented on #13100
I am sure that for the bibliographical format of [Harvard Chicago author-date], title should shows as that in the form.
For example:  if the title is `My FiRsT BoOk` in the form, then the title must show the same in citation.

@rbran100   but not so sure for other bibliographical formats.  I tested some in D7, it seems that title style displays as whatever it is in the form.
I tested the following

[2020-02-28 15:26] tcheng001 commented on #12950
https://drive.google.com/file/d/1YFD0jI2AMEPaqgBoDb7Y-MjKfJ7qSbER/view

[2020-02-28 15:41] stamina84 commented on #13103
Slick update thrwo error while install:
[code]
Reverted, not investigated the bug..

[2020-02-28 15:57] stamina84 commented on #12944
Hmm, select2 can't do that off the box, seems need to write a custom javascript.

[2020-02-28 16:36] tcheng001 commented on #13078
might be related to https://github.com/openscholar/openscholar/issues/12950#issuecomment-592562209

[2020-02-28 18:10] tcheng001 commented on #12921
Mark "Fixed"
imported the following files:
1. https://drive.google.com/open?id=1b71I8yvv1eiXSG4__kZAZPm7AfVRGOG6
2. https://drive.google.com/open?id=1X6Ts3FIUVVx4Rr3K1DhpxT5OQ-CkD5Cp
3. https://drive.google.com/open?id=1CUFvlHQb7DlLqhFRUmtqAb50gqLrbL8b

[2020-02-28 18:55] tcheng001 commented on #12944
@stamina84   Could you please discuss with @rbran100  or @Bilsi before starting implementation?

[2020-03-02 04:19] subhojit777 commented on #13108
https://github.com/openscholar/openscholar/pull/13111#pullrequestreview-366941875

[2020-03-02 04:23] subhojit777 commented on #12843
https://github.com/openscholar/openscholar/pull/13111#pullrequestreview-366941875

[2020-03-02 04:44] subhojit777 commented on #12123
https://github.com/openscholar/openscholar/pull/13112#pullrequestreview-366944868

[2020-03-02 05:24] saurabh-axl commented on #12845
@tcheng001
Does the format for YYYY/MM/DD only apply to created date or also Start date, End date in Event
https://github.com/openscholar/openscholar/issues/13108

[2020-03-02 05:28] saurabh-axl commented on #12831
Pending due to
https://github.com/openscholar/openscholar/issues/13108

[2020-03-02 05:28] saurabh-axl commented on #12844
Pending due to
https://github.com/openscholar/openscholar/issues/13108

[2020-03-02 05:30] subhojit777 commented on #13040
I am okay with a custom implementation to show the options - as long as it is generic (note that we need something similar for other widgets as well)

<img width="325" alt="image" src="https://user-images.githubusercontent.com/1435641/75647967-a1477d00-5c74-11ea-9b1b-c7c99b92bca6.png">

---

are you talking about a new view here? If so, then its fine.

I don't think we need to write a controller f

[2020-03-02 05:33] uttkarsh-26 commented on #13040
Yep, you are correct, we won't need a controller, I figured this when started working on it. We can achieve this via two views. Just going  on with that approach

[2020-03-02 05:41] subhojit777 commented on #13115
merged. check on demo please. @mukeyshkumar

[2020-03-02 06:06] subhojit777 commented on #12454
@rbran100 I am thinking of creating iterative PRs for this ticket. So, I will create PRs according to this roadmap

    Add ability to insert another widgets into column widget
    Add ability to change layout of column widget from admin UI
    Connect the embedded widgets with the layout regions
    Change the UI for embedding the widgets

Just don't want to create a final large PR for you to rev

[2020-03-02 06:34] mukeyshkumar opened #13119 "Theme Bentley conservative renames to smoky"
Theme Bentley conservative renames to **smoky**

[2020-03-02 07:05] Jiteshkhatwani commented on #12950
Hi @tcheng001 thank for sharing this in detail. I think it would good if you open a new ticket for this.

[2020-03-02 07:51] jashish24 opened #13121 "Vsite breaks if CSS aggregation is disabled"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13169

### Motivation:

Vsite breaks if the CSS aggregation is disabled.

![Screenshot from 2020-03-02 13-16-38](https://user-images.githubusercontent.com/32076806/75655840-b7f7cf00-5c88-11ea-8b5d-e65890f91d09.png)

[2020-03-02 07:57] subhojit777 commented on #13108
@lomasgupta merged. check on demo please.

[2020-03-02 07:57] subhojit777 commented on #12843
@lomasgupta merged. check on demo please.

[2020-03-02 07:58] subhojit777 commented on #12841
@lomasgupta merged. check on demo please.

[2020-03-02 08:36] stamina84 commented on #12123
@rbran100 @Bilsi There is one thing what I can't solve in short time:
https://github.com/openscholar/openscholar/issues/12123#issuecomment-581879430
So in edit section, the crop selection won't be filtered by corresponding crop type:
![image](https://user-images.githubusercontent.com/3629993/75658495-bae2c780-5c68-11ea-8d3e-c09f8957334c.png)

![image](https://user-images.githubusercontent.com/3629

[2020-03-02 12:03] jashish24 commented on #13022
@tcheng001 Providing `support role` more access (1 & 2) than vsite admin does not look right. Is it a mandatory requirement?
// @rbran100 @subhojit777

[2020-03-02 12:32] stamina84 commented on #13052
Its fixed, waiting for CI

[2020-03-02 13:05] tcheng001 commented on #12845
Only created date

On Mon, Mar 2, 2020 at 12:24 AM Saurabh Pandit <notifications@github.com>
wrote:

[2020-03-02 13:21] tcheng001 commented on #13022
Yes, that is mandatory requirement.
support role is a special role (like administrator for all vsites but less powerful than root) which can manage all vsites when necessary.  We won't allow vsite admin to clear cache / reindex or set custom domain. Vsite admins/owner need to submit a support ticket for those functions/settings, then support role will log in and set himself as a vsite admin of the

[2020-03-02 13:27] #12921 closed

[2020-03-02 13:33] Bilsi commented on #12454
@subhojit777 - that should be fine. Whatever is easier for you

[2020-03-02 14:04] tcheng001 commented on #13108
@lomasgupta   Import fails with the error.
<img width="479" alt="Screen Shot 2020-03-02 at 8 51 33 AM" src="https://user-images.githubusercontent.com/2111600/75682217-0c885380-5c63-11ea-8781-da01a32bc1fc.png">

Steps to reproduce:
1. download the template file
2. open the template file in Excel
3. save it as .csv ( I ignore the warnings)
4. import the saved file
![Screen Shot 2020-03-02 at 8 53 20

[2020-03-02 14:34] jashish24 commented on #13076
@tcheng001 I am not able to replicate this, is there a possibility that a global block/widget has been added to this vsite?

[2020-03-02 15:39] tcheng001 opened #13126 "All content alias urls redirect home"
**Pull request:**. https://github.com/openscholar/openscholar/pull/13238

### Steps to replicate:

1. log in as a vsite admin
2. create a new vsite named "adminsite01"
3. go to the new vsite
4. create content, say a blog
5. redirect to vsite's home instead of the blog page

![Screen Shot 2020-03-02 at 10 36 48 AM](https://user-images.githubusercontent.com/2111600/75691240-fd5cd200-5c71-11ea-8c12-0

[2020-03-02 15:47] tcheng001 commented on #12950
Mark "Fixed"
able to access the following menus:
Site Content -> Add -> Blog
Site Content -> Browse -> Content
Site Content -> Browse -> Files
Site Content -> Browse -> Publications
Menu
Appearance -> Breadcrumbs
Appearance -> Favicon
Appearance -> Themes
Taxonomy
Settings -> Enable/Disable Apps
Settings -> App Settings -> Blog Comments
Settings -> App Settings -> Profiles
Settings -> App Settings

[2020-03-02 15:47] #12950 closed

[2020-03-02 16:36] jashish24 commented on #12509
@tcheng001 Able to replicate the issue, it happens only when you upload existing file again and then chose `Rename` from options.

[2020-03-02 16:37] jashish24 commented on #12509
Added a spike here as this might need an angular change.

[2020-03-02 17:32] tcheng001 commented on #13076
@jashish24    Can you check here?  http://d8.theopenscholar.com/adminsite3.   Two widgets are located in the main content area, one is in the right sidebar.
![Screen Shot 2020-03-02 at 12 29 48 PM](https://user-images.githubusercontent.com/2111600/75701438-ca223f00-5c81-11ea-8a47-a4df23f888a9.png)

[2020-03-02 17:53] tcheng001 opened #13127 "Admin gets Access denied when site visibility is set to Site members only"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13225
### Steps to replicate:

1. set a site visibility to [Site members only]
2. log out and then log in as admin
Note: you will get Access denied even though you logged in.
![Screen Shot 2020-03-02 at 12 51 13 PM](https://user-images.githubusercontent.com/2111600/75703011-a0b6e280-5c84-11ea-8245-c2626bc09b9b.png)
![Screen Shot 202

[2020-03-02 19:27] tcheng001 commented on #12843
post's url alias incorrect. For example, it should be "/people/homer-simpson" instead of "/profiles/homer-simpson"
![Screen Shot 2020-03-02 at 2 16 24 PM](https://user-images.githubusercontent.com/2111600/75709363-8256e400-5c90-11ea-9c4e-09f3c3809bf9.png)

[2020-03-02 19:45] tcheng001 commented on #12843
please validate website url.  I enter "hp://www.homersimpson1.com" successfully but the site crashes when trying to access the post.
![Screen Shot 2020-03-02 at 2 40 11 PM](https://user-images.githubusercontent.com/2111600/75711126-d57e6600-5c93-11ea-9d37-54dcd49a9638.png)
This is the import file.
https://drive.google.com/file/d/1Wd6hwibIA--tw1jkfqWLS4t_FLsVIQ9a/view?usp=sharing

[2020-03-03 04:00] subhojit777 commented on #13103
https://github.com/openscholar/openscholar/pull/13118#pullrequestreview-367689540

[2020-03-03 04:05] subhojit777 commented on #12844
https://github.com/openscholar/openscholar/pull/13125#issuecomment-593756906

[2020-03-03 04:28] subhojit777 commented on #12123
What other solution you are suggesting? That could help us decide better. @stamina84

[2020-03-03 04:34] subhojit777 commented on #12123
PR updates - https://github.com/openscholar/openscholar/pull/13112#pullrequestreview-367697157 - pending

[2020-03-03 04:56] Jiteshkhatwani commented on #12954
As discussed with @rbran100, we need to debug by removing the code from https://github.com/openscholar/purl-d8/pull/2 and https://github.com/openscholar/purl-d8/pull/3 to see why code is failing.

[2020-03-03 05:42] lomasgupta commented on #13108
@tcheng001 I think the issue is with the date format of your Excel (https://www.ablebits.com/office-addins-blog/2015/03/11/change-date-format-excel/).
https://excel.uservoice.com/forums/304933-excel-for-mac/suggestions/33518485-remove-spurious-csv-warning

[2020-03-03 06:07] subhojit777 commented on #13108
@lomasgupta I think you should check how it is working in D7, and try doing the same in D8.

[2020-03-03 09:11] subhojit777 commented on #12642
https://github.com/openscholar/openscholar/pull/13117#pullrequestreview-367804458

[2020-03-03 09:37] stamina84 commented on #13103
I created a patch on drupal org https://www.drupal.org/project/slick/issues/3117331

[2020-03-03 10:48] stamina84 commented on #13103
I will revert all updates related to slick and blazy and will get back if core is updated to 8.8 because blazy rc7 is require core 8.8 and not working with slick 2.0 only 2.1

https://www.drupal.org/project/blazy/issues/3079167#comment-13467672 https://www.drupal.org/project/blazy

[2020-03-03 11:42] uttkarsh-26 commented on #13040
@tcheng001
We do not want to allow Vsite Admin to be able to Edit/Delete this widget?

[2020-03-03 12:09] stamina84 commented on #12689
Did the following commands:
* `./composer.sh remove drupal/core`
* `./composer.sh remove webflo/drupal-core-require-dev`
* `./composer.sh require "drupal/core-dev:^8.8" "drupal/core-recommended:^8.8" --update-with-all-dependencies`

[code]

[2020-03-03 12:38] subhojit777 commented on #12454
![question-1](https://user-images.githubusercontent.com/1435641/75776247-a4786100-5d79-11ea-8adc-1be3e42ad0e9.png)

Consider the above scenario. Suppose, I change the title of rss feed widget to "Subscribe Updated", then should that title update appear in the rss feed widget that is embedded inside the column widget? @tcheng001

[2020-03-03 12:50] jashish24 commented on #13078
Related to https://github.com/openscholar/openscholar/issues/13086

[2020-03-03 12:59] jashish24 commented on #12859
Related to https://github.com/openscholar/openscholar/issues/12865

[2020-03-03 12:59] jashish24 commented on #12619
@tcheng001 Can you please confirm if this is still there, I am not able to replicate.

[2020-03-03 13:07] tcheng001 commented on #13040
@uttkarsh-26   yes for both questions unless something I missed.

[2020-03-03 13:20] tcheng001 commented on #12454
@subhojit777    Yes,  I believe that if you changed title of a widget.  The change will apply to all instances of the widget.   Right? @rbran100

[2020-03-03 13:24] subhojit777 commented on #12841
pending because of https://github.com/openscholar/openscholar/issues/13108#issuecomment-593784588

[2020-03-03 13:34] tcheng001 commented on #13040
@uttkarsh-26    Although default widgets can be deleted by vsite admin, they can be moved around in layout and even removed from layout.

[2020-03-03 14:58] tcheng001 commented on #12619
I dont see the issue either. Closing it.

[2020-03-03 14:58] #12619 closed

[2020-03-03 16:01] tcheng001 opened #13132 "Remove theme Branded"
Please remove it from the system.  I guess Dan using the theme as a sample.

[2020-03-03 16:08] tcheng001 commented on #13115
Mark "Fixed"

[2020-03-03 16:08] #13115 closed

[2020-03-03 16:37] rbran100 commented on #12454
@subhojit777 @tcheng001 yes that is true, if you change a widget you are re-using then it will change everywhere, if you need two different then you would just create another widget.

[2020-03-03 17:05] rbran100 commented on #12123
Talking with @stamina84 in the AM about this

[2020-03-03 17:06] #13002 closed

[2020-03-03 17:06] #12999 closed

[2020-03-03 17:16] rbran100 commented on #12944
@stamina84 This is ok, you can leave it as is without adding custom JS

[2020-03-03 17:55] tcheng001 commented on #12944
Moving to "in dev"
selected terms become unselected when reopening the form

Steps to reproduce:
1. go to http://d8.theopenscholar.com/site21/news/abc
2. open edit form
3. select [blue] from color
4. click Save
5. reopen the form
Note: [blue] is unselected.

https://drive.google.com/file/d/1aVrxNe8vo2fXIODFAQvQGapTJVLX2BIo/view

However, if I add [asia] from [regions], everything is fine.  [asia]

[2020-03-04 06:18] shashikanth171 commented on #12927
The error in travis build related to `/var/www/html/web/profiles/contrib/openscholar/modules/cp/modules/cp_import/tests/src/ExistingSite/CpImportNewsTest.php` is fixed in PR https://github.com/openscholar/openscholar/pull/13125

[2020-03-04 06:43] subhojit777 commented on #13108
Yes, we will do the same in D8. Agree with you that user should be able to seamlessly update and import content. However, I didn't know that the end user would be updating like this, and do the import again. Thanks for putting this scenario. We will look into and make the import more user friendly.

[2020-03-04 08:47] stamina84 commented on #12944
@tcheng001 I could reproduce at demo, interesting, but I can fix too.. something related to vocab and group connection, but don't know what. I open site21 vocabularies edit form and save, then open every term edit form and save, then it solved the problem. Maybe one of then was not in group content?
Please QA again this problem and if its a regression then please open a new issue for that, because

[2020-03-04 11:57] subhojit777 commented on #12642
@jashish24 merged. check on demo please.

[2020-03-04 12:19] stamina84 commented on #12689
Checking these advises too: https://www.palantir.net/blog/guide-drupal-8-8-update

[2020-03-04 13:02] #12859 closed

[2020-03-04 13:48] tcheng001 commented on #12944
Mark "Fixed"
<img width="791" alt="Screen Shot 2020-03-04 at 8 48 35 AM" src="https://user-images.githubusercontent.com/2111600/75885704-f9a58880-5df4-11ea-8aa5-71fab00702e8.png">

[2020-03-04 13:49] #12944 closed

[2020-03-04 14:10] tcheng001 opened #13138 "vocab must be confined within the vsite"
The same name vocab in different vsites are shared their terms.

Steps to reproduce:
1.  create vocab named "color" in **site1**
2. add a term name "red"
3. create vocab name "color" in **site2**
4. add a term name "yellow"

Then, site1's color has terms "red"  and "yellow".  site2's color also has terms "red"  and "yellow". That is incorrect.

[2020-03-04 14:24] rbran100 commented on #13103
not much to QA here, but if you notice issues @tcheng001 then we can re-open

[2020-03-04 14:24] #13103 closed

[2020-03-04 16:10] #11299 closed

[2020-03-04 18:11] tcheng001 commented on #12642
Mark "Fixed"
<img width="309" alt="Screen Shot 2020-03-04 at 11 29 51 AM" src="https://user-images.githubusercontent.com/2111600/75909225-a72a9300-5e19-11ea-8404-63717544e707.png">
<img width="298" alt="Screen Shot 2020-03-04 at 11 30 14 AM" src="https://user-images.githubusercontent.com/2111600/75909232-ac87dd80-5e19-11ea-845b-ef09185350c0.png">
<img width="283" alt="Screen Shot 2020-03-04 at 11

[2020-03-04 20:23] rbran100 commented on #12845
@saurabh-axl can you fix the merge conflicts from the recently merged PR's and take a look at the tests

[2020-03-05 04:03] subhojit777 commented on #12689
FYI @stamina84 https://www.drupal.org/project/drupal/releases/8.8.3

[2020-03-05 04:24] lomasgupta commented on #13105
Test are remaining. Please review the PR.

[2020-03-05 05:31] jashish24 opened #13140 "Repetitive Config Import"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13139

### Motivation:

There are certain configurations which are not getting imported.

[2020-03-05 05:59] subhojit777 commented on #12674
https://github.com/openscholar/openscholar/pull/13092#pullrequestreview-369310445

[2020-03-05 08:12] stamina84 commented on #12744
@tcheng001 Maybe nothing to QA here, please open if you notice related error

[2020-03-05 08:13] stamina84 commented on #12744
@rbran100, @Bilsi  I think we can close this issue

[2020-03-05 11:27] stamina84 commented on #12123
@mukeyshkumar could you please check this report https://github.com/openscholar/openscholar/issues/12123#issuecomment-592477676, is it possible to fix?

[2020-03-05 11:33] subhojit777 commented on #12454
@rbran100 I am not able to do multiple selection in a custom `FieldWidget`, see here https://github.com/openscholar/openscholar/pull/13099/files#diff-8d7239bfc5727d4459e23c5c8486030fR140. Any idea what is wrong? // @jashish24

[2020-03-05 13:05] tcheng001 commented on #12744
closing

[2020-03-05 13:17] stamina84 commented on #12689
Thanks, its done! `Updating drupal/core (8.8.2 => 8.8.3): Downloading (100%)`

[2020-03-05 13:48] #12744 closed

[2020-03-05 15:39] tcheng001 commented on #12844
@saurabh-axl   @subhojit777  @Bilsi   make "Pending"
This is annoying.  I can download and import template file successfully.
However, if I open it in **my Excel** and save it, I find all date format changed to MM/DD/YY. Of course,  import failed.
![Screen Shot 2020-03-05 at 10 11 22 AM](https://user-images.githubusercontent.com/2111600/75995236-21b2eb80-5eca-11ea-93b8-b629ffdf517d.png)
When I che

[2020-03-05 16:08] tcheng001 commented on #12844
@saurabh-axl    I see this message when import runs successfully.  There are 4 status - created, updated, failed, ignored.
<img width="830" alt="Screen Shot 2020-03-05 at 10 58 25 AM" src="https://user-images.githubusercontent.com/2111600/76000232-64c48d00-5ed1-11ea-8eff-6003d8ec3002.png">
1. Under what circumstance, updated will occur?
2. When import fails, system shows error message like below.

[2020-03-05 16:32] tcheng001 commented on #12844
@saurabh-axl
I import this file and get an error (No title in row 2 and 3). But why it states 1 error?  How import counter error?
https://drive.google.com/open?id=1URaEr3kdTsZqaGzsLSZa1n7xvVSf3z3I
![Screen Shot 2020-03-05 at 11 21 39 AM](https://user-images.githubusercontent.com/2111600/76001798-a6563780-5ed3-11ea-8987-597579196fb0.png)

Can you change this wording a bit?
`Title is required for ro

[2020-03-05 16:54] rbran100 commented on #13020
In dev pending question: https://github.com/openscholar/openscholar/pull/13131#issuecomment-595333046

[2020-03-05 17:09] rbran100 commented on #12454
Looking at the code, it would appear that 'massageFormValues' might only be taking the widget_id of the last widget since it replaces target_id each time through.  I would need to debug further to find out more but that looks like the culprit at first look.

[2020-03-06 05:20] kiran-axl commented on #13051
Observed another issue - If a sub-page title is renamed, then the widgets that are already present in that node are not visible anymore. I think this is because of config stored inside the section layout for that book (os_widgets.layout_context.os_pages_section_$book_id). cc: @subhojit777

[2020-03-06 06:07] kiran-axl commented on #13051
@rbran100 , currently all sub-pages are following layout rules for the context defined in os_pages_section layout and parent book pages and there is no way to identify the priority.
Instead, can we follow an approach of updating blocks data for all sub-pages once the main book page widgets are added/removed?
cc: @jashish24 @subhojit777

[2020-03-06 08:40] mukeyshkumar commented on #12123
@stamina84
I have tested on my local.
Found 4 error which is related to alt text is missing.

Attaching a screenshot for ref.

![OpenScholar-local](https://user-images.githubusercontent.com/47223502/76066710-20f68400-5fb4-11ea-9a4a-d80f64c8a884.png)

[2020-03-06 11:56] stamina84 commented on #12689
Fixing https://www.drupal.org/node/2779457

[2020-03-06 13:46] stamina84 commented on #12689
Working on fixing https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Path%21AliasRepository.php/class/AliasRepository/8.8.x

[2020-03-06 13:56] stamina84 commented on #12689
@rbran100 @subhojit777 Seems I have to rewrite and fit `profile/modules/vsite/src/Path/VsiteAliasStorage.php` to new Alias design in D8.8.x, lot of deprecated and redesign things came up.

[2020-03-06 14:42] stamina84 commented on #13052
@rbran100 Test is passed, it can be merged if PR is good

[2020-03-06 14:58] tcheng001 commented on #11403
@uttkarsh-26    How to test this one?

[2020-03-06 15:03] uttkarsh-26 commented on #11403
I think we will need to update the new token in the mail template for which it was originally needed for and then can be QAed, mostly related to events registration mails

[2020-03-06 15:12] tcheng001 commented on #11403
@uttkarsh-26   I know that email for event registration is still not sent out at this moment.

[2020-03-06 15:24] uttkarsh-26 commented on #11403
Then maybe you can create a ticket for both : `The events email issue` and separate issue for `Adding this newly create token to email templates. `

As for the scope of the ticket maybe @rbran100 or @jashish24 can QA it technically to check if new tokens are available or not for use then this can be closed in favor of other two mentioned above if it sounds fine . cc @Bilsi

[2020-03-06 16:00] tcheng001 commented on #11403
@uttkarsh-26   we have already this ticket.
https://github.com/openscholar/openscholar/issues/11864

[2020-03-06 16:30] tcheng001 commented on #12927
Mark "Fixed"
Any disabled app will not be accessible to export menu.
checked when logging in as vsite admin, content editor, even custom role.

[2020-03-06 16:30] #12927 closed

[2020-03-07 09:28] lomasgupta commented on #13105
Please review and merge.
![13105](https://user-images.githubusercontent.com/13271284/76140808-14416100-6084-11ea-87ef-efe1d0066059.png)

[2020-03-09 04:23] kiran-axl commented on #12674
Awaiting this PR (https://github.com/openscholar/openscholar/pull/13131) to be merged.

[2020-03-09 07:37] kiran-axl commented on #13051
@rbran100 , as in Drupal 7, there is no individual page layout for the sub-pages. If a widget is added/removed in a sub-page, that widget will be added/removed in all the pages wrt to that book. We will follow the same approach here by maintaining all the widgets in the section context instead of individual page layouts.
cc: @subhojit777 , @jashish24

[2020-03-09 08:22] subhojit777 commented on #12865
https://github.com/openscholar/openscholar/pull/13136#pullrequestreview-370977953

[2020-03-09 08:37] subhojit777 commented on #12844
I don't think that approach will be much user friendly. Correct me if I am wrong. // @tcheng001 @Bilsi

[2020-03-09 10:36] kiran-axl commented on #12993
@subhojit777 , Accessbility criteria should be like:
As a vsite admin, if I create a single page, I shouldn't be able to access the "Outline" tab.

[2020-03-09 12:04] tcheng001 commented on #12844
The problem is that import would fail after file is saved in csv format in Excel. Even though Excel shows warning when trying to save csv format, I believe that most of ordinary end users have no clue what that is and keep saving.  Finally, they complain that import fails. This situation happens very common in D7.

[2020-03-09 12:52] subhojit777 commented on #12844
We can address that scenario in #13108 and you can test rest of the items. What do you think?

[2020-03-09 12:58] subhojit777 commented on #12993
Thanks for pointing it out.

[2020-03-09 13:06] subhojit777 commented on #11802
@tcheng001 Shouldn't this be closed. Labelled as "status fixed"

[2020-03-09 14:33] tcheng001 commented on #13052
Mark "Fixed"
![Screen Shot 2020-03-09 at 10 32 56 AM](https://user-images.githubusercontent.com/2111600/76222757-6b187900-61f1-11ea-8c99-d814d5fa01c2.png)

[2020-03-09 14:33] #13052 closed

[2020-03-09 14:51] lomasgupta commented on #13037
![13105](https://user-images.githubusercontent.com/13271284/76226225-91670480-6243-11ea-9896-0ba14202915c.png)

[2020-03-09 15:09] tcheng001 commented on #12844
@subhojit777    Can you also handle these issues first?
https://github.com/openscholar/openscholar/issues/12844#issuecomment-595310033
https://github.com/openscholar/openscholar/issues/12844#issuecomment-595321933

[2020-03-09 18:02] tcheng001 commented on #11802
@stamina84
why it shows More button in /blog page?  It happens on /news and  /people page too. But I don't see the issue on /publications page.
https://drive.google.com/file/d/1fyDS5iZyPTZsHKora-WWLcg5q7c-DVXs/view

Tested on http://d8.theopenscholar.com/site21/blog?234

[2020-03-09 19:14] tcheng001 opened #13148 "Missing Add -> Software item even though the app is enabled"
![Screen Shot 2020-03-09 at 3 10 15 PM](https://user-images.githubusercontent.com/2111600/76248850-8c409000-6218-11ea-83c4-1ba257c1f0ae.png)

[2020-03-10 15:17] stamina84 commented on #12689
Seems I did a breakthrough in refactoring Alias path storage, waiting for CI

[2020-03-10 15:47] tcheng001 commented on #13020
Moving to "in dev".   I did create a new site to check  (http://d8.theopenscholar.com/search3)

Search default widgets look weird.
![Screen Shot 2020-03-10 at 11 36 34 AM](https://user-images.githubusercontent.com/2111600/76330521-4e00aa80-62c4-11ea-8975-31c4c29fea23.png)

Default widgets should look like this
![Screen Shot 2020-03-10 at 11 44 00 AM](https://user-images.githubusercontent.com/21116

[2020-03-10 15:50] #13140 closed

[2020-03-10 15:50] tcheng001 commented on #11403
Mark "Pending"
Blocked by #11864

[2020-03-10 15:53] rbran100 commented on #13105
@tcheng001 don't think there is anything to directly QA with this

[2020-03-10 18:27] #13020 closed

[2020-03-11 05:33] Jiteshkhatwani commented on #12954
We have to check previous PRs in purl in order to rectify the issue of failing tests travis. cc @Bilsi @rbran100

[2020-03-11 05:42] lomasgupta commented on #13105
Steps to QA :
Create a vsite
![13105](https://user-images.githubusercontent.com/13271284/76385743-7eaa1800-6388-11ea-8790-bd8b109d6f12.png)
2.Select any category.
Default content will be visible on specific page after viste is created, for example FAQ block will be visible on right side bar on /faq page of the vsite.

[2020-03-11 05:43] lomasgupta commented on #13037
Self review for this ticket is done with https://github.com/openscholar/openscholar/issues/13105

[2020-03-11 11:43] #13105 closed

[2020-03-11 13:01] stamina84 commented on #12689
Checked with latest demo database dump and with little fixes its OK to update that DB, no path aliases were missing.

[2020-03-11 13:27] rbran100 commented on #12954
@Jiteshkhatwani thought you were looking into this to determine what needed to be changed from the old PR's but I now see it is pending, were you waiting on something from me?

[2020-03-11 14:03] shashikanth171 commented on #13114
Group presets have some apps disabled. But, the permissions related to them are accessible on the form. We need to hide these permissions.
Raised a WIP PR https://github.com/openscholar/openscholar/pull/13155
Please review @jashish24

[2020-03-11 14:39] tcheng001 commented on #12444
Look good.  Mark "Fixed"
![Screen Shot 2020-03-11 at 10 38 55 AM](https://user-images.githubusercontent.com/2111600/76428795-8a93db00-6384-11ea-8f95-d30bda121ae2.png)

[2020-03-11 14:39] #12444 closed

[2020-03-11 15:35] rbran100 commented on #13108
@subhojit777 after talking with @tcheng001 and @Bilsi we would like to still accept the above (MM/DD/YYYY) as the default but would like to accept more.  Since the user has very little visibility about what Excel is saving in the CSV and to account for date+time we would like to accept anything submitted by: https://www.php.net/manual/en/function.strtotime.php

By default strtotime will use the ti

[2020-03-11 15:37] Bilsi commented on #12844
https://github.com/openscholar/openscholar/issues/13108#issuecomment-597704011 - date issue

[2020-03-11 17:02] rbran100 opened #13156 "Uncaught URL Exception when trying to import content with incorrect URLs"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13253
### Steps to replicate:

1. Visit `/<vsite>/cp/content/import/profiles`
2. Upload a csv with incorrect file source - see ![Screen Shot 2020-03-11 at 1 22 15 PM](https://user-images.githubusercontent.com/2111600/76445266-89ba7380-639b-11ea-8323-f3668aacbccd.png)
3. Run the import
4. You will see warnings in the logs

[code]

Ri

[2020-03-11 17:23] tcheng001 commented on #13156
import person runs successfully with an invalid URL. For example:
![Screen Shot 2020-03-11 at 1 22 15 PM](https://user-images.githubusercontent.com/2111600/76445266-89ba7380-639b-11ea-8323-f3668aacbccd.png)

[2020-03-11 17:48] rbran100 opened #13157 "Error messages for imports."
Break the error message up by columns, so "Title is required" or "Date format is incorrect" will be on separate lines.  The first line will be a summary of the number of errors.

**Summary**
The Import file has X errors.

**Column Error, single row**
Row X: The Title is required

**Column Error, multiple rows**
N Rows: The Title is required

^^ For multiple rows we should have a tooltip that lists

[2020-03-11 17:49] rbran100 commented on #12844
See https://github.com/openscholar/openscholar/issues/13157

[2020-03-11 18:56] tcheng001 commented on #13037
Mark "Fixed"
1. Recent FAQs widget is placed in /blog page by default
2. Recent FAQs widget is placed in /blog/xyz page by default
3. Recent FAQs widget can be moved around in the layout of /blog

![Screen Shot 2020-03-11 at 2 53 05 PM](https://user-images.githubusercontent.com/2111600/76452782-0ce1c680-63a8-11ea-8167-c6f95b77750e.png)
![Screen Shot 2020-03-11 at 2 53 37 PM](https://user-images.gi

[2020-03-11 18:56] #13037 closed

[2020-03-11 18:56] Bilsi commented on #12844
@saurabh-axl - i placed it back in dev. Please check on the pending items

[2020-03-11 18:59] rbran100 commented on #12290
@saurabh-axl I don't see a new PR to review, did you check the tags on that view or test the expiration and you don't think any changes are required?  If so you can close this.

[2020-03-11 19:08] tcheng001 commented on #12845
@saurabh-axl  @subhojit777    Please check anything you need to change on this ticket when  (https://github.com/openscholar/openscholar/issues/13108) and (https://github.com/openscholar/openscholar/issues/13157)  are done.

[2020-03-11 20:18] tcheng001 opened #13158 "Contact redirects to wrong place"
if you click on "Contact in the menu of https://gened.fas.harvard.edu/ , it redirects to https://comscicon.com/contact
It should redirect the site's a basic page with title "Contact"

Note: this is a D7 bug.

[2020-03-11 20:55] stamina84 commented on #12123
Checked the errors and its related to third-party Crop UI tool, it can't be fixed with our code, so may need to patch contrib or something else. I will create a new issue for this (discussed with Richard)

[2020-03-11 20:59] stamina84 opened #13159 "Crop UI A11Y issues in Slideshow widget"
PR:

A11Y report for crop UI in slideshow widget
![image](https://user-images.githubusercontent.com/3629993/75544469-58998500-5a24-11ea-8486-cd0918c02cb9.png)
Steps to reproduce:
* visit any vsite and click Layout
* Add new Slideshow widget, no need to upload any new slide
* place new widget into any region
* Save layout
* click to "Add slide" button, and popup dialog should appear

On edit widget

[2020-03-11 21:10] stamina84 commented on #12689
Write a little summary about new Vsite alias redesign:
* remove the VsiteAliasStorage and separate into two part
  * `VsitePathAliasHelper` this will handle old save method, and handle adding extra /[vsite:X] to alias when save and fix group alias
  * `VsiteAliasRepository` this will extend `AliasRepositoryInterface` and override functions: `preloadPathAlias`, `lookupBySystemPath`, `lookupByAlias`

[2020-03-12 03:50] lomasgupta commented on #13041
![13041](https://user-images.githubusercontent.com/13271284/76485531-c4c3b200-6442-11ea-8b95-e595c9e1da24.png)

[2020-03-12 03:54] lomasgupta commented on #13038
![news](https://user-images.githubusercontent.com/13271284/76485719-487d9e80-6443-11ea-9943-0392502e7f35.png)

[2020-03-12 04:48] Jiteshkhatwani commented on #12954
@rbran100 nope, I am not waiting for anything currently from you, as discussed I have started with sprint tickets as this was taking more time than expected. Also, I will pick this from today and will let you know if anything is required especially in terms of new release for purl. cc @Bilsi

[2020-03-12 05:23] saurabh-axl commented on #12290
@rbran100 I had discussion with @jashish24 on this we dont need any changes in cache so ive closed the PR. Im not closing the ticket.

[2020-03-12 05:23] #12290 closed

[2020-03-12 05:27] lomasgupta commented on #13038
The description says default_contents/<entity_type_id>/<bundle>/<file>.csv
Should we add values one csv or create separate csv for each block, for example for bundle type "list_of_posts" should we add values for each block in one csv?
Please suggest  @Bilsi @subhojit777 @uttkarsh-26 @rbran100

[2020-03-12 05:59] lomasgupta commented on #13033
![publications](https://user-images.githubusercontent.com/13271284/76491853-b383a100-6454-11ea-8f52-3a7e1598bd3e.png)

[2020-03-12 08:09] uttkarsh-26 commented on #13042
I have changed the implementation a bit,  in that :
The widget showing the grouped alphabets will be custom text/html widget rather than a views widget.
Added new view also which will handle the alphabetical group filtering. cc @subhojit777

[2020-03-12 08:28] lomasgupta commented on #13036
Do we require to enable this widget on "publications" page also, please confirm @Bilsi @rbran100

[2020-03-12 09:54] lomasgupta commented on #13032
![events](https://user-images.githubusercontent.com/13271284/76509121-84c9f280-6475-11ea-8491-0c891cbca14e.png)

[2020-03-12 11:10] lomasgupta commented on #13127
Looking into it

[2020-03-12 11:26] saurabh-axl commented on #12845
@tcheng001 All Import tickets would be dependent on these tickets.

[2020-03-12 12:00] stamina84 commented on #13158
I found the problem, Contact node page (89436) is connected to comscicon.com, not to gened2, someone crosslink that node, thinking about stable solution

[2020-03-12 12:59] tcheng001 opened #13165 "Breadcrumbs of news archive incorrect"
PR: https://github.com/openscholar/openscholar/pull/13268

## Motivation
This problem is found when using Filter News By Year widget.
Here is an example:
I click "2018" from the widget.  Content is correct.  However, breadcrumbs is "HOME / NEWS / NEWS / News". That is odd.

 "HOME / NEWS / ARCHIVE / 2018" seems to make more sense?
1. "HOME" redirects to home page of the site
2. "NEWS" redirects to

[2020-03-12 12:59] rbran100 commented on #13038
The same CSV should be fine.

[2020-03-12 13:07] tcheng001 commented on #13158
The issue also happens on other sites. Like these two
https://narang.seas.harvard.edu/contact
https://racing.seas.harvard.edu/contact
We need to find the root cause.

[2020-03-12 13:17] tcheng001 commented on #13036
@lomasgupta   I dont think we need the widget on /publications page. Thanks.

[2020-03-12 14:40] stamina84 commented on #13158
I got it, seems EVERY contact page will redirect to this, because of one url_alias database item, missing the purl prefix:
[code]
The correct one is this:
[code]

[2020-03-12 14:54] #13158 closed

[2020-03-12 14:54] rbran100 commented on #13158
Fixed this in prod, thanks @stamina84

[2020-03-12 15:14] tcheng001 commented on #13033
moving to "in dev"
@lomasgupta
1. Sort By should be set to Year of Publication
2. Although [Select All] is checked, all others need to be checked as well.
![Screen Shot 2020-03-12 at 11 11 23 AM](https://user-images.githubusercontent.com/2111600/76536302-8afaa780-6452-11ea-8d34-0d9f2af3c69e.png)

[2020-03-12 15:23] tcheng001 commented on #12993
Mark "Fixed"
![Screen Shot 2020-03-12 at 11 21 16 AM](https://user-images.githubusercontent.com/2111600/76537139-b762f380-6453-11ea-9a8f-503cee22de2d.png)

![Screen Shot 2020-03-12 at 11 22 40 AM](https://user-images.githubusercontent.com/2111600/76537210-d5305880-6453-11ea-8953-7aa6781eb8c8.png)

[2020-03-12 15:23] #12993 closed

[2020-03-12 15:29] tcheng001 commented on #13041
Mark "Fixed"
![Screen Shot 2020-03-12 at 11 28 51 AM](https://user-images.githubusercontent.com/2111600/76537845-bb434580-6454-11ea-9660-cdc72cdb67b1.png)

[2020-03-12 15:29] #13041 closed

[2020-03-12 20:38] stamina84 opened #13166 "Fix phpcs errors"
PR: #13167

[code]

[2020-03-12 20:47] tcheng001 commented on #13038
@lomasgupta    Can you place the widget above Filter News By Year?
Tested on http://d8.theopenscholar.com/default-widgets006/news
![Screen Shot 2020-03-12 at 4 44 53 PM](https://user-images.githubusercontent.com/2111600/76565502-1723c380-6481-11ea-918f-6988cbe36f9d.png)

[2020-03-12 21:23] tcheng001 commented on #13040
Mark "Fixed"
Widget can't be edited or deleted by user
![Screen Shot 2020-03-12 at 5 22 22 PM](https://user-images.githubusercontent.com/2111600/76567938-37a24c80-6486-11ea-8830-9253cb35bca4.png)

[2020-03-12 21:24] #13040 closed

[2020-03-12 21:26] tcheng001 commented on #13039
Mark "Fixed"
This widget can't be edited or removed from vsite by users
![Screen Shot 2020-03-12 at 5 22 22 PM](https://user-images.githubusercontent.com/2111600/76568072-818b3280-6486-11ea-8648-c8bd1193c845.png)

[2020-03-12 21:26] #13039 closed

[2020-03-13 01:38] lomasgupta commented on #13036
![blog_all](https://user-images.githubusercontent.com/13271284/76581454-5ee63180-64f9-11ea-9934-bf2d5c5ea649.png)

[2020-03-13 01:52] lomasgupta commented on #13038
Right Now we are setting weight 0 for all LOP widgets.  Should we add weight per block from backend?

[2020-03-13 04:15] subhojit777 commented on #13036
https://github.com/openscholar/openscholar/pull/13164#pullrequestreview-374038445

[2020-03-13 04:16] subhojit777 commented on #13166
Thanks for looking into it.

[2020-03-13 05:49] subhojit777 commented on #12844
I suggest putting this ticket in pending, as some items are pending on #13157 and #13108 We can revisit these import tickets once they are addressed. What do you think @Bilsi ?

[2020-03-13 06:22] subhojit777 opened #13168 "Widgets are visible if sub page title is changed"
**Pull request:**

**Parent:**

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-03-13 06:23] subhojit777 commented on #13168
@tcheng001 We found this problem a few days ago. Can you confirm?

[2020-03-13 07:30] subhojit777 commented on #13035
@uttkarsh-26 Can you upload the a11y report please.

[2020-03-13 07:31] subhojit777 commented on #13035
@uttkarsh-26 this has been merged. you may also QA now. If there are any a11y problems, please fix it in a new PR.

[2020-03-13 07:49] uttkarsh-26 commented on #13035
![Screenshot 2020-03-13 at 1 19 04 PM](https://user-images.githubusercontent.com/38376852/76600593-3c6e0b80-652d-11ea-8d43-b10b6d47fb91.png)

[2020-03-13 10:28] subhojit777 opened #13171 "Make project compatible with PHP 7.4"
**Pull request:**

### Motivation:

Since, now we are using Drupal 8.8.3 (#12689), therefore, we can now use PHP 7.4. PHP 7.4 is faster and has many new features that will make OpenScholar better.

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-03-13 10:28] subhojit777 commented on #13171
What do you think @rbran100? // @Bilsi @jashish24

[2020-03-13 10:56] subhojit777 opened #13172 "PHP warnings after creating a new widget"
**Pull request: https://github.com/openscholar/openscholar/pull/13215**

### Steps to replicate:

1. Visit layout edit mode
1. Create a new widget (say, Custom Text/HTML)
1. Place the widget in a region
1. Save settings
1. Let the page load
1. Visit `/admin/reports/dblog`
1. You will see two new PHP warnings that are added

[code]

[code]

### Motivation:

### Acceptance Criteria

1.

### Technica

[2020-03-13 10:57] subhojit777 commented on #13172
FYI @Bilsi @jashish24

[2020-03-13 12:11] tcheng001 commented on #13038
Is it hard to only set weight higher number for that particular widget?  If
yes, ignore and return the ticket to "QA".

On Thu, Mar 12, 2020 at 9:52 PM Lomas Rishi Gupta <notifications@github.com>
wrote:

[2020-03-13 12:45] stamina84 commented on #13166
Can be closed, nothing to QA

[2020-03-13 12:46] #13166 closed

[2020-03-13 12:55] Bilsi commented on #12844
@subhojit777 - yes, put it in pending

[2020-03-13 13:02] stamina84 commented on #12947
@rbran100 @subhojit777 I think we can close this issue, I didn't see any problems

[2020-03-13 13:39] tcheng001 commented on #13168
I am not able to remove a widget for ALL pages from a subpage.  @subhojit777  @kiran-axl  can you provide steps to replicated the issue?
https://drive.google.com/file/d/1SGYNJrwCh2AXtE-KYOHTem3kmUpxJqHG/view

[2020-03-13 14:10] tcheng001 commented on #12123
Moving to "in dev"
Unable to crop image.  After image is uploaded, cropping UI function is not working.
![Screen Shot 2020-03-13 at 10 09 54 AM](https://user-images.githubusercontent.com/2111600/76628296-e42a1000-6512-11ea-9786-2dd0137f6289.png)

[2020-03-13 15:12] tcheng001 commented on #12123
Ignore my previous comment.  Moving to "in dev"

When I click [Add slide], there is a popup.  But the popup is narrower.   Can we make it wider?
![Screen Shot 2020-03-13 at 11 07 48 AM](https://user-images.githubusercontent.com/2111600/76633328-ec864900-651a-11ea-9f1e-a792173e5767.png)

![Screen Shot 2020-03-13 at 11 02 42 AM](https://user-images.githubusercontent.com/2111600/76632949-5a7e4080-651

[2020-03-13 15:13] stamina84 commented on #12123
Yeah I noticed that too, sure I will check

[2020-03-13 15:14] stamina84 commented on #12123
Or, can we create a new issue for that? :) @tcheng001

[2020-03-13 17:06] tcheng001 opened #13173 "Slideshow widget: Make Add new slide popup wider"
When I click [Add slide], there is a popup.  But the popup is narrower.   Can we make it wider?
![Screen Shot 2020-03-13 at 11 07 48 AM](https://user-images.githubusercontent.com/2111600/76633328-ec864900-651a-11ea-9f1e-a792173e5767.png)

Edit form is wider
![Screen Shot 2020-03-13 at 11 02 42 AM](https://user-images.githubusercontent.com/2111600/76632949-5a7e4080-651a-11ea-82a7-fa85b073d90e.png)

[2020-03-13 17:16] tcheng001 commented on #13078
Look good now.  Mark "Fixed"

[2020-03-13 17:16] #13078 closed

[2020-03-13 17:21] tcheng001 commented on #13086
Mark "Fixed"
![Screen Shot 2020-03-13 at 1 19 05 PM](https://user-images.githubusercontent.com/2111600/76644529-835c0100-652d-11ea-87b4-5c6e5df2da55.png)
![Screen Shot 2020-03-13 at 1 19 31 PM](https://user-images.githubusercontent.com/2111600/76644548-8f47c300-652d-11ea-958a-e6dfeca28cb6.png)

[2020-03-13 17:21] #13086 closed

[2020-03-13 18:33] tcheng001 commented on #11193
Still missing Export link like D7 in /calendar and /calendar/upcoming page.
![Screen Shot 2020-03-13 at 2 28 38 PM](https://user-images.githubusercontent.com/2111600/76649588-662c3000-6537-11ea-9dce-20ccc60eedc5.png)

![Screen Shot 2020-03-13 at 2 29 52 PM](https://user-images.githubusercontent.com/2111600/76649525-38df8200-6537-11ea-8d1b-9103fe2b2d86.png)

You can refer to this D7 site (https://p

[2020-03-13 19:17] tcheng001 opened #13174 "Blog archives breadcrumb incorrect"
PR: https://github.com/openscholar/openscholar/pull/13270, https://github.com/openscholar/openscholar/pull/13297

**Dependencies**:
https://github.com/openscholar/openscholar/issues/13165

## Motivation:
Here is an example: "HOME / BLOG / ARCHIVES / ARCHIVES / Archives" when I click "March 2020"
It should look like "HOME / BLOG / ARCHIVES / March 2020"
1. HOME redirects to the home page of the sit

[2020-03-13 19:36] tcheng001 commented on #13035
Mark "Fixed"
![Screen Shot 2020-03-13 at 3 35 24 PM](https://user-images.githubusercontent.com/2111600/76654016-60871800-6540-11ea-8b17-b7921753a870.png)

[2020-03-13 19:36] #13035 closed

[2020-03-13 20:30] tcheng001 commented on #13032
moving back to "in dev"
Please change settings like in D7
Display style => Sidebar Teaser
Sorted By => Event Date Ascending (Past to Future)
Show => Upcoming Events
Events should expire => 30 minutes after an event starts

![Screen Shot 2020-03-13 at 4 19 53 PM](https://user-images.githubusercontent.com/2111600/76657123-7c41ec80-6547-11ea-99b5-ff6de6ee6335.png)

[2020-03-15 17:38] stamina84 commented on #12123
@tcheng001 I see you created a new issue for that, so I put back to QA

[2020-03-16 04:11] subhojit777 commented on #13066
https://github.com/openscholar/openscholar/pull/13169#pullrequestreview-374902504

[2020-03-16 04:19] subhojit777 commented on #12865
https://github.com/openscholar/openscholar/pull/13136#pullrequestreview-374903209

[2020-03-16 04:29] subhojit777 commented on #13005
@rbran100 can you take a look https://github.com/openscholar/openscholar/pull/13097#pullrequestreview-374905865

[2020-03-16 04:41] subhojit777 commented on #12947
Yep.

[2020-03-16 04:48] kiran-axl commented on #13168
@tcheng001 , we have a ticket #13051  for that already and I am working on that ticket fix.

This is a new bug. If we rename the sub-page title, then the widgets aren't visible due to the config stored.

[2020-03-16 05:24] uttkarsh-26 commented on #13032
Updated ticket description as per new settings requires. @lomasgupta, please verify and make these changes in the CSV and tests

[2020-03-16 05:31] lomasgupta commented on #13038
This is major change. I have to add another field in the csv file for widgets weight and make changes accordingly in the backend. cc @Bilsi @rbran100 @tcheng001 @subhojit777

[2020-03-16 05:47] uttkarsh-26 commented on #13038
I think we may be better off setting weights once all default widgets are done and then a single issue handles there placement order, that is we can add required weight to each default widget ticket csvs otherwise it will be inconsistent.
cc @subhojit777 @lomasgupta @Bilsi @tcheng001 @rbran100

[2020-03-16 07:04] subhojit777 commented on #13159
@stamina84

    visit any vsite and click Layout
    Add new Slideshow widget, no need to upload any new slide
    place new widget into any region
    Save layout
    click to "Add slide" button, and popup dialog should appear

I was not able to create a slideshow widget without an image slide, while the step mention that you can. Anything I am missing?

<img width="1278" alt="image" src="https:/

[2020-03-16 07:38] subhojit777 commented on #13126
@tcheng001 I was not able to replicate the problem.

I created the new vsite from "Create site" option, and I chose Personal-Personal preset.
![question-1](https://user-images.githubusercontent.com/1435641/76733644-3d9a7500-6787-11ea-9e9b-a8c36ad25611.png)

I created a "class" content, and it redirected to the newly created content, not to the home page.

[2020-03-16 07:40] subhojit777 commented on #13126
@tcheng001 I also checked the alias url from `/cp/content/browse/node` and the redirect worked as expected.

[2020-03-16 09:43] stamina84 commented on #13005
Little summary:
* I tried to use original Vocabulary and Taxonomy REST resource, but I got access issues and data structure issues, so I decided to build custom REST resources (`OsVocabularyResource.php`, `OsTaxonomyResource.php`)
* I got vocabulary visual issues, what are come from missing select2.. more precisely missing old select2 (3.4.3), what I can't inlcude, because mess up the current sele

[2020-03-16 09:49] lomasgupta commented on #13032
![cal](https://user-images.githubusercontent.com/13271284/76743997-8c510a80-6799-11ea-8685-b87ba9fd0721.png)

[2020-03-16 11:45] stamina84 opened #13178 "Hotfix gitignore console dir and config files"
PR: #13180

* Git ignore console directory
* fix config files after install

[2020-03-16 11:46] subhojit777 commented on #13034
@uttkarsh-26 merged. confirm changes on demo.

[2020-03-16 12:25] lomasgupta commented on #13036
I have created a new pull request (older one https://github.com/openscholar/openscholar/pull/13164)
Reason: It was not merging.

[2020-03-16 12:36] Bilsi commented on #13038
@uttkarsh-26 @lomasgupta - yes, complete the widget. We can create a different ticket for placement once all the default widgets are done @tcheng001

[2020-03-16 13:10] tcheng001 commented on #12674
1. Sec Nav widget doesn't appear on landing page
2. Redirect to home page after saving Sec Nav widget. It should redirect to where it was

[2020-03-16 17:54] tcheng001 commented on #13038
@lomasgupta    Please set Sort By to News Date instead of Newest Post.
![Screen Shot 2020-03-16 at 1 53 02 PM](https://user-images.githubusercontent.com/2111600/76786475-a71d8200-678d-11ea-81eb-393cce4faf42.png)

[2020-03-16 19:05] tcheng001 commented on #13034
Mark "Fixed"
Checked the following pages
/publications
/blog
/classes
/news
/presentations
/software

[2020-03-16 19:05] #13034 closed

[2020-03-16 19:35] tcheng001 commented on #13042
Moving to "in dev"
I click the group "F-J", but the page contains empty content.  Please don't show groups in which there is no content.
![Screen Shot 2020-03-16 at 3 29 08 PM](https://user-images.githubusercontent.com/2111600/76793404-5e6cc580-679b-11ea-93fe-3130f9bd74ab.png)

[2020-03-16 20:59] rbran100 commented on #13178
Restarted some jobs and this passed CI tests

[2020-03-16 21:00] rbran100 commented on #13113
@saurabh-axl I restarted tests but this was failing the last 2x can you take a look.

[2020-03-16 21:09] rbran100 commented on #13033
https://github.com/openscholar/openscholar/pull/13177#issuecomment-599759221

review comment

[2020-03-16 23:37] tcheng001 commented on #12123
moving back to "in dev"
if I use widget form to add image, then I get a message like this (media:image:baa1f704-600e-4088-8f74-ac6088174e5b) and I have no way of cropping the image
![Screen Shot 2020-03-16 at 7 32 59 PM](https://user-images.githubusercontent.com/2111600/76808109-0e065f80-67bd-11ea-8e4e-3c9abe3f2443.png).  Then I save the widget and find that the image was still uploaded successful

[2020-03-16 23:58] tcheng001 commented on #13104
@stamina84
If uploading file from the form, no thumbnail is shown and there is no way of cropping.
![Screen Shot 2020-03-16 at 7 53 12 PM](https://user-images.githubusercontent.com/2111600/76809061-fe3c4a80-67bf-11ea-97c7-5dbba7757b7b.png)

If clicking Save button, the image will still appear in the widget.

But if you use [Add slide] button to upload, everything looks good.
![Screen Shot 2020-03-

[2020-03-17 01:09] tcheng001 commented on #13062
duplicate of #13061.   closing

[2020-03-17 01:09] #13062 closed

[2020-03-17 01:12] tcheng001 commented on #13104
Mark "Fixed"
1) In WYSIWYG,
a. upload from local system (all ways)
b. embed URL
c. embed iframe
d. add from existing files

2. Attach file in content node (say blog)
3. Add media in Custom Text/HTML widget.

[2020-03-17 01:12] #13104 closed

[2020-03-17 04:08] subhojit777 commented on #13032
@lomasgupta merged. confirm the fixes on demo.

[2020-03-17 04:30] kiran-axl commented on #12674
yes @tcheng001 , it will be cached. Clearing cache works to see the new changes.

If you need to move a sub-page to new book, you should click on "Move" button in that row. An ajax action happens and it moves the sub-pages and its children pages to the new book. Please let me know if you need more info on this.

[2020-03-17 04:42] Jiteshkhatwani commented on #12586
@tcheng001 I am changing this to Q/A, the dependent #11024  ticket also pushed to Q/A.

[2020-03-17 05:33] subhojit777 commented on #13028
@kiran-axl merged. confirm changes on demo.

[2020-03-17 06:14] stamina84 commented on #12123
Did a lot of tests on `default-widget010` vsite, but can't reproduce the error. I will try to change the form mode, maybe thats the problem, this will change the form looks a little.
Have you noticed any relation to environment while you tested?
* slow response from server?
* unstable internet connection?
* big file/small file upload?
* not waiting ajax response?

[2020-03-17 06:31] subhojit777 commented on #13043
@tcheng001 Can you tell me whether you are talking about this widget? in https://scholar.harvard.edu/torman_personal/software

<img width="337" alt="image" src="https://user-images.githubusercontent.com/1435641/76828330-b57ba480-6846-11ea-91fe-4330a222e90f.png">

Also, we found that the widget shows only one release - I guess the most recent one. Can you confirm, whether it shows only one release?

[2020-03-17 06:37] saurabh-axl commented on #13030
@jashish24 Build passed please merge.

[2020-03-17 09:15] kiran-axl commented on #13028
verified on dev environment (http://d8.theopenscholar.com/site01/cp/content/browse/files). Tried uploading a video but failed with an error message.

[2020-03-17 09:15] subhojit777 commented on #13126
@tcheng001 I found that the problem is not related to "vsite admin", it is happening for any user. The key problem is the wording "admin" in vsite name. I also found that the problem happens if wording "user" is used in the vsite name. I have updated the ticket details accordingly, please confirm.

As a user, after I create new content for vsite with name "usersite01", I should be redirected to th

[2020-03-17 09:24] subhojit777 commented on #13156
I think we should prevent the import of that row entry, if an invalid URL is found. That should prevent the PHP warnings. What do you think? @tcheng001 // @rbran100

[2020-03-17 09:46] stamina84 commented on #13159
@subhojit777 Hmm, as I see I can create report with 5 errors too, I don't know whats happening, but we can ignore first use case, because its almost the same as the second (same form widget is used, just not the whole block form, just paragraph form)

You can debug errors with following remove style switcher:
![image](https://user-images.githubusercontent.com/3629993/76843291-ddb1d600-683b-11ea-8e

[2020-03-17 10:18] subhojit777 commented on #12817
@tcheng001 We found this problem while creating presentations. Can you confirm? Anything else that we missed?

As a vsite member, I am creating a presentation, I should be able to upload different files in "Presentation Slides" and "Attach Supplemental Presentation Files (handouts, notes, curricula, etc.)"
As a vsite member, I am creating a presentation, after I upload different files in "Presenta

[2020-03-17 11:19] stamina84 commented on #12995
I can see that issue only `site17` with administrator group role, I tried to compare vsite permissions, but nothing found. Interesting that I can't reproduce the error in other vsite like `site01`, and tried also with new created vsite. Run out of ideas, @subhojit777 do you have any ideas or hint for check something?

[2020-03-17 12:14] Bilsi commented on #13043
@subhojit777 - yes

[2020-03-17 12:34] subhojit777 commented on #13043
We will have to update the specs accordingly. We got it wrong before.

[2020-03-17 12:49] tcheng001 commented on #13043
@subhojit777   Double-checked in D7,  it should show the latest **recommended** release in which projects. That means each project can show only **recommended** release.  If there is no **recommended** release for a project, then doesn't show the project.  The ordering is descending based on post date of release.

https://scholar.harvard.edu/torman_personal/software
![Screen Shot 2020-03-17 at 8 4

[2020-03-17 12:58] tcheng001 commented on #12817
@subhojit777
There are two fields for file upload in presentation form.  One is Presentation Slide, another is for attached files just like in other content nodes.  For Presentation Slide, file formats are limited to .ppt, .pptx, .pps, .ppsx, and .pdf.   For attached files, file formats are all file types like in other content nodes.

[2020-03-17 13:04] tcheng001 commented on #13156
@subhojit777 @rbran100    I think the best way is to quit to import all data and display a useful error message for that rows. In that way, end users can fix the invalid data in csv file and then import again.

[2020-03-17 13:25] stamina84 commented on #13005
Tried following components, but its require much higher angular version:
* https://ng-select.github.io/ng-select#/data-sources
* https://www.npmjs.com/package/ng-select2
* https://www.npmjs.com/package/ng-select2-angular

[2020-03-17 13:33] stamina84 commented on #13178
Thanks! Nothing to QA

[2020-03-17 13:47] tcheng001 commented on #12123
@stamina84   I asked my colleague to check, he sees the same problem.  No cropping and thumbnail is shown when image is uploaded from widget form.

[2020-03-17 14:04] rbran100 commented on #13171
This would be great, we should make sure that we have pre-loading enabled in our environment once we deploy this.

[2020-03-17 14:24] rbran100 commented on #13042
@uttkarsh-26 this was done with a view in D7, there was a view that created a summary of the last name with just the first letter, and then a preprocess to group those together into a couple groups.

https://github.com/openscholar/openscholar/blob/4db6f1789db18590a5f295a488f244715d812c48/openscholar/modules/os_features/os_profiles/os_profiles.module#L70

[2020-03-17 15:01] tcheng001 commented on #11024
@Jiteshkhatwani
For Select vocabulaires,
- [ ] 1.  need one more option like D7 - All vocabularies
![Screen Shot 2020-03-17 at 10 50 04 AM](https://user-images.githubusercontent.com/2111600/76868405-3df54780-683d-11ea-9032-89833c1d758b.png)

- [ ] 2. I select both terms (color and geolocation), but the widget only show color's terms
![Screen Shot 2020-03-17 at 10 52 52 AM](https://user-images.gith

[2020-03-17 16:26] #12924 closed

[2020-03-17 17:13] rbran100 commented on #12123
@tcheng001 @stamina84 submitted a change that he thinks might help, if not can you put back in dev, any ideas for helping him reproduce?

[2020-03-17 17:52] rbran100 commented on #12954
new release: https://github.com/openscholar/purl-d8/releases/tag/v1.0.8

[2020-03-17 19:32] lomasgupta commented on #13038
Self review done.

[2020-03-17 20:02] rbran100 commented on #13005
@stamina84 it looks like you ended up using ng-select2 is that a permanent solution?

[2020-03-17 20:27] tcheng001 commented on #13038
Mark "Fixed"
![Screen Shot 2020-03-17 at 4 27 05 PM](https://user-images.githubusercontent.com/2111600/76898513-3bf6ad00-686c-11ea-880b-89e169c076e1.png)

[2020-03-17 20:28] #13038 closed

[2020-03-17 20:46] tcheng001 commented on #13032
Mark "Fixed"
![Screen Shot 2020-03-17 at 4 37 48 PM](https://user-images.githubusercontent.com/2111600/76899323-abb96780-686d-11ea-99fc-e9c1d42a994c.png)
![Screen Shot 2020-03-17 at 4 44 08 PM](https://user-images.githubusercontent.com/2111600/76899788-9b55bc80-686e-11ea-8a36-ebfe7603bcb6.png)

[2020-03-17 20:46] #13032 closed

[2020-03-17 22:07] stamina84 commented on #13005
Currently I am trying to implement with “simple” not-angular way, with jQuery, but not sure it is possible, let see tomorrow

[2020-03-18 04:19] subhojit777 commented on #13043
@lomasgupta I have updated the specs. You may pick this ticket now.

[2020-03-18 04:58] stamina84 commented on #13005
No, its not working, not compatible, I will remove from PR

[2020-03-18 05:30] subhojit777 commented on #12995
That menu creation is controlled with the vsite permission `create url aliases` - see `\os_form_node_form_alter`. Can you check if that permission is configured correctly for vsite admin? Sometimes, people may visit this path `/<vsite>/admin/group/types/manage/personal/permissions` and perform changes, and that could break things. I have observed that before as well - see https://github.com/opensc

[2020-03-18 05:36] kiran-axl commented on #13168
@tcheng001 , updated ticket description (Steps to replicate) with the steps. Please check and confirm.

[2020-03-18 06:56] subhojit777 commented on #12124
@Bilsi I have picked https://github.com/openscholar/openscholar/issues/12036 for the team A next sprint. If we fix #12036 then I think this will be fixed as well. I would suggest putting this in pending. We will revisit this after 12036 is closed. Sounds good?

[2020-03-18 08:19] uttkarsh-26 opened #13187 "Mini Calendar Bugs"
**Motivation** :
Mini Calendar appears like this on all pages except `/calendar` page.
![Screenshot 2020-03-18 at 1 43 09 PM](https://user-images.githubusercontent.com/38376852/76939517-889ac080-691e-11ea-8d8f-2559613b453e.png)
--------------------------------------------------------
-->  On `/calendar` page it appears like this:
![Screenshot 2020-03-18 at 1 44 39 PM](https://user-images.githubuse

[2020-03-18 08:55] uttkarsh-26 commented on #13031
As for the scope of this ticket I have covered Default Widget related aspects, that is creation and placement of the widget, however, the view itself which is `Mini Calendar` seems to have some issues for which I have created this ticket https://github.com/openscholar/openscholar/issues/13187 .
cc @tcheng001 @subhojit777 @Bilsi

[2020-03-18 10:23] subhojit777 commented on #13031
@uttkarsh-26 merged. you may confirm the changes on demo.

I have put "needs spec" since we need to decide how we are going to fix the bugs which are directly not linked to this ticket. // @Bilsi @rbran100

[2020-03-18 10:53] subhojit777 commented on #13033
@lomasgupta you may confirm changes on demo.

[2020-03-18 10:55] subhojit777 commented on #12674
@kiran-axl merged. confirm changes on demo.

[2020-03-18 11:04] uttkarsh-26 commented on #13031
Barring the issues mentioned in #13187 , looks ready for QA

[2020-03-18 11:51] subhojit777 commented on #13036
@lomasgupta merged. confirm changes on demo.

[2020-03-18 12:17] kiran-axl commented on #12674
@subhojit777  @tcheng001  The section navigation widget which is created with a book's sub-page is saving the current bid in field_block_reference of that section navigation widget.
The issue is when we move the sub-page to another book, then the same old Section navigation widget with the old Book details is being rendered. Even though it renders the current book menu, the **Section Outline conte

[2020-03-18 12:59] subhojit777 commented on #12454
Tests:

- [ ] Kernel test - `widgetsToSectionComponents`
- [ ] Functional JS test
	- [ ] as user with permission `administer blocks` create new column - covers `os_widgets_block_content_column_form_submit` and `\Drupal\os_widgets\Plugin\Field\FieldWidget\PlaceBlockContentWidget`
	- [ ] as user with permission `administer blocks` edit a column - covers `os_widgets_block_content_column_edit_form_sub

[2020-03-18 13:11] tcheng001 opened #13194 "Uploaded file not appear in /cp/content/browse/files page until the page refreshes"
**Pull Request: https://github.com/openscholar/openscholar/pull/13229**

### Motivation:

Steps to reproduce:
1. go to /cp/content/browse/files of a vsite
2. click [Add file] button to open Media Browser
3. add a new file there
However, the file doesn't appear until the page refreshes

### Estimated Time:

4 hrs

### Technical Implementation:

- Refresh page on file upload event, use `window.reloa

[2020-03-18 13:29] #13178 closed

[2020-03-18 13:33] Bilsi commented on #12124
@subhojit777 - we can revisit this after fixing #12036

[2020-03-18 13:35] rbran100 commented on #13031
@tcheng001 for Testing we just want to validate that the widget shows not that it is 100%, there is a issue #13187 with how it works and with it showing on /calendar specifically

[2020-03-18 14:38] jashish24 commented on #11403
@tcheng001 In my opinion this should not be pending depending on any tickets. This gives token service ability to evaluate `[vsite:base_url]` and replace with correct vsite base path. It is upto other functional part to user token service correctly.

[2020-03-18 15:04] tcheng001 commented on #13028
Mark "Fixed"
1. help message is correct
![Screen Shot 2020-03-18 at 11 01 12 AM](https://user-images.githubusercontent.com/2111600/76974652-d657fe80-6907-11ea-99bb-a647beea63ea.png)

2. avi,  mp4, mpeg, ogv are not allowed. Media Browser shows error message when trying to upload the file types
![Screen Shot 2020-03-18 at 11 03 42 AM](https://user-images.githubusercontent.com/2111600/76974900-2a62e

[2020-03-18 15:04] #13028 closed

[2020-03-18 15:55] tcheng001 commented on #13022
Mark "Fixed"
When I logged in as vsite admin, I see this
![Screen Shot 2020-03-18 at 11 48 16 AM](https://user-images.githubusercontent.com/2111600/76980026-12db2880-690f-11ea-86df-2260b773b2c4.png)

When I logged as a support role, I see this
![Screen Shot 2020-03-18 at 11 54 07 AM](https://user-images.githubusercontent.com/2111600/76980196-474ee480-690f-11ea-9f1c-7442f41f0713.png)

[2020-03-18 15:55] #13022 closed

[2020-03-18 16:06] tcheng001 commented on #12509
Moving to "in dev"
Still see the issue.
steps to reproduce:
1. attach swallow.jpg to a new post
2. save it
3. reopen the new post
4. attach small.png
5. save the post
Note: it shows 2 swallows on the new post's full node view.  If you hover the second image, it actually points to correct image (small.png)
![Screen Shot 2020-03-18 at 11 59 21 AM](https://user-images.githubusercontent.com/2111600/76

[2020-03-18 16:43] tcheng001 commented on #11403
@subhojit777   Anything I can test it now?  If not, can we close it?

[2020-03-18 18:25] tcheng001 commented on #13042
Mark "Fixed"
![Screen Shot 2020-03-18 at 2 22 59 PM](https://user-images.githubusercontent.com/2111600/76994108-4e342200-6924-11ea-8993-cdfae31e5ff1.png)

[2020-03-18 18:25] #13042 closed

[2020-03-18 19:37] rbran100 commented on #13005
@stamina84 what is the status of this? did you find a module that works or were you still trying the jquery solution?  any impediments?

[2020-03-18 20:30] tcheng001 commented on #13036
@subhojit777
we might have some kind of misunderstanding here. I see two RSS feed widgets. I am a bit confusing.
The top one [Subscribe to Blog] is not configurable and only handle blog
The bottom one is configurable but its settings is to capture Blog posts only.
![Screen Shot 2020-03-18 at 4 22 19 PM](https://user-images.githubusercontent.com/2111600/77004011-c30f5800-6934-11ea-8a08-3f343114038c

[2020-03-18 21:13] tcheng001 commented on #13031
Mark "Pending"
Mini calendar doesn't appear in /calendar or other event pages.  Anything I missed?
Tested on http://d8.theopenscholar.com/default-widget013/calendar
I have just created the vsite but nowhere I can see the widget.
![Screen Shot 2020-03-18 at 5 12 13 PM](https://user-images.githubusercontent.com/2111600/77007984-a9bdda00-693b-11ea-9235-34423e5911c3.png)

[2020-03-18 22:42] uttkarsh-26 commented on #13031
Yeah forgot to mention we must have atleast one existing Event content type in current month for mini calendar to appear.
Atleast Mini Calendar works like that.

[2020-03-19 02:40] lomasgupta commented on #13036
@tcheng001  I think the "Subscribe to Blog" is created from the "blog" view.  cc @subhojit777

[2020-03-19 03:31] uttkarsh-26 commented on #13036
Sounds fine to me , makes no sense in having two rss buttons on one page.
 When Torman says we do not have it in D7 we can remove the one coming from View and keep only the one coming via the widget block.
But need to make sure it is configurable and has that `Show all content` option too and functions accordingly.

[2020-03-19 04:12] saurabh-axl commented on #12509
@tcheng001 Build is not deployed yet so putting it in self review.

[2020-03-19 04:50] subhojit777 commented on #11403
@tcheng001 You may check the mail templates that are sent from events. They should have link to the "calendar". You may check whether that link is correct, i.e. it points to the correct vsite.

[2020-03-19 04:53] uttkarsh-26 commented on #11403
@subhojit777 It won't work like this as I have mentioned already here https://github.com/openscholar/openscholar/issues/11403#issuecomment-595808071 we need to update the token in mail templates first then only QA will be able to test that is why I said here
`As for the scope of the ticket maybe @rbran100 or @jashish24 can QA it technically to check if new tokens are available or not for use then

[2020-03-19 05:30] stamina84 opened #13197 "Security update core 8.8.4"
PR:

https://www.drupal.org/sa-core-2020-001

The Drupal project uses the third-party library CKEditor, which has released a security improvement that is needed to protect some Drupal configurations.

Vulnerabilities are possible if Drupal is configured to use the WYSIWYG CKEditor for your site’s users. When multiple people can edit content, the vulnerability can be used to execute XSS attacks aga

[2020-03-19 05:47] subhojit777 commented on #13197
Thanks! I was just going to create one.

[2020-03-19 05:54] jashish24 opened #13199 "Google Calendar Bulk Share"
### Motivation:

As of now there is no way to share multiple events with Google API. Need to add an application support that allows to share whole vsite calendar directly. Also, every new event should be added to vsite Google calendar automatically.

### Technical Implementation:

- [ ]

### Estimated Time:

12 hrs

### Tasks:

- [ ] Create separate calendar on vsite creation (vsite specific calen

[2020-03-19 05:55] jashish24 commented on #11193
@tcheng001
As this required integration with new application, I have created another task.
https://github.com/openscholar/openscholar/issues/13199

Please test single event `Google calendar` share and `ical` & `rss` for bulk as of now and close this.

[2020-03-19 05:56] jashish24 commented on #13199
@Bilsi @rbran100 FYI

[2020-03-19 06:22] subhojit777 commented on #13108
@rbran100 Thanks for putting the detailed info. I think we can skip setting the user timezone during data validation - we need to set it back to previous value after check, and IMO that looks unnecessary, since we just need to validate the date, which will be done by `strtotime`. Do you agree with skipping the timezone?

---

**Spec:**

- [ ] Update `validateRows` of the app import definitions so

[2020-03-19 07:22] stamina84 commented on #13005
I can work on this, but not effective because of lack of Angular knowledge, especial here: `TaxonomyWidget.module.js`, seems jQuery solution is working and using latest select2 library. I will  put notes if I am stucked

[2020-03-19 07:28] uttkarsh-26 commented on #11864
Hi @tcheng001 ,
I checked this on the demo.
I was able to send out the email.

I think you missed running `cron` after registering.
As per current settings, the event notifications are queued and the emails are sent out only during cron run.
Reference conversation here: https://github.com/openscholar/openscholar/issues/11864#issuecomment-509228969  cc @Bilsi

Maybe we need to update mail templates

[2020-03-19 08:59] subhojit777 commented on #13187
@Bilsi Would it be okay if the events are displayed in modal, like this

<img width="665" alt="image" src="https://user-images.githubusercontent.com/1435641/77049288-d92d1f00-69ed-11ea-87a0-544270ccf989.png">

I saw that it already happening in `/calendar` page. It can be done quickly. Implementing the same behavior as in D7 will take more time.

![ref-3](https://user-images.githubusercontent.com/

[2020-03-19 09:07] subhojit777 commented on #13187
@Bilsi @tcheng001 So, the events in mini calendar look like this

![ref-4](https://user-images.githubusercontent.com/1435641/77049848-d121af00-69ee-11ea-8e11-a43773e5c3fd.png)

Can you tell how this look like? I was thinking about making it same as in D7, but then that will conflict with the current date look.

![ref-5](https://user-images.githubusercontent.com/1435641/77050015-180fa480-69ef-11ea-

[2020-03-19 09:36] subhojit777 opened #13200 "Default widget Mini Calendar bug"
**Pull request:** https://github.com/openscholar/openscholar/pull/13257, #13275

**Parent:** https://github.com/openscholar/openscholar/issues/13187

### Steps to replicate:

1. Create an event from a vsite, suppose it is on 25/03/2020
2. Visit `/vsite/calendar` page - note the mini calendar ![ref-7](https://user-images.githubusercontent.com/1435641/77052229-84d86e00-69f2-11ea-84f4-a1d46e8a4553.pn

[2020-03-19 09:38] subhojit777 commented on #13200
@tcheng001 Can you check the steps, and let me know if I have missed anything?

[2020-03-19 09:40] subhojit777 commented on #13187
@Bilsi @tcheng001 For fixing the weird behavior that we saw yesterday in the call, I have put the specs in a separate ticket https://github.com/openscholar/openscholar/issues/13200, so that we can fix the problems one by one.

[2020-03-19 11:18] kiran-axl commented on #13051
@Bilsi @rbran100 Code changes are done for this bug and its fixed. Now, instead of having each layout for each page in a book, we tried with one context layout for each book and all the pages in that book will follow the same layout (same as in D7).

Now, for a book initially once a sub-page is created for the first time, the context layout ("os_pages_section_{$book->id()}") gets created and all t

[2020-03-19 11:43] tcheng001 commented on #13036
@lomasgupta
I discussed with @Bilsi yesterday.  We think this is a minor issue.  Please follow @uttkarsh-26 's comment. That is the way D7 is using.  Just using widget block. widget's title is "Subscribe" like D7.  If end user doesn't like it, he can change the title and the content type to be captured because everything is configurable.  Let me know if anything is not clear.

[2020-03-19 11:47] lomasgupta commented on #13036
@tcheng001 Should I disable "Subscribe to Blog" from the view?

[2020-03-19 11:49] tcheng001 commented on #13036
@lomasgupta  Yes.  We just need one RSS Feed widget in /blog page. It should be configurable.  Its default setting is to capture all content types.

[2020-03-19 11:50] lomasgupta commented on #13036
@tcheng001 okay thanks.

[2020-03-19 12:08] rbran100 commented on #13108
@subhojit777 yes we can skip user TZ

[2020-03-19 12:20] Bilsi commented on #13187
- Modal is ok

Can we remove the event showing up below the date in the mini calendar?

[2020-03-19 12:45] Bilsi commented on #13031
@uttkarsh-26 - we do want the mini calendar to show up even if there are no events, otherwise it can cause confusion

[2020-03-19 12:49] uttkarsh-26 commented on #13031
Yes, correct, that is why we have kept it as a bug which needs to be fixed here #13187  , and should be fixed with all other issues mentioned here.
Does that not work?

[2020-03-19 12:56] Bilsi commented on #13031
@uttkarsh-26 - Yes, it does. Sorry for the confusion

[2020-03-19 13:02] tcheng001 commented on #13200
@subhojit777
Mini calendar looks odd when there are many events in a day.  Some harvard sites have many events in a single day.
![Screen Shot 2020-03-19 at 8 52 39 AM](https://user-images.githubusercontent.com/2111600/77069711-4ffef380-69bf-11ea-9b60-b0ffa64807bb.png)
In D7,  we highlight dates which have events and square them.  Can we follow this way?
For current date (today), we can use whateve

[2020-03-19 13:07] Bilsi commented on #13200
@uttkarsh-26 - Can you estimate how much time this will take?

[2020-03-19 13:08] tcheng001 commented on #13200
@subhojit777   I follow the steps and can see the issue.
https://drive.google.com/file/d/1m_COvmwBabvZ6IC0mKpAYtPboaP9EGMi/view

[2020-03-19 13:09] uttkarsh-26 commented on #13200
@subhojit777 might be able to come up with a better estimation as he is grooming this one.

[2020-03-19 13:40] tcheng001 commented on #12674
@subhojit777
https://github.com/openscholar/openscholar/issues/12674#issuecomment-599527317
Per discussion with @kiran-axl,  problem 3 and 4 are caused by widget getting cached. Please find the solution.  Moving to "in dev"

[2020-03-19 13:51] saurabh-axl commented on #12509
@tcheng001 This looks like a separate issue related to Os Slick Media formatter, when im changing the display formatter the original images uploaded are getting displayed and they are present in the backend so could please raise a separate ticket for this.

@jashish24

[2020-03-19 14:24] rbran100 commented on #11193
@tcheng001 I talked with bilsi and because of the technical issues with implementing the "Google" link we are going to go forward without it, and just use ical to get events into google calendar.

[2020-03-19 15:43] tcheng001 commented on #12509
@saurabh-axl   I think there is nothing to QA.  Mark "Pending"   @subhojit777  Could you create a new GH ticket for what @saurabh-axl  mentioned?

[2020-03-19 16:59] tcheng001 commented on #13031
Mark "Fixed"
Mini calendar will show when there are events in March.
![Screen Shot 2020-03-19 at 12 58 01 PM](https://user-images.githubusercontent.com/2111600/77093472-628a2480-69e1-11ea-877d-dc564d8584ab.png)

[2020-03-19 16:59] #13031 closed

[2020-03-19 17:10] tcheng001 commented on #13033
Mark "Fixed"
![Screen Shot 2020-03-19 at 1 05 55 PM](https://user-images.githubusercontent.com/2111600/77094427-da0c8380-69e2-11ea-80fc-c7cccdf36778.png)

![Screen Shot 2020-03-19 at 1 09 58 PM](https://user-images.githubusercontent.com/2111600/77094558-0922f500-69e3-11ea-8193-00ed9b3e91c2.png)

[2020-03-19 17:11] #13033 closed

[2020-03-19 17:37] tcheng001 commented on #13030
Mark "Fixed"
![Screen Shot 2020-03-19 at 1 35 53 PM](https://user-images.githubusercontent.com/2111600/77097139-b2b7b580-69e6-11ea-928e-1b29d3d520db.png)

[2020-03-19 17:37] #13030 closed

[2020-03-19 18:26] tcheng001 commented on #11864
Mark "Fixed"
email sent out to registrants or event organizer  in the following scenarios.
- [x] 1. register an event
- [x] 2. event's date changed
- [x] 3. event's place changed
- [x] 4. event canceled
- [x] 5. reminder is set
- [x] 6. event organizer broadcast message
- [x] 7. send to the event organizer when # of registrations has reached the maximum

[2020-03-19 18:26] #11864 closed

[2020-03-19 19:28] tcheng001 commented on #13106
@subhojit777   I am not so sure.  But I counted 7 one page themes and 33 standard themes. Is this correct?   Mark "Pending"

[2020-03-19 19:49] tcheng001 commented on #13113
Please place [Abstract] right underneath [Authors], because other publication types are this way.
![Screen Shot 2020-03-19 at 3 46 37 PM](https://user-images.githubusercontent.com/2111600/77108734-22cf3700-69f9-11ea-809e-82f201e99d39.png)

[2020-03-19 20:26] tcheng001 commented on #13085
Mark "Fixed"
Background color of primary menu is not changed.  For example: the background color is blue for Blue Sky.  After used as base of custom theme, the background color of primary menu keeps unchanged.
![Screen Shot 2020-03-19 at 4 25 55 PM](https://user-images.githubusercontent.com/2111600/77111836-62e4e880-69fe-11ea-97f3-a3e4979be4d3.png)

[2020-03-19 20:26] #13085 closed

[2020-03-19 20:32] tcheng001 commented on #13066
Mark "Fixed"
Preview works correctly even though I set a custom theme as current theme.

[2020-03-19 20:32] #13066 closed

[2020-03-19 20:47] tcheng001 commented on #13121
Not so sure how to test.
This is what i did
1. go to http://d8.theopenscholar.com/admin/config/development/performance
2. uncheck Aggregate CSS files
3. uncheck Aggregate JavaScript files
4. click Save configuration
5. click Clear all caches
6. load my test vsite.
Note: my vsite loads successfully
<img width="907" alt="Screen Shot 2020-03-19 at 4 44 00 PM" src="https://user-images.githubuserconten

[2020-03-20 03:52] lomasgupta commented on #13036
Please review https://github.com/openscholar/openscholar/pull/13202

[2020-03-20 04:00] subhojit777 commented on #13036
@lomasgupta merged. confirm changes on demo.

[2020-03-20 04:23] lomasgupta commented on #13043
![software](https://user-images.githubusercontent.com/13271284/77135245-a0925180-6a90-11ea-8fe2-5101b4c7423b.png)

[2020-03-20 04:29] subhojit777 commented on #13051
@rbran100 Can you take a look? https://github.com/openscholar/openscholar/pull/13151#discussion_r395434699

[2020-03-20 04:52] subhojit777 commented on #13043
https://github.com/openscholar/openscholar/pull/13190#pullrequestreview-378232404

[2020-03-20 04:59] subhojit777 commented on #13106
@tcheng001 I think you can smoke test the themes for this one. Correct me if I am wrong. @jashish24

[2020-03-20 05:19] subhojit777 commented on #12725
@tcheng001 You can test this ticket now. As its dependent #13085 got closed yesterday. // @Bilsi

[2020-03-20 05:21] subhojit777 commented on #13121
@tcheng001 Yes. The steps are correct, however, you don't need to clear the cache.

[2020-03-20 05:33] subhojit777 commented on #12454
@Bilsi I have moved this to the new team A sprint - sprint 7.

[2020-03-20 05:36] subhojit777 commented on #13076
@jashish24 Merged. confirm on demo please.

[2020-03-20 05:52] saurabh-axl opened #13205 "Duplicate Images getting displayed for attached media files"
### Motivation:

Originally reported here https://github.com/openscholar/openscholar/issues/12509#issuecomment-600719040

**Steps to reproduce:**

- attach an image to a new post
- save it
- reopen the new post
- attach another new image
- save the post
You see that the first image is getting repeated on the node view. However if you hover the second image, it actually points to correct image

###

[2020-03-20 07:05] jashish24 commented on #13076
@tcheng001 While you won't be able to see content for access denied vsites, expect titles to be visible(system flaw). We can see this in another ticket if it is something important.

[2020-03-20 10:04] jashish24 commented on #11024
@Jiteshkhatwani This is merged, please verify in dev.

[2020-03-20 12:12] lomasgupta commented on #12994
![image_error](https://user-images.githubusercontent.com/13271284/77162494-15d24680-6ad2-11ea-8614-c893eb2aae8f.png)

[2020-03-20 12:16] tcheng001 commented on #13121
Mark "Fixed"

[2020-03-20 12:16] #13121 closed

[2020-03-20 14:11] tcheng001 commented on #11193
@rbran100   Just want to confirm with you.  Single event can still have the export option "Google" or not ??   Because export link still show Google in **single event**.
![Screen Shot 2020-03-20 at 10 10 14 AM](https://user-images.githubusercontent.com/2111600/77171594-139cc780-6a93-11ea-839a-5838a447ffa3.png)

[2020-03-20 14:58] Praveen-OS commented on #12123
When I use "Add Slideshow" button from the widget form to add images, there is no cropping function and the thumbnail image is missing. Please see the screenshot below.
![No Crop function and thumbnail image](https://user-images.githubusercontent.com/61281780/77175518-c64b4500-6ae8-11ea-8e49-339ecbd79d39.JPG)

[2020-03-20 15:08] stamina84 commented on #12123
@Praveen-OS And if you edit the widget and add slides, then its OK? Problem only with Add slideshow button?

[2020-03-20 15:18] tcheng001 commented on #12123
The problem only happens when adding slide in widget form. If using [Add slide] button in the page, thumbnail appears and cropping is available.

[2020-03-20 15:52] tcheng001 commented on #13036
@lomasgupta
It seems that RSS widget captures wrong urls of posts.
Tested on http://d8.theopenscholar.com/default-widget015/blog page

- [ ] you can see there is only one blog post there ("My Blog 001"). if i click Subscribe, and then paste the link into a new browser window of my Chrome,  I see the followings.  That is incorrect.
![Screen Shot 2020-03-20 at 11 44 15 AM](https://user-images.github

[2020-03-20 15:55] tcheng001 opened #13208 "RSS Feed widget: fix location of Widget Title"
PR Link : https://github.com/openscholar/openscholar/pull/13221
Please place [Widget Title] under [Widget Description] like other widgets
![Screen Shot 2020-03-20 at 11 53 55 AM](https://user-images.githubusercontent.com/2111600/77181420-a9d7ea00-6aa1-11ea-80b3-5d128525bea2.png)

[2020-03-20 16:00] tcheng001 commented on #13208
@subhojit777 Can we add this ticket on milestone 6?  @lomasgupta  is working on #13036

[2020-03-20 17:10] tcheng001 commented on #13113
Sorry, that is what I mean.  if you check other pub types, they all look like that.
![Screen Shot 2020-03-20 at 1 05 40 PM](https://user-images.githubusercontent.com/2111600/77187965-aa757e00-6aab-11ea-9511-06d150232353.png)

[2020-03-20 18:15] tcheng001 commented on #13076
Mark "Fixed"   No content is displayed for viewers if the site visibility is set to [Site members only]
<img width="1132" alt="Screen Shot 2020-03-20 at 2 12 39 PM" src="https://user-images.githubusercontent.com/2111600/77193761-24f6cb80-6ab5-11ea-8994-b9046aaf9c6b.png">
![Screen Shot 2020-03-20 at 2 14 57 PM](https://user-images.githubusercontent.com/2111600/77193857-48ba1180-6ab5-11ea-958c-6faf5

[2020-03-20 18:16] #13076 closed

[2020-03-20 19:50] tcheng001 commented on #13114
Mark "Fixed"
1.  Created a class editor role
2. assign the role to user001
3. log in as user001
4. can only access Site Content -> Add -> Class
![Screen Shot 2020-03-20 at 3 48 56 PM](https://user-images.githubusercontent.com/2111600/77201179-6f327980-6ac2-11ea-8beb-b76414bc13ae.png)

5. can only access Site Content -> Import -> Class
![Screen Shot 2020-03-20 at 3 49 27 PM](https://user-images.git

[2020-03-20 19:50] #13114 closed

[2020-03-20 19:52] tcheng001 commented on #12689
@rbran100  @stamina84    Anything I have to test?

[2020-03-20 21:06] tcheng001 commented on #12725
mark "Fixed"
1. I created a custom theme using Crimson as parent theme
2. set the custom theme as default
3. click Edit of the custom theme on /cp/appearance/themes page
4. change Conservative as parent theme
Note: menu background color changes to light grey. It works correctly

Crimson (menu background color is red)
Conservative (menu background color is light grey)

[2020-03-20 21:06] #12725 closed

[2020-03-21 00:14] tcheng001 opened #13209 "Menu widget issues"
- [ ] 1.  Unable to move Primary Menu widget to widget list directly.
Steps to reproduce:
a) go to home page's layout
b) drag Primary Menu widget to widget list
Note: No matter how I drag, the widget ends up in the body of layout
c) drag Primary Menu widget again from the body to the widget list
Note: the widget shows in the widget list this time

- [ ] 2.  I add a menu item into Secondary Menu wi

[2020-03-21 00:37] tcheng001 opened #13210 "Don't show widget if it has empty content"
This is a general issue on most of widgets. The purpose is to hide widgets from rendering when it has no content.  For example, if a Custom Text / HTML widget has no content, then we hide the widget on the page. It can only be accessed in the layout - just like D7.
We need to fix this issue on the following widgets:
Accordion
Custom Text/HTML
Faceted Taxonomy
Featured Posts
List of Files
List of P

[2020-03-23 04:08] subhojit777 commented on #13043
@lomasgupta Merged. confirm changes on demo.

[2020-03-23 04:45] subhojit777 commented on #13208
@tcheng001 We are about to close milestone 6. I will let you know if this can be taken in milestone 7.

[2020-03-23 04:49] subhojit777 commented on #12674
https://github.com/openscholar/openscholar/pull/13207#discussion_r396211893 @rbran100 Can you take a look?

[2020-03-23 05:14] lomasgupta commented on #13036
Not sure how "/feed/blog" page is designed to work. Should we create a new ticket for this issue?
cc @Bilsi @subhojit777 @rbran100 @tcheng001

[2020-03-23 05:37] jashish24 commented on #12817
While `store.setData(scope.field_name, scope.selectedFiles);` gets the list of files based on field_name  it updates same `selectedFiles` variable for angular to use. `ng-repeat="file in selectedFiles"`. Instead we should use something like `store.setData(scope.field_name, scope.selectedFiles['field_name']);`, there are several places. And then use `ng-repeat="file in selectedFiles.field_name"` in

[2020-03-23 05:39] subhojit777 commented on #13210
@tcheng001 Is this also related to the comment? https://github.com/openscholar/openscholar/issues/13076#issuecomment-601561954

[2020-03-23 05:42] jashish24 commented on #12817
`scope.selectedFiles = store.fetchData(scope.field_name);` update selectedFiles with no `field_name` info.

[2020-03-23 05:52] uttkarsh-26 commented on #12817
Yep, correct, but that is not the only issue, trying to find other issues too.
Until now I think this is also an issue originating from php defined drupalSettings which is eventually passed to angular for use.
There is this line `let fids = settings.fetchSetting('mediaBrowserField.' + scope.field_id + '.selectedFiles');` where this settings is overriden when multiple fields are there.

Also when A

[2020-03-23 06:11] harjaspreetkaur commented on #13077
@Bilsi Code is getting complex while shifting **`Entity Revision`** permissions of a bundle**(blog)** to corresponding Group**(Group Node Blog)**. For example, Shifting **`Entity Revision`** permissions for Blog **(Delete Blog revisions, Revert Blog revisions, View Blog revisions)** to **`Group Node Blog`**. Please let me know, if I should proceed with the changes OR keep the **`Entity Revision pe

[2020-03-23 06:26] stamina84 commented on #13005
Finally, taxonomy selection with Select option widget is done, continue with other widgets (autocomplete, tree, etc)

[2020-03-23 06:30] subhojit777 opened #13212 "Mini calendar widget appearance changes"
**Pull request:**

### Steps to replicate:

1.

### Motivation:

Mini calendar looks odd when there are many events in a day. Some harvard sites have many events in a single day. ![Screen Shot 2020-03-19 at 8 52 39 AM](https://user-images.githubusercontent.com/2111600/77069711-4ffef380-69bf-11ea-9b60-b0ffa64807bb.png)

In D7, we highlight dates which have events and square them. ![Screen Shot 2020

[2020-03-23 06:33] subhojit777 commented on #13212
@tcheng001 @Bilsi I need some insights here.

- I saw that in D7, if you click the date ![question-1](https://user-images.githubusercontent.com/1435641/77288607-35e64d80-6cfe-11ea-9090-007ba59b445d.png), it redirects to a page like this https://scholar.harvard.edu/bilsi/calendar?type=day&day=2020-03-14. **I guess you need the same in D8, right?**
- **Do you think this highlighting for current day

[2020-03-23 06:35] subhojit777 commented on #13200
@tcheng001 I am gathering this spec in a separate ticket https://github.com/openscholar/openscholar/issues/13212, so that we can fix the problems one by one. Can you add your comments there? I need some clarifications.

[2020-03-23 06:37] subhojit777 commented on #13200
Thanks for putting up a video. This would help in better understanding the problem. Thank you.

[2020-03-23 06:46] jashish24 commented on #13106
@tcheng001 Please check `create site` wizard and `<vsite>/cp/appearance/themes` to confirm if the theme list has all the correct theme available.

[2020-03-23 06:46] subhojit777 commented on #12994
@lomasgupta Merged. please confirm the fix on demo.

[2020-03-23 06:46] jashish24 commented on #13106
Let me know if you need the list of themes available.

[2020-03-23 07:19] subhojit777 opened #13213 "Always show mini calendar even if no events"
**Pull request:**

### Motivation:

Currently the mini calendar does not appear if there are no events for a vsite, and appears only if there are events.

It should appear always - even in there are no events.

![ref-1](https://user-images.githubusercontent.com/1435641/77291587-924c6b80-6d04-11ea-8301-6c663d907555.png)

### Acceptance Criteria

- [ ] As a vsite member, there are no events in vsite

[2020-03-23 07:20] subhojit777 commented on #13213
FYI @Bilsi Do you want this to get done in team A current sprint? We might have to replace this with an existing one.

[2020-03-23 07:43] stamina84 commented on #13005
I have some issues with autocomplete widget too:
![image](https://user-images.githubusercontent.com/3629993/77293307-57394080-6ce2-11ea-8812-5e9f14a006c5.png)

[2020-03-23 10:59] saurabh-axl commented on #13205
@tcheng001 This issue has been resolved in https://github.com/openscholar/openscholar/issues/12994 which is deployed so can u please check it so that we can close this issue.

cc @jashish24

[2020-03-23 11:00] saurabh-axl commented on #12509
https://github.com/openscholar/openscholar/issues/13205#issuecomment-602523374

[2020-03-23 11:05] stamina84 commented on #13005
Here is the autocomplete widget, need to fix some versions
![image](https://user-images.githubusercontent.com/3629993/77310366-82318d80-6cfe-11ea-8c88-c8f752bd25d2.png)
There are some UX issues, what will check later

[2020-03-23 12:05] stamina84 commented on #12689
@tcheng001 It was a general update, but please check path aliases at nodes/publications (edit, add, etc) and check some random pager on sites.

[2020-03-23 12:05] tcheng001 commented on #13210
@subhojit777    The bottom line is if the widget has empty, then we should hide the widget.  After we applied this logic, all these widgets should have been hidden. https://github.com/openscholar/openscholar/issues/13076#issuecomment-601561954
![Screen Shot 2020-03-23 at 7 59 52 AM](https://user-images.githubusercontent.com/2111600/77314884-ecd1d180-6cdc-11ea-9f9b-7ced8b55f1db.png)

[2020-03-23 12:09] Bilsi commented on #13213
@subhojit777 - it can wait, do not replace another ticket

[2020-03-23 12:12] subhojit777 commented on #13210
Got it. Thank you for the clarification.

[2020-03-23 12:16] Bilsi commented on #13212
@subhojit777 - Yes
1. We want the current date highlighted
2. We want all other dates with events - highlighted in a different color or just made bold
3. Clicking on either of the above should take the user to that day

[2020-03-23 12:22] tcheng001 commented on #13106
@jashish24   Could you please provide the lists here. Thanks.

[2020-03-23 12:37] subhojit777 commented on #13036
@lomasgupta Can you update the csv so that the widget is created with `field_is_show_all_content` as 1. Also update any necessary tests.

[2020-03-23 12:38] tcheng001 commented on #13208
@subhojit777   Don't worry about my side.  If both Bilsi and you agree to move whatever milestone. I will be fine.

[2020-03-23 12:45] subhojit777 commented on #13208
@tcheng001 I just rechecked the ticket requirement. I think this can be done quickly. I am putting this in the current milestone.

---

Sorry for not going through the requirement thoroughly before..

[2020-03-23 12:45] jashish24 commented on #13100
@tcheng001 Can you confirm if this issue still exists?

[2020-03-23 13:19] tcheng001 commented on #13113
Mark "Fixed"
![Screen Shot 2020-03-23 at 9 18 18 AM](https://user-images.githubusercontent.com/2111600/77320612-45a66780-6ce7-11ea-930c-29b0c90595fd.png)

[2020-03-23 13:19] #13113 closed

[2020-03-23 13:49] tcheng001 commented on #13043
@lomasgupta
- [ ] 1. Please remove the test data.
![Screen Shot 2020-03-23 at 9 45 04 AM](https://user-images.githubusercontent.com/2111600/77323058-0548e880-6ceb-11ea-96bf-990d32cde721.png)

- [ ] 2. we would like to have content format displayed like those in D7.
In D7:
![Screen Shot 2020-03-23 at 9 46 29 AM](https://user-images.githubusercontent.com/2111600/77323387-8c965c00-6ceb-11ea-938a-53ae

[2020-03-23 14:39] tcheng001 commented on #13036
@subhojit777  @lomasgupta Actually it captures posts from other vsites - not current vsite.  Please fix this issue as well.

[2020-03-23 15:13] tcheng001 commented on #13100
superscript and subscript showed incorrectly in full node view.
![Screen Shot 2020-03-23 at 11 09 35 AM](https://user-images.githubusercontent.com/2111600/77331318-efd9bb80-6cf6-11ea-9073-330abae4132f.png)
Tested on http://d8.theopenscholar.com/default-widget016/publications/my-working-paper-101-sticky-xy-co2-abc

[2020-03-23 16:10] rbran100 commented on #13077
@harjaspreetkaur if that makes it much more complex then please leave it separate under the site content group.

[2020-03-23 16:16] rbran100 commented on #11193
Hmm, not sure, @jashish24 does that use a different mechanism or was that an oversight and you meant to remove it?

[2020-03-23 16:31] Bilsi commented on #11193
@tcheng001 - I think we should remove it completely, it will only add to the confusion otherwise. We can address google calendar later

[2020-03-23 16:54] bkosborne opened #13216 "CKEditor update for 7.x?"
Hello,

I wonder is the team planning to put out a new release of OpenScholar 7.x to incorporate the [security update fixed in version 4.14.0](https://ckeditor.com/cke4/release-notes)? The current version that ships with OS is 4.5.8. I think there have actually been few security releases to CKEditor library since then.

Thanks!

[2020-03-23 17:24] tcheng001 opened #13217 "Tabs (Edit, View, Revisions) in Publication form should look like other node forms"
In publication form
![Screen Shot 2020-03-23 at 1 20 19 PM](https://user-images.githubusercontent.com/2111600/77344423-831bec80-6d09-11ea-83b1-4741276db516.png)

In Person form
![Screen Shot 2020-03-23 at 1 20 04 PM](https://user-images.githubusercontent.com/2111600/77344380-76979400-6d09-11ea-87e0-e5f6881ced20.png)

[2020-03-23 17:49] tcheng001 commented on #12689
Mark "Fixed"
checked url of node types including the followings
blog
class
event
FAQ
news
page
person
presentation
publication

Note: Unable to check software  -  Add -> Software missing in control panel

Pagers works as expected.

[2020-03-23 17:49] #12689 closed

[2020-03-23 18:01] tcheng001 commented on #11193
@saurabh-axl    Please remove export Google calendar link completely (including from single event).

[2020-03-23 18:51] tcheng001 opened #13218 "change on widget in /blog page should not affect the same widget used in /news page"
Each instance of widget in different context should be independent.
Steps to reproduce:
1. create a Custom Text / HTML widget and add some content
2. drag the widget from widget list to sidebar of /blog layout
3. save the layout
3. go to /news layout
4. drag the same widget from widget list to side bar in the /news layout
5. save the layout
Note: the custom Text / HTML widget has two instances - o

[2020-03-23 19:04] tcheng001 commented on #12509
Mark "Fixed"

[2020-03-23 19:04] #12509 closed

[2020-03-24 04:10] subhojit777 commented on #13043
@Bilsi There are some change requests requested. I am moving this to the new milestone.

[2020-03-24 05:50] uttkarsh-26 opened #13220 "PDF uploads not working via Media Browser."
Steps to reproduce:
1. Goto any vsite.
2. Create any content like Blogs, Class, etc which has the Media Browser field.
3. Fill in all required fields.
4. Upload a PDF using Media Browser and click Insert.
5. Save the content.

Should see the error like this or maybe a different error.
![Screenshot 2020-03-24 at 11 17 10 AM](https://user-images.githubusercontent.com/38376852/77392473-09dfd080-6dc1-

[2020-03-24 05:52] uttkarsh-26 commented on #13220
@tcheng001 I found this while working on Media Browser issues. Please try and reproduce and add anything you notice in the ticket description.
As of now only noticed the issue for `PDF` files you can check for others too .
cc @Bilsi @subhojit777

[2020-03-24 07:33] lomasgupta commented on #13043
@tcheng001 I have removed the test data (added by me), please do let me know if I need to delete more.

[2020-03-24 08:05] uttkarsh-26 commented on #12036
I do not think this test will be possible ` Should upload files via browser widget while creating class` but I  have checked and working on tests as follows :
- [ ] Assert that Media Browser appears inside a newly injected paragraph.
- [ ] Assert that Media can be attached to the field and content can be saved.
- [ ] Assert that Media Browser field appears by default when editing content (To asser

[2020-03-24 09:06] subhojit777 commented on #11193
https://github.com/openscholar/openscholar/pull/13222#issuecomment-603117494

[2020-03-24 11:04] lomasgupta commented on #13208
![widget](https://user-images.githubusercontent.com/13271284/77418744-550fd880-6ded-11ea-8681-655b6c557294.png)

[2020-03-24 11:27] subhojit777 commented on #13208
@lomasgupta merged. confirm changes on demo.

[2020-03-24 13:02] tcheng001 commented on #13220
@uttkarsh-26    I can reproduce the issue.  I check all other file types and they can upload successfully.

[2020-03-24 14:31] tcheng001 commented on #12865
Moving to "in dev"
- [ ] 1.  Newly created widget in the widget list has no contextual links (Edit / Delete) until the layout is saved.
steps to reproduce:
1. go to home page of a vsite
2. go to layout
3. create a new widget (any type)
Note: the newly created widget is in the widget list. However, no contextual links (Edit/Delete) are accessible until I click Save button and access to the layout a

[2020-03-24 15:01] stamina84 commented on #13005
Seems working the term tree:
![image](https://user-images.githubusercontent.com/3629993/77440492-a9fd2000-6de8-11ea-878a-18458b4381da.png)

[2020-03-24 15:02] tcheng001 opened #13227 "Edit/view/revisions incorrect in pub form"
In publication form
![Screen Shot 2020-03-23 at 1 20 19 PM](https://user-images.githubusercontent.com/2111600/77344423-831bec80-6d09-11ea-83b1-4741276db516.png)

In Person form
![Screen Shot 2020-03-23 at 1 20 04 PM](https://user-images.githubusercontent.com/2111600/77344380-76979400-6d09-11ea-87e0-e5f6881ced20.png)

[2020-03-24 15:06] tcheng001 opened #13228 "Node's content disappears"
Steps to reproduce:
1. Create a node (say class)
Note:
a. No content is showed in full node page
![Screen Shot 2020-03-24 at 10 37 26 AM](https://user-images.githubusercontent.com/2111600/77441018-59bd9800-6dbf-11ea-93ab-c67688c47b5d.png)

b. No content is showed in layout
![Screen Shot 2020-03-24 at 10 38 42 AM](https://user-images.githubusercontent.com/2111600/77441036-5de9b580-6dbf-11ea-8445-6c

[2020-03-24 17:15] tcheng001 opened #13230 "Random widget"
It can add any existing widgets to a list, then one widget of the list will display randomly when the random widget loads.

![Screen Shot 2020-03-24 at 1 14 26 PM](https://user-images.githubusercontent.com/2111600/77456380-85497e00-6dd1-11ea-8593-d1043452408b.png)

[2020-03-25 00:17] tcheng001 commented on #11024
moving back "in dev"
If I click "blue" in the widget, "blue" should display something like "(-) blue".   "(-)" is a link to allow user for deselect "blue"
Tested on http://d8.theopenscholar.com/facet-taxo001/news
![Screen Shot 2020-03-24 at 8 13 22 PM](https://user-images.githubusercontent.com/2111600/77488596-0aea1f80-6e0c-11ea-9d60-b1614fa37b58.png)

Please refer to D7 here
https://scholar.harva

[2020-03-25 00:19] tcheng001 commented on #11403
@uttkarsh-26   Have you updated the token in mail template?

[2020-03-25 01:22] tcheng001 commented on #13208
Mark "Fixed"
![Screen Shot 2020-03-24 at 9 22 38 PM](https://user-images.githubusercontent.com/2111600/77491969-9f0cb480-6e15-11ea-8e16-b1086eb8878d.png)

[2020-03-25 01:23] #13208 closed

[2020-03-25 03:05] lomasgupta commented on #13127
![admin](https://user-images.githubusercontent.com/13271284/77497523-8501bf00-6e73-11ea-99f5-1beb0266a483.png)

[2020-03-25 04:08] subhojit777 commented on #13127
https://github.com/openscholar/openscholar/pull/13225#pullrequestreview-380847365

[2020-03-25 04:12] subhojit777 commented on #12663
https://github.com/openscholar/openscholar/pull/13203#issuecomment-603629907

[2020-03-25 05:19] uttkarsh-26 commented on #11403
@tcheng001
No Torman not as of now.
Do you possibly have a list of all mail templates which are sent out?
So that we can assess each one by one and update the tokens wherever required.
Also, that way if any templates need to be updated for anything else they can also be marked.
We can do it maybe in a new ticket which addresses only `Mail template bugs/updates`.
cc @jashish24 @subhojit777 @saurabh

[2020-03-25 05:36] subhojit777 commented on #13036
@lomasgupta merged. confirm changes on demo.

[2020-03-25 05:53] mukeyshkumar commented on #13227
@tcheng001
I am not able to reproduce this. Can you please provide the dev URL where I can see this?

![pub-form](https://user-images.githubusercontent.com/47223502/77506147-129cd900-6e8b-11ea-96ae-f7644f7f44c5.png)

[2020-03-25 06:07] subhojit777 commented on #12454
@rbran100 Can you check this PR #13099 The PR addresses these items concerning column widget

    Adds ability to insert another widgets into column widget
    Adds ability to change layout of column widget from admin UI

I will create a separate PR to address the remaining items

	Connect the embedded widgets with the layout regions
	Change the UI for embedding the widgets

---

Following this "s

[2020-03-25 06:11] subhojit777 commented on #12674
@kiran-axl merged. confirm changes on demo.

[2020-03-25 06:12] subhojit777 commented on #13051
@kiran-axl merged. confirm changes on demo.

[2020-03-25 07:09] subhojit777 commented on #13061
@Bilsi I think Mukeysh can look into this.

[2020-03-25 07:10] subhojit777 commented on #13012
@Bilsi Mukeysh can look into this.

[2020-03-25 09:35] kiran-axl commented on #13051
@tcheng001  - Tested layout changes for sub-pages on demo http://d8.theopenscholar.com/tests/gc-sub-page-b1
Testing steps:

- Created a book with a sub page and its child -  `Book - b1 -> Sub page 1 -> gc - sub page b1`
- Removed "All pages" widget from the page gc - sub page b1 and it reflected in all the pages that are in Book - b1

Since, all the pages in a book will now have the same layout.
*

[2020-03-25 09:40] kiran-axl commented on #12674
@tcheng001  - Tested layout changes for sub-pages on demo http://d8.theopenscholar.com/tests/sp-b1

Testing steps:
- Created a book with a sub page and its child -  `Book - b1 -> Sub page 1 -> gc - sub page b1`
- Created another book: Book - b2 -> sub page -b2
- Now, moved Sub page 1 from Book - b1 to Book - b2 using section-outline form.
- After successful save, checked the page http://d8.theopen

[2020-03-25 11:28] uttkarsh-26 commented on #12817
Made assertions for multiple browsers using class form and some with presentation form(could not write attach file tests for `presentation slides` field due to #13220), works fine in manual testing too.

[2020-03-25 12:11] tcheng001 commented on #11403
@Richard Brandon <richard@theopenscholar.com>    I believe that we have
mail templates in D7 which can be used in D8.   Can you help
@uttkarsh@axelerant.com <uttkarsh@axelerant.com> ?

On Wed, Mar 25, 2020 at 1:19 AM Uttkarsh Tiwari <notifications@github.com>
wrote:

[2020-03-25 12:11] stamina84 commented on #13005
Checked A11Y, we have some errors:
![image](https://user-images.githubusercontent.com/3629993/77535019-1c7a0880-6e9a-11ea-84be-b07f01e0e5e9.png)

[2020-03-25 12:37] uttkarsh-26 opened #13233 "Update Mail templates"
TASKS:
- [ ] Check All Mail templates for the following scenarios.
1. register an event
 2. event's date changed
 3. event's place changed
 4. event canceled
 5. reminder is set
 6. event organizer broadcast message
 7. send to the event organizer when # of registrations has reached the maximum

- [ ] Update Mail templates with new site token `[vsite:url]` for all occurrences of `[site:url]`
- [ ]

[2020-03-25 12:40] uttkarsh-26 commented on #11403
I think we already have those templates in D8 as you must have found out during testing this ticket https://github.com/openscholar/openscholar/issues/11864 as you marked this one as fixed.

I have created this https://github.com/openscholar/openscholar/issues/13233 so that we can revisit existing templates and make any updates and then finally we can be done with event mails.
Does it make sense?
c

[2020-03-25 12:44] uttkarsh-26 commented on #13233
@tcheng001 Add your findings here about any template mismatch from D7 so that it can be resolved.

[2020-03-25 12:55] tcheng001 commented on #13227
Closing it.
I can't reproduce the issue any more after I clear browsing data in my Chrome and open a new private window.

[2020-03-25 12:55] #13227 closed

[2020-03-25 13:19] tcheng001 commented on #13168
I can reproduce the issue by following the steps

[2020-03-25 14:00] rbran100 commented on #13210
We are validating the widgets that should not show when they are empty so that we have the same compatibility as D7, marking needs spec.

[2020-03-25 14:13] tcheng001 commented on #11403
Mark "Fixed". thanks @uttkarsh-26

[2020-03-25 14:13] #11403 closed

[2020-03-25 14:37] echen0601 commented on #12994
Each image shows correctly

<img width="845" alt="Screen Shot 2020-03-25 at 10 22 24 AM" src="https://user-images.githubusercontent.com/62656904/77548216-9b644680-6e84-11ea-9ddc-57765aa22dec.png">

[2020-03-25 14:46] tcheng001 commented on #13210
case  | widget | appears in page in D7 when it has empty content
------- | ------ | -------
1 | Accordion |  --
2 | Custom Text/HTML | --
3 | Faceted Taxonomy | --
4 | Featured Posts | --
5 | List of Files | --
6 | List of Posts | --
7 | Publication authors | --
8 | Publication types | --
9 | Publication years | --
10 | Slider | --
11 | Tabs | --
12| Taxonomy | --

[2020-03-25 15:03] tcheng001 opened #13235 "Custom Text / HTML widget: don't allow to save if it has no empty content like D7"
Now,  we can save a custom Text / HTML widget even though it has empty content.

[2020-03-25 15:14] rbran100 commented on #12454
@subhojit777 I merged the PR, it looked good, so will need to re-base the new PR, I will re-open and replace instances here

[2020-03-25 15:16] rbran100 commented on #12454
@subhojit777 actually on second thought I will let you do it so you can verify the changes, I don't want to unintentionally mess you up, looks like the UI will let you change the base so you will not need to update the references

[2020-03-25 16:33] rbran100 commented on #12954
Version 1.0.9 has been created @Jiteshkhatwani

https://github.com/openscholar/purl-d8/releases/tag/v1.0.9

[2020-03-25 17:43] tcheng001 commented on #13043
Still not correct.
- [ ] 1. I create a new vsite and access http://d8.theopenscholar.com/software-release-01/software  I see some releases in the widget. However, the new vsite has no project or software releases. Those data is actually from other vsites.
![Screen Shot 2020-03-25 at 1 38 26 PM](https://user-images.githubusercontent.com/2111600/77567865-27369c80-6e9e-11ea-98b7-af4c28092850.png)

-

[2020-03-25 18:10] tcheng001 commented on #13036
- [ ] 1. default setting is [Show all content]. However, I found that it only captures blog posts only.

- [ ] 2. if I set to other content type (like News) as Content to display, it captures nothing.
![Screen Shot 2020-03-25 at 2 05 58 PM](https://user-images.githubusercontent.com/2111600/77570260-d88b0180-6ea1-11ea-95ed-12f61e0ece0f.png)

Tested on http://d8.theopenscholar.com/software-release-0

[2020-03-25 18:18] tcheng001 commented on #13127
look good now. Mark "Fixed"

[2020-03-25 18:18] #13127 closed

[2020-03-26 07:08] stamina84 commented on #12123
@tcheng001 I tried again in both environment (local and D8 demo), bit still can't reproduce the error
![image](https://user-images.githubusercontent.com/3629993/77619452-81843b80-6f38-11ea-8932-50875f77fb9c.png)
Created widget in this vsite: http://d8.theopenscholar.com/software-release-01

Could you please attach following infos?
* what is the version of browser
* what is the console error log in

[2020-03-26 08:17] lomasgupta commented on #13127
Moving this ticket to dev some changes  need to be done in the test

[2020-03-26 09:30] jashish24 commented on #13127
Tests are passing without errors, https://github.com/openscholar/openscholar/pull/13237

[2020-03-26 11:07] mukeyshkumar commented on #13012
Attaching a screenshot for ref.

![layout-1](https://user-images.githubusercontent.com/47223502/77640263-18c0b180-6f80-11ea-947c-35fd143aff1f.png)

[2020-03-26 12:35] tcheng001 commented on #12441
For all content types (except Publication), we would like attached files showing in full node view only, but not in listing.

For Publication, attached files will be showed both in listing and full node view like that in D7.

[2020-03-26 12:53] lomasgupta commented on #13036
This is issue is related to feeds view. I have raised a PR.

[2020-03-26 13:16] rbran100 commented on #13005
@stamina84 review + lets tackle the a11y issues

[2020-03-26 13:41] lomasgupta commented on #13043
@tcheng001  For the second issue looks like there is some pregmatch checking for URL. Looks like a bug for "context". For example I created two site
1.http://d8.theopenscholar.com/testrelease001
2.http://d8.theopenscholar.com/testsoftwarerelease
Block is visible in 2 site but not in 1 site.  please refer the screen.
![1](https://user-images.githubusercontent.com/13271284/77653131-6267c700-6f95-11e

[2020-03-26 15:10] tcheng001 commented on #12123
@stamina84  That is very annoying issue.  I am asking my colleagues to check it again.  Will provide more information here when it is available.

[2020-03-26 16:41] lomasgupta commented on #13043
For 1st issue https://github.com/openscholar/openscholar/pull/13242

[2020-03-26 18:34] tcheng001 commented on #11024
@Jiteshkhatwani
Content and filtering are working fine.  However, the widget has no contextual links (Edit / Delete) like other widgets.
Tested on  http://d8.theopenscholar.com/facet-taxo001/browse/news

[2020-03-26 18:44] tcheng001 commented on #12586
moving to "in dev"
this is a faceted search page.  I can see all 6 default search widgets, please remove all of them from faceted search pages.
http://d8.theopenscholar.com/facet-taxo001/browse/news
![Screen Shot 2020-03-26 at 2 41 22 PM](https://user-images.githubusercontent.com/2111600/77684259-18b8b580-6f70-11ea-9637-5a2304798e98.png)

Please refer to D7, here is an example
https://scholar.harv

[2020-03-26 19:07] tcheng001 commented on #13172
Not so sure.   I follow the steps but I don't see the warnings in /admin/reports/dblog. These are what I see.
<img width="1208" alt="Screen Shot 2020-03-26 at 3 06 05 PM" src="https://user-images.githubusercontent.com/2111600/77686463-6256cf80-6f73-11ea-934f-36d3c5194f94.png">

Did I miss something?

[2020-03-26 19:21] tcheng001 commented on #13126
Mark "Fixed"
I have created the following sites and created blog post in each site.  It redirects to the post directly.
http://d8.theopenscholar.com/adminsite4
http://d8.theopenscholar.com/usersite001

[2020-03-26 19:21] #13126 closed

[2020-03-26 19:35] tcheng001 commented on #12954
Mark "Fixed"
No more error when I click the time stamp of any version of a post.
Other functions are working fine.

[2020-03-26 19:35] #12954 closed

[2020-03-26 20:27] stamina84 commented on #12995
@subhojit777 This is the problem right? Permission of site17
![image](https://user-images.githubusercontent.com/3629993/77693359-7ec12f00-6fa8-11ea-80c2-c1d8cc1fc45c.png)

[2020-03-26 20:51] stamina84 commented on #12674
There is an issue, if you try to create a Page without any book, just fill random title and Save it:
[code]

[2020-03-27 03:58] subhojit777 commented on #12994
@echen0601 This issue can be closed, right? // @tcheng001

[2020-03-27 04:01] subhojit777 commented on #12454
Sure. I will do it :)

[2020-03-27 04:26] subhojit777 commented on #13043
Yes. It makes sense fixing the problem in a separate ticket. We have seen similar issues like this one https://github.com/openscholar/openscholar/issues/13126

[2020-03-27 04:30] subhojit777 commented on #13043
@lomasgupta merged. Please confirm changes on demo.

[2020-03-27 06:29] subhojit777 commented on #12995
I think it was intentionally not given. As we found that vsite roles (even admin) has no need for this.

[2020-03-27 06:57] subhojit777 commented on #13036
@lomasgupta merged. confirm changes in demo.

[2020-03-27 08:21] stamina84 commented on #12995
I created a new site with normal user user, and I can see Menu settings, confusing.
@tcheng001 @Bilsi what do you think, if this problem not exists on newly created site, can we ignore?

[2020-03-27 08:26] subhojit777 commented on #12036
@uttkarsh-26 merged. confirm changes on demo.

[2020-03-27 08:26] subhojit777 commented on #12817
@uttkarsh-26 merged. confirm changes on demo.

[2020-03-27 08:28] Jiteshkhatwani commented on #13172
@tcheng001 currently, I have fixed below 2 warnings.
`Message | Warning: array_merge(): Expected parameter 1 to be an array, null given in os_widgets_form_block_content_form_alter() (line 902 of /var/www/html/profile/modules/apps/os_widgets/os_widgets.module)`
`Notice: Undefined index: delete in os_widgets_form_block_content_form_alter() (line 901 of /var/www/html/profile/modules/apps/os_widgets/o

[2020-03-27 09:54] kiran-axl commented on #12674
@tcheng001 pushed new PR changes and tested on dev environment.
- Resolved standalone page creation error.
- Resolved hiding section nav widget on pages with section_nav_hidden TRUE.
Please check.

[2020-03-27 10:18] subhojit777 opened #13248 "Section navigation widget appears twice if sub page titles are almost same"
**Pull request:**

**Parent:**

**Dependencies:**

-

### Steps to replicate:

1. Create a book page with title say, "Main book"
1. Add a sub-page to "Main book" with title say, "Main book - page 1"
1. Create another book page with title say, "Main book 2"
1. Add a sub-page to "Main book 2" with title say, "Main book 2 - page 1"
1. The section navigation widget for "Main book 2" appears twice, it

[2020-03-27 10:18] subhojit777 commented on #13248
@tcheng001 Can you confirm this bug?

[2020-03-27 10:24] uttkarsh-26 commented on #13217
Hi @tcheng001 , Can you put steps to reproduce this? Not able to reproduce this on local or dev .

[2020-03-27 12:14] #12994 closed

[2020-03-27 12:34] uttkarsh-26 commented on #12817
@tcheng001  this is ready for QA, however, you might find some issues for  Presentation slides field uploads if you do not enable presentations app which I think is related to #13220 so please enable the said app before testing this.

[2020-03-27 12:45] tcheng001 commented on #12995
@stamina84   I can't reproduce the issue either.   Closing this ticket

[2020-03-27 12:45] #12995 closed

[2020-03-27 13:02] tcheng001 commented on #13248
yes. I can reproduce it.

[2020-03-27 13:08] tcheng001 commented on #13217
Digging deeper - the issue only appears when I change my monitor's resolution to a certain setting.  That is a very rare case. Don't waster time to fix it.  I am closing this ticket.

[2020-03-27 13:09] #13217 closed

[2020-03-27 13:13] stamina84 commented on #13005
Tried to fix all related errors:
![image](https://user-images.githubusercontent.com/3629993/77759159-84fced00-7034-11ea-90d1-a57ff2e42f66.png)

two errors are the following:
* select2 thirdparty, what we were discussed earlier
* "Empty table header" error is related to files cp listing table header, not to this vocabulary edit widget

[2020-03-27 13:31] tcheng001 commented on #13106
@subhojit777   can you ask @jashish24  to provide the lists here?    Thanks.

[2020-03-27 14:01] bkosborne commented on #13216
@Bilsi I may be able to help with this by testing the update to CKEditor and creating a PR. Will that help your team?

[2020-03-27 14:10] rbran100 commented on #13216
@bkosborne yes that would be a great help, the QA of the update is what we are waiting on resources for since the update is relatively easy

[2020-03-27 14:17] rbran100 opened #13249 "Media error when field_media_image does not have an image."
os_media_library_info_alter will throw an error when field_media_image does not have an uploaded image in it.

Specifically on the File::load($id); line when $id is NULL
[code]

- [ ] We should verify that it is a valid case where a media item is created of type image without an uploaded image.  If it is not we should correct that issue.
- [ ] Need to harden the os_media_library_info_alter functio

[2020-03-27 16:39] stamina84 commented on #12707
@tcheng001 Blocker issue is merged, so you can QA again

[2020-03-27 16:42] #12947 closed

[2020-03-27 16:59] tcheng001 commented on #12036
@uttkarsh-26
- [ ] Unable to attach file if using + Add class material link.  Because MB is not in center of screen.
![Screen Shot 2020-03-27 at 12 54 48 PM](https://user-images.githubusercontent.com/2111600/77780346-3a767300-702a-11ea-979b-cd4c7825a77b.png)
![Screen Shot 2020-03-27 at 12 56 28 PM](https://user-images.githubusercontent.com/2111600/77780462-6bef3e80-702a-11ea-9659-5e61b3c4a86a.png)

[2020-03-27 17:19] tcheng001 opened #13251 "Class and class material issues"
1. Class attach files should be placed above  [Related Materials]
![Screen Shot 2020-03-27 at 1 01 12 PM](https://user-images.githubusercontent.com/2111600/77781066-4dd60e00-702b-11ea-8f24-778e9dccf3e9.png)

2. Breadcrumbs is incorrect when viewing a related material.  Here is an example.
http://d8.theopenscholar.com/tormansite02/classes/philosophy-foundation-101
if I click [text books], it redire

[2020-03-27 17:36] tcheng001 commented on #13036
Look good. Mark "Fixed"
1. default setting to show all content
2. able to change other content type
3. capture correct content

[2020-03-27 17:36] #13036 closed

[2020-03-27 18:17] tcheng001 commented on #13043
@lomasgupta     Please refer to update spec here https://github.com/openscholar/openscholar/issues/13043#issuecomment-600052407
I see two releases for project "widget018-Project A". This is incorrect.
![Screen Shot 2020-03-27 at 2 14 50 PM](https://user-images.githubusercontent.com/2111600/77787217-8c70c600-7035-11ea-9379-f8e509502b22.png)

The widget should only show the latest **recommended** re

[2020-03-27 18:21] tcheng001 commented on #13043
QA information only:
Recent software releases of a vsite don't appear in the same widget of other vsites any more - that is correct.

[2020-03-27 18:56] tcheng001 commented on #13172
Mark "Fixed"

[2020-03-27 18:56] #13172 closed

[2020-03-27 19:50] tcheng001 commented on #12674
Mark "Fixed"
1. No Nav Sec widget is shown if there is no child page
2. Nav Sec widget is shown in all pages of a book and its hierarchy structure is consistent through all pages of the book.
![Screen Shot 2020-03-27 at 3 48 22 PM](https://user-images.githubusercontent.com/2111600/77794511-69004800-7042-11ea-9944-20bbcb1b5b7a.png)

3. able to move subpages around (hierarchy structure)
4. able to h

[2020-03-27 19:50] #12674 closed

[2020-03-27 20:16] tcheng001 commented on #13051
@kiran-axl   Adding a widget to any page of a book, the widget will populate to all pages of the book.  Also, moving the widget to a new location in layout of any page will cause the widget affected in all pages of the book.  Do I understand correctly?   Such design causes limitation of using widgets in pages.

[2020-03-27 20:57] tcheng001 commented on #11024
Mark "Fixed"
Able to access contextual links (Edit/Delete) of Faceted Taxonomy widget
![Screen Shot 2020-03-27 at 4 55 22 PM](https://user-images.githubusercontent.com/2111600/77799796-ebd9d080-704b-11ea-8149-995b8987d093.png)

[2020-03-27 21:03] tcheng001 commented on #13043
Moving to "QA" and need to retest

[2020-03-27 21:07] tcheng001 commented on #13043
Confirmed the issue https://github.com/openscholar/openscholar/issues/13043#issuecomment-605191180
Moving to "in dev"

[2020-03-27 21:19] tcheng001 commented on #13012
Look good.  Mark "Fixed"
![Screen Shot 2020-03-27 at 5 19 19 PM](https://user-images.githubusercontent.com/2111600/77801375-1f6a2a00-704f-11ea-8b3d-9b0c2da7a591.png)

[2020-03-27 21:19] #13012 closed

[2020-03-28 14:31] tcheng001 commented on #11024
@Jiteshkhatwani
- [ ] 1. I found something odd.  Please go to http://d8.theopenscholar.com/facet-taxo001/browse/news?&keys
Under geolocation,  the count of "north america" is 6.  It seems that the counter includes posts of all content types - not just news. That is incorrect.  Only 3 results are found.  If you check the settings in the widget, Content Type is set to News.
![Screen Shot 2020-03-28

[2020-03-28 15:57] tcheng001 opened #13252 "Only allow to replace same file type in file edit form"
There are lots of places users can replace file form the file form.  We have to make sure that only the same file type can be used to replace the existing one. The reason is the file could have been used in a place where a new different file type is not compatible.
![Screen Shot 2020-03-28 at 11 55 31 AM](https://user-images.githubusercontent.com/2111600/77827291-1cbd1280-70eb-11ea-915a-d6e7139a7b

[2020-03-28 16:00] tcheng001 commented on #12817
able to attach both Presentation Slides and Supplemental Presentation Files.
![Screen Shot 2020-03-28 at 11 38 01 AM](https://user-images.githubusercontent.com/2111600/77826876-a1f2f800-70e8-11ea-9572-8a43d5b7a865.png)
https://drive.google.com/file/d/1E0wOn0a5otJESNFMYzqmb9UJcEteWKBb/view

able to replace attach file
able to edit
able to remove

Note:  I found an issue on file replace in file edit

[2020-03-28 16:01] #12817 closed

[2020-03-28 16:03] tcheng001 commented on #12707
Mark "Fixed"
tested on https://github.com/openscholar/openscholar/issues/12817

[2020-03-28 16:03] #12707 closed

[2020-03-29 19:33] lomasgupta commented on #13156
![error](https://user-images.githubusercontent.com/13271284/77858630-3f9e1280-7222-11ea-905f-f8977906dcf6.png)

[2020-03-30 04:00] subhojit777 commented on #13061
@mukeyshkumar merged. confirm changes on demo.

[2020-03-30 04:09] subhojit777 commented on #13156
https://github.com/openscholar/openscholar/pull/13253#pullrequestreview-383519202

[2020-03-30 04:19] subhojit777 commented on #13005
https://github.com/openscholar/openscholar/pull/13097#pullrequestreview-383521479

[2020-03-30 04:21] subhojit777 commented on #13156
@lomasgupta Uploading the a11y report is always not necessary. It is required if you are making changes in the UI.

[2020-03-30 04:25] subhojit777 commented on #12036
@tcheng001 could be related to https://github.com/openscholar/openscholar/issues/13061

@uttkarsh-26 Can you verify the change on demo?

[2020-03-30 04:34] kiran-axl commented on #13051
@tcheng001 , we currently replicated the same behavior as in D7. So, all the concurrent pages in a book will have the same layout. Please let us know your desired behavior and if you can replicate them in steps, it will be helpful. cc: @subhojit777

[2020-03-30 05:57] jashish24 commented on #12865
@tcheng001 I have fixed point 1 & 2 in this PR: https://github.com/openscholar/openscholar/pull/13254

Point 3 has to be done in another ticket. Even on edit the list in not getting updated with new title (if changed). Please add both points to same ticket.

[2020-03-30 06:11] lomasgupta commented on #13043
@tcheng001  I checked in D7 https://scholar.harvard.edu/bilsi/software/test-software
It looks there can be only one recommended version for a software project at a time.
![test_software](https://user-images.githubusercontent.com/13271284/77880398-32147700-727a-11ea-88fa-022c7afbce95.png)
I added two versions
1. Version 1 checked recommended
2. Version 2  also checked recommended.
Found once I subm

[2020-03-30 06:18] subhojit777 commented on #13043
@lomasgupta Can you check if the problem can be fixed quickly? If it is taking too long, then we can look into later.

[2020-03-30 07:31] lomasgupta commented on #13043
I checked It requires custom implementation which can take time, also I wanted to discuss/ suggest a possible solution.

[2020-03-30 07:55] subhojit777 commented on #13230
@tcheng001 The screenshot in ticket description says that there is an option "Apply css name to widget container", however, I couldn't find that option while creating the widget in D7. Do we still need it? ![question-1](https://user-images.githubusercontent.com/1435641/77888333-b7535800-7289-11ea-9ddb-7a2970737f87.png)

---

@Bilsi We are going to skip the "Make Embeddable" option in this ticket,

[2020-03-30 08:12] lomasgupta commented on #13043
@tcheng001 In D7 user can add multiple software releases in a project but from the backend, only latest version is recommended at the time of submission of software releases form.

@Bilsi Should we create a separate issue for it or take it in this issue? cc @subhojit777

[2020-03-30 08:26] uttkarsh-26 opened #13256 "Focus issue when using multiple media browsers on the page."
Motivation:
Steps to reproduce:
- Login to vsite and goto Add Class Form.
- Click add on `Add Class Material`
- Click on `Upload` , Goto `Previously Uploaded files` tab.
- Select any file and click `Insert`
- When browser closes page has automatically scrolled up. (Focus changes)

Tasks:
- [ ] Identify the issue. Fix it.
- [ ] Focus should remain on the media browser to which the file is attached.

[2020-03-30 10:51] uttkarsh-26 commented on #13228
@tcheng001
This issue occurred maybe because unknowingly main content block was dragged to the Widget List section and the layout was saved.

I think as a permanent fix we will need to disable Main content block being sortable(should not be allowed to drag and drop).
Also, I found that `Breadcrumbs`, `Page Title`, `Tabs`, `Local tasks`, blocks are also sortable at the moment that so we need to fix

[2020-03-30 11:42] Bilsi commented on #13230
@subhojit777 - yes, make embeddable can be done later

[2020-03-30 11:50] subhojit777 commented on #12036
@uttkarsh-26 merged. confirm changes on demo.

[2020-03-30 12:04] tcheng001 commented on #13230
@subhojit777    I still see the option in D7 site. Can you check this?  https://scholar.harvard.edu/tcheng10/cp/build/layout/news_news/os_public?destination=node/647057#overlay=tcheng10/os/widget/add/os_boxes_rand_widget/cp-layout

Where can I see the your screen?

[2020-03-30 12:06] subhojit777 commented on #13230
@tcheng001 here https://scholar.harvard.edu/bilsi/cp/build/layout#overlay=bilsi/os/widget/boxes/1585550181/edit/cp-layout

[2020-03-30 12:09] tcheng001 commented on #13230
![Screen Shot 2020-03-30 at 8 08 34 AM](https://user-images.githubusercontent.com/2111600/77910847-d3d99b00-725d-11ea-9cc5-6832bd98a143.png)

[2020-03-30 12:23] tcheng001 commented on #13043
@lomasgupta   I double-checked in D7,  it only allows ONE recommended release. You are correct.   It seems that the release is set recommended recently will be the one showed as [Recommended].  The original recommended one will be set to [Not recommended] automatically.
@subhojit777 @Bilsi    I will create a new ticket for this issue and this ticket should be put on hold.  What do you think?

[2020-03-30 12:29] subhojit777 commented on #12454
@rbran100 I figured that we can use the UI given by Drupal

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/1435641/77912284-e8df1a00-72af-11ea-8b7e-eb3a7f6f7028.png">

However, we will need to do some customizations, like, add vsite access checks, trimming down options, etc. But much of the heavy lifting will be done by that widget. I will keep you posted!

[2020-03-30 12:30] Bilsi commented on #13043
@tcheng001 - that works, thanks

[2020-03-30 12:43] Bilsi commented on #13230
@subhojit777 - The css name is when a user applies custom css to this widget. We need the text box. Sites with custom themes use this all the time..

[2020-03-30 12:46] Jiteshkhatwani commented on #11024
Hi, @tcheng001 I have looked into this. I found there is an issue with mapping here. For example if you go here,http://d8.theopenscholar.com/facet-taxo001/node/1059/edit?destination=/facet-taxo001/ you will find that there is no taxonomy attached to the content News, however, still, it shows you the count and results within the widgets. Even Vocabularies are not assigned to any app.

I would sugge

[2020-03-30 12:48] Jiteshkhatwani commented on #12586
Hi, @tcheng001 this seems like having issues with the default widgets. We have to change the settings for this. Please create new for defaults should be allowed on search page only.

[2020-03-30 13:03] tcheng001 opened #13259 "Software release: only one recommended release is allowed"
Like D7, only one recommended release is set. we need a mechanism to unset the existing recommended release automatically when a release is set to [Recommended release]

[2020-03-30 13:19] tcheng001 commented on #13230
@Bilsi,   I found out why subhojit not seeing the option.  His user account has a role of administrator.   I asked him to have a regular user account.
![Screen Shot 2020-03-30 at 8 55 24 AM](https://user-images.githubusercontent.com/2111600/77916705-7cd8c380-7267-11ea-99c9-f5a0631b8fce.png)

[2020-03-30 13:26] tcheng001 commented on #11848
@Bilsi   I see secondary menu in the layout now, but it still has problem. Search widget is not in the widget list yet.

[2020-03-30 14:39] tcheng001 commented on #12586
Mark "Fixed"

[2020-03-30 14:39] #12586 closed

[2020-03-30 14:59] tcheng001 opened #13260 "Change on widget from the widget list won't get updated"
- [ ] 1. Deleted widget still appear in the widget list until I Save the layout

- [ ] 2. widget description doesn't update until I Save button or refreshes the layout

[2020-03-30 15:02] tcheng001 commented on #13043
blocked by https://github.com/openscholar/openscholar/issues/13259

[2020-03-30 15:20] tcheng001 commented on #13051
@subhojit777   @kiran-axl   @Bilsi
This is important.  In D7,  each page of a book can have its own layout.  Here is an example:
https://scholar.harvard.edu/tcheng10/landingpage
There are 3 widgets under Sec Nav widget.
![Screen Shot 2020-03-30 at 11 15 47 AM](https://user-images.githubusercontent.com/2111600/77929636-e3fe7400-7277-11ea-8f22-6611b13f3266.png)

But its child page, https://scholar.h

[2020-03-30 16:28] stamina84 commented on #12745
Here is the form what I want to test, but seems I am stuck:
![image](https://user-images.githubusercontent.com/3629993/77936208-de724f80-72b2-11ea-906a-96444d999ad5.png)

* First, I tried to check Core functional test, how is file upload tested: `web/core/modules/file/tests/src/Functional/FileFieldTestBase.php::uploadNodeFile()`, but this will only work with simple `<input>` file upload (I tried w

[2020-03-30 17:25] tcheng001 commented on #12036
Media browser is working fine now.  Mark "Fixed"

Related Materials can not be accessed except from its class edit form.
http://d8.theopenscholar.com/default-widget019/classes/biology-100
You can open the class form and access its class material.  However, if I click a related material link (say manuals).  I am not able to edit it because there is no contextual links (Edit/Delete).
![Screen Shot 2

[2020-03-30 17:37] uttkarsh-26 commented on #12036
Yes @tcheng001 I think separate issue would be better as this is totally unrelated to media browser. Also will be better for tracking/ sprint planning purposes.

[2020-03-30 18:01] tcheng001 opened #13261 "vocab terms must be hidden when the vocab is no longer applicable to the content types"
Steps to reproduce:
1. create a vocab named "color" and apply to News app
2. add term "blue", "red", and "yellow"
3. create a news post tagged with "blue" and "red"
Note: you should see something like that.
![Screen Shot 2020-03-30 at 1 56 38 PM](https://user-images.githubusercontent.com/2111600/77945252-5712e500-728e-11ea-9b8c-72322c74db56.png)
4. change the vocab's setting by not applying to New

[2020-03-30 18:03] tcheng001 commented on #11024
https://github.com/openscholar/openscholar/issues/13261

[2020-03-30 18:28] tcheng001 commented on #11024
@Jiteshkhatwani   Unable to test any more because I encounter this error.
![Screen Shot 2020-03-30 at 2 25 33 PM](https://user-images.githubusercontent.com/2111600/77947750-6431d300-7292-11ea-8d09-436f39272954.png)

Tested on http://d8.theopenscholar.com/default-widget019
if you check the taxonomy's settings, everything looks good. Allowed entity types is set to News.

![Screen Shot 2020-03-30 at

[2020-03-30 18:55] tcheng001 opened #13262 "Related Materials can not be accessed except from its class edit form"
Related Materials can not be accessed except from its class edit form
You can open the class form and access its class material. However, if I click a related material link (say manuals). I am not able to edit it because there is no contextual links (Edit/Delete).
![Screen Shot 2020-03-30 at 1 20 48 PM](https://user-images.githubusercontent.com/2111600/77950265-3cdd0500-7296-11ea-95d9-72e74e82b5ff

[2020-03-30 19:08] tcheng001 commented on #12036
Mark "Fixed"
able to attach class file
able to attache a single file for class material
able to attache multiple files for class material

[2020-03-30 19:09] #12036 closed

[2020-03-30 19:57] tcheng001 commented on #13228
@uttkarsh-26    That is new to me.  What you can think of is the followings:
1.  anything in the main content area of full node view
![Screen Shot 2020-03-30 at 3 55 06 PM](https://user-images.githubusercontent.com/2111600/77955882-f213bb00-729e-11ea-87c1-5354fcc8d5ee.png)

2. anything in the main content area of listing (for example,   /news page)
![Screen Shot 2020-03-30 at 3 53 05 PM](https://u

[2020-03-30 20:54] tcheng001 opened #13263 "Hide Layout button/link from all control panel pages"
![Screen Shot 2020-03-30 at 4 39 41 PM](https://user-images.githubusercontent.com/2111600/77960353-276fd700-72a6-11ea-9425-6ce5d3c1055d.png)

Including the following pages:
1. cp/content/browse
2. cp/content/browse/files
3. cp/content/browse/publications
4. cp/build/menu
5. cp/appearance
6. cp/appearance/breadcrumb
7. cp/appearance/favicon
8. cp/appearance/themes
9. cp/settings
10. cp/settings/app

[2020-03-31 04:06] subhojit777 commented on #13200
@uttkarsh-26 merged. you may confirm changes on demo.

[2020-03-31 04:11] subhojit777 commented on #13156
@lomasgupta merged. confirm changes on demo.

[2020-03-31 04:14] subhojit777 commented on #12865
@jashish24 merged. confirm changes on demo.

[2020-03-31 04:24] uttkarsh-26 commented on #13200
Looks good, @tcheng001 can Qa, (This only solves the issue shown in the video by Torman, other mini calendar bugs have their own separate tickets).

[2020-03-31 04:36] jashish24 commented on #13106
@tcheng001 Yes, I will be posting it today.

[2020-03-31 04:46] subhojit777 commented on #13051
@tcheng001 Thanks for putting the info. But, actually we made the fixes as per the "steps to replicate" mentioned in the ticket. We need to address the changes that have been asked here.

Suggestion - Address the changes in a new ticket, or update this ticket's scope as per the change requests. @Bilsi What do you think?

[2020-03-31 04:51] subhojit777 commented on #12745
IMO we can skip this for now. Maybe, create a ticket for testing this specific scenario? btw, we already have tests for "using already uploaded files via media browser", and I think we can live with that for now.. What do you think Richard? @rbran100

p.s. we should leave something for Torman to test :p

[2020-03-31 04:55] subhojit777 commented on #13200
@tcheng001 Yes. The changes you have asked here https://github.com/openscholar/openscholar/issues/13200#issuecomment-601165047 will be addressed in #13212

[2020-03-31 05:14] jashish24 commented on #13106
Here is the list of themes from folder:
### Vsite Theme (Create Site)

`Adams`
`Blue Sky`
`Branded`
`Cabot`
`Clean theme blue`
`Clean theme`
`Dark`
`Documental`
`Golden Accents`
`Conservative`
`College`
`Lamont`
`Sterling`
`Bentley Conservative`
`Widener`
`Indigo`
`Ivy Accents`
`Lemon Sand`
`Loeb`
`Crimson`
`Monochrome`
`Monument`
`Red raven`
`Saffron Accents`
`Shade`
`Shadow`
`Slate`
`Smart`
`Sof

[2020-03-31 08:36] subhojit777 commented on #12581
@tcheng001 I was unable to replicate the problem. Can you confirm?

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/1435641/78005088-b4736880-7358-11ea-83af-6e4e85dfa0ab.png">

[2020-03-31 09:18] subhojit777 commented on #13171
@rbran100 I looked into the preload, and wanted to discuss a few things before we go ahead and enable it.

1. Drupal 8.8.x doesn't have inbuilt support for generating the preload file. It could be added in Drupal 9 (see this [issue](https://www.drupal.org/project/drupal/issues/3108687)). However, there are other approaches of generating that file, like using this package [`DarkGhostHunter/Preloade

[2020-03-31 12:09] subhojit777 commented on #12454
Customizations required for:

- Ability to change from 2 column layout to 3 column layout while editing a widget
- Show only current vsite widgets here ![ref-1](https://user-images.githubusercontent.com/1435641/78024456-08407a80-7376-11ea-9a09-beb7c3346f71.png)
- Vsite access checks while adding block and editing layout

Verbiage changes:

- "Add section" -> "Add layout"
- "Add block" -> "Add widg

[2020-03-31 12:24] rbran100 commented on #12745
ha!

Yes @stamina84 we can skip this for now, don't worry about the separate ticket.  If we hit a bug here we can add a test case for that scenario

[2020-03-31 12:43] tcheng001 opened #13269 "Unable to open media browser"
steps to reproduce:
1. Create a Custom Text / HTML widget
2. Open Media Browser from wysiwyg by clicking Embed Media button
3. Save the widget
4. Reopen the widget
5. Click Embed Media  button
Note:
a) Media Browser doesn't open
b)  Error showed in console
[code]

[2020-03-31 12:46] rbran100 commented on #13171
@subhojit777 thanks for looking into this, let's table it for now, since it is not critical.  We can cook up something specific to our environment once we are live.  We will need to make sure it works with our deployment process.

[2020-03-31 12:54] tcheng001 commented on #12581
@subhojit777   I am not able to reproduce this issue any more.   Closing it.

[2020-03-31 12:54] #12581 closed

[2020-03-31 13:17] rbran100 commented on #13138
@stamina84 why is the vocab shared between sites?  I think we discussed this but I can't remember.  Wouldn't it be easier to segregate vocabs per-site instead of terms?  Since sites will need to make their own vocabs anyway.

[2020-03-31 13:20] tcheng001 commented on #12123
@stamina84
This is what i see after uploading an image from Edit form.  Also, there is an error in console.
![Screen Shot 2020-03-31 at 9 09 52 AM](https://user-images.githubusercontent.com/2111600/78029984-6bf38500-732f-11ea-85b5-6700bc3b7581.png)

My Chrome's version is Version 80.0.3987.132 (Official Build) (64-bit)
Tested on Safari, Opera, Firefox. I encounter the same issue on them. I don't t

[2020-03-31 13:29] subhojit777 commented on #13171
@rbran100 You mean just skip the preloading right? We can still use PHP 7.4, isn't it?

[2020-03-31 13:35] tcheng001 commented on #13061
Mark "Fixed"
![Screen Shot 2020-03-31 at 9 33 44 AM](https://user-images.githubusercontent.com/2111600/78032399-f4bff000-7332-11ea-99cd-eb68ccdb179d.png)

[2020-03-31 13:35] #13061 closed

[2020-03-31 13:44] saurabh-axl commented on #12663
@Bilsi @tcheng001
Im adding missing permission which are not present in D8 but present in D7.
In D8 we have Group Media permissions to manage permissions related to files so does make sense to have additional permission to manage it or we can reuse it.
These are the permissions:
Upload files
Edit files
Delete files

In D8 we have:
Entity: Add media entities
Entity: Delete any media entities
Entity

[2020-03-31 14:02] subhojit777 commented on #13171
Slacked Richard - Yes

[2020-03-31 15:40] tcheng001 commented on #13194
Mark "Fixed"
1. able to upload single file
2. able to upload multiple file
3. able to upload the same file (testing replace)
4. able to upload the same file (testing rename)
5. able to edit file
6. able to remove file

[2020-03-31 15:40] #13194 closed

[2020-03-31 15:59] tcheng001 commented on #13106
Mark "Fixed"
![Screen Shot 2020-03-31 at 11 56 50 AM](https://user-images.githubusercontent.com/2111600/78047749-bcc2a800-7346-11ea-9ff5-cea71f0d3fe5.png)
![Screen Shot 2020-03-31 at 11 57 15 AM](https://user-images.githubusercontent.com/2111600/78047818-d5cb5900-7346-11ea-9163-87f7d57fe79a.png)

[2020-03-31 15:59] #13106 closed

[2020-03-31 17:09] tcheng001 opened #13272 "Align Export icon horizontally with tabs in both /calendar and /calendar/upcoming page"
![Screen Shot 2020-03-31 at 1 05 28 PM](https://user-images.githubusercontent.com/2111600/78054793-97d33280-7350-11ea-8746-f5fe79ca4584.png)

![Screen Shot 2020-03-31 at 1 06 57 PM](https://user-images.githubusercontent.com/2111600/78054904-c18c5980-7350-11ea-9297-3d05126d284b.png)

[2020-03-31 17:12] tcheng001 commented on #11193
Mark "Fixed"
1. Able to export multiple events (RSS/iCal ) from /calendar and /calendar/upcoming page
2. Able to export single event (RSS/iCal) from an event.
3. RSS and iCal are the only two forms  OS supports in D8.

[2020-03-31 17:12] #11193 closed

[2020-03-31 18:22] lomasgupta commented on #13095
@uttkarsh-26 I found  [if]([url](`url`)) (empty($group_content_types)  is not working because $group_content_types
returns object in both bibcite/reference/add/{type} and edit bibcite/reference/{id}/edit pages.
cc @subhojit777

[2020-03-31 18:34] uttkarsh-26 commented on #13095
I think this is already well known. You need to find out why for Add form control comes to this access checker. This add form should only call create access hooks not others like this one.
When other hooks except create access will be called we know that object entity will have null id hence the error so we need to fix the underlying cause not change anything here.

[2020-03-31 19:51] rbran100 commented on #13138
Do you want to debug this some? seems like there may have been a bug introduced somewhere.  Maybe terms are not getting cleaned up when a vocab is deleted or something

[2020-03-31 20:17] tcheng001 commented on #13077
Mark "Fixed"
![Screen Shot 2020-03-31 at 1 19 12 PM](https://user-images.githubusercontent.com/2111600/78055902-3dd36c80-7352-11ea-828c-fd0cad02b897.png)

![Screen Shot 2020-03-31 at 4 06 18 PM](https://user-images.githubusercontent.com/2111600/78070474-daedcf80-7369-11ea-8017-077b4d3602ad.png)

![Screen Shot 2020-03-31 at 4 06 49 PM](https://user-images.githubusercontent.com/2111600/78070506-e8a3

[2020-03-31 20:17] #13077 closed

[2020-03-31 20:52] tcheng001 commented on #13156
Mark "Fixed"
Import can detect invalid url and quit import.

[2020-03-31 20:53] #13156 closed

[2020-04-01 00:33] tcheng001 commented on #13200
Not seeing the widget.  I just created this site http://d8.theopenscholar.com/default-widget020/calendar and an event.  What is missing?

![Screen Shot 2020-03-31 at 8 31 04 PM](https://user-images.githubusercontent.com/2111600/78087348-d12a9300-738e-11ea-98ea-260d6552e966.png)

[2020-04-01 04:12] subhojit777 commented on #12745
I think we should test the REST APIs and any other code which are triggered after a user uploads a new file from the media browser. Although that will not be a full end-to-end test, but I think we can live with that, as replicating that exact behavior could be hard.

---

I didn't read the purpose of this ticket, and commented https://github.com/openscholar/openscholar/issues/12745#issuecomment-60

[2020-04-01 04:17] subhojit777 commented on #12663
Sounds good to me.

[2020-04-01 04:36] Jiteshkhatwani opened #13274 "Sort by direction for Faceted Taxonomy"
### Motivation:

We need to have sort by for faceted taxonomy widget.

This `Sort by` will help to sort the vocab by either ASC or DESC.

Also, the need to handle the mapping if vocab which is mapped with any content type is Edited/Deleted should affect the result in the search post re-index.

### Technical Implementation:

### Estimated Time:

### Tests:

[2020-04-01 05:02] uttkarsh-26 commented on #13200
Remember this calendar only appears when we have an event in the current ongoing month, here I see you have created an event for June, but you need to create an event for April to see it.
It is listed in the parent ticket as a bug and will be fixed later.

[2020-04-01 06:34] subhojit777 commented on #13159
@stamina84 You are suggesting to ignore this scenario?

[code]

---

[code]

Also, today I followed these steps, and I wasn't able to see the cropping sections.

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/1435641/78106364-de886180-7410-11ea-8e2b-27894cca3e2f.png">

Can you confirm this?

[2020-04-01 06:57] subhojit777 commented on #13159
Talked with Balazs. He is working on the problem

[2020-04-01 06:59] subhojit777 commented on #13159
The correct steps:

[code]

[2020-04-01 11:13] subhojit777 commented on #13200
@uttkarsh-26 I have merged the fixes. Please confirm the changes on demo.

[2020-04-01 11:34] subhojit777 commented on #12454
@mukeyshkumar Currently the layout selection and widget placement options are looking like this
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/1435641/78132595-a564e700-743a-11ea-95d4-d2a4b78f2efc.png">

It was fine till yesterday. Seems like something broke this. Could you take a look. This is how they should ideally appear https://youtu.be/fvNs86-djhU?t=157

[2020-04-01 11:35] uttkarsh-26 commented on #13200
I have fixed the Widget not appearing issue here itself Torman as per Subhojit suggestion.  You should be able to see the Mini calendar now even without creating any new events.
Ready For QA

[2020-04-01 12:43] #13205 closed

[2020-04-01 12:44] rbran100 commented on #12745
Thats a good idea, and will be easier to test.  It is the most important component since it is most likely to have an error that is not apparent.  @stamina84 can you add that to your ticket, or create one if you have not yet.

[2020-04-01 12:45] tcheng001 commented on #13199
we decided not to implement this function at this moment. closing this ticket

[2020-04-01 12:45] #13199 closed

[2020-04-01 12:47] stamina84 commented on #12745
Ok, then I will create tests for API calls, what angular calls in an upload scenario

[2020-04-01 12:53] jashish24 commented on #13210
@rbran100 Is it important to match titles display with D7? As per D8 situation we will have to maintain list of block types with `Empty block title`.

[2020-04-01 12:58] tcheng001 commented on #13210
@jashish24   Is it possible not rendering if the widget has empty content?  What I mean is the widget is still in layout but no rendering on the page.

[2020-04-01 13:05] jashish24 commented on #13210
@tcheng001 I think it is possible, just need to check the complexity. Now I can see these scenarios for titles:

- `Site Access denied (Members Only)`
- `When block has no content`
- `When block has no content but admin user`
- `When block has no content and user on layout page`

[2020-04-01 14:20] jashish24 commented on #13148
I did a mistake there, tests job didn't ran. The build was green but when I check details `travis` job was missing. Have reverted commit and asked Jitesh to create new PR.
Merged: https://github.com/openscholar/openscholar/pull/13280
Reverted: https://github.com/openscholar/openscholar/pull/13281

[2020-04-01 14:28] rbran100 commented on #13173
Waiting to see what @mukeyshkumar and @tcheng001 think on PR comment.

[2020-04-01 14:42] tcheng001 commented on #13200
@uttkarsh-26    I am a bit lost. Does this ticket only for displaying mini calendar?

[2020-04-01 14:44] uttkarsh-26 commented on #13200
That and also the main issue described in the description.
The issue you showed in the video you posted.

[2020-04-01 14:51] kiran-axl commented on #12621
@tcheng001 , when we delete the book main page which has sub pages, the sub pages will become individual books and they have their own layout for each direct sub page. Here is the flow:
For example, we have a book structure like below```

Book 2 -> np 2 -> np 5
                np 4
[code]

[2020-04-01 15:11] tcheng001 commented on #12621
@kiran-axl    @rbran100
`Please note the widgets that are added in Book 2 (Section Layout For Book 2) will not be visible in these new books as these are new layouts.`
But this is not happening in D7.  Widgets in all subpages remain the same as before its parent page is deleted.  Can we do the same in D8?

[2020-04-01 15:49] tcheng001 commented on #13200
Mark "fixed"
1.  Mini calendar will display even though there is no event.
2.  Mini calendar looks the same on /calendar page when I click Today, Month, Week or Day tab
![Screen Shot 2020-04-01 at 11 48 49 AM](https://user-images.githubusercontent.com/2111600/78158063-c9123800-740e-11ea-930a-f42831b8fcbd.png)

[2020-04-01 15:49] #13200 closed

[2020-04-01 15:55] tcheng001 commented on #13051
I am closing this ticket.   Mark "Fixed"

[2020-04-01 15:55] #13051 closed

[2020-04-01 16:03] rbran100 commented on #13210
@jashish24 @tcheng001 after looking at it, I think it is ok to default to "hidden" when any widget has no content.

- `Site Access denied (Members Only)` - Don't think we need to "hide" widgets, but the layouts should have a condition that excludes them from access denied, so in that case all widgets will not be there (that work?)
- `When block has no content` - Hide
- `When block has no content b

[2020-04-01 16:06] rbran100 commented on #13220
@Jiteshkhatwani I talked with Bilsi, and we are ok with adding a new type "PDF" to resolve the error, but first would like you to spend an hour trying to debug where the issue is happening because we would rather solve the error if possible and takes less than an hour to find.

[2020-04-01 17:25] tcheng001 commented on #13173
if this is not too difficult, I would like to have the popup wider.  Because the image in the cropping area is small.

[2020-04-01 17:33] stamina84 commented on #13138
As we discussed with @rbran100, I will create a new solution for that, what will suffix the vocab machine name with GID, then no need to alter queries

[2020-04-01 17:59] tcheng001 opened #13283 "List of Files widget: Filter by Vocabulary option missing"
![Screen Shot 2020-04-01 at 1 57 36 PM](https://user-images.githubusercontent.com/2111600/78170389-de905d80-7420-11ea-959b-68e8ee22a5ca.png)
![Screen Shot 2020-04-01 at 1 58 38 PM](https://user-images.githubusercontent.com/2111600/78170460-fcf65900-7420-11ea-98a9-889c7b427fd2.png)

[2020-04-01 19:05] tcheng001 commented on #13005
Tested on http://d8.theopenscholar.com/default-widget020

the vocab "vocab-file" has 5 terms - blue, red, term 1, term 2, and term 3.
![Screen Shot 2020-04-01 at 3 02 28 PM](https://user-images.githubusercontent.com/2111600/78176125-02a46c80-742a-11ea-960c-250f776a6f00.png)

But the field only shows "term 1", "term 2", and "term 3".  "blue" and "red" are missing in file form.
![Screen Shot 2020-04

[2020-04-01 19:11] stamina84 commented on #13005
@tcheng001 Could you please test with more specific vocab name? I guess this vocab is used in other vsite too, and this problem is related to another issue

[2020-04-01 19:27] stamina84 commented on #13005
Found an angular caching issue, when you visit this edit page and add new vocab, and visit this again, you can't see the new vocab, because of angular caching

[2020-04-01 20:29] amulos commented on #12865
1.The Contextual links appears in widgets list as soon as the widget is created without hitting the save button.
2. Contextual links are seen when using filter by type.
However, if the widget is placed in the layout section, contextual link are not seen.

[2020-04-01 20:29] #12865 closed

[2020-04-02 04:07] subhojit777 commented on #13173
@stamina84 Is this the PR https://github.com/openscholar/openscholar/pull/13266? The CI is failing. Please take a look.

[2020-04-02 04:09] subhojit777 commented on #13173
@stamina84 my bad.. The build is actually passing when I checked Travis. I have merged that PR.

[2020-04-02 04:17] subhojit777 commented on #12621
Thanks @kiran-axl for raising this scenario. I asked a similar question here https://github.com/openscholar/openscholar/issues/13271#issuecomment-607170468, but I think I didn't explain it there well.

---

I think we need to copy the configs from the section context being deleted to the new section contexts. That should help make the behavior same as in D7. What do you think?

[2020-04-02 04:30] lomasgupta commented on #13095
@uttkarsh-26 I think we have to continue with the existing fix.  hook_ENTITY_TYPE_access is called every time from add page. I checked it in os_app_access module also. It looks like a D8 core issue.

[2020-04-02 04:51] uttkarsh-26 commented on #13095
Are you sure this is a core issue and not a bibcite module issue?
What do you suggest @subhojit777

[2020-04-02 05:43] subhojit777 commented on #13174
@kiran-axl merged. confirm changes on demo.

[2020-04-02 05:46] subhojit777 commented on #13095
As discussed over the call, we think that this problem is in bicite module. Asked Lomas to verify it.

[2020-04-02 06:21] subhojit777 commented on #13165
https://github.com/openscholar/openscholar/pull/13268#issuecomment-607633727

[2020-04-02 06:38] kiran-axl commented on #13165
Updated. Moving to self-review.

[2020-04-02 07:07] subhojit777 opened #13286 "Incorrect layout context options if book titles are almost same"
**Pull request:**

**Parent:**

### Steps to replicate:

1. Login as vsite admin
1. Create a book page with title say, "lotr - pt 1"
1. Add a sub-page to "lotr - pt 1" with title say, "lotr pt1 - page 1"
1. Create another book page with title say, "lotr - pt 1 2"
1. Add a sub-page to "lotr - pt 1 2" with title say, "lotr - pt 1 2 - page 1"
1. After you are redirected to the "lotr - pt 1 2 - page 1

[2020-04-02 07:07] subhojit777 commented on #13286
@tcheng001 Could you confirm this? And the desired behavior as mentioned in the ticket description.

[2020-04-02 07:47] subhojit777 opened #13287 "Enable PHP preloading"
**Pull request:**

**Parent:**

**Dependencies:**

- #13171

### Motivation:

PHP preloading will help become OpenScholar faster.

See the discoveries done here https://github.com/openscholar/openscholar/issues/13171#issuecomment-606502948

### Acceptance Criteria

- [ ]

### Probable resolution:

-

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

[2020-04-02 07:47] subhojit777 commented on #13287
FYI @rbran100 @Bilsi

[2020-04-02 07:50] subhojit777 opened #13288 "Remove block_visibility_groups"
**Pull request:**

**Parent:**

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

`block_visibility_groups` is not being used currently, apart from its creation. The placement and visibility of widgets (`block_content`) is controlled by `layout_context`. Therefore, we can safely remove the module's dependency from OpenScholar.

### Acceptance Criteria

- [ ]

### Probable resolut

[2020-04-02 07:51] subhojit777 commented on #13287
FYI @jashish24

[2020-04-02 08:42] kiran-axl commented on #12621
@tcheng001 , @Bilsi  started working on the above suggestions.. total estimate will take 8 hours to make the changes which include tests.

[2020-04-02 09:44] subhojit777 commented on #12454
@mukeyshkumar Can you make the follow UI improvements

1. ![ref-1](https://user-images.githubusercontent.com/1435641/78233844-f389f100-74f3-11ea-9d06-91fa9c28e05b.png)
1. ![ref-2](https://user-images.githubusercontent.com/1435641/78234258-8c207100-74f4-11ea-889c-ae1b5d02ce4c.png)
1. ![ref-3](https://user-images.githubusercontent.com/1435641/78234282-95a9d900-74f4-11ea-8db7-298c9c3b6aad.png)

[2020-04-02 09:46] subhojit777 commented on #13029
@uttkarsh-26 merged. confirm changes on demo.

[2020-04-02 09:51] mukeyshkumar commented on #12454
@subhojit777
Sure will look into this.

[2020-04-02 10:34] mukeyshkumar commented on #13132
@tcheng001
the theme is required but the screenshot is wrong. So I have updated the screenshot.

[2020-04-02 10:39] uttkarsh-26 commented on #13029
@rbran100 We have done this at docker level but it was not reflecting on demo , had a chat with @janost , the issue is `elastic beanstalk uses these configuration files called .ebextensions to configure the environment during deployment and we're patching php.ini here with our desired values` and as On Elastic Beanstalk we do not process .env and docker-compose.yml files, basically the AWS environ

[2020-04-02 10:46] stamina84 commented on #13005
I found missing features for this issue, I need to implement `api/vocabulary/updates/XXX` and other endpoints, checking D7 code too

[2020-04-02 12:13] kiran-axl commented on #13174
@tcheng001  Tested on demo site: http://d8.theopenscholar.com/site02/blog/archives/2020/01

[2020-04-02 12:14] kiran-axl commented on #13165
@tcheng001 , tested these changes here http://d8.theopenscholar.com/site02/news/archive/2020/01

[2020-04-02 12:51] tcheng001 opened #13292 "page & Sec Nav widget"
- [ ] Handle book hierarchy when a page of book is deleted #12621

[2020-04-02 13:10] tcheng001 commented on #13286
@subhojit777   I can reproduce it.   Also, there are two Sec Nav widgets on "lotr - pt 1 2 - page 1" -that is incorrect either.
![Screen Shot 2020-04-02 at 9 09 14 AM](https://user-images.githubusercontent.com/2111600/78253020-bc025100-74c1-11ea-945e-5992b6825b33.png)

[2020-04-02 13:41] tcheng001 commented on #13173
Mark "Fixed"
![Screen Shot 2020-04-02 at 9 40 37 AM](https://user-images.githubusercontent.com/2111600/78256110-20271400-74c6-11ea-8d51-df29578147dd.png)

[2020-04-02 13:41] #13173 closed

[2020-04-02 15:07] #12933 closed

[2020-04-02 15:15] Bilsi opened #13295 "Vsite Preset - Personal - Personal"
Create an academic preset for department sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 9 in this document

Preset Name : hwp_personal
Display Name : Personal
Description : The Harvard Web Publishing standard Personal site.

Example site - https://scholar.harvard.edu/personal

[2020-04-02 15:32] tcheng001 commented on #13029
Tested uploading new slide in slideshow widget. I tried to upload a file of 240 MB and it took over several minutes before showing an error.
`An unrecoverable error occurred. The uploaded file likely exceeded the maximum file size (128 MB) that this server supports.`
Can we check file size before downloading? Otherwise, we need UI to show progress of uploading.

[2020-04-02 15:34] uttkarsh-26 commented on #13029
Hm can you please save that file in a drive and send me the link. Also did you use WYSIWYG media browser. Brief steps to reproduce will be helpful. Will see to it tomorrow. Can move the ticket to dev

[2020-04-02 15:39] tcheng001 commented on #13029
Just checked in Media Browser.  It is better that it shows the error right away. That is good. But we should change the filesize number in a more readable form - 128 MB instead of 134217728.
![Screen Shot 2020-04-02 at 11 35 59 AM](https://user-images.githubusercontent.com/2111600/78268424-29b87800-74d6-11ea-8326-be7e1b3ff7f4.png)

[2020-04-02 15:41] uttkarsh-26 commented on #13029
Yes it does show error in MB only. Glad that you were able to produce this errors.
Please attach the file and reproduction steps too because in my testing on demo I did not find this error.

[2020-04-02 15:48] tcheng001 commented on #13029
https://drive.google.com/file/d/1CPgPDu0cwboa790ke5xt250gt1mC5BDL/view?usp=sharing

[2020-04-02 15:51] tcheng001 commented on #13029
One question - this ticket is only to test filesize in Media Browser?

[2020-04-02 15:52] uttkarsh-26 commented on #13029
Yes actually for images it should be 15 MB and for other files it should not allow more than 128Mb

[2020-04-02 15:54] tcheng001 commented on #13029
Right now, is that logic to check filesize in Media Browser only?

[2020-04-02 15:58] tcheng001 commented on #13029
Non image file larger than 128 MB -  https://drive.google.com/file/d/1_vIGHzvaUmpWsZbP3QFdQE2T-GHuIGxo/view?usp=sharing

[2020-04-02 15:59] uttkarsh-26 commented on #13029
Yes I think the error messages will be shown in Media browser for good UI/UX. Rest other places will be controlled by whatever default Drupal provides.

[2020-04-02 17:11] rbran100 commented on #13157
restarted failing

[2020-04-02 17:47] tcheng001 commented on #13029
-- | Place to use Media Browser |  status
--- | ----------| -----
1 | /cp/content/browse/files |  Good
2 | wysiwyg in node body | good
3 |  Blog - attached media |  Need to check image file not larger than 15 MB
4 | Class - attached media | Need to check image file not larger than 15 MB
5 | Class Material - attached media | Need to check image file not larger than 15 MB
6 | Event - attached media

[2020-04-02 18:01] Praveen-OS commented on #13100
I have tried to change the Bibliographic format in the App settings for Publications and I found some issues for the below mentioned formats.
1. American Chemical Society (with titles)
2. American Political Science Association
3. American Sociological Association
4. Chicago Manual of Style 17th edition (full note)
5. Chicago Manual of Style 17th edition (note)
6. Modern Humanities Research Associa

[2020-04-02 18:08] tcheng001 commented on #13174
@kiran-axl    Mark "Pending"
Tested on http://d8.theopenscholar.com/default-widget021/blog/
I got an error "Page not found" when I click any link from BLOG POSTS BY MONTH widget.![Screen Shot 2020-04-02 at 2 07 20 PM](https://user-images.githubusercontent.com/2111600/78283149-617dea80-74eb-11ea-9123-9d0953dc7f73.png)

[2020-04-02 18:40] rbran100 commented on #12123
@stamina84 this new test is failing CI, can you take a look

[2020-04-02 18:41] rbran100 commented on #12123
https://github.com/openscholar/openscholar/runs/555901704?check_suite_focus=true

[2020-04-02 21:21] tcheng001 commented on #11024
tested on http://d8.theopenscholar.com/default-widget021/news
- [ ] 1. Term order is set Relevance. But why the order is not the following?
[code]
![Screen Shot 2020-04-02 at 5 18 34 PM](https://user-images.githubusercontent.com/2111600/78300777-0dccca80-7506-11ea-97dd-ee77a2b61cf9.png)

- [ ] 2.  I click "blue", this is what I see.  Can the selected filter "blue" be listed on the top like that in

[2020-04-02 21:55] rbran100 commented on #12123
@stamina84 I disabled the test while you work on this with group @wip

[2020-04-03 05:37] subhojit777 commented on #13286
Yes @tcheng001 I have noted that problem here #13248

[2020-04-03 05:55] subhojit777 commented on #13174
@kiran-axl merged. confirm changes on demo.

[2020-04-03 06:35] uttkarsh-26 commented on #13259
What happens when no release is marked as recommended? @tcheng001 @subhojit777

[2020-04-03 06:43] subhojit777 commented on #13259
If it is the first release to be marked as recommended, then don't do anything. Alright? @tcheng001

[2020-04-03 06:52] jashish24 commented on #13210
@Bilsi I do see that there is more work to be done here. Is it ok to move this to next sprint to cover all scenarios?

[2020-04-03 08:29] subhojit777 commented on #13029
@uttkarsh-26 merged. confirm changes on demo.

[2020-04-03 08:31] Jiteshkhatwani commented on #12489
@Bilsi, @rbran100 I have discussed the functionality with @tcheng001 yesterday and he expects below things in below ticket

- While edit/add the `Media Galery` widget we need to add the form which is similar to D7
- We need to add those `Gallery Settings` and they should reflect when the widget is displayed
- Same thing with `Presentation Settings` they should reflect when you click the image

In

[2020-04-03 08:34] Jiteshkhatwani commented on #12489
@Bilsi, @rbran100 I have discussed the functionality with @tcheng001 yesterday and he expects below things in below ticket

- While edit/add the `Media Galery` widget we need to add the form which is similar to D7
- We need to add those `Gallery Settings` and they should reflect when widget is displayed
-  Same thing with `Presentation Settings` they should reflect when you click the image

In the

[2020-04-03 09:23] uttkarsh-26 commented on #13029
Hi @tcheng001 Ready for QA for Media browsers everywhere.
But for Person I think it is same as #13269
@subhojit777 can you include the Person page media browser issue too in this (#13269) ticket

[2020-04-03 09:46] uttkarsh-26 commented on #13213
Torman this was fixed as part of other Mini Calendar bug, please can you can reverify can close this issue.
@tcheng001

[2020-04-03 10:01] subhojit777 commented on #12454
Do we need to ajaxify the "delete widget" operation? ![question-1](https://user-images.githubusercontent.com/1435641/78347943-d66e2480-75be-11ea-922d-96da10d5f599.png)

Actually it is breaking an ajax operation for editing layout settings, and widget placement.

---

On clicking that delete button I am seeing a screen like this, which looks broken and not usable. <img width="1277" alt="image" src=

[2020-04-03 10:38] tcheng001 commented on #11024
- [ ] 1. http://d8.theopenscholar.com/default-widget021/browse/news?f%5B1%5D=custom_taxonomy%3A110&f%5B2%5D=custom_taxonomy%3A109&keys

I select "usa" and "north america", the search result is not correct. The third one is tagged only "north america".
![Screen Shot 2020-04-03 at 6 31 22 AM](https://user-images.githubusercontent.com/2111600/78351631-1c05ff80-7575-11ea-84cc-fd3ed11120a8.png)
 It see

[2020-04-03 11:06] kiran-axl commented on #13174
@tcheng001  Tested on dev environment http://d8.theopenscholar.com/default-widget021/blog/archives/2020/03

[2020-04-03 11:28] Jiteshkhatwani commented on #11024
@tcheng001 I think there is some confusion, as per the requirement it has to be `OR` within the vocab & it has to be `AND` between the vocabs. And these results are being fetched accordingly. cc @rbran100 @jashish24 .

[2020-04-03 11:47] tcheng001 commented on #13259
yes.

On Fri, Apr 3, 2020 at 2:43 AM Subhojit Paul <notifications@github.com>
wrote:

[2020-04-03 12:03] tcheng001 commented on #11024
@Jiteshkhatwani   Can you help to verify in D7 if the filter logic is OR or AND within a vocab?
https://scholar.harvard.edu/tcheng10/browse/news?admin_panel=1
3 posts are tagged with "blue"
2 posts are tagged with "green"
If the logic is OR within a vocab,  then the search result should have 3 posts when I select both "blue" and "green".   However, it only show 2 posts.
![Screen Shot 2020-04-03 at

[2020-04-03 12:33] tcheng001 commented on #11024
@rbran100    Can you take a look on my comment?  It seems the logic in D7 is different from what the spec in this ticket.
`For instance, selecting Term 1 and 2 from the Numbers vocab and Term B from the Alpha vocab will result in (Term 1 O Term 2) AND Term B`

[2020-04-03 12:37] jashish24 commented on #11024
@rbran100 While you check the description, please check description for https://github.com/openscholar/openscholar/issues/12586 as well as it also has similiar requirement.

[2020-04-03 12:48] jashish24 commented on #12870
@Bilsi This is not completed as Harjas is on leave for two days due to health issues. Should we move this to next milestone?

[2020-04-03 12:53] tcheng001 commented on #13213
Mark "Fixed"

[2020-04-03 12:53] #13213 closed

[2020-04-03 12:58] Bilsi commented on #12870
@jashish24 - alright

[2020-04-03 13:04] tcheng001 commented on #13165
mark "Fixed"
![Screen Shot 2020-04-03 at 9 03 14 AM](https://user-images.githubusercontent.com/2111600/78363583-fd5e3380-7589-11ea-9ee1-f8e8f863a4e3.png)
![Screen Shot 2020-04-03 at 9 03 47 AM](https://user-images.githubusercontent.com/2111600/78363621-11099a00-758a-11ea-8065-58acb45a3670.png)

[2020-04-03 13:04] #13165 closed

[2020-04-03 14:16] rbran100 commented on #11024
@tcheng001 @jashish24 @Bilsi

OK so I figured out what was up,  this feature was supposed to be like I described but was developed like torman described because it was non-trivial to implement like that.

See thread here: https://github.com/openscholar/openscholar/issues/5186

My recommendation is to build it like the description mentions since that is the most useful, but if it is still very hard

[2020-04-03 14:27] Jiteshkhatwani commented on #11024
@rbran100 currently, the `faceted` widget is working as per the description with `OR` and `AND`. So, I think currently I don't have to change anything as it suffices the current requirement as per ticket description. @tcheng001 if you need any help here.

[2020-04-03 14:28] stamina84 commented on #13138
@rbran100 It seems not possible that way, tried many ways (hook_taxonomy_vocabulary_insert, hook_taxonomy_vocabulary_create), but end up with this error message `Drupal\Core\Config\ConfigNameException: The machine name of the 'Taxonomy vocabulary' bundle cannot be changed. in Drupal\Core\Config\Entity\ConfigEntityBundleBase->preSave() `

[2020-04-03 15:09] Bilsi commented on #12489
@Jiteshkhatwani - Sorry for the confusion. Go by the requirement at the top of the ticket.
We struck 1-4 out because the way d8 aligns images, we do not need this in d8 as we did in d7

[2020-04-03 17:46] rbran100 commented on #12454
In this case I think it is one of the place where it is important for it to be ajax, since they could potentially loose their place block items.  Can't think of another way that would still work well, even a new tab would leave bad data in place.

[2020-04-03 18:10] tcheng001 commented on #11024
@Jiteshkhatwani
Not so sure if counter for "red" is 1 when selecting "north america" and "canada".   Confusing?
![Screen Shot 2020-04-03 at 2 07 11 PM](https://user-images.githubusercontent.com/2111600/78391666-cf421900-75b4-11ea-9ab0-2eaa93ef62fd.png)

[2020-04-03 19:45] Praveen-OS commented on #13174
I have created a new site and added some Blog posts here: http://d8.theopenscholar.com/crumbs

The Breadcrumbs displays "HOME / BLOG / ARCHIVES / March 2020" which is correct. Please see the attached screenshot below:

![Breadcrumbs of Blog Posts](https://user-images.githubusercontent.com/61281780/78398974-ac921d80-7611-11ea-9be5-db8d37390c69.PNG)

[2020-04-03 19:52] #13174 closed

[2020-04-04 15:15] tcheng001 opened #13303 "My Sites UI issues"
- [ ] 1. remove [Remove] link from other sites.  Only site owner can delete his own sites.
![Screen Shot 2020-04-04 at 11 13 52 AM](https://user-images.githubusercontent.com/2111600/78454336-77afb600-7665-11ea-8c64-360c1ce7a0d3.png)

- [ ] 2. all sites in both My Sites and Other Sites should be a link which redirects to the corresponding sites like those in D7.

- [ ] 3. [Add a new Site] should op

[2020-04-04 15:28] tcheng001 commented on #11640
Mark "Fixed"
1.  My Sites looks good
2. search field works correctly
3. My sites lists correct sites
4. Other sites lists correct sites
5. pagers are working properly

Other issues regarding My Sites page go to this ticket - https://github.com/openscholar/openscholar/issues/13303

[2020-04-04 15:28] #11640 closed

[2020-04-04 17:03] tcheng001 commented on #13100
Mark "Fixed"
it looks good in pub edit form.
![Screen Shot 2020-04-04 at 12 48 43 PM](https://user-images.githubusercontent.com/2111600/78456606-b1d38480-7672-11ea-887d-94d4f255f679.png)

Look good in the publication full page view
![Screen Shot 2020-04-04 at 12 50 23 PM](https://user-images.githubusercontent.com/2111600/78456654-e0515f80-7672-11ea-967a-2cef45d30673.png)

Look good in /publication

[2020-04-04 17:03] #13100 closed

[2020-04-04 17:22] tcheng001 opened #13304 "alias url of publication posts become incorrect in some bibliographical formats"
When bibliographical format is set to the followings, the alias url of pub posts becomes incorrect (http://d8.theopenscholar.com/Default-Widget021/Publications/My-First-Book)
The correct url is http://d8.theopenscholar.com/default-widget021/publications/my-first-book

American Chemical Society (with titles)
American Medical Association
American Political Science Association
American Sociological A

[2020-04-06 04:10] subhojit777 commented on #13259
@uttkarsh-26 merged. Confirm changes on demo please.

[2020-04-06 04:15] lomasgupta commented on #13095
@uttkarsh-26 as discussed over the call, it looks like hook_ENTITY_TYPE_access is getting called bibcite add page also, I have created a D.O issue for this also https://www.drupal.org/project/bibcite/issues/3124920
Please review the comment.

[2020-04-06 04:29] mukeyshkumar opened #13306 "Publication title line height issue"
Publication title line-height issue.
![Screen Shot 2020-04-04 at 12 45 23 PM](https://user-images.githubusercontent.com/47223502/78523083-3ea24d80-77ed-11ea-8384-4b9cfcd0a9d5.png)

[2020-04-06 04:43] uttkarsh-26 commented on #13029
Are you sure @tcheng001 ? I am not able to reproduce this on demo , tried on two different vsites with the file you sent. It throws the error. (Also even if angular validation was to fail Drupal will not allow anything above 128Mb ), please reverify and if you are able to reproduce then let's connect so that I can see how is it happening.

[2020-04-06 05:43] subhojit777 commented on #12621
Please address the pending PR comments, and add tests https://github.com/openscholar/openscholar/pull/13234#pullrequestreview-387945926

[2020-04-06 05:45] subhojit777 commented on #13272
@mukeyshkumar merged. confirm changes on demo.

[2020-04-06 06:40] subhojit777 commented on #12621
@Bilsi I have moved this to the new milestone, as there are still some pending things left - they are WIP.

[2020-04-06 06:43] subhojit777 commented on #13095
@Bilsi I have moved this to the new milestone, as we have seen some unforeseen technical challenges, so it might take some more time.

[2020-04-06 06:44] subhojit777 commented on #12454
@Bilsi I have moved this to the new milestone. I will push the changes in this sprint so that Torman can start his review.

[2020-04-06 06:47] stamina84 commented on #13005
I need to implement new feature (`entities_deleted` table), because these update API endpoints need to provide a deleted items too, because angular js will delete not exists items from local storage

[2020-04-06 07:25] jashish24 commented on #13295
@Jiteshkhatwani Refer https://github.com/openscholar/openscholar/issues/12932 for implementation, let me know if there are any confusions.

[2020-04-06 08:29] subhojit777 commented on #13043
@tcheng001 Can you QA this ticket now, as its blocker #13259 has been resolved.

I noticed one thing though - the widget heading appears even though it is empty, i.e. no recommended releases. Let me know if you want to resolve this as well.

[2020-04-06 08:29] subhojit777 commented on #13043
<img width="281" alt="image" src="https://user-images.githubusercontent.com/1435641/78538557-d1071900-780e-11ea-8f37-d6d105fdbcc3.png">

[2020-04-06 09:10] subhojit777 commented on #13095
@rbran100 and @Bilsi

Can we revisit this "technical debt fix" after we are done with other bug tickets in current milestone?

---

Lomas has looked into it, but haven't yet thoroughly checked the backtrace of the execution, so as to get to the core of the problem. It could take a while to figure that out. So, just wanted to know what are the priorities.

[2020-04-06 11:09] subhojit777 opened #13311 "Widget delete operation looks broken"
**Pull request:**

**Parent:**

**Dependencies:**

-

### Steps to replicate:

1. Login as vsite admin
1. Add any new widget
1. Edit the widget by clicking the contextual link <attach ref1>
1. Click the "Delete" button in the modal popup <atatch ref2>
1. Let the ajax feedback message finish, and you will see a screen like this <attach ref3>

I should see a usable screen where I can proceed with th

[2020-04-06 11:10] subhojit777 commented on #13311
@tcheng001 Can you confirm this, and the desired behavior "I should see a usable screen where I can proceed with the widget deletion."

[2020-04-06 12:27] Bilsi commented on #13095
@subhojit777 - if it isn't breaking anything now, deprioritize this

[2020-04-06 12:32] tcheng001 commented on #13029
hmm.  I can't reproduce the issue any more.  Closing the ticket.

[2020-04-06 12:32] #13029 closed

[2020-04-06 12:45] tcheng001 commented on #13311
@subhojit777     yes.  It should pop up a confirmation message like this below.
![Screen Shot 2020-04-06 at 8 43 33 AM](https://user-images.githubusercontent.com/2111600/78559678-d189ba80-77e2-11ea-9b5d-a23a683c006c.png)

[2020-04-06 13:48] stamina84 commented on #13171
As I know, this version of php is not exists in AWS yet :)

[2020-04-06 15:19] tcheng001 commented on #13043
Mark "Pending"
Software is broken.  I am able to create a new software project (manhattan project) and release. However,
I got an error "Page not found" when accessing http://d8.theopenscholar.com/default-widget022/software/manhattan-project

Also, I find that I can't access all items (except Help) from Control Panel when I am on http://d8.theopenscholar.com/default-widget022/software/ page.
![Scr

[2020-04-06 15:21] tcheng001 commented on #13259
https://github.com/openscholar/openscholar/issues/13043#issuecomment-609859354
@uttkarsh-26   Can you take a look on it?
Mark "Pending"

[2020-04-06 16:27] tcheng001 commented on #12123
@stamina84   Please fix this issue.  I continue to test another functions.
Image path is incorrect.  Here is an example:  http://d8.theopenscholar.com/files/images/mountain-landscape_1.jpg    The file is uploaded to this site (http://d8.theopenscholar.com/default-widget022).

Any uploaded file within a vsite should have a path like  http://d8.theopenscholar.com/files/<vsite-name\>/files/<filename\

[2020-04-07 04:12] subhojit777 commented on #13171
you mean the aws services being used for the demo? @stamina84

[2020-04-07 04:23] lomasgupta commented on #13043
checking

[2020-04-07 06:07] stamina84 commented on #13171
Yes, because aws beanstalk not support php 7.4 yet, so currently unable to update the version on demo

[2020-04-07 06:10] subhojit777 commented on #12454
@mukeyshkumar an you address the third item. I still see those settings without margin.

[2020-04-07 06:14] subhojit777 commented on #13171
I guess this is the correct issue to track https://github.com/aws/elastic-beanstalk-roadmap/issues/5 Thanks @stamina84 for pointing this out :)

@rbran100 Do you think we should wait for them?

[2020-04-07 06:31] subhojit777 commented on #13171
ref - https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platforms-supported.html#platforms-supported.PHP

[2020-04-07 06:40] saurabh-axl commented on #12663
@tcheng001

Please check for following permissions on Files (/cp/content/browse/files):
- Administer files

Group media

- Entity: Add media entities
- Entity: Delete any media entities
- Entity: Delete own media entities
- Entity: Edit any media entities
- Entity: Edit own media entities

Check contextual links for widget on manage layout

- Edit Widget

// Following permissions have not been imp

[2020-04-07 07:02] lomasgupta commented on #13043
I checked when we add software release in a project. The project page shows "page not found", but after clearing the cache. It worked fine. Working on this issue.

[2020-04-07 11:09] lomasgupta commented on #13043
This issue is not reproducible on my local. I have removed the cache on the project when a new release is created since this issue appears only when we create a new release and after clearing the cache page is visible, So I tried to remove project page cache from custom code when a new release is created https://github.com/openscholar/openscholar/pull/13318. @subhojit777 please review and merge to

[2020-04-07 11:14] uttkarsh-26 commented on #13171
@Bilsi @rbran100  As part of the upgrade to PHP 7.4, I had to update drupal/coder to latest version which resulted in a ton of existing code issues, to fix those I had to make **`changes to almost 90 files`** as part of code fixes to make `PHP code sniffer` pass according to `Drupal` and `DrupalPractice` standards. Mostly issues were like:
- Indentation and Variable comments.
- Use of t() instead

[2020-04-07 11:19] subhojit777 commented on #13043
https://github.com/openscholar/openscholar/pull/13318#pullrequestreview-389018364

[2020-04-07 13:16] tcheng001 commented on #12663
I found that contextual link (Edit) is visible to basic member even though the link can't open edit form - that is incorrect.

Steps to reproduce:
1. log in as vsite
2. create a custom text/ HTML widget
3. log out
4. log in as a basic member
Note:
a. the widget's contextual link (Edit) is visible to the basic member
b. nothing happens when the link is clicked.

[2020-04-07 13:42] tcheng001 opened #13320 "File Form: unable to save description"
Steps to reproduce:
1. go to vsite's /cp/content/browse/files
2. open a file's Edit form
3. click ADVANCED to expand
4. add some text in Descriptive Text field
5. click Save
6. open the file's Edit form
Note: Descriptive Text becomes empty
![Screen Shot 2020-04-07 at 9 41 15 AM](https://user-images.githubusercontent.com/2111600/78676111-0285f000-78b4-11ea-956d-57ee8dc878e4.png)

[2020-04-07 13:58] rbran100 commented on #13171
Hmm, if that is the only thing I think ignoring existing JS files should be ok.  What do you think @subhojit777.   If that is all we should proceed on this ticket, php 7.4 should be available very soon and if it is not we still have options in our environment, I talked with Janos about this.