[2016-09-21 13:05] #8876 closed

[2016-09-21 13:06] #8738 closed

[2016-09-21 13:07] Bilsi commented on #8870
@digitalpiku - matt made the link changes, so you can take a look at this pr - https://github.com/openscholar/openscholar/issues/8833

[2016-09-21 13:12] rbran100 commented on #8899
@mpetrovic do you mind reviewing.

[2016-09-21 13:37] Bilsi opened #8902 "Read more breaking when <div> is added"
i added this to the WYSIWYG and it saved all the markup.
<div class="field-items"><div class="field-item even"><p>This talk is based on&nbsp;<a href="http://gking.harvard.edu/50c">this paper</a>,&nbsp;by me, Jennifer Pan, and Margaret Roberts, along with a&nbsp;brief summary of our previous work.&nbsp;Here's an&nbsp;abstract:&nbsp;The Chinese government has long been suspected of hiring as many as

[2016-09-21 13:39] mallove commented on #8897
Can you send a URL with the `See also` view?  Production seems to be using a different view mode:  http://www.iq.harvard.edu/people/people-last-name/c.

[2016-09-21 13:40] Bilsi commented on #8858
@digitalpiku - matt made the link changes, so you can take a look at this pr - #8833

[2016-09-21 14:18] rbran100 commented on #8885
I couldn't tell if these descriptions were originally on anything other than the teaser.  I would think that full content would have them as well.  @Bilsi @mpetrovic what do you think?

[2016-09-21 14:25] Bilsi commented on #8885
@rbran100 - Full content and teaser displayed the descriptions

[2016-09-21 14:27] rbran100 commented on #8885
@digitalpiku could you add the description for the full content as well please

[2016-09-21 14:47] Bilsi commented on #7776
- [ ] Update the text to look like this
![2](https://cloud.githubusercontent.com/assets/11841641/18715841/b52aa052-7fe8-11e6-97b9-02786b03ea1c.png)
instead of
![1](https://cloud.githubusercontent.com/assets/11841641/18715848/b9240392-7fe8-11e6-81b9-3922b4b1e530.png)

[2016-09-21 14:48] Bilsi commented on #7776
@dancabral - Can we change the title on apps to "Enable/Disable Apps (http://dev.hwpi.harvard.edu/torman/cp/apps)
Also add a space between Enable / Disable Apps

[2016-09-21 14:58] tcheng001 commented on #8028
@RoySegall  @Bilsi
Link tool issues:
A) No data (Text To Display) is populated.
Steps to reproduce:
1) Type "MAPS" in the editor
2) Select "MAPS" (The way to select is to click in front of 'M' and then drag to highlight the whole word "MAPS")
3) Click the Link tool
Note: The field of Text To Display is empty. "MAPS" should populate there.
![screen shot 2016-09-21 at 10 16 12 am](https://cloud.gith

[2016-09-21 15:31] tcheng001 commented on #8899
@rbran100
Not working
I log in as tcheng3 but still can access this
http://dev.scholar.harvard.edu/tcheng2/book/export/html/220806
user "tcheng3" is not a member of vsite "tcheng2"
Am I missing something?

[2016-09-21 16:08] rsasch commented on #8762
@Bilsi @rbran100 I've made the change to the scholar-demo.iq.harvard.edu settings.php file in SCHOLAR-3.x.

[2016-09-21 16:18] tcheng001 commented on #8028
Need padding for image
![screen shot 2016-09-21 at 12 15 18 pm](https://cloud.githubusercontent.com/assets/2111600/18719462/74de4834-7ff5-11e6-9743-8a64af33ffa8.png)

[2016-09-21 16:32] dancabral commented on #8028
@RoySegall can we 1) add linked text "Allowed HTML tags/attributes" pointing to here http://docs.openscholar.harvard.edu/overview-text-editor-wysiwyg#allowed-html-tags to the current description? and 2) can we display the entire description under every instance of the wysiwyg? Currently, it seems like the description line only appears under the wysiwyg in widgets.

Thanks. Its looking really good.

[2016-09-21 16:52] Bilsi commented on #7776
@mpetrovic - Can you make sure all the markup under global settings is as displayed in the screenshots in this doc.
https://docs.google.com/document/d/1LpKHWmxVpzdYCV7o2t3w77VbUeDnjlY-uAP11yoLp7M/edit#
@dancabral can then take care of the styling

[2016-09-21 17:43] Bilsi commented on #8897
@mallove - @dancabral can explain this issue

[2016-09-21 18:16] tcheng001 commented on #8028
@dancabral   Need paddings for table and image.  Any thought?
![screen shot 2016-09-21 at 2 14 28 pm](https://cloud.githubusercontent.com/assets/2111600/18723320/0b5a437a-8006-11e6-99cb-517d46f7ae49.png)

[2016-09-21 19:15] tcheng001 commented on #8649
Look good.  Mark "Fixed"
Tested on hwpi dev env
Assuming that we only handle those users who have an account

Case number  | Test description | Test result
------------ | ------------- | ------
1 | OS user hasn't associated Harvard key who clicks Add a new site -> showing Linking an account to a HUID message  | ok
2 | OS user has associated Harvard key  who clicks Add a new site -> redirecting to

[2016-09-21 19:38] dancabral commented on #8890
@smboser I see os_basetheme/css/print.css loading in news pages. Looks like all that is missing is a comma after the selector https://github.com/openscholar/openscholar/pull/8891/commits/30eeb3cfa8555aafa2b5cf7e733b2bed03171e3f#diff-a3fabe342d8d4295afdbd7c12fa3137eR108

[2016-09-21 20:24] openscholar-admin opened #8903 "Two people menu items appear primary menu - the second one is added by system"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/two-people-menu-items-appear-primary-menu-the-second-one-is-added-by-system)

**The Plan**

Fix the bug so that duplicate menu items do not show

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1486326/ScreenShot2016-09-20at11.06.33AM_inline.png?1474384144)](

[2016-09-21 20:25] openscholar-admin opened #8904 "Main page of section navigation isn't highlighted and subpages aren't indented on "College" theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/main-page-of-section-navigation-isnt-highlighted-and-subpages-arent-indented-on-college-theme)

**The Plan**

Fix the bug so that the main page of section navigation isn't highlighted and subpages aren't indented on "College" theme

**Description**

Main page of section navigation is

[2016-09-22 06:29] RoySegall commented on #8028
Thanks @tcheng001, I knew you will find couple of issues. I'll handle them.

[2016-09-22 07:57] smboser commented on #8890
@dancabral It is corrected

[2016-09-22 11:59] digitalpiku commented on #8858
@Bilsi PR #8905 has been created for reviewing the work done so far. I have couple of queries regarding the same, please refer to the screenshot below.

![image](https://cloud.githubusercontent.com/assets/4848039/18747148/2bd8de34-80e9-11e6-939f-afd72e2ab846.png)

[2016-09-22 12:53] smboser commented on #8903
@Bilsi PR #8906 has been created for review.

[2016-09-22 13:15] tcheng001 commented on #8889
Mark "Fixed"
1) Checked my test site, all "synced from another source" links are working properly
2) Checked http://dev.projects.iq.harvard.edu/growthlab/people, all "synced from another source" links are working properly.  This is the site we found the issue.

[2016-09-22 13:19] RoySegall commented on #8028
I tired to tackle this from couple of ways to day and I managed to 90% solving this one. There are some still minor glitches when selecting a link the href is not correct.

[2016-09-22 13:57] mpetrovic commented on #8858
Leave the order in the form as is, just add a label to the textfield below the radios.

Link to disqus sign-up: https://disqus.com/profile/signup/

For the help link, you use the #help_link property on the group object that I added yesterday.
[Example of how it's used](https://github.com/openscholar/openscholar/pull/8700/commits/7fa7ac42255b39b1ab5746d4a6ea8d96c0f3d661)

[2016-09-22 14:10] mallove commented on #8897
Pull request: https://github.com/openscholar/openscholar/pull/8907

[2016-09-22 14:20] digitalpiku commented on #8885
@Bilsi @rbran100 PR #8892 has been updated for review.

[2016-09-22 14:25] Bilsi commented on #7776
@dancabral - @mpetrovic fixed the markup, it is ready for you to take a look

[2016-09-22 14:56] RoySegall commented on #8028
@tcheng001 Can you the link tool another check? I think i managed to solve it.

[2016-09-22 14:57] dancabral commented on #8890
@tcheng001 all set torman. i made the rule generic. will need a cc.

[2016-09-22 15:02] mpetrovic opened #8908 "Error patching entity module"
Today a new release for the entity module came out. Our make file is set to pull 7.x-1.x, which means we always get the latest release no matter what, even if it breaks patches.

Change it to pull an older, known good release.

[2016-09-22 15:52] dancabral commented on #8028
All set @tcheng001. I would ignore the padding around tables as it hasnt been an issue to date. However, I did add padding around floated inline images so it should look the way it does in the current wysiwyg.

[2016-09-22 15:53] tcheng001 commented on #8785
Case number  | Test description | Test result
------------ | ------------- | -------
1 | Media Gallery | ok
2 | News image | ok
3 | Profile image (including cropping) | ok
4 | Publications image | ok
5 | Slideshow widget (including cropping) | ok
6 | Embed Media widget (setting different maximum width) | ok
7 | Embed Media widget (set different width on image or video) | ok
8 | Site Log widget (in

[2016-09-22 16:07] dancabral commented on #8904
@digitalpiku @smboser All thats needed here is to remove this selector https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/themes/hwpi_college/css/hwpi_college.css#L733. Then add this rule around line 738/739. Thanks!

.section-nav .menu-depth-1 > a {
    background-color: #c3c3c3 !important;
}

[2016-09-22 16:11] dancabral commented on #8904
assigning to @mallove

[2016-09-22 16:23] #8785 closed

[2016-09-22 16:58] rsasch commented on #8888
@mallove Also, this issue seems like it's something the automated testing should have detected. We may need additional tests or changes to the existing ones.

[2016-09-22 17:31] #8908 closed

[2016-09-22 18:21] dancabral commented on #8028
@RoySegall when you select an inline image placed in the wysiwyg and resize it, inline width and height values get applied to the span and the image. Do you know if thats a ckeditor thing? Anyway to prevent that from happening?
![resize-ck](https://cloud.githubusercontent.com/assets/867075/18760564/a23a4d20-80cf-11e6-9159-d281368ec61b.png)

In the current tinymce wysiwyg, the markup for resized im

[2016-09-22 18:38] tcheng001 commented on #8897
Look good.
"See also" displays in a separate line.
![screen shot 2016-09-22 at 2 36 49 pm](https://cloud.githubusercontent.com/assets/2111600/18761232/1d9cd67a-80d2-11e6-85e7-a6e13dd8cf54.png)

[2016-09-22 19:01] tcheng001 commented on #8890
Tested in http://dev.scholar.harvard.edu/tcheng3/book/test-revisions
1) I see the caption in print image. It should now display in print, right?
![screen shot 2016-09-22 at 2 56 00 pm](https://cloud.githubusercontent.com/assets/2111600/18761901/c7fb46d6-80d4-11e6-8ce2-9c9247d391ee.png)

2) If I print the page in Google Chrome, the image shows in preview. But you had mentioned that no image should

[2016-09-22 20:00] mallove opened #8910 "PHP Fatal error: Call to undefined function os_importer_importable_content()"
[code]

One workaround:

[code]

[2016-09-22 20:20] mallove commented on #8904
Had to create a `sectionnav` widget, and then add the new widget to the layout of a page containing subpages (`cp/build/layout/os_public`).

[2016-09-22 22:45] #8897 closed

[2016-09-23 11:50] smboser commented on #8890
I was looking for the area to add caption but couldn't find that. That is why I posted the same in my previous message.
@dancabral @Bilsi PR #8891 has been updated for review.

![image](https://cloud.githubusercontent.com/assets/14976596/18784725/95b72a5e-81b1-11e6-9bb3-dacae3fbadb2.png)

![image](https://cloud.githubusercontent.com/assets/14976596/18784769/f76617ce-81b1-11e6-800c-8eaf34d3038f.png

[2016-09-23 14:05] smboser commented on #8903
@mpetrovic Its merged with SCHOLAR-3.x. I found that it was an intermittent issue with overlay_request_page_refresh() in this case. Tough it is working fine every time with the edit. I didn't explore it much as I was spending more time with the Angular designs. I found that, adding location in overlay_close_dialog() is working absolutely fine every time.

[2016-09-23 14:24] mpetrovic commented on #8762
What is there to review here?

[2016-09-23 14:35] rsasch commented on #8762
@mpetrovic There's no way to view the changes in github, you'd need to clone/pull from the Acquia git repo.

[2016-09-23 17:34] bkosborne opened #8911 "Release notes?"
Hello,

We are trying to get onto a regular schedule to update our OS distribution, but it's tough without published release notes for each of the tagged releases.

Since our last update to 3.48.0 (August 1st), there have been over 300 commits to this repo. Under normal circumstances I would scan through the commit log and associated issues to gather what has changed, but the commits often do not

[2016-09-23 18:14] mallove commented on #8904
With 406806e, the `sectionnav` looks like this:

<img width="899" alt="screen shot 2016-09-23 at 2 10 40 pm" src="https://cloud.githubusercontent.com/assets/17302884/18796627/15db83c0-8198-11e6-9030-95c04854b38b.png">

[2016-09-23 18:22] humansky commented on #8911
👍

[2016-09-23 18:33] bkosborne opened #8912 "Handling deleted users"
Hello,

I'm curious at the best approach to handle users that are deleted.

We often have graduate students that want their OS vsites removed when they leave the university. Normally we'd just delete their vsite and be done with it, but it appears that doing so does not remove all of the content associated with that vsite, like publications, so those things continue to appear in google search resu

[2016-09-23 20:14] tcheng001 commented on #8903
@smboser
1)  When clicking  the Go there now button to redirect the newly created site,
![screen shot 2016-09-23 at 4 09 04 pm](https://cloud.githubusercontent.com/assets/2111600/18799871/18bb2d24-81a8-11e6-8c7c-484f67952913.png)
I see an error 500.
![screen shot 2016-09-23 at 4 09 51 pm](https://cloud.githubusercontent.com/assets/2111600/18799888/30f5b88c-81a8-11e6-92a7-d66e60609bf6.png)

2) I ig

[2016-09-23 21:02] dancabral commented on #7776
@mpetrovic can we get this sentence into a span="description" wrapper instead of a paragraph?

[2016-09-26 11:20] digitalpiku commented on #8858
@Bilsi Changes has been done as per review comments. PR #8905 has been updated for review.

![image](https://cloud.githubusercontent.com/assets/4848039/18832494/5d2b3b1c-8409-11e6-8b28-8352433828be.png)

[2016-09-26 12:14] digitalpiku commented on #8885
@mpetrovic @Bilsi PR #8892 has been updated for review.

[2016-09-26 12:51] digitalpiku commented on #8858
@Bilsi Reverted back to dev, as observed that selected options are not being saved after merging with 7776-angular_settings branch.

[2016-09-26 13:20] Bilsi commented on #8028
@mpetrovic - Dan's comment here - https://github.com/openscholar/openscholar/issues/8028#issuecomment-248985437 and Torman's comment in 2) here - https://github.com/openscholar/openscholar/issues/8028#issuecomment-248697205
both point to the same issue

[2016-09-26 13:28] tcheng001 commented on #8890
@dancabral
1) Printer-friendly version works correctly. No image shows in print image. -- that is good.
2) Print image shows site logo image if the page has site logo. Here is an example. OK? Separate ticket?
![image_in_print_image](https://cloud.githubusercontent.com/assets/2111600/18835896/70218778-83cb-11e6-9eab-67bc391f594d.png)

[2016-09-26 13:32] digitalpiku commented on #8858
@Bilsi Just checked with updated 7776-angular_settings branch in my system, Form data in global settings are not being saved. I will update the PR once this issue has been resolved in 7776-angular_settings branch.

![image](https://cloud.githubusercontent.com/assets/4848039/18836000/9782b38c-841b-11e6-8586-9d974a613ff7.png)

[2016-09-26 14:01] openscholar-admin opened #8913 "Term pages not always showing video content"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/term-pages-not-always-showing-video-content)

**The Plan**

Fix the bug so that term pages can show video content

**Description**

No video content appears on this term page, although the widget on the right indicates that there is 1 video:

[http://cpl.hks.harvard.edu/cpl-videos...

[2016-09-26 14:01] Bilsi commented on #8913
@digitalpiku @smboser - Please make this a priority - would like to release this on 3 Oct

[2016-09-26 14:02] openscholar-admin opened #8914 "Two minor design tweaks on the One Pager theme"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/two-minor-design-tweaks-on-the-one-pager-theme)

**The Plan**

Fix the design issues in the one pager theme

**Description**

I was wondering if we could take a look at two minor things on the One Page theme:

Can we make the description font match the heading font on the slideshow w

[2016-09-26 14:03] openscholar-admin opened #8915 "Previously uploaded files not displaying in IE11"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/previously-uploaded-files-not-displaying-in-ie11)

**The Plan**

Fix the bug so that files display correctly in IE11

**Description**

We've run into an issue in Internet Explorer 11 (version 11.0.9600.18449 is what both of us are on) where files in the Previously uploaded files tab

[2016-09-26 14:11] openscholar-admin opened #8916 "Improve slideshow crop help text"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/slideshow-navigation-icons-not-displaying)

**The Plan**

Fix the slideshow navigation icons

**Description**

[http://giribetgroup.oeb.harvard.edu/home](http://giribetgroup.oeb.harvard.edu/home)

The slideshow has a few images, but it does not display the navigation bar

[2016-09-26 14:12] Bilsi commented on #8916
@digitalpiku @smboser - Can you make this a priority for the Oct 3 release

[2016-09-26 14:22] smboser commented on #8916
@Bilsi Sorry the requirement is not clear. I can see the 19 images are there and exactly 19 are showing in navigation bar. All 19 images are also showing in the slideshow.

![image](https://cloud.githubusercontent.com/assets/14976596/18837753/924cfff6-8422-11e6-8828-a32006a74129.png)

![image](https://cloud.githubusercontent.com/assets/14976596/18837792/bbcbf012-8422-11e6-8305-c6f4387cee56.png)

C

[2016-09-26 14:56] smboser commented on #8913
@Bilsi
Here problem lies in "Descriptive Text - will display under the filename" in File's Advanced section (File edit). In which cases it is left as empty, anything is not showing in content. But as soon as any content is entered in description text field, it will appear fine.

Cases when no content is showing
![image](https://cloud.githubusercontent.com/assets/14976596/18838999/1671c934-8427-11e

[2016-09-26 14:58] Bilsi commented on #8890
@digitalpiku - we do not want to display any images in the print version

[2016-09-26 15:10] rsasch commented on #8904
@mallove is there a PR associated with this issue?  If so, please add a reference in the description to this issue so it will be easy to find.

[2016-09-26 15:15] rsasch commented on #8888
@mallove Please add behat tests to check syncing functionality.

[2016-09-26 15:35] mallove commented on #8904
Pull request: https://github.com/openscholar/openscholar/pull/8917

[2016-09-26 16:00] rsasch commented on #8024
@rbran100 Some of the tests (not directly related to content revisions) are still failing and I don't know why.  I can't reproduce the failures in my local behat environment.  Any ideas?

[2016-09-26 16:10] smboser commented on #8890
@Bilsi #8891 has been updated for review. Need to clear varnish cache while testing.

[2016-09-26 16:14] Bilsi commented on #8916
@smboser - yes, it is working now, we just need some UI changes - assigning this to @mallove

[2016-09-26 17:08] tcheng001 commented on #8890
Look good. No more images showed in print image.
Checked the following scenario:
1) Site Logo
2) News's image
3) Image in WYSIWYG
4) Video in WYSIWYG
5) Media Galleries

Also, checked the link "Printer-friendly version" in booklet.

[2016-09-26 17:57] mallove commented on #8914
Pull request: https://github.com/openscholar/openscholar/pull/8918

[2016-09-26 17:59] mallove commented on #8914
@dancabral, can we remove the below `!important` `font-family` setting from 75579d4a?  It seems to be causing a font mismatch in the slide show.

[code]

[2016-09-26 18:00] dancabral commented on #8904
@mallove can you revert this change https://github.com/openscholar/openscholar/pull/8917/commits/406806e915e64fe93a5c545bd2844b50e5875732 -- We dont need indentation. Then, can make the the changes mentioned here https://github.com/openscholar/openscholar/issues/8904#issuecomment-248949172

Thanks!

[2016-09-26 18:03] mallove commented on #8914
Increased contrast in footer, e.g.,

<img width="159" alt="screen shot 2016-09-26 at 2 02 15 pm" src="https://cloud.githubusercontent.com/assets/17302884/18845971/e90c5ae8-83f1-11e6-9529-87721ce84563.png">

[2016-09-26 18:25] #8890 closed

[2016-09-26 18:30] dancabral commented on #8916
![screen shot 2016-09-26 at 2 29 50 pm](https://cloud.githubusercontent.com/assets/867075/18846845/c2794d06-83f5-11e6-895f-a417fdd8aa7f.png)

[2016-09-26 19:11] tcheng001 commented on #8885
Still not working as expected.  I did clear varnish and browsing data.
This is a video file from vimeo.com
![screen shot 2016-09-26 at 3 06 28 pm](https://cloud.githubusercontent.com/assets/2111600/18848104/ddfd1260-83fa-11e6-9c2d-6b164034baf4.png)

This is what the file is rendered in List of Files widget.  No linked title is showed.
![screen shot 2016-09-26 at 3 08 10 pm](https://cloud.githubuse

[2016-09-27 11:59] smboser commented on #8913
@Bilsi I have added an empty string in case embedded videos doesn't have any description like the above screenshot.

[2016-09-27 12:37] digitalpiku commented on #8885
@tcheng001 Can you confirm that database update was executed before this test? Below is the screenshot from my environment and unable to replicate the same:

![image](https://cloud.githubusercontent.com/assets/4848039/18873450/225f20be-84dd-11e6-998e-4cbe2aa8dc11.png)

Also can you share the link of the dev environment where it is replicated?

[2016-09-27 12:54] tcheng001 commented on #8885
@digitalpiku  There is no pending update. I would copy DB to dev and check update again.

[2016-09-27 13:17] smboser commented on #8903
@tcheng001 For the first observation, I thing its some environmental issue in the dev site, It is not happening in local as well not related to the change I made.

Regarding the second observation, as soon as you are enabling Profiles app from /cp/apps, two links of people/glossary ("People") are generated in dev though only a single People link is generated in my local. But when I am deleting eit

[2016-09-27 13:45] rsasch commented on #8903
@smboser @digitalpiku From a quick look, this may be an issue similar to #7524.  Please take a look and let me know if you have any questions or if you think it's a completely different problem.

[2016-09-27 14:48] mallove commented on #8916
Pull request: https://github.com/openscholar/openscholar/pull/8920

[2016-09-27 14:53] tcheng001 commented on #8885
@dancabral   As discussion, I check all display styles in both production and dev.  The result is shown in the table below.  Could you take a look and make comment, and send back to "in dev"?

Test case | description (display style)  | in dev | in prod
------------ | ------------- | ------- | -------
1 | Full content |  link to file | missing
2 | Link with no icon |  link to source | link to sourc

[2016-09-27 14:53] openscholar-admin opened #8921 "Taxonomy Widgets only works when logged in"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/taxonomy-widgets-only-works-when-logged-in)

**The Plan**

Fix the taxonomy widget to not display the Go button and ensure that the drop down works correctly

**Description**

We just noticed this morning that the Taxonomy Widget only works when a user is logged into the site. When y

[2016-09-27 14:55] Bilsi commented on #8921
@digitalpiku @smboser - Can you make this  a priority - it happens in http://ofa.fas.harvard.edu/music-teachers
It is a taxonomy widget with these settings
![untitled](https://cloud.githubusercontent.com/assets/11841641/18879029/e31d4070-84a0-11e6-85e0-878cd4bf5c0e.png)

[2016-09-27 15:06] rbran100 commented on #8762
Looks good.

[code]

[2016-09-27 15:07] rbran100 commented on #8762
This can be tested in scholar demo after the next release.  @rsasch tested in stage.

[2016-09-27 15:14] dancabral commented on #8914
@tcheng001 this is ready for QA. 1) the slideshow description text should now use Montserrat font and 2) any kind of link text in the footer should be white. let me know if anything is unclear. thanks.

[2016-09-27 15:22] Bilsi commented on #8024
@dancabral - Can you work on the styling?

[2016-09-27 15:22] mpetrovic opened #8922 "UX/UI - Rewrite link tool to be angular based"
This is going to be a straight port unless changes are requested and documented.

http://community.openscholar.harvard.edu/openscholar/topics/more-streamlined-attachment-process# - Qa this too

[2016-09-27 15:31] tcheng001 commented on #8028
Link tool is working as expected.

[2016-09-27 15:32] dancabral commented on #8904
Looks good. Marking fixed. #8904

[2016-09-27 15:35] #8904 closed

[2016-09-27 17:20] tcheng001 commented on #8914
Look good.  Mark "Fixed"
1) the font family in heading and description of slideshow are the same.
![screen shot 2016-09-27 at 1 17 56 pm](https://cloud.githubusercontent.com/assets/2111600/18884325/f8af4924-84b4-11e6-8275-136e464729aa.png)

2) the links in footer are in white.
![screen shot 2016-09-27 at 1 19 44 pm](https://cloud.githubusercontent.com/assets/2111600/18884373/27a09904-84b5-11e6-88e

[2016-09-27 17:22] #8914 closed

[2016-09-27 17:30] tcheng001 commented on #8916
Look good. Mark "Fixed"
1) help text is updated
![screen shot 2016-09-27 at 1 29 15 pm](https://cloud.githubusercontent.com/assets/2111600/18884694/7d2393d0-84b6-11e6-8e40-d55be08c8ba0.png)
2) Slideshow widget works as before.

[2016-09-27 17:32] smboser commented on #8921
@Bilsi I have tried to replicate this in my local dev environment with same settings, same theme but every time taxonomy widget is working fine for both logged in and not logged in users.
Upon investigation through firebug I can see some CSS selectors are missing for anonymous users in production's compressed CSS  which are there in my local SCHOLAR-3.x. It seems somehow compressed CSS hasn't been

[2016-09-27 17:34] #8916 closed

[2016-09-27 17:47] Bilsi commented on #8921
Clearing varnish fixed the issue. @smboser - thanks

[2016-09-27 17:48] #8921 closed

[2016-09-27 17:53] Bilsi commented on #8872
@mallove - Can you take a look at the couple of styling changes that Torman has mentioned above

[2016-09-27 18:00] Bilsi commented on #8913
@smboser - That is not the fix we want. We are looking to display the video if the video if the only content in the page. Right now, it just shows an empty page a read more icon

[2016-09-27 18:04] tcheng001 commented on #8913
@smboser    Even though I added some text in the field of "Descriptive Text",  image still doesn't show up in the term page.

[2016-09-27 18:09] mallove commented on #8872
Will do.

[2016-09-27 19:29] mallove commented on #8872
Changed `display:block` in CSS for file list in presentations:

<img width="412" alt="screen shot 2016-09-27 at 3 28 08 pm" src="https://cloud.githubusercontent.com/assets/17302884/18888611/0a5fa800-84c7-11e6-86fa-7cb0c02f7a9f.png">

[2016-09-27 19:45] dancabral commented on #8885
@digitalpiku see @tcheng001 's table https://github.com/openscholar/openscholar/issues/8885#event-803944708. Test cases 1 & 2 the link should point to the file node page, not the 3rd party url like youtube.com, etc.

[2016-09-28 11:45] digitalpiku commented on #8885
@Bilsi @dancabral PR #8892 has been updated for review.

[2016-09-28 14:26] tcheng001 commented on #8872
@mallove   Not working as expected.
In production,:
1) presentation page looks like
![screen shot 2016-09-28 at 10 07 27 am](https://cloud.githubusercontent.com/assets/2111600/18916730/664b821e-8563-11e6-895d-0e4e81b8a9d1.png)
2) presentation listing looks like
![screen shot 2016-09-28 at 10 08 21 am](https://cloud.githubusercontent.com/assets/2111600/18916767/893a5818-8563-11e6-90ed-8433a91dd2e7.

[2016-09-28 14:31] dancabral commented on #8872
@mallove @tcheng001 I'll put this on a server and look at it, make some suggestions, etc.

[2016-09-28 14:38] smboser commented on #8913
@Bilsi Change has been made as per your last comment. PR #8919 has been updated for review.

![image](https://cloud.githubusercontent.com/assets/14976596/18918103/57e7272e-85b7-11e6-89d7-8428391f6b8c.png)

[2016-09-28 16:12] Bilsi opened #8923 "When logged in menu does not look right in demo and theopenscholar.org"
When logged in menu does not look right in demo and theopenscholar.org

[2016-09-28 16:36] dancabral commented on #8872
@mallove I inadvertently posted my comments in the PR https://github.com/openscholar/openscholar/pull/8875#issuecomment-250221505

[2016-09-28 16:53] Bilsi commented on #8024
@rsasch - Noticed a couple of issue
1. There was not warning displayed when I crossed 10 revisions.
2. Instead of a js alert dialog box for warnings, a page is displayed
![1](https://cloud.githubusercontent.com/assets/11841641/18923502/6f35f29e-857a-11e6-8820-580159fefe15.png)

[2016-09-28 17:38] rbran100 commented on #8913
@smboser Sorry to send this back to you. we talked about it, and would like to show the video in the term list just like it shows in the sv_list teaser.

When you click to the full post it should show just like in your screenshot above.

Could you verify?

[2016-09-28 18:06] tcheng001 commented on #8885
Mark "Fixed"
Checked all five display modes, the linked title displays correctly.

[2016-09-28 18:23] Bilsi commented on #8649
@rsasch - Can you look into implementing the UI changes mentioned here - https://docs.google.com/document/d/1asWAIUmCH0dKYoIkq3OwNf5-X3m0ZGg5FSk0Oy5I_q4/edit

[2016-09-28 18:35] tcheng001 commented on #8028
Please check this http://staging.hwpi.harvard.edu/tormanhc2/news    The image doesn't show up in the second post (News 1000).
![screen shot 2016-09-28 at 2 30 32 pm](https://cloud.githubusercontent.com/assets/2111600/18927054/2a536248-8588-11e6-9b81-fb60b5930aaf.png)

In form:
![screen shot 2016-09-28 at 2 31 16 pm](https://cloud.githubusercontent.com/assets/2111600/18927115/79553e16-8588-11e6-936

[2016-09-28 19:08] tcheng001 commented on #8872
@mallove   The first presentation file is not showed in a newline.
![screen shot 2016-09-28 at 3 06 02 pm](https://cloud.githubusercontent.com/assets/2111600/18928247/4abb363c-858d-11e6-9816-b3699b88bfc3.png)

[2016-09-28 19:44] rbran100 opened #8924 "Update URL for Harvard Courses API"
Update the courses API to the new destination.

[2016-09-28 19:47] rsasch commented on #8024
@Bilsi Can you give me the steps to reproduce the issues you noticed?

[2016-09-28 19:59] rbran100 commented on #8885
On a fresh install this is causing a fatal error.

[code]

[2016-09-28 20:54] rsasch commented on #8649
@Bilsi regarding:
<blockquote>
Bilsi Balakrishnan’s OpenScholar account is not linked to HarvardKey, so she cannot be made site owner. Learn more about linking accounts
</blockquote>
There's no way to know the gender of the user.  Should it always be "she"?

[2016-09-29 12:39] digitalpiku commented on #8885
@rbran100 I have changed the implementation by using hook_file_view_alter. Now this PR won't need any database update / install time error. PR #8892 has been updated for review.

[2016-09-29 13:08] tcheng001 opened #8927 "image is not rendered in listing"
Here is an example.  There is an image in WYSIWYG.
![screen shot 2016-09-29 at 9 04 34 am](https://cloud.githubusercontent.com/assets/2111600/18955066/ccc3fe8e-8623-11e6-9be6-7b54e51258e8.png)

The image is not showed in listing.
![screen shot 2016-09-29 at 9 06 43 am](https://cloud.githubusercontent.com/assets/2111600/18955173/39af0868-8624-11e6-98a2-c7307f9a969f.png)

[2016-09-29 13:09] tcheng001 commented on #8028
#8927

[2016-09-29 14:59] tcheng001 commented on #8899
@rbran100   See case 2 below.

Test case | Description | Test Result
------------ | ------------- | ------
 1 | vsite set to private  | non-members/anon users can't access the book printer export  - That is good
 2 | vsite set to public but document app is private  | non-members/anon users still CAN access the book printer export - That is NOT good.
 3 | vsite set to public but the post is unpubli

[2016-09-29 15:00] smboser commented on #8913
@rbran100 Change has been made like sv_list. PR #8919 has been updated for review.

Terms page contain video looks like below
![image](https://cloud.githubusercontent.com/assets/14976596/18959354/7ef61db2-8683-11e6-8153-ab460072ad48.png)

[2016-09-29 16:13] mallove opened #8928 "Behat testing issues on localhost"
- [ ] [Behat OpenScholar documentation](https://github.com/openscholar/openscholar/wiki/Best-practice:-How-to-get-behat-tests-running-locally) is confusing: , e.g., is `BASE_URL` supposed to be filled in by user?
- [ ] Missing phpunit requirement in `composer.json`?
- [ ] `openscholar/behat/features/bootstrap/FeatureContext.php:70` possibly misleads due to hardcoding of `behat.yml` filename (confi

[2016-09-29 16:31] dancabral commented on #8869
@import 'https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans';

body,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
#footer ul.menu a,

.section-nav a,

.block-boxes-os_taxonomy_fbt.navigation,
.block-boxes-os_boxes_facetapi_vocabulary.navigation,
#footer ul.menu li ul li a,
.region-header-third ul.nice-menu

[2016-09-29 18:05] tcheng001 commented on #8028
Look good.  Mark "Fixed"

[2016-09-29 18:25] smboser commented on #8903
@rsasch Thanks for the reference.

@Bilsi It is fixed now. A single People link is appearing now. PR #8906 has been updated for review.

![image](https://cloud.githubusercontent.com/assets/14976596/18966780/2b249ef8-86a0-11e6-85b3-1b3a0a104f14.png)

[2016-09-30 15:14] dancabral commented on #7776
@mpetrovic is it possible to move this description up and under the heading "Site Visibility"?
![move-description](https://cloud.githubusercontent.com/assets/867075/18996649/1ded1314-86ff-11e6-8dc9-9da4da9971d1.png)

[2016-09-30 16:17] openscholar-admin opened #8929 "List of Files widget: video (in full content mode) runs over the sidebar 2."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-files-widget-video-in-full-content-mode-runs-over-the-sidebar-2)

**The Plan**

Fix the list of files widget to display correctly

**Description**

When display mode is set to full content and both sidebars have content, the video runs over sidebar 2.

 [![img](https://d2r1vs

[2016-09-30 17:04] dancabral commented on #8923
@Bilsi is it possible to load the same login screen everywhere? would fix the demo and or.org login screens.
![screen shot 2016-09-30 at 1 03 15 pm](https://cloud.githubusercontent.com/assets/867075/19000037/6c4c23e2-870e-11e6-9631-99f50f09c6cf.png)

[2016-09-30 17:42] dancabral commented on #8872
@mallove can we have a different label for the page view? In the page, it would be limited to "Presentation Slides" (without the file types). The form label is fine as is.
![label](https://cloud.githubusercontent.com/assets/867075/19001077/ac835b10-8713-11e6-9197-6ae24bfc0dba.png)

[2016-09-30 17:50] mallove commented on #8872
Yes - a fix is on the way.

[2016-09-30 18:20] tcheng001 commented on #8913
1) Something is strange when updating a file now. It seems the issue only occurs in this PR (not a problem in 3.x or production)
The first time I click Save button in the file edit form, nothing happens.
The second time I click Save, it shows a warning.
![screen shot 2016-09-30 at 2 07 11 pm](https://cloud.githubusercontent.com/assets/2111600/19001838/396d341c-8717-11e6-9e46-e28913e0ef58.png)
Afte

[2016-09-30 18:27] mallove commented on #8872
After cad3763 it looks like this:

<img width="241" alt="screen shot 2016-09-30 at 2 23 47 pm" src="https://cloud.githubusercontent.com/assets/17302884/19002426/f6af2664-8719-11e6-8002-5d2bceca9aff.png">

[2016-09-30 18:44] tcheng001 commented on #8913
Please ignore the point 1 in the previous comment.  I can't reproduce it anymore in all three browsers (Chrome, Firefox and Safari).

[2016-09-30 19:03] tcheng001 commented on #8903
Work as expected.
1) /cp/build/menu refreshes automatically after a menu item is deleted
2) No double People menu item appears after an item is deleted
3) Menu works as expected

[2016-09-30 19:06] tcheng001 commented on #8913
@smboser  Please fix point 2 in [here] (https://github.com/openscholar/openscholar/issues/8913#issuecomment-250816191)
If the description field is empty, don't show "Read more" link in the term page.

[2016-09-30 19:07] #8903 closed

[2016-09-30 19:24] mallove commented on #8888
[This existing `behat` test](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/behat/features/features/people.feature#L12) in `people.feature` checks syncing functionality:

[code]

[2016-09-30 19:44] tcheng001 commented on #8872
Mark "Fixed"
Listing:
![screen shot 2016-09-30 at 3 36 29 pm](https://cloud.githubusercontent.com/assets/2111600/19004386/b8611214-8723-11e6-9622-5236ac289d9f.png)

Presentation page:
![screen shot 2016-09-30 at 3 37 15 pm](https://cloud.githubusercontent.com/assets/2111600/19004395/ca9db720-8723-11e6-876a-928a877d8aa5.png)

![screen shot 2016-09-30 at 3 43 06 pm](https://cloud.githubusercontent.c

[2016-10-01 10:46] avishek-de commented on #7987
i got this problem:-

An AJAX HTTP error occurred. HTTP Result Code: 500 Debugging information follows. Path: http://localhost/os/install.php?profile=openscholar&locale=en&id=1&op=do StatusText: Internal Server Error ResponseText:

[2016-10-01 15:10] #8872 closed

[2016-10-03 07:38] digitalpiku commented on #8885
@mpetrovic Review comments has been addressed. PR #8892 has been updated for review.

[2016-10-03 08:03] smboser commented on #8913
@Bilsi Point 2 mentioned above is fixed. PR #8919 has been updated for review.

[2016-10-03 13:53] openscholar-admin opened #8930 "Text for new account emails"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/text-for-new-account-emails)

**The Plan**

Update text for new account emails

**Description**

We should change the text for the email that is sent to users when someone creates an account for them. Here's what I suggest:
---------------------

Dear [first name last name],

[accoun

[2016-10-03 13:54] Bilsi commented on #8930
Please change the text to display as http://community.openscholar.harvard.edu/openscholar/topics/text-for-new-account-emails#reply_17842555

[2016-10-03 14:20] tcheng001 commented on #8913
Looking good.
![screen shot 2016-10-03 at 10 19 33 am](https://cloud.githubusercontent.com/assets/2111600/19040639/f17cf0c8-8952-11e6-9c67-bcd46f683569.png)

[2016-10-03 14:36] #8913 closed

[2016-10-03 15:03] mallove opened #8931 "Add back-compatibility tests for profile synchronization links"
Add a regression test for https://github.com/openscholar/openscholar/issues/8888.

[2016-10-03 15:11] openscholar-admin opened #8932 "Harvard Chicago Author date citation style should display all authors"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/harvard-chicago-author-date-citation-style-should-display-all-authors)

**The Plan**

Harvard Chicago Author date citation style should display all authors

**Description**

In a publication, the author list displays "et al" after a certain number of characters. But we would like to

[2016-10-03 15:15] tcheng001 commented on #8885
OK. Mark "Fixed"
Full Content:
![screen shot 2016-10-03 at 10 49 03 am](https://cloud.githubusercontent.com/assets/2111600/19041701/0bc2672a-8957-11e6-8eb6-4ff287034128.png)

List with no icon:
![screen shot 2016-10-03 at 10 50 05 am](https://cloud.githubusercontent.com/assets/2111600/19041730/2d8ed6f4-8957-11e6-9c5f-709d1cfe050e.png)

List with icon:
![screen shot 2016-10-03 at 10 50 32 am](https

[2016-10-03 15:22] #8885 closed

[2016-10-03 17:00] dancabral commented on #8028
@mpetrovic @Bilsi dorian just across this minor issue. The result (double width / height inline css being added to the markup) is exactly what you fixed last week when you resize an image in the wysiwyg. This time, the double width / height inline css is added if you simply enter a vspace or hspace value without resizing the image or make any other change to it. could your fix from last week be ap

[2016-10-03 17:58] mpetrovic commented on #8028
@dancabral @Bilsi
No. That code comes with ckeditor and is already minified. Modifying it will be hellish.

Does this affect how pages render or how images appear in the wysiwyg?

[2016-10-03 19:41] dancabral commented on #8028
@mpetrovic @Bilsi the width on the span kills the padding applied to the img. if there was a class on the span with the float, I could add the padding to that instead. its unlikely that anyone will add vpace or hspace values in the short term. can talk about it more tomorrow.
![width](https://cloud.githubusercontent.com/assets/867075/19051102/90992966-897f-11e6-8771-24943d2324ab.png)

[2016-10-04 00:20] #8769 closed

[2016-10-04 11:04] digitalpiku commented on #8930
@Bilsi I have made the changes in the below mentioned scenario in vsite.module file
![image](https://cloud.githubusercontent.com/assets/4848039/19071948/3b7f2666-8a50-11e6-815a-52e164080bba.png)

Please confirm whether we need to change the email content for the below scenario also or not:
![image](https://cloud.githubusercontent.com/assets/4848039/19071975/5ff73aec-8a50-11e6-8bbf-7f1899f397dd.png

[2016-10-04 11:41] digitalpiku commented on #8915
@Bilsi For some reason, in IE 11,  I am getting the below screen for Media browser in wysiwyg, seems to be an angular issue in my local system for IE 11 only.

![image](https://cloud.githubusercontent.com/assets/4848039/19072871/468e0c84-8a55-11e6-8982-284291f5e262.png)

Other browsers are displaying correct one.
![image](https://cloud.githubusercontent.com/assets/4848039/19072912/97dd816e-8a55-11

[2016-10-04 13:48] rbran100 commented on #8915
Matt says he rebuilt and that upgraded his angular-indexed-db to a newer version which fixed the access error. That may solve your problem.

[2016-10-04 13:50] digitalpiku commented on #8915
@rbran100 Thanks for the information, I will check it and let you know.

[2016-10-04 14:01] digitalpiku commented on #8915
@rbran100 @mpetrovic Awesome!, after upgrading angular-index-db to 1.1.3, now I can replicate the issue in local environment.
![image](https://cloud.githubusercontent.com/assets/4848039/19077156/11ae0046-8a69-11e6-81fd-af1bc78e4d9c.png)

[2016-10-04 14:07] Bilsi commented on #8930
@digitalpiku - Please use the same text in both situatons

[2016-10-04 14:09] mallove commented on #8888
[Marking this question as pending.](https://github.com/openscholar/openscholar/pull/8901#discussion_r81611073)

[2016-10-04 14:21] Bilsi commented on #8927
This issue happens in prod both old and new wysiwyg and touches the feed code. Closing it till a user reports it as an issue

[2016-10-04 14:21] #8927 closed

[2016-10-04 14:39] tcheng001 commented on #8762
Look good, Mark "Fixed"
No email notification received in the following cases:
1) a user creates a new site (the user doesn't receive email notification)
2) a site owner create a new user (the new user doesn't receive email notification)

[2016-10-04 14:50] openscholar-admin opened #8934 "Sync'ing profile is not working by using URL"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/syncing-profile-is-not-working-by-using-url)

**The Plan**

Fix the syncing issue

**Description**

After entering the url and clicking Submit button, you would see an error page for a moment and then redirect to sync-profile page.

[2016-10-04 15:01] #8762 closed

[2016-10-04 15:08] rbran100 commented on #8028
@dancabral Matt and I came up with two possible solutions that we can add without modifying ckeditor.

Target any span with a width inline style, since this really only happens in ckeditor this should be ok, but possible that it targets items that are not intended.  Simpler solution but possible overreach.
[code]

Remove the width in the wrapper span with JS, possible jump when the page loads, but

[2016-10-04 15:29] mpetrovic commented on #7776
@digitalpiku
It should be fixed now. Merge in the main branch to your's.

[2016-10-04 15:51] rbran100 commented on #8899
@tcheng001 thanks, I think I see what is going on here, will update PR

[2016-10-04 16:09] Bilsi opened #8935 "WYSIWYG (resized) floated images dont have padding next to paragraph txt"
Resized images placed through the wysiwyg and floated next to paragraph txt dont have padding.

1. https://github.com/openscholar/openscholar/issues/8028#issuecomment-251162678

[2016-10-04 16:17] #6879 closed

[2016-10-04 16:29] mallove commented on #8888
Removing **needs test case** label, as this ticket is open: https://github.com/openscholar/openscholar/issues/8931

[2016-10-04 16:44] dancabral opened #8936 "CKEditor body field iframe - flavor css file paths are incorrect"
@RoySegall in the CKEditor body field iframe the css file paths for flavors contain a "css" dir when it shouldnt. For regular themes (non flavors), the path is correct to include a "css" dir. Is it possible to exclude it from the path in the case of flavors?
![flavor-paths](https://cloud.githubusercontent.com/assets/867075/19083483/49f6a0ea-8a30-11e6-99cf-4e2a3e6f7d91.png)

[2016-10-04 16:55] #8028 closed

[2016-10-04 19:47] Bilsi commented on #8858
@digitalpiku - @mpetrovic fixed the code , you can merge https://github.com/openscholar/openscholar/pull/8700 branch into your branch

[2016-10-04 19:50] tcheng001 opened #8937 "CKEditor minor issues"
- [ ]  Wingdings doesn't show symbols.
![screen shot 2016-10-04 at 3 44 58 pm](https://cloud.githubusercontent.com/assets/2111600/19089928/4318b604-8a4a-11e6-8dd7-44e4d57722ea.png)

[2016-10-04 19:53] rbran100 commented on #8899
@tcheng001 fixed the access issue when a feature is private

[2016-10-04 19:59] dancabral commented on #7776
global settings label updates.
https://github.com/openscholar/openscholar/commit/5e1d97a520d15b677f5e72c9bd3911cd7c7e3892

[2016-10-05 07:41] digitalpiku commented on #8858
@Bilsi #8700 branch has been merged into this branch. PR #8905 has been update for review.

[2016-10-05 12:57] RoySegall commented on #8937
Checking. Though I thought we decide to remove this font.

[2016-10-05 13:05] tcheng001 commented on #8937
No, we had removed Webdings (not Wingdings).

[2016-10-05 13:41] rbran100 commented on #8937
@Bilsi we should remove wingdings? don't you think

[2016-10-05 14:09] tcheng001 commented on #8899
Not working as expected.  Still seeing the issue listed in [case 2](https://github.com/openscholar/openscholar/issues/8899#issuecomment-250492059)
![screen shot 2016-10-05 at 10 06 01 am](https://cloud.githubusercontent.com/assets/2111600/19116461/9ff0ad84-8ae3-11e6-9982-661e4d0ac5e4.png)
![screen shot 2016-10-05 at 10 06 30 am](https://cloud.githubusercontent.com/assets/2111600/19116485/b12bbba2-

[2016-10-05 14:12] RoySegall commented on #8937
I checked it with the TinyMCE editor and this don't seem to add any symbols. I think we can remove it since it don't do any thing

There is also an issue from 2005, http://ckeditor.com/forums/Support/symbol-fonts-not-supported-non-IE-browsers, that says that there are some un supported fonts and Wingdings is one of them.

[2016-10-05 14:18] Bilsi commented on #8649
@rsasch - Good catch, just fixed the text to be gender neutral

[2016-10-05 14:21] rbran100 commented on #8899
@tcheng001 Document app or Booklets app?

[2016-10-05 14:29] digitalpiku commented on #8930
@Bilsi PR #8933 has been updated for review.

[2016-10-05 14:31] tcheng001 commented on #8899
Sorry. I am referring to Booklets app.  There is no document app any way.

[2016-10-05 15:44] Bilsi commented on #8937
@RoySegall - Let me get back to you on this

[2016-10-05 17:03] rbran100 commented on #8899
@tcheng001 can you recheck this?  I tested and debugged locally and it works for me.  I tried clearing cache in HWPI dev and I think that did the trick.

[2016-10-05 17:12] dancabral commented on #7776
All set @Bilsi for you to review settings.

[2016-10-05 17:23] tcheng001 commented on #8930
Look good.
All links redirect to correct targets.
![screen shot 2016-10-05 at 1 22 35 pm](https://cloud.githubusercontent.com/assets/2111600/19123921/d5323d6c-8afe-11e6-9391-cf5d46d6363b.png)

[2016-10-05 17:37] #8930 closed

[2016-10-05 17:47] tcheng001 commented on #8899
Look good.

Test case | Description | Test Result
------------ | ------------- | ------
 1 | vsite set to private  | non-members/anon users can't access the book printer export  - That is good
 2 | vsite set to public but booklets app is private  | non-members/anon users can't access the book printer export - That is good.
 3 | vsite set to public but the post is unpublished  | non-members/anon us

[2016-10-05 18:46] Bilsi commented on #7776
@mpetrovic -
- [ ] Can we make the height and width just right for the content, right now we have a lot of white space around?

[2016-10-05 18:51] rbran100 commented on #8936
@dancabral do you have an example of where the flavor css was not showing the change in the WYSIWYG so that torman can test?

[2016-10-05 18:55] Bilsi commented on #8902
very rare issue, will look at it if a user complains

[2016-10-05 18:55] #8902 closed

[2016-10-05 19:06] dancabral commented on #8936
marking fixed. path for flavors now correctly excludes the /css/ dir.
![screen shot 2016-10-05 at 3 04 38 pm](https://cloud.githubusercontent.com/assets/867075/19127518/4f6b7aa4-8b0d-11e6-930d-64bc37ee2b2c.png)

[2016-10-05 19:07] #8936 closed

[2016-10-05 19:16] rsasch commented on #8460
@bkosborne I'm not sure why that was posted on Community, but if you check the most recent message on that page, you will see that it's currently scheduled to be part of our next release.

[2016-10-05 20:07] rsasch commented on #8024
<strong>note for testing:</strong> before the 8024-content_revisions branch is tested, OpenScholar needs to be rebuilt and updates need to be run

[2016-10-05 20:55] dancabral commented on #7776
@mpetrovic can we flip these two form items?
![index](https://cloud.githubusercontent.com/assets/867075/19131180/6c5f07f2-8b1c-11e6-8548-01b79074d9b2.png)

[2016-10-05 23:20] #8899 closed

[2016-10-06 08:08] RoySegall commented on #3939
I'm checking it.

[2016-10-06 10:54] RoySegall commented on #3939
@Bilsi I understand that when he assign the publication to repec he can't see the publication. I fill in the repec with dummy values, created a publication and it's working.

I can try to pull the sql and see if there any problem with that.

[2016-10-06 10:59] digitalpiku commented on #8915
@Bilsi PR #8939 has been updated for review.

Root cause of this issue was the usage of Number.isInteger function in JSPager.module.js which is not supported in IE11, as per the reference from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger , Polyfill has been used to support backward compatibility for Number.isInteger function call.

![image](http

[2016-10-06 12:16] RoySegall commented on #8833
I merged the work with the branch I checked out and it the PR look like hell. I can continue work on this but i'll create a fresh PR in the future.

[2016-10-06 13:28] tcheng001 commented on #8649
@rsasch   Don't see the fixes, any idea?  I did clear varnish, drupal caches and test it in a private window.  Here is an example.
![screen shot 2016-10-06 at 9 24 26 am](https://cloud.githubusercontent.com/assets/2111600/19154006/b3a6e488-8ba6-11e6-9a31-b074d46d7e3c.png)
Curiously,

[2016-10-06 13:32] digitalpiku commented on #8932
@Bilsi Can you share an URL in production environment where this issue is being reproduced?

[2016-10-06 13:36] digitalpiku commented on #8932
Never mind, I am able to reproduce it in Local Environment. Please ignore my previous comment.

[2016-10-06 14:14] mallove opened #8940 "Call-time pass-by-reference has been removed (PHP 5.3.0)"
I get errors due to ampersand (`&`) usage in function calls:

[code]

From the [documentation](http://php.net/manual/en/language.references.pass.php):

Looks like we can remove the ampersand ('&') without changing semantics.

Proposed patch:

[code]

[2016-10-06 14:40] openscholar-admin opened #8941 "Taxonomy Description WYSIWYG not working properly"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/taxonomy-description-wysiwyg-not-working-properly)

**The Plan**

Toolbar WYSIWG in taxonomy description should be enabled

**Description**

Some of the buttons on the taxonomy description field are disabled, so I'm unable to use the wysiwyg properly:

 [![img](https://d2r1vs3d9006ap

[2016-10-06 14:41] openscholar-admin opened #8942 "Adding a hyperlink to an image makes the image disappear"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/adding-a-hyperlink-to-an-image-makes-the-image-disappear)

**The Plan**

Fix it so that the button does not disappear

**Description**

If I try to add a link to an inline image using the new wysiwyg the image disappears and its' replaced with the link instead.

1. click on an image

[2016-10-06 14:45] openscholar-admin opened #8943 "Software Release: release file is displayed as a huge icon in form"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/software-release-release-file-is-displayed-as-a-huge-icon-in-form)

**The Plan**

Fix the icon on the software release form

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1493101/ScreenShot2016-10-05at8.59.22AM_inline.png?1475672422)](https://d2r1vs3d9006ap

[2016-10-06 14:47] openscholar-admin opened #8944 "Animated gif files used on pages not showing in the "used in" column in cp/content/files"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/animated-gif-files-used-on-pages-not-showing-in-the-used-in-column-in-cp-content-files)

**The Plan**

Display used in for animated gifs

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1492853/ScreenShot2016-10-04at2.26.10PM_inline.png?1475605681)](https://d

[2016-10-06 14:52] #8325 closed

[2016-10-06 14:59] openscholar-admin opened #8945 "List of Files widget: showing no content for Embedded Media when Display style is set to either Title or Teaser"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/list-of-files-widget-showing-no-content-for-embedded-media-when-display-style-is-set-to-either-title-or-teaser)

**The Plan**

[coming soon]

**Description**

This is what is showed when Display style is set to "Title" or "Teaser"

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_im

[2016-10-06 16:28] tcheng001 commented on #8915
Look good.  Mark "Fixed"
1) IE 11
2) working correctly in Chrome as usual

[2016-10-06 17:06] #8915 closed

[2016-10-06 18:11] tcheng001 commented on #8649
For information only
Change Site Ownership modal:
![screen shot 2016-10-06 at 1 36 39 pm](https://cloud.githubusercontent.com/assets/2111600/19163433/f155e07c-8bc9-11e6-8f5a-950e747e50ff.png)

Editing members for site modal:
![screen shot 2016-10-06 at 1 37 25 pm](https://cloud.githubusercontent.com/assets/2111600/19163467/17b4e5c4-8bca-11e6-8f7b-489d5a75c9d1.png)

Warning message when a user who

[2016-10-06 18:37] Bilsi commented on #8911
Hi bkosborne, Yes, that makes sense, we can start doing that. Which university are you using openscholar at?

[2016-10-06 18:38] #8195 closed

[2016-10-06 18:38] #8884 closed

[2016-10-06 18:38] #8894 closed

[2016-10-06 18:38] #8910 closed

[2016-10-06 18:38] #8928 closed

[2016-10-06 18:38] #8940 closed

[2016-10-06 18:47] bkosborne commented on #8911
Thanks, this is for Princeton U.

Perhaps worth mentioning that there's an OpenScholar slack channel in the drupal.slack.com team now. Not too many people in there, but your team may be interested.

[2016-10-06 21:06] Bilsi commented on #8649
1) Should an administrator (is not associated with HarvardKey) be able to create site on behalf of a user (who has associated with HarvardKey)? - I would prefer the administrator to have an HKEY association, Does it work this way now? if not, that is all right. Only 6 people have an administrator role and we can insist on all of them linking their accounts
2) Is an administrator able to change own

[2016-10-06 21:55] tcheng001 commented on #8649
@Bilsi
1) New UI and wordings are looking good.
2) Since the answer of 2 is 'yes', there is an inconsistency when changing ownership using the Edit link. Here is an example.
You can change the site's ownership to user001 when using "Change owner" link.
![screen shot 2016-10-06 at 4 13 07 pm](https://cloud.githubusercontent.com/assets/2111600/19171790/9abd64b0-8bec-11e6-846a-d1685ced2334.png)
But y

[2016-10-06 22:10] Bilsi commented on #8649
@rsasch - Can you please fix this?

[2016-10-07 01:33] jrounsav commented on #8405
my group gets this error as well. @days4 were you able to resolve this?

[2016-10-07 11:40] smboser commented on #8870
@Bilsi It is now ready for review.

![image](https://cloud.githubusercontent.com/assets/14976596/19188679/fa8da2fa-8cb0-11e6-8c94-afb0e2e58862.png)

[2016-10-07 13:22] mallove commented on #8944
I'm seeing this issue with all file types, except PDF and JPG.  File types tested: ppt, jpg, gif (animated, and single-frame), csv, and tar.gz.

[2016-10-07 13:25] rsasch commented on #8649
@tcheng001 made the requested change, ready to re-test.

[2016-10-07 14:30] mallove commented on #8944
One workaround is to add the image using the URL and a file attachment, e.g., so you set `height` and `width` to `0`.

[code]

This still leaves you vulnerable to a broken image link, but at least you get your file in the *Used In* column.

<img width="982" alt="screen shot 2016-10-07 at 10 30 07 am" src="https://cloud.githubusercontent.com/assets/17302884/19193700/14b8f9be-8c79-11e6-8fc5-b58af967

[2016-10-07 14:50] mallove commented on #8944
See also http://community.openscholar.harvard.edu/openscholar/topics/animated_gifs_do_not_work

[2016-10-07 17:10] mallove commented on #8944
Inserting the image into the WYSIWYG editor via a `Previously Uploaded Files` tab - changes the links from an animated gif:

[http://dev.hwpi.harvard.edu/files/jogger.gif](http://http://dev.hwpi.harvard.edu/files/jogger.gif)

... to a non-animated version of the same gif:

[http://dev.hwpi.harvard.edu/files/styles/os_files_small/public/jogger.gif](http://dev.hwpi.harvard.edu/files/styles/os_files_

[2016-10-07 17:16] dancabral commented on #7776
@mpetrovic can we make two changes? thanks.
- [x] flip these 2 form items
![6c5f07f2-8b1c-11e6-8548-01b79074d9b2](https://cloud.githubusercontent.com/assets/867075/19199076/34578364-8c90-11e6-85df-20728a1015d8.png)

- [x] add 2 <labels> to this form. can use dummy txt for now.
![taxonomy2](https://cloud.githubusercontent.com/assets/867075/19199080/3859fa1e-8c90-11e6-8045-2b1d8e736a66.png)

[2016-10-07 17:55] mallove commented on #8944
Also seeing this error in `/var/log/apache2/` on the image upload:

[code]

[2016-10-07 18:07] dancabral commented on #7776
@mpetrovic here are the labels the taxonomy form

(1) Choose where “See also” terms display
(2) Under a page’s main content area
![taxonomy2-labels](https://cloud.githubusercontent.com/assets/867075/19200505/6188c77e-8c97-11e6-8dfe-e9401f34d087.png)

[2016-10-07 18:20] mpetrovic commented on #8944
1) We automatically cleanup and resize all images uploaded to OpenScholar. We have not been making exceptions to animated gifs. Doing that is a possible solution (either don't allow resizing of animated gifs, or find a way to resize while preserving animations)

2) Because of this, users wanting to use animated gifs would have to circumvent existing approved file upload workflows. Part of these wo

[2016-10-08 01:01] dancabral commented on #8496
https://github.com/openscholar/openscholar/commit/28549fa527fc6f9dcf29e7fca4cf67332536d76c

[2016-10-09 13:54] RoySegall commented on #8934
For some reason there is an attempt to to access tor property. I don't remember I added that field in any case but i'll see what's the issue.

[2016-10-09 14:30] RoySegall commented on #8934
@Bilsi @rbran100 This is ready for review.

[2016-10-10 13:27] RoySegall commented on #8796
@Bilsi I gave this another shot and I'm basing on [this](http://www.gizra.com/content/phantomjs-chrome-docker-selenium-standalone/) blog post and I manage to set up the selenium. What left is to connect behat and we might get the tests back in action.

[2016-10-10 22:27] mpetrovic commented on #8796
I don't know what problems you're having. I've been working on this for the
past week, and most everything is working except for a few tests that need
changes due to admin panel

[2016-10-11 13:52] #8937 closed

[2016-10-11 15:02] mpetrovic commented on #7776
@Bilsi @dancabral
Nothing about the changes to the taxonomy form make sense to me. Can I get what the final is supposed to look like?

Other than that, this can be QA'd.

[2016-10-11 15:50] Bilsi commented on #5802
Merged

[2016-10-11 15:50] #5802 closed

[2016-10-11 15:50] #6700 closed

[2016-10-11 15:51] #6753 closed

[2016-10-11 18:31] mpetrovic opened #8949 "File caching doesn't work anymore"
Pages will request all files every time.

[2016-10-11 19:15] mpetrovic commented on #8949
@tcheng001
To test:
On sites with large amounts of files, you should see the the progress bar after every page load on prod. Those same sites under this branch should only see the progress bar once.

[2016-10-11 20:31] rbran100 commented on #3939
It looks like repec is still working, but only for scholar.harvard.edu.  I suspect that this is by design looking at the way this service is cobbled together.  I remember at one point we made sure repec was disabled on the other installs but it seems to be back... and not working.

You can see the submitted items here:
http://repec.iq.harvard.edu/RePEc/qsh/

Example of a recent one is here: http:/

[2016-10-12 11:34] digitalpiku commented on #8932
@Bilsi PR #8951 has been created for review.

[2016-10-12 14:04] digitalpiku commented on #8945
@Bilsi Can you please confirm that this issue is still reproducible? As per the comment from @tcheng001 at https://github.com/openscholar/openscholar/issues/8885#issuecomment-251134500 , The issue seems to be resolved in #8885.

[2016-10-12 14:05] tcheng001 commented on #8649
1) If you are a super admin, then you can change ownership to any members of the vsite.
2) A super admin is not able to create site unless s/he has associated with HarvardKey
3) A super admin can create site on behalf of an existing user who has associated with HarvardKey.  That means only those users who have associated with HarvardKey listed in the list (see the image below)
![screen shot 2016-1

[2016-10-12 14:25] tcheng001 commented on #8934
Look good. Mark "Fixed"
Sync'ing with the following ways:
1) using node id
2) using URL of the same install
3) using URL of a different install

[2016-10-12 14:29] Bilsi commented on #7776
@mpetrovic -
- [ ] In Settings -->App Settings, publication is displayed as a first item. It should be in alphabetical order
**Cache/Re-index**
- [ ] Take out Save and close button from the Cache/Re-index modal alone.
- [ ] Add the site cache is clearing message as shown below once the user click on the clear cache button. Leave the modal open till the user clicks close.
![1](https://cloud.githubu

[2016-10-12 15:02] tcheng001 commented on #8932
This is Harvard Chicago author-date citation. No more "et al" shown in the citation.
![screen shot 2016-10-12 at 10 57 24 am](https://cloud.githubusercontent.com/assets/2111600/19315176/b5f4f7fc-906a-11e6-95ba-699cdead1c07.png)

This is Chicago Manual of Style 16th edition. "et al" is shown as usual if number of authors is more than 7.
![screen shot 2016-10-12 at 11 00 07 am](https://cloud.githubu

[2016-10-12 15:30] #8934 closed

[2016-10-12 15:31] #8932 closed

[2016-10-12 15:32] #8649 closed

[2016-10-12 15:36] tcheng001 commented on #8942
Still not working. I did clear varnish, drupal cache and test in a new incognito window in Chrome and follow the steps to reproduce.  After I click Insert, the image is gone and no hyperlink is added either. That is the difference from that of production.
Anything is missing?

[2016-10-12 15:44] mpetrovic commented on #8942
Working fine for me on staging. Try again?

[2016-10-12 16:47] tcheng001 commented on #8888
Failed to update. Return to "in dev"

[2016-10-12 17:56] tcheng001 commented on #8942
Unable to save Title Text. In production, title text can be saved even though the image is replaced by the link.
![screen shot 2016-10-12 at 1 51 26 pm](https://cloud.githubusercontent.com/assets/2111600/19321493/3fa52bbc-9083-11e6-9f06-2573180c200d.png)

[2016-10-12 18:44] #8949 closed

[2016-10-12 20:37] Bilsi commented on #8924
@tcheng001 - test in prod after the release

[2016-10-12 20:40] rbran100 commented on #8024
@rsasch @dancabral

I added back the URL to see the contents of each revision, however I added it back into an admin overlay.  This prevented all of the "extra" context info from confusing what was actually in the node.

@dancabral It is pretty basic but better than nothing, it could use some CSS to separate the fields slightly.

@rsasch It looks to load in the public context for the 'page' conten

[2016-10-13 06:15] RoySegall commented on #8796
I understood from @Bilsi that I need to handle it. I'll leave this one for you then.

[2016-10-13 08:04] RoySegall commented on #3939
@Bilsi @rbran100 How can I test it to see what's the problem?

[2016-10-13 09:18] RoySegall commented on #7697
I merged master to the PR and now I'm going to go over the comments.

[2016-10-13 09:27] RoySegall commented on #7697
Update - I cant check the comments because the update won't end today. I'll set it up after we get back from the vacation.

[2016-10-13 10:25] digitalpiku commented on #8929
@Bilsi Is there any live/test site where this issue can be seen?

[2016-10-13 11:51] RoySegall commented on #8833
OK. I managed to fix it in the new PR:
https://www.youtube.com/watch?v=o92oH2xFrtM

[2016-10-13 14:11] dancabral commented on #8945
@digitalpiku you can a version of this issue here http://hwpi.harvard.edu/test in my test site. You are an admin of this site so feel free to log in and poke around. thanks

[2016-10-13 14:16] tcheng001 commented on #8929
@digitalpiku  You should be able to see the issue in http://scholar.harvard.edu/tcheng3

[2016-10-13 14:37] rsasch commented on #8024
@Bilsi @rbran100 I'll look into the issue displaying page content; I hope we are still going to do user testing of revisions to make sure that the interface is clear to them.

[2016-10-13 14:56] tcheng001 commented on #8942
Look good. Mark "Fixed"

[2016-10-13 15:10] #8942 closed

[2016-10-13 15:14] openscholar-admin opened #8954 "Pasting from Word using the new wysiwyg adds an extra paragraph tag before the pasted text"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/pasting-from-word-using-the-new-wysiwyg-adds-an-extra-paragraph-tag-before-the-pasted-text)

**The Plan**

The empty paragraph should not be present.

**Description**

When I paste something using the Paste from Word the editor is adding an extra "p" tag before the pasted text (see i

[2016-10-13 15:17] openscholar-admin opened #8955 "Logging into a site takes you to the home page, not the page you were on"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/logging-into-a-site-takes-you-to-the-home-page-not-the-page-you-were-on)

**The Plan**

When a user logs in, redirect them to the page they were originally on

**Description**

I'm not able to login to a site and stay on the desired page. It returns me to the home page. I know we fix

[2016-10-13 15:42] tcheng001 commented on #8924
@Bilsi   It seems that only user1 has permission to implement.

[2016-10-13 15:51] smboser commented on #8870
@mpetrovic @Bilsi Changes have been made and PR #8947 has been updated for review.

[2016-10-13 15:59] Bilsi commented on #8871
@digitalpiku - can we make this a priority?

[2016-10-13 16:34] dancabral commented on #7776
@mpetrovic heres the revised Taxonomy screen
![screen shot 2016-10-13 at 12 32 06 pm](https://cloud.githubusercontent.com/assets/867075/19357817/33d2fc74-9141-11e6-8178-f4353c6c0ded.png)

[2016-10-13 17:36] openscholar-admin opened #8956 "Slider Widget not resizing for mobile?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/slider-widget-not-resizing-for-mobile)

**The Plan**

Fix the slider widget issues

**Description**

Greetings,

I have a slider widget on this page of my website: [http://socialscience.fas.harvard.edu/...](http://socialscience.fas.harvard.edu/xyzdraft42).

It looks somewhat okay on

[2016-10-13 17:45] Bilsi commented on #8956
@digitalpiku @smboser There are several problems with the widget slider, actually.

1. It doesn't resize properly for mobile as specified above.

2. Specifying the "Slider height in pixels" only affects the placement of the slide advance buttons, it doesn't actually resize the slider box (at least for heights smaller than 400). This leaves too much blank space beneath the slider when the content i

[2016-10-13 18:29] dancabral commented on #7776
@Bilsi noting the missing help doc urls.

-Redirects has no help doc url
-Social has no help doc url
-Long list display has no help doc url
-Cache / Reindex has no help doc url

[2016-10-14 01:59] dancabral commented on #8956
@digitalpiku

1) the second slider here http://socialscience.fas.harvard.edu/xyzdraft42 overlaps with the widgets below it.

2) add a rule below this one with the image slider class as the selector and height = auto.
[code]

[2016-10-14 08:49] digitalpiku commented on #8945
@Bilsi PR #8957 has been created for review.

[2016-10-14 10:42] smboser commented on #8871
@Bilsi PR #8958 has been created for review.

![image](https://cloud.githubusercontent.com/assets/14976596/19384820/ed5fa402-9228-11e6-9a89-eb918401ad01.png)

[2016-10-14 11:05] smboser commented on #8955
@Bilsi Is it happening in particular site in production? I have tried two / three sites but in all cases I am redirecting to the desired pages. I am doing the following steps

1. Opening a inner page from a site in production
![image](https://cloud.githubusercontent.com/assets/14976596/19385369/c19ca664-922b-11e6-9a84-7fe879caa88f.png)

2. Proceeding to login from that page
![image](https://cloud.

[2016-10-14 13:38] mallove commented on #8944
We currently only support the GD Image toolkit, which does not seem to support animated gif's (for *scaling*, and possibly simpler operations like *saving*).  Investigating alternative image toolkits, e.g., ImageMagick.

[2016-10-14 14:01] Bilsi commented on #8955
@smboser - Thanks, closing the ticket

[2016-10-14 14:01] #8955 closed

[2016-10-14 14:01] digitalpiku commented on #8929
@Bilsi PR #8959 has been created for review.

[2016-10-14 14:07] openscholar-admin opened #8960 "embeding widgets within widgets"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embeding-widgets-within-widgets)

**The Plan**

Fix the issue seen when one widget is embedded inside another

**Description**

Currently, if a widget is within another widget, even if the checkbox "Make Embeddable" is checked, the CSS hides the "embed" link from the user. For an exa

[2016-10-14 14:08] openscholar-admin opened #8961 "Error when editing a publication individually"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/error-when-editing-a-publication-individually-3tkcp5j79ytp1)

**The Plan**

Validation error even when the publication type is entered

**Description**

<span>Editinga publication individually and pressing save keeps yielding error</span>

"PublicationType" is a required field (so up

[2016-10-14 14:16] Bilsi commented on #8961
This is an annoying bug since we are only able to reproduce it in http://scholar.harvard.edu/dmehta/publications#overlay-context=dmehta/publications
 this site.

[2016-10-14 15:06] mallove commented on #8944
[code]

Now troubleshooting this error:
[code]

[2016-10-14 15:45] tcheng001 commented on #8945
Test Case  | Case Description | Test Result
------------ | ------------- | ---------
 1 | Embedded Meida - Full Content |  OK
 2 | Embedded Meida - Link with no icon |  OK
3 | Embedded Meida - Link with icon |  OK
4 | Embedded Meida - Title |  OK
5 | Embedded Meida - Teaser |  OK
 6 | Video - Full Content |  OK
 7 | Video - Link with no icon |  OK
8 | Video - Link with icon |  OK
9 | Video -  Titl

[2016-10-14 16:37] tcheng001 commented on #8929
Still not working.  I did clear varnish and drupal cache, and browsing data.
![video_extend](https://cloud.githubusercontent.com/assets/2111600/19395299/f358d20c-920a-11e6-9fac-18604b1dbff7.png)

[2016-10-14 16:46] smboser commented on #8956
@dancabral I have a doubt here. Currently the slider is of 400px height is there is nothing specified in "Slider height in pixels".
![image](https://cloud.githubusercontent.com/assets/14976596/19395388/01af8e68-925b-11e6-8368-ad4f0f0b1313.png)

If I make this selector as { height: auto } then this will not be valid any more, will that be ok ? Apart from this outer div height I have made few change

[2016-10-14 16:47] mallove commented on #8944
Pull request: https://github.com/openscholar/openscholar/pull/8963

[2016-10-14 16:53] mallove commented on #8944
Pull request #8963 simply sets the below configuration programmatically:

<img width="1377" alt="screen shot 2016-10-14 at 12 50 16 pm" src="https://cloud.githubusercontent.com/assets/17302884/19395710/ff43b22e-920c-11e6-877d-b3221a7f5b1f.png">

[2016-10-14 16:53] dancabral commented on #8935
oddly, this isnt reproduceable anymore. needs a little more testing before marking this resolved.

[2016-10-14 17:02] dancabral opened #8964 "WYSIWG font family(s) dont match the active theme"
The WYSIWG font family(s) dont match the active theme being used by a vsite.
![screen shot 2016-10-14 at 12 42 30 pm](https://cloud.githubusercontent.com/assets/867075/19395964/7700904c-920e-11e6-8406-682bc82b8d6b.png)

[2016-10-14 17:09] #8945 closed

[2016-10-14 17:52] openscholar-admin opened #8965 "Pagination breaks in an embedded widget"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/pagination-breaks-in-an-embedded-widget)

**The Plan**

Fix the pagination in an embedded widget

**Description**

Pagination breaks here - [http://asiacenter.harvard.edu/events](http://asiacenter.harvard.edu/events)

This is an embedded widget

[2016-10-14 18:07] dancabral commented on #8943
this is ready for testing @tcheng001
![screen shot 2016-10-14 at 2 06 11 pm](https://cloud.githubusercontent.com/assets/867075/19397822/79d10c94-9217-11e6-91aa-9f5758e103bd.png)

[2016-10-14 19:24] tcheng001 commented on #8943
Look good.
1) File icon looks good
2) software release works correctly

[2016-10-17 07:45] digitalpiku commented on #8929
@tcheng001  Can you please share the URL where the above scenario can be seen?

[2016-10-17 10:02] digitalpiku commented on #8960
@Bilsi PR #8966 has been created for review.

[2016-10-17 10:55] smboser commented on #8965
@Bilsi Issue is not occurring at local with same production dump. Even when Aggregate JavaScript files is not is used, it is working fine. I think it is a problem due to compressed JS version. Could you please clear the varnish of **asiacenter.harvard.edu** and check if the problem still persists.

[2016-10-17 12:18] tcheng001 commented on #8929
@digitalpiku   http://dev.hwpi.harvard.edu/tormanhc2

[2016-10-17 13:07] Bilsi commented on #8965
@smboser - That worked, thanks!!!!

[2016-10-17 14:32] mallove commented on #8888
I split the update into two parts, and it seems to run now:

<img width="608" alt="screen shot 2016-10-17 at 10 14 15 am" src="https://cloud.githubusercontent.com/assets/17302884/19441783/f98249c8-9454-11e6-8f86-1eea6cd12b95.png">

[2016-10-17 14:57] #8943 closed

[2016-10-17 15:05] rsasch commented on #8960
@digitalpiku Is there a reason to do this with javascript instead of changing the CSS?

[2016-10-17 15:06] Bilsi commented on #8964
http://community.openscholar.harvard.edu/openscholar/topics/editor-font-differs-from-actual-displayed-font

[2016-10-17 15:14] Bilsi commented on #8965
@smboser - No, it doesnt work in production,
I get the console error
iframe:5 GET http://projects.iq.harvard.edu/os_sv_list/page/1399994610?page=1&destination=widget%2Fembed%2F1399994610%2Fiframe nrWrapper @ iframe:5send @ js_gXGQPVsYr4CtgXkRg81CynHH6ATIwzlo_khhCBgrhqQ.js?m=1475016404:2ajax @ js_gXGQPVsYr4CtgXkRg81CynHH6ATIwzlo_khhCBgrhqQ.js?m=1475016404:2click_handler @ js_CkavwH-HedNz-gPDqnrW_3k

[2016-10-17 15:23] rsasch commented on #8024
@rbran100 Looks like it was a theme issue; the theme that was displaying page revisions did not have the right regions included to display the page content.

[2016-10-17 15:29] openscholar-admin opened #8968 "Unable to center image by selecting image directly"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/unable-to-center-image-by-selecting-image-directly)

**The Plan**

Fix the bug so that users can center images using the wysiwyg

**Description**

When adding a new image and attempting to center by clicking on the image and then clicking on the Center button located adjacent to the

[2016-10-17 15:34] Bilsi commented on #8935
Not reproducible in prod anymore

[2016-10-17 15:47] openscholar-admin opened #8969 "Add validation to widget show more fields"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/how-to-update-content-on-the-first-home-page)

**The Plan**

Add a required validation for the link field url

**Description**

I am trying to add a paragraph on the first page (home page, the one you immediately reach when you get to the site) but have failed to do so.

[2016-10-17 16:33] dancabral commented on #8969
@digitalpiku can we add validation (is not empty) to the widget show more fields? If the "Show more link" checkbox is checked then both text fields should be required. thanks.
<img width="601" alt="screen shot 2016-10-17 at 11 30 29 am" src="https://cloud.githubusercontent.com/assets/867075/19446241/eca12fce-9465-11e6-97cc-36d4b41eebfc.png">

[2016-10-17 18:20] mallove commented on #8931
Pull request: https://github.com/openscholar/openscholar/pull/8970

[2016-10-17 20:08] tcheng001 opened #8971 "Sync'ed profile not update automatically"
We need to open the sync'ed profile form and then save to get the updated information.

[2016-10-17 20:09] tcheng001 commented on #8888
blocked by #8971

[2016-10-18 06:36] RoySegall commented on #8833
@mpetrovic Why you changed the status to in dev? I don't see any feedbacks in the PR.

[2016-10-18 07:53] RoySegall commented on #7697
I started to index the data. Will update.

[2016-10-18 08:36] RoySegall commented on #8968
Seems to be a problem with CKEDITOR:
![ckeditor_demo___ckeditor_com](https://cloud.githubusercontent.com/assets/1222368/19470167/0c291a2a-9527-11e6-8118-17678040c7fe.jpg)
I'll look for fix.

[2016-10-18 10:11] digitalpiku commented on #8929
@Bilsi Issue has been fixed, PR #8959 has been updated for review.

[2016-10-18 11:17] digitalpiku commented on #8960
@rsasch Before moving to jQuery solution, I had also tried to fix this by changing CSS, there are certain limitations for it. When widgets are rendered within an widget by boxes module, the parent wrapper div and inner widget wrapper divs share same outer class name "**block-boxes**", as a result, 'block-boxes:hover' css selector is causing all the embed links to be visible if any one of the widge

[2016-10-18 11:57] smboser commented on #8965
@Bilsi did you get this error while clearing varnish cache?

I have embedded the same widget in my local dev environment but it is working fine as soon as I am removing JavaScript Aggregation of **http://asiacenter.harvard.edu**
![image](https://cloud.githubusercontent.com/assets/14976596/19476618/b84f3534-9557-11e6-808e-6e3a73727764.png)

Same time (i.e. when Javascript Aggregation is of in **htt

[2016-10-18 13:14] RoySegall commented on #8954
I'm looking on this for a while and I don't have a clue for now. Can't reproduce with a clean CKEDTOR so I don't know how to find the problem.

There were a couple of times that I paste a text and the blank paragraph did not appear.

[2016-10-18 13:50] rbran100 commented on #8911
In the interm, I wanted to make sure that you had seen this.  http://theopenscholar.org/roadmap

[2016-10-18 14:01] rsasch commented on #8960
@digitalpiku I might be missing the other effects this code has, but I was thinking about https://github.com/openscholar/openscholar//blob/94eeccf71692183edc56cda01d2befaaabff3ebb/openscholar/modules/os/modules/os_boxes/misc/os_boxes.embed.css#L8

[2016-10-18 14:10] digitalpiku commented on #8960
@rsasch Yes, that line is hiding the embed links initially when page is being loaded. But this below line has a CSS rule that is hiding all the embed links for this case: https://github.com/openscholar/openscholar//blob/94eeccf71692183edc56cda01d2befaaabff3ebb/openscholar/modules/os/modules/os_boxes/misc/os_boxes.embed.css#L20 , but there might be other impact if the rule is changed to 'display:bl

[2016-10-18 14:17] mallove commented on #8888
Below is a validation test.

Result set before running `update.php`:

[code]

Result set after running `update.php`:

[code]

[2016-10-18 14:44] tcheng001 commented on #8968
Now, an image can be centered by selecting and checking Center alignment button
![screen shot 2016-10-18 at 10 39 28 am](https://cloud.githubusercontent.com/assets/2111600/19482446/2ceb42ea-951f-11e6-8481-73db41fbc1f5.png)

But text wrapping doesn't function any more.  This is a long paragraph in production. Text is wrapped correctly.
![screen shot 2016-10-18 at 10 41 04 am](https://cloud.githubus

[2016-10-18 14:47] RoySegall commented on #7697
@tcheng001 Can you try and reproduce again? I got a dump but I don't think the data set is the same as you described at https://github.com/openscholar/openscholar/issues/7697#issuecomment-232096393

[2016-10-18 15:10] Bilsi commented on #3939
We should disable it in Projects

[2016-10-18 15:10] #3939 closed

[2016-10-18 15:23] smboser commented on #8870
@rbran100 Made the text changes. PR #8947 has been updated for review.

[2016-10-18 16:07] smboser commented on #8965
@Bilsi It seems to be an issue of cross domain connection. Following lines needs to be placed on .htaccess of the server.

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

I was trying to replicate the scenario between dev and staging servers, but it is running fine there. Embeding it local reproducing the issue, but I can't do much there as it happening only wh

[2016-10-18 16:23] dancabral commented on #8024
this is looking good @rsasch. suggestions/comments and questions here in pages 1- 4 https://docs.google.com/document/d/14CALJ_-wOvk1JVCmc8xOXjqYSFsL5HzK4eCjfu4tBdk/edit#

[2016-10-18 16:33] rbran100 commented on #8960
@digitalpiku Do you know what other issues this could create?  It seems like it would solve this case and I am not sure what other impacts it would have? The line was made in 2013 so unless @mpetrovic (who added it) can think of a reason not to I think we should remove it.  (unless you know of side effects?)

[2016-10-18 16:55] openscholar-admin opened #8973 "Clean up the publication screen"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/clean-up-the-publication-screen)

**The Plan**

Update the publication screen to make it easier to use

**Description**

The publication screen for entering the date of publication and the year for the unpublished publications is very confusing and needs to be cleaned up

 [![img](ht

[2016-10-18 16:56] Bilsi commented on #8973
@RoySegall - Please update the screen to

To reduce space and confusion, the above area in the Pub form will be replaced with this. Note: we're removing the second year text field and rolling it into the current Date of Pub fields. If a user selects an option other than Published, the label will change from "Date of Publication" to "Expected Date of Publication".
![1](https://cloud.githubuserconte

[2016-10-18 17:53] Bilsi commented on #8973
@RoySegall - I want to mention that the screen shot above is for the Harvard Chicago Author date citation style which is why we have a month and day drop down and the permitted date help text.
For other citation types, we only display the year. So please do not add the month and day and help text to the other citation styles

[2016-10-18 19:39] dancabral commented on #8024
@rsasch (8) on page 4 shows the "youve reached the max number warning" and when to show it. https://docs.google.com/document/d/14CALJ_-wOvk1JVCmc8xOXjqYSFsL5HzK4eCjfu4tBdk/edit#

[2016-10-18 19:40] dancabral commented on #8956
@smboser there is a fixed height (either 400px or something else set by the user) so that the navigation doesn't jump up and down as it cycles from widget to widget. Can you revert everything except the fix that addressed the first widget displaying in the last spot?

[2016-10-18 20:18] mallove commented on #8931
I don't see how this test could fit into the behat testing framework.  It's checking existing profile URLs (that our users have added).  Can we run a database query in behat's Cucumber language?  How about a behat test to run SimpleTests, e.g., check test results at `hostname/?q=admin/config/development/testing`?

[2016-10-19 08:37] digitalpiku commented on #8969
@Bilsi PR #8974 has been created for review.

[2016-10-19 08:52] RoySegall commented on #8968
I tried to play with it and did not manage to reproduce it. Did you do something special?

[2016-10-19 10:32] digitalpiku commented on #8929
@rbran100 PR #8959 has been updated for review.

[2016-10-19 10:32] bkosborne commented on #8911
HI @rbran100 , yes I've seen that. I think the issue there is that it corresponds with releases you do specifically to the platform at Harvard, right? And not directly with the OS versions released on GitHub. It's difficult to find the GitHub issue / pull request for each of those tasks as well.

[2016-10-19 10:57] digitalpiku commented on #8960
@rbran100  If I remove Line 20 at https://github.com/openscholar/openscholar//blob/94eeccf71692183edc56cda01d2befaaabff3ebb/openscholar/modules/os/modules/os_boxes/misc/os_boxes.embed.css#L20  all the embed links are visible if I am hovering on any one of the widget in the page. Please refer to the below screenshot.

![8960](https://cloud.githubusercontent.com/assets/4848039/19516222/add14838-9618

[2016-10-19 11:36] RoySegall commented on #8971
I can't reproduce. Can you please give some more info like what's the profile you try to sync.

[2016-10-19 12:18] RoySegall commented on #8973
You're the boss ;)

I'll start understanding the issue.

[2016-10-19 12:40] tcheng001 commented on #7697
Yes, I would rerun some tests today.

[2016-10-19 12:42] RoySegall commented on #8973
@Bilsi The issue is a bit unclear:

Are you talking about that field:
![bilsi_s_test_title___john](https://cloud.githubusercontent.com/assets/1222368/19518940/53092534-9612-11e6-8031-9d1ae627f971.jpg)

Where can I choose that option? I can only see "Forthcoming", "Submitted", "In Preparation", "In Press" or "Working ". Another stuff I noticed is when I choose one of the last three the form changei

[2016-10-19 13:23] tcheng001 commented on #8968
@RoySegall   Text wrapping looks good. And the image can be centered as well.  But I found one thing. When the image is centered, it seems there is no way to place text on sides. Is this a design limitation?  I have discussed with @Bilsi.  She will talk with you later today.
![screen shot 2016-10-19 at 9 21 19 am](https://cloud.githubusercontent.com/assets/2111600/19520269/a3a4cd7a-95dd-11e6-8c27-

[2016-10-19 13:59] tcheng001 commented on #8971
this is the source profile
http://scholar.harvard.edu/tcheng2/people/aaron
this is the target profile
http://scholar.harvard.edu/tcheng3/people/aaron-anderson
Before sync'ing,  there is no the middle initial 'W'
I added it after syncing happens in tcheng2 site.
![screen shot 2016-10-19 at 9 57 37 am](https://cloud.githubusercontent.com/assets/2111600/19521698/90922444-95e2-11e6-80c8-b9a5b794f466.p

[2016-10-19 14:20] RoySegall commented on #8971
10x @tcheng001 This is far better than Skype. I'll pull the DB and test it.

[2016-10-19 14:35] tcheng001 commented on #8888
1) Before running update
drush @scholar.staging sqlq "SELECT field_original_destination_url_value FROM field_data_field_original_destination_url where field_original_destination_url_value LIKE '%.json'"

http://scholar.harvard.edu/pbrown/node/32804.json
http://scholar.harvard.edu/tcheng2/node/89351.json
http://rits.hms.harvard.edu/node/407846.json

After running update
drush @scholar.staging sqlq

[2016-10-19 14:35] openscholar-admin opened #8975 "Navigation is displaying the arrow as though there is a sub page but I have already removed it."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/navigation-is-displaying-the-arrow-as-though-there-is-a-sub-page-but-i-have-already-removed-it)

**The Plan**

Fix the bug so that no navigation arrow displays if there is no sub page

**Description**

I added a subpage but then moved it to the same level as the original page and the

[2016-10-19 14:36] Bilsi commented on #8975
@digitalpiku - This is tricky, navigation arrow displays when a user creates a sub page and then removes it. It is not a varnish issue.

[2016-10-19 15:00] Bilsi commented on #8797
use the commands
scp -rC hwpi1.prod@web-5645.prod.hosting.acquia.com:/mnt/gfs/hwpi1.prod/sites/projects.iq.harvard.edu/files/SITE_ID /tmp/
scp -rC /tmp/SITE_ID hwpi1.test@staging-5644.prod.hosting.acquia.com:/mnt/gfs/hwpi1.beta/sites/projects.iq.harvard.edu/files/
rm -R /tmp/SITE_ID

[2016-10-19 15:00] #8797 closed

[2016-10-19 15:04] tcheng001 commented on #8929
Test when both sidebar 1 and sidebar 2 have content:

Test case | Display style is set to | Test result
------------ | ------------- | -------
1 | Full content | OK
2| Link with no icon | OK
3 | Link with icon | OK
4 | Title | OK
5 | Teaser | OK

Test when only sidebar 1 has content:

Test case | Display style is set to | Test result
------------ | ------------- | -------
6 | Full content | OK
7|

[2016-10-19 15:13] #8929 closed

[2016-10-19 15:20] tcheng001 commented on #8969
1) Both "URL for the more link" and "Label of the more link" are required now in List of Post widget.
![screen shot 2016-10-19 at 11 18 03 am](https://cloud.githubusercontent.com/assets/2111600/19525057/c20e5b68-95ed-11e6-94dd-6577dd607261.png)

2) Validation works as expected.
3) List of Posts widget works as before.

[2016-10-19 15:38] #8969 closed

[2016-10-19 16:13] tcheng001 commented on #8960
@Bilsi   @dancabral
Embed link displays in Accordion, Column and Tabs widget, but not in Random and Widget Slider. If that is intended, then we can close this ticket. Otherwise, send back to "in dev"

[2016-10-19 16:32] dancabral commented on #8960
@tcheng001 I dont think accordion, columns and tabs widgets should be embeddable. They will fluctuate in height as you select a new panel, tab, etc. I do think Random and Widget Slider widgets should be embeddable. agree @Bilsi ?

[2016-10-19 16:34] Bilsi commented on #8960
@digitalpiku - We do not want the Embed link to display in Accordion, Column and Tabs widget, but they should display in Random and Widget Slider

[2016-10-19 17:33] tcheng001 commented on #8960
@dancabral  @bilsi    Sorry, my previous comment might be not that clear.  What I mean is the embed link of widgets (the content widgets within container widgets) is shown within Column, Accordion and Tabs widget. I think that is what we want.

[2016-10-19 17:44] mallove commented on #8888
Please elaborate on *Fails to sync using URLs*.

[2016-10-19 17:53] tcheng001 commented on #8960
Mark "Fixed"

[2016-10-19 17:54] mallove commented on #8944
*Pending* for below threads:
https://github.com/openscholar/openscholar/pull/8963/files#r84116534
https://github.com/openscholar/openscholar/pull/8963/files#r84117653

[2016-10-19 17:54] #8960 closed

[2016-10-19 18:10] mallove commented on #8888
Testing is underway to ensure there's no conflict between these database updates and #8934.

[2016-10-19 18:28] rbran100 commented on #8888
@mallove @tcheng001 can correct me, but I think when he says, "Fails to sync using URLs" he means that if you provide a path to a source node.  Ex http://scholar.harvard.edu/mysite/person/personone that the node fails to update.

[2016-10-19 18:41] tcheng001 commented on #8888
@rbran100  Thanks.  I have just discussed with @mallove about the problem.  Unable to sync profile using URL. I would test again after 3.x is merged to this PR.

[2016-10-19 18:55] tcheng001 commented on #8888
@mallove    Failed to sync profile using URL.  After entering the url and hit Submit button, I can see a custom error 500 (showing very fast) and then redirect to sync-profiles page. But this is a page instead of modal.

[2016-10-20 10:16] smboser commented on #8956
@dancabral I have reverted back all except the slider sorting fixing.
But that recreates the original error. Please check PR #8962 and let me know if I anything else is need to be added.

[2016-10-20 10:34] RoySegall commented on #8973
I started to work on it. FAPI give me some hard times but I'll get over it.

[2016-10-20 11:25] RoySegall commented on #8941
Ready for review.

[2016-10-20 11:49] RoySegall commented on #8968
@Bilsi I checked it and this is how CSS works. When using text center the element takes full width of the container:
![antoine_de_saint-exupery___john_ _and_os_taxonomy_module_-_openscholar_-___applications_mamp_htdocs_openscholar__and_whatsapp](https://cloud.githubusercontent.com/assets/1222368/19558647/4ba8d3ee-96d4-11e6-918b-3f69b8de1a59.jpg)

[2016-10-20 11:53] RoySegall commented on #8954
Let's tackle it again.

[2016-10-20 13:38] #8975 closed

[2016-10-20 14:23] mallove commented on #8888
It's still missing the `office_hours` property from b7c3f4e38cae4fa6b7af4b33e1175ba4a3a4e620, e.g., from drupal-watchdog.log:

[code]

[2016-10-20 14:29] tcheng001 commented on #8968
Look good. Mark "Fixed"
1) Image can be aligned right, left or center using buttons in tool bar
![screen shot 2016-10-20 at 10 24 02 am](https://cloud.githubusercontent.com/assets/2111600/19563834/765e615a-96af-11e6-8df1-20c5b72047c5.png)

2) Image can be aligned right, left or center using image properties
![screen shot 2016-10-20 at 10 27 16 am](https://cloud.githubusercontent.com/assets/2111600

[2016-10-20 14:56] openscholar-admin opened #8978 "WYSIWYG: Image caption should display underneath the image"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-image-caption-should-display-underneath-the-image)

**The Plan**

Fix the bug so that the Image caption should display underneath the image

**Description**

In WYSIWYG: the caption looks good.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1499520/ScreenShot2016-1

[2016-10-20 15:21] Bilsi commented on #8954
@digitalpiku @smboser - Can you try and see if you can reproduce this? and fix it?

[2016-10-20 15:21] openscholar-admin opened #8979 "Video text not wrapping properly in columns widget"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/video-text-not-wrapping-properly-in-columns-widget)

**The Plan**

Fix the text to wrap under the video if the space is narrow

**Description**

The video text is appearing on the side of the video instead of underneath in a columns widget.

See example:

[http://successfailureprojec

[2016-10-20 15:21] #8923 closed

[2016-10-20 15:38] tcheng001 commented on #8941
1) It shows the old media browser.
![screen shot 2016-10-20 at 11 34 24 am](https://cloud.githubusercontent.com/assets/2111600/19566686/39a1db8e-96b9-11e6-9c46-a1856e8cb1d7.png)

2) Link tools doesn't work.  Nothing happens when clicking the link tool button.
![screen shot 2016-10-20 at 11 36 21 am](https://cloud.githubusercontent.com/assets/2111600/19566815/9c7d7cd6-96b9-11e6-9a9c-cdad8f453d35.pn

[2016-10-20 15:50] mallove commented on #8888
I can't reproduce the issue on my localhost, so I cut a new branch https://github.com/openscholar/openscholar/pull/8980, which is identical to https://github.com/openscholar/openscholar/pull/8901, but no `RestfulBadRequestException` when adding a sync.

[2016-10-20 16:18] tcheng001 commented on #7697
@rbran100   Still unable to index the new posts.
Here is an example, http://dev.scholar.harvard.edu/tcheng3/classes
The first two posts are
1) ABCD - class (geolocation/north america)
2) ABC - class
If searching 'ABC', you won't get the first post 'ABCD - class (geolocation/north america)'
I use both old and new search box to search 'ABC', but no 'ABCD' shows in the result list. Thus, I believe th

[2016-10-20 16:47] openscholar-admin opened #8981 "Change in hyperlink behavior"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/change-in-hyperlink-behavior)

**The Plan**

Add validation for special characters in alias - does not work for custom domain

**Description**

We are seeing a change in hyperlink behavior. For instance, see: [http://eye.hms.harvard.edu/cornea/con...](http://eye.hms.harvard.edu/corne

[2016-10-20 16:57] Bilsi commented on #8922
http://community.openscholar.harvard.edu/openscholar/topics/change-in-hyperlink-behavior?page=1

[2016-10-21 10:54] smboser commented on #8979
@Bilsi Its fised now. It will show like following in case of multiple columns
![image](https://cloud.githubusercontent.com/assets/14976596/19596144/def89446-97aa-11e6-89ca-b5ea6f6c7f81.png)

And for no column it will show like previous.
![image](https://cloud.githubusercontent.com/assets/14976596/19596104/a4ae2120-97aa-11e6-95b1-cdcdf5566a51.png)

PR #8982 has been created for review.

[2016-10-21 19:48] tcheng001 commented on #8888
Look good.
1) sync works correctly using node id and url (same and different install)
2) the sync'ed profiles will be updated when their source profiles are changed

[2016-10-21 19:50] dancabral commented on #8964
@tcheng001 hmmm.....yeah I dont see it either. Not sure why. The branch made it into GH.
![screen shot 2016-10-21 at 3 49 27 pm](https://cloud.githubusercontent.com/assets/867075/19609598/182c94e2-97a6-11e6-9196-a831a292bc70.png)

[2016-10-21 20:07] Bilsi commented on #8964
@dancabral @tcheng001 - the build is breaking due to issues with github and acquia. I will try and force a build after a few hours

[2016-10-21 20:10] #8888 closed

[2016-10-21 22:36] Bilsi commented on #8964
@tcheng001 - It is ready for you to test now

[2016-10-24 13:40] #8961 closed

[2016-10-24 14:06] tcheng001 commented on #8964
@dancabral   Not working as expected in some HWP themes (see the table below). For example, this is what I see in WYSIWYG. Both heading and body font family are Serifs.
![screen shot 2016-10-24 at 9 08 30 am](https://cloud.githubusercontent.com/assets/2111600/19646879/8c440b60-99c9-11e6-9879-79e4354b2900.png)

But the body font family becomes Sans Serif when the post renders.
![screen shot 2016-10

[2016-10-24 14:15] openscholar-admin opened #8985 ""Open this link in a new tab:" text appearing on link description page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/-open-this-link-in-a-new-tab-text-appearing-on-link-description-page)

**The Plan**

Fix the bug so that the text "Open this link in a new tab:" does not display

**Description**

Each post of the content type "link" has its own page that visitors can get to when they click the "Read

[2016-10-24 14:26] openscholar-admin opened #8986 "SEO info showing instead of teaser in list of posts"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/seo-info-showing-instead-of-teaser-in-list-of-posts)

**The Plan**

Fix the SEO display to show the right content

**Description**

On this page&nbsp;[http://execed.gsd.harvard.edu/codes-standards](http://execed.gsd.harvard.edu/codes-standards)&nbsp;the content under the link is actu

[2016-10-24 15:06] digitalpiku commented on #8954
@Bilsi I was unable to reproduce this in production environment, However, in our local system we are getting the below error:

![image](https://cloud.githubusercontent.com/assets/4848039/19651137/51ec56b0-9a29-11e6-931b-b393f4e36ad4.png)

Is there any ready build available with wysiwyg. I checked http://theopenscholar.org/download , where there is version 3.49. Is there any location where latest s

[2016-10-24 17:34] dancabral commented on #8964
@tcheng001 can you test this again. please clear varnish and drupal cache. Note: I have not fixed Mather yet. I want to push this out tonight and needed to get it to you asap for testing.

[2016-10-24 17:45] rsasch commented on #7315
The "subscribe" and "iCal" options work in Calendar (Mac) but not in Google Calendar.  I believe this is because we do not include the SEQUENCE property (see http://stackoverflow.com/questions/14712929/icalendar-ics-update-not-working-in-google-calendar).

[2016-10-24 17:52] openscholar-admin opened #8987 "Filtered lists are incomplete"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/filtered-lists-are-incomplete)

**The Plan**

Fix the infinite scrolling in this page

**Description**

Some of the filters on our site (caseresources.hsph.harvard.edu) are not working properly and bring up incomplete lists.

Specifically, in our case library, the “to order cases” fi

[2016-10-24 17:56] Bilsi commented on #8987
@digitalpiku - Faceted taxonomy infinite scrolling is failing here

[2016-10-24 18:24] tcheng001 commented on #8964
For Conservative, Indigo and Red Raven, what I found is
In WYSIWYG, both heading and body are sans serif. But heading becomes Serif when rendering.

[2016-10-24 18:28] tcheng001 commented on #8964
After discussed with Dan, we can close this ticket.
Note:  we will fix Mather, Conservative, Indigo and Red Raven later.

[2016-10-24 18:29] #8964 closed

[2016-10-24 19:50] rsasch commented on #7315
@rbran100 @mpetrovic There is a new version of date_ical; will check out if it has the SEQUENCE property implemented.

[2016-10-24 21:23] mpetrovic commented on #7776
@dancabral
The spinner directive is done and ready for you to style.

You can target [button-spinner] .spinner in order to apply css.

[2016-10-25 01:11] openscholar-admin opened #8989 "Embed media file names are in places where they shouldnt"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-media-file-names-are-display-in-places-where-they-shouldnt)

**The Plan**

Remove the embed media file names that are showing up in sites

**Description**

Embed media file names should only display when in a List of Files widget. Not when placed by iteself.

 [![img](https://d

[2016-10-25 01:13] Bilsi commented on #8989
@digitalpiku, @smboser  - I emailed you about this, please make this a priority

[2016-10-25 11:34] RoySegall commented on #8941
For me it's not working:
![antoine_de_saint-exupery___john](https://cloud.githubusercontent.com/assets/1222368/19684492/176cf250-9ac0-11e6-9106-50353f1b86b7.jpg)

@mpetrovic Have any idea?

[2016-10-25 11:57] digitalpiku commented on #8989
@Bilsi After analysis, found that the cause of this issue is this change for #8945: https://github.com/openscholar/openscholar/pull/8957/files, However I have fixed this issue and created one pull request for review at PR #8992. I have verified that both the issues (8989 and 8945) are working as expected in my local environment.

[2016-10-25 13:26] RoySegall commented on #8971
@Bilsi I can see that you set it into fixed. I was going to write I can't reproduce it.

[2016-10-25 13:27] mallove commented on #8944
Marking for *review* on the following test results: https://github.com/openscholar/openscholar/pull/8963#issuecomment-255433097.

[2016-10-25 13:35] RoySegall commented on #8941
@tcheng001 Can you open the link modal?

[2016-10-25 13:37] tcheng001 commented on #8941
No, I can't open the link tool.

[2016-10-25 13:57] tcheng001 commented on #8924
This is what I see after clicking Refresh courses button.
![screen shot 2016-10-25 at 9 56 16 am](https://cloud.githubusercontent.com/assets/2111600/19688893/79cdf5ec-9a99-11e6-9fed-c8ffd9b87dec.png)

[2016-10-25 14:02] smboser commented on #8986
@Bilsi It is fixed now. PR#8993 has been created for review.

[2016-10-25 15:21] tcheng001 commented on #8971
Still not able to get updated information from the source profile. I tested using node id, and URL. Synchronization is working fine. But update is not working no matter what way I use to sync profiles.

The odd is that update was working fine when I tested on PR8888 and 3.x (before release) env.  Did we miss something in production?

[2016-10-25 16:15] rbran100 commented on #8989
@tcheng001 here is a PR to fix the embed HTML issue.  This should fix it in all places where the HTML was put on the site, although I think media widgets is probably the only place where it is allowed.

Key to test is that the LOF widget still shows the title when HTML is displayed as "title" or "teaser".  I was not able to reproduce the original issue locally so you may want to verify you see the

[2016-10-25 16:49] mallove commented on #8985
Pull request: https://github.com/openscholar/openscholar/pull/8995

[2016-10-25 17:20] tcheng001 commented on #8989
1) I do't see the issue in 3.x.
2) No title of file showed in embed widget
![screen shot 2016-10-25 at 1 13 53 pm](https://cloud.githubusercontent.com/assets/2111600/19696394/e9af76ae-9ab4-11e6-85ef-06bf8dfe2e8b.png)

3) Title showed in List of Files widget when Display style is set to Title.
![screen shot 2016-10-25 at 1 15 46 pm](https://cloud.githubusercontent.com/assets/2111600/19696465/2db98f

[2016-10-25 17:21] tcheng001 commented on #8989
@Bilsi  Good to go.

[2016-10-25 17:23] #8989 closed

[2016-10-25 17:31] rbran100 commented on #8931
@mallove The behat tests are run on a test environment that is setup in advance.  So you can setup the test content in advance with profile content on multiple domains and in the behat tests update a profile and verify that it's counterpart is also updated.

Will this work?

Or is the issue that we are trying to test an upgrade path?  If that is the case I don't think either of these will work.

[2016-10-25 17:47] openscholar-admin opened #8996 "WYSIWYG fonts dont match in themes Mather, Conservative, Indigo and Red Raven"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-fonts-dont-match-in-themes-mather-conservative-indigo-and-red-raven)

**The Plan**

Fix the bug so that 1) WYSIWYG fonts match in themes Mather, Conservative, Indigo and Red Raven. 2) There should not be any background color in the wysiwyg.

**Description**

WYSIWYG fonts don

[2016-10-25 17:56] openscholar-admin opened #8997 "WYSIWYG editor options disappear after I add a photo to my post"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-editor-options-disappear-after-i-add-a-photo-to-my-post)

**The Plan**

Fix the bug - The buttons are all greyed out on this site.

**Description**

My WYSISYG editor is working fine until add a photo and save (a table is also involved, but before adding the photo I didn't ha

[2016-10-25 17:58] openscholar-admin opened #8998 "WYSIWYG: Teaser break tag is almost invisible"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-teaser-break-tag-is-almost-invisible)

**The Plan**

Fix the teaser tag to display correctly in the wysiwyg

**Description**

The teaser break looks good at the first time. However, it becomes almost invisible after the post is saved and reopened.

 [![img](https://d2r1vs3d90

[2016-10-25 18:11] Bilsi commented on #8954
@digitalpiku - 3.49 does not have the WYSIWYG - we can post a new tarball for download. But you have access to SCHOLAR-3.x, so why are you installing from the tarball?
Also, if it works locally for you, can you look into the other 2 WYSIWYG issues?

[2016-10-25 18:11] mallove commented on #8931
I believe the test you describe has already been added in [`people.feature`](https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/behat/features/features/people.feature).  [These new tests](https://github.com/openscholar/openscholar/pull/8970/files) are essentially a broken-link checker (for a random sample of sync URLs).

[2016-10-25 18:25] #8924 closed

[2016-10-25 18:33] Bilsi commented on #8954
@digitalpiku - Can you reproduce it here http://scholar.harvard.edu/bilsi/blog

[2016-10-25 18:45] rbran100 commented on #8954
We can try setting the CKEditor setting "config.ignoreEmptyParagraph" but I am not sure if it will impact any other legitimate uses.  Looks to solve the issue though.

[2016-10-25 19:37] tcheng001 commented on #8985
Look good.  No more "Open this link in a new tab" showed.
![screen shot 2016-10-25 at 3 35 07 pm](https://cloud.githubusercontent.com/assets/2111600/19701316/d816dd2e-9ac8-11e6-91f3-9302e8078bcb.png)

Link app works as usual.

[2016-10-25 19:59] rbran100 commented on #8965
@smboser instead of fiddling with the access control, can we change the embed code provided so that it all stays within the same domain.  Either asiacenter OR projects.iq.harvard.edu.  The embed code is provided in the widget here: http://asiaevents.harvard.edu

The os_sv_list Pagination is trying to load from http://projects.iq.harvard.edu/os_sv_list/page/1399994610?page=1 (see bilsi's comment ab

[2016-10-25 20:35] rbran100 commented on #8931
ok, in that case I think we can close this.  If we are just testing that an upgrade path exists when changing the URL structure then there is not a test architecture we have that will work.  In this case you would need a DB pre URL change and post URL change and would need to validate that the URL's still work.  Behat works creating a fresh install, with pre-set data and then doing setup and modif

[2016-10-25 20:35] #8931 closed

[2016-10-26 07:08] RoySegall commented on #8971
On my local machine with 3.X branch it's working OK. Can you maybe try to create another profile and see if it's syncing or not?

[2016-10-26 08:57] smboser commented on #8986
Comment posted in PR page

[2016-10-26 11:06] Bilsi commented on #8997
@RoySegall - this is critical, can you please make it a priority

[2016-10-26 11:09] RoySegall commented on #8997
Yes.

[2016-10-26 11:10] digitalpiku commented on #8954
@Bilsi WYSIWYG issue has been resolved in our local environment, however I was unable to replicate the same. Can you send me the MS Word document from where I should copy paste the text in wysiwyg editor?

[2016-10-26 11:47] RoySegall commented on #8997
The user reported on an image, but I can see the page it's a link to PDF. I think I may have the site in of the dumps and if I'll try to replicate it somehow.

[2016-10-26 12:18] RoySegall commented on #8997
I can see that the image is an image referencing to a PDF file.  I tried to add a photo and then link it to that pdf file, and everything is OK. I need to pull the DB to see what's the problem.

Because the button is gray, that's mean there is a JS issue. I'll check and update.

[2016-10-26 12:40] RoySegall commented on #8997
I'm pulling a DB. Hope this will the right one.

[2016-10-26 12:42] #8985 closed

[2016-10-26 13:16] RoySegall commented on #8997
OK. I got the right dump now i'm checking what's the issue.

[2016-10-26 13:24] RoySegall commented on #8997
Although now that I'm looking at my dump I get a different node:
![banners_and_alerts_and_nota_bene_newsletter___department_of_the_classics](https://cloud.githubusercontent.com/assets/1222368/19727579/a648153a-9b98-11e6-95f6-650e77244885.jpg)

[2016-10-26 13:25] RoySegall commented on #8997
Maybe it's an old version of the node?

[2016-10-26 13:28] Bilsi commented on #8954
@digitalpiku - It happens consistently in scholar/projects. I have not been able to reproduce it myself in hwpi

[2016-10-26 13:53] rbran100 commented on #8997
This is fixed in production, @RoySegall has PR forthcoming to fix the issue in stage/dev.  the image2 plugin was causing issues.

[2016-10-26 14:02] Bilsi commented on #8987
@digitalpiku - reassigning this to @mallove, he is out of issues to work on

[2016-10-26 14:20] smboser commented on #8965
@Bilsi @rbran100 I got your point. Though I was not able to reproduce the cross domain scenario in my local dev env but identified the area from where the URL is being triggered. Made a little change to make the JS multi-domain compatible. PR #9000 has been created for review.

[2016-10-26 14:28] tcheng001 commented on #7697
@RoySegall    Any changes on the old search boxes ?

[2016-10-26 14:31] Bilsi commented on #7776
@mpetrovic - Please look at the bug i showed you in Cache/Reindex sites
Also, the Max redirects should only be accessible to user1, i am able to see it when logged in as bilsi - a support user

[2016-10-26 15:02] rbran100 commented on #8954
I was able to reproduce this, there were several CKEDITOR settings that allowed me to at least partly fix this but they all had drawbacks.  They would either remove all empty paragraphs which gets rid of valid ones, or replace paragraphs with break tags, or not create space when hitting enter in the wysiwyg.

Since this is a pretty widespread issue in CKEDITOR with a pretty narrow impact I think w

[2016-10-26 15:03] rbran100 commented on #8954
@Bilsi ok to close?

[2016-10-26 15:10] tcheng001 commented on #7697
tested on  http://dev.scholar.harvard.edu/tcheng3
1) Search found 4 items, but actually there are only 3. Also, the first item doesn't belong to vsite tcheng3.
![screen shot 2016-10-26 at 10 40 54 am](https://cloud.githubusercontent.com/assets/2111600/19731617/03b61528-9b6c-11e6-8d65-44216a6f4ac4.png)

2) If searching "ABC",  no "ABCD" or "ABCDE" is found. Why?   If searching ABCD, the result cont

[2016-10-26 15:38] smboser commented on #8986
@mpetrovic I have made few changes to avoid confusion. PR #8993 has been updated for review.

[2016-10-26 15:38] smboser commented on #8986
@mpetrovic I have made few changes to avoid confusion. PR #8993 has been updated for review.

[2016-10-26 15:49] mpetrovic commented on #8986
@tcheng001
Requires running updates.

[2016-10-26 16:16] Bilsi commented on #8911
Each release version corresponds to a milestone
We just released https://github.com/openscholar/openscholar/milestone/60 which corresponds to the 3.52 - http://theopenscholar.org/download? release.
We also added a changelog.txt which is a summary of the main changes

[2016-10-26 16:16] #8911 closed

[2016-10-26 16:18] #8954 closed

[2016-10-26 16:19] mallove commented on #8987
The link is set to:

[browse/publications/?f[0]=sm_og_vocabulary%3Ataxonomy_term%3A74226](http://caseresources.hsph.harvard.edu/browse/publications/?f[0]=sm_og_vocabulary%3Ataxonomy_term%3A74226)

... which unexpectedly returns only 20 results.

But the link should be set to:

[how-order-cases/available-through-harvard-business-school-publishing](http://caseresources.hsph.harvard.edu/how-order-cas

[2016-10-26 17:23] dancabral commented on #8956
@tcheng001 the only thing to QA here is it make sure the slide order is correct. In the community link above, the user was seeing the first slide in the slider form displaying last after saving.

[2016-10-26 17:26] tcheng001 commented on #8997
Don't know exactly how to reproduce the issue on production.
1) able to add image
2) able to add table
3) able to 2nd image
4) able to change image's properties
In all scenarios above, the command buttons are working properly.

[2016-10-26 18:10] tcheng001 commented on #8986
Look good.
1) No more SEO displayed in the List of Post widget (Page).
2) Checked all Display styles (include Title, Full, Teaser and Slider Teaser).

[2016-10-26 19:08] #8986 closed

[2016-10-26 19:23] tcheng001 commented on #8956
Look good. Mark "Fixed"
http://staging.projects.iq.harvard.edu/socialscience
I changed the order of widgets.
The order shows correctly in regular browser and in responsimulator.com

[2016-10-26 19:29] #8956 closed

[2016-10-26 19:39] bkosborne commented on #8911
Thanks you @Bilsi

[2016-10-26 20:16] tcheng001 commented on #8965
Pagination is working now.  But I found an issue.
In dev, the titles are wrapped in a much shorter length
![screen shot 2016-10-26 at 4 13 07 pm](https://cloud.githubusercontent.com/assets/2111600/19743402/26426d96-9b97-11e6-8de0-5164896133cc.png)

In production, the titles extends all the way to the right.
![screen shot 2016-10-26 at 4 15 30 pm](https://cloud.githubusercontent.com/assets/2111600/

[2016-10-26 20:22] rbran100 commented on #8944
Looks good, ready for QA after 2 PR questions

[2016-10-27 07:08] RoySegall commented on #7697
@Bilsi Can we prioritise it after the biblio form and the image2 issue? I'd like to hit this issue while the iron is still hot.

[2016-10-27 07:22] RoySegall commented on #8997
Manage to reproduce the problem with the second scenario from the community ticket:

![edit__custom_text_html__widget_-_2016_fall___eps_colloquia_recordings](https://cloud.githubusercontent.com/assets/1222368/19758059/1e232018-9c2f-11e6-989c-afd73b97c4e9.jpg)

Checking.

[2016-10-27 07:45] RoySegall commented on #8997
I found the problem. The function `helpers.getLinkAttributesParser` do `return CKEDITOR.plugins.link.parseLinkAttributes;`  but we disabled it in [here](https://github.com/openscholar/openscholar/blob/5e3deb63035e947317154cf70636e31fc7fafbcc/openscholar/modules/os/modules/os_wysiwyg/js/wrap_plugins.js#L15-L15)

I'll push a fix for that.

[2016-10-27 08:28] smboser commented on #8965
@tcheng001 You have to set a width to the iframe in order to achieve that. Please see below screenshots from production.
![image](https://cloud.githubusercontent.com/assets/14976596/19759991/034d56be-9c4d-11e6-95f6-f6c793e62012.png)
The above is the source image. And while adding it to embedded widget one extra width parameter is added.
![image](https://cloud.githubusercontent.com/assets/14976596/

[2016-10-27 12:24] digitalpiku commented on #8898
@Bilsi PR #9003 has been created for review.

![image](https://cloud.githubusercontent.com/assets/4848039/19766869/be0f13f0-9c6d-11e6-9bf2-a6e20bb61a30.png)

Considering the requirement for data migration of existing Scholar installation, what should be the plan here? As you can see from the altered code, that previously config data was being stored in two separate variables, where this change wil

[2016-10-27 12:27] RoySegall commented on #8973
@Bilsi @dancabral When I have values in the year and the select list and click forthcoming, or one of the other years type, the year's select list values deleted. Is that OK?

[2016-10-27 12:43] tcheng001 commented on #8965
Thanks, @smboser
Rechecked the site which contains media embed widget. It looks good. Don't know why.
1) Pagination works as expected.
2) Titles of events extends all the way to the right, same as in the production.
![screen shot 2016-10-27 at 8 35 16 am](https://cloud.githubusercontent.com/assets/2111600/19767420/bbeca788-9c20-11e6-91d8-292393d2e289.png)

[2016-10-27 12:45] RoySegall commented on #8973
Iv'e tested it a bit and it's look OK for me.

[2016-10-27 12:49] #8965 closed

[2016-10-27 13:21] Bilsi commented on #8973
@RoySegall - We want to remove the year field that shows up under in preparation, in press and working.
And when the user selects any radio button other than Published, the date of publication text should change to Expected date of publication

[2016-10-27 13:24] dancabral commented on #7776
add spinner to save button https://github.com/openscholar/openscholar/commit/c477821b3a827652b733563e3019c23c356558ad

[2016-10-27 13:33] RoySegall commented on #8973
Remove those elements?
![confpapers_tests___john](https://cloud.githubusercontent.com/assets/1222368/19769164/fda61c1c-9c62-11e6-8474-030e30f3760c.jpg)

[2016-10-27 13:44] Bilsi commented on #8997
@tcheng001 - this is the fix for centering the image

[2016-10-27 13:57] RoySegall commented on #8973
@Bilsi Can you please add your comments?

[2016-10-27 13:58] openscholar-admin opened #9004 "Taxonomy see also hiding terms"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/taxonomy-see-also-hiding-terms)

**The Plan**

Have a better display for see also terms

**Description**

[http://projects.iq.harvard.edu/resour](http://projects.iq.harvard.edu/resour)...

I have hundreds of people listed, so it would be helpful for users to see their other associate

[2016-10-27 14:26] mallove commented on #8987
The solution is to increase the *results per page* setting at [admin/config/search/apachesolr/search-pages/browse_biblio/edit](http://localhost/admin/config/search/apachesolr/search-pages/browse_biblio/edit
).  It's currently defaulting to 20.

<img width="1096" alt="search_apachesolr_search_pages_browse_biblio_edit - change results per page - screen shot 2016-10-27 at 10 22 52 am" src="https://cl

[2016-10-27 14:59] smboser commented on #8978
@Bilsi PR #9005 has been created for review.

![image](https://cloud.githubusercontent.com/assets/14976596/19772485/070448d0-9c84-11e6-8a01-6a2365460719.png)

[2016-10-27 15:04] tcheng001 commented on #8997
1) align image to the middle is not working
![screen shot 2016-10-27 at 11 03 18 am](https://cloud.githubusercontent.com/assets/2111600/19772729/1ba64a1c-9c35-11e6-9e88-767bd27d10c6.png)

2) embed video fails to resize  - relates to the fix?
The youtube video looks lik in WYSIWYG
![screen shot 2016-10-27 at 10 57 34 am](https://cloud.githubusercontent.com/assets/2111600/19772457/430b2466-9c34-11e6

[2016-10-27 15:12] mpetrovic commented on #8987
What happens if there's more than 40 results?

It sounds like the issue here isn't the size of the page, it's that the next page is never fetched by the infinite scroller. Fix that bug.

[2016-10-27 15:43] openscholar-admin opened #9006 "WYSIWYG issues"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-issues)

**The Plan**

Fix all the wysiwyg issues

**Description**
1. When you go to image properties and you set the v and h margins, they don't show properly in the public view. the margins appear on the top and left when the image is left aligned, and the top and right whe

[2016-10-27 15:56] smboser commented on #8979
@tcheng001 @Bilsi I got the issue. When video is placing directly then the description is showing correctly i.e. beside the video. E.g.- the first first video from the below screenshot. But when the same is placed through WYSIWYG editor, description is going below like the second image of the same screenshot.

![image](https://cloud.githubusercontent.com/assets/14976596/19774598/48328144-9c8b-11e6

[2016-10-27 16:26] openscholar-admin opened #9007 "I have been testing office hours signup and still find issues. I have added them to 2 posts that were labeled as solved."
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/i-have-been-testing-office-hours-signup-and-still-find-issues-i-have-added-them-to-2-posts-that-were)

**The Plan**

Fix the event is full message to display correctly for both logged in and logged out users

**Description**

Please see [http://community.openscholar.harvard....](http

[2016-10-27 17:50] tcheng001 commented on #8978
@Bilsi
Unable to test it. There is no Captioned Image option in Image Properties modal. I did run update, clear varnish and drupal cache, and clear browsing data.
![screen shot 2016-10-27 at 1 39 40 pm](https://cloud.githubusercontent.com/assets/2111600/19778471/eb27136a-9c4a-11e6-81a7-2b103bbc5cda.png)

There are two different kind of Image Properties modals. which one we want?
![screen shot 2016

[2016-10-27 17:55] mpetrovic commented on #8978
@tcheng001

You add a caption by editing the file and filling in the the Description
field.

[2016-10-27 18:42] tcheng001 commented on #8978
Look good.
![screen shot 2016-10-27 at 2 29 46 pm](https://cloud.githubusercontent.com/assets/2111600/19780195/17de1cd0-9c52-11e6-9e87-9f9824c7cd90.png)
![screen shot 2016-10-27 at 2 30 49 pm](https://cloud.githubusercontent.com/assets/2111600/19780200/1b7ec128-9c52-11e6-8fc0-dc5902338553.png)

[2016-10-27 19:14] #8978 closed

[2016-10-28 01:16] dancabral commented on #9004
@digitalpiku the plan here to get rid of the See also dropdown shown here.
<img width="465" alt="screen shot 2016-10-27 at 9 10 32 pm" src="https://cloud.githubusercontent.com/assets/867075/19790863/23af8624-9c8a-11e6-901b-4e3384966e1d.png">

Instead, we'll always display terms next to See also: ....  and when terms reach 94 chars in length we'll trim the length to the closest term under the 94 li

[2016-10-28 10:42] #8997 closed

[2016-10-28 14:09] dancabral commented on #7776
@mpetrovic can you help me get description txt into the breadcrumb screen? I attempted it here https://github.com/openscholar/openscholar/commit/73733415ff1b40282cbb406ff55f343a74bdb743

Its below the file field here in the mockup
![breadcrumb-txt](https://cloud.githubusercontent.com/assets/867075/19809256/869e5528-9cf6-11e6-8c31-f0b8cb3ff6e7.png)

But in can go just below the heading
![fav-icon_n

[2016-10-28 15:34] #8935 closed

[2016-10-28 19:40] mpetrovic commented on #7776
Added the description for the favicon.
Also, fixed a bug where the favicon form wouldn't even try to save, because angular didn't consider it dirty.
Also, fixed a bug caused by the last bug fix that prevented form fields from getting their initial values set, because I'm programming and this is what programming is like.

[2016-10-31 06:47] RoySegall commented on #8973
@Bilsi ^^

[2016-10-31 06:58] RoySegall commented on #8968
@Bilsi Why you changed it back?

[2016-10-31 07:23] RoySegall commented on #7697
It seems that I don't have the proper dump. I'll try to pull it again

[2016-10-31 11:47] RoySegall commented on #8941
Getting back to the error: the missing variable defined [here](https://github.com/openscholar/openscholar/blob/1d9011bb24c2938e433346428a05b7cedcc0fce8/openscholar/modules/frontend/media_browser/misc/MediaBrowserModule.js#L22-L22). When adding `console.log('a');` before that line I can see the log when I'm adding a blog but not when editing a taxonomy term.

I'll check why the file loaded in one p

[2016-10-31 12:54] Bilsi commented on #8973
@RoySegall - Yes, remove the year box which shows up for working paper, in press and publication
and the permitted date format text should still show up the Harvard chicago citation style only since it has the optional fields of month and day as well. It does not show up now for other citation styles and we want to leave it that way

[2016-10-31 13:30] mallove commented on #8987
Trying to figure out why infinite scroll works on `/taxonomy/term/74226`, but not `/browse/publications/`.  Correcting a few undefined JavaScript variables didn't fix the problem.  The AJAX call is working in the broken case, but need to understand why the next page data (from `?page=n`) isn't appending to the `#content` element.

[2016-10-31 13:50] Bilsi commented on #9007
@digitalpiku -  "repeats every week every Wednesday, 10 times" should not display to the user on the list of upcoming events.

[2016-10-31 13:59] RoySegall commented on #8941
@tcheng001 Can you take it from here?

[2016-10-31 15:48] openscholar-admin opened #9008 "Add documentation link to site"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/add-documentation-link-to-site)

**The Plan**

Add documentation link to Openscholar.harvard.edu

**Description**

[http://openscholar.harvard.edu/](http://openscholar.harvard.edu/)

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1501515/ScreenShot2016-10-25at12.01.56PM_inl

[2016-10-31 16:09] tcheng001 commented on #8968
Issues:
1) I added a new image, but can't access its properties.
![screen shot 2016-10-31 at 11 52 39 am](https://cloud.githubusercontent.com/assets/2111600/19860873/cf057d98-9f60-11e6-8f71-59ecfc2a9fdc.png)

something is strange. I can access image properties of the existing image.
![screen shot 2016-10-31 at 12 01 30 pm](https://cloud.githubusercontent.com/assets/2111600/19861150/db5f0cfc-9f61-1

[2016-10-31 18:36] mallove commented on #8987
`_options.content` is set incorrectly, as the following patch fixes the issue:

[code]

[2016-10-31 19:19] tcheng001 commented on #8944
@mallove
Files becomes broken image Media Browser. Have you even seen this in your local env.
![screen shot 2016-10-31 at 3 15 54 pm](https://cloud.githubusercontent.com/assets/2111600/19868157/3a5a4a6c-9f7d-11e6-876c-248662987f55.png)

[2016-10-31 19:32] mallove commented on #8944
I believe this issue is long-standing, e.g., dev.scholar with old branch [7697](https://github.com/openscholar/openscholar/tree/7697) has it too:

<img width="1394" alt="screen shot 2016-10-31 at 3 27 13 pm" src="https://cloud.githubusercontent.com/assets/17302884/19868505/b8f0d638-9f7e-11e6-9a2f-dc148e986df1.png">

[2016-10-31 19:45] mallove commented on #8987
Pull request: https://github.com/openscholar/openscholar/pull/9009

[2016-10-31 20:02] mallove commented on #8987
See also dedaabe198ec536ff11db2214a0af0f1138419e1.  (It's unclear why this change was reverted.)

[2016-11-01 13:13] tcheng001 commented on #8941
@RoySegall   still not working
1) still show the old media browser.
2) can't open link modal. When I click Link tool button, nothing happens.

[2016-11-01 13:18] RoySegall commented on #8941
Can you provide the console logs?

[2016-11-01 13:39] RoySegall commented on #7697
I was looking at this one, and I think your index is wrong. When searching ABC in @tcheng001 site I get this one:
![search___tcheng3_](https://cloud.githubusercontent.com/assets/1222368/19891455/e715add4-a048-11e6-86b4-3da4ce25fac8.jpg)

And I did not get any "extra" nodes. When searching `results` on the other site I got nothing:
![search___caroline_nowlan_](https://cloud.githubusercontent.com/as

[2016-11-01 13:41] mpetrovic commented on #8944
Does this happen with files uploaded to the install? Or just files that
existed on scholar when the db was pulled down last?

[2016-11-01 13:53] Bilsi commented on #8941
@RoySegall - it says javascript:void("link") on click
and the console error is

![1](https://cloud.githubusercontent.com/assets/11841641/19892006/14502494-a019-11e6-8b3d-17dc824352e4.png)

[2016-11-01 13:56] tcheng001 commented on #8941
If clicking Media Browser, we get these errors.
![screen shot 2016-11-01 at 9 56 19 am](https://cloud.githubusercontent.com/assets/2111600/19892079/79f64134-a019-11e6-99a0-b08e95aece2a.png)

[2016-11-01 14:00] smboser commented on #9004
@Bilsi PR #9010 has been created for review.

[2016-11-01 14:00] RoySegall commented on #8941
Hmm... It's like I did not pushed the code. Let me see if I pushed the code.

[2016-11-01 14:02] RoySegall commented on #8941
@tcheng001 I pushed again another code which was missing. Sorry. Should be good. But try to wait for the script to finish running.

[2016-11-01 14:37] mallove commented on #8944
existed on scholar when the db was pulled down last?

I see the issue with newly uploaded files to the install on dev.hwpi ([branch 8941](https://github.com/openscholar/openscholar/tree/8941)), and I can't reproduce the issue locally.

[2016-11-01 14:55] mpetrovic commented on #8941
@tcheng001

Your errors are because those images don't exist. You're on a testing
environment that doesn't have user uploaded files.

[2016-11-01 14:59] openscholar-admin opened #9011 "Slideshows not working correctly on home page and one landing page"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/slideshows-not-working-correctly-on-home-page-and-one-landing-page)

**The Plan**

Fix the bug so that the slideshow navigation displays correctly even for logged out users

**Description**

We have slide shows on our home page and landing pages.  There is anywhere from 4 to 6 slides

[2016-11-01 15:00] Bilsi commented on #9011
#8956 - could be because of this change - https://github.com/openscholar/openscholar/commit/e315328df53c868a13dfded7c3deea47a62a6d14

[2016-11-01 15:04] tcheng001 commented on #7776
- [ ]  Privacy Policy - Learn more ... links to the wrong place. Now it redirects to "http://docs.openscholar.harvard.edu/private-files"
 Should be "http://docs.openscholar.harvard.edu/creating-privacy-policy-your-website"
![screen shot 2016-10-31 at 3 59 21 pm](https://cloud.githubusercontent.com/assets/2111600/19869971/e20042ec-9f84-11e6-8bb3-0a9c99865d0a.png)

- [ ]  Domain is missing for site

[2016-11-01 15:08] RoySegall commented on #8973
@Bilsi the format of the year displayed when selecting Forthcoming, Submitted, In Preparation, In Press, Working Paper.

Why not keep only when selecting Published?

[2016-11-01 15:42] RoySegall commented on #8998
@Bilsi Is this occurs on a particular node type? I can't recreate it. Could you please give me the address to the page?

[2016-11-01 16:52] mallove commented on #8944
Labeling as QA for [more investigation on broken image links](https://github.com/openscholar/openscholar/issues/8944#issuecomment-257392581).

[2016-11-01 17:03] dancabral commented on #8979
@smboser good question. I dont think we should show the (video) description in the wysiwg. Users have never expected to see it there, so I think its fine now to show it. otherwise, looks good.

[2016-11-01 17:08] rsasch commented on #7315
@rbran100 @Bilsi Looks like date_ical doesn't support the SEQUENCE property and it isn't likely to in the future (see https://www.drupal.org/node/2626074#comment-10621744).  I can't think of any other way of doing this except to add a field to the event content type to keep track of how many times an event (or series of events) has been changed.

[2016-11-01 17:22] tcheng001 commented on #8944
Test case # | Description |  Test result
------------ | ------------- | ------
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --
1 | -- |  --

[2016-11-01 17:39] openscholar-admin opened #9012 "Having trouble with twitter widget"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/having-trouble-with-twitter-widget)

**The Plan**

Fix the twitter widget to work when set to display tweets by hashtag topic

**Description**

I have an active twitter widget on this page: [http://hsci.harvard.edu/hsci-news](http://hsci.harvard.edu/hsci-news) posting tweets from the

[2016-11-01 17:41] Bilsi commented on #9012
It works when selected to display tweets from a username. We need to fix it to work with the other 2 options too - Hashtag Topic and Search term

[2016-11-01 18:04] tcheng001 commented on #8944
Test case # | Description |  Test result
------------ | ------------- | ------
1 | resize image file in WYSIWYG |  ok
2 | text wrapping image in WYSIWYG |  ok
3 | Cropping images in Slideshow widget  |  ok
4 | Cropping image in People  |  ok
5 | Adding image to news post |  ok
6 | Adding image to publication |  ok
7 | Adding image to Media Gallery |  ok
8 | Adding gif to WYSIWYG and check column i

[2016-11-01 18:06] tcheng001 commented on #8944
@Ethan   what else you can think of that we need to test ?   If not, I can mark "Fixed"

[2016-11-01 18:12] mallove commented on #8944
I tested png, gif, and jpg.  Are there any [image formats](https://en.wikipedia.org/wiki/Image_file_formats) we *don't* support? BMP, WebP, tiff, exif?

[2016-11-01 18:24] tcheng001 commented on #8944
OS only supports gif, jpeg, jpg and png image file format.  I tested all four.

[2016-11-01 18:31] #8944 closed

[2016-11-01 19:31] rbran100 commented on #7315
Google "syncs" from the ics file every 4-24hours (have not found a concrete interval).  It adds new events fine, but like rebecca found out it is not correctly updating existing entries.  For this the SEQUENCE param is required.

@rsasch is going to try and add that using the VID to key off of so we wouldn't have to add something new.

[2016-11-01 19:33] tcheng001 commented on #9004
@dancabral  marked "Pending".   Should "And more..." and "Hide terms" look more distinguishable from the terms?

 In Listing:
1) post without term tagged
![screen shot 2016-11-01 at 3 21 19 pm](https://cloud.githubusercontent.com/assets/2111600/19903942/e13d0274-a046-11e6-9fe1-f47adf7be559.png)

2) post with some terms tagged
![screen shot 2016-11-01 at 3 22 04 pm](https://cloud.githubusercontent.

[2016-11-01 19:48] rbran100 commented on #8987
@mallove that change was reverted because @rsasch realized it did not fix the issue she thought it did.

This change looks good, it does fix the pagination on that page.

However it also breaks pagination on the main [/publications page](http://caseresources.hsph.harvard.edu/publications).  Can you take a look at the main publications page along with the [taxonomy page](http://caseresources.hsph.h

[2016-11-01 20:25] dancabral commented on #9004
@smboser this looks good! is possible to 1) include a comma just before And more... and a comma just before Hide terms. Like this: ,And More  and ,Hide Terms. 2) Is it also possible to attach a unique class to the link And more... and a different class to Hide terms ? Thanks.

[2016-11-02 07:42] digitalpiku commented on #8896
@Bilsi PR #9013 has been created for review.

[2016-11-02 08:01] smboser commented on #9007
@Bilsi Is this issue only to remove the text from upcoming events as you mentioned above? I have remove d the text from upcoming events. PR #9014 has been created for review.

![image](https://cloud.githubusercontent.com/assets/14976596/19920690/4a69b67a-a100-11e6-9900-2a8f213bbe53.png)

But for the original problem, I can't see any difference between logged in and anonymous user in SCHOLAR-3.x
Fo

[2016-11-02 08:19] smboser commented on #9004
@dancabral PR #9010 has been updated for review. I have added commas and two different classes .togglemore and .toggleless for And more... and Hide terms respectively.

![image](https://cloud.githubusercontent.com/assets/14976596/19921264/2544b108-a103-11e6-9a8b-677d45f3eaf3.png)
![image](https://cloud.githubusercontent.com/assets/14976596/19921273/34c668c4-a103-11e6-8826-dad95bcc8ffe.png)

[2016-11-02 08:33] RoySegall commented on #8973
![confpapers_tests___john_](https://cloud.githubusercontent.com/assets/1222368/19921687/c4627728-a0e7-11e6-81df-d8b0624843a3.jpg)
![confpapers_tests___john_](https://cloud.githubusercontent.com/assets/1222368/19921698/d10260ce-a0e7-11e6-894c-1b2aba22e36c.jpg)

[2016-11-02 09:53] smboser commented on #8979
@dancabral I have some confusions here. Could you please clarify what are the action items in this issue.
Thanks

[2016-11-02 11:12] digitalpiku commented on #8896
@Bilsi Moving back to "in dev". Couple of queries:
1. SCHOLAR-3.x has the below screen for private files settings screen if custom domain is setup.
![image](https://cloud.githubusercontent.com/assets/4848039/19926438/91a349a6-a11a-11e6-9ec8-8c04d021369c.png)
Please confirm whether we need to display "Harvard PIN Server application name" field in angular screen or not?

2. As per this line at https

[2016-11-02 11:36] RoySegall commented on #8968
I've been comparing the WYSIWYG with the plugin and without and it looks like the plugin change some of CKEDTIOR's functionality. I think trying to write our custom plugin would be better.

Thoughts?

[2016-11-02 13:11] Bilsi commented on #8896
@digitalpiku - this is the screen i see in prod right now
![1](https://cloud.githubusercontent.com/assets/11841641/19929919/3a42fe92-a0dc-11e6-84e5-7fd47cd90af9.png)
So stick to the screen given in the requirement - without the Harvard pin text box

[2016-11-02 13:24] RoySegall commented on #9006
Maybe the properties are a bit confusing:
![___john](https://cloud.githubusercontent.com/assets/1222368/19930007/ed58e00a-a10e-11e6-894b-7b24314e6005.jpg)

`Hspace` is 10 but eventually, we get in the  margin left and right:
![___john_](https://cloud.githubusercontent.com/assets/1222368/19930217/189285d6-a110-11e6-9c57-964a2f35a968.jpg)

[2016-11-02 13:28] Bilsi commented on #9004
@dancabral - can you look at the styling, @smboser has completed his part. Put it in QA once you are done

[2016-11-02 13:29] Bilsi commented on #8979
@smboser - The only change you need to make is to remove the  (video) description in the WYSIWYG. It should not display in the WYSIWYG.

[2016-11-02 13:38] mpetrovic commented on #8896
#disabled is currently not supported, but adding support should be simple.
Do you want to try or have me handle it?

[2016-11-02 13:51] digitalpiku commented on #8896
@Bilsi Can you check the same with a vsite with custom domain name?

[2016-11-02 13:57] digitalpiku commented on #8896
@mpetrovic Ya sure, please add support for '#disabled'.

[2016-11-02 14:11] RoySegall commented on #9006
Hmm.. Tried to look how this going in Drupal 8 and a clean ckeditor and nothing. Let me see with another projects which have ckeditor.

[2016-11-02 14:19] RoySegall commented on #9006
No this is not happens with one of our other projects.

[2016-11-02 14:35] RoySegall commented on #8973
Kepp the year through all the types

[2016-11-02 14:39] #8968 closed

[2016-11-02 14:43] rbran100 commented on #8968
Accommodating this setting introduced too many bugs, since CKEditor does not have this by default we will leave the functionality as is.

[2016-11-02 14:52] Bilsi commented on #8998
@RoySegall - We are unable to reproduce this in prod anymore

[2016-11-02 14:52] #8998 closed

[2016-11-02 15:11] Bilsi commented on #9011
@digitalpiku - this is important, we have users complaining about this issue

[2016-11-02 15:18] mpetrovic commented on #7776
@tcheng001
Delete the ngStorage-admin_menu key from your browser's localStorage to get the menu fresh.

[2016-11-02 15:35] smboser commented on #9011
@Bilsi Is it happening for any particular browser (any specific version)? I have checked with FF and chrome latest versions but found both the slide shows are working as expected even for not logged in user.
![landing](https://cloud.githubusercontent.com/assets/14976596/19935460/201f8648-a140-11e6-886b-68f6da0d5998.jpg)
![home](https://cloud.githubusercontent.com/assets/14976596/19935461/202211f6-

[2016-11-02 16:27] Bilsi commented on #9007
@tcheng001 - Can you please QA all 3 issues mentioned in the community ticket

[2016-11-02 17:50] openscholar-admin opened #9015 "Embed media inside an iframe breaking"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-media-inside-an-iframe-breaking)

**The Plan**

SNOW Ticket - INC01951560

**Description**

The Asia Center website's Events page ([http://asiacenter.harvard.edu/events](http://asiacenter.harvard.edu/events)) uses an Embed Media widget, using the embed code from the "Asia Event

[2016-11-02 18:31] mpetrovic commented on #8896
Support for #disabled has been added to the basic form types in branch
7776-angular_settings. Merge it in to your branch to use it.

[2016-11-02 18:39] #9007 closed

[2016-11-02 18:52] dancabral commented on #9004
@Bilsi how does the more / less now? I think its much better.
![screen shot 2016-11-02 at 2 51 45 pm](https://cloud.githubusercontent.com/assets/867075/19943002/017d816a-a10c-11e6-8462-cdf25919475c.png)

[2016-11-02 18:55] dancabral commented on #9004
@smboser can you check the char limit as far as when the More / Less links are triggered?  In some cases, its triggered with far fewer than 94 and in other cases its triggered when its over 100 chars. Thanks.

[2016-11-02 18:55] openscholar-admin opened #9016 "Link Content Type - open in new tab option the url gives a 404"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/link-content-type-open-in-new-tab-option-the-url-gives-a-404)

**The Plan**

Fix the bug so that a url opens correctly when checked to open in a new tab

**Description**

Add a link content type

Add the link url as

[http://www.thecrimson.com/article/201...](http://www.thecrimson.co

[2016-11-02 19:03] mallove commented on #8987
All tests of infinite scroll pass on the below publications and taxonomy pages with all possible sort-groupings (Author, Title, Type, Year):

[code]

I changed the sort-grouping settings on`/features/os_publications`:

<img width="410" alt="screen shot 2016-11-02 at 2 47 55 pm" src="https://cloud.githubusercontent.com/assets/17302884/19943130/84160fd4-a10c-11e6-9d5c-9030f10a2001.png">

[2016-11-02 19:28] tcheng001 commented on #9016
Tested the following URLs in both cases (opening in the same tab and in a new tab)
http://www.google.com
http://www.bankrate.com/funnel/mortgages/?ic_id=CR_SearchMtgProdTypeProduct&prods=216
http://www.thecrimson.com/article/2016/10/31/shakespeare-harvardx-hamlet-course-debut/
http://abcnews.go.com/Politics/states-early-voters-change-minds/story?id=43243947

[2016-11-02 20:12] dancabral commented on #9008
this is completed

![screen shot 2016-11-02 at 4 12 11 pm](https://cloud.githubusercontent.com/assets/867075/19945578/2d04632a-a117-11e6-91dd-87bef166eead.png)

[2016-11-02 20:21] #9008 closed

[2016-11-02 20:35] dancabral commented on #8024
@tcheng001 revisions should be available for blog, book, FAQ, link, news, profile and publication content.

[2016-11-02 20:41] #9016 closed

[2016-11-02 20:46] rbran100 commented on #8987
@mallove my bad, this was breaking for me before but no longer is... maybe I didn't have the new JS or something.

[2016-11-02 20:54] rbran100 commented on #9015
@mpetrovic I looked at this, and it looks like it may have always been the case because I don't see any JS on the parent that will tell iframe clicks to open in the same page.

It should just be a matter of adding target="_top" to the links in the SV list.  I don't think that that will have the cross origin issues that using JS would have... but maybe it does fall in the same bucket.

[2016-11-02 21:04] openscholar-admin opened #9018 "Relative links not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/relative-links-not-working)

**The Plan**

Home button does not work when on relative link

**Description**

I'm not sure why the relative links are not working on a site that I'm building. It does not have custom domain yet. The links are pointing to the root installation URL. In ot

[2016-11-03 08:45] RoySegall commented on #9006
OK. I looked it up again, and maybe I didn't notice it yesterday, but it seems OK for me.

@Bilsi Can you provide me the address of the page?

[2016-11-03 09:02] RoySegall commented on #8941
@tcheng001 Any new?

[2016-11-03 09:17] digitalpiku commented on #8896
@Bilsi PR #9013 has been updated for review. This is the screenshot from dev environment:
![image](https://cloud.githubusercontent.com/assets/4848039/19960701/62fd4650-a1d4-11e6-810c-6905ebaf2521.png)

[2016-11-03 12:14] RoySegall commented on #8973
@Bilsi If I'm keeping the date through all the types and should this be a required field? How the published radio button takes place if the year is always displayed?

[2016-11-03 12:14] smboser commented on #9004
@dancabral Even after doing a number of permutation and combinations with the terms I am not able to reproduce the issue. One thing to mention here, its counting 94 characters which is included spaces as well commas in between two terms. And its cutting down to the previous term if it encounters 94 characters in between a term word. But it should not exceed 94 characters limit anyway. Do I need to

[2016-11-03 12:19] RoySegall commented on #8833
@Bilsi Any new?

[2016-11-03 13:23] Bilsi commented on #9011
@smboser - It was not working, but we did have an issue where acquia rebooted our memcache servers and didnt clear the cache. We cleared the cache once we figured out what happened. It may have resolved this issue

[2016-11-03 13:23] #9011 closed

[2016-11-03 13:36] tcheng001 commented on #8941
@RoySegall   It looks better now. I changed the label to "QA".

[2016-11-03 13:46] smboser commented on #8979
@Bilsi @dancabral Change has been made, PR #8982 has been updated for review.

Video description will not show from WYSIWYG
![image](https://cloud.githubusercontent.com/assets/14976596/19968288/f38f83d4-a1f9-11e6-94aa-e0546985d438.png)

but it will show only from list of files pages
![image](https://cloud.githubusercontent.com/assets/14976596/19968202/96e9487c-a1f9-11e6-97e6-aa7a525648bc.png)

[2016-11-03 13:46] mallove commented on #9018
It's now [mysteriously] working on production.  The relative link includes the vsite, e.g., `contact` links to `/joe/contact` here: http://hwpi.harvard.edu/joe/.  Before it was linking to http://hwpi.harvard.edu/contact - without the `joe` vsite name in the URL.

See also:
- https://github.com/openscholar/openscholar/issues/5762
- https://github.com/openscholar/openscholar/issues/3249
- https://gi

[2016-11-03 13:53] openscholar-admin opened #9021 "Firefox showing small image in Media Gallery Lightbox"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/firefox-showing-small-image-in-media-gallery-lightbox)

**The Plan**

Fix the image size in lightbox in Firefox

**Description**

Firefox is showing a small version of the image when viewing a slideshow.

Complare Firefox to Chome and Safari:

[http://eaa.fas.harvard.edu/painting-f..

[2016-11-03 13:53] tcheng001 commented on #8941
Look good.
1) WYSIWYG is looking good in all basic functionalities.
![screen shot 2016-11-03 at 9 52 26 am](https://cloud.githubusercontent.com/assets/2111600/19968518/46a9b55c-a1ab-11e6-9c21-4303d8ee0f68.png)

2) the content renders correctly as well.
![screen shot 2016-11-03 at 9 53 28 am](https://cloud.githubusercontent.com/assets/2111600/19968547/66420c8e-a1ab-11e6-8fc7-688645024cad.png)

[2016-11-03 14:02] #8941 closed

[2016-11-03 14:06] #9012 closed

[2016-11-03 14:06] Bilsi commented on #9012
@mallove - Thanks for the research on this

[2016-11-03 14:09] Bilsi commented on #8979
@smboser - We would like the description to show on the edit form on the wysywig, we do not want it to render.

[2016-11-03 14:18] smboser commented on #8979
@Bilsi You do not want the description to be rendered in which area? Is it into the WYSIWYG / ckeditor area ? or into the front pages? If you do not want it to render into the WYSIWYG area, then this feature is already there, I need to revert back this commit then, please let me know.

[2016-11-03 14:22] Bilsi commented on #8973
@RoySegall - The date is only required for published radio button. For all others it is optional.
Again, display only the month and day which are optional fields only for Harvard Chicago citation style

[2016-11-03 15:04] RoySegall commented on #8973
This is what going on now. But again - if we picked `working paper` and we don't need the field so why we want to display it?

The cool date picker available only for Harvard Chicago style.

[2016-11-03 15:49] Bilsi commented on #7776
@dancabral
[ ] - Remove doc link from Cache/Reindex and Custom Domain
[ ] - Add the http:// before the input field and remove the (do not include http://) from the header
[ ] - Move Doc links up to align with the buttons. Move icon to align with the text
[ ] - Change the text for Custom domain check box explanation

@mpetrovic
[ ] - Custom domain - leave the checkbox unchecked and disabled by defa

[2016-11-03 15:56] Bilsi commented on #8871
@dancabral - Can we update this screen to look like the others

[2016-11-03 16:28] dancabral opened #9022 "Brightcove videos / Embedly not working properly in media browser"
Embedly (our 3rd party embed provider) supports video embeds from brightcove.com (see http://embed.ly/provider/brightcove). We have brightcove.com and brightcove.net both whitelisted, but get a url is not supported type error when attempting to embed a brighcove video. Brightcove videos should get added to and be recognized as a video file type.

![screen shot 2016-11-03 at 12 19 20 pm](https://cl

[2016-11-03 16:31] Bilsi commented on #9022
@RoySegall - Can you look into embeddeding Brightcove in Openscholar?

[2016-11-03 17:17] mpetrovic commented on #9022
Why are you not using the url to embed?

The only url getting checked here is the one in the script tag, which points to cdn.embedly.com, which we do not have whitelisted.

[2016-11-03 17:37] tcheng001 commented on #7776
@mpetrovic
- [ ] Unable to delete URL Redirects - confirmation is missing
- [ ] Able to add URL redirect more than that is allowed (15 by default). I added 17.

[2016-11-03 18:11] tcheng001 commented on #7776
For information only:

Setting item | support role | administrator |  user1
------------ | ------------- | --- | ---
Custom Domain | accessible | accessible | accessible
Maintenance (clear site cache) | accessible | accessible | accessible (it seems no need to clear in test env)
Maintenance (re-index) | N/A  | N/A | accessible (unable to test)
URL Redirects - Max. | N/A  | N/A | accessible
Harvard

[2016-11-03 18:47] tcheng001 commented on #8987
Look good. Tested on http://dev.hwpi.harvard.edu/case/case-library
1) Infinite scrolling works correctly on /browse/publications pages
2) Infinite scrolling works in publication pages as usual
3) pagination works correctly on /browse/publications pages
4) pagination works in publication pages as usual

[2016-11-03 18:50] dancabral commented on #9004
@tcheng001 if you have time can you check the trim length where I mentioned here https://github.com/openscholar/openscholar/issues/9004#issuecomment-258126616. When I had the branch on dev.hwpi and looking at the chemistry site http://dev.hwpi.harvard.edu/chemistry/people the More link (to display addtional terms) seem to get triggered inconsistently. Is some cases it showed after 70 term characte

[2016-11-03 19:07] mallove commented on #9018
Pull request: https://github.com/openscholar/openscholar/pull/9023

[2016-11-03 19:20] openscholar-admin opened #9024 "UX/UI - New screen for Settings --> Profiles"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/new-screen-for-settings-profiles)

**The Plan**

Create a new AngularJs screen for settings Profiles

**Description**

Create a new screens for Profiles Settings

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1505274/Untitled_inline.png?1478200418)](https://d2r1vs3d9006ap.

[2016-11-03 19:21] openscholar-admin opened #9025 "New screen for Settings --> Publications"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/new-screen-for-settings-publications)

**The Plan**

Create a new AngularJs screen for Publications

**Description**

Change the existing publication settings screen to

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1505271/1_inline.png?1478200315)](https://d2r1vs3d9006ap.

[2016-11-03 19:25] Bilsi commented on #9024
The rewuirements doc - https://docs.google.com/document/d/1S46N50KebtUUspmOH3WFfU3GSAf8IzSbDQ9mqCdq9Lk/edit

[2016-11-03 19:26] Bilsi commented on #9025
@digitalpiku - The next Angular screen to work on - here is the requirements document - https://docs.google.com/document/d/1F_QZE-mOVjnqbCfNo4npjSDy-tLtrqxw77d0Pt2DCJI/edit?usp=sharing

[2016-11-03 19:34] #8987 closed

[2016-11-03 19:36] tcheng001 commented on #8883
@Bilsi     I saw them (breadcrumbs and favicon) in PR7776.  Why need this ticket?

[2016-11-03 20:09] tcheng001 commented on #9004
@smboser   I test here http://dev.hwpi.harvard.edu/chemistry/people?page=2 and see something strange.  There are three "More".  it might relate to infinite scrolling.
I go to the /people and then start to scroll down, when in the first time I see "James G. Anderson", there are only two "More".  Then I keep scrolling down one more page and back to "James G. Anderson". This time,  it shows three "Mo

[2016-11-03 23:50] Bilsi commented on #8883
@tcheng001 - This does not have a separate PR. This is just to remind me. Leave it in QA for now

[2016-11-04 08:44] digitalpiku commented on #8896
@Bilsi @mpetrovic What needs to be done here?

[2016-11-04 13:26] mpetrovic commented on #8896
I left a note in the PR. It's about using #access correctly.

[2016-11-04 13:34] digitalpiku commented on #8896
@mpetrovic I cannot see the comment in PR #9013, can you please point it out?

[2016-11-04 14:51] mpetrovic commented on #8896
Reproduced:
os_files_private.module Line 365:
Put the access check in #access, so the link and form will never show up if the user doesn't have access to the checkbox.

[2016-11-04 16:14] tcheng001 commented on #9015
Still not working.  I did create a new List of Post (event) widget in http://dev.projects.iq.harvard.edu/asia-at-harvard-v2 and then create a new embed media widget in my test site (http://dev.projects.iq.harvard.edu/torman) using the iframe code of List of Post (event) widget.

[code]

However, the pagers are not working any more.  No way to test the links in page 2.
![screen shot 2016-11-04 at 1

[2016-11-04 20:12] ebremner17 opened #9026 "Infinite scroll is throwing js errors"
Infinite scroll was throwing js errors on .live line 54 of modules/os/js/os_infinite_scroll_general.js.  Change to .on and works fine.

[2016-11-04 20:14] ebremner17 opened #9027 "Type not defined javascript error on the nice_menu.js"
There was a Type not defined javascript error on the nice_menu.js on line 16.   Superfish upgrade to 1.7.9 solves the problem.

[2016-11-04 20:30] Bilsi commented on #8871
@digitalpiku - Can we merge 7776_angular_settings branch into this? There are conflicts

[2016-11-04 21:23] ericfreyss commented on #8694
I have found a solution here:
https://www.drupal.org/node/2767577
it supposes changing the default jquery version to 1.8 ... but is it satisfactory ?

[2016-11-04 21:53] l0me commented on #8694
Thanks Eric,

It will work for sure unless OS is requiring a lower version of jquery
which would surprise me.

Thanks alot!

Erik

On 4 Nov 2016 10:23 p.m., "ericfreyss" <notifications@github.com> wrote:

[2016-11-04 22:42] Bilsi commented on #9006
@RoySegall - I can give you a site with the h and v space issue, but did you the other issue with the HTML not being formatted?

[2016-11-07 08:26] RoySegall commented on #8973
I understand from @Bilsi We need to display the new date field through all the publications types.

[2016-11-07 08:50] RoySegall commented on #9006
Are you talking about #9022 ?

[2016-11-07 11:22] RoySegall commented on #9022
@Bilsi I'm trying to register to the service but I cannot. I believe there is a temporary issue with the service.

[2016-11-07 11:37] RoySegall commented on #9024
What about #8833? Why not close that one first and then moving on the this issue?

[2016-11-07 11:45] digitalpiku commented on #8896
@Bilsi  PR #9013 has been updated for review.

[2016-11-07 11:53] digitalpiku commented on #8871
@Bilsi 7776_angular_settings branch has been merged into this.

[2016-11-07 13:35] smboser commented on #9004
@dancabral @tcheng001 The observation is fixed now and PR #9010 has been updated for review.

[2016-11-07 13:47] Bilsi commented on #9006
@RoySegall - No
In our screen, the source view looks like this

![1](https://cloud.githubusercontent.com/assets/11841641/20059932/b8061790-a4c6-11e6-8018-db2f8328da61.png)

In the CKEDITOR demo site, it looks formatted like below
![2](https://cloud.githubusercontent.com/assets/11841641/20059931/b8033f84-a4c6-11e6-933a-489d088f0310.png)

[2016-11-07 13:54] RoySegall commented on #9006
Could you provide the address of the page? 10x.

[2016-11-07 13:55] tcheng001 commented on #9006
@RoySegall   I am trying to reproduce the issue somewhere in production. Will let you know soon.

[2016-11-07 14:04] RoySegall commented on #9006
http://scholar.harvard.edu/tcheng3/news/news-010

[2016-11-07 14:08] RoySegall commented on #9006
Looks to like a CSS issue and not some output we are altering

[2016-11-07 14:22] tcheng001 commented on #9006
The image looks good. HSpace is set to 0.
![screen shot 2016-11-07 at 8 59 33 am](https://cloud.githubusercontent.com/assets/2111600/20060843/1dbf6358-a4cb-11e6-90c1-c091b8c18fd0.png)

HSpace is set to 20, the padding still looks good in WYSIWYG
![screen shot 2016-11-07 at 9 00 17 am](https://cloud.githubusercontent.com/assets/2111600/20060923/79d72b3a-a4cb-11e6-9cff-72bf21e6a911.png)

But the pos

[2016-11-07 14:42] RoySegall commented on #9022
http://ethics.harvard.edu/videos

[2016-11-07 14:44] Bilsi opened #9029 "Documentation screen looks different in the demo install"
In the demo install - http://scholar-demo.harvard.edu
Click on Help --> Documentation , the screen should look the same as in the other installs.

[2016-11-07 14:44] Bilsi commented on #9029
@mallove - If you have trouble with access to this install, please let me know

[2016-11-07 15:48] tcheng001 commented on #8024
- [ ]  1. "Created by FeedsNodeProcessor" is strange  (see the image below).  It seems this issue only occurs in the existing posts.

Steps to reproduce:
a) Edit an existing post
b) Create a revision (named "base")
c) Open the revision modal
Note: the bottom entry is Created by FeedsNodeProcessor
![screen shot 2016-11-07 at 10 37 05 am](https://cloud.githubusercontent.com/assets/2111600/20063899/d

[2016-11-07 16:13] tcheng001 commented on #9004
Look good.
![screen shot 2016-11-07 at 11 10 55 am](https://cloud.githubusercontent.com/assets/2111600/20065092/e3910352-a4da-11e6-80db-ce38082cf66f.png)

![screen shot 2016-11-07 at 11 11 26 am](https://cloud.githubusercontent.com/assets/2111600/20065112/f106b626-a4da-11e6-9728-ed24dc8a6216.png)

![screen shot 2016-11-07 at 11 11 54 am](https://cloud.githubusercontent.com/assets/2111600/20065133/

[2016-11-07 16:15] #9004 closed

[2016-11-07 18:15] mallove commented on #9029
The main content is floating slightly right (or is indented), and there is some extra whitespace below the heading on the demo's Documentation page:

<img width="1256" alt="screen shot 2016-11-07 at 1 12 49 pm" src="https://cloud.githubusercontent.com/assets/17302884/20069780/f5f10ef0-a4eb-11e6-8bad-94c30f20c8c5.png">

[2016-11-07 18:28] tcheng001 commented on #8973
Still not seeing the fix, not even the new month/day/year field. I did clear everything. Am I missing something?
![screen shot 2016-11-07 at 1 26 50 pm](https://cloud.githubusercontent.com/assets/2111600/20070327/fe257f46-a4ed-11e6-9cb4-b293b9112457.png)

[2016-11-07 18:37] Bilsi commented on #8973
@RoySegall - The publication radio button is missing. Can you look at the requirement here - https://github.com/openscholar/openscholar/issues/8973#issuecomment-254570791

[2016-11-07 18:50] Bilsi commented on #7776
@dancabral - When we reach max redirects, can we fix the ui to look better
![1](https://cloud.githubusercontent.com/assets/11841641/20071134/280d0042-a4f1-11e6-934e-ae3253e7541f.png)

[2016-11-07 20:35] dancabral commented on #7776
all set @Bilsi . should look like this now.
![screen shot 2016-11-07 at 3 34 02 pm](https://cloud.githubusercontent.com/assets/867075/20074815/c7a7f4a0-a4ff-11e6-88f8-bc178674ac10.png)

[2016-11-07 21:41] dancabral commented on #8973
@RoySegall hoping this mockup makes it a clearer as to the various versions of this part of the pub form. let us know if anything is unclear.
![pub-form_cleanup](https://cloud.githubusercontent.com/assets/867075/20077098/f9f4998c-a508-11e6-9efd-a0709a7a5ac3.png)

[2016-11-07 21:48] Bilsi opened #9030 "Unable to change Site ownership to a user without a linked acccount"
1. Login to this site as user1 - http://projects.iq.harvard.edu/laying_up_treasures
2. Go to Manage Members
3. Select "Change Owner", the drop down only displays HKey users

I thought we allowed user1 to give site ownership to anyone with an OS account and bypass the rule

[2016-11-07 21:52] Bilsi commented on #8871
Merged into the main global settings branch 7776-angular_settings

[2016-11-07 21:54] dancabral commented on #8979
@smboser the video description should not display in the wysiwyg in any context.

[2016-11-07 22:02] dancabral commented on #8979
@smboser dont display the description text in the wysiwyg/ckeditor body field. this way it'll be consistent with the way images with descriptions display in the wysiwyg

[2016-11-08 00:01] Bilsi commented on #8871
@digitalpiku - I am seeing a blank modal here - http://staging.scholar.harvard.edu/bilsi#
The events page showed correctly, it vanished after i selected the checkbox for export.

[2016-11-08 10:35] smboser commented on #8979
@Bilsi @dancabral It is now working as you mentioned. One can enter description from the media edit dialog but that won't be seen on WYSIWIS. After rendering it can be seen in front pages.
![1](https://cloud.githubusercontent.com/assets/14976596/20095838/24c76d6e-a5cd-11e6-9518-adee41203f3f.gif)

[2016-11-08 11:37] digitalpiku commented on #9025
@Bilsi @mpetrovic @dancabral How to divide the set of checkboxes into 3 column design? Is there any existing template for angular form rendering? or we need to use CSS for this?

![image](https://cloud.githubusercontent.com/assets/4848039/20097654/9653ebb2-a5d5-11e6-83d3-be02aff49b2a.png)

[2016-11-08 11:42] RoySegall commented on #8973
I pushed the changes. There is a problem with the year placeholder when changing the publications types. I'll handle it.

[2016-11-08 11:47] digitalpiku commented on #8871
@Bilsi The text used in events settings page is confusing, the checkbox label says "Export Options", but the below mentioned text is "Do not display export options on event pages". Currently if I do not tick the checkbox, then only export options are being displayed in events page.

![image](https://cloud.githubusercontent.com/assets/4848039/20097874/a6e379ec-a5d6-11e6-9846-2d65d7f6ddc2.png)

[2016-11-08 11:48] RoySegall commented on #9024
@mpetrovic Is there a way to add custom CSS and JS files to the modal?

[2016-11-08 12:23] RoySegall commented on #9022
@Bilsi I remember we talked about the video in http://ethics.harvard.edu/innovations-ethics-training-ending-institutional-corruption which not working. I'm unable to register to the service, but it seems to work OK.

And even this one - http://ethics.harvard.edu/lightning-rounds-ii-ending-institutional-corruption - seems OK.

Do you know if there are more bad pages?

[2016-11-08 13:53] RoySegall commented on #9006
Checking.

[2016-11-08 14:06] rbran100 commented on #8871
We should change it to "Hide Export Options"

[2016-11-08 14:09] RoySegall commented on #9006
I managed to get the same affect in my machine:
![ssdsssd___john](https://cloud.githubusercontent.com/assets/1222368/20102166/b9756826-a5cd-11e6-9c2f-0c2126819ec9.png)

[2016-11-08 14:10] rbran100 commented on #9025
@mpetrovic I think this is the first time we have done anything that looks like this.  What do you think, should we try and do this with form settings in the drupal hook or with a custom template, or both?

[2016-11-08 14:16] RoySegall commented on #9006
I know why we get this strange appearance:
![ssdsssd___john](https://cloud.githubusercontent.com/assets/1222368/20102285/49ce42d0-a5ce-11e6-9ae9-ed3c9dbe319e.png)

Though we set up the image to get 20 margin the span that wraps the image get the margin and the width as well. I'll check it why.

[2016-11-08 14:28] dancabral commented on #8871
@rbran100 @Bilsi I'll update the text to read

Choose how Events will display
[chk-box] Do not display export options on event pages

[2016-11-08 14:40] rbran100 commented on #9022
Roy is rechecking

[2016-11-08 15:22] rbran100 commented on #9024
@mpetrovic suggested that you use a new Directive for that similar to the way he did the redirect settings. that way you can include custom js/css.

[2016-11-08 15:26] mpetrovic commented on #7776
* [ ] Add column system, to allow forms to be sorted into columns.
* [ ] Split cp_settings hooks into separate files using [Drupal's Hooks API](https://api.drupal.org/api/drupal/modules%21system%21system.api.php/function/hook_hook_info/7.x) to reduce code load on average page.

[2016-11-08 16:06] mpetrovic commented on #9025
@digitalpiku
Merge in the latest from 7776-angular_settings and add the '#column' key to the form definition. See vsite_cp_settings() for an example. The '#column' key can be anything. Don't worry about styling the columns themselves, @dancabral will take care of it.

[2016-11-08 16:06] Bilsi commented on #8871
@dancabral - Looks good,
@digitalpiku - Events works fine now, i just cleared my browser cache. Sorry about the confusion

[2016-11-08 16:13] dancabral commented on #8871
@Bilsi these label changes are done https://github.com/openscholar/openscholar/issues/8871#issuecomment-259150412

[2016-11-08 16:27] rbran100 commented on #9022
@RoySegall did you see Matt's comment above about the CDN url?

[2016-11-08 19:08] rbran100 commented on #8979
@dancabral do you mind taking a look, I can't tell what else might be impacted.

[2016-11-08 21:30] rbran100 commented on #7697
Everything worked great for me, by content type, vocab term, and sort.  Migration of existing boxes went well.  Marking as Fixed.

[2016-11-08 23:15] Bilsi commented on #7697
@RoySegall - Can you fix the test case that is breaking for this pr? And then I can close this issue

[2016-11-09 08:17] RoySegall commented on #9006
Ways to reproduce:
1. Insert and image
2. Align it to the left
3. Add text near the image

[2016-11-09 11:33] RoySegall commented on #9022
Stil unable to register to the service.

[2016-11-09 11:45] RoySegall commented on #9022
I took embed code for two videos:
https://gist.github.com/RoySegall/ed44713c054ad69a574eae22575559a3

[2016-11-09 12:42] RoySegall commented on #9022
I wanted to make sure the problem is not only in the CDN and maybe there is a problem with the  service. I also took a video from the live and whitelist all the links in there and the embed went OK.

But not the URL inside the script is not whitelisted but also the URL inside the href:
![embeded_code_domain_whitelist___harvard_web_publishing](https://cloud.githubusercontent.com/assets/1222368/2013

[2016-11-09 14:00] RoySegall commented on #7697
Yes, I'll fix the tests.

[2016-11-09 14:19] rbran100 commented on #9006
This looks good, one thing to check in QA was that the code removed was code that @mpetrovic added to " Fix bug causing repeated nesting of spans around embeds.", I couldn't find anything about that in the issue so we should see if Matt remembers about it so we can validate that this does not re-introduce that bug. (The code was pretty old)

[2016-11-09 14:47] rbran100 commented on #9022
@bilsi indicated that the first item was not working, which was a soundcloud URL, that is whitelisted so I tried it and got the same URL error.

https://www.dropbox.com/s/dipci3xwkiphmpc/Screenshot%202016-11-09%2009.46.08.png?dl=0

[2016-11-09 16:18] Bilsi commented on #9022
@RoySegall - We just have a ticket http://community.openscholar.harvard.edu/openscholar/topics/videos-from-vimeo-not-allowed

So turns out that even for vimeo, the url https://player.vimeo.com/video/187859629 does not work, but https://vimeo.com/6370469 works,.
Maybe we have the same issue with brightcove, if so, it is an issue by embed.ly

[2016-11-09 19:36] dancabral commented on #9021
Firefox on initial load.
![small](https://cloud.githubusercontent.com/assets/867075/20151871/e63dd638-a689-11e6-8506-5966abbf069a.png)
Firefox on reload.
![large](https://cloud.githubusercontent.com/assets/867075/20151887/f7f89e62-a689-11e6-8201-5e92b7bbc8e3.png)

[2016-11-09 20:22] dancabral commented on #8981
@digitalpiku the plan here to fix a relative link path bug when the page that the link is on has a url alias with a slash (or slashes) in it.
Page with slash in the alias
![alias](https://cloud.githubusercontent.com/assets/867075/20153275/fec8126c-a68f-11e6-8099-ef503f746de5.png)

Relative text link set up that should point to the root of the site.
![relative-path](https://cloud.githubusercontent.

[2016-11-09 21:57] dancabral commented on #9021
Not sure what to do with this one @rbran100 @Bilsi . Images in the gallery need to be able to display captions in order to qa it.

Have a caption here
![screen shot 2016-11-09 at 4 55 17 pm](https://cloud.githubusercontent.com/assets/867075/20156235/852de748-a69d-11e6-97eb-36aed21525aa.png)

But it doesnt print out
![screen shot 2016-11-09 at 4 55 31 pm](https://cloud.githubusercontent.com/assets/

[2016-11-09 22:07] dancabral commented on #8979
Still testing it @rbran100. I want to see it in a few different scenarios

[2016-11-10 02:37] dancabral commented on #8979
@digitalpiku seeing the title/description on the side of the thumbnail - set up is List of Files in a columns widget
<img width="674" alt="screen shot 2016-11-09 at 9 33 25 pm" src="https://cloud.githubusercontent.com/assets/867075/20162684/bbc2dff8-a6c4-11e6-9adc-f17b6469b92e.png">

[2016-11-10 08:40] RoySegall commented on #9022
From what I can see we don't handle sub-domain but let me check it just to make sure.

[2016-11-10 08:43] RoySegall commented on #7697
I run the test on my local machine and it's OK. I'll try to see why it's failing.

[2016-11-10 08:44] RoySegall commented on #7697
Sorry. I was on the wrong branch.

[2016-11-10 09:14] RoySegall commented on #7697
The problem is when the module is enabled the old block was no replaced by the widget.

[2016-11-10 09:49] RoySegall commented on #7697
The only way I managed to solve it is to forcing the include of the class.

[2016-11-10 12:00] RoySegall commented on #7697
I manged to fix all the tests excpept for [one](https://travis-ci.org/openscholar/openscholar/jobs/174728352#L5683). It's caused because the script did not replaced the block on the front page.

We can remove it for now or I can fix it when I get back to work next week.

[2016-11-10 12:01] #8871 closed

[2016-11-10 12:58] smboser commented on #8979
@dancabral @Bilsi - Its modified and PR #8982 has been updated for review.
![image](https://cloud.githubusercontent.com/assets/14976596/20177560/7277950a-a773-11e6-9997-30945e13da4b.png)

[2016-11-10 13:24] smboser commented on #8981
@Bilsi I have understood the requirement but isn't the intended behavior of the editor. Suppose I have a site which is at sub-folder e.g. - "http://dev.hwpi.harvard.edu/chemistry". If we set a link from one of its page and if it points to the root then the URL will be invalid (http://dev.hwpi.harvard.edu/[link]). Instead it should create a link like http://dev.hwpi.harvard.edu/chemistry/[link].

T

[2016-11-10 13:40] digitalpiku commented on #9025
@Bilsi @mpetrovic @dancabral I have understood the implementation of #column key here and already implemented this in the dev branch. However, I have one doubt about the checkbox set  of Publication Page settings where **same set of checkbox** options are divided into 3 columns. Is there a way in CSS to convert single line checkbox set into 3 columns? If not, then how to use #column key here, as t

[2016-11-10 14:11] Bilsi commented on #7776
@dancabral - Can we update the doc urls ?
1. Long list Display -  http://docs.openscholar.harvard.edu/global-site-settings#content-display
2. SEO - http://docs.openscholar.harvard.edu/global-site-settings#search-engine-optimization
3. URL redirects - http://docs.openscholar.harvard.edu/global-site-settings#site-redirects
4. Events - http://docs.openscholar.harvard.edu/global-site-settings#event-se

[2016-11-10 14:47] dancabral commented on #8981
Sorry for the confusion @smboser. When I said it should point or relative to the root, I meant the vsite root-- chemistry being the root in this example  http://dev.hwpi.harvard.edu/chemistry

[2016-11-10 15:19] mpetrovic commented on #9015
Back to QA

[2016-11-10 16:01] dancabral commented on #9025
http://stackoverflow.com/questions/3009670/flow-2-columns-of-text-automatically-with-css

[2016-11-10 16:08] openscholar-admin opened #9032 "Assigning Website Roles When Adding Members to a Website"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/assigning-website-roles-when-adding-members-to-a-website)

**The Plan**

Update the screen to let users choose the role when they add members

**Description**

Dear Open Scholar Team:

Good morning. Would it be possible to assign one a viewer role at the same time as when making them

[2016-11-10 16:14] Bilsi commented on #9032
@digitalpiku - @dancabral will update the ticket with the screen. Once you finish developing, please check to make sure that just one email is sent on clicking save and that the role is correct in the email

[2016-11-10 17:01] dancabral commented on #7776
@Bilsi these https://github.com/openscholar/openscholar/issues/7776#issuecomment-259699257 help doc urls have been added/updated to the settings modals.

[2016-11-10 17:13] dancabral commented on #9032
@digitalpiku the plan here is to also include the role settings form currently found on the edit members modal of any vsite.
![screen shot 2016-11-10 at 12 12 09 pm](https://cloud.githubusercontent.com/assets/867075/20186699/fc26546a-a73e-11e6-8190-3a972554847f.png)

To the add a new member form/modal. Like this.
![screen shot 2016-11-10 at 12 12 09 pm](https://cloud.githubusercontent.com/assets/8

[2016-11-10 17:19] #9015 closed

[2016-11-10 17:20] #8883 closed

[2016-11-10 17:21] Bilsi commented on #9032
@digitalpiku - We are planning to rewrite this screen in the future, so let me know how much you estimate this work to be

[2016-11-10 17:26] Bilsi commented on #9029
@mallove - The UX group has the new screens almost ready, Let us address it with that development. Placing this on hold till then

[2016-11-10 17:26] openscholar-admin opened #9033 "Improve Shareability of Facebook and Twitter"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/improve-shareability-of-facebook-and-twitter)

**The Plan**

Share the image, title and description from OS to facebook and twitter

**Description**

When sharing an OpenScholar post on Facebook or Twitter, the image, title and/or description appear to be missing.

Currently, the Ope

[2016-11-10 17:35] rsasch commented on #8024
@tcheng001 I can only reproduce this if the node was originally created by importing content.

[2016-11-10 18:26] Bilsi commented on #8024
@rsasch - Thanks Rebecca, i think we can ignore it then

[2016-11-10 18:44] dancabral commented on #7776
confirm favicon text is correct...drop period from button, move file type into text, etc

[2016-11-10 20:10] openscholar-admin opened #9035 "New screen for Help --> Documentation and Support"
[View or participate in the full discussion on our Community website](http://community.openscholar.harvard.edu/openscholar/topics/new-screen-for-help-documentation-and-support)

**The Plan**

Create new screens for Help

**Description**

We would like to replace the existing screens for Documentation and Support with new modals in AngularJS

[2016-11-10 20:10] openscholar-admin opened #9036 "UX/UI - New screen for Settings --> Enable / Disable Apps"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/new-screen-for-settings-enable-disable-apps)

**The Plan**

Create a new screen for Enable/Disable Apps

**Description**

We would like to replace the existing Settings --> Enable apps screen with the screen below

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1508376/1_inl

[2016-11-10 20:13] Bilsi commented on #9035
@digitalpiku @smboser - here is the requirement doc for this
https://docs.google.com/document/d/1_7EBHTnOzBZ11D2Xvi6T9Hlu_6joZO8EcLntXTjIXJc/edit

We are keeping the existing layout with minimal changes, except that it will be in angularJs

[2016-11-10 20:41] Bilsi commented on #8024
@rsasch - Clicking to view a revision displays the screen https://github.com/openscholar/openscholar/issues/8024#issuecomment-250227553 when there are images or videos in the papge

[2016-11-11 13:21] digitalpiku commented on #9025
@dan Thanks! that worked perfectly. Checkboxes are now rendering in 3 columns. @mpetrovic The form data is not being saved for multiple checkbox sets (type="checkboxes") as those are supposed to be saved as an array rather than a single variable. I guess some changes need to be done in apSettings. I have added support for "select" and "checkboxes" form element, Select list is being saved perfectly

[2016-11-11 13:45] mpetrovic commented on #9025
Try binding ng-model on the checkboxes to value[val]. Right now, it looks
like you're binding every checkbox to an array of values, when you need to
be binding to a single value in the array.

On Fri, Nov 11, 2016 at 8:21 AM, Anish Boral <notifications@github.com>
wrote:

[2016-11-11 15:02] smboser commented on #8981
@Bilsi Its done. PR #9037 has been created for review.

[2016-11-12 22:45] darrenchaker commented on #8813
Reply by [Darren Chaker](http://darrenchaker.us/) : Ideally all incoming and outgoing email, and to secure those email in an encrypted form.

[2016-11-13 22:48] tcheng001 commented on #7776
- [ ] URL direct is still not working.  Nothing happens when I click  Add Redirect button. I did clear everything before testing.

[2016-11-14 11:16] RoySegall commented on #7697
I did some more digging on this and seems to me that all I need is that re-add the search block to the main page. I need to see how.

[2016-11-14 11:50] RoySegall commented on #7697
@rbran100 Do you know of any API function for doing it?

[2016-11-14 12:21] RoySegall commented on #9022
Indeed we have a problem with the way we checking the whitelisted domains. I took and embed code:
[code]

And whitelisted at the beginning `http://www.youtube.com` and try to submit the form but could got the error. I added `https://www.youtube.com` and got the same error. I then whitelisted `www.youtube.com` and manged to add the video.

Then I tried to add
[code]

And got the error that the doma

[2016-11-14 13:26] RoySegall commented on #8973
Ready for review.

[2016-11-14 13:53] RoySegall commented on #9022
I'll try to see how can I fix it.

[2016-11-14 15:03] Bilsi commented on #9030
Marking as fixed.
Only user1 has access to change site ownership to a non Hkey user

[2016-11-14 15:03] #9030 closed

[2016-11-14 15:28] RoySegall commented on #7697
@Bilsi The PR part is ok and the push seems OK. it's supposed to be green in the next half hour.

[2016-11-14 15:29] RoySegall commented on #9022
@Bilsi Ready for review.

[2016-11-14 15:33] Bilsi commented on #8973
@RoySegall - a small issue
When I select the "Published" radio button and enter the year, the other radio buttons are disabled. Can we leave them enabled.
Right now, the only way to change it to "Forthcoming" or any of the other options is to clear the textbox which is not intuitive to the user.

![1](https://cloud.githubusercontent.com/assets/11841641/20270630/d391058a-aa55-11e6-8bff-c48b78d6e052

[2016-11-14 16:06] #7697 closed

[2016-11-14 16:15] openscholar-admin opened #9039 "PubMed import not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/pubmed-import-not-working)

**The Plan**

Fix the issue so that users can import pubmed successfully

**Description**

Hi, I tried yesterday and today to import a publication using the import > PubMed ID list or import > PubMed XML and either way, I get an error message (different er

[2016-11-14 16:21] Bilsi commented on #9039
@digitalpiku, @smboser -
1. Login to a site.
2. Go to Site content --> import --> Publications
3. Select file type as PubMed XML
4. You can import a file in any of the following formats here - xml bib enw mrc ris txt.
5. You can get sample data to import from  here - https://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.Example_of_a_Standard_XML
6. I tried the xml format and got the following

[2016-11-14 16:36] openscholar-admin opened #9040 "Embedded Google calendars displaying incorrectly - again"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embedded-google-calendars-displaying-incorrectly-again)

**The Plan**

Fix the issue with embedded google calendars

**Description**

This was fixed about a month ago (see the old thread at [http://community.openscholar.harvard....](http://community.openscholar.harvard.edu/openschola

[2016-11-14 18:32] pthompsen opened #9041 "install issues with oembed error"
I have unsuccessfully tried to install Open Scholar for the past two years on a MacOS server. Using the most recent 7.x-3.52.3 release, I see the following errors in the attached screenshot even before the installation is complete.  Although I can proceed with the installation, I continue to get warnings about the oembed module.  If I remove this module, this in turn breaks other modules that are

[2016-11-14 18:56] dancabral commented on #8981
confirming fixed. when a page has an alias with a slash or multiple slashes in the path (see 1) a relative text link pointing to the vsite root has a link relative to the root and not the alias path.
![screen](https://cloud.githubusercontent.com/assets/867075/20278302/2ce5822a-aa72-11e6-8526-f4e888a30661.png)

[2016-11-14 19:00] mallove commented on #9018
Answered [question](https://github.com/openscholar/openscholar/pull/9023#discussion_r87851341), removed pending label.

[2016-11-14 19:15] dancabral commented on #9029
heres the screen @mallove to repalce the sociology site screen
![docs](https://cloud.githubusercontent.com/assets/867075/20278983/c36f6f10-aa74-11e6-9a87-38c05ede6ec4.png)

[2016-11-14 19:53] dancabral commented on #9018
@mallove a relative link set to home renders a link relative to the page/section that its on, not the vsite root. Also, I'm wondering if this fix https://github.com/openscholar/openscholar/issues/8981 will also fix this tics issue 9018.
![relative-link](https://cloud.githubusercontent.com/assets/867075/20280333/1c13cf30-aa7a-11e6-852d-3c04c2d44de2.png)

[2016-11-14 20:13] mpetrovic commented on #9041
None of those errors. They're not even things that would cause installation
to fail. Scroll down and continue the installation.

[2016-11-14 20:36] pthompsen commented on #9041
Well, I did continue the installation, and the warnings in red continue to display.  Are you saying I should just turn down the warning level so I don't see the warnings?

[2016-11-14 20:43] mpetrovic commented on #9041
You can do that. Or you could leave them on and ignore anything at Warning
or lower.

[2016-11-15 01:05] tcheng001 commented on #7776
change won't not appear until the page refreshes
steps to reproduce:
1) open the modal
2) add a new redirect
3) close the modal
4) reopen the modal  (note: you won't see the newly added redirect)
5) close the modal
6) reload the page
7) reopen the modal  (note: the newly redirect from step 2 appears as expected)

[2016-11-15 10:57] RoySegall commented on #8973
Yeah, sure. That would not be a problem.

[2016-11-15 11:35] RoySegall commented on #8973
@Bilsi I pushed the changes.

[2016-11-15 11:35] RoySegall commented on #9006
@Bilsi Why you changed the label to "in dev"?

[2016-11-15 11:49] digitalpiku commented on #9025
@rbran100 @mpetrovic After implementing value[val] The checkbox selection is now saving for Display publication types options checkboxes, However there are 2 different set of checkboxes in publication settings page, where we have string as array key instead of numeric value (Display publication types options has numeric array keys and it is working as expected). Data is not being saved for these f

[2016-11-15 13:41] RoySegall commented on #9024
I've tried to create a directive but I probably missed something. Any example?

[2016-11-15 13:54] #8996 closed

[2016-11-15 14:42] mpetrovic commented on #9024
frontend/ap_settings_form/redirect.module.js is an example

[2016-11-15 15:31] Bilsi commented on #9018
Fixed

[2016-11-15 15:31] #9018 closed

[2016-11-15 15:42] Bilsi commented on #8973
@RoySegall - I selected "Forthcoming" and entered the year textbox.
Publication is checked automatically and forthcoming is unchecked.
Please fix this

[2016-11-15 15:54] Bilsi commented on #9006
@RoySegall - The source code is still not formatted

[2016-11-15 16:43] rbran100 commented on #9025
@digitalpiku it should be easy with ngShow.  just add ng-model to the radio items, and then ng-show on the citation div where the model variable is equal to the citation style.

[2016-11-15 17:08] openscholar-admin opened #9044 "Embed media widget: Max width setting doesn't work with image"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-media-widget-max-width-doesnt-work-with-image)

**The Plan**

Fix the width for an embed media widget

**Description**

No matter what value is set for Max Width of Media, the rendered size of image is always to be the same. The image extends to the allowable maximum width.

[!

[2016-11-15 17:12] openscholar-admin opened #9045 "WYSIWYG - can't remove link from text"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/wysiwyg-cant-remove-link-from-text)

**The Plan**

Fix the issue with the wysiwyg link

**Description**

In the WYSIWG, text links cant be removed. To reproduce, create a text link with a url > Save. Open to edit, click the link icon then clear the url field > Save. The anchor  marku

[2016-11-15 17:16] Bilsi commented on #7776
@dancabral - Can you just update these doc urls
The Events app settings should point here:
http://docs.openscholar.harvard.edu/events-app#events-app-settings
The Favicon here: http://docs.openscholar.harvard.edu/adding-site-favicon

[2016-11-15 17:31] openscholar-admin opened #9046 "Embed widget width not working"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/embed-widget-width-not-working)

**The Plan**

Fix the width in embed media

**Description**

The embed widget functionality isnt working properly. The width of embedded widget is far too narrow to fill its containing region.

 [![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/

[2016-11-15 18:11] dancabral commented on #7776
@Bilsi those urls https://github.com/openscholar/openscholar/issues/7776#issuecomment-260705013 have been updated

[2016-11-15 20:01] Bilsi commented on #8858
@digitalpiku - Please merge 7776-angular_settings into this branch to resolve conflicts

[2016-11-15 20:07] #7776 closed

[2016-11-15 20:28] rbran100 commented on #9022
Notes in the PR @RoySegall

[2016-11-15 20:57] Bilsi commented on #9045
@RoySegall - Some issue with the link, can you look at this url for more information - http://community.openscholar.harvard.edu/openscholar/topics/wysiwyg-cant-remove-link-from-text

[2016-11-15 21:20] rbran100 opened #9051 "Embed Widget pager not working"
http://asiacenter.harvard.edu/events?admin_panel=1

[2016-11-16 06:08] RoySegall commented on #9006
Ohh, right. I didn't add this to the issue and I forgot about it. I'll figure it out.

[2016-11-16 07:59] RoySegall commented on #9024
OK. I got something:
![john](https://cloud.githubusercontent.com/assets/1222368/20339143/664e30d0-abe3-11e6-9b47-ef84785dc09c.jpg)

I'll keep working on this after the other issues.

[2016-11-16 11:56] RoySegall commented on #9006
@Bilsi Got it fixed - https://www.youtube.com/watch?v=p2W8OeRXTUM

[2016-11-16 12:43] RoySegall commented on #8973
Sorry for that, Forgot that this the way it suupose to be. Now it's fixed:
![create_publication___john](https://cloud.githubusercontent.com/assets/1222368/20347712/f0d571b0-ac0a-11e6-9c2a-4b9ce59e3df4.jpg)

[2016-11-16 13:03] digitalpiku commented on #9025
@rbran100 As Radios form type has model as $parent.value , ng-show was not working, however, a small JS callback tweak solved the problem.

![9025](https://cloud.githubusercontent.com/assets/4848039/20348313/d1fe6628-ac2a-11e6-87df-7f2fe9921ae8.gif)

Currently investigating the issue for multiple checkbox data save for '#options' having associative array in its list.

[2016-11-16 13:54] smboser commented on #9039
@Bilsi I have written a patch for it. PR #9053 has been created for review.

[2016-11-16 14:51] Bilsi commented on #9022
@RoySegall - http://community.openscholar.harvard.edu/openscholar/topics/can-you-whitelist-github (Whitelisted only github.io, but they are embedding cid-harvard.github.io)
Whitelisted rackcdn.com for embedding cf1.rackcdn.com
Whitelisted google.com for support.google.com
Whtelisted 3playmedia.com for static.3playmedia.com
Whitelisted donorperfect.net  for interland3.donorperfect.net

[2016-11-16 15:49] Bilsi commented on #9006
Tested - H space and V space looks good
The source code is formatted

[2016-11-16 15:49] #9006 closed

[2016-11-16 15:55] Bilsi commented on #8973
@RoySegall - I edited a publication and checked submitted and entered the year as 2015
I saved it and then clicked edit again, Published was selected instead of submitted

[2016-11-16 16:28] rbran100 commented on #9025
that looks like it will work, do you still need the display_biblio_format_example callback?

[2016-11-16 21:07] openscholar-admin opened #9055 "annual report widget"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/annual-report-widget)

**The Plan**

[coming soon]

**Description**

There are two annual report widgets that appear in sites and I can't seem to delete them.  Can someone please remove them from sites other than the finance sites?

thank you.

Mary [![img](https://d2r1vs3d9006ap.clo

[2016-11-16 21:10] #9055 closed

[2016-11-16 21:24] dancabral opened #9056 "Embed media icon is printing when it shouldnt"
When an embed media widget is placed in the layout, the file-icon is printing to the page. The only time the icon should print in the public context (non admin pages like this http://sociology.fas.harvard.edu/) is in a List of FIles widget. Note the icons in the lower left corner.
![screen shot 2016-11-16 at 3 00 47 pm](https://cloud.githubusercontent.com/assets/867075/20366455/350b152a-ac19-11e6-

[2016-11-16 21:30] dancabral commented on #9056
as a hack to hide the issue I have this in place. to see the bug you'll need to disable it. https://github.com/openscholar/openscholar/commit/058f46c0f51f2de9e1259fc9bcf12a864d6829cc

[2016-11-16 21:58] rbran100 commented on #9055
I was able to fix this, but unable to figure out why this happened or to reproduce trying everything I could think of.

What happened was that a global box (2 of them) was created and then shared between all sites (as global boxes are).  I was easily able to delete this, any box created within openscholar should be within the sandboxed spaces_overrides table but in this case they were not.

[2016-11-17 06:28] RoySegall commented on #9022
OK. I think I know what's my problem. I whitelisted `www.youtube.com` and not `youtube.com`(!). I'll update the validation as well.

[2016-11-17 09:18] RoySegall commented on #9022
I pushed the changes, I took the whitelisted domain lists, added the two embed codes I failed to add, and it's OK for me.

@Bilsi Is there a change to get the code they were trying to embed?

[2016-11-17 09:38] RoySegall commented on #8973
I checked that scenario when starting working on that but let me have a second look. And yes, I'll add test cases for that. Don't know how much we can test without JS on our side but I'll check it.

[2016-11-17 11:13] smboser commented on #9039
@rbran100 It has been moved to temporary folder now. PR #9053 has been updated for review.

[2016-11-17 12:56] RoySegall commented on #8973
OK, I made some more tests about it, and it's impossible for now as I can see it. In 3.x branch the biblio field can hold two type of value: numeric value of the type(Working paper, In Press, etc., etc.). The new form requires from us to hold the year value and the text value together.

I don't know for sure how we can keep this in the DB.

[2016-11-17 13:48] smboser commented on #9056
@dancabral Could you please clarify the action items here, I am having some doubt. Will this icon be visible for admin? Also, do I need to apply PHP rather than CSS to hide this for non admin user? Please clarify.

[2016-11-17 14:09] openscholar-admin opened #9057 "Redirect area typo?"
[View or participate in the full discussion on our Community website](http://getsatisfaction.com/openscholar/topics/redirect-area-typo)

**The Plan**

Remove the extra '/'

**Description**

[![img](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1511070/two-slashes_inline.png?1479351378)](https://d2r1vs3d9006ap.cloudfront.net/s3_images/1511070/two-slashes.png?1479351378)

There are two slashes app