[2020-01-16 12:40] stamina84 commented on #12453
@Bilsi here is the explanation when will be released on prod: https://github.com/IQSS/dataverse/pull/6486#issuecomment-575130595

So we have to wait release `4.19`

[2020-01-16 14:01] tcheng001 commented on #12668
@subhojit777    I don't see the issue any more.  Closing it.

[2020-01-16 14:01] #12668 closed

[2020-01-16 14:07] tcheng001 commented on #12705
@bilsi    In D7, the title of publication listing page (/publications) is "Publications" no matter what 'Sort By' Category is set.  Should we follow the same pattern?

[2020-01-16 14:21] jashish24 commented on #11636
Add `POC` label as it might require to tweak/add Angular modules.

[2020-01-16 14:44] Bilsi commented on #12705
@tcheng001 - yes, that would be easier

[2020-01-16 14:48] rbran100 commented on #11475
@cscomfort we do have issues for each update typically but tracking them down might be an issue.  For the vast majority of modules the easiest place to look is the make file.

https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/drupal-org.make

It will have all the current versions listed along with any patches used, the D7 version of OpenScholar is just getting security update

[2020-01-16 14:58] tcheng001 commented on #12705
@subhojit777    Can we make it looking like that in D7 (HOME / PUBLICATIONS) no matter what     'Sort By' Category is set?

![Screen Shot 2020-01-16 at 9 51 16 AM](https://user-images.githubusercontent.com/2111600/72535054-e12dde80-3845-11ea-8a7d-3eb9f98300d1.png)

One more thing:   To make everything more consistent - Title of publication listing page should be "Publications".   Need a separate t

[2020-01-16 15:34] rbran100 commented on #12811
@jashish24 The filtering is fine, it is the display in the dropdown that is not displaying the full name just first+last so that you can't disambiguate.  The regex is just for informational purposes so they know what is getting matched to what part, and will be in the description.

[2020-01-16 15:48] tcheng001 commented on #12776
@subhojit777      Support User should not show in the role page of vsite.

[2020-01-16 15:58] Bilsi commented on #12651
@uttkarsh-26 - Creating a site is tied to if you have permission to create a site. As of now, anyone with edit permissions on a site can create a new site - vsite admins, content editors and basic members can all create a site and we want to retain that functionality in d8. You cannot create a site in harvard - bilsi site, since only users with a harvard key can create a site. Harvard works differ

[2020-01-16 16:03] rbran100 commented on #12458
in dev pending reply

[2020-01-16 16:42] jashish24 commented on #12811
@rbran100 So we don't need it to be real time but a description based on pattern update here `admin/structure/bibcite/contributor/settings`? Or if it is real time then suggestion for `John Lutts` will be `First: _John_ Last _Smith_` in the description but there won't be any result in dropdown.

[2020-01-16 16:51] #12360 closed

[2020-01-16 16:54] rbran100 opened #12865 "Allow editing widgets in layout bar"
- [x] **Pull Request:** https://github.com/openscholar/openscholar/pull/13136
- [x] **Create Widget PR:** https://github.com/openscholar/openscholar/pull/13254

### Motivation:

Related: #12464

We hide the contextual links when in "layout" mode, but this should not impact the widgets that are in the layout bar to the side.  These widgets should still be edited or deleted as needed.  We need to as

[2020-01-16 16:58] rbran100 commented on #12811
yes a real time then suggestion for John Lutts will be First: John Last: Lutts in the description based on how it is parsed using the pattern in admin/structure/bibcite/contributor/settings

This is in addition to the dropdown, mainly for the case when they are entering a new name, so that they can be sure that the free text they are entering is parsed correctly by the regex as they are typing

[2020-01-16 17:43] tcheng001 commented on #12822
@Bilsi      I feel that help text is not clear

`Need help finding your Dataset Persistent Identifier? Learn how to here: https://help.theopenscholar.com/dataverse-dataset-citation. Note: this widget should be placed in the main content area, not in sidebar. In braces (Format : 10.7910/DVN/GK6PR2) if DOI is selected and (Format : 1902.1/13713) if HDL is selected`

This is my suggestion.
[code]

[2020-01-16 18:11] Bilsi commented on #12822
@stamina84 - sorry to make changes now, but can you please change according to Torman's suggestion .

[2020-01-16 20:50] tcheng001 commented on #12580
Moving to "in dev"
- [ ] 1. url aliases are not correct if there are duplicated paths in the import file. Here is an example:
This is the import file which contains 3 rows. All of them have the path (path-a).
![Screen Shot 2020-01-16 at 3 00 32 PM](https://user-images.githubusercontent.com/2111600/72559263-6929dd80-3872-11ea-82ac-31633d4a2bb9.png)

After imported, only the first entry has the corr

[2020-01-16 20:58] tcheng001 commented on #12734
Mark "Fixed"

[2020-01-16 20:58] #12734 closed

[2020-01-17 02:15] cscomfort commented on #11475
@rbran100 Excellent. I had been exploring the makefile, so thanks for helping confirm that.

Looking forward to the D8 release -- all the best to you and the team.

[2020-01-17 04:43] mukeyshkumar commented on #12863
Attaching a screenshot for ref.

![capture-palce-block](https://user-images.githubusercontent.com/47223502/72584908-e9535000-3911-11ea-949e-6148b8741c67.jpg)

[2020-01-17 05:04] uttkarsh-26 commented on #12580
Hi @tcheng001 ,
For 1st point: To maintain uniqueness, I think this is how Pathauto operates. Consider this:
- When the first row is imported `path-a` is used as it is because it is unique.
- For second-row when again system finds `path-a`, it is discarded as it is not unique this time, rather pathauto handles the creation of the path for that content based on FAQ pathauto pattern set + Content Ti

[2020-01-17 05:18] jashish24 commented on #12630
Settings are updated properly.
Refer: https://bitbucket.org/openscholar/deploysource/pull-requests/18/fix-incorrect-elasticsearch-endpoint/diff

[2020-01-17 06:30] subhojit777 commented on #12651
@rbran100 Can you please take a look https://github.com/openscholar/openscholar/pull/12794#discussion_r367777292

[2020-01-17 06:31] saurabh-axl commented on #12633
Elastic Search for travis is not yet ready so tests cannot be executed yet.
@jashish24

[2020-01-17 06:32] subhojit777 commented on #12863
@mukeyshkumar merged. Please verify the change on demo.

[2020-01-17 06:35] subhojit777 commented on #12802
@jashish24 merged. Please verify the change on demo.

[2020-01-17 07:01] subhojit777 commented on #10897
@tcheng001 This is ready for QA.

[2020-01-17 09:56] subhojit777 commented on #12705
ref https://github.com/openscholar/openscholar/issues/12705#issuecomment-575190116

@tcheng001 It looks like you want to remove the last item of the breadcrumb as well. **Do you want to do it just for publications?**

[2020-01-17 10:32] subhojit777 opened #12868 "Incorrect publications breadcrumb"
**Pull request:** https://github.com/openscholar/openscholar/pull/12909

**Parent:** https://github.com/openscholar/openscholar/issues/12705

### Steps to replicate

1. Login as vsite admin
2. visit `cp/settings/apps-settings/publications`
3. change "sort by category" to "Year" and save form
4. visit `publications` page
5. Breadcrumb is incorrect ![help1](https://user-images.githubusercontent.com/

[2020-01-17 10:33] subhojit777 commented on #12705
@tcheng001 I have created a new ticket where we will address the title and breadcrumb changes for publications https://github.com/openscholar/openscholar/issues/12868

I am only not sure about this

Let me know.

[2020-01-17 11:18] mukeyshkumar commented on #11909
![fpp](https://user-images.githubusercontent.com/47223502/72608644-2b4bb880-3949-11ea-897a-ce2cab461339.jpg)

[2020-01-17 11:51] uttkarsh-26 opened #12870 "Delete vsite/group collection and its configurations if a vsite is deleted."
I noticed that when a group/vsite is deleted it's configurations or collections are left out in config table.
Tasks:
* [ ] Make sure all dangling configs are cleanup up.
* [ ] Make sure all Menus are deleted as well.
* [ ] Make sure menu link content is deleted.
* [ ] Make sure any blocks/widgets associated with the group are deleted as well.

[2020-01-17 12:21] stamina84 commented on #12830
Dev todo: check all view modes and remove "is decorative"

[2020-01-17 13:05] subhojit777 commented on #12580
@uttkarsh-26 merged. please check.

[2020-01-17 13:41] tcheng001 commented on #12705
@subhojit777    Just discussed with @Bilsi.    Keep the breadcrumbs like other content types.
For example: The breadcrumbs is "HOME / NEWS / News 05" when viewing  "News 05" page. But "News 05" in the breadcrumbs is not a link.
![Screen Shot 2020-01-17 at 8 25 19 AM](https://user-images.githubusercontent.com/2111600/72616288-9aeb8480-3904-11ea-9aa4-23d9d2527243.png)

If viewing /publications page,

[2020-01-17 14:04] tcheng001 commented on #12580
@uttkarsh-26   I probably misunderstood the design logic.  I thought that the system will handle duplicated path name by adding a "_" followed by a number.  If that is not the case, I think the current design is fine.

[2020-01-17 14:10] subhojit777 commented on #12705
okay then. we are on the same page. I think this one can be closed, I have gathered the requirements in here https://github.com/openscholar/openscholar/issues/12868 @tcheng001 @Bilsi

[2020-01-17 14:34] Bilsi commented on #12131
@subhojit777 @mukeyshkumar - some of the themes don't have a preview. Can you add them?

[2020-01-17 14:45] tcheng001 commented on #12580
Mark "Fixed"

[2020-01-17 14:45] #12580 closed

[2020-01-17 14:48] tcheng001 commented on #12705
Mark "Closed"

[2020-01-17 14:48] #12705 closed

[2020-01-17 18:47] tcheng001 commented on #10897
Mark "Fixed"
![Screen Shot 2020-01-17 at 1 46 46 PM](https://user-images.githubusercontent.com/2111600/72637700-dea7b380-392f-11ea-930c-62ea45cc5fc7.png)

[2020-01-17 18:47] #10897 closed

[2020-01-17 19:46] tcheng001 commented on #12808
Mark "Fixed"
basic block widget is removed from the list
![Screen Shot 2020-01-17 at 2 46 29 PM](https://user-images.githubusercontent.com/2111600/72641428-2d594b80-3938-11ea-89d1-3d6bc2c84de6.png)

[2020-01-17 19:47] #12808 closed

[2020-01-17 20:17] tcheng001 commented on #12802
Mark "Fixed
![Screen Shot 2020-01-17 at 3 15 58 PM](https://user-images.githubusercontent.com/2111600/72643280-55e34480-393c-11ea-8704-95132cf8e748.png)
"

[2020-01-17 20:17] #12802 closed

[2020-01-17 20:52] tcheng001 commented on #12598
@mukeyshkumar  Unable to create a new site if adding a new user info.  Can you take a look?

Steps to produce:
1. Open site creation form
2. enter site name
3. click Register Account
4. enter data for the new user
5. click Next button
6. click Select button and Next
7. click Finish but it never comes back.
![Screen Shot 2020-01-17 at 3 49 55 PM](https://user-images.githubusercontent.com/2111600/72

[2020-01-17 22:23] tcheng001 commented on #12553
Mark "Fixed"
Check the following urls
[code]

[2020-01-17 22:23] #12553 closed

[2020-01-17 23:00] tcheng001 opened #12873 "News form: Attached files label incorrect"
PR: #12968

![Screen Shot 2020-01-17 at 5 57 34 PM](https://user-images.githubusercontent.com/2111600/72651971-2855c580-3953-11ea-84c6-0c00d1c7b667.png)

[2020-01-20 04:11] subhojit777 commented on #12812
https://github.com/openscholar/openscholar/pull/12867#pullrequestreview-345072238

[2020-01-20 04:35] subhojit777 commented on #12637
- https://github.com/openscholar/openscholar/pull/12832#pullrequestreview-345073253
- https://github.com/openscholar/openscholar/pull/12832#issuecomment-576102375

[2020-01-20 04:41] subhojit777 commented on #12820
@jashish24 merged. Please confirm the fix on demo.

[2020-01-20 04:42] subhojit777 commented on #12821
@jashish24 Please confirm the fix on demo. The PR is merged.

[2020-01-20 06:15] subhojit777 commented on #12131
@Bilsi I think we can do the changes in a separate ticket. We did the appearance admin UI changes as requested in the ticket. The missing screenshots can be done in a separate ticket. What do you think? @mukeyshkumar Can add the missing screenshots. // @tcheng001

[2020-01-20 06:18] mukeyshkumar commented on #12131
@subhojit777
yes I will add the missing screenshots.

[2020-01-20 06:25] mukeyshkumar commented on #12131
@subhojit777
this will take around 2-3 hrs to create and update missing screenshots.

[2020-01-20 08:25] subhojit777 commented on #12812
@saurabh-axl merged. Please check the change on demo.

[2020-01-20 10:02] stamina84 commented on #12861
Finally I found a problem, somehow this image is created with `filesize` 0 and `file_entity_file_formatter_file_image_view` will return with `null`, which cause the `$element` in `file_view_file` will be null, so it will return with default build array:
[code]

I tested the upload process, and every images (jpg too) will be created with filesize zero.. this will be the next step to debug.

[2020-01-20 12:35] jashish24 commented on #12812
@subhojit777 @saurabh-axl `setRedirect` worked, it was overriden in `vsite` module as well. Do review and let me know you thoughts.
https://github.com/openscholar/openscholar/pull/12877

[2020-01-20 12:57] stamina84 commented on #12861
While I uploading a new file through media browser and set Alt field, I get this error message `Field validation errors`, and what I found in deeper is related to this error:
field: og_group_ref
og_invalid_entity
`The referenced group (node: 82) is invalid.`
I tried to solve it, but don't know whats happening.. interesting, this error is not appears on live site, but without that I can't debug why

[2020-01-20 13:18] tcheng001 commented on #12686
still not working.  It seems that publications are ordered by posted-on date ascending within each year.

Testing on http://d8.theopenscholar.com/site10/publications/year
![Screen Shot 2020-01-20 at 8 12 37 AM](https://user-images.githubusercontent.com/2111600/72729439-2b240680-3b5d-11ea-9e49-4a4aaaded449.png)

[2020-01-20 13:42] Bilsi commented on #12131
Ok

[2020-01-20 13:57] stamina84 commented on #12830
@rbran100 If you have time, please check my reply in PR, and if I have to put field base and instance into features then what will be the best features module for that?

[2020-01-20 14:41] tcheng001 commented on #12232
Mark "Fixed".
Only can log in as admin to test it.   We need to retest when https://github.com/openscholar/openscholar/issues/12613 is fixed.

[2020-01-20 14:41] #12232 closed

[2020-01-20 15:40] tcheng001 commented on #12458
Checked all scenarios with content types as context, including
1. blog
2. class
3. FAQ
4. news
5. person
6. presentation
7. software project
8. /calendar
9. /calenar/upcoming-event
10. /calendar/past-event

Checked scenario outside contextual of content types
1. home page
2. term page
3. search page

[2020-01-20 15:44] tcheng001 commented on #12458
@stamina84    Only not working in  /publication page.  Can you take a look?  I tested here
http://d8.theopenscholar.com/site10/publications
There are 2 publications tagged with a term "yellow".  But no data is shown in the taxonomy widget.
![Screen Shot 2020-01-20 at 10 43 37 AM](https://user-images.githubusercontent.com/2111600/72739553-d76fe800-3b71-11ea-9d27-395e070b760d.png)

[2020-01-21 04:05] subhojit777 commented on #12812
https://github.com/openscholar/openscholar/pull/12877#pullrequestreview-345624800

[2020-01-21 04:37] subhojit777 commented on #11909
@mukeyshkumar Merged. Please confirm the changes on demo.

[2020-01-21 05:07] subhojit777 commented on #12659
may be related - https://github.com/openscholar/openscholar/issues/12553

[2020-01-21 05:27] subhojit777 commented on #12637
@Jiteshkhatwani merged. You may confirm the changes on demo.

[2020-01-21 06:27] mukeyshkumar opened #12879 "In the theme preview section, some of the theme screenshots missing"
In the theme preview section, missing screenshots need to be added.
URL: http://home.d8.theopenscholar.com/vsite/cp/appearance/themes

Parent: https://github.com/openscholar/openscholar/issues/12131

PR: https://github.com/openscholar/openscholar/pull/12881

[2020-01-21 09:39] stamina84 commented on #11532
Finished with node Add and Remove term, I will continue with Media and Publication entities

[2020-01-21 10:18] harjaspreetkaur commented on #12743
Please review: https://github.com/openscholar/openscholar/pull/12882

[2020-01-21 13:24] stamina84 commented on #11532
Media is finished

[2020-01-21 14:36] mukeyshkumar commented on #12598
The issue is caused when the user doesn't make any selection in Step #2 of Site Creation and proceeded.
A genuine resolution will be to make the selection by default as in d7.

[2020-01-21 15:09] stamina84 commented on #11532
Publication actions ready, waiting for CI

[2020-01-21 15:13] stamina84 commented on #12458
@tcheng001 Seems it was cached, please check again, I see the right numbers:
![image](https://user-images.githubusercontent.com/3629993/72816753-eeddcc80-3c68-11ea-97fa-556135f0d14c.png)

[2020-01-21 15:25] stamina84 commented on #12822
Here is the new version:
![image](https://user-images.githubusercontent.com/3629993/72817771-a4f5e600-3c6a-11ea-9589-77c527ec8a39.png)

[2020-01-21 15:48] rbran100 commented on #12830
@tcheng001 I accidentally merged this are you able to test in 3.x or should I pull it out?

[2020-01-21 15:52] Bilsi commented on #12830
@tcheng001 - please QA this in 3.x

[2020-01-21 15:55] tcheng001 commented on #12458
@stamina84    You are correct.  Mark "Fixed"

[2020-01-21 15:55] #12458 closed

[2020-01-21 17:11] Bilsi commented on #12847
@kiran-axl - please resolve the conflicts in the PR. The tests are failing too

[2020-01-21 18:49] tcheng001 commented on #12830
@stamina84  Mark Pending.   Can you take a look on it?   When the checkbox [This image ...] is checked, then I get an error when I click Save.

![Screen Shot 2020-01-21 at 1 46 28 PM](https://user-images.githubusercontent.com/2111600/72833406-c9df5e80-3c54-11ea-941c-032a039232b0.png)

[2020-01-21 19:25] tcheng001 commented on #12131
Mark "Fixed"

[2020-01-21 19:25] #12131 closed

[2020-01-21 19:39] tcheng001 commented on #12821
Not working as expected.   Moving to "in dev"
Steps to reproduce:
1. go to /cp/content/browse/media
2. click Edit link from a file
3. make some changes in the file edit form
4. click Save button
Note: the updated date of the file doesn't change.

[2020-01-21 19:51] tcheng001 commented on #12820
Mark "Fixed"
![Screen Shot 2020-01-21 at 2 46 11 PM](https://user-images.githubusercontent.com/2111600/72837990-77ef0680-3c5d-11ea-861a-42660515fc30.png)

[2020-01-21 19:51] #12820 closed

[2020-01-21 20:01] stamina84 commented on #12830
@tcheng001 Seems to me, there was no updb, can you confirm that?

[2020-01-21 20:03] rbran100 commented on #12123
@stamina84 if we ignore showing the crop in the edit UI and just use the cropped photo in the display then does that solve our issue?  We loose the ability to select the crop region but that is it.

@Bilsi if that isn't feasible can we forego using the media browser here and use a regular image field?  Seems like this should be the way to go for imagecrop images from now on?

[2020-01-21 20:04] tcheng001 commented on #12830
I didn't run updb.   Thanks.  I will check again after running updb.

On Tue, Jan 21, 2020 at 3:01 PM Balázs Sztreha <notifications@github.com>
wrote:

[2020-01-21 20:22] rbran100 commented on #12123
@stamina84 nevermind what I said above, just forego using the MB and use the field widget if that solves the problem in this case, talked with @Bilsi

[2020-01-22 02:25] tcheng001 commented on #12879
@mukeyshkumar     Did I miss anything?   Still not seeing screenshots.
![Screen Shot 2020-01-21 at 9 22 58 PM](https://user-images.githubusercontent.com/2111600/72860330-80aeff00-3c94-11ea-80bf-f5b9ddc65d3f.png)

[2020-01-22 02:28] tcheng001 commented on #12748
Mark "Fixed"
<img width="389" alt="Screen Shot 2020-01-21 at 9 25 55 PM" src="https://user-images.githubusercontent.com/2111600/72860482-f1561b80-3c94-11ea-913f-f619628e0a37.png">

[2020-01-22 02:28] #12748 closed

[2020-01-22 04:37] subhojit777 commented on #12642
https://github.com/openscholar/openscholar/pull/12765#issuecomment-577003715

[2020-01-22 07:33] stamina84 commented on #12699
Fixed test failures and update with 8.x-dev branch

[2020-01-22 08:15] stamina84 commented on #12699
@rbran100 I did a reply in PR https://github.com/openscholar/openscholar/pull/12700#discussion_r364627313, I have no other solution currently

[2020-01-22 09:19] stamina84 commented on #12123
So, I will replace the media browser with simple field image and will set the crop functionality. cc @rbran100 @Bilsi

[2020-01-22 10:15] mukeyshkumar commented on #12879
@tcheng001
not able to test on the demo server because the demo server is down.

[2020-01-22 11:01] subhojit777 commented on #12556
@tcheng001 You may QA this one now.

[2020-01-22 11:10] mukeyshkumar opened #12891 "UI issue- spacing issue in the delete button in the widget form"
UI issue- spacing issue in the delete button in the widget form.
There should be some space between button and fields

![widget-layout](https://user-images.githubusercontent.com/47223502/72889558-f323eb80-3d35-11ea-9f31-995f261cff4e.png)

PR: https://github.com/openscholar/openscholar/pull/12895

[2020-01-22 12:07] subhojit777 commented on #12556
putting it back to dev, as the automated test is failing.

[2020-01-22 12:21] mukeyshkumar opened #12893 "Slideshow Widget inside slider widget breaks ui"
When we create widgets inside widget some of the widgets UI breaks.

![screenshot-test](https://user-images.githubusercontent.com/47223502/72977471-a229fb00-3dfa-11ea-98d5-e8735072e4be.png)

PR: https://github.com/openscholar/openscholar/pull/12903

[2020-01-22 14:54] stamina84 commented on #12819
First I did a research about these values in D8, here is the explination:
![image](https://user-images.githubusercontent.com/3629993/72904551-6118e480-3d2f-11ea-9775-0a2d5046479b.png)

[2020-01-22 15:03] stamina84 commented on #12819
I did a check in D7 too:
![image](https://user-images.githubusercontent.com/3629993/72905372-bbff0b80-3d30-11ea-8907-3f109f90f88c.png)

[2020-01-22 16:05] tcheng001 commented on #12830
Mark "Fixed"
Now, we can upload an image without having alt text.
![Screen Shot 2020-01-22 at 10 59 33 AM](https://user-images.githubusercontent.com/2111600/72910789-09668300-3d07-11ea-980a-4b3aef77c826.png)

[2020-01-22 16:05] #12830 closed

[2020-01-22 16:12] tcheng001 commented on #12641
@subhojit777  @saurabh-axl    Where can I find this widget?

[2020-01-22 16:26] tcheng001 commented on #12638
@subhojit777  @saurabh-axl     Where I can see this widget?

[2020-01-22 16:49] tcheng001 commented on #12862
@jashish24  @subhojit777    Not so sure this ticket about.   Can you give me an example?

[2020-01-22 17:02] stamina84 commented on #12743
@rbran100 Accidentally saw that issue, what is conflicted I think: https://github.com/openscholar/openscholar/issues/12744 I did that update too in my PR

[2020-01-22 17:54] jashish24 commented on #12586
@rbran100 Starting a path with an argument is not possible currently in Drupal. Path like `{app}/browse` will not be accepted. Refer: https://www.drupal.org/forum/support/post-installation/2012-11-26/view-path-issue-how-do-i-set-argument-as-start-of-url

Currently using `browse/{app}`, will look into it more if it is possible somehow.

[2020-01-22 18:03] rbran100 commented on #12858
- @subhojit777 is trying a fix for testWidgetPlacementByWeight

- The first error (testCpImportHelperMediaCreation) on this page was caused by redirect, and I will open a PR for that it was fairly easy.

- There are several after that and they all appear to be failing because of a timeout. (504 Timeout it appears) this happens with ExistingSiteJS and ExistingSite.  They ALL fail when the render ca

[2020-01-22 18:54] jashish24 commented on #12862
Earlier searched string was only matched with body field of pages but now if the string is present only in title of page then also it will appear in search results.

[2020-01-22 19:37] tcheng001 opened #12898 "Removing widget from News layout results in the widget taken out from all pages"
Steps to reproduce:
1. go to home page's layout
2. create a Custom Text/HTML widget (Select Content Type is All Pages)
3. move the widget to the middle section of the page
4. click Save button
Note:  The widget is placed to all layouts
5. go to  /news page's layout
6. drag the widget from middle section back to widget list (Select Content Type is News)
7. click Save button
Note:  The widget is act

[2020-01-22 20:39] Bilsi opened #12899 "D7 - slideshow bug"
https://hwpi.harvard.edu/praveen-test
https://projects.iq.harvard.edu/supportsite

Slideshow widget has 6 slides, but only 2 show on the page. Need to fix

[2020-01-22 20:48] stamina84 commented on #12743
Is that same fail what is about this issue? https://travis-ci.org/openscholar/openscholar/jobs/640505477#L2260

[2020-01-22 21:57] rbran100 commented on #12858
Not sure what is slowing references down soo much, but it does seem slow locally.

[2020-01-23 06:06] subhojit777 commented on #12846
https://github.com/openscholar/openscholar/pull/12890#issuecomment-577519961

[2020-01-23 06:08] subhojit777 commented on #12847
https://github.com/openscholar/openscholar/pull/12880#issuecomment-577520444

[2020-01-23 06:09] subhojit777 commented on #12891
@mukeyshkumar this is merged. Please confirm the changes on demo.

[2020-01-23 06:24] subhojit777 commented on #12641
It should be available for new vsites. You will have to create a new vsite, to see this widget. They are supposed to be created automatically.

[2020-01-23 06:25] subhojit777 commented on #12638
Please create a new vsite, and this widget will be created automatically for it.

[2020-01-23 07:35] subhojit777 commented on #12686
@saurabh-axl merged. you may check the changes on demo.

[2020-01-23 09:59] subhojit777 commented on #12556
@tcheng001 you may check this now.

[2020-01-23 10:06] jashish24 commented on #12743
@stamina84 Yes it is failing because of same issue. We are trying couple of things, will post if it is successful.

[2020-01-23 10:15] stamina84 commented on #12858
@rbran100 I suggest, that I would do every fix in separated PR, because if some of them works, that can be merge immediately. As I saw most of random issue is not related each other

[2020-01-23 10:31] subhojit777 commented on #12898
yes. I was able to replicate the problem.

[2020-01-23 10:39] subhojit777 commented on #12898
weird.. I thought that was fixed. You have reported the same problem here https://github.com/openscholar/openscholar/issues/12171#issuecomment-548468122 I think you should reopen that one, what do you think? @tcheng001

[2020-01-23 10:42] subhojit777 commented on #12898
@Bilsi I think we should reopen https://github.com/openscholar/openscholar/issues/12171#issuecomment-548468122 and put it in current milestone. What do you think?

[2020-01-23 10:55] stamina84 commented on #12899
https://hwpi.harvard.edu/praveen-test:
I found a bug, there is an invalid HTML in description:
![image](https://user-images.githubusercontent.com/3629993/72978619-181c6b00-3dd7-11ea-9628-8c62d08f648c.png)
I remove the opening tags, and fixed. I think the problem is come from the description length limitation

[2020-01-23 10:57] stamina84 commented on #12899
Same problem at other link, fixed

[2020-01-23 12:41] #12899 closed

[2020-01-23 13:08] subhojit777 commented on #12651
@uttkarsh-26 merged. please confirm the changes on demo.

[2020-01-23 13:26] tcheng001 commented on #12898
@subhojit777    ok.  Just reopened #12171 . Can you label a correct milestone?  I am closing this one.

[2020-01-23 13:26] #12898 closed

[2020-01-23 13:30] stamina84 commented on #12689
We should consider about not develop this and #12744 issue at the same time, because it will lead a huge conflict in composer files.

[2020-01-23 13:42] stamina84 commented on #12689
Dev note: as I see we should remove "drupal/core" then require "drupal/core-recommended" https://packagist.org/packages/drupal/core-recommended

[2020-01-23 13:45] rbran100 commented on #12811
I think this looks great, awaiting travis

[2020-01-23 14:31] tcheng001 commented on #12822
Mark "Fixed"
![Screen Shot 2020-01-23 at 9 29 52 AM](https://user-images.githubusercontent.com/2111600/72993325-31b3b780-3dc3-11ea-844f-442015f4a012.png)

[2020-01-23 14:32] #12822 closed

[2020-01-23 15:01] tcheng001 commented on #12891
Mark "Fixed"
![Screen Shot 2020-01-23 at 9 59 08 AM](https://user-images.githubusercontent.com/2111600/72995654-46924a00-3dc7-11ea-94f8-7ea4156a71b4.png)

[2020-01-23 15:01] #12891 closed

[2020-01-23 15:48] tcheng001 commented on #12641
@saurabh-axl     Could you please fix titles of search widgets?  Now, they are not understandable. You can refer to D7.
![Screen Shot 2020-01-23 at 10 45 03 AM](https://user-images.githubusercontent.com/2111600/72999536-7e03f500-3dcd-11ea-99ca-6eb41ded8df4.png)

D7:
![Screen Shot 2020-01-23 at 10 47 22 AM](https://user-images.githubusercontent.com/2111600/72999738-cc18f880-3dcd-11ea-90da-70cfb7902

[2020-01-23 15:53] tcheng001 opened #12905 "Search widgets should be placed in layout by default"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13067

### Motivation:

Now, search widgets are in the list, but not in the layout.  Can you please set them to search layout like that in D7?  That way would be more user-friendly.
![Screen Shot 2020-01-23 at 10 51 55 AM](https://user-images.githubusercontent.com/2111600/73000196-7f81ed00-3dce-11ea-8031-5db7632b1d14.png)

### Techn

[2020-01-23 16:20] tcheng001 commented on #12812
work "Fixed"
Redirect to  adding term page after a term is created.

[2020-01-23 16:20] #12812 closed

[2020-01-23 16:29] tcheng001 commented on #12686
Mark "Fixed"
![Screen Shot 2020-01-23 at 11 28 43 AM](https://user-images.githubusercontent.com/2111600/73003380-8e1ed300-3dd3-11ea-8ef9-46b604b00c98.png)

[2020-01-23 16:29] #12686 closed

[2020-01-23 18:53] tcheng001 commented on #12630
I search "news" but no result.  That is not good.  I suppose that the result should be the list below.
1. Yahoo News
2. news 101
3. News 05
4. News 07
5. News 06
6. My First News

Tested on http://d8.theopenscholar.com/site10/search
<img width="912" alt="Screen Shot 2020-01-23 at 1 37 21 PM" src="https://user-images.githubusercontent.com/2111600/73013168-cc24f280-3de5-11ea-8acb-2adbd45e0486.png">

[2020-01-23 19:05] tcheng001 commented on #12659
Mark "Fixed"
checked Page, Class, Blog, Class, Event, FAQ and News.

[2020-01-23 19:05] #12659 closed

[2020-01-23 19:21] tcheng001 commented on #12556
Mark "Fixed"
Checked in both side bars and main content area on home page
Checked in both side bars and main content area on /news page

[2020-01-23 19:21] #12556 closed

[2020-01-23 19:35] jashish24 commented on #12630
@tcheng001 It is working now, new content has to be indexed using admin panel or we have to wait till it gets indexed automatically by cron.

[2020-01-23 19:44] jashish24 commented on #12630
Here is the link for reference:
http://d8.theopenscholar.com/admin/config/search/search-api/index/os_search_index

If you see something like `210/236 indexed`, hit the `index now` down below on same page.

[2020-01-23 20:30] tcheng001 commented on #12630
@jashish24
I search "news 101" **without quotes**.  I only get this post http://d8.theopenscholar.com/site10/news/news-101
![Screen Shot 2020-01-23 at 3 19 22 PM](https://user-images.githubusercontent.com/2111600/73020522-c9c99500-3df3-11ea-8823-8546f3ccb658.png)

But I hope that any post which contains either "news" or "101" are also in the result as well.
[code]

[2020-01-23 21:48] tcheng001 commented on #12651
Mark "Fixed"
1. primary menu items
2. contact widget
![Screen Shot 2020-01-23 at 4 42 51 PM](https://user-images.githubusercontent.com/2111600/73026581-a99fd300-3dff-11ea-819f-5a3c587e8d80.png)

3. bio page and CV page
![Screen Shot 2020-01-23 at 4 44 00 PM](https://user-images.githubusercontent.com/2111600/73026615-c1775700-3dff-11ea-923a-e4aeef2ecc5b.png)

4. App Class, Page and Publication are

[2020-01-23 21:48] #12651 closed

[2020-01-24 03:54] saurabh-axl commented on #12641
@tcheng001 These Widgets are created as part of #12637 so i think it should be handled there.
@Jiteshkhatwani can you please look into it.

cc @jashish24

[2020-01-24 04:07] subhojit777 commented on #12846
https://github.com/openscholar/openscholar/pull/12890#issuecomment-577983089

[2020-01-24 04:10] subhojit777 commented on #12847
https://github.com/openscholar/openscholar/pull/12880#issuecomment-577983395

[2020-01-24 04:11] subhojit777 commented on #12811
there are still pending issues in the PR.

[2020-01-24 04:17] subhojit777 commented on #12821
@jashish24 merged. Please confirm changes on demo.

[2020-01-24 05:57] mukeyshkumar commented on #12879
Not able to see changes in demo working fine on local.

[2020-01-24 06:05] subhojit777 commented on #12782
@uttkarsh-26 merged. Please confirm changes on demo.

[2020-01-24 07:39] subhojit777 commented on #12847
@kiran-axl merged. you may confirm the changes on demo

[2020-01-24 09:32] mukeyshkumar commented on #12893
Attaching a screenshot for ref.

![slider](https://user-images.githubusercontent.com/47223502/73058721-34dd9f00-3eba-11ea-825d-824e23116055.png)

[2020-01-24 10:55] mukeyshkumar opened #12908 "UI issue - Featured widget person node type extra border appears"
UI issue - Featured widget person node type extra border appears

Steps to reproduce:
**Theme college**
1. Create a featured widget with person node selected
2. In widget **Display style** choose full content
3. Place block in the content region in the front page
4. User will notice the extra border appears above the contact info and website

![colleg1](https://user-images.githubusercontent.com/47

[2020-01-24 11:11] mukeyshkumar commented on #12908
After fix the screenshot.

![fix-person](https://user-images.githubusercontent.com/47223502/73064925-4e85e300-3ec8-11ea-9dac-2f6d7fba5310.png)

[2020-01-24 12:24] stamina84 opened #12912 "D7 - Add new item to footer"
PR: #12913

Need a new menu item "Digital Accessibility" after "Accessibility" menu item

Link: https://accessibility.huit.harvard.edu/digital-accessibility-policy

[2020-01-24 13:35] jashish24 commented on #12630
@tcheng001
1. I have posted another PR for multiple words search https://github.com/openscholar/openscholar/pull/12911
2. (Title Missing) The content in the listing is rendering from default modes for all entities (not directly related to search) but we can discuss how the content should be displayed for each entity, I can then configure search to use those.
2. (unrelated results) Stemmer is enabl

[2020-01-24 13:43] tcheng001 commented on #12782
Look good.  Mark "Fixed"

[2020-01-24 13:44] #12782 closed

[2020-01-24 14:12] jashish24 commented on #12637
@Jiteshkhatwani As discussed, please look into DBlog error. I have created kicker PR, do takeover same and push relevant changes.
https://github.com/openscholar/openscholar/pull/12914

[2020-01-24 15:51] #12912 closed

[2020-01-24 18:38] tcheng001 commented on #12821
@jashish24     Now, the column (UPDATED DATE) is not sortable. Can you fix it?

[2020-01-24 19:22] tcheng001 commented on #12598
Mark "Fixed"

[2020-01-24 19:22] #12598 closed

[2020-01-24 22:19] anasamro opened #12916 "Urgent Error : Undefined index: admin/config/media/oembed/provider/default in oembed_menu_alter()"
Dear all ,
when iam installing a OpenScholar , i faced this problem, please i want a solution ASAP.

Error: Unsupported operand types in oembed_menu_alter() (line 129 of C:\xampp\htdocs\drupal-openscholar-7.x-3.116.0\profiles\openscholar\modules\contrib\oembed\oembed.module).

or from this link : [Link](https://i.ibb.co/4S9tCWR/fffffffffffff.jpg)
regards,

[2020-01-27 03:24] saurabh-axl commented on #12642
@jashish24 @subhojit777

Unable to review the widget on dev as I get "The server is currently unreachable." error messafe

[2020-01-27 04:19] subhojit777 commented on #12680
there are pending issues in the code https://github.com/openscholar/openscholar/pull/12889#discussion_r370767747

[2020-01-27 04:58] subhojit777 opened #12917 "Prevent merging of stale branches from GitHub"
**Pull request:**

### Motivation:
There was a situation when the 8.x-1.x-dev `HEAD` broke due to merging of PRs in the following order:

1. https://github.com/openscholar/openscholar/pull/12700
2. https://github.com/openscholar/openscholar/pull/12794

Although, the HEAD was fixed in the PR https://github.com/openscholar/openscholar/pull/12906, but it would be great if we prevent such situation is

[2020-01-27 04:59] subhojit777 commented on #12917
@Bilsi @rbran100 This is not important at the moment, but it would be a great addition when the distribution is being used in production sites. // @jashish24

[2020-01-27 06:56] kiran-axl commented on #12847
Verified on site02, any widgets' contextual link "Delete" is redirecting to the page the request is from.

[2020-01-27 08:59] jashish24 commented on #11689
@tcheng001 I suppose we are talking about `Support User` role here?

[2020-01-27 09:17] subhojit777 commented on #12753
1. @tcheng001 The "Add New" button is not yet implemented. I think we should do that in a separate ticket, and we can put the "Import" link there once "publication import" is completed. **What do you think?** ![Screen Shot 2019-12-20 at 4 08 56 PM](https://user-images.githubusercontent.com/2111600/71293358-22b09400-2343-11ea-8e10-4613f68cdae4.png)
2. @rbran100 The import option "EndNote XML" - is

[2020-01-27 09:19] subhojit777 commented on #12753
@rbran100

For pubmed import, I tried this:

[code]

In response I got:

[code]

Any idea why I got that 403 error? Am I missing anything?

[2020-01-27 10:02] mukeyshkumar opened #12919 "UI issues - Multiple widgets placed spacing issue"
When we placed multiple widgets in the same region some margin needs to be added in the bottom.

![widget-space](https://user-images.githubusercontent.com/47223502/73252786-4f2cbb00-41e1-11ea-99aa-3db36baac266.png)

PR: https://github.com/openscholar/openscholar/pull/12926

[2020-01-27 10:51] subhojit777 commented on #12805
@kiran-axl merged. you may confirm changes on demo.

[2020-01-27 11:08] subhojit777 opened #12921 "Publication Import - BibTeX"
**Pull request:** https://github.com/openscholar/openscholar/pull/13102

**Parent:** #12753

### Motivation:

This ticket will create the base for publication import. We are going to start with import via `BibTeX` format.

![Screen Shot 2019-12-20 at 4 15 43 PM](https://user-images.githubusercontent.com/2111600/71293626-08c38100-2344-11ea-9661-03907c31b724.png)
![Screen Shot 2019-12-20 at 4 14 14

[2020-01-27 11:26] subhojit777 commented on #12908
@mukeyshkumar merged. you may check changes in demo.

[2020-01-27 11:28] subhojit777 commented on #12893
https://github.com/openscholar/openscholar/pull/12903#issuecomment-578706058

[2020-01-27 11:56] subhojit777 commented on #12893
@mukeyshkumar merged. please confirm changes on demo.

[2020-01-27 13:42] stamina84 commented on #11532
@subhojit777 Thanks for detailed review, fixed all comments, waiting for CI

[2020-01-27 13:42] tcheng001 commented on #11689
@jashish24    This is not about `Support User` role.  I am checking the issue again and let you know if I can reproduce it.  Dont waste time on it now.

[2020-01-27 14:22] tcheng001 commented on #11689
@jashish24  I can't reproduce the issue any more.   I am closing it.
Even though menu items are correct under Import, I will check testing them again after completion of import.
In this example:  Only Blog and Class should appear under Import because the custom role only has permissions of creating/editing/deleting class and blog node.

![Screen Shot 2020-01-27 at 9 19 29 AM](https://user-images.g

[2020-01-27 14:30] stamina84 commented on #12744
I would prefer to separate updates into smaller PR, because we can easily merge when it will green and if later some strange things will happen, then we can debug with smaller "diff".
First PR: #12896
* Updating drupal/blazy (2.0.0-rc5 => 2.0.0-rc6)
* Updating drupal/chosen (2.7.0 => 2.9.0)
* Updating drupal/config_filter (1.4.0 => 1.5.0)

What do you think @rbran100 @subhojit777 ?

[2020-01-27 14:59] tcheng001 opened #12923 "unable to access search layout"
**Pull Request:** https://github.com/openscholar/openscholar/pull/12914

Got 504  when accessing http://d8.theopenscholar.com/site50/search?block-place=1&destination=/site50/search

[2020-01-27 15:12] #12699 closed

[2020-01-27 16:40] tcheng001 commented on #12847
Mark "Fixed"
Tested on home page, /news page.

[2020-01-27 16:40] #12847 closed

[2020-01-27 18:06] tcheng001 commented on #12630
It seems teasers of posts showed in the search result is more reasonable.

[2020-01-27 18:15] jashish24 commented on #12630
@tcheng001 There are two good options for snippet type, teaser or search result snippet (... search text & more content ...)

[2020-01-27 18:18] tcheng001 commented on #12630
@jashish24  What is the current option using in D8?  It seems search result shows full content.

[2020-01-27 18:20] jashish24 commented on #12641
@saurabh-axl While labels will be handled in #12637, can you please post testing steps and help @tcheng001 to close this.

[2020-01-27 18:44] jashish24 commented on #12630
Yes, it is using default view mode. More like how the page itself looks.

[2020-01-27 18:52] tcheng001 commented on #12630
@jashish24   Can you change the view mode to something like teaser?

[2020-01-27 19:34] rbran100 commented on #12753
@subhojit777

1. Yes please wait on the contextual add links to add the import link, we should go ahead and make a separate ticket for that if we have not

2. Yes, Please use the endnote formats that we have pre-built, much better than maintaining something else

I am not sure why you got the 403 error, maybe it didn't expect the post request.  The code that was used in the D7 module is in the sub

[2020-01-27 20:55] tcheng001 commented on #12641
I am not able to access search layout in the newer vsite. No way to test it
now. @subhojit.paul@axelerant.com <subhojit.paul@axelerant.com> knew that.
I can access search layout of older vsites. However, they don't have search
widgets.

On Mon, Jan 27, 2020 at 1:20 PM Ashish Prabhakar <notifications@github.com>
wrote:

[2020-01-28 04:21] mukeyshkumar commented on #12879
Tested on demo working fine now.

![appearance](https://user-images.githubusercontent.com/47223502/73235258-af0c6d00-41b3-11ea-9f90-fa4c9cc94b71.png)

[2020-01-28 04:37] subhojit777 commented on #11689
@tcheng001 Yes. I think that is a problem. He should not see the import option for the events, etc. which he doesn't have access to. Can you create a ticket for this. Probably it is something related to caching - I think you will see a "access denied" screen if you visit "events import".

[2020-01-28 04:55] subhojit777 commented on #12744
sounds good.

[2020-01-28 06:14] subhojit777 commented on #12868
@kiran-axl merged. you may confirm the changes on demo.

[2020-01-28 06:52] subhojit777 commented on #12846
@kiran-axl merged. You can check changes on demo now.

[2020-01-28 08:13] subhojit777 opened #12924 "Fix codecoverage Travis timeout"
**Pull request:** #12925, https://github.com/openscholar/openscholar/pull/13027

### Motivation:
Travis is timing out again in codecov stage https://travis-ci.org/openscholar/openscholar/builds/642339545 (job 23).

### Estimated Time:
1 hr + 1 hr

### Tasks:

- [x] Split kernel tests `other` group into `other-1`, `other-2`
- [x] Update `.travis.yml` so that it runs `other-1` and `other-2` as separ

[2020-01-28 09:16] subhojit777 commented on #12805
@kiran-axl merged. check on demo.

[2020-01-28 10:00] subhojit777 commented on #12821
@jashish24 merged. check on demo.

[2020-01-28 10:35] mukeyshkumar commented on #12919
After screenshot

![widget-space1](https://user-images.githubusercontent.com/47223502/73256496-03c9db00-41e8-11ea-9b77-f43ee6939984.png)

[2020-01-28 12:26] saurabh-axl commented on #11636
@torman @Bilsi
Currently the help link on Media File page points to https://help.theopenscholar.com/file-management#main-content the instructions over there are written for D7, is there any similar page written for D8 which i can add as help link on Media page.

cc @jashish24 @subhojit777

[2020-01-28 12:38] stamina84 commented on #12123
Give up restarting CI, put it in review

[2020-01-28 12:41] stamina84 commented on #12924
As I see Job 13 and job 18 did that too, eg: https://travis-ci.org/openscholar/openscholar/builds/642754706?utm_medium=notification&utm_source=github_status

[2020-01-28 13:30] tcheng001 opened #12927 "Shouldn't access import menu items if the user has no permission of creation"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13101

### Motivation:

Here is an example:
1. create a custom role with permissions of creating blog and class.
![Screen Shot 2020-01-27 at 9 20 45 AM](https://user-images.githubusercontent.com/2111600/73268112-54214880-41a8-11ea-9396-b0a92b2d34c3.png)
2. assign the custom role to a user
3. log in as the user
Note: the user can acc

[2020-01-28 13:34] jashish24 commented on #12630
@tcheng001 Can we please add content rendering (teaser) etc to another ticket? Our bandwidth for this Milestone is over.

[2020-01-28 14:05] tcheng001 commented on #12630
@jashish24   Yes, we can.

[2020-01-28 14:12] Bilsi commented on #11636
@saurabh-axl - We will add all the help links once we work on the new documentation for d8. you can ignore it for now

[2020-01-28 14:41] tcheng001 commented on #12879
Mark "Fixed"

[2020-01-28 14:41] #12879 closed

[2020-01-28 15:05] tcheng001 commented on #12821
Mark "Fixed"

[2020-01-28 15:05] #12821 closed

[2020-01-28 15:07] #12743 closed

[2020-01-28 15:43] rbran100 commented on #12633
The elastic search instance for travis is available @saurabh-axl

It is on AWS but available from outside the VPC, it does require a library to connect to it and @janost has tested and can walk you through the steps.

@jashish24 is/was working on this so you can check with him I know he was trying to figure out the AWS ES proxy tool to connect.  If he is still completing that then we can leave thi

[2020-01-28 16:22] tcheng001 commented on #12908
Mark "Fixed"
![Screen Shot 2020-01-28 at 11 21 30 AM](https://user-images.githubusercontent.com/2111600/73282971-64ddb880-41c0-11ea-9584-edd6e51b2901.png)

[2020-01-28 16:22] #12908 closed

[2020-01-28 17:15] Bilsi opened #12929 "Vsite Preset - Project - Minimal"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13074

### Motivation:

Create a minimal preset for project sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 3 in this document

Preset Name : os_project
Display Name : Minimal Project
Description : Blank site with no pre-set menu links or pages.

Example site - https://proje

[2020-01-28 17:15] tcheng001 commented on #12893
@mukeyshkumar    How does ui fail?  So, not so sure how to QA it.

[2020-01-28 17:20] Bilsi opened #12930 "Vsite Preset - Department - Minimal"
**Pull Request: https://github.com/openscholar/openscholar/pull/13075**

### Motivation:
Create a minimal preset for department sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 4 in this document

Preset Name : os_department
Display Name : Minimal Department
Description : Blank site with no pre-set menu links or pages.

Example site - https

[2020-01-28 17:24] Bilsi opened #12931 "Vsite Preset - Department - Academic"
- [x] **Pull Request:** https://github.com/openscholar/openscholar/pull/13071
- [x] **Permissions PR** https://github.com/openscholar/openscholar/pull/13090

### Motivation:

Create an academic preset for department sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 5 in this document

Preset Name : os_department_academic
Display Name : Depar

[2020-01-28 17:25] Bilsi opened #12932 "Vsite Preset - HWP Project"
Create an academic preset for department sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 6 in this document

Preset Name : hwp_project
Display Name : Project
Description :  The Harvard Web Publishing standard Project site.

Example site - https://projects.iq.harvard.edu/project

[2020-01-28 17:27] Bilsi opened #12933 "Vsite Preset - HWP Administrative"
Create an academic preset for department sites
https://docs.google.com/spreadsheets/d/1LUpNJqDJyTLvl6eRwBkLgrEQJffo-ewCOPMRVz1vfRU/edit#gid=0 - Row 6 in this document

Preset Name : hwp_project
Display Name : Project
Description : The Harvard Web Publishing standard Project site.

Example site - https://projects.iq.harvard.edu/project

[2020-01-28 18:17] jashish24 commented on #12630
Multiple Word PR needs review while other is merged.

[2020-01-28 18:24] jashish24 commented on #12905
@tcheng001 Here is the list of widgets that I we think should be placed by default:
**Global Search**

- Search Sort (Title, Date, Type)
- Filter By Post Type
- Filter By Post Date
- FIlter By Other Sites
- Filter By Taxonomy

**Vsite Search**

- Search Sort (Title, Date, Type)
- Filter By Post Type
- Filter By Post Date
- Filter By Taxonomy

Feel free to add more.

[2020-01-28 18:32] jashish24 commented on #12633
@rbran100 @saurabh-axl #12763 PR is ready to be reviewed and will unblock this.
https://github.com/openscholar/openscholar/pull/12897

[2020-01-28 19:47] tcheng001 commented on #12630
Multiple words searching is still not working.
I search "news 101" without quotes.  The result only shows "news 101".  The right portion shows content of the site.
![Screen Shot 2020-01-28 at 1 55 15 PM](https://user-images.githubusercontent.com/2111600/73295929-9feae680-41d6-11ea-8e70-c723ad9d067a.png)

[2020-01-28 20:41] tcheng001 commented on #12862
I can see searching in title is working fine.  However, I find that precedence of result list is not good. Can we fix them?  Need a new ticket?
We would like to have "site chem200 xyz1" listed prior to "project101".
![Screen Shot 2020-01-28 at 3 35 07 PM](https://user-images.githubusercontent.com/2111600/73303487-99636b80-41e4-11ea-9293-36dc870d2b3c.png)

[2020-01-28 20:58] tcheng001 commented on #12630
Mark "Fixed"
Multiple word searching is working
![Screen Shot 2020-01-28 at 3 56 17 PM](https://user-images.githubusercontent.com/2111600/73304765-dc264300-41e6-11ea-9cfa-0e78cec9a25e.png)

[2020-01-28 20:58] #12630 closed

[2020-01-28 21:04] tcheng001 opened #12935 "changing to teaser view in search result"
**Pull Request: https://github.com/openscholar/openscholar/pull/13019**
**Bug Fix: https://github.com/openscholar/openscholar/pull/13060**

### Motivation:
Now,  full content of posts are showed in search result.  We would like to have teaser view instead.

### Technical Implementation:

- Enable and configure `Teaser` view mode
- Change search api page setting to user `Teaser` view mode

### Esti

[2020-01-28 21:14] tcheng001 opened #12936 "Should show publication citation in search result like D7"
- [x] **Pull Request: https://github.com/openscholar/openscholar/pull/13026**
- [x] **Bug Fix PR: https://github.com/openscholar/openscholar/pull/13059**
- [x] **Missing config PR: https://github.com/openscholar/openscholar/pull/13081**

### Motivation:

Now, publication is displayed like below (also title missing)
![Screen Shot 2020-01-28 at 4 09 03 PM](https://user-images.githubusercontent.com/2

[2020-01-28 21:15] tcheng001 commented on #12630
https://github.com/openscholar/openscholar/issues/12936
https://github.com/openscholar/openscholar/issues/12935

[2020-01-29 04:17] subhojit777 commented on #12123
https://github.com/openscholar/openscholar/pull/12892#pullrequestreview-349851208

[2020-01-29 04:23] subhojit777 commented on #11532
https://github.com/openscholar/openscholar/pull/12807#issuecomment-579584872

[2020-01-29 04:27] subhojit777 opened #12937 "Cache invalidation after vsite menu setting is changed"
**Pull request:** https://github.com/openscholar/openscholar/pull/12976

### Motivation:
It originally came from here https://github.com/openscholar/openscholar/pull/12882#discussion_r371618098

Instead of invalidating the cache in the test, it should be invalidated when the menu settings are saved.

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

-

[2020-01-29 04:28] subhojit777 commented on #12937
FYI @rbran100 @Bilsi @jashish24

[2020-01-29 04:48] subhojit777 commented on #12763
https://github.com/openscholar/openscholar/pull/12897#pullrequestreview-349859110

[2020-01-29 04:48] mukeyshkumar commented on #12893
@tcheng001
When we placed the slideshow widget inside the slider/tab widget then the slideshow widget arrow appears different and dots position also different.

Attaching a screenshot for ref.
![t1 (1)](https://user-images.githubusercontent.com/47223502/73328698-b6e61300-4280-11ea-9773-bd417af03bb8.png)

[2020-01-29 04:49] kiran-axl commented on #12846
@tcheng001 , verified this on dev environment. http://d8.theopenscholar.com/site02/bookpage
"Add child page" link is removed.

[2020-01-29 05:25] kiran-axl commented on #12868
@tcheng001 , verified on demo site. Breadcrumbs will show Home >> Publications for pages (like /publications/year etc).

[2020-01-29 05:37] subhojit777 commented on #12680
https://github.com/openscholar/openscholar/pull/12889#pullrequestreview-349870551

[2020-01-29 06:12] kiran-axl commented on #12805
Observed a behavior that the pages/books added to a current book are not being saved as books correctly. Will work on this.

[2020-01-29 06:59] subhojit777 commented on #12613
@tcheng001 Can you tell me - Should `vsite admin` be able to revert or delete a revision as well? Same as super admin?
<img width="807" alt="image" src="https://user-images.githubusercontent.com/1435641/73334510-eaca3400-4292-11ea-9700-561add02fb7a.png">

Can you tell me what other roles `content editor` and `basic member` could do, other than viewing revisions.

[2020-01-29 07:04] subhojit777 commented on #12919
@mukeyshkumar merged. check on demo.

[2020-01-29 08:57] subhojit777 commented on #12115
@Bilsi I checked this problem in my machine and I was unable to replicate. I haven't yet checked this on demo, because this might break existing custom themes. Probably I can delete the existing custom themes to check this problem. Let me know if that is okay. // @tcheng001

[2020-01-29 09:07] subhojit777 commented on #12358
I was unable to replicate the problem

id: edit-favicon-fid-upload

However, I found duplicate `[id="edit-actions"]` in `/cp/content/browse/media`

I am updating the ticket description accordingly.

[2020-01-29 09:41] stamina84 commented on #12123
Report attached, reviews are fixed

[2020-01-29 09:48] jashish24 commented on #12862
@tcheng001 Fixed in another PR.
Current Settings:
1 - 4 match(es) in body < 1 match in title (Title hit comes first)
5 matches in body == 1 match in title (Equal Priority & random sorting)

[2020-01-29 10:24] subhojit777 commented on #12680
merged. please confirm the changes on demo. @uttkarsh-26

[2020-01-29 10:55] subhojit777 commented on #12171
ETA - 12 hrs

will need to follow up with the previous PRs.

[2020-01-29 10:57] stamina84 commented on #11532
Did a suggest https://github.com/openscholar/openscholar/pull/12807#issuecomment-579701855

[2020-01-29 11:06] subhojit777 commented on #12845
@tcheng001 In D7 there is also the ability to import from iCal. Just wanted to make sure we also need that in D8. // @Bilsi

<img width="965" alt="image" src="https://user-images.githubusercontent.com/1435641/73351605-5e7d3880-42b5-11ea-8a7e-6f8fda800c1a.png">

[2020-01-29 12:07] kiran-axl commented on #12805
@tcheng001 , observed 2 issues with book pages.

1. While editing a book's child node, the book outline form still shows the "**Allow this page to be part of a book**" checkbox instead of original book outline form. - Fixed this issue with recent PR (https://github.com/openscholar/openscholar/pull/12941).
2. If a single basic page is added to a book, updated contextual links and book traversal lin

[2020-01-29 12:31] mukeyshkumar commented on #11010
this has been implemented, I think we can close this one.

@Bilsi @tcheng001

[2020-01-29 12:58] #11010 closed

[2020-01-29 13:00] Bilsi commented on #12845
@subhojit777 - we need ical,  and rss for some other content types, it is out fo scope for this ticket. Let us complete csv and then move on to the rest

[2020-01-29 13:05] tcheng001 commented on #12115
@subhojit777   Please delete all existing themes if you need.

[2020-01-29 13:22] stamina84 commented on #12453
Tested at demo, it looks good to me: http://d8.theopenscholar.com/site02/node
https://dataverse.harvard.edu/ version is 4.19 now.

[2020-01-29 13:24] stamina84 commented on #12452
Citation widget is OK too at demo: http://d8.theopenscholar.com/site02/node
Put it into QA

[2020-01-29 13:56] tcheng001 commented on #12905
For vsite search:  there are 6 search widgets in D7.
Here is an example:  https://scholar.harvard.edu/tcheng10/search/site/ZZZZ%2520book1?admin_panel=1&login=1#
1.  the first widget (Current Search) shows the current search result - how many items found. But if search result is empty, the widget should not be showed.  For example, when I visit the search in the first time (no search pattern is pro

[2020-01-29 14:08] tcheng001 commented on #12613
if a user has permission of editing a post, then s/he should be able to use revision to change the post.   @rbran100     Am I correct?

For example:
1. vsite admin should have permission of using accessing revision of all posts in the vsite.
2. content editor should have permission of using revision revision of all posts in the vsite.
3. basic member should only have permission of accessing revisi

[2020-01-29 14:09] subhojit777 commented on #12845
@Bilsi we can do the ical in here itself. Just wanted to double check. I couldn't find rss import anywhere, for which type we are using it? // @tcheng001

[2020-01-29 14:12] tcheng001 commented on #12845
news import

On Wed, Jan 29, 2020 at 9:09 AM Subhojit Paul <notifications@github.com>
wrote:

[2020-01-29 14:20] subhojit777 commented on #12858
@Bilsi I am adding this to team A next sprint https://github.com/openscholar/openscholar/pull/12934#issuecomment-579774889

[2020-01-29 15:15] tcheng001 opened #12943 "Control Panel: expand icons (+) are missing"
If Control Panel is placed in the left side,  expand icons (+)  are missing
![Screen Shot 2020-01-29 at 10 11 12 AM](https://user-images.githubusercontent.com/2111600/73369229-417a4280-4280-11ea-9401-82a0cd88d048.png)

[2020-01-29 15:46] tcheng001 commented on #12893
I dont see any arrow or dot if my slideshow widget is placed in a slider widget.  Here is an example: http://d8.theopenscholar.com/site40
![Screen Shot 2020-01-29 at 10 45 56 AM](https://user-images.githubusercontent.com/2111600/73372028-928c3580-4284-11ea-952a-93ab7749290f.png)

[2020-01-29 15:58] tcheng001 commented on #12453
Mark "Fixed"
![Screen Shot 2020-01-29 at 10 57 21 AM](https://user-images.githubusercontent.com/2111600/73373114-3aeec980-4286-11ea-8fa2-13d0b1d1eff0.png)

[2020-01-29 15:58] #12453 closed

[2020-01-29 16:53] tcheng001 commented on #12452
Mark "Fixed"
![Screen Shot 2020-01-29 at 11 51 29 AM](https://user-images.githubusercontent.com/2111600/73378020-f6ffc280-428d-11ea-8255-66255a79d02b.png)

[2020-01-29 16:53] #12452 closed

[2020-01-29 16:55] rbran100 commented on #12860
This looks like it is failing a menu related test.

[2020-01-29 17:02] Bilsi commented on #12845
Sure, we can. We updated the ticket

[2020-01-29 17:35] tcheng001 commented on #12862
Mark "Fixed"
![Screen Shot 2020-01-29 at 12 09 34 PM](https://user-images.githubusercontent.com/2111600/73381439-bc992400-4293-11ea-9120-485cc9819e10.png)

[2020-01-29 17:35] #12862 closed

[2020-01-29 17:35] rbran100 opened #12944 "Consider replacing chosen for select lists with Select2"
PR: #12958, #13083, #13087

Chosen has some a11y issues, we should look into replacing it with the best choice.

 https://www.drupal.org/project/select2 is actively developed and has/is working on a11y issues.

See background on this here:
https://github.com/openscholar/openscholar/pull/12807#issuecomment-579718135

[2020-01-29 17:40] jashish24 commented on #12763
@tcheng001 Not sure how this can be tested, sole proof is build is passed in CI. Please close if it is fine.

[2020-01-29 17:41] rbran100 commented on #12613
Yes they should be able to add / revert / delete all revisions on their site same as super

To keep things simple I think a content editor should have permissions to view, add, revert, delete as well for any content type they have been given access too (all by default), I think that is currently the case in D7.  I could see removing the ability to delete a revision but ultimately think that create

[2020-01-29 18:22] jashish24 opened #12945 "Fragile Search Tests"
**Pull Request:** https://github.com/openscholar/openscholar/pull/12946

### Motivation:

While all search index tests passes smoothly, there is high probabilty of jobs gettings failed when two or more search test jobs are simultaneously running.

- Functional & Kernel search jobs running within same build
- Same or different search job running in different builds

[2020-01-29 19:38] tcheng001 commented on #11532
can you check why the operation causes "The server is currently unreachable" ?
How to reproduce:
1. go to http://d8.theopenscholar.com/site10/cp/content/browse/node?title=&type=news
![Screen Shot 2020-01-29 at 2 36 21 PM](https://user-images.githubusercontent.com/2111600/73390780-ce36f780-42a4-11ea-95e0-c6e697b23e5d.png)

2. select "News 06" and "news 101"
3. set Action to "Remove Taxonomy term"
4

[2020-01-29 20:19] rbran100 opened #12947 "Cache Build and Install in travis"
**Pull request:** https://github.com/openscholar/openscholar/pull/12969, #13109

### Motivation:

A thought, about using S3 to save a tar of the web directory and DB once per build.

It takes ~5 minutes per job and should be relatively simple to (in the check circular dependencies) tar up that data and save it off for use in the remaining 8 jobs.

We already have access to the S3 bucket for the ar

[2020-01-29 21:12] rbran100 commented on #12947
https://docs.travis-ci.com/user/build-stages/#sharing-files-between-jobs-via-s3

[2020-01-30 04:30] subhojit777 commented on #12947
Sounds good. That should definitely help us in the code coverage jobs. Let me know if you want me to take a look.

[2020-01-30 04:37] subhojit777 commented on #12805
https://github.com/openscholar/openscholar/pull/12941#issuecomment-580079505

[2020-01-30 04:49] subhojit777 commented on #11636
https://github.com/openscholar/openscholar/pull/12920#pullrequestreview-349997752

[2020-01-30 05:53] subhojit777 opened #12949 "OS Admin theme is allowed to be selected while creating a vsite"
**Pull request:** https://github.com/openscholar/openscholar/pull/13046

### Steps to replicate:

1. As super admin, click "Create Site" ![test-1](https://user-images.githubusercontent.com/1435641/73423527-67701780-4352-11ea-92d4-cb3c82263399.png)
1. Enter a unique url and click "Next"
1. Choose a preset and click "Next"
1. In the theme selection screen, "OS Admin" theme appears ![test-2](https://

[2020-01-30 05:53] subhojit777 commented on #12949
@tcheng001 I thought it is a problem. Let me know. @Bilsi

[2020-01-30 05:55] subhojit777 commented on #12949
You may close this, if you think it is fine, and not a bug.

[2020-01-30 05:57] subhojit777 commented on #12762
@tcheng001 I was not able to replicate the problem. I think this can be closed. // @Bilsi

[2020-01-30 06:34] subhojit777 opened #12950 "Vsite owner does not have access to items in control panel"
**Pull request:** https://github.com/openscholar/openscholar/pull/13091

### Steps to replicate:

1. As vsite admin, click "Create Site" ![test-1](https://user-images.githubusercontent.com/1435641/73425359-68f00e80-4357-11ea-9c58-83aeb0d0fc70.png)
1. Enter a unique url and click "Next"
1. Choose a preset and click "Next"
1. Choose a theme and click "Finish"
1. Let the whole operation to complete,

[2020-01-30 06:35] subhojit777 commented on #12950
@tcheng001 I think this is a bug. Can you confirm.

[2020-01-30 06:44] mukeyshkumar commented on #12893
currently not able to test because the demo is down.

[2020-01-30 06:45] mukeyshkumar commented on #12919
currently not able to test because the demo is down.

[2020-01-30 08:02] subhojit777 commented on #12305
I found that the setting is available out of the box in metatag module, however, it allows one to edit other metatags as well.
<img width="396" alt="image" src="https://user-images.githubusercontent.com/1435641/73430750-d6566c00-4364-11ea-82c4-f0c95925ffda.png">
<img width="442" alt="image" src="https://user-images.githubusercontent.com/1435641/73430784-e3735b00-4364-11ea-8494-c073da82f473.png">

[2020-01-30 09:13] subhojit777 commented on #11934
@tcheng001 @rbran100 Are we on the same page?

![help-1](https://user-images.githubusercontent.com/1435641/73435477-b88e0480-436e-11ea-967f-71323a053a47.png)

If one selects `Front`, then the widgets should only appear in the front page. Am I correct?

[2020-01-30 09:17] stamina84 commented on #12819
Stopped restarting jobs, seems not related errors

[2020-01-30 09:18] stamina84 commented on #12744
Ready to review: #12896, stopped restarting CI

[2020-01-30 09:48] stamina84 commented on #12744
Stage 2 PR contains following updates (#12953):
* Updating drupal/coder (8.3.3 => 8.3.7)
* Updating drupal/dynamic_entity_reference (1.7.0 => 1.8.0)
* Updating drupal/easy_breadcrumb (1.8.0 => 1.12.0)
* Updating drupal/entity_reference_revisions (1.6.0 => 1.7.0)
* Updating drupal/google_tag (1.2.0 => 1.3.0)

[2020-01-30 10:08] subhojit777 commented on #12805
@kiran-axl confirm the changes on demo. This has been merged.

[2020-01-30 10:33] uttkarsh-26 opened #12954 "Purl error when trying to access Node Revision."
- [x] **Pull Request:** https://github.com/openscholar/openscholar/pull/13070 (Not Needed)
- [x] **Purl Pull Request: https://github.com/openscholar/purl-d8/pull/8**
- [ ] **Purl composer update: https://github.com/openscholar/openscholar/pull/13110**

### Steps to reproduce:

1. Create a Node in any vsite.
2. Edit the node to create a revision.
3. Goto Revisions tab , click on any revision apart

[2020-01-30 10:42] subhojit777 commented on #12945
https://github.com/openscholar/openscholar/pull/12946#pullrequestreview-350725784

[2020-01-30 10:48] stamina84 opened #12955 "Update config_ignore contrib module"
PR: #12963

There is an issue while updating config_ignore. Need to investigate 2 patches, because there are lines which included by update and some of not:
[code]

Update hook will fail after update, because there is a code duplication

Related task: #12744

[2020-01-30 11:06] stamina84 commented on #12744
Stage 3 PR contains following updates (#12956) - waiting for CI:
* Updating drupal/mailchimp (1.8.0 => 1.11.0)
* Updating drupal/metatag (1.10.0 => 1.11.0)
* Updating drupal/paragraphs (1.8.0 => 1.10.0)
* Updating drupal/pathauto (1.4.0 => 1.6.0)
* Updating drupal/date_recur_modular (1.0.0-alpha2 => 1.0.0)
* Updating drupal/date_recur (2.0.0-beta4 => 2.0.0)

[2020-01-30 11:07] subhojit777 commented on #12115
I was not able to check this, the demo site was down. There were errors related to taxonomy terms in the logs.

[2020-01-30 11:30] subhojit777 commented on #12945
I don't think anything needs to be QA ed here. Automated test should take care of this. Closing this.

[2020-01-30 11:30] #12945 closed

[2020-01-30 13:46] stamina84 commented on #12944
Hmm, I did a quick check to implement select2 in Taxonomy terms field and got errors in a11y:
![image](https://user-images.githubusercontent.com/3629993/73454895-4b2ea380-436f-11ea-957a-99157273f2de.png)
(will create a PR for this)

[2020-01-30 14:11] stamina84 commented on #11532
@tcheng001 please check again, seems good now

[2020-01-30 14:19] rbran100 commented on #12947
@subhojit777 please do

[2020-01-30 14:24] tcheng001 commented on #11934
@subhojit777     I think that Front just works like as layout of News, Blog, etc.  Any widget added to Front's layout will only show in the vsite's front page.  Make sense?

[2020-01-30 14:26] subhojit777 commented on #11934
yes. Thanks.

[2020-01-30 14:26] rbran100 commented on #12947
You can use the same S3 bucket that the artifacts use, anything created there is deleted within a week.

[2020-01-30 14:33] tcheng001 commented on #11934
@subhojit777
1.  [Front] should be the default in Select Content Type drop-down.
2.  not sure what is a more meaningful URL.  In D7,  this is a front page's layout URL.  @rbran100 might provide a better answer.
![Screen Shot 2020-01-30 at 9 31 46 AM](https://user-images.githubusercontent.com/2111600/73458559-7bf8e380-4343-11ea-8a27-b0c021152e28.png)

[2020-01-30 14:46] stamina84 commented on #12944
@mukeyshkumar can you check this report is you have time please? But as I see, the error is the same: `1 X Missing form label`
@rbran100 I put this into pendig, please if you have time, check this

[2020-01-30 14:58] rbran100 commented on #12949
This is a bug, the administrative theme should not be selected as the site theme that would break a lot.

[2020-01-30 15:26] rbran100 opened #12959 "Create department and project group types"
- [x] **Pull Request:** https://github.com/openscholar/openscholar/pull/12996
- [x] **Sub PR:** https://github.com/openscholar/openscholar/pull/13050

### Motivation:

This is needed for preset work to continue.

I looked at it, and think that it does make sense to have the two new group types instead of re-using the same type for all.  For now they will all share the same fields and roles, but we

[2020-01-30 15:41] tcheng001 commented on #12762
vsite can be created by a OS user.  However, I see this error during site creation.  Also, i am not redirected to the front page of the newly created vsite.
![Screen Shot 2020-01-30 at 10 40 33 AM](https://user-images.githubusercontent.com/2111600/73464469-fd08a880-434c-11ea-84ad-ec0e9346b3b9.png)

[2020-01-30 15:43] Bilsi commented on #12893
@mukeyshkumar - demo is up now

[2020-01-30 15:46] tcheng001 commented on #12950
yes. this is a bug.  I can reproduce the issue.

[2020-01-30 15:49] tcheng001 commented on #12763
Basic search is looking good. Closing

[2020-01-30 15:49] #12763 closed

[2020-01-30 16:16] tcheng001 commented on #12893
@mukeyshkumar   All test data are gone. Could you check if slideshow widget works in Slider?  It  worked fine in Tabs widget when I tested yesterday before the system crashed.

[2020-01-30 16:33] #12861 closed

[2020-01-30 16:34] rbran100 commented on #12861
@stamina84 we have never looked into this because it just happens with user 1

[2020-01-30 16:40] tcheng001 commented on #12846
mark "Fixed"
![Screen Shot 2020-01-30 at 11 39 16 AM](https://user-images.githubusercontent.com/2111600/73470031-43620580-4355-11ea-8210-69844eedda45.png)

[2020-01-30 16:40] #12846 closed

[2020-01-30 17:32] tcheng001 commented on #12680
mark "Fixed"
1. Class, Page, and Publication are enabled.
<img width="1159" alt="Screen Shot 2020-01-30 at 12 31 59 PM" src="https://user-images.githubusercontent.com/2111600/73474497-92f7ff80-435c-11ea-94bf-447ef25150a8.png">

2. Home appears in primary menu
<img width="1429" alt="Screen Shot 2020-01-30 at 12 30 04 PM" src="https://user-images.githubusercontent.com/2111600/73474383-6c39c900-435c-

[2020-01-30 17:32] #12680 closed

[2020-01-30 17:57] rbran100 commented on #12947
I did a quick implementation of this and have not been able to test it but it may be a good starting point with some optimization.

https://travis-ci.org/openscholar/openscholar/builds/643986412?utm_medium=notification&utm_source=github_status

https://github.com/openscholar/openscholar/tree/cache-travis

[2020-01-30 18:10] rbran100 commented on #12744
@stamina84 see https://github.com/openscholar/openscholar/pull/12956#issuecomment-580382360

[2020-01-30 18:15] rbran100 commented on #12944
@stamina84 but if this is a valid replacement then we should be able to contribute back to select2 in git and patch knowing it will be integrated since they are still releasing.

Also we should verify that it is not fixed in a newer version

[2020-01-30 18:39] tcheng001 commented on #12868
moving to "in dev"    @kiran-axl

I set sorting by Year Ascending.  However, when accessing http://d8.theopenscholar.com/site01/publications?123
<img width="267" alt="Screen Shot 2020-01-30 at 1 35 56 PM" src="https://user-images.githubusercontent.com/2111600/73479205-875d0680-4365-11ea-815b-150b7cd14fc6.png">

Publications are sorted by Type in /publications page even though it shows a system mes

[2020-01-30 19:14] tcheng001 commented on #12811
Moving to "in dev"
I can see parsing on author name.
![Screen Shot 2020-01-30 at 1 59 37 PM](https://user-images.githubusercontent.com/2111600/73480953-d7899800-4368-11ea-8eaa-cfe754f304f0.png)

However, parsing not occurs in the second author.
<img width="1008" alt="Screen Shot 2020-01-30 at 2 12 04 PM" src="https://user-images.githubusercontent.com/2111600/73481798-8b3f5780-436a-11ea-8c60-7d272e

[2020-01-31 04:03] subhojit777 commented on #11636
waiting for CI https://github.com/openscholar/openscholar/pull/12920#issuecomment-580571423

[2020-01-31 04:14] subhojit777 commented on #12819
take a look https://github.com/openscholar/openscholar/pull/12928#pullrequestreview-351284190 @stamina84

[2020-01-31 04:19] subhojit777 commented on #12947
Thanks. We will take a look.

[2020-01-31 05:27] kiran-axl commented on #12868
@tcheng001 , this appears only if we login as super admin. For other users, if you access the page Publications, it will be redirected to the link (http://d8.theopenscholar.com/site01/publications/year) and the publications appear.

@subhojit777 / @Bilsi , can you please confirm this behavior.

[2020-01-31 05:41] kiran-axl commented on #12805
@tcheng001 , reviewed on demo. Standalone basic page (http://d8.theopenscholar.com/site01/standalone-page) is added to Book 1. However, to see book traversal links for this kind of pages, we need to clear cache.

[2020-01-31 05:55] mukeyshkumar commented on #12893
@tcheng001
Tested on the demo server slideshow inside slider working fine.
Vsite: http://d8.theopenscholar.com/bug

Attaching a screenshot for ref.
![slider-test](https://user-images.githubusercontent.com/47223502/73515736-57246f00-441c-11ea-90ab-fd374e0f0fb0.png)

[2020-01-31 06:07] subhojit777 commented on #12868
I can confirm the expected behavior as per vsite admin. I believe, the redirect doesn't work for super admin, maybe due to some redirect customizations that is already there is the system. We will need to take a look at it. I think we should handle the behavior in a separate ticket. Let us know. @tcheng001

[2020-01-31 07:13] mukeyshkumar commented on #12944
@stamina84
I have tested this and select 2 also has the same error.

[2020-01-31 09:46] mukeyshkumar commented on #12919
Tested on the demo server. Attaching a screenshot for ref.
![space](https://user-images.githubusercontent.com/47223502/73516360-35c48280-441e-11ea-9a8e-2dc5cff178be.png)

[2020-01-31 11:33] stamina84 commented on #12747
Found a contrib issue for number 3: https://www.drupal.org/project/redirect/issues/3057250

[2020-01-31 12:46] stamina84 commented on #12747
Fixed by remove that ajax call, @rbran100 please approve that modification. This ajax call create a warning status message here if the given source is exists
![image](https://user-images.githubusercontent.com/3629993/73540156-724caa00-442f-11ea-9e46-482a8fac3969.png)

**This validation still exists when you post an exists source:**

![image](https://user-images.githubusercontent.com/3629993/735402

[2020-01-31 13:03] stamina84 commented on #12744
` Installing drupal/redirect (1.5.0)` is handled in here: https://github.com/openscholar/openscholar/commit/0e05ddfa60fe9352b871b5d0b2259c5abc114349

[2020-01-31 13:10] harjaspreetkaur commented on #12358
Verified this on Dev environment for all of the above pages.

[2020-01-31 13:18] tcheng001 commented on #12868
Mark "Fixed"
I think super user can live with it.

[2020-01-31 13:18] #12868 closed

[2020-01-31 13:23] tcheng001 commented on #12893
thanks.

On Fri, Jan 31, 2020 at 12:55 AM mukeyshkumar <notifications@github.com>
wrote:

[2020-01-31 14:45] tcheng001 commented on #12123
@stamina84
How image cropping works?
1.  I see two cropping ratios in UI.  Why?   Confusing.
2.  we never use aspect ratio 1:1.22 in slideshow.
![Screen Shot 2020-01-31 at 9 39 59 AM](https://user-images.githubusercontent.com/2111600/73547865-c8105a80-440d-11ea-91a0-c1da0c23c9e2.png)
3.  Slideshow Layout is set to Wide Overlay.  In D7:  aspect ratio for Widescreen Overlay is 3:1. But there is no s

[2020-01-31 16:48] tcheng001 commented on #12123
@stamina84    Can we change crop ratio from 1:1.22 to 3:1 ?    Aspect/Crop ratio for widescreen is 3:1.

[2020-01-31 17:17] tcheng001 commented on #12358
@harjaspreetkaur
I am not able to access the following links
http://d8.theopenscholar.com/cp/content/browse/publications
http://d8.theopenscholar.com/cp/content/browse/node
http://d8.theopenscholar.com/cp/content/browse/media

Steps to reproduce:
1. log in as admin
2. go to http://d8.theopenscholar.com/cp/content/browse/publications
Note:  I got Accessed denied.  Anything I have missed?
![Screen S

[2020-01-31 18:22] tcheng001 commented on #12358
Mark "Fixed"
View the page source of the following page.  ` id="edit-actions"` only occurs once
http://d8.theopenscholar.com/site02/cp/content/browse/publications
http://d8.theopenscholar.com/site02/cp/content/browse/node
http://d8.theopenscholar.com/site02/cp/content/browse/media

[2020-01-31 18:22] #12358 closed

[2020-01-31 18:45] tcheng001 commented on #12123
@stamina84   I have no preference of adding slide in widget edit form or through Add Slide button on page.  Now, the main issue is image cropping.
If Slideshow layout is set to Standard, then all slides' aspect ratio should be 16:9
if Slideshow layout is set to Widescreen, then all slides' aspect ratio should be 3:1
In an ideal situation,  after Slideshow layout (Standard or Widescreen) is selecte

[2020-02-03 04:15] subhojit777 commented on #11532
https://github.com/openscholar/openscholar/pull/12964#issuecomment-581229239

[2020-02-03 04:20] subhojit777 commented on #12955
https://github.com/openscholar/openscholar/pull/12963#issuecomment-581230105

[2020-02-03 04:26] subhojit777 commented on #12744
https://github.com/openscholar/openscholar/pull/12953#issuecomment-581231159

[2020-02-03 04:27] subhojit777 commented on #12744
https://github.com/openscholar/openscholar/pull/12956#issuecomment-581231324

[2020-02-03 05:04] mukeyshkumar commented on #12577
Found an issue with the layout below UI in slideshow.
Fixed in this PR: https://github.com/openscholar/openscholar/pull/12962

[2020-02-03 05:15] subhojit777 commented on #12305
@lomasgupta you may go ahead with your approach.

[2020-02-03 05:16] subhojit777 commented on #12305
I thought it would not be a "clean" way to unset the un-necessary options, therefore, I chose the "custom field" option. I think it is fine either way.

[2020-02-03 05:45] uttkarsh-26 commented on #12613
Hi @rbran100 and @tcheng001
In regard to this comment:

Right now I see that Basic members have access to Edit and Delete their OWN nodes, so to match this we will have to give them `revert and delete revision` permissions too so that they can revert/delete their OWN nodes.
So Basic members will be able to perform revert/delete Revision operations only on the nodes which they own.
And if this seem

[2020-02-03 06:17] lomasgupta commented on #12305
@subhojit777 please review https://github.com/openscholar/openscholar/pull/12966

[2020-02-03 06:38] subhojit777 commented on #12305
@lomasgupta the ticket stays with the person who is working on it. Don't assign it to anybody else.

[2020-02-03 07:39] subhojit777 commented on #11848
https://github.com/openscholar/openscholar/pull/12957#pullrequestreview-352061068

[2020-02-03 08:38] subhojit777 commented on #12819
https://github.com/openscholar/openscholar/pull/12928#issuecomment-581297653

[2020-02-03 09:15] stamina84 commented on #12037
Duplication: #12817 (connected these issues)

[2020-02-03 09:44] jashish24 commented on #11636
@saurabh-axl Noticed that js is not getting reflected because of fixed version, Updated here: https://github.com/openscholar/openscholar/pull/12967

[2020-02-03 10:00] stamina84 commented on #12873
Also fixed Presentation label, because this label should be there

[2020-02-03 10:16] subhojit777 commented on #12762
@tcheng001 I think there was problem with the demo server last week. I rechecked this today, and did not get that error.

[2020-02-03 10:39] subhojit777 commented on #12115
@tcheng001 Can you check this. I was not able to replicate the problem. You can skip this steps:

[code]

these steps are outdated. Let me know if you need help.

[2020-02-03 11:31] stamina84 commented on #12390
The main problem is here: `Users with the Administer book outlines permission can add all content types.`, so have to figure out, what will be the best solution, not just hide

[2020-02-03 11:49] uttkarsh-26 commented on #12921
Started looking into this :
Had a question about Abstract field : Currently, I see it is a normal string field and does not support html but the import sample for bibtex looks like it can have html values.
Is it correct that we need to update/replace the Abstract field (provided by contrib module) to support HTML?
@rbran100 @tcheng001 @subhojit777

[2020-02-03 11:53] subhojit777 commented on #12921
I think, yes, we need to add support for HTML. So the contrib module will take care of the heavy-lifting of doing the import - we will kind-of do customizations to suit our needs.

[2020-02-03 11:58] subhojit777 commented on #11636
@jashish24 merged. check on demo.

[2020-02-03 12:08] subhojit777 commented on #12955
Closing this as the CI was green https://travis-ci.org/openscholar/openscholar/builds/645335328

[2020-02-03 12:08] #12955 closed

[2020-02-03 13:10] stamina84 commented on #12390
I found an issue about that, will investigate: https://www.drupal.org/project/drupal/issues/502430

[2020-02-03 14:06] tcheng001 commented on #12613
@uttkarsh-26    Just like D7, a basic member can revert/delete revisions of nodes which is created by  him.   I think this way is more consistent.

[2020-02-03 14:40] tcheng001 commented on #12762
@subhojit777   Now,  a member is able to create a new vsite.  However,  after the vsite is created, the user can't access most of commands from Control Panel.  It seems that the user doesn't become the site owner.

![Screen Shot 2020-02-03 at 9 40 07 AM](https://user-images.githubusercontent.com/2111600/73662088-356bf780-4669-11ea-81f0-435c0225b9d2.png)

[2020-02-03 14:40] stamina84 commented on #12390
But it seems, remove will be the less pain. @tcheng001 could you confirm, that should remove from ALL node forms? Or just not "page" node forms?

[2020-02-03 14:51] tcheng001 commented on #12115
@subhojit777    I am not able to reproduce the issue either.   Do you mind I close it?

[2020-02-03 14:56] tcheng001 commented on #12390
@stamina84    Sorry.  I didn't mention in the description.  Remove Book Outline from all nodes except Page.

[2020-02-03 15:13] subhojit777 commented on #12762
@tcheng001 There is a ticket for the problem you have mentioned https://github.com/openscholar/openscholar/issues/12950 I think this one can be closed.

[2020-02-03 15:13] subhojit777 commented on #12115
yes please @tcheng001

[2020-02-03 15:13] stamina84 commented on #12123
@tcheng001 Dynamic selection on create form has a technical difficulties, so I think I can only apply this when you are on edit form (the exact layout is known). Could you please write a proper description for this upload image field?
![image](https://user-images.githubusercontent.com/3629993/73664697-218fb800-46a0-11ea-89d8-e20b5916daee.png)

[2020-02-03 15:26] tcheng001 commented on #12762
Unable to reproduce the issue.

[2020-02-03 15:26] #12762 closed

[2020-02-03 15:27] #12115 closed

[2020-02-03 16:39] tcheng001 commented on #11636
- [ ] 1. [Used In] filter not working fine.
Here is an example:   searching pattern "4524353425" but the result shows all files in the vsite. The result should be nothing.
![Screen Shot 2020-02-03 at 11 34 19 AM](https://user-images.githubusercontent.com/2111600/73671588-3ad13e00-4679-11ea-9421-e9832e6d0fef.png)

- [ ] 2.  When adding multiple files using Add file button,  the uploaded files don't

[2020-02-03 16:50] tcheng001 commented on #12860
I can't reproduce this any more because we use preset during site creation.  Closing.
If I create an individual site (personal preset),  main menu list "Home, Bio, Class, and Publication"
![Screen Shot 2020-02-03 at 11 50 17 AM](https://user-images.githubusercontent.com/2111600/73672713-61907400-467b-11ea-9a81-7d6b0b53ff9f.png)

[2020-02-03 16:50] #12860 closed

[2020-02-03 17:26] tcheng001 commented on #12811
Mark "Fixed"

[2020-02-03 17:26] #12811 closed

[2020-02-03 17:29] tcheng001 commented on #12923
Unable to reproduce the issue any more.

[2020-02-03 17:29] #12923 closed

[2020-02-03 18:28] tcheng001 commented on #12819
Mark "Fixed"

[2020-02-03 18:29] #12819 closed

[2020-02-03 19:13] tcheng001 commented on #12893
http://d8.theopenscholar.com/site01
The first slide is slideshow widget. No arrow and dot are shown.  Can you take a look?

[2020-02-03 19:16] tcheng001 commented on #12919
mark "Fixed"

[2020-02-03 19:17] #12919 closed

[2020-02-03 22:33] stamina84 commented on #12744
All PRs are green now, I will continue with other updates

[2020-02-04 04:09] subhojit777 commented on #12613
@uttkarsh-26 I think there should be separate permission strings for revisions, supporting `any` and `own` - same as we have for node bundles.

Like, for example, `revert group_node:blog revisions` will be split into `revert any group_node:blog revisions` and `revert all group_node:blog revisions`. That way it will be easier to control. Let me know if you have any questions.

[2020-02-04 04:43] mukeyshkumar commented on #12893
@tcheng001
Please enable the scrollbar in the slider widget settings.

[2020-02-04 04:48] uttkarsh-26 commented on #12613
But it can be more out of sync this way too.
Consider this :
For a `xyz` role we give them permission `revert ANY group_node:blog revisions` . As a standard practice from core first, we check if he has this permission AND `update ANY group_node:blog entity` , only then we allow access.
But let's say he only has been given `update OWN group_node:blog entity` only then actually it is wrong and out o

[2020-02-04 05:07] kiran-axl commented on #12805
@tcheng001 , please QA this feature.

[2020-02-04 05:23] subhojit777 commented on #12613
Discussed with Uttkarsh about this. We saw that it is already working (with some more permissions for the basic member). We have decided to write tests which would assert the behavior that is expected.

[2020-02-04 05:27] subhojit777 commented on #12776
@kiran-axl merged. confirm the fix on demo.

[2020-02-04 06:45] subhojit777 commented on #12305
https://github.com/openscholar/openscholar/pull/12966#issuecomment-581766440

[2020-02-04 06:49] mukeyshkumar opened #12972 "Ui Issues: College theme spacing issue after menu"
College theme spacing issue in the main content area.

Attaching a screenshot for ref.
![college11](https://user-images.githubusercontent.com/47223502/73720683-87d01580-4748-11ea-9d99-d92779f0a4be.png)

PR:https://github.com/openscholar/openscholar/pull/12973

[2020-02-04 07:05] lomasgupta commented on #12305
PR link https://github.com/openscholar/openscholar/pull/12966

[2020-02-04 07:30] subhojit777 commented on #11848
https://github.com/openscholar/openscholar/pull/12957#issuecomment-581778197

[2020-02-04 08:31] subhojit777 commented on #12744
Closing this, as the tests were green.

[2020-02-04 09:49] subhojit777 commented on #12753
I was able to retrieve the data like this:

[code]

I noticed that I was not using `https` while retrieving the data.

[2020-02-04 09:58] mukeyshkumar commented on #12972
After screenshot

![c1](https://user-images.githubusercontent.com/47223502/73734005-f4f0a480-4762-11ea-89e0-c0ac1a3a5425.png)

[2020-02-04 10:04] subhojit777 commented on #12753
[code]

[2020-02-04 10:15] stamina84 commented on #12744
@subhojit777 its just about half of the updates :) I will continue creating PRs

[2020-02-04 10:22] subhojit777 commented on #12744
Can you create separate tickets for them.

[2020-02-04 10:39] stamina84 commented on #12744
Sure, I can handle that way too, then what if we keep that ticket for collection?

[2020-02-04 11:04] subhojit777 commented on #12613
@uttkarsh-26 merged. confirm the changes on demo.

[2020-02-04 11:39] kiran-axl commented on #12776
@tcheng001 , verified this feature change on demo - site01. Please QA this ticket.

[2020-02-04 11:40] subhojit777 opened #12975 "Publication Import - PubMed XML"
**Pull request:** https://github.com/openscholar/openscholar/pull/13096

**Parent:** #12753

**Dependencies:**

- #12921

### Motivation:

This is going to add support for import via pubmed XML.

![Screen Shot 2019-12-20 at 4 15 43 PM](https://user-images.githubusercontent.com/2111600/71293626-08c38100-2344-11ea-9661-03907c31b724.png)
![Screen Shot 2019-12-20 at 4 14 14 PM](https://user-images.git

[2020-02-04 11:51] subhojit777 commented on #12975
@tcheng001 apart from the 100 row limit, is there any other validation that will be required in pubmed xml import?

[2020-02-04 12:13] stamina84 commented on #12123
In edit section, the crop selection will be filtered by corresponding crop type:
![image](https://user-images.githubusercontent.com/3629993/73743975-14ca9d00-4750-11ea-9781-5f6e4088bf6e.png)

[2020-02-04 12:14] stamina84 commented on #12123
Here is the new description:
![image](https://user-images.githubusercontent.com/3629993/73744030-3592f280-4750-11ea-816d-4c51f6359def.png)

[2020-02-04 13:45] tcheng001 commented on #12975
I am not familiar with the format. At this point, the most important thing
is to make sure to roll back everything if any entry is found invalidated.

On Tue, Feb 4, 2020 at 6:51 AM Subhojit Paul <notifications@github.com>
wrote:

[2020-02-04 14:08] tcheng001 commented on #12893
@mukeyshkumar    Mark "Fixed"

[2020-02-04 14:08] #12893 closed

[2020-02-04 14:14] tcheng001 commented on #12633
@subhojit777   @Bilsi    Should we put this ticket on hold?  We haven't started testing anything regarding subsites yet.

[2020-02-04 14:26] tcheng001 commented on #12975
@subhojit777  Do you need a sample file?

[2020-02-04 14:43] rbran100 commented on #12747
@stamina84 what replaces the validation that was done in the ajax call?  In the issue queue they are moving it to form validation but you just remove it here?

[2020-02-04 14:48] stamina84 commented on #12747
@rbran100 Nothing replaces, because its just a warning message, I am not removed the original validation, as you can see what I posted, the validation will return with error if the source redirect exists

[2020-02-04 15:24] rbran100 commented on #12725
PR review notes.

[2020-02-04 16:14] stamina84 opened #12977 "Update D8 modules: stage 4"
PR: #12978

* `Updating drupal/field_tools (1.0.0-alpha4 => 1.0.0-alpha5)`
* `Updating drupal/robotstxt (1.2.0 => 1.3.0)`
* `Updating drupal/slick (2.0.0-rc4 => 2.0.0)`
* `Updating drupal/token (1.5.0 => 1.6.0)`
* `Updating drupal/video_embed_field (2.0.0 => 2.2.0)`

[2020-02-04 16:30] stamina84 opened #12979 "Update D8 modules: stage 5"
PR: #12986

* `Updating drupal/group (1.0.0-rc4 => 1.0.0-rc5)`
* `Updating drupal/group_purl (1.0.0-alpha1 => 1.0.0-alpha2)`
* `Updating drupal/views_accordion (1.2.0 => 1.3.0)`
* `Updating drupal/views_advanced_routing (1.0.0-rc2 => 1.0.0)`
* `Updating drupal/views_infinite_scroll (1.5.0 => 1.6.0)`

[2020-02-04 16:38] tcheng001 commented on #12805
http://d8.theopenscholar.com/site17/kpage2   This is only a basic page (not in a book).
No Outline tab appears - that is correct.

However, if I go to the edit form.  It shows Outline tab.
![Screen Shot 2020-02-04 at 11 27 46 AM](https://user-images.githubusercontent.com/2111600/73764846-9ff06680-4741-11ea-8f84-b71c198953be.png)

It seems that there is no difference between a basic page and a page

[2020-02-04 16:53] tcheng001 commented on #12776
Mark "Fixed"
Logged in as a vsite admin.
![Screen Shot 2020-02-04 at 11 51 09 AM](https://user-images.githubusercontent.com/2111600/73766864-a9c79900-4744-11ea-9d58-06a6d4bd1476.png)
![Screen Shot 2020-02-04 at 11 51 27 AM](https://user-images.githubusercontent.com/2111600/73766905-b4822e00-4744-11ea-8e23-6f147257b8fe.png)

![Screen Shot 2020-02-04 at 11 52 22 AM](https://user-images.githubusercon

[2020-02-04 16:53] #12776 closed

[2020-02-04 19:07] rbran100 commented on #12805
There is the dropdown that says "not in a book" I would think that if that is selected then the outline should not show. (it would not show by default)

[2020-02-05 04:42] subhojit777 commented on #12635
https://github.com/openscholar/openscholar/pull/12965#pullrequestreview-353462844

[2020-02-05 05:24] subhojit777 commented on #12747
https://github.com/openscholar/openscholar/pull/12960#pullrequestreview-353465957

[2020-02-05 05:36] subhojit777 commented on #11848
@mukeyshkumar merged. Can you confirm changes on demo.

[2020-02-05 05:39] subhojit777 commented on #12937
https://github.com/openscholar/openscholar/pull/12976#issuecomment-582249094

[2020-02-05 05:43] kiran-axl commented on #12805
I could also see this bug in my local. Even if its a single basic page (not a book), Outline tab appears while editing the page. @tcheng001 , if this ticket's feature is working, could you close this one and list all book related bugs separately in another ticket.

@Bilsi @subhojit777 @rbran100 , please suggest.

[2020-02-05 05:48] subhojit777 commented on #12937
Nothing to QA here. This ticket fixed incorrect testMenuBlock, see https://github.com/openscholar/openscholar/pull/12976

[2020-02-05 05:48] #12937 closed

[2020-02-05 05:53] subhojit777 commented on #12843
@tcheng001 I think it would also make sense to put validation on email as well - so that people don't upload incorrect email by mistake. What do you think? @Bilsi

[2020-02-05 06:04] subhojit777 commented on #12843
Also, it would be useful to validate the website urls? @tcheng001

[2020-02-05 06:59] subhojit777 commented on #12841
@tcheng001 can you update the example template (https://docs.google.com/spreadsheets/d/1Ltghj4AzmDwyCsrHUoLjbp4sJXqIwx7X0xKaaex7TMw/edit). We will set the default packing method during import.

[2020-02-05 07:16] lomasgupta commented on #12305
All Test Pass https://github.com/openscholar/openscholar/pull/12966

[2020-02-05 07:23] subhojit777 opened #12981 "Publication Import - EndNote Tagged"
**Pull request:**

**Parent:** #12753

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-02-05 07:23] subhojit777 opened #12982 "Publication Import - EndNote XML"
**Pull request:**

**Parent:** #12753

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-02-05 07:24] subhojit777 opened #12983 "Publication Import - MARC"
**Pull request:**

**Parent:** #12753

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-02-05 07:25] subhojit777 opened #12984 "Publication Import - PubMed ID List"
**Pull request:**

**Parent:** #12753

**Dependencies:**

-

### Steps to replicate:

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [ ]

[2020-02-05 07:29] subhojit777 commented on #12753
I have created separate tickets for every publication type of import, and have put them in team A 5 milestone. Can we close this one? @Bilsi

- bibtex #12921
- endnote tagged #12981
- endnote xml #12982
- marc #12983
- pubmed id list #12984
- pubmed xml #12975

![Screen Shot 2019-12-20 at 4 14 14 PM](https://user-images.githubusercontent.com/2111600/71293672-255fb900-2344-11ea-8340-f6d7577d1e55.pn

[2020-02-05 07:31] mukeyshkumar opened #12985 "Ui Issues: When hover child menu parent menu background color disappears"
Ui Issues: When hovering child menu parent menu hovered background color disappeared

![m1](https://user-images.githubusercontent.com/47223502/73820732-5fafe780-4818-11ea-81f4-0e1eb895ab36.png)

PR: https://github.com/openscholar/openscholar/pull/12988

[2020-02-05 08:17] subhojit777 commented on #12305
@lomasgupta what is that 1 error and contrast error you are getting?
![image](https://user-images.githubusercontent.com/1435641/73823317-01860300-481e-11ea-8eab-9ecdff111cdc.png)

[2020-02-05 08:18] subhojit777 commented on #12305
@lomasgupta I saw that setting look different as per your PR. Can you take a look.
<img width="437" alt="image" src="https://user-images.githubusercontent.com/1435641/73823377-19f61d80-481e-11ea-8e94-287500eb4e8b.png">

[2020-02-05 08:23] stamina84 commented on #12944
Note for comparison: https://stackoverflow.com/questions/13575531/what-are-the-differences-between-chosen-and-select2

[2020-02-05 08:27] subhojit777 commented on #12975
@tcheng001 I have got it here https://drive.google.com/drive/folders/11IKDdatXTn7iBDE8go8EAMyf-ASPuxaO

[2020-02-05 08:33] subhojit777 commented on #12805
Agree.

[2020-02-05 10:28] jashish24 commented on #12635
![Search_facets](https://user-images.githubusercontent.com/32076806/73833627-4a46b780-4830-11ea-80c2-19a15db37f8c.png)

Attached a11y report

[2020-02-05 10:46] saurabh-axl commented on #11636
@tcheng001 can you create a new bug ticket for point 1 in the comment as it is not related to implementation done in this ticket.

[2020-02-05 11:27] mukeyshkumar commented on #12985
After screenshots
![menu-hover](https://user-images.githubusercontent.com/47223502/73837956-9564c880-4838-11ea-9ee5-4f537aa3734c.png)
![menu-hover1](https://user-images.githubusercontent.com/47223502/73837963-97c72280-4838-11ea-8dc7-f20131828066.png)

[2020-02-05 11:44] subhojit777 commented on #12725
https://github.com/openscholar/openscholar/pull/12907#discussion_r375208511

[2020-02-05 13:21] tcheng001 commented on #12805
Mark "Fixed"
1. able to add single basic page
2. able to add a page of book and its descendants
3. able to add a book.

[2020-02-05 13:21] #12805 closed

[2020-02-05 13:41] stamina84 commented on #12944
@rbran100 I tried to investigate all possibilities, collect these ones:

1. extend html source with extra hidden `<label>` with proper "for" attribute

Seems not a good option, its kind of old-fashion and its look like just a workaround with and extra unused label in source.

2. extend indput with `aria-labelledby`

I've cloned the select2 library and create a patch about this, but later I saw, th

[2020-02-05 13:47] tcheng001 commented on #12843
if this is not that complicate, go ahead.  Otherwise, just make it simple.   Even though we can validate the formats, users still can make mistakes.

[2020-02-05 13:50] tcheng001 commented on #12841
@subhojit777   Done

[2020-02-05 14:12] rbran100 commented on #12944
@stamina84 please replace with select2 since it is maintained, and then we can tackle separately the A11y issue, there is no need to bend over backwards and make a maintenance nightmare, we can wait for select2 to make progress which it looks like they are SLOWLY doing

[2020-02-05 14:29] rbran100 opened #12991 "Don't clear all css/js when custom theme is updated"
**Pull request:** #13024

**Parent:** #12725

### Motivation:

We need to make sure CSS/JS resources only related to the custom theme is invalidated when it is updated. Currently, the system forces the resources to pulled again for any parent themes.

See https://github.com/openscholar/openscholar/pull/12907#discussion_r374737203 for details

### Acceptance Criteria

- [x] As a vsite admin, when I

[2020-02-05 14:49] Bilsi commented on #12037
Not planning to use media browser in presentation

[2020-02-05 14:49] #12037 closed

[2020-02-05 14:50] subhojit777 commented on #12635
@jashish24 merged. you can confirm changes on demo now.

[2020-02-05 15:01] subhojit777 commented on #12725
@tcheng001 you may QA this now.

[2020-02-05 15:02] #12753 closed

[2020-02-05 16:13] tcheng001 opened #12993 "Single base page should not access Outline tab"
**Pull request:** https://github.com/openscholar/openscholar/pull/13147

### Steps to replicate:

1. Create a page (not a page of book)
2. Click Edit from the contextual link
3. You would see ![Screen Shot 2020-02-05 at 11 10 40 AM](https://user-images.githubusercontent.com/2111600/73859604-499a2b00-4808-11ea-8c6b-86b4aa0fd892.png)

Since this is a single page (not a page of book), please hide Out

[2020-02-05 17:14] tcheng001 commented on #12725
Mark "Pending"
That is weird.  I was able to create custom theme.
But now, it redirects me to http://d8.theopenscholar.com/cp/appearance/themes/custom-themes/os_ct_16_site17_001/install/1 and Access denied
![Screen Shot 2020-02-05 at 12 12 34 PM](https://user-images.githubusercontent.com/2111600/73865232-f37db580-4810-11ea-8c7e-c9185e5b815d.png)

Steps to reproduce:
1. go to a vsite   (http://d8.t

[2020-02-05 17:57] tcheng001 commented on #12873
Mark "Fixed"
<img width="1024" alt="Screen Shot 2020-02-05 at 12 56 50 PM" src="https://user-images.githubusercontent.com/2111600/73868745-07c4b100-4817-11ea-9d1f-14db91e5beb4.png">

[2020-02-05 17:57] #12873 closed

[2020-02-05 18:11] tcheng001 opened #12994 "Attached images issue"
PR Link : https://github.com/openscholar/openscholar/pull/13206
Steps to reproduce:
1. Attach 3 image files to a blog node
![Screen Shot 2020-02-05 at 1 07 36 PM](https://user-images.githubusercontent.com/2111600/73869593-938b0d00-4818-11ea-849d-6b3d99cbff8d.png)

2. Save the blog
![Screen Shot 2020-02-05 at 1 09 11 PM](https://user-images.githubusercontent.com/2111600/73869752-e2d13d80-4818-11ea-

[2020-02-05 19:00] tcheng001 commented on #12613
Mark "Fixed"
1. vsite admin is able to access revision of all nodes
2. content editor is able to access revision of all nodes
3. basic member is able to access revision of those nodes which are created by himself

[2020-02-05 19:00] #12613 closed

[2020-02-05 19:57] tcheng001 commented on #12905
Mark "Pending"
-[ ] 1. Just created a new site. d8.theopenscholar.com/site18/search
In search layout. there are 5 widgets on the right while it appears another 5 widgets on the left.  What are they?
![Screen Shot 2020-02-05 at 2 40 34 PM](https://user-images.githubusercontent.com/2111600/73876918-d6071680-4825-11ea-8be6-f323be3638c9.png)

[2020-02-05 20:02] tcheng001 commented on #12972
Mark "Fixed"
![Screen Shot 2020-02-05 at 3 02 10 PM](https://user-images.githubusercontent.com/2111600/73878431-85dd8380-4828-11ea-82f1-b0fa561ccf24.png)

[2020-02-05 20:02] #12972 closed

[2020-02-05 20:08] stamina84 commented on #12979
Fixed lock file

[2020-02-05 20:12] tcheng001 opened #12995 "Menu setting is missing in node forms"
![Screen Shot 2020-02-05 at 3 11 14 PM](https://user-images.githubusercontent.com/2111600/73879135-e9b47c00-4829-11ea-8157-4776a68ab9cc.png)

[2020-02-05 20:20] #12390 closed

[2020-02-05 20:36] tcheng001 commented on #12123
Moving to "in dev"
widescreen is not working.  Tested on d8.theopenscholar.com/site17.
1. Slideshow Layout  set to Widescreen Overlay
2. Select Widescreen cropping mode for slides
Am I still missing something?

[2020-02-05 20:37] tcheng001 commented on #12577
blocked by #12123   Mark "Pending"

[2020-02-05 20:39] stamina84 commented on #12123
@tcheng001 Yes, you are right, its a bug, I fixed it temporary at demo, but it needs a config modification

[2020-02-05 21:50] #12977 closed

[2020-02-05 21:51] #12979 closed

[2020-02-05 23:12] stamina84 commented on #12744
@rbran100 checked the current state of updates, and seems good, just one module is questioned:
https://www.drupal.org/project/crop - what do you think, shall we try 2.0?

[2020-02-05 23:14] stamina84 commented on #12744
@mukeyshkumar What do you think of update https://www.drupal.org/project/bootstrap? My past experience is to avoid that, or have to fix some minor UI issues :)

[2020-02-06 04:38] subhojit777 commented on #12985
https://github.com/openscholar/openscholar/pull/12988#issuecomment-582733211

[2020-02-06 04:51] Jiteshkhatwani commented on #12905
@tcheng001 yup I saw that. Probably this is because of the fixed block content. I have to check with @jashish24 regarding fixed blocks. It may require some configuration change.

[2020-02-06 04:57] mukeyshkumar commented on #12744
@stamina84
I think the latest version is fine.

[2020-02-06 06:40] uttkarsh-26 commented on #12921
This issue will take little more time than the original estimate as we have to create a new Abstract field that supports HTML and will replace contrib's abstract field.
It has lot of dependent code, tests and also UI implementations that need to be altered accordingly(Which has turned out to be quite a big change).
cc @subhojit777 @Bilsi

[2020-02-06 06:41] uttkarsh-26 commented on #12921
@tcheng001 @Bilsi
What all validations should be in place for the uploaded `.bib` file.
One is it should not have more than 100 entries?
What other validation if any should be in place?

[2020-02-06 08:38] subhojit777 commented on #12674
@tcheng001 @Bilsi Can you let me know about the items marked in **bold**?

1. A widget removed from the current page, is removed from only that page, for other pages (and subpages) it appears. **Do we want that feature as well?**
![question-1](https://user-images.githubusercontent.com/1435641/73919554-c6e99c80-48e9-11ea-8889-8204dd16d1c5.png)
2. I found that these options in D7 ![question-2](https

[2020-02-06 11:43] subhojit777 commented on #12635
@jashish24 merged. check now.

[2020-02-06 12:03] subhojit777 commented on #12725
@tcheng001 hmm.. I think the problem is similar to the one we fixed here https://github.com/openscholar/openscholar/issues/12659 The fix is somehow not working in this case. I will look into it.

@tcheng001 Let me know if the bug as per this ticket is fixed.

It was made unique as part of https://github.com/openscholar/openscholar/issues/12721

---

@Bilsi The problem is a special case. But we wil

[2020-02-06 12:29] subhojit777 commented on #12725
Found that problem is in the code changes done in https://github.com/openscholar/openscholar/issues/12659. Should take around 4 hrs - to fix and test.

[2020-02-06 13:53] tcheng001 commented on #12921
@uttkarsh-26     yes. that's it.  Make sure that the process roll backs if is fails.

[2020-02-06 14:15] stamina84 opened #12999 "Update bootstrap"
PR:

`Updating drupal/bootstrap (3.17.0 => 3.21.0)`

[2020-02-06 14:39] stamina84 commented on #12999
One of the patch, which can't be applied, not clear for me whats for:
Related to this issue: https://github.com/openscholar/openscholar/issues/11027
`patches/bootstrap.11027.footer.patch`
What was the use case of that?
@tcheng001 @Bilsi do you remember?

[2020-02-06 14:42] stamina84 commented on #12999
The other patch is merged here: https://git.drupalcode.org/project/bootstrap/commit/a72c7ee

[2020-02-06 14:59] stamina84 opened #13002 "Update Crop API to 2.0"
PR: #13003

`Updating drupal/crop (1.5.0 => 2.0.0)`

QA info:
* check profile Crop functionality: `cp/settings/apps-settings/profiles`
* check Slideshow widget slide crop functionality

[2020-02-06 15:23] jashish24 commented on #12635
Found that a config file is missed, creating another PR.

[2020-02-06 16:07] rbran100 commented on #12999
No idea at all what that does, the comments are really lacking

[2020-02-06 16:19] tcheng001 opened #13005 "No term entry showed in File form"
Steps to reproduce:
1. Create a new vocabulary applicable to media
2. Create a term for the vocabulary
3. Upload a file
4. When Media Browser shows file form, click ADVANCED to expand the file
Note: no term entry appear there
![Screen Shot 2020-02-06 at 11 14 00 AM](https://user-images.githubusercontent.com/2111600/73955915-2471ef00-48d2-11ea-8950-ab0763be9508.png)

Please refer to that in D7:
![S

[2020-02-06 16:24] tcheng001 commented on #11532
Mark "Pending"
1. Tested on /cp/content/browse/node page.  It works.
2. Unable to test /cp/content/browse/files.  Blocked by https://github.com/openscholar/openscholar/issues/13005

[2020-02-06 16:41] tcheng001 commented on #12674
@subhojit777
1. We need that.
`A widget removed from the current page, is removed from only that page, for other pages (and subpages) it appears. Do we want that feature as well?`

2.  We can access contextual link (subpage) and can add existing pages/book from Outline.  Might be, we don't have provide  them from [Add New].   If none of them is required, then [Add New] is not needed.  Possible?

3

[2020-02-06 18:34] tcheng001 commented on #12747
Moving to "in dev"
More issues:
- [ ] 1.  [viste:2] is confusing. Please remove it. See the image below.
- [ ] 2. when clicking the link "edit the existing redirect", I got Accessed denied.
![Screen Shot 2020-02-06 at 1 06 38 PM](https://user-images.githubusercontent.com/2111600/73965349-fd231e00-48e1-11ea-9332-9aaf5af3a4a9.png)
- [ ] 3. it redirects to home after saving a URL redirect.  I think i

[2020-02-06 18:42] stamina84 commented on #12747
@tcheng001 number 1-2, this is what I asked here in last line :) https://github.com/openscholar/openscholar/issues/12747#issuecomment-580719574

[2020-02-06 20:31] tcheng001 commented on #12638
Moving "in dev"
@jashish24
- [ ] 1. Relevance should be an option like others (Title, Type, and Date).  It seems that Relevance is the default sorting.  After I click Type, there is no way of selecting Relevance.

- [ ] 2. Please add title "Sort By" for the widget.

![Screen Shot 2020-02-06 at 3 26 52 PM](https://user-images.githubusercontent.com/2111600/73976137-aa536180-48f5-11ea-9a00-8ef37bfcb9

[2020-02-07 04:18] subhojit777 commented on #12635
https://github.com/openscholar/openscholar/pull/13004#pullrequestreview-354922828

[2020-02-07 04:25] lomasgupta commented on #12305
All test are pass except one https://travis-ci.org/openscholar/openscholar/jobs/646787834?utm_medium=notification&utm_source=github_status
The error is No code coverage driver is available

[2020-02-07 05:17] jashish24 commented on #12635
![12635-a11y_1](https://user-images.githubusercontent.com/32076806/74003024-294ca680-4997-11ea-881c-441b69196407.png)
![12635-a11y_2](https://user-images.githubusercontent.com/32076806/74003030-2ce02d80-4997-11ea-96d8-f90246a293e5.png)
![12635-a11y_3](https://user-images.githubusercontent.com/32076806/74003031-2fdb1e00-4997-11ea-9d8b-bc13c5dec48b.png)

Attached a11y reports.

[2020-02-07 05:26] subhojit777 commented on #12305
I saw that the build is green. That is sufficient. Actually, we don't use xdebug for running functional tests, that is why you saw that error.

[2020-02-07 05:26] lomasgupta commented on #12305
All Test Pass #12966

[2020-02-07 05:29] subhojit777 commented on #12305
https://github.com/openscholar/openscholar/pull/12966#pullrequestreview-354937622

[2020-02-07 05:31] subhojit777 commented on #12635
@jashish24 merged. check now.

[2020-02-07 06:08] subhojit777 commented on #12985
@mukeyshkumar merged. check now.

[2020-02-07 08:46] saurabh-axl commented on #12831
@Bilsi @tcheng001
'http://college.harvard.edu/sites/default/files/harvard-fy.pdf' is not accessible please give me another file for template.

[2020-02-07 09:39] subhojit777 commented on #12171
@kiran-axl I saw that problem is still there for page layouts - as discussed over the call. Please take a look.

[2020-02-07 09:44] subhojit777 commented on #12674
@tcheng001 This one I found should work by itself - it is already there. However, there are some problems, which are going to be fixed in https://github.com/openscholar/openscholar/issues/12171

---

@tcheng001 I didn't get you here. Are you asking to add another option in the contextual link, same as "Existing page to section"? ![image](https://user-images.githubusercontent.com/1435641/74018700-5

[2020-02-07 09:58] kiran-axl commented on #12171
@subhojit777 , this problem exists for only sub-pages of books. Working on the fix.

[2020-02-07 11:27] kiran-axl commented on #12171
@subhojit777 , as per my observation, the pages and sub-pages in book take the layout of **Section layout (os_pages_section_BOOK_NODE_ID)**. The widgets/layout will still be same until we modify the layout for that particular **Section layout** of that book and the new sub-pages created in that book will by default take the **Section layout (os_pages_section_BOOK_NODE_ID)**.

Steps to reproduce:

[2020-02-07 12:10] stamina84 commented on #12944
Ready to review, I haven't removed the chosen from composer yet, it will be in another PR, because of uninstall.

[2020-02-07 13:10] tcheng001 commented on #12831
Can you try this one?
https://hwpi.harvard.edu/files/torman_fileserver/files/lady6.png

On Fri, Feb 7, 2020 at 3:46 AM Saurabh Pandit <notifications@github.com>
wrote:

[2020-02-07 13:17] tcheng001 commented on #12674
@subhojit777   No.   what I mean is that we can add existing page/book from Outline based on the current design. So, we don't need  [Existing Page to Section] any more there. Also.  we can add subpage via contextual link.  Therefore, it seems that   [Add New] is redundant.   What do you think?

[2020-02-07 13:36] tcheng001 commented on #12171
@kiran-axl     I found the issue in news page's layout and I believe the issue occurs in other layouts as well.  I didn't test in basic page/book yet. I have a feeling the issue becomes more complicated in book pages layout.

[2020-02-07 13:48] tcheng001 opened #13009 "Hide machine name from forms"
The issue is found in the following places:
1. Add vocab form
![Screen Shot 2020-02-07 at 8 43 04 AM](https://user-images.githubusercontent.com/2111600/74034273-f3eb8d00-4985-11ea-888b-49349e335c14.png)

2. Add custom theme form
![Screen Shot 2020-02-07 at 8 46 29 AM](https://user-images.githubusercontent.com/2111600/74034502-68bec700-4986-11ea-86d3-5f575f33ae4c.png)

If you see the issue in other

[2020-02-07 14:07] tcheng001 opened #13010 "Missing actions - Applying and Removing taxonomy terms in /cp/content/files page"
This ticket is split from #11532
Unable to test it now. Blocked by #13005

[2020-02-07 14:10] tcheng001 commented on #11532
@stamina84   I split this ticket.   Applying and Removing taxonomy terms in /cp/content/files is handled by #13010.  The function is working fine in  /cp/content/ page.  So closing it now.

[2020-02-07 14:10] #11532 closed

[2020-02-07 15:11] tcheng001 commented on #12639
@jashish24       Filter is changed to "Nov 1970"
Tested on http://d8.theopenscholar.com/site19/search

Steps to reproduce:
1. go to http://d8.theopenscholar.com/site19/search?af
2. click "2020 (16)"
3. click "Feb 2020 (15)"
4. click "(-) 2020"

Then you see "(-) Feb 1970"

[2020-02-07 15:53] tcheng001 commented on #12642
@jashish24
Filters appear duplicated.  Tested on http://d8.theopenscholar.com/site19/search
Steps to reproduce:
1. go to http://d8.theopenscholar.com/site19/search
Note: you should see 3 filters under Filter By Taxonomy
![Screen Shot 2020-02-07 at 10 48 51 AM](https://user-images.githubusercontent.com/2111600/74043499-7761aa00-4997-11ea-957f-501559f54556.png)

2. click "blue (6)"
Then, I see both

[2020-02-07 20:04] tcheng001 commented on #12123
Moving in "in dev"
- [ ] 1. Viewer can access Add slide - that is incorrect.
![Screen Shot 2020-02-07 at 2 33 45 PM](https://user-images.githubusercontent.com/2111600/74060113-45604000-49b7-11ea-9f8f-568599c80d64.png)

- [ ] 2. Uploaded slides not found in /cp/content/browse/files page.  ok?

- [ ] 3.  Newly added slide is not showed until the widget refreshes

- [ ] 4. Can slides be in Collapse m

[2020-02-07 20:14] tcheng001 commented on #12577
Mark "Fixed"
![Screen Shot 2020-02-07 at 3 13 48 PM](https://user-images.githubusercontent.com/2111600/74062543-77c06c00-49bc-11ea-9a5f-d48e52d2bba9.png)

![Screen Shot 2020-02-07 at 3 13 07 PM](https://user-images.githubusercontent.com/2111600/74062484-5f505180-49bc-11ea-923c-59e8a6118ab8.png)

[2020-02-07 20:14] #12577 closed

[2020-02-07 21:20] tcheng001 commented on #11636
Still not working.  Moving to "in dev"
Steps to reproduce:
1. go to http://d8.theopenscholar.com/torman-ss
2. click [Add file]
Note: Media Browser opens
3. click [Select files to Add]
Note: Local file browser opens
4. select 2 files to upload
Note:
a) Media Browser closes
b) The 2 newly files don't appear in /cp/content/browse/files.

[2020-02-10 04:10] subhojit777 commented on #13002
https://github.com/openscholar/openscholar/pull/13003#pullrequestreview-355683406

[2020-02-10 04:14] subhojit777 commented on #12999
There is nothing much to QA here, but I would like to check this with @tcheng001

[2020-02-10 04:20] subhojit777 commented on #12944
1. https://github.com/openscholar/openscholar/pull/12958#pullrequestreview-355684871
1. https://github.com/openscholar/openscholar/pull/12958#issuecomment-583948780

[2020-02-10 04:28] mukeyshkumar opened #13011 "UI issue- Node pages(blog, news etc) border-bottom not visible"
UI issue- Node pages border-bottom not visible should be more visible.

![br](https://user-images.githubusercontent.com/47223502/74121034-d586cb00-4beb-11ea-998e-bbb8fe52dcd4.png)

PR: https://github.com/openscholar/openscholar/pull/13013

[2020-02-10 06:05] subhojit777 opened #13012 "Layout setting cannot be saved if there are many widgets"
**Pull request:** https://github.com/openscholar/openscholar/pull/13239

**Parent:**

**Dependencies:**

-

### Steps to replicate:

![problem-1](https://user-images.githubusercontent.com/1435641/74124742-5a2c1600-4bf9-11ea-9710-90ce872943de.png)

1.

### Motivation:

### Acceptance Criteria

1.

### Technical implementation:

-

### Estimated Time:

### Tasks:

- [ ]

### Notes:

### Tests:

- [

[2020-02-10 06:06] subhojit777 commented on #13012
@tcheng001 Found this problem today. Let me know if this also happening for you. In my case - Firefox 72.0.2, MacOS was used.

[2020-02-10 06:10] subhojit777 commented on #12171
1. Go to home page
1. Visit "Layout Edit" mode
1. Create a widget and place it in a region
1. Save the settings
1. Create new page and make sure `Allow this page to be part of a book` is checked
1. Add a subpage of the page created above
1. Visit "Layout Edit" mode
1. Remove the widget from region that was placed previously
1. Save the settings
1. The widget is still present in that region for the

[2020-02-10 06:11] saurabh-axl commented on #11636
@tcheng001
Im am able to upload multiple files on the site and its gets refreshed for me, can you test again maybe it was a cache issue.

[2020-02-10 06:27] lomasgupta commented on #12305
@subhojit777 please review https://github.com/openscholar/openscholar/pull/12966. Test is pass

[2020-02-10 07:05] mukeyshkumar commented on #13011
After Screenshot:

![bb-1](https://user-images.githubusercontent.com/47223502/74127873-cdd22100-4c01-11ea-86f9-c12d6d17759d.png)

[2020-02-10 07:42] subhojit777 commented on #12305
@lomasgupta merged. confirm the fix on demo.

[2020-02-10 08:38] subhojit777 commented on #12674
Yes. Agree.

[2020-02-10 08:47] mukeyshkumar opened #13014 "Search widget title ui needs improvement"
Search widget title UI needs improvement.
![sw](https://user-images.githubusercontent.com/47223502/74134173-0ed13200-4c10-11ea-89f0-6924318a7b21.png)

PR: https://github.com/openscholar/openscholar/pull/13044

[2020-02-10 09:50] lomasgupta commented on #12841
PR https://github.com/openscholar/openscholar/pull/13015

[2020-02-10 10:41] lomasgupta commented on #12305
Found an issue in self review. Description metatag field has default value "[os_metatag:meta_description]" . Removed it from the settings. PR raised https://github.com/openscholar/openscholar/pull/13016

[2020-02-10 10:46] subhojit777 commented on #13011
@mukeyshkumar merged. check now.

[2020-02-10 12:47] tcheng001 commented on #13012
@subhojit777   Yes. I can reproduce the issue.  If the widget list is getting longer, it will overlay Save and Reset button.

[2020-02-10 13:27] Bilsi commented on #12633
@tcheng001 - yes

[2020-02-10 13:28] Bilsi commented on #11636
@tcheng001 - can you qa this again?

[2020-02-10 13:44] tcheng001 commented on #12747
Mark "Fixed"
tested on the following cases in To field
1. searching existing nodes
2. internal path like `/node/news/news001`
3. external path like `https://maps.google.com`
4. `<front>` to link to the front page of the vsite

![Screen Shot 2020-02-10 at 8 43 48 AM](https://user-images.githubusercontent.com/2111600/74154882-7f148f00-4be1-11ea-8cb6-73e74de01a7e.png)

[2020-02-10 13:58] tcheng001 commented on #11636
@saurabh-axl    Can you check again using Chrome?   It seems working fine in Firefox but the issue still appears in Chrome.
Mark "Pending"

[2020-02-10 14:20] tcheng001 commented on #12638
@saurabh-axl
I got a strangle search result when sorted by Title.  Tested on http://d8.theopenscholar.com/site19/search

Why CV is listed on the top?
I think that  [CV] should be listed below [Bio], [biology 100], [blog 001], .....

[2020-02-10 14:30] tcheng001 commented on #11636
Mark "Fixed"
@saurabh-axl   is not able to reproduce in his env even though using the same version of Chrome.  The issue doesn't appear in Firefox.  So, I am closing it.

[2020-02-10 14:31] #11636 closed

[2020-02-10 18:11] tcheng001 opened #13020 "Search widgets should not list in Select Widget Type"
**Pull Request:https://github.com/openscholar/openscholar/pull/13131**

### Motivation:

![Screen Shot 2020-02-10 at 1 09 53 PM](https://user-images.githubusercontent.com/2111600/74176974-c82b0a00-4c06-11ea-84e3-153c1232eb1c.png)

### Technical Implementation:

- Look into `Drupal\os_widgets\Plugin\DisplayVariant\PlaceBlockPageVariant::buildWidgetLibrary` to ignore unwanted types from the list
- S

[2020-02-10 18:34] tcheng001 opened #13021 "widget appears in File deletion confirmation page"
Steps to reproduce:
1. create a widget for All Pages
2. go to  /cp/content/browse/files
3. click Delete link from a file
Note: the widget appears in the confirmation page.
![Screen Shot 2020-02-10 at 1 32 13 PM](https://user-images.githubusercontent.com/2111600/74178735-14c41480-4c0a-11ea-82da-2d77ac6e7e86.png)

[2020-02-10 20:38] tcheng001 opened #13022 "Global Settings issues"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13170

### Motivation:

Vsite admin should not allow to access the followings (under Settings -> Global Settings)
1. Cache / Reindex
2. Custom Domain
3. Dataverse

For 1 and 2, only support role can access them after joining the vsite.
For 3, only super user can access it.

![Screen Shot 2020-02-10 at 3 35 27 PM](https://user-images

[2020-02-11 04:03] subhojit777 commented on #12944
https://github.com/openscholar/openscholar/pull/12958#issuecomment-584469912

[2020-02-11 04:22] subhojit777 commented on #12921
pending on @mukeyshkumar - https://github.com/openscholar/openscholar/pull/12989#issuecomment-584472413

scope for improving code coverage - https://github.com/openscholar/openscholar/pull/12989#pullrequestreview-356411554

[2020-02-11 04:35] uttkarsh-26 commented on #12921
https://github.com/openscholar/openscholar/pull/12989#discussion_r377442959

[2020-02-11 04:41] subhojit777 commented on #12921
Got it.

[2020-02-11 05:23] subhojit777 commented on #12921
@uttkarsh-26 merged. you may run the scripts now.

[2020-02-11 06:17] mukeyshkumar commented on #12985
Checked on demo working fine

http://d8.theopenscholar.com/site01

[2020-02-11 06:18] mukeyshkumar commented on #12236
@tcheng001
Can you please test this.

[2020-02-11 10:37] uttkarsh-26 commented on #12975
Thinking to use https://www.drupal.org/project/bibcite_pubmed @subhojit777 , matches your technical implementation and also other formats so we should be good with this.
Please groom this accordingly.

[2020-02-11 10:58] uttkarsh-26 commented on #12921
@tcheng001  Only Bibtext import is ready for QA at this point.
There are multiple tickets to handle each import type separately, this handles only Bibtex import.

[2020-02-11 11:03] subhojit777 commented on #12975
Updated the details in ticket. Thanks for finding out the module - such a relief 😌

[2020-02-11 13:09] kiran-axl commented on #12171
Modifying (adding/removing) widgets to sub-pages layout of a book is not happening. But, observed that data (blocks) for these layouts config are being saved correctly. The issue could be while rendering the widgets onto the page.

The layout could have been overridden from the Book context layout settings. Working on this part

[2020-02-11 13:20] tcheng001 commented on #12638
@saurabh-axl
How is Type sorted?   It looks like the following order
1. Blog
2. **Publication  (Bibliography?)**
3. Class
4. Event
5. FAQ
6. News
7. Page
8. People
9. Presentation
10. Software Project
11. Software Release

[2020-02-11 13:33] #12747 closed

[2020-02-11 13:42] tcheng001 commented on #12641
Mark "Fixed"
Ordered by
1. Occurrence
2. In each group of same occurrence,  ordered by content types ascending
![Screen Shot 2020-02-11 at 8 37 28 AM](https://user-images.githubusercontent.com/2111600/74241594-5d330f00-4caa-11ea-9102-7aa71eb72fc7.png)

[2020-02-11 13:43] #12641 closed

[2020-02-11 14:02] tcheng001 commented on #12635
Looking good.  Mark "Fixed"
1. shows search result and count
2. shows search pattern
3. shows each filter selected
4. able to remove filters and search result is updated
![Screen Shot 2020-02-11 at 9 01 16 AM](https://user-images.githubusercontent.com/2111600/74243163-3aeec080-4cad-11ea-9fb7-443c7710ec39.png)

[2020-02-11 14:03] #12635 closed

[2020-02-11 14:09] tcheng001 commented on #13011
Mark "Fixed"
![Screen Shot 2020-02-11 at 9 09 11 AM](https://user-images.githubusercontent.com/2111600/74243711-3971c800-4cae-11ea-83f0-c19902914351.png)

[2020-02-11 14:09] #13011 closed

[2020-02-11 14:22] rbran100 commented on #12171
Thanks @kiran-axl let me know if you have any questions about how that should work.

[2020-02-11 14:59] rbran100 commented on #12858
@harjaspreetkaur the registration fix looked good and passed CI and is merged.

[2020-02-11 15:24] rbran100 commented on #12935
restarted CI and it passed, ready for QA.

@tcheng001 please note that #12936 is handled seperatly

[2020-02-11 16:24] tcheng001 opened #13028 "Video files not allow to upload"
PR: https://github.com/openscholar/openscholar/pull/13179

Now, we can upload files from cp/content/browse/files page. However, I can upload video files there.
Please remove  avi, mp4, mpeg, and ogv.  They are not allowed to upload.
![Screen Shot 2020-02-11 at 11 22 23 AM](https://user-images.githubusercontent.com/2111600/74256123-e7866d80-4cc0-11ea-8258-6b93806f94b4.png)

![Screen Shot 2020-02-11

[2020-02-11 17:25] rbran100 opened #13029 "Set max upload sizes for media entity files"
PR: https://github.com/openscholar/openscholar/pull/13277

<img width="613" alt="screen_shot_2020-02-11_at_10 50 00_am" src="https://user-images.githubusercontent.com/11841641/74262171-6207bb00-4cca-11ea-90ff-5114d9d07773.png">

ETA: 15 hours

## Tasks

- [x] Change the hardcoded value`512 MB` in `\Drupal\os_media\Plugin\Field\FieldWidget\MediaBrowserWidget` to `128 MB`

- [x] Add a new environmen

[2020-02-11 17:36] tcheng001 commented on #12935
@uttkarsh-26
I exported publications from https://scholar.harvard.edu/tcheng10/publications and then imported to d8.theopenscholar.com/import-bibtex.

https://scholar.harvard.edu/tcheng10 has 56 publications.  After importing, d8.theopenscholar.com/import-bibtex only gets 45 publications and no error message.

Can you take a look on it?

[2020-02-11 19:11] tcheng001 opened #13030 "Primary menu widget disappears"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13149

### Motivation:

Steps to reproduce:
1. go to a vsite home page layout
2. drag Primary menu widget to widget list
3. click [Save]
4. open home page layout again
Note:  Primary menu widget is not in widget list. It doesn't appear in the layout either.  It is gone.
![Screen Shot 2020-02-11 at 1 55 54 PM](https://user-images.git

[2020-02-11 19:34] Bilsi opened #13031 "Default Widget: Mini Calendar"
**Pull request:** https://github.com/openscholar/openscholar/pull/13183

**Dependencies:**

- #13040
- #13105

### Motivation:

"Mini calendar" is a default widget that shows up on the /calendar page and other pages in the "Events" app context.

Example - https://scholar.harvard.edu/bilsi/calendar

Region: sidebar_second

<img width="349" alt="image" src="https://user-images.githubusercontent.com/

[2020-02-11 19:45] Bilsi opened #13032 "Default Widget: Upcoming Events"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13176
**Dependencies:**

- #13105

### Motivation:

Upcoming Events is a default widget that shows up on the /calendar page and other pages in the "Events" app context.

Example - https://scholar.harvard.edu/torman_personal/calendar

<img width="364" alt="Screen Shot 2020-02-17 at 7 49 42 AM" src="https://user-images.githubuserconte

[2020-02-11 19:50] Bilsi opened #13033 "Default Widget: Recent publications"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13177
**Dependencies:**

- #13105

### Motivation:

Recent publications is a default widget that shows up on the /publications page and other pages in the "Publications" app context.

Example - https://scholar.harvard.edu/torman_personal/publications

Region: sidebar_second

![help-3](https://user-images.githubusercontent.com/143564

[2020-02-11 19:54] Bilsi opened #13034 "Default Widget: AddThis Button"
**Pull request:** https://github.com/openscholar/openscholar/pull/13175

**Dependencies:**

- #13105

### Motivation:

AddThis is a default widget that shows up on all pages in the "Publications" app, "Blog" app, "Classes" app, "News" app, "Presentations" and "Software" app context.

Example - https://scholar.harvard.edu/torman_personal/news#
![Screen Shot 2020-02-11 at 2 55 33 PM](https://user-im

[2020-02-11 20:00] Bilsi opened #13035 "Default Widget: Blog Archive"
**Pull request:** https://github.com/openscholar/openscholar/pull/13163

**Dependencies:**

- #13040
- #13105

### Motivation:

"Blog Archive" is a default widget that shows up on the /blog page and other pages in the "Blog" app context.

Example - https://scholar.harvard.edu/bilsi/blog

Region: sidebar_second

![help-2](https://user-images.githubusercontent.com/1435641/75317480-248c5b80-588e-11ea

[2020-02-11 20:03] Bilsi opened #13036 "Default Widget: Blog RSS Feed"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13181
https://github.com/openscholar/openscholar/pull/13202 (As per comment https://github.com/openscholar/openscholar/issues/13036#issuecomment-601136081)
https://github.com/openscholar/openscholar/pull/13226
https://github.com/openscholar/openscholar/pull/13241
**Dependencies:**

- #13105

### Motivation:

Blog RSS Feed is a defau

[2020-02-11 20:06] Bilsi opened #13037 "Default Widget: Recent FAQs"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13128
**Dependencies:**

- #13105

### Motivation:

Recent FAQs is a default widget that shows up on the /faq page and other pages in the "FAQ" app context.

Example - https://scholar.harvard.edu/torman_personal/faq

Region: sidebar_second
Feature: os_faq

### Acceptance Criteria

- [ ] As a vsite admin, after I create a new vsite,

[2020-02-11 20:08] Bilsi opened #13038 "Default Widget: Latest News"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13185 (Latest)
https://github.com/openscholar/openscholar/pull/13152
**Dependencies:**

- #13105

### Motivation:

Latest News is a default widget that shows up on the /news page and other pages in the "News" app context.

Example - https://scholar.harvard.edu/torman_personal/news

Region: sidebar_second

![help-4](https://user-imag

[2020-02-11 20:13] Bilsi opened #13039 "Default Widget: Filter News by Month"
**Pull request:** #13143

**Dependencies:**

- #13040
- #13105

### Motivation:

"Filter News by Month" is a default widget that shows up on the /news page and other pages in the "News" app context.

Example - https://scholar.harvard.edu/torman_personal/news

Region: sidebar_second

![help-1](https://user-images.githubusercontent.com/1435641/75316711-0b82ab00-588c-11ea-8238-967124208acf.png)

###

[2020-02-11 20:14] Bilsi opened #13040 "Default Widget: Filter News by Year"
**Pull request:** https://github.com/openscholar/openscholar/pull/13124

**Dependencies:**

- #13105

### Motivation:
Filter News by Year is a default widget that shows up on the /news page and other pages in the "News" app context.

Example - https://scholar.harvard.edu/torman_personal/news

Region: sidebar_second

![help-1-1](https://user-images.githubusercontent.com/1435641/74719027-487dea80-52

[2020-02-11 20:15] Bilsi opened #13041 "Default Widget: Recent Presentations"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13153
**Dependencies:**

- #13105

### Motivation:

Recent Presentations is a default widget that shows up on the /presentations page and other pages in the "Presentations" app context.

Example - https://scholar.harvard.edu/torman_personal/presentations

Region: sidebar_second

![help-5](https://user-images.githubusercontent.com/14

[2020-02-11 20:18] Bilsi opened #13042 "Default Widget: Filter Profiles by Alphabetical Groups of Last Name"
**Pull request:** https://github.com/openscholar/openscholar/pull/13146
New PR: https://github.com/openscholar/openscholar/pull/13189

**Dependencies:**

- https://github.com/openscholar/openscholar/issues/13040
- #13105

### Motivation:

"Filter Profiles by Alphabetical Groups of Last Name" is a default widget that shows up on the /people page and other pages in the "Profile" app context.

Exampl

[2020-02-11 20:20] Bilsi opened #13043 "Default Widget: Recent Software Releases"
Recent Software Releases is a default widget that shows up on the /software page and other pages in the "Software" app context.

Example - https://scholar.harvard.edu/torman_personal/software

Region: sidebar_second
Feature: os_software

D7 context - https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_software/os_software.context.inc#L48
D7 Machine name -

[2020-02-12 06:05] lomasgupta commented on #12841
PR link https://github.com/openscholar/openscholar/pull/13015
Accessibility report: .
![software](https://user-images.githubusercontent.com/13271284/74307529-9db68980-4d8b-11ea-9de7-4a6fada72896.png)

[2020-02-12 06:30] subhojit777 commented on #12935
@tcheng001 did you mean this ticket? `Publication Import - BibTeX` https://github.com/openscholar/openscholar/issues/12921 :)

[2020-02-12 06:31] subhojit777 commented on #12921
Agree @tcheng001? https://github.com/openscholar/openscholar/issues/12935#issuecomment-584758721

[2020-02-12 06:48] lomasgupta commented on #12841
PR link #13015
Accessibility Test Reported (Updated)
![software2](https://user-images.githubusercontent.com/13271284/74309849-bfb30a80-4d91-11ea-8066-fc73a52a304d.png)

[2020-02-12 07:27] lomasgupta commented on #12305
Getting error on CI https://travis-ci.org/openscholar/openscholar/jobs/649294145?utm_medium=notification&utm_source=github_status

Drupal\Tests\cp_taxonomy\ExistingSiteJavascript\RemoveTermsNodeTest::testRemoveMultipleTerms
Behat\Mink\Exception\ElementNotFoundException: Tag matching xpath "//BODY/DIV[2]/DIV[1]/MAIN[1]/DIV[2]/DIV[2]/DIV[1]" not found.

[2020-02-12 07:31] mukeyshkumar commented on #13014
After fixes screenshot:

![stitle](https://user-images.githubusercontent.com/47223502/74312498-cf355200-4d97-11ea-89de-4d317f90359a.png)

[2020-02-12 09:20] subhojit777 commented on #12171
@kiran-axl merged. Can you check this on demo.

[2020-02-12 09:23] subhojit777 commented on #12171
@tcheng001 We have fixed the problem for other layouts (news, blog, etc.) However, the problem is still present for individual page layouts (see https://github.com/openscholar/openscholar/issues/12171#issuecomment-583971184)

Let us know if you would like to fix this problem in this ticket itself, or can we address the scenario in #12674 // @Bilsi

[2020-02-12 09:24] subhojit777 commented on #12171
Actually, we have spent a lot of time figuring out the fix, but we aren't yet sure about the exact fix. We will revisit this again soon.

[2020-02-12 12:29] lomasgupta commented on #12305
PR Raised for (https://travis-ci.org/openscholar/openscholar/jobs/649294145?utm_medium=notification&utm_source=github_status)
`Drupal\Tests\cp_taxonomy\ExistingSiteJavascript\RemoveTermsNodeTest::testRemoveMultipleTerms`
Issue is in os_metatag module. Missing implementation for Description value getting set in head for the front page in Vsites (groups)
PR : https://github.com/openscholar/openschol

[2020-02-12 12:33] kiran-axl commented on #12171
Reviewed on dev environment (http://d8.theopenscholar.com/tests/). Widgets placed on all_pages are altered on individual pages (except sub-book pages).

[2020-02-12 13:26] harjaspreetkaur opened #13048 "Random failures at CI - Part 2"
**Pull Request**: https://github.com/openscholar/openscholar/pull/13049

Originated from: https://github.com/openscholar/openscholar/issues/12858

### Motivation:

These are some more CI failures what I've noted recently while Travis tests are getting executed.

JOB-9
[code]

JOB-6
[code]

### Estimated Time:

[2020-02-12 13:36] tcheng001 commented on #12935
Yes.  My bad.    Thanks @subhojit777

[2020-02-12 15:05] tcheng001 commented on #12586
Mark "Pending"
I got empty result in http://d8.theopenscholar.com/site19/news/browse
Anything i am missing?
you see search result in http://d8.theopenscholar.com/site19/search

[2020-02-12 15:12] tcheng001 commented on #12637
mark "Fixed"
all search widgets show in search page layout now.

[2020-02-12 15:12] #12637 closed

[2020-02-12 15:43] rbran100 commented on #12586
@tcheng001 I think that should work, not sure why it isn't maybe not indexed yet if it is new, I am also getting a access denied and weird facets on the classes page.
http://d8.theopenscholar.com/site19/browse/classes

![Screen Shot 2020-02-12 at 10 43 06 AM](https://user-images.githubusercontent.com/651318/74350974-7a3c1080-4d84-11ea-9f67-2fafa1dff9a1.png)

[2020-02-12 16:55] Jiteshkhatwani commented on #12586
Is this supposed to be http://d8.theopenscholar.com/site19/browse/class or browse/class?

@tcheng001 correct URL will be browse/{app} so in your case, it would be http://d8.theopenscholar.com/site19/browse/news

[2020-02-12 18:21] tcheng001 commented on #12171
checked the following page layouts
/news
/blog
/calendar
/calendar/upcoming
/calendar/past_events
/faq
/classes
/people
/presentations
/publications
/software
/search

[2020-02-12 18:38] tcheng001 opened #13051 "Widget placed in All Pages layout can't be removed from subpages"
**Pull request:** https://github.com/openscholar/openscholar/pull/13151 , https://github.com/openscholar/openscholar/pull/13207

### Steps to replicate:

1. Go to layout of a vsite front page
2. Add a widget to layout (All Pages)
3. Create a new book page
3. Add a subpage to the book
4. Open layout of the subpage (Note: we should see the widget in the layout)
5. Drag the widget from layout to widg

[2020-02-12 18:39] tcheng001 commented on #12171
@subhojit777    Please handle the issue which still occurs on subpages in https://github.com/openscholar/openscholar/issues/13051

[2020-02-12 18:40] #12171 closed

[2020-02-12 19:31] tcheng001 opened #13052 "term display format incorrectly in FAQ"
PR: #13123, #13141

Terms should be listed in a line like other content types.
![Screen Shot 2020-02-12 at 2 01 12 PM](https://user-images.githubusercontent.com/2111600/74369923-378a3080-4da4-11ea-84dd-2c3864f46d3d.png)

![Screen Shot 2020-02-12 at 2 29 48 PM](https://user-images.githubusercontent.com/2111600/74369936-3bb64e00-4da4-11ea-8797-f642230afec7.png)

[2020-02-12 19:45] tcheng001 commented on #12586
Moving to "in dev"
@Jiteshkhatwani
All content are indexed before I test.    You should see the search result if you go search page http://d8.theopenscholar.com/site19/search/biology and search "biology"

[2020-02-12 20:01] tcheng001 commented on #12985
Mark "Fixed"

[2020-02-12 20:01] #12985 closed

[2020-02-12 20:30] tcheng001 commented on #12936
Please hide "Last updated on 02/06/2020" in search result.  It only appears in publication full node page.

![Screen Shot 2020-02-12 at 3 28 53 PM](https://user-images.githubusercontent.com/2111600/74374453-715f3500-4dac-11ea-95d5-69e60c656971.png)

[2020-02-12 20:53] tcheng001 commented on #12935
For QA information only:
checked all content types
blog
class
event
faq
news
people
presentation
publication
software

[2020-02-12 21:01] tcheng001 commented on #12935
Please hide Export (event) from search result.
![Screen Shot 2020-02-12 at 4 00 24 PM](https://user-images.githubusercontent.com/2111600/74376888-ec2a4f00-4db0-11ea-88f7-ef4953a1c9c6.png)

[2020-02-13 03:18] subhojit777 commented on #12642
https://github.com/openscholar/openscholar/pull/13018#pullrequestreview-357931619

[2020-02-13 03:18] subhojit777 commented on #12642
@saurabh-axl make sure you put the pr link as well.

[2020-02-13 03:22] subhojit777 commented on #12841
issues mentioned here https://github.com/openscholar/openscholar/pull/13015#pullrequestreview-357185614 are still not addressed.

[2020-02-13 03:39] subhojit777 commented on #12171
Thanks @tcheng001

[2020-02-13 04:49] mukeyshkumar opened #13053 "Footer menu ui issue"
Footer menu UI issue. When a user clicks on the footer menu extra background color appears on the menu.
Attaching a screenshot for ref.

![footer](https://user-images.githubusercontent.com/47223502/74406631-34e81380-4e56-11ea-8cc8-2962e1c59dec.png)

PR: https://github.com/openscholar/openscholar/pull/13055
PR: https://github.com/openscholar/openscholar/pull/13063

[2020-02-13 06:19] jashish24 commented on #12586
@tcheng001 I think there is a confusion between site search and faceted search based app pages.
- The URL you visit to check this ticket should be of pattern `browse/{app_name}`
- If the app with {app_name} exists in the system, you will see results with facets
- If the app with {app_name} does not exists in the system, you will see access denied

[2020-02-13 06:26] subhojit777 commented on #13051
This should be done as part of #12674

[2020-02-13 11:06] subhojit777 commented on #13053
@mukeyshkumar merged. please confirm changes on demo.

[2020-02-13 14:08] rbran100 commented on #12924
@tcheng001 I am monitoring new builds that use this code just to make sure it accomplishes the timeouts, so no need to QA

[2020-02-13 14:12] harjaspreetkaur commented on #12924
@rbran100  Two labels `awaiting Travis` and `QA` . But Travis job for this is cancelled. So what is the exact status of this ticket `QA` or `Awaiting Travis`. Please update

[2020-02-13 14:20] subhojit777 commented on #13034
I believe this default widget will be automatically placed in the region and for the apps, when a new vsite is created. Correct me if I am wrong. @Bilsi @tcheng001

[2020-02-13 14:22] subhojit777 commented on #13034
from Slack conversation:

yes, on every vsite if any of those apps mentioned are enabled

[2020-02-13 14:24] tcheng001 opened #13058 "More link doesn't show for List of Post (event) widget when pager is also set"
PR: #13069

This is a bug in D7.
The issue only happens in List of Post (event) widget when pager is also set. Here is an example:
https://projects.iq.harvard.edu/jennifer_ventura/home

[2020-02-13 14:39] tcheng001 commented on #13034
@subhojit777   let me check it again.

[2020-02-13 14:51] tcheng001 commented on #13034
@subhojit777    AddThis should be placed in right side of all app layouts during site creation.
![Screen Shot 2020-02-13 at 9 51 31 AM](https://user-images.githubusercontent.com/2111600/74446809-74a6ff00-4e46-11ea-90d4-5c470cd5a160.png)

[2020-02-13 16:30] tcheng001 commented on #12639
Mark "Fixed"
![Screen Shot 2020-02-13 at 11 23 30 AM](https://user-images.githubusercontent.com/2111600/74455485-5b587f80-4e53-11ea-9eb6-57c4621fbde8.png)

[2020-02-13 16:30] #12639 closed

[2020-02-13 16:38] tcheng001 commented on #13014
Mark "Fixed"
![Screen Shot 2020-02-13 at 11 37 37 AM](https://user-images.githubusercontent.com/2111600/74456753-4ed52680-4e55-11ea-889c-04facc395768.png)

[2020-02-13 16:38] #13014 closed

[2020-02-13 17:54] tcheng001 opened #13061 "Custom Text/HTML widget: media browser should be placed in center"
![Screen Shot 2020-02-13 at 12 52 39 PM](https://user-images.githubusercontent.com/2111600/74463483-e770a400-4e5f-11ea-8710-b1df43f7eea5.png)

PR: https://github.com/openscholar/openscholar/pull/13245

[2020-02-13 17:58] tcheng001 opened #13062 "Custom Text/HTML widget: media browser is out of center"
![Screen Shot 2020-02-13 at 12 52 39 PM](https://user-images.githubusercontent.com/2111600/74463795-5fd76500-4e60-11ea-82e2-0d11f933bb82.png)

[2020-02-13 19:42] tcheng001 commented on #12725
Still not working.  Moving to "in dev"
- [ ] 1. Still not showing the correct background color.  Tested on http://d8.theopenscholar.com/site19
I created 3 custom themes.
a. custom-theme-001 is based on Crimson ( Primary menu background color is RED)
b. custom-theme-002 is based on Conservative ( Primary menu background color is light GREY)
c. custom-theme-003 is based on Blue Sky ( Primary menu ba

[2020-02-14 04:04] subhojit777 commented on #12831
https://github.com/openscholar/openscholar/pull/12990#pullrequestreview-358701495

[2020-02-14 04:09] subhojit777 commented on #12305
@lomasgupta merged. check the changes on demo.

[2020-02-14 04:53] mukeyshkumar commented on #13053
Found one more issue when we have submenu in footer then UI breaks. Moving to dev.

[2020-02-14 04:56] subhojit777 commented on #12725
@tcheng001 I saw the problem for preview. Can you please create a ticket for that?

The first scenario here https://github.com/openscholar/openscholar/issues/12725#issuecomment-585937608, I am not sure about the style that you used. I think it was incorrect, that is why it wasn't working. I checked with `body {background-color: blue;}` and it worked fine.

I tested the actual problem that is menti

[2020-02-14 06:04] subhojit777 commented on #12991
as discussed with Richard:

I will enable the CSS/JS aggregation and write the optimization accordingly. I will then check it with using advagg module.

[2020-02-14 07:45] subhojit777 commented on #12305
https://github.com/openscholar/openscholar/pull/13016#pullrequestreview-358758413

[2020-02-14 07:48] stamina84 commented on #13002
Replied

[2020-02-14 07:56] lomasgupta commented on #12305
please review https://github.com/openscholar/openscholar/pull/13016#issuecomment-586140963

[2020-02-14 09:06] stamina84 commented on #12123
Dev note, here is the form settings of the slideshow paragraphs:
![image](https://user-images.githubusercontent.com/3629993/74516983-aa64ea00-4f11-11ea-8768-ac0b91cd3578.png)

[2020-02-14 09:50] subhojit777 commented on #12991
1. Implement `CpAppearanceResponseAttachmentsProcessor` - refer `\Drupal\Core\Render\HtmlResponseAttachmentsProcessor`
1. Implement `CpAppearanceResponseSubscriber` that will use `CpAppearanceResponseAttachmentsProcessor` - refer `\Drupal\Core\EventSubscriber\HtmlResponseSubscriber` - make sure it is called after `HtmlResponseSubscriber`
1. Implement custom theme css/js renderers so that it uses a

[2020-02-14 10:28] jashish24 commented on #12858
@tcheng001 Nothing to QA here, I will be monitoring builds.

[2020-02-14 11:31] Jiteshkhatwani commented on #12936
@tcheng001 `Last updated on` removed from the result, however, it took around 5 hours to achieve this. I have to create a new display view and assigned it to the result. cc @Bilsi .

[2020-02-14 11:38] tcheng001 commented on #12858
Thanks, @jashish24    Any objection if i am going to close this ticket?  Or you want to keep its status "QA"?

[2020-02-14 11:38] jashish24 commented on #12959
@rbran100 @subhojit777 Please review two PRs in order
https://github.com/openscholar/openscholar/pull/12996
https://github.com/openscholar/openscholar/pull/13050

[2020-02-14 11:49] tcheng001 commented on #12725
@subhojit777     Since you can reproduce the first scenario - (the background color of primary menu is incorrect),  then I will open a new ticket for it.
Do you want me to put preview issue into the same ticket?

Note: I did check  custom css (for example: background color}, it works fine.  custom js also works as expected.

[2020-02-14 12:17] saurabh-axl commented on #12844
@Bilsi @tcheng001

What will be the format of the "Redirect" column above?? It is link but will it be an absolute url or relative?

[2020-02-14 12:31] subhojit777 commented on #12725
@tcheng001 I actually meant, I was able to reproduce the preview issue. It can be fixed in a separate ticket.

I was unable to reproduce the problem "background color of primary menu is incorrect".

Can you also check "change of parent theme doesn't take effect"?

[2020-02-14 13:02] subhojit777 commented on #12831
@saurabh-axl merged. check on demo please.

[2020-02-14 13:02] jashish24 opened #13064 "[GitHub API] Deprecation notice for authentication via URL query parameters"
Github has deprecated `access_token` query parameter, need to change the access method to Authorization HTTP header before July 1st, 2020 as it may break `compose install` after that.

Access token (Composer Token) is used as part of a query parameter to access an endpoint through the GitHub API:

https://api.github.com/repositories/159564061/zipball/3dcb8f8f23220a440c071784b527d1867f50609a

Visit

[2020-02-14 13:03] subhojit777 commented on #13053
@mukeyshkumar merged. confirm changes on demo.

[2020-02-14 13:13] jashish24 commented on #12858
Please close.

[2020-02-14 13:20] #12858 closed

[2020-02-14 13:43] jashish24 commented on #12943
The issue lies in the Drupal core. Refer: https://www.drupal.org/project/drupal/issues/2534830
It is supposed to be in fixed state and the patch was submitted almost 5 years back for `
8.0.x-dev` version. We need to find something similiar for `8.7.11` and above as well.

[2020-02-14 13:44] tcheng001 commented on #12844
Redirect should take both absolute and relative url. For example:
1. `https://maps.google.com`
2. `blog/test-blog`

[2020-02-14 13:51] jashish24 commented on #13048
Closing this as it does not require QA. Although we need to keep an eye on CI.

[2020-02-14 13:51] #13048 closed

[2020-02-14 13:55] jashish24 commented on #12905
@tcheng001 For point #2, it is a general issue with layout builder and need more details. Can you create another ticket for same.

[2020-02-14 16:43] tcheng001 commented on #12905
`@tcheng001 yup I saw that. Probably this is because of the fixed block content. I have to check with @jashish24 regarding fixed blocks. It may require some configuration change.`

What is the status of this issue?

[2020-02-14 16:45] tcheng001 commented on #12905
It seems that this problem has been solved.  I can move search widgets around.

[2020-02-14 17:41] tcheng001 opened #13066 "Preview function becomes not functioning after a custom theme is selected"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13169

### Motivation:

For example:
1. create a custom theme
2. set custom theme
3. click Preview on a default theme (say Lemon Sand).
4. preview still shows the custom theme (not Lemon Sand)

### Technical Implementation:

- Since `Drupal\cp_appearance\EventSubscriber\InitCustomThemeSubscriber::initCustomTheme` is taking preferenc

[2020-02-17 03:36] lomasgupta commented on #12305
Please review https://github.com/openscholar/openscholar/pull/13016

[2020-02-17 04:18] subhojit777 commented on #12959
https://github.com/openscholar/openscholar/pull/12996#issuecomment-586809811, https://github.com/openscholar/openscholar/pull/12996#pullrequestreview-359481297

[2020-02-17 04:32] subhojit777 commented on #12949
https://github.com/openscholar/openscholar/pull/13046#issuecomment-586812655, https://github.com/openscholar/openscholar/pull/13046#issuecomment-586812859

[2020-02-17 04:34] subhojit777 commented on #12305
@lomasgupta merged. confirm the fix on demo.

[2020-02-17 04:47] subhojit777 commented on #12725
@tcheng001 can you QA this one please. // @Bilsi

[2020-02-17 05:29] lomasgupta commented on #12305
Self-review done.

[2020-02-17 07:41] subhojit777 commented on #13032
@Bilsi @tcheng001 are you talking about this calendar widget here https://scholar.harvard.edu/bilsi/calendar
<img width="326" alt="image" src="https://user-images.githubusercontent.com/1435641/74633117-f1a7e080-5186-11ea-82bf-9eebc5b5f42d.png">

[2020-02-17 08:42] stamina84 commented on #13058
@tcheng001 @Bilsi I did a fix for that, but concern about the logic, because if you set pager, that means you will be get ALL items (with paging), and maybe no need to visit "more" page.

This fix will modify all List of post widgets, so if you set pager e.g. in news LOP, you will see the more link there too.

[2020-02-17 10:38] subhojit777 commented on #12921
@uttkarsh-26 merged. check on demo.

[2020-02-17 11:51] jashish24 commented on #12931
@Bilsi We are not able to find pages/content related to below links:
`Academics, Research, Activities, People, Resources, News & Events, About`
It will be helpful if you can provide some reference for sample content.

[2020-02-17 12:04] uttkarsh-26 commented on #12921
@tcheng001 The export `.bib` file which gets downloaded from scholar.harvard.edu/tcheng10 has `54` entries. So the count should be actually 54 when imported.
It is working fine now after the fix is merged, but keep in mind the actual entries in the source file while verifying it to avoid the confusion

[2020-02-17 12:40] subhojit777 commented on #12991
decided to override core's `asset.css.collection_renderer` and `asset.js.collection_renderer`

[2020-02-17 12:50] Bilsi commented on #13032
@subhojit777 - use this link - https://scholar.harvard.edu/torman_personal/calendar. It is the screenshot below
<img width="364" alt="Screen Shot 2020-02-17 at 7 49 42 AM" src="https://user-images.githubusercontent.com/11841641/74655287-1d60a180-515a-11ea-8110-cc6275d5f328.png">

[2020-02-17 12:51] mukeyshkumar commented on #13053
@Bilsi
I have fixed some of the points on the live site:
1. Blue background-color flash
2. Logo update home page
3. Publish page removed background color and spacing
https://theopenscholar.com/publish
4. I tried to fix the background color in Alberto but not able to fix it.
5. I tried to create animation
![homepage-hero22](https://user-images.githubusercontent.com/47223502/74655327-35640f80-51b2-1

[2020-02-17 12:54] Bilsi commented on #12931
@jashish24- they are all pages with those titles. I have given you access to this site https://projects.iq.harvard.edu/academic so you can take a look.

[2020-02-17 13:08] stamina84 commented on #12123
1. fixed, and wrote tests
2. Yes its ok, because crop functionality cannot work with media browser selection
3. its strange, it used to work.. checked the code and try to debug, but not found the problem
4. Done

[2020-02-18 04:11] subhojit777 commented on #12905
https://github.com/openscholar/openscholar/pull/13067#pullrequestreview-360060772

[2020-02-18 06:02] subhojit777 commented on #13042
@Bilsi @tcheng001 you are talking about this one right?
<img width="337" alt="image" src="https://user-images.githubusercontent.com/1435641/74708378-43fa0780-5242-11ea-82c6-0f4800796e89.png">

[2020-02-18 06:11] subhojit777 commented on #13036
@Bilsi @tcheng001 I couldn't find the "Blog RSS Feed" here https://scholar.harvard.edu/bilsi/blog. Can you attach a screenshot maybe? Or a separate vsite containing that widget?

[2020-02-18 07:59] uttkarsh-26 commented on #13032
@Bilsi
I had a few doubts over this while grooming it:
`Upcoming Events` should be a standalone widget in itself creatable even after site is created.
Is it correct?
It should appear in the `Create New Widget` list?

These questions are applicable to all such `Default Widget` Tickets.

These questions arise because:
We were thinking to use LOP for this, as with some requirement specific settings,

[2020-02-18 09:00] lomasgupta commented on #12841
PR No https://github.com/openscholar/openscholar/pull/13015. Please review
![12841](https://user-images.githubusercontent.com/13271284/74720070-2c7b4880-525b-11ea-9e8d-93580adc52c5.png)

[2020-02-18 10:11] subhojit777 commented on #12959
@jashish24 merged. please check the changes on demo.

[2020-02-18 10:11] subhojit777 commented on #12959
I guess this can be closed - as there is nothing to QA for Torman here.

[2020-02-18 11:45] subhojit777 commented on #12991
@rbran100 Found that for aggregated JS, the browser cache is disabled - see here https://git.drupalcode.org/project/drupal/blob/8.7.x/core/lib/Drupal/Core/Asset/JsCollectionRenderer.php#L78

[code]

I think we should keep the aggregation enabled. I guess it is better to fetch multiple compressed scripts, rather than caching multiple scripts - but pulling all of them at the beginning. What are your

[2020-02-18 11:59] subhojit777 commented on #12991
@rbran100 Also, can you take a look here https://github.com/openscholar/openscholar/pull/13024/files#r380628261

[2020-02-18 12:11] stamina84 commented on #12947
@rbran100 Here is some updates of the issue:

* installed awscli on travis and upgrade dist to xenial (because of `pyenv global 3.7.1`)
* fixed AWS keys to able to use awscli
* It seems we have to use `tar` instead of just upload all files. First thing is very slow to upload a thousands of files one-by-one, second thing is, we have to consider the bandwidth usage, because I talked to Janos, and sa

[2020-02-18 13:06] subhojit777 commented on #12975
merged @uttkarsh-26 can you check this on demo.

[2020-02-18 13:11] tcheng001 commented on #13042
yes

On Tue, Feb 18, 2020 at 1:02 AM Subhojit Paul <notifications@github.com>
wrote:

[2020-02-18 13:15] Bilsi commented on #13036
@subhojit777 - It is the subscribe button at the bottom of the screen. It copies the url https://scholar.harvard.edu/bilsi/feed to the clipboard
![Screen Shot 2020-02-18 at 8 14 43 AM](https://user-images.githubusercontent.com/11841641/74739431-cd034580-5226-11ea-9eb3-31bb52d6136e.png)

[2020-02-18 13:26] uttkarsh-26 commented on #12975
@tcheng001
I found that only Journal Articles get created when importing the xml sample file. And the contrib module we use provides mapping only for Journal Article by default. Please check that if we need to only support Journal Article for Pubmed.

[2020-02-18 13:30] stamina84 commented on #12947
Stuck with this error, cannot reproduce in local:
https://travis-ci.org/openscholar/openscholar/jobs/651958166#L1205

[2020-02-18 13:33] #10025 closed

[2020-02-18 13:33] #9345 closed

[2020-02-18 13:38] #11377 closed

[2020-02-18 14:12] #12248 closed

[2020-02-18 14:13] #12040 closed

[2020-02-18 14:14] #11923 closed

[2020-02-18 14:20] #10995 closed

[2020-02-18 14:22] #11411 closed

[2020-02-18 14:47] rbran100 commented on #13032
This is not a new type of widget, this is an instance of the "list of posts" (https://github.com/openscholar/openscholar/issues/12336) widget set to filter events with the title "Upcoming Events"

Exactly! I should have read the second half of this comment first.

[2020-02-18 14:51] Bilsi commented on #13032
@subhojit777 - all the default widgets should appear with the created widget list, so the user can just drag and drop it into the layout. These are ready to use widgets

[2020-02-18 14:52] rbran100 commented on #12947
@stamina84 did you check to make sure extracting LZMS was not slow?

[2020-02-18 14:53] stamina84 commented on #12947
Yeah, this is approx the same with zip

[2020-02-18 15:01] rbran100 commented on #12947
@stamina84 are you still stuck with that error? does checking the logs show anything?  note that the path to the file is relative to the drupal root.

[2020-02-18 15:04] stamina84 commented on #12947
@rbran100 Yes, stucked, logs are good idea, you mean `docker-compose logs mariabdb`? I will check that if less jobs will be in queue.
Yes, I know the sql file is in `web` dir, this is how I checked in local too. And checked with ls too here: https://travis-ci.org/openscholar/openscholar/jobs/651958166#L283

[2020-02-18 15:06] rbran100 commented on #12991
I agree, is this only the case when an individual aggregate changes, or do all aggregates regenerate when any one file changed in any aggregate?

[2020-02-18 15:06] tcheng001 commented on #11420
Mark "Fixed"
![Screen Shot 2020-02-18 at 10 04 28 AM](https://user-images.githubusercontent.com/2111600/74748221-29219600-5236-11ea-8b77-cebb27a5e6f1.png)
![Screen Shot 2020-02-18 at 10 05 22 AM](https://user-images.githubusercontent.com/2111600/74748281-40608380-5236-11ea-9713-9147d6044cb5.png)

[2020-02-18 15:06] #11420 closed

[2020-02-18 15:13] tcheng001 opened #13076 "Should not show front page content when getting Access denied"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13191

### Motivation:

Steps to reproduce:
1. Site Visibility is set to "Site members only"
2. Access the site's front page as viewer (logged out)
Note
a). you see "Access denied" - that is good.
b) you also see content of the site front page - that is not good.  The page should show nothing to the view except "Access denied"

![Sc

[2020-02-18 15:20] rbran100 commented on #12916
Looks like an issue with the menu cache, I am not sure why you are seeing it and we are not.

https://www.drupal.org/files/oembed-2021015-1.patch

Can you try commenting that out, it is in the alter and should run again on cache clear, so maybe install with it commented out and then run a cache clear post install with it re-enabled.   That module is getting a bit old so don't want to spend too muc

[2020-02-18 15:23] #12494 closed

[2020-02-18 15:26] rbran100 commented on #12123
@stamina84 can you look into #3 since it used to work, and this does not appear to be an issue everywhere.  @tcheng001 says that the same issue occurred when subhojit was working on the "AddThis" widget so there may be some info there.

[2020-02-18 15:37] tcheng001 commented on #11341
These issues are fixed. Closing this ticket.

[2020-02-18 15:37] #11341 closed

[2020-02-18 15:38] tcheng001 commented on #11919
it works now. Closing it.

[2020-02-18 15:38] #11919 closed

[2020-02-18 15:40] tcheng001 commented on #11193
Still missing Goggle link in D8.
<img width="654" alt="Screen Shot 2020-02-18 at 10 40 38 AM" src="https://user-images.githubusercontent.com/2111600/74751369-237a7f00-523b-11ea-8271-938c67f63447.png">

[2020-02-18 15:48] tcheng001 commented on #11864
Just checked.  No email is sent to the registrants or mailhog.
![Screen Shot 2020-02-18 at 10 46 31 AM](https://user-images.githubusercontent.com/2111600/74751997-08f4d580-523c-11ea-93c8-94336342d454.png)
![Screen Shot 2020-02-18 at 10 47 35 AM](https://user-images.githubusercontent.com/2111600/74752051-1d38d280-523c-11ea-8349-57fe73e1c009.png)

[2020-02-18 16:00] Bilsi opened #13077 "Permissions form - Hide items"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13201

### Motivation:

http://d8.theopenscholar.com/test/cp/users/permissions

![Screen Shot 2020-02-18 at 11 04 49 AM](https://user-images.githubusercontent.com/11841641/74753698-80c3ff80-523e-11ea-9b78-84d1d0afc681.png)

Some changes to the existing group names.

Existing Group Name | New Group Name
------------ | -------------
C

[2020-02-18 16:02] tcheng001 commented on #13058
@stamina84      I don't know the code,  but the issue only happens in the particular situation and event.  If I select other content types, I don't see the issue.

[2020-02-18 16:03] rbran100 commented on #13058
@tcheng001 like I always do I messed up and merged this, so it is in 3.x

[2020-02-18 16:11] rbran100 commented on #12944
@stamina84 can you self validate in demo and then it it looks good we can remove select2, after we remove we can put in QA for @tcheng001

[2020-02-18 17:00] tcheng001 commented on #13058
Mark "Fixed"
Event:
<img width="452" alt="Screen Shot 2020-02-18 at 11 49 33 AM" src="https://user-images.githubusercontent.com/2111600/74758026-c84d8a00-5244-11ea-9582-c5a0d02134c2.png">

News:
<img width="442" alt="Screen Shot 2020-02-18 at 11 57 56 AM" src="https://user-images.githubusercontent.com/2111600/74758871-f1224f00-5245-11ea-80ce-91366381ed64.png">

checked the following content types:

[2020-02-18 17:03] #11062 closed

[2020-02-18 17:04] #11245 closed

[2020-02-18 17:05] #12110 closed

[2020-02-18 18:05] tcheng001 commented on #12863
mark "Fixed"

[2020-02-18 18:05] #12863 closed

[2020-02-18 18:15] tcheng001 commented on #12935
Mark "Fixed"
<img width="759" alt="Screen Shot 2020-02-18 at 1 14 24 PM" src="https://user-images.githubusercontent.com/2111600/74764939-a65a0480-5250-11ea-8893-b16a459b9f6d.png">

[2020-02-18 18:15] #12935 closed

[2020-02-18 18:33] tcheng001 commented on #12936
Still not working.  moving to "in dev"
Search result still displays both Down Citation and Last updated.
![Screen Shot 2020-02-18 at 1 28 34 PM](https://user-images.githubusercontent.com/2111600/74766316-1f5a5b80-5253-11ea-83d3-1b82a0435834.png)

[2020-02-18 19:03] #12746 closed

[2020-02-18 19:09] tcheng001 opened #13078 "Publication alias url is incorrect"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13145

### Motivation:

Steps to reproduce:
Create a publication with title "My First Book"
However, I find that the url alias is
`http://d8.theopenscholar.com/Site20/Publications/My-First-Book`

Why some letters are capital?
![Screen Shot 2020-02-18 at 2 05 15 PM](https://user-images.githubusercontent.com/2111600/74769231-04d6b100-

[2020-02-18 19:13] stamina84 opened #13079 "Fix robo version at travis"
PR: #13080

The newer version of robo is screw up all jobs, so we should fix the version, and update only if need.

$ robo job:check-coding-standards
PHP Parse error:  syntax error, unexpected '<<' (T_SL) in /home/travis/.composer/vendor/consolidation/robo/src/Runner.php on line 283
Parse error: syntax error, unexpected '<<' (T_SL) in /home/travis/.composer/vendor/consolidation/robo/src/Runner.php

[2020-02-18 19:49] stamina84 commented on #12947
Hmm, don't see anything in logs: https://travis-ci.org/openscholar/openscholar/jobs/652133295#L1162

[2020-02-18 20:20] rbran100 commented on #13079
This fixed some of the robo issues

[2020-02-18 20:21] rbran100 commented on #13079
@stamina84 can you verify that this has not caused any new issues when you come in

[2020-02-18 20:29] tcheng001 commented on #12305
work as expected.  Mark "Fixed"
![Screen Shot 2020-02-18 at 3 28 37 PM](https://user-images.githubusercontent.com/2111600/74775319-7405d280-5263-11ea-8ba9-2ed627a13de5.png)

[2020-02-18 20:29] #12305 closed

[2020-02-18 20:34] tcheng001 commented on #12640
mark "Fixed"

[2020-02-18 20:34] #12640 closed

[2020-02-18 20:37] rbran100 commented on #12947
@stamina84 ok, I will take a look

[2020-02-18 20:48] tcheng001 commented on #12638
Work as expected.
1. Relevance
2. Title can be ascending or descending
3. Type can be ascending or descending
4. Date can be ascending or descending
5. Arrows show for Title, Type, and Date (not Relevance)
<img width="363" alt="Screen Shot 2020-02-18 at 3 47 03 PM" src="https://user-images.githubusercontent.com/2111600/74776646-f2fc0a80-5265-11ea-9223-01c651d8db19.png">

[2020-02-18 20:48] #12638 closed

[2020-02-18 20:52] tcheng001 commented on #12586
@jashish24  Need help.  Don't know how to test this.
1. How to navigate to /browse/{app} page.   (for example: /browser/news).  Now, I just enter the url to browser locator directly. But no end user does that.
2. What does  /browser/news  suppose  to show?    Can you give me a screenshot here?
Mark "Pending"

[2020-02-18 20:58] tcheng001 commented on #12905
Look good.  Mark "Fixed"
1. No search widget appears in the widget list on the left
2. All 6 search widgets are located on the right sidebar by default
3. Search widgets can be moved around in the layout

[2020-02-18 20:58] #12905 closed

[2020-02-19 05:47] jashish24 commented on #12586
@Jiteshkhatwani Can you talk to @tcheng001 and close this.

[2020-02-19 06:28] subhojit777 commented on #12991
I found that the cache is disabled, nevertheless the aggregation is same or not.

The aggregation is done based on the file path, therefore, if a file is changed, then aggregation needs to rebuild. It needs to done either manually, or via cron I guess.

[2020-02-19 07:05] lomasgupta commented on #12841
please review https://github.com/openscholar/openscholar/pull/13015

[2020-02-19 07:08] subhojit777 commented on #12841
@lomasgupta merged. check on demo please.

[2020-02-19 08:30] stamina84 commented on #13079
@rbran100 Everything seems ok, and the "old" builds is fixed too, because robo has new release (2.0.2), which hasn't got syntax error.
I would keep this version fix to avoid future failures.

[2020-02-19 09:33] stamina84 opened #13082 "Check composer abandoned packages"
We should take a look at abandoned packages and replace if it possible:

[code]

What do you think @rbran100 @subhojit777 ?

[2020-02-19 09:39] subhojit777 commented on #13082
bibcite related - `academicpuma/citeproc-php`, `technosophos/LibRIS` will need to be done from the bibcite module.

---

`webflo/drupal-core-require-dev` will be covered in #12689

[2020-02-19 09:45] subhojit777 commented on #12931
@jashish24 merged. confirm changes on demo please.

[2020-02-19 09:47] stamina84 commented on #12123
@rbran100 Did a quick test with this and seems only the first modification will change the look, if edit again nothing happens, only if refresh the page: http://d8.theopenscholar.com/site01/
The same behavior presents here, I can upload one slide, but if I upload more, not appeared.

I will investigate that.

[2020-02-19 12:26] stamina84 commented on #12123
Fixed, waiting for CI

[2020-02-19 12:41] stamina84 commented on #12944
Checked, and I noticed a missed uninstall, so we have another round before remove from composer. Pushed the `chosen_lib` modul uninstall.

[2020-02-19 13:15] #13058 closed

[2020-02-19 13:28] tcheng001 commented on #12725
Please check point 1 of https://github.com/openscholar/openscholar/issues/12725#issuecomment-585937608

[2020-02-19 13:52] #13079 closed

[2020-02-19 14:53] rbran100 commented on #12947
@stamina84 so the SQL worked fine before it was zipped up and shipped off and back.... ?

[2020-02-19 14:56] stamina84 commented on #12947
Yes, this is what I checked here: https://travis-ci.org/openscholar/openscholar/jobs/652468778#L2050
Something wrong with web dir after extract.. maybe symlink? issues?

[2020-02-19 16:15] tcheng001 commented on #12936
Mark "Fixed"
<img width="1016" alt="Screen Shot 2020-02-19 at 10 37 32 AM" src="https://user-images.githubusercontent.com/2111600/74851387-28a5ff80-5309-11ea-8393-38bb64b2b477.png">

[2020-02-19 16:15] #12936 closed

[2020-02-19 16:26] tcheng001 commented on #12959
Mark "Pending"
@jashish24
preset for the following vsites ?
1. Department - Academic
2. Department - Administrative
3. Project - Minimal
4. Project - Event / Conf
5. Project - Lab / Research Group
6. Project - Project

I see no option for Project site.
![Screen Shot 2020-02-19 at 11 23 11 AM](https://user-images.githubusercontent.com/2111600/74852173-3dcf5e00-530a-11ea-8a0a-f24f582df0c4.png)
![Scr

[2020-02-19 16:43] tcheng001 commented on #12930
Mark "Fixed"
![Screen Shot 2020-02-19 at 11 29 50 AM](https://user-images.githubusercontent.com/2111600/74852926-38bede80-530b-11ea-902e-65b7384bcd0a.png)
![Screen Shot 2020-02-19 at 11 30 41 AM](https://user-images.githubusercontent.com/2111600/74852992-4d02db80-530b-11ea-81cb-49d9766c144d.png)

site admin is able
1. to access control panel
2. to create content
3. to access layout
4. to create wi

[2020-02-19 16:43] #12930 closed

[2020-02-19 18:01] jashish24 commented on #12959
@tcheng001 Yes, there are several other tickets to create presets one by one. This ticket is only for creating group. Academic preset is appearing as https://github.com/openscholar/openscholar/issues/12931 is merged.

[2020-02-19 18:27] tcheng001 commented on #12959
Anything I should check?

[2020-02-19 18:37] tcheng001 commented on #12236
Mark "Fixed"
<img width="1025" alt="Screen Shot 2020-02-19 at 1 36 36 PM" src="https://user-images.githubusercontent.com/2111600/74864067-eab2d680-531c-11ea-9f4e-0e108bbf3774.png">

[2020-02-19 18:38] tcheng001 commented on #11909
Mark "Fixed"
<img width="1025" alt="Screen Shot 2020-02-19 at 1 36 36 PM" src="https://user-images.githubusercontent.com/2111600/74864172-1c2ba200-531d-11ea-8db9-5b35b4847758.png">

[2020-02-19 18:38] #11909 closed

[2020-02-19 19:03] tcheng001 commented on #12975
@uttkarsh-26   it seems PubMed only handles journal articles.

[2020-02-19 20:28] tcheng001 commented on #12921
Moving to "in dev"
@uttkarsh-26    when year is not a numeral value, like  "Submitted", "Forthcoming", "In Preparation", "In Press", "Working Paper".  After imported, publication year is set to empty.  That is incorrect.

[2020-02-20 04:03] subhojit777 commented on #12944
https://github.com/openscholar/openscholar/pull/13083#issuecomment-588598392

[2020-02-20 04:09] subhojit777 commented on #12947
I guess the dump is not uploaded, maybe? Currently, it pushes these locations
https://github.com/openscholar/openscholar/blob/cffd8caef3e50a78a3718ea6b0ca1b249464c776/.travis.yml#L12-L13

the dump is created in the web root I guess. Maybe, try creating it inside sites/defaults?

[2020-02-20 05:30] subhojit777 commented on #13036
@Bilsi

1. I saw this heading does not appears in D7. Do you want to remove that specifically only for this widget? Or, it can be done for "any" rss feed widget - I mean newly created widgets will not be having the heading. What do you suggest? <img src="https://user-images.githubusercontent.com/1435641/74903797-0fb45180-53d0-11ea-813e-adb8b041eaa8.png" width=200 />
1. It is mentioned to also add

[2020-02-20 07:35] subhojit777 commented on #12725
@tcheng001 got it.. what you meant previously. I looked into it for a while, and found the problem.

![help-1](https://user-images.githubusercontent.com/1435641/74910952-a4737b00-53e1-11ea-88ec-1d1f9b116282.png)

![help-2](https://user-images.githubusercontent.com/1435641/74910970-b0f7d380-53e1-11ea-82b3-39276f352ea4.png)

The problem is happening because the ordering of the styles are incorrect.

[2020-02-20 10:41] stamina84 commented on #12947
I did a breakthrough, something with composer or permission, continue debug

[2020-02-20 11:32] stamina84 commented on #12947
Its not related to artifacts, because we do it manually with awscli
`aws s3 cp ${TRAVIS_BUILD_DIR}-${TRAVIS_BUILD_NUMBER}-web.tar.xz s3://$ARTIFACTS_BUCKET/build_files/$TRAVIS_BUILD_NUMBER/os-build-${TRAVIS_BUILD_NUMBER}-web.tar.xz`

Something related to chmod, with 777 vendor and web is good, but 755 is not enough.. maybe the docker uid is changed in other jobs

[2020-02-20 12:28] rbran100 commented on #12947
Is the symlink to the profile still in place?

[2020-02-20 13:40] tcheng001 opened #13085 "Custom theme: primary menu background color incorrect"
**Pull Request:** - #13193

### Motivation:

Steps to reproduce:
1. create a custom theme using Blue Sky as a base  (note: its background color in primary menu is blue)
![Screen Shot 2020-02-20 at 8 38 09 AM](https://user-images.githubusercontent.com/2111600/74938658-6a43b280-53bc-11ea-8f27-87cec63c5f0f.png)

2. set the custom theme as current theme
Note: the background color becomes grey
![Screen

[2020-02-20 13:44] stamina84 commented on #12947
Seems extra composer install fixes, maybe the symlink is fixed by this way.

Current measure in widget tests (`widgets-1,widgets-2,widgets-3,widgets-4,widgets-5`):
New: `Ran for 12 min 12 sec`
Old: `Ran for 16 min 45 sec`

[2020-02-20 13:50] tcheng001 opened #13086 "Harvard chicago author-date not showing correctly"
**Pull Request: https://github.com/openscholar/openscholar/pull/13162**

### Motivation:

It should show whatever style of title in form. (for example:  the title is all capitals - like below)
![Screen Shot 2020-02-20 at 8 47 31 AM](https://user-images.githubusercontent.com/2111600/74939417-d70b7c80-53bd-11ea-91ab-9a68b7da010a.png)

However,  it shows "My First Book" in citation.
![Screen Shot 202

[2020-02-20 14:04] stamina84 commented on #12944
Did import on demo, will check everthing is fine:
[code]

[2020-02-20 14:09] rbran100 commented on #12947
@stamina84 looks better, want to add in the rest of the jobs or do you think they need more work?

[2020-02-20 14:14] tcheng001 commented on #13053
Mark "Fixed"   Can't reproduce the issue anymore.

[2020-02-20 14:14] #13053 closed

[2020-02-20 14:20] tcheng001 commented on #12959
Mark "Fixed"   Nothing to QA - will test on preset specific tickets.

[2020-02-20 14:20] #12959 closed

[2020-02-20 15:36] rbran100 commented on #13036
@subhojit777 it should be removed for all of the default widgets, I think the form has a title option which is optional, if a user creates a version of the widget with a different title that is fine but the default does not need to use it.

[2020-02-20 15:44] amulos commented on #11848
Checked on test site, http://d8.theopenscholar.com/amultestsite. The Hamburger icon is responsive on click, the plus icon and search icon does not work.

![Mobile screenshot](https://user-images.githubusercontent.com/61281718/74950441-2042e700-5425-11ea-89b7-d056a94032db.PNG)

[2020-02-20 17:59] tcheng001 commented on #12975
For QA information only
Tested the following scenarios:
1. a file with 102 entries
<img width="1066" alt="Screen Shot 2020-02-20 at 12 52 40 PM" src="https://user-images.githubusercontent.com/2111600/74963712-3084a300-53e0-11ea-8938-008b0b7f71f1.png">

2. import a file with 100 entries successfully

[2020-02-20 18:02] tcheng001 commented on #12975
Moving to "in dev"
Import a bad format file with 2 entries - the vsite crashes.   This is the file. https://drive.google.com/file/d/1IMGFNPRousY5gCHCaFJ-cYfKV6xo16Rl/view?usp=sharing

[2020-02-20 19:45] tcheng001 commented on #12831
Mark "Pending"
@saurabh-axl
Can you check why the file is imported successfully but no blog is added?
https://drive.google.com/file/d/1PuSPOOjlBy7xGe9uz6qgacc6EX9XQTgG/view?usp=sharing

[2020-02-20 20:47] tcheng001 commented on #12841
This is the original template file.  The date format is YYYY-MM-DD.
![Screen Shot 2020-02-20 at 3 31 44 PM](https://user-images.githubusercontent.com/2111600/74976250-66cd1d00-53f6-11ea-8519-5533e2ba20d1.png)

However, when I open it in Excel, the date shows "11/30/20" and Excel displays a warning.
![Screen Shot 2020-02-20 at 3 42 03 PM](https://user-images.githubusercontent.com/2111600/74976918-a

[2020-02-21 04:24] subhojit777 commented on #12841
didn't get you. Can you send the file which you tried. @tcheng001

[2020-02-21 06:22] subhojit777 commented on #12991
Please take a look @rbran100 https://github.com/openscholar/openscholar/pull/13024#discussion_r382414862

[2020-02-21 10:22] subhojit777 commented on #12454
@rbran100 I was checking the "Layout Builder" in Drupal, and it looked promising. Wanted to have second thoughts about how user can create the layouts, how about this:

<details open>
<summary>User enters "Layout" edit mode and clicks "Add Section" to configure the layout structure</summary>
<img src="https://user-images.githubusercontent.com/1435641/75024211-0f46b400-54bf-11ea-9ef8-7e8ec1345de8.p

[2020-02-21 12:53] tcheng001 commented on #12841
@subhojit777   That is the template file. I see the warning when I open it in Excel.
I didn't make any change on it.

[2020-02-21 12:55] #12771 closed

[2020-02-21 16:25] tcheng001 commented on #12123
https://github.com/openscholar/openscholar/issues/12123#issuecomment-583588821
@Bilsi   @rbran100    Uploaded slides not listed /cp/content/browse/files   -   OK?   Balazs said yes.
<img width="697" alt="Screen Shot 2020-02-21 at 11 22 47 AM" src="https://user-images.githubusercontent.com/2111600/75051794-89b20c80-549c-11ea-9d0d-7e06d8c22e14.png">

[2020-02-21 17:18] Bilsi commented on #12123
@stamina84 - why should slides not show in /cp/content/browse/files?

[2020-02-21 18:21] tcheng001 commented on #11802
Infinite scrolling is not working on /blog page any more.  I haven't checked other content types.
But I don't see the issue on /publications page

[2020-02-24 04:06] subhojit777 commented on #12841
@lomasgupta can you take a look about the import using Excel. See the previous comments from Torman for details. Let me know what is causing the problem.

[2020-02-24 04:09] subhojit777 commented on #12944
@stamina84 I have merged the pr for removing unnecessary packages. I guess this can be closed, nothing much to QA for Torman here.

[2020-02-24 04:34] stamina84 commented on #12944
Refer to this: https://github.com/openscholar/openscholar/issues/12944#issuecomment-587540223 Torman can QA know, please check all multiselect related UI, what I know:
* apply and remove actions at content and publications entities
* taxonomy select at content/publication edit form with select widget

[2020-02-24 04:40] stamina84 commented on #12123
@Bilsi refer to this comment from @rbran100 https://github.com/openscholar/openscholar/issues/12123#issuecomment-576863916
and from me: https://github.com/openscholar/openscholar/issues/12123#issuecomment-577085756
Am I misunderstood something? Currently its not possible to use MediaBrowser and Crop together

[2020-02-24 05:09] mukeyshkumar commented on #11848
Plus and search icon not working because of the secondary menu widget and search widget, not completed yet.

[2020-02-24 15:13] stamina84 commented on #12947
I have a strange test failure, run out of ideas what happens.. I did an ugly modification (https://github.com/openscholar/openscholar/commit/cb4c69fafd1156b0cb9fd4838466c886c52dbaf7) which is passed here:
https://travis-ci.org/openscholar/openscholar/jobs/654441386#L552

I can reproduce in local with S3 build files, but can't see any error in dblog or php or apache. If I logged in with test user a

[2020-02-25 03:52] subhojit777 commented on #12929
@jashish24 merged. you may check on demo.

[2020-02-25 03:55] subhojit777 commented on #12931
@jashish24 merged. you may check on demo.

[2020-02-25 03:56] subhojit777 commented on #12831
https://github.com/openscholar/openscholar/pull/13088#issuecomment-590670797

[2020-02-25 04:09] subhojit777 commented on #12949
https://github.com/openscholar/openscholar/pull/13046#pullrequestreview-363859541

[2020-02-25 04:35] subhojit777 commented on #12947
That is happening only for instance that is configured using dump, right? Not sure about it. It seems like it is taking some time to refresh the ckeditor instance. Maybe, try to wait for loading the ckeditor instance programmatically in the test, otherwise, we will have to rely on sleep.

[2020-02-25 05:14] kiran-axl opened #13093 "Book outline listing all books from other vsite"
PR: https://github.com/openscholar/openscholar/pull/13094

Bugs listed on book pages:
1. Now, how can I change a simple basic page to a book page?
2. In BOOK OUTLINE :  it lists book pages which don't belong to the site

[2020-02-25 05:16] kiran-axl commented on #13093
@Bilsi @tcheng001 , created this bug ticket to track the bug and PR changes.

[2020-02-25 06:41] lomasgupta commented on #12841
Tested on Office 2019. The issue is with the date format in excel. Please try changing the date format of the "date cell" to YYYY-MM-DD. It worked at my end. Please do let me know if you face any issue https://www.ablebits.com/office-addins-blog/2015/03/11/change-date-format-excel/

[2020-02-25 09:48] subhojit777 commented on #13093
@kiran-axl merged. check on demo please.

[2020-02-25 10:42] subhojit777 commented on #12921
@uttkarsh-26 merged. confirm fix on demo.

[2020-02-25 10:44] uttkarsh-26 opened #13095 "CheckAccess called for new bibite entity Add form"
Motivation:

`\Drupal\os\AccessHelper::checkAccess` results in Bibcite Reference Add form breaking.
A temporary fix is applied as : `if (empty($group_content_types) || $entity->id() === NULL)`
https://github.com/openscholar/openscholar/pull/13089#discussion_r383793938

Tasks:
- [ ] See to it that this is not needed anymore.
- [ ] Fix any breaking tests in the CI

[2020-02-25 10:55] uttkarsh-26 commented on #12921
@tcheng001 Can be QAed

[2020-02-25 11:24] stamina84 commented on #12947
So, I was think again the hole process, and noticed the composer install part is not a heavy time (i did a wider caching with):
[code]
Most of the build time is downloading docker images and install drupal, so I upload only SQL file to S3 and leave the rest processes (this is solving that mystery  wysiwyg test failure).
Here is the first success build: https://travis-ci.org/stamina84/openscholar/b

[2020-02-25 13:10] kiran-axl commented on #13093
@tcheng001 , verified these bugs rectified on dev environment. Please verify.

[2020-02-25 13:59] subhojit777 commented on #12725
@tcheng001 can you look into this please.

[2020-02-25 14:02] tcheng001 commented on #12725
@subhojit777    #13085 is still open.  Ready to QA?

[2020-02-25 14:13] rbran100 commented on #12947
ok thanks, after switching to just the SQL cache what was the net difference? if that fixes the wysiwyg can you remove the sleep calls?

[2020-02-25 14:20] rbran100 commented on #12991
To verify this @tcheng001 you should verify that:

1. CSS/JS is aggregated on the page
2. That custom theme css/js is not aggregated (should be one of the few)
3. When a custom theme is updated that the new css/js is used by the browser

[2020-02-25 14:29] rbran100 commented on #12123
@stamina84 is it not possible to link file usage using the standard image field to to a vsite unless you explicitly use the media browser?

[2020-02-25 14:32] rbran100 commented on #12454
@subhojit777 I think that works well, especially if you can get it to work with the native "place block" functionality, I think the only downside is that this would really only work for the content region on the "basic page" or homepage, I think that is an ok trade off since the column widget was not used other places in D7, does that seem ok it you @Bilsi ?

[2020-02-25 14:32] subhojit777 commented on #12725
As per conversation with Bilsi - This should be QA'ed only after #13085 is closed.

[2020-02-25 14:34] stamina84 commented on #12947
Do you mean the traffic usage? Its about 1-2MB so its almost zero.
Yeah I will pull back code modification from my fork, because its much easier to debug with continues 5 travis job thread (as you suggest). There are some failures what I have to fix

[2020-02-25 14:37] subhojit777 commented on #12454
@rbran100 @Bilsi I think I can make it work just like in D7 - i.e. you can place column in any region. I just found out today that enabling "layout builder" for a block type should help us achieve it. I still need to figure out a seamless way of putting widgets inside it.

[2020-02-25 14:42] tcheng001 commented on #13093
Mark "Fixed"
Now, the list only shows all landing pages on of its own site - no single pages or subpages

[2020-02-25 14:42] #13093 closed

[2020-02-25 14:52] rbran100 commented on #12454
very cool, thanks

[2020-02-25 15:42] tcheng001 commented on #12236
Mark "Fixed"
<img width="1840" alt="Screen Shot 2020-02-25 at 10 41 38 AM" src="https://user-images.githubusercontent.com/2111600/75263067-74e6b900-57bb-11ea-8e0c-a1e12e8e9f17.png">

[2020-02-25 15:42] #12236 closed

[2020-02-25 17:18] tcheng001 commented on #12642
Still have an issue,  the whole set of terms of the vocabulary should be listed on the top when one of its terms is selected.
Tested on http://d8.theopenscholar.com/site21/search?
![Screen Shot 2020-02-25 at 11 27 39 AM](https://user-images.githubusercontent.com/2111600/75270434-8bdfd800-57c8-11ea-8d98-54ba757b0d76.png)

When I click "asia (4)",  it shows something below.
<img width="366" alt="Scr

[2020-02-25 19:04] tcheng001 opened #13100 "symbol in publication title renders incorrect"
**Pull Request:** https://github.com/openscholar/openscholar/pull/13267

### Motivation:

Here is an example: the last character is small accent y.  But it renders as capital accent Y.
![Screen Shot 2020-02-25 at 2 01 35 PM](https://user-images.githubusercontent.com/2111600/75278204-702ffe00-57d7-11ea-9d9a-536e18f61786.png)

![Screen Shot 2020-02-25 at 2 03 00 PM](https://user-images.githubusercon

[2020-02-25 19:58] tcheng001 commented on #12921
Some more issues:
1. editor doesn't get import.
2. some characters imported incorrectly - I export the publication from https://scholar.harvard.edu/torman_personal/publications/my-journal2. and then import to
http://d8.theopenscholar.com/import-bibtex2/publications/my-journal1
There are two characters rendering incorrectly in Abstract section.
![Screen Shot 2020-02-25 at 2 50 45 PM](https://user-i

[2020-02-25 21:26] rbran100 commented on #12954
@Jiteshkhatwani the purl change has been merged, did you need a new purl release created?

[2020-02-26 04:02] subhojit777 commented on #12921
@tcheng001 Can you provide a checklist based on which you are carrying out the tests? Maybe, provide all the test files that you are using for import? For example, test files containing special characters, test files containing editor info, etc.

The target is to prevent reopens. The checklist would help us better identify any problems, and write the code accordingly.

[2020-02-26 04:59] Jiteshkhatwani commented on #12954
Yes, @rbran100 we need a new release for this.

[2020-02-26 05:14] subhojit777 commented on #12975
@uttkarsh-26 Can you check this with special characters as well? Let me know.

[2020-02-26 05:17] subhojit777 commented on #12975
from Uttkarsh

[2020-02-26 05:19] subhojit777 commented on #12975
@uttkarsh-26 merged. check on demo.

[2020-02-26 07:20] subhojit777 commented on #13031
@Bilsi Are you talking about this widget here
<img width="349" alt="image" src="https://user-images.githubusercontent.com/1435641/75321374-9d8fb100-5896-11ea-9b80-7d2e986e12f4.png">

[2020-02-26 08:51] subhojit777 commented on #12852
@tcheng001 I guess we can close either this or https://github.com/openscholar/openscholar/issues/13012

[2020-02-26 09:16] lomasgupta commented on #12843
PR link: https://github.com/openscholar/openscholar/pull/13098

[2020-02-26 12:10] Bilsi commented on #13031
Yes

[2020-02-26 13:03] tcheng001 commented on #12921
ok.   Let me try.  Please hold off for now.

On Tue, Feb 25, 2020 at 11:02 PM Subhojit Paul <notifications@github.com>
wrote:

[2020-02-26 13:07] tcheng001 commented on #12852
@subhojit777   Closing this ticket

[2020-02-26 13:07] #12852 closed

[2020-02-26 13:49] stamina84 commented on #12947
Put a little summary of the current state of this issue:
* following contents are uploaded to S3, right after Drupal is installed
  * dump database
  * settings.php
  * custom_themes directory
  * web/sites/default/files
* can't save the prepare test phase what is about 1min (this module enable part: https://travis-ci.org/stamina84/openscholar/jobs/655310433#L1279), what is the `installTestConfigs

[2020-02-26 14:11] tcheng001 commented on #12929
Mark "Fixed"
<img width="1375" alt="Screen Shot 2020-02-26 at 9 10 52 AM" src="https://user-images.githubusercontent.com/2111600/75352550-ebe18780-5877-11ea-9e0c-925ff2b647be.png">

<img width="1372" alt="Screen Shot 2020-02-26 at 9 10 15 AM" src="https://user-images.githubusercontent.com/2111600/75352502-d9674e00-5877-11ea-82e4-0cc94fe611ca.png">

[2020-02-26 14:11] #12929 closed

[2020-02-26 14:15] tcheng001 commented on #12931
Mark "Fixed"

<img width="1286" alt="Screen Shot 2020-02-26 at 9 13 01 AM" src="https://user-images.githubusercontent.com/2111600/75352726-38c55e00-5878-11ea-8e43-9a2ebb59f1ae.png">

<img width="1617" alt="Screen Shot 2020-02-26 at 9 14 22 AM" src="https://user-images.githubusercontent.com/2111600/75352860-67dbcf80-5878-11ea-9ce0-43930cf44e3d.png">

[2020-02-26 14:15] #12931 closed

[2020-02-26 14:48] subhojit777 commented on #12991
After creating a custom theme and setting as default, you can visit a vsite page, open "Inspect Element". Below are some screenshots that will help you understand aggregated CSS/JS.

![ref-1](https://user-images.githubusercontent.com/1435641/75355012-df8b1800-58d3-11ea-8bf0-861cdc2a761b.png)

![ref-2](https://user-images.githubusercontent.com/1435641/75355034-e7e35300-58d3-11ea-855d-17c3c68bacbc.p

[2020-02-26 15:28] tcheng001 commented on #12921
At least, we need to handle printable characters (from 32 to 126) from ASCII table.
<img width="507" alt="Screen Shot 2020-02-26 at 10 26 48 AM" src="https://user-images.githubusercontent.com/2111600/75359580-98286b80-5882-11ea-881c-593fd892e091.png">

I will post test import files here where they are ready.

[2020-02-26 15:44] tcheng001 commented on #12975
@uttkarsh-26   I don't think Pubmed article would have editor.

[2020-02-26 15:57] rbran100 commented on #12844
in dev wating on pr comments, not urgent @jashish24

[2020-02-26 15:59] rbran100 commented on #12845
see @uttkarsh-26 pr comments

[2020-02-26 16:27] stamina84 opened #13103 "Update D8 modules: stage 6"
PR: #13118

* `Updating drupal/advancedqueue (1.0.0-beta3 => 1.0.0-rc1)`
* `Updating drupal/anchor_link (2.0.0-alpha2 => 2.4.0)`
* `Updating drupal/entity (1.0.0-rc3 => 1.0.0)`
* `Updating drupal/node_revision_delete (1.0.0-beta4 => 1.0.0-rc1)`
* `Updating drupal/paragraphs (1.10.0 => 1.11.0)`

(reverted `Updating drupal/slick (2.0.0 => 2.1.0)`)
(reverted `Updating drupal/blazy (2.0.0-rc6 => 2.0.0

[2020-02-26 16:28] stamina84 opened #13104 "Unable to add media with media browser"
PR: #13107

I can't be able to add any media to for example blog type, I got this javascript error:
`Possibly unhandled rejection: Setting isBrowseMedia not found`

[2020-02-26 16:31] rbran100 commented on #12954
@Jiteshkhatwani the purl release has been created

https://github.com/openscholar/purl-d8/releases/tag/v1.0.5

[2020-02-26 16:46] tcheng001 commented on #12975
Mark "Fixed"
1. able to import quote, double quote and backslash successfully
2. able to import 100 entries
3. able to detect import with more than 100 entries
4. able to handle bad format import file - it shows error.
![Screen Shot 2020-02-26 at 11 45 24 AM](https://user-images.githubusercontent.com/2111600/75366972-90ba8f80-588d-11ea-8196-a9a15e8944a4.png)

[2020-02-26 16:46] #12975 closed

[2020-02-26 18:16] tcheng001 commented on #12841
@lomasgupta  Sorry,  after discussing with Bilsi, we would like to change date format back to MM/DD/YYYY.   It is because most of our end users are US base.  I believe that their Excel programs expect that format. Could you please also change the field (something like 11/30/2020) in the template file?

@subhojit777     If this date format is working well with Excel, we would like to change it in a

[2020-02-26 18:39] rbran100 commented on #12947
leaving this open for a day so I can go back and look at what is happening in travis

[2020-02-26 20:43] tcheng001 commented on #12921
Things become more complicated.
Journal:
I export a journal from https://projects.iq.harvard.edu/torman-test888/publications/photochemical-interferences-laser-induced-incandescence-flame-generated#.
The exported file is here :  https://drive.google.com/file/d/1CUFvlHQb7DlLqhFRUmtqAb50gqLrbL8b/view?usp=sharing

After imported,  some fields are found missing and incorrect. http://d8.theopenscholar.c

[2020-02-26 21:17] rbran100 commented on #13104
@stamina84 assume you saw but it is failing testMediaUsage

[2020-02-27 04:42] subhojit777 opened #13105 "Add support for default content in new vsites"
**Pull request:**
https://github.com/openscholar/openscholar/pull/13128
### Motivation:

When new vsite is created, it should now create default widgets (see #13037, etc.) We need to device a solution, so that the system is able to handle default content while creating a new vsite.

### Technical implementation:

- I think we could use the existing vsite_preset architecture to add this ability.
-

[2020-02-27 07:00] subhojit777 opened #13106 "Refactor osInstalledThemes"
**Pull request:** https://github.com/openscholar/openscholar/pull/13135

**Parent:** https://github.com/openscholar/openscholar/pull/13046#issuecomment-590327943

### Motivation:

See https://github.com/openscholar/openscholar/pull/13046#issuecomment-590327943 for background and purpose.

### Acceptance Criteria

1.

### Technical implementation:

-  `\Drupal\cp_appearance\AppearanceSettingsBuilde

[2020-02-27 07:28] stamina84 commented on #12123
Blocking issue: https://github.com/openscholar/openscholar/issues/13104

[2020-02-27 07:48] subhojit777 opened #13108 "Support MM/DD/YYYY format during import"
**Pull request:**

### Motivation:

The requirement is is originated from here https://github.com/openscholar/openscholar/issues/12841#issuecomment-591567588

The imports should support `MM/DD/YYYY` format by default.

### Acceptance Criteria

- [ ] As a vsite admin, if "Created date" in template file is "02/27/2020", then the content should have the same created date, i.e. "27th February 2020"

#

[2020-02-27 07:50] subhojit777 commented on #12841
@lomasgupta please address this https://github.com/openscholar/openscholar/issues/13108 first. Once done, update this ticket's PR with the changes.

[2020-02-27 08:33] lomasgupta commented on #12843
PR Link https://github.com/openscholar/openscholar/pull/13098

![import_person](https://user-images.githubusercontent.com/13271284/75426022-cb91f580-5969-11ea-8605-69ee7a3eda6c.png)

[2020-02-27 09:34] stamina84 commented on #13104
Done with the test, pushed the new code, waiting for CI

[2020-02-27 09:38] stamina84 commented on #13104
@saurabh-axl Please check the code, because it is just a hotfix, the main problem is that `isBrowseMedia` settings key is not exists every situation, maybe there is a better solution.

[2020-02-27 09:56] subhojit777 commented on #13021
@tcheng001 So the problem only appears if you put the widget in `content` region

![ref-1](https://user-images.githubusercontent.com/1435641/75433112-75c34a80-5975-11ea-9a63-aabe7f2b4139.png)